<script type="text/template" id="tpl-relatorio-provas-polo">
    <div class="row-fluid">
        <div class="span12">
            <form class="form-inline" name="formRelatorio" id="formRelatorio">
                <fieldset>
                    <label class="control-label">Polo:
                        <select required="" name="id_aplicadorprova" class="combo-polo">
                            <option value="" align="center">-- Selecione --</option>
                            <option value="0" align="center">Todos</option>
                        </select>
                    </label>
                    &nbsp;&nbsp;
                    <label class="control-label">Data da Prova Início:
                        <input name="dt_inicio" type="text" class="input-dt-prova-inicio datepicker">
                    </label>
                    &nbsp;&nbsp;
                    <label class="control-label">Data de Prova Término:
                        <input name="dt_termino" type="text" class="input-dt-prova-termino datepicker">
                    </label>
                </fieldset>
                <fieldset id="filter_default-element">
                    <div class="pull-right span7">
                        <div class="pull-left" id="leftInfoForm">
                            <strong>Total de Registros:</strong> <span id="box-qtdRegistros">1565</span>
                        </div>
                        <div class="pull-right">
<!--                            <div class="pull-left">-->
<!--                            <span class="pull-left">-->
<!--                                <strong>Registros por Página: </strong>-->
<!--                            </span>-->
<!---->
<!--                                <div class="spinner-div pull-left">-->
<!--                                    <input type="text" name="qntPorPagina" id="qntPorPagina" class="span9" value="30"-->
<!--                                           min="1" max="9999"/>-->
<!--                                </div>-->
<!--                            </div>-->
                            <?php //echo $this->form->id_funcionalidade; ?>
                            <button id="btnPesquisar" type="submit" title="Pesquisar" class="btn-custom pull-right btn">
                                <i class="icon-search icon-white"></i> Pesquisar
                            </button>
<!--                            <button id="botaoImpressaoXLS" class="btn pull-right" title="Gerar XLS"><i-->
<!--                                    class="icon-file"></i></button>-->
                            <!--<button id="btnGrafico" class="btn pull-right" title="Gráfico"><i class="icon-signal"></i></button>-->
<!--                            <button id="botaoImpressaoNormal" class="btn pull-right" title="Imprimir"><i-->
<!--                                    class="icon-print"></i></button>-->
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
        <div id="container-DataGrid" class="row-fluid">
            <!--Container datagrid-->
        </div>
    </div>
    <link rel="stylesheet" type="text/css" href="/css/spinner/spinner.css"/>
    <link rel="stylesheet" type="text/css" href="/css/relatorios/relatorio.css"/>
    <script type="text/javascript" src="/js/spinner/spinner.js"></script>
    <script type="text/javascript" src="/js/backbone/views/Util/SelectView.js"></script>
</script>
<script type="text/javascript">
<?php echo $this->render('/provas-polo/index.js'); ?>
</script>
<!--Copiando templates para area de transferencia de templates-->
<script type="text/javascript">
    $('#templateHolder').html($('#htmlContent script[type="text/template"]'));
</script>
