<html>
<head>
    <meta http-equiv=Content-Type content="text/html; charset=utf-8">
    <link rel="stylesheet" type="text/css" href="<?php echo $this->baseUrl(); ?>/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="<?php echo $this->baseUrl(); ?>/css/backbone/backgrid.css"/>
</head>
<body>
<table class="backgrid backgrid-selectall table table-striped table-bordered table-hover">
    <thead>
    <tr>
        <th colspan="6" style="text-align: center;"><h4>Relatório de Alunos por Prova </h4></th>
    </tr>
    <tr>
        <th colspan="6"><b>Pólo: </b> <?= $this->stAplicadorProva; ?></th>
    </tr>
    <tr>
        <th colspan="6"><b>Data de realização: </b> <?= $this->dtAplicacao; ?></th>
    </tr>
    <tr>
        <th colspan="1">Início: <?= $this->hrInicio; ?></th>
        <th colspan="5">Término: <?= $this->hrTermino; ?></th>
    </tr>
    <tr>
        <th>Aluno</th>
        <th>Projeto Pedagógico</th>
        <th>Disciplinas</th>
        <th>Tipo de Prova</th>
        <th>E-mail</th>
        <th>Telefone</th>
    </tr>
    </thead>
    <tbody>

    <?php foreach ($this->dados as $arr) { ?>
        <tr>
            <td><?= $arr['avaliacao']->getSt_nomecompleto(); ?></td>
            <td><?= $arr['avaliacao']->getSt_projetopedagogico(); ?></td>
            <td>
                <ul>
                    <?php if ($arr['avaliacao']->getBl_provaglobal()) { ?>
                        <li>PROVA GLOBAL</li>
                        <?php
                    } else {
                        foreach ($arr['disciplinas'] as $disciplina) {
                            ?>
                            <li>
                                <?= $disciplina['st_disciplina']; ?>
                            </li>
                            <?php
                        }
                    }
                    ?>
                </ul>
            </td>
            <td><?= $arr['avaliacao']->getSt_avaliacao(); ?></td>
            <td><?= $arr['avaliacao']->getSt_email(); ?></td>
            <td>(<?= $arr['avaliacao']->getNu_ddd(); ?>) - <?= $arr['avaliacao']->getNu_telefone(); ?></td>
        </tr>
    <?php } ?>
    </tbody>
</table>
</html>

