<html>
<head>
    <meta http-equiv=Content-Type content="text/html; charset=utf-8">
    <style>
        * {
            font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
        }
        .table {
            width: 100%;
            margin-bottom: 20px;
            font-size: 12px;
        }
        .table th,

        .table tbody tr td,
        .table tfoot tr td{
            padding: 3px;
            height: 30px;
            vertical-align: middle;
            border: 1px solid #000;
        }

        .table thead tr th {
            background-color: #FFFFff;
            color: #000000;
            text-align: center !important;
            border: none;
        }
        .titulo{
            background-color: #d8d8d8;
        }


    </style>
</head>

<?php if (count($this->dados) == 0):?>

    <table class="table">
        <thead>
        <tr>
            <th colspan="3" style="text-align: center;">
                <h1>Lista de Alunos</h1>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td colspan="3"><h1>Nenhum aluno para listar</h1></td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <td colspan="3">

            </td>
        </tr>
        </tfoot>
    </table>
<?php else:?>
    <?php foreach($this->dados as $arr): ?>
        <table class="table">
            <thead>
            <tr>
                <th style="text-align: center" colspan="3">
                    <img src=".<?php echo $this->dadosEntidade['st_urlimglogo']; ?>">
                </th>
            </tr>
            <tr>
                <th style="text-align: center;" colspan="3">
                    <h1>
                        Lista de Alunos:
                        <?php echo ($this->dadosEntidade['linha_negocio']['st_valor'] == \G2\Constante\LinhaDeNegocio::POS_GRADUACAO) ? $arr['st_tipoprova'] : 'Prova'; ?>
                    </h1>
                </th>
            </tr>

            <tr>
                <td style="width: 40%;">
                    <b>Data de Realização:</b> <?php echo $arr['st_dataaplicacao'];?>
                </td>
                <td style="width: 30%; text-align: center;">
                    <b>Hora Início:</b> <?php echo $arr['hr_inicio'];?>
                </td>
                <td style="width: 30%; text-align: center;">
                    <b>Hora Término:</b> <?php echo $arr['hr_termino'];?>
                </td>
            </tr>

            <tr>
                <td>
                    <b>Aplicador:</b> <?php echo $arr['st_aplicadorprova'];?>
                </td>
                <td style="text-align: center;"rowspan="4">
                    _______________________
                    <br /><b>Fiscal</b>
                </td>
                <td style="text-align: center;" rowspan="4">
                    _______________________
                    <br /><b>Assinatura</b>
                </td>
            </tr>

            <tr style="padding-top: 50px;">
                <td>
                    <b>Endereço:</b>
                    <?php echo $arr['st_endereco'];?> <?php echo (!empty($arr['nu_numero']) ?  ', '.$arr['nu_numero'] : '' );?>
                </td>
            </tr>
            <tr>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>
                    <?php echo (!empty($arr['st_bairro']) ? '<b>Bairro:</b> ' . $arr['st_bairro'] : '' );?>
                </td>
            </tr>
            <tr>
                <td>
                    <?php echo (!empty($arr['st_cidade']) ?  '<b>Cidade:</b> ' . $arr['st_cidade'] : '' );?> / <?php echo $arr['sg_uf'];?>
                </td>
            </tr>
            <tr>
                <td>
                    <?php echo (!empty($arr['st_telefoneaplicador']) ?  '<b>Telefone:</b> '.$arr['st_telefoneaplicador'] : '' );?>
                </td>
            </tr>
            <tr>
                <td colspan="3">&nbsp;</td>
            </tr>
            </thead>
        </table>
        <?php $hasDisciplina = false; ?>
        <?php $tableGrid = ""; ?>
        <?php foreach($arr['alunos'] as $vw): ?>
            <?php $tableGrid .= '<tr>'; ?>
            <?php $tableGrid .= '<td>' . $vw->getSt_projetopedagogico() . '</td>'; ?>
            <?php $tableGrid .= '<td>' . $vw->getSt_cpf() . '</td>'; ?>
            <?php $tableGrid .= '<td>' . $vw->getSt_nomecompleto() . '</td>'; ?>
            <?php ($this->dadosEntidade['linha_negocio']['st_valor'] == \G2\Constante\LinhaDeNegocio::POS_GRADUACAO) ? $tableGrid .= '<td>' . $vw->getSt_email() . '</td>' : null; ?>
            <?php ($this->dadosEntidade['linha_negocio']['st_valor'] == \G2\Constante\LinhaDeNegocio::POS_GRADUACAO) ? $tableGrid .= '<td> ('.$vw->getNu_ddd().') '.$vw->getNu_telefone() . '</td>' : null; ?>
            <?php if ("" != trim($vw->getSt_disciplina())): ?>
                <?php $tableGrid .= '<td>' . $vw->getSt_disciplina() . '</td>'; ?>
                <?php $hasDisciplina = true; ?>
            <?php endif; ?>

            <?php $tableGrid .= '<td>&nbsp;&nbsp;&nbsp;</td>'; ?>
            <?php $tableGrid .= '</tr>'; ?>

        <?php endforeach;?>
        <table class="table">
            <tbody>
            <tr class="titulo">
                <?php if ($hasDisciplina): ?>
                    <th style="width: 20%;" class="titulo">Curso</th>
                    <th style="width: 10%;" class="titulo">CPF</th>
                    <th style="width: 30%;" class="titulo">Nome</th>
                    <?php if ($this->dadosEntidade['linha_negocio']['st_valor'] == \G2\Constante\LinhaDeNegocio::POS_GRADUACAO): ?>
                        <th style="width: 10%;" class="titulo">E-mail</th>
                        <th style="width: 10%;" class="titulo">Telefone</th>
                    <?php endif; ?>

                    <th style="width: 30%;" class="titulo">Disciplina</th>
                    <th style="width: 45%;" class="titulo">Assinatura</th>
                <?php else: ?>
                    <th style="width: 20%;" class="titulo">Curso</th>
                    <th style="width: 10%;" class="titulo">CPF</th>
                    <th style="width: 30%;" class="titulo">Nome</th>
                    <?php if ($this->dadosEntidade['linha_negocio']['st_valor'] == \G2\Constante\LinhaDeNegocio::POS_GRADUACAO): ?>
                        <th style="width: 10%;" class="titulo">E-mail</th>
                        <th style="width: 15%;" class="titulo">Telefone</th>
                    <?php endif; ?>
                    <th style="width: 45%;" class="titulo">Assinatura</th>
                <?php endif; ?>
            </tr>

            <?php echo $tableGrid; ?>

            </tbody>
            <tfoot>
            </tfoot>
        </table>
        <br /><br /><br />
        <div style="page-break-before: always;"></div>
    <?php
    endforeach;
endif;?>
</html>


