<html>
<head>
    <meta http-equiv=Content-Type content="text/html; charset=utf-8">
    <style>
        .destaque{
            background-color: rgb(101, 121, 145);
            color: rgb(255, 255, 255);
            text-align: center !important;
        }
        .table {
            width: 100%;
            margin-bottom: 20px;
        }
        .table th,

        .table thead tr th,
        .table tbody tr td,
        .table tfoot tr td{
            padding: 8px;
            height: 40px;
            vertical-align: middle;
            border: 1px solid #000;
        }
    </style>
</head>

<?php
if(count($this->dados) == 0):?>

<table style="min-width: 500px;  border-collapse:collapse;">
    <thead>
    <tr>
        <th style="border:solid #000; border-collapse:collapse; border-width:thin; font-size: 12px; text-align: center !important; " colspan="5">Relatório de Alunos</th>
    </tr>
    <tr>
        <th style="border:solid #000; border-collapse:collapse; border-width:thin; font-size: 11px; text-align: center !important; " colspan="5">Nenhum aluno para ser listado</th>
    </tr>
    </thead>
</table>

<?php else:
    foreach($this->dados as $arr): ?>


    <table style="font-size: 15px;" class="table">
        <thead>
            <tr style="background-color: rgb(101, 121, 145); color: rgb(255, 255, 255);text-align: center !important; border: 1px solid #000000; line-height: 45px;">
                <th colspan="5" style="text-align: center;">
                    Relatório de Alunos: <?=$arr['st_tipoprova'];?>
                </th>
            </tr>

            <tr style="font-size: 15px; text-align: center; border: 1px solid #000000; line-height: 45px;">
                <th colspan="3" style="text-align: center;">
                    Data de Realização: <?=$arr['st_dataaplicacao'];?>
                </th>
                <th colspan="1" style="text-align: center;">
                    Hora Início: <?=$arr['hr_inicio'];?>
                </th>
                <th colspan="1" style="text-align: center;">
                    Hora Término: <?=$arr['hr_termino'];?>
                </th>
            </tr>

            <tr style=" font-size: 15px; text-align: center !important; line-height: 45px; border: 1px solid #000000;">
                <th colspan="5">
                    Local de Prova: <?=$arr['st_aplicadorprova'];?>
                </th>
            </tr>

            <tr style="font-size: 12px; text-align: center; background-color: rgb(101, 121, 145); color: rgb(255, 255, 255);text-align: center !important; border: 1px solid #000000; line-height: 40px;">
                <th colspan="1">Curso</th>
                <th colspan="1">Nome</th>
                <th colspan="1">E-mail</th>
                <th colspan="1">Telefone</th>
                <th colspan="1">Assinatura</th>
            </tr>
        </thead>
            <tbody>
            <?php foreach($arr['alunos'] as $vw):?>
                <tr style="font-size: 12px; border: 1px solid #000000; line-height: 35px;">
                    <td><?=$vw->getSt_projetopedagogico();?></td>
                    <td><?=$vw->getSt_nomecompleto();?></td>
                    <td><?=$vw->getSt_email();?></td>
                    <td> (<?=$vw->getNu_ddd();?>) - <?=$vw->getNu_telefone();?></td>
                    <td>_______________________________________</td>
                </tr>

            <?php endforeach;?>

            <tr></tr>
            <tr style="border: 1px solid #000000; line-height: 45px;">
                <td style="text-align: center; border: 1px solid #000000;" colspan="5">
                    Assinatura do Fiscal: __________________________________________________________________
                </td>
            </tr>
            </tbody>
   </table>

   <br><br><br>
<?php
    endforeach;
endif;?>
</html>

