<html>
<head>
    <meta http-equiv=Content-Type content="text/html; charset=utf-8">
    <style>
        .destaque{
            background-color: rgb(101, 121, 145);
            color: rgb(255, 255, 255);
            text-align: center !important;
        }
        .table {
            width: 100%;
            margin-bottom: 20px;
        }
        .table th,

        .table thead tr th,
        .table tbody tr td,
        .table tfoot tr td{
            padding: 8px;
            height: 40px;
            vertical-align: middle;
            border: 1px solid #000;
        }
    </style>
</head>

<?php if(count($this->dados) == 0):?>

<table style="min-width: 500px;  border-collapse:collapse;">
    <thead>
    <tr>
        <th style="border:solid #000; border-collapse:collapse; border-width:thin; font-size: 12px; text-align: center !important; " colspan="5">Relatório de Presença</th>
    </tr>
    <tr>
        <th style="border:solid #000; border-collapse:collapse; border-width:thin; font-size: 11px; text-align: center !important; " colspan="5">Nenhum aluno para ser listado</th>
    </tr>
    </thead>
</table>

<?php else:  ?>


    <table style="font-size: 15px;" class="table">
        <thead>
            <tr>
                <th style="background-color: rgb(101, 121, 145); color: rgb(255, 255, 255);text-align: center !important; border: 1px solid #000000; line-height: 45px;">Alunos</th>
                <th style="background-color: rgb(101, 121, 145); color: rgb(255, 255, 255);text-align: center !important; border: 1px solid #000000; line-height: 45px;">Tipo Avaliação</th>
                <th style="background-color: rgb(101, 121, 145); color: rgb(255, 255, 255);text-align: center !important; border: 1px solid #000000; line-height: 45px;">Projeto Pedagógico</th>
                <th style="background-color: rgb(101, 121, 145); color: rgb(255, 255, 255);text-align: center !important; border: 1px solid #000000; line-height: 45px;">Data da Prova</th>
                <th style="background-color: rgb(101, 121, 145); color: rgb(255, 255, 255);text-align: center !important; border: 1px solid #000000; line-height: 45px;">Pólo</th>
                <th style="background-color: rgb(101, 121, 145); color: rgb(255, 255, 255);text-align: center !important; border: 1px solid #000000; line-height: 45px;">Presença</th>
                <th style="background-color: rgb(101, 121, 145); color: rgb(255, 255, 255);text-align: center !important; border: 1px solid #000000; line-height: 45px;">Responsável</th>
            </tr>
        </thead>
            <tbody>
            <?php foreach($this->dados as $vw):?>
                <tr>
                    <td style="font-size: 12px; border: 1px solid #000000; line-height: 35px;"><?=$vw->getSt_nomecompleto();?></td>
                    <td style="font-size: 12px; border: 1px solid #000000; line-height: 35px;"><?=$vw->getSt_avaliacao();?></td>
                    <td style="font-size: 12px; border: 1px solid #000000; line-height: 35px;"><?=$vw->getSt_projetopedagogico();?></td>
                    <td style="font-size: 12px; border: 1px solid #000000; line-height: 35px;"><?= ($vw->getDt_aplicacao() instanceof DateTime ?  $vw->getDt_aplicacao()->format('d/m/Y') : '');?></td>
                    <td style="font-size: 12px; border: 1px solid #000000; line-height: 35px;"><?=$vw->getSt_aplicadorprova();?></td>
                    <td style="font-size: 12px; border: 1px solid #000000; line-height: 35px;"><?=( !is_null($vw->getNu_presenca()) ? ($vw->getNu_presenca() ? 'Presente' : 'Ausente') : $vw->getSt_situacaopresenca());?></td>
                    <td style="font-size: 12px; border: 1px solid #000000; line-height: 35px;"> <?=($vw->getId_usuariolancamento() != null ?  $vw->getSt_usuariolancamento(): ' Não lançada');?></td>
                </tr>

            <?php endforeach;?>

            <tr></tr>
            </tbody>
   </table>
<?php endif; ?>
   <br><br><br>
</html>

