<script type="text/template" id="tabela-precos-template">
    <div class="well">
        <fieldset>
            <legend>Tabela de Preços</legend>

            <p>Caso envie um novo arquivo, a antiga Tabela de Preços será sobrescrita.</p>

            <p>
                <strong>Arquivo atual</strong>: <a href="/upload/<%= id_entidade %>/<%= st_upload %>" target="_blank">
                    <b><%= st_upload || 'Nenhum' %></b>
                </a>
            </p>

            <div class="form-group">
                <div class="col-lg-offset-2 col-lg-10">
                    <input id="tabela-precos-arquivo" type="file" name="arquivo" accept=".pdf,.jpg,.jpeg,.png"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-offset-2 col-lg-10">
                    <p>
                        Somente serão aceitas extensões: PDF, JPG e PNG.<br>
                        Somente serão aceitos arquivos menores de 20MB.
                    </p>
                </div>
            </div>

            <div class="form-group">
                <div class="col-lg-offset-2 col-lg-10">
                    <button type="button" id="btnSalvar" class="btn btn-success">
                        <i class="icon-white icon-ok"></i>
                        Salvar
                    </button>
                </div>
            </div>
        </fieldset>
    </div>
</script>


<script type="text/template" id="tabela-precos-carregando">
    <p>Fazendo upload do arquivo...</p>
    <p><b>Progresso:</b></p>

    <div id="tabela-precos-progress" class="progress progress-striped active">
        <div class="bar"></div>
    </div>
</script>

<div id="tabela-precos-content" class="row-fluid">
    <?php  // Esta TAG sera removida quando a view for carregada ?>
    Carregando...
</div>

<script type="text/javascript" src="/library/js/jquery/jquery.form.js"></script>

<script type="text/javascript"> $('#htmlContent script[type="text/template"]').appendTo($('#templateHolder'));</script>
<script type="text/javascript" src="<?php echo $this->url() ?>/js"></script>