<script type="text/javascript" src="/modelo-backbone/Situacao"></script>
<script type="text/javascript" src="/modelo-backbone/Motivo"></script>
<script type="text/javascript" src="/js/backbone/views/Util/SelectView.js"></script>
<script type="text/javascript" src="/modelo-backbone/VwEntidadeRecursiva"></script>

<script type="text/template" id="template-dados-motivo">
    <div id="cadastro-motivo-wrapper"></div>
    <div id="vinculo-entidade-motivo-wrapper"></div>
    <div id="botoes-wrapper"></div>
</script>

<script type="text/template" id="cadastro-dados-motivo">
    <div class="well well-large">
        <div class="row-fluid">
            <legend>Cadastro de Motivos</legend>
            <div class="span12">
                <div class="span6">
                    <label for="st_tituloMotivo">Título: </label>
                    <input type="text" id="st_tituloMotivo" class="span12" value="<%=st_motivo%>"/>
                </div>
                <div class="span6">
                    <div class="span6" id="divMotivo">
                        <label>Situação:</label>
                        <select class="span12" id="id_situacao" name="id_situacao">
                            <option value="" selected disabled>Selecione</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>

<script type="text/template" id="vinculo-entidade-tree">
    <div class="well well-large">
        <div class="row-fluid">
            <legend>Vínculo de Entidade</legend>
            <div class="span12">
                <div class="span6" id="divEntidade">
                    <label>Entidade:</label>
                    <div id="entidades"></div>
                </div>
            </div>
        </div>
    </div>
</script>

<script type="text/template" id="botoes">
    <div class="well well-large">
        <div class="row-fluid">
            <div class="span6 pull-right">
                <button class="btn btn-success pull-right" type="button" id="btn-salvar">Salvar</button>
            </div>
        </div>
    </div>
</script>

<script type="text/javascript">
    G2S.editModel = <?php echo $this->motivo; ?>;
</script>

<script type="text/javascript">
    $('#templateHolder').empty().html($('#htmlContent script[type="text/template"]'));
</script>
<script type="text/javascript" src="/motivo/js"></script>