<script type="text/template" id="template-tela-principal">
    <form id="form-pesquisa" name="form-pesquisa" action="">
        <div class="row-fluid">
            <div class="well well-small">
                <fieldset class="span4">
                    <label>
                        Buscar:
                        <input type="text" class="span12" name="st_buscar" id="st_buscar">
                    </label>
                    <label class="checkbox inline">
                        <input type="checkbox" id="st_nomecompleto" checked name="st_nomecompleto" value="nome"> Nome
                    </label>
                    <label class="checkbox inline">
                        <input type="checkbox" id="st_cpf" checked name="st_cpf" value="cpf"> CPF
                    </label>
                </fieldset>
                <div class="span2">
                    Situação da Venda:
                    <select class="span12" name="id_situacao" id="id_situacao">
                        <option value="">Todos</option>
                    </select>
                </div>
                <div class="span2">
                    Evolução da Venda:
                    <select class="span12" name="id_evolucao" id="id_evolucao">
                        <option value="">Todos</option>
                    </select>
                </div>
                <div class="span4">
                    <button type="submit" class="btn btn-primary" data-toggle="tooltip" title="Pesquisar">
                        Pesquisar
                    </button>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </form>
    <div class="clearfix"></div>
    <table class='backgrid backgrid-selectall table table-striped table-bordered table-hover'>
        <thead>
        <tr>
            <th>Nome</th>
            <th>CPF</th>
            <th>Situação da Venda</th>
            <th>Evolução da Venda</th>
            <th>
                <center>Ação</center>
            </th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    <style type="text/css">
        fieldset {
            border: solid 1px #ccc;
            padding: 0 10px 10px 10px;
        }

        #form-pesquisa .btn-primary {
            margin-top: 20px;
        }
    </style>
</script>
<script type="text/template" id="template-row-item">
    <td><%=st_nomecompleto%></td>
    <td><%=st_cpf%></td>
    <td><%=st_situacao%></td>
    <td><%=st_evolucao%></td>
    <td>
        <center>
            <button class="btn btn-cancelar" data-toggle="tooltip" title="Cancelar">Cancelar</button>
        </center>
    </td>
</script>

<script type="text/javascript">$('#htmlContent script[type="text/template"]').appendTo($('#templateHolder'));</script>
<script src="/venda/cancelar-assinatura-js" type="text/javascript"></script>
