<!--
Template do auto-complete
-->
<script type="text/template" id="template-componente">
    <fieldset>
        <div id="container-componente" class="row-fluid well span12">
            <div class="span12">
                <legend class="span12">
                    <div class="pull-left"><h5>Pesquisar Pessoa</h5></div>
                    <div class="pull-right btn-group">
                        <button class="btn" type="button" id="btnFixAutocomplete" title="Selecionar ">Fixar <i
                                    class="icon-check"></i></button>
                        <button class="btn" type="button" id="btnClearAutocomplete" title="Limpar ">Limpar <i
                                    class="icon-refresh"></i></button>
                        <button type="button" style="margin-right: 10px;" id="btn-adicionar-pessoa" class="btn">
                            <i class="icon icon-ok"></i> Adicionar Nova Pessoa
                        </button>
                        <button type="button" id="btn-ocultar-form" style="display: none" class="btn">
                            <i class="icon icon-share"></i> Ocultar Formulário
                        </button>
                    </div>
                </legend>
            </div>
            <div id="container-autocomplete" class="span12">
                <div id="search-wrapper" class="row-fluid">
                    <input name="search-backbone" id="search-backbone" type="text" class="span12 input"
                           placeholder="Digite o Nome, E-mail ou CPF" autocomplete="off">

                    <div id="autocomplete-results" class="span12">
                        <ul>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </fieldset>
    <fieldset>
        <div id="container-adicionar-pessoa" style="display: none;" class="row-fluid well span12"></div>
    </fieldset>
</script>
<script type="text/template" id="template-componente-list-autocomplete-venda">
    <a class="link-alter-template">
        <b>Nome:</b> <%= st_nomecompleto %></br>
        <b>CPF:</b> <%= st_cpf %> <b>E-mail:</b> <%= st_email %></br>
    </a>
</script>

<?php echo $this->render('/pessoa/cadastro-rapido.phtml'); ?>

<!--
    Template Geral
-->


<script type="text/template" id="layout-venda">
    <div id="autoComplete" class="row-fluid"></div>

    <div class="row-fluid">
        <div id="box-produtos" class="content-box-vendas well"></div>
    </div>
    <div class="row-fluid">
        <div id="box-venda" class="content-box-vendas well span10"></div>
        <div id="box-valores" class="content-box-vendas well span2"></div>
    </div>
    <div class="row-fluid ">
        <div class="content-box-vendas">
            <ul class="nav nav-tabs" style="margin-bottom: 5px;">
                <li class="active"><a href="#box-lancamentos">Lançamentos</a></li>
                <li><a href="#box-tramite">Trâmites</a></li>
            </ul>
            <div class="well">
                <div id="box-lancamentos" class="content-box-vendas aba-container"></div>
                <div id="box-tramite" class="content-box-vendas aba-container hide"></div>
            </div>
        </div>
    </div>
    <div class="row-fluid">
        <div id="box-modal" class="modal hide fade modal-large"></div>
    </div>
    <div class="row-fluid">
        <div class="content-box-vendas">
            <div class="form-actions">
                <div class="span6">
                    <button type="button" id="btn-ficha" class="btn btn-primary" disabled>
                        <i class="icon icon-list-alt icon-white"></i> Ficha de Matrícula
                    </button>
                    <button type="button" id="btn-contrato" class="btn btn-primary" disabled>
                        <i class="icon icon-pencil icon-white"></i> Contrato
                    </button>
                </div>
                <div class="span6" style="text-align: right;">
                    <button type="button" id="btn-confirmar" disabled class="btn btn-info">
                        <i class="icon icon-ok icon-white"></i> Confirmar Recebimento / Matrícula
                    </button>
                    <button type="button" id="btn-concluir" disabled class="btn btn-inverse">
                        <i class="icon icon-ok icon-white"></i> Concluir Negociação
                    </button>
                    <button type="button" disabled id="btn-salvar" class="btn btn-success ">Salvar</button>
                </div>
            </div>
        </div>
    </div>
</script>

<script type="text/template" id="template-item-tramite">
    <td><%= st_tramite %></td>
    <td><%= st_tipotramite %></td>
    <td><%= dt_cadastro %></td>
    <td><%= st_nomecompleto %></td>
    <td><%=(st_url ? '<a href="' + st_url +'" target="_blank" class="btn btn-info">Acessar</a>' : '')%></td>
</script>

<script type="text/template" id="template-lista-vazia-tramite">
    <td colspan="4">
        Nenhum trâmite adicionado.
    </td>
</script>

<script type="text/template" id="template-tramites">
    <legend>Trâmites
        <button type="button" title="Adicionar Trâmite" id="btn-add-tramite"
                class="btn pull-right btn-success btn-small">
            <i class="icon-plus icon-white"></i>
        </button>
    </legend>
    <div id="container-form-add-tramite" class="row-fluid hide">
        <form class="form-inline" name="form-tramite" id="form-tramite">
            <textarea name="st_tramite" id="st_tramite" class="input-small span10"
                      placeholder="Novo Tramite"></textarea>
            <button type="submit" id="btn-salvar-tramite" class="btn btn-success">Salvar</button>
            <button type="button" id="btn-cancelar-tramite" class="btn btn-danger">Cancelar</button>
        </form>
    </div>

    <table class="table table-striped table-bordered table-hover backgrid backgrid-selectall">
        <thead>
        <tr>
            <th>Texto</th>
            <th>Tipo</th>
            <th>Data</th>
            <th>Usuário</th>
            <th>URL</th>
        </tr>
        </thead>
        <tbody id="lista-tramites">
        </tbody>
    </table>
</script>

<script type="text/template" id="template-lista-vazia">
    <td colspan="9">
        Nenhum produto adicionado.
    </td>
</script>

<script type="text/template" id="template-item-pesquisa-produto">
    <td><%= id %></td>
    <td><%= st_produto %></td>
    <td><%= st_tipoproduto %></td>
    <td><%= nu_valor %></td>
    <td>
        <a title="Adicionar Item" class="btn btn-success btn-small " data-toggle="tooltip">
            <i class="icon-plus icon-white"></i>
        </a>
    </td>
</script>

<script type="text/template" id="template-pesquisa-produto">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Pesquisar Produto</h3>
    </div>
    <div class="modal-body">
        <form id="form-busca-produtos" name="form-busca-produto" action="" method="post">
            <fieldset>
                <b>Buscar Produto:</b>

                <div class="row-fluid">
                    <div class="span5">
                        <input class="span12" type="text" name="st_produto" placeholder="Nome do produto"/>
                    </div>
                    <div class="span4">
                        <select class="span12" name="tipo">
                            <option value="">Tipo</option>
                        </select>
                    </div>
                    <div class="span3">
                        <button class="btn btn-block" type="submit">
                            <i class="icon icon-search"></i>
                            Pesquisar
                        </button>
                    </div>
                </div>
                <!--<a class="btn btn-mini btn-success"><i class="icon icon-white icon-plus"></i></a>-->
            </fieldset>
        </form>
        <div style="height:300px; overflow-y:auto;">
            <table class="table table-striped table-bordered table-hover backgrid backgrid-selectall">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Produto</th>
                    <th>Tipo Produto</th>
                    <th>Valor</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Fechar</button>
    </div>
</script>

<script type="text/template" id="template-autocomplete-responsavel">
    <fieldset>
        <div class="row-fluid">
            <input name="search-backbone" id="search-backbone" type="text" class="span12 input"
                   placeholder="Pesquisar Pessoa" autocomplete="off">
            <!--<button class="btn btn-success" type="button"><i class="icon icon-user icon-white"></i></button>-->
            <ul style="padding: 0; margin: 0;" id="autocomplete-responsavel-itens"></ul>
        </div>
    </fieldset>
</script>

<script type="text/template" id="template-autocomplete-item-responsavel">
    <div class="span10">
        <b>Nome:</b> <%= st_nomecompleto %><br>
        <b>CPF:</b> <%= st_cpf %> - <b>E-mail: </b><%= st_email %>
    </div>
    <div class="span2">
        <a class="btn btn-success" data-get-model="true"><i class="icon icon-plus icon-white"></i></a>
    </div>
</script>

<script type="text/template" id="template-autocomplete-item-responsavel-juridico">
    <div class="span10">
        <b>Nome:</b> <%= st_nomeentidade %><br>
        <b>CNPJ:</b> <%= nu_cnpj %> - <b>Razão Social:</b> <%= st_razaosocial %>
    </div>
    <div class="span2">
        <a class="btn btn-success" data-get-model="true"><i class="icon icon-plus icon-white"></i></a>
    </div>
</script>

<script type="text/template" id="template-pagar-cheque">
    <form name="formPagarCheque" style="margin: 0;" method="post" action="">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3>Registra Dados Recebimento</h3>
        </div>
        <div class="modal-body">
            <fieldset>
                <div class="row-fluid">
                    <div class="span8">
                        <label>
                            Número do Cheque:
                            <input type="text" required="required" name="st_numcheque" value="<%= st_numcheque %>"
                                   id="st_numcheque" class="span12">
                        </label>
                    </div>
                    <div class="span3">
                        <div class="input-append">
                            <label>Data:<br>
                                <input type="text" required="required" value="<%= dt_quitado %>" name="dt_quitado"
                                       id="dt_quitado"
                                       class="span12 datepicker maskDate">
                                <a class="btn"><i class="icon icon-calendar"></i></a>
                            </label>
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-success">Salvar</button>
            <a class="btn btn-cancelar" data-dismiss="modal" aria-hidden="true">Fechar</a>
        </div>
    </form>
</script>
<script type="text/template" id="template-bandeiras">
    <input type="radio" id="bandeira-<%= id %>" name="id_cartaoconfig" value="<%= id_cartaoconfig %>">
    <img src="" alt="" style="width: 40px;"/>
</script>


<script type="text/template" id="template-pagar-cartao">

    <style>
        @media (min-width: 900px) {
            .modal-large {
                margin-left: -430px;
                width: 860px;
            }
        }
    </style>
    <form name="formPagarCheque" style="margin: 0;;" method="post" action="">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3>Registra Recebimento Cartão</h3>
        </div>
        <div class="modal-body">
            <fieldset>
                <div class="span12" style="margin: auto; float: none;">
                    <div class="row-fluid">
                        <label class="span3">
                            Número da Autorização:
                            <input type="text" required="required" name="autorizacao" id="autorizacao" class="span12">
                        </label>

                        <label class="span3">
                            Número do documento:
                            <input type="text" required="required" name="documento" id="documento" class="span12">
                        </label>

                        <label class="span3">
                            4 últimos dígitos do cartão:
                            <input type="text" required="required" pattern="\d{4}" maxlength="4" name="digitos"
                                   id="digitos" class="numeric span12">
                        </label>

                        <label class="span3">
                            Data da venda:
                            <div class="clearfix"></div>
                            <span class="btn pull-right">
                                <i class="icon icon-calendar"></i>
                            </span>

                            <div style="margin-right: 40px;">
                                <input type="text" required="required" value="<%= dt_prevquitado %>"
                                       name="dt_prevquitado" id="dt_prevquitado" class="span12 datepicker maskDate">
                            </div>
                        </label>
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <div class="marginT20">
                    <p>Escolha a bandeira do cartão: </p>

                    <div id="container-bandeiras" class="row-fluid"></div>
                    <br>
                </div>
            </fieldset>

            <fieldset id="grid-modal-content">

            </fieldset>

            <fieldset>
                <div class="row-fluid">
                    <label class="span4">Total Entrada: <b>R$</b> <strong class="total-entrada"><%= totalEntrada
                            %></strong></label>
                    <label class="span4">Total das Parcelas: <b>R$</b> <strong class="total-parcelas"><%= totalParcelas
                            %></strong></label>
                    <label class="span4">Total da Transação: <b>R$</b> <strong class="total-transacao"><%=
                            totalEntrada+totalParcelas %></strong></label>
                </div>
            </fieldset>
        </div>


        <div class="modal-footer">
            <button type="submit" class="btn btn-success">Salvar</button>
            <a class="btn btn-cancelar" data-dismiss="modal" aria-hidden="true">Fechar</a>
        </div>
    </form>
</script>

<script type="text/template" id="template-modal-busca-responsavel">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Pesquisa Responsável Financeiro</h3>
    </div>
    <div class="modal-body">
        <div class="row-fluid">
            <label class="radio inline">
                <input type="radio" name="tipo_pessoa" id="tipo_pessoa_fisica" value="fisica" checked>
                Pessoa Física
            </label>
            <label class="radio inline">
                <input type="radio" name="tipo_pessoa" id="tipo_pessoa_juridica" value="juridica">
                Pessoa Jurídica
            </label>
        </div>
        <br>

        <div id="container-autocomplete-responsavel" class="row-fluid"></div>
    </div>
    <div class="modal-footer">
        <!--<button type="button" class="close btn">Fechar</button>-->
        <a href="#" class="btn" data-dismiss="modal" aria-hidden="true">Fechar</a>
    </div>
</script>

<script type="text/template" id="template-lista-produtos">
    <legend>
        Produtos
        <div class="pull-right">
            <a title="Pesquisar" class="btn" id="btn-pesquisar-produto">
                <i class="icon icon-search"></i>
                Pesquisar
            </a>
        </div>
    </legend>

    <table class="backgrid backgrid-selectall table table-striped table-bordered table-hover">
        <thead>
        <tr>
            <th>Matrícula</th>
            <th>Produto</th>
            <th>Turma</th>
            <th>Processo Seletivo</th>
            <th style="width: 0;">Valor</th>
            <th>Campanha</th>
            <th style="width: 0;">Desconto</th>
            <th style="width: 0;">Total</th>
            <th></th>
        <tr>
        </thead>
        <tbody id="lista-produtos-venda"></tbody>
    </table>
</script>

<script type="text/template" id="template-item-produto">
    <td>
        <select name="matricula" id="matricula<%= id_produto %>" disabled class="span12">
            <option>[Selecione]</option>
        </select>
    </td>
    <td><%= st_produto %></td>
    <td class="col-turma">
        <select name="id_turma" class="sel-turma" required="required">
            <option value="">Carregando...</option>
        </select>
    </td>
    <td class="col-tiposelecao">
        <select name="id_tiposelecao" class="sel-tiposelecao">
            <option value="">Carregando...</option>
        </select>
    </td>
    <td style="white-space: nowrap;">
        R$ <%= nu_valorbruto %>
    </td>
    <td>
        <select name="campanha" id="campanha<%= id_produto %>" class="span12">
            <option value="">[Selecione]</option>
        </select>
    </td>
    <td class="form-inline" style="white-space: nowrap;">
        <label class="input-append">
            <input id="desconto_percent<%= id_produto %>" class="input-mini" type="text" name="desconto_percent"
                   value="<%= nu_descontoporcentagem %>" placeholder="0.00" disabled>
            <span class="add-on">%</span>
        </label>
        -
        <label class="input-prepend">
            <span class="add-on">R$</span>
            <input class="input-mini " type="text" name="desconto_valor" id="desconto_valor<%= id_produto %>"
                   placeholder="0,00" max="100" value="<%= nu_descontovalor %>" disabled>
        </label>
    </td>
    <td style="white-space: nowrap;">
        R$ <%= nu_valorliquido %>
    </td>
    <td>
        <center>
            <button type="button" class="btn btn-danger" id="btn_remover_produto" title="Remover"><i
                        class="icon icon-trash icon-white"></i>
            </button>
        </center>
    </td>
</script>

<script type="text/template" id="template-forma-pagamento">
    <fieldset>
        <legend>Venda</legend>
        <div class="row-fluid">
            <div class="span3">
                <div id="divPlanoPagamento">
                    <label><b>Plano Pagamento: *</b>
                        <select class="span12" name="id_formapagamento" disabled class="span12">
                            <option value="">[Selecione]</option>
                        </select>
                    </label>
                </div>
            </div>
            <div class="span3">
                <div id="divAtendente">
                    <label><b>Atendente: *</b>
                        <select class="span12" name="id_usuario">
                            <option value="">[Selecione]</option>
                        </select>
                    </label>
                </div>
            </div>
            <div class="span3">
                <div id="divContratoRegra">
                    <label><b>Contrato Regra: *</b>
                        <select class="span12" disabled id="id_contratoregra" name="id_contratoregra">
                            <option value="">[Selecione]</option>
                        </select>
                    </label>
                </div>
            </div>
            <div class="span3">
                <label><b>Campanha de Pontualidade:</b>
                    <select class="span12" id="id_campanhapontualidade" name="id_campanhapontualidade">
                        <option value="">[Selecione]</option>
                    </select>
                </label>
            </div>
        </div>
        <div id="container-forma-pagamento-selected" class="row-fluid"></div>
        <div id="container-carta-credito" class="row-fluid">
            <div class="row-fluid">
                <label class="checkbox inline">
                    <input type="checkbox" disabled name="bl_usarcarta" id="bl_usarcarta" value="1"><strong>Usar Carta
                        de Crédito</strong>
                </label>

                <div class="row-fluid" id="container-tabela-cartas"></div>
                <div class="modal hide fade modal large historico" id="modal-historico"></div>
            </div>

        </div>
    </fieldset>
</script>

<script type="text/template" id="template-tabela-carta-credito">
    <table class="backgrid backgrid-selectall table table-striped table-bordered table-hover">
        <thead>
        <tr>
            <th class="span1">Selecione</th>
            <th>Código</th>
            <th>Data de Criação</th>
            <th>Valor Original</th>
            <th>Valor Disponível</th>
            <th>Valor a ser utilizado</th>
            <th>Histórico da carta crédito</th>
        </tr>
        </thead>
        <tbody id="lista-cartas-credito">
        </tbody>
    </table>
</script>
<script type="text/template" id="template-empty-carta-credito">
    <td colspan="6">
        Nenhuma Carta de Crédito para exibição
    </td>
</script>
<script type="text/template" id="template-item-tabela-carta-credito">
    <td>
        <center><input type="checkbox" name="bl_usar" value="1"></center>
    </td>
    <td><%= id_cartacredito %></td>
    <td><%= dt_cadastro %></td>
    <td>R$ <%= nu_valororiginal %></td>
    <td>R$ <%= nu_valordisponivel %></td>
    <td class="span2">
        <div class="input-prepend input-append">
            <span class="add-on">$</span>
            <input name="nu_valorutilizar" disabled type="text">
        </div>
    </td>
    <td>
        <div class="btn-toolbar detalhes">
            <a class="btn btn-success detalhes" title="Ver histórico da Carta de Crédito"><i
                        class="icon icon-white icon-list-alt"></i> Detalhes</a>
        </div>
    </td>
</script>

<script type="text/template" id="template-forma-pagamento-selected">
    <div class="row-fluid">
        <div class="span1">
            <label><b>Evolução:</b><br> <%= st_evolucao %></label>
        </div>
        <div class="span1">
            <label><b>Situação:</b><br> <%= st_situacao %></label>
        </div>
        <div class="span2">
            <label><b>Forma Pagamento:</b><br> <%= st_formapagamento %></label>
        </div>
        <div class="span1">
            <label><b>Máx. de parcelas:</b><br> <%= nu_maxparcelas %></label>
        </div>
        <div class="span3">
            <label><b>Atendente:</b><br> <%= st_nomeatendente %></label>
        </div>
        <div class="span2">
            <label><b>Contrato Regra:</b><br> <%= st_contratoregra %></label>
        </div>
        <div class="span2">
            <label><b>Campanha Pontualidade:</b><br><%=st_campanhapontualidade%></label>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span2">
            <label for=""><b>Cupom: </b><br><%=st_cupom%></label>
        </div>
    </div>
</script>

<script type="text/template" id="template-valores">
    <legend>Valores</legend>
    <div class="row-fuild">
        <p>Bruto: R$ <%= nu_valorbruto %></p>

        <p>Desconto: <b>R$ <%= nu_valordesconto %> - <%= nu_percentualdesconto %>%</b></p>

        <p>Carta de Crédito: <b>R$ <%= nu_descontocarta %></b></p>
        <hr style="margin: 0;">
        <p>Líquido: <b>R$ <%= nu_valorliquido %></b></p>
    </div>
</script>

<script type="text/template" id="template-item-lancamento">
    <td><input type="checkbox" data-nu-cartao="<%= nu_cartao %>" class="chk_um_lancamento hide"></td>
    <td><%= nu_ordem %></td>
    <td><%= st_meiopagamento + (nu_cartao ? ' ' + nu_cartao : '') %></td>
    <td>
        <!--        <label>-->
        <!--            <select name="id_responsavel" class="">-->
        <!--                <option value="">[Selecione]</option>-->
        <!--                <option value="--><% //= id_usuariovenda %><!--">-->
        <%= st_nomecompleto %><!--</option>-->
        <!--            </select>-->
        <!--        </label>-->
    </td>
    <td><%= bl_entrada ? 'Entrada' : 'Parcela' %></td>
    <td>
        <div class="input-prepend">
            <span class="add-on">R$</span>
            <input class="input-small" name="nu_valor" type="text" value="<%= nu_valor %>">
        </div>
    </td>
    <td>
        <div class="input-append">
            <input type="text" name="dt_vencimento" class="input-small datepicker maskDate"
                   value="<%= dt_vencimento %>" id="dt_vencimento_<%= id_lancamento %>">
            <a class="btn js-bt-calendar" name="btn_datepicker" data-calendar="dt_vencimento_<%= id_lancamento %>"
               id="icon_dt_vencimento_<%= id_lancamento %>"><i class="icon icon-calendar"></i></a>
        </div>
    </td>
    <td>
        <div class="input-append">
            <input type="text" name="dt_baixa" class="input-small datepicker maskDate <%= dt_baixa ? '' : 'hide' %>"
                   value="<%= dt_baixa %>" disabled>
        </div>
    </td>
    <td style="white-space: nowrap">
        <button type="button" class="btn btn-confirmar" disabled title="Confirmar Recebimento">
            <b>$</b>
        </button>
        <button class="btn btn-danger hide" title="Gerar Boleto" id="btn-gerar-boleto">
            Gerar Boleto
        </button>
        <span class="text-warning hide" id="div-info-boleto-registrado">
            Boleto Solicitado
        </span>
        <!--        <button type="button" class="btn btn-danger hide" id="btn_remover_lancamento_unico" title="Remover Registro" data-nu-cartao="<%= nu_cartao %>">-->
        <!--            <i class="icon icon-remove icon-white"></i>-->
        <!--        </button>-->
    </td>
    <td style="white-space: nowrap" class="td-pagamento">
        <button id="btn-enviar-boleto" class="btn btn-default hide">Enviar</button>
        <a href="<%= st_urlpagamento %>" target="_blank" class="btn btn-inverse hide" id="btn-visualizar-boleto">Visualizar</a>
    </td>
</script>

<script type="text/template" id="template-empty-lancamento">
    <td colspan="7">
        Nenhum lançamento adicionado.
    </td>
</script>

<script type="text/template" id="template-lista-lancamentos">
    <legend>Lançamentos</legend>
    <form action="" method="post" id="form-lancamentos" name="form-lancamentos">
        <div class="row-fluid">

            <div class="row-fluid">
                <label class="span3">
                    Meio de Pagamento: *
                    <div id="divMeioPagamento">
                        <select id="meio_lancamento" class="span12" name="meio_lancamento">
                            <option value="">Aguardando...</option>
                        </select>
                    </div>
                </label>
                <label class="span3">
                    Tipo: *
                    <div id="divTipoLancamento">
                        <select id="tipo_lancamento" class="span12" name="tipo_lancamento" disabled>
                            <option value="">Aguardando...</option>
                        </select>
                    </div>
                </label>
                <label class="span2">
                    Quant.: *
                    <div id="divQtdLancamentos">
                        <input id="nu_quantidade" class="span12" type="number" name="nu_quantidade" value="1" min="1"
                               disabled>
                    </div>
                </label>
                <label class="span2">
                    Valor Parcela / Entrada: *
                    <div class="input-prepend span12">
                        <span class="add-on">R$</span>
                        <div id="divValorLancamento">
                            <input id="nu_valorparcela" class="span10" type="text" name="nu_valorparcela"
                                   required="required" disabled>
                        </div>
                    </div>
                </label>
                <label class="span2">
                    Valor Total: *
                    <div class="input-prepend span12">
                        <span class="add-on">R$</span>
                        <input id="nu_total" class="span10" type="text" name="nu_total" value="<%= nu_valor %>"
                               disabled>
                    </div>
                </label>
            </div>
            <div class="row-fluid">
                <div class="span3 row-fluid">
                    <label for="nu_prazoparcela">Prazo entre as parcelas</label>

                    <div class="row-fluid">
                        <label class="span3">
                            <input id="nu_prazoparcela" class="span12" type="number" name="nu_prazoparcela" value="1"
                                   min="1" disabled>
                        </label>
                        <label class="span9">
                            <select id="tipo_prazoparcela" class="span12" name="tipo_prazoparcela" disabled>
                                <option value="">[Selecione]</option>
                                <option value="dias">Dias</option>
                                <option value="meses" selected>Meses</option>
                            </select>
                        </label>
                    </div>
                </div>
                <label class="span3">
                    1º Parcela *
                    <div class="clearfix"></div>
                    <a id="btn_datepicker" class="btn pull-right js-bt-calendar" data-calendar="dt_primeiraparcela"
                       disabled>
                        <i class="icon icon-calendar"></i>
                    </a>

                    <div style="margin-right: 40px;">
                        <div id="divDataPrimeiraParcela">
                            <input id="dt_primeiraparcela" class="span12 datepicker maskDate" type="text"
                                   name="dt_primeiraparcela" disabled>
                        </div>
                    </div>
                </label>

                <div class="span4">
                    Resp.: *
                    <div class="clearfix"></div>
                    <button id="btn-procurar-responsavel" class="btn pull-right" type="button"
                            title="Pesquisar Responsável" disabled>
                        <i class="icon icon-search"></i>
                    </button>
                    <div style="margin-right: 40px;">
                        <div id="divResponsavelLancamento">
                            <select id="id_responsavel" class="span12" name="id_responsavel" required="required"
                                    disabled>
                                <option value="">[Selecione]</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="span2">
                    <br/>
                    <button id="btn-add-lancamento" class="btn btn-success" type="button" title="Adicionar" disabled>
                        <i class="icon icon-white icon-plus"></i>
                        Adicionar
                    </button>
                </div>
            </div>

            <div class="clearfix"></div>

        </div>
    </form>
    <hr/>
    <div class="row-fluid">
        <div class="span12">
            <div class="pull-left" style="padding-bottom: 20px;">
                <button type="button" id="btn_excluir_lancamentos" class="btn btn-danger">Excluir Lançamentos
                    Selecionados
                </button>
                <button type="button" id="btn_recarregar_lancamentos" class="btn btn-success">
                    Recarregar Lançamentos
                </button>
            </div>
        </div>
    </div>
    <div class="row-fluid">
        <table class="backgrid backgrid-selectall table table-striped table-bordered table-hover">
            <thead>
            <tr>
                <th><input type="checkbox" id="chk_all_lancamentos"></th>
                <th>#</th>
                <th>Meio de Pagamento</th>
                <th>Responsável Financeiro</th>
                <th>Tipo</th>
                <th>Valor Parcela</th>
                <th>Vencimento Parcela</th>
                <th>Data de baixa</th>
                <th style="width: 57px;">Opções</th>
                <th style="width: 80px;">Link para Pagamento</th>
            </tr>
            </thead>
            <tbody id="lista-lancamentos-venda">

            </tbody>
        </table>
    </div>
    <div class="row-fluid">
        <label class="span3">
            Total Entrada:
            <div class="input-prepend span12">
                <span class="add-on">R$</span>
                <input id="nu_totalentrada" class="span8" type="text" name="nu_totalentrada" readonly>
            </div>
        </label>
        <label class="span3">
            Total Parcelas:
            <div class="input-prepend span12">
                <span class="add-on">R$</span>
                <input id="nu_totalparcela" class="span8" type="text" name="nu_totalparcela" readonly disabled>
            </div>
        </label>
        <label class="span3">
            Valor Restante:
            <div class="control-group">
                <div class="controls">
                    <div class="input-prepend span12">
                        <span class="add-on">R$</span>
                        <input id="nu_valorrestante" class="span6" type="text" name="nu_valorrestante"
                               value="<%= nu_valor %>" readonly disabled>
                    </div>
                </div>
            </div>
        </label>
        <label class="span3">
            Total Lançamentos:
            <div class="control-group">
                <div class="controls">
                    <div class="input-prepend span12">
                        <span class="add-on">R$</span>
                        <input id="nu_totallancamento" class="span6" type="text" name="nu_totallancamento" readonly
                               disabled>
                    </div>
                </div>
            </div>
        </label>
    </div>
</script>

<script id="grid-confirmar-recebimento" type="text/template">
    <table class="backgrid backgrid-selectall table table-striped table-bordered table-hover">
        <thead>
        <tr>
            <th>#</th>
            <th>Tipo</th>
            <th>Valor Parcela</th>
            <th>Vencimento Parcela</th>
        </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</script>

<script id="view-confimar-recebimento" type="text/template">
    <td><%= nu_ordem %></td>
    <td><%= bl_entrada ? 'Entrada' : 'Parcela' %></td>
    <td><%= nu_valor %></td>
    <td><%= dt_vencimento %></td>
</script>

<script type="text/template" id="template-modal-justifica-contrato">
    <form class="form-inline" role="form" action="" method="post" id="form-email" name="form-justificativa">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3>Justificativa de geração de via do contrato</h3>
        </div>
        <div class="modal-body">
            <div class="row-fluid">
                <label for="">Justificativa</label>
            </div>
            <div class="row-fluid hidden" id="divAvisoJustificativa">
                <small style="color: red">Favor inserir uma justificativa para a geração do novo contrato.</small>
            </div>
            <div class="row-fluid">
                <div id="divJustificativa">
                    <textarea required name="st_justificativacontrato" id="st_justificativacontrato" cols="1000"
                              rows="5" class="span12"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" id="btnSaveJustificativa">Salvar</button>
            </div>
    </form>
</script>

<script type="text/template" id="modal-tabela-historico-carta-credito">
    <!--    <div class="modal hide fade modal large historico">-->
    <div class="modal-header">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3>Histórico da Carta de Crédito</h3>
        </div>
    </div>
    <div class="modal-body">
        <table class="backgrid backgrid-selectall table table-striped table-bordered table-hover">
            <thead>
            <tr>
                <th>Produto</th>
                <th>Data de Utilização</th>
                <th>Valor Utilizado</th>
                <th>Valor Disponível</th>
            </tr>
            </thead>
            <tbody id="detalhes-cartas-credito">
            </tbody>
        </table>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Voltar</button>
    </div>
    <!--    </div>-->
</script>

<script type="text/template" id="template-empty-historico">
    <td colspan="6">
        Nenhum histórico disponível para essa carta de crédito.
    </td>
</script>

<script id="view-historico-carta-credito" type="text/template">
    <td><%= st_produto %></td>
    <td><%= dt_utilizacao %></td>
    <td><%= nu_valorutilizado %></td>
    <td><%= nu_valordisponivel %></td>
</script>

<script>
    $(function () {
        G2S.editModel = <?php echo $this->venda; ?>;
        $('#htmlContent script[type="text/template"]').appendTo($('#templateHolder'));
    });
</script>
<script type="text/javascript" src="/js/moment/moment.min.js"></script>
<script type="text/javascript" src="/js/backbone/views/Util/SelectView.js"></script>
<script type="text/javascript" src="/js/auto-complete-componente.js"></script>
<script type="text/javascript" src="/js/backbone/models/SpTramite.js"></script>

<script type="text/javascript">
    showPessoaCadastro = 1;
    DadosFormulario = null;
</script>
<script type="text/javascript" src="/venda/js"></script>
