<script type="text/javascript" src="/js/backbone/views/Util/SelectView.js"></script>
<script type="text/javascript" src="/js/auto-complete-componente.js"></script>

<?php echo $this->render('/util/auto-complete-pessoa.phtml'); ?>

<!------TEMPLATE PRINCIPAL------->

<script type="text/template" id="template-dados-cancelamento">
    <div class="row-fluid">
        <ul class="nav nav-tabs" id="tabDadosCancelamento">
            <li class="active">
                <a href="#geral" data-toggle="tab">Geral</a>
            </li>
            <li class="disabled">
                <a href="#calculo" data-toggle="tab">Cálculo</a>
            </li>
            <li class="disabled" id="abaLog">
                <a href="#log" data-toggle="tab">Log</a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="geral">
                <label class="hidden" id="id_cancelamento"></label>
                <fieldset>
                    <legend>Geral</legend>
                    <div id="autoComplete" class="row-fluid"></div>
                    <div id="content-dados">
                        <div class="well well-large">
                            <div class="row-fluid">
                                <div id="dados-cancelamento-matricula-wrapper"></div>
                                <div id="dados-cancelamento-evolucao-wrapper"></div>
                                <div id="dados-cancelamento-data-wrapper"></div>
                            </div>
                        </div>
                        <div class="well well-large">
                            <div class="row-fluid">
                                <label><B>Motivo</B></label>

                                <div id="dados-cancelamento-motivo-wrapper"></div>
                            </div>
                        </div>
                        <div class="well well-large">
                            <div class="row-fluid">
                                <label><B>Observações</B></label>

                                <div id="dados-cancelamento-observacao-wrapper"></div>
                            </div>
                        </div>
                        <div class="well well-large">
                            <div class="row-fluid">
                                <div id="dados-cancelamento-botoes-wrapper"></div>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="tab-pane" id="calculo">
                <fieldset>
                    <legend>Cálculo</legend>
                    <div id="content-calculo">
                        <div class="well well-large">
                            <div class="row-fluid">
                                <legend>Valor Inicial</legend>
                                <div id="calculo-valor-inicial-wrapper"></div>
                            </div>
                        </div>
                        <div class="well well-large">
                            <div class="row-fluid">
                                <legend>Valor da Rescisão</legend>
                                <div id="calculo-valor-recisao-wrapper"></div>
                            </div>
                        </div>
                        <div class="well well-large">
                            <div class="row-fluid">
                                <legend>Observações</legend>
                                <div id="calculo-observacao-wrapper"></div>
                            </div>
                        </div>
                        <div class="well well-large">
                            <div class="row-fluid">
                                <div id="calculo-botoes-wrapper"></div>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="tab-pane" id="log">
                <fieldset>
                    <legend>Log</legend>
                    <div id="content-log">
                        <div class="well well-large">
                            <div class="row-fluid">
                                <div id="filtro-log-wrapper"></div>
                            </div>
                        </div>
                        <div class="well well-large">
                            <div class="row-fluid">
                                <div id="tabela-log-wrapper"></div>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
    </div>
</script>
<script type="text/template" id="dados-cancelamento-matricula">
    <div class="span6">
        <div class="span10" id="divMatricula">
            <label><b>Matrícula:</b>
                <select class="span12" id="id_matricula" name="id_matricula">
                    <option value="" selected disabled>Selecione</option>
                </select>
            </label>
        </div>
    </div>
</script>
<script type="text/template" id="dados-cancelamento-observacao">
    <div class="span12">
        <div class="span10">
            <textarea class="span12" name="st_observacao" id="st_observacao" rows="8" id=""></textarea>
        </div>
    </div>
</script>
<script type="text/template" id="calculo-valor-inicial">
    <div class="row-fluid">
        <div class="span12">
            <div class="span2">
                <label for="id_matriculaValores"><B>Matrícula:</B></label>
                <label id="id_matriculaValores"></label>
            </div>
            <!--<div class="span2">
                <label for="valorBruto"><B>Valor Produto - Previsto:</B></label>
                <label id="valorBruto"></label>
            </div>-->
            <div class="span2">
                <label for="valorNegociado"><B>Valor Produto - Negociado:</B></label>
                <label id="valorNegociado"></label>
            </div>
            <div class="span2">
                <label for="valorDiferenca"><B>Desconto:</B></label>
                <label id="valorDiferenca"></label>
            </div>
            <div class="span2">
                <label for="cargaHoraria"><B>Carga Horária - Prevista:</B></label>
                <label id="cargaHoraria"></label>
            </div>
            <div class="span2">
                <label for="valorHoraAula"><B>R$ Hora/Aula:</B></label>
                <label id="valorHoraAula"></label>
            </div>
        </div>
    </div>


</script>
<script type="text/template" id="calculo-valor-recisao">
    <div class="row-fluid">
        <div class="span12 marginB30">
            <div id="divCalculoMateriais">
                <div class="span2">
                    <div class="span12 input-prepend">
                        <label for="valorMaterial"><B>Valor Material - Previsto:</B></label>

                        <div class="input-append">
                            <span class="add-on">R$</span>
                            <input type="text" class="span6" id="valorMaterial" disabled/>
                            <button class="btn btn-default" type="button" id="btn-atualizar-materiais">
                                <i class="icon-refresh"></i></button>
                        </div>
                    </div>
                </div>
                <div class="span2">
                    <div class="span12 input-prepend input-append">
                        <label for="valorUtilizadoMaterial"><B>Valor Material - Utilizado:</B></label>
                        <span class="add-on">R$</span>
                        <input type="text" class="span6" id="valorUtilizadoMaterial" disabled/>
                    </div>
                </div>
            </div>
            <div class="span2">
                <div class="span12 input-append" id="divCargaHoraria">
                    <label for="cargaHorariaCursada"><B>Carga Horária - Utilizada:</B></label>

                    <div class="input-append">
                        <input type="text" class="span6" id="cargaHorariaCursada"/>
                        <span class="add-on">h/a</span>
                        <button class="btn btn-default" type="button" id="btn-atualizar-carga-cursada">
                            <i class="icon-refresh"></i></button>
                        </button>
                    </div>
                </div>
            </div>
            <div class="span2">
                <div class="span12">
                    <label for="valorTotal"><B>Valor Utilizado Aulas:</B></label>
                    <label id="valorTotal">
                </div>
            </div>

        </div>
    </div>
    <div class="row-fluid">
        <div class="span8">
            <table class="backgrid table table-hover table-striped table-bordered table-grid">
                <thead>
                <tr>
                    <th></th>
                    <th>Carta de Crédito</th>
                    <th>Devolução</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td class="font-bold">Valor Pago</td>
                    <td colspan="2" >
                        <label class="text-center" id="valorPago"></label>
                    </td>
                </tr>
                <tr>
                    <td class="font-bold">Valor pago em Bolsa</td>
                    <td><label>R$ 0,00</label></td>
                    <td><label>R$ 0,00</label></td>
                </tr>
                <tr>
                    <td class="font-bold">Valor pago em Carta</td>
                    <td><label id="valorPagoCarta"></label></td>
                    <td><label>R$ 0,00</label></td>
                </tr>
                <tr>
                    <td class="font-bold">Multa</td>
                    <td>
                        <div class="span12 input-append" id="divMultaCarta">
                            <input type="text" class="span6" disabled id="percentualMultaCarta">
                            <span class="add-on">%</span>
                        </div>
                    </td>
                    <td>
                        <div class="span12 input-append" id="divMultaDevolucao">
                            <input type="text" class="span6" disabled for="" id="percentualMultaDevolucao">
                            <span class="add-on">%</span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="font-bold">Valor da Multa</td>
                    <td><label id="valorMultaCarta"></label></td>
                    <td><label id="valorMultaDevolucao"></label></td>
                </tr>
                <tr>
                    <td class="font-bold">Saldo</td>
                    <td><span id="totalCarta"></span></td>
                    <td><span id="totalDevolucao"></span></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span12">
            <div class="input-append">
                <label for="gerarCartaCredito">Gerar Carta de Crédito:</label>
                <select name="selectGerarCarta" id="selectGerarCarta">
                    <option value="0">Não</option>
                    <option value="1">Sim</option>
                </select>
                <button class="btn btn-info hide" type="button" id="btn-gerar-carta">
                    <i class="icon-eye-open icon-white"></i> Visualizar Carta
                </button>
                <a class="btn btn-info hide" target="_blank" id="requerimento-cancelamento">Requerimento de Cancelamento</a>
            </div>
        </div>
    </div>
</script>
<script type="text/template" id="calculo-observacao">
    <div class="span12">
        <div class="span10">
            <textarea class="span12" name="st_observacaoValores" id="st_observacaoValores" rows="8" id=""></textarea>
        </div>
    </div>
</script>
<script type="text/template" id="dados-cancelamento-botao">
    <div class="span12">
        <button class="btn btn-success pull-right" id="btn-salvar-dados">Salvar</button>
    </div>
</script>
<script type="text/template" id="valores-botao">
    <div class="span12">
        <div class="span4 pull-right">
            <div>
                <button class="btn btn-info" type="button" id="btn-finalizar-carta">Finalizar processo</button>
                <button class="btn btn-success" type="button" id="btn-salvar-valores">Salvar</button>
            </div>
        </div>
    </div>
</script>
<script type="text/template" id="dados-cancelamento-evolucao">
    <div class="span6">
        <div class="span4" id="divEvolucao">
            <label><b>Evolução do Cancelamento:</b>
                <select class="span12" name="id_evolucao" id="id_evolucao">
                    <option value="" selected disabled>Selecione</option>
                </select>
            </label>
        </div>
    </div>
</script>
<script type="text/template" id="dados-cancelamento-datas">
    <div class="span12">
        <div class="span6">
            <div class="span4">
                <div id="divDataSolicitacao">
                    <label for="dt_solicitacao"><B>Data de Solicitação</B></label>
                    <input type="text" class="datepicker span7" name="dt_solicitacao" id="dt_solicitacao">
                </div>
            </div>
            <div class="span4">
                <div id="divNuAcesso">
                    <label for="nu_acesso"><B>Dias de Acesso</B></label>
                    <input type="number" min="0" class="span7" name="nu_acesso" id="nu_acesso">
                </div>
            </div>
        </div>
        <div>
            <label for="evolucaoAtual"><B>Evolução Atual:</B></label>
            <label id="evolucaoAtual" class=""></label>
        </div>
    </div>
</script>
<script type="text/template" id="filtro-log">
    <div class="span12">
        <div id="divDataFiltro">
            <div class="span2">
                <label for="dt_inicio">Data de início:</label>
                <input class="datepicker" type="text" id="dt_inicio"/>
            </div>
            <div class="span2">
                <label for="dt_fim">Data do fim:</label>
                <input class="datepicker" type="text" id="dt_fim"/>
            </div>
            <div class="span2">
                <label for="">&nbsp;</label>
                <button class="btn btn-info" id="btn-filtrar-log">Filtrar</button>
            </div>
        </div>
    </div>
</script>
<script type="text/template" id="layout-cancelamento">
    <div id="autoComplete" class="row-fluid"></div>
</script>
<!--<script type="text/javascript" src="/js/auto-complete-componente.js"></script>-->
<script type="text/javascript">
    $('#templateHolder').empty().html($('#htmlContent script[type="text/template"]'));
</script>
<script type="text/javascript" src="/cancelamento/js"></script>

