<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <title>Formulário de cancelamento por requerimento</title>
    <meta http-equiv="Content-type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" type="text/css" href="<?php echo $this->baseUrl(); ?>/css/bootstrap.min.css"/>
    <style>
        .marginT20 {
            margin-top: 20px;
        }

        .table-borderless td,
        .table-borderless th {
            border: 0px;
        }

        @media print {
            .visible-print {
                display: inherit !important;
            }

            .hidden-print {
                display: none !important;
            }

            @page {
                size: 210mm 297mm;
            }

            .div-print {
                max-width: 800px;
                float: none;
            }
        }
    </style>
</head>
<body>
<div class="container-fluid">
    <div class="container">
        <div class="row center-block">
            <div class="span-12 marginT20">
                <table class="table table-borderless table-condensed">
                    <tbody>
                    <colgroup>
                        <col class="span3">
                        <col class="span3">
                        <col class="span3">
                    </colgroup>
                    <tr>
                        <td>
                            <div class="span-6">
                                <img class="img-responsive"
                                     src="<?php echo (isset($this->entidade)) ? $this->entidade->getSt_urlimglogo() : '/img/entidade/logoead1.gif' ?>"
                                     title="Logo"/>
                            </div>
                        </td>
                        <td>
                            <div class="span-6">
                                <p><strong>Entidade: </strong> <?php echo $this->entidade->getSt_nomeentidade(); ?></p>
                                <p>
                                    <strong>Área: </strong> <?php echo ($this->projetoArea) ? $this->projetoArea->getSt_areaconhecimento() : ''; ?>
                                </p>
                                <p><strong>Motivo: </strong>
                                    <?php foreach ($this->cancelamento['motivosObjeto'] as $motivo) : ?>
                                        <?php echo $motivo->getId_motivo()->getId_motivo() . ' - ' . $motivo->getId_motivo()->getSt_motivo() ?>
                                    <?php endforeach; ?>
                                </p>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <h4 class="text-center">Formulário de cancelamento por requerimento</h4>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div class="span12">
                    <table class="table table-condensed">
                        <tbody>
                        <colgroup>
                            <col class="span4">
                            <col class="span4">
                            <col class="span4">
                        </colgroup>
                        <tr>
                            <td colspan="2">
                                <strong>Contrato: </strong> <?php echo $this->matricula->getId_matricula(); ?>
                            </td>
                            <td>
                                <strong>Nº Requerimento: </strong>
                                <?php echo $this->cancelamento['dadosCancelamento']->getId_cancelamento() ?>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <strong>Nome:</strong>
                                <?php echo $this->matricula->getSt_nomecompleto(); ?>
                            </td>
                            <td colspan="2">
                                <strong>Telefone:</strong>
                                <?php echo $this->matricula->getSt_telefone(); ?>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <strong>CPF: </strong><?php echo $this->matricula->getSt_cpf(); ?>
                            </td>
                            <td colspan="2">
                                <strong>Email:</strong>
                                <?php echo $this->matricula->getSt_email(); ?>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3">
                                <strong>Curso:</strong>
                                <?php echo $this->matricula->getSt_turma(); ?>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <strong>Data Mat:</strong>
                                <?php echo date('d/m/Y', strtotime($this->matricula->getDt_cadastro())); ?>
                            </td>
                            <td>
                                <strong>Data Solicitação:</strong>
                                <?php echo $this->cancelamento['dt_solicitacao']; ?>
                            </td>
                            <td>
                                <strong>Data Cancelamento:</strong>
                                <?php echo date('d/m/Y : H:m', strtotime($this->cancelamento['dt_finalizacao'])); ?>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3">
                                <strong>Vendedor:</strong>
                                <?php if ($this->cancelamento['dadosFinanceiros']->getId_venda()->getId_atendente()):; ?>
                                    <?php echo $this->cancelamento['dadosFinanceiros']->getId_venda()->getId_atendente()->getSt_nomecompleto(); ?>
                                <?php endif; ?>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="span12">
                    <table>
                        <colgroup>
                            <col class="span5">
                            <col class="span5">
                        </colgroup>
                        <tr>
                            <th><h4 class="text-center">Forma de Pagamento</h4></th>
                            <th><h4 class="text-center">Cálculo de Cancelamento</h4></th>
                        </tr>

                        <tbody>
                        <tr>
                            <td>
                                <div class="span5">
                                    <table class="table table-bordered table-condensed">
                                        <colgroup>
                                            <col class="span5">
                                            <col class="span5">
                                        </colgroup>
                                        <thead>
                                        <tr>
                                            <th>Meio de Pagamento</th>
                                            <th>Valor Pago</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <?php if ($this->cancelamento['formaPagamentoArray']): ?>
                                            <?php foreach ($this->cancelamento['formaPagamentoArray'] as $formapagamento): ?>
                                                <tr>
                                                    <td>
                                                        <?php echo $formapagamento['st_meiopagamento'] ?>
                                                    </td>
                                                    <td>
                                                        <?php if (isset($formapagamento['valorPago'])): ?>
                                                            R$ <?php echo number_format($formapagamento['valorPago'], 2, ',', '.'); ?>
                                                        <?php endif; ?>
                                                    </td>
                                                </tr>
                                            <?php endforeach; ?>
                                        <?php else: ?>
                                            <tr>
                                                <td colspan="2">Produto com desconto</td>
                                            </tr>
                                        <?php endif; ?>
                                        </tbody>
                                        <tfoot>
                                        <tr>
                                            <th>Total Contrato</th>
                                            <th>
                                                R$ <?php echo number_format($this->cancelamento['valorNegociado'], 2, ',', '.'); ?></th>
                                        </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </td>
                            <td>
                                <div class="span5">
                                    <table class="table table-condensed">
                                        <thead>
                                        <tr>
                                            <th></th>
                                            <th>Valor R$</th>
                                            <th>C/H Contratada</th>
                                            <th>C/H Ministrada</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>Aulas Ministradas</td>
                                            <td>R$ <?php echo $this->cancelamento['nu_valorhoraaula']; ?></td>
                                            <td><?php echo ($this->cancelamento['cargaHoraria']) ? $this->cancelamento['cargaHoraria'] : '--'; ?></td>
                                            <td><?php echo ($this->cancelamento['valorCargaHorariaCursada']) ? $this->cancelamento['valorCargaHorariaCursada'] : '--'; ?></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Multa Contratual
                                                <?php echo ($this->cancelamento['multaPorcentagemDevolucao']) ? $this->cancelamento['multaPorcentagemDevolucao'] . '%' : '--'; ?>
                                            </td>
                                            <td>
                                                R$ <?php echo ($this->cancelamento['valormultadevolucao']) ? $this->cancelamento['valormultadevolucao'] : '--'; ?></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="span5">
                                    <h4 class="text-center">Devolução</h4>
                                    <table class="table table-condensed">
                                        <tbody>
                                        <tr>
                                            <td>
                                                Valor de devolução:
                                            </td>
                                            <td>
                                                R$ <?php echo
                                                number_format(
                                                    $this->cancelamento['valorNegociado']
                                                    - $this->cancelamento['valorTotal']
                                                    - $this->cancelamento['valormultadevolucao']
                                                    - $this->cancelamento['valorUtilizadoMaterial'], 2, ',', '.');
                                                ?>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="span12">
                    <table class="table table-borderless table-condensed">
                        <colgroup>
                            <col class="span6">
                            <col class="span6">
                        </colgroup>
                        <tr>
                            <th><h4 class="text-center">Dados para Devolução</h4></th>
                            <th><h4 class="text-center">Observações de cancelamento</h4></th>
                        </tr>
                        <tbody>
                        <tr>
                            <td>
                                <table class="table table-condensed table-borderless">
                                    <colgroup>
                                        <col class="span4">
                                        <col class="span4">
                                    </colgroup>
                                    <tbody>
                                    <tr>
                                        <td>
                                            <strong>Titular:</strong>
                                            <?php echo ($this->contaPessoa) ? $this->contaPessoa->getId_usuario()->getSt_nomecompleto() : ''; ?>
                                        </td>
                                        <td>
                                            <strong>CPF Titular:</strong>
                                            <?php echo ($this->contaPessoa) ? $this->contaPessoa->getId_usuario()->getSt_cpf() : ''; ?>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>Banco:</strong>
                                            <?php echo ($this->contaPessoa) ? $this->contaPessoa->getSt_banco() : ''; ?>
                                        </td>
                                        <td>
                                            <strong>Agência:</strong>
                                            <?php echo ($this->contaPessoa) ? $this->contaPessoa->getSt_agencia() . '-' . $this->contaPessoa->getSt_digitoagencia() : ''; ?>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>Conta Corrente:</strong>
                                            <?php echo ($this->contaPessoa) ? $this->contaPessoa->getSt_conta() . '-' . $this->contaPessoa->getSt_digitoconta() : ''; ?>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="3">
                                            <strong>Responsável Cancelamento:</strong>_____________________________
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </td>
                            <td>
                                <p class="text-left marginT20">
                                    <?php echo $this->cancelamento['st_observacao']; ?>
                                </p>
                                <p class="text-left marginT20">
                                    <?php echo $this->cancelamento['st_observacaocalculo']; ?>
                                </p>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</body>
</html>