/* 
    Document   : relatorio
    Created on : 2013-27-09, 10:59:31
    Author     : Kayo Silva <kayo.silva@unyleya.com.br>
    Description:
        Arquivo css para layout de funcionalidade de relatório
*/
#formRelatorio fieldset span.pull-left {
    line-height: 33px;
}

#formRelatorio .btn {
    margin: 0 1px;
}

.spinner-div {
    width: 50px;
    margin: 2px 20px 0 3px;
}

#formRelatorio dt {
    display: none;
}

#formRelatorio fieldset {
    border: solid 1px #ccc;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px 10px 0 10px;
    overflow: hidden;
}

.label-item-div label {
    float: left;
    line-height: 30px;
}

.label-item-div .field-item-div {
    float: left;
    padding: 0 10px 0 5px;
    height: auto !important;
}

.label-item-div:not(.clearfix) {
    float: left;
}

.label-item-div-select {
    overflow: hidden;
    float: none;
    clear: both;
}

#filter_default-element {
    background: #d0d0d0;
    padding-bottom: 5px !important;
}

#leftInfoForm {
    line-height: 35px;
    display: none;
}

#box-registros-between {
    display: inline-block;
    margin-right: 20px;
}

#container-DataGrid table thead th {
    vertical-align: middle !important;
}