<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>Gestor2 | Texto</title>
		
		<!--<link rel="stylesheet" href="<?php echo Ead1_Ambiente::geral()->applicationUrl; ?>/css/blueprint/screen.css" type="text/css" media="screen, projection,print" />-->
		
	  	<!--[if lt IE 8]>
    		<link rel="stylesheet" href="<?php echo Ead1_Ambiente::geral()->applicationUrl; ?>/css/blueprint/ie.css" type="text/css" media="screen, projection,print" />
	  	<![endif]-->
	  	
	  	<style type="text/css">
				
				body {
					font-size: 14px;
				}

				@page { size: A4 landscape }
		
							
				.corpo {
					width: 100%;
					margin: 0px;
				}
				
		</style>
	</head>
	<body>
		
		<div class="prepend-top container">
			<?php echo $this->cabecalho;?>
			<?php echo $this->corpo; ?>
		</div>
	</body>
</html>
