<?php
header("Content-type: application/vnd.ms-excel");
header("Content-type: application/force-download");
header("Pragma: no-cache");

$html = '<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" >';
$html .= '<table border="1" >';
$html .= '<thead >';
$html .= '<tr>';
$html .= '<th colspan="5">'. utf8_decode('Relatório de Faturamento - Cursos por Matéria'). '</th>';
$html .= '</tr>';
$html .= '<tr>';
$html .= '<th>Evolução</th>';
$html .= '<th>Aluno</th>';
$html .= '<th>Turma</th>';
$html .= '<th>Valor em carta de crédito utilizado</th>';
$html .= '<th>Valor Negociado</th>';
$html .= '</thead>';
$html .= '<tbody>';
if (isset($this->result['alunos']) && !empty($this->result['alunos'])) {
    foreach ($this->result['alunos'] as $value) {
        $html .= '<tr>';
        $html .= '<td>' . $value['st_evolucao'] . '</td>';
        $html .= '<td>' . $value['st_nomecompleto'] . '</td>';
        $html .= '<td>' . $value['st_turma'] . '</td>';
        $html .= '<td style="text-align: right">R$ ' . number_format($value['nu_valorcarta'], 2, ',', '.') . '</td>';
        $html .= '<td style="text-align: right">R$ ' . number_format($value['nu_valorliquido'], 2, ',', '.') . '</td>';
        $html .= '</tr>';

    }
}
$html .= '<tr>';
$html .= '<td colspan="4">Total:</td>';
$html .= '<td>R$ ' . number_format($this->result['valorTotal'], 2, ',', '.') . '</td>';
$html .= '</tr>';
$html .= '<tr>';
$html .= '<td colspan="4">Total Cursando:</td>';
$html .= '<td>R$ ' . number_format($this->result['valorTotalCursando'], 2, ',', '.') . '</td>';
$html .= '</tr>';
$html .= '<tr>';
$html .= '<td colspan="4">Total Cancelados:</td>';
$html .= '<td>R$ ' . number_format($this->result['valorTotalCancelados'], 2, ',', '.') . '</td>';
$html .= '</tr>';
$html .= '<tr>';
$html .= '<td colspan="4">Total Carta de Crédito:</td>';
$html .= '<td>R$ ' . number_format($this->result['valorTotalCartaDeCredito'], 2, ',', '.') . '</td>';
$html .= '</tr>';
$html .= '<tr>';
$html .= '<td colspan="4">Total Turma:</td>';
$html .= '<td>R$ ' . number_format($this->result['valorTotalTurma'], 2, ',', '.') . '</td>';
$html .= '</tr>';
$html .= '</tbody>';
$html .= '</table>';
$arquivo = 'Relatorio_Faturamento_Cursos_Materia' . date('d-m-Y') . '.xls';
header("Last-Modified: " . gmdate("D,d M YH:i:s") . " GMT");
header("Cache-Control: no-cache, must-revalidate");
header("Pragma: no-cache");
//header('Content-type: ' . $this->tipo . '; charset="utf-8"');
header("Content-Disposition: attachment; filename=\"{$arquivo}\"");
header("Content-Description: PHP Generated Data");

echo $html;
?>
<style type="text/css" media="all">
    /*<style type="text/css" media="print" id="test">*/
    @page {
        margin: 1cm;
        size: 'A4';
    }

    table {
        width: 100%;
    }

    table, td, th {
        border: solid 1px #000;
        border-collapse: collapse;
        text-align: center;
        font-family: "Helvetica Neue", "Arial", sans-serif;
        font-size: 10pt !important;
    }

    td, th {
        padding: 2px;
    }

</style>