<script type="text/template" id="template-calculo-pagamento-materia">
    <legend>Relatório de Faturamento - Cursos por Matéria</legend>
    <div class="row-fluid" id="regiao-grade"></div>
    <div class="row-fluid" id="regiao-grade-data" style="overflow-x: auto;"></div>
</script>

<script type="text/template" id="template-form-calculo-pagamento-materia">
    <div class="row-fluid">
        <form name="formRelatorio" id="formRelatorio" method="post" action="">
            <fieldset>
                <div class="well well-small">
                    <div class="row-fluid">
                        <div class="span4">
                            <label> Entidade: </label>
                            <select class="span12" id="id_entidade" name="id_entidade" required="required">
                                <option value="">Selecione</option>
                            </select>
                        </div>
                        <div class="span4">
                            <label> Turma</label>
                            <select class="span12" id="id_turma" name="id_turma">
                                <option value="">Selecione</option>
                            </select>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="pull-right">
                            <button id="btnPesquisar" type="button" title="Pesquisar" class="btn-custom btn">
                                <i class="icon-search icon-white"></i> Pesquisar
                            </button>
                            <button class="btn-custom btn margin" type="button" id="btn_gerar_relatorio">
                                <i class="icon-file icon-white"></i> Gerar Excel
                            </button>
                        </div>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</script>

<script id="row-template" type="text/template">
    <td><%= st_evolucao %></td>
    <td><%= st_nomecompleto %></td>
    <td><%= st_turma %></td>
    <td><%= nu_valorcarta %></td>
    <td><%= nu_valorliquido %></td>
</script>

<script id="table-template" type="text/template">
    <table class="backgrid backgrid-selectall table table-striped table-bordered table-hover">
        <thead>
        <tr>
            <th>Evolução</th>
            <th>Aluno</th>
            <th>Turma</th>
            <th>Valor em carta de crédito utilizado</th>
            <th>Valor Negociado</th>
        </tr>
        </thead>

        <!-- want to insert collection children, here -->
        <tbody></tbody>

        <tfoot>
        <tr>
            <td colspan="4">Total:</td>
            <td>R$ <%=valorTotal%></td>
        </tr>
        <tr>
            <td colspan="4">Total Cursando:</td>
            <td>R$ <%=valorTotalCursando%></td>
        </tr>
        <tr>
            <td colspan="4">Total Cancelados:</td>
            <td>R$ <%=valorTotalCancelados%></td>
        </tr>
        <tr>
            <td colspan="4">Total Carta de Crédito:</td>
            <td>R$ <%=valorTotalCartaDeCredito%></td>
        </tr>
        <tr>
            <td colspan="4">Total Turma: R$</td>
            <td>R$ <%=valorTotalTurma%></td>
        </tr>
        </tfoot>
    </table>
</script>

<script type="text/javascript"> $('#htmlContent script[type="text/template"]').appendTo($('#templateHolder'));</script>