<script type="text/javascript" src="/js/backbone/views/Util/SelectView.js"></script>
<script type="text/javascript" src="/modelo-backbone/VwEntregaMaterial"></script>

<script type="text/template" id="template-material-envio">

    <div class="row-fluid" id="topoBotoes"></div>

    <div class="row-fluid" id="formPesquisa"></div>

</script>

<script type="text/template" id="tempTopoBotoes">
    <div class="span8">
        <h4>Planejamento de envio de Material </h4>
    </div>
    <div class="span4">
        <div class="row-fluid">
            <div class="span6">
                <button type="button" class="btn btn-custom span12" id="btnGerarPacote">Gerar Pacote</button>
            </div>
            <div class="span6">
                <button type="button" class="btn btn-primary span12" id="btnGerarArquivoEnvio">Gerar Arquivo de
                    Envio
                </button>
            </div>
        </div>
    </div>
    <div id="modalGerarPacote"></div>
    <div id="modalGerarArquivoEnvio"></div>
</script>

<script type="text/template" id="tempFormPesquisa">
    <form id="formPesquisaPacote" method="post" class="span12 well">
        <legend>Dados de Pesquisa</legend>

        <div class="row-fluid">
            <div class="span6" id="divNomeAluno">
                <label>Nome do Aluno:</label>
                <input type="text" name="st_nomecompleto" id="st_nomecompleto" class="span12"/>
            </div>
            <div class="span1">
                <label style="padding-top:30px; padding-left: 5%;">ou</label>
            </div>
            <div class="span5" id="divDataCriacao">
                <label>Data de Criação do Pacote</label>
                <input type="text" class="datepicker span6" name="dt_criacaoinicio" id="dt_criacaoinicio"/>
                <span style="padding-left: 2%;">&nbsp;até&nbsp;</span>
                <input type="text" class="datepicker span5 pull-right" name="dt_criacaofim" id="dt_criacaofim"/>
            </div>
        </div>
        <div class="row-fluid" style="padding-top: 30px;">
            <div class="span6">
                <div class="row-fluid">
                    <div class="span6">
                        <label>Área:</label>
                        <select id="id_areaconhecimentopesquisa" name="id_areaconhecimentopesquisa"
                                class="span12"></select>
                    </div>
                    <div class="span6">
                        <label>Curso:</label>
                        <select id="id_projetopedagogicopesquisa" name="id_projetopedagogicopesquisa"
                                class="span12"></select>
                    </div>
                </div>
            </div>
            <div class="span6">
                <div class="row-fluid">
                    <div class="span8">
                        <label>Data de Postagem:</label>
                        <input type="text" class="datepicker span5" name="dt_postageminicio" id="dt_postageminicio"/>
                        <span>&nbsp;até&nbsp;</span>
                        <input type="text" class="datepicker span5" name="dt_postagemfim" id="dt_postagemfim"/>
                    </div>
                    <div class="span4">
                        <label>Situação:</label>
                        <select id="id_situacaopesquisa" name="id_situacaopesquisa"
                                class="span12">
                            <option value="">Todos</option>
                            <option value="155">A Enviar</option>
                            <option value="156">Enviado</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="row-fluid pull-right">
            <button class="btn btn-info pull-right" type="submit" id="btnPesquisarPacotes"><i
                    class="icon icon-search icon-white"></i> Pesquisar
            </button>
        </div>
        <fieldset id="fieldRetornoPesquisa" style="padding-top: 10px;">

        </fieldset>
        <div id="paginator"></div>
    </form>

    <div id="resultadosPesquisa" class="row-fluid"></div>

</script>

<script type="text/template" id="templateGridPesquisaPacote">
    <div class="row-fluid" style="max-height: 500px; overflow: auto;">
        <table id="tablePesquisaPacote" class="backgrid table table-bordered table-hover">
            <thead>
            <th>Nº do Pacote</th>
            <th>Nº do Lote</th>
            <th>Nome do Aluno</th>
            <th>Matrícula</th>
            <th>Curso</th>
            <th>Materiais</th>
            <th>Data de Criação</th>
            <th>Data de Postagem</th>
            <th>Situação do Pacote</th>
            </thead>
            <tbody id="tbodyPesquisaPacotes">

            </tbody>
        </table>
    </div>
</script>

<script type="text/javascript">
    $('#templateHolder').empty().html($('#htmlContent script[type="text/template"]'));
</script>
<script type="text/javascript" src="/material-arquivo-envio/js"></script>