<style>
    fieldset {   
        border: solid 1px #ccc;
        margin: 0 10px 0 2px;
        padding: 10px;
    }
</style>

<div class="row-fluid">
    <div id="search-element" class="span12">
        <div class="row-fluid">
            <fieldset>
                <div class="span2">
                    <label for="id_venda">Venda</label>
                    <input id="id_venda" class="input-medium" type="text" value="<%= id_venda %>" name="id_venda"/>
                </div>
                <div class="span2">
                    <label>&nbsp;</label>
                    <button class="btn btn-success" type="button" id="btn-enviar"><i class="icon icon-check"></i> Enviar venda</button>
                </div>
            </fieldset>
        </div>
    </div>
</div>