<div id="global-content">
    <form action="">
        <div class="well">
            <fieldset>
                <legend>Entidade</legend>
                <div class="row-fluid">
                    <div class="span6">
                        <label>
                            <div>Selecione a Unidade:</div>
                            <input id="st_nomeentidade" class="span12 no-margin" type="text"
                                   placeholder="Digite para pesquisar"
                                   data-search="#id_entidade"
                            />
                        </label>
                        <select id="id_entidade" class="span12" name="unidade" size="4">
                            <option value="" disabled>Carregando...</option>
                        </select>
                    </div>
                </div>
            </fieldset>
        </div>

        <div id="visualizacao">
            <div class="well hide">
                <legend>Visualização</legend>
                <table class="table table-striped table-hover table-bordered backgrid">
                    <thead>
                    <tr>
                        <th>Funcionalidades</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="visualizacao-body">

                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div id="ativacao">
            <div class="well hide">
                <legend>Ativação</legend>
                <table class="table table-striped table-hover table-bordered backgrid">
                    <thead>
                    <tr>
                        <th>Funcionalidades</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="ativacao-body">

                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="clearfix well well-small actions hide">
            <div class="pull-right">
                <button class="btn btn-success" type="submit">Salvar</button>
            </div>
        </div>
    </form>

</div>


<script type="text/javascript"> $('#htmlContent script[type="text/template"]').appendTo($('#templateHolder'));</script>
<script type="text/javascript" src="/funcionalidade/js"></script>
