<script type="text/template" id="templateFormulario">
    <div class="tabbable"> <!-- Only required for left/right tabs -->
        <ul class="nav nav-tabs">
            <li class="active">
                <a id="link-tab" href="#tab1" data-toggle="tab">Disciplina</a>
            </li>
            <li>
                <a id="link-tab3" href="#tab3" data-toggle="tab">Produção de Conteúdo</a>
            </li>
            <li>
                <a id="link-tab2" href="#tab2" data-toggle="tab">Integração</a>
            </li>
            <li>
                <a id="link-tab4" href="#tab4" data-toggle="tab">Conteúdo</a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="tab1">
                <form name="formCadastro" id="formCadastro" action="" method="post" class=""
                      enctype="multipart/form-data">

                    <div class="well">
                        <legend>Dados</legend>
                        <div class="row-fluid">
                            <div class="span9">
                                <label>Título da Disciplina</label>
                                <input id="id" type="hidden" value="<%=id_disciplina%>" name="id"/>
                                <input type="hidden" name="id_perfil" id="id_perfil"
                                       value="<?php echo $this->idPerfil ?>"/>
                                <input type="hidden" name="idPerfilProfessor" id="idPerfilProfessor"
                                       value="<?php echo $this->idPerfilProfessor ?>"/>
                                <input type="text" class="span12" required="required" value="<%=st_disciplina%>"
                                       id="st_disciplina" name="st_disciplina">
                            </div>
                            <div class="span3">
                                <label>Situação</label>
                                <?php echo $this->form->id_situacao ?>
                            </div>
                        </div>
                        <div class="row-fluid">
                            <div class="span9 control-group">
                                <label>Título de Exibição</label>
                                <input type="text" class="span12" required="required" value="<%=st_tituloexibicao%>"
                                       id="st_tituloexibicao" name="st_tituloexibicao">
                                <div class="alert alert-error hide titulo-alert">
                                    <b>O Título de Exibição não pode ser igual ao Título da Disciplina.</b>
                                </div>
                            </div>
                            <div class="span3">
                                <label>Tipo</label>
                                <?php echo $this->form->id_tipodisciplina ?>
                            </div>
                        </div>
                        <div class="row-fluid">
                            <div class="span3" id="divApelido">
                                <label for="st_apelido">Apelido</label>
                                <input type="text" class="span12" id="st_apelido" maxlength="15" value="<%=st_apelido%>"
                                       name="st_apelido"/>
                            </div>
                            <div class="span3">
                                <label>Identificador</label>
                                <input type="text" class="span12" value="<%=nu_identificador%>" id="nu_identificador"
                                       name="nu_identificador">
                            </div>
                            <div class="span1 input-append">
                                <label>Carga Horária</label>
                                <input type="text" maxlength="4" class="span12 numeric" required="required"
                                       value="<%=nu_cargahoraria%>" id="nu_cargahoraria" name="nu_cargahoraria">
                                <span class="add-on">h</span>
                            </div>
                            <div class="span1">
                                <label>Créditos</label>
                                <input type="text" maxlength="5" class="span12 numeric" value="<%=nu_creditos%>"
                                       id="nu_creditos" name="nu_creditos">
                            </div>
                            <div class="span4">
                                <label for="id_grupodisciplina">Grupo</label>
                                <select class="span12" id="id_grupodisciplina" name="id_grupodisciplina"></select>
                            </div>
                        </div>
                        <div class="row-fluid">
                            <div class="span4">
                                <label>Código do Parceiro</label>
                                <input type="text" class="span12 numeric" value="<%=nu_codigoparceiro%>"
                                       id="nu_codigoparceiro" name="nu_codigoparceiro">
                            </div>
                            <div class="span2">
                                <label>Compartilhar com Grupo</label>
                                <?php echo $this->form->bl_compartilhargrupo ?>
                            </div>
                            <div class="span2">
                                <label>Possui prova montada?</label>
                                <?php echo $this->form->bl_provamontada ?>
                            </div>
                            <div class="span4">
                                <label>Disciplina considerada para o semestre?</label>
                                <?php echo $this->form->bl_disciplinasemestre ?>
                            </div>
                        </div>
                        <?php if ($this->esquemaConfiguracaoEntidade == \G2\Constante\EsquemaConfiguracao::Graduacao_AVM) { ?>
                            <div class="row-fluid">
                                <div class="span4">
                                    <label>Coeficiente de Rendimento</label>
                                    <?php echo $this->form->bl_coeficienterendimento ?>
                                </div>
                                <div class="span4">
                                    <label>Carga Horária Integralizada (CENSO/Enade)</label>
                                    <?php echo $this->form->bl_cargahorariaintegralizada ?>
                                </div>
                            </div>
                        <?php } ?>
                    </div>

                    <div class="row-fluid">
                        <div class="well">
                            <label>
                                Upload de imagem da Disciplina
                                <div class="alert alert-info">
                                    <small>A imagem deve ser um JPG e ter 1024 pixels de largura e altura.</small>
                                </div>
                                <input type="file" id="imagem_disciplina" name="imagem_disciplina" class="span12"/>
                            </label>
                            <% if (st_imagem) { %>
                            <p>
                                <i class="icon-eye-open"></i>
                                <a target="_blank"
                                   href="<?php echo Ead1_Ambiente::geral()->st_url_gestor2; ?>/<%=st_imagem%> ">
                                    Imagem da Disciplina
                                </a>
                            </p>
                            <% } %>
                        </div>
                    </div>

                    <div class="row-fluid">
                        <div class="well">
                            <label>
                                <legend>Descrição</legend>
                            </label>
                            <textarea cols="80" rows="2" class="span12" id="st_descricao" name="st_descricao"><%=st_descricao%></textarea>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="well">
                            <label>
                                <legend>Ementa do Certificado</legend>
                            </label>
                            <textarea cols="80" rows="2" class="span12" id="st_ementacertificado"
                                      name="st_ementacertificado"><%=st_ementacertificado%></textarea>
                        </div>
                    </div>

                    <div class="row-fluid">
                        <fieldset class="span4" id="fieldSetEscolaridade">
                            <div class="well">
                                <legend>
                                    Escolaridade
                                    <a class="btn-success btn pull-right add-item" data-toggle="tooltip"
                                       title="Adicionar Item">
                                        <i class="icon-plus icon-white"></i>
                                    </a>
                                </legend>
                                <div id="containerNivelEnsino"></div>
                            </div>
                        </fieldset>
                        <fieldset class="span4" id="fieldSetAreaConhecimento">
                            <div class="well">
                                <legend>Área Conhecimento</legend>
                                <div id="containerAreaConhecimento"></div>
                                <div id="hiddenAreaConhecimento"></div>
                            </div>
                        </fieldset>
                        <fieldset class="span4" id="fieldSetProfessores">
                            <div class="well">
                                <legend>
                                    Professores
                                    <a class="btn-success btn pull-right add-item" data-toggle="tooltip"
                                       title="Adicionar Item">
                                        <i class="icon-plus icon-white"></i>
                                    </a>
                                </legend>
                                <div id="containerProfessores"></div>
                                <div class="clearfix"></div>
                            </div>
                        </fieldset>
                    </div>

                    <div class="form-actions">
                        <div class="pull-right">
                            <button type="submit" class="btn-success btn" id="btnSalvar">Salvar Disciplina</button>
                        </div>
                    </div>
                </form>
            </div>

            <div class="tab-pane" id="tab2">
                <div id="container-integracao" class="content">
                    <div class="row-fluid">
                        <fieldset class="span12" id="fieldSetIntegracao">
                            <div class="well">
                                <legend>
                                    Integração
                                    <a class="btn-success btn pull-right add-item" data-toggle="tooltip"
                                       title="Adicionar Integração">
                                        <i class="icon-plus icon-white"></i>
                                    </a>
                                </legend>
                                <div id="containerIntegracao"></div>
                            </div>
                        </fieldset>
                    </div>

                    <div class="form-actions">
                        <div class="pull-right">
                            <button type="submit" class="btn-success btn" id="btnSalvarIntegracao">Salvar Integração
                            </button>
                        </div>
                    </div>
                </div>

                <div id="form-integracao-fabrica-de-provas-presencial">
                </div>

                <div id="form-integracao-fabrica-de-provas-final">
                </div>

            </div>

            <div class="tab-pane" id="tab3">
                <form name="formConteudos" id="formConteudos" method="post">
                    <div class="well well-large">
                        <legend>Produção de Conteúdo</legend>
                        <div class="conteudos-content row-fluid">
                            <div class="span6">
                                <fieldset class="row-fluid" id="fieldsetAutores">
                                    <legend>
                                        Autores
                                        <a class="btn-success btn pull-right add-item" data-toggle="tooltip"
                                           title="Adicionar Item">
                                            <i class="icon-plus icon-white"></i>
                                        </a>
                                    </legend>
                                    <table id="tableAutores"
                                           class="table table-striped table-hover table-bordered backgrid">
                                        <thead>
                                        <tr>
                                            <th>Nome</th>
                                            <th>Porcentagem</th>
                                            <th>Opções</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </fieldset>
                            </div>
                            <div class="span6">
                                <div class="span12">
                                    <label>Repetição:</label>
                                    <input type="number" min="1" max="3" class="span2 numeric" value="<%=nu_repeticao%>"
                                           id="nu_repeticao" name="nu_repeticao" required="required">
                                </div>
                                <label>Estudio de gravação:</label>
                                <?php echo $this->form->sg_uf; ?>

                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="well text-right">
                        <button type="submit" class="btn-success btn" id="btnSalvarConteudos">
                            Salvar Conteúdos
                        </button>
                    </div>
                </form>
            </div>
            <div class="tab-pane" id="tab4">
                <div id="container-conteudo" class="content">
                    <!--Conteudo preenchido pelo composite view-->
                </div>
            </div>
        </div>
    </div>
</script>

<script type="text/template" id="templateConteudo">
    <form class="form-inline" enctype="multipart/form-data">
        <div class="">
            <div class="well">
                <div class="alert alert-danger">
                    * Envie compactados com extensão <strong>.zip</strong> os conteúdos em formato <strong>HTML</strong>
                    <br/>
                    * Envie individualmente conteúdo com extensão <strong>.pdf</strong>
                </div>
                <div class="control-group" id="container-itens-form-disciplina-conteudo">
                    <!--Conteudo preenchido por js collection view-->
                </div>
                <hr>
                <div class="row-fluid">
                    <div class="pull-right">
                        <button type="button" class="btn btn-info" id="btn-add-mais-conteudo">
                            <i class="icon icon-white icon-plus-sign"></i>Adicionar Mais Conteúdo
                        </button>
                        <button type="submit" class="btn btn-primary">
                            <i class="icon icon-upload icon-white"></i> Enviar Conteúdo
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <table class="table table-bordered table-hover backgrid">
        <thead>
        <th>Descrição do conteúdo</th>
        <th>Extensão</th>
        <th width="200">Ações</th>
        </thead>
        <tbody><!--Conteudo preenchido pela collection da composite--></tbody>
    </table>
</script>

<script type="text/template" id="templateItemTableDisciplinaConteudo">
    <td><%=st_descricaoconteudo%></td>
    <td><%=id_formatoarquivo == 1 ? 'PDF':'ZIP'%></td>
    <td>
        <% if(id_formatoarquivo == 1){
        arquivoconteudo = id_disciplinaconteudo+".pdf";
        }else if(id_formatoarquivo == 2){
        arquivoconteudo = id_disciplinaconteudo+"/home.html";
        }else{ arquivoconteudo = "";} %>

        <a id="btnVisualizar" class="btn btn-success" target="_blank"
           href="/disciplina_conteudo/<%=id_disciplina%>/<%=arquivoconteudo%>">
            <i class="icon icon-eye-open icon-white"></i> Visualizar</a>
        <button class="btn btn-danger"><i class="icon icon-trash icon-white"></i> Apagar</button>
    </td>
</script>

<script type="text/template" id="templateItemFormDisciplinaConteudo">
    <label class="control-label">Descrição: </label>
    <input name="st_descricaoconteudo" required="" type="text" placeholder="Informe uma descrição curta para o conteudo"
           class="span4">
    <input name="file" required="" type="file" accept="application/pdf,application/zip">
    <button type="button" class="btn btn-small btn-success"><i class="icon icon-upload icon-white"></i></button>
    <button type="button" class="btn btn-small btn-danger"><i class="icon icon-remove-sign icon-white"></i></button>
    <p>
    <div class="progress progress-striped hide">
        <div style="width: 0%" class="bar">
        </div>
    </div>
    </p>
</script>

<script type="text/template" id="templateEscolaridade">
    <div class="row-fluid item-escolaridade">
        <div class="span10">
            <div class="span5">
                <select name="id_nivelensino" class="span12">
                    <option value="">Selecione</option>
                    <?php
                    if ($this->nivelEnsino->getType() == 'success'):
                        foreach ($this->nivelEnsino->getMensagem() as $row):
                            ?>
                            <option
                                    value="<?php echo $row['id_nivelensino']; ?>"><?php echo $row['st_nivelensino']; ?></option>
                            <?php
                        endforeach;
                    endif;
                    ?>
                </select>
            </div>
            <div class="span7"></div>
        </div>
        <div class="span2">
            <!--a class="btn-success btn salva-item" data-toggle="tooltip" title="Salvar Item"><i class="icon-ok icon-white"></i></a--!>
            <a class="btn-danger btn delete-item pull-right" data-toggle="tooltip" title="Remover Item"><i class="icon-remove icon-white"></i></a>
        </div>
    </div>
</script>

<script type="text/template" id="main-view-template">
    <div id="formCadastroDisciplinas"></div>
    <style type="text/css">
        #containerNivelEnsino,
        #containerAreaConhecimento,
        #containerProfessores {
            height: 200px;
            overflow-x: auto;
            padding-bottom: 20px;
        }

        #containerAreaConhecimento .row-fluid:last-child {
            margin-bottom: 20px;
        }

        #fieldSetEscolaridade .row-fluid,
        #containerProfessores .row-fluid {
            border-bottom: solid 1px #ccc;
            padding-bottom: 5px;
            margin-bottom: 5px;
        }

        div.bl_compartilhargrupo label:first-child {
            padding: 0;
            float: none;
        }

        div.bl_compartilhargrupo label {
            float: left;
            padding: 0 10px;
        }

        div.bl_compartilhargrupo label input {
            padding: 0;
            margin: 0;
        }

        div.bl_compartilhargrupo br {
            display: none;
        }
    </style>
</script>

<script id="integracao-disciplina-new-template" type="text/template">
    <div class="row-fluid item-integracao integracao-new">
        <div class="span10">
            <div class="span3">
                <label>Nome Sala de Referência:</label>
                <input type="hidden" id="id_sistema" name="id_sistema" value="">
                <input type="text" name="st_salareferencia" id="st_salareferencia" class="span12" required="required"/>
            </div>

            <div class="span3">
                <label>Código integração:</label>
                <input type="text" name="st_codsistema" id="st_codsistema" class="span12" required="required"/>
            </div>

            <div class="span3">
                <label>Entidade:</label>
                <select name="id_entidade" class="span12" required="required">
                    <option value="">Selecione</option>
                </select>
            </div>
            <div class="span3">
                <label>Moodle:</label>
                <select name="id_moodle" id="id_moodle[]" class="span12" required="required">
                    <option value="">Selecione</option>
                </select>
            </div>
        </div>
        <div class="span2" style="padding-top: 25px;">
            <a class="btn-danger btn delete-item pull-right" data-toggle="tooltip" title="Remover Item"><i
                        class="icon-remove icon-white"></i></a>
        </div>
    </div>
</script>

<script type="text/template" id="integracao-fabrica-provas">

    <div class="well">
        <fieldset>
            <legend>Integração com a Fábrica de Provas / <span id="detalhes-integracao"></span></legend>
        </fieldset>

        <table class="backgrid backgrid-selectall table table-striped table-bordered table-hover">
            <thead>
            <tr>
                <th class="span4">Fábrica De Provas</th>
                <th class="span4">Ações</th>
            </tr>
            </thead>

            <tbody>
            <tr>
                <td class="span4" id="prova-vinculada">Prova Não Vinculada</td>

                <td class="span4">
                    <button class="btn" id="btn-vincular">Vincular</button>
                    <button class="btn hide" id="btn-desvincular">Desvincular Prova</button>
                </td>
            </tr>
            </tbody>
        </table>

        <div id="modal-container"></div>
    </div>
</script>

<script type="text/template" id="modal-integracao-fabrica-de-provas">


    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Pesquisar Prova na Maximize</h3>
    </div>

    <div class="modal-body">

        <form class="row-fluid form-inline text-center">
            <div class="span9">
                <input class="span12" name="st_prova" pattern=".{4,}"
                       placeholder="Digite pelo menos 4 caracteres para efetuar a pesquisa."
                       title="São necessários pelo menos 4 caracteres para efetuar a pesquisa." required>

            </div>
            <button class="span3 btn" type="submit"><i class="icon icon-search"></i> Pesquisar</button>
        </form>

        <div class="table-responsive">
            <table class="hide table table-bordered table-striped backgrid table-hover">
                <thead>
                <tr>
                    <th></th>
                    <th>Descrição</th>
                </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>

    <div class="modal-footer">
        <div class="text-right">
            <button id="btn-salvar-prova-modal" class="btn hide">Vincular</button>
        </div>
    </div>

</script>

<script id="template-linha-provas" type="text/template">
    <td class="span1"><input type="radio" value="<%=codProva%>" name="st_codprovaintegracao"></td>
    <td class="span11">
        <%=titulo%>
        <input type="hidden" value="<%=titulo%>" name="st_provaintegracao">
    </td>
</script>

<script type="text/javascript" src="<?php echo $this->baseUrl(); ?>/js/CollectionView.js"></script>
<script type="text/javascript" src="<?php echo $this->baseUrl(); ?>/js/backbone/models/AreaDisciplina.js"></script>
<script type="text/javascript"
        src="<?php echo $this->baseUrl(); ?>/js/backbone/models/DisciplinaSerieNivelEnsino.js"></script>
<script type="text/javascript"
        src="<?php echo $this->baseUrl(); ?>/js/backbone/models/vw-serie-nivel-ensino.js"></script>
<script type="text/javascript" src='<?php echo $this->baseUrl(); ?>/js/backbone/models/nivel-ensino.js'></script>
<script type="text/javascript"
        src='<?php echo $this->baseUrl(); ?>/js/backbone/models/projeto-pedagogico-serie-nivel-ensino.js'></script>
<script type="text/javascript"
        src='<?php echo $this->baseUrl(); ?>/js/backbone/models/vw-usuario-perfil-entidade-referencia.js'></script>
<script type="text/javascript"
        src='<?php echo $this->baseUrl(); ?>/js/backbone/models/usuario-perfil-entidade-referencia.js'></script>
<script type="text/javascript" src="<?php echo $this->baseUrl(); ?>/js/spinner/spinner.js"></script>
<script type="text/javascript"
        src='<?php echo $this->baseUrl(); ?>/js/backbone/models/vw-disciplina-integracao-moodle.js'></script>
<script type="text/javascript"
        src='<?php echo $this->baseUrl(); ?>/js/backbone/models/disciplina-integracao.js'></script>
<script type="text/javascript">
    G2S.editModel = {id_disciplina: <?php echo $this->idDisciplina ? $this->idDisciplina : 'null'; ?>};
    <?php echo $this->render("/sala-de-aula/ComponenteSelectMoodle.js"); ?>
    <?php if (!isset($this->professores['type'])): ?>
    Professores = <?php echo json_encode($this->professores); ?>;
    <?php endif; ?>
    <?php if ($this->nivelEnsino->getType() == 'success'): ?>
    NivelEnsino = <?php echo json_encode($this->nivelEnsino->getMensagem()); ?>;
    <?php endif; ?>
    <?php if (!isset($this->autores['type'])): ?>
    Autores = <?php echo json_encode($this->autores); ?>;
    <?php endif; ?>
    <?php if ($this->entidades->getType() == 'success'): ?>
    Entidades = <?php echo json_encode($this->entidades->getMensagem()); ?>;
    <?php endif; ?>
</script>


<script type="text/javascript"> $('#htmlContent script[type="text/template"]').appendTo($('#templateHolder'));</script>
<script type="text/javascript" src="/disciplina/js"></script>