<!--Templates do resultado da busca-->
<script type="text/template" id="documentos-list">
    <fieldset>
        <legend>Resultado da Pesquisa</legend>
    </fieldset>
    <table class="backgrid backgrid-selectall table table-striped table-bordered table-hover">
        <thead>
        <tr>
            <th>#</th>
            <th>Título</th>
            <th class="text-center">Ordenação</th>
            <th>Ações</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</script>

<script type="text/template" id="documentos-item">
    <td><%= id_documentos %></td>
    <td><%= st_documentos %></td>
    <td class="text-center"><%= nu_ordenacao %></td>
    <td width="170px">
        <% if (G2S.loggedUser.get('id_entidade') == id_entidade.id_entidade) { %>
        <a class="btn btn-mini btn-custom edit">
            Editar
        </a>
        <a class="btn btn-mini btn-danger delete">
            Remover
        </a>
        <%} else {%>
        -
        <%}%>
    </td>
</script>

<!--Template lista projetos pedagogicos-->
<script type="text/template" id="projetos-pedagogicos-template">
    <fieldset>
        <legend>Projetos Pedagógicos</legend>
    </fieldset>
    <div class="row-fluid">
        <div class="span6">
            <input id="projetos-pesquisa-list" class="span12" type="text" placeholder="Pesquisar"/>
            <select id="projetos-list" class="span12" size="10">
                <option value="" disabled="disabled">Carregando...</option>
            </select>
        </div>
        <div class="span6">
            <br/>
            <b>Projetos adicionados:</b>
            <select id="projetos-added" name="projetos_pedagogicos" class="span12" size="10" multiple="multiple">
            </select>
        </div>
    </div>
</script>


<!--VIEWS PESQUISA-->
<script type="text/template" id="pesquisa-template">
    <div class="well">
        <% if (isEditing) { %>
        <div class="alert alert-info">
            <%= id_documentos ? 'Editando o registro de número <span>' + id_documentos + '</span>' : 'Cadastrando um novo registro' %>
        </div>
        <% } %>

        <form>
            <div class="row-fluid">

                <% if (!isEditing) { %>
                <p>Use os campos abaixo para filtrar a pesquisa</p>
                <% } %>

                <div class="row-fluid">
                    <label class="span4">
                        <div>Título</div>
                        <input id="st_documentos" class="span12" type="text" name="st_documentos"
                               value="<%= st_documentos %>"/>
                    </label>
                    <label class="span2">
                        <div>Tipo de documento</div>
                        <select id="id_tipodocumento" class="span12" name="id_tipodocumento">
                            <option value="">[Selecione]</option>
                        </select>
                    </label>
                    <label class="span2">
                        <div>Obrigatoriedade</div>
                        <select id="id_documentosobrigatoriedade" class="span12"
                                name="id_documentosobrigatoriedade">
                            <option value="">[Selecione]</option>
                        </select>
                    </label>
                    <label class="span1">
                        <div>Quantidade</div>
                        <input id="nu_quantidade" class="span12" type="number" name="nu_quantidade"
                               value="<%=  nu_quantidade %>"/>
                    </label>
                    <% if (isEditing) { %>
                        <label class="span1">
                            <div>Ordenação</div>
                            <input id="nu_ordenacao" class="span12" type="number" name="nu_ordenacao"
                                   value="<%=  nu_ordenacao %>"/>
                        </label>
                    <% } %>
                </div>

                <div class="row-fluid">
                    <label class="span2">
                        <div>Situação</div>
                        <select id="id_situacao" class="span12" name="id_situacao">
                            <option value="">[Selecione]</option>
                        </select>
                    </label>
                    <label class="span2">
                        <div>Digitalização</div>
                        <select id="bl_digitaliza" class="span12" name="bl_digitaliza">
                            <option value="">[Selecione]</option>
                            <option value="0" <%= bl_digitaliza == 0 ? 'selected' : '' %>>Não</option>
                            <option value="1" <%= bl_digitaliza == 1 ? 'selected' : '' %>>Sim</option>
                        </select>
                    </label>
                    <label class="span2">
                        <div>Categoria</div>
                        <select id="id_documentoscategoria" class="span12" name="id_documentoscategoria">
                            <option value="">[Selecione]</option>
                        </select>
                    </label>
                    <div class="span4">
                        <div>Utilização</div>
                        <div id="documentos_utilizacao">
                            Carregando...
                        </div>
                    </div>
                </div>

            </div>

            <div class="row-fluid">
                <hr/>
                <% if (!isEditing) { %>
                    <input id="bl_entidadepai" type="hidden" name="bl_entidadepai" value="1" />
                    <button type="submit" class="btn btn-success search">
                        <i class="icon-white icon-search"></i>
                        Pesquisar
                    </button>
                    <button type="reset" class="btn cancel">
                        <i class="icon-remove"></i>
                        Limpar Filtros
                    </button>
                    <button type="button" class="btn add">
                        <i class="icon-plus"></i>
                        Adicionar Novo
                    </button>
                <% } else { %>
                    <button class="btn btn-success save">
                       <i class="icon-white icon-ok"></i>
                        Salvar
                    </button>
                    <button type="button" class="btn cancel">
                        <i class="icon-remove"></i>
                        Cancelar
                    </button>
                <% } %>
            </div>

        </form>

    </div>
</script>

<div id="filtros"></div>

<div id="projetos-pedagogicos"></div>

<div id="resultado"></div>

<div class="clearfix"></div>
<hr/>

<script type="text/javascript"> $('#htmlContent script[type="text/template"]').appendTo($('#templateHolder'));</script>
<script type="text/javascript" src="<?php echo $this->url() ?>/js"></script>