<link rel="stylesheet" type="text/css" href="<?php echo $this->baseUrl(); ?>/css/auto-complete-pessoa.css"/>
<script type="text/javascript" src="<?php echo $this->baseUrl(); ?>/js/auto-complete-componente.js"></script>
<?php echo $this->render('/util/auto-complete-pessoa.phtml'); ?>


<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#geral">Geral</a></li>
    <li><a data-toggle="tab" href="#historico">Histórico</a></li>
</ul>

<div class="tab-content">
    <div class="tab-pane fade in active" id="geral">
        <div id="autoComplete" class="row-fluid"></div>
        <div class="row-fluid hide" id='container-filtros'>
            <div class="row-fluid well well-small span12">
                <div class="span6" id="">
                    <label for="select-matricula"><b>Matrícula</b></label>
                    <select id="select-matricula" class="form-control span12">
                        <option value="none">Selecione a matrícula</option>
                    </select>
                </div>

                <div class="span6 hide" id="table_disciplinas">
                    <table class="table table-bordered table-hover backgrid">
                    </table>
                    <button id="btnVincularMatriculas" type="button" class="btn btn-primary pull-right hide "><i
                                class="icon-plus-sign icon-white"></i> Vincular
                    </button>
                </div>

            </div>
        </div>
        <div class="row-fluid hide" id='container-modulos'>
            <div class="row-fluid well well-small span12">
                <div class="span12" id="">
                    <fieldset>
                        <legend>Módulo(s) complementare(s) vinculado(s)</legend>
                    </fieldset>
                    <table class="table table-bordered table-hover backgrid">
                    </table>
                </div>
            </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="confirmaDesvincularMatricula" role="dialog">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <button type="button" class="close" style="padding:10px;" data-dismiss="modal">&times;</button>
                    <div class="modal-body">
                        <p>Tem certeza que deseja desvincular essa disciplina complementar?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                        <button type="button" id="btnConfirmaDesvincular" class="btn btn-primary">Sim</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="tab-pane fade in" id="historico">
        <div class="row-fluid hide" id='container_historico'>
            <div class="row-fluid well well-small span12">
                <div class="span12" id="table_historico">
                    <table class="table table-bordered table-hover backgrid">
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


</div>

<script type="text/javascript">
    $('#htmlContent script[type="text/template"]').appendTo($('#templateHolder'));
    <? echo $this->render('vincular-disciplina-complementar/index.js')?>
</script>