<script type="text/template" id="template-regioes">
    <div id="container-form"></div>
    <div id="container-result"></div>
    <div class="row-fluid" id="regiao-modal"></div>
</script>

<script type="text/template" id="template-formulario">
    <form id="formPesquisaAtividade" name="formPesquisaAtividade" method="post" action="">
        <div class="row-fluid">
            <div class="control-group span6">
                <div class="controls">
                    <label class="control-label" for="nome">Nome:
                        <input type="text" id="nome" name="st_nomecompleto" class="span12" maxlength="100">
                    </label>
                </div>
            </div>
            <div class="control-group span2">
                <div class="controls">
                    <label class="control-label" for="cpf">CPF:
                        <input type="text" id="cpf" name="st_cpf" pattern="\d{3}\.\d{3}\.\d{3}-\d{2}" class="span12"
                               placeholder="___.___.___-__"
                               data-mask="999.999.999-99">
                    </label>
                </div>
            </div>
        </div>
        <div class="row-fluid">
            <div class="control-group span6">
                <div class="controls">
                    <label class="control-label" for="curso">Curso: *
                        <select id="curso" name="id_projetopedagogico" required class="span12">
                            <option value="">Selecione</option>
                        </select>
                    </label>
                </div>
            </div>
            <div class="control-group span3">
                <div class="controls">
                    <label class="control-label" for="status">Status: *
                        <select id="status" name="id_situacao" required class="span12">
                            <option value="">Selecione</option>
                        </select>
                    </label>
                </div>
            </div>
            <div class="control-group span3">
                <div class="controls">
                    <label class="control-label" for="tipo_atividade">Tipo de Atividade Complementar:
                        <select id="tipo_atividade" name="id_tipoatividade" class="span12">
                            <option value="">Selecione</option>
                        </select>
                    </label>
                </div>
            </div>
        </div>
        <div class="form-actions">
            <button type="submit" name="btnPesquisar" id="btnPesquisar" class="btn-custom btn pull-right">
                Pesquisar
            </button>
        </div>
    </form>
</script>

<script type="text/template" id="template-tabela-atividades">
    <div class="row-fluid">
        <table class='backgrid backgrid-selectall table table-striped table-bordered table-hover'>
            <thead>
            <tr>
                <th>Nome</th>
                <th>CPF</th>
                <th>Matrícula</th>
                <th>Curso</th>
                <th>Total de Horas do Curso</th>
                <th>Evolução da Matrícula</th>
                <th>Título da Atividade Complementar</th>
                <th>Status</th>
                <th>Resumo</th>
                <th>Total de Horas Deferidas</th>
                <th>Ações</th>
            </tr>
            </thead>
            <tbody>
            <tr>

            </tr>
            </tbody>
        </table>
    </div>
    <div class="modal hide fade" id="modalResumo">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3>Resumo</h3>
        </div>
        <div class="modal-body">
            <p>One fine body…</p>
        </div>
        <div class="modal-footer">
            <a href="#" class="btn" data-dismiss="modal">Close</a>
        </div>
    </div>

</script>

<script type="text/template" id="template-lista-vazia">
    <td colspan="2">
        <div class="alert alert-warning">Nenhum item para exibição</div>
    </td>
</script>

<script type="text/template" id="template-row-atividade">
    <td><%=st_nomecompleto%></td>
    <td><%=st_cpf%></td>
    <td><%=id_matricula%></td>
    <td>
        <%=st_projetopedagogico %>
    </td>
    <td>
        <center>
            <%= !nu_horasatividades ? "--" : nu_horasatividades %>
        </center>
    </td>
    <td><%=st_evolucao%></td>
    <td>
        <a class="btn btn-link" target="_blank" href="<%=st_caminhoarquivo%>" title="Clique para visualizar">
            <%=st_tituloatividade%>
        </a>
    </td>
    <td><%=st_situacao%></td>
    <td>
        <a class="btn btn-link btn-resumo" title="Clique para visualizar">
            <i class="icon-eye-open"></i>
        </a>
    </td>
    <td>
        <center>
            <%= !nu_horasconvalidada ? "--" : nu_horasconvalidada %>
        </center>
    </td>
    <td>
        <%
        <!--Igual em analise de em analise-->
        if(id_situacao == 202){
        %>
        <button class="btn btn-small btn-info btn-avaliar" type="button">Avaliar</button>
        <%
        }else{
        <!--Diferente de em analise-->
        %>
        <button class="btn btn-small btn-success btn-historico" type="button" title="Visualizar Histórico">
            <i class="icon icon-list-alt icon-white"></i>
        </button>
        <button class="btn btn-small btn-inverse btn-editar" type="button">
            <i class="icon icon-white icon-pencil"></i>
            Editar
        </button>
        <% } %>
    </td>
</script>


<script type="text/template" id="tempalte-modal-atividade">
    <form id="formEditarAtividade" name="formEditarAtividade" method="post" action="">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3>Avaliar Atividade</h3>
        </div>
        <div class="modal-body">
            <div class="row-fluid">
                <div class="control-group span6">
                    <label class="control-label" for="nome">Título da Atividade Complementar *:
                        <input type="text" id="st_tituloatividade" maxlength="100" name="st_tituloatividade"
                               class="span12" value="<%=st_tituloatividade%>" required/>
                    </label>
                </div>
                <div class="control-group span3">
                    <label class="control-label" for="nome">Status *:</label>
                    <div id="container-situacoes"></div>
                </div>
                <div class="control-group span3">
                    <label class="control-label" for="nome">QTD de Horas Aprovadas *:
                        <input type="text" min="0" id="nu_horasconvalidada" name="nu_horasconvalidada"
                               class="span12 numeric" value="<%=nu_horasconvalidada%>" required/>
                    </label>
                </div>
            </div>
            <div class="row-fluid">
                <div class="control-group span12">
                    <label class="control-label" for="st_observacaoavaliador">Informações Adicionais:</label>
                    <!-- type email used by jquery validate -->
                    <textarea rows="4" cols="100%" maxlength="300" name="st_observacaoavaliador"
                              id="st_observacaoavaliador"
                              class="span12"
                    ><%=st_observacaoavaliador%></textarea>
                    <span class="pull-right" id="contador-resumo">0 / 300</span>
                </div>
            </div>


        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Cancelar</button>
            <button type="submit" class="btn btn-success" id="btnSalvarDados" disabled>Salvar</button>
        </div>
    </form>
</script>

<script type="text/template" id="template-radio-button">
    <label class="radio">
        <input type="radio" name="id_situacao" <%= checked ? "checked" : "" %> id="situacao-<%=id_situacao%>" required
        value="<%=id_situacao%>">
        <%=st_situacao%>
    </label>
</script>


<script type="text/template" id="tempalte-modal-historico">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Histórico de Avaliação</h3>
    </div>
    <div class="modal-body">
        <table class="backgrid backgrid-selectall table table-bordered table-hover table-striped">
            <thead>
            <th>Data</th>
            <th>Ação</th>
            <th>Usuário</th>
            </thead>
            <tbody></tbody>
        </table>
    </div>
    <div class="modal-footer">
        <button class="btn btn-danger" data-dismiss="modal" aria-hidden="true">Fechar</button>
    </div>
</script>

<script type="text/template" id="template-historico-lista">
    <td><%=dt_cadastro%></td>
    <td><%=acao%></td>
    <td><%=st_usuario%></td>
</script>

<script type="text/javascript">
    $("#htmlContent script[type='text/template']").appendTo($("#templateHolder"));
    <?php echo $this->render('/atividade-complementar/index.js') ?>
</script>