<script type="text/template" id="template-tipo-atividade">
    <div class="row-fluid">
        <div class="span12">
            <a class="btn btn-success btn-small pull-right" id="btn-add">
                <i class="icon-plus-sign icon-white"></i>
                Adicionar Novo
            </a>
        </div>
    </div>
    <div class="row-fluid">
        <table class='backgrid backgrid-selectall table table-striped table-bordered table-hover'>
            <thead>
            <tr>
                <th>Nome</th>
                <th class="span3">Ações</th>
            </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>
</script>
<script type="text/template" id="template-lista-vazia">
    <td colspan="2">
        <div class="alert alert-warning">Nenhum item para exibição</div>
    </td>
</script>

<script type="text/template" id="template-item-listagem">
    <td><%=st_tipoatividadecomplementar%></td>
    <td>
        <button type="button" class="edit btn btn-mini btn-custom">Editar</button>
    </td>
</script>

<script type="text/template" id="template-item-form">
    <td>
        <input type="text" maxlength="50" class="span12" name="st_tipoatividade"
               value="<%=st_tipoatividadecomplementar%>"
               placeholder="Nome do Tipo de Atividade Complementar">
    </td>
    <td>
        <button type="button" class="save btn btn-mini btn-success">Salvar</button>
        <button type="button" class="cancel btn btn-mini">Cancelar</button>
    </td>
</script>


<script type="text/javascript">
    $("#htmlContent script[type='text/template']").appendTo($("#templateHolder"));

    <?php echo $this->render('/atividade-complementar/tipo-atividade.js') ?>
</script>