<div class="info-box <?php echo $this->class; ?> ocorrencia-box">
    <i class="icon-<?php echo $this->subClass; ?>-sign"></i>
    <div class="msg">
        <?php
        echo $this->retorno;
        ?>
    </div>
    <a href='javascript:void(0)' class='info-box-remove'><i class='icon-remove'></i></a>
</div>