<style>
<!--
	div#interacao {
		width: 100%;
		border-bottom: 1px solid #CCC;
		margin: 0;
	}
	
	div.usuario_arquivo {
		border-bottom: 1px solid #4682B4;
	    float: right;
	    margin: 5px 0;
	    width: 98%;
	}
	
	.usuario {
		float: left;
	}
	
	.arquivo {
		float: right;
	}
	
	.usuario_nome {
		font-weight: bold;
		font-size: 12px
	}
	
	.usuario_data {
	}
	
	.tramite {
		margin-left: 5px;
		margin-bottom: 5px;
	}
	
	.botoes {
		float: right;
		margin: 5px;
    	min-width: 120px;
	}
-->
</style>
<script type="text/javascript" src="<?php echo $this->baseUrl;?>/js/sistema/catencao/CAtencao.js"></script>
<script type="text/javascript">

$(document).ready(function(){
	
	var catencao = new CAtencao();

	$("#frmJustificaReabrir").validate({
		rules: {
			st_tramite: {required: true, minlength: 15}
		}
	});

	
	$('#btnVoltar').click(function() {
		var dados = 
		{
			id_situacao: $("#id_situacao").val(),
			id_evolucao: $("#id_evolucao").val(),
			ajax: true,
			json: true
		};
		Portal.Ajax.loadHTML('conteudo', config.baseUrlModulo + '/C-atencao/index',dados);
	});

	$('#btnEncerrar').click(function() {
		catencao.alterarOcorrencia(<?php echo  OcorrenciaTO::SITUACAO_ENCERRADA;?> , <?php echo  OcorrenciaTO::EVOLUCAO_ENCERRAMENTO_PELO_INTERESSADO?>);
	});

	$('#btnReabrir').click(function(){
		catencao.reabrirOcorrencia(<?php echo  OcorrenciaTO::SITUACAO_PENDENTE;?> , <?php echo  OcorrenciaTO::EVOLUCAO_REABERTURA_PELO_INTERESSADO?>);
	});

	$('#btnnovotramite').click(function(){
		$('#novo_tramite').toggle();
	});

	
	/**
	 * Ativando hover nos botões
	 */
	$('#dialog_link, ul.icons li').hover(
	    function() { $(this).addClass('ui-state-hover'); },
	    function() { $(this).removeClass('ui-state-hover'); }
	);

	$('.jbutton').button(); 
	// validate signup form on keyup and submit

	$("#frmTramite").validate({
		rules: {
			st_tramite: {required: true, minlength: 15}
		}
	});
	


});
</script>
<?php 
	if($this->erro):
		echo '<script type="text/javascript"> Mensageiro.mostrar("'.$this->erro->getFirstMensagem().'",'.$this->erro->getTipo().');</script>';
	endif;
?>
<div class="column" style="width: 900px; height: 430px; margin: 0 auto;">
	<div class="caixa_informacoes">
        <h2 class="">Ocorrência</h2>
            <div class="caixa_informacoes-conteudo">
			    
                <p class="form">
                	<div class="form">
                        <label>Nº:</label><span><?php echo $this->ocorrencia->id_ocorrencia;?></span>
                    </div>
                    <div class="form">
                        <label>Título:</label><span><?php echo $this->ocorrencia->st_titulo;?></span>
                    </div>
                </p>
                <p class="form">
                	<div class="form">
                        <label>Situação:</label><span><?php echo $this->ocorrencia->st_situacao;?></span>
                    </div>
                    <div class="form">
                        <label>Evolução:</label><span><?php echo $this->ocorrencia->st_evolucao;?></span>
                    </div>
                </p>
                <p class="form">
                	<div class="form">
                        <label>Tipo:</label><span><?php echo $this->ocorrencia->st_categoriaocorrencia;?></span>
                    </div>
                    <div class="form">
                        <label>Assunto:</label><span><?php echo $this->ocorrencia->st_assuntoco;?></span>
                    </div>
                </p>
                <p class="form">
                	<div class="form">
                        <label>Responsável:</label><span><?php echo $this->ocorrencia->st_nomeresponsavel;?></span>
                    </div>
               </p>
               <p class="form">
                	<div class="form">
                        <label>Descrição:</label><div><?php echo $this->ocorrencia->st_ocorrencia;?></div>
                    </div>
              </p>
              <p class="form">
                    <div class="botoes">
                      
                       <span style="margin-left: 1px;"><button id="btnVoltar" class="jbutton ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only">Voltar</button></span>
                       
                       <span style="margin-left: 1px;"><button id="btnnovotramite" type="submit" class="jbutton ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" <?php if($this->ocorrencia->id_situacao == OcorrenciaTO::SITUACAO_ENCERRADA):?>disabled="disabled" <?php endif;?>>Nova Interação</button></span>
                       
                       <span>
                      <?php if($this->ocorrencia->id_situacao == OcorrenciaTO::SITUACAO_ENCERRADA):?>
                       	<button id="btnReabrir" class="jbutton ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only">Reabrir Atendimento</button>
                      <?php else:?>
                      	<?php if($this->vwNucleoOcorrencia->getId_nucleofinalidade() != NucleoFinalidadeTO::FINANCEIRO): ?> 	
                      		<button id="btnEncerrar" class="jbutton ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only">Encerrar Atendimento</button>
                      	<?php endif; ?>
                      <?php endif;?>
                       </span>
                      	
                    </div>
                </p>
                
				
            <!-- caixa_informacoes-conteudo -->
            </div>
        </div>
        <div class="caixa_informacoes">
        <h2 class="">Interações</h2>
            <div class="caixa_informacoes-conteudo-interacao">
                <div class="form" id="novo_tramite" style="display: none">
			    	<form name="frmTramite" id="frmTramite" method="POST" action="<?php echo $this->baseUrlModulo;?>/C-atencao/salvar-tramite" enctype="multipart/form-data" >
		                <input type="hidden" id="id_ocorrencia" name="id_ocorrencia" value="<?php echo $this->ocorrencia->id_ocorrencia;?>">
		                <input type="hidden" id="id_situacao" name="id_situacao" value="<?php echo $this->id_situacao;?>">
			   			<input type="hidden" id="id_evolucao" name="id_evolucao" value="<?php echo $this->id_evolucao;?>">
		                <p class="form">
		                    <div class="form">
		                        <textarea rows="4" cols="70%" name="st_tramite" id="st_tramite"></textarea>
		                    </div>
		                </p>
		                <p class="form">
		                    <div class="form">
		                        <label>Anexo:</label><input type="file" name="anexo" id="anexo" />
		                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                       			<span>
                       				<button id="btnsalvartramite" type="submit" class="jbutton ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only">Gerar Interação
                       				</button>
                       			</span>
		                    </div>
		                </p>
			    	</form>
			    </div>
			    
			    <?php if($this->interacoes->getTipo() == Ead1_IMensageiro::SUCESSO) {
			    			foreach ($this->interacoes->getMensagem() as $interacao) { 
			    				if($interacao->getBl_visivel()):
			    				?>
			    			
			    	<div class="form" id="interacao">
			    	
			    		<div class="usuario_arquivo">
			    			
			    			<div class="usuario">
			    				
			    				<span class="usuario_nome"><?php echo utf8_encode($interacao->getst_nomecompleto());?></span> <span class="usuario_data">em <?php echo $interacao->getDt_cadastro();?></span>
			    				
			    			</div>
			    			
			    			<div class="arquivo">
			    				<?php if($interacao->getSt_arquivo()):?>
		                        	<span><b>Anexo: </b><a target="_blank" href='<?php echo  Ead1_Ambiente::geral()->baseUrl.Ead1_Ambiente::geral()->baseUrlUpload.'/tramite/'.$interacao->getSt_arquivo();?>'><?php echo $interacao->getSt_arquivo();?></a> </span>
		                        <?php endif;?>
			    			</div>
			    			
			    		</div>
			    	
			    		<div class="tramite">		    		
		                   <span style="display: inline;"> <?php echo ($interacao->getSt_tramite());?> </span>
			    		</div>
	                   
                   
                    </div>
                    
               
			    	
			    
			  	<?php 
			    	endif;		
			    			}
			      }?>
                
                
				
            <!-- caixa_informacoes-conteudo -->
            </div>
        </div>
	
</div>

<div id="dialogFrmJustificativa" style="display:none">
        <form name="frmJustificaReabrir" id="frmJustificaReabrir" method="post" onsubmit="return false">
                <div class="form">
                    <textarea rows="2" cols="60" id="st_tramite" name="st_tramite"></textarea>
                </div>
        </form>
    </div>
<br style="clear:both" />