<div class="row">
    <div class="col-md-12 col-sm-12" style="overflow: auto !important;">
        <div class="title-block clearfix">
            <h3 class="h3-body-title uny">Suas ocorrências</h3>

            <div class="title-seperator"></div>
        </div>

        <?php
        /**
         * Bloco de codigo incluido para uso somente entre e 2015-01-31
         * Historia AC-26686
         */
        $aberto = true;
        $date = new Zend_Date();
        $dateSet = new Zend_Date('2015-01-31 18:00:00', Zend_Date::ISO_8601);
        if ($date->isEarlier($dateSet) && Ead1_Sessao::getSessaoEntidade()->id_entidade != 12) {
            $aberto = false;
        }

        if (!$aberto):
            ?>
            <div class="alert alert-info" style="font-size: 18px;">
                <p>Prezado(a) Aluno(a):</p>
                <br/>

                <p>Informamos que a ferramenta de abertura de ocorrências - SAA (Serviço de Atenção ao Aluno) está em
                    manutenção e voltará a funcionar normalmente no próximo sábado, 31/01/2015.</p>
                <br/>

                <p>Pedimos desculpas pelo transtorno.</p>
                <br/>

                <p>Cordialmente,</p>

                <p>Coordenação Acadêmica</p>
            </div>
        <?php endif; ?>
        <?php if ($aberto): ?>
            <a class="button small button-main uny nova-ocorrencia" href="/portal/C-atencao/nova-ocorrencia">
                Cadastrar nova ocorrência
            </a>
        <?php endif; ?>
        <div class="ocorrencia">
            <div class="content_ocorrencia"></div>
        </div>
        <?php if ($aberto): ?>
            <a class="button small button-main uny nova-ocorrencia" href="/portal/C-atencao/nova-ocorrencia">
                Cadastrar nova ocorrência
            </a>
        <?php endif ?>
    </div>
</div>