<?php
if($this->tipo == \Ead1_IMensageiro::ERRO && isset($this->erroSessao)){
   echo '<div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="title-block clearfix">
                    <h3 class="h3-body-title">'.$this->erro.'</h3>

                    <div class="title-seperator"></div>
                </div>
            </div>
        </div>';
}else{
    echo $this->ocorrencias;
}
