<?php if (isset($this->erroSessao)) :
    echo '<div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="title-block clearfix">
                    <h3 class="h3-body-title">' . $this->erroSessao->getFirstMensagem() . '</h3>

                    <div class="title-seperator"></div>
                </div>
            </div>
        </div>';
else:
    ?>
    <style type="text/css">
        #ocorrencias-similares-modal > .modal-dialog {
            background-color: #FFF;
            margin-top: 100px;
        }
    </style>

    <form class="form-wrapper uny ocorrencia" name="frmOcorrencia" id="frmOcorrencia" enctype="multipart/form-data"
          action="<?php echo $this->baseUrlModulo; ?>/C-atencao/salvar-ocorrencia" method="post" role="form" novalidate>

        <input id="id_entidade" type="hidden" name="id_entidade" value="<?php echo $this->id_entidade; ?>"/>
        <input id="id_usuario" type="hidden" name="id_usuario" value="<?php echo $this->id_usuario; ?>"/>
        <input id="id_matricula" type="hidden" name="id_matricula" value="<?php echo $this->id_matricula; ?>"/>

        <div class="title-block clearfix">
            <h3 class="h3-body-title uny">Suas ocorrências</h3>

            <div class="title-seperator"></div>
        </div>

        <div class="form-group clearfix">
            <div class="col-md-6">
                <label class="control-label" for="name">Título *:</label>
                <input type="text" id="st_titulo" name="st_titulo" class="form-control" required/>
            </div>
            <div class="col-md-6">
                <label class="control-label" for="cb_id_categoriaocorrencia">Tipo *:</label>
                <select name="cb_id_categoriaocorrencia" id="cb_id_categoriaocorrencia" class="form-control" required>
                    <option value="">Selecione um tipo...</option>
                    <?php echo $this->cbCategoriaOcorrencia; ?>
                </select>
            </div>
        </div>
        <div class="form-group clearfix">
            <div class="col-md-6">
                <label for="cb_id_assuntopai">Assunto *:</label>
                <select name="cb_id_assuntopai" id="cb_id_assuntopai" class="form-control" required>
                    <option value="">Selecione um assunto...</option>
                    <?php echo $this->cbAssuntoPai; ?>
                </select>
            </div>
            <div class="col-md-6">
                <label for="cb_id_assuntoco">Subassunto:</label>
                <select name="cb_id_assuntoco" id="cb_id_assuntoco" class="form-control" required>
                    <option value="">Selecione um subassunto...</option>
                </select>
            </div>
        </div>
        <?php if ($this->bl_combosala && (Ead1_Sessao::getSessaoPerfil()->is_aluno() || Ead1_Sessao::getSessaoPerfil()->is_alunoInstitucional() || Ead1_Sessao::getSessaoPerfil()->is_professor())): ?>
            <div class="form-group clearfix">
                <div class="col-md-6">
                    <label class="control-label" for="cb_id_saladeaula">Sala de Aula *:</label>
                    <select name="cb_id_saladeaula" id="cb_id_saladeaula"
                            class="form-control" <?php if (Ead1_Sessao::getSessaoPerfil()->is_aluno() || Ead1_Sessao::getSessaoPerfil()->is_alunoInstitucional()) : ?> required <?php endif; ?>>
                        <option value="">Selecione uma sala de aula...</option>
                        <?php echo $this->cbSalaDeAula; ?>
                    </select>
                </div>
            </div>
        <?php endif; ?>
        <div class="form-group clearfix">
            <div class="col-md-12">
                <label class="control-label" for="st_ocorrencia">Descrição *:</label>
                <!-- type email used by jquery validate -->
                <textarea rows="8" cols="100%" name="st_ocorrencia" id="st_ocorrencia" class="form-control"
                          required></textarea>
            </div>
        </div>
        <div class="form-group clearfix">
            <div class="col-xs-12">
                <label for="anexo">Anexo:</label>
                <input type="file" name="anexo" id="anexo"/>
            </div>
        </div>
        <div class="form-group clearfix">
            <div class="col-md-8">
                <a href="/portal/C-atencao/index">
                    <input type="button" id="btnvoltar" value="Voltar" class="button small button-main"/>
                </a>
                <input id="btnsalvar" type="submit" value="Gerar Ocorrência" class="button small button-main"/>
            </div>
        </div>
    </form>

    <div id="ocorrencias-similares-modal" class="modal fade" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-body">
                <div class="bootbox-body text-center"><p><strong>Já existe pelo menos uma ocorrência em andamento.<br>Caso queria realizar uma nova interação, clique em visualizar.</strong></p></div>
                <div class="row-fluid div-aviso-ocorrencias">
                    <table class="table table-bordered table-condensed">
                        <thead>
                        <tr>
                            <th style="width: 130px;">Nº da Ocorrência</th>
                            <th>Título</th>
                            <th style="width: 130px;">Ação</th>
                        </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <div class="btn-group">
                    <button id="btn-fechar" class="btn btn-success" data-dismiss="modal" aria-hidden="true">OK</button>
                </div>
            </div>
        </div>
    </div>
<?php endif; ?>