<div class="cortina cortina-loader"></div>

<div class="text-right">
    <a class="button small button-main" href="<?php echo $this->baseUrl ?>/portal/c-atencao">
        Voltar
    </a>
</div>

<div class="ocorrencia">
    <?php
    if (count($this->ocorrencia)) {
        ?>
        <div class="row clearfix">
            <div class="col-md-12">
                <div class="title-block clearfix">
                    <h3 class="h3-body-title uny">
                        Informações da ocorrência nº
                        <?php echo $this->ocorrencia->getId_ocorrencia(); ?>
                    </h3>

                    <div class="title-seperator"></div>
                </div>
            </div>

            <div class="form-group clearfix">
                <div class="col-md-6">
                    <label class="control-label" for="name">Título *:</label>
                    <input type="text" value="<?php echo $this->ocorrencia->getSt_titulo(); ?>" class="form-control" disabled="disabled"/>
                </div>
                <div class="col-md-6">
                    <label class="control-label" for="cb_id_categoriaocorrencia">Situação *:</label>
                    <!-- type email used by jquery validate -->
                    <input class="form-control" type="text" disabled="disabled" value="<?php echo $this->ocorrencia->getSt_situacao(); ?>"/>
                </div>
            </div>
            <div class="form-group clearfix">
                <div class="col-md-6">
                    <label class="control-label" for="cb_id_saladeaula">Tipo:</label>
                    <input type="text" disabled="disabled" value="<?php echo $this->ocorrencia->getSt_categoriaocorrencia(); ?>" class="form-control"/>
                </div>
                <div class="col-md-6">
                    <label>Assunto *:</label>
                    <input class="form-control" type="text" disabled="disabled"
                           value="<?php echo $this->ocorrencia->getSt_assuntocopai(); ?>"/>
                </div>
            </div>
            <?php if ($this->sala) { ?>
            <div class="form-group">
                <div class="col-md-12">
                    <label>Sala de Aula *:</label>
                    <input class="form-control" type="text" disabled="disabled" value="<?php echo $this->sala->getSt_saladeaula(); ?>"/>
                </div>
            </div>
            <?php } ?>
            <div class="form-group clearfix">
                <div class="col-md-12">
                    <label class="control-label" for="st_ocorrencia">Descrição:</label>
                    <!-- type email used by jquery validate -->
                    <div style="height:  100%" class="form-control" disabled="disabled">
                        <?php echo $this->ocorrencia->getSt_ocorrencia(); ?>
                    </div>
                </div>
            </div>
            <div class="form-group clearfix">
                <div class="col-md-6">
                    <label class="control-label" for="cb_id_saladeaula">Evolução:</label>
                    <input type="text" disabled="disabled" value="<?php echo $this->ocorrencia->getSt_evolucao(); ?>" class="form-control"/>
                </div>
                <div class="col-md-6">
                    <label class="control-label" for="cb_id_saladeaula">Responsável:</label>
                    <input type="text" disabled="disabled" value="<?php echo $this->ocorrencia->getSt_nomeresponsavel(); ?>" class="form-control"/>
                </div>
            </div>
        </div>

        <hr/>

        <div class="row clearfix">
            <div class="col-md-12">
                <div class="title-block clearfix">
                    <h3 class="h3-body-title uny">Interações para essa ocorrência</h3>

                    <div class="title-seperator"></div>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-md-12 interacoes">
                <?php
                $id_usuarioSessao = Ead1_Sessao::getSessaoUsuario()->id_usuario;

                //Interações no topo
                if ($this->ocorrencia->getId_situacao() != OcorrenciaTO::SITUACAO_ENCERRADA) {
                    ?>
                    <a data-toggle="modal" data-target="#nova-interacao" class="btnnovotramite button small button-main">
                        Nova Interação
                    </a>

                    <a data-toggle="modal" data-target="#encerrar"
                       class="button small button-main"
                       data-id-evolucao="<?php echo OcorrenciaTO::EVOLUCAO_ENCERRAMENTO_PELO_INTERESSADO ?>"
                       data-id-situacao="<?php echo OcorrenciaTO::SITUACAO_ENCERRADA; ?>">
                        Encerrar Atendimento
                    </a>

                    <?php
                } else {
                    ?>
                    <a class="btnnovotramite button small button-white">
                        Ocorrência encerrada
                    </a>
                    <a id="btnReabrir" class="button small button-main interacao" data-toggle="modal" data-target="#reabrir-ocorrencia">
                        Reabrir Atendimento
                    </a>
                    <?php
                }
                ?>
            </div>
        </div>

        <?php
        if ($this->interacoes->getTipo() == Ead1_IMensageiro::SUCESSO && sizeof($this->interacoes->getMensagem()) != 0) {
            foreach ($this->interacoes->getMensagem() as $interacao) {
                if ($interacao->getId_usuario() == $id_usuarioSessao) {
                    $classe = 'left';
                } else {
                    $classe = 'right';
                }

                if ($interacao->getBl_visivel()) {
                    ?>

                    <div class="blog-post uny <?php echo $classe; ?> ">
                        <div class="blog-post-date">
                            <span class="day"><?php echo $interacao->getDt_cadastro()->toString('dd'); ?></span>
                            <span class="month"><?php echo $interacao->getDt_cadastro()->toString('MMM'); ?></span>
                            <span class="month"><?php echo $interacao->getDt_cadastro()->toString('YYYY'); ?></span>
                            <span class="month"><?php echo $interacao->getDt_cadastro()->toString('H:m'); ?></span>
                            <?php if ($interacao->getSt_upload()) { ?>
                                <div class="blog-post-icon">
                                    <i class="post-type-link-icon"> </i>
                                </div>
                            <?php } ?>
                        </div>
                        <div class="blog-span">
                            <div class="blog-post-body">
                                <div class="blog_post_quote">
                                    <?php echo($interacao->getSt_tramite()); ?>
                                </div>
                            </div>

                            <div class="blog-post-details">
                                <!-- Author Name -->
                                <div class="blog-post-details-item blog-post-details-item-<?php echo $classe; ?>">
                                    <i class="icon-user uny-icon-post"></i>
                                    <a>
                                        <?php echo utf8_encode($interacao->getst_nomecompleto()); ?>
                                    </a>
                                </div>
                                <!-- //Author Name// -->
                                <div class="blog-post-details-separator <?php echo $classe; ?>"></div>
                                <div>

                                    <?php if ($interacao->getSt_upload()) { ?>

                                        <a
                                                target="_blank"
                                                class="button small button-main"
                                                href='<?php echo Ead1_Ambiente::geral()->baseUrl .
                                                    Ead1_Ambiente::geral()->baseUrlUpload . '/tramite/'
                                                    . $interacao->getSt_upload(); ?>'>
                                            Baixar Arquivo
                                        </a>
                                    <?php } ?>
                                </div>
                            </div>
                        </div>
                    </div>
                    <?php
                }
            }
        } else {
            ?>
            <div class="blog-post uny sem-interacao">
                <div class="blog-span">
                    <div class="blog-post-body">
                        <div class="blog_post_quote">
                            Nenhuma interação criada para essa ocorrência. Caso queira criar uma nova interação, clique no botão
                            acima.
                        </div>
                    </div>
                </div>
            </div>
            <?php
        }
        ?>
        <div class="row clearfix">
            <div class="col-md-12 interacoes down">
                <?php
                if ($this->ocorrencia->getId_situacao() != OcorrenciaTO::SITUACAO_ENCERRADA) {
                    ?>
                    <a data-toggle="modal" data-target="#nova-interacao"
                       class="btnnovotramite button small button-main">
                        Nova Interação
                    </a>
                    <a
                            data-toggle="modal" data-target="#encerrar"
                            class="button small button-main"
                            data-id-evolucao="<?php echo OcorrenciaTO::EVOLUCAO_ENCERRAMENTO_PELO_INTERESSADO ?>"
                            data-id-situacao="<?php echo OcorrenciaTO::SITUACAO_ENCERRADA; ?>">
                        Encerrar Atendimento
                    </a>


                    <div class="modal fade "
                         id="encerrar" tabindex="-1" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"
                                            aria-hidden="true">&times;
                                    </button>
                                    <h4 class="modal-title" id="myModalLabel">Alerta</h4>
                                </div>
                                <div class="modal-body">
                                    <p align="center">Tem certeza que deseja encerrar a ocorrência? <br/>
                                        O atendimento não mais acontecerá</p>

                                </div>

                                <div class="modal-footer">
                                    <button data-dismiss="modal"
                                            class="button small button-main">Cancelar
                                    </button>
                                    <button data-dismiss="modal"
                                            class=" btnEncerrar button small button-main">Sim
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>


                    <!-- Modal -->
                    <div class="modal fade interacoes-ocorrencia" id="nova-interacao" tabindex="-1" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h4 class="modal-title" id="myModalLabel">Nova Interação</h4>
                                </div>
                                <form enctype="multipart/form-data" action="/portal/c-atencao/salvar-tramite" method="POST" id="frmTramite" name="frmTramite">
                                    <div class="modal-body">
                                        <input type="hidden" value="<?php echo $this->ocorrencia->getId_ocorrencia() ?>" name="id_ocorrencia" id="id_ocorrencia">
                                        <input type="hidden" value="<?php echo $this->ocorrencia->getId_situacao() ?>" name="id_situacao" id="id_situacao">
                                        <input type="hidden" value="<?php echo $this->ocorrencia->getId_evolucao() ?>" name="id_evolucao" id="id_evolucao">

                                        <div class="form-group clearfix">
                                            <label class="control-label" for="st_tramite">Descrição *:</label>
                                            <textarea rows="8" cols="100%" name="st_tramite" id="st_tramite" class="form-control" required></textarea>
                                        </div>
                                        <div class="form-group clearfix">
                                            <label class="control-label" for="st_tramite">Anexo:</label>
                                            <input type="file" id="anexo" name="anexo">
                                        </div>

                                    </div>
                                    <div class="modal-footer">
                                        <button id="btnsalvar" type="submit" class="button small button-main">
                                            Gerar interação
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <?php
                } else {
                    ?>
                    <a class="button small button-white">
                        Ocorrência encerrada
                    </a>
                    <a id="btnReabrir" class="button small button-main interacao" data-toggle="modal" data-target="#reabrir-ocorrencia">
                        Reabrir Atendimento
                    </a>

                    <div class="modal fade interacoes-ocorrencia" id="reabrir-ocorrencia" tabindex="-1" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"
                                            aria-hidden="true">&times;</button>
                                    <h4 class="modal-title" id="myModalLabel">Justificativa de reabertura da
                                        ocorrência</h4>
                                </div>
                                <form name="frmJustificaReabrir" id="frmJustificaReabrir" method="post"
                                      action="/portal/C-atencao/reabrir-ocorrencia">
                                    <div class="modal-body">
                                        <input type="hidden" value="<?php echo $this->ocorrencia->getId_ocorrencia() ?>"
                                               name="id_ocorrencia">
                                        <input type="hidden" name="id_evolucao"
                                               value="<?php echo OcorrenciaTO::EVOLUCAO_REABERTURA_PELO_INTERESSADO ?>">
                                        <input type="hidden" name="id_situacao"
                                               value="<?php echo OcorrenciaTO::SITUACAO_PENDENTE; ?>">

                                        <div class="form-group clearfix">
                                            <label class="control-label" for="st_tramite">Descrição *:</label>
                                            <textarea rows="8" cols="100%" name="st_tramite" id="st_tramite"
                                                      class="form-control"
                                                      required minlength="15"></textarea>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button id="btnsalvar" type="submit" class="button small button-main">Salvar
                                            justificativa
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <?php
                }
                ?>
            </div>
        </div>
        <?php
    } else {
        ?>
        <h1>Nenhuma ocorrência encontrada com esse registro. <a href="/portal/c-atencao">Clique aqui para voltar</a>.</h1>
        <?php
    } ?>
</div>