<div class="retorno-reabrir-ocorrencia info-box <?php echo $this->class; ?>">
    <i class="icon-<?php echo $this->subClass; ?>-sign"></i>
    <div class="msg">
        <?php
        echo $this->retorno->getFirstMensagem();
        ?>
    </div>
</div>
