<style>
    .dados-matricula {
        background: #fff;
        color: #59687A;
        margin-left: 0px;
        padding-left: 15px;
    }

    .titulo-grid-parcelas {
        background: #fff;
        color: #59687A;
        font-weight: bold;
    }

    .titulo-grid-parcelas > div {
        box-sizing: border-box;
        padding: 15px;
    }

    #container-grid-logs {
        margin: 0;
        padding: 0;
    }

    .aprovado, .adimplente {
        color: #45BF55;
    }

    .satisfatorio {
        color: #292BE7;
    }

    .insatisfatorio, .inadimplente {
        color: #D40D12;
    }

    .padding-r {
        margin-right: 40px;
    }

    .text-danger {
        color: #b94a48;
    }
</style>

<div class="span11">
    <fieldset>
        <legend><h4>Dados da matrícula</h4></legend>
        <div class="row dados-matricula">
            <div class="span2">
                <h5>
                    <b>N°: </b>
                    <span><%=id_matricula%></span>
                    <% if (+G2S.loggedUser.get('id_linhadenegocio') === LINHA_DE_NEGOCIO.GRADUACAO && bl_transferidoentidade) { %>
                    <span class="label label-important">
                        Transferência
                    </span>
                    <% } %>
                </h5>
            </div>
            <div class="span2">
                <h5><b>Data de Matrícula: </b><span><%=dt_cadastro%></span></h5>
            </div>
            <div class="span2">
                <h5><b>Situação: </b><span><%=st_situacao%></span></h5>
            </div>
            <div class="span2">
                <h5><b>Evolução: </b><span><%=st_evolucao%></span></h5>
            </div>
            <div class="span2">
                <h5><b>Venda: </b><span><%=id_venda%></span></h5>
            </div>
            <div class="span2">
                <h5>Situação Financeira:<br/><span class="situacao-financeira"><small></small></span></h5>
            </div>
        </div>
        <div class="row dados-matricula">
            <div class="span2">
                <h5><b>Institucional: </b><span><%=bl_institucional ? 'Sim' : 'Não'%></span></h5>
            </div>
            <div class="span2">
                <h5>
                    <b>Turma: </b>
                    <span>
                        <%= st_turma || 'Sem turma' %>
                    </span>
                    <% if (id_turmaorigem) { %>
                    <span class="label label-important">
                        Transferência
                    </span>
                    <% } %>
                </h5>
            </div>
            <div class="span2"><h5><b>Documentação: </b><span><%= bl_documentacao === null || bl_documentacao === '' ? 'Não Analisado' : (bl_documentacao ? 'Ok' : 'Pendente') %></span>
            </h5>
            </div>
            <!-- O "Coeficiente de Rendimento Acumulado" e o Semestre são exibidos somente para alunos da Graduação -->
            <% if (G2S.loggedUser.get('id_linhadenegocio') == 2) { %>
            <div class="span2">
                <h5>
                    <b>Coeficiente de Rendimento Acumulado:</b>
                    <span><%= nu_coeficienterendimento || '--' %></span>
                </h5>
            </div>
            <div class="span2">
                <h5>
                    <b>Período: </b>
                    <span><%= nu_semestreatual ? nu_semestreatual + 'º' : '-' %></span>
                </h5>
            </div>
            <% } %>
            <div class="span2">
                <% if (st_urlacesso) {%>
                <a id="btn-acessar-como-aluno" class="btn btn-info tbn-large" target="_blank" title="Acessar como aluno"
                   href="<%=st_urlacesso%>">
                    Acessar como aluno
                </a>
                <% } else { %>
                <a id="btn-acessar-como-aluno2" class="btn btn-warning tbn-large" target="_blank"
                   title="Acessar como aluno"
                   onclick="$.pnotify({type: 'warning',title: 'Aviso',text: 'A URL do Portal não foi cadastrada na Entidade.'});">
                    <span class="icon-exclamation-sign"></span> Acessar como aluno
                </a>
                <% } %>
            </div>
            <% if(dt_concluinte && (id_evolucao == 15 || id_evolucao == 16)) {%>
            <div class="span2">
                <h5><b>Data de Conclusão: </b><span><%=dt_concluinte%></span></h5>
            </div>
            <% } %>
            <div class="span2">
                <a href="#" id="btn-contrato" class="btn btn-primary" title="Contrato">
                    <i class="icon icon-pencil icon-white"></i> Contrato
                </a>
            </div>
        </div>
        <div class="row dados-matricula">
            <% if (bl_disciplinacomplementar && (id_matriculavinculada) ) {%>
            <div class="span2">
                <h5><span class="text-danger"> Vinculada a matrícula número: <%=id_matriculavinculada%> </span></h5>
            </div>
            <% } %>

            <% if (id_esquemaconfiguracao == ESQUEMA_CONFIGURACAO.GRADUACAO_UNYLEYA && nu_cargahorariaintegralizada != null) {%>
            <div class="span2">
                <h5>C. H Integralizada:<br/>
                    <span><%=nu_cargahorariaintegralizada%></span>
                </h5>
            </div>
            <% } %>

            <div class="span2">
                <h5>Aceite do Contrato:<br/>
                    <span><%=dt_aceitecontrato%></span>
                </h5>
            </div>
        </div>
    </fieldset>
</div>

<div class="span11">
    <h5>&nbsp;</h5>
</div>

<div class="span11">
    <form method="POST" action="/api/matricula">
        <div class="tabbable">
            <!-- Only required for left/right tabs -->
            <ul class="nav nav-tabs">
                <li class="active"><a id="link-tab" href="#tab1" data-toggle="tab">Grade</a></li>
                <!-- A aba "Provas" só funcionará para a pós graduação por enquanto. -->
                <% if (G2S.loggedUser.get('id_linhadenegocio') === LINHA_DE_NEGOCIO.POS_GRADUACAO){ %>
                <li><a id="link-avaliacao-agendamento" href="#linkAvaliacaoAgendamento" data-toggle="tab">Provas</a>
                </li>
                <% } %>
                <li><a id="link-tabtcc" href="#tabtcc" data-toggle="tab">TCC</a></li>
                <li><a id="link-tab2" href="#tab2" data-toggle="tab">Trâmite</a></li>
                <li><a id="link-tab3" href="#tab3" data-toggle="tab">Log</a></li>
                <li><a id="link-tab4" href="#tab4" data-toggle="tab">Evolução de Matrículas</a></li>
                <% if (!bl_institucional) {%>
                <li><a id="link-tab5" href="#tab5" data-toggle="tab">Financeiro</a></li>
                <% } %>
                <li><a id="link-tab6" href="#tab6" data-toggle="tab">Histórico de Mensagem</a></li>
                <li><a id="link-tab7" href="#tab7" data-toggle="tab">Mudar Data de Término</a></li>
                <li><a id="link-tab8" href="#tab8" data-toggle="tab">Material</a></li>
                <li><a id="link-tab9" href="#tab9" data-toggle="tab">Ocorrências</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="tab1">
                    <div id="container-grade-curricular" class="content pad20top"></div>
                </div>
                <div class="tab-pane" id="linkAvaliacaoAgendamento">
                    <div id="container-grid-avaliacao-agendamento"></div>
                </div>
                <div class="tab-pane" id="tabtcc">
                    <div id="container-tcc" class="content"></div>
                </div>
                <div class="tab-pane" id="tab2">
                    <div id="container-tramites" class="content"></div>
                </div>
                <div class="tab-pane" id="tab3">
                    <div id="container-log" class="content">
                        <div class="row-fluid show-grid">
                            <div class="well well-small">
                                <div class="span2">
                                    <span>Data Início </span><input type="text" class="datepicker maskDate" value=""
                                                                    id="dt_inicio" name="dt_inicio">
                                </div>
                                <div class="span3">
                                    <span>Data Fim </span><input type="text" class="datepicker maskDate" value=""
                                                                 id="dt_fim" name="dt_fim">
                                </div>
                                <button id="filtrar" type="button" class="btn btn-custom"><i
                                        class="icon-search"></i><span> Filtrar</span></button>
                            </div>
                            <div id="container-grid-logs" class="span12"></div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="tab4">
                    <div class="content row-fluid">
                        <div class="span12">
                            <div class="well text-center acoes-evolucao">
                                <div class="alert alert-danger msg-evolucao">
                                    Nenhuma ação permitida para esse perfil.
                                </div>
                                <button id="btn-bloquear-matricula" type="button" class="btn btn-warning hide padding-r"
                                <%= id_evolucao == 40 ? 'disabled' : '' %>>
                                <i class="icon-ban-circle"></i>
                                Bloquear
                                </button>
                                <button id="btn-trancar-matricula" type="button" class="btn btn-info hide padding-r"
                                <%= id_evolucao == 21 ? 'disabled' : '' %>>
                                <i class="icon-exclamation-sign"></i>
                                Trancar
                                </button>
                                <button id="btn-cancelar-matricula" type="button" class="btn btn-danger hide padding-r"
                                <%= id_evolucao == 27 ? 'disabled' : '' %>>
                                <i class="icon-remove-sign"></i>
                                Cancelar
                                </button>
                                <button id="btn-anular-matricula" type="button" class="btn btn-inverse hide padding-r"
                                <%= id_evolucao == 41 ? 'disabled' : '' %>>
                                <i class="icon-remove-sign icon-white"></i>
                                Anular
                                </button>
                                <button id="btn-transferir-entidade" type="button" class="btn btn-custom hide padding-r"
                                <%= id_evolucao == 47 ? 'disabled' : '' %>>
                                <i class="icon-resize-full"></i>
                                Transferido de Entidade
                                </button>
                                <button id="btn-decurso-prazo-matricula" type="button"
                                        class="btn btn-danger hide padding-r">
                                    <i class="icon-time"></i>
                                    Decurso de Prazo
                                </button>
                                <button id="btn-liberar-acesso-matricula" type="button"
                                        class="btn btn-success hide padding-r"
                                <%= id_evolucao == 6 ? 'disabled' : '' %>>
                                <i class="icon-play"></i>
                                Liberar Acesso
                                </button>
                            </div>
                            <div id="container-alterar-matricula" class="span11 hidden">
                                <div class="hidden" id="datas-trancar">
                                    <div class="span3">
                                        <span>Data Início </span><input type="text" class="datepicker maskDate" value=""
                                                                        id="dt_abertura_tramite" name="dt_abertura">
                                    </div>
                                    <div class="span3">
                                        <span>Data Fim </span><input type="text" class="datepicker maskDate" value=""
                                                                     id="dt_encerramento_tramite"
                                                                     name="dt_encerramento">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="span12">
                                        <input id="st_acao" name="st_acao" class="hidden" type="hidden" value=""/>
                                        <textarea id="st_motivo" class="span12" name="st_motivo"
                                                  placeholder="Digite o motivo da alteração na matrícula"></textarea>
                                    </div>
                                    <div class="offset10 span2">
                                        <button id="btn-alterar-matricula" type="button"
                                                class="btn btn-success float-right"><i class="icon-play"></i> Alterar
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="tab5">
                    <div id="container-financeiro" class="content"></div>
                </div>
                <div class="tab-pane" id="tab6">
                    <div id="container-historico-mensagem" class="content"></div>
                </div>
                <div class="tab-pane" id="tab7"></div>
                <div class="tab-pane" id="tab8">
                    <div id="container-grid-material"></div>
                </div>
                <div class="tab-pane" id="tab9">
                    <div id="container-grid-ocorrencia"></div>
                </div>
            </div>
        </div>
    </form>
</div>