<style>
    #naoentregue{
         color: #ff0711;
     }
    #entregue{
        color: #8268ff;
    }

</style>
<fieldset>
    <legend>TCC</legend>
    <div class="well well-small">
        <div class="row-fluid">
            <div class="span12">
                <label class="span8">
                    <b>Nome do Aluno: </b> <%=st_nomecompleto%>
                </label>
                <label class="span4">
                    <b>Disciplina: </b> <%=st_tituloexibicaodisciplina%>
                </label>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span12">
                <label class="span8">
                    <b>Título TCC: </b> <% if (st_tituloavaliacao != null) { %><span id="entregue"> <%=st_tituloavaliacao%> </span> <% } else { %> <span id="naoentregue"> TCC não entregue </span>  <% } %>
                </label>
                <label class="span4">
                    <b>Data da postagem: </b><% if (dt_cadastrotcc != null) { %> <%=dt_cadastrotcc%>  <% } else { %> -  <% } %>
                </label>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span12">
                <label class="span4">
                    <b>Situação da sala de aula: </b> <%=st_situacaosala %>
                </label>
                <label class="span4">
                    <b>Data de Apresentação: </b>
                    <% if(dt_defesa) { %>
                    <%=dt_defesa.date.substr(0, 10).split('-').reverse().join('/') %>
                    <% }else { %>
                        Sem data
                    <% } %>
                </label>
                <label class="span4">
                    <b>Download: </b>
                    <% if(id_upload) { %>
                    <a class="btn btn-success btn-small baixar_anexo"
                       href="/avaliacao-aluno/download-tcc/id_upload/<%=id_upload%>" target="_blank">
                        <i class="icon-arrow-down"></i>  Baixar Anexo
                    </a>
                    <% } %>
                </label>
            </div>
        </div>

    </div>
</fieldset>