<style>
    #container-novo-tramite {
        background: #657991;
        color: #EFEFEF;
        padding: 5px 15px;
        border-radius: 5px;
        margin-bottom: 5px;
    }

    #container-novo-tramite button {
        float: right;
        margin-left: 2px;
    }

    #container-novo-tramite .well {
        margin: 0px 1px 10px 1px;
        color: #657991;
        background: #EFEFEF;
    }

    #container-novo-tramite div input {
        width: 100%;
    }

    #container-novo-tramite select {
        margin-bottom: 0px;
    }

    #container-filtro-tramite {
        background: #657991;
        color: #EFEFEF;
        padding: 5px 15px 1px 15px;
        border-radius: 5px;
        margin-bottom: 5px;
    }

    #container-filtro-tramite div input {
        width: 100%;
    }
    .btn-file {
        position: relative;
        overflow: hidden;
    }
    .btn-file input[type=file] {
        position: absolute;
        top: 0;
        right: 0;
        min-width: 100%;
        min-height: 100%;
        font-size: 100px;
        text-align: right;
        filter: alpha(opacity=0);
        opacity: 0;
        outline: none;
        background: white;
        cursor: inherit;
        display: block;
    }
</style>

<div id="container-novo-tramite" class="novo_tramite">
    <h5>Novo trâmite
        <button id="btn-novo-tramite" class="btn btn-success btn-small">
            <i class="icon icon-plus-sign icon-white pull-right"></i>
        </button>
    </h5>
    <div class="row well hidden">
        <form id="form-novo-tramite" enctype="multipart/form-data">
            <div class="span9">
                <textarea class="span" id="st_tramite" name="st_tramite" rows="4">  </textarea>
            </div>
            <input type="hidden" id="id_matricula" name="id_matricula" value="">



            <div class="span3">
                <button id="btn-cancelar-tramite" class="btn btn-danger" onclick="false"><i class="icon icon-warning-sign"></i> Cancelar</button>

                <span class="btn  btn-primary btn-file">
                        <i class="icon icon-plus icon-white"></i> Anexar Arquivo
                    <input type="file" id="anexo" name="anexo"
                           accept="application/pdf, .doc, .docx, .xls, .xlsx, image/jpeg ">
                </span>
                <label class="error" id="erro-anexo"></label>
                <!--<button id="btn-anexar-arquivo" class="btn btn-primary box-bar-progress hide"><i class="icon icon-plus icon-white"></i> Anexar Arquivo</button>-->
                <button id="btn-salvar-tramite" class="btn btn-info" onclick="false"><i class="icon icon-check"></i> Salvar</button>
            </div>
        </form>
    </div>
</div>
<div id="container-filtro-tramite" class="">
    <h5>Filtrar tipo do trâmite:
        <select id="selectTipoTramite" name="selectTipoTramite">
            <option value="0">Todos</option>
        </select>
    </h5>
</div>