<style>
    #lista-matriculas {
        background-color: transparent;
    }

    #lista-matriculas option {
        height: 20px;
    }

    #lista-matriculas option.active {
        background: #B5BAC0;
        color: #fff;
    }
</style>
<fieldset class="row-fluid">
    <legend><%=st_nomecompleto%>
        <button type="button" id="btn-modal-carteirinha" class="btn btn-small btn-custom pull-right hide">
            <i class="icon icon-print icon-white"></i> Imprimir Carteirinha
        </button>
    </legend>
    <div class="span4">
        <p><b>CPF:</b> <%=st_cpf%></p>

        <p><b>E-mail:</b> <%=st_email%></p>

        <p><b>Telefone:</b> <a href="sip:<%=st_telefone%>"><%=st_telefone%></a> <b> - Tel Alternativo:</b> <a
                href="sip:<%=st_telefonealternativo%>"><%=st_telefonealternativo%></a></p>

        <p><b>Nome da Mãe:</b> <%=st_nomemae%></p>

    </div>
    <div class="span7">
        <p><b>Matrículas</b></p>
        <select id="lista-matriculas" size="5" class="input-xxlarge span12"></select>
    </div>
</fieldset>
<div id="container-modal-carteirinha"></div>