<script type="text/javascript" src="/js/backbone/views/Util/SelectView.js"></script>
<script type="text/javascript" src="/js/auto-complete-componente.js"></script>

<script type="text/template" id="template-dados-esquema-configuracao">
    <div id="container-dados-esquema"></div>
    <div class="tabbable">
        <ul class="nav nav-tabs" id="esquema-configuracao-abas">
            <li class="active"><a data-toggle="tab" href="#tab-regras-funcionamento" id="link-regras-funcionamento">Regras
                    de Funcionamento</a></li>
            <li class=""><a data-toggle="tab" href="#tab-regras-pedagogico" id="link-regras-pedagogico">Pedagógico</a>
            </li>
            <li class=""><a data-toggle="tab" href="#tab-regras-portal-aluno" id="link-regras-portal-aluno">Portal do
                    Aluno</a></li>
            <li class=""><a data-toggle="tab" href="#tab-regras-comercial" id="link-regras-comercial">Comercial</a></li>
            <li class=""><a data-toggle="tab" href="#tab-regras-financeiro" id="link-regras-financeiro">Financeiro</a>
            </li>
        </ul>
        <div class="tab-content">
            <div id="tab-regras-funcionamento" class="tab-pane active">Funcionamento</div>
            <div id="tab-regras-pedagogico" class="tab-pane">Pedagógico</div>
            <div id="tab-regras-portal-aluno" class="tab-pane"> Portal do Aluno</div>
            <div id="tab-regras-comercial" class="tab-pane">Comercial</div>
            <div id="tab-regras-financeiro" class="tab-pane">Financeiro</div>
        </div>
    </div>
    <div class="row-fluid" id="regiao-modal"></div>
</script>

<script type="text/template" id="template-dados-configuracao">
    <input type="text" name="st_esquemaconfiguracao" id="st_esquemaconfiguracao" value="" placeholder="Nome do esquema"
           required="required" class="span6">
    <input type="hidden" name="id_esquemaconfiguracao" id="id_esquemaconfiguracao" value="">
</script>

<script type="text/template" id="template-dados-regras-funcionamento">
    <div class="row-fluid">
        <div class="form-horizontal well">
            <div class="control-group">
                <label class="control-label text-left">Permitir imprimir contrato pendente</label>
                <div class="controls">
                    <select id="id_configuracao_1">
                        <option value="">Selecione</option>
                        <option value="1">Sim</option>
                        <option value="0">Não</option>
                    </select>
                    <input type="hidden" id="id_permitir_imprimir_contrato_pendente" value="1">
                </div>
            </div>


            <div class="control-group">
                <label class="control-label text-left">Impedir o cadastro de e-mails duplicados nessa
                    instituição</label>
                <div class="controls">
                    <select id="id_configuracao_2">
                        <option value="">Selecione</option>
                        <option value="1">Sim</option>
                        <option value="0">Não</option>
                    </select>
                    <input type="hidden" id="id_impedir_cadastro_de_emails_duplicados_nessa_instituicao" value="2">
                </div>
            </div>

            <div class="control-group">
                <label class="control-label text-left">Linha de negócio</label>
                <div class="controls">
                    <select id="id_configuracao_22">
                    </select>
                    <input type="hidden" id="id_linha_negocio" value="22">
                </div>
            </div>

            <div class="control-group">
                <label class="control-label text-left">Utilizar Mensagem Padrão da Entidade Mãe</label>
                <div class="controls">
                    <select id="id_configuracao_33">
                        <option value="">Selecione</option>
                        <option value="1">Sim</option>
                        <option value="0">Não</option>
                    </select>
                    <input type="hidden" id="id_utilizar_mensagem_padrao_entidade_mae" value="33">
                </div>
            </div>

        </div>

        <div class="form-horizontal well">
            <fieldset>
                <legend> Agendamentos e avaliações</legend>
            </fieldset>
            <div class="control-group">
                <label class="control-label text-left">Realizar o 1º agendamento automaticamente </label>

                <div class="controls">
                    <select id="id_configuracao_23" required>
                        <option value="">Selecione</option>
                        <option value="1">Sim</option>
                        <option value="0">Não</option>
                    </select>
                    <input type="hidden" id="id_realiza_agendamento_1_automaticamente" value="23">
                </div>
            </div>

            <div class="control-group">
                <label class="control-label text-left">Avaliações feitas por disciplina </label>

                <div class="controls">
                    <select id="id_configuracao_24" required>
                        <option value="">Selecione</option>
                        <option value="1">Sim</option>
                        <option value="0">Não</option>
                    </select>
                    <input type="hidden" id="id_avaliacoes_feitas_por_disciplina" value="24">
                </div>
            </div>

            <div class="control-group">
                <label class="control-label text-left">Utiliza recuperação com média variável </label>

                <div class="controls">
                    <select id="id_configuracao_25" required>
                        <option value="">Selecione</option>
                        <option value="1">Sim</option>
                        <option value="0">Não</option>
                    </select>
                    <input type="hidden" id="id_utiliza_recuperacao_com_media_variavel" value="25">
                </div>
            </div>

        </div>



    </div>
    <div class="row-fluid">
        <div class="span6 pull-right">
            <button id="btn-salvar-regras-funcionamento" type="button" class="btn btn-success pull-right">Salvar
            </button>
        </div>
    </div>
</script>

<script type="text/template" id="template-dados-regras-pedagogico">
    <div class="form-horizontal well">
        <div class="row-fluid">
            <div class="control-group span6">
                <span class="control-label text-left">Número de Horas de um Encontro: </span>

                <div class="controls">
                    <input type="text" id="id_configuracao_3" value="">
                    <input type="hidden" id="id_numero_de_horas_de_um_encontro" value="3">
                </div>
            </div>
            <div class="control-group span6">
                <span class="control-label text-left">Quantidade de dias para enviar o aviso ao aluno: </span>

                <div class="controls">
                    <input type="number" class="numeric" max="99" id="id_configuracao_30" value="">
                    <input type="hidden" id="nu_numero_dias_enviar_aviso_aluno" value="30">
                </div>
            </div>
        </div>

        <!--
        4	Número de dias de extensão para o professor
        5	Número de dias que o professor tem para encerrar a sala
        6	Permitir ao professor encerrar alunos que não acessaram a sala
        7	Modelo da Grade de Nota
-->

        <div class="control-group">
            <span class="control-label text-left">Número de dias de extensão para o professor: </span>

            <div class="controls">
                <input type="text" id="id_configuracao_4" value="">
                <input type="hidden" id="id_numero_de_dias_de_extensao_para_o_professor" value="4">
            </div>
        </div>

        <div class="control-group">
            <span class="control-label text-left">Número de dias que o professor tem para encerrar a sala: </span>

            <div class="controls">
                <input type="text" id="id_configuracao_5" value="">
                <input type="hidden" id="id_numero_de_dias_que_o_professor_tem_para_encerrar_a_sala" value="5">
            </div>
        </div>

        <div class="control-group">
            <span
                    class="control-label text-left">Permitir ao professor encerrar alunos que não acessaram a sala: </span>

            <div class="controls">
                <select id="id_configuracao_6">
                    <option value="1">Sim</option>
                    <option value="0">Não</option>
                </select>
                <input type="hidden" id="id_permitir_ao_professor_encerrar_alunos_que_nao_acessaram_a_sala" value="6">
            </div>
        </div>

        <div class="control-group">
            <span class="control-label text-left">Modelo da Grade de Nota: </span>

            <div class="controls">
                <select id="id_configuracao_7">
                    <option value="1">Padrão</option>
                    <option value="2">Por tipo</option>
                </select>
                <input type="hidden" id="id_modelo_da_grade_de_nota" value="7">
            </div>
        </div>

        <div class="control-group">
            <span class="control-label text-left">Parâmetro para nota de recuperação: </span>

            <div class="controls">
                <input type="text" id="id_configuracao_32" value="">
                <input type="hidden" id="id_parametro_para_nota_recuperacao" value="32">
            </div>
        </div>
    </div>

    <div class="form-horizontal well">
        <fieldset>
            <legend>
                <span>Projeto por crédito
                    <a rel="tooltip" class="tootiperGrad" data-placement="top"
                       data-original-title="Dados devem ser preenchidos apenas para entidades de graduação."
                       data-trigger="hover">
                        <i class="icon-blue icon-info-sign"></i></a>
                </span>
            </legend>
        </fieldset>
        <div class="control-group">
            <span class="control-label text-left">Quantidade Padrão de Disciplinas por Período: </span>

            <div class="controls">
                <input class="numeric" type="text" id="id_configuracao_19" value="">
                <input type="hidden" id="nu_padrao_disicplinas_por_periodo" value="19">
            </div>
        </div>

        <div class="control-group">
            <span class="control-label text-left">Quantidade Mínima de Disciplinas por Período: </span>

            <div class="controls">
                <input class="numeric" type="text" id="id_configuracao_20" value="">
                <input type="hidden" id="nu_minimo_disicplinas_por_periodo" value="20">
            </div>
        </div>

        <div class="control-group">
            <span class="control-label text-left">Quantidade Máxima de Disciplinas por Período: </span>

            <div class="controls">
                <input class="numeric" type="text" id="id_configuracao_21" value="">
                <input type="hidden" id="nu_maximo_disicplinas_por_periodo" value="21">
            </div>
        </div>

    </div>

    <div class="form-horizontal well">
        <fieldset>
            <legend> Decurso de prazo - Parametrização</legend>
        </fieldset>
        <div class="control-group">
            <div class="controls" style="margin: 0px;">
                <span class="control-label text-left">Quantidade de <strong>dias</strong> que o aluno/matrícula NÃO acessa o Portal do Aluno:</span>
                <span class="span7"><input type="text" id="id_configuracao_28"></span>
                <input type="hidden" id="id_quantidade_dias_sem_acesso_aluno" value="28">
            </div>
        </div>

        <div class="control-group">
            <div class="span11" style="margin: 0px;">
                <span class="control-label text-left">Quantidade de <strong>meses</strong> a partir da data de início da turma:</span>
                <span class="span9"><input type="text" id="id_configuracao_29"></span>
                <input type="hidden" id="id_qtd_meses_apartir_inicio" value="29">
            </div>
        </div>

    </div>

    <div class="row-fluid">
        <div class="span6 pull-right">
            <input type="hidden" value="" name="id_holding" class="id_holding">
            <button id="btn-salvar-regras-pedagogico" type="button" class="btn btn-success pull-right">Salvar</button>
        </div>
    </div>
</script>

<script type="text/template" id="template-dados-regras-portal-aluno">
    <div class="row-fluid">
        <div class="span11">
            <span class="span2">Exibir tutorial de acesso do aluno ao Portal</span>
            <span class="span9">
                <select id="id_configuracao_8">
                    <option value="1">Sim</option>
                    <option value="0">Não</option>
                </select>
                <input type="hidden" id="id_exibir_tutorial_de_acesso_do_aluno_ao_portal" value="8">
            </span>
        </div>
        <div class="span11" style="margin: 0px;">
            <span class="span2">Utilizar a ferramenta de Primeiro Acesso para os novos alunos</span>
            <span class="span9">
                <select id="id_configuracao_9">
                    <option value="1">Sim</option>
                    <option value="0">Não</option>
                </select>
                <input type="hidden" id="id_utilizar_a_ferramenta_de_primeiro_acesso_para_os_novos_alunos" value="9">
            </span>
        </div>
        <div class="span11" style="margin: 0px;">
            <span class="span2">Permitir login simultâneo</span>
            <span class="span9">
                <select id="id_configuracao_10">
                    <option value="1">Sim</option>
                    <option value="0">Não</option>
                </select>
            </span>
            <input type="hidden" id="id_permitir_login_simultaneo" value="10">
        </div>
    </div>
    <div class="row-fluid">
        <div class="span6 pull-right">
            <input type="hidden" value="" name="id_holding" class="id_holding">
            <button id="btn-salvar-regras-portal-aluno" type="button" class="btn btn-success pull-right">Salvar</button>
        </div>
    </div>
</script>

<script type="text/template" id="template-dados-regras-comercial">
    <div class="row-fluid">
        <div class="span11">
            <span class="span2">Solicitar endereço na loja</span>
            <span class="span9">
                <select id="id_configuracao_11">
                    <option value="1">Sim</option>
                    <option value="0">Não</option>
                </select>
                <input type="hidden" id="id_solicitar_endereco_na_loja" value="11">
            </span>
        </div>
        <h3>Configurações Google</h3>
        <hr>
        <div class="span4" style="margin: 0px;">
            <label>Configuração de Venda por Cartão de Crédito:</label>
            <textarea style="width: 400px; height: 140px;" id="id_configuracao_12"></textarea>
            <input type="hidden" id="id_configuracao_de_venda_por_cartao_de_credito" value="12">
        </div>
        <div class="span4" style="margin: 0px;">
            <label>Configuração de Venda por Boleto:</label>
            <textarea style="width: 400px; height: 140px;" id="id_configuracao_13"></textarea>
            <input type="hidden" id="id_configuracao_de_venda_por_boleto" value="13">
        </div>
    </div>
    <div class="row-fluid">
        <div class="span6 pull-right">
            <input type="hidden" value="" name="id_holding" class="id_holding">
            <button id="btn-salvar-regras-comercial" type="button" class="btn btn-success pull-right">Salvar</button>
        </div>
    </div>
</script>

<script type="text/template" id="template-dados-regras-financeiro">
    <div class="row-fluid">
        <div class="form-horizontal well">

            <div class="control-group">
                <span class="span2">Número de dias para cobrança da parcela vencida do Cartão Recorrente.</span>
                <span class="span3">
                    <input type="text" id="id_configuracao_34">
                </span>
                <span class="span7">
                    Após vencida, será enviado um e-mail lembrando ao cliente da parcela após um número predefinido de dias. O e-mail será repetido obedecendo este número de dias.</span>
                </span>
                <input type="hidden" id="id_quantidade_dias_cobranca_recorrente" value="34">
            </div>

            <div class="control-group">
                <span class="span2">Confirmar recebimento automático:</span>
                <span class="span9">
                <select id="id_configuracao_14">
                    <option value="1">Sim</option>
                    <option value="0">Não</option>
                </select>
                <input type="hidden" id="id_confirmar_recebimento_automatico" value="14">
            </span>
            </div>
            <div class="control-group">
                <span class="span2">Multa para Cancelamento com Cartão de Crédito</span>
                <span class="span9">
                <input type="text" id="id_configuracao_16">
            </span>
                <input type="hidden" id="id_multa_para_cancelamento_com_cartao_de_credito" value="16">
            </div>
            <div class="control-group">
                <span class="span2">Validade da Carta de Crédito</span>
                <span class="span9">
                <input type="text" id="id_configuracao_18" value="<?php echo $this->nu_validadecartacredito; ?>">
            </span>
                <input type="hidden" id="id_validade_da_carta_de_credito" value="18">
            </div>
        </div>
        <div class="form-horizontal well">
            <fieldset>
                <legend>
                <span>Parâmetro para início da Renovação Automática
                    <a rel="tooltip" class="tootiperGrad" data-placement="top"
                       data-original-title="<?php echo $this->itemRenovacao['st_descricao']; ?>"
                       data-trigger="hover">
                        <i class="icon-blue icon-info-sign"></i></a>
                </span>
                </legend>
                <div class="control-group">
                    <span class="span2"><?php echo $this->itemRenovacao['st_itemconfiguracao']; ?>:</span>
                    <span class="span9">
                <select id="id_configuracao_<?php echo $this->itemRenovacao['id_itemconfiguracao']; ?>" autofocus>
                    <option value="">Selecione</option>
                    <?php
                    for ($i = 0; $i < 6; $i++):
                        $valor = $i + 1;

                        $selected = '';
                        if ($valor == $this->itemRenovacao['st_default']) {
                            $selected = 'selected="selected"';
                        }

                        ?>
                        <option <?php echo $selected; ?> value="<?php echo $valor; ?>"><?php echo $valor; ?>&ordm; Parcela</option>
                    <?php endfor; ?>
                </select>
                <input type="hidden" id="id_parametro_renovacao_automatica"
                       value="<?php echo $this->itemRenovacao['id_itemconfiguracao']; ?>">
            </span>
                </div>
            </fieldset>
        </div>
    </div>
    <div class="row-fluid">
        <div class="pull-right">
            <input type="hidden" value="" name="id_holding" class="id_holding">
            <button class="btn btn-success" id="btn_historico"
                    title="Histórico Prarâmetro para início da Renovação Automática"><i
                        class="icon icon-list-alt icon-white"></i></button>
            <button id="btn-salvar-regras-financeiro" type="button" class="btn btn-success">Salvar</button>
        </div>
    </div>
</script>

<script type="text/template" id="tempalte-modal-historico-parametro-renovacao">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Histórico do Parâmetro da Renovação</h3>
    </div>
    <div class="modal-body">
        <table class="backgrid backgrid-selectall table table-bordered table-hover table-striped">
            <thead>
            <th>Data</th>
            <th>Usuário</th>
            <th>Opção</th>
            </thead>
            <tbody></tbody>
        </table>
    </div>
    <div class="modal-footer">
        <button class="btn btn-danger" data-dismiss="modal" aria-hidden="true">Fechar</button>
    </div>
</script>

<script type="text/template" id="template-historico-lista">
    <td><%=dt_alteracao%></td>
    <td><%=st_usuario%></td>
    <td><%=st_acao%></td>
</script>

<script type="text/template" id="template-historico-lista-vazia">
    <td colspan="3">
        <div class="alert alert-warning">
            Nenhum item para exibição
        </div>
    </td>
</script>

<script type="text/javascript">
    <?php if($this->dados): ?>
    G2S.editModel = <?php echo json_encode($this->dados);  ?>;
    <?php else: ?>
    G2S.editModel = null;
    <?php endif; ?>
</script>

<script type="text/javascript"> $('#htmlContent script[type="text/template"]').appendTo($('#templateHolder'));</script>
<script type="text/javascript" src="/esquema-configuracao/js"></script>