<?php
/**
 * @author Vinicius Avelino Alcantara <vinicius.alcantara@unyleya.com.br>
 * @since: 01/09/2015
 */



?>
<!--<script id="entidade-composite" type="text/template">
    <div class="well">
        <fieldset>
            <legend>Selecione a Entidade</legend>
            <table class="table table-bordered table-striped table-hover backgrid">
                <thead>
                <tr>
                    <th>Entidade</th>
                    <th>Ações</th>
                </tr>
                </thead>
                <tbody></tbody>
            </table>
        </fieldset>
    </div>
</script>
<script id="entidade-view" type="text/template">
    <td><%= st_nomeentidade %></td>
    <td>
        <button class="btn btn-custom btn-small actionEdit" type="button" >
            Editar
        </button>
    </td>
</script> -->

<script id="entidade-composite" type="text/template">
    <div class="well">
        <fieldset>
            <legend>Selecione a Entidade</legend>
            <table class="table table-bordered table-striped table-hover backgrid">
                <thead>
                <tr>
                    <th>Entidade</th>
                    <th>Ações</th>
                </tr>
                </thead>
                <tbody></tbody>
            </table>
        </fieldset>
    </div>
</script>
<script id="entidade-view" type="text/template">
    <td><%= st_nomeentidade %></td>
    <td>
        <button class="btn btn-custom btn-small actionEdit" type="button" >
            Editar
        </button>
    </td>
</script>

<script id="entidade-composite" type="text/template">
    <div class="well">
        <fieldset>
            <legend>Selecione a Entidade</legend>
            <table class="table table-bordered table-striped table-hover backgrid">
                <thead>
                <tr>
                    <th>Entidade</th>
                    <th>Ações</th>
                </tr>
                </thead>
                <tbody></tbody>
            </table>
        </fieldset>
    </div>
</script>
<script id="entidade-view" type="text/template">
    <td><%= st_nomeentidade %></td>
    <td>
        <button class="btn btn-custom btn-small actionEdit" type="button" >
            Editar
        </button>
    </td>
</script>

<script id="entidade-composite" type="text/template">
    <div class="well">
        <fieldset>
            <legend>Selecione a Entidade</legend>
            <table class="table table-bordered table-striped table-hover backgrid">
                <thead>
                <tr>
                    <th>Entidade</th>
                    <th>Ações</th>
                </tr>
                </thead>
                <tbody></tbody>
            </table>
        </fieldset>
    </div>
</script>
<script id="entidade-view" type="text/template">
    <td><%= st_nomeentidade %></td>
    <td>
        <button class="btn btn-custom btn-small actionEdit" type="button" >
            Editar
        </button>
    </td>
</script>

<script id="departamento-composite" type="text/template">
    <div class="well">
        <fieldset>
            <legend>
                Preparação da Entidade
            </legend>
            <div class="row-fluid">
                <ul class="nav nav-tabs"></ul>
            </div>
            <div id="preparacao-container"></div>
        </fieldset>
    </div>
</script>
<script id="departamento-view" type="text/template">
    <a href="#dep-<%= id_departamento %>" data-toggle="tab"><%= st_departamento %></a>
</script>

<script id="preparacao-template" type="text/template">


    <table class="table table-bordered table-striped table-hover backgrid">
        <thead>
        <tr>
            <th>Título</th>
            <th>Descrição</th>
            <th>Responsável</th>
            <th>Local</th>
            <th style="width: 110px;">Situação</th>
        </tr>
        </thead>
        <tbody></tbody>
    </table>
</script>

<script id="preparacao-view" type="text/template">
    <td>
        <b style="font-size: 14px;"><%= st_itemativacao %></b>
    </td>
    <td><%= st_descricao %></td>
    <td><%= st_responsavel %></td>
    <td><%= st_caminhosistema %></td>
    <td id="situacao-container">
    </td>
</script>

<script type="text/javascript"> $('#htmlContent script[type="text/template"]').appendTo($('#templateHolder'));</script>
<script type="text/javascript"><?php echo $this->render('/preparacao-entidade/index.js') ?></script>