<?php
header("Content-type: application/vnd.ms-excel");
header("Content-type: application/force-download");
header("Pragma: no-cache");

$html = '<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" >';
$html .= '<table border="1" >';
$html .= '<thead >';
$html .= '<tr style="background-color:#395870; color: white">';
$html .= '<th>ID Projeto Pedagógico</th>';
$html .= '<th>Projeto Pedagógico</th>';
$html .= '<th>ID Disciplina</th>';
$html .= '<th>Título de Exibição</th>';
$html .= '<th>Título Disciplina</th>';
$html .= '<th>Carga Horária</th>';
$html .= '<th>Extensão de Arquivo</th>';
$html .= '<th>Descrição do Conteúdo</th>';
$html .= '<th>Data de Cadastro</th>';
$html .= '</tr>';
$html .= '</thead>';
$html .= '<tbody>';

foreach ($this->result as $value) {
    $html .= '<tr>';
    $html .= '<td>' . $value['id_projetopedagogico'] . '</td>';
    $html .= '<td>' . $value['st_projetopedagogico'] . '</td>';
    $html .= '<td>' . $value['id_disciplina'] . '</td>';
    $html .= '<td>' . $value['st_tituloexibicao'] . '</td>';
    $html .= '<td>' . $value['st_disciplina'] . '</td>';
    $html .= '<td>' . $value['nu_cargahoraria'] . '</td>';
    $html .= '<td>' . $value['st_formatoarquivo'] . '</td>';
    $html .= '<td>' . $value['st_descricaoconteudo'] . '</td>';
    $html .= '<td>' . $value['dt_cadastro'] . '</td>';
    $html .= '</tr>';

}
$html .= '</tbody>';
$html .= '</table>';
$arquivo = 'relatorio_consulta-disciplina_' . date('d-m-Y') . '.xls';
header("Last-Modified: " . gmdate("D,d M YH:i:s") . " GMT");
header("Cache-Control: no-cache, must-revalidate");
header("Pragma: no-cache");
//header('Content-type: ' . $this->tipo . '; charset="utf-8"');
header("Content-Disposition: attachment; filename=\"{$arquivo}\"");
header("Content-Description: PHP Generated Data");

echo $html;
?>
<style type="text/css" media="all">
    /*<style type="text/css" media="print" id="test">*/
    @page {
        margin: 1cm;
        size: 'A4';
    }

    table {
        width: 100%;
    }

    table, td, th {
        border: solid 1px #000;
        border-collapse: collapse;
        text-align: center;
        font-family: "Helvetica Neue", "Arial", sans-serif;
        font-size: 10pt !important;
    }

    td, th {
        padding: 2px;
    }

</style>