<script type="text/javascript"> $('#htmlContent script[type="text/template"]').appendTo($('#templateHolder'));</script>


<script type="text/template" id="template-layout-grade">
    <legend>Relatório de Consulta de Disciplina</legend>
    <div class="row-fluid" id="regiao-grade"></div>
    <div class="row-fluid" id="regiao-grade-data" style="overflow-x: auto;"></div>
</script>

<script type="text/template" id="template-form-grade">
    <div class="row-fluid">
        <form name="formRelatorio" id="formRelatorio" method="post" action="">
            <fieldset>
                <div class="well well-small">
                    <div class="row-fluid">
                        <div class="span4">
                            <label> Projeto Pedagógico: </label>
                            <select class="span12" id="id_projetopedagogico" name="id_projetopedagogico" required="required">
                                <option value="">Selecione</option>
                            </select>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span4">
                            <label> Disciplina: </label>
                            <select class="span12" id="id_disciplina" name="id_disciplina" disabled>
                                <option value="">Selecione</option>
                            </select>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span4">
                            <label> Extensão de Arquivo: </label>
                            <select class="span12" id="id_formatoarquivo" name="id_formatoarquivo">
                                <option value="">Selecione</option>
                            </select>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span4">
                            <label>Data de Cadastro do Conteúdo</label>
                            <div class="row-fluid">
                                <div class="span4">
                                    <div class="input-append">
                                        <input type="text" title="Data inicial" placeholder="Data inicial"
                                               data-maximo="dt_termino_cadastro_conteudo"
                                               class="span8 maskDate datepicker_range_min"
                                               value=""
                                               id="dt_inicial_cadastro_conteudo"
                                               name="dt_inicial_cadastro_conteudo">
                                        <button class="btn js-bt-calendar" data-calendar="dt_inicial_cadastro_conteudo" type="button">
                                            <i class="icon icon-calendar"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="span1" style="margin-top: 5px;">
                                    <label>a </label>
                                </div>
                                <div class="span4">
                                    <div class="input-append">
                                        <input type="text" title="Data final" placeholder="Data final"
                                               data-minimo="dt_inicial_cadastro_conteudo"
                                               class="span8 maskDate datepicker_range_max"
                                               value=""
                                               id="dt_termino_cadastro_conteudo"
                                               name="dt_termino_cadastro_conteudo">
                                        <button class="btn js-bt-calendar" data-calendar="dt_termino_cadastro_conteudo" type="button">
                                            <i class="icon icon-calendar"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="pull-right">
                            <button id="btnPesquisar" type="button" title="Pesquisar" class="btn-custom btn">
                                <i class="icon-search icon-white"></i> Pesquisar
                            </button>
                            <button class="btn-custom btn margin" type="button" id="btn_gerar_relatorio">
                                <i class="icon-file icon-white"></i> Gerar Excel
                            </button>
                        </div>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</script>
<link rel="stylesheet" type="text/css" href="/css/spinner/spinner.css"/>
<link rel="stylesheet" type="text/css" href="/css/relatorios/relatorio.css"/>