<script type="text/template" id="horario-de-aula-list">
    <button class="btn btn-success btn-small add">
        <i class="icon-plus icon-white"></i>
        Adicionar Novo
    </button>
    <table class="backgrid backgrid-selectall table table-striped table-bordered table-hover">
        <thead>
        <tr>
            <th class="hide">ID</th>
            <th>Horário</th>
            <th>Início</th>
            <th>Fim</th>
            <th>Tipo de Aula</th>
            <th>Turno</th>
            <th>Horário PontoSoft</th>
            <th>Dias</th>
            <th>Ações</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</script>

<script type="text/template" id="horario-de-aula-item">
    <td class="hide"><%= id_horarioaula %></td>
    <td><%= st_horarioaula %></td>
    <td><%= hr_inicio %></td>
    <td><%= hr_fim %></td>
    <td><%= id_tipoaula.st_tipoaula %></td>
    <td><%= id_turno.st_turno %></td>
    <td><%= st_codhorarioacesso %></td>
    <td width="215px">
        <%
        var dias = [];
        diasemana.bl_segunda ? dias.push('Seg') : '';
        diasemana.bl_terca ? dias.push('Ter') : '';
        diasemana.bl_quarta ? dias.push('Qua') : '';
        diasemana.bl_quinta ? dias.push('Qui') : '';
        diasemana.bl_sexta ? dias.push('Sex') : '';
        diasemana.bl_sabado ? dias.push('Sab') : '';
        diasemana.bl_domingo ? dias.push('Dom') : '';
        %>
        <%= dias.join(', ') %>
    </td>
    <td width="170px">
        <a class="btn btn-mini btn-custom edit">
            Editar
        </a>
        <a class="btn btn-mini btn-danger delete">
            Remover
        </a>
    </td>
</script>

<script type="text/template" id="horario-de-aula-edit">
    <td class="hide">
        <input type="hidden" name="id_horarioaula" value="<%= id_horarioaula %>" readonly="readonly"/>
    </td>
    <td>
        <input type="text" name="st_horarioaula" value="<%= st_horarioaula %>"/>
    </td>
    <td>
        <div class="input-append bootstrap-timepicker">
            <input class="timepicker" type="text" name="hr_inicio" value="<%= hr_inicio %>"/>
            <span class="add-on"><i class="icon-time"></i></span>
        </div>
    </td>
    <td>
        <div class="input-append bootstrap-timepicker">
            <input class="timepicker" type="text" name="hr_fim" value="<%= hr_fim %>"/>
            <span class="add-on"><i class="icon-time"></i></span>
        </div>
    </td>
    <td>
        <select class="tipo-aula-list" name="id_tipoaula">
            <option value="">Carregando...</option>
        </select>
    </td>
    <td>
        <select class="turno-list" name="id_turno">
            <option value="">Carregando...</option>
        </select>
    </td>
    <td>
        <select class="horario-list" name="id_codhorarioacesso">
            <option value="">Carregando...</option>
        </select>
    </td>
    <td>
        <label class="checkbox">
            <input type="checkbox" name="bl_segunda" value="1" <%= diasemana.bl_segunda ? 'checked' : ''  %> />
            Segunda
        </label>
        <label class="checkbox">
            <input type="checkbox" name="bl_terca" value="1" <%= diasemana.bl_terca ? 'checked' : ''  %> />
            Terça
        </label>
        <label class="checkbox">
            <input type="checkbox" name="bl_quarta" value="1" <%= diasemana.bl_quarta ? 'checked' : ''  %> />
            Quarta
        </label>
        <label class="checkbox">
            <input type="checkbox" name="bl_quinta" value="1" <%= diasemana.bl_quinta ? 'checked' : ''  %> />
            Quinta
        </label>
        <label class="checkbox">
            <input type="checkbox" name="bl_sexta" value="1" <%= diasemana.bl_sexta ? 'checked' : ''  %> />
            Sexta
        </label>
        <label class="checkbox">
            <input type="checkbox" name="bl_sabado" value="1" <%= diasemana.bl_sabado ? 'checked' : ''  %> />
            Sábado
        </label>
        <label class="checkbox">
            <input type="checkbox" name="bl_domingo" value="1" <%= diasemana.bl_domingo ? 'checked' : ''  %> />
            Domingo
        </label>
    </td>
    <td width="170px">
        <a class="btn btn-mini btn-success save">
            Salvar
        </a>
        <a class="btn btn-mini cancel">
            Cancelar
        </a>
    </td>
</script>


<style>
    .bootstrap-timepicker{position:relative}.bootstrap-timepicker.pull-right .bootstrap-timepicker-widget.dropdown-menu{left:auto;right:0}.bootstrap-timepicker.pull-right .bootstrap-timepicker-widget.dropdown-menu:before{left:auto;right:12px}.bootstrap-timepicker.pull-right .bootstrap-timepicker-widget.dropdown-menu:after{left:auto;right:13px}.bootstrap-timepicker .add-on{cursor:pointer}.bootstrap-timepicker .add-on i{display:inline-block;width:16px;height:16px}.bootstrap-timepicker-widget.dropdown-menu{padding:2px 3px 2px 2px}.bootstrap-timepicker-widget.dropdown-menu.open{display:inline-block}.bootstrap-timepicker-widget.dropdown-menu:before{border-bottom:7px solid rgba(0,0,0,0.2);border-left:7px solid transparent;border-right:7px solid transparent;content:"";display:inline-block;left:9px;position:absolute;top:-7px}.bootstrap-timepicker-widget.dropdown-menu:after{border-bottom:6px solid #fff;border-left:6px solid transparent;border-right:6px solid transparent;content:"";display:inline-block;left:10px;position:absolute;top:-6px}.bootstrap-timepicker-widget.timepicker-orient-left:before{left:6px}.bootstrap-timepicker-widget.timepicker-orient-left:after{left:7px}.bootstrap-timepicker-widget.timepicker-orient-right:before{right:6px}.bootstrap-timepicker-widget.timepicker-orient-right:after{right:7px}.bootstrap-timepicker-widget.timepicker-orient-top:before{top:-7px}.bootstrap-timepicker-widget.timepicker-orient-top:after{top:-6px}.bootstrap-timepicker-widget.timepicker-orient-bottom:before{bottom:-7px;border-bottom:0;border-top:7px solid #999}.bootstrap-timepicker-widget.timepicker-orient-bottom:after{bottom:-6px;border-bottom:0;border-top:6px solid #fff}.bootstrap-timepicker-widget a.btn,.bootstrap-timepicker-widget input{border-radius:4px}.bootstrap-timepicker-widget table{width:100%;margin:0}.bootstrap-timepicker-widget table td{text-align:center;height:30px;margin:0;padding:2px}.bootstrap-timepicker-widget table td:not(.separator){min-width:30px}.bootstrap-timepicker-widget table td span{width:100%}.bootstrap-timepicker-widget table td a{border:1px transparent solid;width:100%;display:inline-block;margin:0;padding:8px 0;outline:0;color:#333}.bootstrap-timepicker-widget table td a:hover{text-decoration:none;background-color:#eee;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;border-color:#ddd}.bootstrap-timepicker-widget table td a i{margin-top:2px;font-size:18px}.bootstrap-timepicker-widget table td input{width:25px;margin:0;text-align:center}.bootstrap-timepicker-widget .modal-content{padding:4px}@media(min-width:767px){.bootstrap-timepicker-widget.modal{width:200px;margin-left:-100px}}@media(max-width:767px){.bootstrap-timepicker{width:100%}.bootstrap-timepicker .dropdown-menu{width:100%}}
</style>

<div id="horario-de-aula">
    <?php
    // Esta TAG é o conteúdo que virá do restful
    ?>
    Carregando...
</div>

<div class="clearfix"></div>
<hr />

<script type="text/javascript"> $('#htmlContent script[type="text/template"]').appendTo($('#templateHolder'));</script>
<script type="text/javascript" src="<?php echo $this->url() ?>/js"></script>