<!DOCTYPE html>
<html>
<head>
	<title>Portal do Aluno</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" type="text/css" href="<?php echo $this->baseUrl?>/css/reset.css" />
	<link rel="stylesheet" type="text/css" href="<?php echo $this->baseUrl?>/css/style.css" />
	<link href='http://fonts.googleapis.com/css?family=Ropa+Sans' rel='stylesheet' type='text/css'>
</head>
<body>
	<div id="tudo">
		<div id="bar_top_in">
			<div id="cabecalho">
				<div class="logo">
					<h1 class="portal">PORTAL</h1> <h1 class="aluno">DO ALUNO</h1>
				</div>
				<div id="aluno">
					<a href="<?php echo $this->baseUrl?>/unico?entidade=<?php echo $this->id_entidade?>" target="_parent">
					<button type="button" name="btSair" id="btSair" class="botao">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Sair&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button>
					</a> 
				</div>
			</div>
		</div>
		
		<?php 
		if(!empty($this->sistemas)){ 
			
			?>
		<!-- BOX -->
		<div id="box">
			<hr />
				<?php 
				
				if($this->st_urlimglogo) {
					$logo = $this->st_urlimglogo;
				} else {
					$logo = '/upload/entidade/entidade_foto_generica.jpg';
				}
					
				?>
				<img src="<?php echo $this->baseUrl . $logo; ?>" class="logo" /> 
				<div class="lista">
					<ul>
					<?php 
					foreach($this->sistemas as $sistema){
						foreach($sistema['acesso'] as $loginUnicoTO){	?>
						<li style="list-style-image: url('<?php echo $this->baseUrl?>/imagens/item.png')">
						<a class="linkcurso" href="<?php echo $loginUnicoTO->getst_url() ?>" target="_<?php echo str_replace(' ', '_', $sistema['sistema']) ?>">
						<?php echo $loginUnicoTO->getSt_perfil() ?> - <?php echo $loginUnicoTO->getst_titulo() ?>
						</a>
						</li>
					<?php 
						} 
					}	?>
					</ul>
				</div>
			<hr />
		</div>
		<?php 
		
		}	
		?>
	</div>
</body>
</html>