<!DOCTYPE html>
<html>

<head>
	<title>Portal do Aluno</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!-- Google Tag Manager -->
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({
                'gtm.start': new Date().getTime(),
                event: 'gtm.js'
            });
            var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s),
                dl = l != 'dataLayer' ? '&l=' + l : '';
            j.async = true;
            j.src =
                'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-TZBDDZL');
    </script>
    <!-- End Google Tag Manager -->
	<link rel="stylesheet" type="text/css" href="<?php echo $this->baseUrl?>/css/reset.css" />

    <link type="text/css"
          href="<?php echo Ead1_Ambiente::geral()->st_url_library; ?>/js/jquery/jquery-ui-1.8.17.custom.css"
          rel="stylesheet"
    />
	<script type="text/javascript" src="<?php echo Ead1_Ambiente::geral()->st_url_library;?>/js/jquery/jquery-1.7.1.min.js"></script>
	<script type="text/javascript" src="<?php echo Ead1_Ambiente::geral()->st_url_library;?>/js/jquery/jquery-ui-1.8.17.custom.min.js"></script>

	<script src="<?php echo Ead1_Ambiente::geral()->st_url_library;?>/js/jquery/jquery.form.js" type="text/javascript"></script>
	<script src="<?php echo Ead1_Ambiente::geral()->st_url_library;?>/js/jquery/jquery.numeric.pack.js" type="text/javascript"></script>
    <script src="<?php echo Ead1_Ambiente::geral()->st_url_library; ?>/js/jquery/jqueryvalidate/jquery.validate.js"
            type="text/javascript"></script>
    <script src="<?php echo Ead1_Ambiente::geral()->st_url_library; ?>/js/jquery/jqueryvalidate/additional-methods.js"
            type="text/javascript"></script>
    <script src="<?php echo Ead1_Ambiente::geral()->st_url_library; ?>/js/jquery/jqueryvalidate/localization/messages_ptbr.js"
            type="text/javascript"></script>
	<script src="<?php echo Ead1_Ambiente::geral()->st_url_library;?>/js/jquery/jquery.selectboxes.js" type="text/javascript"></script>
	<script type="text/javascript" src="<?php echo Ead1_Ambiente::geral()->st_url_library;?>/js/classes/mensageiro.js"></script>
    <script type="text/javascript"
            src="<?php echo Ead1_Ambiente::geral()->st_url_library; ?>/js/funcoes/funcoes.js"></script>

    <link rel="stylesheet" href="<?php echo Ead1_Ambiente::geral()->st_url_library; ?>/css/loja/pagamento.css"
          type="text/css"
    />

    <link rel="stylesheet" type="text/css" href="<?php echo $this->baseUrl ?>/css/style.css"/>
	<link href='http://fonts.googleapis.com/css?family=Ropa+Sans' rel='stylesheet' type='text/css'>


    <script language="javascript">
        $(function () {

            $("#frmloginunico").validate({

                rules: {
                    st_usuario: "required",
                    st_senha: "required"
                }

            });


            $("#btEntrar").click(function () {
                if ($("#frmloginunico").valid()) {
                    $("#frmloginunico").submit();
                } else {
                    return false;
                }
                ;
            });

        });
    </script>


</head>

<body>
<!-- Google Tag Manager (noscript) -->
<noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TZBDDZL" height="0" width="0"
            style="display:none;visibility:hidden"></iframe>
</noscript>
<!-- End Google Tag Manager (noscript) -->
	<div id="tudo">
		<div id="bar_top"></div>
        <div id="box_login">
            <!--CAIXA DE LOGIN-->
            <div class="esquerdo">
                <!--PARTE ESQUERDA - LOGO-->
                <h1 class="portal">PORTAL</h1>
                <h1 class="aluno">DO ALUNO</h1>
				<p class="welcome">Seja bem-vindo ao portal do aluno. Por favor, insira seu nome de usuário e senha para ter acesso ao sistema.</p>
			</div>
            <div class="direito">
                <!--PARTE DIREITA - CAMPOS-->
                <form name="frmloginunico" id="frmloginunico"
                      action="<?php echo $this->baseUrl . '/unico/index/acessar'; ?>" method="post"
                      target="_parent">
					<p style="clear: both;">
                        <label for="st_usuario">Login</label>
                        <br/>
                        <input type="text" name="st_usuario" id="st_usuario"/>
					</p>

                    <p style="clear: both;">
                        <label for="st_senha">Senha</label>
                        <input type="password" name="st_senha" id="st_senha"/>
                        <input type="hidden" name="entidade" id="entidade" value="<?= $this->id_entidade ?>"/>
					</p>

                    <p style="clear: both;">
                        <button type="button" name="btEntrar" id="btEntrar" class="botao">entrar</button>
					</p>
                    <p class="recupera_senha">
                        <a href="<?php echo $this->baseUrl . '/unico/senha/recuperar?entidade=' . $this->id_entidade; ?>"
                           target="_parent">Não consegue acessar sua conta?</a>
                    </p>
				</form>
			</div>
		</div>
	</div>
</body>

</html>