<style>
    .ui-datepicker-calendar {
        display: none;
    }


</style>

<script type="text/javascript"> $('#htmlContent script[type="text/template"]').appendTo($('#templateHolder'));</script>

<script type="text/template" id="template-relatorio">

    <div class="row-fluid" id="regiao-grade"></div>
</script>

<script type="text/template" id="template-form-folha-pagamento">
    <div class="row-fluid">
        <form name="formRelatorio" id="formRelatorio" method="post" action="">
            <fieldset>
                <div class="row-fluid">
                    <div id="div_carregando"><img src="/gestor2/img/select2/select2-spinner.gif"> Carregando</div>
                    <div id="div_coordenador" style="display: none">
                        <label> Coordenador: </label>
                        <select class="span8" id="id_coordenador" name="id_coordenador" required="required">
                            <option value="">Selecione um coordenador</option>
                        </select>
                    </div>
                    <div id="div_projetospedagogicos" style="display: none">
                        <label> Projeto Pedagógico: </label>
                        <select class="span8" id="projetosPedagogicos" name="projetosPedagogicos">
                            <option value="">Selecione um projeto pedagógico</option>
                        </select>
                    </div>
                    <div id="div_datas">
                        <div>
                            <label> Data da matrícula entre: </label>
                            <input id="data_inicio" class="datepicker maskDate" type="text" name="data"
                                   placeholder="__/__/____"/>
                            <label> e </label>
                            <input id="data_termino" class="datepicker maskDate" type="text" name="data"
                                   placeholder="__/__/____"/>
                        </div>
                    </div>
                </div>
            </fieldset>
            <div class=" well-medium botoes_tabela">
                <div class="div_relatorio">
                    <div class="label_coord">
                        <label id="qntdReg"></label>
                    </div>
                    <button class="btn margin" type="button" id="btnGeralExcel" title="Gerar XLS">
                        <i class="icon-file"></i>
                    </button>
                    <button class="btn-custom btn margin" type="button" id="btnPesquisar">
                        <i class="icon-search icon-white"></i> Pesquisar
                    </button>
                </div>
            </div>
            <div class="row-fluid" id="regiao-grade-data" style="overflow-x: auto;margin-top: 10px"></div>
        </form>
    </div>
</script>
