<div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="title-block clearfix">
            <h3 class="h3-body-title uny">Minha pasta</h3>

            <div class="title-seperator"></div>
        </div>
        <div class="content">
            <ul class="icons-list arrow colored-list">
                <?php
                if ($this->listaArquivosServidor) {
                    foreach ($this->listaArquivosServidor as $arquivo) {
                        echo $arquivo;
                    }
                }
                foreach ($this->listaArquivosBanco as $arquivo) {
                    if (!empty($arquivo['st_contratoUrl'])) {
                        $stContrato = $arquivo['st_contratoUrl'];
                    } else if (!empty($arquivo['st_contrato'])) {
                        $stContrato = $arquivo['st_contrato'];
                    } else {
                        $stContrato = '';
                    }

                    if ($stContrato) {
                        ?>
                        <li>
                            <a href="/upload/minhapasta/<?php echo $arquivo['id_venda'] ?>/<?php echo $arquivo['st_contratoUrl'] ?>"
                               target="_blank">
                                <?php echo $arquivo['st_contrato'] ?>
                            </a>
                        </li>
                        <?php
                    }
                }
                ?>
            </ul>

        </div>
    </div>
</div>