/**
    Document   : modal
    Created on : 08/08/2013, 20:05:22
    Author     : Rafael Bruno <rafaelbruno.ti@gmail.com>
    Description:
    Purpose of the stylesheet follows.
*/
.modal{
    position: absolute; 
    z-index: 2; 
    background-color: rgba(0, 0, 0, 0.5); 
    width: 100%; 
    height: 100%; 
    top: 1px;
    display: none;
}
.modal #body{
    position: absolute;
    border-radius: 5px;
    z-index: 3;
    background-color: #FFFFFF;
    min-width: 30%;
    min-height: 30%;
    margin: 5% 0 0 33%;
    padding: 1%;
}
.modal #header{
    color: #428BCA;
}
.modal hr{
    text-decoration-color: #428BCA;
}
.modal #buttons{
    position: absolute;
    bottom: 10px;
    right: 10px;
    text-align: right;
}
.modal button{
    background-color: #428BCA;
    color: #FFFFFF;
    cursor: pointer;
    padding: 6px 12px;
    vertical-align: middle;
    text-align: center;
    border-radius: 4px;
    border-color: #357EBD;
    border: 1px solid transparent;
    margin: 1px;
}
.modal .close{
    position: absolute;
    float: right;
    right: 10px;
    top: 10px;
    color: #000000;
    float: right;
    font-size: 21px;
    font-weight: bold;
    line-height: 1;
    opacity: 0.2;
    text-shadow: 0 1px 0 #FFFFFF;
    cursor: pointer;
}