/*
ESTE ARQUIVO GUARDA APENAS TIPO, TAMANHO E COR DE FONTES.
*/

body { font-size:11px; color:#000; font-family:Verdana, Geneva, sans-serif; line-height:14px; }

/* CONTEÚDO TOTAL DA PAGINA */
div#pagina_corpo {  }

/* CABECALHO DA PAGINA */
div#pagina_cabecalho { color:#000; }
div#pagina_cabecalho_logo_entidade {}

div#pagina_cabecalho_pessoa_informacoes { text-align:left; padding:5px; vertical-align: middle; line-height:15px; }

div#pagina_cabecalho_pessoa_avatar {}


div#pagina_cabecalho_area_informacoes {}
/* FIM CABECALHO DA PAGINA */


div#pagina_menu {}

div#pagina_rodape {}

div#pagina_conteudo {}


label {
	color:#033;
	font-weight:bolder;
}

.error {
	color:#F00;	
}

ul.login, ul.login ul {	
}
li.login_entidade {
	font-size:16px;
	color:#069;
	font-weight:bolder;
}
li.login_entidade_perfil, li.login_entidade_perfil a {
	text-decoration: none;
	font-size:12px;
	color:#000;
	font-weight:bolder;
	cursor:pointer;
}
li.login_entidade_perfil:hover, li.login_entidade_perfil a:hover {
	text-decoration: none;
	color:#FFF;
}

#barra_menu_scroll_buttons a {color:#fff;text-decoration:none;font-size:95%; font-weight:bold;}
#barra_menu_scroll_buttons a:hover {color:#fff;text-decoration:none;font-size:95%; font-weight:bold;}

#barra_menu_scroll_info a {color:#fff;text-decoration:none;font-size:95%; font-weight:bold;}
#barra_menu_scroll_info a:hover {color:#fff;text-decoration:none;font-size:95%; font-weight:bold;}

#barra_menu_scroll {  }