<script type="text/template" id="layout-esquema-template">
    <div class="row-fluid">
        <div class="row-fluid" id="box-form-esquema"></div>
        <div class="row-fluid" id="box-categorias"></div>

        <div class="form-actions" id="box-botoes">
            <button type="button" id="btn-salvar" class="btn btn-success pull-right">Salvar</button>
        </div>
    </div>
</script>

<script type="text/template" id="form-esquema-template">
    <form id="form-esquema">
        <div class="row-fluid">
            <label>Nome do Esquema:
                <input type="text" class="span12" name="st_esquemapergunta"
                       placeholder="<Esquema de Perguntas Frequentes>" value="<%=st_esquemapergunta%>">
            </label>
        </div>
    </form>
</script>

<script type="text/template" id="form-categoria-template">
    <form id="form-categoria" class="form-inline">
        <input type="text" class="input-xxlarge" name="st_categoriapergunta" value="<%=st_categoriapergunta%>"
               placeholder="Categoria">
        <button type="button" disabled class="btn btn-success btn-adicionar">
            <i class="icon icon-plus icon-white"></i> Adicionar Categoria
        </button>
        <button type="button" disabled class="btn hide btn-success btn-editar">
            <i class="icon icon-pencil icon-white"></i> Editar Categoria
        </button>
        <button type="button" class="btn hide btn-cancelar">
            Cancelar
        </button>
    </form>
</script>

<script type="text/template" id="item-aba-categoria-template">
    <a href="#<%=hashId%>" data-toggle="tab">
        <span class="btn-close" title="Clique para remover esta categoria."><i class="ico icon-remove"></i></span>
        <%=st_categoriapergunta%>
    </a>
</script>

<script type="text/template" id="item-pergunta-empty-template">
    <div class="alert">
        Sem perguntas vinculadas a categoria.
    </div>
</script>


<script type="text/template" id="categorias-empty-template">
    <div class="alert">
        Sem categorias para listar, insira uma categoria para cadastrar uma pergunta.
    </div>
</script>

<script type="text/template" id="item-container-pergunta-template">
    <div class="row-fluid">
        <div class="span11">
            <label>
                Pergunta:
                <textarea class="span12" name="st_pergunta"><%=st_pergunta%></textarea>
            </label>
            <label>
                Resposta:
                <textarea class="span12" name="st_resposta"><%=st_resposta%></textarea>
            </label>
        </div>
        <div class="span1">
            <button type="button" title="Remover Pergunta" class="btn btn-danger btn-remover-pergunta">
                <i class="icon icon-remove icon-white"></i>
            </button>
        </div>
    </div>
</script>


<script type="text/template" id="container-item-categoria-template">
    <div>
        <button type="button" class="btn pull-right btn-add-pergunta">
            <i class="icon icon-plus"></i> Adicionar Pergunta
        </button>
        <button type="button" class="btn btn-inverse pull-right btn-edit-categoria">
            <i class="icon icon-pencil icon-white"></i> Editar Categoria
        </button>
        <div class="clearfix"></div>
        <br>
    </div>
    <div class="box-container-perguntas"></div>
</script>


<script type="text/template" id="categorias-list-template">
    <div class="tabbable tabs-left">
        <ul class="nav nav-tabs"></ul>
        <div class="tab-content"></div>
    </div>
</script>


<script type="text/template" id="container-categorias-template">
    <div id="box-form-categoria" class="row-fluid"></div>
    <div class="row-fluid" id="box-categorias-list"></div>
</script>

<script type="text/javascript">
    $('#htmlContent script[type="text/template"]').appendTo($('#templateHolder'));
    G2S.editModel = null;
    <?php if($this->esquema): ?>
    G2S.editModel = <?php echo json_encode($this->esquema); ?>;
    <?php endif; ?>


</script>
<script type="text/javascript" src="/perguntas-frequentes/js"></script>