<script type="text/javascript" src="/js/backbone/views/Util/SelectView.js"></script>
<script type="text/javascript" src="/js/auto-complete-componente.js"></script>

<?php echo $this->render('/util/auto-complete-pessoa.phtml'); ?>

<script type="text/template" id="template-carta-principal">
    <div class="row-fluid">
        <div id="autoComplete" class="row-fluid"></div>
        <div id="wrapper-body"></div>
        <div id="wrapper-modal"></div>
    </div>
</script>

<script type="text/template" id="bodyPrincipal">
    <div class=" well well-large">
        <div class="row-fluid">
            <div class="span12">
                <button type="button" id="btnAdd" class="btn pull-right"><i class="icon-plus"></i>Adicionar Carta de
                    Crédito
                </button>
            </div>
        </div>
        <div class="row-fluid marginT20">
            <div class="span12">
                <div id="wrapper-table" name="wrapper-table"></div>
            </div>
        </div>
    </div>
</script>

<script type="text/template" id="modalCarta">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3><%=operacao%></h3>
    </div>
    <div class="modal-body">
        <div class="row-fluid">
            <div class="span12">
                <div class="span6">
                    <div id="divIdEntidade">
                        <label>Entidade</label>
                        <select class="span12" id="id_entidade" name="id_entidade">
                            <option value="" selected>Selecione</option>
                        </select>
                    </div>
                </div>
                <div class="span6">
                    <div id="divIdSituacao">
                        <label>Situação</label>
                        <select class="span12" id="id_situacao" name="id_situacao">
                            <option value="" disabled>Selecione</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span12">
                <div class="span6">
                    <div id="divValidade">
                        <label>Data de Validade:</label>
                        <input type="text" id="dt_validade" class="datepickerStart span12" value="<%=dt_validade%>">
                    </div>
                </div>
                <div class="span6 input-prepend">
                    <div id="divValor">
                        <label>Valor da Carta de Crédito:</label>
                        <div class="input-prepend">
                            <span class="add-on">R$</span>
                            <input type="text" id="nu_valor" <%=modificada%> class="span12"
                            value="<%=nu_valordisponivel%>">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" id="btnSalvar" class="btn btn-primary">Salvar</button>
        <a href="#" class="btn" id="btn_voltarcancelar" data-dismiss="modal" aria-hidden="true">Fechar</a>
    </div>
</script>

<script type="text/javascript">
    $('#templateHolder').empty().html($('#htmlContent script[type="text/template"]'));
</script>
<script type="text/javascript" src="/carta-credito/js"></script>