<div class="well">
    <div class="row-fluid">
        <fieldset>
            <legend>Lançar Frequência - Busca</legend>
            <form method="post" class="form-search form-inline" name="formPesquisaAlunosAplicacao" id="formPesquisaAlunosAplicacao" onsubmit="return false">
                <div class="row-fluid">
                    <label class="span3">
                        Nome do aluno:
                        <input id="st_nomecompleto" class="span12" type="text" name="st_nomecompleto"/>
                    </label>
                    <label class="span2">
                        UF:
                        <select id="sg_uf" name="sg_uf" class="span12">
                            <option value=""></option>
                        </select>
                    </label>
                    <label class="span3">
                        Município:
                        <select id="id_municipio" name="id_municipio" class="span12">
                            <option value=""></option>
                        </select>
                    </label>
                    <label class="span2">
                        Aplicador:
                        <select id="id_aplicadorprova" name="id_aplicadorprova" class="span12">
                            <option value=""></option>
                        </select>
                    </label>
                    <label class="span2">
                        Data da Prova:
                        <input class="span12 datepicker maskDate" type="text" id="dt_aplicacao" name="dt_aplicacao" placeholder="__/__/____">
                    </label>
                </div>
                <div class="row-fluid marginT20 text-right">
                    <button class="btn btn-custom" id="btnPesquisarAlunos" type="submit">
                        <i class="icon-search icon-white"></i>
                        Pesquisar
                    </button>
                    <a id="botao-print" class="btn btn-custom hidden" target="_blank">
                        <i class="icon-print icon-white"></i>
                        Imprimir
                    </a>
                </div>
            </form>
        </fieldset>
    </div>
</div>
<div class="row-fluid">
    <fieldset>
        <hr/>
        <table id="table-alunos" class="backgrid table table-bordered table-hover table-striped hide">
            <thead>
            <tr>
                <th>Alunos</th>
                <th>Tipo Avaliação</th>
                <th>Projeto Pedagógico</th>
                <th>Disciplina</th>
                <th>Data da Prova</th>
                <th>Hora da Prova</th>
                <th>Pólo</th>
                <th>Presença</th>
                <th>Responsável</th>
                <th>Ações</th>
            </tr>
            </thead>
            <tbody id="alunos-row-container"></tbody>
        </table>
    </fieldset>
</div>

        