<td><%=st_exibe%></td>
<td><%=st_avaliacao%></td>
<td><%=st_projetopedagogico%></td>
<td><%=st_disciplina%></td>
<td><%=dt_aplicacao%></td>
<td><%=st_horarioaula%></td>
<td><%=st_aplicadorprova%></td>
<td>
    <select required id="nu_presenca" name="nu_presenca">
        <option value="" disabled="disabled" <%= nu_presenca === '' ? 'selected' : '' %> >[Selecione]</option>
        <option value="1" <%= parseInt(nu_presenca) === 1 ? 'selected' : '' %> >Presente</option>
        <option value="0" <%= parseInt(nu_presenca) === 0 ? 'selected' : '' %> >Ausente</option>
    </select>
</td>
<td><%=st_usuariolancamento%></td>
<td>
    <div>
        <a class='btn btn-small btn-default editarlancamento' rel='tooltip' data-trigger='hover'
           data-placement='top' data-toggle='popover' data-content='Edita lançamento de frequência.' data-original-title='Editar' disabled="disabled">
            <i class='icon icon-edit'></i>
        </a>

        <a class='btn btn-small btn-success historico' rel='tooltip' data-trigger='hover'
           data-placement='top' data-toggle='popover' data-content='Exibe as alterações de lançamento de frequência.' data-original-title='Histórico de lançamentos'>
            <i class='icon icon-white icon-list-alt'></i>
        </a>
    </div>
    <div id="container-modal-historico-lancamento"></div>
</td>
