<div id="modalRetornoSincronizacao"></div>

<script type="text/template" id="form-integracao">
    <div class="container-fluid">
        <div id="content-regiao"></div>
        <div id="content-geral"></div>
        <div id="content-totvs">
            <div id="content-form-financeiro"></div>
            <div id="content-meio-pagamento"></div>
        </div>
    </div>
</script>

<script type="text/template" id="content-form-integracao">
    <div id="form-integracao-seletor" class="row-fluid">
        <label>Sistema</label>
        <select id="id_sistema" name="id_sistema" style="width: 250px;" required>
            <option value="">Selecione o Sistema a Integrar</option>
            <option value="3">RM - Fluxus - Totvs</option>
            <option value="6">Moodle</option>
            <option value="15">BlackBoard</option>
        </select>
    </div>
</script>

<script type="text/template" id="item-totvs-template">
</script>

<script type="text/template" id="totvs-composite-view">
    <div id="totvs-content">
    </div>
</script>

<script type="text/template" id="dadosFinanceirosItemView">
    <fieldset>
        <legend>Dados Financeiros</legend>
        <div class="row-fluid">
            <div class="span6 form-inline">
                <label>Coligada:</label>
                <input class="span9" id="coligada" name="coligada" value="<%=st_codsistema%>">
            </div>
            <div class="span6 form-inline">
                <label>Centro de Custo:</label>
                <input class="span8" id="centroDeCusto" name="centroDeCusto" value="<%=st_codchave%>">
            </div>
            <input type="hidden" id="id_entidadeintegracao" value="<%=id_entidadeintegracao%>">
        </div>

    </fieldset>

    <fieldset>
        <legend>Meio de Pagamento</legend>
        <div id="meioDePagamento">
        </div>
    </fieldset>

    <div id="lista-meio-pagamento" class="row-fluid form-inline">

    </div>

    <fieldset>
        <div>
            <legend></legend>
            <div class="well well-small">
                <button type="button" class="btn btn-success" id="btnEnviar">Enviar Dados</button>
            </div>
        </div>
    </fieldset>

</script>

<script type="text/template" id="linha-meio-pagamento">
    <div class="span12 form-inline well well-small">
        <div class="span6">
            <label class="control-label">
                <p><strong>Meio de Pagamento:</strong></p>

                <p><%=st_meiopagamento%><% if(id_meiopagamento == 1 || id_meiopagamento == 7){ %> - <%=st_cartaobandeira%><% } %></p>
            </label>
        </div>
        <div class="span3">
            <label class="control-label" for="codigoDoMeio">Código do Meio</label>
            <input type="text" class="span3" value="<%= st_codsistema %>" name="codigoDoMeio" id="codigoDoMeio"
                   placeholder="Código do Meio">
        </div>
        <div class="span3">
            <label class="control-label" for="contaCaixa">Conta Caixa</label>
            <input type="text" class="span3" value="<%= st_codcontacaixa %>" name="contaCaixa" id="contaCaixa"
                   placeholder="Conta Caixa">
            <input type="hidden" name="id_meiopagamentointegracao" value="<%=id_meiopagamentointegracao%>">
        </div>
    </div>
</script>

<script type="text/template" id="tela-cadastro-moodles">
    <style>
        .margin-15px {
            margin-top: 15px;
        }
    </style>

    <div class="row margin-15px">
        <div class="span-6">
            <button class="btn btn-primary" id="cadastrar-moodle">+ Adicionar Novo Moodle</button>
        </div>
    </div>

    <div class="row margin-15px">
        <table class="backgrid backgrid-selectall table table-striped table-bordered table-hover">
            <thead>
            <tr>
                <th>ID</th>
                <th>Nome do Moodle</th>
                <th>Situação Para Criar Salas</th>
                <th>Opções</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</script>

<script type="text/template" id="linha-selecao-moodle">
    <td><%= id_entidadeintegracao %></td>
    <td><%= st_titulo %></td>
    <td><%= id_situacao == 198 ? 'Ativo' : 'Inativo' %></td>
    <td><button class="btn" id="btnEditar">Editar</button></td>
</script>

<script type="text/template" id="templateMoodleItemView">

    <style>
        .margin-15px {
            margin-top: 15px;
        }
    </style>

    <div class="row-fluid">
        <div class="span12">
            <legend>Dados de Integração</legend>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span6">
            <label class="control-label" for="st_titulo">Nome do Moodle</label>
            <input type="text" class="span12" id="st_titulo" placeholder="Nome" value="<%= st_titulo %>">
        </div>
        <div class="span6">
            <label class="control-label" for="endereco">Endereço</label>
            <input type="text" class="span12" id="endereco" placeholder="Endereço" value="<%= st_codsistema %>">
        </div>
    </div>
    <div class="row-fluid">
        <div class="span6">
            <label class="control-label" for="token">Token Web Service Unyleya</label>
            <input type="text" class="span12" id="st_codchavewsuny" placeholder="Token Web Services Unyleya" value="<%= st_codchavewsuny %>">
        </div>
        <div class="span6">
            <label class="control-label" for="token">Token</label>
            <input type="text" class="span12" id="token" placeholder="Token" value="<%= st_codchave %>">
        </div>
    </div>
    <div class="row-fluid">
        <div class="span3">
            <label class="control-label" for="categoria">Categoria Padrão</label>
            <input type="text" class="span12" id="categoria" placeholder="Categoria Padrão" value="<%= st_codarea %>">
        </div>
        <div class="span3">
            <label class="control-label" for="contexto">Contexto</label>
            <input type="text" class="span12" id="contexto" placeholder="Contexto" value="<%= nu_contexto %>">
        </div>
    </div>

    <div class="row-fluid">
        <div class="span12">
            <legend>Perfis de Integração</legend>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span4">
            <label class="control-label" for="suporte">Suporte</label>
            <input type="text" class="span12" id="suporte" placeholder="Suporte" value="<%= nu_perfilsuporte %>">
        </div>
        <div class="span4">
            <label class="control-label" for="observador">Observador Institucional</label>
            <input type="text" class="span12" id="observador" placeholder="Observador Institucional"
                   value="<%= nu_perfilobservador %>">
        </div>
        <div class="span4">
            <label class="control-label" for="alunoinstitucional">Aluno Institucional</label>
            <input type="text" class="span12" id="alunoinstitucional" placeholder="Aluno Institucional"
                   value="<%= nu_perfilalunoobs %>">
        </div>
    </div>
    <div class="row-fluid">
        <div class="span4">
            <label class="control-label" for="coordenadorpedagogico">Coordenador de Projeto Pedagógico</label>
            <input type="text" class="span12" id="coordenadorpedagogico" placeholder="Coordenador de Projeto Pedagógico"
                   value="<%= nu_perfilprojeto %>">
        </div>
        <div class="span4">
            <label class="control-label" for="coordenadordisciplina">Coordenador de Disciplina</label>
            <input type="text" id="coordenadordisciplina" class="span12" placeholder="Coordenador de Disciplina"
                   value="<%= nu_perfildisciplina %>">
        </div>
        <div class="span4">
            <label class="control-label" for="alunoencerrado">Aluno Encerrado</label>
            <input type="text" class="span12" id="alunoencerrado" placeholder="Aluno Encerrado"
                   value="<%= nu_perfilalunoencerrado %>">
        </div>
    </div>
    <div class="row-fluid">
        <div class="span4">
            <label for="id_situacao">Situação</label>
            <select required name="id_situacao" id="id_situacao">
                <option value="198" selected >Ativo</option>
                <option value="199">Inativo</option>
            </select>
        </div>
    </div>

    <div class="row-fluid pull-center margin-15px">
        <button type="button" id="sincronizar" class="btn btn-custom">Sincronizar</button>
        <button type="button" id="sincronizarAlunos" class="btn btn-custom">Sincronizar Alunos</button>
    </div>

    <div id="sincronizacao-saida-container">
    </div>

    <div class="row-fluid">
        <div class="span12">
            <br>
            <legend></legend>
            <div class="well well-small">
                <input type="hidden" id="id_entidadeintegracao" value="<%= id_entidadeintegracao %>">
                <button type="button" class="btn btn-success" id="salvarMoodle">Enviar Dados</button>
            </div>
        </div>
    </div>
</script>

<script type="text/template" id="blackboard-composite-view">
    <br>
    <div id="black-board-item-container">
    </div>
</script>

<script type="text/template" id="blackboard-item-view">
    <div class="row-fluid" id="linha-integracao">
        <a id="btn-integrar-entidade" class="btn btn-custom btn-small nintegrado"> Integrar Entidade </a>
        <a id="btn-integrar-sala" class="btn btn-custom btn-small integrado"> Integrar Salas </a>
        <a id="btn-verificar-sala" class="btn btn-custom btn-small integrado"> Verificar Salas </a>
        <a id="btn-integrar-alunos" class="btn btn-custom btn-small integrado"> Integrar Alunos </a>
        <a id="btn-integrar-professores" class="btn btn-custom btn-small integrado"> Integrar Professores e Coordenadores</a>
        <a id="btn-integrar-observador" class="btn btn-custom btn-small integrado"> Integrar Observadores </a>
    </div>
    <br/>Saída<br/>
    <div class="well well-small" id="integracao-saida-container"></div>
</script>



<script type="text/javascript" src="/js/MensagensG2.js"></script>

<script type="text/javascript"> $('#htmlContent script[type="text/template"]').appendTo($('#templateHolder'));</script>
<script type="text/javascript" src="/integracao/js"></script>