<fildset>
    <legend>Avaliações</legend>
    <label>Seleção de quais avaliações serão incluídas neste conjunto.</label>
<div style="padding-bottom:5px;" class="row-fluid">
    <div class="span12 well">
        <div class="row-fluid">
        <div class="span5">
            <input type="text" class="input-search search-query"  style="width: 100%;" alt="pesquisa-avaliacoes"
                   placeholder="Filtrar Avaliações"/>
        </div>
        <div class="span3">
            <select id="id_tipoavaliacao" name="id_tipoavaliacao">
            <option>Tipo Avaliação</option>
        </select>
        </div>
        </div>
    </div>
</div>
<div class="row-fluid">
    <div class="span12">
        <div class="row-fluid" style="margin-bottom: 15px;">
            <div class="span6" style="overflow: auto; height: 200px;" id="idAvaliacoesSel">
                <table role="dialog" class="pesquisa-avaliacoes table table-bordered table-striped backgrid"
                       id="lista-avaliacoes">
                    <thead>
                    <tr>
                        <th><input type="checkbox" id="marcaTodosI"></th>
                        <th>Avaliações</th>
                        <th>Tipo</th>
                        <th>Valor</th>
                    </tr>
                    </thead>
                    <tbody id="#table-avaliacoes">
                    </tbody>
                </table>
            </div>
            <div class="span6" style="overflow: auto; height: 200px;"
                 id="divAvaliacoesSelecionadas">
                <table class="table table-bordered table-striped backgrid" id="lista-avaliacoes-selecionados">
                    <thead>
                    <tr>
                        <th>Selecionados</th>
                        <th style="border-right: none; border-left: none;"></th>
                        <th>Remover</th>
                    </tr>
                    </thead>
                    <tbody style="overflow: auto;height: 200px;" id="#table-avaliacoes-selecionadas">

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
    </fildset>
