<div class="span12 well">

  <fildset>

      <legend>Dados Básicos</legend>

    <form id="form-dados-basicos" class="form">

        <div class="row-fluid">
            <div class="span12">
                <label>Título</label>
                <input type="text" style="width: 100%;" id="st_avaliacaoconjunto" name="st_avaliacaoconjunto" value="" />
            </div>
         </div>

        <div class="row-fluid">
            <div class="span6">
                <label>Situação</label>
                <select id="id_situacao" name="id_situacao" style="width: 100%;">
                    <option>Escolha</option>
                </select>
                <br />
                <label>Tipo</label>
                <select id="id_tipoprova" name="id_tipoprova" style="width: 100%;">
                    <option>Escolha</option>
                </select>
                <br />
                <div id="calculo">
                    <label>Cálculo</label>
                    <select id="id_tipocalculoavaliacao" name="id_tipocalculoavaliacao" style="width: 100%;">
                        <option>Escolha</option>
                    </select>
                </div>
            </div>
            <div class="span6">
                <div class="row-fluid">
                    <fieldset>
                        <legend>Tipos de disciplina:</legend>
                    <table id="idTipoAvaliacao" name="idTipoAvaliacao" class="table table-striped">
                        <thead>

                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                    </fieldset>
                </div>
            </div>
        </div>

    </form>

  </fildset>

</div>