<td><input type="hidden" id="<%=id_avaliacao%>"><%=st_avaliacao%> - <%=st_tipoavaliacao%> - <%=nu_valor%></td>
<td style="border-left: none; border-right: none;">
    <% if(bl_recuperacao) { %>
    <input type="text" maxlength="2" class="validarordem" pattern="[0-9]{2}"  id="id_avaliacaorecupera-<%=id_avaliacao%>" required="required" value="<%=id_avaliacaorecupera%>" name="id_avaliacaorecupera" placeholder="Digite a ordem de recuperação"/>
    <% } %>
</td>
<td style="border-left: none;">
    <button type="button" class="btn btn-danger remover" value="<%=id_avaliacao%>" id="botao<%=id_avaliacao%>"><i class="icon-minus icon-white"></i></button>
</td>