
<td class="span1"><input type="checkbox" class="addAvaliacao checkall"
                         id="id_avaliacao<%=id_avaliacao%>" name="id_avaliacao"
                         value="<%=id_avaliacao%>"></td>
<td class="span4"><%=st_avaliacao%></td>
<td class="span4"><%=st_tipoavaliacao%></td>
<td class="span4"><%=nu_valor%></td>