<div id="dadosBasicosConjunto" class="row-fluid">

</div>
<div id="componenteAvaliacao" class="row-fluid">

</div>
        <div id="buttons_operacoes" class="row-fluid">
<button class="btn btn-success pull-right" id="salvarConjuntoAvaliacao" type="reset">Salvar</button>
        </div>