<?php
if ($this->mensagens != false) {
    ?>
    <div class="mensagens-nao-lidas box-informacoes-genericas">
        <div class="info-box yellow itens">
            <table class="table hover">
                <tr>
                    <th>
                        <i class="icon-envelope"></i>
                        <a href="/portal/mensagem">
                            Você possui <?php echo Ead1_Sessao::getSessionMensagem()->nr_mensagem_nao_lidas; ?>
                            mensagem(ns) não lidas
                        </a>
                    </th>
                </tr>
                <?php
                foreach ($this->mensagens as $mensagem) {
                    if ($mensagem['id_evolucao'] == 42) {
                        ?>
                        <tr>
                            <td>
                                <?php
                                if ($mensagem['bl_importante']) {
                                    ?>
                                    <i class="icon-star amarelo"></i>
                                <?php } ?>
                                <a href="/portal/mensagem#/m/<?php echo $mensagem['id_enviomensagem'];?>/mat/<?php echo $mensagem['id_matricula'];?>">
                                    <?php echo $mensagem['st_mensagem']; ?>
                                </a>
                            </td>
                        </tr>
                    <?php
                    }
                }
                ?>
            </table>
        </div>
    </div>
<?php
}
?>
