<div id="mensagens" class="mensagens">

    <div class="title-block clearfix">
        <h3 class="h3-body-title uny">Suas mensagens</h3>

        <div class="title-seperator"></div>
    </div>

    <script type="text/template" id="mensagens-content">
        <div class="accordion" data-toggle="on" data-active-index="0">
            <div class="accordion-row nao-lidas box-msg">
                <div class="title active">
                    <div class="open-icon"></div>
                    <h4>
                        Não lidas
                    </h4>
                </div>
                <div class="desc">
                    <ul class="lista-msg"></ul>
                </div>
            </div>

            <div class="accordion-row todas box-msg">
                <div class="title">
                    <div class="open-icon"></div>
                    <h4>
                        Lidas
                    </h4>
                </div>
                <div class="desc">
                    <ul class="lista-msg"></ul>
                </div>
            </div>
        </div>
    </script>

    <script type="text/template" id="mensagem-unica-pendentes-content">
        <div class="grupo-item row">
            <div class="status">
                <% if (id_evolucao == 42) { %>
                    <i class="icon-envelope"></i>
                <% } else { %>
                    <i class="icon-envelope-alt marcar-nao-lida"></i>
                <% } %>

                <% if (bl_importante == 1) { %>
                    <i class="icon-star amarelo"></i>
                <% } %>
            </div>
            <div class="container-show">
                <a class="show-mensagem" id="<%=id_enviomensagem%>"><%=st_mensagem%></a>
            </div>
        </div>
    </script>

    <script type="text/template" id="mensagem-unica-content">
        <div class="row header-msg">
            <div class="col-md-11">
                <h3><%=st_mensagem%>
                    <small>às <%= dt_enviar %> </small>
                </h3>
            </div>
            <div class="col-md-1">
                <h3>
                    <% if (bl_importante == 1) { %>
                        <i class="icon-star amarelo"></i>
                    <% } %>
                </h3>
            </div>
        </div>
        <div class="divisorjunto"></div>
        <div class="section-content" style="overflow:auto;">
            <div class="content">
                <%=st_texto%>
            </div>
        </div>
    </script>

    <div class="col-xs-3 menu-lateral-msg">
        <div class="callout-box">
            <ul>
                <li>
                    <i class="icon-inbox"></i>
                    <a href="javascript:void(0)" class="todas-mensagens active">
                        Todos os avisos
                    </a>
                </li>
                <li>
                    <i class="icon-envelope"></i>
                    <a href="javascript:void(0)" class="nao-lidas-mensagens">
                        Não lidas
                    </a>
                </li>
                <li>
                    <i class="icon-star amarelo"></i>
                    <a href="javascript:void(0)" class="outras-mensagens">
                        Importantes
                    </a>
                </li>
            </ul>
        </div>
        <div class="acoes content-box">
            <a href="#" class="voltar acao button small button-main" title="TODOS OS AVISOS">
                <i class="icon-arrow-left icon"></i> Voltar
            </a>
        </div>
    </div>
    <div class="col-xs-9 content-msg"></div>
</div>