<script type="text/template" id="template-layout-importacao">
    <fieldset>
        <legend>Importação de dados</legend>
    </fieldset>

    <div id="wrapper-carregar-arquivo" class="row-fluid"></div>
    <div id="wrapper-dados-arquivo" class="row-fluid"></div>
    <div id="wrapper-matricula-institucional" class="well hide">
        <legend>3&ordf; Passo - Escolha a turma e o curso</legend>
        <div class="row-fluid">
            <div class="span6">
                <div class="input-prepend pull-left wrapper-prepend">
                    <span class="add-on pull-left">Projeto Pedagógico</span>

                    <div id="wrapper-projeto" class="combos-importacao pull-left"></div>
                </div>
            </div>
            <div class="span6">
                <div class="input-prepend pull-left wrapper-prepend">
                    <span class="add-on pull-left">Turmas</span>

                    <div id="wrapper-turma" class="combos-importacao turma pull-left"></div>
                </div>
            </div>
        </div>
    </div>
    <div id="wrapper-dados-relatorio" class="row-fluid"></div>
    <div id="wrapper_actions" class="well">
        <fieldset>
            <div class="pull-right">
                <button type="submit" title="Salvar" id="btn-salvar-dados" class="btn-success btn" disabled>
                    Salvar
                </button>
            </div>
        </fieldset>
    </div>
</script>

<script id="template-carregar-arquivo" type="text/template">
    <div class="row-fluid">
        <legend>1&ordf; Passo - Selecione o <abbr
                title="O arquivo deverá seguir o template disponibilizado pela Entidade">arquivo para
                importação</abbr></legend>
        <form method="post" enctype="multipart/form-data" id="form-carregar-arquivo" class="clearfix">
            <div class="span6">
                <input type="file" id="st_arquivoimportacao" name="st_arquivoimportacao" class="span12"/>
            </div>
            <div class="span6">
                <input type="submit" class="pull-right btn btn-default btn-success" value="Enviar arquivo"/>
            </div>
        </form>
    </div>
    <div class="row-fluid importacao" id="progress">
        <div class="progress progress-striped span12">
            <div class="bar"></div>
            <div class="percent">0%</div>
        </div>
        <div id="status"></div>
    </div>
    <div class='row-fluid'>
        <div class='alert alert-error hide' id="error-alert"></div>
    </div>
</script>

<script id="template-dados-importados-error" type="text/template">
    <legend>2&ordf; Passo - Verifique os dados importados</legend>
    <div class="alert alert-error">
        <strong>OPS!</strong> Tivemos alguns erros ao verificar sua planilha, por favor veja se todos os campos
        necessários estão preenchidos e se a extensão do arquivo está correta.
    </div>
    <div class="wrapper-table">
        <table class="backgrid table table-bordered">
            <thead>
            <th>Mensagem</th>
            </thead>
            <tbody id="lista-dados-error"></tbody>
        </table>
    </div>
</script>

<script id="template-dados-unicos-importados-error" type="text/template">
    <td>
        <% if (cod == 0) { %>
            <%= 'Célula vázia' %>
        <% } else if (cod == 1) { %>
            <%= 'Erro na extensão do arquivo' %>
        <% } else if (cod == 2) { %>
            <%= 'Arquivo incompleto' %>
        <% } %>
        <strong> - <%= message %></strong>
    </td>
</script>

<script id="template-dados-importados" type="text/template">
    <legend>2&ordf; Passo - Verifique os dados importados</legend>
    <div id="feedback"></div>
    <div class="wrapper-table">
        <table class="backgrid table table-bordered">
            <thead>
            <tr>
                <th>st_cpf</th>
                <th>dt_nascimento</th>
                <th>st_nomecompleto</th>
                <th>st_sexo</th>
                <th>st_nomemae</th>
                <th>st_nomepai</th>
                <th>st_rg</th>
                <th>st_orgaoexpeditor</th>
                <th>dt_dataexpedicao</th>
                <th>st_cep</th>
                <th>st_endereco</th>
                <th>nu_numero</th>
                <th>st_bairro</th>
                <th>st_complemento</th>
                <th>sg_uf</th>
                <th>st_municipio</th>
                <th>nu_ddi_residencial</th>
                <th>nu_ddd_residencial</th>
                <th>nu_telefone_residencial</th>
                <th>nu_ddi_celular</th>
                <th>nu_ddd_celular</th>
                <th>nu_telefone_celular</th>
                <th>st_email</th>
            </tr>
            </thead>
            <tbody id="lista-dados"></tbody>
        </table>
    </div>
</script>

<script id="template-dados-unicos-importados" type="text/template">
    <td><%= st_cpf %></td>
    <td><%= dt_nascimento %></td>
    <td><%= st_nomecompleto %></td>
    <td><%= st_sexo %></td>
    <td><%= st_nomemae %></td>
    <td><%= st_nomepai %></td>
    <td><%= st_rg %></td>
    <td><%= st_orgaoexpeditor %></td>
    <td><%= dt_dataexpedicao %></td>
    <td><%= st_cep %></td>
    <td><%= st_endereco %></td>
    <td><%= nu_numero %></td>
    <td><%= st_bairro %></td>
    <td><%= st_complemento %></td>
    <td><%= sg_uf %></td>
    <td><%= st_municipio %></td>
    <td><%= nu_ddi_residencial %></td>
    <td><%= nu_ddd_residencial %></td>
    <td><%= nu_telefone_residencial %></td>
    <td><%= nu_ddi_celular %></td>
    <td><%= nu_ddd_celular %></td>
    <td><%= nu_telefone_celular %></td>
    <td><%= st_email %></td>
</script>

<script id="template-dados-relatorio" type="text/template">
    <legend>4&ordf; Passo - Verifique o relatório gerado.</legend>
    <div class="alert alert-warning">
        <strong>ATENÇÃO!</strong> Verifique os dados gerados após o processamento do arquivo
    </div>
    <table class="backgrid table table-bordered">
        <thead>
        <tr>
            <th>
                Usuário
            </th>
            <th>
                Cadastrado?
            </th>
            <th>
                Matriculado?
            </th>
        </tr>
        </thead>
        <tbody id="lista-dados-relatorio"></tbody>
    </table>
</script>

<script id="template-dados-unicos-relatorio" type="text/template">
    <td><%= nome %></td>
    <td class="<%= cadastro . type == 0 ? 'error' : 'success' %>">
        <%= cadastro . type == 0 ? 'Não<br/><strong>Motivo:</strong> ' + cadastro . message : 'Sim' %>
    </td>
    <td class="<%= matricula . type == 0 ? 'error' : 'success' %>">
        <%= matricula . type == 0 ? 'Não<br/><strong>Motivo:</strong> ' + matricula . message : 'Sim' %>
    </td>
</script>


<script type="text/javascript">
    $('#templateHolder').empty().html($('#htmlContent script[type="text/template"]'));
</script>
<script type="text/javascript" src="/importacao-de-dados/index.js"></script>