<div id="containerForm" class="span12" style="margin-left: 0px;">
    <form id="form-textos-projeto-pedagogico">
        <div class="row-fluid">
            <div class="clearfix"></div>
            <div class="span12 well">
                Descrição:
                <textarea id="st_descricao" name="st_descricao" class="span10 pull-right"> <%=st_descricao%> </textarea>
            </div>
            <div class="span12 well">
                Objetivo:
                <!--
                ANTIGA IMPLEMENTAÇÃO DOS INPUTS,
                SEM O EDITOR hTML TINYMCE

                <input type="text" id="st_objetivo" name="st_objetivo" value="<%=st_objetivo%>"-->
                       <!--class="span10 pull-right">
                -->
                <textarea id="st_objetivo" name="st_objetivo" class="span10 pull-right"> <%=st_objetivo%> </textarea>
            </div>
            <div class="span12 well">
                Estrutura Curricular:
                <textarea id="st_estruturacurricular" name="st_estruturacurricular" class="span10 pull-right"> <%=st_estruturacurricular%> </textarea>
            </div>
            <div class="span12 well">
                Conteúdo Programático:
            <textarea id="st_conteudoprogramatico" name="st_conteudoprogramatico" class="span10 pull-right"> <%=st_conteudoprogramatico%> </textarea>
            </div>
            <div class="span12 well">
                Metodologia de avaliação:
                <textarea id="st_metodologiaavaliacao" name="st_metodologiaavaliacao" class="span10 pull-right"> <%=st_metodologiaavaliacao%> </textarea>
            </div>

            <div class="span12 well">
                Certificação:
                <textarea id="st_certificacao" name="st_certificacao" class="span10 pull-right"> <%=st_certificacao%> </textarea>
            </div>

            <div class="span12 well">
                Vídeo de Apresentação (Embed):
                <input type="text" id="st_valorapresentacao" name="st_valorapresentacao"
                       value="<%=st_valorapresentacao%>" class="span10 pull-right ">
            </div>
            <div class="span12 well">
                Perfil do projeto:
                <input type="text" id="st_perfilprojeto" name="st_perfilprojeto" value="<%=st_perfilprojeto%>"
                       class="span10 pull-right">
            </div>
            <div class="span12 well">
                Coordenação:
                <input type="text" id="st_coordenacao" name="st_coordenacao" value="<%=st_coordenacao%>"
                       class="span10 pull-right">
            </div>
            <div class="span12 well">
                Modulação:
                <textarea id="st_horario" name="st_horario" class="span10 pull-right"> <%=st_horario%> </textarea>
            </div>
            <div class="span12 well">
                Público Alvo:
                <textarea id="st_publicoalvo" name="st_publicoalvo" class="span10 pull-right"> <%=st_publicoalvo%> </textarea>
            </div>
            <div class="span12 well">
                Mercado de trabalho:
                <textarea id="st_mercadotrabalho" name="st_mercadotrabalho" class="span10 pull-right"> <%=st_mercadotrabalho%> </textarea>
            </div>
        </div>
        <div class="span12">
            <button type="button" id="btn-salvar-projeto-textos" class="btn pull-right">Salvar</button>
        </div>
    </form>
</div>