<div id="containerForm" class="span12">
 <form id="form-dados-avaliacao-projeto-pedagogico">
   <fieldset>
     <legend>
      Dados de Avaliação
   </legend>
   <div class="row-fluid">
        <div class="clearfix"></div>
        <div class="span12">
            <span class="span3">Nota máxima por disciplina:</span>
            <input type="text" id="nu_notamaxima" name="nu_notamaxima" value="<%=nu_notamaxima%>" class="span3 numeric">
        </div>
        <div class="span12">
            <span class="span3">Percentual de aprovação:</span>
            <input type="text" id="nu_percentualaprovacao" name="nu_percentualaprovacao" value="<%=nu_percentualaprovacao%>" class="span3 numeric">
        </div>
        <div class="span12">
            <span class="span3">Prazo entre agendamentos</span>
            <input type="number" id="nu_prazoagendamento" name="nu_prazoagendamento" value="<%=nu_prazoagendamento%>" class="span3 numeric"> dias
        </div>
   </div>

    <div class="span6" style="margin-left: 0px;">
        <button type="button" id="btn-salvar-projeto-avaliacao" class="btn pull-right">Salvar</button>
    </div>
   </fieldset>
 </form>
</div>
