<form action='/model'>
<input type="submit" value="Voltar" />
</form>
<fieldset>
<legend>ORM PHP</legend>
<textarea style="width:100%; height: 200">
<?php echo "<?php\n"?>
/**
 * Classe de mapeamento objeto relacional da tabela <?php $this->tabela;?> 
 * @author Eduardo Romão - ejushiro@gmail.com
 * @package models
 * @subpackage orm
 */
 
<?php echo $this->orm;?>
</textarea>
</fieldset>
<br>
<fieldset>
<legend>TO PHP</legend>
<textarea style="width:100%; height: 500">
<?php echo "<?php\n"?>
/**
 * Classe para encapsular da tabela <?php $this->tabela;?> 
 * @author Eduardo Romão - ejushiro@gmail.com 
 * @package models
 * @subpackage to
 */
 
<?php echo $this->to;?>
</textarea>
</fieldset>
<br>
<fieldset>
<legend>TO Flex</legend>
<textarea style="width:100%; height: 500">
<?php echo $this->toFlex;?>
</textarea>
</fieldset>