<fieldset>
<legend>Gerador de ORM e TO</legend>
<form action="/model/gerar" method="post" name="formulario">
<label>Nome da Tabela</label> <input type="text" name="tabela" />
<br>
<br>
<label>Nome da Classe</label> <input type="text" name="class_name" /><label style="font-seze:8px">(Usuario)</label>
<br>
<br>
<input type="submit" value="Gerar ORM e TO" />
</form>
</fieldset>
