/*
REMOVE THIS IF YOU DON'T WANT THE COLOR PICKER
This is used for color picker style customisation, remove it if you don't want the color picker.
* after you purchase the theme, there is two versions one come with colorpicker and the other come without
colorpicker.
*/
/*
Main Body Background Color
*/
#wrapper {
    background-color: #f9f9f9;
}

/* Header Colors */
.header_wrapper, .top_wrapper {
    background: -webkit-radial-gradient(farthest-side circle at center, #fffaff 0%, #ebebeb 100%);
    background: radial-gradient(farthest-side circle at center, #fffaff 0%, #ebebeb 100%);
}

.top-header {
    background-color: transparent;
}

.searchbox {
    background-color: #ededed;
}

.navigation > li > a,
.navigation > li > a > i,
.sticky-navigation .navigation a {
    color: #4d5664;
}

.navigation > li:hover > a,
.navigation > li > a:hover,
.navigation > li > .activelink,
.navigation > li:hover > a > i {
    color: #878787;
}

.navigation ul {
    background-color: #ebe6eb;
    border-color: #9DABBE;
}

.navigation ul li a {
    color: #787878;
    background-color: #ebe6eb;
}

.navigation .icon-arrow-menu {
    color: #9DABBE;
}

.navigation ul li:hover > a {
    background-color: #e7e7e7;
    color: #010101;
}

.navigation .icon-arrow-submenu, .navigation ul li:hover > a i {
    color: #787878;
}

.sticky-navigation {
    background-color: rgb(232, 232, 232);
    background-color: rgba(232, 232, 232, 0.9);
}

.h1-page-title {
    color: #6febad;
}

.h2-page-desc {
    color: #aeaeae;
}

.breadcrumbs li:last-child {
    color: #4b4b4b;
}

/* Page Content Colors */
.body-wrapper a, .tab a:hover, accordion .title:hover {
    color: #4b4b4b;
}

.body-wrapper a:hover {
    color: #dd4e35;
}

.callout-box, .team-member .team-member-content, .feature .feature-content {
    border-color: #69e8aa;
}

.team-member-progress-bar {
    background: #69e8aa;
}

.tab a.active:after {
    background-color: #69e8aa;
    border-color: #69e8aa;
}

.content-box.content-style2 h4 i {
    color: #4d5664;
}

.accordion .title:hover {
    color: #69e8aa;
}

.button-main, .body-wrapper input[type="submit"], .body-wrapper input[type="button"], button.button-main {
    background-color: #e44a2f;
    border-color: #71281b;
    color: #e7e7e7 !important;
    text-shadow: 0 1px 0 #4d042b;
}

.button-main:hover, .body-wrapper input[type="submit"]:hover, .body-wrapper input[type="button"]:hover,
button.button-main:hover,
.button-main:active, .body-wrapper input[type="submit"]:active, .body-wrapper input[type="button"]:active,
button.button-main:active {
    background-color: #ff765e;
    color: #e7e7e7 !important;
    text-shadow: 0 1px 0 #4d042b;
}

.carousel-container .carousel-arrows {
    background-color: #f9f9f9;
}

.carousel-container .carousel-icon:hover {
    background-color: #4d5664;
}

.blog-post-icon, .comments-list .children .comment:before, .portfolio-filter li a.portfolio-selected,
.portfolio-filter li a:hover {
    background-color: #4d5664;
}

.comments-list .children .comment:after {
    border-color: transparent transparent transparent #4d5664;;
}

.side-navigation .menu-item.current-menu-item a, .side-navigation .menu-item:hover a:after,
.side-navigation .menu-item:hover a {
    color: #e44a2f
}

.icons-list.colored-list li:before {
    color: #4d5664;
}

.blog-post-date .day, .blog-post-date .month {
    color: #4d5664;
}

.pagination .prev, .pagination .next, .pagination a:hover, .pagination a.current, .pagination li.active a {
    background-color: #4d5664;
    color: #fff;
}

div.pagination a {
    border-color: #4d5664;
    color: #4d5664;
}

.contact-map {
    border-color: #4d5664;
}

/* Footer Area Colors */
.footer:after {
    background-color: #c7c8c7
}

.footer:before {
    background-color: #c5c5c5
}

.footer {
    background: -webkit-radial-gradient(farthest-side circle at center, #3b424d 0%, #3b424d 100%);
    background: radial-gradient(farthest-side circle at center, #3b424d 0%, #3b424d 100%);
}

.footer .copyright {
    background-color: #262b32;
    color: #bcbcbc;
}

.footer .copyright a {
    color: #eaeaea;
}

.footer .copyright a:hover {
    color: #fdfdfd;
}

.footer .footer-col .footer-content .input {
    background-color: #2e333c;
}

.footer .footer-col .footer-content input[type=submit], .footer button {
    background-color: #292e36;
}

.footer .footer-col .footer-content input[type=submit]:hover, .footer button:hover, .footer button:active {
    background-color: #3b424d;
}

.footer .footer-col .footer-content, .footer .footer-col .footer-content .footer-content-text {
    color: #d4d4d4;
}

.footer .footer-col .footer-content, .footer .footer-col p {
    color: #d4d4d4;
}

.footer .footer-col .footer-title {
    border-color: rgb(255, 255, 255);
    border-color: rgba(255, 255, 255, 0.6);
    color: #dddddd;
}

.footer .footer-col .footer-content a {
    color: #f3f3f3;
}

.footer .footer-col .footer-content a:hover {
    color: #fafafa;
}
