/*
        REMOVE THIS IF YOU DON'T WANT THE COLOR PICKER
        This is used for color picker style customisation, remove it if you don't want the color picker.
        * after you purchase the theme, there is two versions one come with colorpicker and the other come without
        colorpicker.
        */


/*
        Main Body Background Color
        */

#wrapper {
    background-color: #f9f9f9;
}


/* Header Colors */

.header_wrapper,
.top_wrapper {
    background: -webkit-radial-gradient(farthest-side circle at center, #682a3c 0%, #682a3c 100%);
    background: radial-gradient(farthest-side circle at center, #682a3c 0%, #682a3c 100%);
}

.top-header {
    background-color: transparent;
}

.searchbox {
    background-color: #682a3c;
}

.navigation > li > a,
.navigation > li > a > i,
.sticky-navigation .navigation a {
    color: #e6d8de;
}

.navigation > li:hover > a,
.navigation > li > a:hover,
.navigation > li > .activelink,
.navigation > li:hover > a > i {
    color: #fefafb;
}

.navigation > li > a:after,
.navigation > li > .activelink:after {
    background-color: #a73866;
}

.navigation ul {
    background-color: #682a3c;
    border-color: #a73866;
}

.navigation ul li a {
    color: #e3e3e3;
    background-color: #682a3c;
}

.navigation .icon-arrow-menu {
    color: #a73866;
}

.navigation ul li:hover > a {
    background-color: #945259;
    color: #ffffff;
}

.navigation .icon-arrow-submenu,
.navigation ul li:hover > a i {
    color: #e3e3e3;
}

.sticky-navigation {
    background-color: rgb(132, 11, 23);
    background-color: rgba(132, 11, 23, 0.9);
}

.h1-page-title {
    color: #f7f4f4;
}

.h2-page-desc {
    color: #cccccc;
}

.breadcrumbs li:last-child {
    color: #4b4b4b;
}


/* Page Content Colors */

.body-wrapper a,
.tab a:hover,
accordion .title:hover {
    color: #4b4b4b;
}

.body-wrapper a:hover {
    color: #4b4b4b;
}

.callout-box,
.team-member .team-member-content,
.feature .feature-content {
    border-color: #682a3c;
}

.team-member-progress-bar {
    background: #682a3c;
}

.tab a.active:after {
    background-color: #682a3c;
    border-color: #682a3c;
}

.content-box.content-style2 h4 i {
    color: #c41d2e;
}

.accordion .title:hover {
    color: #682a3c;
}

.button-main,
.body-wrapper input[type="submit"],
.body-wrapper input[type="button"],
button.button-main {
    background-color: #a73866;
    border-color: #650c15;
    color: #e7e7e7 !important;
    text-shadow: 0 1px 0 #989898;
}

.button-main:hover,
.body-wrapper input[type="submit"]:hover,
.body-wrapper input[type="button"]:hover,
button.button-main:hover,
.button-main:active,
.body-wrapper input[type="submit"]:active,
.body-wrapper input[type="button"]:active,
button.button-main:active {
    background-color: #e84242;
    color: #e7e7e7 !important;
    text-shadow: 0 1px 0 #989898;
}

.carousel-container .carousel-arrows {
    background-color: #f9f9f9;
}

.carousel-container .carousel-icon:hover {
    background-color: #a73866;
}

.blog-post-icon,
.comments-list .children .comment:before,
.portfolio-filter li a.portfolio-selected,
.portfolio-filter li a:hover {
    background-color: #a73866;
}

.comments-list .children .comment:after {
    border-color: transparent transparent transparent #a73866;;
}

.side-navigation .menu-item.current-menu-item a,
.side-navigation .menu-item:hover a:after,
.side-navigation .menu-item:hover a {
    color: #a73866
}

.icons-list.colored-list li:before {
    color: #a73866;
}

.blog-post-date .day,
.blog-post-date .month {
    color: #a73866;
}

.pagination .prev,
.pagination .next,
.pagination a:hover,
.pagination a.current,
.pagination li.active a {
    background-color: #a73866;
    color: #fff;
}

div.pagination a {
    border-color: #a73866;
    color: #a73866;
}

.contact-map {
    border-color: #a73866;
}


/* Footer Area Colors */

.footer:after {
    background-color: #c7c8c7
}

.footer:before {
    background-color: #c5c5c5
}

.footer {
    background: -webkit-radial-gradient(farthest-side circle at center, #682a3c 0%, #682a3c 100%);
    background: radial-gradient(farthest-side circle at center, #682a3c 0%, #682a3c 100%);
}

.footer .copyright {
    background-color: #682a3c;
    color: #bcbcbc;
}

.footer .copyright a {
    color: #eaeaea;
}

.footer .copyright a:hover {
    color: #fdfdfd;
}

.footer .footer-col .footer-content .input {
    background-color: #5e0810;
}

.footer .footer-col .footer-content input[type=submit],
.footer button {
    background-color: #810b16;
}

.footer .footer-col .footer-content input[type=submit]:hover,
.footer button:hover,
.footer button:active {
    background-color: #8a0b18;
}

.footer .footer-col .footer-content,
.footer .footer-col .footer-content .footer-content-text {
    color: #d4d4d4;
}

.footer .footer-col .footer-content,
.footer .footer-col p {
    color: #d4d4d4;
}

.footer .footer-col .footer-title {
    border-color: rgb(255, 255, 255);
    border-color: rgba(255, 255, 255, 0.6);
    color: #dddddd;
}

.footer .footer-col .footer-content a {
    color: #f3f3f3;
}

.footer .footer-col .footer-content a:hover {
    color: #fafafa;
}