@import "bootstrap-compass";
@import "bootstrap-variables";
@import "bootstrap";
@import "compass/css3";
@import "compass/css3/opacity";

body {
  font: 16px/19px "Open Sans", Arial, Helvetica, sans-serif;
  letter-spacing: -0.4px;
}

.topo {
  height: 120px !important;
  box-shadow: 0px 3px 10px #888888
}

footer {
  margin-top: 100px;
  height: 120px !important;
  box-shadow: 0 -3px 3px 0px #888888;
}

.pad-n-10 {
  padding-top: 10px;
}

.pad-s-10 {
  padding-bottom: 10px;
}

.pad-n-20 {
  padding-top: 20px;
}

.pad-s-20 {
  padding-bottom: 20px;
}

.nopad-right {
  padding-right: 0;
}

.nopad-left {
  padding-left: 0;
}

.col-centralizada {
  float: none;
  margin: 0 auto;
}

.nopad {
  padding: 0;
}

h3 {
  //color: #999999;
}

.btnpadrao {
  font-size: 12px;
  padding: 7px 15px 5px !important;
}

.btnmedio {
  font-size: 15px;
  padding: 7px 15px 5px !important;
}

.btngrande {
  font-size: 18px;
  padding: 7px 15px 5px !important;
}

.preenchimento {
  color: #FFFFFF;
  font-weight: bold;
  padding: 10px 0px 10px;
  background: #13A096;
  border-bottom: 4px solid #0F857E;
}

.preenchimento-menor {
  color: #FFFFFF;
  font-weight: bold;
  padding: 10px 0px 10px;
  background: #13A096;
  border-bottom: 4px solid #0F857E;
  font-size: 9px;
}

.preenchimento-active {
  background: #71CDC7;
  color: #FFFFFF;
  font-weight: bold;
  padding: 10px 0px 10px;
  border-bottom: 4px solid #0F857E;
}

.preenchimento-google {
  background: #F1F1F1 !important;
  border-bottom: 4px solid #646464;
  color: #646464;
}

.preenchimento-facebook {
  background: #425F9C !important;
  border-bottom: 4px solid #1C326C;
}

.barra-meio {
  border-left: 1px solid #0F857E;
  border-right: 1px solid #0F857E;
}

a {
  text-decoration: none;
  color: #999999;
}

fieldset {
  border: 2px solid rgba(153, 153, 153, 0.2);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  padding: 15px;
}

.tabela-total {
  background: rgba(153, 153, 153, 0.6);
  color: white;
  font-weight: bold;
}

.boleto {
  width: 100px;
}

.valor-pagamento {
  color: #285e8e;
  font-weight: bold;
}

.boleto-detalhe {
  color: rgba(153, 153, 153, 1);
  font-size: 14px;
}

.imgopacity {
  opacity: 0.1;
  filter: alpha(opacity=50);
}

.corpo-politica-privacidade {
  height: 400px;
  overflow-x: hidden;
}