<?php
/*
 * Template para exibição de uma linha de resultados.
 * Este template será renderizado para cada item no objeto JSON que o módulo
 * API responder no método index.
 */
?>
<script type="text/template" id="local-aula-template-list">
    <tr>
        <td><%= st_localaula %> </td>
        <td><%= st_codigocatraca %> </td>
        <td><%= nu_maxalunos%> </td>
        <td width="200">
            <a href="javascript:" class="edit-link btn btn-mini btn-custom">Editar</a>
        </td>
    </tr>
</script>

<?php
/*
 * Template para exibição de uma linha de resultados em modo de edição
 */
?>
<script type="text/template" id="local-aula-template-edit">
    <tr>
        <form>
            <td><input name="st_localaula" value="<%= st_localaula %>"/></td>

            <td>
                <select name="id_catraca_list" id="id_catraca_list">
                    <option value="">Selecione</option>
                </select>
            </td>
            <td><input name="nu_maxalunos" id="nu_maxalunos" type="number" min="0" max="9999" value="<%= nu_maxalunos %>"/></td>
            <td width="200">
                <a href="javascript:" class="delete-link btn btn-mini btn-danger">Deletar</a>
                <a href="javascript:" class="save-link btn btn-mini btn-success">Salvar</a>
                <a href="javascript:" class="cancel-link btn btn-mini">Cancelar</a>
            </td>
        </form>
    </tr>
</script>

<?php
/*
 * Este é o template padrão da página. É a estrutura principal que será populada
 * pelo backbone usando os templates acima.
 */
?>
<a href="javascript:novoLocalDeAula()" class="btn btn-success btn-small"><i class="icon-plus-sign icon-white"></i>
    Adicionar novo local de aula</a>
<table class='backgrid backgrid-selectall table table-striped table-bordered table-hover'>
    <thead>
    <tr>
        <th>Nome do Local de Aula</th>
        <th>Catraca</th>
        <th>Máximo de Alunos</th>
        <th>Ações</th>
    </tr>
    </thead>
    <tbody id="tabela-local-aula">
    <!-- Local onde vamos inserir todo o conteúdo vindo da API -->
    <!-- usando os templates acima -->
    </tbody>
</table>

<script type="text/javascript" src="/js/backbone/views/Util/SelectView.js"></script>
<script type="text/javascript"> $('#htmlContent script[type="text/template"]').appendTo($('#templateHolder'));</script>
<script type="text/javascript" src="<?php echo $this->url() ?>/js"></script>