@CHARSET "UTF-8";

.titulo{
	font-size: 24px;
	text-shadow: gray;
	text-align: center;
}

.container{
	margin-left: 30%;
}

.tabelas{
	border: 1px solid black;
	border-collapse: collapse;
	min-width: 600px;
	margin-bottom: 20px;
	max-width: 800px;
}

.colTH{
	padding-left: 5px;
	padding-right: 5px;
	text-align: center;
	font-weight: bolder;
	background-color: #ccccb6;
}

.linhaEntidade{
	font-weight: bolder;
	text-align: center;
}

.colTHErro{
	background-color: #FF0000;
	padding-left: 5px;
	padding-right: 5px;
	text-align: center;
	font-weight: bolder;
}

.color1{
	background-color: #cccccc;
	text-align: center;
}

.color2{
	background-color: #ccccc66;
	text-align: center;
}

.total{
	text-align: center;
	background-color: #CCFF99;
}

tr:HOVER {
	background-color: #FFFF80;
	cursor: pointer;
}