<?php

$arquivo = 'relatorio_resumo_vendas' . date('d-m-Y').'.xls';
header("Last-Modified: " . gmdate("D,d M YH:i:s") . " GMT");
header("Cache-Control: no-cache, must-revalidate");
header("Pragma: no-cache");
header("Content-Disposition: attachment; filename=\"{$arquivo}\"");
header("Content-Description: PHP Generated Data");

?>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" >

<table role="dialog" class="table table-bordered table-striped backgrid" width="100%" border="1" cellspacing="2" cellpadding="3">
    <thead>
    <tr>
        <td colspan="7" style="text-align: center;color: #333333; display: block; font-size: 17px; line-height: 40px;">Relatório Resumo da Venda </td>
    </tr>
    <tr>
        <th>Valor Dinheiro</th>
        <th>Valor Cheque</th>
        <th>Valor Cartão</th>
        <th>Valor Transferência</th>
        <th>Valor Carta de Crédito</th>
        <th>Valor Bolsa</th>
        <th>Valor Depósito</th>
        <th>Valor Empenho</th>
        <th>Valor Boleto</th>
        <th>Entidade</th>
        <th>Total de Vendas</th>
        <th>Valor Total Recebido</th>
    </tr>
    </thead>
    <tbody id="tabelaDadosRelatorio">
    <?php foreach ($this->dados as $dados) { ?>
        <tr>
            <td>R$ <?= number_format($dados['valor_dinheiro'],2,',', '.') ?> </td>
            <td>R$ <?= number_format($dados['valor_cheque'],2,',', '.') ?> </td>
            <td>R$ <?= number_format($dados['valor_cartao'],2,',', '.') ?> </td>
            <td>R$ <?= number_format($dados['valor_transferencia'],2,',', '.') ?> </td>
            <td>R$ <?= number_format($dados['valor_carta'],2,',', '.') ?> </td>
            <td>R$ <?= number_format($dados['valor_bolsa'],2,',', '.') ?> </td>
            <td>R$ <?= number_format($dados['valor_deposito'],2,',', '.') ?> </td>
            <td>R$ <?= number_format($dados['valor_empenho'],2,',', '.') ?> </td>
            <td>R$ <?= number_format($dados['valor_boleto'],2,',', '.') ?> </td>
            <td> <?= $dados['entidade'] ?> </td>
            <td><?= $dados['total_vendas'] ?> </td>
            <td>R$ <?= number_format($dados['valor_recebido'],2,',', '.') ?> </td>
        </tr>
    <?php } ?>
    </tbody>
</table>
 
<style type="text/css" media="all">
    @page {
        margin: 1cm;
        size: 'A4';
    }
    table {
        width: 100%;
    }
    table, td, th {
        border: solid 1px #000;
        border-collapse: collapse;
        text-align: center;
        font-family: "Helvetica Neue", "Arial", sans-serif;
        font-size: 10pt !important;
    }
    td, th {
        padding: 2px;
    }
    .backgrid thead th {
        background-color: #657991;
        color: #ffffff;
    }

    .table-bordered {
        -moz-border-bottom-colors: none;
        -moz-border-left-colors: none;
        -moz-border-right-colors: none;
        -moz-border-top-colors: none;
        border-collapse: separate;
        border-color: #aaaaaa #aaaaaa #aaaaaa -moz-use-text-color;
        border-image: none;
        border-radius: 4px;
        border-style: solid solid solid none;
        border-width: 1px 1px 1px 0;
    }
    .table {
        margin-bottom: 20px;
        width: 100%;
    }
    table {
        background-color: transparent;
        border-collapse: collapse;
        border-spacing: 0;
        max-width: 100%;
    }
</style>