<script type="text/javascript" src="/js/backbone/views/SelectView.js"></script>

<script type="text/template" id="resumo_venda_layout">
    <div class="well well-large">
        <legend>Filtros</legend>
        <div class="row-fluid">
            <div class="control-group">
                <div class="span12">
                    <div class="span6" id="div-combo-entidade">
                        <label for="id-entidade">Entidade</label>

                        <div id="combo-entidade"></div>
                        <select id="id_entidade" class="span12">
                            <option value="">Todos</option>
                        </select>
                    </div>
                    <div class="span6" id="div-combo-turma">
                        <label for="id-turma">Data da Venda: </label>

                        <input id="dt_filtro_inicio" value="" type="text" class="datepicker maskDate"/>
                        até
                        <input id="dt_filtro_fim" value="" type="text" class="datepicker maskDate"/>
                    </div>
                </div>
            </div>
            <div class="control-group">
                <div class="span12">
                    <div class="span6">
                    </div>
                    <div class="span6">
                        <label for="id-evolucao"> &nbsp;</label>
                        <div class="pull-right">
                            <button class="btn btn-success" type="button" id="btn_gerar_relatorio">Pesquisar
                                Relatório
                            </button>
                            <button class="btn btn-success" type="button" id="btn_gerar_xls">Gerar XLS
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="tabela-relatorio"></div>
    <div id="container-table"></div>
</script>

<script type="text/template" id="script_tabela_relatorio">
    <div class="well well-large">
        <div class="row-fluid">
            <div class="control-group span12" style="overflow: auto; height: 100%;">
                <table role="dialog" class="table table-bordered table-striped backgrid">
                    <thead>
                    <tr>
                        <th>Valor Dinheiro</th>
                        <th>Valor Cheque</th>
                        <th>Valor Cartão</th>
                        <th>Valor Transferência</th>
                        <th>Valor Carta de Crédito</th>
                        <th>Valor Bolsa</th>
                        <th>Valor Depósito</th>
                        <th>Valor Empenho</th>
                        <th>Valor Boleto</th>
                        <th>Entidade</th>
                        <th>Total de Vendas</th>
                        <th>Valor Total Recebido</th>
                    </tr>
                    </thead>
                    <tbody id="tabelaDadosRelatorio"></tbody>
                </table>
            </div>
        </div>
    </div>
</script>

<script type="text/template" id="item-relatorio">
    <td>R$ <%= valor_dinheiro%></td>
    <td>R$ <%= valor_cheque %></td>
    <td>R$ <%= valor_cartao %></td>
    <td>R$ <%= valor_transferencia %></td>
    <td>R$ <%= valor_carta %></td>
    <td>R$ <%= valor_bolsa %></td>
    <td>R$ <%= valor_deposito %></td>
    <td>R$ <%= valor_empenho %></td>
    <td>R$ <%= valor_boleto %></td>
    <td><%= entidade %></td>
    <td> <%= total_vendas %></td>
    <td>R$ <%= valor_recebido %></td>
</script>

<script type="text/javascript"> $('#htmlContent script[type="text/template"]').appendTo($('#templateHolder'));</script>
<script type="text/javascript" src="<?php echo $this->url() ?>/js"></script>