<?php
header("Content-type: application/vnd.ms-excel");
header("Content-type: application/force-download");
header("Pragma: no-cache");

$html = '<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" >';
$html .= '<table border="1" >';
$html .= '<thead >';
$html .= '<tr style="background-color:#395870; color: white">';
$html .= '<th>Entidade</th>';
$html .= '<th>Nome do Aluno</th>';
$html .= '<th>Produto</th>';
$html .= '<th>Valor Tabela do Produto</th>';
$html .= '<th>Valor Cupom</th>';
$html .= '<th>Valor Negociado do Produto</th>';
$html .= '<th>Campanha</th>';
$html .= '<th>Código Cupom</th>';
$html .= '<th>Atendente</th>';
$html .= '<th>Cod Venda</th>';
$html .= '<th>Evolução da Compra</th>';
$html .= '<th>Status da Compra</th>';
$html .= '<th>Meio de Pagamento</th>';
$html .= '<th>Parcelas</th>';
$html .= '<th>Data da Compra</th>';
$html .= '<th>Data da Confirmação</th>';
$html .= '<th>Categoria do Produto</th>';
$html .= '<th>CPF</th>';
$html .= '<th>Data de Nascimento</th>';
$html .= '<th>E-mail</th>';
$html .= '<th>Telefone</th>';
$html .= '<th>Endereço</th>';
$html .= '<th>Bairro</th>';
$html .= '<th>CEP</th>';
$html .= '<th>UF</th>';
$html .= '<th>Cidade</th>';
$html .= '<th>Área de Interesse</th>';
$html .= '</tr>';
$html .= '</thead>';
$html .= '<tbody>';

foreach ($this->result as $value) {
    $html .= '<tr>';
    $html .= '<td>' . $value['st_nomeentidade'] . '</td>';
    $html .= '<td>' . $value['st_nomecompleto'] . '</td>';
    $html .= '<td>' . $value['st_produto'] . '</td>';
    $html .= '<td style="text-align: right">' . number_format($value['nu_valortabela'], 2,',', '.') . '</td>';
    $html .= '<td style="text-align: right">' . number_format($value['nu_valorcupom'], 2,',', '.') . '</td>';
    $html .= '<td style="text-align: right">' . number_format($value['nu_valornegociado'], 2,',', '.') . '</td>';
    $html .= '<td>' . $value['st_campanhacomercial'] . '</td>';
    $html .= '<td>' . $value['st_codigocupom'] . '</td>';
    $html .= '<td>' . $value['st_nomeatendente'] . '</td>';
    $html .= '<td>' . $value['id_venda'] . '</td>';
    $html .= '<td>' . $value['st_evolucao'] . '</td>';
    $html .= '<td>' . $value['st_status'] . '</td>';
    $html .= '<td>' . $value['st_meiopagamento'] . '</td>';
    $html .= '<td>' . $value['nu_parcelas'] . '</td>';
    $html .= '<td>' . $value['dt_cadastroshow'] . '</td>';
    $html .= '<td>' . $value['dt_confirmacaoshow'] . '</td>';
    $html .= '<td>' . $value['st_categorias'] . '</td>';
    $html .= '<td>' . $value['st_cpf'] . '</td>';
    $html .= '<td>' . $value['dt_nascimento'] . '</td>';
    $html .= '<td>' . $value['st_email'] . '</td>';
    $html .= '<td>' . $value['st_telefone'] . '</td>';
    $html .= '<td>' . $value['st_endereco'] . '</td>';
    $html .= '<td>' . $value['st_bairro'] . '</td>';
    $html .= '<td>' . $value['st_cep'] . '</td>';
    $html .= '<td>' . $value['sg_uf'] . '</td>';
    $html .= '<td>' . $value['st_cidade'] . '</td>';
    $html .= '<td>' . $value['st_areaconhecimento'] . '</td>';
    $html .= '</tr>';

}
$html .= '</tbody>';
$html .= '</table>';
$arquivo = 'relatorio_comercial-eccomerce_' . date('d-m-Y') . '.xls';
header("Last-Modified: " . gmdate("D,d M YH:i:s") . " GMT");
header("Cache-Control: no-cache, must-revalidate");
header("Pragma: no-cache");
//header('Content-type: ' . $this->tipo . '; charset="utf-8"');
header("Content-Disposition: attachment; filename=\"{$arquivo}\"");
header("Content-Description: PHP Generated Data");

echo $html;
?>
<style type="text/css" media="all">
    /*<style type="text/css" media="print" id="test">*/
    @page {
        margin: 1cm;
        size: 'A4';
    }

    table {
        width: 100%;
    }

    table, td, th {
        border: solid 1px #000;
        border-collapse: collapse;
        text-align: center;
        font-family: "Helvetica Neue", "Arial", sans-serif;
        font-size: 10pt !important;
    }

    td, th {
        padding: 2px;
    }

</style>