<script type="text/javascript"> $('#htmlContent script[type="text/template"]').appendTo($('#templateHolder'));</script>
<script type="text/javascript" src="/js/backbone/views/Util/SelectView.js"></script>
<script type="text/javascript" src="/js/utils/functions.js?_=<?php uniqid() ?>"></script>


<script type="text/template" id="template-layout-grade">
    <legend>Relatório E-commerce</legend>
    <div class="row-fluid" id="regiao-grade"></div>
    <div class="row-fluid" id="regiao-grade-data" style="overflow-x: auto;"></div>
</script>

<script type="text/template" id="template-form-grade">
    <div class="row-fluid">
        <form name="formRelatorio" id="formRelatorio" method="post" action="">
            <fieldset>
                <div class="well well-small">
                    <div class="row-fluid">
                        <div class="span4">
                            <label> Entidade: </label>
                            <select class="span12" id="id_entidade" name="id_entidade" required="required">
                                <option value="">Selecione</option>
                            </select>
                        </div>
                        <div class="span4">
                            <label> Categorias: </label>
                            <select class="span12" id="id_categoria" disabled name="id_categoria">
                                <option value="">Selecione</option>
                            </select>
                        </div>
                        <div class="span4">
                            <label> Produto: </label>
                            <select class="span12" id="id_produto" disabled name="id_produto">
                                <option value="">Selecione</option>
                            </select>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span4">
                            <label> Meio de Pagamento</label>
                            <select class="span12" id="id_meiopagamento" name="id_meiopagamento">
                                <option value="">Selecione</option>
                            </select>
                        </div>
                        <div class="span4">
                            <label> Evolução</label>
                            <select class="span12" id="id_evolucao" name="id_evolucao">
                                <option value="">Selecione</option>
                            </select>
                        </div>
                        <div class="span4">
                            <label> UF</label>
                            <select class="span12" id="sg_uf" name="sg_uf">
                                <option value="">Selecione</option>
                            </select>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span4">
                            <label>Período da Compra</label>

                            <div class="row-fluid" style="margin-top: -5px;">
                                <div class="span6">
                                    <div class="input-append">
                                        <label for="dt_inicial_comprar">Data da Compra De: </label>
                                        <input type="text" title="Data inicial" placeholder="Data inicial"
                                               data-maximo="dt_termino_comprar"
                                               class="span8 maskDate"
                                               value="<?=date('d/m/Y')?>" id="dt_inicial_comprar" name="dt_inicial_comprar">
                                        <button class="btn js-bt-calendar" data-calendar="dt_inicial_comprar" type="button">
                                            <i class="icon icon-calendar"></i>
                                        </button>
                                    </div>
                                </div>

                                <div class="span6">
                                    <div class="input-append">
                                        <label for="dt_termino_comprar"> Data da Compra Até:</label>
                                        <input type="text" title="Data final" placeholder="Data final"
                                               data-minimo="dt_inicial_comprar"
                                               class="span8 maskDate datepicker_range_max"
                                               value="<?=date('d/m/Y') ?>" id="dt_termino_comprar"
                                               name="dt_termino_comprar">
                                        <button class="btn js-bt-calendar" data-calendar="dt_termino_comprar" type="button">
                                            <i class="icon icon-calendar"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="span4">
                            <label>Período da Confirmação</label>

                            <div class="row-fluid" style="margin-top: -5px;">
                                <div class="span6">
                                    <div class="input-append">
                                        <label for="dt_inicial_confirmacao">Data da Confirmação De: </label>
                                        <input type="text" title="Data inicial" placeholder="Data inicial"
                                               data-maximo="dt_termino_confirmacao"
                                               class="span8 maskDate datepicker_range_min"
                                               value="" id="dt_inicial_confirmacao" name="dt_inicial_confirmacao">
                                        <button class="btn js-bt-calendar" data-calendar="dt_inicial_confirmacao" type="button">
                                            <i class="icon icon-calendar"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="span6">
                                    <div class="input-append">
                                        <label for="dt_termino_confirmacao"> Data da Confirmação Até:</label>
                                        <input type="text" title="Data final" placeholder="Data final"
                                               class="span8 maskDate datepicker_range_max"
                                               data-minimo="dt_inicial_confirmacao"
                                               value="" id="dt_termino_confirmacao"
                                               name="dt_termino_confirmacao">
                                        <button class="btn js-bt-calendar" data-calendar="dt_termino_confirmacao" type="button">
                                            <i class="icon icon-calendar"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="pull-right">
                            <button id="btnPesquisar" type="button" title="Pesquisar" class="btn-custom btn">
                                <i class="icon-search icon-white"></i> Pesquisar
                            </button>
                            <button class="btn-custom btn margin" type="button" id="btn_gerar_relatorio">
                                <i class="icon-file icon-white"></i> Gerar Excel
                            </button>
                        </div>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>

</script>
<link rel="stylesheet" type="text/css" href="/css/spinner/spinner.css"/>
<link rel="stylesheet" type="text/css" href="/css/relatorios/relatorio.css"/>