<script type="text/template" id="template-mensagem">
    <div class="row-fluid">
        <form method="post" action="" name="formMensagem" id="formMensagem">
            <input type="hidden" id="id_mensagem" name="id_mensagem" value="<%=id_mensagem%>">
            <div class="span8">
                <div>
                    <div class="span8">
                        <label">Assunto</label>
                        <input type="text" class="span12" required="required" id="st_mensagem" name="st_mensagem"
                               value="<%=st_mensagem%>" <%=(id_mensagem != '' && id_mensagem != null ? "disabled": "")%>
                        >
                    </div>
                    <div class="span2">
                        <label>Data Início</label>
                        <input type="text" class="datepickerStart span12" required="required" id="dt_enviar"
                               name="dt_enviar" value="<%=dt_enviar%>" <%=(id_mensagem != '' && id_mensagem != null ?
                        "disabled": "")%>>
                    </div>
                    <div class="span2">
                        <label>Data Término</label>
                        <input type="text" class="datepickerStart span12" id="dt_saida"
                               name="dt_saida" value="<%=dt_saida%>">
                    </div>
                    <div class="clearfix"></div>

                </div>
                <div id="div_editor">
                    <textarea id="editor" name="st_texto" class="input-block-level" rows="12" <%=(id_mensagem != '' &&
                    id_mensagem != null ?
                    "disabled": "")%>>
                    <%=st_texto%>
                    </textarea>
                </div>
            </div>
            <div class="span3">
                <div class="span12 pull-right">
                    <label>Área</label>
                    <select id="id_areaconhecimento" name="id_areaconhecimento" class="span12" <%=(id_mensagem != '' &&
                    id_mensagem != null ?
                    "disabled": "")%> ></select>

                    <label>Projeto Pedagógico</label>
                    <select id="id_projetopedagogico" name="id_projetopedagogico" class="span12" <%=(id_mensagem != ''
                    && id_mensagem != null ?
                    "disabled": "")%> >
                    <option value="">[Selecione a área acima]</option>
                    </select>

                    <label>Turma</label>
                    <select id="id_turma" name="id_turma" class="span12" <%=(id_mensagem != '' && id_mensagem != null ?
                    "disabled": "")%> >
                    <option value="">[Selecione o projeto acima]</option>
                    </select>

                    <label>Situação</label>
                    <select id="id_situacao" name="id_situacao" class="span12">
                        <option value="<?php echo \G2\Entity\Mensagem::ATIVA; ?>"
                        <%=(id_situacao == 147 ? "selected": "")%> > Ativa</option>
                        <option value="<?php echo \G2\Entity\Mensagem::INATIVA; ?>"
                        <%=(id_situacao == 148 ? "selected": "")%>> Inativa</option>
                    </select>

                    <label class="checkbox">
                        <input type="checkbox" id="bl_importante" name="bl_importante" checked="<%=bl_importante%>"
                        <%=(id_mensagem != '' && id_mensagem != null ? "disabled": "")%>>
                        Importante
                    </label>

                </div>
                <!--<div class="clearfix"></div>-->
                <div class="pull-right">
                    <a type="submit" id="btn_enviarmensagem" class="btn btn-success"><%=(id_mensagem != '' &&
                        id_mensagem != null ? "Salvar Mensagem": "Enviar Mensagem")%></a>
                </div>
                <div class="clearfix"></div>
            </div>
        </form>
    </div>
</script>

<script type="text/javascript" src="/modelo-backbone/VwPesquisaMensagemPortal"></script>
<script type="text/javascript"> $('#htmlContent script[type="text/template"]').appendTo($('#templateHolder'));</script>

<script type="text/javascript">
    var id_mensagem = <?php echo(isset($this->id) ? $this->id : 'null') ?>;
</script>
