<!DOCTYPE html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>
        <?php if (defined('APPLICATION_SYS') && APPLICATION_SYS == 'PORTAL_DO_ALUNO') : ?>
            Portal do Aluno
        <?php else: ?>
            Gestor2
        <?php endif; ?>
    </title>
    <link rel="stylesheet" type="text/css" href="manutencao/css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="manutencao/css/bootstrap-responsive.css"/>
    <link rel="stylesheet" type="text/css" href="manutencao/css/style.css"/>

    <script src="manutencao/ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js" type="text/javascript"></script>
    <script src="manutencao/js/jquery.backgroundpos.min.js" type="text/javascript"></script>
<!--    <script src="manutencao/js/jquery.countdown.min.js" type="text/javascript"></script>-->
    <script src="manutencao/js/scripts.js" type="text/javascript"></script>
</head>

<body>
<!--Header Block-->
<div id="hello">
    <!--    <img src="manutencao/images/logo.png" alt="Company Logo" width="200" height="48"/>-->
    <h2>
        Opa, estamos atualizando o sistema :)
    </h2>

    <h3><br/>Prezado(a) Usuário(a), <br/><br/>

        <h3/>

        <h3>
            <?php
            if (defined('APPLICATION_SYS') && APPLICATION_SYS == 'PORTAL_DO_ALUNO') {
                ?>
                <p>Queremos lhe proporcionar uma experiência educacional cada vez mais agradável <br/>
                e por isso periodicamente implantamos melhorias no Portal do Aluno.
                <br/>
                Para implantar essas melhorias é necessário uma rápida pausa.<br/>
            <?php
            } else {
                ?>
                <p>
                    Nossos sistemas estão em procedimento de manutenção no momento.<br/>
                    Mas não se preocupe, nosso pessoal já está trabalhando na liberação e <br/>
                    já vamos voltar.
                </p>
            <?php
            }
            ?>
            </p>
        </h3>


</div>

<!--Construction area pictures-->
<div id="container">
    <div id="clouds">
        <div id="background-buildings">
            <div id="background-small-cranes">
                <div id="background-vehicles">
                    <div id="background-road-seal">
                        <div id="lorries">
                            <div id="foreground-ground">
                                <div id="container-counter">
                                    <!--                                    <div id="defaultCountdown">-->
                                    <!--                                    </div>-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!--Here is container with email subscription-->
<div class="container-fluid yellow-container bg-mail">
    <h3>Em breve o Portal já estará disponível novamente para você.</h3>

    <h3>Certos da sua compreensão desde já agradecemos. <br/> <br/></h3>

    <h2>Atenciosamente, Suporte Técnico.
    </h2>
</div>
</body>
</html>