<?php
/**
ARQUIVO REPLICADO NAS VIEW DO PORTALDOALUNO
\application\apps\gestor2\views\scripts\index
\application\views\scripts\index
**/
?>
<table border="0" cellpadding="0" style="width:100.0%;" width="100%">
	<tbody>
		<tr>
			<td colspan="3">
				<p align="center">
					<span style="font-size:16px;"><strong>Recupera&ccedil;&atilde;o de Senha </strong></span></p>
			</td>
		</tr>
		<tr>
			<td colspan="3">
				<div align="center">
					<p>&nbsp;
						</p>
					<p style="text-align: left;">
						<span style="font-size:14px;">Caro usu&aacute;rio, com os dados abaixo voc&ecirc; j&aacute; pode acessar novamente nossa plataforma no endere&ccedil;o <?php echo $this->endereco;?></span></p>
				</div>
			</td>
		</tr>
		<tr>
			<td style="width: 50px;">
				<p>
					<strong>Nome</strong></p>
			</td>
			<td style="width: 5px;">
				<p>
					:</p>
			</td>
			<td>
				<p>
					&nbsp;<?php echo $this->nome;?></p>
			</td>
		</tr>
		<tr>
			<td>&nbsp;
				</td>
			<td>&nbsp;
				</td>
			<td>&nbsp;
				</td>
		</tr>
		<tr>
			<td colspan="3">
				<div align="center">
					<hr align="center" size="1" width="100%" />
				</div>
			</td>
		</tr>
		<tr>
			<td>
				<p>
					<strong>Usu&aacute;rio</strong></p>
			</td>
			<td>
				<p>
					:</p>
			</td>
			<td>
				<p>
					&nbsp;<?php echo $this->usuario;?></p>
			</td>
		</tr>
		<tr>
			<td>
				<p>
					<strong>Senha</strong></p>
			</td>
			<td>
				<p>
					:</p>
			</td>
			<td>
				<p>
					&nbsp;<?php echo $this->novasenha?></p>
			</td>
		</tr>
		<tr>
			<td colspan="3">
				<div align="center">
					<hr align="center" size="1" width="100%" />
				</div>
			</td>
		</tr>
		<tr>
			<td colspan="3">&nbsp;
				</td>
		</tr>
	</tbody>
</table>
<p>&nbsp;
	</p>