<script type="text/template" id="template-compartilhamentos-listar">
    <div class="row-fluid">
        <div id="painel-compartilhamentos-entidades"><!--Conteudo preenchido pelo backgrid--></div>
    </div>
</script>