<script type="text/javascript" src="/js/MensagensG2.js"></script>
<script type="text/javascript">$('#htmlContent script[type="text/template"]').appendTo($('#templateHolder'));</script>
<script type="text/javascript" src="/avaliacao-aluno/js"></script>
<script type="text/template" id="avaliacao-template-list">
    
</script>
<script type="text/template" id="template-defesa-tcc">
    <form name="form-search-filter" id="form-search-filter" class="form-inline" method="post">
        <div class="controls">
            <div class="control-group">
                <label class="control-label">Projeto Pedagógico:
                    <div class="control-group">
                        <select name="id_projetopedagogico" id="id_projetopedagogico">
                            <option value="">--</option>
                            <?php foreach ($this->projetoPedagogico as $value): ?>
                                <option value="<?php echo $value->getId_projetopedagogico() ?>"><?php echo $value->getSt_projetopedagogico() ?></option>
                            <?php endforeach; ?>
                        </select>
                    </div>
                </label>
                <label class="control-label">Situação:
                    <div class="control-group">
                        <select name="id_situacao" id="id_situacao">
                            <?php foreach($this->situacao as $key => $value): ?>
                                <option value="<?php echo $key ?>"><?php echo $value ?></option>
                            <?php endforeach; ?>
                        </select>
                    </div>
                </label>
                <label class="control-label">Nome do Aluno:
                    <div class="control-group">
                        <input autocomplete="off" id="st_nome" class="input-xxlarge" type="text" name="st_nomecompleto" placeholder="Digite o nome do aluno">
                    </div>
                </label>
                <label class="control-label">
                    <div class="control-group">
                        <button id="btn-form-pesquisar" type="submit" class="btn btn-custom">Pesquisar</button>
                    </div>
                </label>
            </div>
        </div>
    </form>
    <div class="well well-small">
        <button id="btn-salvar-defesa-tcc" class="btn btn-success">Salvar</button>
    </div>
    <table class="table table-bordered table-condensed table-striped backgrid">
        <thead>
            <th>Matrícula</th>
            <th>Projeto Pedagógico</th>
            <th>Nome do Aluno</th>
            <th>Situação</th>
            <th>Data Defesa TCC</th>
        </thead>
        <tbody></tbody>
    </table>
    <div id="div-tabela-avaliacoes"><!--Conteudo preenchido pelo backgrid--></div>
</script>