<!DOCTYPE html>
<html>
	<head>
		<title>Tempo</title>
		
		<link type="text/css" href="<?php echo Ead1_Ambiente::geral()->st_url_library;?>/js/jquery/jquery-ui-1.8.17.custom.css" rel="stylesheet" />	
		<script type="text/javascript" src="<?php echo Ead1_Ambiente::geral()->st_url_library;?>/js/jquery/jquery-1.7.1.min.js"></script>
		<script type="text/javascript" src="<?php echo Ead1_Ambiente::geral()->st_url_library;?>/js/jquery/jquery-ui-1.8.17.custom.min.js"></script>
		
		<script src="<?php echo Ead1_Ambiente::geral()->st_url_library;?>/js/jquery/jquery.form.js" type="text/javascript"></script>
		<script src="<?php echo Ead1_Ambiente::geral()->st_url_library;?>/js/jquery/jquery.numeric.pack.js" type="text/javascript"></script>
		<script src="<?php echo Ead1_Ambiente::geral()->st_url_library;?>/js/jquery/jqueryvalidate/jquery.validate.js" type="text/javascript"></script> 
		<script src="<?php echo Ead1_Ambiente::geral()->st_url_library;?>/js/jquery/jqueryvalidate/additional-methods.js" type="text/javascript"></script> 
		<script src="<?php echo Ead1_Ambiente::geral()->st_url_library;?>/js/jquery/jqueryvalidate/localization/messages_ptbr.js" type="text/javascript"></script>
		<script src="<?php echo Ead1_Ambiente::geral()->st_url_library;?>/js/jquery/jquery.selectboxes.js" type="text/javascript"></script>
		
	</head>
	<body>
	<div>Cabecalho</div>
	<div>
		<?php echo $this->layout()->content ?>
	</div>
	<div>Rodapé</div>
	</body>
</html>