<script type="text/template" id="template-disciplina-origem">
    <div class="well well-large">
        <div class="row-fluid">
            <div class="pull-right">
                <button id="btn-add-disc-origem" class="btn btn-success btn-small pull-right" type="button">
                    <i class="icon-plus-sign icon-white"></i>
                    Adicionar Disciplina na IES de Origem
                </button>
            </div>
            <legend>DISCIPLINA IES DE ORIGEM</legend>
        </div>
        <div class="row-fluid">
            <div class="table-responsive">
                <table class="backgrid backgrid-selectall table table-bordered table-hover table-striped">
                    <thead>
                    <tr>
                        <th>Disciplina na IES de Origem</th>
                        <th class="span2">Carga Horária</th>
                        <th>Instituição</th>
                        <th>UF</th>
                        <th>Opções</th>
                    </tr>
                    </thead>
                    <tbody>
                    <!--Disciplinas-->
                    <!--FIM Disciplinas-->
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</script>

<script type="text/template" id="template-item-disciplina-origem-add-edit">
    <td>
        <input class="span12" type="text" name="st_disciplina" placeholder="Nome da Disciplina"
               value="<%= st_disciplina %>"/>
    </td>
    <td>
        <input class="numeric" type="text" name="nu_cargahoraria" min="0" size="5" placeholder="Carga Horária"
               value="<%= nu_cargahoraria %>"/>
    </td>
    <td>
        <input class="span12" type="text" name="st_instituicao" placeholder="Nome da Instituição"
               value="<%= st_instituicao %>"/>
    </td>
    <td>
        <?php echo $this->form->sg_uf; ?>
    </td>
    <td>
        <button class="save-link btn btn-mini btn-success">Salvar</button>
        <button class="cancel-link btn btn-mini">Cancelar</button>
    </td>
</script>

<script type="text/template" id="template-item-disciplina-origem-list">
    <td>
        <%= st_disciplina %>
    </td>
    <td>
        <%= nu_cargahoraria %>
    </td>
    <td>
        <%= st_instituicao %>
    </td>
    <td>
        <%= sg_uf %>
    </td>
    <td>
        <button class="edit-link btn btn-mini btn-custom">Editar</button>
        <button class="delete-link btn btn-mini btn-danger">Remover</button>
    </td>
</script>