<!--
Template do auto-complete
-->
<?php echo $this->render('/util/auto-complete-pessoa.phtml'); ?>
<!--
Template do auto-complete
-->

<!--
    Template Geral
-->
<?php echo $this->render('/pessoa/cadastro-rapido.phtml'); ?>
<!--
    Template Geral
-->


<script type="text/template" id="layout-lancar-aproveitamento">
    <div class="row-fluid" id="autoComplete"></div>
    <div class="row-fluid content-box-vendas" id="container-seleciona-matricula"></div>
    <div class="row-fluid content-box-vendas" id="container-manipula-ocorrencia"></div>
    <div class="row-fluid content-box-vendas" id="container-disciplinas-origem"></div>
    <div class="row-fluid content-box-vendas" id="wrapper-lancar-aproveitamento"></div>
    <div class="row-fluid content-box-vendas" id="wrapper-botoes"></div>
</script>

<script type="text/template" id="view-informacoes-aproveitamento">
    <div class="span12">
        <div class="row-fluid">
            <legend><%=st_nomecompleto%></legend>
        </div>
        <div class="row-fluid">
            <div class="span6">
                <div class="row-fluid">
                    <b>Nome: </b><%=st_nomecompleto%>
                </div>
                <div class="row-fluid">
                    <b>Dados do aluno</b>
                </div>
                <div class="row-fluid">
                    <b>CPF: </b><%=st_cpf%>
                </div>
                <div class="row-fluid">
                    <b>E-mail: </b><%=st_email%>
                </div>
                <div class="row-fluid">
                    <b>Nome da Mãe: </b><%=st_nomemae%>
                </div>
            </div>
            <div class="span5">
                <div class="row-fluid">
                    <div class="span12">
                        <div id="divTurma">
                            <label for="#id_matricula">Matrícula:</label>
                            <select name="id_matricula" id="id_matricula" class="span12" size="4"></select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>

<script type="text/template" id="view-manipula-ocorrencia">
    <div class="well well-large">
        <div class="row-fluid">
            <legend>OCORRÊNCIAS RELACIONADAS</legend>
        </div>
        <div class="row-fluid">
            <div class="span12">
                <div id="ocorrenciasRelacionadas"></div>
            </div>
        </div>
    </div>
</script>

<script type="text/template" id="template-lancamentos-pai">
    <div class="well well-large">
        <div class="row-fluid" id="divEquivalencia">
            <legend>QUADRO DE EQUIVALÊNCIA DE DISCIPLINAS</legend>
        </div>
        <div id="container-filhos"></div>
    </div>
</script>

<script type="text/template" id="view-modulos-aproveitamento">
    <div class="row-fuid">
        <h4>
            <b>
                <%=nome%>
            </b>
        </h4>
        <table class="backgrid backgrid-selectall table table-bordered table-hover table-striped">
            <thead>
            <tr>
                <th></th>
                <th>Disciplina</th>
                <th style="width: 40%">Disciplina na IES de Origem</th>
            </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</script>

<script type="text/template" id="item-disciplinas">
    <td>
        <input class="chkbox_disciplina" type="checkbox" name="chk_<%=id_disciplina%>" id="chk_<%=id_disciplina%>"
        <%=id_aproveitamento ? 'checked disabled' : ''%>>
    </td>
    <td>
        <%=st_disciplina%>
    </td>
    <td>
        <div class="divDisciplinaOrigem" id="divDisciplinaOrigem_<%= id_disciplina %>">
            <div class="pull-right">
                <button class="btn link-add" type="button" title="Adicionar disciplina IES de origem" disabled>
                    <i class="icon-plus"></i>
                </button>
            </div>
            <div class="container-disciplinas-origem" style="margin-right: 50px">
            </div>
        </div>
    </td>
</script>


<script type="text/template" id="item-disciplinas-origem">
    <div class="pull-right">
        <button class="btn link-delete" type="button" title="Remover disciplina IES de origem" disabled>
            <i class="icon-minus"></i>
        </button>
    </div>
    <div style="margin-right: 50px">
        <select class="span12 input_disciplinaorigem" name="id_disciplinaorigem" disabled></select>
    </div>
</script>

<script type="text/template" id="template-botoes-aproveitamento">
    <fieldset>
        <div class="row-fluid">
            <div class="form-actions">
                <div class="span6">
                </div>
                <div class="span6" style="text-align: right;">
                    <button type="button" id="btn_editar" class="btn btn-warning hide">Editar</button>
                    <button type="button" id="btn_cancelar" class="btn btn-danger hide">Cancelar</button>
                    <button type="button" id="btn_salvar" class="btn btn-success ">Salvar</button>
                </div>
            </div>
        </div>
    </fieldset>
</script>


<?php echo $this->render('/lancar-aproveitamento/disciplina-origem-template.phtml'); ?>

<script type="text/javascript" src="/js/auto-complete-componente.js"></script>
<script type="text/javascript" src="/lancar-aproveitamento/js"></script>