<script id="dashboard-template" type="text/template">
    <div class="well">
        <fieldset>
            <legend>Dashboards</legend>
        </fieldset>
        <button class="btn btn-success btn-small actionAdd" type="button">
            <i class="icon icon-white icon-plus"></i>
            Adicionar Novo
        </button>
        <hr/>
        <div class="table-responsive">
            <table class="table table-hover table-striped table-bordered backgrid">
                <thead>
                <tr>
                    <th>Título</th>
                    <th>Descrição</th>
                    <th>Origem</th>
                    <th>Situação</th>
                    <th style="width: 50px;">Ações</th>
                </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
    <hr/>
</script>
<script id="dashboard-view" type="text/template">
    <td><%= st_dashboard %></td>
    <td><%= st_descricao %></td>
    <td><%= st_origem %></td>
    <td><%= id_situacao.st_situacao %></td>
    <td style="white-space: nowrap;">
        <button class="btn btn-small btn-custom actionEdit" type="button">
            <i class="icon icon-white icon-pencil"></i>
            Editar
        </button>
        <button class="btn btn-small actionRemove" type="button">
            <i class="icon icon-trash"></i>
            Remover
        </button>
    </td>
</script>
<script id="dashboard-edit" type="text/template">
    <form>
        <div class="well">
            <fieldset>
                <legend>Dados Gerais</legend>
            </fieldset>
            <div class="row-fluid">
                <label class="span6">
                    Título
                    <input class="span12" type="text" name="st_dashboard" value="<%= st_dashboard %>" required="required"/>
                </label>
                <label class="span6">
                    Descrição
                    <input class="span12" type="text" name="st_descricao" value="<%= st_descricao %>"/>
                </label>
            </div>
            <div class="row-fluid">
                <label class="span6">
                    Fonte de Origem
                    <i class="icon icon-question-sign" title="View ou Table do banco de dados"></i>
                    <input class="span12" type="text" name="st_origem" value="<%= st_origem %>" required="required"/>
                    <div class="alert" style="margin: 0;">
                        A fonte de origem deve possuir o campo "id_entidade"
                    </div>
                </label>
                <label class="span4">
                    Situação
                    <select class="span12" name="id_situacao" required="required">
                        <option value="">Carregando...</option>
                    </select>
                </label>
                <label class="span2">
                    ID Funcionalidade
                    <input class="span12" type="number" name="id_funcionalidade" value="<%= id_funcionalidade.id_funcionalidade %>"/>
                </label>
            </div>
        </div>
        <div class="well">
            <fieldset>
                <legend>Configurações do Gráfico</legend>
            </fieldset>
            <div class="row-fluid">
                <label class="span3">
                    Tipo de Gráfico
                    <select class="span12" name="st_tipochart" required="required">
                        <option value="">[Selecione]</option>
                        <option value="area">Área</option>
                        <option value="bar">Barras</option>
                        <option value="column">Colunas</option>
                        <option value="line">Linhas</option>
                        <option value="scatter">Pontos</option>
                    </select>
                </label>
            </div>
            <div class="row-fluid">
                <label class="span6">
                    Eixo X - Título
                    <i class="icon icon-question-sign" title="Descrição que aparecerá no eixo horizontal"></i>
                    <input class="span12" type="text" name="st_xtitulo" value="<%= st_xtitulo %>" />
                </label>
                <label class="span6">
                    Eixo X - Tipo de Vizualização
                    <i class="icon icon-question-sign" title="Define se o eixo será responsável pelos dados numéricos ou as descrições"></i>
                    <select class="span12" name="st_xtipo">
                        <option value="linear">Linear (valores)</option>
                        <option value="category">Categoria (labels)</option>
                    </select>
                </label>
            </div>
            <div class="row-fluid">
                <label class="span6">
                    Eixo Y - Título
                    <i class="icon icon-question-sign" title="Descrição que aparecerá no eixo vertical"></i>
                    <input class="span12" type="text" name="st_ytitulo" value="<%= st_ytitulo %>" />
                </label>
                <label class="span6">
                    Eixo Y - Tipo de Vizualização
                    <i class="icon icon-question-sign" title="Define se o eixo será responsável pelos dados numéricos ou as descrições"></i>
                    <select class="span12" name="st_ytipo">
                        <option value="linear">Linear (valores)</option>
                        <option value="category">Categoria (labels)</option>
                    </select>
                </label>
            </div>
        </div>

        <div class="well">
            <fieldset>
                <legend>Campos</legend>
            </fieldset>
            <div class="row-fluid">
                <label class="span4">
                    Nome do Campo do Tooltip
                    <i class="icon icon-question-sign" title="Nome do campo na View ou Table que será mostrado nos tooltips ao passar o mouse"></i>
                    <input class="span12" type="text" name="st_campolabel" value="<%= st_campolabel %>"/>
                </label>
            </div>
            <div class="campo-dashboard"></div>
        </div>

        <div class="well">
            <div class="row-fluid text-right">
                <button class="btn btn-success actionSave" type="submit">
                    <i class="icon icon-white icon-ok"></i>
                    Salvar
                </button>
                <button class="btn actionEdit" type="button">
                    <i class="icon icon-remove"></i>
                    Cancelar
                </button>
            </div>
        </div>

        <!-- Modal previsualizacao do dashboard -->
        <div id="modal-dashboard" class="modal hide">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <div class="dashboard-preview" style="height: 400px;"></div>
            </div>
        </div>

    </form>
</script>

<!-- TEMPLATES EDITANDO CAMPOS -->
<script id="field-template" type="text/template">
    <button class="btn btn-success btn-small actionAddField" type="button">
        <i class="icon icon-white icon-plus"></i>
        Adicionar Campo
    </button>
    <button class="btn actionPreview" type="button">
        <i class="icon icon-signal"></i>
        Pré-visualizar Dashboard
    </button>
    <hr/>
    <div class="table-responsive">
        <table class="table table-hover table-striped table-bordered backgrid">
            <thead>
            <tr>
                <th>Nome do Campo</th>
                <th>Título do Campo</th>
                <th style="width: 50px;">Ações</th>
            </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</script>
<script id="field-view" type="text/template">
    <td><%= st_campodashboard %></td>
    <td><%= st_titulocampo %></td>
    <td style="white-space: nowrap;">
        <button class="btn btn-mini btn-custom actionEdit" type="button">
            <i class="icon icon-white icon-pencil"></i>
            Editar
        </button>
        <button class="btn btn-mini actionRemove" type="button">
            <i class="icon icon-trash"></i>
            Remover
        </button>
    </td>
</script>
<script id="field-edit" type="text/template">
    <td>
        <input type="text" name="st_campodashboard" value="<%= st_campodashboard %>" required="required"/>
    </td>
    <td>
        <input type="text" name="st_titulocampo" value="<%= st_titulocampo %>" required="required"/>
    </td>
    <td style="white-space: nowrap;">
        <button class="btn btn-success btn-mini actionSave" type="submit">
            <i class="icon icon-white icon-ok"></i>
            Atualizar
        </button>
        <button class="btn btn-mini actionEdit" type="button">
            <i class="icon icon-remove"></i>
            Cancelar
        </button>
    </td>
</script>


<div id="dashboard-content">
    Carregando...
</div>

<style>
    #dashboard-content input{
        box-sizing: border-box;
        height: 30px;
        width: 100%;
    }
    #dashboard-content select{
        width: 100%!important;
    }
</style>


<script type="text/javascript"> $('#htmlContent script[type="text/template"]').appendTo($('#templateHolder'));</script>
<script type="text/javascript" src="<?php echo $this->baseUrl() ?>/dashboard/js"></script>
