         #container-componente {
              border: solid 1px #767676;
              margin-top: 20px;
              margin-right: 0;

          }

            #container-componente-fieldset {
                position: relative;
                padding-left: 10px

            }

            #container-componente legend {
                background: #59687a;

                color: #fff;
                padding: 0 10px;
            }

            #container-autocomplete {
                padding: 0 0 0 5px;
                margin-left: 0px;
        }

        #autocomplete-results {
            background: #f5f5f5;
            margin: 0;
            padding: 5px;
            /*display: none;*/
        }

        #autocomplete-results ul {
            padding: 0;
            margin: 0;
        }

        .item-autocomplete {
            list-style: none;
            border-bottom: solid 1px #ccc;
            margin: 0 0 10px 0;
            padding: 0;
            overflow: hidden;
        }

        .item-autocomplete:last-child {
            border-bottom: none;
            margin: 0;
        }

        .item-autocomplete a {
            cursor: pointer;
            display: block;
        }

        #btnFixAutocomplete, #btnClearAutocomplete {
            display: none;
        }

          #list-autocomplete {
              font-size: 15px;
          }