body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica;
}

#frente, #costas {
    width: 323px;
    height: 202px;
    margin: 0;
    position: relative;
    display: block;
}

.break-page {
    page-break-before: always;
    page-break-after: avoid;
    page-break-inside: avoid;
}

#frente .img,
#costas .img {
    position: absolute;
    z-index: 0;
    left: 0;
    top: 0;
    height: 100%;
}

#frente .img img,
#costas .img img {
    width: 323px;
    height: 202px;
}

#costas .container-barcode {
    width: 314px;
    height: 45px;
    position: absolute;
    left: 50%;
    top: 50px;
    margin-left: -157px;
}

#costas .container-barcode .barcode {
    text-align: center;
    font-size: 28pt;
    overflow: hidden;
    height: 40px;
}

.texts {
    width: 314px;
    height: 130px;
    position: absolute;
    bottom: 17px;
    z-index: 1;
    left: 50%;
    margin-left: -157px;
    color: #ffffff;
}

.texts #textos-container {
    position: relative;
}

.texts #textos-container div {
    position: absolute;
    font-size: 6pt;
    color: #ffffff;
    left: 10px;
    overflow: hidden;
}

.letraPreta{
    color:#000000 !important;
}

#st_nomecompleto {
    top: 12px;
    left: 109px !important;
    width: 125px;
    height: 18px;
}


#st_turma {
    top: 110px;
    width: 205px;
    height: 25px;
}

#st_turma.aumentar {
    width: 295px !important;
}

#st_cpf {
    width: 100px;
    left: 109px !important;
    top: 77px;
}

#dt_nascimento {
    left: 109px !important;
    width: 100px;
    top: 49px;
}

#dt_validade {
    left: 243px !important;
    font-size: 20pt !important;
    font-weight: bold;
    height: 100px;
    width: 80px;
    top:31px !important;
}

#dt_validade canvas {
    height: 35px;
}

#st_codidentificacao {
    font-size: 7pt;
    text-align: center;
    color: #000000 !important;
    left: 253px !important;
    top:117px;
    font-weight: normal;
}

#entidade {
    color: #fff !important;;
    font-size: 12pt !important;
    top: 80px;
    /*left: 20px !important;*/
    width: 200px;
    height: 20px;
    overflow: hidden;
    font-weight: bold;
}

canvas {
    display: block;
}

#avatar {
    height: 100px;
    width: 81px;
    overflow: hidden;
    position: absolute;
    left: 25px;
    top: 38px;
    z-index: 1;
    -webkit-border-radius: 14px;
    -moz-border-radius: 14px;
    border-radius: 8px;
}

#avatar img {
    height: 100%;
    position: absolute;
    right: -20px;

}

#codBarras img {
    height: 76%;
    position: absolute;
    right: -6px;

}

#codBarras {
    height: 37px;
    width: 178px;
    position: absolute;
    left: 129px !important;
    top: 85px;
}

@media print {
    #entidade, #dt_validade {
        color: white !important;
    }
}

.uppercase {
    text-transform: uppercase;
}

.lowercase {
    text-transform: lowercase;
}


