.row {
    align-items: stretch;
    box-sizing: border-box;
    display: flex;
    flex-flow: row wrap;
}

.row-nowrap {
    flex-wrap: nowrap;
}

.col {
    box-sizing: border-box;
    display: block;
    flex-shrink: 0;
    width: 100%;
}

.col-1 {
    width: 8.333333333333333%;
}

.col-2 {
    width: 16.66666666666667%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33333333333333%;
}

.col-5 {
    width: 41.66666666666667%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33333333333333%;
}

.col-8 {
    width: 66.66666666666666%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33333333333333%;
}

.col-11 {
    width: 91.66666666666666%;
}

.col-12 {
    width: 100%;
}