/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 12, 2014, 11:57:43 AM
    Author     : paulo.silva
*/


#form-nova-ocorrencia .row-fluid {
    margin-bottom: 10px;
}

#lista-interacoes {

}