@charset "utf-8";
body { font-family:Verdana, Geneva, sans-serif; font-size:11px; color:#000; margin:0px; }
.mensagem_indisponivel { width:500px; margin:0 auto; border:1px solid #900; padding:30px; margin-top:30px; text-align:center; }

label.error { font-size:11px; color:#F00; }
#corpo {width:800px;min-height:400px;margin:0 auto;}
table.bordasimples {border-collapse: collapse;}
table.bordasimples tr td, table.bordasimples thead tr th {border:1px solid #CCCCCC; padding:3px;}
table.bordasimples tbody tr td { vertical-align:top; font-size:11px;}
table.bordasimples thead tr { }
table.bordasimples thead tr th { background-color:#EFEFEF; }
table.bordasimples thead tr.titulo th { background-color:#666; color:#FFF; font-size:14px }
.tabela_resumo_valores { text-align:left }
.tabela_resumo_valores .valor { text-align:right }
.tabela_resumo_valores .total { font-weight:bolder }


p.form , div.p_form { clear:both; margin:5px; display: table;  width: 100%; }
label.form {  font-size:11px; }
div.form { float:left; margin:5px; padding:5px; border:1px solid #fff; }
button.botao { cursor:pointer; }

#carregando { display:none; height:100%; width:100%; background-image:url(../img/fundo_trans.png); position:fixed; z-index:1002; text-align:center; }
#carregando_mensagem { width:230px; border:1px solid #FFF; color:#FFF; background-color:#666; margin:300px auto; padding:30px; }