/*Grid*/
.backgrid tbody tr:hover,
.backgrid tbody tr:hover td {
    /*cursor: pointer;*/
    background: #ccc !important;
}
.backgrid tbody tr.rowSelected td{
    background: #ccc !important; 
}
/*    .backgrid-paginator a{
        cursor: pointer;
    }*/

/*Formulário*/
#container-form{
    overflow: hidden;
    margin-bottom: 10px;
}
#formPesquisa .zend_form{
    padding: 0;
    margin: 0;
}
#formPesquisa  .label-item-div{
    margin-left: 10px;
}
#action-label,
#search-label{
    display: none;
}
#formPesquisa .label-item-div-check.search{
    margin-top: 0;
    margin-left: 0;        
}
#formPesquisa .label-item-div-check{
    overflow: hidden;
    margin:25px 20px 0 10px;
    float: left;
}
#formPesquisa .label-item-div-check label{
    float: right;
    margin:3px 5px 0 3px;
}
#formPesquisa .label-item-div-check .field-item-div{
    float: left;
}
#formPesquisa .label-item-div-select{
    margin: 0 10px;
    float: left;
}
#formPesquisa .label-item-div{
    float: left;
    margin: 0 10px;
}
.container-btnSubmit{
    clear: both;
    float: left;
    margin: 10px 10px 0 0;

}
.container-btnAdd{
    float: left;
    margin: 10px 10px 0 0;
}

/*Fieldset*/
#search-element{
    float: left;
    border: solid 1px #ccc;
    margin: 0 10px 0 2px;
    padding: 0 10px;
}
#search-element fieldset{
    padding-bottom: 10px;
}
#search-element fieldset dl{
    padding: 0;
    margin: 0;
}