/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}

html, body {
    height: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: url(../img/layout/bg-body-grey.png);
    font-size: 12px;
    line-height: 22px;
    color: #5f5f5f;
    min-height: 100%;
    position: relative;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    min-width: 340px;
}

body > div.G2S {
    max-height: 100%;
}

#templateHolder {
    display: none;
    position: fixed;
    width: 1px;
    height: 1px;
    right: 0;
    bottom: 0;
    overflow: hidden;
}

.div-g2s {
    padding-bottom: 50px;
}

.versao-logo {
    color: #fff;
    font-size: 11px;
}

.footer-g2s {
    border-top: 1px solid #657991;
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(to top, #ffffff, #f2f2f2) repeat-x;
    text-align: center;
    line-height: 50px;
    font-weight: bold;
}

#innerContent {
    height: 100%;
    position: relative;
    width: 100%;
}

#wrapper-g2s {
    min-height: 100%;
    position: relative;
}

#top {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #1c1c1c;
}

/* Classes referentes a implementação do menu responsivo. */
@media (min-width: 980px) {

    .flex-wrapper {
        align-items: center;
        display: flex;
    }

    #top {
        background: url(../img/layout/bg-header-blue.png) repeat;
        height: 55px;
        padding-left: 20px;
        padding-right: 20px;
    }

    #top > div {
        align-self: center;
    }

    #top #info-container {
        display: flex;
        align-items: center;
    }

    #holding-container {
        margin: 0 15px;
    }

    #top #perfil-logado {
        margin-right: 15px;
    }

}

@media (max-width: 980px) {

    .flex-wrapper {
        align-items: center;
        display: flex;
        flex-direction: column;
    }

    #top {
        flex-direction: column;
        background: #58687F;
    }

    #top > div {
        align-self: flex-end;
        margin: 0 15px 10px;
    }

    #top #perfil-logado {
        margin-bottom: 5px;
        align-self: flex-end;
    }

    #top #logo {
        margin-top: 10px;
        align-self: flex-start;
    }

    #lista-entidades {
        align-self: flex-end;
        margin-bottom: 10px;
    }

    .wrapper-perfil-lista-entidade {
        align-self: flex-end;
    }
}

.boxL {
    border: 1px solid #ccc;
    box-shadow: 0 1px 0 #fff;
    -webkit-box-shadow: 0 1px 0 #fff;
    -moz-box-shadow: 0 1px 0 #fff;
    text-shadow: 0 1px #fff;
    -webkit-border-top-right-radius: 3px;
    -webkit-border-top-left-radius: 3px;
    -moz-border-radius-topright: 3px;
    -moz-border-radius-topleft: 3px;
    background-color: #fff;
}

.boxTitulo {
    width: 100%;
    height: 30px;
    border-bottom: 1px solid #ccc;
    box-shadow: 0 1px 0 #fff;
    -webkit-box-shadow: 0 1px 0 #fff;
    -moz-box-shadow: 0 1px 0 #fff;
    text-shadow: 0 1px #fff;
    background: #f8f8f8;
    background: -moz-linear-gradient(top, #f8f8f8 0%, #e8e8e8 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f8f8f8), color-stop(100%, #e8e8e8));
    background: -webkit-linear-gradient(top, #f8f8f8 0%, #e8e8e8 100%);
    background: -o-linear-gradient(top, #f8f8f8 0%, #e8e8e8 100%);
    background: -ms-linear-gradient(top, #f8f8f8 0%, #e8e8e8 100%);
    background: linear-gradient(top, #f8f8f8 0%, #e8e8e8 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f8f8f8', endColorstr='#e8e8e8', GradientType=0);
}

.boxTituloE {
    height: 40px;
    line-height: 40px;
}

.boxTituloE .entidades-title {
    height: 38px;
    padding: 0;
    margin: 0 0 0 20px;
    line-height: 38px;
    cursor: default;
    color: #333;
}

.boxTituloE input.search-query {
    padding-right: 30px;
    padding-left: 10px;
    margin-bottom: 0;
    border-radius: 10px;
    height: 15px;
    line-height: 15px;
    margin-top: 8px;
    margin-right: 20px;
    position: relative;
}

.boxTituloE .icon-search {
    position: absolute;
    right: 30px;
    margin-top: 14px;
}

.boxTitulo h3 {
    color: #647790;
    padding: 5px 0 0 15px;
}

.logout-btn {
    margin-right: 20px;
}

#htmlContent {
    display: none;
    height: 100%;
    left: -9999px;
}

.lista-entidades-principal {
    margin: 0;
}

#menu-principal {
    background-color: #f0f0f0;
    display: block;
    list-style: none outside none;
    margin: 0;
    border-left: 1px solid #ddd;
    color: #737373;
    text-align: left;

}

#menu-principal .item-menu {
    display: inline-block;
    position: relative;
    padding: 10px 20px 10px 40px;
    background-color: #f0f0f0;
}

#menu-principal .item-menu .link-menu {

    color: #020202;
    text-decoration: none;
}

#menu-principal .item-menu .link-menu:hover {
    background-color: #ececec;
    text-decoration: underline;
}

#menu-principal .sub-menu {
    background-color: #F0F0F0;
    display: none;
    list-style: none outside none;
    margin: 0;
    padding: 0;
    position: absolute;
}

#menu-principal .item-menu:hover > .sub-menu {
    display: block;
    top: 100%;
    left: 0;
}

#menu-principal .item-menu:hover > .sub-menu .item-submenu {
    padding: 10px 20px 10px 40px;
}

#top #perfil-logado {
    color: #ffffff;
    font-size: 12px;
    text-transform: capitalize;
}

#top .perfil .user-link {
    color: #FFFFFF;
    font-weight: bold;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 14px;
}

/* # Página de Login
================================================== */

.loginWrapper {
    padding: 20px;
}

/* ENTIDADES */

.boxE {
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    box-shadow: 0 1px 0 #FFFFFF;
    padding-bottom: 15px;
    position: relative;
    text-shadow: 0 1px #FFFFFF;
    margin-top: 20px;
}

.boxTituloE {
    border-bottom: 1px solid #ccc;
    box-shadow: 0 1px 0 #fff;
    -webkit-box-shadow: 0 1px 0 #fff;
    -moz-box-shadow: 0 1px 0 #fff;
    text-shadow: 0 1px #fff;
    background: #f8f8f8;
    background: -moz-linear-gradient(top, #f8f8f8 0%, #e8e8e8 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f8f8f8), color-stop(100%, #e8e8e8));
    background: -webkit-linear-gradient(top, #f8f8f8 0%, #e8e8e8 100%);
    background: -o-linear-gradient(top, #f8f8f8 0%, #e8e8e8 100%);
    background: -ms-linear-gradient(top, #f8f8f8 0%, #e8e8e8 100%);
    background: linear-gradient(top, #f8f8f8 0%, #e8e8e8 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f8f8f8', endColorstr='#e8e8e8', GradientType=0);
}

.boxEntidades {
    height: auto;
    color: #747474;
    font-weight: bold;
    font-size: 12px;
    list-style: none;
    margin: 15px 0;
}

#container-entidades .item-entidade .toggle {
    cursor: pointer;
    margin-right: 20px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #d6d6d6;
    margin-bottom: 20px;
    color: #747474;
    background: #f8f8f8;
    background: -moz-linear-gradient(top, #f8f8f8 0%, #e8e8e8 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f8f8f8), color-stop(100%, #e8e8e8));
    background: -webkit-linear-gradient(top, #f8f8f8 0%, #e8e8e8 100%);
    background: -o-linear-gradient(top, #f8f8f8 0%, #e8e8e8 100%);
    background: -ms-linear-gradient(top, #f8f8f8 0%, #e8e8e8 100%);
    background: linear-gradient(top, #f8f8f8 0%, #e8e8e8 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f8f8f8', endColorstr='#e8e8e8', GradientType=0);
}

#container-entidades .item-entidade .toggle:hover {
    box-shadow: 0 7px 0 #587091;
}

.lista-entidades {
    max-height: 430px;
    overflow-x: hidden;
}

.lista-entidades, .lista-perfis {
    list-style: none;
    margin: 0;
}

.boxEntidades li > a {
    display: block;
}

.boxEntidades #barraE {
    margin: 8px 0 0 10px;
}

.boxEntidades p {
    float: left;
    padding: 16px 0 0 20px;
    text-align: left;
}

.boxEntidades .thumb {
    width: 115px;
    display: inline-block;
    float: left;
    text-align: center;
}

.boxEntidades .thumb img {
    height: 50px;
}

#barraEP {
    margin: -250px 200px 0 432px;
}

#select-profile {

    padding: 20px 20px 0 0;

}

.boxPerfis {
    right: 20px;
    top: 60px;
    display: none;
    text-align: center;
}

.lista-perfis {
    display: none;
}

.lista-perfis li {
    margin-bottom: 10px !important;
    text-align: center;
}

.lista-perfis li a {
    float: none;
    display: inline-block;
    text-align: left;
    margin-bottom: 10px;
    padding-left: 10px;

}

.lista-perfis .item-perfil {
    margin-right: 10px;
    display: inline-block;
}

#logoutCtrl {
    bottom: 0;
    position: absolute;
    width: 100%;
}

.capitalize {
    text-transform: capitalize;
}

/* convert click to hover on dropdown menus */

ul.dropdown-menu {
    margin-top: 0;
}

ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;
}

a.menu:after, .dropdown-toggle:after {
    content: none;
}

/* end of hover convert */

#box-login {
    margin-top: 20px;
}

#titulo-login {
    font-size: 16px;
}

.btn-custom {
    background-color: hsl(192, 36%, 26%) !important;
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#34636e", endColorstr="#2a505a");
    background-image: -moz-linear-gradient(top, #34636e, #2a505a);
    background-image: -ms-linear-gradient(top, #34636e, #2a505a);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #34636e), color-stop(100%, #2a505a));
    background-image: -webkit-linear-gradient(top, #34636e, #2a505a);
    background-image: -o-linear-gradient(top, #34636e, #2a505a);
    background-image: linear-gradient(#34636e, #2a505a);
    border-color: #2a505a #2a505a hsl(192, 36%, 24.5%);
    color: #fff !important;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.09);
    -webkit-font-smoothing: antialiased;
}

.item-menu {
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-header > ul.navlist {
    padding: 0;
    margin-left: 10px;
}

/* Override nos estilos do Bootstrap.css */

.dropdown-menu > li > a {
    clear: both;
    display: block;
    font-size: 11px;
    font-weight: bold;
    line-height: 20px;
    padding: 3px 20px;
    text-transform: uppercase;
    white-space: nowrap;
    color: #0088CC;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-submenu:hover > a, .dropdown-submenu:focus > a {
    background-image: none;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0);
    color: #005580;
    text-decoration: underline;
}

.nav-pills > .active > a > [class^="icon-"], .nav-pills > .active > a > [class*=" icon-"], .nav-list > .active > a > [class^="icon-"], .nav-list > .active > a > [class*=" icon-"], .navbar-inverse .nav > .active > a > [class^="icon-"], .navbar-inverse .nav > .active > a > [class*=" icon-"], .dropdown-menu > li > a:hover > [class^="icon-"], .dropdown-menu > li > a:focus > [class^="icon-"], .dropdown-menu > li > a:hover > [class*=" icon-"], .dropdown-menu > li > a:focus > [class*=" icon-"], .dropdown-menu > .active > a > [class^="icon-"], .dropdown-menu > .active > a > [class*=" icon-"], .dropdown-submenu:hover > a > [class^="icon-"], .dropdown-submenu:focus > a > [class^="icon-"], .dropdown-submenu:hover > a > [class*=" icon-"], .dropdown-submenu:focus > a > [class*=" icon-"] {
    background-image: url("../img/glyphicons-halflings.png");
}

/* MENU */

#content {
    position: relative;
    max-width: 100%;
}

.navbar-inner {
    padding: 0;
}

/* common and top level styles */
#nav {
    z-index: 5;
}

#nav span {
    display: none;
}

#nav, #nav ul {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}

#nav {
    border-bottom: 5px solid #657991;
    float: left;
    margin: 0;
    position: relative;
    width: 100%;
}

#nav ul.subs {
    background-color: #FFFFFF;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
    color: #333333;
    display: none;
    left: 0;
    padding: 10px;
    position: absolute;
    top: 40px;
    width: 96%;
}

#nav > li {
    border-bottom: 5px solid transparent;
    float: left;
    margin-bottom: -5px;
    text-align: left;
    -moz-transition: all 300ms ease-in-out 0s;
    -ms-transition: all 300ms ease-in-out 0s;
    -o-transition: all 300ms ease-in-out 0s;
    -webkit-transition: all 300ms ease-in-out 0s;
    transition: all 300ms ease-in-out 0s;
}

#nav li a {
    display: block;
    text-decoration: none;
    -moz-transition: color 450ms ease-in-out 0s, background-color 450ms ease-in-out 0s;
    -ms-transition: color 450ms ease-in-out 0s, background-color 450ms ease-in-out 0s;
    -o-transition: color 450ms ease-in-out 0s, background-color 450ms ease-in-out 0s;
    -webkit-transition: color 450ms ease-in-out 0s, background-color 450ms ease-in-out 0s;
    transition: color 450ms ease-in-out 0s, background-color 450ms ease-in-out 0s;
    white-space: normal;
}

#nav > li > a {
    color: #333333;
    display: block;
    font-size: 1em;
    line-height: 35px;
    padding: 0 15px;
}

#nav > li:hover > a, #nav > a:hover {
    background-color: #657991;
    color: #FFFFFF;
}

#nav li.active > a {
    background-color: #333333;
    color: #FFFFFF;
}

/* submenu */
#nav li:hover ul.subs {
    display: block !important;
}

@media (max-width: 767px) {
    #nav ul.subs.visible {
        display: block;
    }
}

#nav ul.subs > li {
    display: inline-block;
    float: none;
    padding: 10px 1%;
    vertical-align: top;
    min-width: 200px;
    margin: 5px;
    padding: 5px;
}

#nav ul.subs > li a {
    color: #777777;
}

#nav ul li a:hover {
    color: #000;
}

#nav ul.subs > li > a {
    border-bottom: 1px solid #657991;
    color: #777777;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 0.6em;
    padding-bottom: 0.4em;
    text-shadow: 0 1px 1px #FFFFFF;
}

#nav ul.subs > li li {
    float: none;
    padding-left: 8px;
    -moz-transition: padding 150ms ease-out 0s;
    -ms-transition: padding 150ms ease-out 0s;
    -o-transition: padding 150ms ease-out 0s;
    -webkit-transition: padding 150ms ease-out 0s;
    transition: padding 150ms ease-out 0s;
}

#nav ul.subs > li li:hover {
    padding-left: 15px;
}

/* responsive rules */
@media all and (max-width: 980px) {
    #nav > li {
        float: none;
        border-bottom: 0;
        margin-bottom: 0;
    }

    #nav ul.subs {
        position: relative;
        top: 0;
    }

    #nav li:hover ul.subs {
        display: none;
    }

    #nav li #s1:target + ul.subs,
    #nav li #s2:target + ul.subs {
        display: block;
    }

    #nav ul.subs > li {
        display: block;
        width: auto;
    }
}

/* Alternate stack initial positioning. */
.ui-pnotify.stack-topleft {
    top: 25px;
    left: 25px;
    right: auto;
}

.ui-pnotify.stack-bottomleft {
    bottom: 25px;
    left: 25px;
    top: auto;
    right: auto;
}

.ui-pnotify.stack-bottomright {
    bottom: 25px;
    right: 25px;
}

.ui-pnotify.stack-bar-top {
    right: 0;
    top: 0;
}

.ui-pnotify.stack-bar-bottom {
    margin-left: 15%;
    right: 0;
    bottom: 0;
    top: auto;
    left: auto;
}

/* FINAL DO MENU */

#breadcrumb {
    color: #2A505A;
    font-family: Arial;
    font-size: 11px;
    font-weight: normal;
    border-bottom: 1px solid #657991;
    margin: 15px 0;
}

#extra {
    display: inline-block;
    text-align: right;
}

#help,
#extra .btn {
    margin: 0 0 0 10px;
}

.navbar {
    margin-bottom: 10px;
}

#nav ul.subs > li a.crumb.current {
    font-weight: bold;
}

#overlay {
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, .6);
    background-position: center center;
    display: none;
    height: 100%;
    width: 100%;
    z-index: 1000001;
}

#overlay.loading {
    cursor: wait;
    display: block;
}

#overlay > img {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -120px 0 0 -85.5px;
}

#overlay > div {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 128px;
    margin: -84px 0 0 -64px;
    width: 128px;

    background: url(../img/loaders/713.png) left center;
    -webkit-animation: play 1.1s steps(16) infinite;
    animation: play 1.1s steps(16) infinite;
}

@-webkit-keyframes play {
    100% {
        background-position: -2048px;
    }
}

@keyframes play {
    100% {
        background-position: -2048px;
    }
}

input.datepicker, input.datepicker_range_min, input.datepicker_range_max, input.maskDate {
    width: 70px;
}

label.control-label {
    padding-left: 10px;
}

label.label-block {
    display: block;
}

label.label-inline {
    display: inline-block;
}

button.btn {
    padding-left: 10px;
}

.divider-vertical {
    margin: 10px;
    border-bottom: 1px solid #657991;
    width: 100%;
}

.error-form {
    border: 1px solid red;
}

.sucess-form {
    border: 1px solid #CCCCCC;
}

/* Funcionalidades de ocorrencias */

#tela-ocorrencias .well {
    background-color: rgba(80, 96, 116, 0.15);
}

.correcaoulli li {
    list-style: none;
}

.correcaoulli li label {
    display: inline;
    margin-left: 5px;
    vertical-align: middle;
}

.destaque {
    background: none repeat scroll 0 0 #59687A;
    color: #FFFFFF;
    padding: 10px;
    font-size: 14px;
    font-weight: bold;
}

/*
    Início dos estilos de encerramento
*/
.table.encerramento td.editor {
    text-align: center;
}

.table.encerramento td.editor.error input[type=text] {
    border: 1px solid #FF0000;
}

.table.encerramento td {
    /*min-width: 95px;*/
}

.table.encerramento thead th:last-child {
    width: 110px;
}

.table.encerramento tbody tr.hover {
    background-color: #CCC;
    opacity: 1;
}

/*.table.encerramento tbody.hover tr {*/
/*opacity: 0.5;*/
/*}*/

#container-form-encerramento #acoes-itens {
    margin-bottom: 20px;
}

#container-form-encerramento .acoes-itens .acao.professor {
    /*display: none;*/
}

#container-form-encerramento .acoes-itens .acao select {
    width: 100%;
}

#container-form-encerramento .acoes-itens .acao.recusa {
    display: none;
}

.encerramento-date.datepicker {
    width: 90px;
}

.disciplinas-sala-container {
    overflow: auto;
    height: 200px;
}

.acao-disciplinas {
    float: right;
    margin-top: 15px;
}

.container-meio {
    height: 310px;
}

#forModalPesquisa {
    max-height: 600px;
}

.selecao label {
    margin-right: 7px;
}

.selecao label:last-child {
    margin-right: 0;
}

/*#formPesquisaDisciplina #btnPesq {*/
/*margin-top: 20px;*/
/*}*/

/*#formPesquisaDisciplina #st_disciplina {*/
/*width: 415px;*/
/*}*/

.container-meio .btDisciplina {
    margin-top: 5px;
}

.recusar-btns {
    text-align: center;
}

#lista-interacoes {
    margin: 0;
    list-style: none;
}

.wrapper_actions {
    background-color: #d0d0d0;
    border: solid 1px #ccc;
    border-radius: 5px;
    margin: 10px 0;
    padding: 10px;
}

.acao-cartao {
    margin-bottom: 0;
    margin-top: 25px;
}

.select-come-php {
    margin-left: 0 !important;
}

.select-come-php select {
    width: 100%;
}

h4.item-selecionado {
    margin: 0;
    height: 30px;
    line-height: 30px;
}

#btn_get_cep {
    margin-bottom: 10px;
}

#btn-pesquisar-projeto-pedagogico {
    margin-top: 3px;
}

#container-form-busca-projeto, #form-prod-proj-add {
    margin-bottom: 10px;
}

#form-projeto-pedagogico-busca-grid {
    margin-top: 20px;
    margin-bottom: 0;
}

#form-projeto-pedagogico-busca-grid tbody td:first-child {
    text-align: center !important;
}

#form-prod-proj-btn-excluir {
    margin-top: 25px;
}

.marginB30 {
    margin-bottom: 30px;
}

.color-box {
    float: left;
    width: 90px;
    height: 30px;
    margin: 5px;
    border: 1px solid #000000;
}

.marginT20 {
    margin-top: 20px;
}

#form-consulta fieldset {
    border: solid 1px #ccc;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px 10px 0 10px;
    overflow: hidden;
}

#form-consulta #container-btns {
    background: #d0d0d0;
    padding-bottom: 5px !important;
}

/**
Refatorando CSS Bootstrap
*/
@media print {
    .visible-print {
        display: inherit !important;
    }

    .hidden-print {
        display: none !important;
    }
}

legend {
    font-size: 17px;
    border-bottom: 1.5px solid #96aac2;
}

.btn-primary {
    background-color: #657391;
    background-image: -moz-linear-gradient(top, #657991, #656a91);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#657991), to(#656a91));
    background-image: -webkit-linear-gradient(top, #657991, #656a91);
    background-image: -o-linear-gradient(top, #657991, #656a91);
    background-image: linear-gradient(to bottom, #657991, #656a91);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff657991', endColorstr='#ff656a91', GradientType=0);
    border-color: #656a91 #656a91 #464964;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

.actions-recebimento {
    margin-bottom: 20px;
}

.nomargin {
    margin: 0;
}

/* COM-11278 - Alteração no select2 */
.select2-results .select2-disabled {
    color: #C0C0C0;
    background: none;
}

.accordion-group, .accordion-inner {
    border-color: #657991;
}

.accordion-heading {
    background-color: #657991;
}

.accordion-heading a {
    color: #fff;
}

/**
 * Imitacao do componente css panel do bootstrap 3 nao existente na versao 2,
 * usada atualmente no G2
 * @author Rafael Bruno (RBD) <rafael.oliveira@unyleya.com.br>
 */
.panel {
    border: 1px solid #657991;
    border-radius: 3px;
    margin-bottom: 10px;
}

.panel-success .panel-title {
    background-image: linear-gradient(to bottom, #62c462, #51a351);
    background-color: #5bb75b;
}

.panel-success.panel {
    border: 1px solid #5bb75b;
}

.panel-danger .panel-title {
    background-image: linear-gradient(to bottom, #ee5f5b, #bd362f);
    background-color: #da4f49;
}

.panel-danger.panel {
    border: 1px solid #da4f49;
}

.panel-warning .panel-title {
    background-image: linear-gradient(to bottom, #fbb450, #f89406);
    background-color: #faa732;
}

.panel-warning.panel {
    border: 1px solid #faa732;
}

.panel-info .panel-title {
    background-image: linear-gradient(to bottom, #5bc0de, #2f96b4);
    background-color: #49afcd;
}

.panel-info.panel {
    border: 1px solid #49afcd;
}

.panel-inverse .panel-title {
    background-image: linear-gradient(to bottom, #444444, #222222);
    background-color: #363636;
}

.panel-inverse.panel {
    border: 1px solid #363636;
}

.panel-body {
    padding: 10px;
    min-height: 100px;
}

.panel-title {
    font-size: 12px;
    padding: 7px 0 0 10px;
    height: 28px;
    background-color: #657991;
    color: #fff;
}

table.mensagem .simbol {
    width: 10px;
}

table.mensagem tr {
    cursor: pointer;
}

table.mensagem .data {
    width: 150px;
}

.nav > li > a.active {
    text-decoration: none;
    background-color: #eeeeee;
}

#wrapper-dados-arquivo .wrapper-table {
    overflow: auto;
}

.periodo-letivo .well {
    margin-bottom: 0;
}

.center {
    text-align: center !important;
}

.icon-refresh-animate {
    -animation: spin .7s infinite linear;
    -ms-animation: spin .7s infinite linear;
    -webkit-animation: spinw .7s infinite linear;
    -moz-animation: spinm .7s infinite linear;
}

@keyframes spin {
    from {
        transform: scale(1) rotate(0deg);
    }
    to {
        transform: scale(1) rotate(360deg);
    }
}

@-webkit-keyframes spinw {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

@-moz-keyframes spinm {
    from {
        -moz-transform: rotate(0deg);
    }
    to {
        -moz-transform: rotate(360deg);
    }
}

.modalSolicitacaoOcorrencia {
    width: 1000px !important;
    left: 33% !important;
}

.pad20top {
    padding-top: 20px;
}

.text-left {
    text-align: left !important;
}

.text-center {
    text-align: center !important;
}

.text-right {
    text-align: right !important;
}

.one-long-line {
    max-width: 400px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.one-long-line:hover {
    white-space: normal;
    overflow: visible;
}

.table-responsive {
    display: block;
    overflow: hidden;
    overflow-x: auto;
    max-width: 100%;
}

.text-upper {
    text-transform: uppercase;
}

.text-lower {
    text-transform: lowercase;
}

.text-capitalize {
    text-transform: capitalize;
}

.celltablegrid {
    border-left: 0 !important;
}

.no-padding {
    padding: 0 !important;
}

.no-margin {
    margin: 0 !important;
}

.modal-title {
    color: #555;
    font-size: 18px;
    margin: 0 !important;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.horizontal-scroll {
    overflow-x: visible;
}

.no-wrap {
    white-space: nowrap;
}

.botao_imagem {
    background-color: #53a753;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    padding: 6px 20px;
    width: 100px !important;
    float: right;
}

.div_imagem {
    float: left;
    display: inline;
    width: 100%;
}

.esconder {
    display: none;
}

#containerInputsValor {
    margin-top: 30px;
}

#divDisponibilidade {
    margin-left: 25px;
}

.tooltip-inner {
    max-width: 250px;
}

.bg-white {
    background-color: #fff !important;
}

.bg-black {
    background-color: #000 !important;
}

#user-profile-wrapper {
    display: flex;
    align-items: center;
}

.flex-container {
    display: flex;
}

#user-profile-template {
    display: flex;
    flex-direction: row;
}

#entidade-holding-template-item {
    padding-left: 5px;
    padding-right: 10px;
}

#entidade-holding-template-item li {
    padding-top: 5px;
}

.botoes_tabela {
    font-size: 20px;
    text-align: center;
    background-color: #ccc;
    color:white;
    margin-top: 10px;
    text-align:right;
}

#div_datas > div {
     display: inline-flex;
}
.textoMensagem {
    background-color: #E1E2E1;
    color:black;
    font-family: Arial;
    font-weight: bold;
    width: 50%;

}

.tituloMensagem {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 50px;
    color:white;
    background-color: #682a3b;
}

.corpoMensagem{

}

#div_datas > div * {
    margin-top:15px;
    margin-left: 5px;
}

#formRelatorio fieldset {
    border: solid 1px #ccc;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px 10px 0 10px;
    overflow: hidden;
}


.label_coord{
    display: inline-block;
    color:#5f5f5f;
}

.div_relatorio{
    text-align: center;
}
.div_relatorio button{
    float:right;
    margin-left: 5px;
}

.well-medium {
    padding: 9px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    display:grid;

}

/* Impede interação do usuário com abas desabilitadas com a classe disabled do Bootstrap 2. */
.bs2-disabled-tab {
    pointer-events: none;
}

/* CSS para tela de Cancelamento Pós */
.tela-cancelamento-pos #lista-itens {
    height: 200px;
    overflow: auto;
}
