#webcam, #canvas {
    width: 320px;
    border:20px solid #333;
    background:#eee;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    margin: auto;
}
.webcamp-componente{text-align: center;}
#webcam {
    position:relative;
}
#flash {
    position:absolute;
    top:0px;
    left:0px;
    z-index:5000;
    width:100%;
    height:500px;
    background-color:#c00;
    display:none;
}

object {
    display:block; /* HTML5 fix */
    position:relative;
    z-index:1000;
}