body {
    font-family: Tahoma;
    font-size: 14px;
}

table {
    border-collapse: collapse;
}

table th {
    text-align: left;
    background-color: #ccc;
}

table td, table th {
    border: 1px solid #000;
    padding: 5px;
}

table td {
    font-weight: bold;
}

table td:first-of-type {
    width: 20px;
}

.node {
    text-align: center;
}

.nodeItem td {
    text-align: center;
    font-weight: normal;
}

table .node:nth-child(1n) {
    background-color: #EEE;

}

.node td:first-of-type, .nodeItem td:first-of-type {
    background-color: #FFFFFF;
}

.nameDisc {
    text-align: center;
    background-color: #FFF;
}

.red {
    background-color: #FFA0A0;
}