<div class="row-fluid">
    <label class="span12">
        <b>Matrícula Origem:</b>
        <select class="span12" id="lista-matriculas-origem"></select>
    </label>
    <div id="info-matricula-container"></div>
</div>