<style type="text/css" media="all">
    /*<style type="text/css" media="print" id="test">*/
    @page {
        margin: 1cm;
        size: 'A4';
    }

    table {
        width: 100%;
    }

    table, td, th {
        border: solid 1px #000;
        border-collapse: collapse;
        text-align: center;
        font-family: "Helvetica Neue", "Arial", sans-serif;
        font-size: 10pt !important;
    }

    td, th {
        padding: 2px;
    }

</style>
<table border="1">
    <thead>
    <tr style="background-color:#395870">
        <th>ID</th>
        <th>Nome</th>
        <th>E-mail</th>
        <th>Telefone Residencial</th>
        <th>Telefone Celular</th>
        <th>Data Abertura</th>
        <th>Data da Última Interação</th>
        <th>Atendente</th>
        <th>Curso</th>
        <th>Situação</th>
    </tr>
    </thead>
    <tbody>
    <?php foreach ($this->dados as $dados) { ?>
        <tr>
            <td><?= $dados['id'] ?></td>
            <td><?= $dados['st_nomecompleto'] ?></td>
            <td><?= $dados['st_email'] ?></td>
            <td><?= $dados['nu_telefoneresidencial'] ?></td>
            <td><?= $dados['nu_telefonecelular'] ?></td>
            <td><?= $dados['dt_cadastro'] ?></td>
            <td><?= $dados['dt_ultimainteracao'] ?></td>
            <td><?= $dados['st_atendente'] ?></td>
            <td><?= $dados['st_produto'] ?></td>
            <td><?= $dados['st_situacao'] ?></td>
        </tr>
    <?php } ?>
    </tbody>
</table>
