<script type="text/template" id="template-filtro-contatos-site">
    <form action="" method="post" name="formFiltro" id="formFiltro" class="form-inline">
        <div class="row-fluid">
            <div class="span2">
                <label class="labelFiltro">Situação:</label>
            </div>
            <div class="span3">
                <select name="id_situacao" id="id_situacao" required>
                    <option value="">Todas</option>
                    <?php
                    if ($this->arrSituacao->getType() == 'success'):
                        foreach ($this->arrSituacao->getMensagem() as $row):
                            ?>
                            <option value="<?php echo $row['id_situacao']; ?>">
                                <?php echo $row['st_situacao']; ?>
                            </option>
                            <?php
                        endforeach;
                    endif;
                    ?>
                </select>
            </div>
            <div class="span2">
                <label>Período de Abertura:</label>
            </div>
            <div class="span4">
                <label class="btn-group">
                    <input type="text" name="dt_inicio" data-button="dt_inicio_ct_distribuir" id="dt_inicio"
                           class="datepicker">
                    <button class="btn" type="button" id="dt_inicio_ct_distribuir"><i class="icon-calendar"></i>
                    </button>
                </label>
                <label class="btn-group">
                    <input type="text" name="dt_fim" id="dt_fim" class="datepicker_range_max maskDate"
                           data-button="dt_fim_ct_distribuir" data-minimo="dt_inicio">
                    <button class="btn" type="button" id="dt_fim_ct_distribuir"><i class="icon-calendar"></i></button>
                </label>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span2">
                <label for="">Atendente</label>
            </div>
            <div class="span3">
                <select name="id_atendente" id="id_atendente">
                    <option value="">Selecionar Todos</option>
                    <?php
                    if (!empty($this->atendentes->getType() == 'success')):
                        /** @var \G2\Entity\VwAtendente $row */
                        foreach ($this->atendentes->getMensagem() as $row):
                            ?>
                            <option value="<?php echo $row->getId_usuario(); ?>">
                                <?php echo $row->getSt_nomecompleto(); ?>
                            </option>
                            <?php
                        endforeach;
                    endif;
                    ?>
                </select>
            </div>
            <div class="span2">
                <label for="">Data da última interação</label>
            </div>
            <div class="span4">
                <input type="text" name="dt_interacao" id="dt_interacao" class="datepicker"
                       data-button="dt_interacao_ct_distribuir">
                <button class="btn" type="button" id="dt_interacao_ct_distribuir"><i class="icon-calendar"></i></button>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="pull-right" style="margin: 10px">
            <div class="span8">
                <button class="btn btn-custom btn-limpar-campos" type="button">Limpar campos</button>
            </div>
            <div class="span4">
                <button class="btn btn-custom btn-pesquisar" type="button">Pesquisar</button>
            </div>
            <div class="span1"></div>
        </div>

    </form>
    <div class="clearfix"></div>
    <div id="containerGrid" class="row-fluid"></div>
</script>
<script id="template-grid-contatos-site" type="text/template">
    <h4>Resultado da pesquisa</h4>
    <hr/>
    <form action="" method="post" name="formContatos" id="formContatos">
        <div class="pull-left">
            <button class="btn btn-info" type="button" title="Gerar Xls" id="gerarXls">Gerar Xls</button>
            <button class="btn btn-danger btn-descartar" type="button" disabled title="Marcar como Descartado">
                Marcar como Descartado
            </button>
        </div>
        <div class="pull-right span6">
            <div class="span2"></div>
            <div class="span8">
                <div class="span5">
                    <label for="">Selecionar Atendente</label>
                </div>
                <div class="span3">
                    <select name="id_atendente_distribuir" id="id_atendente_distribuir">
                        <option value="">Selecionar</option>
                        <?php
                        if (!empty($this->atendentes->getType() == 'success')):
                            /** @var \G2\Entity\VwAtendente $row */
                            foreach ($this->atendentes->getMensagem() as $row):
                                ?>
                                <option value="<?php echo $row->getId_usuario(); ?>">
                                    <?php echo $row->getSt_nomecompleto(); ?>
                                </option>
                                <?php
                            endforeach;
                        endif;
                        ?>
                    </select>
                </div>
            </div>
            <div class="span2">
                <button class="btn btn-warning btn-distruibir" type="button" disabled="" title="Distribuir">
                    Distribuir
                </button>
            </div>
        </div>
        <div class="clearfix"></div>
        <div id="tblGrid" class="row-fluid"></div>
    </form>
</script>
<div class="row-fluid" id="containerAll"></div>

<style>
    .labelFiltro{
        line-height: 30px;
    }
    #tblGrid{
        margin: 10px 0;
    }
    .backgrid thead tr th:last-child,
    .backgrid tbody tr td:last-child{
        text-align: center;
    }
    .btn-custom{
        margin-top: -5px;
    }

    label {
        line-height: 30px;
    }

    .modal {
        width: 720px;
    }
</style>


<script type="text/javascript"> $('#htmlContent script[type="text/template"]').appendTo($('#templateHolder'));</script>
<script type="text/javascript" src="<?php echo $this->url()?>/js"></script>