<div class="content">
    <?php
    if (!empty($this->interacoes)) { ?>
        <div class="row">
            <div class="span7">
                <div class="span2 no-margin">Nome do Aluno:</div>
                <div class="span5 no-margin"><?= $this->interacoes[0]['st_nomecompleto'] ?></div>
            </div>
            <div class="span7">
                <div class="span2 no-margin">Curso:</div>
                <div class="span5 no-margin"><?= $this->interacoes[0]['st_produto'] ?></div>
            </div>
        </div>
        <div class="row">
            <div class="content-fluid">
                <div class="span7">
                    <table class="backgrid backgrid-selectall table table-striped table-bordered table-hover">
                        <thead>
                        <tr>
                            <td>Data</td>
                            <td>Nome do Atendente</td>
                            <td>Descrição</td>
                        </tr>
                        </thead>
                        <tbody>
                        <?php foreach ($this->interacoes as $interacao) { ?>
                            <tr>
                                <td><?= $interacao['dt_cadastro'] ?></td>
                                <td><?= $interacao['st_nomeatendente'] ?></td>
                                <td><?= $interacao['st_tramite'] ?></td>
                            </tr>
                        <?php } ?>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    <?php } else { ?>
        <div class="row">
            <div class="span7">
                <div align="center">Nenhuma interação encontrada</div>
            </div>
        </div>
    <?php } ?>
</div>