<script type="text/template" id="global-template">

    <form id="form">
        <div class="well well-large">
            <legend>Item Material</legend>

            <div class="row-fluid">
                <label class="span6">
                    Nome:
                    <input class="span12" type="text" name="st_itemdematerial" value="<%= st_itemdematerial %>" />
                </label>
                <label class="span3">
                    Tipo de Material:
                    <select id="id_tipodematerial" class="span12" name="id_tipodematerial"></select>
                </label>
                <label class="span3">
                    Situação:
                    <select id="id_situacao" class="span12" name="id_situacao"></select>
                </label>
            </div>
            <div class="row-fluid">
                <label class="span3">
                    Peso:
                    <input class="span12" type="text" name="nu_peso" value="<%= nu_peso %>" />
                </label>
                <label class="span3">
                    Quantidade de páginas:
                    <input class="span12" type="text" name="nu_qtdepaginas" value="<%= nu_qtdepaginas %>" />
                </label>
                <fieldset class="span6">
                    <p>
                        Arquivo atual: <a href="/upload/material/<%= st_upload %>" target="_blank"><b><%= st_upload %></b></a>
                    </p>
                    <legend>Arquivos (Pdf, Doc ou Docx):</legend>
                    <input type="file" name="id_upload" id="id_upload" value="<%= id_upload %>" accept=".pdf,.doc,.docx" />
                </fieldset>
            </div>
        </div>


        <div id="disciplinas-list">

            <div class="well well-large search-box">
                <legend>Disciplina</legend>
                <div class="row-fluid">
                    <div class="control-group span12">
                        <div class="span6" style="padding-bottom:5px;">
                            <label for="nomeProjPedagogico">Nome</label>
                            <input type="text" class="input-disciplina span12"  alt="pesquisa-disciplinas" placeholder="Filtrar Disciplinas" />
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div id="disciplinas-all-list" class="control-group span6" style="overflow: auto; height: 200px;">
                           Digite pelo menos 3 caracteres para efetuar uma busca.
                            <!--Aparecera a lista de disciplinas-->
                        </div>
                        <div id="disciplinas-selecionadas-list" class="control-group span6" style="overflow: auto; height: 200px;">
                            <!--Aparecera as disciplinas adicionadas-->
                        </div>
                    </div>
                </div>
            </div>

        </div>


        <div id="projetos-list">

            <div class="well well-large search-box">
                <legend>Projeto Pedagógico</legend>
                <div class="row-fluid">
                    <div class="control-group span12">
                        <div class="span6" style="padding-bottom:5px;">
                            <label for="nomeProjPedagogico">Os projetos pedagógicos são listados de acordo com as disciplinas selecionadas!</label>
<!--                            <input type="text" class="search-projeto span12"  alt="pesquisa-projetos" placeholder="Filtrar Projetos Pedagógicos" />-->
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div id="projetos-all-list" class="control-group span6" style="overflow: auto; height: 200px;">
                            <!--Aparecera a lista de projetos-->
                        </div>
                        <div id="projetos-selecionados-list" class="control-group span6" style="overflow: auto; height: 200px;">
                            <!--Aparecera os projetos adicionadas-->
                        </div>
                    </div>
                </div>
            </div>

        </div>


        <div class="well">
            <div class="pull-right">
                <button type="submit" class="btn btn-success">
                    <i class="icon icon-ok icon-white"></i>
                    Salvar
                </button>
                <!--<button type="button" class="btn btn-cancel">-->
                <!--<i class="icon icon-remove"></i>-->
                <!--Cancelar-->
                <!--</button>-->
            </div>
        </div>

        <hr/>

    </form>
</script>

<script type="text/template" id="table-template">
    <table role="dialog" class="table table-bordered table-striped backgrid">
        <thead>
        <tr>
            <th>Descrição</th>
            <th>Adicionar</th>
        </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</script>


<!--Templates Disciplinas-->
<script type="text/template" id="disciplinas-all-template">
    <table role="dialog" class="pesquisa-disciplinas table table-bordered table-striped backgrid">
        <thead>
        <tr>
            <th>Disciplina</th>
            <th>Adicionar</th>
        </tr>
        </thead>
        <tbody id="body-disciplinas-all">

        </tbody>
    </table>
</script>

<script type="text/template" id="disciplinas-selecionadas-template">
    <table role="dialog" class="table table-bordered table-striped backgrid">
        <thead>
        <tr>
            <th class="span1">Remover</th>
            <th>Disciplinas</th>
        </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</script>

<script type="text/template" id="disciplinas-all-item">
    <td><%= st_disciplina %></td>
    <td>
        <a class="btn btn-success pull-right btn-add" title="Adicionar">
            <i class="icon  icon-arrow-right icon-white"></i>
        </a>
    </td>
</script>

<script type="text/template" id="disciplinas-selecionadas-item">
    <td>
        <a class="btn btn-danger pull-left btn-remove">
            <i class="icon  icon-arrow-left icon-white"></i>
        </a>
    </td>
    <td><%= st_disciplina %></td>
</script>


<!--Projetos Pedagógicos Templates-->
<script type="text/template" id="projetos-all-template">
    <table role="dialog" class="pesquisa-projetos table table-bordered table-striped backgrid">
        <thead>
        <tr>
            <th>Projeto Pedagógico</th>
            <th>Adicionar</th>
        </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</script>

<script type="text/template" id="projetos-selecionados-template">
    <table role="dialog" class="table table-bordered table-striped backgrid">
        <thead>
        <tr>
            <th class="span1">Remover</th>
            <th>Projetos Pedagógicos</th>
        </tr>
        </thead>
        <tbody>
        <!--resultados aparecerão aqui-->
        </tbody>
    </table>
</script>

<script type="text/template" id="projetos-all-item">
    <td><%= st_projetopedagogico %></td>
    <td>
        <a class="btn btn-success pull-right btn-add" title="Adicionar">
            <i class="icon  icon-arrow-right icon-white"></i>
        </a>
    </td>
</script>

<script type="text/template" id="projetos-selecionados-item">
    <td>
        <a class="btn btn-danger pull-left btn-remove">
            <i class="icon  icon-arrow-left icon-white"></i>
        </a>
    </td>,
    <td><%= st_projetopedagogico %></td>
</script>



<div class="clearfix"></div>
<hr/>

<script type="text/javascript"> $('#htmlContent script[type="text/template"]').appendTo($('#templateHolder'));</script>
<script type="text/javascript" src="/item-de-material/js"></script>