<script type="text/template" id="pesquisa-template">
    <div id="container-form">
    <?php
    if (isset($this->form)):
        $form = $this->form;
        $grid = json_encode($this->gridCampos);
        $form->addElement('hidden', 'grid', array('value' => $grid));
        echo $form;
    endif;
    ?>
    </div>
    <div id="container-modal-historico-financeiro"></div>
    <div id="container-grid"><!--Container da Grid--></div>
    <link rel="stylesheet" type="text/css" href="<?php echo $this->baseUrl(); ?>/css/pesquisa.css" />
</script>
<script type="text/javascript">
    ColunasGrid = <?php echo json_encode($this->gridCampos['grid']); ?>;
</script>

<script type="text/javascript">
    $('#templateHolder')
        .find('#pesquisa-template').remove()
        .end()
        .append($('#htmlContent script[type="text/template"]'))
    ;
</script>

<script type="text/javascript" src="<?php echo $this->baseUrl(); ?>/js/pesquisa/pesquisa.js"></script>
<!--<script type="text/javascript">-->
<!--    $('.historico').popover();-->
<!--</script>-->