<!DOCTYPE html>
<meta charset="ISO-8859-1">
<html>
    <head>  
        <style type="text/css">
            body{
                margin:0;
                padding:0;
                text-align:center; /* hack para o IE */ 
            }
            .all{
                /*border: 1px solid;*/
                padding: 1px 1px 1px 1px;
                width: 950px;
                margin:0 auto;         
                text-align:left; /* "remédio" para o hack do IE */  
            }
            #btn-print{
                text-align: right;
            }
            .div{
                /*border-radius: 5px;*/
                border: 1px solid #000;
                border-top: none;
                padding: 5px 0 5px 5px;
            }
            .div:first-of-type{
                border-top: 1px solid #000;
            }
            #bottom{
                color: #777777;
            }
            .table{
                width: 100%;
            }
            .tbody #tr td{
                border-bottom: solid 1px #000;
                padding: 15px;
            }

        </style>
    </head>
    <body>
        <?php
        if ($this->mensagem):
            echo $this->mensagem;
        else:
            ?>
            <div class="all">
                <div id="head">
                    <table class="table">
                        <tr>
                            <td>
                                <h2>Lista de Frequência</h2>
                            </td>
                            <td>
                                <button name="print" onclick="print()">Imprimir</button>
                            </td>
                            <td align="right">
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="body">
                    <table style="margin-bottom: 10px; padding:0px; text-align: center;">
                        <thead style="background-color: #ccc;">
                        <th>Alunos</th>
                        <th>Projeto Pedagógico</th>
                        <th>Disciplina</th>
                        <th>Tipo de Prova</th>
                        <th>Data da Prova</th>
                        <th>Hora de Prova</th>
                        <th>Pólo</th>
                        <th>Presença</th>
                        <th>Responsável</th>
                        </thead>
                        <tbody>
                              <?php foreach ($this->dados as $value): ?>
                                <tr>
                                    <td style="border-bottom:solid #000 1px;"> <?php echo $value['st_exibe'] ?></td>
                                    <td style="border-bottom:solid #000 1px;"> <?php echo $value['st_projetopedagogico'] ?></td>
                                    <td style="border-bottom:solid #000 1px;"> <?php echo $value['st_disciplina'] ?></td>
                                    <td style="border-bottom:solid #000 1px;"> <?php echo $value['st_avaliacao'] ?></td>
                                    <td style="border-bottom:solid #000 1px;"> <?php echo $value['dt_aplicacao'] ?></td>
                                    <td style="border-bottom:solid #000 1px;"> <?php echo $value['st_horarioaula'] ?></td>
                                    <td style="border-bottom:solid #000 1px;"> <?php echo $value['st_aplicadorprova'] ?></td>
                                    <td style="border-bottom:solid #000 1px;"> <?php echo ($value['nu_presenca']==1 ? 'Presente' : 'Ausente') ?></td>
                                    <td style="border-bottom:solid #000 1px;"> <?php echo $value['st_usuariolancamento'] ?></td>
                                </tr>
                            <?php endforeach; ?>

                        </tbody>
                    </table>

                    <div class="div">
                        <div>
                            <strong id="bottom">Impressão gerada em <?php echo date('d/m/Y') ?> às <?php echo date('h:m') ?>h</strong>
                        </div>
                    </div>
                </div>
                <br>
            </div>
        </div>
    <?php endif; ?>
</body>
</html>
