<script type="text/template" id="template-tabs" xmlns="http://www.w3.org/1999/html">
    <div class="row-fluid">
        <ul class="nav nav-tabs" id="tabMensagensPadrao">
            <li class="active"><a href="#mensagens-email" data-toggle="tab">Mensagens de Email</a></li>
            <li class="disabled"><a href="#mensagens-sms" data-toggle="tab">Mensagens de SMS</a></li>
            <li class="disabled"><a href="#mensagens-sistema" data-toggle="tab">Mensagens do Sistema</a></li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active" id="mensagens-email">
            </div>
            <div class="tab-pane" id="mensagens-sms">
            </div>
            <div class="tab-pane" id="mensagens-sistema">
            </div>
        </div>
    </div>
</script>


<!-- Email -->
<script type="text/template" id="mensagem-email-view">
    <legend>Mensagens de E-mail</legend>
    <table id="tableMensEmail" class='backgrid backgrid-selectall table table-striped table-bordered table-hover'>
        <thead>
        <tr>
            <th>Mensagem Padrão</th>
            <th>Categoria</th>
            <th>Texto Sistema</th>
            <th>Conta de Envio</th>
            <th>Ações</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</script>
<script type="text/template" id="mensagem-email-item-view">
    <td><%= st_mensagempadrao %></td>
    <td><%= st_textocategoria %></td>
    <td><%= st_textosistema %></td>
    <td><%= st_conta %></td>
    <td width="200"><a id="btnedit" class="edit-link btn btn-mini btn-custom">Editar</a></td>
</script>
<script type="text/template" id="mensagem-email-item-view-edit">
    <td><%= st_mensagempadrao %></td>
    <td><%= st_textocategoria %></td>
    <td>
        <select id="slTextoSistema">
            <option value>Selecione uma opção</option>
        </select>
    </td>
    <td>
        <select id="slContaEnvio">
            <option value>Selecione uma opção</option>
        </select>
    </td>
    <td width="200">
        <a id="btnsalvar" class="save-link btn btn-mini btn-success">Salvar</a>
        <a id="btncancelar" class="cancel-link btn btn-mini">Cancelar</a>
    </td>
</script>
<script type="text/template" id="mensagem-email-empty-view">
    Nenhum dado recebido
</script>
<!--/Email-->

<!-- SMS -->
<script type="text/template" id="mensagem-sms-view">
    <legend>Mensagens de SMS</legend>
    <table id="tableSmsEmail" class='backgrid backgrid-selectall table table-striped table-bordered table-hover'>
        <thead>
        <tr>
            <th>Mensagem Padrão</th>
            <th>Texto Sistema</th>
            <th>Ações</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</script>
<script type="text/template" id="mensagem-sms-item-view">
    <td><%= st_mensagempadrao %></td>
    <td><%= st_textosistema %></td>
    <td width="200"><a id="btnedit" class="edit-link btn btn-mini btn-custom">Editar</a></td>
</script>
<script type="text/template" id="mensagem-sms-item-view-edit">
    <td><%= st_mensagempadrao %></td>
    <td>
        <select id="slTextoSistema">
            <option value>Selecione uma opção</option>
        </select>
    </td>
    <td width="200">
        <a id="btnsalvar" class="save-link btn btn-mini btn-success">Salvar</a>
        <a id="btncancelar" class="cancel-link btn btn-mini">Cancelar</a>
    </td>
</script>
<script type="text/template" id="mensagem-sms-empty-view">
    Nenhum dado recebido
</script>
<!-- /SMS -->

<!-- Sistema -->
<script type="text/template" id="mensagem-sistema-view">
    <legend>Mensagens do Sistema</legend>
    <table id="tableSmsEmail" class='backgrid backgrid-selectall table table-striped table-bordered table-hover'>
        <thead>
        <tr>
            <th>Mensagem Padrão</th>
            <th>Texto Sistema</th>
            <th>Ações</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</script>
<script type="text/template" id="mensagem-sistema-empty-view">
    Nenhum dado recebido
</script>
<script type="text/template" id="mensagem-sistema-item-view">
    <td><%= st_mensagempadrao %></td>
    <td><%= st_textosistema %></td>
    <td width="200"><a id="btnedit" class="edit-link btn btn-mini btn-custom">Editar</a></td>
</script>
<script type="text/template" id="mensagem-sistema-item-view-edit">
    <td><%= st_mensagempadrao %></td>
    <td>
        <select id="slTextoSistema">
            <option value>Selecione uma opção</option>
        </select>
    </td>
    <td width="200">
        <a id="btnsalvar" class="save-link btn btn-mini btn-success">Salvar</a>
        <a id="btncancelar" class="cancel-link btn btn-mini">Cancelar</a>
    </td>
</script>
<!-- /Sistema -->

<script type="text/javascript"> $('#htmlContent script[type="text/template"]').appendTo($('#templateHolder'));</script>
<script type="text/javascript" src="<?php echo $this->url() ?>/js"></script>