<?php
header("Content-type: application/vnd.ms-excel");
header("Content-type: application/force-download");
header("Pragma: no-cache");

$html = '<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" >';
$html .= '<table border="1" >';
$html .= '<thead >';
$html .= '<tr style="background-color:#395870; color: white">';
$html .= '<th>Nome do Aluno</th>';
$html .= '<th>Identificação</th>';
$html .= '<th>Turma</th>';
$html .= '<th>Possui foto</th>';
$html .= '</tr>';
$html .= '</thead>';
$html .= '<tbody>';

foreach ($this->result as $value) {
    $foto = ($value->st_urlavatar) ? 'Sim' : 'Não';
    $html .= '<tr>';
    $html .= '<td>' . $value->st_nomecompleto . '</td>';
    $html .= '<td>' . $value->st_identificacao . '</td>';
    $html .= '<td>' . $value->st_codigo . '</td>';
    $html .= '<td>' . $foto . '</td>';
    $html .= '</tr>';
}
$html .= '</tbody>';
$html .= '</table>';
$arquivo = 'impressao_carteirinha_' . date('d-m-Y') . '.xls';
header("Last-Modified: " . gmdate("D,d M YH:i:s") . " GMT");
header("Cache-Control: no-cache, must-revalidate");
header("Pragma: no-cache");
//header('Content-type: ' . $this->tipo . '; charset="utf-8"');
header("Content-Disposition: attachment; filename=\"{$arquivo}\"");
header("Content-Description: PHP Generated Data");

echo $html;
?>
<style type="text/css" media="all">
    /*<style type="text/css" media="print" id="test">*/
    @page {
        margin: 1cm;
        size: 'A4';
    }

    table {
        width: 100%;
    }

    table, td, th {
        border: solid 1px #000;
        border-collapse: collapse;
        text-align: center;
        font-family: "Helvetica Neue", "Arial", sans-serif;
        font-size: 10pt !important;
    }

    td, th {
        padding: 2px;
    }

</style>