<script type="text/template" id="template-dados-carteirinha">
    <div class="row-fluid">
        <div id="wrapper-dados"></div>
    </div>
</script>

<script type="text/template" id="template-dados">
    <div class="well well-large">
        <div class="row-fluid">
            <fieldset>
                <legend>Filtro impressão de carteirinha</legend>
                <div class="row-fluid">
                    <div class="span3">
                        <label>Alunos com foto</label>
                        <select class="span12" name="st_urlavatar" id="st_urlavatar">
                            <option value="1">Sim</option>
                            <option value="0">Não</option>
                        </select>
                    </div>

                    <div class="span2">
                        <div class="input-append">
                            <label for="dt_matricula_inicial">Data de matrícula de: </label>
                            <input type="text" title="Data matrícula inicial"
                                   class="span8 maskDate datepicker_range_min"
                                   id="dt_matricula_inicial" name="dt_matricula_inicial">
                            <button class="btn js-bt-calendar" data-calendar="dt_matricula_inicial"
                                    type="button">
                                <i class="icon icon-calendar"></i>
                            </button>
                        </div>
                    </div>

                    <div class="span2">
                        <div class="input-append">
                            <label for="dt_matricula_fim"> Data de matrícula até:</label>
                            <input type="text" title="Data matrícula final"
                                   class="span8 maskDate datepicker_range_max"
                                   id="dt_matricula_fim" name="dt_matricula_fim">
                            <button class="btn js-bt-calendar" data-calendar="dt_matricula_fim"
                                    type="button">
                                <i class="icon icon-calendar"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <button class="btn btn-primary" type="button" id="btn-pesquisar">
                    Pesquisar
                </button>
            </fieldset>
        </div>
    </div>
    <div id="container-DataGrid" class="well well-large">
        <div class="row-fluid">
            <div id="regiao-grade-data" class="span12"></div>
            <div class="control-group">
                <div class="pull-right">
                    <button class="btn btn-primary" type="button" id="btn-gerar-xls">Gerar XLS</button>
                    <button class="btn btn-custo" type="button" id="btn-imprimir">Imprimir</button>
                    <button class="btn btn-success" type="button" id="btn-salvar">Salvar</button>
                </div>
            </div>
        </div>
    </div>
</script>

<script type="text/javascript"> $('#htmlContent script[type="text/template"]').appendTo($('#templateHolder'));</script>
<script type="text/javascript" src="/impressao-carteirinha/js"></script>