#mensageiro {
	float: left;
	position:absolute;
	width: 100%;
	height: 50px;
	z-index:8009;
	display: none;
}

#panel-mensageiro {
	margin: 0 auto;
	top:2px;
	padding: 0px 10px 0px 10px;
	border:1px solid #090;
	width: 400px;
	border:1px solid #000;
	display: none;
	-moz-border-radius: 5px; -webkit-border-radius: 5px;
	-moz-box-shadow: 4px 4px 2px #888;
	-webkit-box-shadow: 4px 4px 2px #888;
	box-shadow: 4px 4px 2px #888;
	filter:opacity(alpha=70);
     -moz-opacity: 0.7;
     opacity:0.7;	
}

.mensageiro-sucesso {
	background-color: lime;
}

.mensageiro-aviso {
	background-color: yellow;
}

.mensageiro-erro {
	background-color: red;
}
