<?php echo $this->render('/util/auto-complete-pessoa.phtml'); ?>
<script src="/gestor2/js/MensagensG2.js" type="text/javascript"></script>
<script src="/js/backbone/views/Util/SelectView.js" type="text/javascript"></script>
<script src="/gestor2/js/auto-complete-componente.js" type="text/javascript"></script>

<script type="text/template" id="template-modal-add-declaracao">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Declarações Fixas</h3>
    </div>
    <div class="modal-body">

        <table class="backgrid table table-condensed table-grid">
            <thead class="table-condensed">
            <th>Título</th>
            <th>Ação</th>
            </thead>
            <tbody>
            <td class="row-">Histórico Escolar Parcial</td>
            <td class="row-">
                <a href="diplomacao/gerar-documento/?documento=historico&origem=declaracao&id_matricula=<%= id_matricula %>&download=1"
                   class="btn btn-small" title="Download do histórico em PDF" target="_blank"><i class="icon icon-download"></i></a>
                <a href="diplomacao/gerar-documento/?documento=historico&origem=declaracao&id_matricula=<%= id_matricula %>"
                   class="btn btn-small" title="Exibir o histórico no navegador" target="_blank"><i class="icon icon-print"></i></a>
            </td>
            </tbody>
        </table>

        <h3>Declarações</h3>
        <table class="backgrid table table-condensed table-grid">
            <thead class="table-condensed">
            <th>Selecione</th>
            <th>Título</th>
            <th>Situação</th>
            <th>Início</th>
            <th>Fim</th>
            <th>Ação</th>
            </thead>
            <tbody id="body-table-grid-add-declaracao"></tbody>
        </table>

    </div>
    <div class="modal-footer">
        <button type="button" id="btn-gerar-declaracao" class="btn btn-info">
            <i class="icon-plus-sign icon-white"></i>
            Gerar nova declaração
        </button>
    </div>
</script>

<script type="text/template" id="template-grid-add-declaracao">
    <td class="row-"><input type="radio" name="item-declaracao" class="radio-lista-declaracao"></td>
    <td class="row-"><%= st_textosistema %></td>
    <td class="row-"><%= st_situacao %></td>
    <td class="row-"><%= dt_inicio %></td>
    <td class="row-"><%= dt_fim %></td>
    <td class="row-">
        <a href="/textos/geracao/?id_textosistema=<%= id_textosistema %>&arrParams[id_matricula]=<%= idMatricula %>&type=pdf&filename=Declaracao"
           class="btn btn-small" title="Download do arquivo em PDF" target="_blank"><i
                class="icon icon-download"></i></a>
        <a href="/textos/geracao/?id_textosistema=<%= id_textosistema %>&arrParams[id_matricula]=<%= idMatricula %>&type=html&filename=Declaracao"
           class="btn btn-small" title="Download do arquivo em HTML" target="_blank"><i class="icon icon-print"></i></a>
    </td>
</script>

<script type="text/template" id="template-layout-grade">
    <div class="row-fluid" id="regiao-pesquisa"></div>
    <div class="well">
        <div class="row-fluid" id="regiao-pesquisa-matricula"></div>
        <div class="row-fluid" id="regiao-dados"></div>
        <div id="regiao-modal"></div>
    </div>
</script>

<script type="text/template" id="template-entrega-declaracao">
    <div class="row-fluid">
        <label class="span4">
            Matrícula
            <select id="id-matricula" class="span12">
                <option value="">Selecione</option>
            </select>
        </label>
        <div class="span8">
            <button type="button" id="btn-add-declaracao" class="btn btn-info marginT20">
                <i class="icon-plus-sign icon-white"></i>
                Adicionar nova declaração
            </button>
        </div>
    </div>

</script>


<script type="text/template" id="template-table-documento">
    <hr/>
    <table class="backgrid table table-striped table-bordered table-grid">
        <thead>
        <th>Declaração</th>
        <th>Situação</th>
        <th>Solicitação</th>
        <th>Entrega</th>
        <th>Visualização</th>
        <th>Entregar</th>
        </thead>
        <tbody id="body-table-grid"></tbody>
    </table>
</script>
<script type="text/template" id="template-grid-tbody">
    <td class="row-"><%= st_textosistema %></td>
    <td class="row-"><%= st_situacao %></td>
    <td class="row-"><%= dt_solicitacao %></td>
    <td class="row-"><%= dt_entrega != '' ? dt_entrega : '' %></td>
    <td class="row-">
        <a href="/textos/geracao/?id_textosistema=<%= id_textosistema %>&arrParams[id_matricula]=<%= id_matricula %>&type=pdf&filename=Declaracao"
           class="btn btn-small" title="Download do arquivo em PDF" target="_blank"><i
                class="icon icon-download"></i></a>
        <a href="/textos/geracao/?id_textosistema=<%= id_textosistema %>&arrParams[id_matricula]=<%= id_matricula %>&type=html&filename=Declaracao"
           class="btn btn-small" title="Download do arquivo em HTML" target="_blank"><i class="icon icon-print"></i></a>
    </td>
    <td class="row-">
        <%= dt_entrega == '' ? '<button title="Entregar declaração" id="btn-finaliza-entrega" target="_blank"><i class="icon icon-check"></i></button>' :'' %>

    </td>
</script>


<script type="text/template" id="template-lista-vazia">
    <td colspan="8">
        <div class="alert alert-warning">Nenhum item para exibição</div>
    </td>
</script>


<script type="text/template" id="template-grid-tbody-revisao">
    <td><%= id_matricula %> - <%= st_projetopedagogico %>  -  <%= st_evolucao %></td>
    <td class="span3">
        <div>
            <a class='btn btn-small btn-success historico' rel='tooltip' data-trigger='hover' data-placement='top'
               data-toggle='popover' data-content='Exibe as alterações de documentação dessa matrícula.'
               data-original-title='Histórico de Alterações'>
                <i class='icon icon-white icon-list-alt'></i>
            </a>
        </div>
        <div id="container-modal-historico-documentacao"></div>
    </td>
</script>

<script type="text/template" id="template-table-revisao">
    <table class="backgrid table table-condensed table-grid">
        <thead class="table-condensed">
        <th>Curso</th>
        <th>Documentação</th>
        <th>Histórico</th>
        </thead>
        <tbody id="body-table-grid-revisao"></tbody>
    </table>
</script>


<script type="text/javascript">
    $('#htmlContent script[type="text/template"]').appendTo($('#templateHolder'));
    $('#templateHolder').append('<link rel="stylesheet" type="text/css" href="/css/auto-complete-pessoa.css" />');
</script>