<div class="container">
    <div class="row pad-n-10">
        <div class="col-md-12">
            <fieldset>
                <div class="col-md-12">
                    <h4>Cliente</h4>
                    <table class="pad-n-10 table table-bordered text-left">
                        <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Data da Compra</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><?php echo $this->venda->aluno->stNomeCompleto; ?></td>
                                <td><?php echo $this->venda->dtCadastro; ?></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </fieldset>
        </div>
    </div>

    <div class="row pad-n-10">
        <div class="col-md-12">
            <fieldset>
                <div class="col-md-12">
                    <h4>PRODUTOS</h4>
                    <table class="pad-n-10 table table-bordered text-left">
                        <thead>
                        <tr>
                            <th>Produto</th>
                            <th>Quantidade</th>
                            <th>Valor</th>
                        </tr>
                        </thead>
                        <tbody>
                        <?php foreach($this->venda->produtos as $produto): ?>
                            <tr>
                                <td><?php echo $produto->noProduto; ?></td>
                                <td><?php echo $produto->nuProduto; ?></td>
                                <?php if ($produto->blRenegociado): ?>
                                <td>R$ <abbr title="Este valor refere-se ao negociado e não ao original do produto">
                                <?php echo $produto->nuValorLiquido; ?></abbr></td>
                                <?php else: ?>
                                <td>R$ <?php echo $produto->nuValorLiquido; ?></td>
                                <?php endif; ?>
                            </tr>
                        <?php endforeach; ?>
                        <tr>
                            <td colspan="3"></td>
                        </tr>
                        <tr class="tabela-total">
                            <td colspan="2">TOTAL</td>
                            <td>R$ <?php echo $this->venda->nuValorTotalExibicao; ?></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </fieldset>
        </div>
    </div>

    <!-- até aqui, tem nos ajudado o senhor -->
    <div class="row pad-n-10">
        <div class="col-md-12">
            <fieldset>
                <h4>CARTÃO DE CRÉDITO</h4>
                <h5>Para efetuar o pagamento, clique no botão abaixo. Será feita uma cobrança no valor de R$
                    <?=$this->venda->nuValorTotalExibicao?> no total de <?=$this->venda->lancamento->nuParcelas?> parcela(s) no valor de R$ <?= $this->venda->lancamento->nuValorLiquidoExibicao?>.</h5>
                <form action="/loja/recebimento/confirmar-cartao" method="post" name="form-cartao" id="form-cartao">
                    <input type="hidden" name="id_venda" id="id_venda" value="<?php echo $this->venda->idVenda; ?>"/>
                    <input type="hidden" name="id_meiopagamento" id="id_meiopagamentoCartao" value="<?php echo $this->venda->idMeioPagamento; ?>"/>
                    <input type="hidden" name="nu_cartaoUtilizado" id="nu_cartaoUtilizado" value="<?php echo $this->venda->lancamento->nu_cartaoUtilizado; ?>"/>
                    <input type="hidden" name="id_lancamento" id="id_lancamento" value="<?php echo $this->venda->lancamento->idLancamento; ?>" />
                    <input type="hidden" name="id_acordo" id="id_acordo" value="<?php echo $this->venda->idAcordo; ?>" />
                    <input type="hidden" name="nu_parcelas" id="nu_parcelas" value="<?php echo $this->venda->lancamento->nuParcelas; ?>" />
                    <input type="hidden" name="amount" id="amount" value="<?=number_format(str_replace(',','.',$this->venda->nuValorTotalExibicao),2,'','');?>" />

                    <script type="text/javascript"
                            src="https://assets.pagar.me/checkout/checkout.js"
                            data-button-text="Pagar com cartão de crédito"
                            data-encryption-key="<?=$this->st_chavecriptografiapagarme?>"
                            data-customer-data="false"
                            data-payment-methods="credit_card"
                            data-create-token="false"
                            data-ui-color="#eb100f"
                            data-card-brands="<?=$this->venda->bandeiras ?>"
                            data-default-installment="<?=$this->venda->lancamento->nuParcelas?>"
                            data-payment-button-text="Pagar ( <?=$this->venda->lancamento->nuParcelas?> x de <?=$this->venda->lancamento->nuValorLiquidoExibicao?> )"
                            data-amount="<?=number_format(str_replace(',','.',$this->venda->nuValorTotalExibicao),2,'','');?>">
                    </script>
                </form>
            </fieldset>
        </div>
    </div>
</div>

<script type="text/javascript" src="/assets/javascripts/classes/loading.js"></script>
<script type="text/javascript" src="/assets/javascripts/recebimento.js"></script>
