<div class="container">
    <div class="row pad-n-10">
        <div class="col-md-12">
            <fieldset>
                <div class="col-md-12">
                    <h4>Cliente</h4>
                    <table class="pad-n-10 table table-bordered text-left">
                        <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Data da Compra</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td><?php echo $this->venda->getIdUsuario()->getSt_nomecompleto() ?></td>
                            <td><?php echo $this->venda->getDtCadastro()->format('d/m/Y') ?></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </fieldset>
        </div>
    </div>

    <div class="row pad-n-10">
        <div class="col-md-12">
            <fieldset>
                <div class="col-md-12">
                    <h4>PRODUTOS</h4>
                    <table class="pad-n-10 table table-bordered text-left">
                        <thead>
                        <tr>
                            <th>Produto</th>
                            <th>Quantidade</th>
                            <th>Valor</th>
                        </tr>
                        </thead>
                        <tbody>
                        <?
                        $total = 0;
                        foreach ($this->produtos as $pro) {
                            if ($pro instanceof \G2\Entity\VwProdutoVenda) { ?>
                                <tr>
                                    <td><?php echo $pro->getSt_produto() ?></td>
                                    <td>1</td>
                                    <td>
                                        R$ <?php echo number_format($pro->getNu_valorliquido(), 2, ',', '.');
                                        $total += $pro->getNu_valorliquido(); ?>
                                    </td>
                                </tr>
                            <? }
                        } ?>
                        <tr>
                            <td colspan="3"></td>
                        </tr>
                        <tr class="tabela-total">
                            <td colspan="2">TOTAL</td>
                            <td>R$ <?php echo number_format((float)$total, 2, ',', '.') ?></td>
                        </tr>
                        </tbody>
                    </table>

                </div>
            </fieldset>
        </div>
    </div>

    <div class="row pad-n-10">
        <div class="col-md-12">
            <fieldset>
                <h4>CARTÃO DE CRÉDITO - <?php echo $this->lancamento->getStNomecompleto()?></h4>
                <form action="/loja/recebimento/confirmar-cartao" method="post" name="form-cartao" id="form-cartao">
                    <input type="hidden" name="id_venda" id="id_venda"
                           value="<?php echo $this->venda->getIdVenda() ?>"/>
                    <input type="hidden" name="id_meiopagamento" id="id_meiopagamentoCartao"
                           value="<?php echo $this->lancamento->getIdMeiopagamento() ?>"/>
                    <input type="hidden" name="amount" id="amount"
                           value="<?php echo $this->nu_valor_pagarme ?>"/>
                    <input type="hidden" name="id_lancamento" id="id_lancamento"
                           value="<?php echo $this->lancamento->getIdLancamento() ?>"/>
                    <input type="hidden" name="id_plano_pagamento_pagarme" id="id_plano_pagamento_pagarme"
                           value="<?php echo $this->id_plano_pagamento_pagarme ?>"/>
                    <input type="hidden" id="st_email" name="st_email" value="<?php echo $this->email ?>"/>
                    <input type="hidden" id="nu_parcelas" name="nu_parcelas" value="<?php echo $this->nu_parcelas ?>"/>
                    <div class="col-md-12 pad-s-20 pad-n-10">
                        <?php foreach ($this->bandeira as $bandeira) : ?>
                            <div class="col-md-1 nopad-left"
                                 id="img_<?php echo $bandeira->st_cartaobandeira ?>">
                                <img src="/img/img2/<?php echo strtolower($bandeira->st_cartaobandeira) ?>.png"
                                     alt="<?php echo $bandeira->st_cartaobandeira ?>"/>
                            </div>
                        <?php endforeach; ?>
                        <div class="text-right nopad-right">
                            <script type="text/javascript"
                                    src="https://assets.pagar.me/checkout/checkout.js"
                                    data-button-text="Pagar com cartão de crédito em <?php echo $this->nu_parcelas ?>
                                    x R$<?php echo  number_format((float)$this->lancamento->getNuValor(),2,'.', ',')?>"
                                    data-card-brands="<?php echo $this->cartoesaceitos ?>"
                                    data-encryption-key="<?php echo $this->entidadeintegracao->st_codsistema ?>"
                                    data-button-class="btngrande btn preenchimento"
                                    data-customer-data="false"
                                    data-payment-methods="credit_card"
                                    data-customer-name="<?php echo $this->st_nomecompleto ?>"
                                    data-customer-document-number="<?php echo $this->st_cpf ?>"
                                    data-ui-color="#E50014"
                                    data-create-token="false"
                                    data-payment-button-text="Pagar ( <?php echo $this->nu_parcelas ?>
                                    x <?php echo  number_format((float)$this->lancamento->getNuValor(),2,'.', ',')?> )"
                                    data-amount="<?php echo $this->nu_valor_pagarme ?>">
                            </script>
                        </div>
                    </div>
                </form>
            </fieldset>
        </div>
    </div>
</div>

<script type="text/javascript"
        src="<?php echo Ead1_Ambiente::geral()->st_url_loja; ?>/assets/javascripts/classes/loading.js"></script>
<script type="text/javascript"
        src="<?php echo Ead1_Ambiente::geral()->st_url_loja; ?>/assets/javascripts/recebimento.js"></script>

