<div class="container">
    <div class="row pad-n-10">
        <div class="col-md-12">
            <fieldset>
                <div class="col-md-12">
                    <h4>Cliente</h4>
                    <table class="pad-n-10 table table-bordered text-left">
                        <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Data da Compra</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td><?= $this->venda->getIdUsuario()->getSt_nomecompleto() ?></td>
                            <td><?= $this->venda->getDtCadastro()->format('d/m/Y') ?></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </fieldset>
        </div>
    </div>
    <div class="row pad-n-10">
        <div class="col-md-12">
            <fieldset>
                <div class="col-md-12">
                    <h4>Confirmação</h4>
                    <div class="col-md-9 col-centralizada text-center">
                        <?=$this->mensagemConfirmacao?>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
   
    <div style="margin-bottom: 40px"></div>
    <br>
</div>
