<div class="container">
    <div class="row pad-n-10">
        <div class="col-md-12">
            <fieldset>
                <div class="col-md-12">
                    <h4>Cliente</h4>
                    <table class="pad-n-10 table table-bordered text-left">
                        <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Data da Compra</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><?= $this->venda->getIdUsuario()->getSt_nomecompleto() ?></td>
                                <td><?= $this->venda->getDtCadastro()->format('d/m/Y') ?></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </fieldset>
        </div>
    </div>

    <div class="row pad-n-10">
        <div class="col-md-12">
            <fieldset>
                <div class="col-md-12">
                    <h4>PRODUTOS</h4>
                    <table class="pad-n-10 table table-bordered text-left">
                        <thead>
                        <tr>
                            <th>Produto</th>
                            <th>Quantidade</th>
                            <th>Valor</th>
                        </tr>
                        </thead>
                        <tbody>
                        <?
                        $total = 0;
                        foreach($this->produtos as $pro){ if($pro instanceof \G2\Entity\VwProdutoVenda){?>
                            <tr>
                                <td><?= $pro->getSt_produto() ?></td>
                                <td>1</td>
                                <td>
                                    R$ <?=number_format($pro->getNu_valorliquido(), 2, ',', '.'); $total +=$pro->getNu_valorliquido(); ?>
                                </td>
                            </tr>
                        <? }  } ?>
                        <tr>
                            <td colspan="3"></td>
                        </tr>
                        <tr class="tabela-total">
                            <td colspan="2">TOTAL</td>
                            <td>R$ <?=number_format($total, 2, ',', '.')?></td>
                        </tr>
                        </tbody>
                    </table>

                </div>
            </fieldset>
        </div>
    </div>

    <div class="row pad-n-10">
        <div class="col-md-12">

            <fieldset>
                <div class="col-md-12">
                <h4>Opções de Pagamento</h4>
                <div class="col-md-12 pad-s-20 pad-n-10">

                    <?
                    foreach($this->lancamentos as $lancamento) {
                        if($lancamento instanceof \G2\Entity\VwVendaLancamento){
                            $nu_parcelas = 1;
                            if($lancamento->getIdMeiopagamento()==1 || $lancamento->getIdMeiopagamento()==11){
                                $vlancamento = new \G2\Entity\VwVendaLancamento();
                                $arr = $vlancamento->findBy(array('nu_cartao'=>$lancamento->getnu_cartao(),  'id_venda'=>$lancamento->getIdVenda(), 'id_meiopagamento'=> $lancamento->getIdMeiopagamento()), array('nu_ordem'=>'ASC'));
                                if($arr){
                                    $nu_parcelas = count($arr);
                                }
                            }

                            if($lancamento->getBlQuitado() || $lancamento->getDtPrevquitado()){
                              echo '<a href="#" class="btn btn-default btn-large pull-left" style="margin-right: 10px">';
                              if($lancamento->getIdMeiopagamento()==\G2\Constante\MeioPagamento::CARTAO_CREDITO || $lancamento->getIdMeiopagamento()==\G2\Constante\MeioPagamento::CARTAO_RECORRENTE){
                                    echo "Pagamento já efetuado no Cartão ".$lancamento->getnu_cartao().": $nu_parcelas parcela(s) no valor de R$ ".number_format($lancamento->getNuValor(), 2, ',','.') ;
                                } else {
                                    echo "Pagamento efetuado via ".\G2\Constante\MeioPagamento::getMeioPagamento($lancamento->getIdMeiopagamento());
                                }
                                echo '</a>';
                            } else {
                                $link   = '<a href="/loja/recebimento/?venda='.$lancamento->getIdVenda().'&lancamento='.$lancamento->getIdLancamento().'" target="_blank" class="btn btn-primary btn-large pull-left" style="margin-right: 10px">';
                                $linkf  = '</a>';
                                if($lancamento->getIdMeiopagamento()==\G2\Constante\MeioPagamento::CARTAO_CREDITO || $lancamento->getIdMeiopagamento()==\G2\Constante\MeioPagamento::CARTAO_RECORRENTE){
                                    echo $link."Efetuar pagamento com o Cartão ".$lancamento->getnu_cartao().": $nu_parcelas parcela(s) no valor de R$ ".number_format($lancamento->getNuValor(), 2, ',','.').$linkf;
                                } else if($lancamento->getIdMeiopagamento()==\G2\Constante\MeioPagamento::BOLETO) {
                                    echo $link.($this->nu_parcelas > 1 ? "Efetuar pagamento da Entrada via Boleto Bancário" : "Efetuar pagamento via Boleto Bancário").$linkf;
                                } else {
                                    echo '<a href="#" class="btn btn-default btn-large pull-left" style="margin-right: 10px">';
                                    echo "Este pagamento deve ser efetuado em ".\G2\Constante\MeioPagamento::getMeioPagamento($lancamento->getIdMeiopagamento())." no valor de R$ ".number_format($lancamento->getNuValor(), 2, ',','.');
                                    echo '</a>';
                                }
                            }
                        } //foreach($this->lancamentos as $lancamento) {
                    } // if($lancamento instanceof \G2\Entity\VwVendaLancamento){

                    if(count($this->lancamentos)==1 && ($this->lancamentos[0]->getIdMeiopagamento()!=\G2\Constante\MeioPagamento::CARTAO_CREDITO && $this->lancamentos[0]->getIdMeiopagamento()!=\G2\Constante\MeioPagamento::CARTAO_RECORRENTE)){
                        $lancamento = $this->lancamentos[0];
                        $vlancamento = new \G2\Entity\VwVendaLancamento();
                        $arr = $vlancamento->findBy(array('id_venda'=>$lancamento->getIdVenda(), 'id_meiopagamento'=>\G2\Constante\MeioPagamento::CARTAO_RECORRENTE), array('nu_ordem'=>'ASC'));
                        if($arr){
                            $nu_parcelas = count($arr);
                            if($arr[0]->getBlQuitado() || $arr[0]->getDtPrevquitado()){
                                echo "Agendamento de Pagamento já efetuado no Cartão ".$arr[0]->getnu_cartao().": $nu_parcelas parcela(s) no valor de R$ ".number_format($arr[0]->getNuValor(), 2, ',','.') ;
                            } else {
                                echo '<a href="/loja/recebimento/?venda='.$arr[0]->getIdVenda().'&lancamento='.$arr[0]->getIdLancamento().'" target="_blank" class="btn btn-primary btn-large pull-left" style="margin-right: 10px">';
                                if($arr[0]->getIdMeiopagamento()==\G2\Constante\MeioPagamento::CARTAO_CREDITO || $arr[0]->getIdMeiopagamento()==\G2\Constante\MeioPagamento::CARTAO_RECORRENTE){
                                    echo "Efetuar pagamento com o Cartão ".$arr[0]->getnu_cartao().": $nu_parcelas parcela(s) no valor de R$ ".number_format($arr[0]->getNuValor(), 2, ',','.') ;
                                }
                                echo '</a>';
                            }
                        }
                    }
                    ?>
                </div>

                </div>
            </fieldset>
        </div>
    </div>
</div>
