<script id="template-layout-principal" type="text/template">
    <form id="formAplicacaoAvaliacao" class="formField" action="">
        <div class="container-fluid well" id="container-form-aplicacaoavaliacao">

            <fieldset>
                <legend>Aplicações de Prova</legend>
            </fieldset>

            <!-- <input type="hidden" id="id_carregaavaliacao" value="<?php echo $this->id_avaliacaoaplicacao; ?>"/> -->
            <?php //echo $this->form->id_avaliacaoaplicacao; ?>
            <?php //echo $this->form->idMunicipio; ?>
            <div class="row-fluid">
                <div class="span4">
                    <label for="sg_uf">UF:</label>
                    <select id="sg_uf" class="span12" name="sg_uf">
                        <option value="">Carregando...</option>
                    </select>
                    <?php //echo $this->form->sg_uf; ?>
                </div>
                <div class="span4">
                    <label for="id_municipio">Município:</label>
                    <select id="id_municipio" class="span12" name="id_municipio">
                        <option value="">--</option>
                    </select>
                    <?php //echo $this->form->id_municipio; ?>
                </div>
                <div class="span4">
                    <label for="id_aplicadorprova">Aplicador:</label>
                    <select id="id_aplicadorprova" class="span12" name="id_aplicadorprova" required="required">
                        <option value="">--</option>
                    </select>
                    <?php //echo $this->form->id_aplicadorprova; ?>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span4">
                    <label for="id_endereco">Endereço:</label>
                    <select id="id_endereco" class="span12" name="id_endereco" required="required">
                        <option value="">--</option>
                    </select>
                    <?php //echo $this->form->id_endereco; ?>
                </div>
                <div class="span2">
                    <label for="dt_aplicacao">Data de Aplicação:</label>
                    <input name="dt_aplicacao" id="dt_aplicacao" value="<%= dt_aplicacao %>" class="span12 maskDate datepicker" required="required" readonly="readonly" placeholder="__/__/____" style="background: #fff; cursor: pointer;" type="text"/>
                    <?php //echo $this->form->dt_aplicacao; ?>
                    <?php //echo $this->form->bl_unica; ?>
                    <!-- <span class="textInput">Sem Data</span> -->
                </div>
                <div class="span2">
                    <label for="id_horario">Horário:</label>
                    <select id="id_horarioaula" class="span12" name="id_horarioaula" required="required">
                        <option value="">--</option>
                    </select>
                    <?php //echo $this->form->id_horarioaula; ?>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span2">
                    <label for="nu_maxaplicacao">Máx. de Aplicações:</label>
                    <input id="nu_maxaplicacao" class="span6" type="number" name="nu_maxaplicacao" value="<%= nu_maxaplicacao %>" required="required">
                    <?php //echo $this->form->nu_maxaplicacao; ?>
                </div>
                <div class="span2 offset2">
                    <label for="dt_antecedenciaminima">Data de Antecedência mínima:</label>
                    <input name="dt_antecedenciaminima" id="dt_antecedenciaminima" value="<%= dt_antecedenciaminima %>" class="span12 maskDate datepicker" required="required" readonly="readonly" placeholder="__/__/____" style="background: #fff; cursor: pointer;" type="text">
                    <?php //echo $this->form->dt_antecedenciaminima; ?>
                </div>
                <div class="span2">
                    <label for="dt_alteracaolimite">Data de Alteração Limite:</label>
                    <input name="dt_alteracaolimite" id="dt_alteracaolimite" value="<%= dt_alteracaolimite %>" class="span12 maskDate datepicker" required="required" readonly="readonly" placeholder="__/__/____" style="background: #fff; cursor: pointer;" type="text">
                    <?php //echo $this->form->dt_alteracaolimite; ?>
                </div>
            </div>
        </div>
        <div class="container-fluid well">
            <fieldset>
                <legend>Avaliações</legend>
            </fieldset>

            <div id="container-avaliacao" class="row-fluid">
            </div>

            <div class="row-fluid text-right">
                <button id="btnSbmit" class="btn btn-success" type="submit">
                    Salvar
                </button>
                <?php //echo $this->form->btnSbmit; ?>
            </div>

        </div>
    </form>
</script>

<script id="avaliacoes-template" type="text/template">
    <table id="tabela-avaliacaoes-aplicacao" class="table table-bordered table-hover table-striped backgrid">
        <thead>
        <tr>
            <th></th>
            <th>Título</th>
            <th>Tipo</th>
            <th>Situação</th>
            <th>Entidade de Cadastro</th>
        </tr>
        </thead>
        <tbody></tbody>
    </table>
</script>

<script id="avaliacoes-view" type="text/template">
    <td>
        <input id="id_avaliacao" name="id_avaliacao[]" value="<%= id_avaliacao %>" type="checkbox" <%= checked ? 'checked' : '' %> />
    </td>
    <td><%= st_avaliacao %></td>
    <td><%= st_tipoavaliacao %></td>
    <td><%= st_situacao %></td>
    <td><%= st_entidadeavaliacao %></td>
</script>

<script type="text/javascript">
    $('#templateHolder').empty().append($('#htmlContent script[type="text/template"]'));
    G2S.editModel = new VwAvaliacaoAplicacao(<?php echo json_encode($this->editModel) ?>);
    <?php echo $this->render('/aplicacao-avaliacao/index.js') ?>
</script>