<div class="row-fluid">
    <div class="span12">
        <form id="form-carga-horaria" class="form form-horizontal">
            <div class="row-fluid">
                <div class="span8">
                    <div class="control-group">
                        <label class="control-label">Carga Horária (horas)</label>

                        <div class="controls">
                            <input id="nu_cargahoraria" class="span12 text-right" type="text" name="nu_cargahoraria"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span4"></div>
                <div class="span5">
                    <button id="btn-cancelar" class="btn btn-warning" type="button">
                        <i class="icon icon-ban-circle"></i>
                        Cancelar
                    </button>

                    <button id="btn-save" class="btn btn-success" type="button">
                        <i class="icon icon-check"></i>
                        Salvar
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>