<table id="table-projeto" class="backgrid table table-bordered table-hover table-striped">
    <thead>
        <tr>
            <th>Carga Horária</th>
            <th>Valor (R$)</th>
            <th>Tipo da Disciplina</th>
            <th>Área do Conhecimento</th>
            <th>Projeto Pedagógico</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody id="projeto-row-container"></tbody>
</table>