<table id="table-professor" class="backgrid table table-bordered table-hover table-striped">
    <thead>
        <tr>
            <th>Carga Horária</th>
            <th>Valor (R$)</th>
            <th>Tipo da Disciplina</th>
            <th>Professor</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody id="professor-row-container"></tbody>
</table>