<div class="row-fluid">
    <div class="span12 well">
        <form id="form-projeto" class="form">
            <div class="row-fluid">
                <div class="span2">
                    <label for="id_cargahoraria">Carga Horária</label>
                    <select id="id_cargahoraria" class="span6 select2" name="id_cargahoraria">
                        <option value="">Escolha</option>
                    </select>
                    <button id="btn-carga-horaria" class="btn"><i class="icon icon-plus-sign"></i> </button>
                </div>

                <div class="span1">
                    <label for="nu_valor">Valor (R$)</label>
                    <input id="nu_valor" class="input-mini" type="text" value="<%= nu_valor %>" name="nu_valor"/>
                </div>

                <div class="span2">
                    <label for="id_tipodisciplina">Tipo da Disciplina</label>
                    <select id="id_tipodisciplina" class="input-medium select2" name="id_tipodisciplina">
                        <option value="">Escolha</option>
                    </select>
                </div>

                <div class="span2">
                    <label for="id_areaconhecimento">Área do Conhecimento</label>
                    <select id="id_areaconhecimento" class="input-medium select2" name="id_areaconhecimento">
                        <option value="">Escolha</option>
                    </select>
                </div>

                <div class="span2">
                    <label for="id_projetopedagogico">Projeto Pedagógico</label>
                    <select id="id_projetopedagogico" class="input-medium select2" name="id_projetopedagogico">
                        <option value="">[Selecione a Área de Conhecimento]</option>
                    </select>
                </div>

                <div class="span4 pull-right">
                    <label>&nbsp;</label>
                    <button class="btn btn-primary" type="button" id="btn-search-projeto"><i class="icon icon-search icon-white"></i> Pesquisar</button>
                    <button class="btn btn-new" type="button" id="btn-new-projeto"><i class="icon icon-plus"></i> Novo</button>
                    <button class="btn" type="button" id="btn-save-projeto"><i class="icon icon-check"></i> Salvar</button>
                    <button class="btn" type="button" id="btn-clear-projeto"><i class="icon icon-trash"></i> Limpar filtro</button>
                </div>
            </div>
        </form>
    </div>
    <div id="container-projeto-list" class="span11">

    </div>
</div>