<div class="row-fluid">
    <div class="span12 well">
        <form id="form-entidade" class="form" onsubmit="false">
            <div class="row-fluid">
                <div class="span3">
                    <label for="id_cargahoraria">Carga Horária</label>
                    <select id="id_cargahoraria" class="span6 select2" name="id_cargahoraria">
                        <option value="">Escolha</option>
                    </select>
                    <button id="btn-carga-horaria" class="btn"><i class="icon icon-plus-sign"></i> </button>
                </div>

                <div class="span1">
                    <label for="nu_valor">Valor (R$)</label>
                    <input id="nu_valor" class="input-mini" type="text" value="<%= nu_valor.toFixed(2) %>" name="nu_valor"/>
                </div>

                <div class="span2">
                    <label for="id_tipodisciplina">Tipo da Disciplina</label>
                    <select id="id_tipodisciplina" class="input-medium select2" name="id_tipodisciplina">
                        <option value="">Escolha</option>
                    </select>
                </div>

                <div class="span4 pull-right">
                    <label>&nbsp;</label>
                    <button class="btn btn-primary" type="button" id="btn-search-entidade"><i class="icon icon-search icon-white"></i> Pesquisar</button>
                    <button class="btn btn-new" type="button" id="btn-new-entidade"><i class="icon icon-plus"></i> Novo</button>
                    <button class="btn" type="button" id="btn-save-entidade"><i class="icon icon-check"></i> Salvar</button>
                    <button class="btn" type="button" id="btn-clear-entidade"><i class="icon icon-trash"></i> Limpar filtro</button>
                </div>
            </div>
        </form>
    </div>    
    <div id="container-entidade-list" class="span11">

    </div>
</div>