<td><%= nu_cargahoraria %>h</td>
<td><%= nu_valor.toFixed(2) %></td>
<td><%= st_tipodisciplina %></td>
<td><%= st_areaconhecimento %></td>
<td><%= st_projetopedagogico %></td>
<td>
    <button class="btn btn-default btn-edit" type="button"><i class="icon icon-edit"></i></button>
    <button class="btn btn-default btn-delete" type="button"><i class="icon icon-trash"></i></button>
</td>