<div class="row-fluid">
    <div class="tabbable">
        <ul class="nav nav-tabs">
            <li class="active"><a id="link-entidade" href="#tab-entidade" data-toggle="tab">Entidade</a></li>
            <li><a id="link-area" href="#tab-area" data-toggle="tab">Área</a></li>
            <li><a id="link-projeto" href="#tab-projeto" data-toggle="tab">Projeto Pedagógico</a></li>
            <li><a id="link-professor" href="#tab-professor" data-toggle="tab">Professor</a></li>
            <li><a id="link-professor-projeto" href="#tab-professor-projeto" data-toggle="tab">Professor no Projeto</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="tab-entidade">
                <div id="container-entidade" class="content"></div>
            </div>
            <div class="tab-pane" id="tab-area">
                <div id="container-area" class="content"></div>
            </div>
            <div class="tab-pane" id="tab-projeto">
                <div id="container-projeto" class="content"></div>
            </div>
            <div class="tab-pane" id="tab-professor">
                <div id="container-professor" class="content"></div>
            </div>
            <div class="tab-pane" id="tab-professor-projeto">
                <div id="container-professor-projeto" class="content"></div>
            </div>
        </div>
    </div>    
</div>
<div id="container-modal"></div>
