<div class="div-dados-venda row-fluid btn-group form-inline hide">
    <div class="pull-right">
        <label class=""><strong>Valor Acumulado: </strong>
            <div class="input-prepend">
                <span class="add-on">R$</span>
                <input readonly="on" class="input-mini" type="text" id="vl-bruto">
            </div>
            <button class="btn btn-success" id="btn-concluir-venda"><i class="icon-plus icon-white"></i> Salvar</button>
        </label>
    </div>
</div>
<div id="grid-disciplinas-prr"><!--Dados preenchidos via backbone--></div>