
<form class="form-inline row-fluid" onsubmit="return false;">

    <div class="span12">
        <div class="well well-small span12">
            <label class="control-label">
                Qtd. Parcela: 
                <input type="text" class="input-mini" name="nu_parcela" id="nu_parcela">
            </label>
            <label class="control-label  input-prepend">
                <span class="add-on">Valor da Parcela R$</span>
                <input class="input-append input-small" value="" type="text" name="nu_valor" id="nu_valor">
            </label>
            <label class="control-label">
                Meio de Pagamento: 
                <select type="text" name="id_meiopagamento" id="id_meiopagamento">
                    <option>--</option>
                </select>
            </label>
            <label class="control-label">
                Data de Vencimento:
                <input class="datepicker" type="text" name="dt_vencimento" id="dt_vencimento">
            </label>
            <label class="control-label">
                <button type="submit" class="btn btn-custom" id="btn-add-parcela" title="Criar parcelas"><i class="icon-plus icon-white"></i></button>
            </label>
        </div>

        <div class="div-dados-venda">
            <label><b>Valor Total</b></label>
            <div class="input-prepend input-append">
                <span class="add-on">R$</span>
                <input class="input-mini" id="nu_valorbrutovenda" type="text" readonly="">
            </div>
            <label><b>Valor Faltante</b></label>
            <div class="input-prepend input-append">
                <span class="add-on">R$</span>
                <input class="input-mini" id="nu_valordisponivelparcelar" type="text" readonly="">
            </div>
            <button id="btn-salvar-prr" class="btn btn-success"><i class="icon-ok icon-white"></i> Salvar</button>
            <button id="btn-confirmar-venda-prr" data-trigger="mouseover" data-placement="bottom" data-toggle="popover" data-content="Conteudo" data-original-title="Conteudo" title="Salvar parcelas" class="btn btn-inverse"><i class="icon-ok icon-white"></i> Concluir</button>
            <button id="btn-abonar-venda-prr" class="btn btn-danger hide"><i class="icon-ok icon-white"></i> Abonar</button>
            <button id="btn-enviar-cobranca-boleto-prr" class="btn hide" title="Enviar cobrança de lancamentos de boletos"><i class="icon-barcode"></i> Enviar Boleto</button>
            <button id="btn-enviar-cobranca-cartao-prr" class="btn hide" title="Enviar cobrança de lancamentos de cartão de crédito"><i class="icon-shopping-cart"></i> Enviar Cartão</button>
        </div>
    </div>
    <div id="grid-lancamentos-prr" class="row-fluid" style="overflow: auto;"><!--Dados preenchidos pelo backgrid backbone em prr/index.js--></div>
</form>
