<script type="text/javascript" src="/modelo-backbone/VwDisciplinasPrr/prr"></script>
<script type="text/javascript" src="/modelo-backbone/VwResumoFinanceiro/venda"></script>
<script type="text/javascript" src="/modelo-backbone/MeioPagamento/prr"></script>

<script type="text/javascript" src="/prr/js"></script>
<script type="text/javascript" src="/js/MensagensG2.js"></script>
<script type="text/javascript" src="/js/spinner/spinner.js"></script>
<link rel="stylesheet" type="text/css" href="/css/spinner/spinner.css" />

<div id="tela-prr"></div>

<script type="text/template" id="div-content-1">
    <div class="row-fluid">
        <ul class="nav nav-tabs">
            <li id="tab-disciplina" class="active">
                <a data-toggle="tab" href="#prr-disciplina">
                    <strong>Disciplinas</strong>
                </a>
            </li>
            <li id="tab-pagamento">
                <a data-toggle="tab" href="#prr-pagamento" >
                    <strong>Pagamento</strong>
                </a>
            </li>
            <li id="tab-matricula">
                <a data-toggle="tab" href="#prr-matricula" >
                    <strong>Matrícula</strong>
                </a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="prr-disciplina">
                <?php echo $this->abaDisciplina ?>
            </div>
            <div class="tab-pane" id="prr-pagamento">
                <?php echo $this->abaPagamento ?>
            </div>
            <div class="tab-pane" id="prr-matricula">
                <?php echo $this->abaMatricula ?>
            </div>
        </div>
    </div>
    <ul id="list-produto-venda"></ul>
    <div id="modal-salas-prr" class="modal hide fade">
        <form class="form-horizontal">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3>Salas Disponiveis</h3>
            </div>
            <div class="modal-body">
                <table class="table table-bordered table-condensed" id="table-grid-salas">
                    <thead>
                    <th>#</th>
                    <th>Sala de Destino</th>
                    <th>Projeto Pedagógico</th>
                    <th>Data Início</th>
                    </thead>
                    <tbody id="tbody">

                    </tbody>
                </table>
                <br />
                <label class="6">
                    <strong>Data inicial para acesso a curso resgate: </strong>
                    <input type="text" data-placement="left" data-toggle="tooltip" title="Escolha uma data" id="dt-entrega" class="datepicker" name="data">
                    <i>Ex: 10/01/2014</i>
                </label>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" type="button" id="btn-selecionar-sala">Selecionar Sala</button>
                <button class="btn btn-primary" type="button" data-dismiss="modal" aria-hidden="true">Fechar</button>
            </div>
        </form>
    </div>
</script>
<script type="text/template" id="sala-disciplina-alocacao-modal-template">
    <tr>
        <td><input class="checked-radio-sala" type="radio" name="sala" value="<%=id_saladeaula%>" /></td>
        <td><%=st_saladeaula%></td>
        <td><%=st_projetopedagogico%></td>
        <td><%=dt_abertura%></td>
    </tr>
</script>