<div class='info-box red uny ocorrencia-box'>
    <i class='icon-warning-sign'></i>

    <div class='msg'>
        <?php echo $this->error; ?>
    </div>
    <a href='javascript:void(0)' class='info-box-remove'><i class='icon-remove'></i></a>
</div>