<form id="form-cheques-devolvidos" action="/recebimento/gerar-lista-cheques-devolvidos" target="_blank" method="post">
    <table id="table-boleto" class="backgrid table table-bordered table-hover table-striped">
        <thead>
            <tr>
                <th>Selecionar</th>
                <th>Meio de Pagamento</th>
                <th>Valor</th>
                <th>Vencimento</th>
                <th>N Cheque</th>
            </tr>
        </thead>
        <tbody id="cheque-devolvido-row-container"></tbody>
    </table>
    <div class="span12 text-right" style="padding-right: 3%;" id="container-botons-cheque-devolvidos">
        <button class="btn btn-warning" type="button" id="btn-email-cheque-devolvido">
            Enviar por e-mail
        </button>
        <button class="btn btn-danger" type="button" id="btn-cancelar-cheque-devolvido">
            Cancelar
        </button>
        <button class="btn r" type="submit" id="btn-gerar-cheque-devolvido">
            Gerar
        </button>
        <br>
        <br>
    </div>
</form>