<style>
    .pago {
        color: #006400;
    }

    .vencido {
        color: #8b0000;
    }
</style>

<div id="container-modal"></div>

<div class="row-fluid">
    <div class="span4">
        <label for="st_nomecompleto">Cliente</label>
        <input id="st_nomecompleto" class="span12 disabled" disabled="" type="text" value="<%= st_nomecompleto %>"/>
    </div>

    <div class="span2">
        <label for="id_venda">Código da Venda</label>
        <input id="id_venda" class="input-medium disabled span12" disabled="" type="text" value="<%= id_venda %>"/>
    </div>

    <div class="span3">
        <label for="st_evolucao">Evolução da Venda</label>
        <input id="st_evolucao" class="input-medium span12 disabled" disabled="" type="text" value="<%= st_evolucao %>"/>
    </div>

    <div class="span3">
        <label>&nbsp;</label>
        <button id="btn-back" class="btn btn-success" type="button" title="Nova pesquisa">
            <i class="icon icon-search icon-white"></i>
            Nova pesquisa
        </button>
        <a href="/textos/recibo/?type=html&arrParams[id_venda]=<%= id_venda %>&id_textosistema=<%= id_reciboconsolidado %>"
           class="btn btn-default btn-edit" target="_blank" type="button" title="Imprimir recibo consolidado">
            <i class="icon icon-print"></i>
        </a>
    </div>
</div>

<div class="row-fluid">
    <div class="span12">
        <label for="">Cursos</label>
        <textarea disabled="" class="span6"><%= st_projetopedagogico %></textarea>
    </div>
</div>

<div class="row-fluid">
    <div class="span12">
        <hr/>
    </div>
</div>

<div class="row-fluid">
    <div class="tabbable">
        <ul id="recebimento-abas" class="nav nav-tabs">
            <li class="active">
                <a id="link-resumo" href="#tab-resumo" data-toggle="tab">Resumo</a>
            </li>
            <li>
                <a id="link-cartao-credito" href="#tab-cartao-credito" data-toggle="tab">Cartão de Crédito</a>
            </li>
            <li>
                <a id="link-boleto" href="#tab-boleto" data-toggle="tab">Boleto</a>
            </li>
            <li>
                <a id="link-dinheiro" href="#tab-dinheiro" data-toggle="tab">Dinheiro</a>
            </li>
            <li>
                <a id="link-cheque" href="#tab-cheque" data-toggle="tab">Cheque</a>
            </li>
            <li>
                <a id="link-empenho" href="#tab-empenho" data-toggle="tab">Empenho</a>
            </li>
            <li>
                <a id="link-deposito" href="#tab-deposito" data-toggle="tab">Depósito</a>
            </li>
            <li>
                <a id="link-cartao-debito" href="#tab-cartao-debito" data-toggle="tab">Cartão de Débito</a>
            </li>
            <li>
                <a id="link-transferencia" href="#tab-transferencia" data-toggle="tab">Transferência</a>
            </li>
            <li>
                <a id="link-permuta" href="#tab-permuta" data-toggle="tab">Permuta</a>
            </li>
            <li>
                <a id="link-bolsa" href="#tab-bolsa" data-toggle="tab">Bolsa</a>
            </li>
            <li>
                <a id="link-cartao-recorrente" href="#tab-cartao-recorrente" data-toggle="tab">Cartão Recorrente</a>
            </li>
            <li><a id="link-estorno-cartao" href="#tab-estorno-cartao" data-toggle="tab">Estorno de Cartão</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="tab-resumo">
                <div id="container-resumo" class="content"></div>
            </div>
            <div class="tab-pane" id="tab-cartao-credito">
                <div id="container-cartao-credito" class="content"></div>
            </div>
            <div class="tab-pane" id="tab-boleto">
                <div id="container-boleto" class="content"></div>
            </div>
            <div class="tab-pane" id="tab-dinheiro">
                <div id="container-dinheiro" class="content"></div>
            </div>
            <div class="tab-pane" id="tab-cheque">
                <div id="container-cheque" class="content"></div>
            </div>
            <div class="tab-pane" id="tab-empenho">
                <div id="container-empenho" class="content"></div>
            </div>
            <div class="tab-pane" id="tab-deposito">
                <div id="container-deposito" class="content"></div>
            </div>
            <div class="tab-pane" id="tab-cartao-debito">
                <div id="container-cartao-debito" class="content"></div>
            </div>
            <div class="tab-pane" id="tab-transferencia">
                <div id="container-transferencia" class="content"></div>
            </div>
            <div class="tab-pane" id="tab-permuta">
                <div id="container-permuta" class="content"></div>
            </div>
            <div class="tab-pane" id="tab-bolsa">
                <div id="container-bolsa" class="content"></div>
            </div>
            <div class="tab-pane" id="tab-cartao-recorrente">
                <div id="container-cartao-recorrente" class="content"></div>
            </div>
            <div class="tab-pane" id="tab-estorno-cartao">
                <div id="container-estorno-cartao" class="content"></div>
            </div>
        </div>
    </div>
</div>