<td><%= id_lancamento %></td>
<td><%= bl_entrada ? 'Entrada' : nu_parcela %></td>
<td><%= st_meiopagamento %></td>
<td>R$ <%= Number(nu_valor).toFixed(2) %></td>
<td><%= dt_vencimento ? moment(dt_vencimento, 'DD/MM/YYYY').format("DD/MM/YYYY") : '-' %></td>
<td><%= dt_quitado ? moment(dt_quitado, 'DD/MM/YYYY').format("DD/MM/YYYY") : '-' %></td>
<td>R$ <%= Number(nu_quitado).toFixed(2) %></td>
<td>R$ <%= (Number(nu_valor) + Number(nu_juros) - Number(nu_desconto)).toFixed(2) %></td>
<td class="<%= st_situacao.toLowerCase() %>"><%= st_situacao %></td>
<td>
    <% if(st_situacao != 'Cancelado') { %>
        <% if(bl_quitado) { %>
        <a href="/textos/recibo/?type=html&arrParams[id_lancamento]=<%= id_lancamento %>&arrParams[id_venda]=<%= id_venda %>&id_textosistema=<%= id_textosistemarecibo %>"
           class="btn btn-default btn-edit" target="_blank" type="button" title="Imprimir"><i class="icon icon-print"></i></a>
        <% } %>
    <% } %>
</td>