<td><%= id_lancamento %></td>
<td><%= bl_entrada ? 'Entrada' : nu_parcela %></td>
<td>R$ <%= Number(nu_valor).toFixed(2) %></td>
<td>R$ <%= (Number(nu_valor) + Number(nu_jurosboleto) - Number(nu_descontoboleto)).toFixed(2) %></td>
<td><%= dt_vencimento ? moment(dt_vencimento, 'DD/MM/YYYY').format("DD/MM/YYYY") : '-' %></td>
<td class="<%= st_situacao.toLowerCase() %>"><%= st_situacao %></td>
<td>
    <% if(primeira_parcela_acordo == 1){ %>
        <% if(parcela_vencida){ %>
    <button id="btn-enviar-link-cc-acordo-disabled" class="btn btn-info" disabled data-toggle="tooltip"
            title="O link de pagamento não pode ser enviado porque a data de vencimento já encerrou.">
        Enviar link de pagamento
            </button>
            <button id="btn-visualizar-link-cc-acordo-disabled" class="btn btn-default" disabled data-toggle="tooltip"
                    title="Visualizar link de pagamento." >
                Visualizar
            </button>
        <% }else{ %>
            <% if(bl_quitado == 0 && dt_prevquitado == null) {%>
    <button id="btn-enviar-link-cc-acordo" class="btn btn-info" data-toggle="tooltip"
            title="Enviar link de pagamento para o aluno.">
        Enviar link de pagamento
                </button>
                <a href="/textos/visualizar/?type=html&id_textosistema=<%=id_textosistemaacordo%>&key=<%=parametros_cifrados%>"
                   class="btn btn-default btn-edit" target="_blank" type="button"data-toggle="tooltip"
                   title="Visualizar link de pagamento.">Visualizar</a>
            <% }else if(dt_prevquitado != null){ %>
    <button id="btn-enviar-link-cc-acordo-pago-disabled" class="btn btn-info" disabled data-toggle="tooltip"
            title="Pagamento já realizado.">
        Enviar link de pagamento
                </button>
                <button id="btn-visualizar-link-cc-acordo-pago-disabled" class="btn btn-default" disabled data-toggle="tooltip"
                        title="Visualizar link de pagamento.">
                    Visualizar
                </button>
            <% } %>
        <% } %>
    <% } %>
</td>