<td><input type="checkbox" value="<%= id_lancamento %>" name="lancamentos[]"></td>
<td><%= st_meiopagamento %></td>
<td>R$ <%= Number(nu_valor).toFixed(2) %></td>
<td><%= dt_vencimento ? moment(dt_vencimento, 'DD/MM/YYYY').format("DD/MM/YYYY") : '-' %></td>
<td ><%= st_numcheque %></td>
