<td><%= id_venda %></td>
<td><%= st_nomecompleto %></td>
<td><%= st_cpf %></td>
<td><%= st_evolucao %></td>
<td>R$ <%= Number(nu_valorliquido).toFixed(2) %></td>
<td>
    <% if(id_venda) { %>
    <button class="btn btn-success btn-edit" type="button" title="Ir para a venda nº <%= id_venda %>"><i class="icon icon-arrow-right icon-white"></i></button>
    <% } %>
</td>