<td><%= id_lancamento %></td>
<td><%= bl_entrada ? 'Entrada' : nu_parcela %></td>
<td>R$ <%= Number(nu_valor).toFixed(2) %></td>
<td>R$ <%= (Number(nu_valor) + Number(nu_jurosboleto) - Number(nu_descontoboleto)).toFixed(2) %></td>
<td>
    <% if (
    (
    parcela_vencida &&
    !bl_quitado &&
    (
    id_evolucaovenda == 7
    || id_evolucaovenda == 9
    || id_evolucaovenda == 10
    )
    ) ||
    (
    id_transacaoexterna == null &&
    !bl_quitado &&
    (
    id_evolucaovenda == 7
    || id_evolucaovenda == 9
    || id_evolucaovenda == 10
    )
    )
    ) { %>
    <input type="text" name="dt_vencimento_<%= id_lancamento %>" class="input-small datepicker maskDate"
           value="<%= dt_vencimento %>" id="dt_vencimento_<%= id_lancamento %>">
    <a class="btn js-bt-calendar" name="btn_datepicker" data-calendar="dt_vencimento_<%= id_lancamento %>"
       id="icon_dt_vencimento" style="margin-top: -10px;">
        <i class="icon icon-calendar"></i>
    </a>
    <% } else { %>
    <%= dt_vencimento ? moment(dt_vencimento, 'DD/MM/YYYY').format("DD/MM/YYYY") : '-' %>
    <% } %>
</td>
<td class="<%= st_situacao.toLowerCase() %>"><%= st_situacao %></td>
<td>
    <% if(st_situacao != 'Cancelado') { %>
        <% if(bl_quitado) { %>
            <a href="/textos/recibo/?type=html&arrParams[id_lancamento]=<%= id_lancamento %>&arrParams[id_venda]=<%= id_venda %>&id_textosistema=<%= id_textosistemarecibo %>"
                class="btn btn-default btn-edit" target="_blank" type="button"><i class="icon icon-print"></i></a>
        <% } else { %>

    <button class="btn btn-success btn-pagar" type="button" title="Quitar lançamento">
        <i class="icon icon-check icon-white"></i>
    </button>

    <% if (
    (
    id_evolucaovenda == 7
    || id_evolucaovenda == 9
    || id_evolucaovenda == 10
    )
    && id_transacaoexterna == null
    && !parcela_vencida
    ) {
    %>
    <button id="btn-gerar-boleto" class="btn btn-danger">Gerar</button>
    <% } %>

    <% if (
    id_transacaoexterna != null
    && st_urlboleto != null
    && !parcela_vencida
    ) {
    %>
    <button id="btn-enviar-boleto" class="btn btn-default">Enviar</button>

    <a href="/loja/recebimento/?venda=<%= id_venda %>&lancamento=<%= id_lancamento %>" target="_blank"
       class="btn btn-inverse" id="btn-visualizar-boleto">
        Visualizar
    </a>
    <% } %>

    <% if (
    id_transacaoexterna != null
    && st_urlboleto == null
    ) { %>
    <span class="text-warning" id="div-info-boleto-registrado">
                    Boleto Solicitado
                </span>
    <% } %>

        <% } %>
    <% } %>
</td>