<td><%= id_lancamento %></td>
<td><%= bl_entrada ? 'Entrada' : nu_parcela %></td>
<td>R$ <%= Number(nu_valor).toFixed(2) %></td>
<td>R$ <%= (Number(nu_valor) + Number(nu_juros) - Number(nu_desconto)).toFixed(2) %></td>
<td><%= dt_vencimento ? moment(dt_vencimento).format("DD/MM/YYYY") : '-' %></td>
<td class="<%= st_situacao.toLowerCase() %>"><%= st_situacao %></td>
<td>
    <% if(st_situacao != 'Cancelado') { %>
        <% if(bl_quitado) { %>
        <a href="/textos/recibo/?type=html&arrParams[id_lancamento]=<%= id_lancamento %>&arrParams[id_venda]=<%= id_venda %>&id_textosistema=<%= id_textosistemarecibo %>"
           class="btn btn-default btn-edit" target="_blank" type="button"><i class="icon icon-print"></i></a>
        <% }else{ %>
        <button class="btn btn-success btn-pagar" type="button" title="Quitar lançamento"><i class="icon icon-check"></i></button>
        <% } %>
    <% } %>
</td>