<div class="row-fluid">
    <div class="span12">
        <form id="form-quitar-boleto" class="form form-horizontal">
            <div class="row-fluid">
                <div class="span8">
                    <div class="control-group">
                        <label class="control-label" for="nu_quitado">Valor Pago</label>

                        <div class="controls">
                            <input id="nu_quitado" class="span12 text-right" type="text"
                                   value="<%= Number(nu_valor + (nu_juros - nu_desconto)).toFixed(2) %>"
                                   name="nu_quitado"/>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label" for="nu_jurosboleto">Juros</label>

                        <div class="controls">
                            <input id="nu_jurosboleto" class="span12 text-right" type="text"
                                   value="0.00"
                                   name="nu_jurosboleto"/>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label" for="nu_descontoboleto">Desconto</label>

                        <div class="controls">
                            <input id="nu_descontoboleto" class="span12 text-right" type="text"
                                   value="0.00"
                                   name="nu_descontoboleto"/>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label" for="dt_quitado">Data de Pagamento</label>

                        <div class="controls">
                            <input id="dt_quitado" class="span12 datepicker maskDate text-right" type="text"
                                   value="<%= moment().format('DD/MM/YYYY') %>" name="dt_quitado"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span4"></div>
                <div class="span5">
                    <button id="btn-cancelar" class="btn btn-warning" type="button">
                        <i class="icon icon-ban-circle"></i>
                        Cancelar
                    </button>

                    <button id="btn-quitar-boleto" class="btn btn-success" type="button">
                        <i class="icon icon-check"></i>
                        Quitar
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>