<div class="row-fluid">
    <div class="span12 text-right">
        <button id="btn-cheque-devolvidos" class="btn btn-warning">
            Lista Cheque Devolvido
        </button>
        <br/>
        <br/>
    </div>
</div>
<div id="container-cheque-list"></div>
<br/>
<br/>