<div class="row-fluid">
    <div class="span12 text-right">
        <button id="btn-sincronizar" class="btn btn-info">
            <i class="icon-spin icon-refresh icon-white"></i> Sincronizar Parcelas
        </button>
        <br/>
        <br/>
    </div>
</div>
<div id="container-resumo-list"></div>
<div class="pull-right actions-recebimento">
    <button id="btn-confirmar-recebimento" class="btn btn-success hide">
        <i class="icon icon-check icon-white"></i>
        Confirmar Recebimento
    </button>
    <button id="btn-ativar-matricula" class="btn btn-primary hide">
        <i class="icon icon-arrow-right icon-white"></i>
        Ativar Matrícula
    </button>
</div>