<table id="table-resumo" class="backgrid table table-bordered table-hover table-striped">
    <thead>
        <tr>
            <th>Lançamento</th>
            <th>Parcela</th>
            <th>Meio de Pagamento</th>
            <th>Valor</th>
            <th>Vencimento</th>
            <th>Data do Pagamento</th>
            <th>Valor Quitado</th>
            <th>Valor Atualizado</th>
            <th>Situação</th>
            <th>Recibo</th>
        </tr>
    </thead>
    <tbody id="resumo-row-container"></tbody>
</table>