<table id="table-transferencia" class="backgrid table table-bordered table-hover table-striped">
    <thead>
        <tr>
            <th>Lançamento</th>
            <th>Parcela</th>
            <th>Valor</th>
            <th>Valor Atualizado</th>
            <th>Vencimento</th>
            <th>Situação</th>
            <th>Pagar</th>
        </tr>
    </thead>
    <tbody id="transferencia-row-container"></tbody>
</table>