<div class="row-fluid">
    <div class="span12">
        <form id="form-quitar-cartao-debito" class="form form-horizontal">
            <div class="row-fluid">
                <div class="span8">

                    <div class="control-group">
                        <label class="control-label" for="nu_quitado">Valor</label>

                        <div class="controls">
                            <input id="nu_quitado" class="span12 text-right" disabled type="text" value=""/>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label" for="st_coddocumento">Código do Documento</label>

                        <div class="controls">
                            <input id="st_coddocumento" class="span12 text-right"
                                   type="text" value="" name="st_coddocumento"/>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label" for="dt_prevquitado">Data de Previsão do Pagamento</label>

                        <div class="controls">
                            <input id="dt_prevquitado" class="span12 datepicker maskDate text-right" type="date"
                                   value="<%= moment().format('DD/MM/YYYY') %>" name="dt_prevquitado"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span4"></div>
                <div class="span5">
                    <button id="btn-cancelar" class="btn btn-warning" type="button">
                        <i class="icon icon-ban-circle"></i>
                        Cancelar
                    </button>

                    <button id="btn-quitar-cartao-debito" class="btn btn-success" type="button">
                        <i class="icon icon-check"></i>
                        Quitar
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>