<div class="row-fluid">
    <div class="span12">
        <form id="form-quitar-cartao-credito" class="form form-horizontal">
            <div class="row-fluid">
                <div class="span12">
                    <table>
                        <thead>
                            <th class="text-left">Valor</th>
                            <th class="text-left">Previsão de Pagamento</th>
                            <th class="text-left">Cód. do Documento</th>
                        </thead>
                        <tbody id="container-lancamento"></tbody>
                    </table>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span12">
                    <button id="btn-quitar" class="btn btn-success pull-right" type="button">
                        <i class="icon icon-check"></i>
                        Quitar
                    </button>
                    <button id="btn-cancelar" class="btn btn-warning pull-right" type="button">
                        <i class="icon icon-ban-circle"></i>
                        Cancelar
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>