<td class="span3"><%= (Number(nu_valor)).toFixed(2) %></td>
<td class="span4"><input name="dt_prevquitado" type="date" value="" class="datepicker"/></td>
<td class="span8"><input name="st_coddocumento" type="text" value=""/></td>