<div class="row-fluid">
    <button class="btn btn-success btn-pagar-cartao-debito pull-right hide">
        <i class="icon icon-check"></i> Quitar
    </button>
    <br/>
    <br/>
</div>

<div id="container-cartao-debito-list" class="row-fluid"></div>

<div class="row-fluid">
    <button class="btn btn-success btn-pagar-cartao-debito pull-right hide">
        <i class="icon icon-check"></i> Quitar
    </button>
</div>

<br/><br/><br/><br/>