<div class="row-fluid">
    <div class="span12">
        <form id="form-quitar-cheque" class="form">
            <div class="row-fluid">
                <div class="span6">
                    <label for="nu_quitado">Valor</label>
                    <input id="nu_quitado" class="span12" type="text" value="<%= Number(nu_valor + (nu_juros - nu_desconto)).toFixed(2) %>" name="nu_quitado"/>
                </div>
                <div class="span6">
                    <label for="dt_quitado">Data de Pagamento</label>
                    <input id="dt_quitado" class="span12 datepicker maskDate" type="date" value="<%= moment().format('DD/MM/YYYY') %>" name="dt_quitado"/>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span12">
                    <label>&nbsp;</label>
                    <button id="btn-quitar-cheque" class="btn btn-success pull-right" type="button">
                        <i class="icon icon-check"></i>
                        Quitar
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>