<div id="container-cartao-credito-list"></div>
<div class="pull-right">
    <button id="btn-quitar-cartao-credito" class="btn btn-success hide">
        Quitar
    </button>
    <!--<button id="btn-enviar-link-cartao-credito" class="btn btn-default">-->
        <!--Enviar link de pagamento-->
    <!--</button>-->
    <button id="btn-cancelar-cartao-credito" class="btn btn-danger">
        Cancelar transação
    </button>

    <button id="btn-estornar-cartao-credito" class="btn btn-warning">
        Estornar pagamento
    </button>
</div>