<table id="table-boleto" class="backgrid table table-bordered table-hover table-striped">
    <thead>
    <tr>
        <th>Lançamento</th>
        <th>Parcela</th>
        <th>Valor</th>
        <th>Valor Atualizado</th>
        <th>Vencimento</th>
        <th>Situação</th>
        <th>Ações</th>
    </tr>
    </thead>
    <tbody id="boleto-row-container"></tbody>
</table>