<!DOCTYPE html>
<html>
<head>
	<title>Portal do Aluno</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" type="text/css" href="<?php echo $this->baseUrl?>/css/reset.css" />
	
	
	<link type="text/css" href="<?php echo Ead1_Ambiente::geral()->st_url_library;?>/js/jquery/jquery-ui-1.8.17.custom.css" rel="stylesheet" />	
	<script type="text/javascript" src="<?php echo Ead1_Ambiente::geral()->st_url_library;?>/js/jquery/jquery-1.7.1.min.js"></script>
	<script type="text/javascript" src="<?php echo Ead1_Ambiente::geral()->st_url_library;?>/js/jquery/jquery-ui-1.8.17.custom.min.js"></script>
		
	<script src="<?php echo Ead1_Ambiente::geral()->st_url_library;?>/js/jquery/jquery.form.js" type="text/javascript"></script>
	<script src="<?php echo Ead1_Ambiente::geral()->st_url_library;?>/js/jquery/jquery.numeric.pack.js" type="text/javascript"></script>
	<script src="<?php echo Ead1_Ambiente::geral()->st_url_library;?>/js/jquery/jqueryvalidate/jquery.validate.js" type="text/javascript"></script> 
	<script src="<?php echo Ead1_Ambiente::geral()->st_url_library;?>/js/jquery/jqueryvalidate/additional-methods.js" type="text/javascript"></script> 
	<script src="<?php echo Ead1_Ambiente::geral()->st_url_library;?>/js/jquery/jqueryvalidate/localization/messages_ptbr.js" type="text/javascript"></script>
	<script src="<?php echo Ead1_Ambiente::geral()->st_url_library;?>/js/jquery/jquery.selectboxes.js" type="text/javascript"></script>
	<script type="text/javascript" src="<?php echo Ead1_Ambiente::geral()->st_url_library;?>/js/classes/mensageiro.js"></script>
	<script type="text/javascript" src="<?php echo Ead1_Ambiente::geral()->st_url_library;?>/js/funcoes/funcoes.js"></script>	
	
	<link rel="stylesheet" type="text/css" href="<?php echo $this->baseUrl?>/css/style.css" />
	<link href='http://fonts.googleapis.com/css?family=Ropa+Sans' rel='stylesheet' type='text/css'>
	
	
<script language="javascript">
	$(function() {
		
		$("#frmloginunicoRecuperar").validate({
			
			rules: {
				st_cpf: "required",
				st_email: {
				      required: true,
				      email: true
				    }
			}
		
		});


		$("#btRecuperar").click(function() {
			  if($("#frmloginunicoRecuperar").valid()) {
				  $("#frmloginunicoRecuperar").submit();
			  } else {
				  return false;
			  };
		});
		
	});

</script>
</head>
<body>
	<div id="tudo">
		<div id="bar_top"></div>
		<div id="box_login"><!--CAIXA DE LOGIN-->
			<div class="esquerdo"><!--PARTE ESQUERDA - LOGO-->
				<h1 class="portal">PORTAL</h1> <h1 class="aluno">DO ALUNO</h1>
				<p class="welcome">Seja bem vindo ao portal do aluno, por favor informe seus dados ao lado para recuperar seus dados de acesso.</p>
			</div>
			<div class="direito">
				<form name="frmloginunicoRecuperar" id="frmloginunicoRecuperar" action="<?php echo $this->baseUrl.'/unico/senha/recuperar';?>" method="post" target="_parent">
					<p style="clear: both;">
						<label for="st_cpf">CPF</label><br/>
						<input type="text" name="st_cpf" id="st_cpf" />
					</p>
					<p style="clear: both;">
						<label for="st_email">E-mail</label>
						<input type="text" name="st_email" id="st_email" />
					</p>
					<p style="clear: both;">
						<input type="hidden" name="entidade" id="entidade" value="<?=$this->id_entidade?>" />
						<button type="button" id="btRecuperar" class="botao">recuperar</button>
					</p>
					<p class="welcome" style="clear: both;">
						<?=$this->mensagem?>
					</p>
				</form>

			</div>
			
		</div>
		
	</div>
</body>
</html>
