<script id="tpl" type="text/template">
<div class="row-fluid">
    <div class="span12 well">
        <div class="row-fluid">
            <div class="span11">
                <h5>Mensagens de Cobrança</h5>
                <hr/>
            </div>
            <div class="span1">
                <button class="btn btn-primary" id="btn-add"><i class="icon icon-plus-sign"></i> Novo</button>
            </div>
            <div id="form-container" class="span12">
            </div>
        </div>
    </div>
</div>
</script>

<script id="tpl-form" type="text/template">
    <div class="row-fluid">
    <form id="form-mensagem-cobranca" class="form">

    <div class="span5">
        <label for="nu_diasatraso">Quantidade de Dias para Envio </label>
        <input id="nu_diasatraso" type="text" name="nu_diasatraso" value="<%= nu_diasatraso %>" class="numeric" />
        <select id="bl_antecedencia" name="bl_antecedencia">
            <option value="0" <%= !bl_antecedencia ? 'selected="selected"' : '' %>>Dias de atraso</option>
            <option value="1" <%= bl_antecedencia ? 'selected="selected"' : '' %>>Dias de antecedência</option>
        </select>
    </div>

    <div class="span3">
    <label for="id_textosistema">Texto da mensagem</label>
    <select id="id_textosistema"><option>Escolha o texto do recibo</option></select>
    </div>

    <div class="span3">
    <label for="bl_ativo">Ativo</label>
    <input id="bl_ativo" type="checkbox" value="" name="bl_ativo" <%= bl_ativo ? 'checked="checked"' : '' %> />
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <button class="btn btn-success" type="button" id="btn-save"><i class="icon icon-check"></i> Salvar</button>
    </div>

    </form>                                                                                                                                                                                                                                               
    </div>
</script>

<script id="tpl-table" type="text/template">
    <table id="table-list" class="table table-bordered table-hover table-striped">
    <thead>
    <tr>
    <th>ID</th>
    <th>Dias para envio</th>
    <th>Enviar com </th>
    <th>Texto</th>
    <th>Situação</th>
    <th>Data de Cadastro</th>
    <th>Ações</th>
    </tr>
    </thead>
    <tbody id="row-container">

    </tbody>
    </table>
</script>

<script id="tpl-row" type="text/template">
    <td><%= id_mensagemcobranca %></td>
    <td><%= nu_diasatraso %></td>
    <td><%= bl_antecedencia ? "Antecedência" : "Atraso" %></td>
    <td><%= st_textosistema %></td>
    <td><%= bl_ativo ? "Ativo" : "Inativo" %></td>
    <td><%= dt_cadastro %></td>
    <td>
        <button class="btn btn-default btn-edit" type="button"><i class="icon icon-edit"></i></button>
        <!-- <button class="btn btn-default btn-delete" type="button"><i class="icon icon-trash"></i></button> -->
    </td>
</script>

<div id="container"></div>
<div id="list-container"></div>

<script type="text/javascript">
    <?php echo $this->render('/mensagem-cobranca/index.js'); ?>
</script>