<script type="text/template" id="template-dados-etiqueta">
    <div class="row-fluid">
        <div id="wrapper-dados"></div>
    </div>
</script>

<script type="text/template" id="template-dados">
    <div class="well well-large">
        <div class="row-fluid">
            <fieldset>
                <legend>Gerar Etiquetas</legend>
                <div class="row-fluid">
                    <div class="row-fluid">
                        <input name="field-pessoa" id="field-pessoa" type="text" class="span12 input"
                               placeholder="Digite o Nome, E-mail ou CPF" autocomplete="off" maxlength="45">
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span3">
                        <label>Serviço</label>
                        <select class="span12" name="field-servico" id="field-servico">
                            <option value="">Selecione o Serviço</option>
                            <option value="1">Declaração</option>
                            <option value="0">Certificação</option>
                        </select>
                    </div>

                    <div class="span4">
                        <div class="row-fluid">
                            <div class="span6">
                                <div class="input-append">
                                    <label for="field-periodo-inicio">Período Inicial: </label>
                                    <input type="text" title="Início"
                                           class="span8 maskDate datepicker_range_min"
                                           id="field-periodo-inicio" name="field-periodo-inicio">
                                    <button class="btn js-bt-calendar" data-calendar="field-periodo-inicio"
                                            type="button">
                                        <i class="icon icon-calendar"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="span6">
                                <div class="input-append">
                                    <label for="field-periodo-fim">Período Final: </label>
                                    <input type="text" title="Final"
                                           class="span8 maskDate datepicker_range_max"
                                           id="field-periodo-fim" name="field-periodo-fim">
                                    <button class="btn js-bt-calendar" data-calendar="field-periodo-fim"
                                            type="button">
                                        <i class="icon icon-calendar"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="span3">
                        <label>Situação</label>
                        <input type="radio" name="field-situacao" value="todos" checked> Todos
                        <input type="radio" name="field-situacao" value="enviados"> Enviados
                        <input type="radio" name="field-situacao" value="naoenviados"> Não Enviados
                    </div>
                </div>
                <button class="btn btn-primary" type="button" id="btn-pesquisar">
                    Pesquisar
                </button>
            </fieldset>
        </div>
    </div>
    <div id="container-DataGrid" class="well well-large">
        <div class="row-fluid">
            <div id="regiao-grade-data" class="span12"></div>
            <div class="control-group">
                <div class="pull-right">
                    <button class="btn btn-primary" type="button" id="btn-gerar-xls">Gerar XLS</button>
                </div>
            </div>
        </div>
    </div>
    <form id="xls" action="/etiqueta/gerar-xls" method="post"></form>
</script>

<script type="text/javascript"> $('#htmlContent script[type="text/template"]').appendTo($('#templateHolder'));</script>
<script type="text/javascript" src="/etiqueta/js"></script>