<script type="text/javascript" src="/js/backbone/models/VwAssuntos.js"></script>
<script type="text/javascript" src="/js/jquery.form.js"></script>
<script type="text/javascript" src="/js/MensagensG2.js"></script>
<link rel="stylesheet" href="/css/minhas-ocorrencias.css">

<script type="text/template" id="item-interacao-template">
    <div class="span12">
        <label><strong><%=st_nomecompleto%></strong> em
            <small><strong><%=st_cadastro%></strong></small>
        </label>

        <div class=""><%=st_tramite%>

            <div>
                <% if(id_upload){ %>
                <div class="pull-right">
                <label class="label">Anexo: </label>
                <a class='btn-link btn' target='_blank' href='/upload/tramite/<%= st_upload %>'>
                    <%= st_upload %>
                </a>
                </div>
                <% } %>
            </div>
</script>

<script type="text/template" id="show-ocorrencia-template">
    <ul class="nav nav-tabs hide">
        <li id="tab-ocorrencia" class="active"><a href="#ocorrencia" data-toggle="tab"><strong>Ocorrência</strong></a>
        </li>
        <li id="tab-prr"><a href="#prr" data-toggle="tab"><strong>PRR</strong></a></li>
    </ul>
    <div class="tab-content" id="minhas-ocorrencias">
        <div class="tab-pane active" id="ocorrencia">
            <div class="container-fluid">

                <div class="row-fluid">

                    <div class="span5 row-fluid">
                        <div class="row-fluid">
                            <div class="span6">
                                <label>
                                    <b>Número: </b><%=id_ocorrencia%>
                                </label>
                                <label>
                                    <b>Data Criação: </b><%=dt_cadastro%>
                                </label>
                                <label>
                                    <b>Título: </b><%=st_titulo%>
                                </label>
                                <label>
                                    <b>Atendente: </b><%=st_nomeresponsavel%>
                                </label>
                            </div>
                            <div class="span6">
                                <label>
                                    <b>Assunto: </b><% if(st_assuntocopai){ %><%=st_assuntocopai%> <%} else {%> -- <% }%>
                                </label>
                                <label>
                                    <b>Subassunto: </b><%=st_assuntoco%>
                                </label>
                            </div>
                        </div>
                        <div class="row-fluid">
                            <label><b>Interessado:</b> <%=st_nomeinteressado%></label>
                        </div>
                    </div>

                    <div id="acompanhadores-show" class="span6 offset1 row-fluid">
                    </div>

                </div>

                <div class="divider-vertical"></div>
                <div class="row-fluid">
                    <div class="span10 well well-small" id="box-stocorrencia">
                        <%=st_ocorrencia%>
                    </div>
                    <div class="span2">
                        <div class="span12">
                            <label class="control-label">Situação:
                                <label id="label-situacao" class="label label-success">
                                    <strong><%=st_situacao%></strong>
                                </label> </label>
                        </div>
                    </div>
                </div>
                <div class="divider-vertical"></div>


                <div class="row-fluid">
                    <div class="control-group span12 well well-small">
                        <button id="btn-back" type="button" class="btn btn-custom">
                            <i class="icon-step-backward icon-white">
                            </i> Voltar
                        </button>
                        <a href="javascript:" id="botao-nova-interacao" class="btn btn-success">
                            <i class="icon-plus icon-white">
                            </i> Nova Interação
                        </a>
                        <button id="btn-solicitar-enc" type="button" class="btn btn-default">
                            Encerrar Ocorrência
                        </button>

                        <form class="form-inline well well-small" id="form-novainteracao" enctype="multipart/form-data"
                              method="post" style="display:none">
                            <fieldset class="controls controls-row">
                                <div class="span9" id="text-input">
                                    <textarea id="txt-interacao" name="st_tramite" class="span12" rows="5"></textarea>
                                </div>
                                <div class="span3 controls controls-row">
                                    <div class="clearfix control-label well well-small">
                                        <label>Anexo: </label>
                                        <input name="arquivo" type="file">

                                        <div class="progress progress-striped box-bar-progress hide">
                                            <div class="bar" id="upload-progress"></div>
                                        </div>
                                    </div>
                                    <div class="pull-left">
                                        <button type="reset" id="btn-cancelar-interacao" class="btn btn-danger"><i
                                            class="icon icon-trash icon-white"></i> Cancelar
                                        </button>
                                        <button type="button" id="btn-gerar-interacao" class="btn btn-custom"><i
                                            class="icon icon-plus icon-white"></i> Gerar Interação
                                        </button>
                                    </div>
                                </div>
                            </fieldset>
                        </form>

                    </div>

                    <div class="row-fluid" id="painel-interacoes">
                        <div class="well well-small span12">
                            <fieldset>
                                <legend>Interações:</legend>
                            </fieldset>
                            <ul id="lista-interacoes"></ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="prr"></div>
        <input id="id_usuario" type="hidden" name="id_usuario" value="<?php echo $this->id_usuario ?>">
        <input id="st_nomeusuario" type="hidden" name="st_usuario" value="<?php echo $this->st_nomeusuario ?>">
    </div>
</script>

<script type="text/template" id="acompanhadores-list-template">
    <div style="border: 1px solid #AAAAAA; max-height: 120px; overflow: auto;">
        <table class="table table-striped table-hover" style="margin: 0;">
            <tbody></tbody>
        </table>
    </div>
</script>


<script type="text/template" id="acompanhadores-template">
    <fieldset>
        <legend>Acompanhadores</legend>
    </fieldset>

    <div id="acompanhadores-added" class="row-fluid">
    </div>

    <div class="row-fluid">
        <input class="span12" id="acompanhadores-search" type="text" placeholder="Pesquisar Pessoas">
    </div>
    <div class="row-fluid" id="acompanhadores-list">
    </div>
</script>

<script type="text/template" id="form-ocorrencia-template">
    <form class="form-inline well well-small" id="form-nova-ocorrencia" enctype="multipart/form-data" method="post">
        <fieldset>

            <div class="row-fluid">
                <div class="span5">
                    <label class="row-fluid">
                        <div class="span5">
                            Tipo de Ocorrência:
                        </div>
                        <div class="span7" id="tipo-ocorrencia-holder">
                            ##tipo-ocorrencia##
                        </div>
                    </label>
                    <label class="row-fluid">
                        <div class="span5">
                            Núcleo:
                        </div>
                        <div class="span7" id="nucleo-holder">
                            ###nucleo###
                        </div>
                    </label>
                    <label class="row-fluid">
                        <div class="span5">
                            Assunto:
                        </div>
                        <div class="span7" id="assunto-holder">
                            ###ASSUNTO###
                        </div>
                    </label>
                    <label class="row-fluid">
                        <div class="span5">
                            Sub-Assunto:
                        </div>
                        <div class="span7" id="sub-assunto-holder">
                            ####SUBASSUNTO####
                        </div>
                    </label>
                    <label class="row-fluid">
                        <div class="span5">
                            Título da ocorrência
                        </div>
                        <div class="span7">
                            <input id="st_tituloocorrencia" type="text">
                        </div>
                    </label>
                </div>

                <div id="acompanhadores-show" class="span6 offset1 row-fluid">
                </div>
            </div>

            <hr/>

            <div class="row-fluid">
                <div class="span12" id="text-input">
                    <label>Texto:</label>
                    <textarea id="txt-ocorrencia" name="st_tramite" class="span12" rows="5"></textarea>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span12 controls controls-row">
                    <div class="clearfix control-label well well-small">
                        <label>Anexo: </label>
                        <input name="arquivo" type="file">

                        <div class="progress progress-striped box-bar-progress hide">
                            <div class="bar" id="upload-progress-ocorrencia"></div>
                        </div>
                    </div>
                    <div class="pull-left">
                        <button type="button" id="btn-cancelar-ocorrencia" class="btn btn-danger"><i
                            class="icon icon-trash icon-white"></i> Cancelar
                        </button>
                        <button type="button" id="btn-gerar-ocorrencia" class="btn btn-custom"><i
                            class="icon icon-plus icon-white"></i> Gerar Ocorrência
                        </button>
                    </div>
                </div>
            </div>
        </fieldset>
        <input id="id_usuario" type="hidden" name="id_usuario" value="<?php echo $this->id_usuario ?>">
        <input id="st_nomeusuario" type="hidden" name="st_usuario" value="<?php echo $this->st_nomeusuario ?>">
    </form>
</script>

<script type="text/javascript"> $('#htmlContent script[type="text/template"]').appendTo($('#templateHolder'));</script>
<script type="text/javascript" src="<?php echo $this->url() ?>/js"></script>