<div>
<fieldset>
<legend>Gerador de CRUD DAO</legend> 
<label>Nome do Metodo</label> <input type="text" name="nomeMetodo" /> <br>
<label>Parametros</label> <input type="text" name="parametros" /><label>(SalaDeAulaTO)</label> <br>

</fieldset>

</div>