<div style="width:100%">
    <fieldset>
        <legend>Funcionalidades</legend>
        <form action="/model" method="post">
            <input type="submit" value="Gerador de TO e ORM">
        </form>
        <form action="/decode" method="post"><input type="submit" value="Decodificador"></form>
        <form action="/teste" method="post"><input type="submit" value="Testador"></form>
        <form action="/funcionalidades/crud" method="post"><input type="submit" value="Gerador de CRUD"></form>
    </fieldset>
</div>