<?php echo $this->render('/util/auto-complete-pessoa.phtml'); ?>
<script type="text/javascript" src="/js/backbone/models/VwAssuntos.js"></script>

<script type="text/javascript" src="/modelo-backbone/VwOcorrenciasPessoa/ocorrencia"></script>
<script type="text/javascript" src="/modelo-backbone/VwAssuntos/find-sub-assunto"></script>

<script type="text/javascript" src="/js/auto-complete-componente.js"></script>
<script type="text/javascript" src="/js/jquery.form.js"></script>

<link rel="stylesheet" href="/css/minhas-ocorrencias.css">

<script type="text/template" id="template-ocorrencia-aluno">
    <div id="autoComplete" class="row-fluid"></div>
    <div class="row-fluid" id="container-nova-ocorrencia-aluno">
        <form class="form-inline well well-small" id="form-nova-ocorrencia" enctype="multipart/form-data" method="post">
            <fieldset>

                <div class="row-fluid">
                    <div class="span10">
                        <label class="row-fluid">
                            <div class="span2">
                                Tipo de Ocorrência:
                            </div>
                            <div class="span6">
                                <select id="tipo-ocorrencia-holder" name="id_categoriaocorrencia" required="required" class="span12"></select>
                            </div>
                        </label>
                        <label class="row-fluid">
                            <div class="span2">
                                Assunto:
                            </div>
                            <div class="span6" >
                                <select id="assunto-holder" name="id_assuntoco" class="id_assuntocopai span12"></select>
                            </div>
                        </label>
                        <label class="row-fluid">
                            <div class="span2">
                                Sub-Assunto:
                            </div>
                            <div class="span6">
                                <select id="sub-assunto-holder" name="id_subassuntoco" class="id_assuntoco span12" required="required"></select>
                            </div>
                        </label>
                        <label class="row-fluid">
                            <div class="span2">
                                Título da ocorrência
                            </div>
                            <div class="span6">
                                <input id="st_tituloocorrencia" type="text" required="required" class="span12">
                            </div>
                        </label>
                        <label class="row-fluid">
                            <div class="span2">
                                Matrícula:
                            </div>
                            <div class="span6">
                                <select id="id_matricula" class="span12" required="required"></select>
                            </div>
                        </label>
                    </div>
                </div>

                <hr/>

                <div class="row-fluid">
                    <div class="span12" id="text-input">
                        <label>Texto:</label>
                        <textarea id="txt-ocorrencia" name="st_ocorrencia" class="span12" rows="5"></textarea>
                    </div>
                </div>
                <hr/>
                <div class="row-fluid">
                    <div class="span12 controls controls-row">
                        <div class="clearfix control-label well well-small">
                            <label>Anexo: </label>
                            <input name="arquivo" type="file">

                            <div class="progress progress-striped box-bar-progress hide">
                                <div class="bar" id="upload-progress-ocorrencia"></div>
                            </div>
                        </div>
                        <hr/>
                        <div class="pull-left">
                            <button type="button" id="btn-gerar-ocorrencia" class="btn btn-custom">
                                <i class="icon icon-ok icon-white"></i>
                                Gerar Ocorrência
                            </button>
                            <button type="button" id="btn-cancelar-ocorrencia" class="btn">
                                <i class="icon icon-remove"></i>
                                Cancelar
                            </button>
                        </div>
                    </div>
                </div>
            </fieldset>
            <input id="id_usuario" type="hidden" name="id_usuario" value="<?php echo $this->id_usuario ?>">
            <input id="st_nomeusuario" type="hidden" name="st_usuario" value="<?php echo $this->st_nomeusuario ?>">
        </form>
    </div>
</script>



<script type="text/javascript">
    $('#htmlContent script[type="text/template"]').appendTo($('#templateHolder'));
    $('#templateHolder').append('<link rel="stylesheet" type="text/css" href="/css/auto-complete-pessoa.css" />');
</script>
<script type="text/javascript" src="<?php echo $this->url() ?>/js"></script>