
body{
	width: 100%;
	height: 100%;
}

table{
	max-width: 1050px;
	border: solid black 1px;
	border-collapse: collapse;
	text-align: center;
}

tr{
	width: auto;
	border: solid black 1px;
}

th{
	width: auto;
	border: solid black 1px;
	padding: 3px;
	background-color: #ccc;
}

td{
	width: auto;
	border: solid black 1px;
	padding: 3px;
}

.geral{
	width: 100%;
	max-width: 1060px;
	height: 100%;
}

#cabecalho{
	margin: 0 auto;
	text-align: center;
	position: relative; 
}

.linha{
	background-color: #ccc;
}

#mensagem-sucesso{
	margin: 0 auto;
	max-width: 1060px;
}

#mensagem-erro{
	margin: 0 auto;
	max-width: 1060px;
}

#titulo{
	text-align: center;
	font-size: 21px;
	font: bold;
}

