<script type="text/javascript" src="<?php echo $this->baseUrl()?>/js/sistema/widgets/portal.grid.js"></script>
<?php 
if($this->erro):
	echo '<script type="text/javascript">Mensageiro.mostrar("'.$this->erro->getFirstMensagem().'",'.$this->erro->getTipo().');</script>';
endif;
?>
<script type="text/javascript">
 $(document).ready( function() {
	$('#nova_declaracao').click(function(event){
			ViewController.viewChange(config.baseUrlModulo+'/matriculadeclaracao/listaprodutodeclaracao')
		}
	);
	$('.jbutton').button();
	
	var grid	= new Portal.Grid( 'grid_entrega_declaracao', <?php echo $this->listDeclaracoesJSON ?> );	 
	grid.addColumn({ name : 'st_textosistema', index : 'st_textosistema', label : 'Declaração' })
		.addColumn({ name : 'st_situacao', index : 'st_situacao', label : 'Situação' })
		.addColumn({ name : 'dt_solicitacao', index : 'dt_solicitacao', label : 'Solicitação' })
		.addColumn({ name : 'dt_entrega', index : 'dt_entrega', label : 'Entrega' });
	grid.render( 'div_entrega_declaracao' );
 });

</script>
<div class="column" id="column1" style="width: 800px; height: 100%;">
	<div class="dragbox" id="item0" style="width: 800px;">
		<h2>Declarações </h2> 
		<div class="dragbox-content" id="item0_id" style=" width: auto; ">
			<form action="" method="post">
				<div style="padding: 10px;">
					<div style="padding-left: 40px;">
						<input type="button" class="jbutton" id="nova_declaracao" value="Nova Solicitação"/>
					</div>
					<dir id="div_entrega_declaracao"></dir>
				</div>
			</form>
		</div>
	</div>
</div>
