<script type="text/javascript" src="<?php echo $this->baseUrl()?>/js/sistema/widgets/portal.grid.js"></script>
<script type="text/javascript" src="<?php echo $this->baseUrl()?>/js/sistema/matriculadeclaracao/CadastrarProdutoDeclaracao.js"></script>
<?php 
if($this->erro):
	echo '<script type="text/javascript">Mensageiro.mostrar("'.$this->erro->getFirstMensagem().'",'.$this->erro->getTipo().');</script>';
endif;
?>
<script type="text/javascript">
 $(document).ready(function(){
	 $('.jbutton').button();
	var cadastrarProdutoDeclaracao = new CadastrarProdutoDeclaracao();
	cadastrarProdutoDeclaracao.listenerClickSolicitarDeclaracao();
	cadastrarProdutoDeclaracao.listenerClickCancelarSolicitacao();
	
	var grid	= new Portal.Grid( 'grid_produto_declaracao', <?php echo $this->listProdutosJSON ?> );	 
	grid
		.addColumn({ name : 'chkbox', index : 'chkbox', label : '' })
		.addColumn({ name : 'st_produto', index : 'st_produto', label : 'Declaração' });
	grid.render( 'div_produto_declaracao' );
 });
</script>
<div class="column" id="column1" style="width: 800px; height: 100%;">
	<div class="dragbox" id="item0" style="width: 800px;">
		<h2>Solicitação de Declaração </h2> 
		<div class="dragbox-content" id="item0_id" style=" width: auto; ">
			<form id="form_produtosdeclaracao">
				<div style="padding: 10px;">
					<div style="padding-left: 40px;">
						<input type="button" id="btn_solicitardeclaracao" class="jbutton" value="Fazer Solicitação"/>
						<input type="button" id="btn_cancelar" class="jbutton" value="Cancelar"/>
					</div>
					<dir id="div_produto_declaracao"></dir>
				</div>
			</form>
		</div>
	</div>
</div>
