<style type="text/css">
    #autocomplete-results ul {
        background: #ffffff;
        overflow: auto;
        padding: 5px 0 5px 5px;
        margin-left: 2px;
    }

    #autocomplete-results {
        padding: 5px 0 5px 5px;
        border-bottom: 1px solid #ccc;
        list-style: outside none none;
        margin: 0 0 10px;
        overflow: hidden;
    }

    #autoCompletePessoa, #autoCompleteEntidade {
        position: relative !important;
    }

    .linha_complete {

    }

</style>

<script id="aplicador-view" type="text/template">
    <form method="post" name="formLocalProva" id="formLocalProva">
        <input type="hidden" id="id" value="<%= id_aplicadorprova %>" name="id">

        <div class="well">
            <fieldset>
                <legend>Aplicador de Prova</legend>
                <div class="has-warning clearfix row-fluid">
                    <label class="span12 text-left">Tipo: </label><br>
                    <select class="span4" name="id_tipopessoa" id="id_tipopessoa">
                        <option value=""> --</option>
                        <option value="<?= \G2\Constante\TipoPessoa::FISICA ?>"
                        <% if (id_tipopessoa == 1) {%> selected <% } %>
                        > <?php echo \G2\Constante\TipoPessoa::getArrayTipoPessoa(1); ?> </option>
                        <option value="<?= \G2\Constante\TipoPessoa::JURIDICA ?>"
                        <% if (id_tipopessoa == 2) {%> selected <% }
                        %>><?php echo \G2\Constante\TipoPessoa::getArrayTipoPessoa(2); ?></option>
                    </select>
                </div>
                <div class="has-warning clearfix row-fluid">
                    <div class="span12 hide" id="div_usuario">
                        <div id="autoCompletePessoa">
                            <label>Pessoa: </label>
                            <input type="hidden" name="id_usuarioaplicador" id="id_usuarioaplicador"
                                   value="<%=id_usuarioaplicador%>">
                            <input width="100%" type="text" autocomplete="off"
                                   placeholder="Digite o Nome, E-mail ou CPF" class="span12" value="<%=st_local%>"
                                   id="search" name="search">

                            <div id="autocomplete-results" class="row autocomplete-results"
                                 style="display: none; overflow: hidden;">
                                <ul></ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="has-warning clearfix row-fluid">
                    <div class="span12 hide" id="div_entidade">
                        <div id="autoCompleteEntidade" style="position: relative;">
                            <label>Entidade: </label>
                            <input type="hidden" name="id_entidadeaplicador" id="id_entidadeaplicador"
                                   value="<%=id_entidadeaplicador%>">
                            <input width="100%" type="text" autocomplete="off" placeholder="Digite CNPJ ou Razão Social"
                                   class="span12" value="<%=st_local%>" id="searchEntidade" name="searchEntidade">

                            <div id="autocomplete-resultsEntidade" class="row autocomplete-results"
                                 style="display: none;">
                                <ul></ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="has-warning clearfix row-fluid">
                    <label class="span12 text-left">Aplicador de prova:
                        <input type="text" required="required" class="span12" value="<%=st_aplicadorprova%>"
                               id="st_aplicadorprova" name="st_aplicadorprova">
                    </label>
                </div>

                <div class="has-warning clearfix row-fluid"></div>

            </fieldset>
        </div>
        <div class="well hide" id="content-endereco">
            <div></div>
        </div>
        <div class="well">
            <fieldset>
                <legend>Organizações</legend>
                <div class="has-warning clearfix row-fluid">
                    <div id="entidades"></div>
                </div>
            </fieldset>
        </div>
        <div class="clearfix row-fluid" style="margin-top: 15px">
            <button class="btn btn-success pull-right" id="btnSalvar" type="submit">Salvar</button>
        </div>
    </form>
</script>

<script id="template-endereco-aplicador" type="text/template">
    <fieldset>
        <legend>Endereço Aplicador</legend>
        <form method="post" name="formEnderecoAplicador" id="formEnderecoAplicador">
            <input type="hidden" id="id_endereco" value="<%= id_endereco %>" name="id_endereco"/>

            <div class="row-fluid">
                <div class="span4" id="pais-endereco">
                    <label>País: *
                        <select class="span12" name="id_pais" id="id_pais" required="required"> </select>
                    </label>
                </div>
                <div class="span4">
                    <label>CEP: *<br>

                        <div class="input-append">
                            <input class="st_cep_btn" required="required" type="text" title="CEP" value="<%= st_cep %>"
                                   id="st_cep" name="st_cep"/>
                            <button class="btn btnCep" type="button" title="Pesquisar CEP"><i class="icon-refresh"></i>
                            </button>
                        </div>
                        <a href="http://www.buscacep.correios.com.br/" target="_blank" title="Consultar CEP">Consultar
                            CEP</a>
                    </label>
                </div>
                <input name="id_tipoendereco" value="6" id="id_tipoendereco" type="hidden">
            </div>

            <div class="row-fluid">
                <div class="span7">
                    <label>Endereço: *
                        <input required="required" type="text" class="span12" title="Endereço"
                               value="<%= st_endereco %>" id="st_endereco" name="st_endereco"/>
                    </label>
                </div>
                <div class="span1">
                    <label>N&deg;: *
                        <input required="required" type="number" class="span12" title="N&deg" value="<%= nu_numero %>"
                               id="nu_numero" name="nu_numero"/>
                    </label>
                </div>
                <div class="span4">
                    <label>Bairro: *
                        <input required="required" type="text" class="span12" title="Bairro" value="<%= st_bairro %>"
                               id="st_bairro" name="st_bairro"/>
                    </label>
                </div>
            </div>

            <div class="row-fluid">
                <div class="span4">
                    <label>Complemento:
                        <input type="text" class="span12" title="Complemento" value="<%= st_complemento %>"
                               id="st_complemento" name="st_complemento">
                    </label>
                </div>
                <div class="span4">
                    <label>UF: *<br>
                        <select required="required" class="span12" name="sg_uf" id="sg_uf"> </select>
                    </label>
                </div>
                <div class="span4">
                    <label>Municipio: *<br>
                        <select id="id_municipio" name="id_municipio" required="required"></select>
                    </label>
                </div>
            </div>
        </form>
    </fieldset>
</script>

<script type="text/javascript"> $('#htmlContent script[type="text/template"]').appendTo($('#templateHolder'));</script>
<script type="text/javascript" src="/aplicador-prova/js"></script>