<script type="text/template" id="link-template">
    <a href="#<%=link%>" class="crumb lvl<%=id_tipo_funcionalidade%>" id="link_menu_<%=id_funcionalidade%>"><%=caption%></a>
</script>

<script type="text/template" id="breadcrumb-template">
    <div class="row-fluid">
        <div class="span9" id="path"></div>
        <div class="span3" id="extra"></div>
    </div>
</script>

<script type="text/template" id="stage">
    <div class="container" id="g2s">
    </div>
</script>

<script type="text/template" id="mainApp">
    <div id="menu" class="navbar"></div>
    <div id="breadcrumb"></div>
    <div id="content"></div>  
</script>

<script type="text/template" id="menu-template">
    <div class="container">
        <a class="btn btn-navbar collapsed" data-toggle="collapse" data-target=".navbar-responsive-collapse"> 
            <span class="icon-bar"></span> 
            <span class="icon-bar"></span> 
            <span class="icon-bar"></span>
        </a>
        <div style="height: 0px;" class="nav-collapse navbar-responsive-collapse collapse">
            <ul id="nav">
            </ul>				
        </div>
    </div>
</script>

<script src="<?php echo $this->baseUrl(); ?>/js/jquery-1.9.1.min.js"></script>
<script src="<?php echo $this->baseUrl(); ?>/js/backbone/underscore.js"></script>
<script src="<?php echo $this->baseUrl(); ?>/js/backbone/backbone.js"></script>
<script src="<?php echo $this->baseUrl(); ?>/js/backbone/backbone.marionette.min.js"></script>
<script src="<?php echo $this->baseUrl(); ?>/js/CollectionView.js"></script>
<script>
    menuData = <?php echo $this->menuData; ?>
</script>
<script src="<?php echo $this->baseUrl(); ?>/js/backbone/models/menu-item.js"></script>

<link rel="stylesheet" href="/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/style.css">