<!--<base href="<?php echo $this->serverUrl() . $this->baseUrl(); ?>/" />-->

<!-- Le styles -->
<link href="/css/primeiro-acesso/bootstrap.css" rel="stylesheet">
<link href="/css/primeiro-acesso/main.css?_=<?php echo uniqid(); ?>" rel="stylesheet">

<div class="container">
    <div class="row">
        <div class="span12">
            <img src="<?= Ead1_Ambiente::geral()->st_url_portal; ?>/img/primeiro-acesso/pagination/pag4.png"/>
        </div>
        <div class="span12">
            &nbsp;
        </div>
    </div>

    <div class="row content-aceitacao-contrato">

        <div class="span12">
            <?php if ($this->mensageiro && $this->mensageiro->getTipo() != Ead1_IMensageiro::SUCESSO) { ?>

                <?php $class = $this->mensageiro->getTipo() == Ead1_IMensageiro::ERRO ? 'error' : $this->mensageiro->getTipo() == Ead1_IMensageiro::AVISO ? 'warning' : 'success'; ?>

                <div class="alert alert-<?= $class ?> alert-block">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <?= $this->mensageiro->getFirstMensagem(); ?>
                </div>
            <?php } ?>
        </div>

        <div class="span12">
            &nbsp;
        </div>

        <div class="span12">

            <div class="row">
                <div class="span12 pa-aceitacao-contrato">
                    <?= $this->textoContrato->getSt_texto(); ?>
                </div>
                <div class="span12 pa-aceitacao-contrato-acoes">
                    <input id="pa-aceitacao-contrato-checkbox" type="checkbox" name="opt1" value="teste"> Concordo com os Termos do Contrato e confirmo a veracidade dos meus dados.<br/> 
                    <a href="/portal/primeiro-acesso/lembrar-mais-tarde">Lembrar mais tarde</a><br/>
                    <span>*Informamos que o acesso à sala de aula somente estará disponível após a confirmação deste Contrato</span>
                </div>
            </div>

            <div class="row">
                <div class="span6">
                    &nbsp;
                </div>
            </div>

            <div class="row">
                <div class="span3">                
                    <a href="/portal/primeiro-acesso/dados-cadastrais/ok/1">
                        <img src="<?= Ead1_Ambiente::geral()->st_url_portal; ?>/img/primeiro-acesso/btn-voltar.png"/>
                    </a>
                </div>
                <div class="span3">
                    <a id="pa-aceitacao-contrato-btn-prosseguir" href="/portal/primeiro-acesso/prosseguir/etapa/aceitacao-contrato">
                        <img src="<?= Ead1_Ambiente::geral()->st_url_portal; ?>/img/primeiro-acesso/btn-prosseguir.png"/>
                    </a>
                </div>
            </div>
        </div>

        <div class="span12"></div>

    </div>

</div>


<!--<script src="<?= Ead1_Ambiente::geral()->st_url_library; ?>/js/jquery/jquery-1.10.2.min.js"></script>
<script src="<?= Ead1_Ambiente::geral()->st_url_library; ?>/js/bootstrap/bootstrap.min.js"></script>-->
<script src="<?= Ead1_Ambiente::geral()->st_url_library; ?>/js/jquery/jquery.maskedinput.js"></script>
<script src="<?= Ead1_Ambiente::geral()->st_url_portal; ?>/js/primeiro-acesso/main.js"></script>
