<!-- Le styles -->
<link href="/css/primeiro-acesso/bootstrap.css" rel="stylesheet">
<link href="/css/primeiro-acesso/main.css?_=<?php echo uniqid(); ?>" rel="stylesheet">

<style>
    .tab-pane input{
        min-height: 35px;
    }
    .pa-input-tiny{
        width: 15%
    }
</style>

<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

<div class="container">
    <div class="row">
        <div class="span12">
            <img src="<?= Ead1_Ambiente::geral()->st_url_portal; ?>/img/primeiro-acesso/pagination/pag2.png"/>
        </div>
        <div class="span12">
            &nbsp;
        </div>
    </div>

    <div class="row content-dados-contato">
        <div class="span12">
            <?php if ($this->mensageiro && $this->mensageiro->getTipo() != Ead1_IMensageiro::SUCESSO) { ?>

                <?php $class = $this->mensageiro->getTipo() == Ead1_IMensageiro::ERRO ? 'error' : $this->mensageiro->getTipo() == Ead1_IMensageiro::AVISO ? 'warning' : 'success'; ?>

                <div class="alert alert-<?= $class ?> alert-block">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <?= $this->mensageiro->getFirstMensagem(); ?>
                </div>
            <?php } ?>
        </div>

        <div class="span12">

        </div>

        <div class="span6">

            <div class="row">
                <div class="span6 pa-dados-contato">
                    <?php echo $this->textoMensagem; ?>
                </div>
            </div>

            <div class="row">
                <div class="span6">
                    &nbsp;
                </div>
            </div>

            <div class="row">
                <div class="offset3 span3 direita acao">
                    <a id="pa-btn-corrigir" href="#">
                        <img src="<?= Ead1_Ambiente::geral()->st_url_portal; ?>/img/primeiro-acesso/btn-corrigir.png"/>
                    </a>
                </div>

                <div class="span3 esquerda acao">
                    <a href="/portal/primeiro-acesso/boas-vindas/ok/1">
                        <img src="<?= Ead1_Ambiente::geral()->st_url_portal; ?>/img/primeiro-acesso/btn-voltar.png"/>
                    </a>
                </div>

                <div class="span3 direita acao">
                    <a href="/portal/primeiro-acesso/prosseguir/etapa/dados-contato">
                        <img
                            src="<?= Ead1_Ambiente::geral()->st_url_portal; ?>/img/primeiro-acesso/btn-prosseguir.png"/>
                    </a>
                </div>

                <div class="span6 pa-texto-mensagem">
                    <?php echo $this->textoInstrucao; ?>
                </div>
            </div>
        </div>

        <div class="span6 hidden" id="pa-alteracoes-container">
            <form id="pa-alteracoes-dados-contato" class="frm-alteracoes">
                <div class="cortina cortina-loader"></div>
                <fieldset>
                    <input type="hidden" name="etapa" id="etapa" value="<?= PrimeiroAcessoBO::BOAS_VINDAS ?>"/>
                    <div id="tabs-primeiro-acesso">
                        <ul class="nav nav-tabs" id="abas-endereco">
                            <li class="active"><a href="#tab-end-corresp">Endereço de Correspondência</a></li>
                            <li><a href="#tab-end-residencial">Endereço Residencial</a></li>
                        </ul>

                        <div class="tab-content">
                            <!-- Endereço de correspondência-->
                            <div class="tab-pane active" id="tab-end-corresp">
                                <input class="pa-input-large" type="text" placeholder="Endereço Correspondência" name="st_enderecocorrespondencia" value="" size="100" maxlength="80"/>
                                <input class="pa-input-small" type="text" placeholder="Número" name="nu_numerocorrespondencia" value="" size="6" maxlength="5"/>
                                <input class="pa-input-medium" type="text" placeholder="Complemento" name="st_complementocorrespondencia" value="" maxlength="50"/>
                                <input class="pa-input-medium" type="text" placeholder="Bairro" name="st_bairrocorrespondencia" value="" maxlength="50"/>
                                <input class="pa-input-small" type="text" placeholder="CEP" id="st_cepcorrespondencia" name="st_cepcorrespondencia" value="" maxlength="13" width="13"/>
                                <select class="pa-input-small" name="sg_ufcorrespondencia" id="sg_ufcorrespondencia">
                                    <option value="">UF</option>
                                    <?php if ($this->mensageiroUF->getTipo() == Ead1_IMensageiro::SUCESSO) { ?>
                                        <?php foreach ($this->mensageiroUF->getMensagem() as $ufTO) { ?>
                                            <option
                                                value="<?php echo $ufTO->getSg_uf(); ?>"><?php echo $ufTO->getSt_uf(); ?></option>
                                        <?php } ?>
                                    <?php } ?>
                                </select>

                                <select class="pa-input-medium" name="id_municipiocorrespondencia" id="id_municipiocorrespondencia">
                                    <option value="">Escolha um Município e/ou uma UF</option>
                                </select>
                            </div>

                            <!-- Endereço residencial-->
                            <div class="tab-pane" id="tab-end-residencial">
                                <input class="pa-input-large" type="text" placeholder="Endereço" name="st_endereco" value="" size="100" maxlength="80"/>
                                <input class="pa-input-small" type="text" placeholder="Número" name="nu_numero" value="" size="6" maxlength="5"/>
                                <input class="pa-input-medium" type="text" placeholder="Complemento" name="st_complemento" value="" maxlength="50"/>
                                <input class="pa-input-medium" type="text" placeholder="Bairro" name="st_bairro" value="" maxlength="50"/>
                                <input class="pa-input-small" type="text" placeholder="CEP" id="st_cep" name="st_cep" value="" maxlength="13" width="13"/>
                                <select class="pa-input-small" name="sg_uf" id="sg_uf">
                                    <option value="">UF</option>
                                    <?php if ($this->mensageiroUF->getTipo() == Ead1_IMensageiro::SUCESSO) { ?>
                                        <?php foreach ($this->mensageiroUF->getMensagem() as $ufTO) { ?>
                                            <option
                                                value="<?php echo $ufTO->getSg_uf(); ?>"><?php echo $ufTO->getSt_uf(); ?></option>
                                        <?php } ?>
                                    <?php } ?>
                                </select>

                                <select class="pa-input-medium" name="id_municipio" id="id_municipio">
                                    <option value="">Escolha um Município e/ou uma UF</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div id="pa-conteudo-endereco-residencial">

                        <input class="pa-input-tiny" type="text" placeholder="DDD" id="nu_ddd" name="nu_ddd" value="" size="2"/>
                        <input class="pa-input-medium" type="text" placeholder="Telefone Principal" id="nu_telefone" name="nu_telefone" value="" size="10"/>
                        <input class="pa-input-tiny" type="text" placeholder="DDD" id="nu_dddalternativo" name="nu_dddalternativo" value="" size="2"/>
                        <input class="pa-input-medium" type="text" placeholder="Telefone Secundário" id="nu_telefonealternativo" name="nu_telefonealternativo" value="" size="10"/>
                        <input class="pa-input-large" type="email" placeholder="Email Principal" name="st_email" value="" maxlength="80" size="50"/>
                        <textarea class="pa-input-large" id="motivo" placeholder="Motivo da Alteração" name="motivo" required="required"></textarea>

                        <p class="aviso">* É necessário que informe um motivo para a alteração realizada para fins
                            de registro no sistema</p>
                        <button type="submit" id="btnAlterarDadosContato" class="btn-atualizar hidden">
                            <img src="<?= Ead1_Ambiente::geral()->st_url_portal; ?>/img/primeiro-acesso/btn-atualizar.png" alt="Atualizar"/>
                        </button>
                        <button type="button" id="btnCancelar" class="btn-cancelar">
                            <img src="<?= Ead1_Ambiente::geral()->st_url_portal; ?>/img/primeiro-acesso/btn-cancelar.png" alt="Cancelar"/>
                        </button>
                </fieldset>
            </form>
        </div>
        <div class="span12"></div>
    </div>
</div>