<!-- Le styles -->
<link href="/css/primeiro-acesso/bootstrap.css" rel="stylesheet">
<link href="/css/primeiro-acesso/main.css?_=<?php echo uniqid(); ?>" rel="stylesheet">

<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

<div class="container">
    <div class="row">
        <div class="span12">
            <img src="<?= Ead1_Ambiente::geral()->st_url_portal; ?>/img/primeiro-acesso/pagination/pag3.png"/>
        </div>
        <div class="span12">
            &nbsp;
        </div>
    </div>

    <div class="row content-dados-contato">
        <div class="span12">
            <?php if ($this->mensageiro && $this->mensageiro->getTipo() != Ead1_IMensageiro::SUCESSO) { ?>

                <?php $class = $this->mensageiro->getTipo() == Ead1_IMensageiro::ERRO ? 'error' : $this->mensageiro->getTipo() == Ead1_IMensageiro::AVISO ? 'warning' : 'success'; ?>

                <div class="alert alert-<?= $class ?> alert-block">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <?php echo $this->mensageiro->getFirstMensagem(); ?>
                </div>
            <?php } ?>
        </div>

        <div class="span6">
            <div class="row">
                <div class="span6 pa-dados-cadastrais">
                    <?php echo $this->textoMensagem; ?>
                </div>
            </div>

            <div class="row">
                <div class="span6">
                    &nbsp;
                </div>
            </div>

            <div class="row">
                <div class="offset3 span3 acao direita">
                    <?php if ($this->mostrarProsseguir) { ?>
                        <a id="pa-btn-corrigir" href="#">
                            <img
                                src="<?php echo Ead1_Ambiente::geral()->st_url_portal; ?>/img/primeiro-acesso/btn-corrigir.png"/>
                        </a>
                    <?php } ?>
                </div>

                <div class="span3 acao esquerda">
                    <a href="/portal/primeiro-acesso/dados-contato/ok/1">
                        <img
                            src="<?php echo Ead1_Ambiente::geral()->st_url_portal; ?>/img/primeiro-acesso/btn-voltar.png"/>
                    </a>
                </div>
                <div class="span3 acao direita">
                    <?php if ($this->mostrarProsseguir) { ?>
                        <a href="/portal/primeiro-acesso/prosseguir/etapa/dados-cadastrais">
                            <img
                                src="<?php echo Ead1_Ambiente::geral()->st_url_portal; ?>/img/primeiro-acesso/btn-prosseguir.png"/>
                        </a>
                    <?php } ?>
                </div>

                <div class="span6 pa-texto-mensagem">
                    <?php echo $this->textoInstrucao; ?>
                </div>
            </div>
        </div>

        <div class="span5 hidden" id="pa-alteracoes-container">

            <form id="pa-alteracoes-dados-cadastrais" class="frm-alteracoes">
                <div class="cortina cortina-loader"></div>
                <input type="text" class="pa-input-large" placeholder="Nome" name="st_nomecompleto"/>
                <input type="text" class="pa-input-small" placeholder="RG" name="st_rg"/>
                <input type="text" class="pa-input-small" placeholder="Orgão Emissor" name="st_orgaoexpeditor"/>
                <input type="text" class="pa-input-small" placeholder="Data de Expedição" id="dt_dataexpedicao"
                       name="dt_dataexpedicao"/>
                <input type="text" class="pa-input-medium" placeholder="CPF" id="st_cpf" name="st_cpf"/>
                <input type="text" class="pa-input-small" placeholder="Data de Nascimento" id="dt_nascimento"
                       name="dt_nascimento"/>
                <input type="text" placeholder="Naturalidade" name="st_cidadenascimento"/>
                <input type="text" placeholder="Nacionalidade" name="st_nacionalidade"/>

                <textarea placeholder="Cursos" name="cursos" class="pa-input-large"></textarea>
                <textarea placeholder="Motivo da Alteração" class="pa-input-large" id="motivo" name="motivo"></textarea>

                <p class="aviso">* É necessário que informe um motivo para a alteração realizada para fins de registro
                    no sistema</p>
                <button type="submit" id="btnAlterarDadosCadastrais" class="btn-atualizar hidden">
                    <img
                        src="<?php echo Ead1_Ambiente::geral()->st_url_portal; ?>/img/primeiro-acesso/btn-atualizar.png"
                        alt="Atualizar"/>
                </button>
                <button type="button" id="btnCancelar" class="btn-cancelar">
                    <img src="<?php echo Ead1_Ambiente::geral()->st_url_portal; ?>/img/primeiro-acesso/btn-cancelar.png"
                         alt="Cancelar"/>
                </button>
            </form>
        </div>
    </div>
</div>

<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<!--<script src="<?php echo Ead1_Ambiente::geral()->st_url_library; ?>/js/jquery/jquery-1.10.2.min.js"></script>
<script src="<?php echo Ead1_Ambiente::geral()->st_url_library; ?>/js/bootstrap/bootstrap.min.js"></script>-->
<script src="<?php echo Ead1_Ambiente::geral()->st_url_library; ?>/js/jquery/jquery.maskedinput.js"></script>
<script src="<?php echo Ead1_Ambiente::geral()->st_url_portal; ?>/js/primeiro-acesso/main.js"></script>