<!-- Le styles -->
<link href="/css/primeiro-acesso/bootstrap.css" rel="stylesheet">
<link href="/css/primeiro-acesso/main.css?_=<?php echo uniqid(); ?>" rel="stylesheet">

<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->


<div class="container">
    <div class="row-fluid">
        <div class="span12">
            <img src="<?= Ead1_Ambiente::geral()->st_url_portal; ?>/img/primeiro-acesso/pagination/pag5.png"/>
        </div>
        <div class="span12">
            &nbsp;
        </div>
    </div>

    <div class="row-fluid content-mensagem-informativa">
        <div class="span12">
            <?php if ($this->mensageiro) { ?>

                <?php $class = $this->mensageiro->getTipo() == Ead1_IMensageiro::ERRO ? 'error' : $this->mensageiro->getTipo() == Ead1_IMensageiro::AVISO ? 'warning' : 'success'; ?>

                <div class="alert alert-<?= $class ?> alert-block">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <?= $this->mensageiro->getFirstMensagem(); ?>
                </div>
            <?php } ?>
        </div>

        <div class="span12">

        </div>

        <div class="span6">
            <h1>INFORME</h1>
            <?= $this->textoMensagem; ?>
        </div>

        <div class="span12"></div>

        <div class="span6">
            <a href="/portal/primeiro-acesso/aceitacao-contrato/ok/1">
                <img src="<?= Ead1_Ambiente::geral()->st_url_portal; ?>/img/primeiro-acesso/btn-voltar.png"/>
            </a>
            <a href="/portal/primeiro-acesso/prosseguir/etapa/mensagem-informativa">
                <img src="<?= Ead1_Ambiente::geral()->st_url_portal; ?>/img/primeiro-acesso/btn-prosseguir.png"/>
            </a>
        </div>
    </div>

</div> <!-- /container -->

<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<!--<script src="<?= Ead1_Ambiente::geral()->st_url_library; ?>/js/jquery/jquery-1.10.2.min.js"></script>
<script src="<?= Ead1_Ambiente::geral()->st_url_library; ?>/js/bootstrap/bootstrap.min.js"></script>-->
<script src="<?= Ead1_Ambiente::geral()->st_url_library; ?>/js/jquery/jquery.maskedinput.js"></script>
<script src="<?= Ead1_Ambiente::geral()->st_url_portal; ?>/js/primeiro-acesso/main.js"></script>
