<!-- TEMPLATES -->


<!-- GLOBAL LAYOUT -->
<script id="global-template" type="text/template">
    <div id="nucleo-list-content"></div>
    <div id="nucleo-edit-content"></div>
</script>


<!-- LISTAR NUCLEOS -->
<script id="nucleo-list-template" type="text/template">
    <div class="well">
        <legend>Núcleos</legend>

        <button class="btn btn-small btn-success actionAddNucleo" type="button">
            <i class="icon icon-white icon-plus"></i>
            Adicionar Núcleo
        </button>

        <hr/>

        <table class="table table-bordered table-striped table-hover backgrid">
            <thead>
            <tr>
                <th>Núcleo</th>
                <th>Tipo</th>
                <th>Situação</th>
                <th style="width: 100px;">Ações</th>
            </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</script>

<script id="nucleo-list-view" type="text/template">
    <td><%= st_nucleoco %></td>
    <td><%= st_tipoocorrencia %></td>
    <td><%= st_situacao %></td>
    <td style="white-space: nowrap;">
        <button class="btn btn-small actionEdit" type="button">
            <i class="icon icon-wrench"></i>
            Configurar
        </button>
        <button class="btn btn-small actionDelete" type="button" title="Remover">
            <i class="icon icon-trash"></i>
        </button>
    </td>
</script>

<script id="nucleo-edit" type="text/template">
    <form method="post">

        <div class="tabbable">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#tab-nucleo" data-toggle="tab">Núcleo</a></li>
                <% if (id_nucleoco) { %>
                <li><a href="#tab-assuntos" data-toggle="tab">Assuntos</a></li>
                <li><a href="#tab-pessoas" data-toggle="tab">Pessoas</a></li>
                <% } %>
            </ul>
            <div class="tab-content">

                <div class="tab-pane active" id="tab-nucleo">
                    <div class="well">
                        <legend>Núcleo</legend>
                        <div class="row-fluid">
                            <label class="span10">
                                Núcleo *
                                <input id="st_nucleoco" class="span12" type="text" name="st_nucleoco"
                                       value="<%= st_nucleoco %>"
                                       required/>
                            </label>
                            <label class="span2">
                                Meta de Horas
                                <input id="nu_horasmeta" class="span12" type="text" name="nu_horasmeta"
                                       value="<%= nu_horasmeta %>"/>
                            </label>
                        </div>
                        <div class="row-fluid">
                            <label class="span4">
                                Tipo *
                                <select id="id_tipoocorrencia" class="span12" name="id_tipoocorrencia"
                                        required></select>
                            </label>
                            <label class="span4">
                                Situação *
                                <select id="id_situacao" class="span12" name="id_situacao" required></select>
                            </label>
                            <label class="span4">
                                Finalidade *
                                <select id="id_nucleofinalidade" class="span12" name="id_nucleofinalidade"
                                        required></select>
                            </label>
                        </div>
                        <div class="row-fluid">
                            <div class="pull-left" style="width: 217px;">
                                <br/>
                                <label class="checkbox">
                                    <input id="bl_compartilharholding" type="checkbox" name="bl_compartilharholding"
                                    <%= id_holdingcompartilhamento ? 'checked' : '' %>
                                    />
                                    Compartilhar com Holding
                                </label>
                            </div>
                            <label class="span2 <%= id_holdingcompartilhamento ? '' : 'hidden' %>">
                                Holding:
                                <select id="id_holdingcompartilhamento" class="span12"
                                        name="id_holdingcompartilhamento">
                                </select>
                            </label>
                        </div>
                    </div>
                    <div class="well">
                        <legend>Notificação</legend>
                        <div class="row-fluid">
                            <label class="span10">
                                Texto da Notificação
                                <select id="id_textonotificacao" class="span12" name="id_textonotificacao"></select>
                            </label>
                            <label class="span2">
                                <br/>
                                <% if (id_nucleoco) { %>
                                <button class="btn btn-small span12 openEmail" type="button" data-target="#modal-email"
                                        data-toggle="modal">
                                    <i class="icon icon-envelope"></i>
                                    Contas de E-mail
                                </button>
                                <% } %>
                            </label>

                            <!-- MODAL EMAILS -->
                            <div id="modal-email" class="modal hide fade">
                                <div class="modal-header">
                                    <h4>Contas de E-mail do Núcleo</h4>
                                </div>
                                <div class="modal-body">
                                    <div id="email-added-content"></div>
                                    <div id="email-list-content"></div>
                                </div>
                                <div class="modal-footer">
                                    <button class="btn btn-success actionSaveEmail" type="button">
                                        <i class="icon-white icon-ok"></i>
                                        Salvar
                                    </button>
                                    <button class="btn" type="button" data-dismiss="modal">
                                        <i class="icon-remove"></i>
                                        Cancelar
                                    </button>
                                </div>
                            </div>


                        </div>
                        <div class="row-fluid">
                            <div class="form-inline">
                                <label class="checkbox inline">
                                    Enviar notificação ao:
                                </label>
                                <label class="checkbox inline">
                                    <input id="bl_notificaresponsavel" type="checkbox" name="bl_notificaresponsavel"
                                    <%= bl_notificaresponsavel ? 'checked' : '' %>
                                    />
                                    Responsável
                                </label>
                                <label class="checkbox inline">
                                    <input id="bl_notificaatendente" type="checkbox" name="bl_notificaatendente"
                                    <%= bl_notificaatendente ? 'checked' : '' %>
                                    />
                                    Atendente
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="well">
                        <legend>Cores</legend>
                        <div class="row-fluid">
                            <label class="span6">
                                Ocorrência com interação do interessado
                                <input id="st_corinteracao" class="span12 minicolors" type="text" name="st_corinteracao"
                                       value="#<%= st_corinteracao %>"/>
                            </label>
                            <label class="span6">
                                Ocorrência atrasada
                                <input id="st_coratrasada" class="span12 minicolors" type="text" name="st_coratrasada"
                                       value="#<%= st_coratrasada %>"/>
                            </label>
                        </div>
                        <div class="row-fluid">
                            <label class="span6">
                                Ocorrência devolvida para distribuição
                                <input id="st_cordevolvida" class="span12 minicolors" type="text" name="st_cordevolvida"
                                       value="#<%= st_cordevolvida %>"/>
                            </label>
                            <label class="span6">
                                Ocorrência padrão
                                <input id="st_cordefault" class="span12 minicolors" type="text" name="st_cordefault"
                                       value="#<%= st_cordefault %>"/>
                            </label>
                        </div>
                    </div>
                    <div class="well">
                        <legend>Disponibilizar Evoluções</legend>
                        <div id="evolucao-content"></div>
                    </div>
                </div>

                <div class="tab-pane" id="tab-assuntos">

                    <% if (id_tipoocorrencia == 1) { %>
                    <div class="well">
                        <legend>Seleção de Subassunto</legend>

                        <div class="row-fluid">
                            <label class="span4">
                                Resgate
                                <select class="span12" name="id_assuntocoresgate">
                                    <option value=""></option>
                                </select>
                            </label>
                            <label class="span4">
                                Recuperação
                                <select class="span12" name="id_assuntorecuperacao">
                                    <option value=""></option>
                                </select>
                            </label>
                            <label class="span4">
                                Renovação
                                <select class="span12" name="id_assuntorenovacao">
                                    <option value=""></option>
                                </select>
                            </label>
                        </div>
                        <div class="row-fluid">

                            <label class="span4">
                                Cancelamento
                                <select class="span12" id="id_assuntocancelamento"
                                        name="id_assuntocancelamento">
                                    <option value="">Selecione</option>
                                </select>
                            </label>

                        </div>

                    <div class="well">
                        <div class="pull-right">
                            <button class="btn btn-success" type="submit">
                                <i class="icon-white icon-ok"></i>
                                Salvar
                            </button>
                            <button class="btn actionCancel" type="button">
                                <i class="icon-remove"></i>
                                Cancelar
                            </button>
                        </div>
                    </div>

                    <% }%>
                    <div class="well">
                        <legend>Assuntos do Núcleo</legend>
                        <div id="assunto-content"></div>
                    </div>
                    <hr/>
                </div>

                </div> <!-- tab-content -->

                <div class="tab-pane" id="tab-pessoas">
                    <div class="well">
                        <legend>Pessoas do Núcleo</legend>
                        <div id="pessoa-content"></div>
                    </div>
                    .
                </div>

            <div class="well">
                <div class="pull-right">
                    <button class="btn btn-success" type="submit">
                        <i class="icon-white icon-ok"></i>
                        Salvar
                    </button>
                    <button class="btn actionCancel" type="button">
                        <i class="icon-remove"></i>
                        Cancelar
                    </button>
                </div>
            </div>

    </form>
</script>


<!-- TEMPLATE EVOLUCOES -->
<script id="evolucao-view" type="text/template">
    <div class="span6">
        <%= st_evolucao %>
    </div>
    <div id="funcao-content" class="span6">
        Selecione o Tipo de Núcleo
    </div>
</script>

<script id="evolucao-funcao" type="text/template">
    <input type="checkbox" data-id-evolucao="<%= id_evolucao %>" name="funcao" value="<%= id_funcao %>"/>
    <%= st_funcao %>
</script>


<!-- TEMPLATES ABA ASSUNTO -->
<script id="assunto-added-template" type="text/template">
    <button class="btn btn-small btn-success actionAdd" type="button" data-toggle="modal" data-target="#modal-assunto">
        <i class="icon icon-white icon-plus"></i>
        Adicionar Assuntos
    </button>

    <div id="modal-assunto" class="modal fade hide">
        <div class="modal-header">
            <h4>Adicionar Assuntos</h4>
        </div>
        <div class="modal-body">
            <div id="assunto-list-content" class="table-responsive">
                Carregando...
            </div>
        </div>
        <div class="modal-footer">
            <div class="pull-right"></div>
            <button class="btn btn-success actionAddAssunto" type="button">
                Adicionar
            </button>
            <button class="btn" type="button" data-dismiss="modal">
                Cancelar
            </button>
        </div>
    </div>

    <hr/>
    <table class="table table-bordered table-striped table-hover backgrid">
        <thead>
        <tr>
            <th>Assunto Pai</th>
            <th>Assunto</th>
            <th>Tipo</th>
            <th style="width: 100px;"></th>
        </tr>
        </thead>
        <tbody id="assunto-added-content"></tbody>
    </table>
</script>

<script id="assunto-view" type="text/template">
    <td><%= st_assuntopai || '-' %></td>
    <td><%= st_assuntoco %></td>
    <td><%= st_tipoocorrencia %></td>
    <td style="white-space: nowrap;">
        <button class="btn btn-small openResponsavel" type="button">
            <i class="icon icon-user"></i>
            Responsáveis
        </button>
        <button class="btn btn-small actionDeleteAssunto" type="button" title="Remover">
            <i class="icon icon-trash"></i>
        </button>
    </td>
</script>

<script id="assunto-list-template" type="text/template">
    <table class="table table-bordered table-striped table-hover backgrid">
        <thead>
        <tr>
            <th></th>
            <th>Subassunto</th>
            <th>Assunto</th>
        </tr>
        </thead>
        <tbody></tbody>
    </table>
</script>

<script id="assunto-list-view" type="text/template">
    <td>
        <input type="checkbox" name="id_assuntoco[]" value="<%= id_assuntoco %>"/>
    </td>
    <td><%= st_assuntopai || '-' %></td>
    <td><%= st_assuntoco %></td>
</script>


<!-- TEMPLATES RESPONSAVEIS (ASSUNTO) -->
<script id="responsavel-template" type="text/template">
    <button class="btn btn-small btn-success actionAdd" type="button" data-toggle="modal" data-target="#modal-assunto">
        <i class="icon icon-white icon-plus"></i>
        Adicionar Responsável
    </button>
    <button class="btn btn-small actionBack" type="button">
        Voltar para Assuntos
    </button>

    <hr/>

    <table class="table table-bordered table-striped table-hover backgrid">
        <thead>
        <tr>
            <th>Nome</th>
            <th>Função</th>
            <th>Prioritário</th>
            <th style="width: 100px;"></th>
        </tr>
        </thead>
        <tbody></tbody>
    </table>
</script>

<script id="responsavel-view" type="text/template">
    <td><%= st_nomecompleto %></td>
    <td><%= st_funcao %></td>
    <td><%= bl_prioritario ? 'Sim' : 'Não' %></td>
    <td style="white-space: nowrap;">
        <button class="btn btn-small actionEdit" type="button">
            <i class="icon icon-edit"></i>
            Editar
        </button>
        <button class="btn btn-small actionDelete" type="button" title="Remover"
        <%= bl_todos ? 'disabled' : '' %>>
        <i class="icon icon-trash"></i>
        </button>
    </td>
</script>
<script type="text/template" id="template-lista-vazia">
    <td colspan="3">
        <div class="alert alert-warning">Nenhum item para exibição</div>
    </td>
</script>

<script id="responsavel-edit" type="text/template">
    <td>
        <div class="row-fluid">
            <div class="span12 autocomplete" style="position: relative;">
                <label>
                    <input class="span12" type="text" name="autocomplete" autocomplete="off"
                           value="<%= st_nomecompleto %>" style="margin: 0;"/>
                </label>
                <select class="span12 hide" style="position: absolute; top: 100%;" name="id_usuario" size="4">
                    <option value="<%= id_usuario %>" selected><%= st_nomecompleto %></option>
                </select>
            </div>
        </div>
    </td>
    <td>
        <select class="span3" name="id_funcao">
        </select>
    </td>
    <td>
        <select class="span3" name="bl_prioritario" <%= bl_todos ? 'disabled' : '' %>>
        <option value="0">Não</option>
        <option value="1"
        <%= bl_prioritario ? 'selected' : '' %>>Sim</option>
        </select>
    </td>
    <td style="white-space: nowrap;">
        <button class="btn btn-small btn-success actionSave" type="button">
            <i class="icon icon-white icon-ok"></i>
            Salvar
        </button>
        <button class="btn btn-small actionEdit" type="button">
            <i class="icon icon-remove"></i>
            Cancelar
        </button>
    </td>
</script>


<!-- TEMPLATE ABA PESSOAS -->
<script id="pessoa-template" type="text/template">
    <button class="btn btn-small btn-success actionAddPessoa" type="button">
        <i class="icon icon-white icon-plus"></i>
        Adicionar Pessoa
    </button>
    <hr/>
    <table class="table table-bordered table-striped table-hover backgrid">
        <thead>
        <tr>
            <th>Pessoa</th>
            <th class="pessoas-assuntos-th">Assuntos</th>
            <th class="pessoas-excluir-th">Excluir</th>
        </tr>
        </thead>
        <tbody></tbody>
    </table>
</script>

<script id="pessoa-view" type="text/template">
    <td><%= st_nomecompleto || '-' %></td>
    <td style="white-space: nowrap;">
        <button class="btn btn-small openAssuntos" type="button">
            <i class="icon icon-tag"></i>
            Assuntos
        </button>
    </td>
    <td>
        <button class="btn btn-small removerPessoa" type="button">
            <i class="icon icon-trash"></i>
        </button>
    </td>
</script>

<script id="pessoa-edit" type="text/template">
    <td>
        <div class="well">
            <!--        <legend>Adicionar Pessoa</legend>-->
            <div class="row-fluid">
                <label class="span4">
                    Instituição:
                    <select class="span12" name="id_instituicao"></select>
                </label>
                <div class="span8 autocomplete" style="position: relative;">
                    <label>
                        Nome, e-mail ou CPF
                        <input class="span12" type="text" name="autocomplete" autocomplete="off" disabled
                               style="margin: 0;"/>
                    </label>
                    <select class="span12 hide" style="position: absolute; top: 100%;" name="id_usuario" size="4">
                        <option value="<%= id_usuario %>" selected><%= st_nomecompleto %></option>
                    </select>
                </div>
            </div>
        </div>
    </td>
    <td>
        <button class="btn btn-success btn-small actionSavePessoa" type="button">
            Prosseguir
            <i class="icon icon-white icon-arrow-right"></i>
        </button>
    </td>
</script>


<!-- TEMPLATES PESSOA > ASSUNTOS  -->
<script id="assunto-pessoa-global" type="text/template">
    <legend>Funções da Pessoa no Núcleo</legend>
    <div id="assunto-pessoa-list"></div>
    <div class="well">
        <div class="pull-right">
            <button class="btn btn-small btn-success actionSaveAssuntos" type="button">
                <i class="icon icon-white icon-ok"></i>
                Salvar Assuntos
            </button>
            <button class="btn btn-small actionBack" type="button">
                <i class="icon icon-arrow-left"></i>
                Voltar
            </button>
        </div>
    </div>
</script>

<script id="assunto-pessoa-template" type="text/template">
    <div class="well" style="position: relative;">
        <legend style="text-transform: capitalize;"></legend>
        <div style="max-height: 250px; overflow: auto;">
            <table class="table table-bordered table-striped table-hover backgrid">
                <thead>
                <tr>
                    <th></th>
                    <th>Assunto</th>
                    <th>Assunto Pai</th>
                    <th>Tipo</th>
                </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</script>

<script id="assunto-pessoa-view" type="text/template">
    <td>
        <input type="checkbox" name="changed_items" <%= id_nucleopessoaco ? 'checked' : '' %> data-checked="<%=
        id_nucleopessoaco ? 'true' : 'false' %>" />
    </td>
    <td><%= st_subassunto || '-' %></td>
    <td><%= st_assuntopai || '-' %></td>
    <td><%= st_tipoocorrencia || '-' %></td>
</script>


<!-- TEMPLATES EMAIL LIST -->
<script id="email-list-template" type="text/template">
    <legend>E-mails para Adicionar</legend>
    <div style="max-height: 250px; overflow: auto;">
        <table class="table table-bordered table-striped table-hover backgrid">
            <thead>
            <tr>
                <th style="width: 10px;"></th>
                <th>E-mail</th>
            </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</script>

<script id="email-list-view" type="text/template">
    <td>
        <input type="checkbox" name="id_emailconfig" data-id="<%= id_emailconfig %>"/>
    </td>
    <td><%= st_usuario %></td>
</script>


<!-- TEMPLATES EMAIL ADDED -->
<script id="email-added-template" type="text/template">
    <legend>E-mails Adicionados</legend>
    <div style="max-height: 250px; overflow: auto;">
        <table class="table table-bordered table-striped table-hover backgrid">
            <thead>
            <tr>
                <th>E-mail</th>
                <th style="width: 10px;"></th>
            </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</script>

<script id="email-added-view" type="text/template">
    <td><%= st_usuario %></td>
    <td>
        <button class="btn btn-small actionDeleteEmail" type="button" title="Remover">
            <i class="icon icon-trash"></i>
        </button>
    </td>
</script>


<!-- HTMLS -->
<div id="global-content">
    <div class="well well-small">Carregando...</div>
</div>
<div id="pessoa-assunto-content" class="hide">
    <div class="well well-small">Carregando...</div>
</div>

<div class="clearfix"></div>
<hr/>

<style>
    .bl_todos {
        position: absolute;
        top: 15px;
        left: 200px;
        display: block;
    }

    .bl_todos td {
        border: 0;
    }

    .pessoas-assuntos-th {
        width: 1.5em;
    }

    .pessoas-excluir-th {
        width: 1.5em;
    }

</style>

<script type="text/javascript"> $('#htmlContent script[type="text/template"]').appendTo($('#templateHolder'));</script>
<script type="text/javascript" src="/nucleo-co/js"></script>
