<style type="text/css">
    #modal-grade-region .modal {
        width: 70% !important;
        left: 35% !important;
    }
</style>
<script id="form-template" type="text/template">
    <div class="well">
        <div class="row-fluid">
            <label id="label-matricula" class="span6">
                <b>Matrícula:</b>
                <select id="id_matricula" class="span12 horizontal-scroll" name="id_matricula" size="4"></select>
            </label>
            <label id="label-turma" class="span6 hide">
                <b>Transferência para a Turma:</b>
                <select id="id_turma" class="span12 horizontal-scroll"  name="id_turma" size="4"></select>
            </label>
        </div>
        <div id="matricula-region"></div>
    </div>
</script>

<script id="matricula-template" type="text/template">
    <div>
        <b>Turma:</b>
        <%= st_turma || 'Sem turma' %>
    </div>
    <div>
        <b>Data de Matrícula:</b>
        <%= dt_cadastro %>
    </div>
    <div>
        <b>Situação:</b>
        <%= st_situacao %>
    </div>
    <div>
        <b>Documentação:</b>
        <%= bl_documentacao === null || bl_documentacao === '' ? 'Não Analisado' : (bl_documentacao ? 'Ok' : 'Pendente') %>
    </div>
    <div>
        <b>Venda:</b>
        <%= id_venda %>
    </div>
    </div>
</script>

<script id="salas-template" type="text/template">
    <div id="modal-grade-region"></div>
    <div class="well">
        <div class="row-fluid">
            <label><b>Marque a sala que o aluno será MANTIDO.</b></label>
        </div>
        <div class="row-fluid">
            <div id="origem-region" class="span8"></div>
            <div id="destino-region" class="span4"></div>
        </div>
        <div class="row-fluid text-right">
            <div class="span4 contador text-left"></div>
            <div class="span8">
                <button id="btn-limpar" class="btn" type="button">
                    Limpar
                </button>
                <button id="btn-salvar" class="btn btn-success" type="button">
                    Salvar
                </button>
            </div>
        </div>
    </div>
</script>

<script id="salas-origem-template" type="text/template">
    <div class="table-responsive">
        <table class="table table-bordered table-striped backgrid table-hover marginT20">
            <thead>
            <tr>
                <th>Aproveitar</th>
                <th>Disciplina</th>
                <th>Prova Presencial</th>
                <th>Atividades EAD</th>
                <th>TCC</th>
                <th>Final</th>
                <th>Sala de Aula</th>
                <th>C.H.</th>
                <th>Início</th>
                <th>Término</th>
                <th>Evolução Nota</th>
            </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</script>

<script id="salas-origem-view" type="text/template">
    <td>
        <input type="checkbox" value="<%= id_disciplina %>" name="id_disciplina[]" class="id_disciplina"/>
    </td>
    <td><%= st_disciplina %></td>
    <td><%= st_notafinal %></td>

    <!-- st_notaead-->
    <td <% if(id_disciplina_prr != '' && (st_notatcc_prr == '' || st_notatcc_prr == '-')){ %> class="no-padding" <% } %>>
        <% if(id_disciplina_prr == ''){ %>
            <%=st_notaead%>
        <% }else{ %>
            <table width="100%">
                <tr>
                    <td class="celltablegrid">
                        <%=st_notaead%>
                    </td>
                </tr>
                <tr>
                    <td class="celltablegrid">
                        <%=st_notaead_prr%>
                    </td>
                </tr>
            </table>
        <% } %>
    </td>

    <!-- st_notatcc-->
    <td <% if(st_notatcc_prr != ''){ %> class="no-padding" <% } %>>
        <% if(st_notatcc_prr == ''){ %>
            <%=st_notatcc%>
        <% }else{ %>
            <table width="100%">
                <tr>
                    <td class="celltablegrid"><%=st_notatcc%></td>
                </tr>
                <tr>
                    <td class="celltablegrid"><%=st_notatcc_prr%></td>
                </tr>
            </table>
        <% } %>
    </td>

    <!-- st_notafinal-->
    <td>
        <% if(id_disciplina_prr != '' && st_notaead_prr > st_notaead){%>
            <%=st_notatotal_prr%>
        <% }else{%>
            <%=st_notatotal%>
        <% } %>
    </td>

    <!-- st_saladeaula-->
    <td <% if(id_disciplina_prr != ''){ %> class="no-padding" <% } %>>
        <% if(id_disciplina_prr == ''){ %>
            <%=st_saladeaula%>
        <% }else{ %>
            <table width="100%">
                <tr>
                    <td class="celltablegrid"><%=st_saladeaula%></td>
                </tr>
                <tr>
                    <td class="celltablegrid"><%=st_saladeaula_prr%><br><span class="label label-important pull-left">Sala PRR</span></td>
                </tr>
            </table>
        <% } %>
    </td>


    <td><%= st_notaatividade %></td>

    <!-- dt_abertura-->
    <td <% if(id_disciplina_prr != ''){ %> class="no-padding" <% } %>>
        <% if(id_disciplina_prr == ''){ %>
            <%=dt_abertura%>
        <% }else{ %>
        <table width="100%">
            <tr>
                <td class="celltablegrid"><%=dt_abertura%></td>
            </tr>
            <tr>
                <td class="celltablegrid"><%=dt_abertura_prr%></td>
            </tr>
        </table>
        <% } %>
    </td>

    <!-- dt_encerramento-->
    <td <% if(id_disciplina_prr != ''){ %> class="no-padding" <% } %>>
        <% if(id_disciplina_prr == ''){ %>
            <%=dt_encerramento%>
        <% }else{ %>
            <table width="100%">
                <tr>
                    <td><%=dt_encerramento%></td>
                </tr>
                <tr>
                    <td><%=dt_encerramento_prr%></td>
                </tr>
            </table>
        <% } %>
    </td>


    <td style="color: <%= getCorEvolucaoNota(st_status) %>"><%= st_status %></td>
</script>

<script id="salas-destino-template" type="text/template">
    <div class="table-responsive">
        <table class="table table-bordered table-striped backgrid table-hover marginT20">
            <thead>
            <tr>
                <th>Disciplina</th>
                <th>Início</th>
                <th>Término</th>
            </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</script>

<script id="salas-destino-view" type="text/template">
    <td><%= st_disciplina %></td>
    <td><%= dt_abertura %></td>
    <td><%= dt_encerramento %></td>
</script>

<script id="modal-grade-template" type="text/template">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 class="modal-title">Grade Curricular</h3>
    </div>
    <div class="modal-body">
        <div class="table-responsive">
            <table class="table table-bordered table-striped backgrid table-hover">
                <thead>
                <tr>
                    <th>Disciplina</th>
                    <th>Sala de Aula</th>
                    <th>Início</th>
                    <th>Término</th>
                </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
    <div class="modal-footer">
        <div class="pull-left">
            As salas <b>(<%=nu_contador%>)</b> que estão na cor <b class="text-success">verde</b> serão mantidas.
        </div>
        <button class="btn" type="button" data-dismiss="modal">
            Voltar
        </button>
        <button id="btn-salvar-modal" class="btn btn-success" type="button" data-dismiss="modal">
            Confirmar
        </button>
    </div>
</script>

<script id="modal-grade-view" type="text/template">
    <td><%= st_disciplina %></td>
    <td><%= st_saladeaula %></td>
    <td><%= dt_abertura %></td>
    <td><%= dt_encerramento %></td>
</script>

<!-- MAIN REGION -->
<div id="layout-region">
    <div id="autocomplete-region" class="row-fluid"></div>
    <div id="form-region"></div>
    <div id="salas-region"></div>
</div>


<!-- Componente Auto Complete -->
<link rel="stylesheet" type="text/css" href="<?php echo $this->baseUrl(); ?>/css/auto-complete-pessoa.css"/>
<script type="text/javascript" src="<?php echo $this->baseUrl(); ?>/js/auto-complete-componente.js"></script>
<?php echo $this->render('/util/auto-complete-pessoa.phtml'); ?>

<script type="text/javascript">
    $('#templateHolder').empty().append($('#htmlContent script[type="text/template"]'));
    <?php echo $this->render('/transferencia-turma/index.js') ?>
</script>