<table id="tableMensSms" class='backgrid backgrid-selectall table table-striped table-bordered table-hover'>
    <thead>
        <tr>
            <th>Mensagem Padrão</th>
            <th>Texto Sistema</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>

    </tbody>
</table>
<script type="text/template" id="sms-entidade-template-list">
    <tr>
    <td><%=st_mensagempadrao %></td>  
    <td><%=st_textosistema %></td>  
    <td width="200">
    <a href="javascript:" class="edit-link btn btn-mini btn-custom">Editar</a>
    </td>
    </tr>      
</script>
<script type="text/template" id="sms-entidade-template-edit">
    <tr>
    <td>
    <%=st_mensagempadrao %>
    </td>  
    <td>
    <select name="id_textosistema"><option>Carregando...</option></select>
    </td>  
    <td width="200">
    <a href="javascript:" class="save-link btn btn-mini btn-success">Salvar</a>
    <a href="javascript:" class="cancel-link btn btn-mini">Cancelar</a>
    </td>
    </tr>      
</script>
