<div class="title-block clearfix legendas-tit">
    <h3 class="h3-body-title">Sincronização</h3>

    <div class="title-seperator"></div>
</div>

<?php if ($this->retorno->getTipo() != Ead1_IMensageiro::SUCESSO) { ?>
    <table class="table table-bordered sincronizacao">
        <tr>
            <th>Alunos</th>
            <th>Matrícula</th>
            <th>Nota</th>
            <th>Nota AVA</th>
        </tr>
        <tr>
            <td colspan="4"><?php echo $this->retorno->getCurrent() ?></td>
        </tr>
    </table>
<?php } else { ?>
    <form name="frmSincronizar" id="frmSincronizar" onsubmit="return false;">
        <input type="hidden" name="id_saladeaula" id="id_saladeaula"
               value="<?= $this->id_saladeaula; ?>">
        <input type="hidden" name="st_codsistemacurso" id="st_codsistemacurso"
               value="<?= $this->st_codsistemacurso; ?>">
        <table class="table table-bordered sincronizacao">
            <tr>
                <th>Aluno</th>
                <th>Matrícula</th>

                <?php if( $this->id_tipoavaliacao == \G2\Constante\TipoAvaliacao::CONCEITUAL){?>
                    <th>Conceitual</th>
                <?php } else { ?>
                    <th>Nota</th>
                <?php } if( $this->id_tipoavaliacao == \G2\Constante\TipoAvaliacao::CONCEITUAL) { ?>
                    <th>Conceitual AVA</th>
                <?php } else { ?>
                    <th>Nota AVA</th>
                <?php }?>

                <th>
                    <input type="checkbox" name="marcartodos" id="marcartodos">
                </th>
            </tr>

            <?php
            foreach ($this->alunos as $aluno) {
                ?>
                <tr>
                    <td>
                        <?php echo $aluno->st_nomecompleto; ?>
                    </td>
                    <td>
                        <?php echo $aluno->id_matricula; ?>
                    </td>
                    <td>
                        <span <?php echo $aluno->bl_aproveitamento ? 'class="text-warning" title="Nota de aproveitamento"' : '' ?> <?php echo $aluno->bl_evolucao ? 'title="Matrícula Concluinte ou Certificado"' : '' ?>>
                            <?php
                                if( $this->id_tipoavaliacao == \G2\Constante\TipoAvaliacao::CONCEITUAL) {
                                    if ($aluno->st_notaconceitual){
                                        echo $aluno->st_notaconceitual;
                                    }else{
                                        echo '-';
                                    }
                                } else {
                                    echo($aluno->st_nota ? number_format($aluno->st_nota, 0) : '-');
                                }
                            ?>
                        </span>
                    </td>
                    <td>
                        <?php
                        if ( $this->id_tipoavaliacao == \G2\Constante\TipoAvaliacao::CONCEITUAL) {
                            if ($aluno->st_notaava){
                                if($aluno->st_notaava == \G2\Constante\NotaConceitual::NAO_CONCLUIDO ){
                                    echo 'Não Concluído';
                                } elseif ($aluno->st_notaava == \G2\Constante\NotaConceitual::CONCLUIDO) {
                                    echo 'Concluído';
                                }
                            }else{
                                echo '0';
                            }
                        } else {
                            echo($aluno->st_notaava ? number_format($aluno->st_notaava, 0) : '0');
                        }
                        ?>
                    </td>
                    <td>
                        <input type="checkbox"
                               <?php
                                    if ( $this->id_tipoavaliacao == \G2\Constante\TipoAvaliacao::CONCEITUAL) {
                                        if ($aluno->st_notaava != 1 && $aluno->st_notaava != 2) {
                                            echo 'disabled';

                                            ?>
                                            title="Entrar em contato com o Suporte."
                                            <?php
                                        } else {
                                            echo '';
                                        }
                                    }
                               ?>
                               <?php echo $aluno->bl_aproveitamento || $aluno->bl_evolucao ? 'disabled' : '' ?>
                               <?php echo $aluno->bl_aproveitamento ? 'class="text-warning" title="Nota de aproveitamento"' : '' ?> <?php echo $aluno->bl_evolucao ? 'title="Matrícula Concluinte ou Certificado"' : '' ?>
                               name="dados[]" id="dados[]"
                               value="<?php echo $aluno->id_matricula; ?>#<?= $aluno->id_avaliacao; ?>#<?= $aluno->id_avaliacaoconjuntoreferencia; ?>#<?= $aluno->st_notaava; ?>#<?= $this->id_tipoavaliacao; ?>">
                    </td>

                </tr>
            <?php
            }
            ?>
            <tr>
                <td colspan="5">
                    <button id="btnSincronizar" class="button small button-main">Sincronizar</button>
                </td>
            </tr>
        </table>
    </form>
<?php } ?>


