<div class="wrapper-cancelamento clearfix">
    <form action="" id="frmCancelamentoTcc" method="post" onsubmit="return false">
        <div class="form-group">
            <textarea type="text" name="st_justificativa" class="form-control" id="st_justificativa"></textarea>
            <input type="hidden" name="id_saladeaula" value="<?php echo $this->alunosala->getId_saladeaula(); ?>">
            <input type="hidden" name="id_matricula" value="<?php echo $this->alunosala->getId_matricula(); ?>">
            <input type="hidden" name="id_alocacao" value="<?php echo $this->alunosala->getId_alocacao(); ?>">
            <input type="hidden" name="id_avaliacaoaluno" value="<?php echo $this->avaliacaoaluno; ?>">
        </div>
        <button type="submit" class="button small button-main" name="btCancelarTcc" id="btCancelarTcc">Salvar</button>
    </form>
</div>
<div class="divider tcc"></div>