<div class="title-block clearfix legendas-tit">
    <h3 class="h3-body-title">Encerramento</h3>

    <div class="title-seperator"></div>
</div>
<ul class="nav nav-tabs nav-encerramento">
    <li class="active">
        <a href="#informacoes-encerramento" data-toggle="tab">Informações</a>
    </li>
    <li>
        <a href="#repasse-encerramento" id="repasse-tab" data-toggle="tab">Repasse</a>
    </li>
</ul>

<div class="tab-content">
    <div id="informacoes-encerramento" class="row tab-pane active">
        <div class="col-md-12">
            <div class="title-block clearfix legendas-tit">
                <h3 class="h3-body-title">Informações</h3>

                <div class="title-seperator"></div>
            </div>
            <form name="frmEncerramento" id="frmEncerramento" role="form" method="post" onsubmit="return false">
                <input type="hidden" name="id_saladeaula" id="id_saladeaula"
                       value="<?php echo $this->dados->getid_saladeaula(); ?>">
                <table class="table table-bordered">
                    <tr>
                        <th colspan="8">Quantitativos</th>
                    </tr>
                    <tr>
                        <td>
                            Alunos ativos:
                        </td>
                        <td>
                            <?php echo $this->dados->getnu_alocados(); ?>
                        </td>
                        <td>
                            Alunos sem nota:
                        </td>
                        <td>
                            <?php echo $this->dados->getnu_semnota(); ?>
                        </td>
                        <td>
                            Alunos com acesso:
                        </td>
                        <td>
                            <?php echo $this->dados->getnu_acesso(); ?>
                        </td>
                        <td>
                            Alunos sem acesso:
                        </td>
                        <td>
                            <?php echo $this->dados->getnu_semacesso(); ?>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Alunos com nota igual ou superior a média: <?php echo $this->dados->getnu_maiornota(); ?>
                        </td>
                        <td colspan="7">
                            <textarea rows="1" cols="135" name="st_justificativaacima" class="form-control"
                                      placeholder="Digite a justificativa"><?php echo ($this->dados->getst_justificativaacima() != '') ? $this->dados->getst_justificativaacima() : ''; ?></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Alunos com nota inferior a média: <?php echo $this->dados->getnu_menornota(); ?>
                        </td>
                        <td colspan="7">
                            <input type="text" name="st_justificativaabaixo" id="st_justificativaabaixo"
                                   class="form-control"
                                   value="<?php echo ($this->dados->getst_justificativaabaixo() != '') ? $this->dados->getst_justificativaabaixo() : ''; ?>">
                        </td>
                    </tr>
                    <tr>
                        <th colspan="8">Observações</th>
                    </tr>
                    <tr>
                        <td>Pontos positivos:</td>
                        <td colspan="7">
                            <textarea rows="1" cols="135" name="st_pontospositivos"
                                      placeholder="Digite os pontos positivos"
                                      class="form-control"><?php echo ($this->dados->getst_pontospositivos() != '') ? $this->dados->getst_pontospositivos() : ''; ?></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td>Pontos negativos:</td>
                        <td colspan="7">
                            <textarea rows="1" cols="135" name="st_pontosnegativos"
                                      placeholder="Digite os pontos negativos"
                                      class="form-control"><?php echo ($this->dados->getst_pontosnegativos() != '') ? $this->dados->getst_pontosnegativos() : ''; ?></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td>Pontos a melhorar:</td>
                        <td colspan="7">
                            <textarea rows="1" cols="135" name="st_pontosmelhorar"
                                      placeholder="Digite os pontos a melhorar"
                                      class="form-control"><?php echo ($this->dados->getst_pontosmelhorar() != '') ? $this->dados->getst_pontosmelhorar() : ''; ?></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td>Pontos relacionados ao resgate/recuperação dos alunos:</td>
                        <td colspan="7">
                            <textarea rows="1" cols="135" name="st_pontosresgate"
                                      placeholder="Digite os pontos relacionados ao resgate/recuperação dos alunos"
                                      class="form-control"><?php echo ($this->dados->getst_pontosresgate() != '') ? $this->dados->getst_pontosresgate() : ''; ?></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td>Conclusões finais:</td>
                        <td colspan="7">
                            <textarea rows="1" cols="135" name="st_conclusoesfinais"
                                      placeholder="Digite as conclusões finais"
                                      class="form-control"><?php echo ($this->dados->getst_conclusoesfinais() != '') ? $this->dados->getst_conclusoesfinais() : ''; ?></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="8" class="acao">
                            <button id="btnsalvarencerramento"
                                    class="button small button-main">
                                Salvar
                            </button>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>

    <div id="repasse-encerramento" class="row tab-pane">
        <div class="col-md-12">
            <div class="title-block clearfix legendas-tit">
                <h3 class="h3-body-title">Repasse</h3>

                <div class="title-seperator"></div>
            </div>


            <div class="portfolio-filter-container uny">
                <div class="portfolio-filter-label">
                    Liberado para:
                </div>

                <ul class="portfolio-filter" id="cb_dt_liberado">
                    <li>
                        <a href="javascript:void(0)" data-rel="<?php echo VwEncerramentoAlunosTO::TODOS; ?>">Todos</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)" class="portfolio-selected" data-rel="<?php echo VwEncerramentoAlunosTO::NAO_REPASSADO; ?>">Não
                            repassado</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)" data-rel="<?php echo VwEncerramentoAlunosTO::COORDENADOR; ?>">Coordenador</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)" data-rel="<?php echo VwEncerramentoAlunosTO::PEDAGOGICO; ?>">Pedagógico</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)" data-rel="<?php echo VwEncerramentoAlunosTO::PAGAMENTO; ?>">Pagamento</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)" data-rel="<?php echo VwEncerramentoAlunosTO::PAGOS; ?>">Pagos</a>
                    </li>
                </ul>
            </div>
            <form name="frmEncerramentoRepassar" id="frmEncerramentoRepassar" onsubmit="return false">
                <table class="table table-bordered liberacao encerramento"></table>
            </form>
        </div>
    </div>
</div>

