<?php

if (sizeof($this->sala) > 0 && is_object($this->sala)) {

    ?>
    <div class="row clearfix gestao-principal">
        <div class="col-md-12">
            <div class="title-block clearfix">
                <h3 class="h3-body-title uny"><?php echo $this->sala->getSt_saladeaula() ?></h3>

                <div class="title-seperator"></div>
            </div>
        </div>
        <div class="form-group clearfix">
            <div class="col-md-12">
                <label class="control-label">Sala de Aula:</label> <?php echo $this->sala->getst_saladeaula(); ?>
            </div>
        </div>
        <div class="form-group clearfix">
            <div class="col-md-12">
                <label class="control-label">Disciplina:</label> <?php echo $this->sala->getst_disciplina(); ?>
            </div>
        </div>
        <div class="form-group clearfix">
            <div class="col-md-12">
                <label class="control-label">Tutor:</label> <?php echo $this->sala->getSt_tutor(); ?>
            </div>
        </div>

        <div class="form-group clearfix">
            <?php
            $nu_col = 4;
            $nu_col = ($this->sala->getnu_diasextensao() ? 3 : 4);
            ?>
            <div class="col-md-<?= $nu_col; ?>">
                <label class="control-label">Abertura:</label>

                <div><?php echo($this->sala->getdt_abertura() != null ? $this->sala->getdt_abertura()->toString('dd/MM/YYYY') : ''); ?></div>
            </div>

            <div class="col-md-<?= $nu_col; ?>">
                <label class="control-label">Término:</label>

                <div><?php echo($this->sala->getdt_encerramento() != null ? $this->sala->getdt_encerramento()->toString('dd/MM/YYYY') : ''); ?></div>
            </div>
            <div class="col-md-<?= $nu_col; ?>">
                <label class="control-label">Dias de Extensão:</label>

                <div><?php echo $this->sala->getnu_diasextensao(); ?></div>


            </div>

            <?php if ($this->sala->getnu_maxextensao() && Ead1_Portal_Funcionalidade::verificaAcesso(482)
                && $this->sala->getdt_encerramento() != null
            ) {
                ?>
                <div class="col-md-<?= $nu_col; ?>">
                    <label class="control-label">Data de término após extensão:</label>

                    <div><?php echo date('d/m/Y', strtotime("+" . $this->sala->getnu_diasextensao() . " days", strtotime($this->sala->getdt_encerramento()->toString('dd-MM-YYYY')))); ?></div>
                </div>
            <?php } ?>


        </div>
        <div class="form-group clearfix">
            <div class="col-md-<?= $nu_col; ?>">
                <label>Alunos Ativos:</label>

                <div><?php echo $this->sala->getnu_alocados(); ?></div>
            </div>
            <div class="col-md-<?= $nu_col; ?>">
                <label class="control-label">Alunos com Acesso:</label>

                <div><?php echo $this->sala->getnu_acesso() ?></div>
            </div>

            <div class="col-md-<?= $nu_col; ?>">
                <label class="control-label">Alunos sem Acesso:</label>

                <div><?php echo $this->sala->getnu_semacesso() ?></div>
            </div>
        </div>
    </div>

    <div class="row clearfix">
        <div class="col-md-12">
            <?php if ($this->projetos) { ?>
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>
                            Projeto Pedagógico
                        </th>
                        <th>
                            Coordenador
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <?php foreach ($this->projetos as $projeto) { ?>
                        <tr>
                            <td>
                                <?php echo $projeto->st_projetopedagogico; ?>
                            </td>
                            <td>
                                <?php echo $projeto->st_coordenadorprojeto; ?>
                            </td>
                        </tr>
                    <?php } ?>
                    </tbody>
                </table>
            <?php } ?>
            <a class="button small button-main"
               href="<?php echo $this->baseUrlModulo ?>/index/lms/id_disciplina/<?php echo $this->sala->getid_disciplina(); ?>/id_saladeaula/<?php echo $this->sala->getid_saladeaula(); ?>">
                Acessar Sala
            </a>
            <?php
            if ($this->alunos && Ead1_Portal_Funcionalidade::verificaAcesso(484)) {
                ?>
                <a class="button small button-main" id="bt_alunos">
                    Visualizar Alunos
                </a>
                <?php
            }
            $mostra = false;
            if (!$this->sala->getdt_encerramento()) {
                $mostra = true;
                $fla_encerramento = 1;
            } elseif ($this->sala->getdt_encerramentoprofessor() instanceof Zend_Date) {
                if ($this->sala->getdt_encerramentoprofessor()->isLater(new Zend_Date())) {
                    $mostra = true;
                    $fla_encerramento = 0;
                }
            }
            if ($this->sala->getnu_maxextensao() && $mostra && Ead1_Portal_Funcionalidade::verificaAcesso(482)) {
                ?>
                <a class="button small button-main"
                   id="bt_extensaosala"
                   data-toggle="modal"
                   data-target="#modal-extensao">
                    Extensão
                </a>
                <?php
            }

            if ($this->sala->getid_sistema() == SistemaTO::MOODLE && Ead1_Portal_Funcionalidade::verificaAcesso(481) && $this->sala->getId_tipodisciplina() == TipoDisciplinaTO::NORMAL) {
                ?>
                <button class="button small button-main" id="bt_sincronizar"
                        data-id-sala="<?php echo $this->sala->getid_saladeaula(); ?>"
                        data-id-codsistema="<?php echo $this->sala->getst_codsistemacurso(); ?>">
                    Sincronização
                </button>
                <?php
            }

            if (Ead1_Portal_Funcionalidade::verificaAcesso(483)) {
                if ($this->sala->getId_tipodisciplina() == TipoDisciplinaTO::NORMAL) {
                    ?>
                    <a class="button small button-main bt_encerramentosalva" id="bt_encerramentosalva"
                       data-id-saladeaula="<?php echo $this->sala->getId_saladeaula(); ?>">
                        Encerramento
                    </a>
                <?php } elseif ($this->sala->getId_tipodisciplina() == TipoDisciplinaTO::TCC) { ?>
                    <button class="button small button-main bt_encerramentosalva tcc" id="bt_encerramentosalvatcc"
                            data-id-saladeaula="<?php echo $this->sala->getId_saladeaula(); ?>"
                            data-fla-encerramento="<?php echo($mostra ? 'true' : 'false'); ?>">
                        Encerramento TCC
                    </button>
                <?php }
            } ?>
            <div id="tbl_alunos" class="acoes-wrapper">
                <div class='info-box uny alunos-box'>
                    <i class='icon-success-sign'></i>

                    <div class='msg'></div>
                    <a href='javascript:void(0)' class='info-box-remove'><i class='icon-remove'></i></a>
                </div>
                <div class="title-block clearfix legendas-tit">
                    <h3 class="h3-body-title">Usuário por Projeto Pedagógico</h3>

                    <div class="title-seperator"></div>
                </div>
                <?php
                if ($this->alunos->tipo == 1 && Ead1_Portal_Funcionalidade::verificaAcesso(484)) {
                $aux = '';
                foreach ($this->alunos->mensagem as $k => $aluno) {
                if ($aux != $aluno->st_projetopedagogico) { ?>
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th colspan=<?= ($aluno->id_categoriasala == 2) ? 5 : 3 ?>>
                            <?= $aluno->st_projetopedagogico ?>
                        </th>
                    </tr>
                    <tr>
                        <th class="titulo-aluno">
                            Aluno
                        </th>
                        <?php if ($aluno->id_categoriasala == 2) { ?>
                            <th>
                                Data Início
                            </th>
                            <th>
                                Data Término
                            </th>
                        <?php } ?>
                        <th>
                            Acesso
                        </th>
                        <th>
                            Relatório Moodle
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <?php } ?>

                    <tr>
                        <td><?php echo $aluno->st_nomecompleto; ?></td>
                        <?php if ($aluno->id_categoriasala == 2) { ?>
                            <td><?php echo $aluno->dt_inicio; ?></td>
                            <td><?php echo $aluno->dt_termino; ?></td>
                        <?php } ?>
                        <td>
                            <a href="<?php echo $aluno->st_urlacesso; ?>">
                                Acessar como o aluno
                            </a>
                        </td>
                        <td>
                            <a class="btn" title="Visualizar Relatório" href="javascript:void(0)"
                               onclick="abrirLinkMoodle(<?php echo $this->sala->getId_saladeaula(); ?>,
                               <?php echo $this->sala->getId_disciplina(); ?>,<?php echo $aluno->id_usuario; ?>)">
                                <i class="icon-list-alt"></i>
                            </a>
                        </td>
                    </tr>
                    <?php
                    $aux = $aluno->st_projetopedagogico;

                    if ($k == count($this->alunos->mensagem) - 1) {
                        echo '</tbody></table>';
                    }
                    }
                    } else {
                        echo '<table class="table table-bordered">
                            <tr>
                                <th>
                                   Nenhum aluno encontrado para essa sala
                                </th>
                            </tr>
                            </table>';
                    }
                    ?>
            </div>
        </div>
    </div>
    <?php if ($this->sala->getnu_maxextensao()) { ?>
        <div class="modal fade" id="modal-extensao" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">Gostaria de estender o curso?</h4>
                    </div>
                    <div class="modal-body extensao">
                        <form name="frmExtensao" id="frmExtensao" method="post" role="form"
                              action="/portal/sala-de-aula/extender">
                            <div class="form-group clearfix">
                                <label for="nu_diasextensao" class="label-extensao">Estender o prazo de encerramento
                                    para o aluno em</label>
                                <select name="nu_diasextensao" id="nu_diasextensao"
                                        class="form-control extensao-selecao">
                                    <?php
                                    for ($x = 1; $x <= $this->sala->getnu_maxextensao(); $x++) {
                                        ?>
                                        <option value="<?php echo $x ?>"><?php echo $x ?> dia(s)</option>
                                        <?php
                                    }
                                    ?>
                                </select>
                                <input type="hidden" name="id_saladeaula"
                                       value="<?php echo $this->sala->getid_saladeaula(); ?>"/>
                                <input type="hidden" name="id_disciplina"
                                       value="<?php echo $this->sala->getid_disciplina(); ?>"/>

                                <div class="submit-extensao">
                                    <input class="button small button-main" value="Estender" type="submit">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <?php
    }
    ?>
    <div class="wrapper-pai">
        <div class="cortina cortina-loader pai"></div>
        <div class='info-box uny encerramento-box'>
            <i class='icon-success-sign'></i>

            <div class='msg'></div>
            <a href='javascript:void(0)' class='info-box-remove'><i class='icon-remove'></i></a>
        </div>
        <div class="encerramento-wrapper acoes-wrapper"></div>
        <div class="sincronizar-wrapper acoes-wrapper"></div>
        <div class="liberar-wrapper acoes-wrapper">
            <div class="content-liberacao"></div>
        </div>
    </div>

    <?php
}
?>
<?php if ($this->erro instanceof Ead1_Mensageiro && $this->erro->getType() != Ead1_IMensageiro::SUCESSO): ?>
    <div class="info-box yellow itens"><?php echo $this->erro->getText(); ?></div>
<?php endif; ?>
