<div class="cortina cortina-loader tcc"></div>
<div class='info-box uny encerramento-box tcc'>
    <i class='icon-success-sign'></i>

    <div class='msg'></div>
    <a href='javascript:void(0)' class='info-box-remove'><i class='icon-remove'></i></a>
</div>


<form name="formTccNotaUpload" id="formTccNotaUpload" method="post">
    <div class="div_tabela">

        <div class="table-responsive">
            <h4>Informações</h4>
            <button class="button small button-main table-toggle" type="button" title="Mostrar/esconder tabela">
                <i class='icon icon-white icon-fullscreen'></i>
            </button>
            <table class="table table-bordered table-hover table-striped">
                <tr>
                    <th style="width: 105px;">Matrícula:</th>
                    <td><?php echo $this->alunosala->getid_matricula(); ?></td>
                </tr>
                <tr>
                    <th>Nome:</th>
                    <td><?php echo $this->alunosala->getst_nomecompleto(); ?></td>
                </tr>
                <tr>
                    <th>Sala:</th>
                    <td><?php echo $this->sala->getSt_saladeaula(); ?></td>
                </tr>
                <tr>
                    <th>Disciplina:</th>
                    <td><?php echo $this->sala->getst_disciplina(); ?></td>
                </tr>
                <tr>
                    <th>Coordenador:</th>
                    <td><?php echo $this->sala->getst_nomeprofessor() ?></td>
                </tr>
                <tr>
                    <th>Título:</th>
                    <td>
                        <?php if ($this->avaliacao instanceof \G2\Entity\AvaliacaoAluno && $this->avaliacao->getst_tituloavaliacao()) { ?>
                            <?php echo $this->avaliacao->getst_tituloavaliacao(); ?>
                        <?php } else { ?>
                            <?php echo 'Nenhum registro foi encontrado!'; ?>
                        <?php } ?>
                    </td>
                </tr>
                <tr>
                    <th>Vers&atilde;o Final:</th>
                    <td>
                        <input type="hidden" name="id_upload" id="id_upload" value="<?php echo $this->idUpload; ?>">
                        <?php
                        if ($this->idUpload){
                            ?>
                            <a href="<?php echo $this->baseUrl . Ead1_Ambiente::geral()->baseUrlUpload . '/avaliacao/' . $this->stUpload; ?>" target="_blank">
                                <?php echo $this->stUpload; ?>
                            </a>
                        <?php
                        } else {
                            ?>
                            &mdash;
                        <?php
                        }

                        $bl_logacessoaluno = false;
                        if(!empty($this->alunosala->id_logacesso)){
                            $bl_logacessoaluno = true;
                        }

                        $situacaoValida = ($bl_logacessoaluno
                            && $this->alunosala->id_situacaotcc == \G2\Constante\Situacao::TB_ALOCACAO_PENDENTE)
                            || $this->alunosala->id_situacaotcc == \G2\Constante\Situacao::TB_ALOCACAO_EM_ANALISE
                            || $this->alunosala->id_situacaotcc == \G2\Constante\Situacao::TB_ALOCACAO_DEVOLVIDO_AO_ALUNO
                            || $this->alunosala->id_situacaotcc == \G2\Constante\Situacao::TB_ALOCACAO_DEVOLVIDO_AO_TUTOR
                            || $this->alunosala->id_situacaotcc == \G2\Constante\Situacao::TB_ALOCACAO_AVALIADO_PELO_ORIENTADOR;
                        if($situacaoValida) {
                             if (!$this->encerrada
                                 && !(!empty($this->avaliacao)
                                     && $this->avaliacao->getId_tiponota() == \G2\Constante\TipoNota::APROVEITAMENTO)
                             )
                             { ?>
                                <select name="id_situacaotcc" id="id_situacaotcc" style="float: right;">
                                    <option>Selecionar</option>
                                <?php if($this->alunosala->id_situacaotcc !=
                                            \G2\Constante\Situacao::TB_ALOCACAO_DEVOLVIDO_AO_ALUNO
                                        && $this->alunosala->id_situacaotcc !=
                                            \G2\Constante\Situacao::TB_ALOCACAO_PENDENTE ){?>
                                    <option value="<?php echo \G2\Constante\Situacao::TB_ALOCACAO_DEVOLVIDO_AO_ALUNO ?>">Devolver TCC ao Aluno</option>
                                <?php }?>
                                 <?php if($this->alunosala->id_situacaotcc != \G2\Constante\Situacao::TB_ALOCACAO_AVALIADO_PELO_ORIENTADOR){?>
                                    <option value="<?php echo \G2\Constante\Situacao::TB_ALOCACAO_AVALIADO_PELO_ORIENTADOR ?>">Avaliado pelo Orientador</option>
                                 <?php }?>
                                </select>

                                <div id="div_motivodevolucao" style="display: none;">
                                    <br />
                                    <input type="hidden" id="id_alocacao_devolucao" name="id_alocacao_devolucao" value="<?php echo $this->alunosala->id_alocacao ?>"/>
                                    <textarea name="st_motivodevolucao" id="st_motivodevolucao" maxlength="250" style="width: 100%"></textarea>
                                </div>
                                <div id="div_btn_atualizar" style="display: none;">
                                    <br />
                                    <button id="btn_atualizar_situacao" class="button small button-main btn_atualizar_situacao"
                                            type="button" style="float: right;">
                                        Atualizar TCC
                                    </button>
                                </div>
                            <?php } ?>
                        <?php
                        }
                        ?>
                    </td>
                </tr>
            </table>
        </div>



        <?php
        if ($this->parametros) {
        ?>
            <div class="div_linha">
                <br/>
                <div class="table-responsive">
                    <h4>Lançar Nota</h4>
                    <button class="button small button-main table-toggle" id="button-toglle-lancar-nota" type="button" title="Mostrar/esconder tabela">
                        <i class='icon icon-white icon-fullscreen'></i>
                    </button>
                <?php
                if ($this->idUpload){
                    ?>
                    <div class="alert alert-danger">
                        Professor, verificar se o título do TCC está corretamente preenchido. Caso não esteja, deverá ser DEVOLVIDO para correção do aluno.
                    </div>
                <?php } ?>
                    <table class="table table-bordered table-hover table-striped">
                        <thead>
                        <tr>
                            <th>Parâmetro</th>
                            <th style="text-align: center;">Nota Máxima</th>
                            <th style="text-align: center;">Nota do TCC</th>
                        </tr>
                        </thead>
                        <tbody>
                        <?php
                        $total_nota = 0;
                        $total_nota_maxima = 0;
                        $x = 0;
                        foreach ($this->parametros as $to) {
                            ?>
                            <tr class="linha_<?php echo(($x++) % 2) ?>">
                                <td><?php echo $to->getst_parametrotcc() . ' (' . $to->getnu_peso() . '%)' ?></td>
                                <td style="text-align: center;"><?php echo $to->getnu_notamaxparam(); ?></td>
                                <td style="text-align: center;">
                                    <?php if ($this->encerrada == false) { ?>
                                        <input type="text" class="numeric nu_notaparametro form-control"
                                               id="nu_notaparametro[<?php echo $to->getid_parametrotcc() ?>]"
                                               name="nu_notaparametro[<?php echo $to->getid_parametrotcc() ?>]"
                                               value="<?php echo $to->getnu_notaparametro(); ?>" maxlength="3"/>
                                        <input type="hidden" name="id_parametrotcc"
                                               value="<?php echo $to->getid_parametrotcc() ?>"/>
                                    <?php } else { ?>
                                        <?php echo $to->getnu_notaparametro(); ?>
                                    <?php } ?>
                                </td>
                            </tr>
                            <?php
                            $total_nota += $to->getnu_notaparametro();
                            $total_nota_maxima += $to->getnu_notamaxparam();
                            $id_avaliacao = $to->getid_avaliacao();
                            $id_avaliacaoconjuntoreferencia = $to->getid_avaliacaoconjuntoreferencia();
                        }
                        ?>
                        </tbody>
                        <tfoot>
                        <tr>
                            <td>Total</td>
                            <td style="text-align: center;"><?php echo $total_nota_maxima; ?></td>
                            <td style="text-align: center;" id="total_nota"><?php echo $total_nota; ?></td>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
            <div>
                <input type="hidden" id="nu_notaminima" name="nu_notaminima" value="<?php echo $to->getNu_notaminima() ?>">
                <input type="hidden" id="id_matricula" name="id_matricula" value="<?php echo $to->getid_matricula() ?>"/>
                <input type="hidden" id="id_usuario" name="id_usuario" value="<?php echo $this->id_usuario ?>"/>
                <input type="hidden" id="id_saladeaula" name="id_saladeaula" value="<?php echo $this->id_saladeaula ?>"/>
                <input type="hidden" id="id_alocacao" name="id_alocacao" value="<?php echo $this->alunosala->id_alocacao ?>"/>
                <input type="hidden" id="id_avaliacaoconjuntoreferencia" name="id_avaliacaoconjuntoreferencia" value="<?php echo $id_avaliacaoconjuntoreferencia ?>"/>
                <input type="hidden" id="id_avaliacaoaluno" name="id_avaliacaoaluno" value="<?php echo $to->getId_avaliacaoaluno() ?>">
                <input type="hidden" id="id_avaliacao" name="id_avaliacao" value="<?php echo $id_avaliacao ?>"/>

                <?php if ($this->encerrada == false) { ?>
                    <button id="bt_salvartcc" class="button small button-main bt_salvartcc" type="button">Salvar Nota
                    </button>
                <?php } ?>
            </div>
            <?php
        } else if(!$this->parametros) {
            echo "Nenhum parâmetro encontrado!";
        }
        ?>



        <br/><br/>
        <div class="table-responsive">
            <h4>Histórico TCC</h4>
            <button class="button small button-main table-toggle" type="button" title="Mostrar/esconder tabela">
                <i class='icon icon-white icon-fullscreen'></i>
            </button>
            <table class="table table-bordered table-hover table-striped">
                <thead>
                <tr>
                    <th>Texto</th>
                    <th>Data</th>
                    <th>Usuário</th>
                </tr>
                </thead>
                <tbody>
                <?php
                if ($this->tramites) {
                    foreach ($this->tramites as $tramite) {
                        ?>
                        <tr>
                            <td><?= $tramite['st_tramite'] ?></td>
                            <td><?= $tramite['dt_cadastro'] ?></td>
                            <td><?= $tramite['st_nomecompleto'] ?></td>
                        </tr>
                        <?php
                    }
                } else {
                    ?>
                    <tr>
                        <td colspan="3">Sem histórico de TCC</td>
                    </tr>
                    <?php
                }
                ?>
                </tbody>
            </table>
        </div>



    </div>
</form>




<style>
    .table-responsive{
        position: relative;
        overflow: auto;
    }
    .table-toggle{
        position: absolute;
        right: 0;
        top: 0;
        width: 0;
    }
    #myModal .modal-dialog{
        width: 940px;
    }

    .nu_notaparametro::-webkit-outer-spin-button,
    .nu_notaparametro::-webkit-inner-spin-button {
        /* display: none; <- Crashes Chrome on hover */
        -webkit-appearance: none;
        margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
    }
</style>

<!--<script type="text/javascript" src="--><?php //echo $this->baseUrl() ?><!--/js/sistema/saladeaula/lancar-nota-tcc.js"></script>-->