<div class="title-block clearfix legendas-tit">
    <h3 class="h3-body-title">Liberar TCC</h3>

    <div class="title-seperator"></div>
</div>
<?php if ($this->retorno->getTipo() != Ead1_IMensageiro::SUCESSO) { ?>

<?php } else { ?>
    <form name="frmLiberar_tcc" id="frmLiberar_tcc">
        <input type="hidden" name="id_saladeaula" id="id_saladeaula" value="<?php echo $this->id_saladeaula; ?>">
        <table class="table table-bordered liberacao tcc" id="liberar-table">

            <tr>
                <th>
                    <label>
                        <input type="checkbox" name="marcartodos" id="marcartodos" class="">
                    </label>
                </th>
                <th>
                    <label>
                        Alunos
                    </label>
                </th>
            </tr>

            <?php
            foreach ($this->alunos as $aluno) {
                ?>
                <tr class="filho">
                    <td>
                        <input type="checkbox" name="id_alocacao[]" id="id_alocacao[]"
                               value="<?php echo $aluno->id_alocacao; ?>"
                            <?php
                            if ($aluno->getId_situacaotcc() == \G2\Constante\Situacao::TB_ALOCACAO_APTO || $aluno->getId_upload()) {
                                echo 'checked="checked"';
                                echo 'disabled="disabled"';
                            }
                            ?>
                            />
                    </td>
                    <td>
                        <?php echo $aluno->st_nomecompleto; ?>
                    </td>
                </tr>
            <?php
            }
            ?>
            <tr>
                <td colspan="2">
                    <input type="submit"  value="Liberar" class="button small button-main btn_salvarliberacao"/>
                </td>
            </tr>
        </table>
    </form>
<?php } ?>

