<?php if (sizeof($this->alunos) == 0) { ?>
    <tr>
        <th>Nenhum aluno encontrado</th>
    </tr>
<?php } else { ?>

    <input type="hidden" id="id_liberar" name="id_liberar" value="<?php echo $this->id_liberar; ?>">
    <input type="hidden" id="id_saladeaula" name="id_saladeaula" value="<?php echo $this->sala->id_saladeaula; ?>">
    <input type="hidden" id="id_tiposaladeaula" name="id_tiposaladeaula"
           value="<?php echo $this->sala->id_tiposaladeaula; ?>">
    <input type="hidden" id="id_tipodisciplina" name="id_tipodisciplina"
           value="<?php echo $this->sala->getId_tipodisciplina(); ?>">
    <tr>
        <?php if ($this->sala->id_tiposaladeaula == TipoSalaDeAulaTO::SALA_PERMANENTE or $this->sala->getId_tipodisciplina() == TipoDisciplinaTO::TCC): ?>
            <th>
                <input type="checkbox" name="marcartodos" id="marcartodos"/>
            </th>
        <?php endif; ?>
        <th>
            Aluno
        </th>
        <th>
            Nota Final
        </th>
        <?php if ($this->sala->getId_tipodisciplina() == TipoDisciplinaTO::TCC): ?>
            <th>
                Publicou versão final do TCC?
            </th>
        <?php endif ?>
        <?php if ($this->sala->getId_tipodisciplina() == TipoDisciplinaTO::TCC): ?>
            <th>
                Situação do TCC
            </th>
        <?php endif ?>
        <th>
            Coordenador
        </th>
        <th>
            Pedagógico
        </th>
        <th>
            Financeiro
        </th>
        <th>
            Data de pagamento
        </th>
    </tr>
    <?php

    function isSalaAntiga($situacaotcc)
    {
        return in_array($situacaotcc, ['Apto', 'Não apto']);
    }

    foreach ($this->alunos as $aluno) {

        if (!($aluno->id_logacesso)) {
            $semacesso = 'sem-acesso';
            $lb_semacesso = ' class="text-danger" title="Aluno sem acesso"';
        } else {
            $semacesso = '';
            $lb_semacesso = '';
        }

        if($aluno->id_tiponota == 2 && $this->sala->getId_tipodisciplina() != TipoDisciplinaTO::TCC){
            $lb_transferido = ' class="text-warning" title="Aluno transferido"';
        }else{
            $lb_transferido = '';
        }
        ?>
        <tr class="filho">
            <?php
            if ($this->sala->getId_tiposaladeaula() == TipoSalaDeAulaTO::SALA_PERMANENTE
                || $this->sala->getId_tipodisciplina() == TipoDisciplinaTO::TCC) { ?>
                <td>
                    <?php
                    if (!empty($aluno->id_logacesso)
                        && empty($aluno->dt_encerramentoprofessor)
                        && $aluno->st_nota != null
                        && !(!empty($this->avaliacao)
                            && $this->avaliacao->getId_tiponota() == \G2\Constante\TipoNota::APROVEITAMENTO)
                    ) {
                        ?>
                        <input type="checkbox" name="id_alocacao[]" id="id_alocacao[]"
                               value="<?= $aluno->id_alocacao; ?>" />
                    <?php
                    } else {
                        echo ' *';
                    }
                    ?>
                </td>
            <?php } ?>
            <td>
                <?php
                if ($this->sala->getId_tipodisciplina() == TipoDisciplinaTO::TCC && (!empty($aluno->id_logacesso) && empty($aluno->dt_encerramentoprofessor))) {
                    ?>
                    <a href="#" class="lancarnota" data-id-saladeaula="<?php echo $this->sala->getid_saladeaula(); ?>" data-id-matricula="<?php echo $aluno->getid_matricula(); ?>">
                        <span> <?php echo($lb_transferido.$lb_semacesso); ?><?php echo $aluno->getst_nomecompleto(); ?> </span>
                    </a>
                <?php
                } else {
                    ?>
                    <a href="#" class="lancarnota"  data-id-saladeaula="<?php echo $this->sala->getid_saladeaula(); ?>" data-id-matricula="<?php echo $aluno->getid_matricula(); ?>" data-view-only="true">
                        <span <?php echo($lb_transferido.$lb_semacesso); ?>><?php echo $aluno->getst_nomecompleto(); ?> </span>
                    </a>
                <?php
                }
                ?>
            </td>
            <td>
                <?php echo(!is_null($aluno->st_nota) ? intval($aluno->getst_nota()) : ' - '); ?>
            </td>
            <?php if ($this->sala->getId_tipodisciplina() == TipoDisciplinaTO::TCC): ?>
                <td>
                    <?php echo ($aluno->getId_upload()) ? 'Sim' : '-' ?>
                </td>
            <?php endif; ?>
            <?php if ($this->sala->getId_tipodisciplina() == TipoDisciplinaTO::TCC): ?>
                <td>
                    <?php echo (!empty($aluno->situacaotcc && !isSalaAntiga($aluno->situacaotcc)) ? $aluno->situacaotcc : ' - '); ?>
                </td>
            <?php endif; ?>
            <td>
                <?php echo (!empty($aluno->dt_encerramentoprofessor) ? $aluno->dt_encerramentoprofessor->toString('dd/MM/YYYY') : ' - '); ?>
            </td>
            <td>
                <?php echo (!empty($aluno->dt_encerramentocoordenador) ? $aluno->dt_encerramentocoordenador->toString('dd/MM/YYYY') : ' - '); ?>
            </td>
            <td>
                <?php echo (!empty($aluno->dt_encerramentopedagogico) ? $aluno->dt_encerramentopedagogico->toString('dd/MM/YYYY') : ' - '); ?>
            </td>
            <td>
                <?php echo (!empty($aluno->dt_encerramentofinanceiro) ? $aluno->dt_encerramentofinanceiro->toString('dd/MM/YYYY') : ' - '); ?>
            </td>
        </tr>
    <?php
    }
    if($this->id_liberar !=0){ // AC-26466 para evitar que o botão de repassar apareça no filtro TODOS
    if (($this->sala->id_tiposaladeaula == TipoSalaDeAulaTO::SALA_PERIODICA && empty($aluno->dt_encerramentoprofessor) && $this->fla_encerramento != 'false') || $this->sala->id_tiposaladeaula == TipoSalaDeAulaTO::SALA_PERMANENTE) {
        ?>
        <tr>
            <td <?php if ($this->sala->id_tiposaladeaula == TipoSalaDeAulaTO::SALA_PERMANENTE || $this->sala->getId_tipodisciplina() == TipoDisciplinaTO::TCC) : ?> colspan="9" <?php else: ?> colspan="7" <?php endif; ?>
                align="right">
                <button class="repassar_professor button small button-main" role="button"
                        data-id-sala="<?php echo $this->sala->id_saladeaula; ?>"
                        data-id-tipo-sala="<?php echo $this->sala->id_tiposaladeaula; ?>"
                        data-id-tipo-disc="<?php echo $this->sala->getId_tipodisciplina(); ?>">
                    <span>Repassar</span>
                </button>
            </td>
        </tr>
    <?php } ?>
    <?php } ?>
<?php } ?>

