<?php if (sizeof($this->alunos) == 0) { ?>
    <tr>
        <th>Nenhum aluno encontrado</th>
    </tr>
<?php } else { ?>

    <input type="hidden" id="id_liberar" name="id_liberar" value="<?php echo $this->id_liberar; ?>">
    <input type="hidden" id="id_saladeaula" name="id_saladeaula" value="<?php echo $this->sala->id_saladeaula; ?>">
    <input type="hidden" id="id_tiposaladeaula" name="id_tiposaladeaula"
           value="<?php echo $this->sala->id_tiposaladeaula; ?>">
    <input type="hidden" id="id_tipodisciplina" name="id_tipodisciplina"
           value="<?php echo $this->sala->getId_tipodisciplina(); ?>">
    <tr>
        <th>
            Aluno
        </th>
        <th>
            Data da Recusa
        </th>
        <th>
            Motivo da Recusa
        </th>
    </tr>
    <?php foreach ($this->alunos as $aluno) {
        if (!($aluno->id_logacesso)) {
            $lb_semacesso = ' class="text-warning" title="Aluno sem acesso"';
        } else {
            $lb_semacesso = '';
        }

        if($aluno->id_tiponota == 2 && $this->sala->getId_tipodisciplina() != TipoDisciplinaTO::TCC){
            $lb_transferido = ' class="text-danger" title="Aluno transferido"';
        }else{
            $lb_transferido = '';
        }
        ?>
        <tr class="filho">
            <td>
                <?php echo '<span'. $lb_transferido.$lb_semacesso .'>' .$aluno->getst_nomecompleto() .'</span>'; ?>
            </td>
            <td>
                <?php echo (!empty($aluno->dt_recusa) ? $aluno->dt_recusa->toString('dd/MM/YYYY') : ' - '); ?>
            </td>
            <td>
                <?php echo (!empty($aluno->st_motivorecusa) ? $aluno->st_motivorecusa : ' - '); ?>
            </td>
        </tr>
    <?php
    }

} ?>

