<?php if (isset($this->erro)) { ?>
    <tr>
        <th><?php echo $this->erro; ?></th>
    </tr>
<?php } else { ?>
    <tr>
        <th>Nome do Aluno</th>
        <th>Data de Devolução para o Tutor</th>
        <th>Motivo da Devolução</th>
        <th>Usuário Responsável pela Devolução</th>
    </tr>
    <?php
    foreach ($this->tramites as $tramites) {
        foreach ($tramites as $tramite) { ?>

        <tr class="filho">
            <td>
                <?php echo (!empty($tramite['st_nomecompleto']) ? $tramite['st_nomecompleto'] : ' - '); ?>
            </td>
            <td>
                <?php echo (!empty($tramite['dt_cadastro']) ? $tramite['dt_cadastro'] : ' - '); ?>
            </td>
            <td>
                <?php echo (!empty($tramite['st_tramite']) ? $tramite['st_tramite'] : ' - '); ?>
            </td>
            <td>
                <?php echo (!empty($tramite['st_usuariocadastro']) ? $tramite['st_usuariocadastro'] : ' - '); ?>
            </td>
        </tr>
    <?php
        }
    }

} ?>

