<script type="text/javascript" src="/js/backbone/views/Util/SelectView.js"></script>
<script type="text/javascript" src="/js/auto-complete-componente.js"></script>

<!-- HTML -->
<?php echo $this->render('/util/auto-complete-pessoa.phtml'); ?>

<script type="text/template" id="template-dados-holding">
    <div class="row-fluid">
        <div id="wrapper-dados"></div>
    </div>
</script>

<script type="text/template" id="template-dados">
    <div class="well well-large">
        <div class="row-fluid">
            <fieldset>
                <legend>Holding</legend>
                <div class="row-fluid">
                    <div class="span4">
                        <label> Nome Holding
                            <input class="span12" type="text" id="st_holding" name="st_holding"/>
                        </label>
                    </div>
                    <div class="span4">
                        <label> Situação
                            <select class="span12" name="id_situacao" id="id_situacao">
                                <option value="">[Selecione]</option>
                            </select>
                        </label>
                    </div>
                    <div class="span4">
                        <label class="checkbox">
                            <input type="checkbox" name="bl_compartilharcarta" id="bl_compartilharcarta">Compartilhar Carta de Crédito
                        </label>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
    <div class="well well-large">
        <div class="row-fluid">
            <div class="span6 pull-right">
                <input type="hidden" class="id_holding" name="id_holding" value="">
                <button class="btn btn-success pull-right" type="button" id="btn-salvar">Salvar</button>
            </div>
        </div>
    </div>
</script>
<?php //Zend_Debug::dump($this->dados ? 'teste' : 'vazio');exit; ?>
<script type="text/javascript">
    <?php if($this->dados): ?>
    G2S.editModel = <?php echo json_encode($this->dados);  ?>;
    <?php else: ?>
    G2S.editModel = null;
    <?php endif; ?>

</script>
<script type="text/javascript"> $('#htmlContent script[type="text/template"]').appendTo($('#templateHolder'));</script>
<script type="text/javascript" src="/holding/js"></script>
