<style>
    /*[class*="span"]{*/
        /*margin-left: 11px;*/
    /*}*/

    .divider-vertical{
        margin-left: 0;
    }
    .modal-body {
        max-height: 400px;
    }
</style>
<!--<script type="text/template" id="lancamento-template-list">-->

<div class="row-fluid">

    <div class="well">
        <div id="containerForm" class="row-fluid" style="position: relative;">
            <form method="post" name="formPesquisaLancamentoPorAluno" id="formPesquisaLancamentoPorAluno" onsubmit="return false">
                <fildset>
                    <legend>Pesquisar</legend>
                    <div class="clearfix"></div>
                    <div class="row-fluid">
                        <div class="span3">
                            <?php echo $this->form->st_str; ?>
                        </div>
                        <div class="span2">
                            <?php echo $this->form->sg_uf; ?>
                        </div>
                        <div class="span2">
                            <?php echo $this->form->id_municipio; ?>
                        </div>
                        <div class="span2">
                            <?php echo $this->form->id_aplicadorprova; ?>
                        </div>
                        <div class="span2">
                            <?php echo $this->form->dt_aplicacao; ?>
                        </div>
                        <div class="span1">
                            <button type="submit" id="btnPesquisarAlunos" name="btnPesquisarAlunos" class="btn btn-info" style="margin-top: 24px;">
                                <i class="icon-search icon-white"></i>
                            </button>
                        </div>
                    </div>
                </fildset>
            </form>
        </div>
    </div>

    <div class="row-fluid" id="data-lancamento"></div>

    <div class="row-fluid" id="result-lancamento" class="hide">
        <input type="hidden" id="idMatricula" value="" />
        <div id="dados-aluno" class="well well-small divider-vertical"></div>
        <div id="div_menu">
            <ul  id="ul_menu" class="nav nav-tabs"></ul>
        </div>
        <div id="listaDisciplinas" class="">
            <table class="backgrid backgrid-selectall table table-hover table-striped table-bordered" id="tabela-retorno-pesquisa-disciplinas">
                <thead>
                <th>Disciplina</th>
                <th>Nota</th>
                <th>Lançamento</th>
                <th>Realização</th>
                <th>Responsável</th>
                <th>Situação da Disciplina</th>
                </thead>
                <tbody>
                </tbody>
            </table>
            <table class="backgrid backgrid-selectall table table-hover table-striped table-bordered hide" id="tabela-retorno-pesquisa-notas">
                <thead>
                <th>Disciplina</th>
                <th>Nota EAD</th>
                <th>Nota Prova Final Definitiva</th>
                <th>Nota Final</th>
                </thead>
                <tbody>
                </tbody>
            </table>
            <div class="pull-right" style="">
                <a class="btn btn-info" href="#pesquisaHistorico" data-toggle="modal" id="modalHistorico" name="">
                    Histórico
                </a>
                <button type="reset" id="btnVoltarPesquisa" onclick="voltarPesquisa();" name="btnVoltarPesquisa" class="btn btn-custom">
                    Voltar a Pesquisa
                </button>
            </div>
        </div>
    </div>
</div>

<div id="pesquisaHistorico" class="modal hide fade" aria-hidden="true" aria-labelledby="windowTitleLabel" role="dialog" tabindex="-1" style="display: none;">
    <div class="modal-header">
        <h4>
            Histórico do Lançamento de Notas
        </h4>
    </div>
    <div class="modal-body">
        <div id="modalHistoricoLancamentoNota" style="margin-top: -20px;">
            <table id="tabela-retorno-pesquisa-historico-nota" class='backgrid backgrid-selectall table table-striped table-bordered table-hover' style="margin-top: -20px;">
                <thead>
                    <tr>
                        <th>Disciplina</th>
                        <th>Nota</th>
                        <th>Lançamento</th>
                        <th>Realização</th>
                        <th>Responsável</th>
                    </tr>
                </thead>
                <tbody> 
                </tbody>
            </table>
        </div>
    </div>
    <div class="modal-footer">
        <a class="btn" onclick="fecharModal();" > Sair </a>
    </div>
</div>

<script type="text/template" id="dados-aluno-nota">
    <form class="form-horizontal" id="form-lanca-nota" onsubmit="return false">
    <label><strong>NOME:</strong> <%=st_nomecompleto%></label>
    <label><strong>CURSO:</strong> <%=st_projetopedagogico%></label>
    <label><strong>EVOLUÇÃO:</strong> <%=st_evolucao%></label>
    <label class="text-error"><strong>Nota máxima:</strong> <%=nu_valor%></label>
    <div id="lancamentoFinalGlobal">
    <label><strong>Nota alcançada pelo aluno:</strong>
    <input type="number" min="0" max="<%=nu_valor%>" class="input-small popover-page" required="required" name="st_nota" id="stNota" value="" maxlength="3" size="4" />
    <span>
    <button id="btnLancarNota" type="button" onclick="lancarFinal();" class="btn btn-success" style="vertical-align: top;">Lançar</button>
    </span>
    </label>
    </div>
    <label id="labelGlobal" class="text-warning hide">Prova Global</label>
    </form>
</script>

<script type="text/template" id="disciplina-lancamento-prova-final-e-global">
    <td><%=st_disciplina%></td>
    <td><%=st_nota%></td>
    <td><%=dt_cadastroavaliacao%></td>
    <td><%=dt_avaliacao%></td>
    <td><%=st_usuariocadavaliacao%></td>
    <td><%=st_evolucaodisciplina%></td>
</script>

<script type="text/template" id="disciplina-lancamento-prova-recuperacao">
    <td><%=st_disciplina%></td>
    <td>
    <input type="text" class="input-small" value="<%=st_nota%>" name="st_nota" id="idNota<%=id_avaliacaoconjuntoreferencia%>" maxlength="3" style="margin-bottom: 0;" />
    <button type="button" id="btnSalvarNotaRecuperacao" class="btn btn-success"><i class="icon-ok icon-white"></i></button>
    </td>
    <td><%=dt_cadastroavaliacao%></td>
    <td><%=dt_avaliacao%></td>
    <td><%=st_usuariocadavaliacao%></td>
    <td><%=st_evolucaodisciplina%></td>
</script>

<script type="text/template" id="disciplina-lancamento-notas">
    <td><%=st_disciplina%></td>
    <td><%=st_notaead%></td>
    <td><%=st_notafinal%></td>
    <td><%=nu_notatotal%></td>

</script>

<script type="text/template" id="historico-lancamento-notas">
    <td><%=st_disciplina%></td>
    <td><%=st_nota%></td>
    <td><%=dt_cadastroavaliacao%></td>
    <td><%=dt_avaliacao%></td>
    <td><%=st_usuariocadavaliacao%></td>
</script>


<script src="<?php echo $this->baseUrl(); ?>/js/CollectionView.js"></script>

<script type="text/javascript"> $('#htmlContent script[type="text/template"]').appendTo($('#templateHolder'));</script>
<script type="text/javascript" src="<?php echo $this->baseUrl(); ?>/lancamento-por-aluno/js"></script>

