<?php

$html = '<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" >';
foreach ($this->dados as $dados) {
    $html .= '<table border="1" >';
    $html .= '<caption>' . $dados['st_areaconhecimento'] . '</caption>';
    $html .= '<thead >';
    $html .= '<tr style="background-color:#395870">';
    $html .= '<th class="span5">TURMA</th>';
    $html .= '<th>UNIDADE</th>';
    $html .= '<th>C/H</th>';
    $html .= '<th>DATA PREVISTA</th>';
    $html .= '<th>SITUAÇÃO</th>';
//    $html .= '<th>Data</th>';
    $html .= '<th>' . $dados['dia_6'] . '</th>';
    $html .= '<th>' . $dados['dia_5'] . '</th>';
    $html .= '<th>' . $dados['dia_4'] . '</th>';
    $html .= '<th>' . $dados['dia_3'] . '</th>';
    $html .= '<th>' . $dados['dia_2'] . '</th>';
    $html .= '<th>' . $dados['dia_1'] . '</th>';
    $html .= '<th>MATRÍCULAS FREE PASS</th>';
    $html .= '<th>MATRÍCULAS GARANTIA DUO</th>';
//    $html .= '<th>Total</th>';
    $html .= '</tr>';
    $html .= '</thead>';
    $html .= '<tbody>';
    $dia1 = 0;
    $dia2 = 0;
    $dia3 = 0;
    $dia4 = 0;
    $dia5 = 0;
    $dia6 = 0;
    $tFP1 = 0;
    $tFP2 = 0;
    $tFP3 = 0;
    $tFP4 = 0;
    $tFP5 = 0;
    $tFP6 = 0;
    $tGD1 = 0;
    $tGD2 = 0;
    $tGD3 = 0;
    $tGD4 = 0;
    $tGD5 = 0;
    $tGD6 = 0;
    foreach ($dados['produtos'] as $produto) {
        $t1 = $produto['nu_dia1'];
        $t2 = $produto['nu_dia2'];
        $t3 = $produto['nu_dia3'];
        $t4 = $produto['nu_dia4'];
        $t5 = $produto['nu_dia5'];
        $t6 = $produto['nu_dia6'];
        $t7 = $produto['qtd_FP'];
        $t8 = $produto['qtd_FP2'];
        $t9 = $produto['qtd_FP3'];
        $t10 = $produto['qtd_FP4'];
        $t11 = $produto['qtd_FP5'];
        $t12 = $produto['qtd_FP6'];
        $t13 = $produto['qtd_GD'];
        $t14 = $produto['qtd_GD2'];
        $t15 = $produto['qtd_GD3'];
        $t16 = $produto['qtd_GD4'];
        $t17 = $produto['qtd_GD5'];
        $t18 = $produto['qtd_GD6'];
        $gd = $produto['qtd_GD'] + $produto['qtd_GD2'] + $produto['qtd_GD3'] + $produto['qtd_GD4'] + $produto['qtd_GD5'] + $produto['qtd_GD6'];
        $fp = $produto['qtd_FP'] + $produto['qtd_FP2'] + $produto['qtd_FP3'] + $produto['qtd_FP4'] + $produto['qtd_FP5'] + $produto['qtd_FP6'];

        $html .= '<tr>';
        $html .= '<td>' . $produto['st_turma'] . '</td>';
        $html .= '<td>' . $produto['st_nomeentidade'] . '</td>';
        $html .= '<td style="text-align: center">' . $produto['nu_cargahoraria'] . '</td>';
        $html .= '<td style="text-align: center">' . $produto['dt_inicio'] . '</td>';
        $html .= '<td style="text-align: center">' . $produto['st_evolucao'] . '</td>';
//        $html .= '<td style="text-align: center">' . $produto['dt_atual'] . '</td>';
        $html .= '<td style="text-align: center">' . $t6 . '</td>';
        $html .= '<td style="text-align: center">' . $t5 . '</td>';
        $html .= '<td style="text-align: center">' . $t4 . '</td>';
        $html .= '<td style="text-align: center">' . $t3 . '</td>';
        $html .= '<td style="text-align: center">' . $t2 . '</td>';
        $html .= '<td style="text-align: center">' . $t1 . '</td>';
        $html .= '<td style="text-align: center">' . $fp . '</td>';
        $html .= '<td style="text-align: center">' . $gd . '</td>';
//        $html .= '<td style="text-align: center">' . ($t1 + $t2 + $t3 + $t4 + $t5 + $t6) . '</td>';
        $html .= '</tr>';
        $dia1 += $t1;
        $dia2 += $t2;
        $dia3 += $t3;
        $dia4 += $t4;
        $dia5 += $t5;
        $dia6 += $t6;
        $tFP1 += $t7;
        $tFP2 += $t8;
        $tFP3 += $t9;
        $tFP4 += $t10;
        $tFP5 += $t11;
        $tFP6 += $t12;
        $tGD1 += $t13;
        $tGD2 += $t14;
        $tGD3 += $t15;
        $tGD4 += $t16;
        $tGD5 += $t17;
        $tGD6 += $t18;
    }
    $html .= '</tbody>';
    $html .= '<tfoot >';
    $html .= '<tr style="background-color:#cecfd5">';
    $html .= '<th colspan="5" style="text-align: right">TOTAL</th>';
    $html .= '<th style="color:#ca0000; text-align: center">' . $dia6 . '</th>';
    $html .= '<th style="color:#ca0000; text-align: center">' . $dia5 . '</th>';
    $html .= '<th style="color:#ca0000; text-align: center">' . $dia4 . '</th>';
    $html .= '<th style="color:#ca0000; text-align: center">' . $dia3 . '</th>';
    $html .= '<th style="color:#ca0000; text-align: center">' . $dia2 . '</th>';
    $html .= '<th style="color:#ca0000; text-align: center">' . $dia1 . '</th>';
    $html .= '<th style="color:#ca0000; text-align: center">-</th>';
    $html .= '<th style="color:#ca0000; text-align: center">-</th>';
    $html .= '</tr>';
    $html .= '<tr style="background-color:#cecfd5">';
    $html .= '<th colspan="5" style="text-align: right">TOTAL FREE PASS - Regra</th>';
    $html .= '<th style="color:#ca0000; text-align: center">' . $tFP6 . '</th>';
    $html .= '<th style="color:#ca0000; text-align: center">' . $tFP5 . '</th>';
    $html .= '<th style="color:#ca0000; text-align: center">' . $tFP4 . '</th>';
    $html .= '<th style="color:#ca0000; text-align: center">' . $tFP3 . '</th>';
    $html .= '<th style="color:#ca0000; text-align: center">' . $tFP2 . '</th>';
    $html .= '<th style="color:#ca0000; text-align: center">' . $tFP1 . '</th>';
    $html .= '<th style="color:#ca0000; text-align: center">-</th>';
    $html .= '<th style="color:#ca0000; text-align: center">-</th>';
    $html .= '</tr>';
    $html .= '<tr style="background-color:#cecfd5">';
    $html .= '<th colspan="5" style="text-align: right">TOTAL GARANTIA DUO - Regra</th>';
    $html .= '<th style="color:#ca0000; text-align: center">' . $tGD6 . '</th>';
    $html .= '<th style="color:#ca0000; text-align: center">' . $tGD5 . '</th>';
    $html .= '<th style="color:#ca0000; text-align: center">' . $tGD4 . '</th>';
    $html .= '<th style="color:#ca0000; text-align: center">' . $tGD3 . '</th>';
    $html .= '<th style="color:#ca0000; text-align: center">' . $tGD2 . '</th>';
    $html .= '<th style="color:#ca0000; text-align: center">' . $tGD1 . '</th>';
    $html .= '<th style="color:#ca0000; text-align: center">-</th>';
    $html .= '<th style="color:#ca0000; text-align: center">-</th>';
//    $html .= '<th style="color:#ca0000; text-align: center">' . ($dia6 + $dia5 + $dia4 + $dia3 + $dia2 + $dia1) . '</th>';
    $html .= '</tr>';
    $html .= '</tfoot>';
    $html .= '</table>';
    $html .= '<caption></caption>';

}
$arquivo = 'relatorio_quantitativo_' . date('d-m-Y').'.'.$this->tipo;
header("Last-Modified: " . gmdate("D,d M YH:i:s") . " GMT");
header("Cache-Control: no-cache, must-revalidate");
header("Pragma: no-cache");
//header('Content-type: ' . $this->tipo . '; charset="utf-8"');
header("Content-Disposition: attachment; filename=\"{$arquivo}\"");
header("Content-Description: PHP Generated Data");

echo $html;
?>
<style type="text/css" media="all">
    /*<style type="text/css" media="print" id="test">*/
    @page {
        margin: 1cm;
        size: 'A4';
    }

    table {
        width: 100%;
    }

    table, td, th {
        border: solid 1px #000;
        border-collapse: collapse;
        text-align: center;
        font-family: "Helvetica Neue", "Arial", sans-serif;
        font-size: 10pt !important;
    }

    td, th {
        padding: 2px;
    }

</style>