<script type="text/javascript" src="/js/backbone/views/Util/SelectView.js"></script>

<script type="text/template" id="folha_layout">
    <div class="well well-large">
        <legend>Filtros</legend>
        <div class="row-fluid">
            <div class="control-group">
                <div class="span12">
                    <div class="span6" id="div-combo-entidade">
                        <label for="id-entidade">Entidade</label>

                        <div id="combo-entidade"></div>
                        <select id="id_entidade" class="span12">
                            <option value="">Selecione</option>
                        </select>
                    </div>
                    <div class="span6" id="div-combo-turma">
                        <label for="id-turma">Turma</label>

                        <div id="combo-turma"></div>
                        <select id="id_turma" class="span12" disabled>
                            <option value="">Selecione</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="control-group">
                <div class="span12">
                    <div class="span6">
                        <div class="span4">
                            <div class="span6" id="div-data-filtro">
                                <label for="dt_filtro">Data Inicial</label>
                                <input id="dt_filtro" value="<?php echo date("d/m/Y")?>" type="text" class="datepicker maskDate"/>
                            </div>
                        </div>
                        <!--                        <div class="span8" id="div-combo-evolucao">-->
                        <!--                            <label for="id-evolucao">Evolução</label>-->
                        <!---->
                        <!--                            <div id="combo-evolucao"></div>-->
                        <!--                            <select id="id_evolucao" class="span12">-->
                        <!--                                <option value="">Selecione</option>-->
                        <!--                            </select>-->
                        <!--                        </div>-->
                    </div>
                    <div class="span6">
                        <label for="id-evolucao"> &nbsp;</label>
                        <div class="pull-right">
                            <button class="btn btn-success" type="button" id="btn_gerar_relatorio">Gerar
                                Relatório
                            </button>
                            <button class="btn btn-success" type="button" id="btn_imprimir_relatorio" disabled>Imprimir Relatório
                            </button>
                            <button class="btn btn-success" type="button" id="btn_gerar_xls" disabled>Gerar XLS
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="tabela-relatorio"></div>
    <div id="container-table"></div>
</script>

<script type="text/template" id="script_tabela_relatorio">
    <div class="well well-large">
        <legend><%=st_areaconhecimento%></legend>
        <div class="row-fluid">
            <div class="control-group span12" style="overflow: auto; height: 100%;">
                <table role="dialog" class="table table-bordered table-striped backgrid">
                    <thead>
                    <tr>
                        <th class="span5">TURMA</th>
                        <th>UNIDADE</th>
                        <th>C/H</th>
                        <th>DATA PREVISTA</th>
                        <th>SITUAÇÃO</th>
                        <!--                        <th>Data</th>-->
                        <th id="data6"><%=dia_6%></th>
                        <th id="data5"><%=dia_5%></th>
                        <th id="data4"><%=dia_4%></th>
                        <th id="data3"><%=dia_3%></th>
                        <th id="data2"><%=dia_2%></th>
                        <th id="data1"><%=dia_1%></th>
                        <th id="data1">Free Pass</th>
                        <th id="data1">Garantia Duo</th>
                        <!--                        <th id="total">Total</th>-->
                    </tr>
                    </thead>
                    <tbody id="tabelaDadosRelatorio"></tbody>
                    <tfoot>
                    <tr>
                        <th colspan="5" style="text-align: right">TOTAL</th>
                        <th id="n6"><%=total6%></th>
                        <th id="n5"><%=total5%></th>
                        <th id="n4"><%=total4%></th>
                        <th id="n3"><%=total3%></th>
                        <th id="n2"><%=total2%></th>
                        <th id="n1"><%=total1%></th>
                        <th>-</th>
                        <th>-</th>
                    </tr>
                    <tr>
                        <th colspan="5" style="text-align: right">TOTAL FREE PASS - Regra</th>
                        <th id="n6"><%=total12%></th>
                        <th id="n5"><%=total11%></th>
                        <th id="n4"><%=total10%></th>
                        <th id="n3"><%=total9%></th>
                        <th id="n2"><%=total8%></th>
                        <th id="n1"><%=total7%></th>
                        <th>-</th>
                        <th>-</th>
                    </tr>
                    <tr>
                        <th colspan="5" style="text-align: right">TOTAL GARANTIA DUO - Regra</th>
                        <th id="n6"><%=total18%></th>
                        <th id="n5"><%=total17%></th>
                        <th id="n4"><%=total16%></th>
                        <th id="n3"><%=total15%></th>
                        <th id="n2"><%=total14%></th>
                        <th id="n1"><%=total13%></th>
                        <th>-</th>
                        <th>-</th>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</script>

<script type="text/template" id="item-relatorioa">
    <td><%= st_turma %></td>
    <td><%= st_nomeentidade %></td>
    <td><%= nu_cargahoraria %></td>
    <td><%= dt_inicio %></td>
    <td><%= st_evolucao %></td>
    <!--    <td><%= dt_atual %></td>-->
    <td><%= nu_dia6 %></td>
    <td><%= nu_dia5 %></td>
    <td><%= nu_dia4 %></td>
    <td><%= nu_dia3 %></td>
    <td><%= nu_dia2 %></td>
    <td><%= nu_dia1 %></td>
    <td><%= free_pass %></td>
    <td><%= garantia_duo %></td>
    <!--    <td><%= totalTurma%></td>-->
</script>

<script type="text/javascript"> $('#htmlContent script[type="text/template"]').appendTo($('#templateHolder'));</script>
<script type="text/javascript" src="<?php echo $this->url() ?>/js"></script>