<?php
//Zend_Debug::dump($this->dadosGrade);
$qtdDiasSemana = count($this->diasSemana);
//Zend_Debug::dump($this->dadosGrade);exit;
//verifica se tem grade horaria
if ($this->dadosGrade):
//percorre as grades
    foreach ($this->dadosGrade as $grade) :

        $dateStart = $dt_iniciograde = $grade['dt_iniciogradehoraria'];
        $dateEnd = $dt_fimgradehoraria = $grade['dt_fimgradehoraria'];

        $dateRange = array();
        while ($dateStart <= $dateEnd) {
            $dateRange[] = $dateStart->format('Y-m-d');
            $dateStart = $dateStart->modify('+1day');
        }

        $qtdDias = count($dateRange);
        $qtdSemanas = $qtdDias ? ceil($qtdDias / $qtdDiasSemana) : 0;
        $stTurma = null;
        foreach ($grade['itens_grade'] as $itemGrade) :
            $stTurma = $itemGrade['st_turma'];
        endforeach;


        ?>

        <table class="table table-bordered">
            <tr>
                <td colspan="7">
                    Curso: <strong><?php echo $this->dadosProjeto->st_tituloexibicao; ?></strong> Turma:
                    <strong><?php echo $stTurma; ?></strong>
                </td>
            </tr>

            <?php
            $indexSemana = 0;
            for ($i = 0;
                 $i < $qtdSemanas;
                 $i++):
                ?>
                <tr>
                    <?php
                    if ($dateRange):
                        $arrColumData = array();
                        foreach ($dateRange as $key => $dataCurrent):
                            if (isset($dateRange[$indexSemana])):
                                $dataCurrent = new Zend_Date($dateRange[$indexSemana], null, 'pt-BR');
                                if ($key <= 6):
                                    $diaSemana = $dataCurrent->toString(Zend_Date::WEEKDAY_8601);
                                    //Percorre os itens da grade
                                    foreach ($grade['itens_grade'] as $itemGrade) :
                                        if ($itemGrade['id_diasemana'] == $diaSemana && $dataCurrent->toString('dd/MM/Y') == $itemGrade['dt_diasemana']->format('d/m/Y')):
                                            $arrColumData[$diaSemana][] = $itemGrade;
                                        endif;
                                    endforeach;

                                    if (!isset($arrColumData[$diaSemana]))
                                        $arrColumData[$diaSemana][] = array();
                                    ?>
                                    <th>
                                        <strong><?php echo ucwords($dataCurrent->toString(Zend_Date::WEEKDAY)); ?></strong>

                                        <p><?php echo $dataCurrent->toString('d/MM/Y'); ?></p>
                                    </th>
                                    <?php
                                    $indexSemana++;
                                    continue;
                                endif;
                            endif;
                        endforeach;
                    endif;
                    ?>
                </tr>
                <tr>
                    <?php
                    foreach ($arrColumData as $colData) :
                        if (is_array($colData)):
                            ?>
                            <td>
                                <?php
                                foreach ($colData as $data) :
                                    if ($data):
                                        echo $data['st_professor'] . ' - ' . $data['st_turno'] . ' - ' . $data['nu_numeroaula'] . '/' . $data['nu_quantidadeaula'];
                                        if ($colData > 1):
                                            echo '<hr>';
                                        endif;
                                    else:
                                        echo 'SEM AULA';
                                    endif;

                                endforeach;
                                ?>
                            </td>
                        <?php
                        endif;
                    endforeach;
                    ?>
                </tr>
            <?php
            endfor;
            ?>
            <tr>
                <td colspan="7">
                    <?php
                    $dt_atualizacao = new DateTime($grade['dt_atualizacao']);
                    ?>
                    Última Atualização: <strong><?php echo $dt_atualizacao->format('d/m/Y'); ?>
                        - <?php echo $dt_atualizacao->format('H:i'); ?></strong>
                </td>
            </tr>
        </table>
    <?php
    endforeach;
else:
    ?>
    <div class="col-md-12 col-sm-12">
        <h1 class="h1-section-title">Nenhuma grade horária encontrada para esse curso :(</h1>
    </div>
<?php
endif;
?>

<style type="text/css">
    td, th {
        text-align: center;
    }

    th {
        background-color: #ccc;
    }

    th {
        font-weight: normal;
    }
</style>
