<div id="container-cartao-recorrente">
    <div class="row-fluid">
        <div class="text-right">
            <button data-urlloja="<?=$this->urlloja?>" id="btn-trocar-recorrente" class="btn btn-warning">
                Trocar cartão recorrente
            </button>
        </div>
        <br>
    </div>
    <div>
        <?php foreach ($this->data as $index =>$item){
            if($item[0]['bl_entrada'] != 1){
                echo "<div ><legend>Atualização do pagamento</legend></div>";
            }else {
                echo "<div ><legend>Pagamento Original</legend></div>";
            }
            ?>
            <table id="table-resumo" class="backgrid table table-bordered table-hover table-striped">
                <thead>
            <tr>
                <th>Lançamento</th>
                <th>Parcela</th>
                <th>ID Assinatura</th>
                <th>Nome do Titular do Cartão</th>
                <th>Últimos Dígitos</th>
                <th>Valor</th>
                <th>Vencimento</th>
                <th>Situação</th>
            </tr>
                <tbody id="resumo-row-container">
            </thead>
            <?php foreach ($item as $key) { ?>
                <td><?=$key['id_lancamento']?></td>
                <td><?=$key['nu_ordem']?></td>
                <td><?=$key['nu_assinatura']?></td>
                <td><?=$key['st_titularcartao']?></td>
                <td><?=$key['st_ultimosdigitos']?></td>
                <td><?=$key['nu_valor']?></td>
                <td><?=$key['dt_vencimento']?></td>
                <td style="color: <?= $key['situacao'] == 'Vencido' ? '#8b0000': ($key['situacao'] == 'Pago'? 'green': null) ?>">
                    <?=$key['situacao']?>
                </td>
                </tbody>
            <?php }?>
        </table>
        <?php }?>
    </div>
</div>