<div id="container-recebimento">
    <div class='row-fluid' >
        <div id='container-pesquisa'>
            <div class='span12 well'>
                <form id='form-pesquisa' class='form'>
                    <legend>Pesquisar</legend>
                    <div class='row-fluid'>

                        <div class='span4'>
                            <label for='st_nomecompleto'>Cliente</label>
                            <input id='st_nomecompleto' class='span12' type='text' value='' name='st_nomecompleto'/>
                        </div>

                        <div class='span2'>
                            <label for='id_venda'>Código da Venda</label>
                            <input id='id_venda' class='input-medium span12' type='text' value='' name='id_venda'/>
                        </div>

                        <div class='span3'>
                            <label for='id_evolucao'>Evolução da Venda</label>
                            <select id='id_evolucao' class='input-medium span12' name='id_evolucao'>
                                <option value=''>Escolha</option>
                            </select>
                        </div>

                        <div class='span3'>
                            <label>&nbsp;</label>
                            <button class='btn btn-primary span5' type='submit' id='btn-search'>
                                <i class='icon icon-search icon-white'></i>
                                Pesquisar
                            </button>
                            <button class='btn span5' type='reset' id='btn-clear'>
                                <i class='icon icon-trash'></i>
                                Limpar
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class='clearfix'></div>
            <div id='container-pesquisa-list'></div>
        </div>
        <div id='container-tabs'></div>
    </div>
</div>
<script type="text/javascript" src="/js/moment-with-langs.min.js"></script>
<script type="text/javascript" src="/js/backbone/models/evolucao.js"></script>
<script type="text/javascript" src="/js/backbone/views/Util/SelectView.js"></script>
<script type="text/javascript" src="/js/backbone/models/vw-cliente-venda.js"></script>
<script type="text/javascript" src="<?php echo $this->baseUrl() ?>/recebimento/js"></script>