<script src="<?php echo $this->baseUrl(); ?>/js/CollectionView.js"></script>
<script type="text/template" id="tipo-material-template-list">
    <td><%= st_tipodematerial %></td>
    <td><%= id_situacao.st_situacao %></td>
    <td style="white-space: nowrap;">
        <a class="btn btn-custom btn-small actionEdit" title="Editar registro">
            <i class="icon icon-white icon-pencil"></i>
            Editar
        </a>
        <a class="btn btn-small actionRemove" title="Remover registro">
            <i class="icon icon-trash"></i>
            Remover
        </a>
    </td>
</script>
<script type="text/template" id="tipo-material-template-edit">
    <td>
        <input class="span4" name="st_tipodematerial" type="text" value="<%= st_tipodematerial %>" placeholder="Nome do tipo de material" required="required"/>
    </td>
    <td>
        <select name="id_situacao[id_situacao]" required="required"></select>
    </td>
    <td style="white-space: nowrap;">
        <a class="btn btn-success btn-small actionSave" title="Salvar alterações">
            <i class="icon icon-white icon-ok"></i>
            Salvar
        </a>
        <a class="btn btn-small actionEdit" title="Cancelar alterações">
            <i class="icon icon-remove"></i>
            Cancelar
        </a>
    </td>
</script>

<script id="tipo-material-template" type="text/template">
    <div class="rowfluid">
        <button class="btn btn-success btn-small actionAdd" type="button">
            <i class="icon-plus icon-white"></i>
            Adicionar Novo
        </button>
        <hr/>
        <table id="tableGrid" class='backgrid backgrid-selectall table table-striped table-bordered table-hover'>
            <thead>
            <tr>
                <th>Tipo de Material</th>
                <th>Situação</th>
                <th style="width: 20px;">Ações</th>
            </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</script>




<div class="well">
    <legend>Tipo de Material</legend>
    <div id="tipo-material-content">
        Carregando...
    </div>
</div>

<script type="text/javascript"> $('#htmlContent script[type="text/template"]').appendTo($('#templateHolder'));</script>
<script type="text/javascript" src="<?php echo $this->url()?>/js"></script>