<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<style>
    .bb{
        border-bottom: 1px solid #000;
    }
    .bt{
        border-top: 1px solid #000;
    }
    .bg{
        border-bottom: 1px solid #000;
        border-top: 1px solid #000;
    }
</style>

<table style="width: 100%;" class="table">
    <thead>
    <tr>
        <th colspan="5" style="text-align: center">LOG DO ALUNO: <?= $this->dados_aluno['aluno']; ?></th>
    </tr>
    <tr>
        <th colspan="5" style="text-align: center">CPF: <?= $this->dados_aluno['cpf'] ?></th>
    </tr>
    <tr>
        <th colspan="5" style="text-align: center">EMAIL: <?= $this->dados_aluno['email'] ?></th>
    </tr>
    <tr>
        <th colspan="5" style="text-align: center"><?= strtoupper($this->dados_aluno['entidade']); ?></th>
    </tr>
    <tr>
        <th colspan="5" style="text-align: center">CURSO: <?= $this->dados_aluno['curso'] ?></th>
    </tr>

    <tr class="bg">
        <th style="text-align: left">Sala de Aula</th>
        <th>ID Funcionalidade</th>
        <th style="text-align: left">Funcionalidade</th>
        <th>Perfil</th>
        <th>Data da Ação</th>
    </tr>
    </thead>

    <tbody>
    <?php
    foreach ($this->result as $dados) {
        echo '
    <tr class="bb">
    <td >' . $dados['st_saladeaula'] . '</td>
    <td align="center">' . $dados['id_funcionalidade'] . '</td>
    <td style="text-align: left">' . $dados['st_funcionalidade'] . '</td>
    <td align="center">' . $dados['st_nomeperfil'] . '</td>
    <td style="text-align: center">' . date('d-m-Y H:i:s', strtotime($dados['dt_cadastro'])) . '</td>
    </tr>
';
    }
    ?>
    </tbody>

</table>

<?php


$arquivo = 'Relatorio Log-' . $this->dados_aluno['aluno'] . '.xls';
header("Last-Modified: " . gmdate("D,d M YH:i:s") . " GMT");
header("Cache-Control: no-cache, must-revalidate");
header("Pragma: no-cache");
header("Content-Disposition: attachment; filename=\"{$arquivo}\"");
header("Content-Description: PHP Generated Data");
header("Content-type: application/x-msexcel");
?>