<link rel="stylesheet" type="text/css" href="<?php echo $this->baseUrl(); ?>/css/auto-complete-pessoa.css"/>
<script type="text/javascript" src="<?php echo $this->baseUrl(); ?>/js/auto-complete-componente.js"></script>
<?php echo $this->render('/util/auto-complete-pessoa.phtml'); ?>
<div id="autoComplete" class="row-fluid"></div>

<!--<script type="text/template" id="template-relatorio-log-aluno">-->
<div class="row-fluid hide" id='container-filtros'>

    <div class="row-fluid well well-small span12">
        <div class="span4" id="">
            <label for="select-matricula"><b>Matrícula</b></label>
            <select id="select-matricula" class="form-control span12">
                <option value="none">Selecione a matrícula</option>
            </select>
        </div>
        <div class="span8 hide" id="container-sala">
            <div class="span7">
                <label for="select-sala"><b>Sala</b></label>
                <select id="select-sala" class="form-control span12 ">
                    <option value="">Todas</option>
                </select>
            </div>
            <div class="span3 field-item-div">
                <label for="periodo"><b>Período</b></label>
                <input type="text" class="datepicker maskDate form-control" id="dt_inicial">
                <input type="text" class="datepicker maskDate form-control" id="dt_final">
            </div>

            <div class="span2">
                <label for="btnBuscarLogs">&nbsp;</label>
                <button class="btn btn-custom" id="btnBuscarLogs">Pesquisar</button>
            </div>
        </div>
    </div>

</div>

<div class="row-fluid hide" id='container-resultado'>

    <div class="row-fluid well well-small span12">
        <div class="row-fluid"  style="margin-bottom:10px">
            <div class="span12">
                <fieldset id="filter_default-element " class="">
                    <a id="botaoImpressaoXLS" class="btn pull-right " title="Gerar XLS"><i class="icon-file"> </i>Gerar XLS
                    </a>
                </fieldset>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span12">
                <table id="table_logs" class="backgrid table table-striped table-bordered table-hover">
                </table>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $('#htmlContent script[type="text/template"]').appendTo($('#templateHolder'));
    <? echo $this->render('relatorio-log-aluno/index.js')?>
</script>