<script type="text/template" id="turma">
    <form class="form" role="form" action="" method="post" id="form-turma" name="form-turma"
          xmlns="http://www.w3.org/1999/html" onsubmit="return false">
        <div class="well well-large">
            <legend>Dados Gerais</legend>
            <div class="row-fluid">
                <div class="control-group">
                    <div class="span6">
                        <label>Título</label>
                        <input id="inputTitulo" type="text" autocomplete="off" required class="span12"
                               value="<%=st_turma%>">
                    </div>

                    <div class="span3">
                        <label for="st_codigo">Código: </label>
                        <input id="st_codigo" type="text" maxlength="20" class="span12" <%=(st_codigo ?
                        'readonly="readonly"' : '' )%>
                        value="<%=st_codigo%>"/>
                    </div>

                    <div class="span3">
                        <label for="selectSituacao">Situação: </label>
                        <select class="span12 combobox" name="category" id="selectSituacao">
                            <option value="0"
                            <%=(id_situacao == 83 ? "selected": "")%>>ATIVA</option>
                            <option value="1"
                            <%=(id_situacao == 84 ? "selected": "")%>>INATIVA</option>
                        </select>
                    </div>
                </div>
                <div class="control-group">
                    <div class="span6">
                        <label>Título de Exibição</label>
                        <input id="inputTituloExibicao" autocomplete="off" required type="text" class="span12"
                               value="<%=st_tituloexibicao%>"/>
                    </div>
                    <div class="span3">
                        <label for="maxAlunos">Max. Alunos: </label>
                        <input id="maxAlunos" type="number" min="1" max="9999" class="span12"
                               value="<%=nu_maxalunos%>"/>
                    </div>
                </div>
                <div class="span3">
                    <label for="selectTurno">Turno: </label>
                    <select class="span12 combobox" name="turno" id="selectTurno">
                        <option value="0">SELECIONE</option>
                        <option value="1"
                        <%=(id_turno == 1 ? "selected": "")%>>MATUTINO</option>
                        <option value="2"
                        <%=(id_turno == 2 ? "selected": "")%>>VESPERTINO</option>
                        <option value="3"
                        <%=(id_turno == 3 ? "selected": "")%>>NOTURNO</option>
                        <option value="4"
                        <%=(id_turno == 4 ? "selected": "")%>>INTEGRAL</option>
                    </select>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span12">
                    <div class="span2">
                        <label>Max. de Alunos FreePass </label>
                        <input id="maxFreePass" type="number" min="0" max="20" disabled value="<%=nu_maxfreepass%>" class="span4">
                    </div>
                    <div class="span2">
                        <label for="">Saldo Disponível FreePass</label>
                        <input type="text" disabled id="saldoFreePass" class="span12" value="<%=saldoFreePass%>">
                    </div>
                </div>
            </div>
        </div>
        <div class="well well-large">
            <legend>Horário de Aula</legend>
            <div id="coisa"></div>
        </div>
        <div class="well well-large">
            <legend>Datas</legend>
            <div class="row-fluid">
                <div class="span12">
                    <div class="span9">
                        <div class="span3 control-group" id="inicioIscricao">
                            <label for="dataInicioInscricao">Início da Inscrição</label>
                            <input type="text" class="datepicker maskDate" required id="dataInicioInscricao"
                                   value="<%=dt_inicioinscricao%>"/>
                        </div>
                        <div class="span3 control-group" id="fimInscricao">
                            <label for="dataFimInscricao">Fim da Inscrição</label>
                            <input type="text" class="datepicker maskDate" id="dataFimInscricao"
                                   value="<%=dt_fiminscricao%>"/>
                        </div>
                        <div class="span3 control-group" id="aberturaInscricao">
                            <label for="dataAbertura">Abertura</label>
                            <input type="text" class="datepicker maskDate" required id="dataAbertura" value="<%=dt_inicio%>"/>
                        </div>
                        <div class="span3 control-group" id="encerramentoInscricao">
                            <label for="dataEncerramento">Encerramento</label>
                            <input type="text" class="datepicker maskDate" id="dataEncerramento" value="<%=dt_fim%>"/>
                        </div>
                    </div>
                    <div class="span3">
                        <label>Evolução: </label>
                        <select id="combo_evolucao" name="combo_evolucao">
                            <option value="" selected disabled>Selecione</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="well well-large">
            <fieldset>
                <legend>Organizações</legend>
                <div id="todasEntidades">
                    <input type="checkbox" value="" id="bl_todasentidades" name="bl_todasentidades"/>&nbsp;<span>Todas as entidades</span>
                </div>
                </br>
                <div id="entidades"></div>
            </fieldset>
        </div>
        <div class="well well-large">
            <legend>Projeto Pedagógico</legend>
            <div class="row-fluid">
                <div id="projeto-pedagogico-view"></div>
                <div class="row-fluid">

                    <!--                    <div class="control-group span6" style="overflow: auto; height: 200px;">-->
                    <!--                        <table role="dialog" class="pesquisa-projetos table table-bordered table-striped backgrid">-->
                    <!--                            <thead>-->
                    <!--                            <tr>-->
                    <!--                                <th>Projeto</th>-->
                    <!--                                <th>Adicionar</th>-->
                    <!--                            </tr>-->
                    <!--                            </thead>-->
                    <!--                            <tbody id="tabelaProjetoPedagogico">-->
                    <!---->
                    <!--                            </tbody>-->
                    <!--                        </table>-->
                    <!--                    </div>-->
                    <!--                    <div class="control-group span6" style="overflow: auto; height: 200px;">-->
                    <!--                        <table role="dialog" class="projetos-add table table-bordered table-striped backgrid">-->
                    <!--                            <thead>-->
                    <!--                            <tr>-->
                    <!--                                <th class="span1">Remover</th>-->
                    <!--                                <th>Projetos Selecionados</th>-->
                    <!--                            </tr>-->
                    <!--                            </thead>-->
                    <!--                            <tbody id="tabelaProjetosSelecionados">-->
                    <!---->
                    <!--                            </tbody>-->
                    <!--                        </table>-->
                    <!--                    </div>-->
                </div>
            </div>
            <hr/>
            <div class="well">
                <div class="row-fluid">
                    <div class="control-group span12">
                        <div class="pull-right">
                            <button type="button" class="btn btn-danger" id="btn-finalizar"><i
                                    class="icon icon-exclamation-sign icon-white"></i> Finalizar Turma
                            </button>
                            <button type="button" id="btn-modal-carteirinha" disabled class="btn btn-custom ">
                                <i class="icon icon-print icon-white"></i> Carteirinhas
                            </button>
                            <button type="submit" class="btn btn-primary" id="btn-salvar">
                                <i class="icon icon-ok icon-white"></i> Salvar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div id="container-modal"></div>
</script>


<script type="text/template" id="item-projetos">
    <td><%=st_projetopedagogico%></td>
    <td><a class="btn btn-success pull-right" id="btn-add"><i class="icon  icon-arrow-right icon-white"></i></a></td>,
</script>

<script type="text/template" id="item-selecionados">
    <td><a class="btn btn-danger pull-left" id="btn-remove"><i class="icon  icon-arrow-left icon-white"></i></a></td>,
    <td><%=st_projetopedagogico%></td>
</script>

<script type="text/template" id="no-horario">
    <td colspan='6'>
        <div class="alert alert-info">Nenhum horario cadastrado para esta entidade!</div>
    </td>
</script>

<script type="text/javascript">
    <?php if ($this->turma): ?>
    G2S.editModel = <?php echo $this->turma; ?>;
    <?php else: ?>
    G2S.editModel = null;
    <?php endif; ?>
</script>

<script type="text/template" id="tabelaHorario">
    <table class="table table-striped">
        <thead>
        <tr>
            <th></th>
            <th>Horario</th>
            <th>Entrada</th>
            <th>Saída</th>
            <th>Turno</th>
            <th>Dias</th>
        </tr>
        </thead>
        <tbody></tbody>
    </table>
</script>


<script type="text/template" id="item-horario">
    <td><input type="checkbox" value="" <%=(ck_selectedHorario == true ? "checked":"")%> id="ck_selectedHorario"
        name="ck_selectedHorario" />
    </td>
    <td><%=st_horarioaula%></td>
    <td><%=hr_inicio%></td>
    <td><%=hr_fim%></td>
    <td><%=st_turno%></td>
    <td><%=dias%></td>
</script>


<script type="text/template" id="template-modal-carteirinha">
    <div id="modal-carteirinhas" class="modal hide fade">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3>Imprimir Carteirinhas</h3>
        </div>
        <div class="modal-body">
            <table class="table table-striped table-bordered table-hover backgrid backgrid-selectall">
                <thead>
                <tr>
                    <th><!--input type="checkbox" title="Selecionar Todos" value="1" name="checkall"--></th>
                    <th>ID</th>
                    <th class="span4">Nome</th>
                    <th class="span2">Identificação</th>
                </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn" data-dismiss="modal" aria-hidden="true">Cancelar</button>
            <button type="button" id="btn-imprimir" class="btn btn-primary">Imprimir</button>
            <button type="button" id="btn-salvar-carteirinhas" disabled class="btn btn-success">Salvar</button>
        </div>
    </div>
</script>

<script type="text/template" id="template-item-carteirinha">
    <td>
        <input type="checkbox" checked name="bl_print"/>
    </td>
    <td><%=id_usuario%></td>
    <td><%=st_nomecompleto%></td>
    <td>
        <div class="input-append">
            <input class="span2" maxlength="12" name="st_identificacao" value="<%=st_identificacao%>"
                   placeholder="Código Identificação" type="text">
            <!--            <button class="btn btn-success" type="button"><i class="icon icon-ok"></i></button>-->
        </div>
    </td>
</script>

<script type="text/template" id="template-itemcarteirinha-empty">
    <td colspan="4">
        <div class="alert">
            <p>Sem resultado para exibição.</p>
        </div>
    </td>
</script>

<script type="text/javascript"> $('#htmlContent script[type="text/template"]').appendTo($('#templateHolder'));</script>
<script type="text/javascript" src="/turma/js"></script>
