<div class="info-box <?php echo $this->mensagemRetorno['cssClass']; ?>">
    <i class="<?php echo $this->mensagemRetorno['icon']; ?>"></i>
    <div class="msg">
        <?php echo $this->mensagemRetorno['message']; ?>
    </div>
    <a href="javascript:void(0)" class="info-box-remove"><i class="icon-remove"></i></a>
</div>