<?php
/**
 * Created by PhpStorm.
 * User: Alex Alexandre <alex.alexandre@unyleya.com.br>
 * Date: 18/12/17
 * Time: 09:39
 */
?>

<?php if (isset($this->mensagemRetorno)) : ?>
    <div class="info-box <?php echo $this->mensagemRetorno['cssClass']; ?>">
        <i class="<?php echo $this->mensagemRetorno['icon']; ?>"></i>
        <div class="msg">
            <?php echo $this->mensagemRetorno['message']; ?>
        </div>
        <a href="javascript:void(0)" class="info-box-remove"><i class="icon-remove"></i></a>
    </div>
<?php endif; ?>
