<?php
/*
 * Template para exibição de uma linha de resultados.
 * Este template será renderizado para cada item no objeto JSON que o módulo
 * API responder no método index.
 */
?>
<script type="text/template" id="projeto-contrato-duracao-tipo-template-list">
    <tr>
        <td><%= st_projetocontratoduracaotipo %> </td>
        <td width="200">
                <a href="javascript:" class="edit-link btn btn-mini btn-custom">Editar</a>
        </td>
    </tr>
</script>

<?php
/*
 * Template para exibição de uma linha de resultados em modo de edição
 */
?>
<script type="text/template" id="projeto-contrato-duracao-tipo-template-edit"> 
    <tr>
     <form>
        <td><input name="st_projetocontratoduracaotipo" value="<%= st_projetocontratoduracaotipo %>"/></td>
        <td width="200">
                <a href="javascript:" class="delete-link btn btn-mini btn-danger">Deletar</a>
                <a href="javascript:" class="save-link btn btn-mini btn-success">Salvar</a>
                <a href="javascript:" class="cancel-link btn btn-mini">Cancelar</a>
        </td>
     </form>
    </tr>
</script>

<?php
/*
 * Este é o template padrão da página. É a estrutura principal que será populada
 * pelo backbone usando os templates acima.
 */
?>
<a href="javascript:novoProjetoContratoDuracaoTipo()" class="btn btn-success btn-small" ><i class="icon-plus-sign icon-white"></i> Adicionar novo Tipo</a>
<table class='backgrid backgrid-selectall table table-striped table-bordered table-hover'>
    <thead>
        <tr>
            <th>Regra</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody id="tabela-projeto-contrato-duracao-tipo"> 
        <!-- Local onde vamos inserir todo o conteúdo vindo da API -->
        <!-- usando os templates acima -->
    </tbody>
</table>
<div id='projeto-contrato-duracao-tipo-form'></div>

