<script type="text/template" id="gestOcorrTemplate">

    <div id="pesquisaGestOcorr">
        <form role="form" action="#" method="post" name="formPesquisaGestOcorr">
            <div class="well">
                <legend>Pesquisar</legend>

        <!--        1ª Linha-->

                <div class="row-fluid">
                    <div class="span4">
                        <label>Núcleo</label>
                        <select id="id_nucleoco" class="span12" name="id_nucleoco" required></select>
                    </div>
                </div>

        <!--        2ª Linha-->

                <div class="row-fluid">
                    <div class="span6">
                        <label>Nome</label>
                        <input id="st_nomeinteressado" class="span12" type="text" name="search[st_nomeinteressado]">
                    </div>

                    <div class="span6">
                        <label>E-mail</label>
                        <input id="st_email" class="span12" type="email" name="search[st_email]">
                    </div>
                </div>

        <!--            Linha 3-->

                <div class="row-fluid">

                    <div class="span3">
                        <label>Código (ID da Ocorrência)</label>
                        <input id="id_ocorrencia" class="span12" type="number" min="0" name="id_ocorrencia">
                    </div>

                    <div class="span3">
                        <label>Atendente</label>
                        <select id="id_usuarioresponsavel" class="span12" type="text" name="id_usuarioresponsavel"></select>
                    </div>

                    <div class="span3">
                        <label>Assunto</label>
                        <select id="id_assuntoco" class="span12" name="id_assuntoco"></select>
                    </div>

                    <div class="span3">
                        <label>Subassunto</label>
                        <select id="id_subassunto" class="span12" name="id_subassunto"></select>
                    </div>

                </div>

        <!--            Linha 4-->

                <div class="row-fluid">
                    <div class="span2">
                        <label>Criada entre:</label>
                        <input id="dt_inicio" class="span10 dateg datepicker maskDate" type="text" name="dt_inicio" placeholder="__/__/____" required>
                        <div class="span1 pull-right">e</div>
                    </div>

                    <div class="span2">
<!--                        Classe hidden phone no label evita que o layout seja quebrado ao redimensionar a tela.-->
                        <label class="hidden-phone"> </label>
                        <input id="dt_fim" class="span10 dateg datepicker maskDate" type="text" name="dt_fim" placeholder="__/__/____" required>
                    </div>

                    <div class="span3">
                        <label for="hr_inicio">Horário de Criação</label>
                        <div class="row-fluid">
                            <label class="span6">
                                <span class="btn pull-right"><i class="icon-time"></i></span>
                                <div style="margin-right: 40px">
                                    <input id="hr_inicio" class="span12 timepicker" type="text" name="hr_inicio" placeholder="  :  " required/>
                                </div>
                            </label>

                            <label class="span6">
                                <span class="btn pull-right"><i class="icon-time"></i></span>
                                <div style="margin-right: 40px">
                                    <input id="hr_fim" class="span12 timepicker" type="text" name="hr_fim" placeholder="  :  " required/>
                                </div>
                            </label>
                        </div>
                    </div>

                    <div class="span2">
                        <label>Evolução</label>
                        <select id="id_evolucao" class="span12" name="id_evolucao"></select>
                    </div>

                    <div class="span3">
                        <label>Situação</label>
                        <select id="id_situacao" class="span12" name="id_situacao"></select>
                    </div>
                </div>

                <!--                Última linha: botões / pesquisa -->

                <div class="row-fluid">
                    <div class="text-right">
                            <button type="button" id="xlsSintetico" class="btn" disabled>XLS Sintético</button>
                            <button type="button" id="xlsAnalitico" class="btn" disabled>XLS Analítico</button>
                            <button type="submit" class="btn btn-custom"><i class="icon-search icon-white"></i> Pesquisar</button>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <!--    CSS necessário para a exibição do pop-up do Bootstrap Timepicker-->
    <style>
        .bootstrap-timepicker{position:relative}.bootstrap-timepicker.pull-right .bootstrap-timepicker-widget.dropdown-menu{left:auto;right:0}.bootstrap-timepicker.pull-right .bootstrap-timepicker-widget.dropdown-menu:before{left:auto;right:12px}.bootstrap-timepicker.pull-right .bootstrap-timepicker-widget.dropdown-menu:after{left:auto;right:13px}.bootstrap-timepicker .add-on{cursor:pointer}.bootstrap-timepicker .add-on i{display:inline-block;width:16px;height:16px}.bootstrap-timepicker-widget.dropdown-menu{padding:2px 3px 2px 2px}.bootstrap-timepicker-widget.dropdown-menu.open{display:inline-block}.bootstrap-timepicker-widget.dropdown-menu:before{border-bottom:7px solid rgba(0,0,0,0.2);border-left:7px solid transparent;border-right:7px solid transparent;content:"";display:inline-block;left:9px;position:absolute;top:-7px}.bootstrap-timepicker-widget.dropdown-menu:after{border-bottom:6px solid #fff;border-left:6px solid transparent;border-right:6px solid transparent;content:"";display:inline-block;left:10px;position:absolute;top:-6px}.bootstrap-timepicker-widget.timepicker-orient-left:before{left:6px}.bootstrap-timepicker-widget.timepicker-orient-left:after{left:7px}.bootstrap-timepicker-widget.timepicker-orient-right:before{right:6px}.bootstrap-timepicker-widget.timepicker-orient-right:after{right:7px}.bootstrap-timepicker-widget.timepicker-orient-top:before{top:-7px}.bootstrap-timepicker-widget.timepicker-orient-top:after{top:-6px}.bootstrap-timepicker-widget.timepicker-orient-bottom:before{bottom:-7px;border-bottom:0;border-top:7px solid #999}.bootstrap-timepicker-widget.timepicker-orient-bottom:after{bottom:-6px;border-bottom:0;border-top:6px solid #fff}.bootstrap-timepicker-widget a.btn,.bootstrap-timepicker-widget input{border-radius:4px}.bootstrap-timepicker-widget table{width:100%;margin:0}.bootstrap-timepicker-widget table td{text-align:center;height:30px;margin:0;padding:2px}.bootstrap-timepicker-widget table td:not(.separator){min-width:30px}.bootstrap-timepicker-widget table td span{width:100%}.bootstrap-timepicker-widget table td a{border:1px transparent solid;width:100%;display:inline-block;margin:0;padding:8px 0;outline:0;color:#333}.bootstrap-timepicker-widget table td a:hover{text-decoration:none;background-color:#eee;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;border-color:#ddd}.bootstrap-timepicker-widget table td a i{margin-top:2px;font-size:18px}.bootstrap-timepicker-widget table td input{width:25px;margin:0;text-align:center}.bootstrap-timepicker-widget .modal-content{padding:4px}@media(min-width:767px){.bootstrap-timepicker-widget.modal{width:200px;margin-left:-100px}}@media(max-width:767px){.bootstrap-timepicker{width:100%}.bootstrap-timepicker .dropdown-menu{width:100%}}
    </style>

</script>

<script type="text/javascript" src="<? $this->baseUrl() ?>/gestao-de-ocorrencias/js"></script>

