<link rel="stylesheet" href="<?php echo $this->baseUrl(); ?>/css/robo/enviomensagem.css" type="text/css" media="screen, projection,print"/>
<div class="corpo">
	<div class="cabecalho">
	<h1 class="titulo">MOODLE: Alteração de papel do aluno no ambiente</h1>
	<?php if($this->mensagem->getTipo() == Ead1_IMensageiro::AVISO || $this->mensagem->getTipo() == Ead1_IMensageiro::ERRO):?>
		<h2 class="titulo">
			<?php echo $this->mensagem->getFirstMensagem(); ?>
		</h2>
	<?php else:?>
		</div>
		<div class="container">
			<table class="tabelas" border="1px solid black;">
				<thead>
					<tr>
						<th class="colTH">ID Entidade</th>
						<th class="colTH">ID Usuário</th>
						<th class="colTH">ID Alocação</th>
						<th class="colTH">ID Matrícula</th>
						<th class="colTH">Cód. Sistema Curso</th>
						<th class="colTH">NU Perfil Aluno Encerrado</th>
					</tr>
				</thead>
				<tbody>
					<?php foreach ($this->mensagem->getMensagem() as $result):?>
						<tr>
							<td><?php echo $result->getId_entidade();?></td>
							<td><?php echo $result->getId_usuario();?></td>
							<td><?php echo $result->getId_alocacao();?></td>
							<td><?php echo $result->getId_matricula();?></td>
							<td><?php echo $result->getSt_codsistemacurso();?></td>
							<td><?php echo $result->getNu_perfilalunoencerrado();?></td>
						</tr>
					<?php endforeach;?>
					<tr>
						<td class="colTH">Total de alunos alterados:</td>
						<td class="colTH total"><?php echo count($this->mensagem->getMensagem());?></td>
					</tr>
				</tbody>
			</table>
		</div>
	<?php endif;?>
</div>