<link rel="stylesheet" href="<?php echo $this->baseUrl(); ?>/css/robo/enviomensagem.css" type="text/css" media="screen, projection,print"/>
<div class="corpo">
    <div class="cabecalho">
        <h1 class="titulo">MOODLE: Alteração de visibilidades de salas</h1>
        <?php if($this->mensagem->getTipo() == Ead1_IMensageiro::AVISO || $this->mensagem->getTipo() == Ead1_IMensageiro::ERRO):?>
            <h2 class="titulo">
                <?php echo $this->mensagem->getFirstMensagem(); ?>
            </h2>

        <?php else:?>
    </div>
    <div class="container">
        <table class="tabelas" border="1px solid black;">
            <thead>
            <tr>
                <th class="colTH">ID Sala</th>
                <th class="colTH">Sala de Aula</th>
                <th class="colTH">Data de Abertura</th>
                <th class="colTH">ID Sala Integração</th>
                <th class="colTH">Id_sistema</th>
                <th class="colTH">Id_entidade</th>
            </tr>
            </thead>
            <tbody>
            <?php foreach ($this->mensagem->getMensagem() as $result):?>
                <tr>
                    <td><?php echo $result->getId_saladeaula();?></td>
                    <td><?php echo $result->getSt_saladeaula();?></td>
                    <td><?php echo $result->getDt_abertura();?></td>
                    <td><?php echo $result->getId_saladeaulaintegracao();?></td>
                    <td><?php echo $result->getId_sistema();?></td>
                    <td><?php echo $result->getId_entidade();?></td>
                </tr>
            <?php endforeach;?>
            <tr>
                <td class="colTH">Total de salas alteradas:</td>
                <td class="colTH total"><?php echo count($this->mensagem->getMensagem());?></td>
            </tr>
            </tbody>
        </table>
    </div>
    <?php endif;?>
</div>