<link rel="stylesheet" type="text/css" href="<?php echo $this->baseUrl(); ?>/css/bootstrap.min.css"/>
<link rel="stylesheet" type="text/css" href="<?php echo $this->baseUrl(); ?>/css/style.css"/>
<link rel="stylesheet" type="text/css" href="<?php echo $this->baseUrl(); ?>/css/backbone/backgrid.css"/>
<link rel="stylesheet" type="text/css" href="<?php echo $this->baseUrl(); ?>/css/backbone/backgrid-paginator.css"/>
<link rel="stylesheet" type="text/css" href="<?php echo $this->baseUrl(); ?>/css/backbone/backgrid-filter.css"/>

<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.8/vue.js"></script>
<script src="<?php echo $this->baseUrl(); ?>/bower_components/jquery/dist/jquery.js"></script>
<script src="<?php echo $this->baseUrl(); ?>/bower_components/bootstrap/docs/assets/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.8/jquery.mask.min.js"></script>

<style>
    input[type="text"] {
        height: 30px
    }
</style>

<div id="app">
    <div >
        <div class="container-fluid well">
            <accounts :reload="reload" :set="setReload"> </accounts>
        </div>

        <div class="container-fluid well form-group">
            <fieldset>
                <legend>Account Bank</legend>
                <div class="row-fluid ">
                    <div class="span3">
                        <label>
                            <b>Banco:</b>
                            <p>
                                <select v-model="bank_code" class="form-control">
                                    <option v-for="banco in bancos" :value="banco.id" v-text="banco.nome"></option>
                                </select>
                            </p>
                        </label>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span3">
                        <label>
                            <b>Entidade:</b>
                            <p>
                                <input type="text" v-model="legal_name" class="form-control">
                            </p>
                        </label>
                    </div>
                    <div class="span3">
                        <label>
                            <b>CNPJ:</b>
                            <p>
                                <input type="text" v-model="document_number" class="form-control" data-mask="00.000.000/0000-00">
                            </p>
                        </label>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span3">
                        <label>
                            <b>Agência:</b>
                            <p>
                                <input type="text" v-model="agencia" class="form-control">
                            </p>
                        </label>
                    </div>
                    <div class="span3">
                        <label>
                            <b>Agência - DV:</b>
                            <p>
                                <input type="text" v-model="agencia_dv" class="form-control">
                            </p>
                        </label>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span3">
                        <label>
                            <b>Conta:</b>
                            <p>
                                <input type="text" v-model="conta" class="form-control">
                            </p>
                        </label>
                    </div>
                    <div class="span3">
                        <label>
                            <b>Conta - DV:</b>
                            <p>
                                <input type="text" v-model="conta_dv" class="form-control">
                            </p>
                        </label>
                    </div>
                </div>
                <div class="row-fluid">
                    <button class="btn btn-primary small" @click="createAccountBank">Criar</button>
                </div>
            </fieldset>
        </div>
    </div>
</div>

<template id="accounts-bank">
    <div>
        <fieldset>
            <legend>Accounts Bank - Created </legend>
            <table class="backgrid backgrid-selectall table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Banco</th>
                        <th>Agência</th>
                        <th>Agência DV</th>
                        <th>Conta</th>
                        <th>Conta DV</th>
                        <th>Tipo conta</th>
                        <th>Entidade</th>
                        <th>CNPJ</th>
                        <th>Data cadastro</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="account in accounts">
                        <td>{{ account.id }}</td>
                        <td>{{ account.bank_account.bank_code }}</td>
                        <td>{{ account.bank_account.agencia }}</td>
                        <td>{{ account.bank_account.agencia_dv }}</td>
                        <td>{{ account.bank_account.conta }}</td>
                        <td>{{ account.bank_account.conta_dv }}</td>
                        <td>{{ account.bank_account.type }}</td>
                        <td>{{ account.bank_account.legal_name }}</td>
                        <td>{{ account.bank_account.document_number }}</td>
                        <td>{{ account.bank_account.date_created }}</td>
                    </tr>
                </tbody>
        </fieldset>

    </div>
</template>

<script>

    Vue.component('accounts', {
        template: '#accounts-bank',
        props: ['reload', 'set'],
        data() {
           return {
               accounts: [],
           }
        },
        methods: {
            allAccounts() {
                let vm = this;
                $.ajax({
                    url: '/default/Robo/all-accounts',
                    type: 'post',
                    dataType: 'json',
                    data: { id_entidade: 14 },
                    success: function (response) {
                        vm.accounts = response;
                    }
                });
            }
        },
        mounted() {
            this.allAccounts();
        },
        watch: {
            reload(value, oldValue) {
                if(value)
                    this.allAccounts();

                this.set();
            }
        }
    });

    new Vue({
        el: '#app',
        data() {
            return {
                bank_code: '341',
                id_entidade: 14,
                agencia: '',
                agencia_dv: '',
                conta: '',
                conta_dv: '',
                document_number: '',
                legal_name: '',
                type: 'conta_corrente',
                reload: true

            }
        },
        mounted() {
            $('.cnpj').mask('00.000.000/0000-00', {reverse: true});
            this.reload = false;
        },
        computed: {
            bancos() {
                return [
                    { id: '', nome: 'Selecione'},
                    { id: '001', nome: 'Banco do Brasil S.A.'},
                    { id: '341', nome: 'Banco Itaú S.A.'},
                    { id: '033', nome: 'Banco Santander (Brasil) S.A.'},
                    { id: '356', nome: 'Banco Real S.A. (antigo)'},
                    { id: '652', nome: 'Itaú Unibanco Holding S.A.'},
                    { id: '237', nome: 'Banco Bradesco S.A.'},
                    { id: '745', nome: 'Banco Citibank S.A.'},
                    { id: '399', nome: 'HSBC Bank Brasil S.A. – Banco Múltiplo'},
                    { id: '104', nome: 'Caixa Econômica Federal'},
                    { id: '389', nome: 'Banco Mercantil do Brasil S.A.'},
                    { id: '422', nome: 'Banco Rural S.A.'},
                    { id: '453', nome: 'Banco Safra S.A.'},
                    { id: '633', nome: 'Banco Rendimento S.A.'},
                ];
            }
        },
        methods: {
            createAccountBank() {
                let vm = this;
                let params = this._data;

                if(this.bank_code == '') {
                    alert('Selecione um banco');
                    return;
                }
                if(this.agencia == '') {
                    alert('Informe uma agência');
                    return;
                }
                if(this.conta == '') {
                    alert('Informe uma conta');
                    return;
                }
                if(this.document_number == '') {
                    alert('Informe o CNPJ');
                    return;
                }
                if(this.legal_name == '') {
                    alert('Informe o nome fantasia');
                    return;
                }

                $.ajax({
                    url: '/default/Robo/create-account',
                    type: 'post',
                    dataType: 'json',
                    data: this._data,
                    success: function (response) {
                        console.log(response);
                        alert(response.retorno);
                        vm.reload = true;
                    }
                });
            },
            setReload() {
                this.reload = false;
            }
        }
    });
</script>

