<?php if(empty($this->metodos)):?>
	<?php echo "Os Métodos Fornecidos Pela URL estão Vazios. Informe os Métodos ou não os Passe para disparar os Métodos Padrão.";?>
	<?php exit;?>
<?php endif;?>
<fieldset id="cron-topo">
	<legend>Navegação do CRON</legend>
	<?php foreach ($this->metodos as $index => $metodo):?>
		<a href="<?php echo "#".$metodo;?>"> <?php echo strtoupper($metodo);?></a>&nbsp;&nbsp;
	<?php endforeach;?>
</fieldset>
<BR/>
<?php foreach ($this->metodos as $index => $metodo):?>
	<fieldset id="<?php echo strtoupper($metodo)?>">
		<legend><?php echo $metodo;?></legend>
		<?php if(!in_array($metodo.'Action', $this->actions)):?>
			<?php echo "O Método ".$metodo." Não se Encontra na RoboController.php.";?>
			<?php continue;?>
		<?php endif;?>
		<?php echo $this->action($metodo, "robo","default");?>
	</fieldset>
	<?php echo "<BR/>";?>
<?php endforeach;?>
<BR/>
<fieldset>
	<legend>Navegação do CRON</legend>
	<a href="#cron-topo"> Topo </a> &nbsp;&nbsp;
	<?php foreach ($this->metodos as $index => $metodo):?>
		<a href="<?php echo "#".$metodo;?>"> <?php echo strtoupper($metodo);?></a>&nbsp;&nbsp;
	<?php endforeach;?>
</fieldset>