<link rel="stylesheet" href="<?php echo $this->baseUrl(); ?>/css/robo/enviomensagem.css" type="text/css" media="screen, projection,print"/>
<div class="geral">
	<fieldset>
		<div id="cabecalho">
			<span id="titulo">Relatório de Envio de Mensagens</span>
			<BR/>
				<span>
					<?php echo$this->mensagem->getFirstMensagem();?>
				</span>
		</div>
		<BR/>
		<div id="navegacao">
			<fieldset>
			<legend>Navegação</legend>
				<a href="<?php echo $this->baseUrl()?>/robo/enviomensagem">Reenviar</a>
				<BR/>
			<?php if(!empty($this->log['sucesso'])):?>
				<a href="#mensagem-sucesso">Mensagens Enviadas</a>
				<BR/>
			<?php endif;?>
			<?php if(!empty($this->log['erro'])):?>
				<a href="#mensagem-erro">Mensagens Não Enviadas</a>
				<BR/>
			<?php endif;?>
			</fieldset>
		</div>
		<BR/>
		<?php if(!empty($this->log['sucesso'])):?>
			<BR/>
			<div id="mensagem-sucesso">
				<fieldset>
					<legend>Mensagens Enviadas (<?php echo count($this->log['sucesso']);?>):</legend>
					<table>
						<thead>
							<tr>
								<th>
									
								</th>
								<th>
									ID ENVIO
								</th>
								<th>
									ID MENSAGEM
								</th>
								<th>
									TIPO DE ENVIO
								</th>
								<th>
									ASSUNTO
								</th>
								<th>
									EVOLUÇÃO
								</th>
								<th>
									DESTINATARIOS (CC, BCC, DESTINATÁRIO)
								</th>
								<th>
									DATA DE CADASTRO
								</th>
								<th>
									DATA DE ENVIO
								</th>
								<th>
									DATA DE TENTATIVA
								</th>
								<th>
									DATA PARA ENVIAR
								</th>
								<th>
									SITUAÇÃO
								</th>
							</tr>
						</thead>
						<tbody>
							<?php 
								$linha = false;
								$cont = 1;
							?>
							<?php foreach ($this->log['sucesso'] as $log):?>
								<tr <?php echo ($linha ? 'class="linha"' : '')?>>
									<td>
										<?php echo $cont;?>
									</td>
									<td>
										<?php echo $log['recipe']['envioMensagemTO']->getId_enviomensagem();?>
									</td>
									<td>
										<?php echo $log['recipe']['envioMensagemTO']->getId_mensagem();?>
									</td>
									<td>
										<?php echo $log['recipe']['vwEnvioMensagemTO']->getSt_tipoenvio();?>
									</td>
									<td>
										<?php echo $log['recipe']['vwEnvioMensagemTO']->getSt_mensagem();?>
									</td>
									<td>
										<?php echo $log['recipe']['vwEnvioMensagemTO']->getSt_evolucao();?>
									</td>
									<td>
										<?php $arrDestinatarios = array();?>
										<?php foreach ($log['recipe']['destinatarios'] as $destinatario):?>
											<?php $arrDestinatarios[] = '<'.$destinatario->getSt_endereco().'> '.$destinatario->getSt_nome();?>
										<?php endforeach;?>
										<?php echo implode(", ", $arrDestinatarios);?>
									</td>
									<td>
										<?php if(!is_null($log['recipe']['envioMensagemTO']->getDt_cadastro())):?>
											<?php 
												$dt_inicio = new Zend_Date($log['recipe']['envioMensagemTO']->getDt_cadastro());
												echo $dt_inicio->toString('dd/MM/Y  H:mm:s');
											?>
										<?php endif;?>
									</td>
									<td>
										<?php if(!is_null($log['recipe']['envioMensagemTO']->getDt_envio())):?>
											<?php 
												$dt_inicio = new Zend_Date($log['recipe']['envioMensagemTO']->getDt_envio());
												echo $dt_inicio->toString('dd/MM/Y  H:mm:s');
											?>
										<?php endif;?>
									</td>
									<td>
										<?php if(!is_null($log['recipe']['envioMensagemTO']->getDt_tentativa())):?>
											<?php 
												$dt_inicio = new Zend_Date($log['recipe']['envioMensagemTO']->getDt_tentativa());
												echo $dt_inicio->toString('dd/MM/Y  H:mm:s');
											?>
										<?php endif;?>
									</td>
									<td>
										<?php if(!is_null($log['recipe']['envioMensagemTO']->getDt_enviar())):?>
											<?php 
												$dt_inicio = new Zend_Date($log['recipe']['envioMensagemTO']->getDt_enviar());
												echo $dt_inicio->toString('dd/MM/Y  H:mm:s');
											?>
										<?php endif;?>
									</td>
									<td>
										<?php echo implode(', ', $log['mensagem'])?>
									</td>
								</tr>
								<?php 
									$linha = ($linha ? false : true);
									$cont++;	
								?>
							<?php endforeach;?>
						</tbody>
					</table>
				</fieldset>
			</div>
			<div>
				<fieldset>
				<legend>Navegação</legend>
				<a href="#mensagem-sucesso">Início</a>
				<BR/>
				<a href="#cabecalho">Topo</a>
				</fieldset>
			</div>
		<?php endif;?>
		<?php if(!empty($this->log['erro'])):?>
			<BR/>
			<div id="mensagem-erro">
				<fieldset>
					<legend>Mensagens Não Enviadas (<?php echo count($this->log['erro']);?>):</legend>
					<table>
						<thead>
							<tr>
								<th>
								</th>
								<th>
									ID ENVIO
								</th>
								<th>
									ID MENSAGEM
								</th>
								<th>
									TIPO DE ENVIO
								</th>
								<th>
									ASSUNTO
								</th>
								<th>
									EVOLUÇÃO
								</th>
								<th>
									DESTINATARIOS (CC, BCC, DESTINATÁRIO)
								</th>
								<th>
									DATA DE CADASTRO
								</th>
								<th>
									DATA DE ENVIO
								</th>
								<th>
									DATA DE TENTATIVA
								</th>
								<th>
									DATA PARA ENVIAR
								</th>
								<th>
									SITUAÇÃO
								</th>
							</tr>
						</thead>
						<tbody>
						<?php 
							$linha = false;
							$cont = 1;
						?>
							<?php foreach ($this->log['erro'] as $log):?>
								<tr <?php echo ($linha ? 'class="linha"' : '')?>>
									<td>
										<?php echo $cont;?>
									</td>
									<td>
										<?php echo $log['recipe']['envioMensagemTO']->getId_enviomensagem();?>
									</td>
									<td>
										<?php echo $log['recipe']['envioMensagemTO']->getId_mensagem();?>
									</td>
									<td>
										<?php echo $log['recipe']['vwEnvioMensagemTO']->getSt_tipoenvio();?>
									</td>
									<td>
										<?php echo $log['recipe']['vwEnvioMensagemTO']->getSt_mensagem();?>
									</td>
									<td>
										<?php echo $log['recipe']['vwEnvioMensagemTO']->getSt_evolucao();?>
									</td>
									<td>
										<?php $arrDestinatarios = array();?>
										<?php foreach ($log['recipe']['destinatarios'] as $destinatario):?>
											<?php $arrDestinatarios[] = '<'.($destinatario->getSt_endereco() ? $destinatario->getSt_endereco() : 'Sem Email').'> '.$destinatario->getSt_nome();?>
										<?php endforeach;?>
										<?php echo implode(", ", $arrDestinatarios);?>
									</td>
									<td>
										<?php if(!is_null($log['recipe']['envioMensagemTO']->getDt_cadastro())):?>
											<?php 
												$dt_inicio = new Zend_Date($log['recipe']['envioMensagemTO']->getDt_cadastro());
												echo $dt_inicio->toString('dd/MM/Y  H:mm:s');
											?>
										<?php endif;?>
									</td>
									<td>
										<?php if(!is_null($log['recipe']['envioMensagemTO']->getDt_envio())):?>
											<?php 
												$dt_inicio = new Zend_Date($log['recipe']['envioMensagemTO']->getDt_envio());
												echo $dt_inicio->toString('dd/MM/Y  H:mm:s');
											?>
										<?php endif;?>
									</td>
									<td>
										<?php if(!is_null($log['recipe']['envioMensagemTO']->getDt_tentativa())):?>
											<?php 
												$dt_inicio = new Zend_Date($log['recipe']['envioMensagemTO']->getDt_tentativa());
												echo $dt_inicio->toString('dd/MM/Y  H:mm:s');
											?>
										<?php endif;?>
									</td>
									<td>
										<?php if(!is_null($log['recipe']['envioMensagemTO']->getDt_enviar())):?>
											<?php 
												$dt_inicio = new Zend_Date($log['recipe']['envioMensagemTO']->getDt_enviar());
												echo $dt_inicio->toString('dd/MM/Y  H:mm:s');
											?>
										<?php endif;?>
									</td>
									<td>
										<?php echo implode(', ', $log['mensagem'])?>
									</td>
								</tr>
								<?php 
									$linha = ($linha ? false : true);
									$cont++;
								?>
							<?php endforeach;?>
						</tbody>
					</table>
				</fieldset>
			</div>
			<div>
				<fieldset>
				<legend>Navegação</legend>
				<a href="#mensagem-erro">Início</a>
				<BR/>
				<a href="#cabecalho">Topo</a>
				</fieldset>
			</div>
		<?php endif;?>
	</fieldset>
</div>