<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="<?php echo $this->baseUrl(); ?>/css/robo/lancamento.css" type="text/css" media="screen, projection,print"/>
<title>Robo de Geração de Lançamentos</title>
</head>
<body>
<div class="corpo">
	<div class="cabecalho totalErro">
	<h1 class="titulo">Erro ao Gerar Lançamentos!</h1>
	<h1 class="titulo"><?php echo $this->erro?></h1>
	</div>
</div>
</body>
</html>
