<style type="text/css">
    .error { color: #ff0e11; }
    .success { color: #0515ff; }
</style>

<link rel="stylesheet" href="<?php echo $this->baseUrl(); ?>/css/robo/enviomensagem.css" type="text/css" media="screen, projection,print"/>
<div class="geral">
	<fieldset>
		<div id="cabecalho">
			<span id="titulo">Relatório de Importação de salas do moodle a partir de Sala de Referência</span>
			<BR/>
				<span>
					<?php
						if( $this->mensagem->getTipo() !== Ead1_IMensageiro::SUCESSO )
							echo $this->mensagem->getFirstMensagem();
					?>
				</span>
		</div>
		<BR/>
		<?php if($this->mensagem->getTipo() == Ead1_IMensageiro::SUCESSO && !empty($this->mensagem->getMensagem())):?>
			<BR/>
			<div id="mensagem-sucesso">
				<fieldset>
					<legend>Salas a serem importadas (<?php echo count($this->mensagem->getMensagem());?>):</legend>
					<table>
						<thead>
							<tr>
                                <th> ID SALA MOODLE REFERENCIA</th>
                                <th> SALA MOODLE REFERENCIA</th>
                                <th> ID SALA MOODLE DESTINO</th>
                                <th> SALA MOODLE DESTINO</th>
								<th> STATUS </th>
							</tr>
						</thead>
						<tbody>
							<?php foreach ($this->mensagem->getMensagem() as $dado):?>
								<tr class="<?= $dado['bl_erro'] ? 'error' : 'success' ?>">
									<td> <?php echo $dado['id_salamoodleFrom'];?>  </td>
                                    <td> <?php echo $dado['st_salamoodleFrom'];?>  </td>
                                    <td> <?php echo $dado['id_salamoodleTo'];?>  </td>
                                    <td> <?php echo $dado['st_salamoodleTo'];?>  </td>
                                    <td> <?php echo $dado['status'];?>  </td>
								</tr>
							<?php endforeach;?>
						</tbody>
					</table>
				</fieldset>
			</div>

		<?php endif;?>
	</fieldset>
</div>