<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="<?php echo $this->baseUrl(); ?>/css/robo/lancamento.css" type="text/css" media="screen, projection,print"/>
<title>Robo de Geração de Lançamentos</title>
</head>
<body>
<div class="corpo">
	<div class="cabecalho">
	<h1 class="titulo">Relatório de Geração de Lançamentos</h1>
	<?php if($this->aviso):?>
		<h2 class="titulo">
			<?php echo $this->aviso; ?>
		</h2>
	<?php endif;?>
	</div>
	<div class="container">
		<?php if($this->erro):?>
			<table class="tabelas" border="1px solid black;">
				<thead>
					<tr>
						<th colspan="7" class="colTH"> Relação de Lançamentos com ERRO!</th>
					</tr>
				</thead>
				<tbody>
					<?php foreach ($this->erro as $arrErroLancamentos):?>
						<tr class="linhaEntidade">
							<td colspan="7"><?php echo $arrErroLancamentos['entidade']?></td>
						</tr>
						<tr>
							<td class="colTHErro">Contador</td>
							<td class="colTHErro">Matrícula</td>
							<td class="colTHErro">Contrato</td>
							<td class="colTHErro">Venda</td>
							<td class="colTHErro">Valor Mensal</td>
							<td class="colTHErro">Data de Vencimento</td>
							<td class="colTHErro">Erro</td>
						</tr>
						<?php $stripeE = true;?>
						<?php $contE = 1;?>
						<?php foreach ($arrErroLancamentos['lancamentos'] as $erro):?>
							<?php if($stripeE):?>
								<tr class="color1">
								<?php $stripeE = false;?>
							<?php else:?>
								<tr class="color2">
								<?php $stripeE = true;?>
							<?php endif;?>
								<td><?php echo $contE?></td>
								<td><?php echo $erro->getId_matricula()?></td>
								<td><?php echo $erro->getId_contrato()?></td>
								<td><?php echo $erro->getId_venda()?></td>
								<td><?php echo Zend_Locale_Format::toNumber($erro->getNu_valormensal(),array('number_format' => 'R$ #,##0.00'));?></td>
								<td><?php
									$dt_vencimento = new Zend_Date(null,Zend_Date::ISO_8601); 
									echo $dt_vencimento->setDay($erro->getNu_diamensalidade())->toString('dd/MM/Y')?></td>
								<td><?php echo $erro->erro?></td>
							</tr>
							<?php $contE++;?>
						<?php endforeach;?>
						<tr>
							<td class="colTHErro" colspan="5"/>
							<td class="colTHErro">Total Não Gerados:</td>
							<td class="colTHErro total"><?php echo count($arrErroLancamentos['lancamentos'])?></td>
						</tr>
					<?php endforeach;?>
				</tbody>
			</table>
		<?php endif;?>
		<?php if($this->sucesso):?>
			<table class="tabelas" border="1px solid black;">
				<thead>
					<tr>
					<?php $date = new Zend_Date(null,Zend_Date::ISO_8601)?>
						<th colspan="6" class="colTH"> Lançamentos Gerados - Dia: <?php echo $date->toString('dd/MM/Y')?></th>
					</tr>
				</thead>
				<tbody>
					<?php foreach ($this->sucesso as $arrDadosLancamentos):?>
						<tr class="linhaEntidade">
							<td colspan="6"><?php echo $arrDadosLancamentos['entidade']?></td>
						</tr>
						<tr>
							<td class="colTH">Contador</td>
							<td class="colTH">Matrícula</td>
							<td class="colTH">Contrato</td>
							<td class="colTH">Venda</td>
							<td class="colTH">Valor Mensal</td>
							<td class="colTH">Data de Vencimento</td>
						</tr>
						<?php $stripeS = true;?>
						<?php $contS = 1;?>
						<?php foreach ($arrDadosLancamentos['lancamentos'] as $lancamento):?>
							<?php if($stripeS):?>
								<tr class="color1">
								<?php $stripeS = false;?>
							<?php else:?>
								<tr class="color2">
								<?php $stripeS = true;?>
							<?php endif;?>
								<td><?php echo $contS?></td>
								<td><?php echo $lancamento->getId_matricula()?></td>
								<td><?php echo $lancamento->getId_contrato()?></td>
								<td><?php echo $lancamento->getId_venda()?></td>
								<td><?php echo Zend_Locale_Format::toNumber($lancamento->getNu_valormensal(),array('number_format' => 'R$ #,##0.00'));?></td>
								<td><?php $dt_vencimento = new Zend_Date(null,Zend_Date::ISO_8601); 
									echo $dt_vencimento->setDay($lancamento->getNu_diamensalidade())->toString('dd/MM/Y')?></td>
							</tr>
							<?php $contS++;?>
						<?php endforeach;?>
						<tr>
							<td class="colTH" colspan="4"/>
							<td class="colTH">Total Gerados:</td>
							<td class="colTH total"><?php echo count($arrDadosLancamentos['lancamentos'])?></td>
						</tr>
					<?php endforeach;?>
				</tbody>
			</table>
		<?php endif;?>
		<?php if($this->jaCadastrados):?>
		<table class="tabelas" border="1px solid black;">
			<thead>
				<tr>
					<th colspan="6" class="colTH"> Lançamentos Entre as Datas: <?php echo $this->info['inicio'];?> a <?php echo $this->info['termino'];?></th>
				</tr>
			</thead>
			<tbody>
				<?php foreach($this->jaCadastrados as $cadastrados):?>
					<tr class="linhaEntidade">
						<td colspan="6"><?php echo $cadastrados['entidade']?></td>
					</tr>
					<tr>
						<td class="colTH">Contador</td>
						<td class="colTH">Matrícula</td>
						<td class="colTH">Contrato</td>
						<td class="colTH">Venda</td>
						<td class="colTH">Valor Mensal</td>
						<td class="colTH">Data de Vencimento</td>
					</tr>
					<?php $stripeC = true;?>
					<?php $contC = 1;?>
					<?php foreach ($cadastrados['cadastrados'] as $cadastrado):?>
						<?php if($stripeC):?>
							<tr class="color1">
							<?php $stripeC = false;?>
						<?php else:?>
							<tr class="color2">
							<?php $stripeC = true;?>
						<?php endif;?>
							<td><?php echo $contC?></td>
							<td><?php echo $cadastrado->getId_matricula()?></td>
							<td><?php echo $cadastrado->getId_contrato()?></td>
							<td><?php echo $cadastrado->getId_venda()?></td>
							<td><?php echo Zend_Locale_Format::toNumber($cadastrado->getNu_valormensal(),array('number_format' => 'R$ #,##0.00'));?></td>
							<td><?php echo $cadastrado->getDt_vencimento()->toString('dd/MM/Y')?></td>
							</tr>
						<?php $contC++;?>
					<?php endforeach;?>
						<tr>
							<td class="colTH" colspan="4"/>
							<td class="colTH">Total:</td>
							<td class="colTH total"><?php echo count($cadastrados['cadastrados'])?></td>
						</tr>
				<?php endforeach; ?>
			</tbody>
		</table>
		<?php endif;?>
	</div>
</div>
</body>
</html>
