<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="<?php echo $this->baseUrl(); ?>/css/robo/lancamento.css" type="text/css" media="screen, projection,print"/>
<title>Robo de Robo de Lançamentos baixadoss</title>
</head>
<body>
<div class="corpo">
	<div class="cabecalho">
	<h1 class="titulo">Relatório de Lançamentos baixados</h1>
	<?php if($this->aviso):?>
		<h2 class="titulo">
			<?php echo $this->aviso; ?>
		</h2>
	<?php endif;?>
	</div>
	<div class="container">
		<?php if($this->erro):?>
			<table class="tabelas" border="1px solid black;">
				<thead>
					<tr>
						<th colspan="7" class="colTH"> Processos com ERRO!</th>
					</tr>
				</thead>
				<tbody>
						<tr>
							<td class="colTHErro">Contador</td>
							<td class="colTHErro">Id do Usuário</td>
							<td class="colTHErro">Venda</td>
							<td class="colTHErro">Nome</td>
							<td class="colTHErro">Erro</td>
						</tr>
					<?php $contE = 1;?>
					<?php $stripeE = true;?>
					<?php foreach ($this->erro as $erro):?>
						<?php if($stripeE):?>
							<tr class="color1">
							<?php $stripeE = false;?>
						<?php else:?>
							<tr class="color2">
							<?php $stripeE = true;?>
						<?php endif;?>
							<td><?php echo $contE?></td>
							<td><?php echo $erro['view']->getId_usuariolancamento()?></td>
							<td><?php echo $erro['view']->getId_venda()?></td>
							<td><?php echo $erro['view']->getNOME()?></td>
							<td><?php echo $erro['mensagem']?></td>
						</tr>
						<?php $contE++;?>
					<?php endforeach;?>
					<tr>
						<td class="colTHErro" colspan="4">Total Não Baixados:</td>
						<td class="colTHErro total"><?php echo count($this->erro)?></td>
					</tr>
				</tbody>
			</table>
		<?php endif;?>
		<?php if($this->sucesso):?>
			<table class="tabelas" border="1px solid black;">
				<thead>
					<tr>
					<?php $date = new Zend_Date(null,Zend_Date::ISO_8601)?>
						<th colspan="6" class="colTH"> Lançamentos Baixados - Dia: <?php echo $date->toString('dd/MM/Y')?></th>
					</tr>
				</thead>
				<tbody>
						<tr>
							<td class="colTH">Contador</td>
							<td class="colTH">Id do Usuário</td>
							<td class="colTH">Venda</td>
							<td class="colTH">Nome</td>
						</tr>
					<?php $contS = 1;?>
					<?php $stripeS = true;?>
					<?php foreach ($this->sucesso as $vwAtualizarFluxusGestor):?>
						<?php if($stripeS):?>
							<tr class="color1">
							<?php $stripeS = false;?>
						<?php else:?>
							<tr class="color2">
							<?php $stripeS = true;?>
						<?php endif;?>
							<td><?php echo $contS?></td>
							<td><?php echo ($vwAtualizarFluxusGestor->getId_usuariolancamento() ? $vwAtualizarFluxusGestor->getId_usuariolancamento() : $vwAtualizarFluxusGestor->getId_entidadelancamento())?></td>
							<td><?php echo $vwAtualizarFluxusGestor->getId_venda()?></td>
							<td><?php echo $vwAtualizarFluxusGestor->getNOME()?></td>
						</tr>
						<?php $contS++;?>
					<?php endforeach;?>
						<tr>
							<td class="colTH" colspan="3">Total Baixados:</td>
							<td class="colTH total"><?php echo count($this->sucesso)?></td>
						</tr>
				</tbody>
			</table>
		<?php endif;?>
	</div>
</div>
</body>
</html>
