<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Robô de Notificações de Recorrentes em atraso</title>
    <style type="text/css">

        * {
            font-family: Verdana, "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial, sans-serif;
            font-size: 12px;
        }

        label {
            color: green;
            font-size: 10px;
        }

        table {
            border-collapse: collapse;
            width: 100%;
        }

        table, th, td {
            border: 1px solid black;
            text-align: left;
        }
        th, td {
            text-align: left;
            padding: 8px;
        }

        .bgcolor {background-color: #f2f2f2;}
    </style>
</head>
<body>
<div class="corpo">
	<div class="cabecalho">
	<h1 class="titulo">Robô de Notificações de Recorrentes em atraso, dia <?=( new Zend_Date(null,Zend_Date::ISO_8601))->toString('dd/MM/Y')?></h1>
	<?php if($this->aviso):?>
		<h2 class="titulo">
			<?php echo $this->aviso; ?>
		</h2>
	<?php endif;?>
	</div>
	<div class="container">
		<?php if($this->error):?>
			<table>
				<thead>
					<tr>
						<th colspan="7"style="color: red" > <?php echo count($this->error)?> Envios com ERRO.</th>
					</tr>
				</thead>
				<tbody>
					<?php foreach ($this->error as $chave => $lancamento):?>
                        <tr class="<?=($chave%2 ? 'bgcolor' : '' )?>">
                            <td rowspan="2"><?php echo ($chave+1)?></td>
							<td colspan="6"><label>Mensagem:</label> <?php echo $lancamento['mensagem']?></td>
						</tr>
                        <tr class="<?=($chave%2 ? 'bgcolor' : '' )?>">
							<td><label>ID Venda:</label><br><?php echo $lancamento['lancamento']['id_venda']?></td>
							<td><label>ID Lançamento:</label><br><?php echo $lancamento['lancamento']['id_lancamento']?></td>
							<td><label>Nome:</label><br><?php echo $lancamento['lancamento']['st_nomecompleto']?></td>
							<td>
                                <label>Data da última notificação:</label><br>
                                <?=( new Zend_Date($lancamento['lancamento']['dt_limite_notificacao'],Zend_Date::ISO_8601))->toString('dd/MM/Y H:m:s')?>
                            </td>
							<td>
                                <label>Vencimento:</label><br>
                                <?=( new Zend_Date($lancamento['lancamento']['dt_vencimento'],Zend_Date::ISO_8601))->toString('dd/MM/Y H:m:s')?>
                            </td>
							<td><label>Valor<br><?php echo number_format($lancamento['lancamento']['nu_valor'], 2, ',', '.')?></td>
						</tr>
					<?php endforeach;?>
				</tbody>
			</table>
		<?php endif;?>
		<?php if($this->success):?><br><br>
			<table>
				<thead>
					<tr>
						<th colspan="7" style="color: green" > <?php echo count($this->success)?> Envios com SUCESSO</th>
					</tr>
				</thead>
				<tbody>
					<?php foreach ($this->success as $chave => $lancamento):?>
                        <tr class="<?=($chave%2 ? 'bgcolor' : '' )?>">
                            <td><?php echo ($chave+1)?></td>
                            <td><label>ID Venda:</label><br><?php echo $lancamento['id_venda']?></td>
                            <td><label>ID Lançamento:</label><br><?php echo $lancamento['id_lancamento']?></td>
                            <td><label>Nome:</label><br><?php echo $lancamento['st_nomecompleto']?></td>
                            <td>
                                <label>Data da última notificação:</label><br>
                                <?
                                    if($lancamento['dt_limite_notificacao']) {
                                        echo (new Zend_Date($lancamento['dt_limite_notificacao'], Zend_Date::ISO_8601))->toString('dd/MM/Y H:m:s');
                                    }
                                ?>
                            </td>
                            <td>
                                <label>Vencimento:</label><br>
                                <?=( new Zend_Date($lancamento['dt_vencimento'],Zend_Date::ISO_8601))->toString('dd/MM/Y H:m:s')?>
                            </td>
                            <td><label>Valor<br><?php echo number_format($lancamento['nu_valor'], 2, ',', '.')?></td>
                        </tr>
					<?php endforeach;?>
				</tbody>
			</table>
		<?php endif;?>
	</div>
</div>
</body>
</html>
