<?php

if (!empty($this->title)) {
    echo "<br/>\n";
    echo "********************<br/>\n";
    echo "* " . $this->title . "<br/>\n";
    echo "********************<br/>\n";
    echo "<br/>\n";
}

if (!empty($this->values) && !empty($this->fields)) {
    foreach ($this->values as $value) {
        foreach ($this->fields as $field => $label) {
            echo $label . ": " . $value[$field] . "<br/>\n";
        }
        echo "<br/>\n";
    }
}