<style>
    table {
        border-collapse: collapse;
    }

    th, td {
        border: 1px solid #aaa;
        padding: 5px 10px;
    }

    td:first-child {
        text-align: right;
    }
</style>
<table>
    <thead>
    <tr>
        <th colspan="4">
            Exportação do Vendedor
        </th>
    </tr>
    <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Status</th>
        <th>Entidade</th>
    </tr>
    </thead>
    <tbody>
    <?php foreach ($this->dados as $mensageiro) { ?>
        <tr>
            <td><?= $mensageiro->getFirstMensagem()['id_vendedor'] ?></td>
            <td><?= $mensageiro->getFirstMensagem()['st_vendedor'] ?></td>
            <td><?= $mensageiro->getText() ?></td>
            <td>Entidade <?= $mensageiro->getFirstMensagem()['id_entidade'] ?></td>
        </tr>
    <?php } ?>
    </tbody>
</table>