<style>
    table {
        border-collapse: collapse;
    }

    th, td {
        border: 1px solid #aaa;
        padding: 5px 10px;
    }

    td:first-child {
        text-align: right;
    }
</style>
<table>
    <thead>
    <tr>
        <th colspan="5">
            Exportação do Afiliado e da Classe de Afiliação
        </th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th>Código do Afiliado</th>
        <th>Nome Afiliado</th>
        <th>Código da Classe de Afiliação</th>
        <th>Classe de Afiliação</th>
        <th>Mensagem</th>
    </tr>
    <?php foreach ($this->dados as $mensageiro) { ?>
        <tr>
            <td><?= $mensageiro->getFirstMensagem()['id_afiliado'] ?></td>
            <td><?= $mensageiro->getFirstMensagem()['st_nomeafiliado'] ?></td>
            <td><?= $mensageiro->getFirstMensagem()['id_classeafiliacao'] ?></td>
            <td><?= $mensageiro->getFirstMensagem()['st_classeafiliacao'] ?></td>
            <td><?= $mensageiro->getText() ?></td>
        </tr>
    <?php } ?>
    </tbody>
</table>
