<link rel="stylesheet" href="<?php echo $this->baseUrl(); ?>/css/robo/enviomensagem.css" type="text/css" media="screen, projection,print"/>
<div class="corpo">
	<div class="cabecalho">
	<h1 class="titulo">Relatório de Sincronição com o moodle</h1>
	<?php if($this->mensagem->getTipo() == Ead1_IMensageiro::AVISO || $this->mensagem->getTipo() == Ead1_IMensageiro::ERRO):?>
		<h2 class="titulo">
			<?php echo $this->mensagem->getFirstMensagem(); ?>
		</h2>
	<?php else:?>
		</div>
		<div class="container">
			<table class="tabelas" border="1px solid black;">
				<thead>
					<tr>
						<th class="colTH">Usuário</th>
						<th class="colTH">Perfil Referência</th>
						<th class="colTH">Sala de Aula Integração</th>
						<th class="colTH">Cód. Sistema Curso</th>
						<th class="colTH">ID Sistema</th>
						<th class="colTH">ID Role</th>
					</tr>
				</thead>
				<tbody>
					<?php foreach ($this->mensagem->getMensagem() as $result):?>
						<tr>
							<td><?php echo $result->getId_usuario();?></td>
							<td><?php echo $result->getId_perfilreferencia();?></td>
							<td><?php echo $result->getId_saladeaulaintegracao();?></td>
							<td><?php echo $result->getSt_codsistemacurso();?></td>
							<td><?php echo $result->getId_sistema();?></td>
							<td><?php echo $result->getNu_codigoperfil();?></td>
						</tr>
					<?php endforeach;?>
					<tr>
						<td class="colTH">Total:</td>
						<td class="colTH total"><?php echo count($this->mensagem->getMensagem())?></td>
					</tr>
				</tbody>
			</table>
		</div>
	<?php endif;?>
</div>