<style>
    table {
        border-collapse: collapse;
    }

    th, td {
        border: 1px solid #aaa;
        padding: 5px 10px;
    }

    td:first-child {
        text-align: right;
    }
</style>
<table>
    <thead>
    <tr>
        <th colspan="4">
            Exportação do Núcleo de Telemarketing
        </th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th>Código do Núcleo de Telemarketing</th>
        <th>Nome do Núcleo de Telemarketing</th>
        <th>Mensagem</th>
        <th>Nome da Entidade</th>
    </tr>
    <?php foreach ($this->dados as $mensageiro) { ?>
        <tr>
            <td><?= $mensageiro->getFirstMensagem()['id_nucleotelemarketing'] ?></td>
            <td><?= $mensageiro->getFirstMensagem()['st_nucleotelemarketing'] ?></td>
            <td><?= $mensageiro->getText() ?></td>
            <td>Entidade <?= $mensageiro->getFirstMensagem()['id_entidade'] ?></td>
        </tr>
    <?php } ?>
    </tbody>
</table>