<link rel="stylesheet" type="text/css" href="<?php echo $this->baseUrl(); ?>/css/bootstrap.min.css"/>
<link rel="stylesheet" type="text/css" href="<?php echo $this->baseUrl(); ?>/css/style.css"/>
<link rel="stylesheet" type="text/css" href="<?php echo $this->baseUrl(); ?>/css/backbone/backgrid.css"/>
<link rel="stylesheet" type="text/css" href="<?php echo $this->baseUrl(); ?>/css/backbone/backgrid-paginator.css"/>
<link rel="stylesheet" type="text/css" href="<?php echo $this->baseUrl(); ?>/css/backbone/backgrid-filter.css"/>

<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.8/vue.js"></script>
<script src="<?php echo $this->baseUrl(); ?>/bower_components/jquery/dist/jquery.js"></script>
<script src="<?php echo $this->baseUrl(); ?>/bower_components/bootstrap/docs/assets/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.8/jquery.mask.min.js"></script>
<script src="https://assets.pagar.me/js/pagarme.min.js"></script>

<style>
    input[type="text"] {
        height: 30px
    }
</style>

<div id="app">
    <div >
        <div class="container-fluid well">
            ID Venda: <input type="text" v-model="id_venda" />
            <br/>
            Número do cartão: <input type="text" v-model="card_number" />
            <br/>
            Nome (como escrito no cartão): <input type="text" v-model="card_holder_name"/>
            <br/>
            Mês de expiração: <input type="text" v-model="card_expiration_month"/>
            <br/>
            Ano de expiração: <input type="text" v-model="card_expiration_year"/>
            <br/>
            Código de segurança: <input type="text" v-model="card_cvv"/>
            <br/>
            <div id="field_errors">
                {{ errors }}
            </div>
            <br/>
            <input type="submit" @click="enviar" value="Enviar dados"/>
        </div>
    </div>
</div>

<template>

</template>

<script>

    new Vue({
        el: '#app',
        data() {
            return {
                card_number: '4111111111111111',
                card_holder_name: 'Test User',
                card_expiration_month: '12',
                card_expiration_year: '15',
                card_cvv: '123',
                errors: '',
                id_venda: ''
            };
        },
        methods: {
            enviar() {
                let vm = this;
                PagarMe.encryption_key = "ek_test_1HOvaiOvPg1w2VdNSDQtVAqkGs1Nlj";

                var creditCard = new PagarMe.creditCard();
                creditCard.cardHolderName = this.card_holder_name;
                creditCard.cardExpirationMonth = this.card_expiration_month;
                creditCard.cardExpirationYear = this.card_expiration_year;
                creditCard.cardNumber = this.card_number;
                creditCard.cardCVV = this.card_cvv;

                var fieldErrors = creditCard.fieldErrors();

                //Verifica se há erros
                var hasErrors = false;
                for(var field in fieldErrors) { hasErrors = true; break; }

                if(hasErrors) {
                    // realiza o tratamento de errors
                    this.errors = fieldErrors;
                } else {
                    creditCard.generateHash(function(cardHash) {
                        //console.log(cardHash);
                        $.ajax({
                            url: '/default/Robo/transaction-credit-card',
                            type: 'post',
                            dataType: 'json',
                            data: { cardHash: cardHash, id_venda: vm.id_venda },
                            success: function (response) {
                                console.log(response);
                            }
                        });

                    });
                }
            }
        }
    });



    var form = $("#payment_form");

    form.submit(function(event) { // quando o form for enviado...
        // inicializa um objeto de cartão de crédito e completa
        // com os dados do form
        var creditCard = new PagarMe.creditCard();
        creditCard.cardHolderName = $("#payment_form #card_holder_name").val();
        creditCard.cardExpirationMonth = $("#payment_form #card_expiration_month").val();
        creditCard.cardExpirationYear = $("#payment_form #card_expiration_year").val();
        creditCard.cardNumber = $("#payment_form #card_number").val();
        creditCard.cardCVV = $("#payment_form #card_cvv").val();

        // pega os erros de validação nos campos do form
        var fieldErrors = creditCard.fieldErrors();

        //Verifica se há erros
        var hasErrors = false;
        for(var field in fieldErrors) { hasErrors = true; break; }

        if(hasErrors) {
            // realiza o tratamento de errors
            alert(fieldErrors);
        } else {
            // se não há erros, gera o card_hash...
            creditCard.generateHash(function(cardHash) {
                // ...coloca-o no form...
                form.append($('<input type="hidden" name="card_hash">').val(cardHash));
                // e envia o form
                form.get(0).submit();
            });
        }

        return false;
    });

</script>