<link rel="stylesheet" href="<?php echo $this->baseUrl(); ?>/css/robo/enviomensagem.css" type="text/css"
      media="screen, projection,print"/>
<div class="geral">
    <fieldset>
        <div id="cabecalho">
            <span id="titulo">Relatório de alunos tornados concluintes após encerramento da turma.</span>
            <BR/>
        </div>
        <BR/>
        <?php
        if (!empty($this->resultado)): ?>
            <table style="width:100%; margin: 30px 0 0 0">
                <tr>
                    <td>Matricula</td>
                    <td>Nome</td>
                    <td>Entidade</td>
                    <td>Turma</td>
                    <td>Status</td>
                </tr>
                <?php foreach ($this->resultado as $result): ?>
                    <tr>
                        <td><?php echo $result['matricula'] ?></td>
                        <td><?php echo $result['nome'] ?></td>
                        <td><?php echo $result['entidade'] ?></td>
                        <td><?php echo $result['turma'] ?></td>
                        <td><?php echo $result['status'] ?></td>
                    </tr>
                <?php endforeach;
                ?>
            </table>
        <?php else:
            echo $this->mensagem;
        endif; ?>
    </fieldset>
</div>