<link rel="stylesheet" href="<?php echo $this->baseUrl(); ?>/css/robo/enviomensagem.css" type="text/css"
      media="screen, projection,print"/>
<div class="geral">
    <fieldset>
        <div id="cabecalho">
            <span id="titulo">Relatório de alunos enviado ao Pontosoft</span>
            <BR/>
        </div>
        <BR/>
        <?php
        if (!empty($this->resultadoIntegracao)):
            foreach ($this->resultadoIntegracao as $entidade):
                ?>
                <table style="width:100%; margin: 30px 0 0 0">
                    <caption><?php echo $entidade['st_nomeentidade'] ?></caption>
                    <tr>
                        <td>Nome Completo</td>
                        <td>Matrícula</td>
                        <td>Turma Sistema</td>
                        <td>Status</td>
                    </tr>
                    <?php
                    if (isset($entidade['alunos'])):
                        foreach ($entidade['alunos'] as $aluno) : ?>
                            <tr>
                                <td><?php echo $aluno['st_nomecompleto'] ?></td>
                                <td><?php echo $aluno['id_matricula'] ?></td>
                                <td><?php echo $aluno['st_turmasistema'] ?></td>
                                <td><?php echo $aluno['status'] ?></td>
                                <td><?php echo ($aluno['error']) ? $aluno['error'] : '--' ?></td>
                            </tr>
                        <?php endforeach;
                    endif; ?>
                </table>
                <?php
            endforeach;
        endif; ?>
    </fieldset>
</div>