<?php 
$d = new Ead1_Ambiente();
ob_start();
?>
<link rel="stylesheet" href="<?php echo $this->baseUrl(); ?>/css/robo/lancamento.css" type="text/css" media="screen, projection,print"/>
<div class="corpo">
	<div class="cabecalho">
	<h1 class="titulo">Rotinas de pagamento com Cartão de Crédito <?="({$d->getAmbiente()})"?></h1>
	<?php if($this->mensagem->getTipo() == Ead1_IMensageiro::AVISO || $this->mensagem->getTipo() == Ead1_IMensageiro::ERRO){?>
		<h2 class="titulo">
			<?php echo $this->mensagem->getFirstMensagem(); ?>
		</h2>
	<?php } else {
		
		foreach($this->mensagem->getMensagem() as $pagamento){
			echo $pagamento->getFirstMensagem().'<br><hr size=1 />';
		}
	} ?>
	</div>
</div>
<?php 

$html = ob_get_contents();
ob_end_clean();



if($html && $d->getAmbiente()!=Ead1_Ambiente::AMBIENTE_DESENVOLVIMENTO && $this->mensagem->getTipo()== Ead1_IMensageiro::SUCESSO){
	try {

//		$factory 	= new Ead1_Mail_Config_Factory('id_emailconfig = 5');
//		$mail 		= new Zend_Mail('UTF-8');
//		$mail->addTo("elcio.guimaraes@unyleya.com.br");
//		$mail->setBodyHtml($html);
//		$mail->setSubject("Pagamentos com Cartão de Crédito ({$d->getAmbiente()})");
//		$factory->sendMail($mail);
		
	} catch (Exception $e) {
		
	}
	
}

echo $html;

?>