<link rel="stylesheet" href="<?php echo $this->baseUrl(); ?>/css/robo/lancamento.css" type="text/css" media="screen, projection,print"/>
<div class="corpo">
	<div class="cabecalho">
	<h1 class="titulo">Relatório de Alunos Cursando com Matrículas Vencidas</h1>
	<?php if($this->mensagem->getTipo() == Ead1_IMensageiro::AVISO || $this->mensagem->getTipo() == Ead1_IMensageiro::ERRO):?>
		<h2 class="titulo">
			<?php echo $this->mensagem->getFirstMensagem(); ?>
		</h2>
	<?php else:?>
		</div>
		<div class="container">
			<table class="tabelas" border="1px solid black;">
				<thead>
					<tr>
						<th class="colTH">Matrícula</th>
						<th class="colTH">Nome</th>
						<th class="colTH">Vencimento</th>
					</tr>
				</thead>
				<tbody>
					<?php foreach ($this->mensagem->getMensagem() as $aluno):?>
						<tr>
							<td><?php echo $aluno->getId_matricula()?></td>
							<td><?php echo $aluno->getSt_nomecompleto()?></td>
							<td><?php echo $aluno->getDt_termino()->toString('dd/MM/Y')?></td>
						</tr>
					<?php endforeach;?>
					<tr>
						<td class="colTH">Total:</td>
						<td class="colTH total"><?php echo count($this->mensagem->getMensagem())?></td>
					</tr>
				</tbody>
			</table>
		</div>
	<?php endif;?>
</div>
