<table id="table-arquivo-retorno" class="backgrid table table-bordered table-hover table-striped">
    <thead>
        <tr>
            <th>Banco</th>
            <th>Venda</th>
            <th>Nosso número</th>
            <th>Valor Retorno</th>
            <th>Data Vencimento</th>
            <th>Data pagamento</th>
            <th>Lançamento</th>
            <th>Valor Atualizado</th>
            <th>Quitado</th>
        </tr>
    </thead>
    <tbody id="boleto-row-container"></tbody>
</table>