<td><%= st_banco %></td>
<td><%= id_venda %></td>
<td><%= st_nossonumero %></td>
<td><%= nu_valorretorno %></td>
<td><%= dt_vencimento %></td>
<td><%= dt_quitado %></td>
<td><%= id_lancamento %></td>
<td><%= nu_valor %></td>
<td><%= bl_quitado %></td>