<style>
    input, textarea, .uneditable-input {
        width: 289px;
    }

    .group-span-filestyle {
        width: 23.4043%;
    }

    #div-grid-arquivo-retorno {
        display: none;
    }

    #div-form-arquivo-retorno {
        display: none;
        border: 1px solid #ccc;
        float: left;
        margin: 0 10px 0 2px;
        padding: 0 10px;
        width: 98%
    }
</style>
<div class="row-fluid">
    <div class="span12">

        <div id="div-grid-arquivo-retorno">
            <span class="span5">Arquivo:<input id="file-grid" name="file-grid" type="text" value="" disabled/></span>
            <span class="span7 text-right">
                <button class="btn btn-primary" id="btn-gerar-xls-retorno-boleto">
                    <i class="icon-ok icon-white"></i>Gerar XLS
                </button>
            </span>

            <form id="gerar-xls-arquivo-retorno">
                <input type="hidden" id="id-arquivo-retorno" name="id-arquivo-retorno">
            </form>
        </div>
        <div id="div-form-arquivo-retorno">
            <form id="arquivo-retorno-formulario" onsubmit="return false;" enctype="multipart/form-data">
                Carregar Arquivo:<br>
                <input id="file" name="file" type="file" class="filestyle"/>
                <button id="btn-upload" class="btn btn-success"><i class="icon-ok icon-white"></i> Salvar</button>
                <button id="btn-processar-arquivo-retorno" class="btn btn-success hidden"><i class="icon-refresh icon-white "></i>Processar</button>
            </form>
            <input type="hidden" name="id_arquivoretorno_processar" id="id_arquivoretorno_processar" value="">
        </div>


    </div>
    <div class="span12" style="margin-left: 0px;">
        <div id="container-boletos-abertos"></div>
        <div id="container-boletos-quitados"></div>
        <div id="container-boletos-pagamento-menor-original"></div>
        <div id="container-boletos-nao-localizados"></div>
        <div id="container-boletos-g1"></div>
    </div>
</div>