<script type="text/template" id="template-certificacao-parcial">
    <div class="well well-large">
        <div class="row-fluid">
            <fieldset>
                <legend>Certificado Parcial</legend>
                <div class="row-fluid">

                    <label class="span4">
                        Certificado Parcial
                        <select class="span12" id="id_certificadoparcial">
                            <option value="todos">Selecione</option>
                        </select>
                    </label>

                    <label class="span4">
                        Polo
                        <select class="span12" id="id_entidade">
                            <option value="todos">Todos</option>
                        </select>
                    </label>

                    <label class="span4">
                        Status Certificado Parcial
                        <select class="span12" id="status">
                            <option value="todos">Selecione</option>
                            <option value="1">Gerado</option>
                            <option value="0">Não Gerado</option>
                        </select>
                    </label>

                </div>
                <div class="row-fluid">
                    <div class="span4">
                        <label>Nome do Aluno</label>
                        <input type="text" class="span12" name="st_nomecompleto"
                               value=""
                               id="st_nomecompleto" placeholder="Nome do Aluno">
                    </div>

                    <div class="span2">
                        <label>CPF</label>
                        <input type="text" class="span12" name="st_cpf"
                               value="" maxlength="11" minlength="11"
                               id="st_cpf" placeholder="CPF">
                    </div>
                </div>
            </fieldset>

            <fieldset class="text-right">
                <div class="well well-small" style="background-color: #fff;">
                    <label style="display: inline-block; margin: 0;">
                        Registros por Página:
                        <input id="nu_registros" type="number" name="nu_registros" value="10"
                               style="margin: 0; width: 50px;"/>
                    </label>
                    <button class="btn btn-custom" id="pesquisar" title="Pesquisar">
                        <i class="icon icon-search icon-white"></i>
                        Pesquisar
                    </button>
                </div>
            </fieldset>
        </div>
    </div>

    <div id="container-DataGrid" class="well well-large">
        <div class="row-fluid">
            <div id="template-data-grade" class="span12"></div>
        </div>
    </div>

    <div id="modalHistorico">
    </div>


</script>

<script type="text/template" id="modal-historico">
    <div class="" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h5 class="modal-title">Histórico de Impressão Certificado Parcial</h5>
                </div>

                <div id="container-DataGridHistorico" class="well well-large">
                    <div class="row-fluid">
                        <div id="template-data-gradeHistorico" class="span12"></div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</script>







<script type="text/javascript">
    $('#htmlContent script[type="text/template"]').appendTo($('#templateHolder'));
    <? echo $this->render('certificado-parcial/index.js')?>
</script>