<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="pt">
<head>
    <title>Detalhamento da Transferência de Curso</title>
    <meta http-equiv="Content-type" content="text/html; charset=UTF-8"/>
    <style type="text/css" media="all">
        /*<style type="text/css" media="print" id="test">*/
        @page {
            margin: 1cm;
            size: 'A4';
        }

        table, td, th {
            border: solid 1px #000;
            border-collapse: collapse;
            font-family: "Helvetica Neue", "Arial", sans-serif;
            font-size: 10pt !important;
        }

        thead {
            text-align: center;
        }

        td, th {
            padding-left: 10px;
            padding-right: 10px;
        }

        td {
            vertical-align: top;
        }
    </style>
</head>
<body>
<?php

$dynMsg = $this->dados->dynMensagem;
$msg = $this->dados->mensagem;
if ($this->dados->tipo != 1) {
    ?>
    <div class="container">
        <div class="alert alert-error">
            <?= $this->dados->text; ?>
        </div>
    </div>
    <?php
} else {
    ?>
    <table class="table table-bordered">
        <thead>
        <tr>
            <td colspan="2">
                <h1>Detalhamento da Transferência de Curso</h1>
            </td>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                <p>Data da simulação: <?= date('d/m/Y'); ?></p>
                <p>Nome: <?= $msg['st_nomecompleto']; ?></p>
                <p>CPF: <?= $msg['st_cpf']; ?> E-mail: <?= $msg['st_email']; ?></p>
            </td>
            <?php
            if ($msg['nu_valorapagar'] < 0) {
                ?>
                <td>
                    <h2>Dados de Ressarcimento</h2>
                    <p>Tipo: <?= ($msg['st_tid']) ? 'Estorno' : 'Restituição'; ?></p>
                    <?php
                    if ($msg['st_tid']) {
                        ?>
                        <p>TID: <?= $msg['st_tid']; ?>
                        <?php
                    } else {
                        if ($msg['nu_banco']) ?>
                            <p>Banco: <?= $msg['nu_banco']; ?></p>
                        <?php if ($msg['nu_agencia']) ?>
                            <p>Agência: <?= $msg['nu_agencia']; ?></p>
                        <?php if ($msg['nu_conta']) ?>
                            <p>Conta: <?= $msg['nu_conta']; ?></p>
                        <?php if ($msg['nu_operacao']) ?>
                            <p>Operação: <?= $msg['nu_operacao']; ?></p>
                        <?php
                    }
                    ?>
                </td>
                <?php
            } else {
                ?>
                <td></td>
                <?php
            }
            ?>
        </tr>
        <tr>
            <td>
                <p>Curso de Origem: <?= $msg['st_projetopedagogicoorigem']; ?></p>
                <p>Valor do curso de origem: R$ <?= $msg['nu_valorcursoorigem']; ?></p>
                <p>Data de Matrícula: <?= $msg['dt_cadastroorigem']; ?></p>
                <p>Turma: <?= $msg['st_turmaorigem']; ?></p>
                <p>Documentação: <?= $msg['st_documentacao']; ?></p>
                <p>Venda: <?= $msg['id_venda']; ?></p>
            </td>
            <td>
                <p>Curso de Destino: <?= $msg['st_projetopedagogicodestino']; ?></p>
                <p>Turma: <?= $msg['st_turmadestino']; ?></p>
            </td>
        </tr>
        <tr>
            <td>
                <p>Valor pago pelo aluno até a data da simulação: R$ <?= $msg['nu_valorpago']; ?></p>
                <p>Carga Horária disponibilizada no curso de origem: <?= $msg['nu_cargahorariadiscselect']; ?>h</p>
                <p>Valor Proporcional da carga horária disponibilizada no curso de origem:
                    R$ <?= $msg['nu_valorproporcional']; ?></p>
                <p>Valor do curso de destino: R$ <?= $msg['nu_valornovocurso']; ?></p>
                <p>Desconto no curso de destino: R$ <?= $msg['nu_desconto']; ?></b></p>
                <p><b>Valor do aditivo: R$ <?= $msg['nu_valorapagar']; ?>
                <p><b>(curso destino - desconto - (curso origem - valor da C.H. disponibilizada))</b></p>
            </td>
            <td>
                <p>Disciplina (s) considerada (s) para o cálculo do proporcional:</p>
                <?php foreach ($msg['discipinasOrigem'] AS $disciplinaO) { ?>
                    <p><?= $disciplinaO ?></p>
                <?php } ?>
            </td>
        </tr>
        <tr>
            <td>
                <p>Disciplina (s) aproveitada (s) no curso de destino:</p>
                <?php foreach ($msg['discipinasAproveitar'] AS $disciplinaA) { ?>
                    <p><?= $disciplinaA ?></p>
                <?php } ?>
            </td>
            <td>
                <p>Disciplina (s) a cursar:</p>
                <?php foreach ($msg['discipinasDestino'] AS $disciplinaD) { ?>
                    <p><?= $disciplinaD ?></p>
                <?php } ?>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <p>Observações da Transferência de Curso: </p>
                <p><?= $msg['st_observacao'] ?></p>
            </td>
        </tr>
        </tbody>
    </table>
    <?php
}
?>
</body>
</html>