<style type="text/css">
    #modal-projeto-region {
        width: 950px;
        left: 50%;
        margin-left: -475px;
    }

    #modal-simulacao-region {
        width: 1050px;
        left: 50%;
        margin-left: -525px;
    }

    #modal-lancamentos-region {
        width: 900px;
        left: 50%;
        margin-left: -450px;
    }

    .popover {
        max-width: inherit !important;
    }

</style>
<script id="form-view" type="text/template">
    <div class="well">
        <div class="row-fluid">
            <label id="label-matricula" class="span5">

                <b>Matrícula:</b>
                <select id="id_matricula" class="span12" name="id_matricula" size="4"></select>
            </label>
            <div id="label-projeto" class="span4 hide">
                <div id="modal-projeto-region"></div>
                <label>
                    <b>Curso de Destino:</b> <br/>
                    <button id="btn-projeto" class="btn btn-info" type="button">
                        Pesquisar
                    </button>
                </label>
                <b><label id="nome_projeto"></label></b>
                <input id="id_projetopedagogico" type="hidden" name="id_projetopedagogico"/>
            </div>
            <label id="label-turma" class="span3 hide">
                <b>Turmas Disponíveis:</b>
                <select id="id_turma" class="span12" name="id_turma" size="4"></select>
            </label>
        </div>
        <div id="matricula-region"></div>
    </div>
</script>

<script id="matricula-view" type="text/template">
    <div>
        <b>Data de Matrícula:</b>
        <%= dt_cadastro %>
    </div>
    <div>
        <b>Turma:</b>
        <%= st_turma || 'Sem turma' %>
    </div>
    <div>
        <b>Situação:</b>
        <%= st_situacao %>
    </div>
    <div>
        <b>Documentação:</b>
        <%= bl_documentacao === null || bl_documentacao === '' ? 'Não Analisado' : (bl_documentacao ? 'Ok' : 'Pendente')
        %>
    </div>
    <div>
        <b>Venda:</b>
        <%= id_venda %>
    </div>
</script>

<script id="modal-projeto-composite" type="text/template">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 class="modal-title">Pesquisar Projeto Pedagógico</h3>
    </div>
    <div class="modal-body">
        <form>
            <div class="row-fluid">
                <div class="span11">
                    <input id="st_projetopedagogico" class="span12" type="text" name="st_projetopedagogico" required
                           minlength="3" tabindex="1"
                           placeholder="Pesquise por pelo menos 3 caracteres do projeto pedagógico"/>
                </div>
                <div class="span1">
                    <button class="btn btn-info" type="submit" tabindex="5">
                        <i class="icon icon-white icon-search"></i>
                    </button>
                </div>
            </div>
            <div class="row-fluid">
                <label class="span4">
                    Área
                    <select id="id_areaconhecimento" class="span12" name="id_areaconhecimento" tabindex="2">
                        <option value="">[Carregando...]</option>
                    </select>
                </label>
                <label class="span4">
                    Nível de Ensino
                    <select id="id_nivelensino" class="span12" name="id_nivelensino" tabindex="3">
                        <option value="">[Carregando...]</option>
                    </select>
                </label>
                <label class="span4">
                    Unidade
                    <select id="id_entidade" class="span12" name="id_entidade" tabindex="4" required>
                        <option value="">[Carregando...]</option>
                    </select>
                </label>
            </div>
        </form>
        <div class="table-responsive">
            <table class="table table-bordered table-striped backgrid table-hover">
                <thead>
                <tr>
                    <th></th>
                    <th>Nome</th>
                    <th>Área</th>
                    <th>Nível de Ensino</th>
                    <th>Unidade</th>
                    <th>Situação</th>
                </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
    <div class="modal-footer hide">
        <button id="btn-selecionar-projeto" class="btn btn-success" type="button">
            Selecionar
        </button>
    </div>
</script>

<script id="modal-projeto-view" type="text/template">
    <td>
        <input type="radio" name="id_projetopedagogico" value="<%= id_projetopedagogico %>"/>
    </td>
    <td class="st_projetopedagogico"><%= st_projetopedagogico %></td>
    <td><%= st_areaconhecimento %></td>
    <td><%= st_nivelensino %></td>
    <td><%= st_nomeentidade %></td>
    <td><%= st_situacao %></td>
</script>

<script id="salas-template" type="text/template">
    <div id="modal-simulacao-region"></div>
    <div class="well">
        <div class="row-fluid">
            <div class="span12 text-right">
                <div class="pull-right" style="color: #000;">
                    <button class="btn btn-mini popoverClass btn-toogle-disciplinas" data-title="Novo!"
                            data-content="Diminua ou expanda a tabela para gerenciar melhor o restante do conteúdo da tela."
                            data-placement="left" data-trigger="hover">
                        <i class="icon-resize-full"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="row-fluid" id="div-origem-destino">
            <div id="origem-region" class="span8"></div>
            <div id="destino-region" class="span4"></div>
        </div>
        <div class="row-fluid" id="div-contador">
            <div class="span12 contador text-left"></div>
        </div>
    </div>
    <div class="well">
        <div class="row-fluid">
            <label class="span12">
                <b>Motivo da Transferência de Curso:</b>
                <textarea class="span12" id="st_tramite" name="st_tramite" required="required" rows="3"></textarea>
            </label>
        </div>
    </div>
    <div class="well" id="div_botoes_disciplinas">
        <div class="row-fluid text-right">
            <div class="span12">
                <button id="btn-limpar" class="btn" type="button">
                    Limpar
                </button>
                <button id="btn-prosseguir" class="btn btn-success" type="button">
                    Prosseguir
                </button>
                <button id="btn-simular" class="btn btn-info" type="button">
                    Simular
                </button>

            </div>
        </div>
    </div>
</script>

<script id="salas-origem-template" type="text/template">
    <div class="table-responsive">
        <table class="table table-bordered table-striped backgrid table-hover marginT20">
            <thead>
            <tr>
                <th>Cálculo do Valor Proporcional
                    <a class="tootiperGrad" data-placement="right" data-toggle="tooltip" data-trigger="hover"
                       title="Marque as disciplinas que serão consideradas no cálculo do valor proporcional.">
                        <i class="icon-blue icon-info-sign"></i>
                    </a>
                </th>
                <th>Disciplina</th>
                <th>C.H.</th>
                <th>Prova Presencial</th>
                <th>Atividades EAD</th>
                <th>TCC</th>
                <th>Final</th>
                <th>Sala de Aula</th>
                <th>Aproveitar
                    <a class="tootiperGrad" data-placement="rigth" data-toggle="tooltip" data-trigger="hover"
                       title="Marque as disciplinas que serão aproveitadas.">
                        <i class="icon-blue icon-info-sign"></i>
                    </a>
                </th>
                <th>Início</th>
                <th>Término</th>
                <th>Evolução Nota</th>
            </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</script>

<script id="salas-origem-view" type="text/template">

    <td>
        <% if (id_tipodisciplina != 2) {%>
        <input type="checkbox" value="<%= id_disciplina %>" name="id_disciplina[]" class="nu_cargahoraria">
        <% } %>
    </td>

    <td><%= st_disciplina %></td>
    <td><%= nu_cargahoraria %></td>
    <td><%= st_notafinal %></td>

    <!-- st_notaead-->
    <td <% if(id_disciplina_prr != '' && (st_notatcc_prr == '' || st_notatcc_prr == '-')){ %> class="no-padding" <% } %>>
    <% if(id_disciplina_prr == ''){ %>
    <%=st_notaead%>
    <% }else{ %>
    <table width="100%">
        <tr>
            <td class="celltablegrid">
                <%=st_notaead%>
            </td>
        </tr>
        <tr>
            <td class="celltablegrid">
                <%=st_notaead_prr%>
            </td>
        </tr>
    </table>
    <% } %>
    </td>

    <!-- st_notatcc-->
    <td <% if(st_notatcc_prr != ''){ %> class="no-padding" <% } %>>
    <% if(st_notatcc_prr == ''){ %>
    <%=st_notatcc%>
    <% }else{ %>
    <table width="100%">
        <tr>
            <td class="celltablegrid"><%=st_notatcc%></td>
        </tr>
        <tr>
            <td class="celltablegrid"><%=st_notatcc_prr%></td>
        </tr>
    </table>
    <% } %>
    </td>

    <!-- st_notafinal-->
    <td>
        <% if(id_disciplina_prr != '' && st_notatotal_prr > st_notatotal){%>
        <%=st_notatotal_prr%>
        <% }else{%>
        <%=st_notatotal%>
        <% } %>
    </td>

    <!-- st_saladeaula-->
    <td <% if(id_disciplina_prr != ''){ %> class="no-padding" <% } %>>
    <% if(id_disciplina_prr == ''){ %>
    <%=st_saladeaula%>
    <% }else{ %>
    <table width="100%">
        <tr>
            <td class="celltablegrid"><%=st_saladeaula%></td>
        </tr>
        <tr>
            <td class="celltablegrid"><%=st_saladeaula_prr%><br><span
                        class="label label-important pull-left">Sala PRR</span></td>
        </tr>
    </table>
    <% } %>
    </td>
    <!-- bl_check (aproveitar) -->
    <td>
        <% if (bl_check) { %>
        <input type="checkbox" value="<%= id_disciplina %>" name="id_disciplina[]" class="id_disciplina"/>
        <% } %>
    </td>

    <!-- dt_abertura-->
    <td <% if(id_disciplina_prr != ''){ %> class="no-padding" <% } %>>
    <% if(id_disciplina_prr == ''){ %>
    <%=dt_abertura%>
    <% }else{ %>
    <table width="100%">
        <tr>
            <td class="celltablegrid"><%=dt_abertura%></td>
        </tr>
        <tr>
            <td class="celltablegrid"><%=dt_abertura_prr%></td>
        </tr>
    </table>
    <% } %>
    </td>

    <!-- dt_encerramento-->
    <td <% if(id_disciplina_prr != ''){ %> class="no-padding" <% } %>>
    <% if(id_disciplina_prr == ''){ %>
    <%=dt_encerramento%>
    <% }else{ %>
    <table width="100%">
        <tr>
            <td><%=dt_encerramento%></td>
        </tr>
        <tr>
            <td><%=dt_encerramento_prr%></td>
        </tr>
    </table>
    <% } %>
    </td>


    <td style="color: <%= getCorEvolucaoNota(st_status) %>"><%= st_status %></td>
</script>

<script id="salas-destino-template" type="text/template">
    <div class="table-responsive">
        <table class="table table-bordered table-striped backgrid table-hover marginT20">
            <thead>
            <tr>
                <th>Disciplina</th>
                <th>Início</th>
                <th>Término</th>
            </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</script>

<script id="salas-destino-view" type="text/template">
    <td><%= st_disciplina %></td>
    <td><%= dt_abertura %></td>
    <td><%= dt_encerramento %></td>
</script>

<script id="modal-grade-view" type="text/template">
    <td><%= st_disciplina_prr || st_disciplina %></td>
    <td><%= st_saladeaula_prr || st_saladeaula %></td>
    <td><%= dt_abertura_prr || dt_abertura %></td>
    <td><%= dt_encerramento_prr || dt_encerramento %></td>
</script>

<script id="modal-simulacao-template" type="text/template">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 class="modal-title">Informações Adicionais</h3>
    </div>
    <div class="modal-body">
        <div class="well well-large">
            <div class="row-fluid">
                <div class="control-group">
                    <div class="hide" id="tipo_ressarcimento">
                        <div class="span4">
                            <label>Tipo: <b><%= (st_tid)? 'Estorno' : 'Restituicao' %></b></label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row-fluid">
                <div class="control-group">
                    <div class="hide" id="div_estorno">
                        <div class="span6">
                            <label>TID: <b><%= (st_tid) ? st_tid : '' %></b></label>
                        </div>
                    </div>
                    <div class="hide" id="div_restituicao">
                        <label class="span6">
                            Banco
                            <select class="span12" id="id_banco" name="id_banco"></select>
                        </label>
                        <label class="span2">
                            Agência
                            <input class="span12" type="text" id="nu_agencia" name="nu_agencia">
                        </label>
                        <label class="span2">
                            Conta
                            <input class="span12" type="text" id="nu_conta" name="nu_conta">
                        </label>
                        <label class="span2">
                            Operação
                            <input class="span12" type="text" id="nu_operacao" name="nu_operacao">
                        </label>
                    </div>
                </div>
            </div>
            <div class="row-fluid">
                <div class="control-group">
                    <div class="span12">
                        <label>Observações da Transferência de Curso:</label>
                        <textarea class="span12" rows="3" id="st_observacao" name="st_observacao"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn" type="button" data-dismiss="modal">
            Voltar
        </button>
        <button id="btn-imprimir-simulacao" class="btn btn-success" type="button" data-dismiss="modal">
            Imprimir Simulação
        </button>
    </div>
</script>

<script id="negociacao-template" type="text/template">
    <div id="negociacao-region"></div>
    <div id="ressarcimento-region"></div>
</script>


<script id="ressarcimento-composite" type="text/template">
    <div class="well">
        <div class="row-fluid">
            <label class="span12">
                <legend class="span12"><b>Dados do Ressarcimento</b></legend>
            </label>
        </div>
        <div class="row-fluid">
            <div class="control-group">
                <div class="span2">
                    <div class="span8">
                        <label>
                            Valor:
                            <input class="span12" type="text" id="nu_valorapagar" name="nu_valorapagar"
                                   value="R$ <%=nu_valorapagar%>" style="color: #ff0000;">
                        </label>
                    </div>
                    <div class="span1">&nbsp;</div>
                    <div class="span3">
                        <label>Tipo: <b><%= (st_tid)? 'Estorno':'Restituição' %></b></label>
                    </div>
                </div>
                <div class="hide span10" id="div_estorno">
                    <div class="span5">
                        <label>TID: <b><%=st_tid %></b></label>
                    </div>
                </div>
                <div class="hide span10" id="div_restituicao">
                    <label class="span3">
                        Banco
                        <select class="span12" id="id_banco" name="id_banco"></select>
                    </label>
                    <label class="span2">
                        Agência
                        <input class="span12" type="text" id="nu_agencia" name="nu_agencia">
                    </label>
                    <label class="span2">
                        Conta
                        <input class="span12" type="text" id="nu_conta" name="nu_conta">
                    </label>
                    <label class="span1">
                        Operação
                        <input class="span12" type="text" id="nu_operacao" name="nu_operacao">
                    </label>
                </div>
            </div>
        </div>
        <div class="row-fluid">
            <div class="control-group">
                <div class="span12">
                    <label>Observação:</label>
                    <textarea class="span12" rows="3" id="st_observacao" name="st_observacao"></textarea>
                </div>
            </div>
        </div>
    </div>
</script>

<script type="text/template" id="template-pagar-cheque">
    <form name="formPagarCheque" style="margin: 0;" method="post" action="">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3>Registra Dados Recebimento</h3>
        </div>
        <div class="modal-body">
            <fieldset>
                <div class="row-fluid">
                    <div class="span8">
                        <label>
                            Número do Cheque:
                            <input type="text" required="required" name="st_numcheque" value="<%= st_numcheque %>"
                                   id="st_numcheque" class="span12">
                        </label>
                    </div>
                    <div class="span3">
                        <div class="input-append">
                            <label>Data:<br>
                                <input type="text" required="required" value="<%= dt_quitado %>" name="dt_quitado"
                                       id="dt_quitado"
                                       class="span12 datepicker maskDate">
                                <a class="btn"><i class="icon icon-calendar"></i></a>
                            </label>
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-success">Salvar</button>
            <a class="btn btn-cancelar" data-dismiss="modal" aria-hidden="true">Fechar</a>
        </div>
    </form>
</script>
<script type="text/template" id="template-bandeiras">
    <input type="radio" id="bandeira-<%= id %>" name="id_cartaoconfig" value="<%= id_cartaoconfig %>">
    <img src="" alt="" style="width: 40px;"/>
</script>

<script type="text/template" id="template-pagar-cartao">

    <style>
        @media (min-width: 900px) {
            .modal-large {
                margin-left: -430px;
                width: 860px;
            }
        }
    </style>
    <form name="formPagarCheque" style="margin: 0;;" method="post" action="">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3>Registra Recebimento Cartão</h3>
        </div>
        <div class="modal-body">
            <fieldset>
                <div class="span12" style="margin: auto; float: none;">
                    <div class="row-fluid">
                        <label class="span3">
                            Número da Autorização:
                            <input type="text" required="required" name="autorizacao" id="autorizacao" class="span12">
                        </label>

                        <label class="span3">
                            Número do documento:
                            <input type="text" required="required" name="documento" id="documento" class="span12">
                        </label>

                        <label class="span3">
                            4 últimos dígitos do cartão:
                            <input type="text" required="required" pattern="\d{4}" maxlength="4" name="digitos"
                                   id="digitos" class="numeric span12">
                        </label>

                        <label class="span3">
                            Data da venda:
                            <div class="clearfix"></div>
                            <span class="btn pull-right">
                                <i class="icon icon-calendar"></i>
                            </span>

                            <div style="margin-right: 40px;">
                                <input type="text" required="required" value="<%= dt_prevquitado %>"
                                       name="dt_prevquitado" id="dt_prevquitado" class="span12 datepicker maskDate">
                            </div>
                        </label>
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <div class="marginT20">
                    <p>Escolha a bandeira do cartão: </p>

                    <div id="container-bandeiras" class="row-fluid"></div>
                    <br>
                </div>
            </fieldset>

            <fieldset id="grid-modal-content">

            </fieldset>

            <fieldset>
                <div class="row-fluid">
                    <label class="span4">Total Entrada: <b>R$</b> <strong class="total-entrada"><%= totalEntrada
                            %></strong></label>
                    <label class="span4">Total das Parcelas: <b>R$</b> <strong class="total-parcelas"><%= totalParcelas
                            %></strong></label>
                    <label class="span4">Total da Transação: <b>R$</b> <strong class="total-transacao"><%=
                            totalEntrada+totalParcelas %></strong></label>
                </div>
            </fieldset>
        </div>


        <div class="modal-footer">
            <button type="submit" class="btn btn-success">Salvar</button>
            <a class="btn btn-cancelar" data-dismiss="modal" aria-hidden="true">Fechar</a>
        </div>
    </form>
</script>

<script id="template-empty-lancamento" type="text/template">
    <td colspan="8">
        Nenhum lançamento adicionado.
    </td>
</script>

<script id="template-item-lancamento" type="text/template">
    <td><input type="checkbox" class="chk_um_lancamento"></td>
    <td><%= nu_ordem %></td>
    <td><%= st_meiopagamento %></td>
    <td><%= st_nomecompleto %></td>
    <td><%= bl_entrada ? 'Entrada' : 'Parcela' %></td>
    <td>
        <div class="input-prepend">
            <span class="add-on">R$</span>
            <input class="input-small" name="nu_valor" type="text" value="<%= nu_valor %>">
        </div>
    </td>
    <td>
        <label class="input-append">
            <input type="text" name="dt_vencimento" class="input-small datepicker maskDate"
                   value="<%= dt_vencimento %>">
            <div class="btn" name="btn_datepicker"><i class="icon icon-calendar"></i></div>
        </label>
    </td>
    <td style="white-space: nowrap" class="td-pagamento">
    </td>
</script>

<script id="negociacao-financeira-composite" type="text/template">
    <div class="well">
        <form action="" method="post" id="form-lancamentos" name="form-lancamentos">
            <div class="row-fluid">
                <label class="span12">
                    <legend class="span12"><b>Negociação Financeira</b></legend>
                </label>
            </div>
            <div class="row-fluid">
                <div class="control-group">
                    <label class="span3">Valor à adicionar:
                        <a id="tooltipCalculos" rel="popover" class="tootiperGrad" data-html="true"
                           data-placement='right' data-trigger="hover">
                            <i class="icon-blue icon-info-sign"></i>
                        </a>
                    </label>
                </div>
            </div>
            <div class="row-fluid">
                <div class="control-group">
                    <div class="input-prepend span2">
                        <span class="add-on span2">R$</span>
                        <input class="span10" type="text" id="nu_valorapagar" name="nu_valorapagar" disabled>
                    </div>
                </div>
            </div>
            <br/>
            <div class="row-fluid">
                <div class="control-group">
                    <label class="span2">
                        Meio de Pagamento:
                        <div id="divMeioPagamento">
                            <select id="id_meiopagamento" class="span12" name="id_meiopagamento"></select>
                        </div>
                    </label>
                    <label class="span2">
                        Campanha:
                        <div id="divCampanha">
                            <select id="id_campanhacomercial" class="span12" name="id_campanhacomercial"></select>
                        </div>
                    </label>
                    <label class="span2">
                        Desconto:
                        <div class="input-prepend span12">
                            <span class="add-on span2" id="tipo_desconto"></span>
                            <input id="nu_desconto" class="span10" type="text" name="nu_desconto" disabled>
                            <input id="tipoLancamento" class="span10" type="hidden" name="tipoLancamento" value="2">
                            <!-- parcela -->
                        </div>
                    </label>
                    <label class="span2">
                        Quantidade:
                        <div id="divQtdLancamentos">
                            <input id="nu_quantidade" class="span12" type="number" name="nu_quantidade" value="1"
                                   max="10" min="1">
                        </div>
                    </label>
                    <label class="span2">
                        Valor Parcela / Entrada:
                        <div id="divNuValorParcela" class="input-prepend span12">
                            <span class="add-on span2">R$</span>
                            <input id="nu_valorparcela" class="span10" type="text" name="nu_valorparcela" disabled>
                        </div>
                    </label>
                    <label class="span2">
                        Valor Total:
                        <div class="input-prepend span12">
                            <span class="add-on span2">R$</span>
                            <input id="nu_total" class="span10" type="text" name="nu_total" disabled>
                        </div>
                    </label>
                </div>
            </div>
            <div class="row-fluid">
                <div class="control-group">
                    <label class="span2">
                        1º Parcela:
                        <div class="clearfix"></div>
                        <a id="btn_datepicker" class="btn pull-right js-bt-calendar" data-calendar="dt_primeiraparcela">
                            <i class="icon icon-calendar"></i>
                        </a>
                        <div id="divDataPrimeiraParcela" style="margin-right: 40px;">
                            <input id="dt_primeiraparcela" class="span12 datepicker maskDate" type="text"
                                   name="dt_primeiraparcela" disabled style="background-color: #ffffff;">
                        </div>
                    </label>
                    <label class="span2">
                        Atendente:
                        <div id="divAtendente">
                            <select id="id_atendente" class="span12" name="id_atendente"></select>
                        </div>
                    </label>
                    <label class="span4">
                        Responsável Financeiro:
                        <div id="divResponsavelLancamento">
                            <select id="id_responsavel" class="span12" name="id_responsavel" disabled></select>
                        </div>
                    </label>
                    <div class="span4 text-right">
                        <br/>
                        <button id="btn-add-lancamento" class="btn btn-success" type="button" title="Adicionar">
                            <i class="icon icon-white icon-plus"></i>
                            Adicionar
                        </button>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="row-fluid">
                    <div class="control-group">
                        <div class="span12">
                            <label>Observação:</label>
                            <textarea class="span12" rows="3" id="st_observacao" name="st_observacao"></textarea>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </form>
        <hr/>
        <div class="row-fluid">
            <div class="span12">
                <div class="pull-left" style="padding-bottom: 20px;">
                    <button type="button" id="btn_excluir_lancamentos" class="btn btn-danger">
                        Excluir Lançamentos Selecionados
                    </button>
                </div>
            </div>
        </div>
        <div class="row-fluid">
            <table class="backgrid backgrid-selectall table table-striped table-bordered table-hover">
                <thead>
                <tr>
                    <th><input type="checkbox" id="chk_all_lancamentos"></th>
                    <th>#</th>
                    <th>Meio de Pagamento</th>
                    <th>Responsável Financeiro</th>
                    <th>Tipo</th>
                    <th>Valor Parcela</th>
                    <th>Vencimento Parcela</th>
                    <th style="width: 80px;">Link para Pagamento</th>
                </tr>
                </thead>
                <tbody id="lista-lancamentos-venda">
                </tbody>
            </table>
        </div>
        <div class="row-fluid">
            <label class="span3"></label>
            <label class="span3"></label>
            <label class="span3">
                Valor Restante:
                <div class="control-group" id="divNuValorRestante">
                    <div class="controls">
                        <div class="input-prepend span12">
                            <span class="add-on">R$</span>
                            <input id="nu_valorrestante" class="span6" type="text" name="nu_valorrestante"
                                   value="<%= nu_valor %>" readonly disabled>
                        </div>
                    </div>
                </div>
            </label>
            <label class="span3">
                Total Lançamentos:
                <div class="control-group" id="divNuTotalLancamento">
                    <div class="controls">
                        <div class="input-prepend span12">
                            <span class="add-on">R$</span>
                            <input id="nu_totallancamento" class="span6" type="text" name="nu_totallancamento" readonly
                                   disabled>
                        </div>
                    </div>
                </div>
            </label>
        </div>
    </div>
</script>

<script id="botoes-gerais-layout" type="text/template">
    <div id="modal-grade-region"></div>
    <div id="modal-lancamentos-region"></div>
    <div class="well">
        <div class="row-fluid text-right">
            <div class="span12">
                <button id="btn-modal-lancamentos" class="btn btn-warning" type="button">
                    Consultar Lançamentos
                </button>
                <button id="btn-efetivar-transferencia" class="btn btn-success" type="button">
                    Efetivar Transferência
                </button>
            </div>
        </div>
    </div>
</script>

<script id="popover-calculos-composite" type="text/template">
    <div class="row-fluid">
        <label class="span12">
            <legend class="span12"><b>Cálculo Final</b></legend>
        </label>
    </div>
    <div class="row-fluid bodyCalculos">
        <p>
            <span style="color: #6d0101">Vlr transferência</span> <b>=</b>
            <span style="color: #00A000">(Vlr curso destino - Campanha comercial)</span> <b>-</b>
            <span style="color: #00a0d1">(Vlr negociado origem</span> <b>-</b>
            <span style="color: #0b3e6f">(∑ Dis. origem selecionada x Vlr negociado origem</span> <b>/</b>
            <span style="color: #0b3e6f">C.H. P.P. origem - C.H. TCC origem)</span>
            <span style="color: #00a0d1">)</span>
        </p>
        <br>
        </p>
        <p>
        <h4><b>Legenda:</b></h4>
        </p>
        <p><span style="color: #00A000"><b>Campanha comercial:</b></span>
            Aplicar o valor do desconto concedido no curso de origem no curso de destino.
        </p>
        <p><span style="color: #00a0d1"><b>Valor negociado origem:</b></span>
            Valor pago pelo aluno no curso de origem (o curso selecionado para a transferência de curso).
        </p>
        <p><span style="color: #0b3e6f"><b>∑ Disc origem selecionada:</b></span>
            Somatório da carga horária da disciplina selecionada.
        </p>
        <p><span style="color: #0b3e6f"><b>C.H. P.P. origem:</b></span>
            Carga horária do Projeto Pedagógico de origem (o curso selecionado para a transferência de curso).
        </p>
        <p><span style="color: #0b3e6f"><b>C.H. TCC origem:</b></span>
            Carga horária da disciplina Trabalho de Conclusão do Curso (TCC).
        </p>
    </div>
</script>

<script id="modal-grade-template" type="text/template">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 class="modal-title">Grade Curricular</h3>
    </div>
    <div class="modal-body">
        <div class="table-responsive">
            <table class="table table-bordered table-striped backgrid table-hover">
                <thead>
                <tr>
                    <th>Disciplina</th>
                    <th>Sala de Aula</th>
                    <th>Início</th>
                    <th>Término</th>
                </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
    <div class="modal-footer">
        <div class="pull-left">
            As salas <b>(<%= nu_contador %>)</b> que estão na cor <b class="text-success">verde</b> serão mantidas.
        </div>
        <button class="btn" type="button" data-dismiss="modal">
            Voltar
        </button>
        <button id="btn-salvar-transferencia" class="btn btn-success" type="button" data-dismiss="modal">
            Confirmar
        </button>
    </div>
</script>


<script id="modal-lancamentos-composite" type="text/template">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 class="modal-title">Lançamentos</h3>
    </div>
    <div class="modal-body">
        <div class="table-responsive">
            <table class="table table-bordered table-striped backgrid table-hover">
                <thead>
                <tr>
                    <th>Nº Parcelas</th>
                    <th>Meio de Pagamento</th>
                    <th>Valor</th>
                    <th>Vencimento</th>
                    <th>Valor baixado</th>
                    <th>Data da Baixa</th>
                    <th>Situação</th>
                </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</script>

<script id="modal-lancamentos-view" type="text/template">
    <td><%= nu_ordem %></td>
    <td><%= st_meiopagamento %></td>
    <td><%= nu_valorliquido %></td>
    <td><%= dt_vencimento %></td>
    <td><%= nu_quitado %></td>
    <td><%= dt_quitado %></td>
    <td><%= (bl_quitado) == 1 ? 'Pago' : 'Pendente' %></td>
</script>

<!-- MAIN REGION -->
<div id="layout-region">
    <div id="autocomplete-region" class="row-fluid"></div>
    <div id="form-region"></div>
    <div id="salas-region"></div>
    <div id="financeiro-region"></div>
    <div id="botoes-gerais-region"></div>
</div>


<!-- Componente Auto Complete -->
<link rel="stylesheet" type="text/css" href="<?php echo $this->baseUrl(); ?>/css/auto-complete-pessoa.css"/>
<script type="text/javascript" src="<?php echo $this->baseUrl(); ?>/js/auto-complete-componente.js"></script>
<?php echo $this->render('/util/auto-complete-pessoa.phtml'); ?>
<script type="text/javascript">
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });

    $('#htmlContent script[type="text/template"]').appendTo($('#templateHolder'));
    //    $('#templateHolder').empty().append($('#htmlContent script[type="text/template"]'));
    <?php echo $this->render('/transfere-projeto/index.js') ?>
</script>