<script id="layout-regions" type="text/template">
    <div id="container-pesquisa" class="content"></div>
    <div id="container-lista-alunos" class="content" style="padding-top: 20px;"></div>
</script>

<script type="text/javascript">$('#htmlContent script[type="text/template"]').appendTo($('#templateHolder'));</script>
<script type="text/javascript" src="/conclusao/js" async></script>