<?php
if ($this->dadosDetalhe->tipo == 1) {
    ?>
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4>
            <?php
            echo $this->dadosDetalhe->mensagem['vw_salaconfiguracao']->st_saladeaula;
            ?>
        </h4>
    </div>
    <div class="modal-body">
        <h5>Quantitativos</h5>
        <table class="table">
            <tr>
                <td>
                    Alunos Ativos
                </td>
                <td colspan="2">
                    <?php
                    echo $this->dadosDetalhe->mensagem['vw_salaconfiguracao']->nu_alocados;
                    ?>
                </td>
            </tr>
            <tr>
                <td>
                    Alunos com nota igual ou superior a 70%
                </td>
                <td>
                    <?php
                    echo $this->dadosDetalhe->mensagem['vw_salaconfiguracao']->nu_maiornota;
                    ?>
                </td>
                <td>
                    <?php
                    echo $this->dadosDetalhe->mensagem['vw_salaconfiguracao']->st_justificativaacima;
                    ?>
                </td>
            </tr>
            <tr>
                <td>
                    Alunos com nota inferior a 70%
                </td>
                <td>
                    <?php
                    echo $this->dadosDetalhe->mensagem['vw_salaconfiguracao']->nu_menornota;
                    ?>
                </td>
                <td>
                    <?php
                    echo $this->dadosDetalhe->mensagem['vw_salaconfiguracao']->st_justificativaabaixo;
                    ?>
                </td>
            </tr>
            <tr>
                <td>
                    Alunos sem nota
                </td>
                <td colspan="2">
                    <?php
                    echo $this->dadosDetalhe->mensagem['vw_salaconfiguracao']->nu_semnota;
                    ?>
                </td>
            </tr>
            <tr>
                <td>
                    Alunos com acesso
                </td>
                <td colspan="2">
                    <?php
                    echo $this->dadosDetalhe->mensagem['vw_salaconfiguracao']->nu_acesso;
                    ?>
                </td>
            </tr>
            <tr>
                <td>
                    Alunos sem acesso
                </td>
                <td colspan="2">
                    <?php
                    echo $this->dadosDetalhe->mensagem['vw_salaconfiguracao']->nu_semacesso;
                    ?>
                </td>
            </tr>
            <?php
            $pontos_positivos = $this->dadosDetalhe->mensagem['vw_salaconfiguracao']->st_pontospositivos;
            $pontos_negativos = $this->dadosDetalhe->mensagem['vw_salaconfiguracao']->st_pontosnegativos;
            $pontos_melhorar = $this->dadosDetalhe->mensagem['vw_salaconfiguracao']->st_pontosmelhorar;
            $pontos_resgate = $this->dadosDetalhe->mensagem['vw_salaconfiguracao']->st_pontosresgate;
            $pontos_conclusoesfinais = $this->dadosDetalhe->mensagem['vw_salaconfiguracao']->st_conclusoesfinais;
            ?>
        </table>
        <hr/>
        <h5>Observações</h5>
        <h6>Pontos positivos</h6>
        <?php echo ($pontos_positivos != null) ? $pontos_positivos : 'Pontos positivos não cadastrado'; ?>
        <h6>Pontos negativos</h6>
        <?php echo ($pontos_negativos != null) ? $pontos_negativos : 'Pontos negativos não cadastrado'; ?>
        <h6>Pontos a melhorar</h6>
        <?php echo ($pontos_melhorar != null) ? $pontos_melhorar : 'Pontos a melhorar não cadastrado'; ?>
        <h6>Pontos relacionados ao resgate / recuperação</h6>
        <?php echo ($pontos_resgate != null) ? $pontos_resgate : 'Pontos ao resgate / recuperação não cadastrado'; ?>
        <h6>Conclusões finais</h6>
        <?php echo ($pontos_conclusoesfinais != null) ? $pontos_conclusoesfinais : 'Pontos a melhorar não cadastrado'; ?>
        <hr/>
        <table class="table">
            <tr>
                <th>Aluno</th>
                <th>Nota Final</th>
                <th>Coordenador</th>
                <th>Pedagógico</th>
                <th>Financeiro</th>
                <th>Pagamento</th>
            </tr>
            <?php
            if ($this->dadosDetalhe->mensagem['vw_encerramentoalunos'] != null) {


                foreach ($this->dadosDetalhe->mensagem['vw_encerramentoalunos'] as $vw_encerramentoaluno) {
                    ?>
                    <tr>
                        <td><?php echo($vw_encerramentoaluno->st_nomecompleto != null ? $vw_encerramentoaluno->st_nomecompleto : " - "); ?></td>
                        <td><?php echo($vw_encerramentoaluno->st_nota != null ? $vw_encerramentoaluno->st_nota : " - "); ?></td>
                        <td><?php echo($vw_encerramentoaluno->dt_encerramentoprofessor != null ? $vw_encerramentoaluno->dt_encerramentoprofessor : " - "); ?></td>
                        <td><?php echo($vw_encerramentoaluno->dt_encerramentocoordenador != null ? $vw_encerramentoaluno->dt_encerramentocoordenador : " - "); ?></td>
                        <td><?php echo($vw_encerramentoaluno->dt_encerramentopedagogico != null ? $vw_encerramentoaluno->dt_encerramentopedagogico : " - "); ?></td>
                        <td><?php echo($vw_encerramentoaluno->dt_encerramentofinanceiro != null ? $vw_encerramentoaluno->dt_encerramentofinanceiro : " - "); ?></td>
                    </tr>
                <?php
                }
            } else {
                ?>
                <tr>
                    <td colspan="6">Nenhum aluno encontrado para essa sala</td>
                </tr>
            <?php
            }
            ?>
        </table>
    </div>
    <div class="modal-footer"></div>
<?php
} else {
    echo 'teste';
}

?>