    <div class="row">
        <form method="post" action="" id="form-busca" name="form-busca">
            <div class="input-group">
                <input type="text" name="st_busca" id="st_busca" class="form-control" placeholder="Pesquisar por...">
      <span class="input-group-btn">
        <button class="btn btn-default" type="submit">Pesquisar!</button>
      </span>
            </div>
        </form>
        <br>

        <div class="clearfix"></div>
    </div>
<?php if ($this->dados->getType() != Ead1_IMensageiro::TYPE_SUCESSO): ?>
    <div class="alert alert-info" role="alert"><?php echo $this->dados->getText(); ?></div>
<?php else: ?>
    <div class="row" id="lista-perguntas-frequentes">
        <ul class="nav nav-tabs nav-pills nav-stacked col-md-2" role="tablist">
            <?php foreach ($this->dados->getMensagem() as $key => $categoria): ?>
                <li role="presentation" class="<?php echo $key == 0 ? 'active' : ''; ?>">
                    <a href="#<?php echo $categoria['id_categoriapergunta']; ?>"
                       aria-controls="<?php echo $categoria['id_categoriapergunta']; ?>" role="tab" data-toggle="tab">
                        <?php echo $categoria['st_categoriapergunta']; ?>
                    </a>
                </li>
            <?php endforeach; ?>
        </ul>
        <div class="tab-content col-md-10">
            <?php foreach ($this->dados->getMensagem() as $key => $categoria): ?>
                <div role="tabpanel" class="tab-pane <?php echo $key == 0 ? 'active' : ''; ?>"
                     id="<?php echo $categoria['id_categoriapergunta']; ?>">
                    <?php
                    if ($categoria['perguntas']):

                        ?>
                        <div class="panel-group" id="accordion<?php echo $categoria['id_categoriapergunta']; ?>"
                             role="tablist" aria-multiselectable="false">
                            <?php foreach ($categoria['perguntas'] as $i => $pergunta): ?>

                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab"
                                         id="heading<?php echo $pergunta['id_pergunta']; ?>">
                                        <h4 class="panel-title">
                                            <a role="button" data-toggle="collapse" data-parent="#accordion"
                                               href="#collapse<?php echo $pergunta['id_pergunta']; ?>"
                                               aria-expanded="false"
                                               aria-controls="collapse<?php echo $pergunta['id_pergunta']; ?>">
                                                <?php echo $i + 1; ?> - <?php echo nl2br($pergunta['st_pergunta']); ?>
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapse<?php echo $pergunta['id_pergunta']; ?>"
                                         class="panel-collapse collapse in" role="tabpanel"
                                         aria-labelledby="heading<?php echo $pergunta['id_pergunta']; ?>">
                                        <div class="panel-body">
                                            <?php echo nl2br($pergunta['st_resposta']); ?>
                                        </div>
                                    </div>
                                </div>
                            <?php endforeach; ?>

                        </div>
                        <?php
                    endif;
                    ?>
                </div>
            <?php endforeach; ?>
        </div>
        <div class="clearfix"></div>
        <br>
    </div>
<?php endif; ?>