<script type="text/template" id="template-importacao-sala-referencia">

    <div class="well">
        <div class="row-fluid">
            <fieldset>
                <legend>Importação de Sala de Referência</legend>
            </fieldset>
        </div>

        <div class="row-fluid">
            <form method="post" enctype="multipart/form-data" id="form-enviar-dados" class="clearfix">

                <div class="span3">
                    <h4>Moodle de Origem</h4>
                    <select id="select-moodle-origem" name="select-moodle-origem" class="span12" required>
                        <option value="">Selecione</option>
                    </select>
                </div>


                <div class="span3">
                    <h4>Moodle de Destino</h4>
                    <select id="select-moodle-destino" name="select-moodle-destino" class="span12" required disabled>
                        <option value="">Selecione o moodle de origem</option>
                    </select>
                </div>

                <div class="span3">
                    <input type="file" title="Escolha o arquivo" id="arquivoXLS" name="arquivoXLS">
                </div>

                <div class="span3">
                    <input type="submit" class="pull-right btn btn-default btn-success" value="Importar arquivo"
                           id="submitForm"/>
                </div>

            </form>
        </div>
    </div>
</script>


<script type="text/javascript">
    $('#htmlContent script[type="text/template"]').appendTo($('#templateHolder'));
    <?php echo $this->render("/sala-de-aula/ComponenteSelectMoodle.js"); ?>
    <?php echo $this->render("/importacao-sala-referencia/index.js"); ?>
</script>