<!DOCTYPE html>
<meta charset="ISO-8859-1">
<html>
    <head>  
        <style type="text/css">
            body{
                margin:0;
                padding:0;
                text-align:center; /* hack para o IE */ 
            }
            .all{
                /*border: 1px solid;*/
                padding: 1px 1px 1px 1px;
                width: 950px;
                margin:0 auto;         
                text-align:left; /* "remédio" para o hack do IE */  
            }
            #btn-print{
                text-align: right;
            }
            .div{
                /*border-radius: 5px;*/
                border: 1px solid #000;
                border-top: none;
                padding: 5px 0 5px 5px;
            }
            .div:first-of-type{
                border-top: 1px solid #000;
            }
            #bottom{
                color: #777777;
            }
            .table{
                width: 100%;
            }
            .table #tr td{
                border-bottom: solid 1px #000;
                padding: 15px;
            }
            .div-assunto #interessado{
                /*border: 1px solid;*/
                display: inline-block;
            }
            .div-assunto #descricao{
                /*border: 1px solid;*/
                display: inline;
                margin-left: 85%;
            }
        </style>
    </head>
    <body>
        <?php
        if ($this->mensagem):
            echo $this->mensagem;
        else:
            ?>
            <div class="all">
                <div id="head">
                    <table class="table">
                        <tr>
                            <td>
                                <h2>Ocorrência número <?php echo $this->ocorrencia->getId_ocorrencia() ?></h2>
                            </td>
                            <td>
                                <button name="print" onclick="print()">Imprimir</button>
                            </td>
                            <td align="right">
                                <img width="200" src="<?php echo $this->entidade->getSt_urlimglogo() ? $this->entidade->getSt_urlimglogo() : '/img/entidade/logoead1.gif' ?>" title="Logo" />
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="body">
                    <div class="div">
                        <table border="0">
                            <tr align="left">
                                <td width="150"><strong>Número:</strong></td>
                                <td width="300"><?php echo $this->ocorrencia->getId_ocorrencia() ?></td>
                                <td width="100"><strong>Atendente:</strong></td>
                                <td width="300"><?php echo $this->ocorrencia->getSt_nomeresponsavel() ?></td>
                            </tr>
                            <tr>
                                <td><strong>Interessado:</strong></td>
                                <td><?php echo $this->ocorrencia->getSt_nomeinteressado() ?></td>
                                <td><strong>Matrícula:</strong></td>
                                <td><?php echo $this->ocorrencia->getId_matricula() ?></td>
                            </tr>
                            <tr>
                                <td><strong>E-mail:</strong></td>
                                <td><?php echo $this->ocorrencia->getSt_email() ?></td>
                                <td><strong>Telefone:</strong></td>
                                <td><?php echo $this->ocorrencia->getSt_telefone() ?></td>
                            </tr>
                            <tr>
                                <td><strong>Projeto Pedagógico:</strong></td>
                                <td><?php echo $this->ocorrencia->getSt_projetopedagogico() ?></td>
                                <td><strong>Sala:</strong></td>
                                <td><?php echo $this->ocorrencia->getSt_saladeaula() ?></td>
                            </tr>
                        </table>
                    </div>
                    <div class="div">
                        <strong>Título: </strong><?php echo $this->ocorrencia->getSt_titulo() ?>
                        <br>
                    </div>
                    <div class="div">
                        <table class="table">
                            <tr>
                                <td><strong>Assunto: </strong><?php echo $this->ocorrencia->getSt_assuntocopai() ?></td>
                                <td><strong>Subassunto: </strong><?php echo $this->ocorrencia->getSt_assuntoco() ?></td>
                            </tr>
                            <tr>
                                <td><strong>Situação: </strong><?php echo $this->ocorrencia->getSt_situacao() ?></td>
                                <td><strong>Evolução: </strong><?php echo $this->ocorrencia->getSt_evolucao() ?></td>
                            </tr>
                        </table>
                    </div>
                    <div class="div">
                        <br>
                        <strong>Ocorrência: </strong><?php echo $this->ocorrencia->getSt_ocorrencia() ?>
                        <p></p>
                    </div>
                    <div class="div">
                        <div>
                            <strong>Interações: </strong>
                            <p></p>
                        </div>
                        <div>
                            <?php foreach ($this->interacoes as $item => $value): ?>
                                <?php if($value) {?>
                            <hr>
                                <div class="div-assunto">
                                    <div id="interessado"><strong><?php echo $value->getSt_nomecompleto(); ?></strong> em <?php echo $value->getDt_cadastro() ?></div>
                                    <div id="descricao"><strong>Visível:</strong><?php echo $value->getBl_visivel() == 1 ? 'Sim' : 'Não' ?></div>
                                </div>
                                <div>
                                    <?php echo $value->getSt_tramite() ?>
                                </div>
                                <?}else{
                                   echo "Nenhuma interação foi encontrada.";
                                }?>
                            <?php endforeach; ?>
                            <hr>
                            <div>
                                <strong id="bottom">Impressão gerada em <?php echo date('d/m/Y') ?> as <?php echo date('h:m') ?>h</strong>
                            </div>
                        </div>
                    </div>
                    <br>
                </div>
            </div>
        <?php endif; ?>
    </body>
</html>
