<style>
    #box-stocorrencia {
        overflow: auto;
        max-height: 180px;
    }

    /* Definindo todo e qualquer texto de select como text capitalize*/
    select {
        text-transform: capitalize;
    }

    .nav-tabs .active a {
        background-color: #657991 !important;
        color: white !important;
    }

    #txt-interacao {
        overflow: hidden;
    }

    .div-aviso-ocorrencias {
        height: 310px;
        margin-bottom: 20px;
        overflow: auto;
    }

    #div-modal-ocorrencias {
        width: 720px;
        left: 43%
    }

    .div-buttons-actions button {
        margin: 5px 0;
    }

    .grid-relacionadas thead th {
        padding: 2px;
        text-align: center;
    }

    .grid-relacionadas tbody td {
        padding: 2px;
    }

    #container-ocorrencias-relacionadas {
        overflow: auto;
        max-height: 180px;
    }
</style>
<div id="tela-ocorrencias"><!--Dados preenchidos pelo backbone--></div>
<script type="text/template" id="ocorrencia-template-edit">
    <ul class="nav nav-tabs hide">
        <li id="tab-ocorrencia" class="active"><a href="#ocorrencia" data-toggle="tab"><strong>Ocorrência</strong></a>
        </li>
        <li id="tab-prr"><a href="#prr" data-toggle="tab"><strong>PRR</strong></a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="ocorrencia">
            <div class="container-fluid">
                <div class="row-fluid">
                    <div class="span3">
                        <label><b>Número: </b><%=id_ocorrencia%></label>
                    </div>
                    <div class="span3">
                        <label><b>Título: </b><%=st_titulo%></label>
                    </div>
                    <div class="span3">
                        <label><b>Atendente: </b><%=st_atendente%></label>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span3">
                        <label><b>Data Criação: </b><%=st_cadastroocorrencia%></label>
                    </div>
                    <div class="span3">
                        <label><b>Assunto: </b>
                            <%=st_assuntocopai%>
                        </label>
                    </div>
                    <div class="span5">
                        <label><b>Subassunto: </b>
                            <%=st_assuntoco%>
                        </label>
                    </div>
                </div>
                <div class="divider-vertical"></div>
                <div class="row-fluid">
                    <div class="span9" id="box-stocorrencia">
                        <%=st_ocorrencia%>
                    </div>
                    <div class="span3">
                        <div class="row-fluid">
                            <label class="control-label">
                                <strong>Evolução: </strong>

                                <div class="label label-success"><%=st_evolucao%></div>
                                <a class="label label-success">
                                    <i id="btn-editar-evolucao" class="icon-edit icon-white btn-tooltip"
                                       title="Clique para alterar a evolução"></i>
                                </a>
                            </label>
                            <label id="label-cmb-id-evolucao" class="control-label span12 hide">
                                <?php echo $this->formOcorrencia->id_evolucao ?>
                            </label>
                        </div>
                        <div class="row-fluid">
                            <label class="control-label">
                                <strong>Situação: </strong>
                                <label id="label-situacao" class="label label-success">
                                    <strong><%=st_situacao%></strong>
                                </label>
                            </label>
                        </div>
                        <div id="container-ocorrencias-relacionadas" class="row-fluid hide">
                            <fieldset>
                                <legend>Ocorrências Relacionadas</legend>
                            </fieldset>
                            <div id="ocorrencias-relacionadas"></div>
                        </div>
                    </div>
                </div>
                <div class="divider-vertical"></div>
                <div class="row-fluid">
                    <div class="span6">
                        <label class="span12">
                            <b>Interessado:</br> </b><%=st_nomeinteressado%> - <%=st_cpf%>
                            <% if(visibleBtnFixar){ %>
                            <button id="btn-fixar-pessoa"
                            <%= enableBtnFixar ? '':'disabled="disabled"' %> class="btn btn-success
                            btn-mini">Fixar</button>
                            <% } %>
                        </label>
                    </div>
                    <div class="span3">
                        <label><b>E-Mail: </b><%=st_emailinteressado%></label>
                    </div>
                    <div class="span3">
                        <label><b>Telefone: </b><%=st_telefoneinteressado%></label>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span6">
                        <div>
                            <label><b>Projeto Pedagógico: </b><%=st_projetopedagogico%></label>
                        </div>
                    </div>
                    <div class="span6">
                        <div>
                            <label><b>Sala de Aula: </b><%=st_saladeaula%></label>
                        </div>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span6">
                        <div>
                            <label><b>Entidade de Matrícula: </b><%= st_entidadematricula %></label>
                        </div>
                    </div>
                </div>

                <div class="row-fluid">
                    <div class="span6">
                        <div>
                            <label><b>Turma: </b><%=st_tituloexibicao%></label>
                        </div>
                    </div>
                    <div class="span6">
                        <div>
                            <label><b>Coordenador: </b><%=st_coordenadortitular%></label>
                        </div>
                    </div>
                </div>

                <div class="row-fluid">
                    <div id="container-modal-duplicidade"></div>
                    <div class="control-group well well-small div-buttons-actions">
                        <button id="btn-back" type="button" class="btn btn-custom">
                            <i class="icon-step-backward icon-white">
                            </i> Voltar
                        </button>
                        <button disabled="disabled" type="button" id="btn-devolver-dist" class="btn btn-danger hide">
                            <i class="icon-retweet icon-white">
                            </i> Devolver para Distribuição
                        </button>
                        <button disabled="disabled" type="button" id="btn-reabrir" class="btn btn-danger hide">
                            <i class="icon-share icon-white">
                            </i> Reabrir
                        </button>
                        <a target="_blank" href="/ocorrencia/imprimir-ocorrencia/numero/<%=id_ocorrencia%>"
                           class="btn btn-custom">
                            <i class="icon-print icon-white">
                            </i> Imprimir
                        </a>
                        <button disabled="disabled" id="btn-solicitar-enc" type="button" class="btn btn-custom hide">
                            <i class="icon-thumbs-up icon-white">
                            </i> Solicitar Encerramento
                        </button>

                        <button disabled="disabled" id="btn-encerrar" type="button" class="btn btn-danger hide">
                            <i class="icon-remove icon-white">
                            </i> Encerrar
                        </button>
                        <button disabled="disabled" id="btn-save" type="button" class="btn btn-success hide">
                            <i class="icon-ok icon-white">
                            </i> Salvar
                        </button>
                        <% if(visibleBtnAcessarComoAluno){ %>
                        <a id="btn-acessar-como-aluno" type="button" class="btn btn-info" target="_blank" href="">
                            <i class="icon-eye-open icon-white">
                            </i> Acessar como aluno
                        </a>
                        <% } %>
                        <% if (Number(id_tipoocorrencia) == 3) { %>
                        <button id="acompanhadores-toggle" class="btn" type="button">
                            <i class="icon-user"></i>
                            Acompanhadores
                        </button>
                        <% } %>

                        <button disabled="disabled" type="button" class="btn btn-custom hide" id="btn-form-encaminhar"
                                data-toggle="button">
                            <i class="icon-envelope icon-white"></i>
                            Encaminhar
                        </button>
                        <button disabled="disabled" type="button" class="btn btn-primary hide"
                                id="btn-form-novainteracao" data-toggle="button">
                            <i class="icon-plus icon-white">
                            </i> Nova Interação
                        </button>
                        <button id="btn-mais-ocorrencia-usuario" class="btn" type="button" data-toggle="popover"
                                data-placement="right"
                                data-content="Mostra uma janela com outras ocorrências associadas ao usuario interessado desta ocorrência"
                                data-original-title="Dica">
                            <i class="icon-plus-sign"></i> Outras Ocorrências
                        </button>
                        <button disabled="disabled" id="btn-informar-duplicidade" class="btn btn-info hide"
                                type="button" data-toggle="popover" data-placement="right"
                                data-content="Informar duplicidade para ocorrências" data-original-title="Dica">
                            <i class="icon-flag icon-white"></i> Informar duplicidade
                        </button>

                        <button id="servicos-toggle" class="btn" type="button">
                            <i class="icon-wrench"></i>
                            Serviços
                        </button>

                        <% if(visibleBtnTransferenciaCurso) { %>
                        <a id="btn-transferencia-curso" type="button" class="btn btn-warning" target="_blank"
                           href="<?php echo $this->st_url_g2 ?>#/transfere-projeto">
                            Transferência de Curso
                        </a>
                        <% } %>

                        <button id="btn-cancelamento" class="btn btn-info hide" type="button">
                            Processo de Cancelamento
                        </button>

                        <button id="btn-vincular-ocorrencia" class="btn" type="button">
                            <i class="icon-wrench"></i>
                            Vincular Ocorrência
                        </button>

                        <a id="btn-gerar-venda" class="btn" type="button">
                            <i class="icon-wrench"></i>
                            Gerar Venda
                        </a>

                    </div>

                    <div class="modal fade" id="modalOcorrencia" tabindex="-1" role="dialog"
                         aria-labelledby="myModalLabel">
                    </div>

                    <div class="clearfix"></div>
                    <div id="acompanhadores-show" class="row-fluid">
                    </div>

                    <div class="clearfix"></div>
                    <div id="servicos-show" class="row-fluid">
                    </div>

                    </form>
                    <form class="form-inline well well-small hide" id="form-encaminhar">
                        <fieldset>
                            <h4>Encaminhar:</h4>

                            <div class="control-group row-fluid">
                                <label class="control-label span4">
                                    <dt><label>Assunto:</label>
                                        <select class="span12" id="id_assuntocopai" <%=(Number(id_funcao) == 10) ?
                                        'disabled="disabled"' : ''%>>
                                        <option val="">--</option>
                                        </select>
                                    </dt>
                                </label>
                                <label class="control-label span4">
                                    <?php echo $this->formOcorrencia->id_assuntoco ?>
                                </label>
                                <label class="control-label span4">
                                    <dt><label>Atendente:</label>
                                        <select class="span12" id="id_atendente_encaminhar">
                                            <option val="">--</option>
                                        </select>
                                    </dt>
                                </label>
                            </div>
                            <div class="control-group row-fluid hide" id="form-copiaencaminhar">
                                <label class="control-label span4">Assunto:
                                    <select class="span12" id="id_assuntocopai_copia" name="id_assuntocopai_copia"
                                            disabled="disabled">
                                        <option value="">--</option>
                                    </select>
                                </label>
                                <label class="control-label span4">SubAssunto:
                                    <select class="span12" id="id_assuntoco_copia" name="id_assuntoco_copia"
                                            disabled="disabled">
                                        <option value="">--</option>
                                    </select>
                                </label>
                                <label class="control-label span4">Atendente:
                                    <select class="span12" id="id_atendente_copia" name="id_assuntoco_copia"
                                            disabled="disabled">
                                        <option value="">--</option>
                                    </select>
                                </label>
                            </div>
                            <div class="form-actions">
                                <button type="button" class="btn btn-custom" id="btn-encaminhar">
                                    <i class="icon-white icon-ok-sign"></i>
                                    Encaminhar
                                </button>
                                &nbsp
                                <label class="checkbox">
                                    <input type="checkbox" id="checkbox-copiaencaminhar" class=""
                                           data-toggle="buttons-checkbox">
                                    Enviar Cópia
                                </label>
                            </div>
                        </fieldset>
                    </form>
                    <form class="form-inline well well-small hide" id="form-novainteracao" enctype="multipart/form-data"
                          method="post">
                        <fieldset class="controls controls-row">
                            <div class="span9" id="text-input">
                                <textarea id="txt-interacao" name="st_tramite" class="span12" rows="5"></textarea>
                            </div>
                            <div class="span3 controls controls-row">
                                <div class="span12">
                                    <label class="control-label">Visível ao Interessado: </label>

                                    <div class="form-inline">
                                        <label class="radio">
                                            <input type="radio" name="bl_visivel" class="check-bl-visivel" value="1">Sim
                                        </label>
                                        <label class="radio">
                                            <input type="radio" name="bl_visivel" class="check-bl-visivel" value="0">Não
                                        </label>
                                    </div>
                                </div>
                                <div class="span11 control-label well well-small">
                                    <input name="arquivo" type="file">

                                    <div class="progress progress-striped box-bar-progress hide">
                                        <div class="bar" id="upload-progress"></div>
                                    </div>
                                </div>
                                <div class="pull-left">
                                    <button type="button" id="btn-gerar-interacao" class="btn btn-custom">Gerar
                                        Interação </i></button>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                    <div id="painel-ocorrencias-relacionadas" class="row-fluid">
                        <div class="row-fluid" id="div-ocorrencias-relacionadas">
                            <!--Conteudo preenchido pelo Backgrid--></div>
                        <hr>
                    </div>
                    <div class="row-fluid" id="painel-interacoes">
                        <div class="well well-small span12">
                            <fieldset>
                                <legend>Interações:</legend>
                            </fieldset>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="prr"></div>
        <input id="id_usuario" type="hidden" name="id_usuario" value="<?php echo $this->id_usuario ?>">
        <input id="st_nomeusuario" type="hidden" name="st_usuario" value="<?php echo $this->st_nomeusuario ?>">
    </div>
</script>

<script type="text/template" id="modal-ocorrencia-vinculada">
    <div class="modal-dialog  modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body">

                <form class="form-inline well well-small" id="form-nova-ocorrencia" enctype="multipart/form-data"
                      method="post">
                    <fieldset>

                        <div class="row-fluid">
                            <div class="span10">
                                <label class="row-fluid">
                                    <div class="span5">
                                        Tipo de Ocorrência:
                                    </div>
                                    <div class="span7">
                                        <select id="tipo-ocorrencia-holder"></select>
                                    </div>
                                </label>
                                <label class="row-fluid">
                                    <div class="span5">
                                        Assunto:
                                    </div>
                                    <div class="span7">
                                        <select id="assunto-holder"></select>
                                    </div>
                                </label>
                                <label class="row-fluid">
                                    <div class="span5">
                                        Sub-Assunto:
                                    </div>
                                    <div class="span7">
                                        <select id="sub-assunto-holder"></select>
                                    </div>
                                </label>
                                <label class="row-fluid">
                                    <div class="span5">
                                        Título da ocorrência
                                    </div>
                                    <div class="span7">
                                        <input id="st_tituloocorrencia" type="text">
                                    </div>
                                </label>
                            </div>
                        </div>

                        <div class="row-fluid">
                            <div class="span12" id="text-input">
                                <label>Texto:</label>
                                <textarea id="txt-ocorrencia" name="st_tramite" class="span12" rows="5"></textarea>
                            </div>
                        </div>
                        <div class="row-fluid">
                            <div class="span12 controls controls-row">
                                <div class="clearfix control-label well well-small">
                                    <label>Anexo: </label>
                                    <input name="arquivo" type="file">

                                    <div class="progress progress-striped box-bar-progress hide">
                                        <div class="bar" id="upload-progress-ocorrencia"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </form>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-custom" id="gravar-ocorrencia-vinculada">Gerar Ocorrencia
                </button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</script>
<script type="text/template" id="ocorrencia-template-list">
    <form id="form-search-filter" method="post">
        <fieldset class="filtro-funcao">
            <div class="well">
                <legend>Organização</legend>
                <div class="row-fluid">
                    <label class="span6 hide label-entidade">
                        <?php echo $this->formPesquisa->id_entidade ?>
                    </label>
                    <label class="span6">
                        <?php echo $this->formPesquisa->id_funcao ?>
                    </label>
                </div>
            </div>
        </fieldset>
        <fieldset class="filtro-ocorrencia">
            <div class="well">
                <legend>Dados da Ocorrência</legend>
                <div class="row-fluid">
                    <label class="span6">
                        <?php echo $this->formPesquisa->st_nomeinteressado ?>
                    </label>
                    <label class="span6">
                        <?php echo $this->formPesquisa->st_emailinteressado ?>
                    </label>
                </div>

                <div class="row-fluid">
                    <label class="span3">
                        <?php echo $this->formPesquisa->id_ocorrencia ?>
                    </label>

                    <div class="span3">
                        <button class="btn pull-right" id="btn-selecione-me" type="button"
                                title="Selecionar o meu usuário" style="margin-top: 25px;">
                            <i class="icon-user"/>
                        </button>
                        <label style="margin-right: 40px;">
                            <?php echo $this->formPesquisa->id_atendente ?>
                        </label>
                    </div>
                    <label class="span3">
                        <?php echo $this->formPesquisa->id_assuntocopai ?>
                    </label>
                    <label class="span3">
                        <?php echo $this->formPesquisa->id_assuntoco ?>
                    </label>
                </div>
                <div class="row-fluid">
                    <div class="span3">
                        <label class="span6">
                            <?php echo $this->formPesquisa->dt_cadastroocorrencia_inicio ?>
                        </label>
                        <label class="span6">
                            <?php echo $this->formPesquisa->dt_cadastroocorrencia_fim ?>
                        </label>
                    </div>
                    <div class="span3">
                        <label for="hr_inicio">Horário de Criação</label>

                        <div class="row-fluid">
                            <label class="span6">
                                <span class="btn pull-right"><i class="icon-time"></i></span>

                                <div style="margin-right: 40px">
                                    <input id="hr_inicio" class="span12 timepicker" type="text" name="hr_inicio"/>
                                </div>
                            </label>
                            <label class="span6">
                                <span class="btn pull-right"><i class="icon-time"></i></span>

                                <div style="margin-right: 40px">
                                    <input class="span12 timepicker" type="text" name="hr_fim" id="hr_fim"/>
                                </div>
                            </label>
                        </div>
                    </div>
                    <label class="span2">
                        <?php echo $this->formPesquisa->id_evolucao ?>
                    </label>
                    <label class="span2">
                        <?php echo $this->formPesquisa->id_situacao ?>
                    </label>
                </div>

                <div class="row-fluid">
                    <div class="pull-right marginT20">
                        <label id="qnt" class="badge badge-inverse"></label>
                        <button id="btn-pesquisar" class="btn btn-custom" type="submit">
                            <i class="icon-search icon-white"></i>
                            Pesquisar
                        </button>
                    </div>
                </div>
            </div>
        </fieldset>
        <div id="gerar-xls" class="row-fluid hide">
            <div class="pull-right marginT20">
                <label id="qnt" class="badge badge-inverse"></label>
                <button id="btn-imprimir-xls" class="btn" type="button">
                    <i class="icon icon-download"></i>
                    Exportar XLS
                </button>
            </div>
        </div>
    </form>
    <div id="data-ocorrencia"><!--Conteudo preenchido pelo backgrid--></div>
    <input id="id_usuario" type="hidden" name="id_usuario" value="<?php echo $this->id_usuario ?>">
    <form id="download-ocorrencias" action="#" target="_blank" method="post"></form>
</script>


<script type="text/template" id="acompanhadores-list-template">
    <div style="border: 1px solid #AAAAAA; max-height: 120px; overflow: auto;">
        <table class="table table-striped table-hover" style="margin: 0;">
            <tbody></tbody>
        </table>
    </div>
</script>


<script type="text/template" id="acompanhadores-template">
    <fieldset>
        <legend>Acompanhadores</legend>
    </fieldset>

    <div id="acompanhadores-added" class="row-fluid">
    </div>

    <div class="row-fluid">
        <input class="span12" id="acompanhadores-search" type="text" placeholder="Pesquisar Pessoas">
    </div>
    <div class="row-fluid" id="acompanhadores-list">
    </div>
</script>

<script type="text/template" id="template-modal-duplicidade">
    <div id="modal-duplicidade" class="modal hide fade">
        <form id="form-duplicidade" name="form-duplicidade" action="" method="post">
            <input type="hidden" name="id_ocorrencia" value="<%=id_ocorrencia%>">
            <input type="hidden" name="st_ocorrencia" value="<%=st_ocorrencia%>">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4>Informar duplicidade</h4>
            </div>
            <div class="modal-body">
                <div class="row-fluid">
                    <label class="text-justify">
                        Ao informar duplicidade de assunto, será criada uma nova ocorrência que
                        será encaminhada para os responsáveis. Essa ocorrência continuará com o
                        atendente atual para dar prosseguimento no atendimento.
                        Por favor informe:
                    </label>

                </div>
                <div class="row-fluid">
                    <br>
                    <label>
                        Qual(is) a(s) solicitação(ões) que NÃO será(ão) tratada(s) nessa ocorrência
                        <input type="text" name="st_naotratada" class="span12" required>
                    </label>
                    <label>
                        Qual(is) a(s) solicitação(ões) que será(ão) tratada(s) nessa ocorrência
                        <input type="text" name="st_tratada" class="span12" required>
                    </label>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn" data-dismiss="modal" aria-hidden="true">Cancelar</button>
                <button type="submit" class="btn btn-success"><i class="icon icon-ok icon-white"></i> Salvar</button>
            </div>
        </form>
    </div>
</script>


<!-- TEC-239 -->
<style>
    #tela-ocorrencias .well {
        background-color: #F5F5F5;
    }

    #painel-interacoes thead th:first-child {
        /*ID*/
        width: 10px;
    }

    #painel-interacoes thead th:first-child + th {
        /*Pessoa*/
        width: 15%;
    }

    #painel-interacoes thead th:first-child + th + th {
        /*Cadastro*/
        width: 90px;
    }

    #painel-interacoes thead th:first-child + th + th + th + th {
        /*Anexo*/
        width: 20px;
    }

    #painel-interacoes thead th:last-child {
        /*Visível*/
        width: 90px;
    }

    .bootstrap-timepicker {
        position: relative
    }

    .bootstrap-timepicker.pull-right .bootstrap-timepicker-widget.dropdown-menu {
        left: auto;
        right: 0
    }

    .bootstrap-timepicker.pull-right .bootstrap-timepicker-widget.dropdown-menu:before {
        left: auto;
        right: 12px
    }

    .bootstrap-timepicker.pull-right .bootstrap-timepicker-widget.dropdown-menu:after {
        left: auto;
        right: 13px
    }

    .bootstrap-timepicker .add-on {
        cursor: pointer
    }

    .bootstrap-timepicker .add-on i {
        display: inline-block;
        width: 16px;
        height: 16px
    }

    .bootstrap-timepicker-widget.dropdown-menu {
        padding: 2px 3px 2px 2px
    }

    .bootstrap-timepicker-widget.dropdown-menu.open {
        display: inline-block
    }

    .bootstrap-timepicker-widget.dropdown-menu:before {
        border-bottom: 7px solid rgba(0, 0, 0, 0.2);
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
        content: "";
        display: inline-block;
        left: 9px;
        position: absolute;
        top: -7px
    }

    .bootstrap-timepicker-widget.dropdown-menu:after {
        border-bottom: 6px solid #fff;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        content: "";
        display: inline-block;
        left: 10px;
        position: absolute;
        top: -6px
    }

    .bootstrap-timepicker-widget.timepicker-orient-left:before {
        left: 6px
    }

    .bootstrap-timepicker-widget.timepicker-orient-left:after {
        left: 7px
    }

    .bootstrap-timepicker-widget.timepicker-orient-right:before {
        right: 6px
    }

    .bootstrap-timepicker-widget.timepicker-orient-right:after {
        right: 7px
    }

    .bootstrap-timepicker-widget.timepicker-orient-top:before {
        top: -7px
    }

    .bootstrap-timepicker-widget.timepicker-orient-top:after {
        top: -6px
    }

    .bootstrap-timepicker-widget.timepicker-orient-bottom:before {
        bottom: -7px;
        border-bottom: 0;
        border-top: 7px solid #999
    }

    .bootstrap-timepicker-widget.timepicker-orient-bottom:after {
        bottom: -6px;
        border-bottom: 0;
        border-top: 6px solid #fff
    }

    .bootstrap-timepicker-widget a.btn, .bootstrap-timepicker-widget input {
        border-radius: 4px
    }

    .bootstrap-timepicker-widget table {
        width: 100%;
        margin: 0
    }

    .bootstrap-timepicker-widget table td {
        text-align: center;
        height: 30px;
        margin: 0;
        padding: 2px
    }

    .bootstrap-timepicker-widget table td:not(.separator) {
        min-width: 30px
    }

    .bootstrap-timepicker-widget table td span {
        width: 100%
    }

    .bootstrap-timepicker-widget table td a {
        border: 1px transparent solid;
        width: 100%;
        display: inline-block;
        margin: 0;
        padding: 8px 0;
        outline: 0;
        color: #333
    }

    .bootstrap-timepicker-widget table td a:hover {
        text-decoration: none;
        background-color: #eee;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        border-color: #ddd
    }

    .bootstrap-timepicker-widget table td a i {
        margin-top: 2px;
        font-size: 18px
    }

    .bootstrap-timepicker-widget table td input {
        width: 25px;
        margin: 0;
        text-align: center
    }

    .bootstrap-timepicker-widget .modal-content {
        padding: 4px
    }

    @media (min-width: 767px) {
        .bootstrap-timepicker-widget.modal {
            width: 200px;
            margin-left: -100px
        }
    }

    @media (max-width: 767px) {
        .bootstrap-timepicker {
            width: 100%
        }

        .bootstrap-timepicker .dropdown-menu {
            width: 100%
        }
    }
</style>


<script id="table-servicos" type="text/template">
    <div id="container-servicos">
        <div class="span12">
            <div class="span12">
                <h4>Serviços:</h4>
            </div>
            <div class="span4">
                <label for="">Nº Rastreio:</label>
                <input type="text" class="span6" id="st_codigorastreio" value=<%= st_codigorastreio %>>
                <button class="span3 btn btn-success pull-right" id="btn_salvarRastreio">Salvar</button>
            </div>

            <table class=" table table-bordered table-striped backgrid">
                <thead>
                <tr>
                    <th>Serviços</th>
                    <th>Valor</th>
                    <th>Evolução</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                </tbody>
                <tfoot>
                <th colspan="1" style="text-align: right">TOTAL</th>
                <th id="totalMatriculas" colspan="3">R$ <%= totalProdutos %></th>
                </tfoot>
            </table>
        </div>
    </div>
</script>

<script id="row-servicos" type="text/tamplate">
    <td><%= st_produto %> </td>
    <td><% if(bl_gratuito || nu_valorproduto == 0){ %> Gratuito<% }else{%>R$ <%=nu_valorproduto %><%}%></td>
    <td><% if(bl_gratuito){ %> Liberado para Impressão <% }else{ %>
      <select class="span12" name="id_situacao_servico_combo" id="id_situacao_servico_combo">
                <option value="" selected >Selecione</option>
                <option <%if(id_situacao == 174){%> selected <%}%> value="174" >Disponível na Secretaria</option>
                <option <%if(id_situacao == 80){%> selected <%}%>value="80" >Entregue</option>
                <option <%if(id_situacao == 173){%> selected <%}%>value="173" >Enviado</option>
                <option <%if(id_situacao == 175){%> selected <%}%> value="175" >Liberado para Impressão</option>
                <option <%if(id_situacao == 79){%> selected <%}%> value="79" >Pendente</option>
            </select>
            <%}%>
    </td>
    <td style="text-align: center;">
        <a href="/textos/geracao/?id_textosistema=<%= id_textosistema %>&arrParams[id_matricula]=<%= id_matricula %>&type=pdf&filename=Declaracao"
           class="btn btn-small" title="Download do arquivo em PDF" target="_blank">
           <i class="icon icon-download"></i>
       </a>
   </td>








</script>

<script id="no-service" type="text/tamplate">
    <td colspan = 4>Nenhum serviço encontrado!</td>
</script>

<script type="text/javascript" src="/js/MensagensG2.js" async></script>
<script type="text/javascript">$('#templateHolder').empty().append($('#htmlContent script[type="text/template"]'));</script>
<script type="text/javascript" src="<?php echo $this->url() ?>/js" async></script>
