<?php
function getContrast50($hexcolor)
{
    if ($hexcolor) {
        return (base_convert($hexcolor, 16, 10) > 0xffffff / 2) ? '000000' : 'ffffff';
    } else {
        return '000000';
    }
}

?>
<div id="container-boletos-abertos">
    <div>
        <table class="backgrid table table-bordered table-hover table-striped" id="table-ocorrencia-retorno"
               width="100%" border="1" cellspacing="2" cellpadding="3" style="border: 1px solid #dddddd;">
            <thead>
            <tr>
                <th style="background-color: #657991; border: 1px solid #dddddd; color: #ffffff;">ID</th>
                <th style="background-color: #657991; border: 1px solid #dddddd; color: #ffffff;">
                    <?php echo iconv("UTF-8", "UTF-16LE//IGNORE", 'Entidade de Matrícula'); ?>
                </th>
                <th style="background-color: #657991; border: 1px solid #dddddd; color: #ffffff;">Assunto</th>
                <th style="background-color: #657991; border: 1px solid #dddddd; color: #ffffff;">Subassunto</th>
                <th style="background-color: #657991; border: 1px solid #dddddd; color: #ffffff;">Nome Interessado</th>
                <th style="background-color: #657991; border: 1px solid #dddddd; color: #ffffff;"><?php echo iconv("UTF-8", "UTF-16LE//IGNORE", 'Título'); ?></th>
                <th style="background-color: #657991; border: 1px solid #dddddd; color: #ffffff;">Atendente</th>
                <th style="background-color: #657991; border: 1px solid #dddddd; color: #ffffff;"><?php echo iconv("UTF-8", "UTF-16LE//IGNORE", 'Evolução'); ?></th>
                <th style="background-color: #657991; border: 1px solid #dddddd; color: #ffffff;"><?php echo iconv("UTF-8", "UTF-16LE//IGNORE", 'Situação'); ?></th>
                <th style="background-color: #657991; border: 1px solid #dddddd; color: #ffffff;"><?php echo iconv("UTF-8", "UTF-16LE//IGNORE", 'Data Criação'); ?></th>
                <th style="background-color: #657991; border: 1px solid #dddddd; color: #ffffff;"><?php echo iconv("UTF-8", "UTF-16LE//IGNORE", 'Última Interação'); ?></th>
                <th style="background-color: #657991; border: 1px solid #dddddd; color: #ffffff;">Horas Atraso</th>
                <th style="background-color: #657991; border: 1px solid #dddddd; color: #ffffff;">Dias Aberto</th>
            </tr>
            </thead>

            <?php $id_ocorrencia = null; ?>
            <?php foreach ($this->ocorrencias as $ocorrencia) : ?>
                <?php if ($ocorrencia['id_ocorrencia'] != $id_ocorrencia) : ?>
                    <tr>
                        <td style="background-color: #<?php echo $ocorrencia['st_cor']; ?>; border: 1px solid #dddddd;"><?php echo number_format($ocorrencia['id_ocorrencia'], 0, ',', '.'); ?></td>
                        <td style="background-color: #<?php echo $ocorrencia['st_cor']; ?>; border: 1px solid #dddddd;"><?php echo iconv("UTF-8", "UTF-16LE//IGNORE", $ocorrencia['st_entidadematricula']); ?></td>
                        <td style="background-color: #<?php echo $ocorrencia['st_cor']; ?>; border: 1px solid #dddddd;"><?php echo iconv("UTF-8", "UTF-16LE//IGNORE", $ocorrencia['st_assuntocopai']); ?></td>
                        <td style="background-color: #<?php echo $ocorrencia['st_cor']; ?>; border: 1px solid #dddddd;"><?php echo iconv("UTF-8", "UTF-16LE//IGNORE", $ocorrencia['st_assuntoco']); ?></td>
                        <td style="background-color: #<?php echo $ocorrencia['st_cor']; ?>; border: 1px solid #dddddd;"><?php echo iconv("UTF-8", "UTF-16LE//IGNORE", $ocorrencia['st_nomeinteressado']); ?></td>
                        <td style="background-color: #<?php echo $ocorrencia['st_cor']; ?>; border: 1px solid #dddddd;"><?php echo iconv("UTF-8", "UTF-16LE//IGNORE", $ocorrencia['st_titulo']); ?></td>
                        <td style="background-color: #<?php echo $ocorrencia['st_cor']; ?>; border: 1px solid #dddddd;"><?php echo iconv("UTF-8", "UTF-16LE//IGNORE", $ocorrencia['st_atendente']); ?></td>
                        <td style="background-color: #<?php echo $ocorrencia['st_cor']; ?>; border: 1px solid #dddddd;"><?php echo iconv("UTF-8", "UTF-16LE//IGNORE", $ocorrencia['st_evolucao']); ?></td>
                        <td style="background-color: #<?php echo $ocorrencia['st_cor']; ?>; border: 1px solid #dddddd;"><?php echo iconv("UTF-8", "UTF-16LE//IGNORE", $ocorrencia['st_situacao']); ?></td>
                        <td style="background-color: #<?php echo $ocorrencia['st_cor']; ?>; border: 1px solid #dddddd;"><?php echo iconv("UTF-8", "UTF-16LE//IGNORE", $ocorrencia['st_cadastroocorrencia']); ?></td>
                        <td style="background-color: #<?php echo $ocorrencia['st_cor']; ?>; border: 1px solid #dddddd;"><?php echo iconv("UTF-8", "UTF-16LE//IGNORE", $ocorrencia['st_ultimotramite']); ?></td>
                        <td style="background-color: #<?php echo $ocorrencia['st_cor']; ?>; border: 1px solid #dddddd;"><?php echo iconv("UTF-8", "UTF-16LE//IGNORE", $ocorrencia['nu_horastraso']); ?></td>
                        <td style="background-color: #<?php echo $ocorrencia['st_cor']; ?>; border: 1px solid #dddddd;"><?php echo iconv("UTF-8", "UTF-16LE//IGNORE", $ocorrencia['nu_diasaberto']); ?></td>
                    </tr>
                <?php endif; ?>
                <?php $id_ocorrencia = $ocorrencia['id_ocorrencia']; ?>
            <?php endforeach; ?>
            </tbody>
        </table>
    </div>
</div>