<footer>
    <div class="footer">
        <div class="container">
            <div class="footer-wrapper"></div>
        </div>
        <div class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div class="copyright-text">&copy; 2013 Portal do Aluno | Desenvolvido por EAD1</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

<script src="<?php echo $this->baseUrl; ?>/js/jsnovoportal/_jq.js" type="text/javascript"></script>
<script src="<?php echo $this->baseUrl; ?>/js/jsnovoportal/bootstrap.min.js" type="text/javascript"></script>

<!-- Custom JS -->
<script src="<?php echo $this->baseUrl; ?>/js/jsnovoportal/front.js" type="text/javascript"></script>
<!-- Custom JS -->
</body>
</html>