<footer class="footer-portal">
    <div class="footer">
        <div class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <div class="copyright-text elements-footer">
                            &copy;Todos os direitos Reservados &ndash;
                            <a href="http://www.unyleya.com.br" target="_blank">Unyleya</a>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <?php if (Ead1_Sessao::getSessaoEntidade()->bl_acessoapp) : ?>
                            <div class="copyright-text elements-footer pull-right">
                                <a href="https://itunes.apple.com/us/app/portal-do-aluno/id1037099343?mt=8"
                                   target="_blank">
                                    <img src="../../images/assets/appStore.png" alt="" class="img-app">
                                </a>
                                <a href="https://play.google.com/store/apps/details?id=com.unyleya.portalapp&referrer=utm_source%3Dportal%26utm_content%3DPortal%2520do%2520Aluno%26utm_campaign%3DPortal%2520do%2520Aluno"
                                   target="_blank">
                                    <img src="../../images/assets/playStore.png" alt="" class="img-app">
                                </a>
                            </div>
                        <?php endif; ?>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
</div>

<?php
if (Ead1_Ambiente::getAmbiente() != Ead1_Ambiente::AMBIENTE_PRODUCAO) :
    ?>

    <script src="<?php echo $this->baseUrl; ?>/js/jsnovoportal/_jq.js" type="text/javascript"></script>
    <script src="<?php echo $this->baseUrl; ?>/js/jsnovoportal/_jquery.placeholder.js" type="text/javascript"></script>
    <script src="<?php echo $this->baseUrl; ?>/js/jsnovoportal/bootstrap.min.js" type="text/javascript"></script>

    <!-- remprod -->
    <script type="text/x-handlebars-template" id="css-skin">
        /*
        REMOVE THIS IF YOU DON'T WANT THE COLOR PICKER
        This is used for color picker style customisation, remove it if you don't want the color picker.
        * after you purchase the theme, there is two versions one come with colorpicker and the other come without
        colorpicker.
        */
        /*
        Main Body Background Color
        */
        #wrapper{
        background-color: {{body_bg_color}};
        }

        /* Header Colors */
        .header_wrapper, .top_wrapper{
        background: -webkit-radial-gradient(farthest-side circle at center, {{bottom_header_start_gd_color}} 0%,
        {{bottom_header_end_gd_color}} 100%);
        background: radial-gradient(farthest-side circle at center, {{bottom_header_start_gd_color}} 0%,
        {{bottom_header_end_gd_color}} 100%);
        }
        .top-header{
        background-color: {{top_header_bg_color}};
        }
        .searchbox{
        background-color: {{search_bg_color}};
        }
        .navigation > li > a, .navigation > li > a > i,.sticky-navigation .navigation a {
        color: {{menu_color}} ;
        }

        .navigation > li:hover > a,
        .navigation > li > a:hover,
        .navigation > li > .activelink,.navigation > li:hover > a > i{
        color: {{menu_hover_color}};
        }
        .navigation > li > a:after,
        .navigation > li > .activelink:after {
        background-color: {{sub_menu_border_color}};
        }
        .navigation ul{
        background-color: {{sub_menu_bg_color}};
        border-color: {{sub_menu_border_color}};
        }
        .navigation ul li a{
        color: {{sub_menu_link_color}};
        background-color: {{sub_menu_bg_color}};
        }
        .navigation .icon-arrow-menu{
        color: {{sub_menu_border_color}};
        }
        .navigation ul li:hover > a {
        background-color: {{sub_menu_link_hover_bg_color}};
        color: {{sub_menu_link_hover_color}};
        }
        .navigation .icon-arrow-submenu, .navigation ul li:hover > a i{
        color: {{sub_menu_link_color}};
        }
        .sticky-navigation{
        background-color: {{sticky_menu_bg_color_ie}};
        background-color: {{sticky_menu_bg_color}};
        }
        .h1-page-title{
        color: {{header_page_title_color}};
        }
        .h2-page-desc{
        color: {{header_page_info_color}};
        }
        .breadcrumbs li:last-child {
        color: {{body_link_color}};
        }

        /* Page Content Colors */
        .body-wrapper a, .tab a:hover, accordion .title:hover {
        color: {{body_link_color}};
        }
        .body-wrapper a:hover {
        color: {{body_link_hover_color}};
        }
        .callout-box,.team-member .team-member-content, .feature .feature-content{
        border-color: {{ui_elem_border_color}};
        }
        .team-member-progress-bar{
        background: {{ui_elem_border_color}};
        }
        .tab a.active:after {
        background-color:{{ui_elem_border_color}};
        border-color: {{ui_elem_border_color}};
        }
        .content-box.content-style2 h4 i {
        color: {{body_icon_color}};
        }
        .accordion .title:hover {
        color:{{ui_elem_border_color}};
        }
        .button-main, .body-wrapper input[type="submit"], .body-wrapper input[type="button"], button.button-main{
        background-color: {{button_bg_color}};
        border-color: {{button_border_color}};
        color: {{button_text_color}} !important;
        text-shadow: 0 1px 0 {{button_text_shadow_color}};
        }
        .button-main:hover, .body-wrapper input[type="submit"]:hover, .body-wrapper input[type="button"]:hover,
        button.button-main:hover,
        .button-main:active, .body-wrapper input[type="submit"]:active, .body-wrapper input[type="button"]:active,
        button.button-main:active {
        background-color: {{button_hover_bg_color}};
        color: {{button_text_color}} !important;
        text-shadow: 0 1px 0 {{button_text_shadow_color}};
        }
        .carousel-container .carousel-arrows{
        background-color: {{body_bg_color}};
        }
        .carousel-container .carousel-icon:hover{
        background-color: {{body_main_skin_color}};
        }
        .blog-post-icon,.comments-list .children .comment:before,.portfolio-filter li a.portfolio-selected,
        .portfolio-filter li a:hover{
        background-color: {{body_main_skin_color}};
        }
        .comments-list .children .comment:after{
        border-color: transparent transparent transparent {{body_main_skin_color}};;
        }
        .side-navigation .menu-item.current-menu-item a, .side-navigation .menu-item:hover a:after,
        .side-navigation .menu-item:hover a{
        color: {{body_sidebar_nav_color}}
        }
        .icons-list.colored-list li:before{
        color: {{body_main_skin_color}};
        }
        .blog-post-date .day, .blog-post-date .month{
        color: {{body_main_skin_color}};
        }
        .pagination .prev, .pagination .next, .pagination a:hover, .pagination a.current, .pagination li.active a{
        background-color: {{body_main_skin_color}};
        color: #fff;
        }
        div.pagination a{
        border-color: {{body_main_skin_color}};
        color: {{body_main_skin_color}};
        }
        .contact-map{
        border-color: {{body_main_skin_color}};
        }
        /* Footer Area Colors */
        .footer:after{
        background-color: {{footer_border1_color}}
        }
        .footer:before{
        background-color: {{footer_border2_color}}
        }
        .footer{
        background: -webkit-radial-gradient(farthest-side circle at center, {{top_footer_start_gd_bg_color}} 0%,
        {{top_footer_end_gd_bg_color}} 100%);
        background: radial-gradient(farthest-side circle at center, {{top_footer_start_gd_bg_color}} 0%,
        {{top_footer_end_gd_bg_color}} 100%);
        }
        .footer .copyright{
        background-color: {{bottom_footer_bg_color}};
        color: {{bottom_footer_text_color}};
        }
        .footer .copyright a{
        color: {{bottom_footer_link_color}};
        }
        .footer .copyright a:hover{
        color: {{bottom_footer_link_hover_color}};
        }
        .footer .footer-col .footer-content .input{
        background-color: {{footer_input_bg_color}};
        }
        .footer .footer-col .footer-content input[type=submit], .footer button{
        background-color: {{footer_button_bg_color}};
        }
        .footer .footer-col .footer-content input[type=submit]:hover, .footer button:hover, .footer button:active{
        background-color: {{footer_button_hover_bg_color}};
        }
        .footer .footer-col .footer-content,.footer .footer-col .footer-content .footer-content-text{
        color: {{footer_text_color}};
        }
        .footer .footer-col .footer-content,.footer .footer-col p{
        color: {{footer_text_color}};
        }

        .footer .footer-col .footer-title{
        border-color: {{footer_heading_border_color_ie}};
        border-color: {{footer_heading_border_color}};
        color: {{footer_heading_color}};
        }
        .footer .footer-col .footer-content a{
        color: {{footer_link_color}};
        }
        .footer .footer-col .footer-content a:hover{
        color: {{footer_link_hover_color}};
        }

    </script>
    <script type="text/javascript"> var $default_skin = "mixed-modern-colors";</script>
    <!--
    ============================================================================================
    ============================================================================================
        REMOVE THIS IF YOU DON'T WANT THE COLOR PICKER
        This is used for color picker style customisation, remove it if you don't want the color picker.
        * after you purchase the theme, there is two versions one come with colorpicker and the other come without colorpicker.
    ============================================================================================
    ============================================================================================
    -->
    <div id="skin-chooser-container" class="skin-chooser-container hide-skin-chooser">
        <a href="" target="_blank" class="skin-save" id="skin-save"><i class="icon-arrow-down"></i> DOWNLOAD NEW SKIN
        </a>

        <div class="skin-chooser">

            <div class="skin-chooser-label">
                Layout mode
            </div>
            <div class="skin-chooser-row skin-chooser-row-open">
                <select id="layout-mode">
                    <option value="">Wide</option>
                    <option value="boxed">Boxed</option>
                </select>
            </div>
            <div class="skin-chooser-label">
                Header divider type
            </div>
            <div class="skin-chooser-row skin-chooser-row-open">
                <select id="divider-mode">
                    <option value="">None</option>
                    <option value="shadow">Shadow</option>
                    <option value="border">Border</option>
                </select>
            </div>
            <div class="skin-chooser-label">
                Predefined Skins
            </div>
            <div class="skin-chooser-row skin-chooser-row-open">
                <div title="one-blue" class="predefined-skins one-blue" data-skinname="one-blue"></div>
                <div title="one-coffee" class="predefined-skins one-coffee" data-skinname="one-coffee"></div>
                <div title="one-pink" class="predefined-skins one-pink" data-skinname="one-pink"></div>
                <div title="one-cherry" class="predefined-skins one-cherry" data-skinname="one-cherry"></div>
                <div title="one-green" class="predefined-skins one-green" data-skinname="one-green"></div>
                <div title="one-teal" class="predefined-skins one-teal" data-skinname="one-teal"></div>
                <div title="one-glaucose" class="predefined-skins one-glaucose" data-skinname="one-glaucose"></div>
                <div title="one-purple" class="predefined-skins one-purple" data-skinname="one-purple"></div>
                <div title="white-golden" class="predefined-skins white-golden" data-skinname="white-golden"></div>
                <div title="white-orange" class="predefined-skins white-orange" data-skinname="white-orange"></div>
                <div title="white-purple" class="predefined-skins white-purple" data-skinname="white-purple"></div>
                <div title="white-red" class="predefined-skins white-red" data-skinname="white-red"></div>
                <div title="white-green" class="predefined-skins white-green" data-skinname="white-green"></div>
                <div title="white-blue" class="predefined-skins white-blue" data-skinname="white-blue"></div>
                <div title="mixed-flat-colors" class="predefined-skins mixed-flat-colors"
                     data-skinname="mixed-flat-colors"></div>
                <div title="mixed-bright-green" class="predefined-skins mixed-bright-green"
                     data-skinname="mixed-bright-green"></div>
                <div title="mixed-pink" class="predefined-skins mixed-pink" data-skinname="mixed-pink"></div>
                <div title="mixed-dark-oil" class="predefined-skins mixed-dark-oil"
                     data-skinname="mixed-dark-oil"></div>
                <div title="mixed-modern-colors" class="predefined-skins mixed-modern-colors"
                     data-skinname="mixed-modern-colors"></div>
                <div title="mixed-light-blue" class="predefined-skins mixed-light-blue"
                     data-skinname="mixed-light-blue"></div>
            </div>
            <div class="skin-chooser-label">
                Padrões Unyleya
            </div>
            <div class="skin-chooser-row skin-chooser-row-open">
                <div title="AVM" class="predefined-skins 14" data-skinname="14"></div>
                <div title="TdC" class="predefined-skins 12" data-skinname="12"></div>
            </div>
            <div class="skin-chooser-label">
                Patterns Background
            </div>

            <div class="skin-chooser-row skin-chooser-row-open">
                <div class="pattern pattern-black-twill" data-body-class="bgpattern-black-twill"></div>
                <div class="pattern pattern-dark-fish-skin" data-body-class="bgpattern-dark-fish-skin"></div>
                <div class="pattern pattern-escheresque-ste" data-body-class="bgpattern-escheresque-ste"></div>
                <div class="pattern pattern-grey" data-body-class="bgpattern-grey"></div>
                <div class="pattern pattern-knitting250px" data-body-class="bgpattern-knitting250px"></div>
                <div class="pattern pattern-p4" data-body-class="bgpattern-p4"></div>
                <div class="pattern pattern-p5" data-body-class="bgpattern-p5"></div>
                <div class="pattern pattern-p6" data-body-class="bgpattern-p6"></div>
                <div class="pattern pattern-ps-neutral" data-body-class="bgpattern-ps-neutral"></div>
                <div class="pattern pattern-pw-maze-white" data-body-class="bgpattern-pw-maze-white"></div>
                <div class="pattern pattern-pw-pattern" data-body-class="bgpattern-pw-pattern"></div>
                <div class="pattern pattern-retina-wood" data-body-class="bgpattern-retina-wood"></div>
                <div class="pattern pattern-shattered" data-body-class="bgpattern-shattered"></div>
                <div class="pattern pattern-subtle-dots" data-body-class="bgpattern-subtle-dots"></div>
                <div class="pattern pattern-subtle-surface" data-body-class="bgpattern-subtle-surface"></div>
                <div class="pattern pattern-whitediamond" data-body-class="bgpattern-whitediamond"></div>
            </div>

            <div class="skin-chooser-label">
                Images Background
            </div>
            <div class="skin-chooser-row skin-chooser-row-open">
                <div class="image-chooser tuscany-thumb" data-body-class="bg-tuscany"></div>
                <div class="image-chooser tracks-thumb" data-body-class="bg-tracks"></div>
                <div class="image-chooser blurred-lines-thumb" data-body-class="bg-blurred-lines"></div>
                <div class="image-chooser mountain-thumb" data-body-class="bg-mountain"></div>
            </div>


            <div class="skin-chooser-label">
                Custom Colors
            </div>

            <div class="skin-chooser-row skin-chooser-row-open">
                <div class="skin-chooser-elements">
                    <div class="color-chooser-group-label">
                        <i class="icon-angle-right"></i> Header
                    </div>
                    <div class="color-chooser-label">
                        Top Header Background color
                    </div>
                    <div class="color-chooser-input">
                        <input type="text" name="top_header_bg_color" id="top_header_bg_color" class="input-colorpicker"
                               value="transparent"/>
                        <label class="color-preview" for="top_header_bg_color"
                               style="background-color: transparent"></label>
                    </div>
                    <div class="color-chooser-label">
                        Search Background color
                    </div>
                    <div class="color-chooser-input">
                        <input type="text" name="search_bg_color" id="search_bg_color" class="input-colorpicker"
                               value="#353b45"/>
                        <label class="color-preview" for="search_bg_color"
                               style="background-color: #353b45"></label>
                    </div>
                    <div class="color-chooser-group-label">
                        <i class="icon-angle-right"></i> Header Bottom
                    </div>
                    <div class="color-chooser-label">
                        Bottom header start gradient color
                    </div>
                    <div class="color-chooser-input">
                        <input type="text" name="bottom_header_start_gd_color" id="bottom_header_start_gd_color"
                               class="input-colorpicker"
                               value="#555f6f"/>
                        <label class="color-preview" for="bottom_header_start_gd_color"
                               style="background-color: #555f6f"></label>
                    </div>
                    <div class="color-chooser-label">
                        Bottom header end gradient color
                    </div>
                    <div class="color-chooser-input">
                        <input type="text" name="bottom_header_end_gd_color" id="bottom_header_end_gd_color"
                               class="input-colorpicker"
                               value="#3b424d"/>
                        <label class="color-preview" for="bottom_header_end_gd_color"
                               style="background-color: #3b424d"></label>
                    </div>
                    <div class="color-chooser-label">
                        Header page title color
                    </div>
                    <div class="color-chooser-input">
                        <input type="text" name="header_page_title_color" id="header_page_title_color"
                               class="input-colorpicker"
                               value="#fdfdfd"/>
                        <label class="color-preview" for="header_page_title_color"
                               style="background-color: #fdfdfd"></label>
                    </div>
                    <div class="color-chooser-label">
                        Header page desc. color
                    </div>
                    <div class="color-chooser-input">
                        <input type="text" name="header_page_info_color" id="header_page_info_color"
                               class="input-colorpicker"
                               value="#aeaeae"/>
                        <label class="color-preview" for="header_page_info_color"
                               style="background-color: #aeaeae"></label>
                    </div>
                    <div class="color-chooser-group-label">
                        <i class="icon-angle-right"></i> Menu
                    </div>
                    <div class="color-chooser-label">
                        Menu Color
                    </div>
                    <div class="color-chooser-input">
                        <input type="text" name="menu_color" id="menu_color" class="input-colorpicker"
                               value="#c3c3c3"/>
                        <label class="color-preview" for="menu_color"
                               style="background-color: #c3c3c3"></label>
                    </div>
                    <div class="color-chooser-label">
                        Menu Hover Color
                    </div>
                    <div class="color-chooser-input">
                        <input type="text" name="menu_hover_color" id="menu_hover_color" class="input-colorpicker"
                               value="#ffffff"/>
                        <label class="color-preview" for="menu_hover_color"
                               style="background-color: #ffffff"></label>
                    </div>
                    <div class="color-chooser-label">
                        Sticky background color
                    </div>
                    <div class="color-chooser-input">
                        <input type="text" name="sticky_menu_bg_color" id="sticky_menu_bg_color"
                               class="input-colorpicker"
                               value="rgba(59,66,77,0.9)"/>
                        <label class="color-preview" for="sticky_menu_bg_color"
                               style="background-color: rgba(59,66,77,0.9)"></label>
                    </div>
                    <div class="color-chooser-label">
                        Sub menu background color
                    </div>
                    <div class="color-chooser-input">
                        <input type="text" name="sub_menu_bg_color" id="sub_menu_bg_color" class="input-colorpicker"
                               value="#ffffff"/>
                        <label class="color-preview" for="sub_menu_bg_color"
                               style="background-color: #ffffff"></label>
                    </div>
                    <div class="color-chooser-label">
                        Sub menu border color
                    </div>
                    <div class="color-chooser-input">
                        <input type="text" name="sub_menu_border_color" id="sub_menu_border_color"
                               class="input-colorpicker"
                               value="#9DABBE"/>
                        <label class="color-preview" for="sub_menu_border_color"
                               style="background-color: #9DABBE"></label>
                    </div>
                    <div class="color-chooser-label">
                        Sub menu link color
                    </div>
                    <div class="color-chooser-input">
                        <input type="text" name="sub_menu_link_color" id="sub_menu_link_color" class="input-colorpicker"
                               value="#787878"/>
                        <label class="color-preview" for="sub_menu_link_color"
                               style="background-color: #787878"></label>
                    </div>
                    <div class="color-chooser-label">
                        Sub menu link hover
                    </div>
                    <div class="color-chooser-input">
                        <input type="text" name="sub_menu_link_hover_color" id="sub_menu_link_hover_color"
                               class="input-colorpicker"
                               value="#010101"/>
                        <label class="color-preview" for="sub_menu_link_hover_color"
                               style="background-color: #010101"></label>
                    </div>
                    <div class="color-chooser-label">
                        Sub menu link hover background color
                    </div>
                    <div class="color-chooser-input">
                        <input type="text" name="sub_menu_link_hover_bg_color" id="sub_menu_link_hover_bg_color"
                               class="input-colorpicker"
                               value="#e7e7e7"/>
                        <label class="color-preview" for="sub_menu_link_hover_bg_color"
                               style="background-color: #e7e7e7"></label>
                    </div>
                    <div class="color-chooser-group-label">
                        <i class="icon-angle-right"></i> Body
                    </div>
                    <div class="color-chooser-label">
                        Body background color
                    </div>
                    <div class="color-chooser-input">
                        <input type="text" name="body_bg_color" id="body_bg_color" class="input-colorpicker"
                               value="#f9f9f9"/>
                        <label class="color-preview" for="body_bg_color"
                               style="background-color: #f9f9f9"></label>
                    </div>
                    <div class="color-chooser-label">
                        Body link color
                    </div>
                    <div class="color-chooser-input">
                        <input type="text" name="body_link_color" id="body_link_color" class="input-colorpicker"
                               value="#4b4b4b"/>
                        <label class="color-preview" for="body_link_color"
                               style="background-color: #4b4b4b"></label>
                    </div>
                    <div class="color-chooser-label">
                        Body link hover color
                    </div>
                    <div class="color-chooser-input">
                        <input type="text" name="body_link_hover_color" id="body_link_hover_color"
                               class="input-colorpicker"
                               value="#dd4e35"/>
                        <label class="color-preview" for="body_link_hover_color"
                               style="background-color: #dd4e35"></label>
                    </div>
                    <div class="color-chooser-label">
                        Body icon color
                    </div>
                    <div class="color-chooser-input">
                        <input type="text" name="body_icon_color" id="body_icon_color" class="input-colorpicker"
                               value="#4d5664"/>
                        <label class="color-preview" for="body_icon_color"
                               style="background-color: #4d5664"></label>
                    </div>
                    <div class="color-chooser-label">
                        Body main skin color
                    </div>
                    <div class="color-chooser-input">
                        <input type="text" name="body_main_skin_color" id="body_main_skin_color"
                               class="input-colorpicker"
                               value="#4d5664"/>
                        <label class="color-preview" for="body_main_skin_color"
                               style="background-color: #4d5664"></label>
                    </div>
                    <div class="color-chooser-label">
                        Body sidebar nav. color
                    </div>
                    <div class="color-chooser-input">
                        <input type="text" name="body_sidebar_nav_color" id="body_sidebar_nav_color"
                               class="input-colorpicker"
                               value="#e44a2f"/>
                        <label class="color-preview" for="body_sidebar_nav_color"
                               style="background-color: #e44a2f"></label>
                    </div>
                    <div class="color-chooser-group-label">
                        <i class="icon-angle-right"></i> Footer
                    </div>
                    <div class="color-chooser-label">
                        Footer border1 color
                    </div>
                    <div class="color-chooser-input">
                        <input type="text" name="footer_border1_color" id="footer_border1_color"
                               class="input-colorpicker"
                               value="#c7c8c7"/>
                        <label class="color-preview" for="footer_border1_color"
                               style="background-color: #c7c8c7"></label>
                    </div>
                    <div class="color-chooser-label">
                        Footer border2 color
                    </div>
                    <div class="color-chooser-input">
                        <input type="text" name="footer_border2_color" id="footer_border2_color"
                               class="input-colorpicker"
                               value="#c5c5c5"/>
                        <label class="color-preview" for="footer_border2_color"
                               style="background-color: #c5c5c5"></label>
                    </div>
                    <div class="color-chooser-label">
                        Footer text color
                    </div>
                    <div class="color-chooser-input">
                        <input type="text" name="footer_text_color" id="footer_text_color" class="input-colorpicker"
                               value="#d4d4d4"/>
                        <label class="color-preview" for="footer_text_color"
                               style="background-color: #d4d4d4"></label>
                    </div>
                    <div class="color-chooser-label">
                        Footer link color
                    </div>
                    <div class="color-chooser-input">
                        <input type="text" name="footer_link_color" id="footer_link_color" class="input-colorpicker"
                               value="#f3f3f3"/>
                        <label class="color-preview" for="footer_link_color"
                               style="background-color: #f3f3f3"></label>
                    </div>
                    <div class="color-chooser-label">
                        Footer link hover color
                    </div>
                    <div class="color-chooser-input">
                        <input type="text" name="footer_link_hover_color" id="footer_link_hover_color"
                               class="input-colorpicker"
                               value="#fafafa"/>
                        <label class="color-preview" for="footer_link_hover_color"
                               style="background-color: #fafafa"></label>
                    </div>
                    <div class="color-chooser-label">
                        Footer input background color
                    </div>
                    <div class="color-chooser-input">
                        <input type="text" name="footer_input_bg_color" id="footer_input_bg_color"
                               class="input-colorpicker"
                               value="#2e333c"/>
                        <label class="color-preview" for="footer_input_bg_color"
                               style="background-color: #2e333c"></label>
                    </div>
                    <div class="color-chooser-label">
                        Footer button background color
                    </div>
                    <div class="color-chooser-input">
                        <input type="text" name="footer_button_bg_color" id="footer_button_bg_color"
                               class="input-colorpicker"
                               value="#292e36"/>
                        <label class="color-preview" for="footer_button_bg_color"
                               style="background-color: #292e36"></label>
                    </div>
                    <div class="color-chooser-label">
                        Footer button hover background color
                    </div>
                    <div class="color-chooser-input">
                        <input type="text" name="footer_button_hover_bg_color" id="footer_button_hover_bg_color"
                               class="input-colorpicker"
                               value="#3b424d"/>
                        <label class="color-preview" for="footer_button_hover_bg_color"
                               style="background-color: #3b424d"></label>
                    </div>
                    <div class="color-chooser-label">
                        Footer heading color
                    </div>
                    <div class="color-chooser-input">
                        <input type="text" name="footer_heading_color" id="footer_heading_color"
                               class="input-colorpicker"
                               value="#dddddd"/>
                        <label class="color-preview" for="footer_heading_color"
                               style="background-color: #dddddd"></label>
                    </div>
                    <div class="color-chooser-label">
                        Footer heading border color
                    </div>
                    <div class="color-chooser-input">
                        <input type="text" name="footer_heading_border_color" id="footer_heading_border_color"
                               class="input-colorpicker"
                               value="rgba(255,255,255,0.6)"/>
                        <label class="color-preview" for="footer_heading_border_color"
                               style="background-color: rgba(255,255,255,0.6)"></label>
                    </div>
                    <div class="color-chooser-label">
                        Top footer start gd background color
                    </div>
                    <div class="color-chooser-input">
                        <input type="text" name="top_footer_start_gd_bg_color" id="top_footer_start_gd_bg_color"
                               class="input-colorpicker"
                               value="#3b424d"/>
                        <label class="color-preview" for="top_footer_start_gd_bg_color"
                               style="background-color: #3b424d"></label>
                    </div>
                    <div class="color-chooser-label">
                        Top footer end gd background color
                    </div>
                    <div class="color-chooser-input">
                        <input type="text" name="top_footer_end_gd_bg_color" id="top_footer_end_gd_bg_color"
                               class="input-colorpicker"
                               value="#3b424d"/>
                        <label class="color-preview" for="top_footer_end_gd_bg_color"
                               style="background-color: #3b424d"></label>
                    </div>
                    <div class="color-chooser-group-label">
                        <i class="icon-angle-right"></i> Bottom Footer
                    </div>
                    <div class="color-chooser-label">
                        Bottom footer background color
                    </div>
                    <div class="color-chooser-input">
                        <input type="text" name="bottom_footer_bg_color" id="bottom_footer_bg_color"
                               class="input-colorpicker"
                               value="#262b32"/>
                        <label class="color-preview" for="bottom_footer_bg_color"
                               style="background-color: #262b32"></label>
                    </div>
                    <div class="color-chooser-label">
                        Bottom footer text color
                    </div>
                    <div class="color-chooser-input">
                        <input type="text" name="bottom_footer_text_color" id="bottom_footer_text_color"
                               class="input-colorpicker"
                               value="#bcbcbc"/>
                        <label class="color-preview" for="bottom_footer_text_color"
                               style="background-color: #bcbcbc"></label>
                    </div>
                    <div class="color-chooser-label">
                        Bottom footer link color
                    </div>
                    <div class="color-chooser-input">
                        <input type="text" name="bottom_footer_link_color" id="bottom_footer_link_color"
                               class="input-colorpicker"
                               value="#eaeaea"/>
                        <label class="color-preview" for="bottom_footer_link_color"
                               style="background-color: #eaeaea"></label>
                    </div>
                    <div class="color-chooser-label">
                        Bottom footer link hover color
                    </div>
                    <div class="color-chooser-input">
                        <input type="text" name="bottom_footer_link_hover_color" id="bottom_footer_link_hover_color"
                               class="input-colorpicker"
                               value="#fdfdfd"/>
                        <label class="color-preview" for="bottom_footer_link_hover_color"
                               style="background-color: #fdfdfd"></label>
                    </div>
                    <div class="color-chooser-group-label">
                        <i class="icon-angle-right"></i> Buttons
                    </div>
                    <div class="color-chooser-label">
                        Button background color
                    </div>
                    <div class="color-chooser-input">
                        <input type="text" name="button_bg_color" id="button_bg_color" class="input-colorpicker"
                               value="#e44a2f"/>
                        <label class="color-preview" for="button_bg_color"
                               style="background-color: #e44a2f"></label>
                    </div>
                    <div class="color-chooser-label">
                        Button border color
                    </div>
                    <div class="color-chooser-input">
                        <input type="text" name="button_border_color" id="button_border_color" class="input-colorpicker"
                               value="#71281b"/>
                        <label class="color-preview" for="button_border_color"
                               style="background-color: #71281b"></label>
                    </div>
                    <div class="color-chooser-label">
                        Button text color
                    </div>
                    <div class="color-chooser-input">
                        <input type="text" name="button_text_color" id="button_text_color" class="input-colorpicker"
                               value="#e7e7e7"/>
                        <label class="color-preview" for="button_text_color"
                               style="background-color: #e7e7e7"></label>
                    </div>
                    <div class="color-chooser-label">
                        Button text shadow color
                    </div>
                    <div class="color-chooser-input">
                        <input type="text" name="button_text_shadow_color" id="button_text_shadow_color"
                               class="input-colorpicker"
                               value="#4d042b"/>
                        <label class="color-preview" for="button_text_shadow_color"
                               style="background-color: #4d042b"></label>
                    </div>
                    <div class="color-chooser-label">
                        Button hover background color
                    </div>
                    <div class="color-chooser-input">
                        <input type="text" name="button_hover_bg_color" id="button_hover_bg_color"
                               class="input-colorpicker"
                               value="#ff765e"/>
                        <label class="color-preview" for="button_hover_bg_color"
                               style="background-color: #ff765e"></label>
                    </div>
                    <div class="color-chooser-group-label">
                        <i class="icon-angle-right"></i> Others
                    </div>
                    <div class="color-chooser-label">
                        UI element border color
                    </div>
                    <div class="color-chooser-input">
                        <input type="text" name="ui_elem_border_color" id="ui_elem_border_color"
                               class="input-colorpicker"
                               value="#4d5664"/>
                        <label class="color-preview" for="ui_elem_border_color"
                               style="background-color: #4d5664"></label>
                    </div>
                </div>
            </div>
        </div>
        <a href="#" class="arrow-left  icon-cogs" id="show_hide_skin_chooser"></a>

    </div>
    <!-- ============END COLOR PICKER HTML =============== -->
    <!-- end remprod -->

    <!-- remprod -->
    <script type="text/javascript" src="<?php echo $this->baseUrl; ?>/js/jsnovoportal/_colorpicker.js"></script>
    <script type="text/javascript" src="<?php echo $this->baseUrl; ?>/js/jsnovoportal/_handlebars.js"></script>
    <script type="text/javascript" src="<?php echo $this->baseUrl; ?>/js/jsnovoportal/_skins.js"></script>
    <script type="text/javascript" src="<?php echo $this->baseUrl; ?>/js/jsnovoportal/_skinchooser.js"></script>
    <!-- end remprod -->


    <script src="<?php echo $this->baseUrl; ?>/js/jsnovoportal/animationEnigne.js" type="text/javascript"></script>
    <script src="<?php echo $this->baseUrl; ?>/js/jsnovoportal/arwa.js" type="text/javascript"></script>
    <script src="<?php echo $this->baseUrl; ?>/js/jsnovoportal/ie-fixes.js" type="text/javascript"></script>
    <script src="<?php echo $this->baseUrl; ?>/js/jsnovoportal/jquery.base64.js" type="text/javascript"></script>
    <script src="<?php echo $this->baseUrl; ?>/js/jsnovoportal/jquery.carouFredSel-6.2.1-packed.js"
            type="text/javascript"></script>
    <script src="<?php echo $this->baseUrl; ?>/js/jsnovoportal/jquery.cycle.js" type="text/javascript"></script>
    <script src="<?php echo $this->baseUrl; ?>/js/jsnovoportal/jquery.cycle2.carousel.js"
            type="text/javascript"></script>
    <script src="<?php echo $this->baseUrl; ?>/js/jsnovoportal/jquery.easing.1.3.js" type="text/javascript"></script>
    <script src="<?php echo $this->baseUrl; ?>/js/jsnovoportal/jquery.easytabs.js" type="text/javascript"></script>
    <script src="<?php echo $this->baseUrl; ?>/js/jsnovoportal/jquery.eislideshow.js" type="text/javascript"></script>
    <script src="<?php echo $this->baseUrl; ?>/js/jsnovoportal/jquery.isotope.js" type="text/javascript"></script>
    <script src="<?php echo $this->baseUrl; ?>/js/jsnovoportal/jquery.prettyPhoto.js" type="text/javascript"></script>
    <script src="<?php echo $this->baseUrl; ?>/js/jsnovoportal/jquery.fancybox.pack.js" type="text/javascript"></script>
    <script src="<?php echo $this->baseUrl; ?>/js/jsnovoportal/jquery.themepunch.plugins.min.js"
            type="text/javascript"></script>
    <script src="<?php echo $this->baseUrl; ?>/js/jsnovoportal/jquery.themepunch.revolution.js"
            type="text/javascript"></script>
    <script src="<?php echo $this->baseUrl; ?>/js/jsnovoportal/jquery.tipsy.js" type="text/javascript"></script>
    <script src="<?php echo $this->baseUrl; ?>/js/jsnovoportal/jqueryvalidate/jquery.validate.js"
            type="text/javascript"></script>
    <script src="<?php echo $this->baseUrl; ?>/js/jsnovoportal/jqueryvalidate/localization/messages_ptbr.js"
            type="text/javascript"></script>
    <script src="<?php echo $this->baseUrl; ?>/js/jsnovoportal/jQuery.XDomainRequest.js"
            type="text/javascript"></script>
    <script src="<?php echo $this->baseUrl; ?>/js/jsnovoportal/bootbox.min.js" type="text/javascript"></script>
    <script src="<?php echo $this->baseUrl; ?>/js/jsnovoportal/retina.js" type="text/javascript"></script>
    <script src="<?php echo $this->baseUrl; ?>/js/jsnovoportal/timeago.js" type="text/javascript"></script>
    <script src="<?php echo $this->baseUrl; ?>/js/jsnovoportal/jquery.mCustomScrollbar.concat.min.js"
            type="text/javascript"></script>
    <script src="<?php echo $this->baseUrl; ?>/js/jsnovoportal/lib/jquery.fastLiveFilter.js"
            type="text/javascript"></script>
    <script src="<?php echo $this->baseUrl; ?>/js/jsnovoportal/lib/jquery.maskedinput.min.js"></script>

    <!-- Backbone | Backgrid | Underscore -->
    <script src="<?php echo $this->baseUrl; ?>/js/jsnovoportal/lib/underscore.js" type="text/javascript"></script>
    <script src="<?php echo $this->baseUrl; ?>/js/jsnovoportal/lib/backbone.js" type="text/javascript"></script>
    <script src="<?php echo $this->baseUrl; ?>/js/jsnovoportal/lib/backbone.marionette.min.js"></script>
    <script src="<?php echo $this->baseUrl; ?>/js/jsnovoportal/lib/backbone-pageable.min.js"
            type="text/javascript"></script>
    <script src="<?php echo $this->baseUrl; ?>/js/jsnovoportal/lib/backgrid.js" type="text/javascript"></script>
    <script src="<?php echo $this->baseUrl; ?>/js/jsnovoportal/lib/backgrid-paginator.min.js"
            type="text/javascript"></script>
    <script src="<?php echo $this->baseUrl; ?>/js/jsnovoportal/lib/backgrid-filter.min.js"
            type="text/javascript"></script>
    <script src="<?php echo $this->baseUrl; ?>/js/jsnovoportal/lib/moment-with-locales.js"
            type="text/javascript"></script>
    <script src="<?php echo $this->baseUrl; ?>/js/jsnovoportal/lib/backgrid-moment-cell.js"
            type="text/javascript"></script>"
    <!-- Backbone | Backgrid | Underscore -->


    <!--    PNOTIFY-->
    <script src="<?php echo $this->baseUrl; ?>/js/jsnovoportal/pnotify.custom.min.js"
            type="text/javascript"></script>


    <!-- Models backbone -->
    <script src="<?php echo $this->baseUrl; ?>/js/jsnovoportal/model/VwUsuarioPerfilPedagogicoTOModel.js"
            type="text/javascript"></script>
    <script src="<?php echo $this->baseUrl; ?>/js/jsnovoportal/model/GerenciarSalasModel.js"
            type="text/javascript"></script>
    <script src="<?php echo $this->baseUrl; ?>/js/jsnovoportal/model/VwAlunosAgendamento.js"
            type="text/javascript"></script>
    <script src="<?php echo $this->baseUrl; ?>/js/jsnovoportal/model/AvaliacaoAgendamento.js"
            type="text/javascript"></script>
    <script src="<?php echo $this->baseUrl; ?>/js/jsnovoportal/model/VwAvaliacaoAgendamento.js"
            type="text/javascript"></script>
    <script src="<?php echo $this->baseUrl; ?>/js/jsnovoportal/model/VwEnviarMensagemAluno.js"
            type="text/javascript"></script>
    <script src="<?php echo $this->baseUrl; ?>/js/jsnovoportal/model/VwDisciplinasAgendamento.js"
            type="text/javascript"></script>
    <script src="<?php echo $this->baseUrl; ?>/js/jsnovoportal/model/VwAvaliacaoAplicacao.js"
            type="text/javascript"></script>
    <script src="<?php echo $this->baseUrl; ?>/js/jsnovoportal/model/VwMunicipioAplicacao.js"
            type="text/javascript"></script>
    <script src="<?php echo $this->baseUrl; ?>/js/jsnovoportal/model/VwHistoricoAgendamento.js"
            type="text/javascript"></script>
    <script src="<?php echo $this->baseUrl; ?>/js/jsnovoportal/model/GerenciarSalasModel.js"
            type="text/javascript"></script>
    <script src="<?php echo $this->baseUrl; ?>/js/jsnovoportal/model/VwMatricula.js"
            type="text/javascript"></script>
    <script type="text/javascript"
            src="<?php echo $this->baseUrl; ?>/js/jsnovoportal/model/ExtratoColaboradorModel.js"></script>
    <script type="text/javascript"
            src="<?php echo $this->baseUrl; ?>/js/jsnovoportal/model/VwGradeNota.js"></script>
    <script type="text/javascript"
            src="<?php echo $this->baseUrl; ?>/js/jsnovoportal/model/VwSalaOfertaTurma.js"></script>
    <script src="<?php echo $this->baseUrl; ?>/js/jsnovoportal/model/VwEncerramentoSalas.js"
            type="text/javascript"></script>
    <!-- Models backbone -->

    <!-- Collections backbone -->
    <script src="<?php echo $this->baseUrl; ?>/js/jsnovoportal/collection/CAtencaoCollection.js"
            type="text/javascript"></script>
    <script src="<?php echo $this->baseUrl; ?>/js/jsnovoportal/collection/GridCollectionView.js"
            type="text/javascript"></script>
    <script src="<?php echo $this->baseUrl; ?>/js/jsnovoportal/collection/GerenciarSalasCollection.js"
            type="text/javascript"></script>
    <script src="<?php echo $this->baseUrl; ?>/js/jsnovoportal/collection/CoordenadorCollection.js"
            type="text/javascript"></script>
    <script src="<?php echo $this->baseUrl; ?>/js/jsnovoportal/collection/MensagemCollection.js"
            type="text/javascript"></script>
    <script type="text/javascript"
            src="<?php echo $this->baseUrl; ?>/js/jsnovoportal/collection/ExtratoColaboradorCollection.js"></script>
    <script type="text/javascript"
            src="<?php echo $this->baseUrl; ?>/js/jsnovoportal/collection/PesquisarAlunoCollection.js"></script>
    <script type="text/javascript"
            src="<?php echo $this->baseUrl; ?>/js/jsnovoportal/collection/GradeCurricularAlunoCollection.js"></script>
    <script type="text/javascript"
            src="<?php echo $this->baseUrl; ?>/js/jsnovoportal/collection/ExtratoPagamentoCollection.js"></script>
    <!-- Collections backbone -->

    <!-- Views backbone -->
    <script src="<?php echo $this->baseUrl; ?>/js/jsnovoportal/view/CAtencaoView.js" type="text/javascript"></script>
    <script src="<?php echo $this->baseUrl; ?>/js/jsnovoportal/view/GradeDisciplinaView.js"
            type="text/javascript"></script>
    <script src="<?php echo $this->baseUrl; ?>/js/jsnovoportal/view/GerenciarSalasView.js"
            type="text/javascript"></script>
    <script src="<?php echo $this->baseUrl; ?>/js/jsnovoportal/view/MensagemView.js" type="text/javascript"></script>
    <script src="<?php echo $this->baseUrl; ?>/js/jsnovoportal/view/SecretariaView.js" type="text/javascript"></script>
    <script src="<?php echo $this->baseUrl; ?>/js/jsnovoportal/view/AgendamentoView.js" type="text/javascript"></script>
    <script src="<?php echo $this->baseUrl; ?>/js/jsnovoportal/view/PesquisarAlunoView.js"
            type="text/javascript"></script>
    <script src="<?php echo $this->baseUrl(); ?>/js/CollectionView.js"></script>
    <script type="text/javascript"
            src="<?php echo $this->baseUrl; ?>/js/jsnovoportal/view/ExtratoColaboradorView.js"></script>
    <script type="text/javascript"
            src="<?php echo $this->baseUrl; ?>/js/jsnovoportal/view/ModalOcorrenciaPrincipalView.js"></script>
    <!-- Views backbone -->

    <!-- Custom JS -->
    <script src="<?php echo $this->baseUrl; ?>/js/jsnovoportal/front.js" type="text/javascript"></script>
    <script src="<?php echo Ead1_Ambiente::geral()->st_url_gestor2; ?>/gestor2/js/utils/constants.js"></script>
    <script src="<?php echo $this->baseUrl; ?>/js/jsnovoportal/financeiro/financeiro.js"
            type="text/javascript"></script>
    <?php if (Ead1_Sessao::getSessaoPerfil()->id_perfil == PerfilTO::Aluno) : ?>
    <script src="<?php echo $this->baseUrl; ?>/js/jsnovoportal/financeiro/plano-pagamento.js"
            type="text/javascript"></script>
<?php endif; ?>
    <script src="<?php echo $this->baseUrl; ?>/js/jsnovoportal/financeiro/plano-pagamento.js"></script>
    <script src="<?php echo $this->baseUrl; ?>/js/jsnovoportal/promocoes/promocoes.js"></script>
    <script src="<?php echo $this->baseUrl; ?>/js/primeiro-acesso/main.js"></script>
    <script src="<?php echo $this->baseUrl; ?>/js/jsnovoportal/view/ExtratoPagamento.js"></script>
    <script src="<?php echo $this->baseUrl; ?>/js/sistema/atividade-complementar/atividade-complementar.js"></script>
    <!-- Custom JS -->
    <script src="<?php echo $this->baseUrl; ?>/assets/javascripts/jquery.creditCardValidator.js?_=1472231972370"></script>

<?php else : ?>
    <script src="<?php echo $this->baseUrl; ?>/build/js/all_scripts.min.js" type="text/javascript"></script>
<?php
endif;
echo $this->render("bot-script.phtml");
?>

</body>
</html>