<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <title>Portal do Aluno</title>

    <!--[if IE]>
    <meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--- This should placed first off all other scripts -->

    <script src="<?php echo $this->baseUrl; ?>/js/jsnovoportal/new-relic.js" type="text/javascript"></script>

    <link rel="stylesheet" href="<?php echo $this->baseUrl ?>/css/cssnovoportal/bootstrap.min.css">
    <link rel="stylesheet" href="<?php echo $this->baseUrl ?>/css/cssnovoportal/normalize.css">
    <link rel="stylesheet" href="<?php echo $this->baseUrl ?>/css/cssnovoportal/font-awesome-ie7.css">
    <link rel="stylesheet" href="<?php echo $this->baseUrl ?>/css/cssnovoportal/font-awesome-ie7.min.css">
    <link rel="stylesheet" href="<?php echo $this->baseUrl ?>/css/cssnovoportal/font-awesome.css">
    <link rel="stylesheet" href="<?php echo $this->baseUrl ?>/css/cssnovoportal/font-awesome.min.css">
    <link rel="stylesheet" href="<?php echo $this->baseUrl ?>/css/cssnovoportal/revolution_settings.css">
    <link rel="stylesheet" href="<?php echo $this->baseUrl ?>/css/cssnovoportal/eislider.css">
    <link rel="stylesheet" href="<?php echo $this->baseUrl ?>/css/cssnovoportal/tipsy.css">
    <link rel="stylesheet" href="<?php echo $this->baseUrl ?>/css/cssnovoportal/prettyPhoto.css">
    <link rel="stylesheet" href="<?php echo $this->baseUrl ?>/css/cssnovoportal/isotop_animation.css">

    <!-- remprod -->
    <link rel="stylesheet" href="<?php echo $this->baseUrl ?>/css/cssnovoportal/_color-chooser.css">
    <link rel="stylesheet" href="<?php echo $this->baseUrl ?>/css/cssnovoportal/_colorpicker.css">
    <!-- end remprod -->

    <link rel="stylesheet" href='<?php echo $this->baseUrl ?>/css/cssnovoportal/style.css'>
    <link rel="stylesheet" href='<?php echo $this->baseUrl ?>/css/cssnovoportal/responsive.css'>
    <?php
    if (Ead1_Sessao::getSessaoEntidade()->id_entidade != null) {
        $id_entidade = Ead1_Sessao::getSessaoEntidade()->id_entidade;
    } elseif (getenv('id_entidade') != null) {
        $id_entidade = getenv('id_entidade');
    }

    if (isset($id_entidade)) {
        ?>
        <link rel="stylesheet"
              href="<?php echo $this->baseUrl ?>/css/cssnovoportal/skins/<?php echo $id_entidade; ?>.css"
              id="skin-file">
    <?php
    } else {
        ?>
        <link rel="stylesheet" href="<?php echo $this->baseUrl ?>/css/cssnovoportal/skins/mixed-flat-colors.css"
              id="skin-file">
    <?php
    }
    ?>

    <!-- remprod -->
    <style type="text/css" id="skin-chooser-css">

    </style>
    <!-- end remprod -->

    <link rel="stylesheet" href="<?php echo $this->baseUrl ?>/css/cssnovoportal/isotop_animation.css">
    <link rel="stylesheet" href="<?php echo $this->baseUrl ?>/css/cssnovoportal/jquery.mCustomScrollbar.css">
    <link rel="stylesheet" href="<?php echo $this->baseUrl ?>/css/cssnovoportal/jquery.fancybox.css">
</head>
<body>
