<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <title>Portal do Aluno</title>

    <!--[if IE]>
    <meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'>
    <![endif]-->

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--- This should placed first off all other scripts -->

    <script src="<?php echo $this->baseUrl; ?>/js/jsnovoportal/new-relic.js" type="text/javascript"></script>
    <!-- Google Tag Manager -->
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({
                'gtm.start': new Date().getTime(),
                event: 'gtm.js'
            });
            var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s),
                dl = l != 'dataLayer' ? '&l=' + l : '';
            j.async = true;
            j.src =
                'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-KBK5F2Q');
    </script>
    <!-- End Google Tag Manager -->

    <?php if (Ead1_Ambiente::getAmbiente() != Ead1_Ambiente::AMBIENTE_PRODUCAO) : ?>
        <link rel="stylesheet" href="<?php echo $this->baseUrl ?>/css/cssnovoportal/bootstrap.min.css">
        <link rel="stylesheet" href="<?php echo $this->baseUrl ?>/css/cssnovoportal/normalize.css">
        <link rel="stylesheet" href="<?php echo $this->baseUrl ?>/css/cssnovoportal/font-awesome-ie7.min.css">
        <link rel="stylesheet" href="<?php echo $this->baseUrl ?>/css/cssnovoportal/font-awesome.min.css">
        <link rel="stylesheet" href="<?php echo $this->baseUrl ?>/css/cssnovoportal/revolution_settings.css">
        <link rel="stylesheet" href="<?php echo $this->baseUrl ?>/css/cssnovoportal/isotop_animation.css">

        <!-- remprod -->
        <link rel="stylesheet" href="<?php echo $this->baseUrl ?>/css/cssnovoportal/_color-chooser.css">
        <link rel="stylesheet" href="<?php echo $this->baseUrl ?>/css/cssnovoportal/_colorpicker.css">
        <!-- end remprod -->

        <link rel="stylesheet" href='<?php echo $this->baseUrl ?>/css/cssnovoportal/style.css'>

        <link rel="stylesheet" href='<?php echo $this->baseUrl ?>/css/cssnovoportal/responsive.css'>
        <link rel="stylesheet" href='<?php echo $this->baseUrl ?>/css/cssnovoportal/backgrid-paginator.min.css'>
        <link rel="stylesheet" href='<?php echo $this->baseUrl ?>/css/cssnovoportal/backgrid-filter.min.css'>
        <link rel="stylesheet" href="<?php echo $this->baseUrl ?>/css/cssnovoportal/jquery.mCustomScrollbar.css">
        <link rel="stylesheet" href="<?php echo $this->baseUrl ?>/css/cssnovoportal/pnotify.custom.min.css">

    <?php else : ?>
        <link rel="stylesheet" href='<?php echo $this->baseUrl ?>/build/css/all_styles.min.css'>
    <?php
    endif;

    if (Ead1_Sessao::getSessaoEntidade()->id_entidade != null) :
        $id_entidade = Ead1_Sessao::getSessaoEntidade()->id_entidade;
    elseif (getenv('id_entidade') != null) :
        $id_entidade = getenv('id_entidade');
    endif;

    if (isset($id_entidade)) :
        ?>
        <link rel="stylesheet"
              href="<?php echo $this->baseUrl ?>/css/cssnovoportal/skins/<?php echo $id_entidade; ?>.css"
              id="skin-file">
    <?php
    else :
        $id_entidade = null;
        ?>
        <link rel="stylesheet" href="<?php echo $this->baseUrl ?>/css/cssnovoportal/skins/mixed-flat-colors.css"
              id="skin-file">
    <?php
    endif;

    if (Ead1_Ambiente::getAmbiente() == Ead1_Ambiente::AMBIENTE_DESENVOLVIMENTO) :
        ?>
        <!-- remprod -->
        <style type="text/css" id="skin-chooser-css">

        </style>
        <!-- end remprod -->
    <?php endif; ?>

    <!-- Google Analytics -->
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
        ga('create', 'UA-49948840-2', 'auto');
        ga('send', 'pageview');
    </script>

    <!-- Objs para guardar os dados da sessao para o JS -->


    <script type="application/javascript">
        var objSessao = {
            id_perfil: <?php echo Ead1_Sessao::getSessaoPerfil()->id_perfil ?: '0'; ?>,
            id_entidade: <?php echo Ead1_Sessao::getSessaoEntidade()->id_entidade ?: '0'; ?>
        };
    </script>

</head>

<body>
<!-- Google Tag Manager (noscript) -->
<noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KBK5F2Q" height="0" width="0"
            style="display:none;visibility:hidden"></iframe>
</noscript>
<!-- End Google Tag Manager (noscript) -->
<!-- Sticky Nav -->
<div class="sticky-navigation uny" id="sticky-navigation">
    <ul class="navigation"></ul>
</div>
<!-- Sticky Nav -->
<div id="wrapper">
    <?php
    // Render da modal em um HTML separado.
    echo $this->render('modal.phtml');
    ?>
    <div class="top_wrapper">
        <!-- Header -->
        <header class="top-header shadow">
            <div class="container">
                <div class="row header uny">
                    <!-- Logo -->
                    <div class="col-md-2 col-sm-8 col-xs-8 logo uny">
                        <?php if (Ead1_Sessao::getSessaoPerfil()->id_perfil) { ?>
                        <a href="/portal/index/principal">
                            <?php } else { ?>
                            <a href="#">
                                <?php } ?>
                                <?php
                                if (isset($id_entidade)) {
                                    ?>
                                    <img src="<?php echo $this->baseUrl ?>/layout/<?php echo $id_entidade ?>/imagens/logo_topo.png"
                                         alt="Portal do Aluno"/>
                                    <?php
                                } else {
                                    $id_entidade = null;
                                    ?>

                                    <img src="<?php echo $this->baseUrl ?>/layout/<?php echo Ead1_Sessao::getSessaoEntidade()->st_layout ?>/imagens/logo_topo.png"
                                         alt="Portal do Aluno"/>
                                    <?php
                                }
                                ?>
                            </a>
                    </div>
                    <!-- //Logo// -->
                    <!-- Navigation File -->
                    <div class="col-md-9">

                        <!-- Mobile Button Menu -->
                        <div class="mobile-menu-button">
                            <i class="icon-reorder"></i>
                        </div>

                        <nav>
                            <ul class="navigation uny">
                                <?php
                                echo $this->action('nav', 'menu', 'portal', array('entidade' => Ead1_Sessao::getSessaoEntidade()->id_entidade, 'perfil' => Ead1_Sessao::getSessaoPerfil()->id_perfil));
                                ?>
                            </ul>
                        </nav>


                        <ul class="mobile-nav">
                            <li>
                                <a href="javascript:void(0)">
                                    <?php echo Ead1_Sessao::getSessaoUsuario()->st_nomecompleto; ?>
                                    <span class="caret" style="border-top-color: #FFFFFF;"></span>
                                </a>
                                <ul>
                                    <li>
                                        <a href="/portal/login/selecionaperfil">
                                            <div class="single-icon">
                                                <i class="icon-exchange"></i>Trocar Acesso
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <a href="/portal/mensagem">
                                                <div class="single-icon">
                                                    <i class="icon-envelope"></i>
                                                    Avisos recebidos
                                                </div>
                                            </a>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/portal/usuario/meusdados">
                                            <div class="single-icon">
                                                <i class="icon-edit"></i>
                                                Meus dados
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="<?php echo $this->baseUrlModulo ?>/index/logout">
                                            <div class="single-icon">
                                                <i class="icon-off"></i>Sair
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>

                    <!-- Nav -->
                    <div class="login col-md-1" id="perfil-usuario">
                        <?php
                        $ead1User = Ead1_Sessao::getSessaoUsuario();
                        $sessaoGeral = Ead1_Sessao::getSessaoGeral();

                        //                    echo '<pre>'; print_r($sessaoGeral->id_sistema); exit;

                        if ($sessaoGeral->id_sistema == SistemaTO::MOODLE) {
//                            $url = parse_url($sessaoGeral->st_codsistema);Zend_Debug::dump($sessaoGeral->id_sistema);die();
//                            $url_imagem = $url['scheme'] . '://' . $url['host'] . '/user/pix.php/' . $sessaoGeral->id_usuariomoodle . '/f1.jpg?_=' . date('Ymd');
                            //verificar porque utilizou "$sessaoGeral->id_sistema == SistemaTO::MOODLE" para o portal
                            if (isset($ead1User->st_urlavatar))
                                $url_imagem = $this->baseUrl . $ead1User->st_urlavatar;
                            else
                                $url_imagem = $this->baseUrl . '/layout/' . Ead1_Sessao::getSessaoEntidade()->st_layout . '/imagens/icones/semfoto.png';
                        } else {
                            if (isset($ead1User->st_urlavatar))
                                $url_imagem = $this->baseUrl . $ead1User->st_urlavatar;
                            else
                                $url_imagem = $this->baseUrl . '/layout/' . Ead1_Sessao::getSessaoEntidade()->st_layout . '/imagens/icones/semfoto.png';
                        }
                        ?>

                        <div class="photo fechado">
                            <img src="<?php echo $url_imagem ?>" alt=""/>

                            <div class="arrow-down-perfil">
                                <i class="icon-chevron-sign-down"></i>
                            </div>
                            <?php if (Ead1_Sessao::getSessionMensagem()->nr_mensagem != null) {
                                ?>
                                <span class="badge">
                                            <?php
                                            echo Ead1_Sessao::getSessionMensagem()->nr_mensagem_nao_lidas;
                                            ?>
                                        </span>
                                <?php
                            }
                            ?>
                        </div>
                        <div class="perfil">
                            <div class="arrow-up"></div>
                            <div class="team-member">
                                <div class="team-member-content">
                                    <h3 class="team-member-name h3-body-title">
                                        <?php echo $ead1User->st_nomecompleto; ?>
                                    </h3>

                                    <div class="team-member-short-bio">
                                        <ul class="icons-list">
                                            <li>
                                                <a href="/portal/login/selecionaperfil">
                                                    <div class="single-icon">
                                                        <i class="icon-exchange"></i>
                                                        Trocar Acesso
                                                    </div>
                                                </a>
                                            </li>
                                            <?php if (Ead1_Sessao::getSessaoPerfil()->id_perfil) { ?>
                                                <li>
                                                    <a href="#">
                                                        <div class="single-icon">
                                                            <a href="/portal/mensagem">
                                                                <i class="icon-envelope"></i>
                                                                Avisos recebidos
                                                            </a>
                                                            <?php
                                                            if (Ead1_Sessao::getSessionMensagem()->nr_mensagem != null) {
                                                                ?>
                                                                <span class="badge pull-right">
                                                                            <?php
                                                                            echo Ead1_Sessao::getSessionMensagem()->nr_mensagem_nao_lidas;
                                                                            ?>
                                                                        </span>
                                                                <?php
                                                            }
                                                            ?>
                                                        </div>
                                                    </a>
                                                </li>
                                            <?php } ?>
                                            <li>
                                                <a href="<?php echo $this->baseUrlModulo ?>/index/logout">
                                                    <div class="single-icon">
                                                        <i class="icon-off"></i>Sair
                                                    </div>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
    </div>
    <div class="breadcrumb-container uny">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <ul class="breadcrumbs">
                        <li>
                            <?php if (Ead1_Sessao::getSessaoPerfil()->id_perfil) { ?>
                                <a href="/portal/index/principal">
                                    <i class="icon icon-home"></i>Principal</a>
                            <?php } else { ?>
                                <a href="#">
                                    <i class="icon icon-home"></i>Principal</a>
                            <?php } ?>
                        </li>
                    </ul>
                    <?php
                    if (Ead1_Sessao::getSessaoUsuario()->id_usuariooriginal != null && Ead1_Sessao::getSessaoUsuario()->id_usuariooriginal != 0 && Ead1_Sessao::getSessaoUsuario()->id_usuariooriginal != Ead1_Sessao::getSessaoUsuario()->id_usuario) {
                        ?>
                        <ul class="acessando-como">
                            <li>
                                Você está acessando como:
                                <strong>
                                    <?php echo Ead1_Sessao::getSessaoUsuario()->st_nomecompleto; ?>
                                </strong>
                            </li>
                        </ul>
                        <?php
                    }
                    ?>
                </div>
            </div>
        </div>
    </div>