<?php if(!Ead1_Sessao::getSessaoProjetoPedagogico()->id_matricula) { ?>
<script type="text/javascript">localStorage.clear();</script>
<? }?>
<?php echo $this->render('header.phtml') ?>
<div class="body-wrapper">
    <div class="container" id="conteudo-interno">
        <?php
        if (isset($this->messages[0]) && $this->messages[0] != null) {
            echo $this->messages[0];
        }
        ?>
        <div class="uny-box" id="mensagem-uny"></div>
        <?php
        if (Ead1_Sessao::getSessaoEntidade()->bl_content) {
            echo $this->layout()->content;
        }
        ?>
    </div>
</div>
<?php echo $this->render('footer.phtml'); ?>
