<?php
echo $this->render('header_lms.phtml');

if (Ead1_Sessao::getSessaoEntidade()->id_entidade != null) {
    $id_entidade = Ead1_Sessao::getSessaoEntidade()->id_entidade;
} elseif (getenv('id_entidade') != null) {
    $id_entidade = getenv('id_entidade');
}
?>
<!-- Sticky Nav -->

<div class="sticky-navigation" id="sticky-navigation">
    <ul class="navigation">
        <li class="pai-sem-filho">
            <a href="/portal/index/principal">
                <i class="icon icon-home icongrandehome"></i>
                Pagina Inicial
            </a>
        </li>
        <li class="selecao-salas">
            <div class="btn-group uny">
                <a class="btn dropdown-toggle pai" data-toggle="dropdown" href="#">
                    <?php echo !is_null($this->salaView) ? $this->salaView->getSt_disciplina() : ''; ?>
                    <span class="caret"></span>
                </a>

                <ul class="dropdown-menu salas">
                    <?php
                    if (is_array($this->listSalas)):
                        foreach ($this->listSalas as $salas) {
                            if ($salas->id_disciplina == $this->salaView->getId_disciplina()) {
                                $classe_ativa = 'ativa';
                            } else {
                                $classe_ativa = '';
                            }
                            if ($salas->id_status == 1) {
                                $class = 'aberta';
                                $notificacao = 'javascript:void(0)';
                            } elseif ($salas->id_status == 2) {
                                $class = 'fechada';
                                $notificacao = '#mensagem-uny';
                            } else {
                                $class = 'nao-iniciada';
                                $notificacao = '#mensagem-uny';
                            }
                            ?>
                            <li class="sala-item <?php echo $classe_ativa; ?>"
                                data-id-disciplina="<?php echo $salas->getId_disciplina(); ?>">
                                <div class="status">
                                    <i class="icon-circle <?php echo $class; ?>"></i>
                                </div>
                                <div class="conteudo">
                                    <span class="disciplina">
                                        <?php
                                        echo ($salas->getId_categoriasala() == 2) ? 'PRR - ' . $salas->getSt_disciplina() : $salas->getSt_disciplina();
                                        ?>
                                    </span>
                                    <br/>
                                    <span>
                                        Tutor: <?php echo $salas->getSt_professor(); ?>
                                    </span>
                                </div>
                            </li>

                            <?php
                        }
                    endif;
                    ?>
                </ul>

            </div>
        </li>
        <li id="id_funcionalidadenav-314" class="pai-sem-filho">
            <a data-change="ajax" target="_self" href="/portal/C-atencao">Serviço de Atenção</a>
        </li>
    </ul>
</div>
<!-- Sticky Nav -->
<div id="wrapper">
    <?php
    // Render da modal em um HTML separado.
    echo $this->render('modal.phtml');
    ?>
    <div class="top_wrapper">
        <!-- Header -->
        <header class="top-header shadow">
            <div class="container">
                <div class="row header uny">

                    <!-- Logo -->
                    <div class="col-md-2 col-sm-8 col-xs-8 logo uny">
                        <a href="/portal/index/principal">
                            <?php
                            if (isset($id_entidade)) {
                                ?>
                                <img
                                        src="<?php echo $this->baseUrl ?>/layout/<?php echo $id_entidade ?>/imagens/logo_topo.png"
                                        alt="Portal do Aluno"/>
                                <?php
                            } else {
                                $id_entidade = null;
                                ?>
                                <img
                                        src="<?php echo $this->baseUrl ?>/layout/<?php echo Ead1_Sessao::getSessaoEntidade()->st_layout ?>/imagens/logo_topo.png"
                                        alt="Portal do Aluno"/>
                                <?php
                            }
                            ?>
                        </a>
                    </div>
                    <!-- //Logo// -->
                    <!-- Navigation File -->
                    <div class="col-md-9">

                        <!-- Mobile Button Menu -->
                        <div class="mobile-menu-button">
                            <i class="icon-reorder"></i>
                        </div>
                        <!-- //Mobile Button Menu// -->

                        <nav>
                            <ul class="navigation uny">
                                <?php
                                //                                echo $this->action('nav', 'menu', 'portal', array('entidade' => Ead1_Sessao::getSessaoEntidade()->id_entidade, 'perfil' => Ead1_Sessao::getSessaoPerfil()->id_perfil));
                                ?>
                            </ul>
                        </nav>

                        <!--//Mobile Nav. Container &ndash;&gt;-->
                        <ul class="mobile-nav">
                            <li>
                                <a href="javascript:void(0)">
                                    <?php echo Ead1_Sessao::getSessaoUsuario()->st_nomeexibicao; ?>
                                </a>
                                <ul>
                                    <li>
                                        <a href="/portal/login/selecionaperfil">
                                            <div class="single-icon">
                                                <i class="icon-exchange"></i>Trocar Acesso
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="single-icon"><i class="icon-envelope"></i>Avisos recebidos</div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="single-icon"><i class="icon-edit"></i>Meus dados</div>
                                        </a>.css
                                    </li>
                                    <li>
                                        <a href="<?php echo $this->baseUrlModulo ?>/index/logout">
                                            <div class="single-icon">
                                                <i class="icon-off"></i>Sair
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <!--//Mobile Nav. Container// &ndash;&gt;-->
                    </div>
                    <!-- Nav -->
                    <div class="login col-md-1">
                        <?php
                        if ($this->salaView && $this->salaView->getId_sistema() == SistemaTO::MOODLE):
                            if (Ead1_Sessao::getSessaoPerfil()->is_professor()) :
                                $urlMoodle = $this->salaView->getSt_codsistema();
                            else:
                                $urlMoodle = $this->salaView->getSt_codsistemaent();
                            endif;

                            $url_imagem = substr($urlMoodle, 0, -26)
                                . 'user/pix.php/' . $this->salaView->getSt_codusuario() . '/f1.jpg';
                        else :
                            if (isset(Ead1_Sessao::getSessaoUsuario()->st_urlavatar)) {
                                $url_imagem = $this->baseUrl . Ead1_Sessao::getSessaoUsuario()->st_urlavatar;
                            } else {
                                $url_imagem = $this->baseUrl . '/layout/' . Ead1_Sessao::getSessaoEntidade()->st_layout
                                    . '/imagens/icones/semfoto.png';
                            }
                        endif;
                        ?>
                        <div class="photo fechado"
                             style="background: url(<?php echo $url_imagem; ?>) no-repeat 50% -10px #FFF; background-size: 60px;">
                            <div class="arrow-down-perfil"><i class="icon-chevron-sign-down"></i></div>
                            <?php if (Ead1_Sessao::getSessionMensagem()->nr_mensagem != null) {
                                ?>
                                <span class="badge">
                            <?php
                            echo Ead1_Sessao::getSessionMensagem()->nr_mensagem_nao_lidas;
                            ?>
                            </span>
                                <?php
                            }
                            ?>
                        </div>
                        <div class="perfil">
                            <div class="arrow-up"></div>
                            <div class="team-member">
                                <div class="team-member-content">
                                    <h3 class="team-member-name h3-body-title">
                                        <?php echo Ead1_Sessao::getSessaoUsuario()->st_nomeexibicao; ?>
                                    </h3>

                                    <div class="team-member-short-bio">
                                        <ul class="icons-list">
                                            <li>
                                                <a href="/portal/login/selecionaperfil">
                                                    <div class="single-icon">
                                                        <i class="icon-exchange"></i>
                                                        Trocar Acesso
                                                    </div>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <div class="single-icon">
                                                        <i class="icon-envelope"></i>
                                                        <a href="/portal/mensagem">
                                                            <i class="icon-envelope"></i>
                                                            Avisos recebidos
                                                        </a>
                                                        <?php
                                                        if (Ead1_Sessao::getSessionMensagem()->nr_mensagem != null) {
                                                            ?>
                                                            <span class="badge pull-right">
                                                            <?php
                                                            echo Ead1_Sessao::getSessionMensagem()->nr_mensagem_nao_lidas;
                                                            ?>
                                                            </span>
                                                            <?php
                                                        }
                                                        ?>
                                                    </div>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <div class="single-icon"><i class="icon-edit"></i>Meus dados</div>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="<?php echo $this->baseUrlModulo ?>/index/logout">
                                                    <div class="single-icon">
                                                        <i class="icon-off"></i>Sair
                                                    </div>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
    </div>

    <!--PHP que verifica se os dados da sala sao encontrados ou ha alguma mensagem de erro-->
    <?php if ($this->salaView or $this->listSalas): ?>

        <div class="breadcrumb-container uny">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <ul class="breadcrumbs">
                            <?php if (Ead1_Sessao::getSessaoPerfil()->is_coordenadorProjetoPedagogico() ||
                                Ead1_Sessao::getSessaoPerfil()->is_professor() ||
                                Ead1_Sessao::getSessaoPerfil()->is_observadorInstitucional() ||
                                Ead1_Sessao::getSessaoPerfil()->is_suporte()) { ?>
                                <li>
                                    <a href="/portal/sala-de-aula/gestao/id_disciplina/<?= $this->idDisciplina; ?>/id_saladeaula/<?= $this->idSalaDeAula; ?>">
                                        [GESTÃO]
                                    </a>
                                </li>
                            <?php } ?>
                            <li>
                                <a href="/portal/index/principal">
                                    <i class="icon icon-home"></i>Principal
                                </a>
                            </li>
                            <li class="selecao-salas">
                                <div class="btn-group uny">
                                    <a class="btn dropdown-toggle pai" data-toggle="dropdown" href="#">
                                        <?php echo ($this->salaView->getId_categoriasala() == 2) ? 'PRR - ' . $this->salaView->getSt_disciplina() : $this->salaView->getSt_disciplina(); ?>
                                        <span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu salas">
                                        <?php
                                        if (is_array($this->listSalas)):
                                            foreach ($this->listSalas as $salas) {
                                                if ($salas->id_disciplina == $this->salaView->getId_disciplina() && $salas->getId_categoriasala() == $this->salaView->getId_categoriasala()) {
                                                    $classe_ativa = 'ativa';
                                                } else {
                                                    $classe_ativa = '';
                                                }
                                                //                                    echo $salas->id_status;
                                                if ($salas->id_status == 1) {
                                                    $class = 'aberta';
                                                    $notificacao = 'javascript:void(0)';
                                                } elseif ($salas->id_status == 2) {
                                                    $class = 'fechada';
                                                    $notificacao = '#mensagem-uny';
                                                } else {
                                                    $class = 'nao-iniciada';
                                                    $notificacao = '#mensagem-uny';
                                                }
                                                ?>
                                                <li class="sala-item <?php echo $classe_ativa; ?>"
                                                    data-id-disciplina="<?php echo $salas->getId_disciplina(); ?>"
                                                    data-id-saladeaula="<?php echo $salas->getId_saladeaula(); ?>"
                                                    data-id-categoriasala="<?php echo $salas->getId_categoriasala(); ?>">
                                                    <div class="status">
                                                        <i class="icon-circle <?php echo $class; ?>"></i>
                                                    </div>
                                                    <div class="conteudo">
                                                        <?php if (!Ead1_Sessao::getSessaoPerfil()->is_professor()) { ?>
                                                            <span class="disciplina">
                                                    <?php
                                                    echo ($salas->getId_categoriasala() == 2)
                                                        ? 'PRR - ' . $salas->getSt_disciplina()
                                                        : $salas->getSt_disciplina();
                                                    ?>
                                                </span>
                                                        <?php } else { ?>
                                                            <span class="disciplina-professor">
                                                    <?php
                                                    echo ($salas->getId_categoriasala() == 2)
                                                        ? 'PRR - ' . $salas->getSt_saladeaula()
                                                        : $salas->getSt_saladeaula();
                                                    ?>
                                                </span>
                                                        <?php } ?>
                                                        <?php if (!Ead1_Sessao::getSessaoPerfil()->is_professor()) : ?>
                                                            <span>
                                                    Tutor: <?php echo $salas->getSt_professor(); ?>
                                                </span>
                                                        <?php endif; ?>
                                                    </div>
                                                </li>
                                                <?php
                                            }
                                        endif;
                                        ?>
                                    </ul>
                                </div>
                                <form action="/portal/index/lms" method="post" id="form-mudanca-sala">
                                    <input type="hidden" name="id_disciplina" id="id_disciplina" value="">
                                    <input type="hidden" name="id_saladeaula" id="id_saladeaula" value="">
                                    <input type="hidden" name="id_categoriasala" id="id_categoriasala" value="">
                                </form>
                            </li>
                            <li class="pull-right">
                                <?php
                                //verifica se tem data de ecerramento da sala e se o numero de dias de acesso é diferente de vazio
                                if ((Ead1_Sessao::getSessaoPerfil()->is_aluno()) || (Ead1_Sessao::getSessaoPerfil()->is_alunoInstitucional())):
                                    if (!empty($this->salaView->getDt_encerramentosala()) && !empty($this->salaView->getNu_diasacesso())):
                                        //atribui os valores as variaveis
                                        $nu_dias = (int)$this->salaView->getNu_diasacesso();

                                        $dt_fim = new Zend_Date($this->salaView->getDt_abertura()->format('Y-m-d'));
                                        $dt_fim->addDay($nu_dias);//adiciona os dias na data de abertura

                                        //calcula o numero de dias restantes, chamando a helper
                                        $nu_diasRestantes = $this->dateDiff(date('d/m/Y'), $dt_fim->toString('dd/MM/Y'));

                                        //verifica os dias restantes para setar a classe bootstrap
                                        if ($nu_diasRestantes <= 0):
                                            $class = "muted";
                                        elseif ($nu_diasRestantes >= 10 && $nu_diasRestantes <= 20):
                                            $class = "text-warning";
                                        else:
                                            $class = "text-success";
                                        endif;

                                        ?>
                                        Você possui <strong class="<?php echo $class; ?>">
                                        <?php echo $nu_diasRestantes <= 0 ? 0 : $nu_diasRestantes; ?>
                                        dia(s)</strong> de acesso neste curso.
                                    <?php
                                    endif;
                                endif;
                                ?>
                            </li>
                        </ul>
                        <?php
                        if (Ead1_Sessao::getSessaoUsuario()->id_usuariooriginal != 0) {
                            ?>
                            <ul class="acessando-como">
                                <li>
                                    Você está acessando como:
                                    <strong><?php echo Ead1_Sessao::getSessaoUsuario()->st_nomeexibicao; ?></strong>
                                </li>
                            </ul>
                            <?php
                        }
                        ?>
                    </div>
                </div>
            </div>
        </div>

        <!--Exibe uma mensagem de erro caso exista na tentativa de abertura da sala na action IndexController::lmsAction() -->
    <?php else: ?>
        <div class="alert alert-danger"><i
                    class="icon icon-remove-sign"></i> <?php echo $this->erro->getFirstMensagem(); ?> </div>
    <?php endif; ?>

    <div class="body-lms">
        <div class="cortina cortina-body"></div>
        <div class="uny-box" id="mensagem-uny"></div>
        <script src="<?php echo $this->baseUrl; ?>/js/jsnovoportal/_jq.js" type="text/javascript"></script>
        <script src="<?php echo $this->baseUrl; ?>/js/jsnovoportal/bootstrap.min.js" type="text/javascript"></script>
        <script src="<?php echo $this->baseUrl; ?>/js/jsnovoportal/front.js" type="text/javascript"></script>
        <?php
        if (isset($this->urlSalaDeAula) && $this->urlSalaDeAula != null) {
            ?>
            <iframe src="<?php echo $this->urlSalaDeAula; ?>" name="main_frame" id="main_frame"
                    onload="window.parent.parent.scrollTo(0,0)" width="100%" height="1010" allowfullscreen
                    webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen/>
            <?php
        }
        ?>
    </div>