<?php echo $this->render('header_login.phtml') ?>
<?php if (isset($id_entidade)) { ?>
    <div class="body-wrapper  login-portal" style="margin-top: -135px;">
        <div class="cortina cortina-body"></div>
        <div id="conteudo-interno">
            <?php echo $this->layout()->content ?>
        </div>

    </div>
<?php } else { ?>
    <div class="body-wrapper  login-portal" style=" bottom: 0;
            position: absolute;
            top: 0;
            left: auto;
            right: 0;
            width: 100%;height: 100%; background-color: #682a3c;  background-image: url(<?php echo $this->baseUrl ?>/layout/<?php echo Ead1_Sessao::getSessaoEntidade()->st_layout ?>/imagens/bg-leya-portal.png)">
        <div class="cortina cortina-body"></div>
        <div id="conteudo-interno" style="position: relative; top: 50%; transform: translateY(-50%);">
            <?php echo $this->layout()->content ?>
        </div>
    </div>
<?php } ?>

<?php echo $this->render('footer_login.phtml') ?>