<!-- Nova Modal helder-->
<div class="modal fade" id="myModal" style="overflow-y: auto !important" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Escolha o curso que deseja acessar</h4>
            </div>
            <div class="modal-body"></div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->


<div id="modalHistoricoAgendamento" class="modal fade"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Histórico de Agendamento</h4>
            </div>
            <div class="modal-body" style="max-height: 500px;">
                <table class="table table-hover table-striped" id="tabela-retorno-pesquisa-historico">
                    <thead>
                        <tr>
                            <th>Prova</th>
                            <th>Atividades</th>
                            <th>Responsável</th>
                            <th>Data</th>
<!--                            <th>Observações</th>-->
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
</div>
