<!-- MENU -->
<ul id="nav" class="dropdown dropdown-horizontal">
    <li>
        <span class="icone_menu" style="padding:4px;">
            <img src="<? echo $this->baseUrl ?>/layout/<? echo Ead1_Sessao::getSessaoEntidade()->st_layout ?>/imagens/icones/principal.png" border=0 width="20" height="20" />
        </span>
        <a href="<? echo $this->baseUrl ?>/index/principal" style="padding-left:33px">Principal</a>
    </li>
    <li>
        <span class="icone_menu" style="padding:4px;">
            <img src="<? echo $this->baseUrl ?>/layout/<? echo Ead1_Sessao::getSessaoEntidade()->st_layout ?>/imagens/icones/cadastro.png" border=0 width="20" height="20" />
        </span>
        <span class="dir" style="padding-left:33px">Cadastro</span>
        <ul>
            <li>
                <span class="icone_menu" style="padding:4px;">
                    <img src="<? echo $this->baseUrl ?>/layout/<? echo Ead1_Sessao::getSessaoEntidade()->st_layout ?>/imagens/icones/meusdados.png" border=0 width="20" height="20" />
                </span>
                <a href="<? echo $this->baseUrl ?>/Index/principal" style="padding-left:33px">Meus Dados</a>
            </li>

            <li>
                <span class="icone_menu" style="padding:4px;">
                    <img src="<? echo $this->baseUrl ?>/layout/<? echo Ead1_Sessao::getSessaoEntidade()->st_layout ?>/imagens/icones/senha.png" border=0 width="20" height="20" />
                </span>
                <a href="<? echo $this->baseUrl ?>/Log" style="padding-left:33px">Atualizar Senha</a>
            </li>

            <li>
                <span class="icone_menu" style="padding:4px;">
                    <img src="<? echo $this->baseUrl ?>/layout/<? echo Ead1_Sessao::getSessaoEntidade()->st_layout ?>/imagens/icones/webservice.png" border=0 width="20" height="20" />
                </span>
                <span class="dir" style="padding-left:33px">Actor Service</span>
                <ul>
                    <li>
                        <span class="icone_menu" style="padding:4px;">
                            <img src="<? echo $this->baseUrl ?>/layout/<? echo Ead1_Sessao::getSessaoEntidade()->st_layout ?>/imagens/icones/webservice.png" border=0 width="20" height="20" />
                        </span>
                        <a href="<? echo $this->baseUrl ?>/Actorservice/pessoa" style="padding-left:33px">Pessoa Service</a>
                    </li>
                    <li>
                        <span class="icone_menu" style="padding:4px;">
                            <img src="<? echo $this->baseUrl ?>/layout/<? echo Ead1_Sessao::getSessaoEntidade()->st_layout ?>/imagens/icones/webservice.png" border=0 width="20" height="20" />
                        </span>
                        <a href="<? echo $this->baseUrl ?>/Actorservice/disciplina" style="padding-left:33px">Disciplina Service</a>
                    </li>
                    <li>
                        <span class="icone_menu" style="padding:4px;">
                            <img src="<? echo $this->baseUrl ?>/layout/<? echo Ead1_Sessao::getSessaoEntidade()->st_layout ?>/imagens/icones/webservice.png" border=0 width="20" height="20" />
                        </span>
                        <a href="<? echo $this->baseUrl ?>/Actorservice/saladeaula" style="padding-left:33px">Sala de Aula Service</a>
                    </li>
                    <li>
                        <span class="icone_menu" style="padding:4px;">
                            <img src="<? echo $this->baseUrl ?>/layout/<? echo Ead1_Sessao::getSessaoEntidade()->st_layout ?>/imagens/icones/webservice.png" border=0 width="20" height="20" />
                        </span>
                        <a href="<? echo $this->baseUrl ?>/Actorservice/matricula" style="padding-left:33px">Matricula Service</a>
                    </li>
                    <li>
                        <span class="icone_menu" style="padding:4px;">
                            <img src="<? echo $this->baseUrl ?>/layout/<? echo Ead1_Sessao::getSessaoEntidade()->st_layout ?>/imagens/icones/webservice.png" border=0 width="20" height="20" />
                        </span>
                        <a href="<? echo $this->baseUrl ?>/Actorservice/loginlms" style="padding-left:33px">Login Service</a>
                    </li>
                </ul>
            </li>

        </ul>
    </li>

    <li>
        <span class="icone_menu" style="padding:4px;">
            <img src="<? echo $this->baseUrl ?>/layout/<? echo Ead1_Sessao::getSessaoEntidade()->st_layout ?>/imagens/icones/suporte.png" border=0 width="20" height="20" />
        </span> 
        <span class="dir" style="padding-left:33px">Suporte</span>
        <ul>
            <li>
                <span class="icone_menu" style="padding:4px;">
                    <img src="<? echo $this->baseUrl ?>/layout/<? echo Ead1_Sessao::getSessaoEntidade()->st_layout ?>/imagens/icones/suporte.png" border=0 width="20" height="20" />
                </span>
                <a href="<? echo $this->baseUrl ?>/Index/principal" style="padding-left:33px">Serviço de Atendimento ao Aluno</a>
            </li>
        </ul>
    </li>


    <li>
        <span class="icone_menu" style="padding:4px;">
            <img src="<? echo $this->baseUrl ?>/layout/<? echo Ead1_Sessao::getSessaoEntidade()->st_layout ?>/imagens/icones/financeiro.png" border=0 width="20" height="20" />
        </span> 
        <span class="dir" style="padding-left:33px">Financeiro</span>
        <ul>
            <li>
                <span class="icone_menu" style="padding:4px;">
                    <img src="<? echo $this->baseUrl ?>/layout/<? echo Ead1_Sessao::getSessaoEntidade()->st_layout ?>/imagens/icones/boletos.png" border=0 width="20" height="20" />
                </span>
                <a href="<? echo $this->baseUrl ?>/Index/principal" style="padding-left:33px">Boletos</a>
            </li>
            <li>
                <span class="icone_menu" style="padding:4px;">
                    <img src="<? echo $this->baseUrl ?>/layout/<? echo Ead1_Sessao::getSessaoEntidade()->st_layout ?>/imagens/icones/boletospagos.png" border=0 width="20" height="20" />
                </span>
                <a href="<? echo $this->baseUrl ?>/Index/principal" style="padding-left:33px">Boletos pagos</a>
            </li>
            <li>
                <span class="icone_menu" style="padding:4px;">
                    <img src="<? echo $this->baseUrl ?>/layout/<? echo Ead1_Sessao::getSessaoEntidade()->st_layout ?>/imagens/icones/formasdepagamento.png" border=0 width="20" height="20" />
                </span>
                <a href="<? echo $this->baseUrl ?>/Index/principal" style="padding-left:33px">Alterar forma de pagamento</a>
            </li>
        </ul>
    </li>


    <li>
        <span class="icone_menu" style="padding:4px;">
            <img src="<? echo $this->baseUrl ?>/layout/<? echo Ead1_Sessao::getSessaoEntidade()->st_layout ?>/imagens/icones/sair.png" border=0 width="20" height="20" />
        </span>
        <a href="<? echo $this->baseUrl ?>/index" style="padding-left:33px">Sair</a>
    </li>
</ul>
<!-- MENU -->