<script type="text/javascript" src="/js/jquery.form.js"></script>

<!--
Template do auto-complete
-->
<script type="text/template" id="template-componente">
    <fieldset>
        <div id="container-componente" class="row-fluid well span12">
            <div class="span12">
                <legend class="span12">
                    <div class="pull-left"><h5>Pesquisar Pessoa</h5></div>
                    <div class="pull-right btn-group">
                        <button class="btn" type="button" id="btnFixAutocomplete" title="Selecionar">
                            Fixar
                            <i class="icon-check"></i>
                        </button>
                        <button class="btn" type="button" id="btnClearAutocomplete" title="Limpar">
                            Limpar
                            <i class="icon-refresh"></i>
                        </button>
                        <button type="button" style="margin-right: 10px;" id="btn-adicionar-pessoa" class="btn">
                            <i class="icon icon-ok"></i>
                            Adicionar Nova Pessoa
                        </button>
                        <button type="button" id="btn-ocultar-form" style="display: none" class="btn">
                            <i class="icon icon-share"></i>
                            Ocultar Formulário
                        </button>
                    </div>
                </legend>
            </div>
            <div id="container-autocomplete" class="span12">
                <div class="row-fluid">
                    <input name="search-backbone" id="search-backbone" type="text" class="span12 input"
                           placeholder="Digite o Nome, E-mail ou CPF" autocomplete="off">

                    <div id="autocomplete-results" class="span12">
                        <ul></ul>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
    <fieldset>
        <div id="container-adicionar-pessoa" style="display: none;" class="row-fluid well span12"></div>
    </fieldset>
</script>
<script type="text/template" id="template-componente-list-autocomplete">
    <a class="link-alter-template">
        <b>Nome:</b> <%= st_nomecompleto %></br>
        <b>CPF:</b> <%= st_cpf %> <b>E-mail:</b> <%= st_email %></br>
    </a>
</script>
<?php echo $this->render('/pessoa/cadastro-rapido.phtml'); ?>

<!--
    Template Geral
-->
<script type="text/template" id="template-cursos-informacoes">
    <div class="well well-small">
        <div class="row-fluid">
            <div class="span3">
                <div id="divCurso">
                    <label for="id_curso">Curso:</label>
                    <select name="id_curso" id="id_curso" class="span12">
                        <option value="">Selecione</option>
                    </select>
                </div>
            </div>
            <div class="span3">
                <div id="divTurma">
                    <label for="id_turma">Turma:</label>
                    <select name="id_turma" id="id_turma" class="span12">
                        <option value="">Selecione</option>
                    </select>
                </div>
            </div>
            <div class="span4">
                <div id="divProcessoSeletivo">
                    <label for="id_processoseletivo">Processo Seletivo:</label>
                    <select name="id_processoseletivo" id="id_processoseletivo" class="span12">
                        <option value="">Selecione</option>
                    </select>
                </div>
            </div>
            <div class="span2">
                <div id="divDataIngresso">
                    <label>Data de ingresso:</label>
                    <input class="span12 datepicker maskDate" type="text"
                           name="dt_ingresso" placeholder=""
                           id="dt_ingresso"
                           value="">
                </div>
            </div>
        </div>
    </div>
</script>
<script type="text/template" id="template-contrato-informacoes">
    <div class="well well-small">
        <legend>Contrato</legend>
        <div class="row-fluid">
            <div class="span3">
                <label>Número de Créditos:</label>
                <strong><%=nu_creditos%></strong>
            </div>
            <div class="span3">
                <label>Valor por Crédito:</label>
                <strong><%=nu_valorcreditomostrar%></strong>
            </div>
            <div class="span3">
                <label>Valor do Contrato:</label>
                <strong><%=nu_valorcontratomostrar%></strong>
            </div>
            <div class="span3">
                <button type="button" class="btn btn-success" id="btn_grade">Alterar/Visualizar Grade</button>
            </div>
        </div>
        <div class="row-fluid marginT20">
            <div class="span3">
                <label for="id_campanhacomercial">Campanha Comercial:</label>
                <select name="id_campanhacomercial" id="id_campanhacomercial" class="span12">
                    <option value="">Selecione</option>
                </select>
            </div>
            <div class="span3">
                <label>Desconto:</label>
                <strong><%=nu_descontomostrar%></strong>
            </div>
            <div class="span3">
                <label>Valor da Negociação: </label>
                <strong><%=nu_valornegociacaomostrar%></strong>
            </div>
        </div>
    </div>
</script>
<script type="text/template" id="template-mensalidade-informacoes">
    <div class="well well-small">
        <legend>Mensalidade</legend>
        <div class="row-fluid">
            <div class="span7">
                <div class="span4">
                    <label>Valor Entrada:</label>
                    <strong><%=nu_valorentradamostrar%></strong>
                </div>
                <div class="span4">
                    <label>Valor de Desconto da Entrada:</label>
                    <strong><%= nu_valordescontoentradamostrar %></strong>
                </div>
                <div class="span4">
                    <label>Valor da Mensalidade:</label>
                    <strong><%=nu_valormensalidademostrar%></strong>
                </div>
            </div>
            <div class="span5">
                <div class="span6">
                    <label for="id_campanha_pontualidade">Campanha Pontualidade:</label>
                    <select name="id_campanha_pontualidade" id="id_campanha_pontualidade" class="span12">
                        <option value="id_campanha_pontualidade">Selecione</option>
                    </select>
                </div>
                <div class="span6">
                    <label>Mensalidade com Pontualidade:</label>
                    <strong><%=nu_valormensalidadepontualidademostrar%></strong>
                </div>
            </div>
        </div>
    </div>
</script>
<script type="text/template" id="template-atendente-informacoes">
    <div class="well well-small">
        <div class="row-fluid">
            <div class="span2">
                <div id="divAtendente">
                    <label for="id_atendente">Atendente</label>
                    <select name="id_atendente" id="id_atendente" class="span12">
                        <option value="">Selecione</option>
                    </select>
                </div>
            </div>
            <div class="span3">
                <div id="divRegraContrato">
                    <label for="id_regra_contrato">Regra de Contrato: </label>
                    <select name="id_regra_contrato" id="id_regra_contrato" class="span12">
                        <option value="">Selecione</option>
                    </select>
                </div>
            </div>
            <div class="span2">
                <div id="divVendedor">
                    <label for="id_vendedor">Vendedor</label>
                    <select name="id_vendedor" id="id_vendedor" class="span12" disabled>
                        <option value="">Carregando...</option>
                    </select>
                </div>
            </div>
            <div class="span3">
                <div id="divNucleo">
                    <label for="id_nucleotelemarketing">Núcleo de Telemarketing</label>
                    <select name="id_nucleotelemarketing" id="id_nucleotelemarketing" class="span12" disabled>
                        <option value="">Carregando...</option>
                    </select>
                </div>
            </div>
            <div class="span2">
                <div id="divAfiliado">
                    <label>Afiliado</label>
                    <%= st_afiliado || '-' %>
                </div>
            </div>
        </div>
    </div>
</script>

<script type="text/template" id="template-informacoes"></script>
<script type="text/template" id="template-pagamento-informacoes">
    <div class="well well-small">
        <legend>Pagamento</legend>
        <div class="row-fluid">
            <div class="span3" id="divMeioEntrada">
                <label for="id_meiopagamentoentrada">Meio Pagamento Entrada:</label>
                <select required="required" name="id_meiopagamentoentrada" id="id_meiopagamentoentrada"
                        class="span12 meiopagamento">
                    <option value="">Selecione</option>
                    <option value="1"
                    <%= (1 == id_meiopagamentoentrada ) ? 'selected=selected' : '' %> >Cartão Crédito</option>
                    <option value="2"
                    <%= (2 == id_meiopagamentoentrada ) ? 'selected=selected' : '' %> >Boleto</option>
                </select>
            </div>
            <div class="span2" id="divVencimentoEntrada">
                <label for="dt_vencimentoentrada">Vencimento Entrada:</label>
                <input name="dt_vencimentoentrada" id="dt_vencimentoentrada" class="span12 datepickerStart" type="text"
                       value="<%= dt_vencimentoentrada %>" required/>
            </div>
            <div class="span2" id="divMeioParcelas">
                <label for="id_meiopagamentoparcelas">Meio Pagamento Parcelas:</label>
                <select name="id_meiopagamentoparcelas" id="id_meiopagamentoparcelas" class="span12 meiopagamento"
                        required>
                    <option value="">Selecione</option>
                    <option value="1"
                    <%= (1 == id_meiopagamentoparcelas ) ? 'selected=selected' : '' %> >Cartão Crédito</option>
                    <option value="2"
                    <%= (2 == id_meiopagamentoparcelas ) ? 'selected=selected' : '' %> >Boleto</option>
                </select>
            </div>
            <div class="span2" id="divVencimentoParcelas">
                <label for="nu_vencimentoparcelas">Vencimento Parcelas:</label>
                <select name="nu_vencimentoparcelas" id="nu_vencimentoparcelas" class="span12"
                        data-selected="<%= nu_vencimentoparcelas %>">
                    <option value="">Selecione</option>
                    <% _.each([01,02,03,04,05,06,07,08,15,25], function ( x ) { %>
                    <option value="<%= (x <= 9) ? '0': '' %><%= x %>"
                    <%= (x == nu_vencimentoparcelas ) ? 'selected=selected' : '' %> >
                    <%= (x <= 9) ? '0': '' %><%= x %>
                    </option>
                    <% }); %>

                </select>
            </div>
            <div class="span3">
                <label for="nu_mesesintervalovencimento">Intervalo de Vencimento 2ª Parcela</label>
                <select id="nu_mesesintervalovencimento" class="span12" name="nu_mesesintervalovencimento">
                    <% _.each(_.range(1, 4), function (i) { %>
                    <option value="<%= i %>"
                    <%= (i == nu_mesesintervalovencimento ) ? 'selected' : '' %>>
                    <%= i + (i === 1 ? ' mês' : ' meses') %>
                    </option>
                    <% }); %>
                </select>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span12" id="divRespFinanceiroGrad">
                <label>Responsável Financeiro:</label>
                <button title="Pesquisar Responsável" type="button" class="btn pull-right"
                        id="btn-procurar-responsavel-financeiro">
                    <i class="icon icon-search"></i>
                </button>
                <div style="margin-right: 40px;">
                    <select required="required" name="id_responsavelfinanceirograd" class="span12"
                            id="id_responsavelfinanceirograd">
                        <option value="">Selecione</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row-fluid">
            <table class="backgrid backgrid-selectall table table-striped table-bordered table-hover">
                <thead>
                <tr>
                    <th>Parcela</th>
                    <th>Meio Pagamento</th>
                    <th>Vencimento</th>
                    <th>Valor</th>
                    <th>Status</th>
                    <th style="width: 57px;">Opções</th>
                </tr>
                </thead>
                <tbody id="lista-lancamentos-venda-graduacao">

                </tbody>
            </table>
        </div>

    </div>
</script>

<script type="text/template" id="template-item-lancamento-graduacao">
    <td><%= nu_ordem %></td>
    <td><%= st_meiopagamento %></td>
    <td><span class="maskDate"> <%= dt_vencimento %> </span></td>
    <td> R$ <%= nu_valormostrar %></td>
    <td><%= bl_quitado ? 'Quitado' : 'Pendente' %></td>
    <td>
        <button
        <%= bl_botaomostrar ? '' : 'disabled="disabled"' %> class="btn btn-opcoes-lancamento btn-success" type="button"
        name="btn-opcoes-lancamento-gra">
        <b>$</b>
        </button>
    </td>
</script>

<script type="text/template" id="template-empty-lancamento-graduacao">
    <td colspan="7">
        Nenhum lançamento adicionado.
    </td>
</script>


<script type="text/template" id="template-botoes">
    <fieldset>
        <div class="row-fluid">
            <div class="form-actions">
                <div class="span6">
                    <button type="button" id="btn-ficha" class="btn btn-primary" disabled>
                        <i class="icon icon-list-alt icon-white"></i> Ficha de Matrícula
                    </button>
                    <button type="button" id="btn-contrato" class="btn btn-primary" disabled>
                        <i class="icon icon-pencil icon-white"></i> Contrato
                    </button>
                    <button type="button" id="btn-aproveitamento" class="btn" disabled>
                        <i class="icon icon-plus"></i>
                        Solicitar Isenção
                    </button>
                </div>
                <div class="span6" style="text-align: right;">
                    <button type="button" id="btn-confirmar" disabled class="btn btn-info">
                        <i class="icon icon-ok icon-white"></i> Confirmar Recebimento / Matrícula
                    </button>
                    <button type="button" id="btn-concluir" disabled class="btn btn-inverse">
                        <i class="icon icon-ok icon-white"></i> Concluir Negociação
                    </button>
                    <button type="button" id="btn-salvar" disabled class="btn btn-success">Salvar</button>
                </div>
            </div>
        </div>
    </fieldset>
</script>

<script id="template-grade" type="text/template">
    <fieldset>
        <legend>Grade de Disciplinas</legend>

        <div class="well well-small">
            <div class="row-fluid">
                <div class="span3">
                    <b>Aluno: </b>
                    <%= st_nomecompleto %>
                </div>
                <div class="span3">
                    <b>Curso: </b>
                    <%= st_curso %>
                </div>
                <div class="span3">
                    <b>Turma: </b>
                    <%= st_turma %>
                </div>
            </div>
        </div>

        <div class="grid-info well well-small">
            <div class="row-fluid">
                <b class="span3">
                    Mínimo de disciplinas:
                    <%= nu_mindisciplinas %>
                </b>
                <b class="span3">
                    Máximo de disciplinas:
                    <%= nu_maxdisciplinas %>
                </b>
                <b class="span3">
                    Disciplinas selecionadas:
                    <span id="disciplinas_selec">
                        <%= nu_disciplinasselecionadas %>
                    </span>
                </b>
            </div>
        </div>

        <div class="well well-small" style="background-color: #fff;">
            <legend><h5>Ofertas Padrão</h5></legend>
            <div id="grid-container" class="row-fluid">
                <div class="alert alert-warning">Carregando...</div>
            </div>

            <div class="clearfix"></div>

            <legend><h5>Ofertas Excepcionais</h5></legend>
            <div id="grid-container-excepcional" class="row-fluid">
                <div class="alert alert-warning">Carregando...</div>
            </div>

            <div class="clearfix"></div>

            <legend><h5>Ofertas Estendidas</h5></legend>
            <div id="grid-container-estendidas" class="row-fluid">
                <div class="alert alert-warning">Carregando...</div>
            </div>
        </div>
    </fieldset>

    <fieldset>
        <div id="grid-contrato"></div>
    </fieldset>

    <fieldset>
        <div id="grid-mensalidade"></div>
    </fieldset>

    <div class="well well-small">
        <div class="grid-buttons text-right">
            <button type="button" class="btn btn-success btnSave">
                <i class="icon-white icon-ok"></i>
                Salvar grade
            </button>
            <button type="button" class="btn btnCancel">
                <i class="icon icon-remove"></i>
                Cancelar alterações na grade
            </button>
        </div>
    </div>

</script>

<script type="text/template" id="layout-informacoes">
    <fieldset>
        <div class="well well-large">
            <div class="row-fluid content-box-vendas" id="wrapper-informacoes-1"></div>
            <div class="row-fluid content-box-vendas" id="wrapper-informacoes-2"></div>
            <div class="row-fluid content-box-vendas" id="wrapper-informacoes-3"></div>
            <div class="row-fluid content-box-vendas" id="wrapper-informacoes-4"></div>
            <div class="row-fluid content-box-vendas" id="wrapper-informacoes-5"></div>
            <div class="row-fluid content-box-vendas" id="wrapper-informacoes-grade"></div>
        </div>
    </fieldset>
</script>

<script type="text/template" id="layout-venda-graduacao">
    <div class="row-fluid" id="autoComplete"></div>
    <div class="row-fluid content-box-vendas" id="wrapper-informacoes"></div>
    <div class="row-fluid content-box-vendas" id="wrapper-lancamentos"></div>
    <div class="row-fluid">
        <div id="box-modal-rf" class="modal hide fade modal-large"></div>
    </div>
    <div class="row-fluid">
        <div id="box-modal-solicitacao"></div>
    </div>
    <div class="row-fluid content-box-vendas" id="wrapper-botoes"></div>
</script>

<!-- TEMPLATEM PARA MODAL DE SOLICITAÇÃO DE APROVEITAMENTO -->
<script type="text/template" id="template-modal-solicitacao-aproveitamento">

    <div class="well well-large">
        <div class="row-fluid">
            <div class="span8 control-group">
                <label for=""><strong>Nome:</strong> <%= st_nomeinteressado %></label>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span12">
                <div class="span6">
                    <label for=""><strong>Assunto:</strong></label>
                    <%= st_assuntocopai %>
                </div>
                <div class="span6">
                    <label for="id_subassuntoco"><strong>Subassunto:</strong></label>
                    <select name="id_subassuntoco" id="id_subassuntoco" class="span12" required="required">
                        <option value="" disabled>Selecione</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span12">
                <div class="span6">
                    <label for="id_atendente_solicitacao"><b>Atendente:</b></label>
                    <select name="id_atendente_solicitacao" id="id_atendente_solicitacao" class="span12" required>
                        <option value="" disabled>Selecione</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="well well-large">
        <div class="row-fluid">
            <div class="span12">
                <label for=""><b>Descrição:</b></label>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span12">
                <textarea id="st_ocorrencia" class="span12" name="st_ocorrencia"><%= st_ocorrencia %></textarea>
            </div>
        </div>
        <div class="row-fluid pad20top">
            <div class="span12">
                <input id='arquivo' name="arquivo" type="file"
                       accept="image/*, .csv, .pdf, .doc, .xml, .txt, application/vnd.ms-excel, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet">
            </div>
        </div>
    </div>
</script>

<script type="text/template" id="template-modal-interacao-ocorrencia">
    <div class="well well-large">
        <legend>INTERAÇÕES PARA ESSA OCORRÊNCIA</legend>
        <div class="row-fluid">
            <div class="pull-right">
                <button type="button" id="btn_novaInteracao"
                        class="btn btn-primary pull-right btn_interacao">Nova interação
                </button>
                <button type="button" id="btn_fecharInteracao"
                        class="btn btn-primary pull-right btn_interacao hide">Fechar Interação
                </button>
            </div>
        </div>
        <form class="hide" id="form-nova-interacao" method="post" enctype="multipart/form-data">
            <div class="row-fluid pad20top">
                <div class="span12" id="divStNovoTramite">
                    <textarea name="st_novotramite" id="st_novotramite" class="span12" rows="4"></textarea>
                </div>
            </div>
            <div class="row-fuid pad20top">
                <input name="arquivoInteracao" id="arquivoInteracao" type="file"
                       accept="image/*, .csv, .pdf, .doc, .xml, .txt, application/vnd.ms-excel, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet">
            </div>
            <div class="row-fluid pull-right">
                <button type="button" id="btn_gerarNovaInteracao" class="btn btn-success pull-right">
                    Gerar Nova Interação
                </button>
            </div>
        </form>
        <div class="row-fluid pad20top">
            <table class="backgrid backgrid-selectall table table-bordered table-hover table-striped">
                <thead>
                <tr>
                    <th>Data</th>
                    <th>Descrição</th>
                    <th>Usuario</th>
                    <th>Anexo</th>
                </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</script>

<script type="text/template" id="template-item-tramite-aproveitamento">
    <td><%= st_cadastro %></td>
    <td><%= st_tramite %></td>
    <td><%= st_nomecompleto %></td>
    <td>
        <% if(st_upload){ %>
        <a href="/upload/tramite/<%= st_upload%>">Anexo</a>
        <% } else { %>
        &mdash;
        <% } %>
    </td>
</script>

<!-- TEMPLATES PARA PESQUISA DE RESPONSAVEL FINANCEIRO-->
<script type="text/template" id="template-modal-busca-responsavel-financeiro">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden>&times;</button>
        <h3>Pesquisa Responsável Financeiro</h3>
    </div>
    <div class="modal-body">
        <div class="row-fluid">
            <label class="radio inline">
                <input type="radio" name="tipo_pessoa" id="tipo_pessoa_fisica" value="fisica" checked>
                Pessoa Física
            </label>
            <label class="radio inline">
                <input type="radio" name="tipo_pessoa" id="tipo_pessoa_juridica" value="juridica">
                Pessoa Jurídica
            </label>
        </div>
        <br>

        <div id="container-autocomplete-responsavel-financeiro" class="row-fluid"></div>
    </div>
    <div class="modal-footer">
        <!--<button type="button" class="close btn">Fechar</button>-->
        <a href="#" class="btn" data-dismiss="modal" aria-hidden>Fechar</a>
    </div>
</script>

<script type="text/template" id="template-autocomplete-responsavel-financeiro">
    <fieldset>
        <div class="row-fluid">
            <input name="search-backbone" id="search-backbone" type="text" class="span12 input"
                   placeholder="Pesquisar Pessoa" autocomplete="off">
            <!--<button class="btn btn-success" type="button"><i class="icon icon-user icon-white"></i></button>-->
            <ul style="padding: 0; margin: 0;" id="autocomplete-responsavel-itens"></ul>
        </div>
    </fieldset>
</script>

<script type="text/template" id="template-autocomplete-item-responsavel-financeiro">
    <div class="span10">
        <b>Nome:</b> <%= st_nomecompleto %><br>
        <b>CPF:</b> <%= st_cpf %> - <b>E-mail: </b><%= st_email %>
    </div>
    <div class="span2">
        <a class="btn btn-success" data-get-model="true"><i class="icon icon-plus icon-white"></i></a>
    </div>
</script>

<script type="text/template" id="template-autocomplete-item-responsavel-financeiro-juridico">
    <div class="span10">
        <b>Nome:</b> <%= st_nomeentidade %><br>
        <b>CNPJ:</b> <%= nu_cnpj %> - <b>Razão Social:</b> <%= st_razaosocial %>
    </div>
    <div class="span2">
        <a class="btn btn-success" data-get-model="true"><i class="icon icon-plus icon-white"></i></a>
    </div>
</script>

<script type="text/template" id="template-grade-item">
    <div class="well well-small">
        <h6 class="text-center">
            <div class="one-long-line">
                <%= st_disciplina %>
            </div>
        </h6>
        <div id="btn-group" data-toggle="buttons">
            <label class="btn btn-block <%= btnClass %>"
            <%= disabled ? 'disabled' : '' %>
            style="margin-top: 0; <%= bl_obrigatorio && !disabled ? 'background-color: #006566' : '' %>"
            >
            <input hidden type="checkbox" name="salas[]" value="<%= id_saladeaula %>"
            <%= checked ? 'checked' : '' %>
            <%= disabled ? 'disabled' : '' %>
            />
            <%= label %>
            </label>
        </div>
        <div class="text-center"
             style="background-color: <%= color %>;
                    border-top: 1px solid #E3E3E3;
                    color: #fff;
                    border-radius:4px;
                    margin-top: 10px;"
        >
            <b><%= st_status %></b>
        </div>
    </div>
</script>

<script type="text/template" id="layout-solicitacao">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden>&times;</button>
        <h3>Solicitação de Aproveitamento</h3>
    </div>
    <div class="modal-body">
        <form id="form_aproveitamento" method="post" enctype="multipart/form-data">
            <div id="wrapper-info-gerais"></div>
        </form>

        <div id="wrapper-interacoes"></div>
    </div>
    <div class="modal-footer">
        <button type="button" id="btn_gerar" class="btn btn-primary">Gerar Ocorrência</button>
        <a href="#" class="btn" id="btn_voltarcancelar" data-dismiss="modal" aria-hidden>Cancelar</a>
    </div>
</script>

<script type="text/template" id="template-modal-justifica-contrato">
    <form class="form-inline" action="" method="post" id="form-email" name="form-justificativa">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden>&times;</button>
            <h3>Justificativa de geração de via do contrato</h3>
        </div>
        <div class="modal-body">
            <div class="row-fluid">
                <label for="">Justificativa</label>
            </div>
            <div class="row-fluid hidden" id="divAvisoJustificativa">
                <small style="color: red">Favor inserir uma justificativa para a geração do novo contrato.</small>
            </div>
            <div class="row-fluid">
                <div id="divJustificativa">
                    <textarea required name="st_justificativacontrato" id="st_justificativacontrato" cols="1000"
                              rows="5" class="span12"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" id="btnSaveJustificativa">Salvar</button>
            </div>
    </form>
</script>

<script>
    $(function () {
        G2S.editModel = <?php echo $this->vendagraduacao; ?>;
        $('#htmlContent script[type="text/template"]').appendTo($('#templateHolder'));
    });
</script>

<script type="text/javascript">
    showPessoaCadastro = 1;
    DadosFormulario = null;
</script>

<script type="text/javascript" src="/js/backbone/views/Util/GridCollectionView.js"></script>
<script type="text/javascript" src="/js/auto-complete-componente.js"></script>
<script type="text/javascript" src="/venda-graduacao/js"></script>