<?php
$filename = "planilhaDisciplinaTurma.xls";
header('Content-type: application/ms-excel');
header('Content-Disposition: attachment; filename=' . $filename);
?>
<!DOCTYPE html>
<html lang="PT_BR">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <?php
    echo $this->headLink()->appendStylesheet('/css/xlsDisciplinas.css');
    ?>

</head>
<body style="">
<table>
    <?php
    $discAux = '';
    $cont = 1;
    foreach ($this->disciplinas as $d) {
        if ($cont == 1) {
            ?>
            <tr>
                <th colspan="9" class="nameDisc">
                    <?php
                    echo $d->st_projetopedagogico;
                    ?>
                </th>
            </tr>
        <?php
        }
        if ($d->st_disciplina != $discAux) {
            ?>
            <tr>
                <th colspan="9">
                    <?php
                    echo $d->st_disciplina;
                    ?>
                </th>
            </tr>
            <tr class="node">
                <td></td>
                <td>Sala</td>
                <td>Tutor</td>
                <td>Integração</td>
                <td>Conteúdo</td>
                <td>Início Inscrição</td>
                <td>Fim Inscrição</td>
                <td>Abertura</td>
                <td>Encerramento</td>
            </tr>
        <?php
        }
        $discAux = $d->st_disciplina;
        ?>


        <tr class="nodeItem">
            <td></td>
            <td class="salaT"><?php echo $d->st_saladeaula; ?></td>
            <td><?php echo $d->st_professor; ?></td>
            <td><?php echo $d->st_sistema; ?></td>
            <td><?php
                if ($d->bl_conteudo === true) {
                    echo 'Sim';
                } else {
                    echo 'Não';
                }
                ?>
            </td>
            <td><?php echo $d->dt_inicioinscricao; ?></td>
            <td><?php echo $d->dt_fiminscricao; ?></td>
            <td><?php echo $d->dt_abertura; ?></td>
            <td><?php echo $d->dt_encerramento; ?></td>
        </tr>
        <?php
        $cont++;
    }
    ?>
</table>
<?php
echo $this->headScript()->appendFile('/js/jquery-1.7.1.min.js');
?>
<script>
    jQuery(document).ready(function () {
        jQuery('.salaT:empty').parent().addClass('red');

        jQuery('.nodeItem').children().each(function (e) {
            if (jQuery(this).is(':empty')) {
                jQuery(this).text('-');
            }
        });

    })
</script>

</body>
</html>