<script id="layout-template" type="text/template">
    <form class="form-inline well" id="form-censo" enctype="multipart/form-data" method="post">
        <fieldset>
            <legend>CENSO</legend>
            <div class="row-fluid">
                <div class="span6">
                    <label class="row-fluid">
                        <div class="span2">
                            Polo:
                        </div>
                        <div class="span10">
                            <select id="polo" name="polo" required="required" class="span12">
                                <option value="0">[TODOS]</option>
                            </select>
                        </div>
                    </label>
                    <label class="row-fluid">
                        <div class="span2">
                            Curso:
                        </div>
                        <div class="span10">
                            <select id="produto" name="produto" class="span12">
                                <option value="0">[TODOS]</option>
                            </select>
                        </div>
                    </label>
                    <label class="row-fluid">
                        <div class="span5">
                            Intervalo de Ano da Matrícula:
                        </div>
                        <div class="span3">
                            <select id="anoInicio" name="anoInicio" class="span12">
                                <?php foreach ($this->anosMatricula as $i => $anoMatricula) { ?>
                                    <option value="<?php echo $anoMatricula[1] ?>"
                                        <?php echo $i + 1 == count($this->anosMatricula) ? 'selected' : '' ?>
                                    >
                                        <?php echo $anoMatricula[1] ?>
                                    </option>
                                <?php } ?>
                            </select>
                        </div>
                        <div class="span1" style="text-align: center">
                            à:
                        </div>
                        <div class="span3">
                            <select id="anoFim" name="anoFim" class="span12">
                                <?php foreach ($this->anosMatricula as $anoMatricula) { ?>
                                    <option value="<?php echo $anoMatricula[1] ?>"
                                        <?php echo $i + 1 == count($this->anosMatricula) ? 'selected' : '' ?>
                                    >
                                        <?php echo $anoMatricula[1] ?>
                                    </option>
                                <?php } ?>
                            </select>
                        </div>
                    </label>
                    <label class="row-fluid">
                        <div class="span5">
                            Ano de referência:
                        </div>
                        <div class="span3">
                            <select id="anoReferencia" name="anoReferencia" class="span12" required="required">
                                <?php foreach ($this->anosCenso as $anoCenso) { ?>
                                    <option value="<?php echo $anoCenso['nu_anocenso'] ?>"
                                        <?php echo $i + 1 == count($this->anosCenso) ? 'selected' : '' ?>
                                    >
                                        <?php echo $anoCenso['nu_anocenso'] ?>
                                    </option>
                                <?php } ?>
                            </select>
                        </div>
                    </label>
                </div>
                <div class="span6">
                    <div id="pesquisaResultados"></div>
                </div>
            </div>
            <div class="row-fluid text-right">
                <button id="btnGerarArquivo" type="button" class="btn btn-custom">
                    <i class="icon icon-file icon-white"></i>
                    Gerar arquivo
                </button>
                <button id="btnPesquisar" type="button" class="btn">
                    <i class="icon icon-search"></i>
                    Pesquisar
                </button>
            </div>
        </fieldset>
    </form>
</script>

<script id="layout-resultado" type="text/template">
    <div style="font-size: 15px">
        <label><b>Resumo:</b></label>
        <div class="well well-small" style="background-color: white">
            <p id="total-alunos">
                <b>Total de Alunos: <%=total%></b>
            </p>
            <p id="total-alunos-enem">
                Total de Alunos por ENEM: <%=enem %>
            </p>
            <p id="total-alunos-simplificada">
                Total de Alunos por Seleção Simplificada: <%=simplificada%>
            </p>
            <p id="total-alunos-remanescentes">
                Total de Alunos por Vagas Remanescentes: <%=remanescentes%>
            </p>
        </div>
    </div>
</script>

<script type="text/javascript">
    polosCenso = <?php echo json_encode($this->entidades); ?>;

    $('#templateHolder').empty().append($('#htmlContent script[type="text/template"]'));
    <?php echo $this->render('/relatorio/download-censo.js') ?>
</script>