<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
    <head>
        <title><?php echo $this->nomeRelatorio; ?></title>
        <meta http-equiv="Content-type" content="text/html; charset=UTF-8" />
        <style type="text/css" media="print" id="test">
            @page{ margin: 1cm; size: 'A4'; }
        </style>
    </head>
    <body>
        <table style="display: table; float: none; border-top-style: solid; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; width: 100%; background-image: none; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; " frame="void" rules="all">
            <tr style="text-align: center; border-top-style: solid; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; background-image: none; ">
                <td width="100"><br /><font size="1"><img src="<?php echo ($this->imgEntidade ? $this->imgEntidade : 'http://actor.ead1.com.br/layout/padrao/imagens/logo_75x75.png'); ?>" align="middle" width="100" /></font><br /></td>
                <td>
                    <font size="4"><strong><?php echo $this->nomeRelatorio; ?> &nbsp;</strong></font><br />
                    <?php echo $this->nomeEntidade; ?>
                </td>
            </tr>
        </table>
        <?php
        if ($this->arrFiltros):
            ?>
            <table style = "display: table; float: none; border-top-style: solid; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; width: 100%; background-image: none; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; font_size: 14px " frame = "void" rules = "all">
                <tr style = "border-top-style: solid; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; background-image: none; ">
                    <td style = "width: 50%; " rowspan = "1" align = "center">
                        <?php foreach ($this->arrFiltros as $filtro) : ?>
                            <strong><?php echo $filtro . ' | ' ?></strong>
                        <?php endforeach; ?>
                    </td>
                </tr>
            </table>
            <?php
        endif;
        ?>
        <hr />
        <?php
        if ($this->dadosRelatorio):
            ?>
            <table style="display: table; float: none; border-top-style: solid; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; width: 100%; background-image: none; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; font-size: 14px " border="1" cellspacing="1" cellpadding="1" frame="void" rules="all">
                <tr>
                    <th>N.</th>
                    <?php
                    foreach ($this->cabecalhoDadosRelatorio as $titulo) :
                        ?>
                        <th><?php echo $titulo['label']; ?></th>
                        <?php
                        $arVisiveis[] = $titulo['name'];
                    endforeach;
                    $contador = 0;
                    ?>
                </tr>
                <?php
                foreach ($this->dadosRelatorio as $arDados) :
                    ?>
                    <tr align="left">
                        <td><?php echo++$contador; ?></td>
                        <?php
                        foreach ($arVisiveis as $campo) :
                            if (isset($arDados[$campo])):
                                if ($arDados[$campo] == NULL) :
                                    $arDados[$campo] = "--";
                                endif;
                                ?>
                                <td><?php echo $arDados[$campo]; ?></td>
                                <?php
                            else:
                                ?>
                                <td>--</td>
                            <?php
                            endif;
                        endforeach;
                        ?>
                    </tr>
                    <tr></tr>
                    <?php
                endforeach;
                ?>
            </table>
            <?php
        endif;
        ?>
        <table style="display: table; float: none; border-top-style: solid; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; width: 100%; background-image: none; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; font-size:14px " frame="void" rules="all">
            <tr style="border-top-style: solid; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; background-image: none; ">
                <td style="width: 50%; " rowspan="2" colspan="1">
                    <p><strong>Gerado por:</strong> <?php echo utf8_encode($this->nomeUsuario); ?>
                        <br /><strong>Gerado em:</strong> <?php echo $this->dataGeracao; ?>
                        <br /><strong>Total de registros:</strong> <?php echo $this->qtdRegistros; ?> </p>
                </td>
            </tr>
            <tr style="border-top-style: solid; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; background-image: none; "></tr>
        </table>
    </body>
</html>