<?php if (isset($this->erro) && $this->erro) { ?>
    <div class="alert alert-danger">
        <?php echo $this->erro ?>
    </div>
<?php } else { ?>
    <div class="row-fluid">
        <div class="span12">
            <form name="formRelatorio" id="formRelatorio" method="post" action="/relatorio/gerar-relatorio">
                <fieldset>
                    <?php
                    foreach ($this->fields as $field) :
                        echo $this->form->{$field};
                    endforeach;
                    ?>
                </fieldset>
                <fieldset id="filter_default-element">
                    <div class="pull-right span7">
                        <div class="pull-left" id="leftInfoForm">
                            <strong>Total de Registros:</strong> <span id="box-qtdRegistros">1565</span>
                        </div>
                        <div class="pull-right">
                            <div class="pull-left">
                            <span class="pull-left">
                                <strong>Registros por Página: </strong>
                            </span>

                                <div class="spinner-div pull-left">
                                    <input type="text" name="qntPorPagina" id="qntPorPagina" class="span9" value="30" min="1" max="9999"/>
                                </div>
                            </div>
                            <?php echo $this->form->id_funcionalidade; ?>
                            <button id="btnPesquisar" type="submit" title="Pesquisar" class="btn-custom pull-right btn"><i class="icon-search icon-white"></i> Pesquisar</button>
                            <button id="botaoImpressaoXLS" class="btn pull-right" title="Gerar XLS"><i class="icon-file"></i></button>
                            <!--<button id="btnGrafico" class="btn pull-right" title="Gráfico"><i class="icon-signal"></i></button>-->
                            <button id="botaoImpressaoNormal" class="btn pull-right" title="Imprimir"><i class="icon-print"></i></button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
        <div id="container-DataGrid" class="row-fluid">
            <!--Container datagrid-->
        </div>
    </div>
    <link rel="stylesheet" type="text/css" href="/css/spinner/spinner.css"/>
    <link rel="stylesheet" type="text/css" href="/css/relatorios/relatorio.css"/>
    <script type="text/javascript" src="/js/spinner/spinner.js"></script>
    <script type="text/javascript" src="/js/relatorios/relatorio.js"></script>
<?php } ?>