<table>
	<tr>
		<td>
			<label class="propriedade">Registro nº:</label> <label class="valor"><?php echo $this->nu_registro?></label>
		</td>
		<td colspan="2">
			<label class="propriedade">Habilitação:</label> <label class="valor"><?php echo $this->st_nivelensino?></label>
		</td>
	</tr>
	<tr>
		<td>
			<label class="propriedade">Expedido em:</label> <label class="valor"><?php echo $this->dt_dataexpedicaoaluno?></label>
		</td>
		<td>
			<label class="propriedade">Matrícula:</label> <label class="valor"><?php echo $this->id_matricula?></label>
		</td>
		<td>
			<label class="propriedade">Concluído em:</label> <label class="valor"><?php echo $this->dt_conclusao?></label>
		</td>
	</tr>
	<tr>
		<td>
			<label class="propriedade">Nome:</label> <label class="valor"><?php echo $this->st_nomealuno?></label>
		</td>
		<td colspan="2">
			<label class="propriedade">Nascido em:</label> <label class="valor"><?php echo $this->dt_nascimentoaluno?></label>
		</td>
	</tr>
	<tr>
		<td>
			<label class="propriedade">Nascionalidade:</label> <label class="valor">Brasileira</label>
		</td>
		<td>
			<label class="propriedade">Naturalidade:</label> <label class="valor"><?php echo $this->st_municipioaluno?></label>
		</td>
		<td>
			<label class="propriedade">UF:</label> <label class="valor"><?php echo $this->st_ufaluno?></label>
		</td>
	</tr>
	<tr>
		<td>
			<label class="propriedade">Cart. Ident. Nº:</label> <label class="valor"><?php echo $this->st_rgaluno?></label>
		</td>
		<td colspan="2">
			<label class="propriedade">Órgão Expedidor:</label> <label class="valor"><?php echo $this->st_orgaoexpeditor?></label>
		</td>
	</tr>
	<tr>
		<td colspan="3">
			&nbsp;
		</td>
	</tr>
	<tr>
		<td colspan="3">
			<label class="propriedade">Data:</label> <label class="valor"><?php echo $this->dt_hoje?></label>
		</td>
	</tr>
	<tr>
		<td colspan="3">
			<div id="left_div" class="bottom_div">
				<label><?php echo $this->nomeresponsavel ?></label><br/>
				<label>Reg. <?php echo $this->registroresponsavel ?></label><br/> 
				<label><?php echo $this->cargoresponsavel ?></label>
			</div>
			<div id="right_div" class="bottom_div">
				<label><?php echo $this->nomeresponsavel ?></label><br/>
				<label>Reg. <?php echo $this->registroresponsavel ?></label><br/> 
				<label><?php echo $this->cargoresponsavel ?></label>
			</div>
		</td>
	</tr>
</table>
