<div id="div_master">

	<label class="propriedade">OBSERVAÇÕES RELATIVAS AO REGISTRO Nº:</label> <label class="valor"><?php echo $this->nu_registro?></label> 
	
	<div id="div_mini">
		<label class="propriedade">Registro publicado no</label><br/>
		<label class="propriedade">D.O.D.F nº____de___/___/_____</label>
		
		<div class="bottom_div">
			<label><?php echo $this->nomeresponsavel ?></label><br/>
			<label>Reg. <?php echo $this->registroresponsavel?></label><br/> 
			<label><?php echo $this->cargoresponsavel ?></label>
		</div>
	</div>
				
</div>
