<script type="text/javascript">
    window.onload = function () {
        drawTextCanvas('<?php echo strtoupper($this->dados['st_entidade']); ?>', 'canvas-entidade', '20px');
        drawTextCanvas('<?php echo date('Y'); ?>', 'canvas-validade', '120px');
    };

    function drawTextCanvas(text, elem, fontSize) {
        var canvas = document.getElementsByClassName(elem);
        for (var obj in canvas) {
            if (!isNaN(obj)) {
                var context = canvas[obj].getContext('2d');
                context.fillStyle = "#939295";
                context.font = 'bold ' + fontSize + ' "Arial"';
                context.textBaseline = 'top';
                context.fillText(text, 0, 0);
            }
        }
    }
</script>
</body>
</html>