
body{
	background:#f6f6f6;
}

p{font-family:arial, sans-serif;}

#tudo{
	width:100%;
}
.clear{
	clear:both;
}
#bar_top{
	height:20px;
	background:#4c4c4c;
	margin-bottom:40px;
}

#box_login{
	width: 670px;
	height:208px;
	background:#ffffff;
	margin:0 auto;
	padding:10px 30px;
}
#box_login .esquerdo{
	float:left;
	height:inherit;
	width: 275px;
	border-right: 1px solid #f0f0f0;
	display:block;
}
#box_login .portal{font-family:'Ropa Sans', sans-serif; font-size:60px;}
#box_login .aluno{font-family:'Ropa Sans', sans-serif; font-size:45px;}
#box_login .welcome{
	width:200px;
	font-size:15px;
	font-family:Arial;
	color:#666666;
}
#box_login .direito{
	width:340px;
	float:left;
	border:0px solid #000;
	margin:0px 0px 0px 40px;
}

label{color:#333; font-family:'Ropa Sans', sans-serif; font-size:15px; font-weight:bold;}
label:hover{color:#950000;}

input{width:338px;}
input[type="image"]{height:19px; width:64px;}
input[type="text"]{background-color:#fff!important; border:1px solid #ddd; height:25px; margin:10px 0px 10px 0px;}
input[type="password"]{background-color:#fff!important; border:1px solid #ddd; height:25px; margin:10px 0px 10px 0px;}

.botao { background-color:#C00; color:#FFF; font-size:11px; font-weight:bold; font-family:Arial, Verdana, Geneva, sans-serif; border:0px; cursor:pointer; padding:5px; padding-left:8px; padding-right:8px; }

label.error { font-family:Arial; font-weight:normal;color:#F00; font-size:11px; float:left }

input.error { border:1px solid #F90; background-color:#FF9 }

a.linkcurso { text-decoration:none; color:#039; font-weight:bolder; font-size:11px; font-family:Verdana, Geneva, sans-serif}

.recupera_senha a{
	color:#4479d5;
	font-size:10px;
	text-decoration:none;
}

.recupera_senha a:hover{
	text-decoration:underline;
}

/********* PÁGINA DE LISTAR CURSOS **********/
 
#bar_top_in{
	height:100px;
	background:#4c4c4c;
	margin-bottom:40px;
}
#cabecalho{
	width:905px;
	margin:0 auto;
	border: 0px solid #000000;
	height:100px;
} 
#cabecalho .logo{
	float:left;
	width:550px;

}
#cabecalho .portal{
	font-family:'Ropa Sans', sans-serif; 
	font-size:55px;
	color:#FFFFFF;
}
#cabecalho .aluno{
	font-family:'Ropa Sans', sans-serif;
	font-size:40px;
	color: #FFFFFF;
}
#aluno{
	float:left;
}
#aluno .img_aluno{
	float:left;
	margin-top:10px;
}
#aluno p{
	float:left;
	color:#FFFFFF;
	margin: 5px 20px;
	font-weight:15;
	font-size:20px;
}
#aluno .bt_sair{
	position:relative;
	bottom: 20px;
	left:290px;
	display:block;
}
hr{
	border:none;
	border-top:0.5px solid #f0f0f0;
	width: 95%;
	margin:0 auto;
	clear:both;
	
}
#box{
	width: 905px;
	
	background:#ffffff;
	margin:0 auto;
	padding:10px 0px;
}
#box .logo{
	margin-top:65px;
	margin-left:40px;
	float:left;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:30px;
	font-weight:500;
	color:#039;
}
#box .lista {
	
	float:left;
	margin-left: 100px;
	margin-top:10px;
	margin-bottom:10px;
}
#box .lista ul li{
	color: #4c4c4c;
	font-weight:bold;
}
