<script type="text/template" id="view-interacoes">
    <fieldset>
        <legend>Interações</legend>
        <div id="regiao-interacao" class="well well-small"></div>
    </fieldset>

</script>

<script id="template-imteracao" type="text/template">
    <div class="row-fluid">
        <table class="backgrid table-interacoes table table-hover table-striped table-bordered table-grid">
            <thead>
            <tr>
                <th width="400">Texto</th>
                <th width="15">Data</th>
                <th width="25">Usuario</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
    <hr style="margin-top:0;">
</script>

<script type="text/template" id="template-row-interacao">
    <td><%=st_motivocancelamento%></td>
    <td><%=dt_registro%></td>
    <td><%=st_perfil%></td>
</script>
