<script type="text/template" id="view-calculo">


    <div id="regiao-valores-rescisorios"></div>

    <fieldset>
        <legend>Cálculo</legend>

        <div id="regiao-cursos-disciplinas" class="well well-small">Carregando...</div>
        <div id="regiao-calculos-totais"></div>

        <div class="row-fluid">
            <div class="form-actions">
                <div class=" pull-right">
                    <button id="btn-salvar-calculo" class="btn btn-success" disabled>Salvar Cálculo</button>
                </div>
            </div>
        </div>
    </fieldset>

    <div id="modalCalculo"></div>

    <div class="row-fluid">
        <div id="regiao-lancamentos"></div>

        <div id="regiao-ressarcimento"></div>

    </div>

    <div class="row-fluid">
        <div class="form-actions">
            <div class=" pull-right">
                <button id="btn-desistir" class="btn btn-danger" disabled>Desistir</button>
                <button id="btn-concluir" class="btn" disabled>Concluir Processo</button>
                <button id="btn-finalizar" class="btn" disabled>Finalizar Processo</button>
                <button id="btn-exportar-pdf" class="btn btn-info" disabled>Imprimir Detalhamento</button>
            </div>
        </div>
    </div>


</script>

<script type="text/template" id="template-valores-rescisorios">

    <div class="row-fluid">
        <fieldset>
            <legend>Valores Rescisórios</legend>
        </fieldset>
    </div>

    <div class="well well-small">
        <div class="row-fluid">
            <div class="span4">
                <p><b>ID da venda:</b><br>
                    <%=id_venda%></p></p>
            </div>
            <div class="span4">
                <div class="input-append">
                    <label for="data-pedido-cancelamento"><b>Data de Pedido do Cancelamento:</b> </label>
                    <input type="text" title="Período Inicial"
                           class="span8 maskDate datepicker_range_min"
                           id="data-pedido-cancelamento" name="data-pedido-cancelamento"
                           value="<%=dt_cancelamento%>">
                    <button class="btn js-bt-calendar" data-calendar="data-pedido-cancelamento"
                            type="button">
                        <i class="icon icon-calendar"></i>
                    </button>
                </div>
            </div>
            <div class="span4">
                <div class="input-append">
                    <label for="data-referencia"><b>Período Inicial:</b></label>
                    <input type="text" title="Período Inicial"
                           class="span8 maskDate datepicker_range_min"
                           id="data-referencia" name="data-referencia"
                           value="<%=dt_referencia%>" disabled>
                    <button disabled class="btn js-bt-calendar" data-calendar="data-referencia"
                            type="button">
                        <i class="icon icon-calendar"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span4">
                <input type="checkbox" id="restituicao-total" name="restituicao-total"><b>Restituição Total</b>
            </div>
        </div>

    </div>
</script>


<script type="text/template" id="template-cursos-disciplinas">
    <div class="row-fluid">
        <h5>
            Cursos/Disciplinas 1
        </h5>
        <hr style="margin-top:0;">
        <div id="container-cursos"></div>
    </div>
</script>


<script id="template-cursos" type="text/template">
    <div class="well well-small">
        <div class="row-fluid">
            <div class="span4">
                <p><b>Curso:</b><br>
                    <%=st_projeto%></p>
            </div>
            <div class="span4">
                <p><b>Situação:</b><br>
                    <%=st_evolucao%></p>
            </div>
            <div class="span4">
                <p><b>Data de Aceite do Contrato:</b><br>
                    <%=st_aceite%></p>
            </div>
        </div>
    </div>
    <div class="row-fluid">
        <table class="backgrid table-disciplinas table table-hover table-striped table-bordered table-grid">
            <thead>
            <tr>
                <th>Selecionar</th>
                <th>Disciplinas a serem consideradas no cancelamento</th>
                <th>Data de Início</th>
                <th>Data de Término</th>
                <th>C.H da Disciplina</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>


    <div class="row-fluid">
        <div class="span2">
            <p><b>C.H. Total:</b><br>
                <%=nu_cargahorariaprojeto%></p>
        </div>
        <div class="span3">
            <p><b>C.H. Disponibilizada:</b><br>
                <%=nu_chdisponibilizada%></p>
        </div>
        <div class="span4">
            <p><b>Valor Total do Curso:</b><br>
                R$ <%= number_format(nu_valortotalcurso,2,",",".")%></p>
        </div>
        <div class="span3">
            <p><b>Valor da carga horária disponibilizada:</b>
                <a id="tooltipCalculoDisponibilizado" rel="popover" class="tootiperGrad" data-html="true"
                   data-placement='left' data-trigger="hover">
                    <i class="icon-blue icon-info-sign"></i>
                </a> <br/>
                R$ <%= number_format(nu_valordisponibilizado,2,",",".")%>
            </p>
        </div>
    </div>
    <hr style="margin-top:0;">
</script>


<script type="text/template" id="template-row-disciplina">
    <td>
        <center>
            <input type="checkbox" <% if(bl_cancelamento){ %> checked <%}%> name="disc_check[]" value="1">
        </center>
    </td>
    <td> <%=st_disciplina%></td>
    <td><%=dt_abertura%></td>
    <td><%=dt_encerramento%></td>
    <td><%=nu_cargahoraria%></td>
</script>

<script type="text/template" id="template-calculos-totais">
    <div class="row-fluid">
        <div class="span3">
            <h5>Total dos valores:</h5>
        </div>
        <div class="span2">
            <p><h6>Valor total do(s) curso(s):</h6>
            R$ <%= number_format(nu_totalcursos,2,",",".")%></p>
        </div>
        <div class="span2">
            <p><h6>Valor Pago:</h6>
            R$ <%=number_format(nu_valor,2,",",".")%></p>
        </div>
        <div class="span2">
            <p><h6>Valor da carga horária disponibilizada:</h6>
            R$ <%= number_format(nu_totaldisponibilizado,2,",",".")%></p>
        </div>
        <div class="span3">
            <p><b>Valor Devido:</b>
                <a id="tooltipValorDevido" rel="popover" class="tootiperGrad" data-html="true"
                   data-placement='left' data-trigger="hover">
                    <i class="icon-blue icon-info-sign"></i>
                </a> <br/>
                R$ <%= number_format(nu_valorapagar,2,",",".")%>
            </p>

        </div>
    </div>
</script>


<script type="text/template" id="modal-calculo">
    <div class="modal-dialog  modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body">

                <form class="form-inline well well-small" id="form-justificativa-calculo" method="post">
                    <fieldset>

                        <div class="row-fluid">
                            <div class="span12" id="text-input">
                                <label>Justificativa:</label>
                                <textarea id="txt-calculo-justificativa" name="txt-calculo-justificativa" class="span12"
                                          rows="5" maxlength="255" minlength="15"></textarea>
                                <label class="error" style="color: red" id="erro-justificativa"></label>
                                <span class="caracteres-restantes" id="num-caracteres">255</span> Caracteres restantes e
                                <span class="caracteres-digitados" id="num-digitados">0</span> caracteres digitados

                            </div>
                        </div>
                    </fieldset>
                </form>

                <div class="modal-footer">
                    <button type="button" class="btn btn-custom" id="gravar-justificativa-calculo">Inserir</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                </div>
            </div>

        </div>
    </div>
</script>

<script type="text/template" id="template-lancamentos">
    <div class="row-fluid">
        <fieldset>
            <legend>Lançamentos</legend>
        </fieldset>
    </div>
</script>


<script id="popover-calculos-disponibilizada" type="text/template">
    <div class="row-fluid">
        <label class="span12">
            <legend class="span12"><b>Cálculo:</b></legend>
        </label>
    </div>
    <div class="row-fluid calculosDisponibilizada">
        <p>
            <span style="color: #6d0101"> Valor Total do Curso
                <b style="color: #0a0a0a">/</b>
                Carga Horária Total
                <b style="color: #0a0a0a"> * </b>
                Carga Horária Disponibilizada
            </span>


        </p>
    </div>
</script>

<script id="popover-valor-devido" type="text/template">
    <div class="row-fluid">
        <label class="span12">
            <legend class="span12"><b>Cálculo:</b></legend>
        </label>
    </div>
    <div class="row-fluid bodyvalorDevido">
        <p>
            <span style="color: #6d0101"> Valor de Carga Horária Disponibilizada <b style="color: #0a0a0a">-</b> Valor Pago
            </span>

        </p>
    </div>
</script>