<script type="text/template" id="processos-cancelamento-itemview-template">

</script>

<script type="text/template" id="processos-cancelamento-compositeview-template">
    <div id="lista-processos"></div>
</script>

<script type="text/template" id="contrato-matricula-compositeview-template">
    <div id="lista-itens"></div>
</script>

<script type="text/template" id="view-geral">
    <div id="regiao-aluno-lista-processos" class="row-fluid"></div>
    <div id="regiao-dados-cancelamento" class="row-fluid"></div>
</script>


<script type="text/template" id="view-aluno-lista-processos">

    <legend id="nome-aluno">Nome do aluno(a)</legend>

    <div class="row-fluid">
        <div id="regiao-processos-cancelamento" class="span6">
            <p>Processos de Cancelamento:</p>
            <div id="lista-processos-cancelamento" class="row-fluid"></div>
        </div>

        <div id="regiao-matricula-cancelamento" class="span6">
            <div id="lista-contratos-matriculas" class="row-fluid"></div>
        </div>
    </div>

</script>

<script type="text/template" id="template-dados-cancelamento">

    <legend>Dados Do Cancelamento</legend>

    <div class="row-fluid">
        <div class="span6">
            <h5>Cursos</h5>
            <div id="cancelamento-lista-cursos"></div>
        </div>
        <div class="span6">
            <h5>Situação Atual da Evolução</h5>
            <div id="cancelamento-situacao-evolucao"></div>
        </div>
    </div>

    <form id="form-cancelamento">
        <fieldset>
            <legend>Motivos do Cancelamento:</legend>

            <label>
                <h5>Observações:</h5>
                <textarea
                        id="textarea-observacao"
                        name="observacao"
                        maxlength="255"
                        placeholder="Justificar a desconsideração de disciplinas no cancelamento ou incluir observações pertinentes."
                        class="span12"></textarea>
            </label>

        </fieldset>
    </form>

    <div class="row-fluid">
        <div class=" pull-right">
            <button class="btn btn-danger" id="btn-cancelar">Cancelar</button>
            <button class="btn btn-success" id="btn-render-calculo">Prosseguir</button>
        </div>
    </div>

</script>

<script type="text/template" id="layout-lista-contrato-matriculas">
    <h5>Selecionar Matrículas Para Cancelamento
        <button id="btn-adicionar-matriculas-processo" class="btn">Adicionar Novo Processo</button>
    </h5>
    <form id="lista-matriculas-cancelamento-form" style="height: 200px; overflow: auto"></form>
</script>

<script type="text/template" id="layout-lista-processos-cancelamento">
    <h5>Processos de Cancelamento
        <button id="btn-novo-processo-cancelamento" class="btn">Adicionar Novo</button>
    </h5>
    <select id="lista-processos-cancelamento-combobox" size="8" class="span12"></select>
</script>