<script type="text/javascript" src="/js/auto-complete-componente.js"></script>
<?php echo $this->render('/util/auto-complete-pessoa.phtml'); ?>

<script type="text/template" id="template-layout-principal">

    <div class="row-fluid">
        <ul class="nav nav-tabs">
            <li id="tab-geral" class="active">
                <a href="#tab-content-regiao-geral" data-regiao="<%=REGIAO.GERAL%>"
                   data-toggle="tab">Geral</a>
            </li>
            <li id="tab-calculo" class="disabled bs2-disabled-tab">
                <a href="#tab-content-regiao-calculo" data-regiao="<%=REGIAO.CALCULO%>"
                   data-toggle="tab">Cálculo</a>
            </li>
            <li id="tab-interacoes" class="disabled bs2-disabled-tab">
                <a href="#tab-content-regiao-interacoes" data-regiao="<%=REGIAO.INTERACOES%>"
                   data-toggle="tab">Interações</a>
            </li>
        </ul>
    </div>
    <div class="tab-content">
        <div id="tab-content-regiao-geral" class="tab-pane active">
            <div id="autoComplete" class="row-fluid"></div>
            <div id="regiao-geral"></div>
        </div>

        <div id="tab-content-regiao-calculo" class="tab-pane">
            <div id="regiao-calculo"></div>
        </div>

        <div id="tab-content-regiao-interacoes" class="tab-pane">
            <div id="regiao-interacoes"></div>
        </div>

    </div>

</script>

<?php
echo $this->render('/cancelamento-pos-graduacao/aba-geral.phtml');
echo $this->render('/cancelamento-pos-graduacao/aba-calculo.phtml');
echo $this->render('/cancelamento-pos-graduacao/aba-interacoes.phtml');
echo $this->render('/cancelamento-pos-graduacao/lancamentos.phtml');
?>

<script type="text/javascript">
    $('#templateHolder').empty().html($('#htmlContent script[type="text/template"]'));
    <?php
    echo $this->render('/cancelamento-pos-graduacao/aba-geral.js');
    echo $this->render('/cancelamento-pos-graduacao/aba-calculo.js');
    echo $this->render('/cancelamento-pos-graduacao/aba-interacoes.js');
    echo $this->render('/cancelamento-pos-graduacao/lancamentos.js');
    ?>
</script>

<script type="text/javascript" src="/cancelamento-pos-graduacao/js"></script>