<?php
/**
 * Created by PhpStorm.
 * User: alex.alexandre@unyleya.com.br
 * Date: 17/01/18
 * Time: 13:56
 */
?>

<script id="template-empty-lancamento" type="text/template">
    <td colspan="8">
        Nenhum lançamento adicionado.
    </td>
</script>


<script id="template-item-lancamento" type="text/template">
    <td><input type="checkbox" class="chk_um_lancamento"></td>
    <td><%= nu_ordem %></td>
    <td><%= st_meiopagamento %></td>
    <td><%= st_nomecompleto %></td>
    <td><%= bl_entrada ? 'Entrada' : 'Parcela' %></td>
    <td>
        <div class="input-prepend">
            <span class="add-on">R$</span>
            <input class="input-small" name="nu_valor" type="text" value="<%= nu_valor %>">
        </div>
    </td>
    <td>
        <label class="input-append">
            <input type="text" name="dt_vencimento" class="input-small datepicker maskDate"
                   value="<%= dt_vencimento %>">
            <div class="btn" name="btn_datepicker"><i class="icon icon-calendar"></i></div>
        </label>
    </td>
    <td style="white-space: nowrap" class="td-pagamento">
    </td>
</script>

<script id="negociacao-financeira-composite" type="text/template">
    <div class="well">
        <div id="form-div-lancamento">
            <form action="" method="post" id="form-lancamentos" name="form-lancamentos">
                <div class="row-fluid">
                    <label class="span12">
                        <legend class="span12"><b>Negociação Financeira</b></legend>
                    </label>
                </div>
                <div class="row-fluid">
                    <div class="control-group">
                        <label class="span3">Valor a adicionar:
                            <a id="tooltipCalculos" rel="popover" class="tootiperGrad" data-html="true"
                               data-placement='right' data-trigger="hover">
                                <i class="icon-blue icon-info-sign"></i>
                            </a>
                        </label>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="control-group">
                        <div class="input-prepend span2">
                            <span class="add-on span2">R$</span>
                            <input class="span10" type="text" id="nu_valorapagar" name="nu_valorapagar" disabled>
                        </div>
                    </div>
                </div>
                <br/>
                <div class="row-fluid">
                    <div class="control-group">
                        <label class="span2">
                            Meio de Pagamento:
                            <div id="divMeioPagamento">
                                <select id="id_meiopagamento" class="span12" name="id_meiopagamento"></select>
                            </div>
                        </label>
                        <label class="span2">
                            Quantidade:
                            <div id="divQtdLancamentos">
                                <input id="nu_quantidade" class="span12" type="number" name="nu_quantidade" value="1"
                                       max="10" min="1">
                                <input id="tipoLancamento" class="span10" type="hidden" name="tipoLancamento" value="2">
                            </div>
                        </label>
                        <label class="span2">
                            Valor Parcela / Entrada:
                            <div id="divNuValorParcela" class="input-prepend span12">
                                <span class="add-on span2">R$</span>
                                <input id="nu_valorparcela" class="span10" type="text" name="nu_valorparcela" disabled>
                            </div>
                        </label>
                        <label class="span2">
                            Valor Total:
                            <div class="input-prepend span12">
                                <span class="add-on span2">R$</span>
                                <input id="nu_total" class="span10" type="text" name="nu_total" disabled>
                            </div>
                        </label>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="control-group">
                        <label class="span2">
                            1º Parcela:
                            <div class="clearfix"></div>
                            <a id="btn_datepicker" class="btn pull-right js-bt-calendar"
                               data-calendar="dt_primeiraparcela">
                                <i class="icon icon-calendar"></i>
                            </a>
                            <div id="divDataPrimeiraParcela" style="margin-right: 40px;">
                                <input id="dt_primeiraparcela" class="span12 datepicker maskDate" type="text"
                                       name="dt_primeiraparcela" disabled style="background-color: #ffffff;">
                            </div>
                        </label>
                        <label class="span2">
                            Atendente:
                            <div id="divAtendente">
                                <select id="id_atendente" class="span12" name="id_atendente"></select>
                            </div>
                        </label>
                        <label class="span4">
                            Responsável Financeiro:
                            <div id="divResponsavelLancamento">
                                <select id="id_responsavel" class="span12" name="id_responsavel" disabled></select>
                            </div>
                        </label>
                        <div class="span4 text-right">
                            <br/>
                            <button id="btn-add-lancamento" class="btn btn-success" type="button" title="Adicionar">
                                <i class="icon icon-white icon-plus"></i>
                                Adicionar
                            </button>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="row-fluid">
                        <div class="control-group">
                            <div class="span12">
                                <label>Observação:</label>
                                <textarea class="span12" rows="3" id="st_observacao" name="st_observacao"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </form>
        </div>
        <hr/>
        <div class="row-fluid">
            <div class="span12">
                <div class="pull-left" style="padding-bottom: 20px;">
                    <button type="button" id="btn_excluir_lancamentos" class="btn btn-danger">
                        Excluir Lançamentos Selecionados
                    </button>
                </div>
            </div>
        </div>
        <div class="row-fluid">
            <table class="backgrid backgrid-selectall table table-striped table-bordered table-hover">
                <thead>
                <tr>
                    <th><input type="checkbox" id="chk_all_lancamentos"></th>
                    <th>Nº da parcela</th>
                    <th>Meio de Pagamento</th>
                    <th>Responsável Financeiro</th>
                    <th>Tipo</th>
                    <th>Valor Parcela</th>
                    <th>Vencimento Parcela</th>
                    <th style="width: 80px;">Link para Pagamento</th>
                </tr>
                </thead>
                <tbody id="lista-lancamentos-venda">
                </tbody>
            </table>
        </div>
        <div class="row-fluid">
            <label class="span3"></label>
            <label class="span3"></label>
            <label class="span3">
                Valor Restante:
                <div class="control-group" id="divNuValorRestante">
                    <div class="controls">
                        <div class="input-prepend span12">
                            <span class="add-on">R$</span>
                            <input id="nu_valorrestante" class="span6" type="text" name="nu_valorrestante"
                                   value="<%= nu_valor %>" readonly disabled>
                        </div>
                    </div>
                </div>
            </label>
            <label class="span3">
                Total Lançamentos:
                <div class="control-group" id="divNuTotalLancamento">
                    <div class="controls">
                        <div class="input-prepend span12">
                            <span class="add-on">R$</span>
                            <input id="nu_totallancamento" class="span6" type="text" name="nu_totallancamento" readonly
                                   disabled>
                        </div>
                    </div>
                </div>
            </label>
        </div>
    </div>
</script>


<script id="ressarcimento-composite" type="text/template">
    <div class="well">
        <div class="row-fluid">
            <label class="span12">
                <legend class="span12"><b>Dados do Ressarcimento</b></legend>
            </label>
        </div>
        <div class="row-fluid">
            <div class="control-group">
                <div class="span2">
                    <div class="span8">
                        <label>
                            Valor:
                            <input class="span12" type="text" id="nu_valorapagar" name="nu_valorapagar"
                                   value="R$ <%=nu_valorapagar%>" style="color: #ff0000;">
                        </label>
                    </div>
                    <div class="span1">&nbsp;</div>
                    <div class="span5">
                        <label>Tipo: <b><%= (st_tid)? 'Estorno':'Restituição' %></b></label>
                    </div>
                </div>
                <div class="hide span10" id="div_estorno">
                    <div class="span5">
                        <input value="<%=st_tid%>" type="hidden" id="st_tid" name="st_tid">
                        <label>TID: <b><%=st_tid%></b></label>
                    </div>
                </div>
                <div class="hide span10" id="div_restituicao">
                    <label class="span3">
                        Banco
                        <select class="span12" id="id_banco" name="id_banco"></select>
                    </label>
                    <label class="span2">
                        Agência
                        <input class="span12" type="text" id="nu_agencia" name="nu_agencia">
                    </label>
                    <label class="span2">
                        Conta
                        <input class="span12" type="text" id="nu_conta" name="nu_conta">
                    </label>
                    <label class="span1">
                        Operação
                        <input class="span12" type="text" id="nu_operacao" name="nu_operacao">
                    </label>
                </div>
            </div>
        </div>
        <div class="row-fluid">
            <div class="control-group">
                <div class="span12">
                    <label>Observação:</label>
                    <textarea class="span12" rows="3" id="st_observacao" name="st_observacao"></textarea>
                </div>
            </div>
        </div>
    </div>
</script>