<html>
    <head>
        <meta http-equiv=Content-Type content="text/html; charset=utf-8">
        <style>
            @page {
                size: A4;
            }

            .table {
                width: 100%;
                margin-bottom: 10px;
            }

            .table th,
            .table tbody tr td,
            .table tfoot tr td {
                padding: 3px;
                height: 30px;
                vertical-align: middle;
                border: 1px solid #000;
                width: 50% !important;
            }

            .table thead tr {
                border: 1px solid #000;
            }

            .table thead tr th {
                background-color: #FFFFff;
                color: #000000;
                text-align: center !important;
                border: 1px solid #FFFFff;
                /* border: none;*/
            }

            .quebrapagina {
                page-break-after: always;
            }

            .text-error {
                color: #ee1414;
            }

        </style>
    </head>
    <body>
    <script type='text/php'>
          if ( isset($pdf) ) {
            $font = Font_Metrics::get_font('helvetica', 'normal');
            $size = 9;
            $y = $pdf->get_height() - 24;
            $x = $pdf->get_width() - 15 - Font_Metrics::get_text_width('1/1',
    $font, $size);
            $pdf->page_text($x, $y, '{PAGE_NUM}/{PAGE_COUNT}', $font, $size);
          }

    </script>
        <div>
            <img src="<?= preg_replace('/[\/]$/', "",
                Ead1_Ambiente::geral()->st_url_portal); ?>/layout/<?
            echo $this->entidade; ?>/imagens/logo_padrao.png">

    <table class="table">
        <thead>
        <tr>
            <th colspan="3" style="text-align: center;">
                <h1>Detalhamento do Cancelamento</h1>
            </th>
        </tr>
        </thead>
        <?php
        if (count($this->dadosMatricula) == 0):?>
        <tbody>
        <tr>
            <td colspan="3"><h1>Não há detalhes de cancelamento</h1></td>
        </tr>
        </tbody>
        <?php endif;?>
        <tfoot>
        </tfoot>
    </table>

        <?php if (is_array($this->dadosMatricula)): ?>

                    <div style="border: 1px solid #050505;">
                        Data do pedido de cancelamento: <? echo \G2\Utils\Helper::converterData($this->dadosCancelamento['dt_solicitacao'],
                            'd/m/Y'); ?>
                     <br />

                        Nome: <? echo $this->dadosUsuario[0]['st_nomecompleto'] ?>
                     <br />

                        CPF:<? echo \G2\Utils\Helper::mask($this->dadosUsuario[0]['st_cpf'] ,'###.###.###-##')?>
                        E-mail: <? echo $this->dadosUsuario[0]['st_email'] ?>
                     <br />
                    </div>


            <table class="table table-striped table-bordered ">
                <thead>
                    <tr>
                        <th style="border: 1px solid #050505;">Valores</th>
                        <th style="border: 1px solid #050505;">Disciplina(s) considerada(s) para cálculo do proporcional</th>
                    </tr>
                </thead>
                <tbody>
                    <?php foreach ($this->dadosMatricula as $dadoMatricula): ?>


                        <?php
                            $_valorDisponibilizado = $dadoMatricula['nu_valortotalcurso']
                                /$dadoMatricula['nu_cargahorariaprojeto'] * $dadoMatricula['nu_chdisponibilizada'];

                        $_disciplinas = '<b>Curso</b>: ' . $dadoMatricula['st_projeto'] . '<br /><br />';

                            $_valores  = '<b>Curso</b>: '.$dadoMatricula['st_projeto'].'<br /><br />' ;
                        $_valores .= '<b>Valor total do curso: </b>R$ ' . number_format($dadoMatricula['nu_valortotalcurso'],
                                    2, ',', '.').'<br />';
                        $_valores .= '<b>Valor da carga horária disponibilizada: </b>R$ ' . number_format($_valorDisponibilizado,
                                2, ',', '.') . '<br /><br />';
                        $_valores .= '<b>Carga horária total: </b> ' . $dadoMatricula['nu_cargahorariaprojeto'] . '<br />';
                        $_valores .= '<b>Carga horária disponibilizada: </b> ' . $dadoMatricula['nu_chdisponibilizada'] . '<br />';

                        ?>

                        <?php foreach ($dadoMatricula['disciplinas'] as $disciplina): ?>
                            <?php if($disciplina['bl_cancelamento'] === true ): ?>
                                <?php $_disciplinas .= $disciplina['st_disciplina']. ' - '. $disciplina['nu_cargahoraria'].'h<br />'; ?>
                            <?php endif; ?>
                        <?php endforeach; ?>

                        <tr>
                            <td> <? echo $_valores ?> </td>
                            <td><? echo $_disciplinas  ?></td>
                        </tr>

                    <?php endforeach ?>
                </tbody>
            </table>
            <table class="table table-striped table-bordered ">
                    <tr>
                        <td colspan="2" align="left">
                            <b>Total dos valores</b><br/><br/>
                            <b>Valor Total do(s) Curso(s): </b>
                            R$ <?php echo number_format($this->dadosCancelamento['nu_valornegociado'],
                                2, ',', '.'); ?><br />
                            <b>Valor da carga horária
                                disponibilizada: </b>R$ <?php echo number_format($this->dadosCancelamento['nu_totalutilizado'],
                                2, ',', '.'); ?><br/>
                            <b>Valor Pago: </b>
                            R$ <?php echo number_format($this->valorPago['nu_valor'],
                                2, ',', '.'); ?><br />
                            <b>Valor
                                devido: </b>R$ <?php echo number_format($this->dadosCancelamento['nu_valordiferenca'],
                                2, ',', '.'); ?><br/><br/>
                            <b>Carga horária total: </b> <?php echo $this->dadosCancelamento['nu_cargahoraria']; ?><br/>
                            <b>Carga horária disponibilizada: </b>
                            <?php echo $this->dadosCancelamento['nu_cargahorariacursada'] === null
                                ? 0 : $this->dadosCancelamento['nu_cargahorariacursada']; ?><br/>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" align="left">
                            <? $motivos = ''?>
                            <?php foreach ($this->dadosMotivoCancelamento as $motivo): ?>
                                <? $motivos.= $motivo['st_motivo'].'<br />' ?>
                            <?php endforeach; ?>
                            <b>Motivos: </b> <?php echo $motivos; ?><br/>
                            <b>Observação: </b> <?php echo $this->dadosCancelamento['st_observacao']; ?><br/>

                        </td>
                    </tr>

                <? if ($this->dadosRessarcimento): ?>
                    <tr>
                        <td colspan="2" align="left">
                            <b>Dados do Ressarcimento</b><br/>
                            <?php echo $this->dadosRessarcimento['st_motivo']; ?><br/>
                        </td>
                    </tr>
                <?php endif; ?>
                </tbody>

            </table>

                    <?php
            endif; ?>
        </div>
    </body>
</html>

