<!-- Template que contempla toda a tela, inclusive encorpora outros templates -->
<script type="text/template" id="template_relacao_entidade">
    <div id="relacao_entidade">
        <label for="unidade_select">Unidade:</label>
        <div id="seleciona_unidade">
            <select id="id-unidade-select" class="template-unidade-select span8"></select>
        </div>

        <!--
        <label for="relacao_select">Relação:</label>
        <div id="seleciona_relacao"></div>
        !-->

        <div id="projeto_pedagogico" class="well well-large">
            <div id="container-projeto-ped"></div>

        </div>
        <div class="well">
            <button class="btn btn-success">
                <i class="icon-ok icon-white"></i>
                Salvar
            </button>
        </div>
    </div>
</script>

<script type="text/template" id="template_container_projeto">
    <fieldset id="fieldSetAreaConhecimento">
        <legend>
            Projeto Pedagógico
            <button id="select_all" class="btn btn-small btn-custom">
                <i class="icon-check icon-white"></i>
                Todos
            </button>
        </legend>
        <div id="listaProjetos"></div>
    </fieldset>
</script>

<!-- Template Item -->
<script type="text/template" id="template-item-projeto">
    <label class="span4">
        <input type="checkbox" name="projetos_pedagogicos[]" value="<%=id_projetopedagogico%>" <%=association_status%> >
        <span><%=st_projetopedagogico%></span>
    </label>
</script>


<script type="text/javascript">
    $('#templateHolder').empty().html($('#htmlContent script[type="text/template"]'));
</script>

<script type="text/javascript" src="/relacao-entidade/index.js"></script>