<script src="<?php echo $this->baseUrl(); ?>/js/CollectionView.js"></script>

<button class="btn btn-success btn-small" onclick="novoTipoOcorrencia()"><i class="icon-plus-sign icon-white"></i> Adicionar Novo</button>
<script type="text/template" id="tipo-ocorrencia-template-list">
    <tr>
        <td><%=st_categoriaocorrencia%></td>
        <td><%=st_tipoocorrencia%></td>
        <td><%=st_situacao%></td>
        <td><a href="javascript:" class="edit-link btn btn-mini btn-custom">Editar</a></td>
    </tr>
</script>

<script type="text/template" id="tipo-ocorrencia-template-edit">
    <tr>
        <td><input type="text" name="st_categoriaocorrencia" value="<%=st_categoriaocorrencia %>"></td>
        <td>
            <select name="id_tipoocorrencia">
                  <?php foreach($this->comboTipoOcorrencia as $value): ?>
                        <option value="<?php echo $value->getId_tipoocorrencia() ?>"><?php echo $value->getSt_tipoocorrencia() ?></option>
                  <?php endforeach; ?>
            </select>
        </td>
        <td>
            <select name="id_situacao">
                  <?php foreach($this->comboSituacao as $value): ?>
                        <option value="<?php echo $value->getId_situacao() ?>"><?php echo $value->getSt_situacao() ?></option>
                  <?php endforeach; ?>
            </select>
        </td>
        <td>
            <a href="javascript:" class="delete-link btn btn-mini btn-danger">Deletar</a>
            <a href="javascript:" class="save-link btn btn-mini btn-success">Salvar</a>
            <a href="javascript:" class="cancel-link btn btn-mini">Cancelar</a>
        </td>
    </tr>
</script>
<fieldset>
    <table class='backgrid backgrid-selectall table table-striped table-bordered table-hover'>
        <thead>
            <tr>
                <th>Tipo</th>
                <th>Tipo Interessado</th>
                <th>Situação</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody id="data-tipo-ocorrencia">

        </tbody>
    </table>
</fieldset>

<script type="text/javascript"> $('#htmlContent script[type="text/template"]').appendTo($('#templateHolder'));</script>
<script type="text/javascript" src="<?php echo $this->url()?>/js"></script>