<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<style type="text/css">
		#cabecalho{
			border-collapse:collapse; 

			margin-left:40px; 
			margin-right:40px; 
			margin-top:20px;
		}
		.linha{
			border-collapse:collapse; 
			border-width:1px; 
			border-style:solid; 
			border-color:#000000; 
		}
		
	</style>
</head>
	<body>
		<table width="494" height="150" id="cabecalho">
		  <tr class="linha">
		  	<!-- mudar o tamanho da imagem depois -->
		    <td width="125" rowspan="3"><img src="<?php echo $this->logoEntidade;?>" style="width:120px; height:70px;" /></td>
		    <td width="369" ><?php echo utf8_decode($this->nomeEntidade);?></td>
		  </tr>
		  <tr class="linha">
		    <td ><?php echo utf8_decode("Endereço: ".$this->endereco);?></td>
		  </tr>
		  <tr class="linha">
		    <td >E-mail: <?php echo utf8_decode($this->email);?></td>
		  </tr>
		  <tr>
		    <td >&nbsp;</td>
		  </tr>
		</table>
	    <div style="clear:both; margin-left: 40px; margin-left: 40px; margin-top: 40px; margin-bottom: 20px;">
	    	<?php echo $this->html;?>
		</div>
	</body>
</html>