<!--
Template do auto-complete
-->
<script type="text/template" id="template-componente">
    <fieldset>
        <div id="container-componente" class="row-fluid well span12">
            <div class="span12">
                <legend class="span12">
                    <div class="pull-left"><h5>Pesquisar Pessoa</h5></div>
                    <div class="pull-right btn-group">
                        <button class="btn" type="button" id="btnFixAutocomplete" title="Selecionar ">Fixar <i
                                class="icon-check"></i></button>
                        <button class="btn" type="button" id="btnClearAutocomplete" title="Limpar ">Limpar <i
                                class="icon-refresh"></i></button>
                        <button type="button" style="margin-right: 10px;" id="btn-adicionar-pessoa" class="btn">
                            <i class="icon icon-ok"></i> Adicionar Nova Pessoa
                        </button>
                        <button type="button" id="btn-ocultar-form" style="display: none" class="btn">
                            <i class="icon icon-share"></i> Ocultar Formulário
                        </button>
                    </div>
                </legend>
            </div>
            <div id="container-autocomplete" class="span12">
                <div class="row-fluid">
                    <input name="search-backbone" id="search-backbone" type="text" class="span12 input"
                           placeholder="Digite o Nome, E-mail ou CPF" autocomplete="off">

                    <div id="autocomplete-results" class="span12">
                        <ul>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </fieldset>
    <fieldset>
        <div id="container-adicionar-pessoa" style="display: none;" class="row-fluid well span12"></div>
    </fieldset>
</script>
<script type="text/template" id="template-componente-list-autocomplete">
    <a class="link-alter-template">
        <b>Nome:</b> <%= st_nomecompleto %></br>
        <b>CPF:</b> <%= st_cpf %> <b>E-mail:</b> <%= st_email %></br>
    </a>
</script>

<?php echo $this->render('/pessoa/cadastro-rapido.phtml'); ?>

<!--
    Template Geral
-->


<script type="text/template" id="layout-alterar-venda">
    <div id="autoComplete" class="row-fluid"></div>

    <div class="row-fluid">
        <div class="row-fluid">
            <div id="box-produtos" class="content-box-vendas well"></div>
        </div>
        <div class="row-fluid">
            <div id="box-venda" class="content-box-vendas well span9"></div>
            <div id="box-valores" class="content-box-vendas well span3"></div>
        </div>
        <div class="row-fluid ">
            <hr/>
            <div class="content-box-vendas">
                <div class="well">
                    <div id="box-tramite" class="content-box-vendas aba-container hide"></div>
                    <div id="box-lancamentos" class="content-box-vendas aba-container hide"></div>
                </div>
            </div>
            <hr/>
        </div>
        <div class="form-actions">
                <button type="button" id="btn-salvar" class="btn pull-right btn-success">Salvar</button>
        </div>
    </div>
</script>

<script type="text/template" id="template-item-tramite">
    <td><%= st_tramite %></td>
    <td><%= st_tipotramite %></td>
    <td><%= dt_cadastro %></td>
    <td><%= st_nomecompleto %></td>
    <td><%=(st_url ? '<a href="' + st_url +'" target="_blank class="btn btn-info">Acessar</a>' : '')%></td>
</script>

<script type="text/template" id="template-lista-vazia-tramite">
    <td colspan="4">
        Nenhum trâmite adicionado.
    </td>
</script>

<script type="text/template" id="template-tramites">
    <legend>Trâmites
        <button type="button" title="Adicionar Trâmite" id="btn-add-tramite"
                class="btn pull-right btn-success btn-small">
            <i class="icon-plus icon-white"></i>
        </button>
    </legend>
    <div id="container-form-add-tramite" class="row-fluid hide">
        <form class="form-inline" name="form-tramite" id="form-tramite">
            <textarea name="st_tramite" id="st_tramite" class="input-small span10"
                      placeholder="Novo Tramite"></textarea>
            <button type="submit" id="btn-salvar-tramite" class="btn btn-success">Salvar</button>
            <button type="button" id="btn-cancelar-tramite" class="btn btn-danger">Cancelar</button>
        </form>
    </div>

    <table class="table table-striped table-bordered table-hover backgrid backgrid-selectall">
        <thead>
        <tr>
            <th>Texto</th>
            <th>Tipo</th>
            <th>Data</th>
            <th>Usuário</th>
        </tr>
        </thead>
        <tbody id="lista-tramites">
        </tbody>
    </table>
</script>

<script type="text/template" id="template-grid-vazia">
    <td colspan="9">
        Nenhum produto adicionado.
    </td>
</script>

<script type="text/template" id="template-grid-produtos">
    <legend>
        Produtos
    </legend>

    <table class="backgrid backgrid-selectall table table-striped table-bordered table-hover">
        <thead>
        <tr>
            <th>Matrícula</th>
            <th>Produto</th>
            <th>Turma</th>
            <th>Campanha</th>
        <tr>
        </thead>
        <tbody id="lista-produtos-venda"></tbody>
    </table>
</script>

<script type="text/template" id="template-row-produto">
    <td name="matricula">
        <%= id_matricula %>
    </td>
    <td><%= st_produto %></td>
    <td name="id_turma">

    </td>
    <td>
        <select name="campanha" id="campanha<%= id_produto %>" class="span12">
            <option value="">[Selecione]</option>
        </select>
    </td>
</script>

<script type="text/template" id="template-detalhes-venda">
    <fieldset>
        <legend>Venda</legend>
        <div class="row-fluid">
            <div class="span4">
                <label><b>Atendente:</b>
                    <select class="span12" required="required" name="id_usuario">
                        <option value="">[Selecione]</option>
                    </select>
                </label>
            </div>
            <div class="span4">
                <label><b>Contrato Regra:</b>
                    <select class="span12" required="required" id="id_contratoregra" name="id_contratoregra">
                        <option value="">[Selecione]</option>
                    </select>
                </label>
            </div>
            <div class="span4">
                <label><b>Campanha de Pontualidade:</b>
                    <select class="span12" id="id_campanhapontualidade" name="id_campanhapontualidade">
                        <option value="">[Selecione]</option>
                    </select>
                </label>
            </div>
        </div>
    </fieldset>
</script>

<script type="text/template" id="template-valores">
    <legend>Valores</legend>
    <div class="row-fuild">
        <p>Bruto: R$ <%= nu_valorbruto %></p>

        <p>Desconto: <b>R$ <%= nu_valordesconto %> - <%= nu_percentualdesconto %>%</b></p>

        <p>Carta de Crédito: <b>R$ <%= nu_descontocarta %></b></p>
        <hr style="margin: 0;">
        <p>Líquido: <b>R$ <%= nu_valorliquido %></b></p>
    </div>
</script>

<script>
    $(function () {
        G2S.editModel = <?php echo $this->alterarvenda; ?>;
        $('#htmlContent script[type="text/template"]').appendTo($('#templateHolder'));
    });
</script>

<script type="text/javascript" src="/js/auto-complete-componente.js"></script>
<script type="text/javascript" src="/js/backbone/models/SpTramite.js"></script>

<script type="text/javascript">
    showPessoaCadastro = 1;
    DadosFormulario = null;
</script>
<script type="text/javascript" src="/alterar-venda/js"></script>