<div class="row">
    <div class="col-md-12">
        <div class="title-block clearfix">
            <h2 class="h2-body-title uny"><?php echo $this->pessoa->st_nomecompleto; ?></h2>

            <div class="title-seperator"></div>
        </div>
        <?php
        if (isset(Ead1_Sessao::getSessaoPerfil()->st_nomeperfil)) {
            ?>
            <p class="perfil-entidade">
                <?php
                echo Ead1_Sessao::getSessaoPerfil()->st_nomeperfil;

                if (isset(Ead1_Sessao::getSessaoPerfil()->st_perfilpedagogico)) {
                    echo ' - ' . Ead1_Sessao::getSessaoPerfil()->st_perfilpedagogico;
                }
                ?>
            </p>
        <?php } ?>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs">
            <li class="active">
                <a href="#meusdados" data-toggle="tab">Dados Básicos</a>
            </li>
            <li>
                <a href="#endereco" data-toggle="tab">Endereço</a>
            </li>
            <li>
                <a href="#contato" data-toggle="tab">Contato</a>
            </li>
            <li>
                <a href="#trocadesenha" data-toggle="tab">Troca de senha</a>
            </li>
        </ul>
    </div>
</div>
<div class="tab-content">
<div class="tab-pane interna-edicao active" id="meusdados">
    <div class="row">
        <div class="title-block clearfix col-md-12">
            <h3 class="h3-body-title uny">Meus Dados</h3>

            <div class="title-seperator"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5">
            <p>
                <strong>Nome:</strong> <?php echo(($this->pessoa->st_nomecompleto == '') ? '-' : $this->pessoa->st_nomecompleto); ?>
            </p>

            <p>
                <strong>CPF:</strong> <?php echo(($this->pessoa->st_cpf == '') ? '-' : $this->pessoa->st_cpf); ?>
            </p>

            <p>
                <strong>Sexo:</strong>
                <?php
                switch ($this->pessoa->st_sexo) {
                    case 'M':
                        echo 'Masculino';
                        break;
                    case 'F':
                        echo 'Feminino';
                        break;
                    default:
                        echo 'Não informado';
                }
                ?>
            </p>
        </div>
        <div class="col-md-5">
            <p>
                <strong>Documento de Identificação:</strong> <?php echo(($this->pessoa->st_rg == '') ? '-' : $this->pessoa->st_rg); ?>
            </p>

            <p>
                <strong>Órgão emissor:</strong>
                <?php echo(($this->pessoa->st_orgaoexpeditor == '') ? '-' : $this->pessoa->st_orgaoexpeditor); ?>
            </p>

            <p>
                <strong>Data de Emissão:</strong>
                <?php echo(($this->pessoa->dt_dataexpedicao != '') ? $this->pessoa->dt_dataexpedicao->get(Zend_Date::DATE_SHORT) : '-'); ?>
            </p>
        </div>
    </div>
</div>
<div class="tab-pane interna-edicao" id="endereco">
    <?php if (!empty($this->endereco)) {
        foreach ($this->endereco as $endereco) {
            ?>
            <div class="row">
                <div class="title-block clearfix col-md-12">
                    <h3 class="h3-body-title uny">
                        <?php
                        echo $endereco->st_tipoendereco;
                        echo(($endereco->bl_padrao == true) ? '&nbsp;&nbsp;<b>Padrão</b>' : '');
                        ?>
                    </h3>

                    <div class="title-seperator"></div>
                </div>
            </div>
            <div class="row">
                <p class="col-md-4">
                    <strong>Endereço:</strong>
                    <?php echo(($endereco->st_endereco != "") ? $endereco->st_endereco : '-') ?>
                </p>

                <p class="col-md-4">
                    <strong>Número:</strong>
                    <?php echo(($endereco->nu_numero == "") ? '-' : $endereco->nu_numero) ?>
                </p>

                <p class="col-md-4">
                    <strong>Complemento:</strong>
                    <?php echo(($endereco->st_complemento == '') ? '-' : $endereco->st_complemento) ?>
                </p>
            </div>
            <div class="row">
                <p class="col-md-4">
                    <strong>Bairro:</strong> <?php echo(($endereco->st_bairro == '') ? '-' : $endereco->st_bairro); ?>
                </p>

                <p class="col-md-4">
                    <strong>Cidade:</strong> <?php echo(($endereco->st_nomemunicipio == '') ? '-' : $endereco->st_nomemunicipio) ?>
                </p>

                <p class="col-md-4">
                    <strong>UF:</strong> <?php echo(($endereco->st_uf == '') ? '-' : $endereco->st_uf) ?>
                </p>
            </div>
            <div class="row">
                <p class="col-md-4">
                    <strong>CEP:</strong> <?php echo(($endereco->st_cep == '') ? '-' : $endereco->st_cep) ?>
                </p>

                <p class="col-md-4">
                    <strong>País:</strong> <?php echo(($endereco->st_nomepais == '') ? '-' : $endereco->st_nomepais) ?>
                </p>
            </div>
        <?php
        }
    } ?>
</div>
<div class="tab-pane interna-edicao" id="contato">
    <?php foreach ($this->telefone as $telefone) { ?>
        <div class="row">
            <div class="title-block clearfix col-md-12">
                <h3 class="h3-body-title uny">Telefone <?php echo $telefone->st_tipotelefone;
                    echo(($telefone->bl_padrao == true) ? '&nbsp;&nbsp;<strong>Padrão</strong>' : ''); ?></h3>

                <div class="title-seperator"></div>
            </div>
        </div>
        <div class="row">
            <p class="col-md-12">
                Número: <?php echo $telefone->nu_ddi; ?> <?php echo $telefone->nu_ddd; ?> <?php echo $telefone->nu_telefone; ?>
            </p>
        </div>
    <?php } ?>

    <div class="row">
        <div class="title-block clearfix col-md-12">
            <h3 class="h3-body-title uny">Emails</h3>

            <div class="title-seperator"></div>
        </div>
    </div>
    <?php foreach ($this->email as $email) { ?>

        <div class="row">
            <p class="col-md-12">
                E-mail<?php echo(($email->bl_padrao == true) ? '&nbsp;&nbsp;<strong>Padrão</strong>' : ''); ?>:
                <?php echo $email->st_email; ?>
            </p>
        </div>
    <?php }; ?>

    <div class="row">
        <div class="title-block clearfix col-md-12">
            <h3 class="h3-body-title uny">Redes Sociais</h3>

            <div class="title-seperator"></div>
        </div>
    </div>
    <div class="row">
        <?php
        if ($this->rede != null) {
            foreach ($this->rede as $rede) {
                ?>
                <p class="col-md-12">
                    <?php echo $rede->st_tiporedesocial; ?>: <?php echo $rede->st_id; ?>
                </p>
            <?php
            }
        } else {
            ?>
            <p class="col-md-12">
                Sem redes sociais cadastradas
            </p>
        <?php
        }
        ?>
    </div>
</div>
<div class="tab-pane interna-edicao" id="trocadesenha">
    <div class="row">
        <div class="title-block clearfix col-md-12">
            <h3 class="h3-body-title uny">Dados de Acesso - Troca de Senha</h3>

            <div class="title-seperator"></div>
        </div>
    </div>
    <form name="frmTrocarSenha" id="frmTrocarSenha" action="/portal/usuario/trocarminhasenha" class="form-wrapper"
          method="post">
        <div class="form-group clearfix">
            <label class="control-label" for="st_senha">Senha Atual *</label>

            <div class="col-xs-6">
                <input type="password" maxlength="20" value="" name="st_senha" id="st_senha" class="form-control"/>
            </div>
        </div>
        <div class="form-group clearfix">
            <label class="control-label" for="st_senha_nova">Nova Senha *</label>

            <div class="col-xs-6">
                <input type="password" maxlength="20" value="" name="st_senha_nova" id="st_senha_nova"
                       class="form-control"/>
            </div>
        </div>
        <div class="form-group clearfix">
            <label class="control-label" for="st_senha_nova_confirma">Confirme a Nova Senha *</label>

            <div class="col-xs-6">
                <input type="password" maxlength="20" value="" name="st_senha_nova_confirma"
                       id="st_senha_nova_confirma" class="form-control"/>
            </div>
        </div>
        <div class="form">
            <button type="submit" class="button small button-main">Trocar Senha</button>
            <button type="reset" class="button small button-main">Cancelar</button>
        </div>
    </form>
</div>
</div>
