<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>Portal do Aluno</title>
		
		<!--				STYLE				-->
		
		<link type="text/css" href="<?php echo $this->baseUrl ?>/css/jquery/redmond/jquery-ui.css" rel="stylesheet" />	
		<link type="text/css" href="<?php echo $this->baseUrl ?>/css/carregando/carregando.css" rel="stylesheet" />
		<link type="text/css" href="<?php echo $this->baseUrl ?>/css/mensageiro/mensageiro.css" rel="stylesheet" />
		<link type="text/css" href="<?php echo $this->baseUrl ?>/css/sistema/index/index.css" rel="stylesheet" />
		<link type="text/css" href="<?php echo $this->baseUrl ?>/css/sistema/saladeaula/saladeaula.css" rel="stylesheet" />	
			
		<!--  COMPARTILHADO  -->
		<script type="text/javascript" src="<?php echo Ead1_Ambiente::geral()->st_url_library; ?>/js/jquery/jquery-1.7.1.min.js"></script>
		<script type="text/javascript" src="<?php echo Ead1_Ambiente::geral()->st_url_library; ?>/js/jquery/jquery-ui-1.8.17.custom.min.js"></script>
		<script type="text/javascript" src="<?php echo Ead1_Ambiente::geral()->st_url_library; ?>/js/jquery/jqueryvalidate/jquery.validate.js" ></script> 
		<script type="text/javascript" src="<?php echo Ead1_Ambiente::geral()->st_url_library; ?>/js/jquery/jqueryvalidate/localization/messages_ptbr.js" ></script>
		<script type="text/javascript" src="<?php echo Ead1_Ambiente::geral()->st_url_library; ?>/js/jquery/i18n/ui.datepicker-pt-BR.js" ></script>
		<script type="text/javascript" src="<?php echo Ead1_Ambiente::geral()->st_url_library; ?>/js/jquery/jquerygrid/js/i18n/grid.locale-pt-br.js" ></script>
		<script type="text/javascript" src="<?php echo Ead1_Ambiente::geral()->st_url_library; ?>/js/jquery/jquerygrid/js/jquery.jqGrid.min.js" ></script>
		<script type="text/javascript" src="<?php echo Ead1_Ambiente::geral()->st_url_library; ?>/js/jquery/jquery.form.js"> </script>
		<script type="text/javascript" src="<?php echo Ead1_Ambiente::geral()->st_url_library; ?>/js/jquery/jquery.dropdown.js" ></script>
		<script type="text/javascript" src="<?php echo Ead1_Ambiente::geral()->st_url_library; ?>/js/classes/mensageiro.js"></script>
		
		
		<!--				JAVASCRIPT				-->
		<script type="text/javascript" src="<?php echo $this->baseUrl ?>/js/sistema/index/index.js"></script>
		<script type="text/javascript" src="<?php echo $this->baseUrl ?>/js/carregando/carregando.js"></script>

		<script language="javascript">
		
			var config = {};
			config.baseUrl = "<?php echo $this->baseUrl?>"; 
			config.baseUrlModulo = "<?php echo $this->baseUrlModulo?>";

			$(function() {

				$('.jbutton').button(); 
				// validate signup form on keyup and submit
				$("#frmRedefinirSenha").validate({
					rules: {

						st_senha_nova: "required",
						st_senha_nova_confirma: {
											  equalTo: "#st_senha_nova"
											}
					},
					submitHandler: function() {
							
							var options = {
								url: config.baseUrlModulo+"/usuario/salvar-redefinicao-senha",
								dataType: 'json',
								type: 'post',
								success: function(JsonData) {

									if(JsonData.tipo == Mensageiro.SUCESSO){
										var mensageiro = { mensagem:JsonData.mensagem, tipo: JsonData.tipo, redirecionar: { tipo: "close" } };
									} else{
										var mensageiro = JsonData;
									}
									
									Mensageiro.mostrar(mensageiro);
								}
							};
							
							$('#frmRedefinirSenha').ajaxSubmit(options);
					}
				});
				
			});
		</script>

	</head>
	<body style="background-color: #fff">

	
            <div style="width: 600px; text-align: right;">
            <h3><?php echo $this->entidade->getst_nomeentidade()?></h3>
            <h4>Cadastre sua senha de acesso ao Portal do Aluno</h4>
			    <form name="frmRedefinirSenha" id="frmRedefinirSenha" method="post">
                <p class="form">
                    <div class="form">
                        <?php echo $this->usuario->getst_nomecompleto()?>
                    </div>
                </p>
                <p class="form">
                    <div class="form">
                        <label>Nova Senha:&nbsp;&nbsp;</label><input type="password" maxlength="20" value="" name="st_senha_nova" id="st_senha_nova" />
                    </div>
                </p>
                <p class="form">
                    <div class="form">
                        <label>Confirme a Nova Senha:&nbsp;&nbsp;</label><input type="password" maxlength="20" value="" name="st_senha_nova_confirma" id="st_senha_nova_confirma" />
                    </div>
                </p>
                <p class="form">
                    <div class="form">
                    <input type="hidden" name="q" id="q" value="<?php echo $this->q ?>" /> 
                    <input type="hidden" name="e" id="e" value="<?php echo $this->e ?>" /> 
                        <button type="submit" class="jbutton">Redefinir Senha</button>&nbsp;&nbsp;&nbsp;<button type="button" onclick="window.close()" class="jbutton">Cancelar</button>
                    </div>
                </p>
				</form>
            </div>


</body></html>
