<html>
<head>
    <link rel="stylesheet" href="<?php echo $this->baseUrl ?>/css/cssnovoportal/bootstrap.min.css">
    <link rel="stylesheet" href="<?php echo $this->baseUrl ?>/css/cssnovoportal/normalize.css">
    <link rel="stylesheet" href='<?php echo $this->baseUrl ?>/css/cssnovoportal/jquery.Jcrop.min.css'>
    <link rel="stylesheet" href='<?php echo $this->baseUrl ?>/css/cssnovoportal/style.css'>

    <?php
    if (Ead1_Sessao::getSessaoEntidade()->id_entidade != null) {
        $id_entidade = Ead1_Sessao::getSessaoEntidade()->id_entidade;
    } elseif (getenv('id_entidade') != null) {
        $id_entidade = getenv('id_entidade');
    }

    if (isset($id_entidade)) {
        ?>
        <link rel="stylesheet"
              href="<?php echo $this->baseUrl ?>/css/cssnovoportal/skins/<?php echo $id_entidade; ?>.css"
              id="skin-file">
    <?php
    } else {
        $id_entidade = null;
        ?>
        <link rel="stylesheet" href="<?php echo $this->baseUrl ?>/css/cssnovoportal/skins/mixed-flat-colors.css"
              id="skin-file">
    <?php
    }
    ?>

</head>
<body>
<div id="wrapper" class="body-wrapper">
    <div class="container">
        <form class="form-wrapper" method="post" id="form-imagem-upload" enctype="multipart/form-data"
              action="/portal/usuario/upload-foto">
            <div class="row">
                <div class="title-block clearfix">
                    <h3 class="h3-body-title">1º Passo</h3>

                    <div class="title-seperator"></div>
                </div>
                <div class="form-group">
                    <strong>Insira uma imagem</strong>
                    <input type="file" id="imagem-aluno-file" name="imagem-aluno">

                    <p class="help-block">Sua imagem poderá ter as seguintes extensões: PNG e JPG</p>
                </div>

            </div>
            <div class="row">
                <div class="title-block clearfix">
                    <h3 class="h3-body-title">2º Passo</h3>

                    <div class="title-seperator"></div>
                </div>
                <div class="image-preview-wrapper">
                    <div class="image-preview-wrapper-in">
                        <img alt="" id="image-preview"/>
                    </div>
                    <div id="image-preview-thumb-wrapper">
                        <img src="#" alt=""/>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="title-block clearfix">
                    <h3 class="h3-body-title">3º Passo</h3>

                    <div class="title-seperator"></div>
                </div>
                <div class="centro">
                    <input type="hidden" name="x" value="" id="x"/>
                    <input type="hidden" name="x2" value="" id="x2"/>
                    <input type="hidden" name="y" value="" id="y"/>
                    <input type="hidden" name="y2" value="" id="y2"/>
                    <input type="hidden" name="w" value="" id="w"/>
                    <input type="hidden" name="h" value="" id="h"/>
                    <div class="direita">
                        <input type="submit" class="button small button-main" id="enviar-imagem-submit" value="Enviar :)">
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<script>
    window.onunload = refreshParent;
    function refreshParent() {
        window.opener.location.reload();
        window.close();
    }
</script>
<script src="<?php echo $this->baseUrl; ?>/js/jsnovoportal/_jq.js" type="text/javascript"></script>
<script src="<?php echo $this->baseUrl; ?>/js/jsnovoportal/lib/jquery.Jcrop.min.js" type="text/javascript"></script>
<script src="<?php echo $this->baseUrl; ?>/js/jsnovoportal/front.js" type="text/javascript"></script>
</body>
</html>