<?php
$sessao = $this->sessao;
//if ($this->bl_emailunico) :
$label = 'E-mail:';
$placeholder = 'Digite seu e-mail.';
//else:
//    $label = 'Usuário:';
//    $placeholder = 'Digite seu login.';
//endif;

?>
<script type="text/javascript">
    (function () {
        var po = document.createElement('script');
        po.type = 'text/javascript';
        po.async = true;
        po.src = 'https://apis.google.com/js/client:plusone.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(po, s);
    })();
</script>
<section>
    <div class="container pad-n-10">
        <div class="row pad-n-10 pad-s-10">
            <div class="col-md-12 text-center">
                <h3>Para prosseguir com sua compra, identifique-se:</h3>
            </div>
        </div>
        <div class="row pad-n-10 text-center">
            <div class="col-md-12 col-centralizada">
                <div class="col-md-4 nopad preenchimento-active">
                    1 - Identificação
                </div>
                <div class="col-md-4 nopad preenchimento barra-meio">
                    2 - Pagamento
                </div>
                <div class="col-md-4 nopad preenchimento">
                    3 - Confirmação
                </div>
            </div>
        </div>
        <div class="row pad-n-20">

            <div class="col-md-6 col-centralizada text-center">
                <form action="/pagamento/acessar" method="post" name="form-email"
                      class="pad-n-20 form-horizontal">
                    <div class="form-group">
                        <!--<div class="form-group has-success has-feedback">-->
                        <label for="st_login" class="col-md-2 control-label"><?php echo $label; ?> </label>

                        <div class="col-sm-8">
                            <input type="email" data-container="body" data-trigger="focus"
                                   data-content="<?php echo $placeholder; ?>" size="25" name="st_login" id="st_login"
                                   class="form-control col-md-8" placeholder="<?php echo $placeholder; ?>"/>
                        </div>

                    </div>

                    <div id="container-senha" class="form-group hide">
                        <label for="st_senha" class="col-md-2 control-label">Senha: </label>

                        <div class="col-sm-8">
                            <input type="password" data-container="body" data-trigger="focus"
                                   data-content="Digite sua senha." size="25" name="st_senha" id="st_senha"
                                   class="form-control col-md-8" placeholder="Digite sua senha."/>
                        </div>
                    </div>
                    <div class="col-md-12 pad-n-20">
                        <button type="button" id="btn-prosseguir" data-loading-text="ENVIANDO..."
                                class="btnpadrao btn preenchimento">PROSSEGUIR
                        </button>


                        <div id="container-btn-login" class="hide">
                            <a id="btn-recuperar-senha" data-loading-text="Enviando..." class="btn btn-link">
                                Esqueci minha senha
                            </a>
                            <button type="submit" id="btn-logar" data-loading-text="ENVIANDO..."
                                    class="btnpadrao btn preenchimento">ENTRAR
                            </button>
                        </div>
                        <input type="hidden" id="bl_emailunico" name="bl_emailunico"
                               value="<?php echo $this->bl_emailunico; ?>">
                        <input type="hidden" id="baseUrlModulo" name="baseUrlModulo"
                               value="//<?php echo $_SERVER['SERVER_NAME']; ?>">
                    </div>
                </form>

                <div class="col-md-12 pad-n-20">
                    <a href="#" class="btn btn-link" data-toggle="modal" data-target="#modal-politica">
                        <i class="glyphicon glyphicon-info-sign"></i>
                        Política de Privacidade
                    </a>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>

<!-- Modal -->
<div class="modal fade" id="modal-politica" tabindex="-1" role="dialog" aria-labelledby="label-modal-politica"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="label-modal-politica">Política de Privacidade</h4>
            </div>
            <div class="modal-body">
                <?php echo $this->render('pagamento/politica-privacidade.phtml'); ?>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Ok!</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="/assets/javascripts/classes/loading.js"></script>
<script type="text/javascript" src="/js/funcoes/funcoes.js"></script>
<script type="text/javascript" src="/js/app/loja/acesso.js"></script>
<script type="text/javascript" src="/js/app/loja/googlelogin.js"></script>
