<?php
$sessao = $this->sessao;
?>
<section>
<div class="container pad-n-10">
<div class="row pad-n-10 pad-s-10">
    <div class="col-md-12 text-center">
        <h3>Para prosseguir com sua compra, identifique-se:</h3>
    </div>
</div>
<div class="row pad-n-10 text-center">
    <div class="col-md-12 col-centralizada">
        <div class="col-md-4 nopad preenchimento-active">
            1 - Identificação
        </div>
        <div class="col-md-4 nopad preenchimento barra-meio">
            2 - Pagamento
        </div>
        <div class="col-md-4 nopad preenchimento">
            3 - Confirmação
        </div>
    </div>
</div>
<div class="row pad-n-20">
    <div class="col-md-12 col-centralizada">
        <form action="/pagamento/salvarvenda/" method="post"
              name="frmCadastroPagamentoPessoa" id="frmCadastroPagamentoPessoa">
            <fieldset class="margin-bottom-20">
                <div class="form-group">
                    <div class="col-md-4">
                        <div class="form-group ">
                            <label for="st_nome">Nome:</label>
                            <?php echo $this->form->st_nome; ?>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group ">
                            <label for="st_sobrenome">Sobrenome:</label>
                            <?php echo $this->form->st_sobrenome; ?>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group ">
                            <label for="st_cpf">CPF:</label>
                            <?php echo $this->form->st_cpf; ?>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="form-group">
                    <div class="col-md-4 nopad">
                        <div class="form-group ">
                            <label for="nu_telefonecelular" class="col-md-12">Telefone Celular:</label>

                            <div class="col-md-3">
                                <?php echo $this->form->id_telefonecelular; ?>
                                <?php echo $this->form->nu_dddcelular; ?>
                            </div>
                            <div class="col-md-9">
                                <?php echo $this->form->nu_telefonecelular; ?>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group ">
                            <label for="sg_uf">Estado:</label>
                            <?php echo $this->form->sg_uf; ?>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group ">
                            <label for="id_municipio">Cidade:</label>
                            <?php echo $this->form->id_municipio; ?>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="form-group">
                    <div class="col-md-4">
                        <div class="form-group ">
                            <label for="st_email">Email:</label>
                            <?php echo $this->form->id_email; ?>
                            <?php echo $this->form->st_email; ?>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group ">
                            <label for="st_senha">Senha:</label>
                            <?php echo $this->form->st_senha; ?>
                            <!--                                    <input placeholder="Digite sua senha" required="required" maxlength="12" name="st_senha" id="st_senha" class="form-control" type="password"/>-->
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group ">
                            <label for="st_confirmarsenha">Confirmar senha:</label>
                            <?php echo $this->form->st_confirmarsenha; ?>
                            <!--                                    <input placeholder="Confirme a Senha" required="required" maxlength="12" name="st_confirmarsenha" id="st_confirmarsenha" class="form-control" type="password"/>-->
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </fieldset>
            <div class="col-md-12 text-right">
                <input type="hidden" id="baseUrl" name="baseUrl" value="//<?php echo $_SERVER['SERVER_NAME']; ?>">
                <small>Campos com <span>*</span> são de preenchimento obrigatório.</small>
                <button type="submit" data-loading-text="ENVIANDO..." class="btnpadrao btn preenchimento">CADASTRAR
                </button>
            </div>
        </form>
    </div>
</div>
</div>
</section>
<style type="text/css">
    small {
        color: #757575;
    }

    small span {
        color: red;
    }

    .margin-bottom-20 {
        margin-bottom: 20px !important;
    }
</style>
<script type="text/javascript" src="/js/jquery/jquery.numeric.js"></script>
<script type="text/javascript" src="/js/funcoes/funcoes.js"></script>
<script type="text/javascript" src="/assets/javascripts/classes/loading.js"></script>
<script type="text/javascript" src="/js/app/loja/cadastro.js"></script>
