<section>
    <div class="container pad-n-10">
        <div class="row pad-n-10 text-center">
            <div class="col-md-8 col-centralizada">
                <div class="col-md-4 nopad preenchimento">
                    1 - Identificação
                </div>
                <div class="col-md-4 nopad preenchimento barra-meio">
                    2 - Pagamento
                </div>
                <div class="col-md-4 nopad preenchimento-active">
                    3 - Confirmação
                </div>
            </div>
        </div>
        <div class="row pad-n-20">
            <div class="col-md-9 col-centralizada text-center">
                <?=$this->mensagemConfirmacao?>
                <?php if($this->url_acesso):?>
                    <a href="<?php echo $this->url_acesso?>" class="btnmedio btn preenchimento pad-n-20">COMECE A ESTUDAR</a>
                <?php endif;?>
            </div>
            <div class="col-md-9 col-centralizada text-center pad-n-20">
                <?php
                if ($this->sessaoCarrinho && $this->sessaoCarrinho->st_urlvendaexterna):
                    ?>
                    <a href="<?=$this->sessaoCarrinho->st_urlvendaexterna?>" class="btnmedio btn preenchimento-menor pad-n-20">VOLTAR PARA O SITE</a>
                    <?php
                endif;
                ?>
            </div>
        </div>
    </div>
    <div style="margin-bottom: 40px"></div>
    <br>
</section>
