<div class="mensagem_indisponivel">
<?php

if($this->st_conversao){
	echo $this->st_conversao;
}

if($this->st_linkloja){
	echo '<script>window.open("'.$this->st_linkloja.'","_parent");</script>';
} else {
	echo '<script>window.open("/loja/pagamento/?id_venda=' . $this->id_venda . '","_parent");</script>';
}

?>
</div>
