<?php if ($this->formcontrato == 2) { ?>
    <section>
        <div class="container pad-n-10">
            <div class="row pad-n-20">
                <div class="col-md-12 col-centralizada text-center">
                    <?php echo $this->mensagemConfirmacao ?>
                </div>
            </div>
            <?php if ($this->url_acesso): ?>
                <div class="row col-centralizada text-center pad-n-20">
                    <a href="<?php echo $this->url_acesso ?><!--" class="btnmedio btn preenchimento pad-n-20">COMECE A
                        ESTUDAR</a>
                </div>
            <?php endif; ?>

            <div class="col-md-12 col-centralizada text-center pad-n-20">
                <?php
                if ($this->sessaoCarrinho && $this->sessaoCarrinho->st_urlvendaexterna):?>
                    <a href="<?= $this->sessaoCarrinho->st_urlvendaexterna ?>"
                       class="btnmedio btn preenchimento-menor pad-n-20">VOLTAR PARA O SITE</a>
                    <?php
                endif;
                ?>
            </div>
        </div>
    </section>
<?php } else { ?>

    <section>
        <div class="container pad-n-10">
            <div class="row pad-n-10 text-center">
                <div class="col-md-12 col-centralizada">
                    <div class="col-md-4 nopad preenchimento">
                        1 - Identificação
                    </div>
                    <div class="col-md-4 nopad preenchimento barra-meio">
                        2 - Pagamento
                    </div>
                    <div class="col-md-4 nopad preenchimento-active">
                        3 - Confirmação
                    </div>
                </div>
            </div>
            <div class="row pad-n-20 pad-s-20">
                <div class="col-md-12 col-centralizada text-center pad-s-20">
                    <b>
                        Sua matrícula está efetuada!
                    </b><br><br>
                    <b>
                        Mas para realizar a emissão do contrato, precisamos que complete o seu cadastro com os seguintes
                        dados.
                    </b><br><br>
                    <b>
                        Por favor, verifique se seu nome foi informado completo.
                    </b><br>
                </div>
                <div id="formulario-cadastro-pessoal"
                ">
                <div class="row">
                    <div class="col-md-12 col-centralizada">
                        <div class="col-md-12 nopad preenchimento text-center">
                            Formulário - Cadastro Pessoal
                        </div>
                        <div class="row pad-n-10">
                            <form action="/pagamento/confirma-contrato" method="post" name="form-dados-contrato"
                                  id="form-dados-contrato">
                                <div class="col-md-12">
                                    <h3>Dados Pessoais</h3>
                                </div>
                                <div class="col-md-12">
                                    <div class="col-md-8 pad-s-10" id="div_nome">
                                        <p class="text-left">Nome Completo:*</p>
                                        <input id="st_nomecompleto" name="st_nomecompleto" class="form-control"
                                               value="<?= $this->pessoa ? $this->pessoa->getSt_nomecompleto():'' ?>" type="text" required
                                               autocomplete="off"/>
                                    </div>
                                    <div class="col-md-4" id="div_nascimento">
                                        <p class="text-left">Data Nascimento:*</p>
                                        <input type="text" id="dt_nascimento" name="dt_nascimento" class="form-control"
                                               value="<?= $this->dt_nascimento ?>" required autocomplete="off">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="col-md-2" id="div_sexo">
                                        <p class="text-left">Sexo:*</p>
                                        <select class="form-control" name="st_sexo" id="st_sexo">
                                            <option value="1" selected>Masculino</option>
                                            <option value="2">Feminino</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-12 pad-n-20">
                                    <h3>
                                        Endereço Residencial
                                    </h3>
                                </div>
                                <div class="col-md-12 pad-s-10">
                                    <div class="col-md-4">
                                        <p class="text-left">País: *</p>
                                        <?php echo $this->form->id_pais; ?>
                                    </div>
                                    <div class="col-md-2" id="div_cep">
                                        <p class="text-left">CEP </p>
                                        <input class="form-control" required placeholder="" type="text" name="st_cep"
                                               id="st_cep"
                                               value="<?php echo $this->pessoa ? $this->pessoa->getSt_cep():''; ?>"/>

                                    </div>
                                    <div class="col-md-2">
                                        <p class="text-left">&nbsp;</p>
                                        <button type="button" class="btnpadrao btn preenchimento" id="btn_cep_contrato">
                                            BUSCAR
                                        </button>
                                    </div>
                                </div>
                                <div class="col-md-12 pad-s-10">
                                    <div class="col-md-6">
                                        <p class="text-left">Endereço</p>
                                        <input class="form-control" placeholder="" required type="text"
                                               name="st_endereco" id="st_endereco"
                                               value="<?php echo $this->pessoa ? $this->pessoa->getSt_endereco():''; ?>"/>

                                    </div>
                                    <div class="col-md-1 nopad-left" id="div_numero">
                                        <p class="text-left">Numero:*</p>
                                        <input class="form-control" placeholder="" required type="text" name="nu_numero"
                                               id="nu_numero"
                                               value="<?php echo $this->pessoa ? $this->pessoa->getNu_numero():''; ?>"/>

                                    </div>
                                    <div class="col-md-5 nopad-left" id="div_bairro">
                                        <p class="text-left">Bairro:*</p>
                                        <input class="form-control" placeholder="" required type="text" name="st_bairro"
                                               id="st_bairro"
                                               value="<?php echo $this->pessoa ? $this->pessoa->getSt_bairro():''; ?>"/>

                                    </div>
                                </div>
                                <div class="col-md-12 pad-s-10">
                                    <div class="col-md-6" id="div_complemento">
                                        <p class="text-left">Complemento:</p>
                                        <input class="form-control" placeholder="" type="text" id="st_complemento"
                                               name="st_complemento"
                                               value=" <?php echo $this->pessoa ? $this->pessoa->getSt_complemento():''; ?>"/>

                                    </div>
                                    <div class="col-md-2" id="div_uf">
                                        <p class="text-left">UF:*</p>
                                        <?php echo $this->form->sg_uf; ?>
                                    </div>
                                    <div class="col-md-4" id="div_cidade">
                                        <p class="text-left">Munícipio</p>
                                        <select name="municipio" id="municipios" required class="form-control"></select>
                                    </div>
                                </div>

                                <div id="enderecoCorrespondencia" class="pad-n-20 hidden">
                                    <div class="col-md-12">
                                        <h3>
                                            Endereço Correspondência
                                        </h3>
                                    </div>
                                    <div class="col-md-12 pad-s-10">
                                        <div class="col-md-4">
                                            <p class="text-left">País: *</p>
                                            <?php echo $this->form->id_pais_corresp; ?>
                                        </div>
                                        <div class="col-md-2" id="div_cep">
                                            <p class="text-left">CEP:* </p>
                                            <input class="form-control" name="st_cep_correpondencia" placeholder=""
                                                   type="text" id="st_cep_correspondencia"
                                                   value=""/>

                                        </div>
                                        <div class="col-md-2">
                                            <p class="text-left">&nbsp;</p>
                                            <button type="button" class="btnpadrao btn preenchimento"
                                                    id="btn_cep_contrato_correspondencia">BUSCAR
                                            </button>
                                        </div>
                                    </div>
                                    <div class="col-md-12 pad-s-10">
                                        <div class="col-md-6">
                                            <p class="text-left">Endereço:*</p>
                                            <input class="form-control" name="st_endereco_correspondencia"
                                                   placeholder="" type="text" id="st_endereco_correspondencia"
                                                   value=""/>

                                        </div>
                                        <div class="col-md-1 nopad-left" id="div_numero">
                                            <p class="text-left">Numero:*</p>
                                            <input class="form-control" placeholder="" name="nu_numero_correspondencia"
                                                   type="text" id="nu_numero_correspondencia"
                                                   value=""/>

                                        </div>
                                        <div class="col-md-5 nopad-left" id="div_bairro">
                                            <p class="text-left">Bairro:*</p>
                                            <input class="form-control" placeholder="" name="st_bairro_correspondencia"
                                                   type="text" id="st_bairro_correspondencia"
                                                   value=""/>

                                        </div>
                                    </div>
                                    <div class="col-md-12 pad-s-10">
                                        <div class="col-md-6" id="div_complemento">
                                            <p class="text-left">Complemento:</p>
                                            <input class="form-control" placeholder="" type="text"
                                                   name="st_complemento_correspondencia"
                                                   id="st_complemento_correspondencia"
                                                   value=" "/>

                                        </div>
                                        <div class="col-md-2" id="div_uf">
                                            <p class="text-left">UF:*</p>
                                            <?php echo $this->form->sg_uf_corresp; ?>
                                        </div>
                                        <div class="col-md-4" id="div_cidade">
                                            <p class="text-left">Munícipio</p>
                                            <select name="municipios_correspondencia" id="municipio_correspondencia"
                                                    class="form-control"></select>
                                        </div>


                                    </div>


                                </div>

                                <input id="correspondencia" class="hidden" value="0" name="correspondencia">
                                <input id="id_uf" class="hidden"
                                       value="<?php echo $this->pessoa ? $this->pessoa->getSg_uf():''; ?>">
                                <input id="id_mun" class="hidden"
                                       value="<?php echo $this->pessoa ? $this->pessoa->getId_municipio():''; ?>"/>
                                <input type="hidden" name="id_venda" id="id_venda"
                                       value="<?php echo $this->venda ?>"/>
                                <input type="hidden" name="id_usuario" id="id_usuario"
                                       value="<?php echo $this->usuario ?>"/>
                                <input type="hidden" name="id_entidade" id="id_entidade"
                                       value="<?php echo $this->entidade ?>"/>

                                <div class="col-md-12 pad-n-10 pad-s-20">
                                    <button type="button" class="btn-link pull-left" id="btn_endereco_correspondecia">
                                        Quero informar endereço diferente para Correspondência
                                    </button>
                                    <button type="submit" class="btnmedio btn preenchimento pull-right"
                                            id="btn_cadastrarEndereco">
                                        FINALIZAR CADASTRO
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="margin-bottom: 40px"></div>
        <br>
    </section>
<?php } ?>