<section>
    <div class="container pad-n-10">
        <div class="row pad-n-20">
            <div class="col-md-12 col-centralizada text-center">
                <?php echo $this->mensagemConfirmacao ?>
            </div>
        </div>
        <?php if ($this->url_acesso): ?>
            <div class="row col-centralizada text-center pad-n-20">
                <a href="<?php echo $this->url_acesso ?><!--" class="btnmedio btn preenchimento pad-n-20">COMECE A
                    ESTUDAR</a>
            </div>
        <?php endif; ?>

        <div class="col-md-12 col-centralizada text-center pad-n-20">
            <?php
            if ($this->sessaoCarrinho && $this->sessaoCarrinho->st_urlvendaexterna):?>
                <a href="<?= $this->sessaoCarrinho->st_urlvendaexterna ?>"
                   class="btnmedio btn preenchimento-menor pad-n-20">VOLTAR PARA O SITE</a>
                <?php
            endif;
            ?>
        </div>
    </div>
</section>