<section>
    <div class="container pad-n-10">
        <div class="row pad-n-10 pad-s-10">
            <div class="col-md-12 text-center">
                <h3><?= $this->msg; ?></h3>
            </div>
        </div>
    </div>
</section>
