<?php
$dados = $this->dados;
?>
<section>
    <div class="container pad-n-10">
        <div class="row pad-n-10 pad-s-10">
            <div class="col-md-12 text-center">
                <h3>Último Passo</h3>
            </div>
        </div>
        <div class="row pad-n-10 text-center">
            <div class="col-md-8 col-centralizada">
                <div class="col-md-4 nopad preenchimento">
                    1 - Identificação
                </div>
                <div class="col-md-4 nopad preenchimento barra-meio">
                    2 - Pagamento
                </div>
                <div class="col-md-4 nopad preenchimento-active">
                    3 - Confirmação
                </div>
            </div>
        </div>
        <div class="row pad-n-20">
            <div class="col-md-9 col-centralizada text-center">
                <div id="mensagem-confirmacao">
                    <?= $this->mensagemConfirmacao ?>
                </div>
                <br>
                <button class="btnmedio btn preenchimento pad-n-20" id="btn_confirmarBoleto"
                        data-loading-text="Aguarde...">
                    IMPRIMIR BOLETO
                </button>
            </div>
            <div class="col-md-9 col-centralizada text-center pad-n-20">
                <?php
                if ($this->sessaoCarrinho && $this->sessaoCarrinho->st_urlvendaexterna):
                    ?>
                    <a href="<?= $this->sessaoCarrinho->st_urlvendaexterna ?>" class="btnmedio btn preenchimento preepreenchimento-menor pad-n-20">VOLTAR PARA O SITE</a>
                    <?php
                endif;
                ?>
            </div>
        </div>
    </div>
    <div style="margin-bottom: 40px"></div>
    <br>
    <script type="text/javascript" src="/assets/javascripts/classes/loading.js"></script>
    <script>

        var solicitacaoefetuada = 0;
        $('#btn_confirmarBoleto').click(function () {
            gerarBoleto();
            solicitacaoefetuada++;
        });

        gerarBoleto = function () {
            $.ajax({
                dataType: 'json',
                type: 'post',
                url: "/pagamento/boleto/id_lancamento/<?php echo $dados['id_lancamento']; ?>/dados/true",
                beforeSend: function () {
                    Loading.start();
                },
                success: function (data) {

                    if (data.st_idtransacaoexterna != null && data.st_urlboleto == null) {

                        if (solicitacaoefetuada < 2) {
                            $('*[data-loading-text]').button('loading');
                            solicitacaoefetuada++;
                            setTimeout(gerarBoleto, 7000);
                        } else {
                            Loading.finish();
                        }

                    } else {
                        Loading.finish();
                        window.open("/pagamento/boleto/id_lancamento/<?php echo $dados['id_lancamento']; ?>", "_blank");
                    }

                },
                complete: function () {

                },
                error: function (response) {
                    $.pnotify({
                        title: 'Erro! 3154',
                        text: response.responseJSON.text,
                        type: 'error'
                    });
                }
            });
        }
    </script>
</section>

