<?php
$produtos_gratuitos = $this->produtos_gratuitos;
?>
<section id="pagamento">
    <div class="container pad-n-20">

        <!--Cabeçalho de status da compra-->
        <div class="row pad-n-10 text-center">
            <div class="col-md-12 col-centralizada">
                <div class="col-md-4 nopad preenchimento">
                    1 - Identificação
                </div>
                <div class="col-md-4 nopad preenchimento-active barra-meio">
                    2 - Pagamento
                </div>
                <div class="col-md-4 nopad preenchimento">
                    3 - Confirmação
                </div>
            </div>
        </div>

        <?php
        if ($produtos_gratuitos || $this->sessaoCarrinho->produtos_pagos):
            ?>
            <div class="row">
                <div class="col-md-12">
                    <h3 class="text-center">Minhas Compras</h3>
                </div>
            </div>
            <?php
        endif;
        ?>
        <!--Div contendo os produtos da compra-->
        <?php if ($this->sessaoCarrinho->produtos_pagos): ?>
            <div class="row">
                <div class="col-md-12">
                    <fieldset>
                        <div class="col-md-12">
                            <h4>PRODUTOS</h4>
                            <table class="pad-n-10 table table-bordered text-left">
                                <thead>
                                <tr>
                                    <th>Produto</th>
                                    <th>Quantidade</th>
                                    <th>Valor</th>
                                </tr>
                                </thead>
                                <tbody>
                                <?php
                                foreach ($this->pagamento->carrinho['produtos'] as $produto) :
                                    ?>
                                    <tr>
                                        <td><?= $produto->st_produto ?></td>
                                        <td>1</td>
                                        <td>
                                            <?php
                                            if ($produto->bl_desconto) :
                                                echo '<color style="text-decoration: line-through; color:#C0C0C0; font-size: 14px">' . $produto->getNu_valorbruto() . "</color> - " . $produto->getNu_valorliquido();
                                            else :
                                                echo $produto->getNu_valorliquido();
                                            endif;
                                            ?>
                                        </td>
                                    </tr>
                                <?php endforeach; ?>
                                <tr>
                                    <td colspan="3"></td>
                                </tr>
                                <tr class="tabela-total">
                                    <td colspan="2">TOTAL</td>
                                    <td><?= $this->pagamento->carrinho['resumo']->nu_valortotal ?></td>
                                </tr>
                                </tbody>
                            </table>

                        </div>
                    </fieldset>
                </div>
            </div>
        <?php endif; ?>
        <?php if ($produtos_gratuitos): ?>
            <!--Div para produtos gratuitos, caso existam-->
            <div id="gratuitos" class="pad-n-20">
                <div class="row">
                    <div class="col-md-12">
                        <fieldset>
                            <div class="col-md-12">
                                <h4>PRODUTOS GRATUITOS</h4>
                                <table class="pad-n-10 table table-bordered text-left">
                                    <thead>
                                    <tr>
                                        <th>Produto</th>
                                        <th>Quantidade</th>
                                        <th>Valor</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <?php
                                    if ($produtos_gratuitos):
                                        foreach ($produtos_gratuitos as $produtoGratuito):
                                            ?>
                                            <tr>
                                                <td><?php echo $produtoGratuito->getst_produto(); ?></td>
                                                <td><?php echo $produtoGratuito->getnu_quantidade(); ?></td>
                                                <td>Gratuíto</td>
                                            </tr>
                                            <?php
                                        endforeach;
                                    endif;
                                    ?>
                                    </tbody>
                                </table>

                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>
        <?php endif; ?>

        <?php if ($this->cupomPremio): ?>
            <div class="row ">
                <div class="col-md-12 pad-n-20">
                    <fieldset>
                        *Ao concluir a compra do produto, você receberá um e-mail com cupom promocional para adquirir
                        produtos com desconto ou brindes exclusivos em futuras compras, válido por um ano.
                    </fieldset>
                </div>
            </div>
        <?php endif; ?>
        <!--Form para cadastro e alteração de endereço-->
        <?php if ($this->bl_livro) : ?>
            <div class="row pad-n-10" id="endereco">
                <input id="bl_livro" class="hidden" value="<?php echo $this->bl_livro; ?>"/>

                <div class="col-md-12">
                    <h3 class="text-center">Endereço de Entrega</h3>
                    <fieldset>
                        <form action="" method="post" name="form-endereco" id="form-endereco">
                            <div class="col-md-12">
                                <h4>CADASTRAR ENDEREÇO</h4>
                                <input id="id_enderecoentrega" class="hidden"
                                       value="<?php echo $this->pessoa->getId_endereco(); ?>"/>
                                <input id="id_uf" class="hidden" value="<?php echo $this->pessoa->getSg_uf(); ?>">
                                <input id="id_mun" class="hidden"
                                       value="<?php echo $this->pessoa->getId_municipio(); ?>"/>
                                <input type="hidden" name="id_vendaendereco" id="id_vendaendereco"
                                       value="<?php echo $this->pagamento->venda->id_venda ?>"/>

                                <div class="form-group">
                                    <div class="col-md-4 nopad-left nopad-right pad-s-10" id="div_cep">
                                        <p class="text-left">CEP </p>
                                        <input class="form-control" placeholder="" type="text" id="st_cep"
                                               value="<?php echo $this->pessoa->getSt_cep(); ?>"/>
                                    </div>
                                    <div class="col-md-2 nopad-left pad-s-10">
                                        <p class="text-left">&nbsp;</p>
                                        <button class="btnpadrao btn preenchimento" id="btn_cep">BUSCAR</button>
                                    </div>
                                    <div class="col-md-6 nopad-left hidden" id="div_alerta">
                                        <div class="col-md-12 alert alert-danger " role="alert">Verifique os campos em
                                            vermelho!
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-12 nopad-left pad-s-10" id="div_endereco">
                                        <p class="text-left">Endereço</p>
                                        <input class="form-control" placeholder="" type="text" id="st_endereco"
                                               value="<?php echo $this->pessoa->getSt_endereco(); ?>"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-4 nopad-left pad-s-10" id="div_numero">
                                        <p class="text-left">Numero</p>
                                        <input class="form-control" placeholder="" type="text" id="nu_numero"
                                               value="<?php echo $this->pessoa->getNu_numero(); ?>"/>
                                    </div>
                                    <div class="col-md-4 nopad-left pad-s-10" id="div_complemento">
                                        <p class="text-left">Complemento</p>
                                        <input class="form-control" placeholder="" type="text" id="st_complemento"
                                               value="<?php echo $this->pessoa->getSt_complemento(); ?>"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-4 nopad-left pad-s-10" id="div_bairro">
                                        <p class="text-left">Bairro</p>
                                        <input class="form-control" placeholder="" type="text" id="st_bairro"
                                               value="<?php echo $this->pessoa->getSt_bairro(); ?>"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-4 nopad-left pad-s-10">
                                        <p class="text-left">País</p>
                                        <?php echo $this->form->id_pais; ?>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-4 nopad-left pad-s-10" id="div_uf">
                                        <p class="text-left">UF</p>
                                        <?php echo $this->form->sg_uf; ?>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-4 nopad-left pad-s-10" id="div_cidade">
                                        <p class="text-left">Munícipio</p>
                                        <select name="" id="municipios" class="form-control"></select>
                                    </div>
                                </div>
                                <div class="col-md-12 text-right pad-n-10 pad-s-20">
                                    <button type="submit" class="btnmedio btn preenchimento" id="btn_cadastrarEndereco">
                                        CADASTRAR
                                    </button>
                                </div>
                            </div>
                        </form>
                    </fieldset>
                </div>
            </div>
        <?php endif; ?>

        <div class="row pad-n-10" id="div_pagtitulo">
            <div class="col-md-12">
                <h3 class="text-center">Selecione a Forma de Pagamento</h3>
            </div>
        </div>
        <!--Forms para pagamento de cartão recorrente e normal-->
        <?php if (!empty($this->pagamento->carrinho['formapagamento']->recorrente)) : ?>
            <div class="row pad-n-10">
                <div class="col-md-12">

                    <fieldset>
                        <h4>CARTÃO DE CRÉDITO RECORRENTE</h4>

                        <form method="POST" action="/pagamento/confirmar-cartao">

                            <input type="hidden" name="id_venda" id="id_venda"
                                   value="<?= $this->pagamento->venda->id_venda ?>"/>
                            <input type="hidden" name="id_meiopagamento" id="id_meiopagamentoCartao"
                                   value="<?= MeioPagamentoTO::RECORRENTE ?>"/>
                            <input type="hidden" name="amount" id="amount"
                                   value="<?= $this->pagamento->carrinho['resumo']->nu_valor_for_pagarme ?>"/>
                            <div class="col-md-12 pad-s-20 pad-n-10">
                                <?php foreach ($this->pagamento->carrinho['formapagamento']->bandeira as $bandeira) : ?>
                                    <div class="col-md-1 nopad-left"
                                         id="img_<?= $bandeira->st_cartaobandeira ?>">
                                        <img
                                                src="/img/img2/<?php echo strtolower($bandeira->st_cartaobandeira) ?>.png"
                                                alt="<?php echo $bandeira->st_cartaobandeira ?>"/>
                                    </div>
                                <?php endforeach; ?>
                                <div class="text-right nopad-right">
                                    <script type="text/javascript"
                                            src="https://assets.pagar.me/checkout/checkout.js"
                                            data-button-text="Pagar com cartão de crédito recorrente"
                                            data-encryption-key="<?= $this->entidadeintegracao->st_codsistema ?>"
                                            data-button-class="btngrande btn preenchimento"
                                            data-customer-data="false"
                                            data-payment-methods="credit_card"
                                            data-create-token="false"
                                            data-ui-color="#¸E50014"
                                            data-amount="<?= $this->pagamento->carrinho['resumo']->nu_valor_for_pagarme ?>"
                                            data-default-installment="1"
                                            data-max-installments="<?= count($this->pagamento->carrinho['formapagamento']->cartao) ?>">
                                    </script>
                                </div>
                            </div>


                        </form>
                    </fieldset>
                </div>
            </div>
        <?php endif; ?>
        <?php if (!empty($this->pagamento->carrinho['formapagamento']->cartao)) : ?>
            <div class="row pad-n-10" id="div_pagcartao">
                <div class="col-md-12">
                    <fieldset>
                        <h4>CARTÃO DE CRÉDITO</h4>

                        <form id="form_confirmar_cartao" method="POST" action="/pagamento/confirmar-cartao">

                            <input type="hidden" name="id_venda" id="id_venda"
                                   value="<?= $this->pagamento->venda->id_venda ?>"/>
                            <input type="hidden" name="id_meiopagamento" id="id_meiopagamentoCartao"
                                   value="<?= MeioPagamentoTO::CARTAO ?>"/>
                            <input type="hidden" name="amount" id="amount"
                                   value="<?= $this->pagamento->carrinho['resumo']->nu_valor_for_pagarme ?>"/>

                            <div class="col-md-12 pad-s-20 pad-n-10">
                                <?php foreach ($this->pagamento->carrinho['formapagamento']->bandeira as $bandeira) : ?>
                                    <div class="col-md-1 nopad-left"
                                         id="img_<?= $bandeira->st_cartaobandeira ?>">
                                        <img
                                                src="/img/img2/<?php echo strtolower($bandeira->st_cartaobandeira) ?>.png"
                                                alt="<?php echo $bandeira->st_cartaobandeira ?>"/>
                                    </div>
                                <?php endforeach; ?>
                                <div class="text-right nopad-right">

                                    <script type="text/javascript"
                                            src="https://assets.pagar.me/checkout/checkout.js"
                                            data-button-text="Pagar com cartão de crédito"
                                            data-card-brands="<?= $this->cartoesaceitos ?>"
                                            data-encryption-key="<?= $this->entidadeintegracao->st_codsistema ?>"
                                            data-button-class="btngrande btn preenchimento"
                                            data-customer-data="false"
                                            data-payment-methods="credit_card"
                                            data-customer-name="<?= $this->pessoa->getSt_nomecompleto() ?>"
                                            data-customer-document-number="<?= $this->pessoa->getSt_cpf() ?>"
                                            data-ui-color="#E50014"
                                            data-create-token="false"
                                            data-amount="<?= $this->pagamento->carrinho['resumo']->nu_valor_for_pagarme ?>"
                                            data-default-installment="1"
                                            data-max-installments="<?= count($this->pagamento->carrinho['formapagamento']->cartao) ?>">
                                    </script>
                                </div>
                            </div>
                        </form>
                    </fieldset>
                </div>
            </div>
        <?php endif; ?>
        <!--Div para pagamento com boleto bancário-->
        <?php if (!empty($this->pagamento->carrinho['formapagamento']->boleto)): ?>
            <div class="row pad-n-10" id="div_pagboleto">
                <div class="col-md-12">


                    <fieldset>
                        <h4>BOLETO BANCÁRIO</h4>

                        <form action="/pagamento/gerar-boleto" method="post" name="form-boleto" id="form-boleto">
                            <input type="hidden" name="id_venda" id="id_venda"
                                   value="<?php echo $this->pagamento->venda->id_venda ?>"/>
                            <input type="hidden" name="id_meiopagamento" id="id_meiopagamento"
                                   value="<?php echo MeioPagamentoTO::BOLETO ?>"/>
                            <input type="hidden" name="nu_parcelas" id="nu_parcelas" value="1"/>
                            <!--<input type="hidden" name="id_lancamento" id="id_lancamento" value="<?php //echo $this->pagamento->carrinho['formapagamento']->boleto[0]->id_lancamento ?>"/>-->
                            <div class="col-md-12">

                                <div class="col-md-3 nopad-left pad-n-20">
                                    <img src="/img/img2/boleto.png"
                                         class="boleto" alt="Boleto Bancário" title="Boleto Bancário"/>
                                </div>
                                <div class="col-md-9 text-justify nopad-right">
                                    <p class="valor-pagamento">
                                        Valor: <?php echo $this->pagamento->carrinho['resumo']->nu_valortotal ?></p>

                                    <p class="boleto-detalhe">Pagamento à  vista via Boleto Bancário. O boleto pode ser
                                        pago em toda a rede bancária ou internet banking até o vencimento. Para esta
                                        forma de pagamento a sala de aula será liberada após a confirmação do pagamento,
                                        que pode ocorrer em até 3 dias úteis.</p>
                                </div>
                                <div class="text-right nopad-right">
                                    <button type="button" class="btngrande btn preenchimento"
                                            data-loading-text="ENVIANDO..." id="btn_boleto">Gerar Boleto
                                    </button>
                                </div>
                            </div>
                        </form>
                    </fieldset>
                </div>
            </div>
        <?php endif; ?>
        <!--Botão continuar comprando caso exista uma url venda externa-->
        <?php
        if ($this->sessaoCarrinho && $this->sessaoCarrinho->st_urlvendaexterna):
            ?>
            <div class="row">
                <div style="margin-bottom: 40px"></div>
                <div class="col-md-12 col-centralizada text-center pad-n-20">
                    <a href="<?php echo $this->sessaoCarrinho->st_urlvendaexterna; ?>"
                       class="btngrande btn preenchimento"><i class="fa fa-lg fa-chevron-circle-left"></i>&nbsp;&nbsp;CONTINUAR
                        COMPRANDO</a>
                </div>
            </div>
            <?php
        endif;
        ?>
    </div>
    <div style="margin-bottom: 40px"></div>
    <br>
</section>
<script type="text/javascript" src="/assets/javascripts/classes/loading.js"></script>
<script type="text/javascript" src="/js/funcoes/funcoes.js"></script>

