<?php
    $bo = new Ead1_BO();
    $sessao = Ead1_Sessao::getSessaoCarrinho();
?>

<!--Minhas compras-->
<section class="generic-container" id="minhas-compras">
    <div class="container pad-n-20">
        <div class="row">
            <div class="col-md-12">
                <fieldset style="padding: 0.75em 0.625em 0.75em;">
                    <div class="col-md-12" style="padding: 1%;"> A próxima parcela à vencer do seu contrato será
                        creditada no cartão informado abaixo.
                    </div>
                </fieldset>
            </div>
        </div>
        <!--        <div class="row">-->
        <!--            <div class="col-md-12">-->
        <!--                <h3 class="text-center">Minhas Compras</h3>-->
        <!--            </div>-->
        <!--        </div>-->
        <!--        <div class="row">-->
        <!--            <div class="col-md-12">-->
        <!--                <fieldset>-->
        <!--                    <div class="col-md-12">-->
        <!--                        <h4>PRODUTOS</h4>-->
        <!--                        <table class="pad-n-10 table table-bordered text-left">-->
        <!--                            <thead>-->
        <!--                            <tr>-->
        <!--                                <th>Produto</th>-->
        <!--                                <th>Quantidade</th>-->
        <!--                                <th>Valor</th>-->
        <!--                            </tr>-->
        <!--                            </thead>-->
        <!--                            <tbody>-->
        <!--                            --><?php
        //                            /** @var \G2\Entity\VwProdutoVenda $produto */
        //                            foreach ($this->pagamento->carrinho['produtos'] as $produto) :
        //                                ?>
        <!--                                <tr>-->
        <!--                                    <td>--><? //= $produto->getSt_produto() ?><!--</td>-->
        <!--                                    <td>1</td>-->
        <!--                                    <td>-->
        <!--                                        --><?php
        //                                        if ($produto->bl_desconto) :
        //                                            echo '<color style="text-decoration: line-through; color:#C0C0C0; font-size: 14px">' . $produto->getNu_valorbruto() . "</color> - " . $produto->getNu_valorliquido();
        //                                        else :
        //                                            echo $produto->getNu_valorliquido();
        //                                        endif;
        //                                        ?>
        <!--                                    </td>-->
        <!--                                </tr>-->
        <!--                            --><?php //endforeach; ?>
        <!--                            <tr>-->
        <!--                                <td colspan="3"></td>-->
        <!--                            </tr>-->
        <!--                            <tr class="tabela-total">-->
        <!--                                <td colspan="2">TOTAL</td>-->
        <!--                                <td>-->
        <? //= $this->pagamento->carrinho['resumo']->nu_valortotal ?><!--</td>-->
        <!--                            </tr>-->
        <!--                            </tbody>-->
        <!--                        </table>-->
        <!---->
        <!--                    </div>-->
        <!--                </fieldset>-->
        <!--            </div>-->
        <!--        </div>-->
        <!--Minhas compras-->

        <div class="row pad-n-10">
            <div class="col-md-12">
                <h3 class="text-center">Dados para Atualização</h3>
                <fieldset>
                    <h4>CARTÃO DE CRÉDITO</h4>
                    <form action="/pagamento/mudar-cartao" method="post" name="form-cartaorecorrente"
                          id="form-cartaorecorrente" onsubmit="return false">
                        <input type="hidden" name="id_usuario" id="id_usuario" value="<?=$this->pessoa->getId_usuario()?>"/>
                        <input type="hidden" name="id_entidade" id="id_entidade" value="<?=$this->id_entidade?>"/>
                        <input type="hidden" name="st_nomecompleto" id="st_nomecompleto" value="<?=$this->pessoa->getSt_nomecompleto()?>"/>
                        <input type="hidden" name="st_email" id="st_email" value="<?=$this->pessoa->getSt_email()?>"/>
                        <input type="hidden" name="id_vendarecorrente" id="id_vendaRecorrente"
                               value="<?= $this->venda->getIdVenda(); ?>"/>
                        <input type="hidden" name="id_meiopagamentorecorrente" id="id_meiopagamentoCartaoRecorrente"
                               value="<?php echo MeioPagamentoTO::RECORRENTE ?>"/>
                        <input type="hidden" name="nu_parcelas" id="nu_parcelas"
                               value="<?= count($this->vendaLancamentos) ?>"/>

                        <input type="hidden" name="id_venda" id="id_venda" value="<?= $this->venda->getIdVenda(); ?>"/>
                        <input type="hidden" name="id_meiopagamento" id="id_meiopagamento"
                               value="<?= MeioPagamentoTO::RECORRENTE ?>"/>
                        <input type="hidden" name="nu_valorparcela" id="nu_valorparcela"
                               value="<?= $this->vendaLancamentos[0]->getNu_valor() ?>"/>
                        <input type="hidden" name="id_sistemacobranca" id="id_sistemacobranca"
                               value="<?= $this->vendaLancamentos[0]->getId_Sistemacobranca() ? $this->vendaLancamentos[0]->getId_Sistemacobranca() : \G2\Constante\Sistema::BRASPAG_RECORRENTE ?>"/>

                        <input type="hidden" name="nu_parcelas" id="nu_parcelas"
                               value="<?= count($this->vendaLancamentos) ?>"/>
                        <input type="hidden" name="nu_valortotal" id="nu_valortotal"
                               value="<?= count($this->vendaLancamentos) * $this->vendaLancamentos[0]->getNu_valor() ?>"/>

                        <div class="col-md-12 pad-s-20 pad-n-10">
                            <div class="col-md-6 nopad-left">
                                <?php
                                /** @var \G2\Entity\VwBandeiraCartao $bandeira */
                                foreach ($this->pagamento->carrinho['formapagamento']->bandeirarecorrente as $bandeira) :
                                    ?>
                                    <div class="col-md-1 nopad-left imgopacity bandeira"
                                         id="img_<?= $bandeira->getStCartaobandeira() ?>">
                                        <img src="/img/img2/<?php echo strtolower($bandeira->getStCartaobandeira()) ?>.png"
                                             alt="<?php echo $bandeira->getStCartaobandeira() ?>"/>
                                    </div>
                                    <?php
                                endforeach;
                                ?>
                            </div>
                            <div class="col-md-6 nopad-left hidden" id="div_alertaCartaoRecorrente">
                                <div class="col-md-12 alert alert-danger " role="alert">Verifique os campos não
                                    preenchidos!
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 pad-s-10" id="div_cartaoRecorrente">
                            <p class="text-left">Número do cartão de crédito (apenas números)</p>
                            <input id="nu_cartaoRecorrente" class="form-control" type="text" autocomplete="off"
                                   name="st_cartao"/>
                            <input type="hidden" name="nu_cartaoUtilizadoRecorrente" id="nu_cartaoUtilizadoRecorrente"
                                   value=""/>
                        </div>
                        <div class="col-md-6 pad-s-10" id="div_titularRecorrente">
                            <p class="text-left">Titular do cartão de crédito (igual ao impresso no cartão)</p>
                            <input class="form-control" maxlength="150" type="text" id="st_titularRecorrente"
                                   autocomplete="off"
                                   name="st_nomeimpresso"/>
                        </div>
                        <div class="col-md-6 pad-s-10" id="div_cpfRecorrente">
                            <p class="text-left">CPF ou CNPJ do Titular do cartão de crédito (apenas números)</p>
                            <input class="form-control" id="st_cpfRecorrente" type="text" autocomplete="off"
                                   name="st_cpf"/>
                        </div>
                        <div class="col-md-6">
                            <div class="col-md-5 nopad-left nopad-right pad-s-10" id="div_codigoSegurancaRecorrente">
                                <p class="text-left">*Código de Segurança</p>
                                <input class="form-control" type="text" id="st_codigoseguranca"
                                       autocomplete="off" name="st_codigoseguranca"/>
                            </div>
                            <div class="col-md-4 pad-s-10" id="div_mesValidadeRecorrente">
                                <p class="text-left">Validade</p>
                                <select class="form-control" name="nu_mesvalidade" id="st_mesValidadeRecorrente">
                                    <option value="" disabled selected>Mês</option>
                                    <option value="1">Jan</option>
                                    <option value="2">Fev</option>
                                    <option value="3">Mar</option>
                                    <option value="4">Abr</option>
                                    <option value="5">Mai</option>
                                    <option value="6">Jun</option>
                                    <option value="7">Jul</option>
                                    <option value="8">Ago</option>
                                    <option value="9">Set</option>
                                    <option value="10">Out</option>
                                    <option value="11">Nov</option>
                                    <option value="12">Dez</option>
                                </select>
                            </div>
                            <div class="col-md-3 nopad-left nopad-right text-left" id="div_anoValidadeRecorrente">
                                <p class="">&nbsp;</p>
                                <select class="form-control" name="nu_anovalidade" id="st_anoValidadeRecorrente">
                                    <option value="" disabled selected>Ano</option>
                                    <?php for ($i = 0; $i < 20; $i++) : ?>
                                        <option value="<?php echo date("Y") + $i; ?>"><?php echo date("Y") + $i; ?></option>
                                    <?php endfor; ?>
                                </select>
                            </div>
                        </div>
                        <!--                        <div class="col-md-6 pad-s-10" id="div_parcelamentoRecorrente">-->
                        <!--                            <p class="text-left">Parcelas</p>-->
                        <!--                            <span>--><? //= count($this->vendaLancamentos); ?>
                        <!--                                X -->
                        <? //= $bo->formataValor($this->vendaLancamentos[0]->getNu_valor()); ?><!-- </span>-->
                        <!--                        </div>-->
                        <!--                        <div class="col-md-6 pad-s-10" id="div_parcelamentoRecorrente">-->
                        <!--                            <p class="text-left">Total</p>-->
                        <!--                            <span>-->
                        <? //= $bo->formataValor(count($this->vendaLancamentos) * $this->vendaLancamentos[0]->getNu_valor()); ?><!-- </span>-->
                        <!--                        </div>-->
                        <div class="row">
                            <div class="col-md-12"><br></div>
                            <div class="col-md-12 clearfix">
                                <div class="col-md-9 red"><br>
                                    <small>
                                        O valor de R$ 1,23 pode ser debitado para validação dos dados do cartão e
                                        estornado
                                        automaticamente!
                                    </small>
                                </div>

                                <div class="col-md-3 text-right">
                                    <button type="button" class="btn btngrande preenchimento"
                                            data-loading-text="ENVIANDO..."
                                            id="btn_pagar_cartao_recorrente">MUDAR CARTÃO
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </fieldset>
            </div>
        </div>
        <script type="text/javascript" src="/loja/assets/javascripts/classes/loading.js"></script>
        <script type="text/javascript"
                src="<?php echo Ead1_Ambiente::geral()->get('st_url_loja') ?>/assets/javascripts/classes/loading.js"></script>
        <script type="text/javascript" src="/loja/js/funcoes/funcoes.js"></script>

        <script src="https://assets.pagar.me/js/pagarme.min.js"></script>
        <script>
            window.encryption_key = "<?php echo $this->entidadeintegracao ? $this->entidadeintegracao->getSt_codsistema() : null ?>";
        </script>

        <script type="text/javascript">
            var autorizacaoSucess = function (mensageiro) {
                if (mensageiro.mensagem === undefined) {
                    return autorizacaoError();
                }
                if (mensageiro.tipo == 1) {
                    mensageiro.redirecionar = {
                        url: '<?=$this->baseUrl?>/loja/pagamento/confirmacao?id_venda=<?= $this->venda->getIdVenda(); ?>',
                        tipo: 'replace',
                        tempo: 0
                    };

                }
                Mensageiro.mostrar(mensageiro, null);
            };

            var autorizacaoError = function (e) {
                var redirecionar = false;
                Mensageiro.mostrar({
                    'tipo': Mensageiro.ERRO,
                    'mensagem': 'Ops, ocorreu um erro na requisição. <br>Você será novamente redirecionado.'
                }, null);
            };

            $('#btn_pagar_cartao_recorrente').on('click', function (e) { //EFETUA O PAGAMENTO COM CARTÃO RECORRENTE
                var that = this;//atribui o this numa variavel para escopo
                e.preventDefault();
                if (validaCamposCartaoRecorrente()) {

                    if ($('#id_sistemacobranca').val() == <?= \G2\Constante\Sistema::BRASPAG_RECORRENTE ?> ) {
                        solicitaMudancaCartaoRecorrente($(that));
                    } else if ($('#id_sistemacobranca').val() == <?= \G2\Constante\Sistema::PAGARME ?> ) {
                        solicitaMudancaCartaoRecorrentePagarme($(that))
                    }

                }
                return false;
            });

            function solicitaMudancaCartaoRecorrente($elemento) { //SOLICITA O CARTAO
                Loading.$el = $elemento;
                $.ajax({
                    url: "/pagamento/mudar-cartao",
                    type: 'POST',
                    dataType: 'json',
                    data: $("#form-cartaorecorrente").serialize(),
                    beforeSend: function () {
                        Loading.start();
                    },
                    success: function (response) {
                        if (response.type == 'warning') {
                            bootbox.dialog({
                                message: response['mensagem'],
                                title: response['title'],
                                buttons: {
                                    successful: {
                                        label: "Fechar",
                                        className: "btn-alert"
                                    }
                                }
                            });
                        }
                        if (response.type == 'success') {
                            $("#form-cartaorecorrente").submit();
                            var mensageiro = null;
                            mensageiro.redirecionar = {
                                url: '<?=$this->baseUrl?>/loja/pagamento/confirmar-cartao/id_venda/<?= $this->venda->getIdVenda(); ?>',
                                tipo: 'replace',
                                tempo: 0
                            };
                            Mensageiro.mostrar(mensageiro, null);
                        }

                        if (response.type == 'error') {
                            bootbox.dialog({
                                message: response['mensagem'],
                                title: response['title'],
                                buttons: {
                                    successful: {
                                        label: "Fechar",
                                        className: "btn-danger"
                                    }
                                }
                            });
                        }
                    },
                    complete: function () {
                        Loading.finish();
                    },
                    error: function (response) {
                        bootbox.dialog({
                            message: "Pagamento não autorizado pela operadora do cartão ",
                            title: "Erro",
                            buttons: {
                                successful: {
                                    label: "Fechar",
                                    className: "btn-alert"
                                }
                            }
                        });
                    }
                });
            }

            solicitaMudancaCartaoRecorrentePagarme = function ($elemento, url) {
                Loading.$el = $elemento;
                PagarMe.encryption_key = window.encryption_key;

                var creditCard = new PagarMe.creditCard();
                creditCard.cardHolderName = $('#st_titularRecorrente').val();
                creditCard.cardExpirationMonth = $('#st_mesValidadeRecorrente option:selected').val();
                creditCard.cardExpirationYear = $('#st_anoValidadeRecorrente option:selected').val();
                creditCard.cardNumber = $('#nu_cartaoRecorrente').val();
                creditCard.cardCVV = $('#st_codigoseguranca').val();

                var fieldErrors = creditCard.fieldErrors();

                //Verifica se há erros
                var hasErrors = false;
                for (var field in fieldErrors) {
                    hasErrors = true;
                    break;
                }

                if (hasErrors) {
                    // realiza o tratamento de errors
                    var errors = '';
                    for (var field in fieldErrors) {

                        errors = errors + fieldErrors[field] + '<br>';

                        if (field == 'card_number') {
                            $('#nu_cartaoRecorrente').removeClass('has-success').addClass('has-error');
                        }
                        if (field == 'card_cvv') {
                            $('#st_codigoseguranca').removeClass('has-success').addClass('has-error');
                        }
                    }

                    bootbox.dialog({
                        message: errors,
                        title: 'Aviso',
                        buttons: {
                            successful: {
                                label: "Fechar",
                                className: "btn-alert"
                            }
                        }
                    });
                } else {
                    creditCard.generateHash(function (cardHash) {
                        $.ajax({
                            url: '/pagamento/mudar-cartao',
                            type: 'post',
                            dataType: 'json',
                            data: $("#form-cartaorecorrente").serialize()+ '&card_hash=' + cardHash,
                            beforeSend: function () {
                                bloquearDesbloquearCampos(true);
                                Loading.start();
                            },
                            success: function (response) {
                                if (response.type == 'warning') {
                                    Loading.finish();
                                    bootbox.dialog({
                                        message: response['mensagem'],
                                        title: response['title'],
                                        buttons: {
                                            successful: {
                                                label: "Fechar",
                                                className: "btn-alert"
                                            }
                                        }
                                    });
                                }

                                if (response.type == 'success') {
                                    Loading.finish();
                                    bootbox.dialog({
                                        message: response['mensagem'],
                                        title: response['title'],
                                        buttons: {
                                            successful: {
                                                label: "Fechar",
                                                className: "btn-success"
                                            }
                                        }
                                    });
                                    $("#form-cartaorecorrente").trigger('reset');
                                    $('.bandeira').addClass('imgopacity');
                                }

                                if (response.type == 'error') {
                                    Loading.finish();
                                    bootbox.dialog({
                                        message: response['mensagem'],
                                        title: response['title'],
                                        buttons: {
                                            successful: {
                                                label: "Fechar",
                                                className: "btn-danger"
                                            }
                                        }
                                    });
                                }
                            },
                            complete: function (response) {
                                Loading.finish();
                            },
                            error: function (response) {
                                Loading.finish();
                                bootbox.dialog({
                                    message: response['mensagem'],
                                    title: response['title'],
                                    buttons: {
                                        successful: {
                                            label: "Fechar",
                                            className: "btn-alert"
                                        }
                                    }
                                });
                                $("#form-cartaorecorrente").trigger('reset');
                                $('.bandeira').addClass('imgopacity');
                            }
                        });
                    });

                }
            };

            somenteNumeros = function (e) {
                //teclas adicionais permitidas (tab,delete,backspace,setas direita e esquerda)
                keyCodesPermitidos = new Array(8, 9, 37, 39, 46);
                //numeros e 0 a 9 do teclado alfanumerico
                for (x = 48; x <= 57; x++) {
                    keyCodesPermitidos.push(x);
                }

                //numeros e 0 a 9 do teclado numerico
                for (x = 96; x <= 105; x++) {
                    keyCodesPermitidos.push(x);
                }

                //Pega a tecla digitada
                keyCode = e.which;
                //Verifica se a tecla digitada é permitida
                if ($.inArray(keyCode, keyCodesPermitidos) != -1) {
                    return true;
                }
                return false;
            } // LIMITA OS CARACTERES DIGITADOS SOMENTE A NÚMEROS

            $('#nu_cartaoRecorrente').bind('keydown', somenteNumeros);// DEFINE QUE O CAMPO SÓ RECEBERÁ NÚMEROS
            $('#st_cpfRecorrente').bind('keydown', somenteNumeros); // DEFINE QUE O CAMPO SÓ RECEBERÁ NÚMEROS
            $('#st_codigoseguranca').bind('keydown', somenteNumeros); // DEFINE QUE O CAMPO SÓ RECEBERÁ NÚMEROS

            $('#st_cpfRecorrente').keyup(function () { // VALIDA O CPF OU CNPJ
                ValidarCPFRG($('#st_cpfRecorrente').val());
            });
            $('#nu_cartaoRecorrente').keyup(function () {
                verificaCartao();
            });
            $('#nu_cartaoRecorrente').on('paste', function () {
                verificaCartao();
            });
        </script>


