<div class="corpo-politica-privacidade">
    <p>Este portal possui um compromisso com a segurança e privacidade de seus usuários. Sendo assim, cria esta Politica
        de Privacidade como forma de esclarecimento sobre o acesso ao conteúdo deste Website, nos comprometendo com a
        segurança e a confidencialidade das informações coletadas dos Usuários.</p>

    <p><strong>Sobre a coleta de dados:</strong></p>

    <p>1) Qualquer informação fornecida será coletada e armazenada de acordo com os mais rígidos padrões de segurança e
        confiabilidade.</p>

    <p>2) Todas as informações que envolvam dados e/ou documentos coletados trafegarão de forma segura, utilizando
        processo de criptografia.</p>

    <p>3) As informações pessoais que nos forem fornecidas serão coletadas por meios éticos e legais.</p>

    <p>4) Manteremos a integridade e sigilo das informações que nos forem fornecidas.</p>

    <p>5) O site pode utilizar*”Cookies”, arquivos de texto coletados durante a navegação na internet, que ficarão
        gravados no computador do usuário e podem ser recuperados pelo Website para ajudar a reconhecer você (usuário)
        no site.</p>

    <p>6) O acesso às informações coletadas estará restrito aos funcionários autorizados para o uso adequado desses
        dados.</p>

    <p>7) As informações pessoais serão mantidos de forma precisa e completa, quando utilizadas. Você terá o direito de
        modificar, alterar ou corrigir erros em suas informações pessoais quando em contato com o Portal do Aluno.</p>

    <p>8) Ao optar por inscrever-se e solicitar os serviços do portal algumas informações podem ser solicitadas tais
        como Nome Completo, CPF, Data de Nascimento, Nacionalidade, Endereço Residencial, Número de Telefone, E-mail e
        etc...</p>

    <p>9) Suas informações pessoais serão coletadas pelo cadastro no portal e guardadas em banco de dados seguro com
        vistas a solicitação de informações sobre os produtos e serviços oferecidos.</p>

    <p>10) Através do Portal do Aluno nos comprometemos a corrigir prontamente quaisquer alterações relativas aos dados
        pessoais do usuário. Para tanto o usuário deverá informar toda mudança nos respectivos dados.</p>

    <p>11) Nos comprometemos a corrigir, com a maior brevidade possível, alterações relativas aos dados pessoais do
        usuário solicitadas pelo proprietário do dado.</p>

    <p>12) Ao se registrar no site utilizando a conta do Facebook você dará acesso ao Portal do Aluno á base de dados
        de registro de sua página no Facebook, o que nos permite obter sua informação pessoal e certos dados pessoais
        que apareçam em seu perfil do Facebook.</p>
</div>