<script type="text/template" id="global-template">

    <form id="form">
        <div class="well well-large">
            <legend>Básicos</legend>

            <div class="row-fluid">
                <div class="span8">
                    <label>
                        Título:
                        <input class="span12" type="text" name="st_formapagamento" value="<%= st_formapagamento %>" />
                    </label>
                    <label>
                        Descrição:
                        <input class="span12" type="text" name="st_descricao" value="<%= st_descricao %>" />
                    </label>
                </div>
                <div class="span4">
                    <label>
                        Situação:
                        <select id="id_situacao" class="span12" name="id_situacao"></select>
                    </label>
                    <label>
                        Aplicação
                        <select id="id_formapagamentoaplicacao" class="span12" name="id_formapagamentoaplicacao"></select>
                    </label>
                </div>
            </div>
        </div>


        <div class="row-fluid">
            <div class="span8">
                <div class="well">
                    <legend>Lançamentos</legend>

                    <b>Entrada</b>
                    <div id="meios_pagamentos" class="row-fluid">
                        Carregando...
                    </div>

                    <hr/>

                    <div class="form-inline">
                        <label>
                            Valor:
                            <div class="input-append">
                                <input class="input-small" type="text" name="nu_entradavalormin" value="<%= Number(nu_entradavalormin).toFixed(2) %>" />
                                <span class="add-on">%</span>
                            </div>
                        </label>
                        <label>
                            &nbsp; à &nbsp;
                            <div class="input-append">
                                <input class="input-small" type="text" name="nu_entradavalormax" value="<%= Number(nu_entradavalormax).toFixed(2) %>" />
                                <span class="add-on">%</span>
                            </div>
                        </label>
                    </div>

                    <hr/>

                    <div class="row-fluid">
                        <b>Parcelas</b>

                        <div class="form-inline">
                            <label>
                                Máximo de Parcelas:
                                <input class="input-small" type="number" name="nu_maxparcelas" value="<%= Number(nu_maxparcelas).toFixed(2) %>" min="0" />
                            </label>
                            &nbsp;&nbsp;
                            <label>
                                Valor Mínimo:
                                <div class="input-prepend">
                                    <span class="add-on">R$</span>
                                    <input class="input-small" type="text" name="nu_valorminparcela" value="<%= Number(nu_valorminparcela).toFixed(2) %>" />
                                </div>
                            </label>
                        </div>

                    </div>
                </div>
            </div>
            <div class="span4">
                <div class="well">
                    <legend>Valor</legend>

                    <div class="form-inline">
                        <label>
                            Faixa:
                            <div class="input-prepend">
                                <span class="add-on">R$</span>
                                <input class="input-small" type="text" name="nu_valormin" value="<%= Number(nu_valormin).toFixed(2) %>" />
                            </div>
                        </label>
                        <label>
                            &nbsp; à &nbsp;
                            <div class="input-prepend">
                                <span class="add-on">R$</span>
                                <input class="input-small" type="text" name="nu_valormax" value="<%= Number(nu_valormax).toFixed(2) %>" />
                            </div>
                        </label>
                    </div>

                    <br/>

                    <div class="form-inline">
                        <label>
                            Juros:
                            <div class="input-append">
                                <input class="input-small" type="text" name="nu_jurosmin" value="<%= Number(nu_jurosmin).toFixed(2) %>" />
                                <span class="add-on">%</span>
                            </div>
                        </label>
                        <label>
                            &nbsp; à &nbsp;
                            <div class="input-append">
                                <input class="input-small" type="text" name="nu_jurosmax" value="<%= Number(nu_jurosmax).toFixed(2) %>" />
                                <span class="add-on">%</span>
                            </div>
                        </label>
                    </div>

                    <br/>

                    <label class="form-inline">
                        Multa de Atraso:
                        <div class="input-append">
                            <input class="input-small" type="text" name="nu_multa" value="<%= Number(nu_multa).toFixed(2) %>" />
                            <span class="add-on">%</span>
                        </div>
                    </label>

                    <br/>

                    <label class="form-inline">
                        Juros de Atraso por Dia:
                        <div class="input-append">
                            <input class="input-small" type="text" name="nu_juros" value="<%= Number(nu_juros).toFixed(2) %>" />
                            <span class="add-on">%</span>
                        </div>
                    </label>
                </div>
            </div>
        </div>



        <div id="produtos-list">

            <div class="well well-large search-box">
                <legend>
                    Produtos
                        <label class="checkbox inline pull-right">
                            <input type="checkbox" name="bl_todosprodutos" <%= bl_todosprodutos ? 'checked' : '' %> />
                            Todos os Produtos
                        </label>
                </legend>
                <div class="row-fluid produtos-toggle" style="<%= bl_todosprodutos ? 'display: none;' : '' %>">
                    <div class="control-group span12">
                        <div class="span6" style="padding-bottom:5px;">
                            <label>
                                <input type="text" class="input-search span12 search-query"  alt="pesquisa-produtos" placeholder="Filtrar Produtos" />
                            </label>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div id="produtos-all-list" class="control-group span6" style="overflow: auto; height: 200px;">
                            <!--Aparecera a lista de produtos-->
                            Carregando...
                        </div>
                        <div id="produtos-selecionados-list" class="control-group span6" style="overflow: auto; height: 200px;">
                            <!--Aparecera os produtos adicionadas-->
                        </div>
                    </div>
                </div>
            </div>

        </div>



        <div class="well well-large">
            <legend>Parcelamento</legend>

            <div id="parcelamento">
                <!--Aparecerá a lista de parcelas adicionadas-->
                Carregando...
            </div>
        </div>



        <div class="well">
            <div class="pull-right">
                <button class="btn btn-success" type="submit">
                    <i class="icon icon-ok icon-white"></i>
                    Salvar
                </button>
            </div>
        </div>

        <hr/>

    </form>
</script>

<script type="text/template" id="table-template">
    <table role="dialog" class="table table-bordered table-striped backgrid">
        <thead>
        <tr>
            <th>Descrição</th>
            <th>Adicionar</th>
        </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</script>


<!--Produtos Templates-->
<script type="text/template" id="produtos-all-template">
    <table role="dialog" class="pesquisa-produtos table table-bordered table-striped backgrid">
        <thead>
        <tr>
            <th>Produto</th>
            <th>Adicionar</th>
        </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</script>

<script type="text/template" id="produtos-selecionados-template">
    <table role="dialog" class="table table-bordered table-striped backgrid">
        <thead>
        <tr>
            <th class="span1">Remover</th>
            <th>Produtos Selecionados</th>
        </tr>
        </thead>
        <tbody>
            <!--resultados aparecerão aqui-->
        </tbody>
    </table>
</script>

<script type="text/template" id="produtos-all-item">
    <td><%= st_produto %></td>
    <td>
        <a class="btn btn-success pull-right btn-add" title="Adicionar">
            <i class="icon  icon-arrow-right icon-white"></i>
        </a>
    </td>,
</script>

<script type="text/template" id="produtos-selecionados-item">
    <td>
        <a class="btn btn-danger pull-left btn-remove">
            <i class="icon  icon-arrow-left icon-white"></i>
        </a>
    </td>,
    <td><%= st_produto %></td>
</script>


<!--Parcelamento templates-->
<script type="text/template" id="parcelamento-template">
    <div class="row-fluid">
        <button class="btn btn-success actionAdd" type="button">
            Adicionar
        </button>

        <hr/>
    </div>

    <table role="dialog" class="table table-bordered table-striped backgrid">
        <thead>
        <tr>
        <th>Meio de Pagamento</th>
        <th>Número de Parcelas</th>
        <th>Juros</th>
        <th>Valor Mínimo da Parcela</th>
        <th width="150"></th>
    </tr>
    </thead>
        <tbody></tbody>
    </table>
</script>

<script type="text/template" id="parcelamento-item">
        <td><%= id_meiopagamento.st_meiopagamento %></td>
        <td>
            <%= nu_parcelaquantidademin %> à <%= nu_parcelaquantidademax %>
        </td>
        <td><%= Number(nu_juros).toFixed(2) %>%</td>
        <td>R$ <%= Number(nu_valormin).toFixed(2) %></td>
        <td>
            <button class="btn btn-success btn-small actionEdit" type="button">
                Editar
            </button>
            <button class="btn btn-small actionRemove" type="button">
                Remover
            </button>
        </td>
</script>

<script type="text/template" id="parcelamento-item-edit">
    <td>
        <select id="id_meiopagamento" name="id_meiopagamento"></select>
    </td>
    <td>
        <div class="form-inline">
            <input class="input-small" type="number" name="nu_parcelaquantidademin" value="<%= nu_parcelaquantidademin %>" min="0" />
            &nbsp; à &nbsp;
            <input class="input-small" type="number" name="nu_parcelaquantidademax" value="<%= nu_parcelaquantidademax %>" min="0" />
        </div>
    </td>
    <td>
        <div class="input-append">
            <input class="input-small" type="text" name="nu_juros" value="<%= Number(nu_juros).toFixed(2) %>" />
            <span class="add-on">%</span>
        </div>
    </td>
    <td>
        <div class="input-prepend">
            <span class="add-on">R$</span>
            <input class="input-small" type="text" name="nu_valormin" value="<%= Number(nu_valormin).toFixed(2) %>" />
        </div>
    </td>
    <td>
        <button class="btn btn-success btn-small actionSave" type="button">
            Salvar
        </button>
        <button class="btn btn-small actionEdit" type="button">
            Cancelar
        </button>
    </td>
</script>

<div class="clearfix"></div>
<hr/>

<script type="text/javascript"> $('#htmlContent script[type="text/template"]').appendTo($('#templateHolder'));</script>
<script type="text/javascript" src="/forma-pagamento/js"></script>
