<script id="global-template" type="text/template">
    <form id="form" enctype="multipart/form-data">

        <div class="well">
            <legend>Categoria</legend>

            <div class="row-fluid">
                <label class="span8">
                    Categoria:
                    <input class="span12" type="text" name="st_categoria" value="<%= st_categoria %>" />
                </label>
                <label class="span4">
                    Situação:
                    <select id="id_situacao" class="span12" name="id_situacao"></select>
                </label>
            </div>

            <div class="row-fluid">
                <label class="span8">
                    Nome Exibição:
                    <input class="span12" type="text" name="st_nomeexibicao" value="<%= st_nomeexibicao %>" />
                </label>
                <label class="span4">
                    Categoria Pai:
                    <select id="id_categoriapai" class="span12" name="id_categoriapai"></select>
                </label>
            </div>
        </div>

        <div class="row-fluid">
            <div class="span8">
                <div class="well">
                    <legend>Organização</legend>
                    <div id="todasEntidades">
                        <input type="checkbox" value="" id="bl_todasentidades" name="bl_todasentidades" />&nbsp;<span>Todas as entidades</span>
                    </div>
                    </br>
                    <div id="entidades"></div>
                </div>
            </div>
            <label class="span4">
                <div class="well">
                    <legend>Imagem</legend>

                    <% if (id_uploadimagem) { %>
                        <img id="imagem_uploaded" src="" alt="" />
                    <% } %>
                    
                    <input class="span12" type="file" name="id_uploadimagem" />
                    <div id="upload-progress" class="progress">
                        <div class="bar" style="width: 0;"></div>
                    </div>
                </div>
            </label>
        </div>

        <div class="well">
            <div class="pull-right">
                <button type="submit" class="btn btn-success">
                    <i class="icon icon-ok icon-white"></i>
                    Salvar
                </button>
                <!--<button type="button" class="btn btn-cancel">-->
                <!--<i class="icon icon-remove"></i>-->
                <!--Cancelar-->
                <!--</button>-->
            </div>
        </div>

    </form>

    <div class="clearfix"></div>
    <hr/>
</script>


<script type="text/javascript"> $('#htmlContent script[type="text/template"]').appendTo($('#templateHolder'));</script>
<script type="text/javascript" src="/categoria/js"></script>