<div class="grid" id="grid-disciplinas">
    <!--Conteudo montado pelo layout view-->
</div>

<div class="cortina cortina-loader" style="position: fixed; height: 100%;"></div>

<script type="text/template" id="template-grade-item">
    <div class="well well-small">
        <h6 class="text-center">
            <div class="one-long-line">
                <%= st_disciplina %>
            </div>
        </h6>
        <div id="btn-group" data-toggle="buttons">
            <label class="btn btn-block <%= btnClass %>"
            <%= disabled ? 'disabled' : '' %>
            style="margin-top: 0; <%= bl_obrigatorio && !disabled ? 'background-color: #006566' : '' %>"
            >
            <input type="checkbox" name="salas[]" value="<%= id_saladeaula %>"
            <%= checked ? 'checked' : '' %>
            <%= disabled ? 'disabled' : '' %>
            />
            <%= label %>
            </label>

        </div>
        <div class="text-center"
             style="background-color: <%= color %>;
                    border-top: 1px solid #E3E3E3;
                    color: #fff;
                    border-radius:4px;
                    margin-top: 10px;"
        >
            <b><%= st_status %></b>
        </div>
    </div>
</script>


<script id="layout-grid" type="text/template">
    <legend>Grade de Disciplinas</legend>

    <div id="wrapper-informacoes-superior"></div>

    <div class="well well-small clearfix" style="background-color: #fff;">
        <legend><h5>Ofertas Padrão</h5></legend>
        <div id="wrapper-disciplinas" class="row-fluid">
            <div class="alert alert-warning">Carregando...</div>
        </div>

        <div class="clearfix"></div>
        <hr/>

        <legend><h5>Ofertas Excepcionais</h5></legend>
        <div id="wrapper-disciplinas-excepcionais" class="row-fluid">
            <div class="alert alert-warning">Carregando...</div>
        </div>

        <div class="clearfix"></div>
        <hr/>

        <legend><h5>Ofertas Estendidas</h5></legend>
        <div id="wrapper-disciplinas-estendidas" class="row-fluid">
            <div class="alert alert-warning">Carregando...</div>
        </div>

    </div>

    <div id="grid-contrato"></div>

    <div id="grid-mensalidade"></div>

    <div class="well well-small">

        <div class="col-lg-12 nopadding">
            <p>
                <span class="legendNowrap">Alterar Meio de Pagamento</span>
                (é necessário salvar a grade para alterar o meio de pagamento)
            </p>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-4 grid-buttons nopadding">
            <select class="form-control" name="id_meiopagamento" id="id_meiopagamento">
                <option value="1">Cartão de Crédito</option>
                <option value="2">Boleto</option>
                P
            </select>
        </div>
        <div class="col-md-3 grid-buttons">
            <a class="button small button-main uny hide" id="linkPagamento"
               target="_blank"
               href="<?php echo Ead1_Ambiente::geral()->st_url_loja ?>/loja/recebimento/?venda=<%=id_venda%>">
                <i class="icon icon-link"></i>
                Link para pagamento
            </a>
        </div>
        <div class="grid-buttons text-right">
            <button type="button" class="button small button-main uny btnSave">
                Salvar grade
            </button>
        </div>
        <br/>
    </div>
</script>

<script type="text/template" id="template-informacoes-superior">
    <div class="well well-small">
        <div class="row-fluid">
            <div class="span3">
                <b>Aluno: </b>
                <%= st_nomecompleto %>
            </div>
            <div class="span3">
                <b>Curso: </b>
                <%= st_curso %>
            </div>
            <div class="span3">
                <b>Turma: </b>
                <%= st_turma %>
            </div>
        </div>
    </div>

    <div class="grid-info well well-small">
        <div class="row-fluid">
            <div class="span3">
                <b class="span3">
                    Mínimo de disciplinas:
                </b>
                <%= nu_mindisciplinas %>
            </div>
            <div class="span3">
                <b class="span3">
                    Máximo de disciplinas:
                </b>
                <%= nu_maxdisciplinas %>
            </div>
            <div class="span3">
                <b class="span3">
                    Disciplinas selecionadas:
                </b>
                <span id="disciplinas_selec">
                        <%= nu_disciplinasselecionadas %>
                    </span>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span12">
                <b class="span12">
                    Valor Negociação:
                </b>
            </div>

            <%= nu_creditos %>
            (Quantidade de Créditos) x R$ <%= nu_valorcreditomostrar %> (Valor por Crédito) - R$ <%=
            nu_descontomostrar %> (Desconto Campanha) = R$ <%= nu_valornegociacaomostrar %>
        </div>
    </div>
</script>

<script type="text/template" id="template-mensalidade-informacoes">
    <div class="well well-small">
        <legend>Mensalidade</legend>
        <div class="row-fluid">
            <div class="span3">
                <label>Valor da Mensalidade:</label>
                <%=nu_valormensalidademostrar%>
            </div>
            <div class="span3">
                <label>Campanha Pontualidade:</label>
                <%=st_campanhapontualidade%>
            </div>
            <div class="span3">
                <label>Mensalidade com Pontualidade:</label>
                <%=nu_valormensalidadepontualidademostrar%>
            </div>
        </div>
    </div>
</script>


<script type="text/template" id="template-contrato-informacoes">
    <div class="well well-small">
        <legend>Contrato</legend>
        <div class="row-fluid">
            <div class="span3">
                <label>Valor do Contrato:</label>
                <%=nu_valorcontratomostrar%>
            </div>
        </div>
        <div class="span3">
            <label>Desconto:</label>
            <%=nu_descontomostrar?nu_descontomostrar:'0,00'%>
        </div>
        <div class="span3">
            <label>Valor da Negociação: </label>
            <%=nu_valornegociacaomostrar%>
        </div>
    </div>
</script>
