<?php if ($this->mostrar === true) { ?>
    <div class="info-box yellow tcc-box box-informacoes-genericas">
        <i class="icon-warning-sign"></i>
        <div class="msg text-uppercase">
            Sua renova&ccedil;&atilde;o de matr&iacute;cula foi agendada <br>
            Clique <a href="/grade-disciplina"><b>aqui</b> </a> para alterar sua grade ou forma de pagamento
        </div>
    </div>
<?php } ?>