<fieldset style="width: 50%; ">
	<dir style="padding: 5px 5px 5px 5px">
		<form action="/decode">
			<b>Resposta:</b> <?php echo $this->response;?>
			<br/>
			<input type="submit" value="Voltar"/>
		</form>
	</dir>
</fieldset>
