<fieldset style="width: 50%; ">
	<legend>Corretor de Erros de Encode</legend>
	<form action="/decode/gerar" method="post" name="formulario">
		<label>Nome da Tabela</label> <input type="text" name="tabela" />
		<input type="submit" value="Decodificar" />
	</form>
</fieldset>