<script type="text/template" id="template-formulario">
    <div class="row-fluid" id="containerCadRapido">
        <ul class="nav nav-tabs" id="tabCadastroPessoaJuridica">
            <li class="active">
                <a href="#basico" data-toggle="tab">Dados Básicos</a>
            </li>
            <li id="libancario">
                <a href="#bancario" id="ababancario" data-toggle="tab" style="pointer-events: none;">Dados Bancários</a>
            </li>
            <li class="hidden">
                <a href="#descricao" id="abadescricao" data-toggle="tab">Descrição</a>
            </li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active" id="basico">
                <form id="formCadastroRapido" name="formCadastroRapido" enctype="multipart/form-data" method="post"
                      action="">
                    <input type="hidden" id="id" value="<%=id %>" name="id">

                    <div class="well">
                        <fieldset>
                            <legend>Dados Pessoais</legend>
                            <div class="row-fluid">
                                <div id="img_avatar" class="span3 text-center">
                                    <div class="image">
                                        <iframe style="max-width: 100%" id="frame-img" height="160" width="210"
                                                scrolling="no"
                                                src="/pessoa/get-img-avatar-usuario?img=<%=st_urlavatar%>"
                                                frameborder="0"></iframe>
                                        <div id="img-captura-container" class="hide"></div>
                                    </div>
                                    <div class="btn-toolbar">
                                        <div class="btn-group">
                                            <a class="btn" id="btnModalCam" title="Ligar Câmera">
                                                <i class="icon-camera"></i>
                                            </a>
                                            <input type="hidden" id="str_avatar" name="str_avatar">
                                            <a class="btn" id="btnEnviarImg" title="Enviar Imagem">
                                                <i class="icon-upload"></i>
                                                <input type="file" id="st_urlavatar" name="st_urlavatar"
                                                       class="fake-file">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="span9">
                                    <div class="row-fluid">
                                        <div class="span4">
                                            CPF: *
                                            <div class="row-fluid">
                                                <button class="btn pull-right" type="button" id="getPessoaByCpf"
                                                        title="Verificar CPF"><i class="icon-refresh"></i></button>
                                                <div style="margin-right: 40px">
                                                    <input type="text" required="required" title="CPF"
                                                           value="<%= st_cpf %>"
                                                           id="st_cpf" name="st_cpf" class="span12">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="span4">
                                            <label>Data Nascimento: *
                                                <div class="input-append span12">
                                                    <input id="dt_nascimento" class="maskDate span11 datepicker_mn100"
                                                            type="text" title="Data Nascimento" name="dt_nascimento"
                                                            value="<%= dt_nascimento %>"required="required">
                                                    <a class="btn" data-calendar="dt_nascimento">
                                                        <i class="icon-calendar"></i>
                                                    </a>
                                                </div>
                                            </label>
                                        </div>
                                        <label id="pais-user" class="span4">
                                            Nacionalidade: *
                                            <?php echo $this->form->id_nacionalidade; ?>
                                        </label>
                                    </div>

                                    <div class="row-fluid">
                                        <div class="span6">
                                            <label class="span12">
                                                Estado de Nascimento:
                                                <?php echo $this->form->sg_ufnascimento; ?>
                                            </label>
                                        </div>

                                        <div class="span6">
                                            <label class="span12">Município de Nascimento:
                                                <br> <?php echo $this->form->id_municipionascimento; ?></label>
                                            <input class="ref_municipio" type="hidden"
                                                   name="id_municipionascimentohidden" title="Municipio"
                                                   id="id_municipionascimentohidden">
                                        </div>
                                    </div>

                                    <div class="row-fluid">
                                        <div class="span8">
                                            <label class="span11">Nome Completo: *
                                                <input type="text" class="span12" required="required"
                                                       title="Nome Completo"
                                                       value="<%= st_nomecompleto %>"
                                                       id="st_nomecompleto" name="st_nomecompleto">
                                            </label>
                                        </div>
                                        <div class="span4" id="selecionaSexo">
                                            <label>Sexo: *</label>
                                            <label class="radio inline" id="check_masculino_label">
                                                <input type="radio" id="check_masculino" name="st_sexo" value="M" <%=
                                                st_sexo == 'M' ? 'checked' : '' %> >
                                                Masculino
                                            </label>
                                            <label class="radio inline" id="check_feminino_label">
                                                <input type="radio" id="check_feminino" name="st_sexo" value="F" <%=
                                                st_sexo == 'F' ? 'checked' : '' %> > Feminino
                                            </label>
                                        </div>
                                        <br/>
                                    </div>
                                    <div class="row-fluid">
                                        <div class="span6">
                                            <label>Nome da Mãe: *
                                                <input type="text" class="span12" name="st_nomemae" title="Nome da Mãe"
                                                       id="st_nomemae"
                                                       required="required"
                                                       value="<%= st_nomemae %>">
                                            </label>
                                        </div>
                                        <div class="span6">
                                            <label>Nome do Pai:
                                                <input type="text" class="span12" name="st_nomepai" title="Nome do Pai"
                                                       id="st_nomepai"
                                                       value="<%= st_nomepai %>">
                                            </label>
                                        </div>
                                    </div>
                                </div>

                                <?php $span = (Ead1_Sessao::getSessaoGeral()->id_perfil == 3 ? 3 : 4); ?>
                                <div class="row-fluid">
                                    <div class="span<?php echo $span ?>"></div>
                                    <div class="span<?php echo $span; ?>">
                                        <label>Grau de Instrução:
                                            <?php echo $this->form->id_nivelensino; ?>
                                        </label>
                                    </div>
                                    <div class="span<?php echo $span; ?>">
                                        <label>Curso de Formação:
                                            <input type="text" id="st_curso" name="st_curso"
                                                   title="Curso de Formação"
                                                   value="<%= st_curso %>"
                                                   class="span12"
                                            />
                                        </label>
                                    </div>
                                    <div class="span<?php echo $span; ?>">
                                        <label>Instituição de Ensino:
                                            <input type="text" id="st_nomeinstituicao" title="Instituição de Ensino"
                                                   name="st_nomeinstituicao"
                                                   value="<%= st_nomeinstituicao %>"
                                                   class="span12"/>
                                        </label>
                                    </div>
                                    <div id="divTitulacao" class="span3 hide">
                                        <label>Titulação:
                                            <?php echo $this->form->id_titulacao; ?>
                                        </label>
                                    </div>
                                    <input type="hidden" id="id_informacaoacademicapessoa"
                                           name="id_informacaoacademicapessoa"
                                           value="<%= id_informacaoacademicapessoa %>">
                                </div>

                                <div class="row-fluid">
                                    <div class="span<?php echo $span ?>"></div>
                                    <label class="span<?php echo $span ?>">
                                        Tipo Sanguíneo:
                                        <?php echo $this->form->id_tiposanguineo; ?>
                                    </label>
                                    <label class="span<?php echo $span ?>">
                                        Fator RH:
                                        <select id="sg_fatorrh" class="span12" type="text" name="sg_fatorrh">
                                            <option value="">Não Informado</option>
                                            <option value="P">Positivo</option>
                                            <option value="N">Negativo</option>
                                        </select>
                                    </label>
                                </div>

                            </div>
                        </fieldset>
                    </div>
                    <div class="well">
                        <fieldset>
                            <legend>Documentos</legend>
                            <div class="row-fluid">
                                <h5>Documentos de Identificação</h5>
                                <div class="span2">
                                    <label>Doc. de Identificação:*
                                        <input class="span12" name="st_rg" id="st_rg" type="text"
                                               onkeyup="limitarInput(this, 14)" value="<%= st_rg %>"
                                               title="Documento de Identificação" required="required">
                                    </label>
                                </div>
                                <div class="span2">
                                    <label>Orgão Emissor:*
                                        <input class="span12" name="st_orgaoexpeditor" id="st_orgaoexpeditor"
                                               type="text"
                                               title="Orgão Emissor" value="<%= st_orgaoexpeditor %>"
                                               required="required">
                                    </label>
                                </div>
                                <!--<div class="span3">-->
                                <!--<label>Estado: *-->
                                <?php //echo $this->form->uf_documento; ?>
                                <!--</label>-->
                                <!--</div>-->
                                <div class="span2">
                                    <label>Data Emissão:*
                                        <div class="input-append span12">
                                            <input id="dt_dataexpedicao" class="maskDate span10 datepicker_mn100"
                                                   type="text" title="Data Emissão" name="dt_dataexpedicao"
                                                   value="<%=dt_dataexpedicao %>" required="required">
                                            <a class="btn" data-calendar="dt_dataexpedicao">
                                                <i class="icon-calendar"></i>
                                            </a>
                                        </div>
                                    </label>
                                </div>

                                <div class="span2">
                                    <label>Passaporte:
                                        <input type="text" class="span12" title="Passaporte"
                                               id="st_passaporte" name="st_passaporte"
                                               value="<%= st_passaporte %>">
                                    </label>
                                </div>
                            </div>
                            <div class="row-fluid">
                                <h5>Documento Eleitoral</h5>
                                <div class="span2">
                                    <label>
                                        Título de Eleitor:
                                        <input type="number" class="span12" onkeyup="limitarInput(this, 12)" title="Título De Eleitor"
                                               id="st_tituloeleitor"
                                               name="st_tituloeleitor" value="<%= st_tituloeleitor %>">
                                    </label>
                                </div>
                                <div class="span1">
                                    <label for="">Zona:
                                        <input type="number" max="9999" onkeyup="limitarInput(this, 4)" maxlength="4" class="span12" title="Zona"
                                               id="st_zonaeleitoral" name="st_zonaeleitoral"
                                               value="<%= st_zonaeleitoral %>"></label>
                                </div>
                                <div class="span1">
                                    <label for="">Seção:
                                        <input type="number" max="999" onkeyup="limitarInput(this, 3)" maxlength="3" class="span12" title="Secao"
                                               id="st_secaoeleitoral" name="st_secaoeleitoral"
                                               value="<%= st_secaoeleitoral %>"></label>
                                </div>
                                <div class="span3">
                                    <label for="">Município/UF:
                                        <input type="text" class="span12" title="Municipio Eleitoral"
                                               id="st_municipioeleitoral"
                                               name="st_municipioeleitoral"
                                               value="<%= st_municipioeleitoral %>"></label>
                                </div>
                            </div>
                            <div class="row-fluid">
                                <h5>Documento Militar</h5>
                                <div class="span2">
                                    <label>Número(RA):
                                        <input type="number" maxlength="12" onkeyup="limitarInput(this, 12)" class="span12"
                                               title="Certificado de Reservista"
                                               id="st_certificadoreservista"
                                               name="st_certificadoreservista"
                                               value="<%= st_sexo == 'M' ? st_certificadoreservista : '' %>" <%=
                                        st_sexo == 'F' ? 'disabled' : '' %> >
                                    </label>
                                </div>
                                <div class="span2">
                                    <label>Data de Expedição:
                                        <div class="input-append span12">
                                            <input type="text" class="maskDate span10 datepicker_mn100"
                                                id="dt_expedicaocertificadoreservista"
                                                name="dt_expedicaocertificadoreservista"
                                                value="<%=dt_expedicaocertificadoreservista%>"
                                                title="Data de Expedição" <%= st_sexo == 'F' ? 'disabled' : '' %>>

                                            <a class="btn" data-calendar="dt_expedicaocertificadoreservista">
                                                <i class="icon-calendar"></i>
                                            </a>
                                        </div>
                                    </label>
                                </div>
                                <div class="span3">
                                    <label for="">Categoria:
                                        <?php echo $this->form->id_categoriaservicomilitar; ?></label>
                                </div>
                                <div class="span2">
                                    <label for="">Repartição Expedidora:
                                        <input type="text" class="span12" title="Repartição Expedidora"
                                               id="st_reparticaoexpedidora" name="st_reparticaoexpedidora" <%=
                                        st_sexo == 'F' ? 'disabled' : '' %>
                                        value="<%= st_reparticaoexpedidora %>" ></label>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div id="responsave-legal"></div>
                    <div class="well">
                        <fieldset>
                            <legend>Endereço Residencial</legend>
                            <input type="hidden" id="id_endereco" value="<%= id_endereco %>" name="id_endereco">

                            <div class="row-fluid">
                                <div class="span4" id="pais-endereco"><label>País: *
                                        <?php echo $this->form->id_pais; ?>
                                    </label>
                                </div>
                                <div class="span4">
                                    <label>CEP: *<br>

                                        <div class="input-append">
                                            <input class="st_cep_btn" required="required" type="text" title="CEP"
                                                   value="<%= st_cep %>" id="st_cep"
                                                   name="st_cep">
                                            <button class="btn btnCep" type="button" title="Pesquisar CEP"><i
                                                        class="icon-refresh"></i>
                                            </button>
                                        </div>
                                        <a href="http://www.buscacep.correios.com.br/" target="_blank"
                                           title="Consultar CEP">Consultar
                                            CEP</a>
                                    </label>
                                </div>
                                <input name="id_tipoendereco" value="1" id="id_tipoendereco" type="hidden">
                            </div>
                            <div class="row-fluid">
                                <div class="span7">
                                    <label>Endereço: *
                                        <input required="required" maxlength="100" type="text" class="span12"
                                               title="Endereço"
                                               value="<%= st_endereco %>"
                                               id="st_endereco"
                                               name="st_endereco">
                                    </label>
                                </div>
                                <div class="span1">
                                    <label>N&deg;: *
                                        <input required="required" type="text" maxlength="8" class="span12"
                                               title="N&deg"
                                               value="<%= nu_numero %>"
                                               id="nu_numero"
                                               name="nu_numero">
                                    </label>
                                </div>
                                <div class="span4">
                                    <label>Bairro: *
                                        <input required="required" maxlength="100" type="text" class="span12"
                                               title="Bairro"
                                               value="<%= st_bairro %>"
                                               id="st_bairro"
                                               name="st_bairro">

                                    </label>
                                </div>
                            </div>
                            <div class="row-fluid">
                                <div class="span4">
                                    <label>Complemento:
                                        <input type="text" class="span12" title="Complemento"
                                               value="<%= st_complemento %>"
                                               id="st_complemento"
                                               name="st_complemento">
                                    </label>
                                </div>
                                <div class="span4">
                                    <label>UF: *<br>
                                        <?php echo $this->form->sg_uf; ?>
                                    </label>
                                </div>
                                <div class="span4">
                                    <label>Município: *<br> <?php echo $this->form->id_municipio; ?></label>
                                    <input class="ref_municipio" type="hidden" name="id_municipiohidden"
                                           title="Municipio"
                                           id="id_municipiohidden">
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div class="well">
                        <fieldset>
                            <legend>Endereço Correspondência (Padrão)
                                <a class="btn btn-small btn-custom copia-dados-endereco" style="margin-left: 10px">Copiar
                                    Endereço Residencial</a>
                            </legend>
                            <input type="hidden" id="id_endereco_corresp" value="<%= id_endereco_corresp %>"
                                   name="id_endereco_corresp">

                            <div class="row-fluid">
                                <div class="span4" id="pais-endereco"><label>País: *
                                        <?php echo $this->form->id_pais_corresp; ?>
                                    </label>
                                </div>
                                <div class="span4">
                                    <label>CEP: *<br>

                                        <div class="input-append">
                                            <input type="text" class="st_cep_btn" required="required" title="CEP"
                                                   value="<%= st_cep_corresp %>" id="st_cep_corresp"
                                                   name="st_cep_corresp">
                                            <button class="btn btnCep" type="button" title="Pesquisar CEP">
                                                <i class="icon-refresh"></i>
                                            </button>
                                        </div>
                                        <a href="http://www.buscacep.correios.com.br/" target="_blank"
                                           title="Consultar CEP">
                                            Consultar CEP
                                        </a>
                                    </label>
                                </div>
                                <input name="id_tipoendereco_corresp" value="5" id="id_tipoendereco_corresp"
                                       type="hidden">
                            </div>
                            <div class="row-fluid">
                                <div class="span7">
                                    <label>Endereço: *
                                        <input type="text" class="span12" title="Endereço" maxlength="100"
                                               required="required"
                                               value="<%= st_endereco_corresp %>"
                                               id="st_endereco_corresp"
                                               name="st_endereco_corresp">
                                    </label>
                                </div>
                                <div class="span1">
                                    <label>N&deg;: *
                                        <input type="text" class="span12" maxlength="8" required="required"
                                               title="N&deg"
                                               value="<%= nu_numero_corresp %>"
                                               id="nu_numero_corresp"
                                               name="nu_numero_corresp">
                                    </label>
                                </div>
                                <div class="span4">
                                    <label>Bairro: *
                                        <input type="text" class="span12" maxlength="100" required="required"
                                               title="Bairro"
                                               value="<%= st_bairro_corresp %>"
                                               id="st_bairro_corresp"
                                               name="st_bairro_corresp">
                                    </label>
                                </div>
                            </div>
                            <div class="row-fluid">
                                <div class="span4">
                                    <label>Complemento:
                                        <input type="text" class="span12" title="Complemento"
                                               value="<%= st_complemento_corresp %>"
                                               id="st_complemento_corresp"
                                               name="st_complemento_corresp">
                                    </label>
                                </div>
                                <div class="span4">
                                    <label>UF: *<br>
                                        <?php echo $this->form->sg_uf_corresp; ?>
                                    </label>
                                </div>
                                <div class="span4">
                                    <label>Município: *<br> <?php echo $this->form->id_municipio_corresp; ?></label>
                                    <input type="hidden" class="ref_municipio" name="id_municipiohidden_corresp"
                                           title="Municipio" id="id_municipiohidden_corresp">
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div class="well">
                        <fieldset>
                            <legend>Dados Telefone</legend>
                            <input type="hidden" id="id_telefone" value="<%= id_telefone %>" name="id_telefone">
                            <input type="hidden" id="id_telefone2" value="<%= id_telefone2 %>" name="id_telefone2">

                            <div class="container-telefone-principal row-fluid">
                                <h5>Principal:</h5>

                                <div class="row-fluid">
                                    <div class="span3">
                                        <?php echo $this->form->id_tipotelefone; ?>
                                    </div>
                                    <div class="span2">
                                        <label>DDI: *
                                            <input type="text" maxlength="3" required="required" title="DDI"
                                                   class="span6"
                                                   value="<%= nu_ddi %>"
                                                   id="nu_ddi"
                                                   name="nu_ddi">
                                        </label>
                                    </div>
                                    <div class="span2">
                                        <label>DDD: *
                                            <input type="text" maxlength="3" required="required" title="DDD"
                                                   class="span6"
                                                   value="<%= nu_ddd %>"
                                                   id="nu_ddd"
                                                   name="nu_ddd">
                                        </label>
                                    </div>
                                    <div class="span3">
                                        <label>Telefone: *
                                            <input type="text" maxlength="9" required="required" title="Telefone"
                                                   class="span6"
                                                   value="<%= nu_telefone %>"
                                                   id="nu_telefone"
                                                   name="nu_telefone">
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="row-fluid">
                                <h5>Secundário:</h5>

                                <div class="row-fluid">
                                    <div class="span3">
                                        <?php echo $this->form->id_tipotelefone2; ?>
                                    </div>
                                    <div class="span2">
                                        <label>DDI:
                                            <input type="text" maxlength="3" class="span6" title="DDI"
                                                   value="<%= nu_ddi2 %>"
                                                   id="nu_ddi2"
                                                   name="nu_ddi2">
                                        </label>
                                    </div>
                                    <div class="span2">
                                        <label>DDD:
                                            <input type="text" maxlength="3" class="span6" title="DDD"
                                                   value="<%= nu_ddd2 %>"
                                                   id="nu_ddd2"
                                                   name="nu_ddd2">
                                        </label>
                                    </div>
                                    <div class="span3">
                                        <label>Telefone:
                                            <input type="text" maxlength="9" class="span6" title="Telefone"
                                                   value="<%= nu_telefone2 %>"
                                                   id="nu_telefone2"
                                                   name="nu_telefone2">
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div class="well">
                        <fieldset>
                            <legend>Dados Acesso
                                <div class="pull-right">
                                    <button class="btn btn-primary hide" type="button" id="btnListPerfilPessoa"
                                            title="Perfis do Usuário"><i
                                                class="icon-user icon-white"></i> Perfil
                                    </button>
                                    <button class="btn hide" type="button" id="btnEnviarDados"
                                            title="Enviar Dados de Acesso"><i
                                                class="icon-envelope"></i> Enviar Dados de Acesso
                                    </button>
                                </div>
                            </legend>
                            <input type="hidden" value="<%= id_email %>" name="id_email" id="id_email">

                            <div class="row-fluid">
                                <div class="span6"><label>E-mail: *
                                        <input type="email" class="span12" title="E-mail" id="st_email" name="st_email"
                                               value="<%= st_email %>"
                                               required="required">
                                    </label>
                                </div>
                                <div class="span6"><label>Confirmar E-mail:
                                        <input type="email" class="span12 desabilitactrlv" title="Confirmar E-mail"
                                               id="st_confirmaremail"
                                               name="st_confirmaremail"
                                               value="">
                                    </label>
                                </div>
                            </div>
                            <div class="row-fluid">
                                <div class="span3">
                                    <label>Usuário: *
                                        <input type="text" class="span12" title="Usuário" autocomplete="off"
                                               value="<%= st_login %>"
                                               id="st_login"
                                               name="st_login">
                                    </label>
                                </div>
                                <div class="span3">
                                    <label>Senha:
                                        <input type="password" class="span12 desabilitactrlv" title="Senha"
                                               autocomplete="off"
                                               id="st_senha"
                                               name="st_senha">
                                        <small>**Se nenhuma senha for digitada a senha será gerada pelo sistema</small>
                                        <?php
                                        //adicionando opcao de senha gerada pelo sistema(TEC-397)
                                        $senhasistema = new LoginBO();
                                        $senhapadrao = $senhasistema->geradorHash(12);

                                        ?>
                                        <input type="hidden" id="senhapadrao" value="<?php $senhapadrao ?>">
                                    </label>
                                </div>
                                <div class="span3">
                                    <label>Confirmar Senha:
                                        <input type="password" class="span12 desabilitactrlv" title="Confirmar Senha"
                                               autocomplete="off"
                                               id="st_confirmarsenha"
                                               name="st_confirmarsenha">
                                    </label>
                                </div>
                                <div class="span3">
                                    <label class="checkbox">
                                        <br/>
                                        <input id="passwordType" type="checkbox" name="passwordType" checked/>
                                        Ocultar caracteres
                                    </label>
                                </div>
                            </div>
                            <div class="row-fluid">
                                <div class="span12">
                                    <label>Identificação: **
                                        <small>Número da carteirinha.</small>
                                        ***
                                        <small>Somente números.</small>
                                    </label>
                                    <input type="text" maxlength="12" class="span3 form-control" title="Identificacao"
                                           autocomplete="off" id="st_identificacao" name="st_identificacao"
                                           value="<%=st_identificacao%>" readonly>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div class="form-actions">
                        <div class="pull-right">
                            <button type="submit" title="Salvar" class="btn btn-success">Salvar</button>
                        </div>
                    </div>
                </form>
            </div>


            <div class="tab-pane" id="bancario">
                <form id="formCadastroRapidoDadosBancarios" name="formCadastroRapidoDadosBancarios"
                      enctype="multipart/form-data" method="post"
                      action="">
                    <input type="hidden" id="id" value="<%=id %>" name="id">

                    <div class="well">
                        <fieldset>
                            <legend>Dados Bancários</legend>
                            <div class="row-fluid">
                                <div class="span4">
                                    <label> Tipo de Conta:</label>
                                    <label class="radio inline">
                                        <input type="radio" id="id_tipoContaPessoaFisica" name="id_tipopessoa"
                                               value="1">
                                        Pessoa Física
                                    </label>
                                    <label class="radio inline">
                                        <input type="radio" id="id_tipoContaPessoaJuridica" name="id_tipopessoa"
                                               value="2">
                                        Pessoa Jurídica
                                    </label>
                                </div>
                            </div>
                            <div class="row-fluid">
                                <div class="span12">
                                    <label> CNPJ:</label>
                                    <input type="text" title="CNPJ"
                                           value="<%= st_cnpj %>" disabled
                                           id="st_cnpj" name="st_cnpj" maxlength="25" class="span4">
                                </div>
                            </div>
                            <div class="row-fluid">
                                <div class="span3">
                                    <label>Banco: *<br>
                                        <?php echo $this->form->id_banco; ?>
                                    </label>
                                </div>
                                <div class="span3">
                                    <label>Agência:</label>
                                    <input class="span8" name="st_agencia"
                                           id="st_agencia" type="text" maxlength="20" title="Agência">
                                    <input class="span2" name="st_digitoagencia"
                                           id="st_digitoagencia" type="text" maxlength="2" title="Digito Agência">
                                </div>
                                <div class="span3">
                                    <label>Conta Corrente:</label>
                                    <input class="span8" name="st_conta"
                                           id="st_conta" type="text" maxlength="10" title="Conta Corrente">
                                    <input class="span2" name="st_digitoconta"
                                           id="st_digitoconta" type="text" maxlength="2"
                                           title="Digito Conta Corrente">

                                </div>
                            </div>

                        </fieldset>
                    </div>
                    <div class="form-actions">
                        <div class="pull-right">
                            <button type="submit" title="Salvar" class="btn btn-success">Salvar</button>
                        </div>
                    </div>
                </form>
            </div>

            <div class="tab-pane" id="descricao">
                <form id="formCadastroRapidoDescricao" name="formCadastroRapidoDescricao" enctype="multipart/form-data"
                      method="post">
                    <div class="well">
                        <input type="hidden" id="id" value="<%=id %>" name="id">
                        <input type="hidden" id="id_entidade" value="" name="id_entidade">
                        <fieldset>
                            <legend>Descrição</legend>
                            <div class="row-fluid">
                                <label for="descricaoPortalAluno">Descrição no Portal do Aluno</label>
                                <textarea class="span-12" id="st_descricaocoordenador" name="st_descricaocoordenador"
                                          maxlength="160"></textarea>
                            </div>
                        </fieldset>
                    </div>
                    <div class="form-actions">
                        <div class="pull-right">
                            <button type="submit" title="Salvar" class="btn btn-success">Salvar</button>
                        </div>
                    </div>
                </form>
            </div>

            <div id="modalUser" class="modal hide fade"></div>
            <div id="modalCam" class="modal hide fade"></div>
            <div class="modal hide fade" id="modal-perfil-usuario" tabindex="-1" role="dialog"
                 aria-labelledby="Perfis Usuário"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title" id="myModalLabel">Perfis do usuário</h4>
                        </div>
                        <div class="modal-body">
                            <div id="div-perfil-usuario"></div>
                        </div>
                        <div class="modal-footer">
                            <a class="btn" data-dismiss="modal" aria-hidden="true">Fechar</a>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>

            <link rel="stylesheet" href="/css/webcam-componente.css"/>
            <style type="text/css">
                .invalid-input {
                    border-color: #E9322D !important;
                    box-shadow: 0 0 6px #F8B9B7 !important;
                }

                .fake-file {
                    position: absolute;
                    left: 0;
                    top: 0;
                    z-index: 1;
                    padding: 0;
                    margin: 0;
                    line-height: 0;
                    font-size: 1px;
                    opacity: 0;
                    filter: alpha(opacity=0);
                    -ms-filter: "alpha(opacity=0)";
                    cursor: pointer;
                }

                #modal-perfil-usuario {
                    width: 80%;
                    margin-left: -535px;
                }

                #frame-img html body img {
                    width: 200px;
                    height: 150px;
                }

                input[type=number]::-webkit-inner-spin-button,
                input[type=number]::-webkit-outer-spin-button {
                    -webkit-appearance: none !important;
                    -moz-appearance: none !important;
                    appearance: none !important;
                    margin: 0 !important;
                }
            </style>
</script>


<script type="text/template" id="modalUserTemplate">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Importação de Usuário</h3>
    </div>
    <div class="modal-body">
        <p><b>Nome:</b> <%=st_nomecompleto%></p>

        <p><b>CPF:</b> <%=st_cpf%></p>

        <p><b>Unidade:</b> <%=st_nomeentidade%></p>
    </div>
    <div class="modal-footer">
        <a class="btn" data-dismiss="modal" aria-hidden="true">Fechar</a>
        <a class="btn btn-custom" id="btnImportUser"><i class="icon-refresh icon-white"></i> Importar</a>
    </div>
</script>
<script type="text/template" id="template-responsavel-legal">
    <div class="well">
        <div class="row-fluid">
            <div class="span12">
                <legend>Responsável Legal</legend>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span12">
                <div class="span3">
                    <label for="st_cpfResponsavel">CPF:*</label>
                    <input type="text" id="st_cpfResponsavelLegal" maxlength="11" name="st_cpfResponsavelLegal"
                           value="<%= st_cpfResponsavelLegal %>" required class="">
                </div>
                <div class="span5">
                    <label for="st_nomeResponsavelLegal">Nome Completo:*</label>
                    <input type="text" id="st_nomeResponsavelLegal" name="st_nomeResponsavelLegal"
                           value="<%= st_nomeResponsavelLegal %>" required class="span12">
                </div>
                <div class="span4">
                    <label for="nu_telefoneResponsavelLegal">Telefone:*</label>
                    DDD:* <input type="text" id="nu_dddResponsavelLegal" maxlength="3" name="nu_dddResponsavelLegal"
                                 value="<%= nu_dddResponsavelLegal %>" class="span2">
                    Telefone:* <input type="text" id="nu_telResponsavelLegal" maxlength="9"
                                      name="nu_telResponsavelLegal"
                                      value="<%= nu_telefoneResponsavelLegal %>" required
                                      class="span3">
                </div>
            </div>
        </div>
    </div>
</script>
<script type="text/template" id="modalCamTemplate">
    <div class="modal-header">
        <button type="button" class="close fechar-modal-cam" data-dismiss="modal"
                aria-hidden="true">&times;</button>
        <h3>Capturar Imagem</h3>
    </div>
    <div class="modal-body webcamp-componente">
        <div id="webcam"></div>
    </div>
    <div class="modal-footer">
        <a class="btn btn-custom" id="btnCaptureImg"><i class="icon-picture icon-white"></i> Capturar</a>
        <a class="btn fechar-modal-cam" data-dismiss="modal" aria-hidden="true">Fechar</a>
    </div>
</script>

<script type="text/javascript" src="/library/js/jquery/jquery.form.js"></script>
<script type="text/javascript" src="<?php echo $this->baseUrl(); ?>/js/CollectionView.js"></script>
<script
        src="<?php echo $this->baseUrl(); ?>/modelo-backbone/InformacaoAcademicaPessoa/informacao-academica-pessoa"></script>
<script src="<?php echo $this->baseUrl(); ?>/js/jquery-webcam/jquery.webcam.js"></script>
<script src="<?php echo $this->baseUrl(); ?>/js/webcam-componente.js"></script>
<script src="<?php echo $this->baseUrl(); ?>/js/funcoes.js"></script>
<script type="text/javascript">
    DadosFormulario = <?php echo json_encode($this->dados); ?>;
</script>

<script type="text/javascript"> $('#htmlContent script[type="text/template"]').appendTo($('#templateHolder'));</script>
<script type="text/javascript" src="/pessoa/cadastro-rapido/js"></script>
<?php if ($this->renderBackbone): ?>
    <script type="text/javascript">
        G2S.layout.content.show(viewFormulario);
    </script>
<?php endif; ?>

<style>
    form input[name="st_login"] {
        text-transform: lowercase;
    }

    .hidden {
        display: none;
    }
</style>
