<html>
<head>
    <link href="<?php echo $this->baseUrl(); ?>/css/bootstrap.min.css" rel="stylesheet"/>
    <style>
        html, body {
            padding: 0;
            margin: 0;
            background: transparent;;
        }
    </style>
</head>
<body>
<div style=" max-height:150px; width:200px;">
    <img src="<?php echo $this->img; ?>" class="img-polaroid" style="width: 100%;"/>
</div>
</body>
</html>