<script type="text/javascript" src="/js/MensagensG2.js"></script>
<script type="text/javascript" src="/js/backbone/models/ConfigLayoutEntidade.js"></script>
<script type="text/javascript" src="/js/backbone/models/BoletoConfigPessoaJuridica.js"></script>
<script type="text/javascript" src="/js/backbone/models/EntidadeRelacao.js"></script>
<script type="text/javascript" src="/library/js/jquery/jquery.form.js"></script>
<script type="text/javascript" src="/js/backbone/views/Util/SelectView.js"></script>
<script type="text/javascript" src="/js/backbone/models/VwTextoSistema.js"></script>
<script type="text/javascript" src="/js/backbone/models/EntidadeFinanceiro.js"></script>

<script type="text/css">


</script>

<script type="text/template" id="template-modal">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Importação de Configurações</h3>
    </div>
    <div class="modal-body">
        <fieldset>
            <legend>Dados Financeiro</legend>
            <label class="checkbox" for="bl_dadosfinanceiroconta">
                <input type="checkbox" id="bl_dadosfinanceiroconta" value="1"/>
                Importar dados de conta
            </label>
            <label class="checkbox" for="bl_dadosfinanceiroboleto">
                <input type="checkbox" id="bl_dadosfinanceiroboleto" value="1"/>
                Importar dados de boleto
            </label>
            <label class="checkbox" for="bl_dadosfinanceirocartao">
                <input type="checkbox" id="bl_dadosfinanceirocartao" value="1"/>
                Importar dados de cartão
            </label>
        </fieldset>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn">Cancelar</a>
        <a href="#" class="btn btn-success">Importar</a>
    </div>
</script>

<script type="text/template" id="template-dados-entidade">
    <div class="modal hide fade" id="modalImportacaoDados"></div>
    <div class="row-fluid">
        <ul class="nav nav-tabs" id="tabCadastroPessoaJuridica">
            <li class="active">
                <a href="#basico" data-toggle="tab">Dados Básicos</a>
            </li>
            <li class="disabled" id="tab-financeiro-cabecalho">
                <a href="#financeiro" data-toggle="tab">Financeiro</a>
            </li>
            <li class="disabled">
                <a href="#configuracoes" data-toggle="tab">Configurações</a>
            </li>
            <!--<li class="disabled">
                <a href="#infraestrutura" data-toggle="tab">Infraestrutura</a>
            </li>
            <li class="disabled">
                <a href="#preparacao" data-toggle="tab">Preparação</a>
            </li>-->
        </ul>

        <div class="tab-content">
            <div class="tab-pane active" id="basico">
                <fieldset>
                    <legend>Dados Básicos</legend>
                    <input type="hidden" id="id_entidade_php" value=""/>
                    <input type="hidden" id="id_contaentidade_php" value=""/>

                    <div id="dados-basicos-entidade-wrapper"></div>
                </fieldset>
                <fieldset>
                    <legend>Endereço</legend>
                    <div id="dados-endereco-entidade-wrapper"></div>
                </fieldset>
                <fieldset class="wrapper_actions">
                    <div class="pull-right">
                        <button type="submit" title="Salvar" id="btn-salvar-pessoa-juridica" class="btn-success btn">
                            Salvar
                        </button>
                    </div>
                </fieldset>
            </div>
            <div class="tab-pane" id="financeiro">
                <fieldset>
                    <legend>Dados Financeiros</legend>
                    <div id="dados-entidade-financeiro-wrapper"></div>
                </fieldset>
                <fieldset>
                    <legend>Dados da Conta</legend>
                    <div id="dados-conta-wrapper"></div>
                </fieldset>
                <fieldset>
                    <legend>Dados da Plataforma de Pagamento</legend>
                    <div id="dados-boleto-wrapper"></div>
                </fieldset>
                <fieldset>
                    <legend>Dados do Cartão</legend>
                    <div class="row-fluid">
                        <div class="row-fluid">
                            <div id="dados-cartao-wrapper" class="span12"></div>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="tab-pane" id="configuracoes">
                <div id="dados-configuracao-wrapper"></div>
                <div id="dados-configuracao-google-wrapper"></div>
                <fieldset class="wrapper_actions">
                    <div class="pull-right">
                        <button type="submit" title="Salvar" id="btn-salvar-dados-configuracoes"
                                class="btn-success btn">
                            Salvar configurações
                        </button>
                    </div>
                </fieldset>

                <div id="dados-configuracao-layout-wrapper"></div>
                <div id="dados-configuracao-css-wrapper"></div>
            </div>
        </div>
    </div>
</script>

<script type="text/template" id="dados-basicos-entidade-form">

    <style>
        .secretariado-box {
            position: relative;
        }

        #ul-secretariado {
            position: absolute;
            background-color: white;
            border: 1px solid lightgray;
            border-radius: 5px;
            margin: 0;
            max-height: 150px;
            overflow-y: scroll;
            padding: 0;
            width: 100%;
        }

        #ul-secretariado li {
            cursor: default;
            list-style-type: none;
            margin: 0;
            padding: 2px 4px;
        }

        #ul-secretariado li:hover,
        .secretariadoSelected {
            background-color: #1E90FF;
            color: white;
        }

    </style>

    <div class="row-fluid">
        <div class="span2 control-group">
            <label>Situação:</label>
            <select class="span12" id="id_situacao_entidade" name="id_situacao_entidade">
                <option value="" selected>Selecione</option>
            </select>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span2 control-group">
            <label for="cnpj">CNPJ:</label>
            <input type="text" name="cnpj" required="required" id="cnpj" class="span12" placeholder="__.___.___/____-__"
                   value="<%= st_cnpj %>"/>
        </div>
        <div class="span3 control-group">
            <label for="inscricao">Inscrição Estadual: *</label>
            <input type="text" name="inscricao" id="inscricao" class="span12" maxlength="20" required="required"
                   value="<%= nu_inscricaoestadual %>"/>
        </div>
        <div class="span7 control-group">
            <label for="razao_social">Razão social: *</label>
            <input type="text" name="razao_social" id="razao_social" class="span12" maxlength="60"
                   value="<%= st_razaosocial %>"/>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span3 control-group">
            <label for="nome_fantasia">Nome Fantasia: *</label>
            <input type="text" maxlength="60" name="nome_fantasia" id="nome_fantasia" class="span12"
                   value="<%= st_nomeentidade %>"/>
        </div>
        <div class="span3">
            <label for="site">Site:</label>
            <input type="text" name="site" id="site" class="span12" value="<%= st_urlsite %>" maxlength="100"
                   placeholder="Ex.: www.unyleya.com.br"/>
        </div>
        <div class="span3">
            <label for="st_urlportal">Url do portal:</label>
            <input type="text" name="st_urlportal" id="st_urlportal" value="<%= st_urlportal %>" class="span12"
                   maxlength="100"
            />
        </div>
        <div class="span3">
            <label for="st_urllogoutportal">Url de Logout do Portal</label>
            <input class="span12" type="text" id="st_urllogoutportal" value="<%=st_urllogoutportal%>" maxlength="100"/>
        </div>

    </div>
    <div class="row-fluid">
        <div class="span12">
            <div class="span3" id="divApelido">
                <label for="st_apelido">Apelido:</label>
                <input type="text" class="span12" maxlength="15" id="st_apelido" name="st_apelido"
                       value="<%= st_apelido %>"/>
            </div>
            <div class="span3">
                <label for="st_siglaentidade">Sigla para Certificado:</label>
                <input type="text" name="st_siglaentidade" id="st_siglaentidade" class="span12" maxlength="20"
                       value="<%= st_siglaentidade %>"/>
            </div>
            <div class="span3">
                <label for="st_urlnovoportal">Url do novo portal:</label>
                <input type="text" name="st_urlnovoportal" id="st_urlnovoportal" class="span12" maxlength="100"
                       value="<%= st_urlnovoportal %>"/>

            </div>
            <div class="span3">
                <label for="bl_relacionarentidade">
                    Relacionar entidade
                </label>
                <input type="checkbox" id="bl_relacionarentidade" value="1" <% if (bl_relacao != '') { %> checked
                disabled<% } %>>
            </div>
        </div>
    </div>
    <div class="row-fluid" id="row-secretariado">
        <div class="span3 control-group secretariado-box">
            <label>Secretariado</label>
            <input data-id_usuariosecretariado="" id="input-secretariado" style="margin-bottom: 1px" type="text" class="span12">

            <ul id="ul-secretariado" class="hidden">
            </ul>

        </div>
    </div>
    <div class="row-fluid">
        <fieldset>
            <legend>Dados da Entidade (ID & Chave)</legend>
        </fieldset>
        <div class="row-fluid">
            <div class="span6">
                <label for="bl_relacionarentidade">
                    ID da entidade
                </label>
                <input type="text" readonly="readonly" id="id_entidade" name="id_entidade" class="span12"
                       value="<%= id_entidade %>"/>
            </div>
            <div class="span6">
                <label for="st_wschave">
                    Chave da entidade
                </label>
                <input type="text" readonly="readonly" name="st_wschave" id="st_wschave" class="span12"
                       value="<%= st_wschave %>"/>
            </div>
        </div>
    </div>
</script>

<script type="text/template" id="dados-endereco-entidade-form">
    <div class="row-fluid">
        <div class="span2">
            <label for="pais">País: *</label>
            <input type="hidden" id="id_endereco" name="id_endereco" value="<%= id_endereco %>"/>
            <select class="span12" name="id_pais" id="id_pais">
                <option value="" disabled>Selecione o país</option>
                <option value="22" selected>Brasil</option>
            </select>
        </div>
        <div class="span2 control-group">
            <label for="st_cep">CEP: *</label>
            <input type="text" id="st_cep" name="st_cep" class="span9" placeholder="__.___-___" value="<%= st_cep %>"
                   required="required"/>
            <button class="btn pull-right span3" id="btn_get_cep" type="button" title="Pesquisar CEP">
                <i class="icon-refresh"></i>
            </button>
        </div>
        <div class="span2 control-group">
            <label for="sg_uf">UF: *</label>
            <% if (sg_uf != "" && sg_uf != null) { %>
            <div class="row-fluid pai">
                <div class="span2">
                    <h4 class="item-selecionado" id="sg_uf_selecionado" data-value="<%= sg_uf %>">
                        <%= sg_uf %>
                    </h4>
                </div>
                <div class="span10">
                    <?php echo $this->form->sg_uf; ?>
                </div>
            </div>

            <% } else { %>
            <?php echo $this->form->sg_uf; ?>
            <% } %>
        </div>
        <div class="span3 control-group">
            <label for="st_cidade">Cidade: *</label>
            <input type="text" name="st_cidade" id="st_cidade" class="span12 limpar-no-cep" value="<%= st_cidade %>"
                   maxlength="100"/>
        </div>
        <div class="span3 control-group">
            <label for="id_municipio">Município: *</label>

            <div id="municipios-wrapper">
                <% if (id_municipio != "" && id_municipio != null) { %>
                <select name="id_municipio" id="id_municipio">
                    <option value="<%= id_municipio %>">
                        <%= st_nomemunicipio %>
                    </option>
                </select>
                <% } else { %>
                <input type="text" readonly="readonly" class="span12"/>
                <% } %>
            </div>
        </div>
    </div>
    <div class="row-fluid pai">
        <div class="span2 control-group">
            <label for="id_tipoendereco">Tipo de endereço: *</label>
            <% if (id_tipoendereco != "" && id_tipoendereco != null) { %>


            <div class="row-fluid pai">
                <div class="span4">
                    <h4 class="item-selecionado" id="id_tipoendereco_selecionado"
                        data-value="<%= id_tipoendereco %>">
                        <%= st_tipoendereco %>
                    </h4>
                </div>
                <div class="span8">
                    <?php echo $this->form->id_tipoendereco; ?>
                </div>
            </div>

            <% } else { %>
            <?php echo $this->form->id_tipoendereco; ?>
            <% } %>
        </div>
        <div class="span5 control-group">
            <label for="st_endereco">Endereço: *</label>
            <input type="text" name="st_endereco" id="st_endereco" maxlength="100" class="span12 limpar-no-cep"
                   value="<%= st_endereco %>"/>
        </div>
        <div class="span1 control-group">
            <label for="nu_numero">Número: *</label>
            <input type="text" name="nu_numero" id="nu_numero" maxlength="8" class="span12 limpar-no-cep"
                   value="<%= nu_numero %>"/>
        </div>
        <div class="span2">
            <label for="st_complemento">Complemento:</label>
            <input type="text" name="st_complemento" id="st_complemento" class="span12 limpar-no-cep" maxlength="100"
                   value="<%= st_complemento %>"/>
        </div>
        <div class="span2 control-group">
            <label for="st_bairro">Bairro: *</label>
            <input type="text" name="st_bairro" id="st_bairro" class="span12 limpar-no-cep" value="<%= st_bairro %>"
                   maxlength="100"/>
        </div>
    </div>
</script>

<script type="text/template" id="dados-conta-form">
    <div class="row-fluid">
        <div class="span2">
            <input type="hidden" name="id_contaentidade" id="id_contaentidade" value="<%= id_contaentidade %>"/>
            <input type="hidden" name="id_entidadefinanceiro" id="id_entidadefinanceiro"
                   value="<%= id_entidadefinanceiro %>"/>
            <label for="nu_diaspagamentoentrada">Prazo para pagamento da entrada:</label>
            <input type="number" min="0" id="nu_diaspagamentoentrada" name="st_agencia" class="span12"
                   value="<%= nu_diaspagamentoentrada %>"/>
        </div>
        <div class="span2">
            <label for="id_tipoconta">Tipo:</label>
            <% if (id_tipodeconta != "") { %>
            <div class="row-fluid">
                <div class="span2">
                    <h4 class="item-selecionado" id="id_tipodeconta_selecionado" data-value="<%= id_tipodeconta %>">
                        <% if (id_tipodeconta == 3) { %>
                        <span title="<%= st_tipodeconta %>">
                                CC
                            </span>
                        <% } %>
                    </h4>
                </div>
                <div class="span10">
                    <?php echo $this->formDadosConta->id_tipodeconta; ?>
                </div>
            </div>
            <% } else { %>
            <?php echo $this->formDadosConta->id_tipodeconta; ?>
            <% } %>
        </div>
        <div class="span2">
            <label for="st_banco">Banco:</label>
            <% if (st_banco != "") { %>


            <div class="row-fluid">
                <div class="span2">
                    <h4 class="item-selecionado" id="st_banco_selecionado" data-value="<%= st_banco %>">
                        <%= st_banco %>
                    </h4>
                </div>
                <div class="span10">
                    <?php echo $this->formDadosConta->st_banco; ?>
                </div>
            </div>


            <% } else { %>
            <?php echo $this->formDadosConta->st_banco; ?>
            <% } %>
        </div>
        <div class="span3">
            <label for="st_agencia">Agência:</label>
            <input type="text" id="st_agencia" name="st_agencia" class="span10" value="<%= st_agencia %>"/>
            <input type="text" id="st_digitoagencia" class="span2" value="<%= st_digitoagencia %>"/>
        </div>
        <div class="span3">
            <label for="st_conta">Conta:</label>
            <input type="text" id="st_conta" class="span10" name="st_conta" value="<%= st_conta %>"/>
            <input type="text" id="st_digitoconta" class="span2" name="st_digitoconta" value="<%= st_digitoconta %>"/>
        </div>
    </div>
    <div class="row-fluid">
        <fieldset class="wrapper_actions">
            <div class="span12">
                <a class="btn btn-success pull-right" id="salvar_conta" title="Salvar dados de conta">
                    <i class="icon-ok icon-white"></i> Salvar dados de conta
                </a>
            </div>
        </fieldset>
    </div>
</script>

<script type="text/template" id="dados-boleto-entidade-form">
    <div class="row-fluid">
        <div class="span4" id="divStApiKey">
            <label for="st_apikey">API-KEY</label>
            <input type="text" id="st_apikey" class="span12" value="<%= st_codchave %>">
        </div>
        <div class="span4" id="divStKeyCript">
            <label for="st_keycript">KEY DE CRIPTOGRAFIA</label>
            <input type="text" id="st_keycript" class="span12" value="<%= st_codsistema %>">
        </div>
        <!--        <div class="span4" id="divIdRecebedor">-->
        <!--            <label for="id_recebedor">Conta de Recebimento</label>-->
        <!--            <select name="id_recebedor" id="id_recebedor" class="span12">-->
        <!--                <option value="">Selecione</option>-->
        <!--            </select>-->
        <!--        </div>-->
    </div>
    <div class="row-fluid">
        <fieldset class="wrapper_actions">
            <div class="span12">
                <a class="pull-right btn btn-success disabled" id="salvar_boleto" title="Salvar dados">
                    <i class="icon-ok icon-white"></i> Salvar dados
                </a>
            </div>
        </fieldset>
    </div>
</script>

<script type="text/template" id="dados-cartao-entidade-form">
    <div class="span12">
        <div class="span6">
            <label for="id_cartaobandeira">Bandeira:</label>
            <div class="row-fluid">
                <h4 class="span12 item-selecionado">
                    <%= st_cartaobandeira %>
                </h4>
            </div>
        </div>
        <div class="span6">
            <label for="st_sistema">Sistema:</label>
            <div class="row-fluid">
                <h4 class="span12 item-selecionado"><%= st_sistema %></h4>
            </div>
        </div>
    </div>
</script>

<script type="text/template" id="dados-cartao-wrapper-pai">
    <div class="span3">
        <label for="id_cartaobandeira">Bandeira:</label>
        <div class="select-come-php">
            <?php echo $this->formDadosConta->id_cartaobandeira; ?>
        </div>
    </div>
    <div class="span3">
        <label for="id_sistema">Sistema:</label>
        <div class="select-come-php">
            <?php echo $this->formDadosConta->id_sistema; ?>
        </div>
    </div>
    <div class="span2">
        <div class='acao-cartao'>
            <div class='btn-group'>
                <a class="btn btn-primary disabled" id="add_cartao" title="Adicionar Cartão">
                    <i class="icon-plus icon-white"></i> Adicionar Bandeira
                </a>
            </div>
        </div>
    </div>
    <div id="lista-cartoes"></div>
    <div class="row-fluid">
        <div class="span12">
            <fieldset class="wrapper_actions">
                <a class="btn btn-success pull-right disabled" id="salvar_cartao" title="Salvar dados do cartão">
                    <i class="icon-ok icon-white"></i> Salvar dados do cartão
                </a>
            </fieldset>
        </div>
    </div>
</script>

<script type="text/template" id="dados-configuracoes-entidade">
    <div class="row-fluid">
        <fieldset>
            <legend>Configurações Gerais</legend>
        </fieldset>
        <div class="row-fluid">
            <div class="span3" id="combo_esquemaconfiguracao">
                <input type="hidden" name="id_configuracaoentidade" id="id_configuracaoentidade"
                       value="<%= id_configuracaoentidade %>"/>
                <label>
                    Esquema de Configuração:
                </label>
                <select class="span12" id="id_esquemaconfiguracao">
                    <option value="">Selecione</option>
                </select>
            </div>
            <div class="span3">
                <label>Esquema de Perguntas:</label>
                <select class="span12" id="id_esquemapergunta">
                    <option value="">Selecione</option>
                </select>
            </div>
            <div class="span2">
                <label class="checkbox" for="bl_msgagendamentoportal">
                    <input type="checkbox" id="bl_msgagendamentoportal" value="1" <%= (bl_msgagendamentoportal) ?
                    'checked' : '' %>>
                    Apresentar mensagem de agendamento no portal do aluno?
                </label>
            </div>
            <div class="span2">
                <label class="checkbox" for="bl_acessoapp">
                    <input type="checkbox" id="bl_acessoapp" value="1" <%= (bl_acessoapp) ? 'checked' : '' %>>
                    Entidade com acesso ao aplicativo mobile?
                </label>
            </div>
            <div class="span2">
                <label class="checkbox" for="bl_minhasprovas">
                    <input type="checkbox" id="bl_minhasprovas" value="1" <%= (bl_minhasprovas) ? 'checked' : '' %>>
                    Exibir botão Minhas Provas no Portal do Aluno?
                </label>
            </div>
            <div class="span2" id="divCorEntidade">
                <label for="corentidade">Cor Padrão da Entidade</label>
                <div class="color-box" id="corentidade"></div>
            </div>
        </div>
        <fieldset>
            <legend>Configurações Google Analytics (Loja)</legend>
        </fieldset>

        <div class="row-fluid">
            <div class="span3">
                <label>Código Analytics:</label>
                <input id="st_codgoogleanalytics" name="st_codgoogleanalytics" max="20" maxlength="20" type="text"
                       class="span12" placeholder="Id Google Analytics" value="<%=st_codgoogleanalytics%>">
            </div>
            <div class="span3">
                <label>Google Tag Manager:</label>
                <input id="st_googletagmanager" name="st_googletagmanager" max="20" maxlength="20" type="text"
                       class="span12" placeholder="Id Google Tag Manager" value="<%=st_googletagmanager%>">
            </div>
        </div>
</script>

<script type="text/template" id="dados-configuracoes-layout-entidade">
    <div class="row-fluid ">
        <fieldset>
            <legend>Configurações de Imagens/Layout</legend>
        </fieldset>
        <form action="#" id="form_layout_entidade" onsubmit="return false" enctype="multipart/form-data" method="post">
            <input type="hidden" name="id_entidade" value=""/>

            <div class="row-fluid">
                <div class="row-fluid marginB30">
                    <div class="span6">
                        <label>
                            Logomarca da Certificadora:
                            <div>
                                <small>Tela de login do G2 e Tela de login do Portal do Aluno (130x50px | Formato:
                                    .png)
                                </small>
                            </div>
                            <input type="file" id="imagem_g2s_portal" name="imagem_g2s_portal" class="span12"/>
                        </label>
                        <% if (bl_logopadrao != '') { %>
                        <p>
                            <i class="icon-eye-open"></i>
                            <a target="_blank"
                               href="<?= preg_replace('/[\/]$/', "", Ead1_Ambiente::geral()->st_url_portal); ?>/layout/<%= id_entidade %>/imagens/logo_padrao.png">
                                Logo padrão G2S/Portal
                            </a>
                        </p>
                        <% } %>
                    </div>
                    <div class="span6">
                        <label>
                            Logomarca da Entidade:
                            <div>
                                <small>Topo do Portal do Aluno (130x50px | Formato: .png)</small>
                            </div>
                            <input type="file" id="imagem_g2s_portal_entidade" name="imagem_g2s_portal_entidade"
                                   class="span12"/>
                        </label>
                        <% if (bl_urlimglogoentidade != '') { %>
                        <p>
                            <i class="icon-eye-open"></i>
                            <a target="_blank"
                               href="<?= Ead1_Ambiente::geral()->st_url_portal; ?><%= str_urlimglogoentidade %>">
                                Logo padrão G2S/Portal
                            </a>
                        </p>
                        <% } %>
                    </div>
                </div>
                <div class="row-fluid marginB30">
                    <div class="span6">
                        <label>
                            Imagem da Logo Secundária (tela de login novo portal e loja)
                            <div>
                                <small>Tela login portal e Loja (460x90px | Formato: .png)</small>
                            </div>
                            <input type="file" id="imagem_portal_loja" name="imagem_portal_loja" class="span12"/>
                        </label>

                        <% if (bl_logogrande != '') { %>
                        <p>
                            <i class="icon-eye-open"></i>
                            <a target="_blank"
                               href="<?= preg_replace('/[\/]$/', "", Ead1_Ambiente::geral()->st_url_portal); ?>/layout/<%= id_entidade %>/imagens/logo_grande.png">
                                Logo grande Portal/Loja
                            </a>
                        </p>
                        <% } %>
                    </div>
                    <div class="span6">
                        <label>
                            Imagem Favicon
                            <div>
                                <small>Favicon da Loja (16x16 | Formato: .ico)</small>
                            </div>
                            <input type="file" id="imagem_favicon_loja" name="imagem_favicon_loja" class="span12"/>
                        </label>
                        <% if (bl_favicon != '') { %>
                        <p>
                            <i class="icon-eye-open"></i>
                            <a target="_blank"
                               href="<?= preg_replace('/[\/]$/', "", Ead1_Ambiente::geral()->st_url_portal); ?>/loja/layout/padrao/img/layout/favicons/<%=id_entidade%>.ico">
                                Favicon da Loja
                            </a>
                        </p>
                        <% } %>
                    </div>
                </div>
                <div class="row-fluid marginB30">
                    <div class="span6">
                        <label>
                            Imagem Aplicativo
                            <div>
                                <small>Imagem para Aplicativo (100x100 | Formato: .png)</small>
                            </div>
                            <input type="file" id="imagem_aplicativo" name="imagem_aplicativo" class="span12"/>
                        </label>
                        <% if (st_urlimgapp != '') { %>
                        <p>
                            <i class="icon-eye-open"></i>
                            <a target="_blank" href="<?= Ead1_Ambiente::geral()->st_url_gestor2 ?><%=st_urlimgapp%>">
                                Imagem Aplicativo
                            </a>
                        </p>
                        <% } %>
                    </div>
                </div>
                <fieldset class="wrapper_actions">
                    <div class="pull-right">
                        <button type="submit" title="Salvar dados layout" id="btn-salvar-layout"
                                class="btn-success btn">
                            Salvar layout
                        </button>
                    </div>
                </fieldset>
        </form>
    </div>
</script>


<script type="text/template" id="dados-configuracoes-css-entidade">
    <div class="row-fluid ">
        <fieldset>
            <legend>Configurações de Css/Layout</legend>
        </fieldset>
        <form action="#" id="form_css_entidade" onsubmit="return false" enctype="multipart/form-data" method="post">
            <input type="hidden" name="id_entidade" value=""/>

            <div class="row-fluid marginB30">
                <div class="span6">
                    <!-- <label for="imagem_g2s_portal">
                         Imagem da logo secundária (tela de login novo portal e loja)
                     </label>
                     <span class="help-block">
                         Tela login portal e Loja (460x90px e .PNG)
                     </span>
                     <input type="file" id="imagem_portal_loja" name="imagem_portal_loja" class="span12"/>
                     <% if (bl_logogrande != '') { %>
                     <p>
                         <i class="icon-eye-open"></i>
                         <a target="_blank"
                            href="http://portal.ead1.com.br/layout/<%= id_entidade %>/imagens/logo_grande.png">
                             Logo grande Portal/Loja
                         </a>
                     </p>
                     <% } %> -->
                    <label><span
                                class="help-block">Carregar arquivo CSS de configuração do layout do portal</span></label>
                    <label>
                        <small>Extensão .CSS</small>
                    </label>
                    <input type="file" id="arquivo_css_portal" name="arquivo_css_portal" class="span12"/>

                </div>
                <div class="span6">
                    <label for="gerador_css">Configurações de cor do CSS da loja.</label>
                    <div class="span2">
                        <label>Primária:</label>

                        <div class="color-box" id="corprimaria"></div>
                    </div>
                    <div class="span2">
                        <label>Secundaria:</label>

                        <div class="color-box" id="corsecundaria"></div>
                    </div>
                    <div class="span2">
                        <label>Terciaria:</label>

                        <div class="color-box" id="corterciaria"></div>
                    </div>
                    <div class="span5">
                        <label for="">&nbsp;</label>
                        <a type="button" title="Visualizar Css" id="btn-visualizar-css" class="btn-info btn">Visualizar
                            CSS</a>
                        <button type="button" title="Gerar Css da Loja" id="btn-gerar-css" class="btn-success btn">Gerar
                            CSS
                        </button>
                    </div>
                </div>
            </div>

            <fieldset class="wrapper_actions">
                <div class="pull-right">

                    <button type="submit" title="Salvar dados layout" id="btn-salvar-layout-css"
                            class="btn-success btn">
                        Salvar layout
                    </button>
                </div>
            </fieldset>
        </form>
    </div>
</script>

<script id="preparacao-template" type="text/template">
    <fieldset>
        <legend>Prepação da Entidade</legend>
    </fieldset>

    <table class="table table-bordered table-striped table-hover backgrid">
        <thead>
        <tr>
            <th>Título</th>
            <th>Descrição</th>
            <th>Responsável</th>
            <th>Local</th>
            <th style="width: 110px;">Situação</th>
        </tr>
        </thead>
        <tbody></tbody>
    </table>
</script>

<script id="preparacao-view" type="text/template">
    <td>
        <b style="font-size: 14px;"><%= st_itemativacao %></b>
    </td>
    <td><%= st_descricao %></td>
    <td><%= st_responsavel %></td>
    <td><%= st_caminhosistema %></td>
    <td id="situacao-container">
    </td>
</script>

<script type="text/javascript">
    id_entidade = '<?php echo $this->id_entidade != null ? $this->id_entidade : ''; ?>';
    id_contaentidade = '';
</script>


<script type="text/javascript">
    $('#templateHolder').empty().html($('#htmlContent script[type="text/template"]'));
</script>
<script type="text/javascript" src="/pessoa/pessoa-juridica.js"></script>
<script type="text/javascript" src="<?php echo $this->url() ?>/js"></script>
