<link href="<?php echo Ead1_Ambiente::geral()->st_url_loja; ?>/assets/stylesheets/styles.css" rel="stylesheet"
      type="text/css"/>
<script src="<?php echo Ead1_Ambiente::geral()->st_url_loja; ?>/assets/javascripts/jquery-1.9.1.js"
        type="text/javascript"></script>
<script src="<?php echo Ead1_Ambiente::geral()->st_url_loja; ?>/assets/javascripts/bootstrap.js"
        type="text/javascript"></script>

<?php
//Logo default da loja
$logo = Ead1_Ambiente::geral()->st_url_loja . '/img/img2/logo-tempo.png';
if (file_exists(APPLICATION_PATH . '/../public/loja/layout/padrao/img/layout/' . $this->id_entidade . '.png')) :
    $logo = Ead1_Ambiente::geral()->st_url_loja . '/layout/padrao/img/layout/' . $this->id_entidade . '.png';
elseif (file_exists(APPLICATION_PATH . '/../public/loja/layout/' . $this->id_entidade . '/img/layout/logo-tempo.png')) :
    $logo = Ead1_Ambiente::geral()->st_url_loja . '/layout/' . $this->id_entidade . '/img/layout/logo-tempo.png';
endif;
?>
<?
$sigunyleya = false;
if (file_exists(APPLICATION_PATH . '/../public/loja/layout/' . $this->id_entidade . '/img/layout/assinatura-unyleya.png')) :
$sigunyleya = Ead1_Ambiente::geral()->st_url_loja . '/layout/' . $this->id_entidade . '/img/layout/assinatura-unyleya.png';
endif;
?>

<section>
    <header>
        <nav class="nav text-center topo">
            <img class="pad-n-10" id="logomarca" src="<?php echo $logo ?>" alt="<?php echo $this->id_entidade ?>">
        </nav>
    </header>
    <div class="container pad-n-10">
        <div class="row pad-n-10 pad-s-10">
            <div class="col-md-12 text-center">
                <h3>Para prosseguir com sua compra, identifique-se:</h3>
            </div>
        </div>
        <div class="row pad-n-10 text-center">
            <div class="col-md-12 col-centralizada">
                <div class="col-md-4 nopad preenchimento-active" style="background-color: #<?=$this->dados['rgbSecundario']?>;border-bottom:4px solid #<?=$this->dados['rgbTerciario']?> !important">
                    1 - Identificação
                </div>
                <div class="col-md-4 nopad preenchimento" style="background-color: #<?=$this->dados['rgbPrimario']?>; border-left:1px solid #<?=$this->dados['rgbTerciario']?>; border-right:1px solid #<?=$this->dados['rgbTerciario']?>;   border-bottom: 4px solid #<?=$this->dados['rgbTerciario']?>">
                    2 - Pagamento
                </div>
                <div class="col-md-4 nopad preenchimento" style="background-color: #<?=$this->dados['rgbPrimario']?>;border-bottom: 4px solid #<?=$this->dados['rgbTerciario']?>">
                    3 - Confirmação
                </div>
            </div>
        </div>
        <div class="row pad-n-20">

            <div class="col-md-6 col-centralizada text-center">
                    <div class="form-group">
                        <!--<div class="form-group has-success has-feedback">-->
                        <label for="st_login" class="col-md-2 control-label">Email</label>
                        <div class="col-sm-8">
                            <input type="email" data-container="body" data-trigger="focus" size="25" name="st_login" id="st_login" class="form-control col-md-8"/>
                        </div>
                    </div>
                    <div id="container-senha" class="form-group hide">
                        <label for="st_senha" class="col-md-2 control-label">Senha: </label>
                        <div class="col-sm-8">
                            <input type="password" data-container="body" data-trigger="focus" data-content="Digite sua senha." size="25" name="st_senha" id="st_senha" class="form-control col-md-8" placeholder="Digite sua senha."/>
                        </div>
                    </div>
                    <div class="col-md-12 pad-n-20">
                        <button type="button" id="btn-prosseguir" data-loading-text="ENVIANDO..." class="btnpadrao btn preenchimento" style="background-color: #<?=$this->dados['rgbPrimario']?>;border-bottom: 4px solid #<?=$this->dados['rgbTerciario']?>">PROSSEGUIR</button>
                        <div id="container-btn-login" class="hide">
                            <a id="btn-recuperar-senha" data-loading-text="Enviando..." class="btn btn-link">Esqueci minha senha</a>
                            <button type="submit" id="btn-logar" data-loading-text="ENVIANDO..." class="btnpadrao btn preenchimento">ENTRAR</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <?php if ($sigunyleya): ?>
                        <a target="_blank" href="http://www.unyleya.com.br"><img src="<?php echo $sigunyleya; ?>"
                                                                                 alt="UnyLeya"/></a>
                    <?php endif; ?>
                </div>
            </div>
        </div>
    </footer>
</section>
