<form id="form-entidade-financeiro">
    <div class="row-fluid">
        <div class="span3">
            <label for="id_textosistemarecibo">Texto Recibo Mensal</label>
            <select id="id_textosistemarecibo" name="id_textosistemarecibo" class="span12">
                <option value="">Selecione um texto</option>
            </select>
        </div>
        <div class="span3">
            <label for="id_reciboconsolidado">Texto Recibo Consolidado </label>
            <select id="id_reciboconsolidado" name="id_reciboconsolidado" class="span12">
                <option value="">Selecione um texto</option>
            </select>
        </div>
        <div class="span3">
            <label for="id_textochequesdevolvidos">Texto Cheques Devolvidos</label>
            <select id="id_textochequesdevolvidos" name="id_textochequesdevolvidos" class="span12">
                <option value="">Selecione um texto</option>
            </select>
        </div>
        <div class="span3">
            <label for="id_textoimpostorenda">Texto Imposto de Renda:</label>
            <select class="span12"  id="id_textoimpostorenda" name="id_textoimpostorenda">
                <option value="">Selecione um texto</option>
            </select>
        </div>
    </div>
    <div class="row-fluid">
        <fieldset class="wrapper_actions">
            <div class="span12">
                <button type="submit" class="btn pull-right btn-success editar" id="btn-salvar-entidade-financeiro"
                        title="Salvar configurações financeiras">
                    <i class="icon-white icon-ok"></i> Salvar dados financeiros
                </button>
            </div>
        </fieldset>
    </div>
</form>