<script type="text/template" id="template-devolver-tcc">
    <div class="modal hide fade" id="modal-devolver-tcc" tabindex="-1" role="dialog" aria-labelledby="Devolver TCC ao Tutor" aria-hidden="false"> 
        <div class="modal-dialog"> 
            <div class="modal-content"> 
                <div class="modal-header"> 
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button> 
                    <h4 class="modal-title" id="myModalLabel">Motivo da Devolução do TCC:</h4>
                    </div> 
                <div class="modal-body"> 
                    <form id="form-devolver-tcc" class="form-inline"> 
                        <fieldset> 
                            <div id="form-devolver-tcc" class="control-group"> 
                                <div class="clearfix"></div> 
                                <textarea rows="4" class="form-control" style="width: 515px;" name="motivo-devolucao" id="motivo-devolucao" required="required"></textarea> 
                                </div> 
                            <input type="hidden" name="id_encerramentosala" id="id_encerramentosala"> 
                            <input type="hidden" name="id_saladeaula" id="id_saladeaula"> 
                            <input type="hidden" name="id_usuario" id="id_usuario"> 
                            <input type="hidden" name="id_matricula" id="id_matricula">
                            </fieldset>
                        </form> 
                    </div> 
                <div class="modal-footer"> 
                    <button type="button" class="btn btn-primary btn-confirm btn-devolver-tcc">Salvar</button> 
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button> 
                    </div> 
                </div> 
            </div> 
        </div>
</script>