<script type="text/javascript" src="/js/backbone/views/Util/SelectView.js"></script>

<script type="text/template" id="main-template">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#campanha" data-toggle="tab">Campanha</a></li>
        <li class="hide"><a href="#cupom" data-toggle="tab">Cupom</a></li>
        <li class="hide" id="li_premio"><a href="#premio" data-toggle="tab">Prêmio</a></li>
    </ul>
    <div class="tab-content" style="overflow: hidden">
        <div class="tab-pane active" id="campanha">
            <!--Campanha-->
        </div>
        <div class="tab-pane" id="cupom">
            <!--Cupom-->
        </div>
        <div class="tab-pane" id="premio">
            <!--Premio-->
        </div>
        <div id="modal-container" class="modal hide fade">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3>Modal header</h3>
            </div>
            <div class="modal-body">
            </div>
        </div>
    </div>
    <div id="holder-container"></div>
</script>

<script type="text/template" id="premio-template">
    <div class="row-fluid">
        <div class="span12">
            <legend>Adicionar Prêmio</legend>
            <div class="" id="tipoPromocao">
                <div class="well well-large">
                    <div class="row-fluid">
                        <legend>Tipo de promoção</legend>
                        <div class="span12">
                            <div class="span3 input-append">
                                <label class="radio control-label">
                                    <input type="radio" type="radio" name="optionsRadios" id="bl_comprasAcima"
                                    <%=(bl_compraacima == true ?
                                    "checked":"")%>/>Compras acima de
                                    <input class="span5" type="text" id="nu_comprasAcima"
                                           value="<%=nu_comprasacima?formatValueToShow(nu_comprasacima):""%>"/>
                                    <span class="add-on">R$</span>
                                </label>
                            </div>
                            <div class="span3 input-append">
                                <label class="checkbox control-label">
                                    <input type="radio" name="optionsRadios" id="bl_comprandoUnid" <%=(bl_compraunidade
                                    == true ?
                                    "checked":
                                    "")%>/>Comprando
                                    <input class="span5" type="text" id="nu_comprandoUnid"
                                           value="<%=nu_compraunidade?nu_compraunidade:""%>"/>
                                    <span class="add-on">unid.</span>
                                </label>
                            </div>
                            <div class="span3">
                                <label class="checkbox">
                                    <input type="checkbox" id="bl_promocaoCumulativa" checked/>Promoção não
                                    acumulativa
                                </label>
                            </div>
                            <div class="span3">
                                <label>Tipo de Prêmio:</label>
                                <select class="span10" id="id_tipopremio" name="id_">
                                    <option value="" selected disabled>Selecione</option>
                                    <option value="1"
                                    <%=(id_tipopremio == 1 ? "selected": "")%>>Produto</option>
                                    <option value="2"
                                    <%=(id_tipopremio == 2 ? "selected": "")%>>Cupom</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hide" id="div_produtos">
                <div class="well well-large">
                    <div class="row-fluid">
                        <div class="span12">
                            <div id="produtosPremio"></div>
                            <div class="row-fluid">
                                <div class="control-group span12">
                                    <div class="span6" style="padding-bottom:5px;">
                                        <label for="nomeProjPedagogico">Nome</label>
                                        <input type="text" class="input-search span12 search-query"
                                               alt="pesquisa-produtos"
                                               placeholder="Filtrar Produtos"/>
                                    </div>
                                </div>
                                <div class="row-fluid">
                                    <div class="control-group span6" style="overflow: auto; height: 200px;">
                                        <table role="dialog"
                                               class="pesquisa-produtos table table-bordered table-striped backgrid">
                                            <thead>
                                            <tr>
                                                <th>Produto</th>
                                                <th>Tipo Produto</th>
                                                <th>Adicionar</th>
                                            </tr>
                                            </thead>
                                            <tbody id="tabelaProdutoCampanha">

                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="control-group span6" style="overflow: auto; height: 200px;">
                                        <table role="dialog"
                                               class="produtos-add table table-bordered table-striped backgrid">
                                            <thead>
                                            <tr>
                                                <th class="span1">Remover</th>
                                                <th>Produtos Selecionados</th>
                                                <th>Tipo Produto</th>
                                            </tr>
                                            </thead>
                                            <tbody id="tabelaProdutosSelecionados">

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hide" id="div_cupom">
                <div class="well well-large">
                    <div class="row-fluid">
                        <legend>Cupom</legend>
                        <div class="span4" id="divSelectCampanhaPremio">
                            <label>Campanha:</label>
                            <select class="span12" id="select_campanha_cupom" name="select_campanha_cupom">
                                <option value="" selected disabled>Selecione</option>
                            </select>
                        </div>
                        <div class="span3" id="divPrefixoCupom">
                            <label for="">Prefixo do Cupom:</label>
                            <input type="text" class="span12" id="st_prefixoCupomPremio"
                                   value="<%=st_prefixocupompremio%>"/>
                        </div>
                        <div class="span2" id="divTipoDesconto">
                            <label for="">Tipo do Desconto</label>
                            <select class="span12" id="tipo_desconto" name="tipo_desconto">
                                <option value="" disabled selected>Selecione</option>
                                <option value="1"
                                <%=(id_tipodescontopremio == 1 ? "selected": "")%>>Valor</option>
                                <option value="2"
                                <%=(id_tipodescontopremio == 2 ? "selected": "")%>>Porcentagem</option>
                            </select>
                        </div>
                        <div class="span2" id="divValorDescontoPremio">
                            <label for="">Desconto</label>
                            <input type="text" id="nu_desconto" max="100" min="0" class="span12"
                            <%=(id_tipodescontopremio? "":
                            "disabled")%> value="<%=nu_descontopremio ? formatValueToShow(nu_descontopremio):''%>"/>
                        </div>

                    </div>
                </div>
            </div>

            <div class="row-fluid">
                <div class="span12">
                    <div class="well well-large">
                        <button id="btn_salvarPremio" class="btn btn-success pull-right">Salvar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>

<script type="text/template" id="produto-premio">
    <td><%=st_produto%></td>
    <td><%=st_tipoproduto%></td>
    <td><a class="btn btn-success pull-right" id="btn-add"><i class="icon  icon-arrow-right icon-white"></i></a></td>,
</script>

<script type="text/template" id="produto-premio-selecionados">
    <td><a class="btn btn-danger pull-left" id="btn-remove"><i class="icon  icon-arrow-left icon-white"></i></a></td>,
    <td><%=st_produto%></td>
    <td><%=st_tipoproduto%></td>
</script>

<!--Formulário Campanha-->
<script type="text/template" id="formulario-campanha-template">

    <form id="formCampanha" name="formCampanha" action="" method="post" enctype="multipart/form-data">
        <input type="hidden" id="id_campanhacomercial" value="<%=id_campanhacomercial%>">
        <div class="well well-small">
            <div class="row-fluid">
                <div class="span6">
                    <label>Título:
                        <input type="text" class="span12" title="Título" required maxlength="30"
                               value="<%=st_campanhacomercial%>" id="st_campanhacomercial" name="st_campanhacomercial">
                    </label>
                </div>
                <div class="span2">
                    <label>Tipo:
                        <?php echo $this->form->id_tipocampanha; ?>
                    </label>
                </div>
                <div class="span2">
                    <label>Finalidade:
                        <img width="15px" height="15px" src="gestor2/img/icons/icone_info.png" data-toggle="tooltip" data-html="true" title="" data-original-title="Para habilitar esta opção selecione a Categoria e o Tipo.">
                        <?php echo $this->form->id_finalidadecampanha; ?>
                    </label>
                </div>
                <div class="span2">
                    <label>Situação:
                        <?php echo $this->form->id_situacao; ?>
                    </label>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span6">
                    <label>Descrição:
                        <textarea cols="80" maxlength="1000" style="resize:none" title="Descrição" rows="4"
                                  class="span12" id="st_descricao"
                                  name="st_descricao"><%=st_descricao%></textarea>
                        <?php // echo $this->form->st_descricao; ?>
                    </label>
                </div>
                <div class="span6">
                    <fieldset>
                        <legend>Vigência</legend>
                        <div class="row-fluid">
                            <div class="span6">
                                <label class="input-append span6" data-toggle="tooltip" title="Data Início">Início:
                                    <input type="text" class="span8 datepicker_range_min maskDate desabilitactrlv"
                                           data-maximo="dt_fim" maxlength="10" required
                                           value="<%=dt_inicio%>" id="dt_inicio" name="dt_inicio">
                                    <button class="btn" type="button"><i class="icon-calendar"></i></button>
                                </label>

                                <div class="span3">
                                    <?php echo $this->formCupom->hora_ini; ?>
                                </div>
                            </div>
                            <div class="span6">
                                <label class="input-append span6" data-toggle="tooltip" title="Data Fim"> Fim:
                                    <input type="text" class="datepicker_range_max maskDate desabilitactrlv span8"
                                           data-minimo="dt_inicio" maxlength="10" value="<%=dt_fim%>" id="dt_fim"
                                           name="dt_fim" required>
                                    <button class="btn" type="button"><i class="icon-calendar"></i></button>
                                </label>

                                <div class="span3">
                                    <?php echo $this->formCupom->hora_fim; ?>
                                </div>
                            </div>
                        </div>
                        <div class="row-fluid hide" id="container-pontualidade-padrao">
                            <label class="checkbox">
                                <?php echo $this->form->bl_aplicardesconto; ?> Campanha de Pontualidade Padrão.
                            </label>
                        </div>
                    </fieldset>
                </div>
            </div>
            <div class="row-fluid">
                <div class="row-fluid">
                    <div class="span6" id="divLinkImagem">
                        <div>
                            <label>
                                Link:
                            </label>
                            <input type="text" class="span12" title="Link" maxlength="200"
                                   id="st_link" name="st_link"
                                   value="<%if(typeof st_link !== 'undefined'){%><%=st_link%><%}%>">
                        </div>
                    </div>
                    <div class="span6 div_imagem">
                        <label>
                            Imagem:
                            <img width="15px" height="15px" src="gestor2/img/icons/icone_info.png" data-toggle="tooltip"
                                 data-html="true"
                                 title="Extensões permitidas: .PNG, .JPG, .JPEG, .GIF <br> Tamanho máximo 5MB <br> Dimensões adequadas 1024x768">
                        </label>
                        <input type="text" class="span9" title="Anexar imagem da campanha" id="nome_imagem" readonly
                               value="<%if(typeof st_imagem !== 'undefined'){%><%=st_imagem%><%}%>">
                        <label title="Anexar imagem da campanha" class="botao_imagem" for="st_imagem">Anexar
                            Imagem</label>
                        <input class="esconder" type="file" class="span9" title="Anexar imagem da campanha"
                               maxlength="30"
                               id="st_imagem" name="">
                    </div>
                </div>

                <div class="row-fluid">
                    <div class="span2" id="divExibicao">
                        <label>Exibição:</label>
                        <label><input <% if(typeof bl_mobile !== 'undefined'){ if(bl_mobile == true) {%> checked <%}}%>
                            type="checkbox" name="bl_mobile" id="bl_mobile" value="1"> Mobile </label>
                        <label><input <% if(typeof bl_portaldoaluno !== 'undefined'){ if(bl_portaldoaluno == true){ %>
                            checked <%}}%> type="checkbox" name="bl_portaldoaluno" id="bl_portaldoaluno" value="1">
                            Portal do Aluno</label>
                    </div>
                    <div class="span2" id="divDisponibilidade">
                        <label>Disponibilidade:
                            <?php echo $this->form->bl_disponibilidade; ?>
                        </label>
                    </div>
                    <div class="span2">
                        <label>Categoria:
                            <?php echo $this->form->id_categoriacampanha; ?>
                        </label>
                    </div>
                    <div class="span6" id="descontos-campanha">
                        <fieldset>
                            <legend>Desconto</legend>
                            <div class="row-fluid">
                                <label class="span6">Tipo:
                                    <p></p><?php echo $this->form->id_tipodesconto; ?></p>
                                </label>

                                <div id="containerInputsValor" class="hide span3"></div>
                                <label class="checkbox help-block">
                                    <!--                                --><?php // echo $this->form->bl_aplicardesconto; echo ' Aplicar automaticamente'; ?>
                                </label>
                            </div>
                        </fieldset>
                    </div>
                    <div class="span6 hide prazo">
                        <fieldset>
                            <legend>Prazo para pagamento:</legend>
                            <label><?php echo $this->form->nu_diasprazo; ?> dias</label>
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>

        <div class="row-fluid" id="container-tabs-vinculos">
            <div class="span4 well well-small" id="container-produtos">
                <!--Container onde fica a lista de produtos vinculados a campanha-->
            </div>
            <div class="span4 well well-small" id="container-categorias">
                <!--Container onde fica a lista de categorias vinculados a campanha-->
            </div>
            <div class="span4 well well-small" id="container-forma-pagamento-marionette">
                <!--Container onde fica a lista de categorias vinculados a campanha-->
            </div>
        </div>

        <div class="">
            <div class="pull-right">
                <button type="button" class="btn-custom btn" data-toggle="tooltip" title="Cancelar" id="btnCancelar">
                    Cancelar
                </button>
                <button type="submit" class="btn-success btn" data-toggle="tooltip" title="Salvar" id="btnSalvar">
                    Salvar
                </button>
            </div>
        </div>

    </form>
</script>

<script type="text/template" id="forma-pagamento-marionette-view">
    <fieldset>
        <legend>Forma de Pagamento <label class="checkbox pull-right">
                <input type="checkbox" title="Todas as Formas de Pagamento" value="1" id="bl_todasformas"
                       name="bl_todasformas"> Todas</label></legend>
        <div class="row-fluid">
            <div class="span9">
                <select id="id_formapagamento" name="id_formapagamento" class="span12">
                    <option value="0">Selecione</option>
                </select>
            </div>
            <div class="span3">
                <button type="button" class="btn additem" data-toggle="tooltip" title="Adicionar">Adicionar</button>
            </div>
        </div>
        <table class="table table-striped table-bordered table-hover backgrid backgrid-selectall">
            <thead>
            <tr>
                <th>Forma de Pagamento</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </fieldset>
</script>

<script type="text/javascript" src="<?php echo $this->baseUrl(); ?>/js/spinner/spinner.js"></script>
<script type="text/javascript" src="<?php echo $this->baseUrl(); ?>/js/CollectionView.js"></script>

<script type="text/javascript">
    CampanhaModel = null;
    <?php if ($this->dadosCampanha): ?>
    CampanhaModel = <?php echo json_encode($this->dadosCampanha); ?>;
    <?php endif; ?>
</script>

<script type="text/javascript"> $('#htmlContent script[type="text/template"]').appendTo($('#templateHolder'));</script>
<script type="text/javascript" src="/campanha-comercial/js"></script>