<!--Template Formulário Cupom-->
<script type="text/template" id="formulario-cupom-template">
    <form name="formCupom" id="formCupom" action="" method="post">
    <fieldset>
    <legend>Adicionar Cupom - <%=st_campanhacomercial%></legend>
    <div class="row-fluid">
    <div class="span2 well well-small">
    <div class="span12">
    <label>Prefixo do Cupom:
    <?php echo $this->formCupom->st_prefixo; ?>
    </label>
    </div>
    </div>
    <div class="span4 well well-small">
    <div class="span4">
    <label>Desconto:
    <?php echo $this->formCupom->nu_desconto; ?>
    </label>
    </div>
    <div class="span8">
    <label>Tipo Desconto:
    <?php echo $this->formCupom->id_tipodesconto; ?>
    </label>
    </div>
    </div>
    <div class="span6 well well-small">
    <label>Período:</label>
    <div class="row-fluid">
        <div class="span6">Data de Início:<br>
            <label class="input-append span5" data-toggle="tooltip" title="Data Início">
                <?php echo $this->formCupom->dt_inicio; ?>
                <button class="btn" type="button"><i class="icon-calendar"></i></button>
            </label>
            <label class="span5">
                <?php echo $this->formCupom->hora_ini; ?>
            </label>
        </div>
        <div class="span6">Data de Fim:<br>
            <label class="input-append span5" data-toggle="tooltip" title="Data Fim">
                <?php echo $this->formCupom->dt_fim; ?>
                <button class="btn" type="button"><i class="icon-calendar"></i></button>
            </label>
            <label class="span5">
                <?php echo $this->formCupom->hora_fim; ?>
            </label>
        </div>
    </div>
    </div>
    </div>
    <div class="row-fluid">
    <div class="span6 well well-small">
    
        <label class="span4">Código
            <?php echo $this->formCupom->st_tipocodigo; ?>
        </label>
        <label class="span3">Complemento do Cupom
            <?php echo $this->formCupom->st_complemento; ?>
        </label>
        <label class="span2" id="nu_cupons-item">
            Número de cupons<br>
            <input type="text" class="span6 numeric" disabled maxlength="4" max="9999" min="1" id="nu_cupons" name="nu_cupons"> 
        </label>


        <div class="span3">
            <label class="checkbox">
            <?php echo $this->formCupom->bl_ativacao; ?> Ativar na criação
            </label>
            <label class="checkbox">
            <?php echo $this->formCupom->bl_unico; ?> Utilizar somente uma vez
            </label>
        </div>

    
    
    </div>
    
    </div>
    <div class="form-actions">
    <div class="pull-right">
    <button type="button" class="btn-inverse btn" data-toggle="tooltip" id="btnGerarRelatorio" title="Gerar XLS de Cupons">Gerar XLS de Cupons</button>
    <button type="submit" class="btn-success btn" data-toggle="tooltip" title="Adicionar Cupom" id="btnSalvar">Adicionar Cupom</button>
    </div>
    </div>
    </fieldset>
    </form>
    <div id="lista-cupom" class="well well-small">
    <!--Lista-->
    </div>
</script>
