<script type="text/javascript"> $('#htmlContent script[type="text/template"]').appendTo($('#templateHolder'));</script>

<script type="text/template" id="template-layout-grade">
    <legend>Relatório Controle de Turma Grade Horária</legend>
    <div class="row-fluid" id="regiao-grade"></div>
    <div class="row-fluid" id="regiao-grade-data" style="overflow-x: auto;"></div>
</script>

<script type="text/template" id="template-form-grade">
    <div class="row-fluid">
        <form name="formRelatorio" id="formRelatorio" method="post" action="">
            <fieldset>
                <div class="well well-small">
                    <div class="row-fluid">
                        <div class="span4">
                            <label> Projeto Pedagógico: </label>
                            <select class="span12" id="id_projetoPedagogico" name="id_projetoPedagogico"
                                    required="required">
                                <option value="">Selecione</option>
                            </select>
                        </div>
                        <div class="span4">
                            <label> Unidade: </label>
                            <select class="span12" id="id_unidade" name="id_unidade" required="required">
                                <option value="">Selecione</option>
                            </select>
                        </div>
                        <div class="span4">
                            <label> Turma: </label>
                            <select class="span12" id="id_turma" name="id_turma" required="required">
                                <option value="">Escolha uma Unidade</option>
                            </select>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="pull-right">
                            <button class="btn-custom btn margin" type="button" id="btnPesquisar">
                                <i class="icon-file icon-white"></i> Pesquisar
                            </button>
                        </div>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>

</script>