<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="pt">
<head>
    <title>Relatório Controle de Turmas</title>
    <meta http-equiv="Content-type" content="text/html; charset=UTF-8"/>
</head>
<body>
<?php
//contador da quantidade de grade horaria
$count_gradehoraria = 0;

//soma a quantidade de grade mais a quantidade de colunas fixa (Disciplina+turma+ch+professor+2td+aulasPendentes)
$colunasFixa = 7;
if (isset($this->dados) && !empty($this->dados)):
    foreach ($this->dados as $value):
//pega o total de grade do laço
        $totalgrade = count($value['gradehoraria']);
        ?>
        <div class="quebraLinha">
            <div class="table">
                <table>
                    <tr>
                        <td class="center-align" colspan="<? echo $totalgrade + $colunasFixa; ?>">
                            CONTROLE DE TURMA
                        </td>
                    </tr>
                    <tr>
                        <td colspan="<? echo $totalgrade + $colunasFixa; ?>">
                            <span class="titulos">
                                CARGA HORÁRIA TOTAL: <?php echo $value['nu_cargahorariadisciplinaTotal'] ?>
                            </span>
                            <span class="titulos">
                                CÓDIGO DA TURMA: <?php echo $value['st_codigo']; ?>
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4">
                            CURSO: <?php echo $value['st_projetopedagogico']; ?><br>
                            INICIO: <?php echo $value['dt_inicio']; ?> - FIM: <?php echo $value['dt_fim']; ?><br>
                            TURNO: <span class="bold"><?php echo $value['st_turno']; ?></span> - CH
                            ORIGINAL: <?php echo $value['nu_cargahorariaprojeto']; ?><br>
                        </td>
                        <?php
                        //Pega a quantidade de grade da maior grade existente
                        $count_gradehoraria = ($count_gradehoraria < $totalgrade) ? $totalgrade : $count_gradehoraria;

                        $colspan = $colunasFixa + $count_gradehoraria;

                        foreach ($value['gradehoraria'] as $gradehoraria):
                            ?>
                            <td rowspan="2">
                                <div class="rotated-text">
                                    <div class="rotated-text__inner">
                                        <?php echo $gradehoraria['dt_iniciogradehoraria'] . ' A ' . $gradehoraria['dt_fimgradehoraria']; ?>
                                    </div>
                                </div>
                            </td>
                        <?php endforeach; ?>
                        <td rowspan="2"></td>
                        <td rowspan="2"></td>
                        <td rowspan="2">
                            <div class="rotated-text2">
                                <div class="rotated-text__inner">
                                    Aulas Pendentes
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>DISCIPLINA</td>
                        <td>TURMA</td>
                        <td>C/H</td>
                        <td>PROFESSOR</td>
                    </tr>
                    <?php foreach ($value['modulos'] as $modulo): ?>
                        <?php $disciplinas = count($modulo['disciplinas']); ?>
                        <tr>
                            <td colspan="<?php echo $colspan ?>"
                                class="texto-vermelho"><?php echo $modulo['st_modulo'] ?></td>
                        </tr>
                        <?php foreach ($modulo['disciplinas'] as $disciplina): ?>
                            <tr>
                                <td><?php echo $disciplina['st_disciplina'] ?></td>
                                <td><?php echo $disciplina['st_turma'] ?></td>
                                <td><?php echo $disciplina['nu_cargahorariadisciplina'] ?></td>
                                <td><?php echo $disciplina['st_professor'] ?></td>
                                <?php
                                $sum_aulasministradas = 0;
                                $count_aulasministradas = count($disciplina['aulasministradas']);
                                ?>

                                <?php
                                $newKey = null;
                                foreach ($disciplina['aulasministradas'] as $key_aulasministradas => $aulasministradas) :
                                    if (array_sum($aulasministradas) != 0) :
                                        ?>
                                        <td>
                                            <?php echo $sum_aulasministradas = +array_sum($aulasministradas); ?>
                                        </td>
                                        <?php
                                    else:
                                        if ($disciplina['nu_cargahorariaaulasrestantes'] == 0) {
                                            echo '<td class="texto-vermelho">FIM</td>';
                                        } else {
                                            echo '<td></td>';
                                        }
                                    endif;
                                    ?>
                                <?php endforeach; ?>
                                <!--
                                    Gera as colunas fixas após as colunas da grade
                                -->
                                <td></td>
                                <td></td>

                                <td><?php echo $disciplina['nu_cargahorariaaulasrestantes'] / $disciplina['nu_cargahorariagrade'] ?></td>
                            </tr>
                        <?php endforeach; ?>
                    <?php endforeach; ?>
                    <tr>
                        <td colspan="2">CARGA HORÁRIA TOTAL</td>
                        <td><?php echo $value['nu_cargahorariadisciplinaTotal'] ?></td>
                        <td></td>
                        <?php foreach ($value['gradehoraria'] as $gradehoraria): ?>
                            <td>
                                <?php echo $gradehoraria['nu_totalAulasMinistradas']; ?>
                            </td>
                        <?php endforeach; ?>
                        <!--
                                    Gera as colunas fixas após as colunas da grade
                                -->
                        <td></td>
                        <td></td>
                        <td></td>

                    </tr>

                </table>
            </div>
        </div>
    <?php endforeach; ?>
<?php else: ?>

    <div class="quebraLinha">
        <div class="table">
            <table>
                <tr>
                    <td class="center-align">
                        Não existem dados para a busca efetuada
                    </td>
                </tr>
            </table>
        </div>
    </div>

<?php endif; ?>
<style type="text/css">

    @media print {
        button {
            display: none;
        }

        .quebraLinha {
            page-break-after: always;
            page-break-inside: avoid;
        }

        @page {
            margin: 0.5cm;
            size: 'A4';
        }
    }

    .table {
        margin: 20px 0;
        padding: 0px;
        width: 100%;
        font-family: "Helvetica Neue", "Arial", sans-serif;
    }

    .table table {
        border-collapse: collapse;
        border-spacing: 0;
        width: 100%;
        height: 100%;
        margin: 0px;
        padding: 0px;
    }

    .table tr:nth-child(odd) {
        background-color: #ffffff;
    }

    .table tr:nth-child(even) {
        background-color: #ffffff;
    }

    .table td {
        vertical-align: middle;
        border: 1px solid #000000;
        padding: 6px;
    }

    .texto-vermelho {
        color: red;;
    }

    .rotated-text {
        display: inline-block;
        overflow: hidden;
        width: 1.5em;
        height: 110px;
    }

    .rotated-text2 {
        width: 35px;
    }

    .rotated-text__inner {
        -webkit-transform: rotate(270deg);
        -moz-transform: rotate(270deg);
        -o-transform: rotate(270deg);
        writing-mode: rl-tb;
        height: 110px;
        width: 107px;
    }

    .bold {
        font-weight: bold;
    }

    .titulos {
        margin: 0 0 0 15px;
        font-weight: bold;
        font-size: 14px;
        text-align: left;
    }

    .center-align {
        text-align: center;
    }

</style>
</body>
</html>