<!-- TEMPLATES -->
<script id="form-template" type="text/template">
    <div class="well">
        <div class="row-fluid">
            <div class="span5">
                <label id="label-matricula">
                    <b>Matrícula:</b>
                    <select id="id_matricula" class="span12 horizontal-scroll" name="id_matricula" size="6"></select>
                </label>
                <div id="matricula-region" class="marginT20 span5"></div>
            </div>
            <div class="span7">
                <div id="label-polo" class="span6 hide">
                    <label>
                        <b>Polo de Destino:</b>
                        <input id="st_nomeentidade" class="span12 no-margin" type="text"
                               placeholder="Digite para pesquisar"
                               data-search="#id_entidade"
                        />
                    </label>
                    <select id="id_entidade" class="span12 horizontal-scroll" name="id_entidade" size="4"></select>
                </div>
                <label id="label-turma" class="span6 hide">
                    <label>
                        <b>Turmas Disponíveis:</b>
                        <input id="st_tituloexibicao" class="span12 no-margin" type="text"
                               placeholder="Digite para pesquisar"
                               data-search="#id_turma"
                        />
                    </label>
                    <select id="id_turma" class="span12 horizontal-scroll" name="id_turma" size="4"></select>
                </label>
            </div>
        </div>
    </div>
</script>

<script id="matricula-template" type="text/template">
    <div>
        <b>Turma:</b>
        <%= st_turma || 'Sem turma' %>
    </div>
    <div>
        <b>Data Matrícula:</b>
        <%= dt_cadastro %>
    </div>
    <div>
        <b>Situação:</b>
        <%= st_situacao %>
    </div>
    <div>
        <b>Documentação:</b>
        <%=
        bl_documentacao === null || bl_documentacao === '' ? 'Não Analisado' : (bl_documentacao ? 'Ok' : 'Pendente')
        %>
    </div>
    <div>
        <b>Venda:</b>
        <%= id_venda %>
    </div>
    </div>
</script>

<script id="financeiro-template" type="text/template">
    <div class="well">
        <fieldset>
            <legend>Migração de Dados</legend>
        </fieldset>
        <div class="row-fluid">
            <div class="span4">
                <h4>Regra de Contrato</h4>
                <p>
                    Atual:
                    <b>
                        <%=
                        id_contratoregra
                        ? st_contratoregra + ' (ID ' + id_contratoregra + ')'
                        : 'Nenhum'
                        %>
                    </b>
                </p>
                <select id="id_contratoregradestino" class="span12" name="id_contratoregradestino"></select>
            </div>
            <div class="span4">
                <h4>Campanha Comercial</h4>
                <p>
                    Atual:
                    <b>
                        <%=
                        id_campanhacomercial
                        ? st_campanhacomercial + ' (ID ' + id_campanhacomercial + ')'
                        : 'Nenhuma'
                        %>
                    </b>
                </p>
                <select id="id_campanhacomercialdestino" class="span12" name="id_campanhacomercialdestino"></select>
            </div>
            <div class="span4">
                <h4>Campanha de Pontualidade</h4>
                <p>
                    Atual:
                    <b>
                        <%=
                        id_campanhapontualidade
                        ? st_campanhapontualidade + ' (ID ' + id_campanhapontualidade + ')'
                        : 'Nenhuma'
                        %>
                    </b>
                </p>
                <select id="id_campanhapontualidadedestino" class="span12"
                        name="id_campanhapontualidadedestino"></select>
            </div>
        </div>
    </div>
    <div class="well">
        <fieldset>
            <legend>
                <button id="btn-atualizar" class="btn pull-right" title="Recarregar lançamentos">
                    <i class="icon icon-refresh"></i>
                </button>
                Financeiro
            </legend>
        </fieldset>
        <div class="row-fluid">
            <div class="span7">
                <h5>PARCELAS ATUAIS DO CURSO DE ORIGEM</h5>
                <div id="lancamentos-origem"></div>
            </div>
            <div class="span5">
                <h5>PARCELAS A SEREM MIGRADAS</h5>
                <div id="lancamentos-destino"></div>
            </div>
        </div>
    </div>
</script>

<script id="botoes-template" type="text/template">
    <div dir="rtl">
        <button id="btn-continue" class="btn btn-success" type="button" data-toggle="modal" data-target="#modal-resumo">
            Prosseguir
        </button>
        <button id="btn-cancel" class="btn" type="button">
            Cancelar
        </button>
    </div>
    <div id="modal-resumo" class="modal hide fade">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h1 class="modal-title">Resumo</h1>
        </div>
        <div class="modal-body">
            <div class="well well-small">
                <h4>Matrícula</h4>
                <p>
                    Pólo de Destino:
                    <b><%= st_nomeentidadedestino %></b>
                    <br/>
                    Turma de Destino:
                    <b><%= st_turmadestino %></b>
                </p>
            </div>
            <div class="well well-small">
                <h4>Regra de Contrato</h4>
                <p>
                    Origem:
                    <b>
                        <%=
                        id_contratoregra
                        ? st_contratoregra + ' (ID ' + id_contratoregra + ')'
                        : 'Nenhum'
                        %>
                    </b>
                    <br/>
                    Destino:
                    <b>
                        <%=
                        id_contratoregradestino
                        ? st_contratoregradestino + ' (ID ' + id_contratoregradestino + ')'
                        : 'Nenhum'
                        %>
                    </b>
                </p>
            </div>
            <div class="well well-small">
                <h4>Campanha Comercial</h4>
                <p>
                    Origem:
                    <b>
                        <%=
                        id_campanhacomercial
                        ? st_campanhacomercial + ' (ID ' + id_campanhacomercial + ')'
                        : 'Nenhuma'
                        %>
                    </b>
                    <br/>
                    Destino:
                    <b>
                        <%=
                        id_campanhacomercialdestino
                        ? st_campanhacomercialdestino + ' (ID ' + id_campanhacomercialdestino + ')'
                        : 'Nenhuma'
                        %>
                    </b>
                </p>
            </div>
            <div class="well well-small">
                <h4>Campanha de Pontualidade</h4>
                <p>
                    Origem:
                    <b>
                        <%=
                        id_campanhapontualidade
                        ? st_campanhapontualidade + ' (ID ' + id_campanhapontualidade + ')'
                        : 'Nenhuma'
                        %>
                    </b>
                    <br/>
                    Destino:
                    <b>
                        <%=
                        id_campanhapontualidadedestino
                        ? st_campanhapontualidadedestino + ' (ID ' + id_campanhapontualidadedestino + ')'
                        : 'Nenhuma'
                        %>
                    </b>
                </p>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn" type="button" data-dismiss="modal">
                Não Transferir
            </button>
            <button id="btn-confirm" class="btn btn-success" type="button">
                Transferir
            </button>
        </div>
    </div>
</script>

<script id="lancamento-composite" type="text/template">
    <div class="table-responsive">
        <table class="table table-bordered table-striped backgrid table-hover">
            <thead>
            <tr>
                <th>#</th>
                <th>Meio de Pagamento</th>
                <th>Valor</th>
                <th>Vencimento</th>
                <% if (type === 'origem') { %>
                <th>Valor Baixado</th>
                <th>Data da Baixa</th>
                <% } %>
                <th>Situação</th>
            </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</script>

<script id="lancamento-item" type="text/template">
    <td>
        <%= bl_entrada ? 'Entrada' : nu_ordem %>
    </td>
    <td><%= st_meiopagamento %></td>
    <td><%= nu_valor ? parseFloat(nu_valor).toFixed(2) : '' %></td>
    <td><%= dt_vencimento %></td>
    <% if (type === 'origem') { %>
    <td><%= nu_quitado ? parseFloat(nu_quitado).toFixed(2) : '' %></td>
    <td><%= dt_quitado ? dt_quitado.date.substr(0, 10).split('-').reverse().join('/') : '' %></td>
    <% } %>
    <td><%= bl_quitado ? 'Paga' : 'Pendente' %></td>
</script>

<!-- MAIN REGION -->
<div id="layout-region">
    <div id="autocomplete-region" class="row-fluid"></div>
    <div id="form-region"></div>
    <div id="financeiro-region"></div>
    <div id="botoes-region"></div>
</div>

<!-- Componente Auto Complete -->
<link rel="stylesheet" type="text/css" href="<?php echo $this->baseUrl(); ?>/css/auto-complete-pessoa.css"/>
<script type="text/javascript" src="<?php echo $this->baseUrl(); ?>/js/auto-complete-componente.js"></script>
<?php echo $this->render('/util/auto-complete-pessoa.phtml'); ?>

<script type="text/javascript">
    $('#templateHolder').empty().append($('#htmlContent script[type="text/template"]'));
    <?php echo $this->render('/transferencia-polo/index.js') ?>
</script>