<script type="text/template" id="lista">
    <form name="form-lista-email" id="form-lista-email" onsubmit="return false;">
        <table class="table table-striped">
            <legend>Lista de E-Mails
                <div class="pull-right">
                    <a class="btn btn-success" id="btn-adicionar"><i class="icon icon-plus icon-white"></i>
                        Adicionar</a>
                </div>
            </legend>
            <thead>
            <tr>
                <th>E-Mail</th>
                <th class="span4">Ações</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </form>

    <div class="modal hide fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span>
                    </button>
                    <h5 class="modal-title" id="myModalLabel">Configuração de E-Mail</h5>
                </div>
                <div id="container-modal">

                </div>
            </div>
        </div>
    </div>
</script>

<script type="text/template" id="emailModal">
    <form class="form-inline" role="form" action="" method="post" id="form-email" name="form-email">
        <div class="modal-body">
            <div class="form-group">
                <legend>Dados Básicos</legend>
                <div class="row">
                    <div class="span5 control-group">
                        <label for="inputEmail" class="control-label">E-mail: </label>
                        <input type="email" autocomplete="off" required class="span4" id="inputEmail" required
                               value="<%= st_conta %> ">
                    </div>
                </div>
                <div class="row">
                    <div class="span5 control-group">
                        <label for="inputUser" class="control-label">Usuário: </label>
                        <input type="text" autocomplete="off" required class="span3" id="inputUser"
                               value="<%= st_usuario %>">
                    </div>
                </div>
                <div class="row">
                    <div class="span4">
                        <label for="inputPassword" class="control-label">Senha: </label>
                        <input type="password" autocomplete="off" <% if (!st_senha){ %> required <% } %> class="span3" id="inputPassword"
                               value="">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <legend> Dados de Envio</legend>
                <div class="row">
                    <div class="span5 control-group">
                        <label for="inputSmtp" class="control-label">SMTP: </label>
                        <input type="text" class="span2" required id="inputSmtp" value="<%= st_smtp %>">
                        <label for="inputPortaSaida" class="control-label">Porta de Saída: </label>
                        <input type="number" class="span1" required id="inputPortaSaida" value="<%= nu_portasaida %>">
                    </div>
                </div>
                <div class="row">
                    <div class="span5 control-group">
                        <label for="comboTipoConexao" class="control-label">Tipo de Conexão: </label>
                        <select class="span2 combobox" name="category" id="selectTipoConexao">
                            <option value="2" <%= (id_tipoconexaoemailsaida == 2 ? "selected" : "") %>>STARTTLS</option>
                            <option value="1" <%= (id_tipoconexaoemailsaida == 1 ? "selected" : "") %>>SSL/TLS</option>
                        </select>
                        <label for="chkautenticacao" class="control-label">
                            <input id="chkautenticacao"
                                   type="checkbox" <%= (bl_autenticacaosegura == 1 ? "checked" : "") %>> Autenticação
                            Segura
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <legend> Dados de Recebimento</legend>
                <div class="row">
                    <div class="span5 control-group">
                        <label for="inputPop" class="control-label">POP: </label>
                        <input type="text" class="span2" id="inputPop" required value="<%= st_pop %>">
                        <label for="inputPortaEntrada" class="control-label">Porta de Entrada: </label>
                        <input type="number" class="span1" id="inputPortaEntrada" required
                               value="<%= nu_portaentrada %>">
                    </div>
                </div>
                <div class="row">
                    <div class="span5 control-group">
                        <label for="inputImap" class="control-label">IMAP: </label>
                        <input type="text" class="span2" id="inputImap" value="<%= st_imap %>">
                    </div>
                </div>
                <div class="row">
                    <div class="span5 control-group">
                        <label for="selectConexaoEntrada" class="control-label">Tipo de Conexão: </label>
                        <select class="span2 name=" category" id="selectConexaoEntrada">
                        <option value="2" <%= (id_tipoconexaoemailentrada == 2 ? "selected" : "") %>>STARTTLS</option>
                        <option value="1" <%= (id_tipoconexaoemailentrada == 1 ? "selected" : "") %>>SSL/TLS</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-primary" id="btnSave">Salvar</button>
        </div>
    </form>
</script>


<script type="text/template" id="item-lista">
    <td>
        <%= st_conta %>
        <% if (bl_erro){ %>
            <span class="label label-important">Erro ao tentar enviar e-mails com essa configuração</span>
        <% } %>
    </td>
    <td>
        <div class="pull-right">
            <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
                Configurar
            </button>
            <a class="btn btn-small btn-danger delete"><i class="icon icon-white icon-trash"></i>Apagar</a>
        </div>
    </td>
</script>

<script type="text/javascript"> $('#htmlContent script[type="text/template"]').appendTo($('#templateHolder'));</script>
<script type="text/javascript" src="/contas-de-email/js"></script>