<link rel="stylesheet" type="text/css" href="<?php echo $this->baseUrl(); ?>/css/auto-complete-pessoa.css" />
<script type="text/javascript" src="<?php echo $this->baseUrl(); ?>/js/auto-complete-componente.js"></script>
<?php echo $this->render('/util/auto-complete-pessoa.phtml'); ?>
<div id="autoComplete" class="row-fluid" ></div>
<script type="text/javascript">
    $(function() {
        $.getScript('/modelo-backbone/VwPesquisarPessoa', function() {
            componenteAutoComplete.main({
                model: VwPesquisarPessoa,
                element: $("#autoComplete"),
            });
        });
    });
</script>
