<link rel="stylesheet" href="<?php echo $this->baseUrl(); ?>/css/robo/lancamento.css" type="text/css"
      media="screen, projection,print"/>
<div class="corpo">
    <div class="cabecalho">
        <h1 class="titulo">Relatório de Correção de Contratos</h1>
        <?php if ($this->mensagem): ?>
            <h2 class="titulo">
                <?php echo $this->mensagem; ?>
            </h2>
        <?php endif; ?>
        <?php if ($this->erro): ?>
            <h2 class="titulo">
                <?php echo $this->erro; ?>
            </h2>
        <?php endif; ?>
    </div>
    <?php if ($this->resultados):
        ?>
        <h1 class="titulo">
            Contratos corrigidos
        </h1>
        <div class="container">
            <table class="tabelas" border="1px solid black;">
                <thead>
                <tr>
                    <th class="colTH">Venda</th>
                    <th class="colTH">Nome Completo</th>
                    <th class="colTH">Entidade</th>
                </tr>
                </thead>
                <tbody>
                <?php
                $total = count($this->resultados['Contratos Corrigidos']);
                foreach ($this->resultados['Contratos Corrigidos'] as $res):
                    ?>
                    <tr>
                        <td><?php echo $res['id_venda'] ?></td>
                        <td><?php echo $res['st_nomecompleto'] ?></td>
                        <td><?php echo strtoupper($res['st_nomeentidade']) ?></td>
                    </tr>
                <?php endforeach; ?>
                <tr>
                    <td class="colTH">Total:</td>
                    <td class="colTH total"><?php echo $total ?></td>
                </tr>
                </tbody>
            </table>
        </div>
        <h1 class="titulo">
            Contratos não corrigidos
        </h1>
        <div class="container">
            <table class="tabelas" border="1px solid black;">
                <thead>
                <tr>
                    <th class="colTH">Venda</th>
                    <th class="colTH">Nome Completo</th>
                    <th class="colTH">Entidade</th>
                </tr>
                </thead>
                <tbody>
                <?php
                $total = count($this->resultados['Contratos Nao Corrigidos']);
                foreach ($this->resultados['Contratos Nao Corrigidos'] as $res):
                    ?>
                    <tr>
                        <td><?php echo $res['id_venda'] ?></td>
                        <td><?php echo $res['st_nomecompleto'] ?></td>
                        <td><?php echo strtoupper($res['st_nomeentidade']) ?></td>
                    </tr>
                <?php endforeach; ?>
                <tr>
                    <td class="colTH">Total:</td>
                    <td class="colTH total"><?php echo $total ?></td>
                </tr>
                </tbody>
            </table>
        </div>
    <?php endif; ?>
</div>
