<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Testes - Gestor 2</title>
<style type="text/css">
	body{
		font-family: "Verdana";
		font-size: 10px;
	}
</style>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/prototype/1.6.0.2/prototype.js"></script>
<script type="text/javascript">
	function carregarRO(){
		new Ajax.Request("<?php echo substr($_SERVER["PHP_SELF"], 0, -10); ?>/teste/mostrarro",{
			method:"POST",   
			asynchronous:false,
			onSuccess: function(resp){
				var resposta = resp.responseText.evalJSON(true);
				var selecione = new Element('option',{value:''});
				selecione.insert('- Selecione -');
				$('ro').insert(selecione);
				resposta.each(function(arquivo){
					var option = new Element('option',{value: arquivo}); 
					option.insert(arquivo); 
					$('ro').insert(option);
				});
				var ro = new Element('option',{value:'ro'});
				ro.insert('RO');
				$('ro').insert(ro);
			}
		});
		carregarMetodos();
	}
	function carregarMetodos(){
		$('ro').observe("change",function(){
			var pars = Form.serialize("form1", true);
			new Ajax.Request("<?php echo substr($_SERVER["PHP_SELF"], 0, -10); ?>/teste/mostrarmetodosro",{
				method:"POST",   
				parameters: pars,
				asynchronous:false,
				onSuccess: function(resp){
					var resposta = resp.responseText.evalJSON(true);
					if($('to')){
						$('to').value = '';
					}
					if($('compform')){
						$('compform').update('');
					}
					if($('metodoRO')){
						$('metodoRO').update('');
					}else{
						var labelMetodoRO = new Element('label',{ 'for' : 'metodoRO', id:'labelMetodoRO'});
						var metodoRO = new Element('select',{ id : 'metodoRO', name: 'metodoRO'});
						var selecione = new Element('option',{value:''});
						selecione.insert('- Selecione -');
						metodoRO.insert(selecione);
					}
					resposta.each(function(metodo){
						var option = new Element('option',{value: metodo}); 
						option.insert(metodo); 
						if($('metodoRO')){
							$('metodoRO').insert(option);
						}else{
							metodoRO.insert(option);
						}
					});
					if($('metodoRO') == undefined){
						labelMetodoRO.update('Método: ');
						$('form1').insert(labelMetodoRO);
						$('form1').insert(metodoRO);
					}
				}
			});
			carregarTosMetodo();
		});
	}
	function carregarTosMetodo(){
		if($('metodoRO')){
			$('metodoRO').stopObserving('change');
		}
		$('metodoRO').observe("change",function(){
			var pars = Form.serialize("form1", true);
			new Ajax.Request("<?php echo substr($_SERVER["PHP_SELF"], 0, -10); ?>/teste/procurartos",{
				method:"POST",   
				parameters: pars,
				asynchronous:false,
				onSuccess: function(resp){
					var resposta = resp.responseText.evalJSON(true);
					if(resposta.toString().length > 0){
						if($('to')){
							$('to').value = resposta;
						}else{
							var labelSetTO = new Element('label',{ 'for' : 'to'});
							labelSetTO.update('TO(s): ');
							var inputTO = new Element('input',{type:'text', id : 'to', name: 'to', size:'100%', value:resposta, 'readonly':'readonly'});
							var carregarTO = new Element('input',{type:'button', id: 'carregar', name:'carregar', value:'Carregar TOs'});
							$('form1').insert('<br />');
							$('form1').insert(labelSetTO);
							$('form1').insert(inputTO);
							$('form1').insert(carregarTO);
						}
					}else{
						$('form1').submit();
					}
				}
			});
			setsTO();
		});
	}
	function Trim(str){return str.replace(/^\s+|\s+$/g,"");}
	function setsTO(){
		if($('carregar')){
			$('carregar').stopObserving('click');
		}
		$('carregar').observe("click",function(){
			var pars = Form.serialize("form1", true);
			new Ajax.Request("<?php echo substr($_SERVER["PHP_SELF"], 0, -10); ?>/teste/mostrarsetsto",{
				method:"POST",   
				parameters: pars,
				asynchronous:false,
				onSuccess: function(resp){
					var compForm = new Element('div', {id:'compform'});
					$('form1').insert(compForm);
					$('compform').update('');
					var resposta = resp.responseText.evalJSON(true);
					var br = '<br />';
					var metodos = pars.to.split(",");
					resposta.each(function(setsTO, index){
						var multSets = new Element('select',{ multiple : 'multiple', id: 'setsTO', name: 'setsTO'+Trim(metodos[index])+'[]'});
						var labelSetTO = new Element('label',{ 'for' : 'seto'});
						var labelParsTO = new Element('label',{ 'for' : 'parametrosto'});
						var option;                
						setsTO.each(function(dado){
							option = new Element('option',{value: dado}); 
							option.insert(dado); 
							multSets.insert(option);
						});
						$('compform').insert(br);
						$('compform').insert(labelSetTO.insert('set '+Trim(metodos[index])+': '));
						$('compform').insert(br);
						$('compform').insert(multSets);
						$('compform').insert(br);
						var inputParsTO = new Element('textarea',{ cols:'50', rows:'4', name:'parametrosto'+Trim(metodos[index])+'', id:'parametrosto'});
						$('compform').insert(labelParsTO.insert('Parametro(s) '+Trim(metodos[index])+': '));
						$('compform').insert(br);
						$('compform').insert(inputParsTO);
						$('compform').insert('Ex.: eder,senha');
						$('compform').insert(br);
					});
					var labelSessaoUsu = new Element('label',{ 'for' : 'id_usuario'});
					var labelSessaoEnt = new Element('label',{ 'for' : 'id_entidade'});
					var labelSessaoPerfil = new Element('label',{ 'for' : 'id_perfil'});
					var inputSessaoUsu = new Element('input',{ type:'text', name:'id_usuario', id:'id_usuario', size:'5'});
					var inputSessaoEnt = new Element('input',{ type:'text', name:'id_entidade', id:'id_entidade', size:'3'});
					var inputSessaoPerfil = new Element('input',{ type:'text', name:'id_perfil', id:'id_perfil', size:'3'});
					
					var buttonSubmit = new Element('input',{type:'submit',name:'testar',id:'testar',value:'Testar'});

					$('compform').insert(labelSessaoUsu.insert('Sessão id_usuario: '));
					$('compform').insert(inputSessaoUsu);
					$('compform').insert('Ex.: 19');
					$('compform').insert(br);

					$('compform').insert(labelSessaoEnt.insert('Sessão id_entidade: '));
					$('compform').insert(inputSessaoEnt);
					$('compform').insert('Ex.: 6');
					$('compform').insert(br);
					
					$('compform').insert(labelSessaoPerfil.insert('Sessão id_perfil: '));
					$('compform').insert(inputSessaoPerfil);
					$('compform').insert('Ex.: 3');
					$('compform').insert(br);
					$('compform').insert(br);
					$('compform').insert(br);
					$('compform').insert(buttonSubmit);
				}
			}); 
		});
	}
</script>
</head>

<body onload="carregarRO()">
<div id="conteudo">
	<form id="form1" name="form1" method="post" action="<?php echo substr($_SERVER["PHP_SELF"], 0, -10); ?>/teste/testar">
	    <label for="ro" id="label">RO: </label>
	    <select id="ro" name="ro">
	    </select>
	</form>
</div>
</body>
</html>

