<html>
<head>
    <title>Post Teste Loja</title>
</head>
<body>
<form id="form_gestor2_gateway" name="form_gestor2_gateway"
      action="<?php echo \Ead1_Ambiente::geral()->st_url_loja; ?>/loja/pagamento/iniciar" method="post" target="_blank">
    <fieldset>
        <br>Produto 1:<br>ID_PRODUTO:
        <input type="text" name="produtos[0][id_produto]" value="7347"/>

        <br>Produto 1:<br>NU_QUANTIDADE:
        <input type="text" name="produtos[0][nu_quantidade]" value="1"/>

        <!--
        <br>Produto 1: ID_TURMA:
        <input type="text" name="produtos[0][id_turma]" value="22" />
        -->

    </fieldset>

    <br>ST_NOMECOMPLETO:
    <input type="text" name="cadastro[st_nomecompleto]" value="Elcio UNYLEYA Teste "/>

    <br>ST_EMAIL:
    <input type="text" name="cadastro[st_email]" value="elcioguimaraes@outlook.com"/>

    <br>ID_PAIS:
    <input type="text" name="cadastro[id_pais]" value="22"/>

    <br>ST_VENDAEXTERNA - CODIGO DA VENDA NO SISTEMA PARCEIRO:
    <input type="text" value="9999" name="st_vendaexterna">

    <br>st_wschave - CÓDIGO DA TB_ENTIDADE:
    <input type="text" value="<?php echo $this->entidade->getSt_wschave(); ?>" name="st_codchave">

    <br>ST_CODIGOCUPOM:
    <input type="text" value="" name="st_codigocupom">

    <br>id_campanhacomercial:
    <input type="text" value="123" name="id_campanhacomercial">

    <br>id_campanhacomercialpremio:
    <input type="text" value="" name="id_campanhacomercialpremio">

    <br>ID_USUARIO - PARA OS CASOS DO USUÁRIO JÁ EXISTENTE:
    <input type="text" value="10003523" name="id_usuario" size=120>

    <br>ST_URLVENDAEXTERNA:
    <input type="text" value="<?php echo Ead1_Ambiente::geral()->st_url_gestor2; ?>/teste/loja"
           name="st_urlvendaexterna">
    <br>ST_URLCONFIRMACAO - URL PARA ENVIAR O USUÁRIO DE VOLTA AO FIM DA COMPRA (TESTAR):
    <input type="text" value="<?php echo Ead1_Ambiente::geral()->st_url_gestor2; ?>/teste/loja/confirma"
           name="st_urlconfirmacao"><BR><BR>

    <fieldset>
        <legend>Tags Campanhas</legend>
        <div>
            <label>
                utm_source
                <input type="text" name="utm_source" value="Ambiente de Teste">
            </label>
        </div>
        <div>
            <label>
                utm_medium
                <input type="text" name="utm_medium" value="cost-per-click CPC">
            </label>
        </div>
        <div>
            <label>
                utm_campaign
                <input type="text" name="utm_campaign" value="TestDDS">
            </label>
        </div>
        <div>
            <label>
                utm_term
                <input type="text" name="utm_term" value="ambiente+teste">
            </label>
        </div>
        <div>
            <label>
                utm_content
                <input type="text" name="utm_content" value="formTest">
            </label>
        </div>
        <div>
            <label>
                origem_organica
                <input type="text" name="origem_organica" value="Outra origem ou informação qualquer">
            </label>
        </div>
    </fieldset>

    <button type="submit">Enviar</button>
</form>
</body>
</html>