<?php
Zend_Debug::dump($this->integracao);
?>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Teste Pearson</title>
</head>
<body>
<hr>

<strong>
    Token gerado pela concatena&ccedil;&atilde;o do <br> MD5( LOGIN +CHAVE):
    <br>
    (<?php echo $login = $this->integracao['st_usuario']; ?> +
    <?php echo $chave = $this->integracao['st_token']; ?>)

    <?php $str = $login . $chave; ?>
</strong>
<br>
<strong>
    URL:
    <?php echo $action = $this->integracao['st_caminho']; ?>
</strong>

<form action="<?php echo $action; ?>" method="post" target="_blank">
    <table border="1">
        <tr>
            <td width="297" align="right">
                <div align="left"><strong>Login:</strong></div>
            </td>
            <td width="679">
                <input id="login" name="login" type="text" value="<?php echo $this->integracao['st_usuario']; ?>"/>
            </td>
        </tr>
        <tr >
            <td>
                <div align="left">TOKEN</div>
            </td>
            <td>
                <input name="token" type="text" id="token" value="<?php echo md5($str) ?>" size="50" maxlength="50"/>
            </td>
        </tr>
        <tr>
            <td colspan=2>
                <center><input name="commit" type="submit" value="Incricao"/></center>
            </td>
        </tr>
    </table>
</body>
</html>