<link rel="stylesheet" href="<?php echo $this->baseUrl(); ?>/css/robo/enviomensagem.css" type="text/css"
      media="screen, projection,print"/>
<div class="geral">
    <fieldset>
        <div id="cabecalho">
            <span id="titulo">Relatório de alunos enviado ao Amais Avaliação</span>
            <BR/>
        </div>
        <BR/>
        <table style="width:100%; margin: 30px 0 0 0">
            <tr>
                <td>Cod aluno amais avaliação</td>
                <td>CPF do aluno</td>
                <td>Cod Usuário G2</td>
            </tr>
            <?php
            if (!empty($this->retorno)):
                foreach ($this->retorno as $aluno):
                    ?>
                    <tr>
                        <td><?php echo (isset($aluno->codUsuario)) ? $aluno->codUsuario : '--' ?></td>
                        <td><?php echo (isset($aluno->cpf)) ? $aluno->cpf : '--' ?></td>
                        <td><?php echo (isset($aluno->codUsuarioSistemaOrigem)) ? $aluno->codUsuarioSistemaOrigem : '--' ?></td>
                    </tr>
                    <?php
                endforeach;
            endif; ?>
        </table>
    </fieldset>
</div>