<html>
    <head>
        <title>WS Cadastro Disciplina persist</title>
    </head>
    <body>
        <form id="formCad" name="formCad" action="/ws/disciplinas/" method="post">
            <input type="hidden" value="0e6d19a5bf0c6c363675a38355bc85a6381b0191" name="chave" >
            <input type="hidden" value="14" name="id" >
            <input type="hidden" value="salvar" name="method" >
            <fieldset>
                <legend>Disciplina</legend>
                <label> st_disciplina
                    <input type="text" name="parametros[st_disciplina]">
                </label>
                <label> nu_cargahoraria
                    <input type="text" name="parametros[nu_cargahoraria]">
                </label>
                <label> bl_compartilhargrupo
                    <select name="parametros[bl_compartilhargrupo]">
                        <option value="true">Sim</option>
                        <option value="false">Não</option>
                    </select>
                </label>
                <label> id_situacao
                    <select name="parametros[id_situacao]">
                        <option value="9">ativo</option>
                    </select>
                </label>
                <label> id_tipodisciplina
                    <select name="parametros[id_tipodisciplina]">
                        <option value="1">tcc</option>
                    </select>
                </label>
                <label> id_usuariocadastro
                    <select name="parametros[id_usuariocadastro]">
                        <option value="1">Felipe</option>
                    </select>
                </label>
            </fieldset>

            <fieldset>
                <legend>Coordenadores</legend>
                <div>
                    <select name="parametros[coordenador][id_usuario][]">
                        <option value="">Selecione</option>
                        <option value="11944">Julio Cesar Pissuti Damalio    </option>
                        <option value="293">Marcelo Whately Paiva</option>
                    </select>
                    <input type="number" name="parametros[coordenador][nu_porcentagem][]">
                </div>
                <div>
                    <select class="span12" name="parametros[professor][id_usuario][]">
                        <option value="">Selecione</option>
                        <option value="16272">Adjailton de Oliveira Cabrera</option>
                        <option value="11168">ADRIANA DE OLIVEIRA SANTOS ALFANI</option>
                        <option value="6724">Adriana Franzoi Wagner</option>
                        <option value="4674">Adriana Kazue Takako</option>
                        <option value="12151">Adrianne Simões Santos</option>
                        <option value="9377">Alessandra Alves Correa Forner</option>
                        <option value="13368">Alessandra Andrea Monteiro</option>
                        <option value="3938">Alessandra Argenton Sciota</option>
                        <option value="15384">Alexandre Barcelos</option>
                        <option value="5407">Alexandre Fernandes Soares</option>
                        <option value="4093">Alexandre Pistóia Saydelles</option>
                        <option value="2684">Aline Brandão Mariath</option>
                        <option value="13623">Aline Cirelli Coppede</option>
                        <option value="13420">Aline Dessupoio Chaves</option>
                        <option value="4108">Aline Freire Bezerra Vilela</option>
                        <option value="17719">Aline Garrido Costa da Silva</option>
                        <option value="3712">Aline Magalhães Soares</option>
                        <option value="15743">Aline Matos Barbosa</option>
                        <option value="17663">Aline Rodrigues Cabral</option>
                        <option value="5096">Aline Sabbi Essenburg</option>
                        <option value="1885">Aline Sampaio de Oliveira</option>
                        <option value="4099">Allana de Oliveira Albuquerque Padilha</option>
                        <option value="17736">ANA CANDIDA SCHIER MARTINS LOPES</option>
                        <option value="4084">Ana Claudia Faria Borges de Campos</option>
                        <option value="13361">Ana Eliza Zeraik</option>
                        <option value="1892">Ana Elizabeth Maia de Albuquerque</option>
                        <option value="2556">Ana Flávia de Rezende Gomes Máximo</option>
                        <option value="12592">Ana Isabel de Camargo</option>
                        <option value="14920">Ana Maria Monteiro-W</option>
                        <option value="12581">Ana Paula Erbetta Sueitt</option>
                        <option value="29694">Ana Paula Rabelo Chaves</option>
                        <option value="13627">Ana Silvia Moccellin</option>
                        <option value="2976">Anália de Oliveira Maia</option>
                        <option value="11979">Anderson Diogo de Souza Lino</option>
                        <option value="3628">André de Souza Mecawi</option>
                        <option value="13360">André Guelli Lopes     </option>
                        <option value="15416">Andréa Cristina Primerano </option>
                        <option value="3794">Andrea Donato Drummond</option>
                        <option value="2541">Andréa Donato Drumond</option>
                        <option value="3302">ANDRÉA MARIA FERREIRA BARBOSA</option>
                        <option value="3934">Andresa Minatel</option>
                        <option value="4641">Angela Terumi Fushita</option>
                        <option value="4124">Anna Maly de Leão</option>
                        <option value="1874">Anna Maria Napoli</option>
                        <option value="4635">Antonio Decio Rodrigues Guerreiro</option>
                        <option value="4664">Arquiléia Itair Peixoto Gonçalves</option>
                        <option value="12615">Assuero Faria Garcia</option>
                        <option value="28964">Augusto Parras Albuquerque</option>
                        <option value="288">Bernadete Aparecida de Carvalho</option>
                        <option value="2769">Bernardo Creimer Cherman</option>
                        <option value="5773">Bruna Gabriele Biffe</option>
                        <option value="7803">Camila Ferraz Lucena Monaco</option>
                        <option value="17741">Camila Gigli</option>
                        <option value="4676">Camila Linhares Taxini</option>
                        <option value="17656">Camila Miranda Loiola Barreiro</option>
                        <option value="15226">Carina Almeida Morais</option>
                        <option value="15263">Carla Alessandra Barreto</option>
                        <option value="1900">Carla Castro</option>
                        <option value="25937">Carla Cristina Lopes</option>
                        <option value="2728">Carla Priscila Alves Braga </option>
                        <option value="17684">Carla Souto Bahillo</option>
                        <option value="13372">Carlos Alberto Reis de Freitas</option>
                        <option value="2557">Carlos Alcantara</option>
                        <option value="15250">Carlos Eduardo Candido Pereira</option>
                        <option value="48507">CARLOS HENRIQUE OLIVEIRA DE PAULO</option>
                        <option value="4607">Carolina Biz Rodrigues Silva</option>
                        <option value="4127">Carolina Elisabetta Martins Maccariello </option>
                        <option value="17979">Carolina Ghelli Ferreira de Melo</option>
                        <option value="13622">CAROLINE LOPES GOMES DE ABREU</option>
                        <option value="15251">CAROLINE RANIRO </option>
                        <option value="6886">Catharina Callil João Paiva</option>
                        <option value="1881">Cecilia Gomes Muraro Alecrim</option>
                        <option value="15374">Cesar Augusto Cardoso Caetano</option>
                        <option value="2765">Cesar Augusto Leitão</option>
                        <option value="3626">Charles Chenwei Wang</option>
                        <option value="13260">Charleston Muniz</option>
                        <option value="11995">Clariana Rodrigues Ruy</option>
                        <option value="6779">Clarissa Baia Bargas Uezim</option>
                        <option value="12579">Claudia Feriotti</option>
                        <option value="48367">CLAUDIA GOMES LIGOCKI</option>
                        <option value="15386">Cláudio José Carvajal Júnor</option>
                        <option value="15950">CLEUSA REGINA SILVANO</option>
                        <option value="3173">CONCEIÇÃO REJANE MIRANDA DA CRUZ</option>
                        <option value="14755">Cristiane Bertucci Nicoleti</option>
                        <option value="14941">Cristiane de Castro Ramos Abud</option>
                        <option value="17703">Cristiane Faccio Gomes</option>
                        <option value="17328">Cristiane Maldonado dos Santos Gouget</option>
                        <option value="13466">CRISTIANE PAIVA ALVES</option>
                        <option value="4692">Daniel Ferguson Motheo</option>
                        <option value="4915">Daniela Martins da Silva</option>
                        <option value="14942">Daniela Rodriguez Mariano</option>
                        <option value="4929">Daniele Sá Vido</option>
                        <option value="16204">Danielle Lucy Barbosa Serra</option>
                        <option value="11959">Danilo Rodrigues Bertucci</option>
                        <option value="47698">Débora Fernanda Vieira</option>
                        <option value="8069">Débora Luana Daltro Vila Nova </option>
                        <option value="15941">Deborah Farah Sobrinho</option>
                        <option value="215">Denise Maria dos Santos Paulinelli Raposo A</option>
                        <option value="14875">Denise Werneck de Paiva</option>
                        <option value="14181">Diana Lima dos Reis</option>
                        <option value="14635">DILMA CARVALHO DIAS NOGUEIRA</option>
                        <option value="13373">Dimitri Wuo Pereira</option>
                        <option value="290">Ednaira Dayanna Dantas e Dantas de Menezes</option>
                        <option value="3933">Eduardo Alberto Manfredini</option>
                        <option value="1963">Egle Pires Santos</option>
                        <option value="1972">Eglê Santos Fróes</option>
                        <option value="15249">ELAINE CRISTINA SCARLATTO</option>
                        <option value="23241">Eleci Teresinha Dias da Silva-W</option>
                        <option value="1877">Eliana da Silva Soares</option>
                        <option value="15418">ELIANA MARIA TOLEDO DE SOUSA BRAGA</option>
                        <option value="2979">Eliane Maria Cherulli Carvalho</option>
                        <option value="282">Elias Alexandre Oliveira dos Santos</option>
                        <option value="3300">Elisângela Moreira Periaci</option>
                        <option value="13424">Eliseu Frank de Araujo</option>
                        <option value="4096">Elizabeth Bianchi Wojslaw</option>
                        <option value="1872">Emanuella Sousa Teles Monteiro</option>
                        <option value="13288">Ennio da Silveira Scarpellini</option>
                        <option value="15744">Eric Brum de Lima Duarte</option>
                        <option value="3972">Érica de Matos Severino</option>
                        <option value="1961">Érika Valeska Rossetto</option>
                        <option value="13299">FABIANA ALMEIDA FOLTRAN</option>
                        <option value="47955">Fabiana Coelho Fernandes </option>
                        <option value="48305">Fabiana Oliveira Beda Macêdo</option>
                        <option value="13427">Fabio Alexandre Casarin Pastor</option>
                        <option value="13363">Fábio Henrique Dyszy</option>
                        <option value="4128">Fabricia Viana Fonseca</option>
                        <option value="284">Fabrício Augusto Gomes</option>
                        <option value="216">Fabrício Auguto - NÃO USAR</option>
                        <option value="17878">Fabrício Bruno Cardoso</option>
                        <option value="48497">Fabrício Henrique dos Santos Simões</option>
                        <option value="13474">Felipe de Oliveira Matos  </option>
                        <option value="2711">Fernanda Alves de lima Gomes</option>
                        <option value="15942">Fernanda Beatriz Ferreira de Macedo</option>
                        <option value="13410">Fernanda de Farias Ferreira </option>
                        <option value="3188">Fernanda Franz Mendonça</option>
                        <option value="13371">Fernanda Guzzo Gomes</option>
                        <option value="1901">Fernanda Marsaro dos Santos</option>
                        <option value="4113">Fernanda Matias</option>
                        <option value="13413">Fernanda Moreira de Freitas Soares</option>
                        <option value="1893">Fernanda Penna de Moraes da Costa Baptista</option>
                        <option value="2716">Fernando de Rezende Francisco</option>
                        <option value="16306">Fernando José Gonzalez</option>
                        <option value="2559">Flávia Regina de Andrade Varela</option>
                        <option value="15989">Francisco José Paletta Picorelli</option>
                        <option value="17755">Gabriela Ribeiro Ivo Rodrigues</option>
                        <option value="3974">Georges Carlos Fredderico Moreira Seigneur</option>
                        <option value="291">Geovana da Mata Tavares</option>
                        <option value="2539">Gerson Martins de Souza</option>
                        <option value="3005">Gillian Alonso Arruda</option>
                        <option value="4097">Giovani de Oliveira</option>
                        <option value="17735">Gisele Senhorini</option>
                        <option value="3505">Giselle Pinto Magalhães</option>
                        <option value="15969">Giuvana Silva</option>
                        <option value="6891">Gizele Pereira Mota</option>
                        <option value="2770">Glauber de Castro Barbosa</option>
                        <option value="13459">Grasiéla Nascimento Correia</option>
                        <option value="12555">GUILHERME FLEURY FINA SPERETTA</option>
                        <option value="48349">Gustavo de Carvalho Linhares</option>
                        <option value="4679">Gustavo Henrique Rigo Canevazzi</option>
                        <option value="13412">Helena Seibert</option>
                        <option value="2777">Hellen Rosa Ferreira</option>
                        <option value="48467">Helton José Wiggers</option>
                        <option value="4665">Hudson Azevedo Pinheiro</option>
                        <option value="47988">IENDEL RUBIO DO NASCIMENTO</option>
                        <option value="25040">Igor Duarte de Almeida</option>
                        <option value="3975">Igor França Guedes</option>
                        <option value="1873">Ingrid Ribeiro da Rocha Silva</option>
                        <option value="3635">Iracema Gomes de Araujo</option>
                        <option value="3174">Iran Barros Nunes</option>
                        <option value="1890">Irene Lage de Britto</option>
                        <option value="4103">Isabela Cristina Baudson Godoi</option>
                        <option value="33408">Jacinto Rodrigues Franco</option>
                        <option value="3980">JAILSON SOARES DE MELO</option>
                        <option value="3939">Jair Abreu Campos</option>
                        <option value="1899">Jane Batista de Almeida</option>
                        <option value="17463">JAQUELINE CASTILHO DE OLIVEIRA</option>
                        <option value="11998">Jéssica Cardoso de Souza</option>
                        <option value="4666">Joana Pantoja Scharinger</option>
                        <option value="16289">João Carlos Lopes Fernandes</option>
                        <option value="285">João Francisco Sinott Lopes</option>
                        <option value="15378">João Gilberto Pinho</option>
                        <option value="4675">João Guilherme de Oliveira Silvestre</option>
                        <option value="15083">João Raimundo Alves dos Santos</option>
                        <option value="4727">João Walter de Souza da Silveira</option>
                        <option value="12595">Joci Neuby Alves Macedo</option>
                        <option value="186">José Alceu de Oliveira Filho</option>
                        <option value="4680">José Augusto Ribeiro Maia</option>
                        <option value="17">JOSÉ COSSI</option>
                        <option value="12616">José Luiz de Souza Lopes</option>
                        <option value="16321">JOSÉ NORBERTO SOUSA LOPES</option>
                        <option value="3177">Josue Octavio Placido Mathedi</option>
                        <option value="3936">Juliana Binotti Pereira Scariato</option>
                        <option value="11999">JULIANA BORGES PEREIRA</option>
                        <option value="47700">Juliana Cheleski</option>
                        <option value="17702">Juliana de Sá Machado Guilam</option>
                        <option value="4613">Juliana Lopez de Oliveira</option>
                        <option value="47712">Juliana Martins de Mesquita Matos</option>
                        <option value="14353">Juliana Silva Vidal Pereira</option>
                        <option value="4608">Juliandrey Oliveira Moura</option>
                        <option value="4609">Juliane Costa Silva Zemdegs</option>
                        <option value="1882">Julianna Cauchik Fontes Vieira</option>
                        <option value="14752">Júlio César Conceição Filho</option>
                        <option value="11944">Julio Cesar Pissuti Damalio    </option>
                        <option value="4515">Junia Celia Nicola</option>
                        <option value="13802">Karlene Lobo Sampaio</option>
                        <option value="12353">KATHERINE MARIA DE ARAUJO VERAS</option>
                        <option value="1889">Leandro Gabriel dos Santos</option>
                        <option value="15375">Leandro Rubim de Freitas</option>
                        <option value="15164">Leonor Maria da Silva Gomes</option>
                        <option value="14322">Liana Mayara Queiroz Caland</option>
                        <option value="1962">Luciana Rodrigues Pinto Dantas</option>
                        <option value="12534">Luciane Magri Tomaz</option>
                        <option value="17561">Luciano Marcos Pires</option>
                        <option value="14760">Luciano Nascimento Corsino </option>
                        <option value="48509">LUIS ANTONIO DA SILVA TEIXEIRA BAPTISTA</option>
                        <option value="48508">LUIS ANTONIO DA SILVA TEIXEIRA BAPTISTA - ERRADO</option>
                        <option value="12593">Luis Fernando Reyes  </option>
                        <option value="48368">LUISA BEI CATOIRA</option>
                        <option value="12548">LUISA CEDIM</option>
                        <option value="14437">Luísiane de Ávila Santana</option>
                        <option value="10599">LUIZ CARLOS  BIVAR CORRÊA JUNIOR</option>
                        <option value="28767">Luiz Fernando Approbato Selistre</option>
                        <option value="2134">Luiz Henrique Horta Hargreaves</option>
                        <option value="2712">Luiz Roberto Pires Domingues Junior</option>
                        <option value="15422">Lyselene Candalaft ALcantara Prol</option>
                        <option value="1870">Magalis Bésser Dorneles Schneider</option>
                        <option value="13255">Manoel Maia Jovita</option>
                        <option value="29058">Manuel João Simões de Araújo</option>
                        <option value="4638">Marcela Lopes Bhering da Silva</option>
                        <option value="17567">Marcelo Eustáquio Ferreira</option>
                        <option value="1876">Marcelo Francisco Xavier</option>
                        <option value="293">Marcelo Whately Paiva</option>
                        <option value="1894">Márcia Gonzaga Nespereira Andelo</option>
                        <option value="13407">Marcia Nacif Pinheiro</option>
                        <option value="2540">Márcio Luiz da Silva Gama</option>
                        <option value="14193">Márcio Moreira Leal</option>
                        <option value="28916">Marco Antonio dos Santos</option>
                        <option value="16271">Marco Antônio Furlan de Souza</option>
                        <option value="28971">Marco Tadeu Grassi</option>
                        <option value="11346">MARCUS VINICIUS DIAS SOUZA</option>
                        <option value="29651">Maria Augusta Alves Pimenta</option>
                        <option value="13422">Maria Cecília Conceição Evora</option>
                        <option value="1883">Maria Celeste Gomes Muraro</option>
                        <option value="1898">Maria Célia Cardoso de Lima</option>
                        <option value="15940">Maria das Graças Queiroz Almeida</option>
                        <option value="16361">Maria do Socorro Andrade de Souza</option>
                        <option value="28749">Maria José Cury Laruccia</option>
                        <option value="13298">Mariana Vieira Batistão</option>
                        <option value="12552">MARINA RODRIGUES BARBOSA</option>
                        <option value="11984">Markus Vinicius Campos Souza</option>
                        <option value="15420">Marli Candalaft Alcântara Parra Peres</option>
                        <option value="4670">Marta Peres Sobral Rocha</option>
                        <option value="12582">Matheus Pereira Postigo</option>
                        <option value="12061">MAURICIO SILVA</option>
                        <option value="2771">Max Bianchi Godoy</option>
                        <option value="4106">Meri Neide Conque Ferreira</option>
                        <option value="13429">Michel Barbosa De Araújo</option>
                        <option value="13400">Michele Carbinatto</option>
                        <option value="47982">Milena Lourenço Madrid</option>
                        <option value="29720">Milena Oliveira da Silva</option>
                        <option value="3973">Milene Marins Ramos da Silva</option>
                        <option value="48506">Monica Beatriz Ortolan Libardi</option>
                        <option value="1964">Naira Milene Silva Vosmirko</option>
                        <option value="3932">Nancy Letícia Wanderlei Gallardo</option>
                        <option value="14266">Natalia Borges Marcelino</option>
                        <option value="11987">Nuno Manuel Frade de Sousa</option>
                        <option value="2701">Odnéa Quartieri Ferreira Pinheiro</option>
                        <option value="15074">Orlando Correa</option>
                        <option value="3176">ORLANDO DA COSTA MAXIMIANO</option>
                        <option value="16313">Ovidio Lopes da Cruz Netto</option>
                        <option value="17686">Patricia Ebersbach Silva</option>
                        <option value="19022">Patricia Fernanda Faria dos Santos</option>
                        <option value="1869">Patrícia Silvestre Limeira</option>
                        <option value="2079">Paula Nunan</option>
                        <option value="4111">Paulo Celso dos Reis Gomes</option>
                        <option value="12618">Paulo César de Camargo</option>
                        <option value="48511">Paulo José Barbosa de Souza</option>
                        <option value="48510">Paulo José Barbosa de Souza - ERRADO</option>
                        <option value="2710">Paulo Roberto Pinto da Silva</option>
                        <option value="4112">Paulo Rogério Albuquerque de Oliveira</option>
                        <option value="13313">Paulo Sérgio Pontes  da Silva Mafra        </option>
                        <option value="2029">Polínia Meireles Cosac</option>
                        <option value="2565">Priscilla Fernandes Pereira</option>
                        <option value="4630">Raphael da Silva Affonso</option>
                        <option value="16210">Raquel Regina Zmorzenski Valduga Schöninger </option>
                        <option value="13365">RAQUEL STOILOV PEREIRA MOREIRA</option>
                        <option value="13335">Raquel Teixeira Ferreira</option>
                        <option value="4636">Raramiz Euripedes Bittencourt</option>
                        <option value="2569">Ráucia de Moraes Resende</option>
                        <option value="12577">Rebeca Confolonieri</option>
                        <option value="47752">RENATA CARDOSO DE CASTRO TOURINHO</option>
                        <option value="17653">Renata da Silva Cardoso Rocha Tavares</option>
                        <option value="15392">Renata Dal Bó Mazzuco</option>
                        <option value="29730">Renata de Moura Guedes</option>
                        <option value="12539">Renata Pedrolongo Basso</option>
                        <option value="2729">Renata Pires Dotto</option>
                        <option value="4449">Renata Ribeiro Novais de Carvalho</option>
                        <option value="292">Ricardo Henrique Gomes</option>
                        <option value="14182">Rita de Cássia Barbosa Lopes Vivas</option>
                        <option value="1967">Rita de Cássia Leal Fonseca dos Santos</option>
                        <option value="1974">Rita Estefânia Luz dos Passos Matos</option>
                        <option value="13455">Roberta de Fátima Carreira Moreira</option>
                        <option value="3175">Roberta Rodrigues Teixeira de Castro</option>
                        <option value="1973">Róbison Gonçalves de Castro</option>
                        <option value="16309">Rodolfo da Silva Avelino</option>
                        <option value="11166">RODRIGO ALFANI</option>
                        <option value="13454">Rodrigo Augusto Dalia</option>
                        <option value="13374">Rodrigo Luiz Vecchi</option>
                        <option value="1966">Rogério de Moraes Silva</option>
                        <option value="1965">Rogério Gonçalves de Castro</option>
                        <option value="9892">Ronaldo Balestra Choze </option>
                        <option value="2804">Ronaldo Cardoso Garcia Filho</option>
                        <option value="1897">Rosania Aparecida Stoco de Oliveira</option>
                        <option value="1960">Rose Paula Fernandino da Silva</option>
                        <option value="3935">Rosemeire Camilo Nunes del Giglio</option>
                        <option value="17885">Rúbia Marçal Rodrigues</option>
                        <option value="4058">SABRINA SOUSA FREIRE</option>
                        <option value="283">Sandra Regina Corrêa Brant Pereira de Jesus</option>
                        <option value="47714">Saulo Fantato Moscardini</option>
                        <option value="12381">SEBASTIÃO MARCOS SPOLIDORO</option>
                        <option value="16665">Sidney Fernandes</option>
                        <option value="47928">Simone Aparecida Baldavia Girotto</option>
                        <option value="1902">Sonia Carvalho Leme Moura Véras</option>
                        <option value="14662">Stéphanie Alá Cunha</option>
                        <option value="2535">Suelen Carlos de Oliveira</option>
                        <option value="4914">Susiane Gusi Boin e Oliveira</option>
                        <option value="3810">Taís Pinto da Silva</option>
                        <option value="13473">Tássia Reury da Piedade Mesquita</option>
                        <option value="4611">Tatiana Coelho Palhano</option>
                        <option value="10722">Tatiana Coelho Pinto Carvalho Carpanez</option>
                        <option value="47993">Tatiani Piedade de Campos</option>
                        <option value="2731">TAYSE TÂMARA DA PAIXÃO DUARTE</option>
                        <option value="16106">Thaís Zanutto Mendes</option>
                        <option value="13364">Thatyane Morimoto Nobre Pavinatto</option>
                        <option value="4792">Tupac Borges Petrillo</option>
                        <option value="15862">Vagner Lisoski Duarte</option>
                        <option value="4677">Valéria Gonçalves Albieri Mattos</option>
                        <option value="11976">Valéria Gonçalves de Araújo</option>
                        <option value="13409">Vanessa Aparecida de Brito Rei</option>
                        <option value="4126">Vanessa Carvalho Moreira</option>
                        <option value="13460">Vanessa Santos Pereira</option>
                        <option value="2567">Vânia Cristina da Silva Alcantara</option>
                        <option value="29592">Velane Oliveira Fernandes</option>
                        <option value="4102">VERONICA SILVA FERREIRA VIEIRA</option>
                        <option value="3948">Vilma Goulart Santos Guilherme</option>
                        <option value="30022">Vinícius de Freitas Soares</option>
                        <option value="12578">Vitor Hugo Balasco Serrão</option>
                        <option value="12003">Vivian Maria Arakelian</option>
                        <option value="13258">VIVIANE MAIA JOVITA FERNANDES</option>
                        <option value="15379">Wagner Marcelo Sanchez</option>
                        <option value="13261">WALDEMAR ASSUNÇÃO MATOS</option>
                        <option value="28747">William Santos Salvestro</option>
                        <option value="13366">Willian Lazaretti da Conceição</option>
                        <option value="13264">Yuri Sampaio Zuvanov</option>
                    </select>
                    <input type="number" name="parametros[professor][nu_porcentagem][]">
                </div>
            </fieldset>
            <fieldset>
                <legend>Área Conhecimento</legend>
                <div id="areas">
                </div>
            </fieldset>
            <button>Salva</button>
        </form>
        <script src="/js/jquery-1.9.1.min.js"></script>

        <script type="text/javascript">
            $(function() {
                $.ajax({
                    url: '/disciplina/get-arvore-area-conhecimento',
                    dataType: 'json',
                    success: function(data) {
                        if (data) {
                            $.each(data, function(i, row) {
                                $("#areas").append('<label><input type="checkbox" name="parametros[id_areaconhecimento][]" value="' + row.id + '">' + row.st_areaconhecimento + '</label>');
                            });
                        }
                    }
                });
            });
        </script>

    </body>
</html>