<form action="http://gestor2lite.localhost.com.br/ws/entidade/">
    <label>
        Chave:
        <input name="chave" value="0e6d19a5bf0c6c363675a38355bc85a6381b0191">
    </label>
    <label>
        Id:
        <input name="id" value="14">
    </label>
    <label>
        Method:
        <input name="method" value="listarunidades">
    </label>
    <label>
        Id Entidade Cadastro:
        <input name="parametros[id_entidadecadastro]" value="14">
    </label>
    <button>Vai</button>
</form>