<?php
/**
 * Created by PhpStorm.
 * User: Alex Alexandre <alex.alexandre@unyleya.com.br>
 * Date: 16/05/2018
 * Time: 14:27
 */
?>

<script type="text/template" id="template-filtro-ocorrencias">
    <fieldset class="filtro-funcao">
        <div class="well">
            <legend>Organização</legend>
            <div class="row-fluid">
                <label class="span4">
                    Minha Função
                    <select class="span12" id="id_funcao" name="id_funcao">
                        <option value="">Selecione</option>
                    </select>
                </label>
            </div>
        </div>
    </fieldset>

    <fieldset class="filtro-ocorrencia">
        <div class="well">
            <legend>Dados da Ocorrência</legend>

            <div class="row-fluid">
                <label class="span3">
                    <dt id="id_ocorrencia-label">
                        <label for="id_ocorrencia" class="optional">Código:</label>
                    </dt>
                    <input type="text" name="id_ocorrencia" id="id_ocorrencia" value="" class="span12">
                </label>

                <div class="span3">
                    <dt id="id_ocorrencia-label">
                        <label for="id_ocorrencia" class="optional">Atendente:</label>
                    </dt>
                    <select class="span12" id="id_atendente" name="id_atendente">
                        <option>Selecione</option>
                    </select>
                </div>

                <label class="span3">
                    <dt id="id_ocorrencia-label">
                        <label for="id_ocorrencia" class="optional">Assunto:</label>
                    </dt>
                    <select class="span12" id="id_assunto" name="id_assunto">
                        <option value="">Selecione o Assunto</option>
                    </select>
                </label>

                <label class="span3">
                    <dt id="id_ocorrencia-label">
                        <label for="id_ocorrencia" class="optional">Subassunto:</label>
                    </dt>
                    <select class="span12" id="id_subassunto" name="id_subassunto">
                        <option value="">Selecione o Subassunto</option>
                    </select>
                </label>
            </div>
            <div class="row-fluid">
                <label class="span3">
                    <dt id="id_ocorrencia-label">
                        <label for="id_ocorrencia" class="optional">Evolução:</label>
                    </dt>
                    <select class="span12" id="id_evolucao" name="id_evolucao">
                        <option value="">Selecione a Evolução</option>
                        <option value="">Todas</option>
                    </select>
                </label>

                <label class="span3">
                    <dt id="id_ocorrencia-label">
                        <label for="id_ocorrencia" class="optional">Situação:</label>
                    </dt>
                    <select class="span12" id="id_situacao" name="id_situacao">
                        <option value="97">Pendente</option>
                        <option value="98" selected>Em andamento</option>
                    </select>
                </label>

                <div class="pull-right marginT20">
                    <label id="qnt" class="badge badge-inverse"></label>
                    <button id="id_btn-pesquisar" class="btn btn-custom" type="submit">
                        <i class="icon-search icon-white"></i>
                        Pesquisar
                    </button>
                </div>

            </div>
        </div>
    </fieldset>

    <div id="regiao-encaminhar-ocorrencias"> </div>

    <div id="data-ocorrencia"><!--Conteudo preenchido pelo backgrid--></div>
</script>

<script type="text/template" id="itemView-encaminhar-ocorrencias">
    <fieldset class="filtro-funcao">
        <div class="well">
            <legend>Encaminhar Ocorrência</legend>
            <div class="row-fluid">
                <label class="span4">
                    Assunto
                    <select class="span12" id="id_assunto_encaminhar" name="id_assunto_encaminhar">
                        <option value="">Selecione</option>
                    </select>
                </label>

                <label class="span4">
                    SubAssunto
                    <select class="span12" id="id_subassunto_encaminhar" name="id_subassunto_encaminhar">
                        <option value="">Selecione</option>
                    </select>
                </label>

                <label class="span4">
                    Atendente
                    <select class="span12" id="id_atendente_encaminhar" name="id_atendente_encaminhar">
                        <option value="">Selecione</option>
                    </select>
                </label>

                <div class="pull-right marginT20">
                    <button id="id_btn_encaminhar" class="btn btn-custom" type="submit">
                        <i class="icon-envelope icon-white"></i>
                        Encaminhar
                    </button>
                </div>
            </div>
        </div>
    </fieldset>
</script>

<script type="text/javascript">
    $('#htmlContent script[type="text/template"]').appendTo($('#templateHolder'));
    <? echo $this->render('encaminhar-ocorrencias/index.js')?>
</script>