<div class="">
    <div class="card-part card-front">
        <img class="card-bg" src="/gestor2/img/carteirinhas/faculdade-unyleya2018.jpg" alt="Graduação"/>
        <?php if (!empty($this->dados['st_urlavatar']) && file_exists(realpath(APPLICATION_PATH . "/../public" . $this->dados['st_urlavatar']))) { ?>
            <div class="card-avatar">
                <img src="<?php echo $this->dados['st_urlavatar'] ?>" alt=""/>
            </div>
        <?php } ?>
        <div class="card-validade">
            <?php echo $this->dados['dt_validade'] ?>
        </div>
        <div class="card-mat">
            <?php echo $this->dados['id_matricula'] ?>
        </div>
        <div class="card-nome uppercase">
            <?php echo $this->dados['st_nomecompleto'] ?>
        </div>
        <div class="card-curso uppercase">
            <?php echo $this->dados['st_tituloexibicao'] ?>
        </div>
    </div>
</div>

<style type="text/css">
    img {
        max-width: 100%;
    }

    .card-part {
        position: relative;
        font-size: 9px;
        height: 202px;
        overflow: hidden;
        width: 323px;
    }

    .card-bg {
        height: 100%;
        width: 100%;
    }

    .card-avatar {
        position: absolute;
        top: 11.3%;
        left: 72%;
        height: 87px;
        overflow: hidden;
        width: 72px;
        z-index: 1;
        -webkit-border-radius: 14px;
        -moz-border-radius: 14px;
        border-radius: 4px;
    }

    .card-avatar img {
        object-fit: cover;
        height: 100%;
        width: 100%;
    }

    .card-nome {
        position: absolute;
        top: 44%;
        left: 16.5%;
        width: 57%;
    }

    .card-mat {
        position: absolute;
        top: 58.5%;
        left: 24.5%;
    }

    .card-validade {
        position: absolute;
        top: 58.5%;
        left: 73.8%;
    }

    .card-curso {
        position: absolute;
        top: 74.2%;
        left: 17.7%;
    }
</style>