<div class="break-page">
    <div id="frente">
        <div class="img">
            <img src="/gestor2/img/carteirinhas/imp-<?php echo strtolower($this->dados['st_modelocarteirinha']); ?>.png"
                 alt="no-image">
        </div>
        <div id="avatar">
            <?php
            if (!empty($this->dados['st_urlavatar']) && file_exists(realpath(APPLICATION_PATH . "/../public" . $this->dados['st_urlavatar']))) :
                ?>
                <img src="<?php echo $this->dados['st_urlavatar']; ?>"
                     alt="no-image"/>
            <?php endif; ?>
        </div>

        <?php
        $letra = '';
        if ($this->dados['id_modelocarteirinha'] == 1): $letra = 'letraPreta'; endif; ?>

        <div class="texts">
            <div id="textos-container">
                <div id="st_nomecompleto" class="uppercase <?php echo $letra?>">
                    <?php echo $this->dados['st_nomecompleto']; ?>
                </div>
                <div id="st_turma" class="uppercase <?php echo $letra?>">
                    <?php echo $this->dados['st_turma']; ?>
                </div>
                <div id="st_cpf" class="uppercase <?php echo $letra?>">
                    <?php echo $this->dados['st_cpf']; ?>
                </div>
                <div id="dt_nascimento" class="<?php echo $letra?>">
                    <?php echo $this->dados['dt_nascimento']; ?>
                </div>
<!--                --><?php //if ($this->dados['id_modelocarteirinha'] == 1): ?>
                    <div id="dt_validade">
                        <canvas class="canvas-validade">Erro no canvas</canvas>
                    </div>
<!--                --><?php //endif; ?>


                <div id="codBarras">
                    <img alt="<?php echo str_pad($this->dados['id_usuario'], 10, 0, STR_PAD_LEFT); ?>"
                         src="/carteirinha/bar-code/text/<?php echo str_pad($this->dados['id_usuario'], 10, 0, STR_PAD_LEFT); ?>">
                </div>
                <div id="st_codidentificacao">
                    <?php echo str_pad($this->dados['id_usuario'], 10, 0, STR_PAD_LEFT); ?>
                </div>
                <div id="entidade">
                    <canvas class="canvas-entidade" width="260" height="20">Erro no canvas</canvas>
                </div>
            </div>
        </div>
    </div>
</div>