
<div class="row-fluid">
    <div class="span8 offset2">
        <div class="span12 boxE">
            <div class="row-fluid">
                <div class="boxTituloE span12">
                    <div class="span6">
                        <div class="btn btn-link">
                            <i class="icon icon-home"></i> Entidades<span class="entidade-perfil"></span>
                        </div>
                    </div>
                    <div class="span6">
                        <div class="btn btn-link">
                            <i class="icon icon-user"></i> Perfis<span class="entidade-perfil"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row-fluid">
                <div class="boxEntidades span6">
                    <ul class="lista-entidades">
                        <?php
                        foreach ($this->entidades->mensagem as $entidade) {
                            ?>
                            <li class="item-entidade cf">

                                <a href="#">
                                    <div style="height: 50px; width:50px; overflow: hidden; float: left;">
                                        <img src="<?php echo $entidade['st_urllogoentidade']; ?>" style="height:auto; width:50px ;" /> 
                                    </div>
                                    <p><?php echo $entidade['st_nomeentidade'] ?></p>

                                </a>

                                <div class="boxPerfis cf">
                                    <ul class="lista-perfis">
                                        <?php
                                        if (!is_null($entidade['perfil'])):
                                            foreach ($entidade['perfil'] as $perfil) :
                                                ?>
                                                <li>
                                                    <a href="/index/perfil/<?php echo $entidade['id_entidade'] . '/' . $perfil['id_perfil']; ?>" class="btn btn-block span12" >
                                                        <i class="icon icon-user"></i>
                                                        <?php echo $perfil['st_nomeperfil'] ?>
                                                    </a>
                                                </li>
                                                <?php
                                            endforeach;
                                        endif;
                                        ?>
                                    </ul>
                                </div>
                            </li>
                            <?php
                        }
                        ?>
                    </ul>
                </div>
                <div class="span6" id="select-profile">
                </div>
            </div>
            <div class='row-fluid'>
                <div class="span1 offset11">
                    <a class="btn-custom btn" href="/index/logout">Sair</a>
                </div>
            </div>
        </div>

    </div>
</div>