<script id="home-dashboard-template" type="text/template">
    <div id="dashboard">
        <div class="home-dashboard-content row-fluid">
        </div>
    </div>
</script>
<script id="home-dashboard-view" type="text/template">
    <div>
        <div class="well home-dashboard-charts">
            <div class="text-center">
                <img src="<?php echo $this->baseUrl(); ?>/img/loaders/11.gif" alt=""/>
            </div>
        </div>
    </div>
</script>

<script type="text/javascript"> $('#htmlContent script[type="text/template"]').appendTo($('#templateHolder'));</script>
<script type="text/javascript" src="<?php echo $this->baseUrl() ?>/index/js"></script>