<script type="text/javascript"
        src="<?php echo Ead1_Ambiente::geral()->st_url_library; ?>/js/jquery/jquery-1.7.1.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#btnRecuperar').click(function () {
            $('#lb-error').hide();
            $('#login').css({"borderColor": ""});
            $('#cpf').css({"borderColor": ""});
            $('#email').css({"borderColor": ""});
            var selectedCount = 0;
            if (!$('#email').val()) {
                $('#email').css({"borderColor": "red"});
            } else {
                selectedCount++;
            }
            if ($('#login').val()) {
                selectedCount++;
            }
            if ($('#cpf').val()) {
                selectedCount++;
            }

            if (selectedCount < 2) {
                $('#lb-error').html("É Necessário Informar o Email e outro Campo.");
                $('#lb-error').show();
                return;
            }

            $.ajax({
                url: $('#urlPost').val(),
                data: $('#frm-recuperacao').serialize() + "&json=true&ajax=true",
                dataType: 'json'
            })
                .done(function (data) {
                    if (data.tipo == 1) {
                        $('.conteudo').html(data.mensagem[0]);
                    } else {
                        $('#lb-error').html(data.mensagem[0]);
                        $('#lb-error').show();
                    }

                })
                .fail(function () {
                    $('#error').html("Erro ao Validar Dados.");
                    $('#error').show();
                });
        });

        $('#btnVoltar').click(function () {
            window.location = $('#urlVoltar').val();
        });
    });
</script>
<style>

    .body {
        height: 100%;
        width: 100%;
    }

    #lb-error {
        display: none;
        color: red;
        font-family: serif;
        font-size: 16px;
        font-weight: 400;
        font-style: normal;
        font-size-adjust: none;
        text-align: center;
    }

    #div-error {
        margin-left: 4px;
        max-width: 340px;
        width: 340px;
        height: 40px;
        position: relative;
        bottom: 10;
    }

    .corpo {
        position: relative;
        margin: 50px;
    }

    .agrupador {
        width: 502px;
        margin: 0 auto;
        -moz-box-shadow: 2px 2px 2px 2px #888;
        -webkit-box-shadow: 2px 2px 2px 2px #888;
        box-shadow: 2px 2px 2px 2px #888;
        /* For IE 5.5 - 7 */
        filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');
    }

    .conteudo {
        width: 500px;
        height: 195px;
        border: 2px solid #024b92;
        margin: 0 auto;
        text-align: center;
        padding-top: 50px;
    }

    .cabecalho {
        width: 490px;
        height: 30px;
        border-top: 2px solid #024b92;
        border-left: 2px solid #024b92;
        border-right: 2px solid #024b92;
        text-align: center;
        margin: 0 auto;
        background-color: #024b92;
        padding: 5px;
    }

    .rodape {
        margin: 0 auto;
        width: 501px;

    }

    #titulo {
        color: white;
        font: bold;
        font-size: 30;
    }

    .botao {
        color: white;
        padding: 3px;
        position: relative;
        cursor: pointer;
        font-family: serif;
        font-size: 16px;
        font-weight: 400;
        font-style: normal;
        background-color: #024b92;
        font-size-adjust: none;
        text-align: center;
        border: solid #024b92 2px;

    }

    #btnRecuperar {
        bottom: -11px;
        float: right;
        vertical-align: bottom;
        height: 45px;
        width: 150px;
        border-top-left-radius: 20;
    }

    #btnVoltar {
        vertical-align: bottom;
        height: 30px;
        width: 80px;
        font-size: 13px;
        text-align: center;
        border-bottom-left-radius: 20;
        border-bottom-right-radius: 20;
        -moz-box-shadow: 2px 2px 2px 2px #888;
        -webkit-box-shadow: 2px 2px 2px 2px #888;
        box-shadow: 2px 2px 2px 2px #888;
        /* For IE 5.5 - 7 */
        filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');
    }

    .obrigatorio {
        color: red;
    }

    .botao:HOVER {
        border-color: #7EB2DE;
        background-color: #7EB2DE;
    }

</style>
<div class="corpo">
    <div class="agrupador">
        <div class="cabecalho">
            <span id="titulo">Recuperação de Senha</span>
        </div>
        <div class="conteudo">
            <form id="frm-recuperacao" action="#" method="post">
                <input type="hidden" id="urlPost"
                       value="<?php echo $this->url(array('controller' => 'index', 'action' => 'validarecuperacaosenha', 'module' => 'default'), null, true); ?>"/>
                <input type="hidden" id="urlVoltar" value="<?php echo Ead1_Ambiente::geral()->applicationUrl; ?>"/>

                <label>Login:&nbsp;&nbsp;</label>
                <input type="text" name="login" id="login"/>
                <BR/>
                <BR/>
                <label>CPF: &nbsp;&nbsp;&nbsp;</label>
                <input type="text" name="cpf" id="cpf"/>
                <BR/>
                <BR/>
                <label>Email: &nbsp;&nbsp;&nbsp;</label>
                <input type="text" name="email" id="email"/>
                <label class="obrigatorio">*</label>
                <BR/>
                <BR/>
            </form>
            <input class="botao" id="btnRecuperar" type="button" value="Recuperar Senha"/>
            <BR/>

            <div id="div-error">
                <label id="lb-error"></label>
            </div>
        </div>
    </div>
    <div class="rodape">
        <input class="botao" id="btnVoltar" type="button" value="Voltar">
    </div>
</div>