<?php
if (!$this->entidades instanceof Ead1_Mensageiro || $this->entidades->tipo == Ead1_IMensageiro::ERRO) {
    ?>

    <div class="container">

        <div class="row">
            <div class="span4 offset4" id="box-login">
                <div class="well">
                    <legend id="titulo-login">Digite seus dados de acesso:</legend>
                    <form class="form-horizontal" method="post"
                          action="<?php echo $this->baseUrl ?>/index/auth">
                              <?php if ($this->entidades) { ?>
                            <div class="alert alert-error">
                                <a class="close" data-dismiss="alert" href="#">x</a><?php echo $this->entidades->mensagem[0]; ?>
                            </div>
                        <?php } ?>


                        <div class="control-group">
                            <div class="input-prepend">
                                <span class="add-on"><i class="icon-user"></i></span> 
                                <input id="username" name="username" class="span3" placeholder="Usuário ou E-mail" type="text">
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="input-prepend">
                                <span class="add-on"><i class="icon-lock"></i></span> 
                                <input id="password" name="password" class="span3" placeholder="Senha" type="password">
                            </div>
                        </div>
                        <div class="row-fluid">
                            <div class="span8">
                                   <!-- Box com o Lembrar minha senha -->
                            </div>
                            <div class="span4">
                                <button class="btn-custom btn" type="submit">Entrar</button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>

    </div>
    <?php
} else {
    echo $this->render('index/change-profile.phtml');
}
?>
