<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <title>Relatório Grade Horária</title>
    <meta http-equiv="Content-type" content="text/html; charset=UTF-8"/>
    <style type="text/css">
        @page {
            margin: 1cm;
            size: 'A4';
        }

        td {
            text-align: center;
            font-size: 12pt;
            font-weight: bold;
        }

        .vermelho {
            color: red;
        }
    </style>
</head>
<body>
<?php
if ($this->dados):
    foreach ($this->dados as $grade):
        $arrCabecalho = $grade['cabecalho'];
        $arrTurmas = $grade['turmas'];
        $arrLocais = $grade['locais'];
        $arrTurnos = $grade['turnos'];
        $arrDiasSemana = $grade['diasSemana'];
        ?>
        <table border="1" cellpadding="0" cellspacing="0" width="100%">
            <tr>
                <td>
                    <?php
                    $imgEntidade = $arrCabecalho['st_urlimglogo'];
                    if (!empty($imgEntidade) && file_exists(realpath(APPLICATION_PATH . "/../public/") . $imgEntidade)):
                        ?>
                        <img src="<?php echo Ead1_Ambiente::geral()->st_url_gestor2 ?>/upload/entidade/19.png"
                             alt="<?php echo $arrCabecalho['st_entidade']; ?>">
                    <?php endif; ?>
                </td>
                <td colspan="<?php echo count($arrTurmas) + 3; ?>">
                    <h1>
                        <?php echo $arrCabecalho['st_projeto']; ?> <br>
                        <span class="vermelho"><?php echo implode(', ', $arrCabecalho['entidade']); ?></span>
                        HORÁRIO DE <?php echo $arrCabecalho['dt_iniciograde']->format('d/m'); ?>
                        A <?php echo $arrCabecalho['dt_fimgrade']->format('d/m/Y'); ?>

                    </h1>
                </td>
            </tr>
            <tr>
                <td rowspan="3" colspan="3">TURMA</td>
                <?php foreach ($arrTurmas as $turma): ?>
                    <td>
                        <?php echo $turma['st_codigoturma'] ? $turma['st_codigoturma'] . " - " : ""; ?>
                        INICIO <?php echo $turma['dt_inicioturma']->format('d/m/Y'); ?>
                    </td>
                <?php endforeach; ?>
            </tr>
            <tr>
                <?php foreach ($arrTurmas as $turma): ?>
                    <td>
                        <?php echo $turma['st_turma']; ?>
                    </td>
                <?php endforeach; ?>
            </tr>
            <tr>
                <?php foreach ($arrTurmas as $turma): ?>
                    <td>
                        <?php echo $turma['id_turma']; ?>
                    </td>
                <?php endforeach; ?>
            </tr>
            <tr>
                <td colspan="3">LOCAL</td>
                <?php foreach ($arrLocais as $local): ?>
                    <td style="background-color: <?php echo $local['st_corunidade'] ? "#" . $local['st_corunidade'] : ""; ?>;"><?php echo $local['st_unidade']; ?></td>
                <?php endforeach; ?>
            </tr>
            <tr>
                <td colspan="3">TURNO</td>
                <?php foreach ($arrTurnos as $iTurno => $turno) : ?>
                    <td style="background-color: <?php echo $arrLocais[$iTurno]['st_corunidade'] ? "#" . $arrLocais[$iTurno]['st_corunidade'] : ""; ?>;">
                        <?php echo $turno['st_turno']; ?>
                    </td>
                <?php endforeach; ?>
            </tr>
            <?php foreach ($arrDiasSemana as $diaSemana): ?>
                <tr>
                    <td><?php echo ucfirst($diaSemana['diaSemana']); ?></td>
                    <td><?php echo $diaSemana['data']; ?></td>
                    <td>
                        <p>PROFESSOR</p>

                        <p>MATÉRIA</p>

                        <p>C. HORÁRIA</p>
                    </td>
                    <?php
                    foreach ($diaSemana['aulas'] as $aula) :
                        if ($aula):
                            ?>
                            <td>
                                <p><?php echo $aula['st_nomecompleto']; ?></p>

                                <p><?php echo $aula['id_tipoaula'] != \G2\Constante\TipoAula::REGULAR ? substr($aula['st_tipoaula'],0,5).'. ': '' ?><?php echo $aula['st_disciplina']; ?></p>

                                <p style='mso-number-format:"\@";'><?php echo $aula['nu_encontro']; ?>
                                    / <?php echo $aula['nu_totalencontros']; ?> - <?php echo $aula['st_turno']; ?> </p>
                            </td>
                        <?php
                        else:
                            ?>
                            <td><p class="vermelho">SEM AULA</p></td>
                        <?php

                        endif;
                    endforeach;
                    ?>
                </tr>
            <?php endforeach; ?>
        </table>
        <br>
        <br>
        <br>
    <?php
    endforeach;
endif;
?>
</body>
</html>