<script type="text/template" id="template-layout-relatorio">
    <div class="row-fluid">
        <form action="" method="post" id="form-consulta" name="form-consulta">
            <fieldset>
                <div class="span4">
                    <label>Entidade:
                        <select class="span12" id="id_entidade" required name="id_entidade">
                            <option value="">Selecione</option>
                        </select>
                    </label>
                </div>
                <div class="span4">
                    <label>Período</label>

                    <div class="row-fluid" style="margin-top: -5px;">
                        <div class="span6">
                            <div class="input-append">
                                <label>
                                    <input type="text" title="Data inicial" placeholder="Data inicial"
                                            class="span8 maskDate datepicker_range_min"
                                           data-maximo="dt_termino" id="dt_inicial" name="dt_inicial">
                                    <button class="btn" type="button"><i class="icon icon-calendar"></i></button>
                                </label>
                            </div>
                        </div>
                        <div class="span6">
                            <div class="input-append">
                                <label>
                                    <input type="text" title="Data final" placeholder="Data final"
                                           class="span8 maskDate datepicker_range_max" data-minimo="dt_inicial"
                                           id="dt_termino" name="dt_termino">
                                    <button class="btn" type="button"><i class="icon icon-calendar"></i></button>
                                </label>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>

                <div class="span4">
                    <label>Projeto Pedagógico:
                        <select class="span12" id="id_projetopedagogico" name="id_projetopedagogico">
                            <option value="">Selecione</option>
                        </select>
                    </label>
                </div>
                <div class="clearfix"></div>
            </fieldset>
            <fieldset id="container-btns">
                <div class="pull-right">
                    <button id="btnPesquisar" type="submit" title="Pesquisar" class="btn-custom pull-right btn">
                        <i class="icon-search icon-white"></i> Pesquisar
                    </button>
                </div>
                <div class="clearfix"></div>
            </fieldset>
        </form>
    </div>
</script>

<script type="text/javascript" src="/js/backbone/views/Util/SelectView.js"></script>
<script type="text/javascript" src="/relatorio-grade-projeto-entidade/js"></script>