<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <title>Relatório Grade Horária</title>
    <meta http-equiv="Content-type" content="text/html; charset=UTF-8"/>
    <style type="text/css">
        @page land {
            size: landscape;
            margin: 25mm 25mm 25mm 25mm;
        }

        .landscape {
            margin-top: 10px;
            page: land;
            page-break-after: always;
            page-break-inside: avoid;
        }

        table, tr, th, td {
            border: 1px solid #2c2c2c;
        }

        td {
            text-align: center;
            font-size: 7pt;
            font-weight: bold;
        }

        td p {
            margin: 0px;
        }

        .vermelho {
            color: red;
        }

        .dia_mes {
            width: 10px;
            padding: 3px;
        }

        .rotated-text {
            display: inline-block;
        }

        .rotated-text__inner {
            display: inline-block;
            -webkit-transform: rotate(271deg);
            -moz-transform: rotate(271deg);
            -o-transform: rotate(271deg);
            writing-mode: lr-tb;
        }

        .rotated-text__inner:before {
            content: "";
            float: left;
            margin-top: 100%;
        }

        /* mininless css that used just for this demo */
        .container {
            float: left;
            width: 10px;
        }

    </style>
</head>
<!--<body onload="javascript:window.print();">-->
<body>

<?php
if ($this->dados):
    foreach ($this->dados as $grade):
        $arrCabecalho = $grade['cabecalho'];
        $arrTurmas = $grade['turmas'];
        $arrLocais = $grade['locais'];
        $arrTurnos = $grade['turnos'];
        $arrDiasSemana = $grade['diasSemana'];
        ?>
        <div class="landscape">
            <table cellpadding="0" cellspacing="0" width="100%">
                <tr >
                    <td style="border-right: none">
                        <?php
                        $imgEntidade = $arrCabecalho['st_urlimglogo'];
                        if (!empty($imgEntidade) && file_exists(realpath(APPLICATION_PATH . "/../public/") . $imgEntidade)):
                            ?>
                            <img src="<?php echo Ead1_Ambiente::geral()->st_url_gestor2 ?>/upload/entidade/19.png"
                                 alt="<?php echo $arrCabecalho['st_entidade']; ?>">
                        <?php endif; ?>
                    </td>
                    <td style="border-left: none" colspan="<?php echo count($arrTurmas) + 2; ?>">
                        <h1>
                            <?php echo $arrCabecalho['st_projeto']; ?><br>
                                <span class="vermelho"><?php echo implode(', ', $arrCabecalho['entidade']); ?></span>
                            <br>
                            HORÁRIO DE <?php echo $arrCabecalho['dt_iniciograde']->format('d/m'); ?>
                            A <?php echo $arrCabecalho['dt_fimgrade']->format('d/m/Y'); ?>

                        </h1>
                    </td>
                </tr>
                <tr>
                    <td rowspan="3" colspan="3">TURMA</td>
                    <?php foreach ($arrTurmas as $turma): ?>
                        <td>
                            <?php echo $turma['st_codigoturma'] ? $turma['st_codigoturma'] . " - " : ""; ?>
                            INICIO <?php echo $turma['dt_inicioturma']->format('d/m/Y'); ?>
                        </td>
                    <?php endforeach; ?>
                </tr>
                <tr>
                    <?php foreach ($arrTurmas as $turma): ?>
                        <td>
                            <?php echo $turma['st_turma']; ?>
                        </td>
                    <?php endforeach; ?>
                </tr>
                <tr>
                    <?php foreach ($arrTurmas as $turma): ?>
                        <td>
                            <?php echo $turma['st_codigoturma']; ?>
                        </td>
                    <?php endforeach; ?>
                </tr>
                <tr>
                    <td colspan="3">LOCAL</td>
                    <?php foreach ($arrLocais as $local): ?>
                        <td style="background-color: <?php echo $local['st_corunidade'] ? "#" . $local['st_corunidade'] : ""; ?>;"><?php echo $local['st_unidade']; ?></td>
                    <?php endforeach; ?>
                </tr>
                <tr>
                    <td colspan="3">TURNO</td>
                    <?php foreach ($arrTurnos as $iTurno => $turno) : ?>
                        <td>
                            <?php echo $turno['st_turno']; ?>
                        </td>
                    <?php endforeach; ?>
                </tr>
                <?php foreach ($arrDiasSemana as $diaSemana): ?>
                    <tr>
                        <td class="dia_mes">
                            <div class="container">
                                <div class="rotated-text">
                                    <div class="rotated-text__inner">
                                        <?php echo str_replace('-feira', '', ucfirst($diaSemana['diaSemana'])); ?>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td class="dia_mes">
                            <div class="container">
                                <div class="rotated-text">
                                    <div class="rotated-text__inner">
                                        <?php echo $diaSemana['data']; ?>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td>
                            <p>PROFESSOR</p>

                            <p>MATÉRIA</p>

                            <p>C. HORÁRIA</p>
                        </td>
                        <?php
                            if (isset($diaSemana['aulas']) && !empty($diaSemana['aulas'])):
                                foreach ($diaSemana['aulas'] as $key=>$aulaMaster) :
                                    if (isset($aulaMaster) && !empty($aulaMaster)):?>
                                        <td>
                                            <?php foreach ($aulaMaster as $aula) :
                                                if (isset($aula) && !empty($aula)):
                                                        ?>
                                                            <span>
                                                                <p><?php echo $aula['st_nomecompleto']; ?></p>

                                                                <p><?php echo $aula['id_tipoaula'] != \G2\Constante\TipoAula::REGULAR ? (substr($aula['st_tipoaula'], 0, 5) . '. ') : '' ?><?php echo $aula['st_disciplina']; ?></p>

                                                                <p style='mso-number-format:"\@";'><?php echo $aula['nu_encontro']; ?>
                                                                    / <?php echo $aula['nu_totalencontros']; ?>
                                                                    - <?php echo $aula['st_turnoaula']; ?> </p>
                                                            </span>
                                                    <?php else: ?>
<!--                                                    <td><p class="vermelho">SEM AULA</p></td>-->
                                                    <?php
                                                    endif;
                                                endforeach;
                                            ?>
                                        </td>
                                    <?php else: ?>
                                        <td><p class="vermelho">SEM AULA</p></td>
                                    <?php endif; ?>
                                <?php endforeach;
                            else: ?>
                            <td><p class="vermelho">SEM AULA</p></td>
                        <?php endif; ?>
                    </tr>
                <?php endforeach; ?>
            </table>
        </div>
        <?php
    endforeach;
else:?>
    <p>
        <b>
            A grade horaria deve estar ativa para gerar a grade de impressão.
        </b>
    </p>
<?php endif; ?>
</body>
</html>