<script type="text/template" id="template-dados">
    <div class="well well-large">
        <div class="row-fluid">
            <legend>Núcleo de Atendentes</legend>
            <div class="span4" id="divEntidade">
                <label>Núcleos
                    <select class="span12" name="id_nucleotm" id="id_nucleotm">
                        <option value="">[Selecione]</option>
                    </select>
                </label>
            </div>
            <fieldset>
                <div class="row-fluid" style="margin-left: 100px">
                    <div class="span6">
                        <label>Situação
                            <select class="span12" name="id_situacao" id="id_situacao">
                                <option value="">[Selecione]</option>
                            </select>
                        </label>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
    <div class="well well-large">
        <div class="row-fluid">
            <div class="span6 pull-right">
                <button class="btn btn-success pull-right" type="button" id="btn-salvar">Salvar</button>
            </div>
        </div>
    </div>
</script>

<script type="text/javascript">
    <?php if($this->dados): ?>
    G2S.editModel = <?php echo $this->dados  ?>;
    <?php else: ?>
    G2S.editModel = null;
    <?php endif; ?>

</script>

<script type="text/javascript"> $('#htmlContent script[type="text/template"]').appendTo($('#templateHolder'));</script>
<script type="text/javascript" src="/nucleo-atendentes/js"></script>