<?php echo $this->render('/util/auto-complete-pessoa.phtml'); ?>

<script src="/gestor2/js/MensagensG2.js" type="text/javascript"></script>
<script src="/gestor2/js/auto-complete-componente.js" type="text/javascript"></script>
<script src="/gestor2/js/jquery.form.js" type="text/javascript"></script>

<script type="text/template" id="template-entrega-documentos">
    <div class="tabbable"> <!-- Only required for left/right tabs -->
        <ul class="nav nav-tabs">
            <li class="active">
                <a id="link-tab" href="#tab1" data-toggle="tab">Entrega</a>
            </li>
            <li>
                <a id="link-tab2" href="#tab2" data-toggle="tab">Revisão</a>
            </li>
        </ul>

        <div id="autoComplete"></div>

        <div class="tab-content">
            <div class="tab-pane active" id="tab1">
                <div class="row-fluid" id="container-table"></div>
            </div>
            <div class="tab-pane" id="tab2">
                <div class="row-fluid" id="container-table-revisao"></div>
            </div>
        </div>
        <div>
</script>

<script type="text/template" id="template-grid-tbody">
    <td class="row-<%=id_usuario%><%=id_documentos%>">
        <span><%=st_nomecompleto%> </span>
    </td>
    <td><%=st_documentos%></td>
    <td>
        <select id="id-situacao-select" class="template-situacao-select span8"></select>
    </td>
</script>

<script type="text/template" id="template-table-documento">
    <table class="backgrid table table-condensed table-grid">
        <thead class="table-condensed">
        <th>Pessoal - Aluno</th>
        <th>Documento</th>
        <th>Situação da Matrícula</th>
        </thead>
        <tbody id="body-table-grid"></tbody>
    </table>
</script>

<script type="text/template" id="template-lista-vazia">
    <td colspan="8">
        <div class="alert alert-warning">Nenhum item para exibição</div>
    </td>
</script>


<script type="text/template" id="template-grid-tbody-revisao">
    <td><%=id_matricula%> - <%=st_projetopedagogico%> - <%=st_evolucao%></td>

    <!-- Revisão -->
    <td class="span3 text-center">
        <select id="id-select-revisao" class="span12">
            <option value=""
            <%= bl_documentacao === null || bl_documentacao === '' ? 'selected': '' %>>Não Analisado</option>
            <option value="0"
            <%= bl_documentacao === '0' || bl_documentacao === 0 || bl_documentacao === false ? 'selected': '' %>>Pendente</option>
            <option value="1"
            <%= bl_documentacao === '1' || bl_documentacao === 1 || bl_documentacao === true ? 'selected': '' %>>OK</option>
        </select>
    </td>

    <!-- Acadêmico -->
    <td class="span3 text-center">
        <select id="id-select-academico" class="span12">
            <option value=""
            <%= bl_academico === null || bl_academico === '' ? 'selected': '' %>>Não Analisado</option>
            <option value="0"
            <%= bl_academico === '0' || bl_academico === 0 || bl_academico === false ? 'selected': '' %>>Pendente</option>
            <option value="1"
            <%= bl_academico === '1' || bl_academico === 1 || bl_academico === true ? 'selected': '' %>>OK</option>
        </select>
    </td>

    <!-- Botão Modal -->
    <td class="span1">
        <div class="text-center">
            <a class='btn btn-small btn-success historico' rel='tooltip' data-trigger='hover' data-placement='top' data-toggle='popover' data-content='Exibe as alterações de documentação dessa matrícula.' data-original-title='Histórico de Alterações'>
                <i class='icon icon-white icon-list-alt'></i>
            </a>
        </div>
        <div id="container-modal-historico-documentacao"></div>
    </td>

    <!-- Observação -->
    <td class="span5">
        <textarea id="observacao-entrega"
                  style="resize: none"
                  class="input-block-level"
                  maxlength="140"></textarea>
        <div>
            <span id="charCounter">0</span><span>/140</span>
            <button class="btn btn-custom pull-right" id="btn-observacao-entrega">Enviar</button>
        </div>
    </td>

</script>

<script type="text/template" id="template-table-revisao">
    <div class="well">
        <table class="backgrid table table-condensed table-grid">
            <thead class="table-condensed">
            <th>Curso</th>
            <th>Documentação</th>
            <th>Acadêmico</th>
            <th>Histórico</th>
            <th>Observação</th>
            </thead>
            <tbody id="body-table-grid-revisao"></tbody>
        </table>
    </div>
</script>


<script type="text/javascript">
    $('#htmlContent script[type="text/template"]').appendTo($('#templateHolder'));
    $('#templateHolder').append('<link rel="stylesheet" type="text/css" href="/css/auto-complete-pessoa.css" />');
</script>