<div class="title-block clearfix">
    <h3 class="h2-body-title uny">Grade de notas</h3>

    <div class="title-seperator"></div>
</div>
<table class="table table-bordered grade">
    <?php $matriculaBO = new MatriculaBO();
    foreach ($this->dados as $modulo) {
        ?>
        <tr>
            <th colspan="<?php echo(3 + count($this->tiposAvaliacao)) ?>">
                <?php echo $modulo['st_modulo']; ?>
            </th>
        </tr>
        <tr>
            <th></th>
            <?php
            $arrTipoAvaliacao = array();
            foreach ($this->tiposAvaliacao as $index => $tipoAvaliacao) {
                $arrTipoAvaliacao[] = $index;
                if ($this->id_linhadenegocio == \G2\Constante\LinhaDeNegocio::GRADUACAO) { ?>
                    <th>
                        <?php echo $tipoAvaliacao; ?>
                    </th>
                    <?php
                } else if ($index != \G2\Constante\TipoAvaliacao::AVALIACAO_RECUPERACAO) { ?>
                    <th>
                        <?php echo $tipoAvaliacao; ?>
                    </th>
                    <?php
                }

            } ?>
            <th>
                Final
            </th>

            <?php if ($this->id_linhadenegocio == \G2\Constante\LinhaDeNegocio::GRADUACAO) { ?>
                <th>
                    Status da Disciplina
                </th>
            <?php } else {
                ?>
                <th>
                    Evolução da Nota
                </th>
                <?php
            } ?>
        </tr>
        <?php foreach ($modulo['dados'] as $disciplina) { ?>
            <tr>
                <?php foreach ($disciplina as $posicao => $value) {
                    $indexTipoAvaliacaoAux = $posicao;
                    break;
                } ?>
                <td>
                    <?php echo $disciplina[$indexTipoAvaliacaoAux][0]->st_disciplina; ?>
                </td>
                <?php foreach ($arrTipoAvaliacao as $indexTipoAvaliacao) {
                    if (array_key_exists($indexTipoAvaliacao, $disciplina)) {
                        ?>
                        <td class="center">
                            <?php
                            foreach ($disciplina[$indexTipoAvaliacao] as $index => $vwGradeTipoTO) {
                                ?>
                                <?php
                                $indexDisciplina = $indexTipoAvaliacao;
                                if ($index != 0) {
                                    echo '| ';
                                }
                                echo $vwGradeTipoTO->st_nota ? (int)$vwGradeTipoTO->st_nota : '--';
                                ?>
                            <?php } ?>
                        </td>
                    <?php } else { ?>
                        <td></td>
                        <?php
                    }
                } ?>
               <!-- <td class="center">
                    <?php /*echo $disciplina[$indexDisciplina][0]->id_situacao != 65 ? (int)$matriculaBO->trataMedia($disciplina[$indexDisciplina][0]->nu_notafinal) : ' -- '; */?>
                </td>-->
                <td class="center">
                    <?php echo ($disciplina[$indexDisciplina][0]->st_status)?>
                </td>
                <?php if ($this->id_linhadenegocio == \G2\Constante\LinhaDeNegocio::GRADUACAO) { ?>
                    <td class="center">
                        <?php echo $disciplina[$indexDisciplina][0]->st_statusdisciplina; ?>
                    </td>
                <?php }else{
                    ?>
                    <td class="center">
                        <?php echo ($disciplina[$indexDisciplina][0]->st_status)?>
                    </td>
                <?php
                } ?>
            </tr>
        <?php } ?>
    <?php } ?>
</table>