<script type="text/javascript" src="<?php echo $this->baseUrl();?>/js/sistema/geral/matricula/Grade.js"></script>
<div class="column" id="column0">
	<div class="dragbox" id="item0" >
		<h2>Grade de Notas</h2>
		<div class="dragbox-content" id="item0_id">
<?php
if(!$this->erro):
	$i = 0;
	if($this->dados):
		foreach($this->dados as $modulo => $dados):
			$i++;
?>
			<input type="hidden" id="gridGrade<?php echo $i; ?>ModuloHidden" value="<?php echo $dados['st_modulo']?>" />
			<input type="hidden" id="gridGrade<?php echo $i; ?>DadosHidden" value='<?php echo $dados['dados']?>' />
			<table id="gridGrade<?php echo $i; ?>" class="gridModulo"></table>
			<div id="paginacaoGridGrade<?php echo $i; ?>"></div><br />
<?php
		endforeach;
	endif;
else:
	echo '<script type="text/javascript">Mensageiro.mostrar("'.$this->erro->getFirstMensagem().'",'.$this->erro->getTipo().')</script>';
endif;
?>
	 	</div>
	</div>
</div>
<br style="clear:both" />