<div class="title-block clearfix">
    <h3 class="h2-body-title uny">Grade de notas</h3>
    <?php if ( $this->exibirMinhasProvas == "1") { ?>
        <a href="/vista-de-prova" target="_blank" class="button button-white small pull-right ">
            Minhas Provas
        </a>
    <?php } ?>
</div>
<table class="table table-bordered grade">

    <?php
    if ($this->dados):
        foreach ($this->dados as $modulo) {
            ?>

            <!-- Cabeçalho das Disciplinas -->
            <tr>
                <th colspan="<?php echo(3 + count($this->tiposAvaliacao)) ?>">
                    <?php echo isset($modulo['st_modulo']) ? $modulo['st_modulo'] : ''; ?>
                </th>
            </tr>
            <tr>
                <th></th>
                <th>Prova Presencial</th>
                <?php if ($this->id_linhadenegocio == \G2\Constante\LinhaDeNegocio::GRADUACAO) { ?>
                    <th>Atividade Presencial</th>
                <?php } ?>
                <th>Atividade EAD</th>
                <?php if (array_key_exists(\G2\Constante\TipoAvaliacao::AVALIACAO_RECUPERACAO, $this->tiposAvaliacao)) { ?>
                    <th id="columnNotaRecuperacao">Recuperação</th>
                <?php } ?>
                <?php if ($this->bl_temnotafinal && $this->bl_mostratcc) { ?>
                    <th>TCC</th>
                <?php } ?>
                <th>
                    Final
                </th>

                <?php if ($this->id_linhadenegocio == \G2\Constante\LinhaDeNegocio::GRADUACAO) { ?>
                    <th>
                        Status da Disciplina
                    </th>
                <?php } else {
                    ?>
                    <th>
                        Evolução da Nota
                    </th>
                    <?php
                } ?>
            </tr>
            <!-- Disciplinas originais-->
            <?php
            if (isset($modulo['dados'])) {
                foreach ($modulo['dados'] as $key => $disciplina) { ?>
                    <tr>
                        <td rowspan="2">
                            <?php echo $disciplina['st_tituloexibicaodisciplina']; ?>
                        </td>
                        <td rowspan="2">
                            <?php echo $disciplina['st_notafinal']; ?>
                        </td>
                        <?php if ($this->id_linhadenegocio == \G2\Constante\LinhaDeNegocio::GRADUACAO) { ?>
                            <td rowspan="2"> <?php echo $disciplina['st_notaatividade']; ?> </td>
                        <?php } ?>
                        <?php
                        $nuRowspanead = 2;

                        foreach ($this->dadosPRR as $prr) {

                            if (in_array($disciplina['id_disciplina'], $this->disciplinasPRR)
                                && $disciplina['id_disciplina'] == $prr['id_disciplina']
                            ) {

                                $nuRowspanead = 1;
                                if ($disciplina['id_tipodisciplina'] == 2) $nuRowspanead = 2;
                                break; ?>

                            <?php } ?>

                        <?php } ?>
                        <td rowspan="<?= $nuRowspanead; ?>">
                            <?php echo $disciplina['st_notaead']; ?>
                        </td>
                        <?php if ($this->id_linhadenegocio == \G2\Constante\LinhaDeNegocio::GRADUACAO) { ?>
                            <td rowspan="2"> <?php echo $disciplina['st_notarecuperacao']; ?> </td>
                        <?php } ?>
                        <?php
                        if ($this->bl_temnotafinal && $this->bl_mostratcc) {
//                if($this->bl_mostratcc) {

                            $nuRowspantcc = 2;

                            foreach ($this->dadosPRR as $p => $prr) {

                                if (in_array($disciplina['id_disciplina'], $this->disciplinasPRR)
                                    && $disciplina['id_disciplina'] == $prr['id_disciplina']
                                ) {

                                    $nuRowspantcc = 2;
                                    if ($disciplina['id_tipodisciplina'] == 2) $nuRowspantcc = 1;
                                    break; ?>

                                <?php } ?>
                            <?php } ?>
                            <td rowspan="<?= $nuRowspantcc; ?>">
                                <?= ($this->bl_mostratcc === 1) ? $disciplina['st_notatcc'] : '-'; ?>
                            </td>
                        <?php } ?>
                        <td class="center" rowspan="2">
                            <?php

                            $nuNotaFinal = $disciplina['nu_notafinal'];

                            foreach ($this->dadosPRR as $prr) {
                                if (in_array($disciplina['id_disciplina'], $this->disciplinasPRR)
                                    && $disciplina['id_disciplina'] == $prr['id_disciplina']
                                ) {
                                    if ($prr['st_notaead'] > $disciplina['st_notaead']) {
                                        $nuNotaFinal = ($prr['nu_notafinal']);
                                        break;
                                    } else {
                                        $nuNotaFinal = ($disciplina['nu_notafinal']);
                                        break;
                                    }
                                } else {
                                    $nuNotaFinal = ($disciplina['nu_notafinal']);
                                    break;
                                }
                            }
                                if ($disciplina['st_statusdisciplina'] == 'Não Concluido' || $disciplina['st_statusdisciplina'] == 'Concluido') {
                                    echo ' - ';
                                } else {
                                    echo is_null($nuNotaFinal) || $nuNotaFinal == '0' ? '-' : $nuNotaFinal;
                                }
                            ?>
                        </td>

                        <?php if ($this->id_linhadenegocio == \G2\Constante\LinhaDeNegocio::GRADUACAO) { ?>

                            <?php $stStatus = "";
                            $stNotaead = 0;
                            foreach ($this->dadosPRR as $prr) {
                                if (in_array($disciplina['id_disciplina'], $this->disciplinasPRR)
                                    && $disciplina['id_disciplina'] == $prr['id_disciplina']
                                ) {
                                    $stStatus = $prr["st_statusdisciplina"];
                                    $stNotaead = $prr['st_notaead'];
                                }//end if
                                ?>
                            <?php }//end foreach
                            if ($stStatus && $stNotaead > $disciplina['st_notaead']) { ?>
                                <td class="center" rowspan="2">
                                    <?php echo($stStatus) ?>
                                </td>
                            <?php } else { ?>
                                <td class="center" rowspan="2">
                                    <?php echo $disciplina['st_statusdisciplina']; ?>
                                </td>
                            <?php } ?>

                        <?php } else { ?>

                            <?php $stStatus = "";
                            $stNotaead = 0;
                            foreach ($this->dadosPRR as $prr) {
                                if (in_array($disciplina['id_disciplina'], $this->disciplinasPRR)
                                    && $disciplina['id_disciplina'] == $prr['id_disciplina']
                                ) {
                                    $stStatus = $prr["st_status"];
                                    $stNotaead = $prr['st_notaead'];
                                }//end if
                                ?>
                            <?php }//end foreach
                            if ($stStatus && $stNotaead > $disciplina['st_notaead']) { ?>
                                <td class="center" rowspan="2">
                                    <?php echo($stStatus) ?>
                                </td>
                            <?php } else { ?>
                                <td class="center" rowspan="2">
                                    <?php echo($disciplina['st_status']) ?>
                                </td>
                            <?php } ?>

                        <?php }//end else ?>
                    </tr>
                    <tr>
                        <!-- Disciplinas de PRR com disciplina original-->
                        <?php
                        $flagDisciplinasPrrDiferentes = array();
                        foreach ($this->dadosPRR as $prr) {
                            if (in_array($disciplina['id_disciplina'], $this->disciplinasPRR)
                                && $disciplina['id_disciplina'] == $prr['id_disciplina']
                                && $disciplina['id_tipodisciplina'] != 2
                            ) { ?>
                                <td>
                                    <?php echo $prr['st_notaead']; ?>
                                    <span class="label label-danger pull-right">Sala PRR</span>
                                </td>
                            <?php } elseif (in_array($disciplina['id_disciplina'], $this->disciplinasPRR)
                                && $disciplina['id_disciplina'] == $prr['id_disciplina']
                                && $disciplina['id_tipodisciplina'] == 2
                            ) { ?>
                                <td>

                                    <?php if ($prr['bl_mostratcc'] == 1) {
                                        echo $prr['st_notatcc'];
                                    } else {
                                        echo '-';
                                    } ?>
                                    <span class="label label-danger pull-right">Sala PRR</span>
                                </td>
                            <?php }//end if
                            ?>
                        <?php }//end foreach ?>
                    </tr>
                <?php }
            }
            ?>

            <!-- Disciplinas de PRR Sem Disciplina Original (SDO)-->
            <?php
            //verifica se o array de disciplnas PRR SDO não esta vazio
            if (!empty($this->dadosPRRSemDiscOrig)) {

                //faz um laço das Discipinas de PRR SDO para verificar se o modulo é o mesmo do laço principal
                foreach ($this->dadosPRRSemDiscOrig as $keyModPrr => $moduloPRR) {
                    //verifica se esse modulo é o mesmo do laço principal
                    if ($keyModPrr == $modulo['id_modulo']) {

                        //faz um laço do módulo das disciplinas PRR SDO
                        foreach ($moduloPRR as $keyModPrr => $discPrr) {

                            //faz um laço das disciplinas PRR
                            foreach ($this->dadosPRR as $keySDO => $disciplinaPrrSDO) {

                                //verifica se a disciplina PRR SDO tem o mesmo id do array das disciplina PRR
                                if ($discPrr == $disciplinaPrrSDO['id_disciplina']) {
                                    ?>

                                    <tr>
                                        <td rowspan="2">
                                            <?php echo $disciplinaPrrSDO['st_disciplina']; ?>
                                        </td>

                                        <td rowspan="2">
                                            <?php echo $disciplinaPrrSDO['st_notafinal']; ?>
                                        </td>

                                        <?php if ($this->id_linhadenegocio == \G2\Constante\LinhaDeNegocio::GRADUACAO) { ?>
                                            <td rowspan="2"> <?php echo $disciplinaPrrSDO['st_notaatividade']; ?> </td>
                                        <?php } ?>
                                        <!-- Aqui o valor é "-" porque seria a discipina original que nesse caso nunca existirá. -->
                                        <td><?php echo "-"; ?></td>
                                        <?php
                                        if ($this->bl_temnotafinal && $this->bl_mostratcc) { ?>
                                            <td rowspan="2"><?php echo $disciplinaPrrSDO['st_notatcc']; ?></td>
                                        <?php } ?>
                                        <?php if ($this->id_linhadenegocio == \G2\Constante\LinhaDeNegocio::GRADUACAO) { ?>
                                            <td rowspan="2"> <?php echo $disciplina['st_notarecuperacao']; ?> </td>
                                        <?php } ?>
                                        <td rowspan="2"
                                            class="center"><?php echo $disciplinaPrrSDO['nu_notafinal']; ?></td>

                                        <td rowspan="2"
                                            class="center"><?php echo $disciplinaPrrSDO['st_status']; ?></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <?php echo $disciplinaPrrSDO['st_notaead']; ?>
                                            <span class="label label-danger pull-right">Sala PRR</span>
                                        </td>
                                    </tr>

                                <?php } //fim do if ?>

                            <?php } //fim do foreach ?>

                        <?php } //fim do foreach
                        ?>

                    <?php } //fim di if ?>

                <?php } //fim do foreach
                ?>

            <?php } //fim do if ?>
        <?php }
    else:
        ?>
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="info-box yellow">
                    <div class="msg">
                        Sem resultado para exibição.
                    </div>
                </div>
            </div>
        </div>
        <?php
    endif;
    ?>
</table>
