<div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="title-block clearfix">
            <h3 class="h3-body-title uny">Materiais</h3>

            <div class="title-seperator"></div>
        </div>
        <table class="backgrid table uny table-bordered">
            <thead>
            <th>Pacote</th>
            <th>Data de Postagem</th>
            <th>Código de Rastreamento</th>
            <th>Disciplina</th>
            <th>Material</th>
            </thead>
            <tbody>
            <?php if ($this->materiais): ?>
                <?php foreach ($this->materiais as $material): ?>
                    <tr>
                        <td><?php echo $material['id_pacote'] ?></td>
                        <td><?php echo $material['dt_entrega'] ?></td>
                        <td><a target="_blank" href="http://websro.correios.com.br/sro_bin/txect01$.QueryList?P_ITEMCODE=&P_LINGUA=001&P_TESTE=&P_TIPO=001&P_COD_UNI=<?php echo $material['st_codrastreamento'] ?>"><?php echo $material['st_codrastreamento'] ?></a></td>
                        <td>
                            <ul>
                                <?php foreach ($material['disciplinas'] as $disciplina): ?>
                                    <li><?php echo $disciplina ?></li>
                                <?php endforeach ?>
                            </ul>
                        </td>
                        <td>
                            <ul>
                                <?php foreach ($material['itens'] as $itemMaterial): ?>
                                    <li><?php echo $itemMaterial ?></li>
                                <?php endforeach ?>
                            </ul>
                        </td>
                    </tr>
                <?php endforeach; ?>
            <?php else: ?>
                <tr>
                    <td colspan="5" align="center" class="alert alert-info">
                        Não há dados para serem visualizados
                    </td>
                </tr>
            <?php endif; ?>
            </tbody>
        </table>
    </div>
</div>