<div id="container-pesquisar-aluno"></div>
<div id="modalPesquisaGradeAluno" class="modal fade hide"  tabindex="-1" role="dialog" aria-labelledby="labelPesquisar" aria-hidden="true" style="width: 100%;">

    <div class="modal-dialog" style="width: 90%;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Informações Gerais</h4>
            </div>
            <div class="modal-body" style="max-height: 600px; overflow: auto;">
                <div class="dadosDoAluno">

                </div>
                <fieldset>
                    <legend>Grade Curricular</legend>
                    <table class="table table-hover table-striped tableGradeA" id="tabela-retorno-pesquisa-grade-aluno">
                        <thead>
                        <tr>
                            <th>Disciplina</th>
                            <th>Atividades EAD</th>
                            <th>Prova Presencial</th>
                            <th>Evolução da Nota</th>
                            <th>C.H.</th>
                            <th>Sala de Aula</th>
                            <th>Início</th>
                            <th>Término</th>
                        </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                    <br />
                    <table class="table table-hover table-striped tableGradeB" id="tabela-retorno-pesquisa-grade-alunob">
                        <legend>Sala de PRR</legend>
                        <thead>
                        <tr>
                            <th>Disciplina</th>
                            <th>Atividades EAD</th>
                            <th>Prova Presencial</th>
                            <th>Evolução da Nota</th>
                            <th>C.H.</th>
                            <th>Sala de Aula</th>
                            <th>Início</th>
                            <th>Término</th>
                        </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </fieldset>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
</div>

<div id="modalPesquisaGradeAlunoGraduacao" class="modal fade hide"  tabindex="-1" role="dialog" aria-labelledby="labelPesquisar" aria-hidden="true" style="width: 100%;">

    <div class="modal-dialog" style="width: 90%;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Informações Gerais</h4>
            </div>
            <div class="modal-body" style="max-height: 600px; overflow: auto;">
                <div class="dadosDoAlunoGraduacao">

                </div>
                <fieldset>
                    <legend>Grade Curricular</legend>
                    <table class="table table-hover table-striped tableGradeAGraduacao" id="tabela-retorno-pesquisa-grade-aluno-graduacao">
                        <thead>
                        <tr>
                            <th>Disciplina</th>
                            <th>Prova Presencial</th>
                            <th>Atividade Presencial</th>
                            <th>Atividades EAD</th>
                            <th>Evolução da Nota</th>
                            <th>C.H.</th>
                            <th>Sala de Aula</th>
                            <th>Início</th>
                            <th>Término</th>
                        </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                    <br />
                    <table class="table table-hover table-striped tableGradeBGraduacao" id="tabela-retorno-pesquisa-grade-alunob-graduacao">
                        <legend>Sala de PRR</legend>
                        <thead>
                        <tr>
                            <th>Disciplina</th>
                            <th>Prova Presencial</th>
                            <th>Atividade Presencial</th>
                            <th>Atividades EAD</th>
                            <th>Evolução da Nota</th>
                            <th>C.H.</th>
                            <th>Sala de Aula</th>
                            <th>Início</th>
                            <th>Término</th>
                        </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </fieldset>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
</div>

<div class="cortina cortina-loader"></div>


<script type="text/template" id="template-pesquisa-aluno">
    <form id="form-filtro" class="form-inline" method="post">
        <fieldset>
            <div class="title-block clearfix">
                <h3 class="h3-body-title uny">Pesquisar Aluno</h3>
                <div class="title-seperator"></div>
            </div>
            <div class="col-md-12">
                <div class="backgrid-filter form-search pull-left">
                    <span class="search">&nbsp;</span>
                    <input type="search" id="st_dadopesquisa"  placeholder="Digite o nome ou e-mail do aluno" name="q">
                    <span class="clearFilter"><i class="icon-remove"></i></span>
                </div>
            </div>
         </fieldset>
    </form>

    <table class="table table-striped table-bordered table-hover" id="table-resultados">
        <thead id="thead-result" class="hide">
        <tr>
            <th>Nome</th>
            <th>Curso</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</script>

<script type="text/template" id="template-item-aluno">
    <td><%=st_nomecompleto %></td>
    <td><a data-toggle="modal" class="modalGrade" data-target="#modalPesquisaGradeAluno"><%=st_projetopedagogico %></a></td>
</script>

<script type="text/template" id="template-item-aluno-graduacao">
    <td><%=st_nomecompleto %></td>
    <td><a data-toggle="modal" class="modalGrade" data-target="#modalPesquisaGradeAlunoGraduacao"><%=st_projetopedagogico %></a></td>
</script>

<script type="text/template" id="template-aluno-lista-vazia">
    <td>
        <div class="alert alert-warning">
            Não foi encontrado nenhum registro.
        </div>
    </td>
</script>

<script type="text/template" id="templete-item-grade-aluno">
    <td><%=st_disciplina %></td>
    <td><%=st_notaead %></td>
    <td><%=st_notafinal %></td>
    <td><%=st_status %></td>
    <td><%=nu_cargahoraria %></td>
    <td><%=st_saladeaula %></td>
    <td><%=dt_abertura %></td>
    <td><%=dt_encerramento %></td>
</script>

<script type="text/template" id="templete-item-grade-aluno-graduacao">
    <td><%= st_disciplina %></td>
    <td><%= st_notafinal %></td>
    <td><%= st_notaatividade %></td>
    <td><%= st_notaead %></td>
    <td><%= st_statusdisciplina %></td>
    <td><%= nu_cargahoraria %></td>
    <td><%= st_saladeaula %></td>
    <td><%= dt_abertura %></td>
    <td><%= dt_encerramento %></td>
</script>