<div id="container-prduto-form" class="row-fluid" style="position: relative;">
    <form>
        <fieldset>
            <legend>Básico</legend>
            <div class="row-fluid">
                <div data-editors="st_produto" class="span4">
                    <label>Título</label>
                </div>
                <div data-editors="st_subtitulo" class="span4">
                    <label>SubTítulo</label>
                </div>
                <div data-editors="bl_destaque" class="span2">
                    <label>Destacar?</label>
                </div>
                <div data-editors="bl_mostrarpreco" class="span2">
                    <label>Mostrar preço?</label>
                </div>
            </div>
            <div class="row-fluid">
                <div data-editors="id_tipoproduto" class="span3">
                    <label>Tipo de Produto</label>
                </div>
                <div id="modelovenda" data-editors="id_modelovenda" class="span2">
                    <label>Modelo de Venda</label>
                </div>
                <div data-editors="nu_gratuito" class="span1">
                    <label>Gratuitos</label>
                </div>
                <div data-editors="nu_estoque" class="span1">
                    <label>Estoque</label>
                </div>
                <div data-editors="bl_unico" class="span2">
                    <label>Vários por e-mail?</label>
                </div>
                <div data-editors="id_situacao" class="span3">
                    <label>Situação</label>
                </div>
            </div>

            <div class="row-fluid">
                <div data-editors="st_descricao" class="span12">
                    <label>Descrição</label>
                </div>
            </div>

            <div class="row-fluid">
                <div data-editors="st_observacoes" class="span12"><label><br>Observações</label></div>
            </div>
        </fieldset>
    </form>

    <div class="clearfix"></div>
    <div id="container-tipo-produto"></div>

    <div class="clearfix"></div>
    <div id="container-produto-valor"></div>

    <form>
        <fieldset>
            <legend>Pontos</legend>
            <div class="row-fluid">
                <div data-editors="nu_pontos" class="span3">
                    <label>Número de Pontos</label>
                </div>
                <div data-editors="nu_pontospromocional" class="span3">
                    <label>Número de Pontos Promocionais</label>
                </div>
                <div data-editors="dt_iniciopontosprom" class="span3">
                    <label>Data de Início dos Pontos Promocionais</label>
                </div>
                <div data-editors="dt_fimpontosprom" class="span3">
                    <label>Data de Término dos Pontos Promocionais</label>
                </div>
            </div>
        </fieldset>
    </form>

    <div class="clearfix"></div>
    <div id="container-produto-plano-pagamento"></div>

    <div class="clearfix"></div>
    <div class="row-fluid">
        <div id="container-produto-categoria" class="span4"></div>
        <div id="container-produto-area" class="span4"></div>
        <div id="container-produto-entidades" class="span4">
            <fieldset>
                <legend>Organizações</legend>
                <div data-editors="bl_todasentidades">Vincular Produto a Todas as Entidades Automaticamente?<br></div>
                <div id="container-produto-tree-entidades">
                    <div id="produto-tree-entidades" class="span12" style="padding: 10px 0"></div>
                </div>
            </fieldset>
        </div>
    </div>

    <div class="clearfix"></div>
    <div id="container-produto-imagem"></div>

    <div class="clearfix"></div>
    <br/>

    <div class="row-fluid">
        <fieldset class="wrapper_actions">
            <div class="span12">
                <button type="button" id="salvar" name="btn-salvar-produto" class="btn btn-success pull-right"
                        style="margin-left: 10px">
                    Salvar
                </button>
                &nbsp;&nbsp;&nbsp;
                <button type="button" id="cancelar" name="btn-cancelar-button" class="btn btn-warning pull-right">
                    Voltar
                </button>
            </div>
        </fieldset>
    </div>
</div>