<fieldset class="span12"><legend>Coordenadores</legend>
    <div id="form-projeto-pedagogico-coordenadores-grid" class="row span12" style="display:;">
    <div class="row tablehead">
    	<div class="row tablehead">
    	<div class="span2"><button type="button" class="btn" id="form-projeto-pedagogico-coordenadores-btn-adicionar">Adicionar</button></div>
        <div class="span5">Nome</div>
        <div class="span2">Porcentagem</div>
        <div class="span2">Titular</div>
        </div>
    </div>
    
    <div class="row tablebody"></div>
    </div>
</fieldset>