<div class="span12">
    <form class="form-inline" onsubmit="return false">
    <div data-editors="st_livro" class="span4"><label>Titulo</label></div>
    <div data-editors="id_tipolivro" class="span2"><label>Formato</label></div>
    <div data-editors="id_livrocolecao" class="span2"><label>Coleção</label></div>
    <div class="span1"><label></label><button type="button" id="btn-pesquisar-livro" class="btn">Pesquisar</button></div>
    </form>
    <br /><br />
    <table id="form-livro-busca-grid" class="table span10" style="display:none">
    <thead>
        <tr>
            <td class="span1">Selecionar</td>
            <td class="span5">Titulo</td>
            <td>Formato</td>
            <td>Coleção</td>
        </tr>
    </thead>
    <tbody></tbody>
    </table>
</div>