<div class="span9" style="min-height:140px; margin-left:0">
    <form class="form-inline" onsubmit="return false">
    <div data-editors="st_produto" class="span4"><label>Produto</label></div>
    <div data-editors="id_tipoproduto" class="span2"><label>Tipo</label></div>
    <div class="span1"><label></label><button type="button" id="btn-pesquisar-produto" class="btn">Pesquisar</button></div>
    </form>
    <br /><br />
    <table id="form-produto-busca-grid" class="table span10" style="display:none">
    <thead>
        <tr>
            <td class="span1">Selecionar</td>
            <td class="span4">Nome</td>
            <td>Tipo</td>
            <td>Valor</td>
        </tr>
    </thead>
    <tbody></tbody>
    </table>
</div>
<div class="clearfix"></div>