<div class="row-fluid">
    <div class="span9" data-fields="st_disciplina">
        <label>Título</label>
    </div>
    <div class="span2" data-fields="id_situacao">
        <label>Situação</label>
    </div>
</div>
<div class="row-fluid">
    <div class="span9" data-fields="st_tituloexibicao">
        <label>Título de Exibição</label>
    </div>
    <div class="span2" data-fields="id_tipodisciplina">
        <label>Tipo</label>
    </div>
</div>
<div class="row-fluid">
    <div class="span3" data-fields="nu_identificador">
        <label>Identificador</label>
    </div>
    <div class="span2" data-fields="nu_cargahoraria">
        <label>Carga Horária</label>
    </div>
    <div class="span2" data-fields="nu_creditos">
        <label>Créditos</label>
    </div>
</div>

<div class="row-fluid">
    <div class="span3" data-fields="nu_codigoparceiro">
        <label>Código do Parceiro</label>
    </div>
    <div class="span2" data-fields="bl_compartilhargrupo">
        <label>Compartilhar com Grupo</label>
    </div>
</div>
<div class="row-fluid">
    <div class="span12" data-fields="st_descricao">
        <label>Descrição</label>
    </div>
</div>
<div class="row-fluid">
    <div class="span12" data-fields="st_ementacertificado">
        <label>Ementa do Certificado</label>
    </div>
</div>