<fieldset>
<legend>Disciplina</legend>
<div id="form-projeto-pedagogico-tab-disciplina-grid" class="span12">
<div class="row tablehead">
    <div class="row tablehead">
    <div class="span8"></div>
    <div class="span2" style="text-align:right"><button type="button" class="btn" id="form-projeto-pedagogico-tab-disciplina-btn-adicionar">Adicionar</button></div>
    </div>
</div>
<div class="row tablehead">
    <div class="row tablehead">
    <div class="span1"></div>
    <div class="span3" style="text-align:left"><b>Título</b></div>
    <!--<div class="span2"><b>Área de Conhecimento</b></div> -->
    <div class="span2 text-center"><b>Carga Horária</b></div>
    <div class="span1"><b>Obrigatória</b></div>
    <div class="span1"><b>Repetição</b></div>
    <div class="span1"><b>Importância</b></div>
    </div>
</div>
<div class="row tablebody"></div>
<div class="row tablehead">
    <div class="row tablehead">
    <div class="span2"><button type="button" class="btn" id="form-projeto-modulo-disciplina-btn-excluir">Excluir</button></div>
    <div class="span6"></div>
    <div class="span2" style="text-align:right"><button type="button" class="btn" id="form-projeto-pedagogico-tab-disciplina-btn-salvar">Salvar</button></div>
    <div class="span2" style="text-align:right"><button type="button" class="btn btn-custom btn-small" id="form-projeto-pedagogico-tab-disciplina-btn-corrigir">Corrigir Matrículas</button></div>
    </div>
</div>
</div>
</fieldset>
<div id="form-projeto-pedagogico-modal-disciplina-busca" class="modal hide fade in" style="display: none; width:80%; margin-left:-40%; ">  
    <div class="modal-header">
        <a class="close" data-dismiss="modal">×</a>
        <h3>Pesquisar Disciplinas</h3>
    </div>
    <div class="modal-body">
        <div class="disciplinas-sidebyside"></div>
    </div>
    <div class="modal-footer"><a href="#" class="btn" data-dismiss="modal" id="salvar-disciplinas-modal">Fechar</a></div>
</div>