<form>
    <fieldset>
        <legend>Plano de Pagamento</legend>
        <div class="row-fluid">
            <div data-editors="nu_valorentrada" class="span4 input-prepend">
                <label>Entrada</label><span class="add-on">R$</span>
            </div>
            <div data-editors="nu_parcelas" class="span4">
                <label>Parcelas</label>
            </div>
            <div data-editors="nu_valorparcela" class="span4 input-prepend">
                <label>Parcela</label>
                <span class="add-on">R$</span>
            </div>
        </div>
    </fieldset>
</form>