<div class="span9" style="min-height:140px; margin-left:0">
    <form class="form-inline">
    <div data-editors="st_disciplina" class="span4"><label>Disciplina</label></div>
    <div class="span1"><label></label><button type="button" id="btn-pesquisar-disciplina" class="btn">Pesquisar</button></div>
    </form>
    <br /><br />
    <table id="form-disciplina-busca-grid" class="table span10" style="display:none; margin-top:10px;">
    <thead>
        <tr>
            <td class="span1">Selecionar</td>
            <td class="span4">Título</td>
            <td>Nível</td>
            <td>Série</td>
        </tr>
    </thead>
    <tbody>
        
    </tbody>
    </table>
</div>
<div class="clearfix"></div>
