<fieldset class="span12"><legend>Produtos do Combo</legend>
    
    <div id="modal-form-busca-produto-combo" class="modal hide fade in" style="display: none; width:80%; margin-left:-40%; ">  
    <div class="modal-header"><a class="close" data-dismiss="modal">×</a><h3>Pesquisar Produtos</h3></div>  
    <div class="modal-body"><div id="container-form-busca-produto-combo"></div></div>  
    <div class="modal-footer"><a href="#" class="btn" data-dismiss="modal">Fechar</a></div>  
    </div> 
    
    <table id="form-produtos-do-combo-grid" class="table span10" style="display:">
    <thead>
        <tr>
            <td class="span1"><button type="button" class="btn" id="form-produtos-do-combo-btn-adicionar">Adicionar</button></td>
            <td class="span5">Produto</td>
            <td>Tipo</td>
            <td>Valor</td>
            <td>Desconto</td>
            <td>Valor Final</td>
        </tr>
    </thead>
    <tbody></tbody>
    </table>
</fieldset>