<fieldset class="span12">
    <legend>Projeto Pedagógico</legend>
    <div id="form-prod-proj-form" style="display:none">
        <form class="form-inline">
            <div class="row-fluid">
                <div class="span4">
                    <label>Titulo</label>
                    <p>
                        <strong>
                            ##st_projetopedagogico##
                        </strong>
                    </p>
                </div>
                <div class="span2">
                    <div data-fields="nu_cargahoraria"></div>
                </div>
                <div class="span2">
                    <div class="row-fluid">
                        <div data-editors="nu_tempoacesso" class="span12">
                            <label>Tempo de Acesso</label>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div data-editors="bl_indeterminado" class="span12 checkbox">
                            <label for="bl_indeterminado">Indeterminado</label>
                        </div>
                    </div>
                </div>
                <div class="span4">
                    <div data-fields="id_turma"></div>
                </div>
            </div>
            <div class="row-fluid">
                <div data-editors="st_disciplina" class="span12">
                    <label>Disciplinas</label>
                </div>
            </div>
        </form>
    </div>
    <div id="form-prod-proj-add" style="display:none">
        <button type="button" id="form-prod-proj-btn-adicionar" class="btn">Adicionar Projeto Pedagógico</button>
    </div>
    <div id="container-form-busca-projeto" style="display:none"></div>
</fieldset>