<div>
    <form class="form-inline" onsubmit="return false;">
        <div class="row-fluid">
            <div data-editors="st_projetopedagogico" class="span4">
                <label>Titulo</label>
            </div>
            <div data-editors="id_areaconhecimento" class="span4">
                <label>Área</label>
            </div>
            <div data-editors="id_nivelensino" class="span3">
                <label>Nível</label>
            </div>
            <div class="span1">
                <label></label>
                <button type="button" id="btn-pesquisar-projeto-pedagogico" class="btn pull-right span12">
                    <i class="icon-search"></i>
                </button>
            </div>
        </div>
    </form>
    <div class="row-fluid">
        <table id="form-projeto-pedagogico-busca-grid" class="table table-bordered table-hover" style="display:none">
            <thead>
            <tr>
                <th class="span1">Selecionar</th>
                <th class="span6">Titulo</th>
                <th class="span4">Nível</th>
                <th class="span1">Situação</th>
            </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>