<form name="form-integracao" id="form-integracao" onsubmit="return false;" >
<div class="row-fluid">
	<label>Sistema</label>
		<select id="id_sistema" required="required" name="id_sistema" style="width: 250px;">
		<option value="">Selecione o Sistema a Integrar</option>
		<option value="2">Actor</option>
		<option value="6">Moodle</option>
		<option value="11">A+</option>
		<option value="15">BlackBoard</option>
		</select>
	<label>Mostrar XML</label>
		<select id="bl_debug" name="bl_debug" style="width: 250px;">
		<option value="0">Não</option>
		<option value="1">Sim</option>
		</select>
	
</div>
<div class="row-fluid" style="display: none" id="linha-integracao">
	<a id="btn-integrar-sala" class="btn btn-custom btn-small"> Integrar Salas </a>
	<a id="btn-verificar-sala" class="btn btn-custom btn-small" style="display: none"> Verificar Salas </a>
	<a id="btn-integrar-alunos" class="btn btn-custom btn-small"> Integrar Alunos </a>
	<a id="btn-integrar-professores" class="btn btn-custom btn-small"> Integrar Professores e Coordenadores</a>
	<a id="btn-integrar-observador" class="btn btn-custom btn-small"> Integrar Observadores </a>
</div>
<br />Saída<br />
<div class="well well-small" id="integracao-saida-container"></div>
</form>