<fieldset class="span12"><legend>Livro</legend>
    <div id="form-prod-livro-form" style="display:none">
    <form class="form-inline">
    <div class="span8"><label>Titulo</label><div>##st_livro##</div></div>
    <div class="span1"><label></label><button id="form-prod-livro-btn-excluir" type="button" class="btn">Excluir</button></div>


    <div data-editors="id_livro" class="span2"></div>

    <div data-editors="id_produto" class="span2"></div>

    </form>
    </div>
    <div id="form-prod-livro-add" style="display:none">
    <button type="button" id="form-prod-livro-btn-adicionar" class="btn">Adicionar Livro</button>
    </div>




    <div id="container-form-busca-livro" style="display:none"></div>
</fieldset>