<fieldset>
    <legend>Ponderação</legend>
    <div id="form-projeto-pedagogico-tab-disciplina-ponderacao-grid" class="row span12">
        <div class="row tablehead">
            <div class="row tablehead">
                <div class="span6" style="text-align:left"><b>Título</b></div>
                <div class="span2"><b>Pond. Calculada</b></div>
                <div class="span2"><b>Pond. Aplicada</b></div>
            </div>
        </div>
        <div class="row tablebody"></div>
        <div class="row tablehead">
            <div class="row tablehead">
                <div class="span6">Total:</div>
                <div id="total-soma-pond-calculada" class="span2" style="font-weight: bold;"></div>
                <div class="input-append pull-left">
                    <input class="span1" id="total-soma-ponderacao" disabled="disabled" type="text">
                    <span class="add-on">%</span>
                </div>
                <div class="span1" style="text-align:right;">
                    <button type="button" class="btn" id="form-projeto-pedagogico-tab-disciplina-ponderacao-btn-salvar">
                        Salvar
                    </button>
                </div>
            </div>
        </div>
    </div>
</fieldset>