<div class="tabbable">
<ul class="nav nav-tabs">
    <li class="active"><a id="form-projeto-tab-basico" href="#tab1" data-toggle="tab">Básico</a></li>
    <li><a id="form-projeto-tab-disciplina" href="#tab2" data-toggle="tab">Disciplina</a></li>
    <li><a id="form-projeto-tab-texto" href="#tab3" data-toggle="tab">Textos</a></li>
    <li><a id="form-projeto-tab-avaliacao" href="#tab4" data-toggle="tab">Avaliação</a></li>
	<!--<li class="tab" id="form-projeto-tab-disciplina"><a style="cursor: pointer">Disciplina</a></li>-->
    <!--<li class="tab" id="form-projeto-tab-texto"><a style="cursor: pointer">Texto</a></li>-->
    <!--<li class="tab" id="form-projeto-tab-avaliacao"><a style="cursor: pointer">Avaliação</a></li>-->

</ul>
    <div class="tab-content">
        <div class="tab-pane active" id="tab1">
            <div id="container-form-projeto-tab-basico"></div>
        </div>
        <div class="tab-pane" id="tab2">
            <div id="container-form-projeto-tab-disciplina" ></div>
        </div>
        <div class="tab-pane" id="tab3">
            <div id="container-form-projeto-tab-texto" ></div>
        </div>
        <div class="tab-pane" id="tab4">
            <div id="container-form-projeto-tab-avaliacao" ></div>
            <div class="span12" id="container-form-projeto-tab-avaliacao-tcc" style="display: none;">
                <fieldset>
                    <legend>Parâmetros de TCC </legend>
                    <a class="btn" style="float: right; margin-bottom: 10px; margin-top: -10px;" id="btnAddTCC" title="Adicionar parâmetro de TCC">
                       Adicionar
                    </a>
                </fieldset>
                <table class='backgrid backgrid-selectall table table-striped table-bordered table-hover'>
                    <thead>
                    <tr>
                        <th>Paramêtro</th>
                        <th>Peso</th>
                        <th>Ações</th>
                    </tr>
                    </thead>
                    <tbody id="container-form-projeto-tab-avaliacao-tcc-table">
                    </tbody>
                </table>
            </div>
    </div>
    </div>

<!--<div id="container-form-projeto-tab-disciplina" style="width:95%; background-color: #fff; border-radius: 4px; margin-top: -5px; display: none; min-height:650px; padding:10px;">&nbsp;</div>-->
<!--<div id="container-form-projeto-tab-texto" style="width:95%; background-color: #fff; border-radius: 4px; margin-top: -5px; display: none; min-height:650px; padding:10px;">&nbsp;</div>-->
<!--<div id="container-form-projeto-tab-avaliacao" style="width:95%; background-color: #fff; border-radius: 4px; margin-top: -5px; display: none; min-height:650px; padding:10px;">&nbsp;</div>-->
</div>
<br />
<div style="display:none">
<button type="button" id="btn-salvar-projeto-pedagogico" name="btn-salvar-projeto-pedagogico" class="btn btn-success pull-right" style="margin-left: 10px">Salvar todos os dados</button>
&nbsp;&nbsp;&nbsp;
<button type="button" id="btn-cancelar-projeto-pedagogico" name="btn-cancelar-projeto-pedagogico" class="btn btn-warning pull-right">Voltar</button>
</div>