<div>

    <div class="well">
        <fieldset class="row-fluid">
            <legend>Projeto Pedagógico</legend>
            <div class="clearfix"></div>
            <div class="row-fluid">
                <div data-editors="st_projetopedagogico" class="span9">
                    <label>Título</label>
                </div>
                <div data-editors="id_situacao" class="span3">
                    <label>Situação</label>
                </div>
            </div>
            <div class="row-fluid">
                <div data-editors="st_tituloexibicao" class="span9">
                    <label>Título Exibição</label>
                </div>
                <div data-editors="nu_cargahoraria" class="span3">
                    <label>Carga Horária</label>
                </div>
            </div>
            <div class="row-fluid">
                <div data-editors="st_apelido" class="span6">
                    <label>Apelido</label>
                </div>
                <div data-editors="id_contratoregra" class="span6">
                    <label>Regra Contrato</label>
                </div>
            </div>
            <div class="row-fluid">
                <div data-editors="bl_autoalocaraluno" class="span2">
                    <label>Auto alocar alunos</label>
                </div>
                <div data-editors="bl_turma" class="span2">
                    <label>Trabalha com turmas</label>
                </div>
                <div data-editors="bl_gradepronta" class="span2">
                    <label>Possui grade curricular?</label>
                </div>
                <div data-editors="bl_disciplinacomplementar" class="span2">
                    <label>Disciplina complementar?</label>
                </div>
                <div data-editors="bl_enviaremail" class="span2">
                    <label>Enviar email de matrícula?</label>
                </div>
                <div data-editors="bl_novoportal" class="span2">
                    <label>Acessado através do Portal do Aluno?</label>
                </div>
                <div data-editors="bl_atendimentovirtual" class="span2">
                    <label>ChatBot Ativo?</label>
                </div>
            </div>
        </fieldset>
    </div>

    <div class="clearboth"></div>
    <div>
        <fieldset class="span6">
            <legend>Escolaridade</legend>
            <div id="form-projeto-pedagogico-escolaridade" class="span5 correcaoulli" style="margin-left: 0px"></div>
        </fieldset>
        <fieldset class="span5">
            <legend>Área de Conhecimento</legend>
            <div id="form-projeto-pedagogico-area-conhecimento" class="span5 correcaoulli"
                 style="margin-left: 0px"></div>
        </fieldset>
    </div>

    <div id="form-projeto-pedagogico-coordenadores"></div>

    <div class="clearfix"></div>
    <hr/>

    <div class="row-fluid">
        <div class="well">
            <fieldset>
                <legend>Ementa</legend>

                <div class="alert alert-info" style="font-size: 14px;">
                    <b>Arquivo atual:</b>
                    <a class="ementa-label">Nenhum</a>
                </div>

                <label>
                    <input id="id_anexoementa" type="file" name="id_anexoementa"/>
                    <b>Somente serão aceitas as extensões: PDF, DOC e DOCX</b>
                </label>

            </fieldset>
        </div>
    </div>

    <div class="text-right">
        <button type="button" id="btn-salvar-projeto-pedagogico-basico" name="btn-salvar-projeto-pedagogico-basico"
                class="btn btn-success">
            <i class="icon-white icon-ok"></i>
            Salvar
        </button>
    </div>
</div>
