<link rel="stylesheet" type="text/css" href="<?php echo $this->baseUrl(); ?>/css/auto-complete-pessoa.css" />
<script type="text/javascript" src="<?php echo $this->baseUrl(); ?>/js/auto-complete-componente.js"></script>
<?php echo $this->render('/util/auto-complete-pessoa.phtml'); ?>


<script type="text/template" id="matricula-list">
    <div class="well">
        <filedset>
            <legend>
                Matrículas
                <button class="btn list" type="button">
                    <i class="icon icon-refresh"></i>
                    Atualizar
                </button>
            </legend>
        </filedset>
        <table class="backgrid table table-striped table-bordered table-hover">
            <thead>
            <tr>
                <th class="hide">ID Projeto Pedagógico</th>
                <th>Curso</th>
                <th>Matrícula</th>
                <th>Situação</th>
            </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</script>


<script type="text/template" id="matricula-item">
    <td class="hide id_projetopedagogico"><%= id_projetopedagogico %></td>
    <td><%= st_projetopedagogico %></td>
    <td><%= id_matricula %></td>
    <td><%= st_evolucao %></td>
</script>


<div id="autoComplete" class="row-fluid" ></div>

<div id="projetos-combo" class="hide well">
    <legend>Matricular</legend>
    <div class="row-fluid">
        <label class="span5">
            Projeto Pedagógico
            <select id="id_projeto" class="span12">
                <option value="">Carregando...</option>
            </select>
        </label>
        <label class="span5">
            Turma
            <select id="id_turma" class="span12">
                <option value="">Selecione um projeto...</option>
            </select>
        </label>
        <div class="span2">
            <br/>
            <button class="btn btn-success save" type="button">Matricular</button>
        </div>
    </div>
</div>

<div id="matriculas"></div>

<div class="clearfix"></div>
<hr/>


<script type="text/javascript"> $('#htmlContent script[type="text/template"]').appendTo($('#templateHolder'));</script>
<script type="text/javascript" src="<?php echo $this->url()?>/js"></script>