<script type="text/javascript">
    var situacaoAtiva = '<?php echo $this->situacaoAtiva; ?>';
</script>

<script type="text/template" id="template-adicionar-contrato">
    <div class="row-fluid">
        <label class="span4">
            Matrícula
            <select id="id_matricula" class="span12">
                <option value="">Selecione</option>
            </select>
        </label>
    </div>

    <div class="row-fluid" id="regiao-adicionar-contrato">
        <div class="row-fluid ">
            <div>
                <ul class="nav nav-tabs" id="tabCadastroPessoaJuridica">
                    <li class="active">
                        <a href="#box-contrato" data-toggle="tab">Contrato</a>
                    </li>
                    <li>
                        <a href="#box-historico" data-toggle="tab">Histórico</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="box-contrato">
                        <fieldset>
                            <legend>Contrato</span>
                            </legend>

                            <div id="container-DataGrid" class="row-fluid">
                                <div id="template-data-grade" class="col-lg-12">
                                    <table
                                        class="backgrid backgrid-selectall table table-striped table-bordered table-hover">
                                        <thead>
                                        <tr>
                                            <th>Contrato</th>
                                            <th>Data/Horário</th>
                                            <th>Usuário</th>
                                            <th>Situação</th>
                                            <th>Ação</th>
                                        </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                            <label>
                                <input id="id_uploadcontrato" type="file"
                                       data-max-size="10000000"
                                       accept="application/pdf"
                                       title="Só é permitido o envio de arquivo no formato PDF igual ou inferior a 10mb"
                                       name="id_uploadcontrato"/>
                            </label>

                            <button type="button" id="btn-add-contrato" disabled class="btn btn-info marginT20">
                                <i class="icon-plus-sign icon-white"></i>
                                Enviar Contrato
                            </button>

                        </fieldset>
                    </div>
                    <div class="tab-pane" id="box-historico">
                        <fieldset>
                            <legend>
                                Histórico
                            </legend>

                            <div id="container-historico" class="row-fluid"></div>
                        </fieldset>
                    </div>
                </div>
            </div>
            <hr/>
        </div>
    </div>
</script>

<script id="template-data-historico" type="text/template">
    <div class="span12">
        <table class="backgrid backgrid-selectall table table-striped table-bordered table-hover">
            <thead>
            <tr>
                <th>Contrato</th>
                <th>Data/Horário</th>
                <th>Usuário</th>
                <th>Evolução</th>
            </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</script>

<script id="row-template" type="text/template">
    <td>
        <a href="/upload/minhapasta/<%= id_venda %>/<%= st_contratoUrl %>" target="_blank">
            <%= st_contrato %>
        </a>
    </td>
    <td><%= dt_cadastro %></td>
    <td><%= st_usuariocadastro %></td>
    <td><%= st_situacao%></td>
    <td>
        <button class="btn btn-small btn-danger actionDelete" type="button" title="Remover">
            <i class="icon icon-trash icon-white"></i>
        </button>
    </td>
</script>

<script id="row-template-historico" type="text/template">
    <td>
        <a href="/upload/minhapasta/<%= id_venda %>/<%= st_contratoUrl %>" target="_blank">
            <%= st_contrato %>
        </a>
    </td>
    <td><%= dt_acao %></td>
    <td><%= st_nomecompleto %></td>
    <td><%= st_evolucao %></td>
</script>

<script type="text/template" id="template-layout-adicionar-documento">
    <div class="row-fluid" id="regiao-pesquisa"></div>
    <div class="well">
        <div class="row-fluid" id="regiao-pesquisa-matricula"></div>
    </div>
</script>


<link rel="stylesheet" type="text/css" href="<?php echo $this->baseUrl(); ?>/css/auto-complete-pessoa.css"/>
<script type="text/javascript" src="<?php echo $this->baseUrl(); ?>/js/jquery.iframe-transport.js"></script>
<script type="text/javascript" src="<?php echo $this->baseUrl(); ?>/js/auto-complete-componente.js"></script>
<script type="text/javascript" src="<?php echo $this->baseUrl(); ?>/js/moment-with-langs.min.js"></script>
<script type="text/javascript" src="<?php echo $this->baseUrl(); ?>/js/CollectionView.js"></script>
<script src="<?php echo $this->baseUrl(); ?>/gestor2/js/MensagensG2.js" type="text/javascript"></script>
<script src="<?php echo $this->baseUrl(); ?>/js/backbone/views/Util/SelectView.js" type="text/javascript"></script>

<?php echo $this->render('/util/auto-complete-pessoa.phtml'); ?>
<div id="autoComplete" class="row-fluid"></div>

<script type="text/javascript"> $('#htmlContent script[type="text/template"]').appendTo($('#templateHolder'));</script>
<script type="text/javascript" src="/adicionar-contrato/js"></script>