<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <title><?php echo $this->gradeHoraria->getSt_nomegradehoraria(); ?>
        - <?php echo $this->professor['st_nomeexibicao']; ?></title>
    <meta http-equiv="Content-type" content="text/html; charset=UTF-8"/>
    <style type="text/css" media="print" id="test">
        @page {
            margin: 1cm;
            size: 'A4';
        }
    </style>
</head>
<body>
<?php echo $this->textoAuxiliarEmail ? $this->textoAuxiliarEmail : ''; ?>
<div class="tirinhas">
<table class="table table-bordered">
    <tr>
        <td colspan="5">
            <span class="titulos">Semana de<br>
                <?php
                if ($this->gradeHoraria):
                    $dtInicio = $this->gradeHoraria->getDt_iniciogradehoraria();
                    $dtFim = $this->gradeHoraria->getDt_fimgradehoraria();
                    echo $dtInicio->format('d/m') . ' a ' . $dtFim->format('d/m/Y');
                endif;
                echo '<br>' . $this->professor['st_nomeexibicao']
                ?>
            </span>
            <?php
            if (file_exists(realpath(APPLICATION_PATH . "/../public/") . $this->entidade['st_urlimglogo'])):
                ?>
                <img src="<?php echo $this->entidade['st_urlimglogo']; ?>"
                     alt="<?php echo $this->entidade['st_nomeentidade']; ?>">
            <?php
            endif;
            ?>
        </td>
        <td style="width: 15px;" rowspan="<?php echo count($this->diasSemana) * 6 + 1; ?>">
            <div class="container">
                <div class="rotated-text">
                            <span class="rotated-text__inner titulos">
                Horarios:
                                <?php
                                $arrTurnos = array();
                                if ($this->turnos):
                                    foreach ($this->turnos as $turno):
                                        $hr_inicio = $turno['hr_inicio'] ? date("H", strtotime($turno['hr_inicio'])) . "H" . date("i", strtotime($turno['hr_inicio'])) : null;
                                        $hr_fim = $turno['hr_fim'] ? date("H", strtotime($turno['hr_fim'])) . "H" . date("i", strtotime($turno['hr_fim'])) : null;

                                        $arrTurnos[] = $turno['st_turno'] . ' - ' . $hr_inicio . ' às ' . $hr_fim;
                                    endforeach;
                                    echo implode(' / ', $arrTurnos);
                                endif;

                                ?>
                </span>
                </div>
            </div>
        </td>
    </tr>
    <?php
    if ($this->diasSemana):
        foreach ($this->diasSemana as $diaSemana):
            $arrDadosItem = array();
            ?>
            <tr>
                <td class="col-dia-semana titulos" rowspan="6">
                    <div class="container">
                        <div class="rotated-text">
                            <div class="rotated-text__inner">
                                <?php echo $diaSemana->getSt_diasemana(); ?>
                            </div>
                        </div>
                    </div>
                </td>
                <?php
                if ($this->turnos):
                    foreach ($this->turnos as $turno):
                        $arrDadosItem[$turno['id_turno']] = $this->itemGradeHoraria(array(
                            'id_gradehoraria' => $this->params['id_gradehoraria'],
                            'id_professor' => $this->params['id_professor'],
                            'id_turnoaula' => $turno['id_turno'],
                            'id_diasemana' => $diaSemana->getId_diasemana()
                        ));
                        ?>
                        <td class="col-turno titulos"><?php echo substr($turno['st_turno'], 0, 1); ?></td>
                    <?php
                    endforeach;
                endif;
                ?>
            </tr>
            <?php
            for ($i = 0; $i <= 4; $i++):
                ?>
                <tr>

                    <?php
                    $tipoaula = '';
                    foreach ($arrDadosItem as $item) :
                        $texto = "";
                        foreach ($item as $itemAula):
                            if ($itemAula['id_tipoaula'] != 1) {
                                $tipoaula .= '<br><span class="texto-vermelho">+ ' . $itemAula['st_tipoaula'] . '</span>';
                            }
                        endforeach;
                        if (isset($item[0])):
                            $item = $item[0];
                            if ($i == 0):
                                $texto = (!empty($item['st_apelido']) ? $item['st_apelido'] : $item['st_unidade']);
                                $cor = $item['st_corentidade'];
                            endif;
                            if ($i == 1):
                                $texto = (!empty($item['st_apelidoprojetopedagogico']) ? $item['st_apelidoprojetopedagogico'] : $item['st_projetopedagogico']);
                            endif;
                            if ($i == 2):
                                $texto = (!empty($item['st_apelidodisciplina']) ? $item['st_apelidodisciplina'] : $item['st_disciplina']);

                                if($item['id_tipoaula'] != 1){
                                    $texto = substr($item['st_tipoaula'],0,5).'. '.$texto;
                                }

                            endif;
                            if ($i == 3):
                                $textoEncontro = $item['nu_encontro'] . '/' . $item['nu_totalencontros'];
                                if ($item['nu_encontro'] == $item['nu_totalencontros']):
                                    $textoEncontro .= ' <strong class="texto-vermelho">FIM</strong>';
                                endif;
                                $texto = $textoEncontro.$tipoaula;
                                $tipoaula = '';
                            endif;
                            if ($i == 4):
                                $texto = nl2br($item['st_observacao']);
                            endif;
                        else:
                            $texto = '<br>';
                        endif;
                        ?>
                        <td <?php
                        echo isset($cor) ? 'style="background-color:#' . $cor . '"' : null;
                        unset($cor);
                        ?>>
                            <div class="conteudo">
                                <?php echo $texto; ?>
                            </div>
                        </td>
                    <?php
                    endforeach;
                    ?>
                </tr>
            <?php
            endfor;
            ?>
        <?php
        endforeach;
    endif;
    ?>
    <tr>
        <td colspan="6">
            <p class="rodape">
                    Vanuza: 9245-2864<br>
                    Grade Horária: 9202-9456 / 3029-9728<br>
                    Material: 3029-9715<br>
                    Coord. AS: 8103-4168 – Rízia<br>
                    Coord. AC: 9204-2725 – Thaise<br>
                    Coord. AN: 8103-3868 – Sandra<br>
                    Coord. Tagua: 3044-7041 – Daniele<br>
                    Ranil Aguiar: 9164-6771
            </p>
        </td>
    </tr>
</table>
</div>
<style type="text/css">
    @media print {
        button {
            display: none;
        }

        .quebraLinha {
            page-break-after: always;
            page-break-inside: avoid;
        }
    }

    table {
        height: 900px;
    }

    table, td {
        border: solid 1px #000;
        border-collapse: collapse;
        /*border-spacing: 5px;*/
    }

    td {
        text-align: center;
        padding: 2px;
        font-family: "Helvetica Neue", "Arial", sans-serif;
    }

    .col-turno {
        background-color: #ccc;
        width: 35px;
    }

    .col-dia-semana {
        background-color: #8db4e2;
        width: 20px;
    }

    .coluna-turnos div {
        /*width: 100%;*/
        height: 20px;
    }

    .texto-vermelho {
        color: red;;
    }

    .rotated-text {
        display: inline-block;
        overflow: hidden;
        width: 1.5em;
    }

    .rotated-text__inner {
        display: inline-block;
        white-space: nowrap;
        /* this is for shity "non IE" browsers
           that dosn't support writing-mode */
        -webkit-transform: translate(1.1em, 0) rotate(90deg);
        -moz-transform: translate(1.1em, 0) rotate(90deg);
        -o-transform: translate(1.1em, 0) rotate(90deg);
        transform: translate(1.1em, 0) rotate(90deg);
        -webkit-transform-origin: 0 0;
        -moz-transform-origin: 0 0;
        -o-transform-origin: 0 0;
        transform-origin: 0 0;
        /* IE9+ */
        -ms-transform: none;
        -ms-transform-origin: none;
        /* IE8+ */
        -ms-writing-mode: tb-rl;
        /* IE7 and below */
        *writing-mode: tb-rl;
    }

    .rotated-text__inner:before {
        content: "";
        float: left;
        margin-top: 100%;
    }

    /* mininless css that used just for this demo */
    .container {
        float: left;
        width: 15px;
    }

    .titulos {
        font-size: 8px;
    }

    .conteudo {
        font-size: 6px;
    }

    .tirinhas {
        float: left;
        margin: 0 1px 2px 1px;
        width: 170px;
    }

    .rodape {
        font-size: 6px;
    }

</style>
</body>
</html>