<script type="text/template" id="tempalte-form-horario">
    <legend>Encontro</legend>
    <form name="form-horario" id="form-horario" action="" method="post">
        <div class="row-fluid">
            <div class="well well-small">
                <div class="row-fluid">
                    <div class="span3">
                        <label>
                            Projeto Pedagógico:
                            <select title="Projeto Pedagógico" required class="span12" name="id_projetopedagogico"
                                    id="id_projetopedagogico">
                                <option value="">Selecione</option>
                            </select>
                        </label>
                    </div>
                    <div class="span3">
                        <label>
                            Unidade:
                            <select title="Unidade" required class="span12" name="id_unidade" id="id_unidade">
                                <option value="">Selecione</option>
                            </select>
                        </label>
                    </div>
                    <div class="span3">
                        <label>
                            Turno:
                            <select title="Turno" required class="span12" name="id_turno" id="id_turno">
                                <option value="">Selecione</option>
                            </select>
                        </label>
                    </div>
                    <div class="span3">
                        <label>
                            Turma:
                            <select title="Turma" required class="span12" name="id_turma" id="id_turma">
                                <option value="">Selecione</option>
                            </select>
                        </label>
                    </div>

                </div>
                <div class="row-fluid">
                    <div class="span6">
                        <label>
                            Dia da Semana:
                            <select title="Dia da Semana" required class="span12" id="id_diasemana" name="id_diasemana">
                                <option value="">Selecione</option>
                            </select>
                        </label>
                    </div>
                    <div class="span6">
                        <label>Disciplina:
                        <select title="Disciplina" required class="span12" id="id_disciplina" name="id_disciplina">
                            <option value="">Selecione</option>
                        </select>
                        </label>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span6">
                        <fieldset>
                            <legend>Professores</legend>
                            <div style="overflow: auto; max-height: 190px; padding:0 10px 0 0;">
                                <table id="container-professores"
                                       class="table table-striped table-hover table-bordered">
                                </table>
                            </div>
                        </fieldset>
                    </div>
                    <div class="span6">
                        <fieldset>
                            <legend>Observação</legend>
                            <div class="row-fluid">
                                <textarea class="span12" name="st_observacao" id="st_observacao" maxlength="250"><%=st_observacao%></textarea>

                                <div class="pull-right">
                                    <span id="nu_caracteresobs" class="badge badge-success">250</span>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
                <br>
                <br>
                <!--                <div class="row-fluid">-->
                <!--                    <div class="span6">-->
                <!--                        <fieldset>-->
                <!--                            <legend>Professores</legend>-->
                <!--                            <div style="overflow: auto; max-height: 190px; padding:0 10px 0 0;">-->
                <!--                                <table id="container-professores"-->
                <!--                                       class="table table-striped table-hover table-bordered">-->
                <!--                                </table>-->
                <!--                            </div>-->
                <!--                        </fieldset>-->
                <!--                    </div>-->
                <!--                </div>-->
                <div class="row-fluid">
                    <div class="span12">
                        <div class="pull pull-right">
                            <label for=bl_manterselecionados class="checkbox">
                                <input type="checkbox" id="bl_manterselecionados" > Manter Campos Selecionados
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="pull-right">
                        <button type="button" id="btn-tirinhas" class="btn  btn-info">Tirinhas</button>
                        <button type="button" id="btn-imprimir" class="btn ">Imprimir Grade</button>
                        <button type="submit" id="btn-salvar-item-grade" class="btn btn-success">Adicionar</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</script>

<script type="text/template" id="template-lista-horarios">
    <legend>Horários Cadastrados</legend>
    <table class="backgrid backgrid-selectall table table-striped table-bordered table-hover">
        <thead>
        <tr>
            <th>Projeto Pedagógico</th>
            <th>Unidade</th>
            <th>Turno</th>
            <th>Turma</th>
            <th>Dia da Semana</th>
            <th>Disciplina</th>
            <th>Professor</th>
            <th>Opções</th>
        </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</script>

<script type="text/template" id="template-lista-vazia">
    <td colspan="8">
        <div class="alert alert-warning">
            Nenhum item para exibição
        </div>
    </td>
</script>

<script type="text/template" id="template-professores-lista-vazia">
    <td>
        <div class="alert alert-warning">
            Nenhum item para exibição
        </div>
    </td>
</script>

<script type="text/template" id="template-row-professores">
    <td class="span1"><input type="radio" name="id_professor" value="<%= id_usuario %>"></td>
    <td><%= st_nomecompleto %></td>
    <td class="span1">
        <button type="button" class="btn btn-professor"><i class="icon icon-calendar"></i></button>
    </td>
</script>

<script type="text/template" id="template-row-turma">
    <td class="span1"><input name="id_turma" value="<%= id_turma %>" type="checkbox"></td>
    <td>
        <%= st_turma %>
    </td>
</script>


<script type="text/template" id="template-row-item-grade-turma">
    <td><%=st_projetopedagogico%></td>
    <td><%=st_unidade%></td>
    <td><%=st_turno%></td>
    <td><%=st_turma%></td>
    <td><%=st_diasemana%> - <%=dt_diasemana%> - <%=st_tipoaula%> - <%=st_turnoaula%></td>
    <td><%=st_disciplina%> - Encontro <%=nu_encontro%>/<%=nu_totalencontros%></td>
    <td><%=st_professor%></td>
    <td>
        <center>
            <button class="btn btn-small btn-danger btn-remover-item" type="button"><i
                    class="icon icon-trash icon-white"></i> Apagar
            </button>
        </center>
    </td>
</script>

<script type="text/template" id="tempalte-modal-tirinhas">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Lista de Professores dessa Grade</h3>
    </div>
    <div class="modal-body">
        <table class="table table-bordered table-hover">
            <tbody></tbody>
        </table>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" id="btn-imprimir-todas-tirinhas">Imprimir Todas as Tirinhas</button>
        <button class="btn btn-primary" id="btn-enviar-todos">Enviar Para Todos</button>
        <button class="btn btn-danger" data-dismiss="modal" aria-hidden="true">Cancelar</button>
    </div>
</script>

<script type="text/template" id="tempalte-itens-tirinhas">
    <td>
        <%= st_nomecompleto %>
    </td>
    <td>
        <center>
            <button class="btn brn-imprimir-tirinha">Imprimir</button>
            <button class="btn btn-primary btn-enviar-email">Enviar por e-mail</button>
        </center>
    </td>
</script>