<script type="text/template" id="template-layout-grade">
    <div class="row-fluid" id="regiao-grade"></div>
    <div class="row-fluid" id="regiao-horario"></div>
    <div class="row-fluid" id="regiao-lista-horarios"></div>
    <div class="row-fluid" id="regiao-modal"></div>
</script>


<script type="text/template" id="template-form-grade">
    <form name="form-grade" id="form-grade" action="" method="post">
        <div class="well">
            <legend>Grade Horária</legend>
            <div class="row-fluid">
                <div class="span4">
                    <label>
                        Nome da Grade:
                        <input type="text" title="Nome da Grade" required="required" class="span12" value="<%= st_nomegradehoraria %>" id="st_nomegrade" name="st_nomegrade">
                    </label>
                </div>
                <div class="span4">
                    <label>Período</label>

                    <div class="row-fluid" style="margin-top: -5px;">
                        <div class="span6">
                            <div class="input-append">
                                <label>
                                    <input type="text" title="Data inicial" placeholder="Data inicial" required="required" class="span8 maskDate datepicker_range_min" data-maximo="dt_termino" value="<%= dt_iniciogradehoraria %>" id="dt_inicial" name="dt_inicial">
                                    <button class="btn" type="button">
                                        <i class="icon icon-calendar"></i>
                                    </button>
                                </label>
                            </div>
                        </div>
                        <div class="span6">
                            <div class="input-append">
                                <label>
                                    <input type="text" title="Data final" placeholder="Data final" required="required" class="span8 maskDate datepicker_range_max" data-minimo="dt_inicial" value="<%= dt_fimgradehoraria %>" id="dt_termino" name="dt_termino">
                                    <button class="btn" type="button">
                                        <i class="icon icon-calendar"></i>
                                    </button>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="span4">
                    <label>Situação:
                        <?php //echo $this->form->id_situacao; ?>
                        <select required="required" title="Situação" class="span12" id="id_situacao" name="id_situacao">
                            <option value="">Selecione</option>
                        </select>
                    </label>
                </div>
            </div>

        </div>
        <div class="well">
            <div class="row-fluid">
                <button type="submit" id="btn-salvar" class="btn pull-right btn-success">Salvar</button>
            </div>
        </div>
    </form>
</script>

<!--Horarios Template-->
<?php echo $this->render('/grade-horaria/horarios.phtml'); ?>

<script type="text/javascript">
    perfilProfessor = '<?php echo $this->idPerfilProfessor; ?>';
    <?php if(isset($this->grade)): ?>
    G2S.editModel = <?php echo json_encode($this->grade); ?>;
    <?php endif; ?>
    $('#htmlContent script[type="text/template"]').appendTo($('#templateHolder'));
</script>
<script type="text/javascript" src="/js/backbone/views/Util/SelectView.js"></script>
<script type="text/javascript" src="/grade-horaria/js"></script>