<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <title>Impressão de Grade Horária</title>
    <meta http-equiv="Content-type" content="text/html; charset=UTF-8"/>
    <style type="text/css" media="all">
        /*<style type="text/css" media="print" id="test">*/
        @page {
            margin: 1cm;
            size: 'A4';
        }

        table, td, th {
            margin: 20px 0px;
            border: solid 1px #000;
            border-collapse: collapse;
            text-align: center;
            font-family: "Helvetica Neue", "Arial", sans-serif;
            font-size: 10pt !important;
        }

        td, th {
            padding: 2px;
        }

        .cabecalho {
            background-color: #ccc;
        }
    </style>
</head>
<body onload="javascript:window.print();">
<?php
if ($this->mensagem):
    ?>
    <div class="container">
        <div class="alert alert-error">
            <?php echo $this->mensagem; ?>
        </div>
    </div>
    <?php
endif;

foreach ($this->gradeHoraria as $grade):
    ?>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th colspan="9">
                <h2><?php echo $grade['st_nomegradehoraria']; ?></h2>
                <?php
                if (isset($grade['dt_iniciogradehoraria']) && !empty($grade['dt_iniciogradehoraria'])):
                    $dtInicio = $grade['dt_iniciogradehoraria'];
                    $dtFim = $grade['dt_fimgradehoraria'];
                    echo 'Semana de ' . date('d/m', strtotime($dtInicio['date'])) . ' a ' . date('d/m', strtotime($dtFim['date']));
                endif;
                ?>
            </th>
        </tr>
        <tr class="cabecalho">
            <th>Projeto Pedagógico</th>
            <th>Unidade</th>
            <th>Turno</th>
            <th>Turma</th>
            <th>Dia da Semana</th>
            <th>Disciplina</th>
            <th>Professor</th>
            <th>Observações</th>
        </tr>
        </thead>
        <tbody>
        <?php
        if ($grade['itensGrade']):
            foreach ($grade['itensGrade'] as $item) :
                ?>
                <tr>
                    <td><?php echo !empty($item['st_apelidoprojetopedagogico']) ? $item['st_apelidoprojetopedagogico'] : $item['st_projetopedagogico']; ?></td>
                    <td style="<?php $cor = $item['st_corentidade']; echo isset($cor) ? 'background-color:#' . $cor : ''; ?>">
                        <?php echo !empty($item['st_apelidounidade']) ? $item['st_apelidounidade'] : $item['st_unidade'];
                        unset($cor); ?>
                    </td>
                    <td><?php echo $item['st_turno']; ?></td>
                    <td><?php echo $item['st_turma']; ?></td>
                    <td><?php echo $item['st_diasemana']; ?> - <?php echo $item['dt_diasemana']; ?></td>
                    <td><?php echo !empty($item['st_apelidodisciplina']) ? $item['st_apelidodisciplina'] : $item['st_disciplina']; ?>
                        - Encontro <?php echo $item['nu_encontro']; ?>
                        /<?php echo $item['nu_totalencontros']; ?></td>
                    <td><?php echo $item['st_professor']; ?></td>
                    <td><?php echo $item['st_observacao']; ?></td>
                </tr>
                <?php
            endforeach;
        endif;
        ?>

        </tbody>
    </table>
<?php endforeach; ?>

</body>
</html>