<?php
    $arquivo = 'relatorio_carteira_cliente_' . date('d-m-Y') . '.xls';
    header("Last-Modified: " . gmdate("D,d M YH:i:s") . " GMT");
    header("Cache-Control: no-cache, must-revalidate");
    header("Pragma: no-cache");
    header("Content-Disposition: attachment; filename=\"{$arquivo}\"");
    header("Content-Description: PHP Generated Data");
?>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<?= $this->render('relatorio-carteira-cliente/relatorio.phtml'); ?>


<style type="text/css" media="all">
    @page {
        margin: 1cm;
        size: 'A4';
    }

    table {
        width: 100%;
    }

    table, td, th {
        border: solid 1px #000;
        border-collapse: collapse;
        text-align: center;
        font-family: "Helvetica Neue", "Arial", sans-serif;
        font-size: 10pt !important;
    }

    td, th {
        padding: 2px;
    }

    .backgrid thead th {
        background-color: #657991;
        color: #ffffff;
    }

    .table-bordered {
        -moz-border-bottom-colors: none;
        -moz-border-left-colors: none;
        -moz-border-right-colors: none;
        -moz-border-top-colors: none;
        border-collapse: separate;
        border-color: #aaaaaa #aaaaaa #aaaaaa -moz-use-text-color;
        border-image: none;
        border-radius: 4px;
        border-style: solid solid solid none;
        border-width: 1px 1px 1px 0;
    }

    .table {
        margin-bottom: 20px;
        width: 100%;
    }

    table {
        background-color: transparent;
        border-collapse: collapse;
        border-spacing: 0;
        max-width: 100%;
    }
</style>