<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <title><?php echo 'Relatório Carteira Cliente'; ?></title>
    <meta http-equiv="Content-type" content="text/html; charset=UTF-8" />
    <style type="text/css" media="print" id="test">
        @page{ margin: 1cm; size: 'A4'; }
    </style>
</head>
<body>
    <?= $this->render('relatorio-carteira-cliente/relatorio.phtml'); ?>
</body>