<script type="text/template" id="template-layout-relatorio">
    <div id="container-formulario"></div>
    <div class="well well-large" id="container-tabela"></div>
</script>

<script type="text/template" id="template-formulario-relatorio">
    <form onsubmit="return false;">
        <div class="well well-large">
            <legend>Período</legend>
            <div class="row-fluid">
                <div class="control-group">
                    <div id="div-combo-turma" class="span2">
                        <label for="id-turma">Data Início da Confirmação da Venda: </label>
                        <input type="text" class="span8 maskDate datepicker_range_min" data-maximo="dt_termino" name="dt_inicial" id="dt_filtro_inicio" value=""  placeholder="dia/mês/ano">
                    </div>
                    <div id="div-combo-turma" class="span2">
                        <label for="id-turma">Data Término da Confirmação da Venda: </label>
                        <input type="text" class="span8 maskDate datepicker_range_max" value="" data-minimo="dt_inicial" name="dt_termino" id="dt_filtro_fim" placeholder="dia/mês/ano">
                    </div>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span12">
                    <div class="span6">
                    </div>
                    <div class="span6">
                        <label for="id-evolucao"> &nbsp;</label>
                        <div class="pull-right">
                            <button class="btn-custom pull-right btn" title="Pesquisar" type="submit" id="btnPesquisar"><i class="icon-search icon-white"></i> Pesquisar</button>
                            <button title="Gerar XLS" class="btn pull-right" id="botaoImpressaoXLS"><i class="icon-file"></i></button>
                            <button title="Imprimir" class="btn pull-right" id="botaoImpressaoNormal"><i class="icon-print"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</script>


<script type="text/javascript"> $('#htmlContent script[type="text/template"]').appendTo($('#templateHolder'));</script>
<script type="text/javascript" src="<?php echo $this->url() ?>/js"></script>