<?php
    $mes = array( '01' => 'jan', '02' => 'fev', '03' => 'mar', '04' => 'abr', '05' => 'mai', '06' => 'jun', '07' => 'jul', '08' => 'ago', '09' => 'set', '10' => 'out', '11' => 'nov', '12' => 'dez');
    $dt_inicio = \DateTime::createFromFormat('d/m/Y', $this->params["dt_inicio"]);
    $dt_fim = \DateTime::createFromFormat('d/m/Y', $this->params["dt_fim"]);
    $diff = $dt_inicio->diff($dt_fim);
    $diffMess = 0;
    if($diff->y > 0){
        $diffMess = $diff->y * 12;
    }

    $diffMess += $diff->m;

    if ($this->dados){
?>
<table class="backgrid backgrid-selectall table table-striped table-bordered table-hover" <?php if (!$this->relatorio): ?> cellspacing="1" cellpadding="1" border="1" rules="all" frame="void" style="display: table; float: none; border-top-style: solid; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; width: 100%; background-image: none; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; font-size: 14px "<?php endif ?>>
    <?php if (!$this->relatorio): ?>
        <tr style="text-align: center; border-top-style: solid; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; background-image: none; " >
            <td colspan="<?= $diffMess +2 ?>">
                <font size="4"><strong><?php echo 'Relatório Carteira Cliente'; ?> &nbsp;</strong></font><br />
            </td>
        </tr>
        <tr>
            <th></th>
            <?php
            for($i = 0; $i <= $diffMess; $i++){
                $dt_inicioM = new \DateTime();
                $dt_inicioM->setDate($dt_inicio->format('Y'), $dt_inicio->format('m')+$i, 1);
                ?>
                <th><?= $mes[$dt_inicioM->format('m')].'/'.$dt_inicioM->format('Y') ?></th>
            <?php } ?>
        </tr>
    <?php else: ?>
        <thead>
        <tr>
            <th></th>
            <?php
            for($i = 0; $i <= $diffMess; $i++){
                $dt_inicioM = new \DateTime();
                $dt_inicioM->setDate($dt_inicio->format('Y'), $dt_inicio->format('m')+$i, 1);
                ?>
                <th><?= $mes[$dt_inicioM->format('m')].'/'.$dt_inicioM->format('Y') ?></th>
            <?php } ?>
        </tr>
        </thead>
    <?php endif ?>

    <tbody>
        <tr >
            <td class="string-cell" style="font-weight: bold;">Novas Confirmações</td>
            <?php
            for($i = 0; $i <= $diffMess; $i++){
                $dt_inicioM = new \DateTime();
                $dt_inicioM->setDate($dt_inicio->format('Y'), $dt_inicio->format('m')+$i, 1);
                ?>
                <td class="string-cell" style="font-weight: bold;"><?= $this->dados[$dt_inicioM->format('m').$dt_inicioM->format('Y')]['total_confirmacao'] ?></td>
            <?php } ?>

        </tr>
        <tr>
            <td class="string-cell">Comum</td>
            <?php
            for($i = 0; $i <= $diffMess; $i++){
                $dt_inicioM = new \DateTime();
                $dt_inicioM->setDate($dt_inicio->format('Y'), $dt_inicio->format('m')+$i, 1);
                ?>
                <td class="string-cell"><?= $this->dados[$dt_inicioM->format('m').$dt_inicioM->format('Y')]['confirmacao_comum'] ?></td>
            <?php } ?>
        </tr>
        <tr>
            <td class="string-cell">Assinante CB</td>
            <?php
            for($i = 0; $i <= $diffMess; $i++){
                $dt_inicioM = new \DateTime();
                $dt_inicioM->setDate($dt_inicio->format('Y'), $dt_inicio->format('m')+$i, 1);
                ?>
                <td class="string-cell"><?= $this->dados[$dt_inicioM->format('m').$dt_inicioM->format('Y')]['confirmacao_cb'] ?></td>
            <?php } ?>
        </tr>

        <tr ><td colspan="<?=$diffMess+2 ?>"></td></tr>

        <tr >
            <td class="string-cell" style="font-weight: bold;">Cancelamentos</td>
            <?php
            for($i = 0; $i <= $diffMess; $i++){
                $dt_inicioM = new \DateTime();
                $dt_inicioM->setDate($dt_inicio->format('Y'), $dt_inicio->format('m')+$i, 1);
                ?>
                <td class="string-cell" style="font-weight: bold;"><?= $this->dados[$dt_inicioM->format('m').$dt_inicioM->format('Y')]['total_cancelamento'] ?></td>
            <?php } ?>
        </tr>
        <tr>
            <td class="string-cell">Comum</td>
            <?php
            for($i = 0; $i <= $diffMess; $i++){
                $dt_inicioM = new \DateTime();
                $dt_inicioM->setDate($dt_inicio->format('Y'), $dt_inicio->format('m')+$i, 1);
                ?>
                <td class="string-cell"><?= $this->dados[$dt_inicioM->format('m').$dt_inicioM->format('Y')]['cancelamento_comum'] ?></td>
            <?php } ?>
        </tr>
        <tr>
            <td class="string-cell">Assinante CB</td>
            <?php
            for($i = 0; $i <= $diffMess; $i++){
                $dt_inicioM = new \DateTime();
                $dt_inicioM->setDate($dt_inicio->format('Y'), $dt_inicio->format('m')+$i, 1);
                ?>
                <td class="string-cell"><?= $this->dados[$dt_inicioM->format('m').$dt_inicioM->format('Y')]['cancelamento_cb'] ?></td>
            <?php } ?>
        </tr>

        <tr ><td colspan="<?=$diffMess+2 ?>"></td></tr>

        <tr >
            <td class="string-cell" style="font-weight: bold;">Carteira</td>
            <?php
            for($i = 0; $i <= $diffMess; $i++){
                $dt_inicioM = new \DateTime();
                $dt_inicioM->setDate($dt_inicio->format('Y'), $dt_inicio->format('m')+$i, 1);
                ?>
                <td class="string-cell" style="font-weight: bold;"><?= $this->dados[$dt_inicioM->format('m').$dt_inicioM->format('Y')]['total_carteira'] ?></td>
            <?php } ?>
        </tr>
        <tr>
            <td class="string-cell">Comum</td>
            <?php
            for($i = 0; $i <= $diffMess; $i++){
                $dt_inicioM = new \DateTime();
                $dt_inicioM->setDate($dt_inicio->format('Y'), $dt_inicio->format('m')+$i, 1);
                ?>
                <td class="string-cell"><?= $this->dados[$dt_inicioM->format('m').$dt_inicioM->format('Y')]['carteirasComum']  ?></td>
            <?php } ?>
        </tr>
        <tr>
            <td class="string-cell">Assinante CB</td>
            <?php
            for($i = 0; $i <= $diffMess; $i++){
                $dt_inicioM = new \DateTime();
                $dt_inicioM->setDate($dt_inicio->format('Y'), $dt_inicio->format('m')+$i, 1);
                ?>
                <td class="string-cell"><?= $this->dados[$dt_inicioM->format('m').$dt_inicioM->format('Y')]['carteirasCB'] ?></td>
            <?php } ?>
        </tr>

        <tr ><td colspan="<?=$diffMess+2 ?>"></td></tr>

        <tr >
            <td class="string-cell" style="font-weight: bold;">Novas Confirmações mês $</td>
            <?php
            for($i = 0; $i <= $diffMess; $i++){
                $dt_inicioM = new \DateTime();
                $dt_inicioM->setDate($dt_inicio->format('Y'), $dt_inicio->format('m')+$i, 1);
                ?>
                <td class="string-cell" style="font-weight: bold;"><?= $this->dados[$dt_inicioM->format('m').$dt_inicioM->format('Y')]['total_somatorioconfirmacao'] ?></td>
            <?php } ?>
        </tr>
        <tr>
            <td class="string-cell">Comum</td>
            <?php
            for($i = 0; $i <= $diffMess; $i++){
                $dt_inicioM = new \DateTime();
                $dt_inicioM->setDate($dt_inicio->format('Y'), $dt_inicio->format('m')+$i, 1);
                ?>
                <td class="string-cell"><?= $this->dados[$dt_inicioM->format('m').$dt_inicioM->format('Y')]['somatoriaconf_comum'] ?></td>
            <?php } ?>
        </tr>
        <tr>
            <td class="string-cell">Assinante CB</td>
            <?php
            for($i = 0; $i <= $diffMess; $i++){
                $dt_inicioM = new \DateTime();
                $dt_inicioM->setDate($dt_inicio->format('Y'), $dt_inicio->format('m')+$i, 1);
                ?>
                <td class="string-cell"><?= $this->dados[$dt_inicioM->format('m').$dt_inicioM->format('Y')]['somatoriaconf_cb'] ?></td>
            <?php } ?>
        </tr>

        <tr ><td colspan="<?=$diffMess+2 ?>"></td></tr>

        <tr >
            <td class="string-cell" style="font-weight: bold;">Resultado Carteira $</td>
            <?php
            for($i = 0; $i <= $diffMess; $i++){
                $dt_inicioM = new \DateTime();
                $dt_inicioM->setDate($dt_inicio->format('Y'), $dt_inicio->format('m')+$i, 1);
                ?>
                <td class="string-cell" style="font-weight: bold;"><?= $this->dados[$dt_inicioM->format('m').$dt_inicioM->format('Y')]['total_resultadoconfirmacao'] ?></td>
            <?php } ?>
        </tr>
        <tr>
            <td class="string-cell">Comum</td>
            <?php
            for($i = 0; $i <= $diffMess; $i++){
                $dt_inicioM = new \DateTime();
                $dt_inicioM->setDate($dt_inicio->format('Y'), $dt_inicio->format('m')+$i, 1);
                ?>
                <td class="string-cell"><?= $this->dados[$dt_inicioM->format('m').$dt_inicioM->format('Y')]['resultadoconf_comum'] ?></td>
            <?php } ?>
        </tr>
        <tr>
            <td class="string-cell">Assinante CB</td>
            <?php
            for($i = 0; $i <= $diffMess; $i++){
                $dt_inicioM = new \DateTime();
                $dt_inicioM->setDate($dt_inicio->format('Y'), $dt_inicio->format('m')+$i, 1);
                ?>
                <td class="string-cell"><?= $this->dados[$dt_inicioM->format('m').$dt_inicioM->format('Y')]['resultadoconf_cb'] ?></td>
            <?php } ?>
        </tr>
        <?php if (!$this->relatorio): ?>
            <tr style="border-top-style: solid; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; background-image: none; ">
                <td style="width: 50%; " rowspan="2" colspan="<?= $diffMess + 2 ?>">
                    <p><strong>Gerado por:</strong> <?php echo utf8_encode($this->nomeUsuario); ?>
                        <br /><strong>Gerado em:</strong> <?php echo $this->dataGeracao; ?>
                </td>
            </tr>
        <?php endif  ?>
    </tbody>
</table>
<?php } else { ?>
<table class="backgrid backgrid-selectall table table-striped table-bordered table-hover">
    <thead>
    <th class="text-center">Nenhum registro para exibição</th>
    </thead>
</table>
<?php }  ?>
