<div id="avaliacao-<%=id_tipodeavaliacao%>" class="row-fluid tab-pane conteudos">

    <div class="span9" id="detalhes-agendamento">

        <div class="row-fluid" id="alertasAgendamento">
            <div class="span12">
                <% if (id_mensagens>0 && nu_presenca=='') { %>
                <div class="alert alert-warning">
                    <strong>Advertência!</strong>
                    <%=st_mensagens%>
                </div>
                <% }%>
            </div>
        </div>

        <div class="row-fluid" id="situacaoAgendamento" style="margin-left: 1%;">
            <div class="span12">
                <% if (bl_temnotafinal==1) { %>

                <% if (id_situacao==68) { %>
                <span class="label label-warning"><h5>Prova Realizada!</h5></span><br><br>
                <strong>DIA:</strong><span class="texto_titulo maskDate" id="dt_aplicacao"><%=dt_aplicacao%></span><br>
                <span class="texto_titulo"><strong>CIDADE:</strong><%=st_cidade%></span><br>
                <span class="texto_titulo"><strong>APLICADOR:</strong><%=st_aplicadorprova%></span>
                <% }else{%>
                <span class="label label-warning"><h5>Aluno já tem nota para esta avaliação!</h5></span><br><br>
                <% }%>

                <% }else{%>


                <% if (bl_temnotafinal==0 && nu_presenca==1) { %>

                <span class="label label-error"><h5>ALUNO SEM NOTA PARA ESTA AVALIAÇÃO!</h5></span><br><br>

                <% }%>


                <% if (id_situacao==68 && nu_presenca=='') { %>

                <span class="label label-important"><h4>O aluno possui um agendamento!</h4></span><br><br>
                <span class="texto_titulo"><strong>DIA:</strong><%=dt_aplicacao%></span><br>
                <span class="texto_titulo"><strong>CIDADE:</strong><%=st_cidade%></span><br>
                <span class="texto_titulo"><strong>APLICADOR:</strong><%=st_aplicadorprova%></span>
                <% }%>

                <% if (id_situacao==129 || id_situacao==130 ) { %>
                <span class="label label-warning" id="span_global"><h4>Prova Global</h4></span><br><br>

                <div id="lista_disciplinas hide">
                </div>
                <% }%>

                <% if ((id_situacao==='' && id_mensagens==='') || nu_presenca===0 ) { %>
                <label class="label label-info"><h4> O aluno está apto para esta avaliação.</h4></label>
                <% }%>

                <% if (id_situacao!='' && nu_presenca==='') { %>
                <br>
                <br>
                Situação do Agendamento: <span class="label label-info" id="span_situacao"> <%=st_situacao%></span>
                <% }%>

                <% }%>

                <div id="status-agendamento" class="divider-vertical"></div>

            </div>
        </div>

        <div class="row-fluid" id="telasDeAcao" style="margin-left: 1%;">

        </div>


        <div class="row-fluid divider-vertical <% if (bl_temnotafinal==1 || (bl_temnotafinal==0 && nu_presenca===1)){ %> hide <% }%>"
             id="botoesAgendamento">
            <div class="span12">
                <button class="btn btn-success" type="button" id="btnAgendar">Agendar</button>
                <button class="btn btn-custom" type="button" id="btnReagendar">Reagendar</button>
                <button class="btn btn-danger" type="button" id="btnCancelar">Cancelar</button>
                <button class="btn btn-info" type="button" id="btnLiberar">Liberar</button>
                <button class="btn btn-warning" type="button" id="btnAbonar">Abonar</button>
            </div>
        </div>
    </div>
    <div class="span3" id="detalhes-presenca">
        <% if (id_usuario!='' ) { %>

        <fildset id="id_primeirapresenca">
            <legend>1ª Chamada</legend>
            <span class="label label-warning">Não Lançada</span>

            <span class="label label-important">Ausente</span>

            <span class="label label-success">Presente</span>

        </fildset>
        <% }%>

        <% if (id_provasrealizadas > 1 ) { %>
        <fildset id="id_ultimapresenca">

            <legend><%=id_chamada%>ª Chamada</legend>

            <% if (nu_ultimapresenca==='' && id_situacao==68 ) { %>
            <span class="label label-warning">Não Lançada</span>
            <% }%>

            <% if (nu_ultimapresenca===0 ) { %>
            <span class="label label-important">Ausente</span>
            <% } %>

            <% if (nu_ultimapresenca===1 ) { %>
            <span class="label label-success">Presente</span>
            <% }%>
        </fildset>
        <% }%>
    </div>
</div>

<% if (id_situacao.id_situacao==68 ) { %>
<button class="btn btn-custom span2" type="button" id="btnReagendar">Reagendar</button>
<button class="btn btn-danger span2" type="button" id="btnCancelar">Cancelar</button>
<% }%>
<% if (id_situacao.id_situacao==129 ) { %>
<button class="btn btn-success span2" type="button" id="btnAgendar">Agendar</button>
<button class="btn btn-danger span2" type="button" id="btnCancelar">Cancelar</button>
<% }%>
<% if (id_situacao.id_situacao==130 ) { %>
<button class="btn btn-success span2" type="button" id="btnAgendar">Agendar</button>
<button class="btn btn-danger span2" type="button" id="btnCancelar">Cancelar</button>
<% }%>
<% if (id_situacao.id_situacao==69 ) { %>
<button class="btn btn-custom span2" type="button" id="btnReagendar">Reagendar</button>
<button class="btn btn-danger span2" type="button" id="btnCancelar">Cancelar</button>
<% }%>

