<div id="divPesquisaAlunosAgendamento" class="row-fluid">

</div>
<div id="telaPrincipalAgendamento" class="well telaPrincipalAgendamento">
    <fieldset>
        <legend>Resultados</legend>
        <div class="row-fluid">
            <div id="listaDeAlunos" class="span3 listaDeAlunos">
                <table id="tableListaAlunos" name="tableListaAlunos" class=" table table-bordered table-hover table-striped backgrid"><thead><th>Alunos</th></thead><tbody class="bodyListaAlunos" id="bodyListaAlunos"></tbody></table>
            </div>
            <div id="dadosAgendamentoAluno" class="span9 situacaoAgendamentoAluno">
                <div class="row-fluid">
                    <div id="div-dados-basicos-aluno" class="span12 topoDadosBasicosAluno divider-vertical"></div>
                    <input type="hidden" id="idAvaliacao" value="">
                    <input type="hidden" id="idAvaliacaoRecupera" value="">
                    <input type="hidden" id="qtdeProvas" value="">
                </div>

                <div class="well" style="background: #ffffff;">
                    <div class="row-fluid" id="dadosPrincipais">
                        <div id="menu-abas" class="hide span12 topoAbas">
                            <!-- Div cabeçalho (controle de abas) -->
                        </div>
                        <div id="dadosAba" class="span12 dadosAbas" style="margin-left: 0%;"></div>
                    </div>
                </div>

                <div class="row-fluid">
                    <div id="div-historico" class="span12 historicoAluno"></div>
                    <!-- Div rodapé (tela de historico de agendamentos) -->
                </div>
            </div>
        </div>
    </fieldset>
</div>
