<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="/assets/javascripts/new-relic.js" type="text/javascript"></script>

    <title><?php echo Ead1_Sessao::getSessaoEntidade()->st_nomeentidade; ?></title>

    <meta name="description"
          content="O melhor preparatório de concursos do Brasil, utilizando tecnologia de ponta para ensinar.">

    <link href="/assets/stylesheets/styles.css" rel="stylesheet"
          type="text/css"/>

    <link href="/assets/stylesheets/<?php echo $this->id_entidade ?>.css" rel="stylesheet"
          type="text/css"/>

    <link href="/layout/<?php echo $this->id_entidade ?>/css/normalize.css" rel="stylesheet"
          type="text/css"/>

    <link href="/button-social-bootstrap/bootstrap-social.css" rel="stylesheet"
          type="text/css"/>

    <link href="/button-social-bootstrap/font-awesome.css" rel="stylesheet"
          type="text/css"/>


    <script src="/assets/javascripts/jquery-1.9.1.js"
            type="text/javascript"></script>
    <script src="/assets/javascripts/bootstrap.js"
            type="text/javascript"></script>

    <script src="/assets/javascripts/jquery.maskedinput.js"
            type="text/javascript"></script>
    <script src="/assets/javascripts/jquery.creditCardValidator.js"
            type="text/javascript"></script>
    <script
            src="/assets/javascripts/jqueryvalidate/jquery.validate.js"
            type="text/javascript"></script>
    <script
            src="/assets/javascripts/jqueryvalidate/additional-methods.js"
            type="text/javascript"></script>
    <script src="/assets/javascripts/bootbox.min.js"></script>
    <script src="/assets/javascripts/classes/mensageiro.js"
            type="text/javascript"></script>
    <script src="/assets/javascripts/jquery.form.js"
            type="text/javascript"></script>
    <script src="https://assets.pagar.me/js/pagarme.min.js"></script>
    <script>
        window.encryption_key = "<?php echo $this->entidadeintegracao ? $this->entidadeintegracao->getSt_codsistema() : null ?>";
    </script>
    <script src="<?php echo Ead1_Ambiente::geral()->st_url_loja; ?>/js/funcoes/funcoes.js"
            type="text/javascript"></script>
    <script src="<?php echo Ead1_Ambiente::geral()->st_url_loja; ?>/assets/javascripts/front.js?<?php echo date('YmdHis'); ?>"


    <script type="text/javascript">
        //Define a variavel de ambiente
        var AMBIENTE = '<?php echo Ead1_Ambiente::getAmbiente(); ?>';
    </script>
    <script language="javascript" type="text/javascript">
        //<![CDATA[
        var cot_loc0 = (window.location.protocol == "https:") ? "https://secure.comodo.net/trustlogo/javascript/cot.js" :
            "http://www.trustlogo.com/trustlogo/javascript/cot.js";
        document.writeln('<scr' + 'ipt language="JavaScript" src="' + cot_loc0 + '" type="text\/javascript">' + '<\/scr' + 'ipt>');
        //]]>
    </script>
    <?php
    if (isset($this->configuracaoEntidade)):
        echo $this->configuracaoEntidade;
    endif;

    $googleAnalytics = $this->analytics($this->id_entidade);

    ?>

    <?php if (!empty($googleAnalytics["google_analytics"])): ?>
        <!-- Google Analyics -->
        <script>
            (function (i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r;
                i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }
                    , i[r].l = 1 * new Date();
                a = s.createElement(o),
                    m = s.getElementsByTagName(o)[0];
                a.async = 1;
                a.src = g;
                m.parentNode.insertBefore(a, m)
            })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
            ga('create', '<?php echo $googleAnalytics["google_analytics"]; ?>', 'auto');
            ga('send', 'pageview');
        </script>
    <?php endif; ?>


    <!--    Script default do analytics da dds-->
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }
                , i[r].l = 1 * new Date();
            a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
        ga('create', 'UA-49948840-3', 'auto');
        ga('send', 'pageview');
    </script>

</head>
<body>
<?php if (!empty($googleAnalytics["google_tagmanager"])) : ?>
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=<?php echo $googleAnalytics["google_tagmanager"] ?>"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
<?php endif; ?>

<!--[if lt IE 7]>
<p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to
    improve your experience.</p>
<![endif]-->
<!-- Add your site or application content here -->
<?php
# a demanda GII-7503 determina que a logo 'tempo de concurso' não seja mais a padrão,
# com isso, foi inserido um pixel transparente como logo padrão
$logo = 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR4nGP6zwAAAgcBApocMXEAAAAASUVORK5CYII=';

if (file_exists(APPLICATION_PATH . '/../public/loja/layout/padrao/img/layout/' . $this->id_entidade . '.png')) :
    $logo = '/layout/padrao/img/layout/' . $this->id_entidade . '.png';
elseif (file_exists(APPLICATION_PATH . '/../public/loja/layout/' . $this->id_entidade . '/img/layout/logo-tempo.png')) :
    $logo = '/layout/' . $this->id_entidade . '/img/layout/logo-tempo.png';
endif;

$sigunyleya = false;
if (file_exists(APPLICATION_PATH . '/../public/loja/layout/' . $this->id_entidade . '/img/layout/assinatura-unyleya.png')) :
    $sigunyleya = '/layout/' . $this->id_entidade . '/img/layout/assinatura-unyleya.png';
endif;
?>
<div id="content">
    <header>
        <nav class="nav text-center topo">
            <img class="pad-n-10" id="logomarca" src="<?php echo $logo ?>" alt="<?php echo $this->id_entidade ?>">
        </nav>
    </header>
    <section id="htmlContent">
        <?php echo $this->layout()->content ?>
    </section>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <?php if ($sigunyleya): ?>
                        <a target="_blank" href="http://www.unyleya.com.br"><img src="<?php echo $sigunyleya; ?>"
                                                                                 alt="UnyLeya"/></a>
                    <?php endif; ?>
                </div>
            </div>
        </div>
    </footer>
</div>


<script type="text/javascript" src="https://www.startssl.com/seal.js"></script>
</body>
</html>





