<?php
/*
 * Template para exibição de uma linha de resultados em modo de edição
 */
?>
<script type="text/template" id="boas-vindas-template-edit"> 
    <tr>
    <form>
    <td><input name="st_localaula" value="<%= st_localaula %>"/></td>
    <td width="200">
    <a href="javascript:" class="delete-link btn btn-mini btn-danger">Deletar</a>
    <a href="javascript:" class="save-link btn btn-mini btn-success">Salvar</a>
    <a href="javascript:" class="cancel-link btn btn-mini">Cancelar</a>
    </td>
    </form>
    </tr>
    
    <form method="post" action="" name="formPrimeiroAcesso" id="formPrimeiroAcesso">
    <?php echo $this->form->id; ?>
    <?php echo $this->form->id_usuariocadastro; ?>
    <div class="span12">
    <div class="clearfix"></div>
    <div class="span9">
    <label>Mensagem de Boas Vindas</label>
    <?php echo $this->form->st_texto; ?>
    </div>

    <div class="span9">
    <label>Entidade</label>
    <?php echo $this->form->id_entidade; ?>
    </div>

    <div class="span9">
    <label>Data de Cadastro</label>
    <?php echo $this->form->dt_cadastro; ?>
    </div>

    <div class="clearfix"></div>

    <div class="span9">
    <?php echo $this->form->btnSbmit; ?>
    <input type="button" id="visualizar">Visualizar</input>
    </div>
    </div>
    </form>

</script>