<div id="main-primeiro-acesso">
    
</div>
<script type="text/template" id="main-template">
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span2" id="menuContainer">
                <%=menu%>
            </div>
            <div id="formContainer" class="span10">
                <%=content%>
            </div>
        </div>
    </div>
</script>

<script type="text/template" id="menu-boas-vindas-template">
                <ul class="nav nav-pills nav-stacked">
                    <li <% if (current == "boas-vindas") { %>class="active"<% } %>><a href="#/primeiro-acesso/boas-vindas"  id="link-boas-vindas">Boas Vindas</a></li>
                    <li <% if (current == "dados-contato") { %>class="active"<% } %>><a href="#/primeiro-acesso/dados-contato" id="link-dados-contato">Dados de Contato</a></li>
                    <li <% if (current == "dados-cadastrais") { %>class="active"<% } %>><a href="#/primeiro-acesso/dados-cadastrais" id="link-dados-cadastrais">Dados Cadastrais</a></li>
                    <li <% if (current == "aceitacao-contrato") { %>class="active"<% } %>><a href="/primeiro-acesso/pre-aceitacao-contrato" id="link-aceitacao-contrato" class="preview-link">Aceitação do Contrato</a></li>
                    <li <% if (current == "mensagem-informativa") { %>class="active"<% } %>><a href="#/primeiro-acesso/mensagem-informativa" id="link-mensagem-informativa">Mensagem Informativa</a></li>
                </ul>   
</script>

<script type="text/template" id="boas-vindas-template-edit">
    <div class="tab-pane row-fluid" id="boas-vindas">
        <form  method="post" action="/api/p-a-boas-vindas" name="formDados" id="formDados" onsubmit="return false">
            <div class="row-fluid">
                <div class="span10">
                    <h3>Boas Vindas</h3>
                </div>
            </div>
            <div class="row-fluid"> 
                <div class="span8">
                    <label>Mensagem de Boas Vindas</label>
                    <textarea name="st_texto" class="mce"><%= st_texto %></textarea>
                </div>
                <div class="span4">
                    <label>Variáveis</label>
                    <div id="variaveis" class="well"></div>
                </div>
            </div>
            <div class="form-actions">
                <a class="btn btn-success btn-small save-link">Salvar</a>
                <a href="<?php echo $this->baseUrl(); ?>/primeiro-acesso/pre-boas-vindas" class="btn btn-small preview-link">
                    Visualizar
                </a>
            </div>
    </div>
</form>

</script>

<script type="text/template" id="dados-contato-template-edit"> 

    <div class="tab-pane row-fluid" id="contato">
        <form  method="post" action="/api/p-a-dados-contato" name="formDados" id="formDados" onsubmit="return false">
        <div class="row-fluid">
            <div class="span10">
                <h3>Dados de Contato</h3>
            </div>
</div>
<div class="row-fluid">
            <div class="span8">
                <label>Informações dos Dados de Contato</label>
                <textarea name="st_textomensagem" class="mce"><%= st_textomensagem %></textarea>
            </div>

            <div class="span4">
                <label>Variáveis</label>
                <div id="variaveis" class="well"></div>
            </div>
</div>
            <div class="row-fluid">

            <div class="span8">
                <label>Mensagem de Instrução</label>
                <textarea name="st_textoinstrucao" class="mce"><%= st_textoinstrucao %></textarea>
            </div>

            <div class="span4">
                <label>Assunto da Ocorrência</label>
                <select name="id_assuntocopai" id="id_assuntocopai"></select>

                <br/><br/>

                <label>Subassunto da Ocorrência</label>
                <select name="id_assuntoco" id="id_assuntoco"></select>

                <br/><br/>

                <label>Categoria da Ocorrência</label>
                <select name="id_categoriaocorrencia" id="id_categoriaocorrencia"></select>
            </div>
</div>
<div class="row-fluid"> 
            <div class="form-actions">
                <a class="btn btn-success btn-small save-link">Salvar</a>
                <a href="<?php echo $this->baseUrl(); ?>/primeiro-acesso/pre-dados-contato" class="btn btn-small preview-link">
                    Visualizar
                </a>
            </div>
            <div>
        </form>
    </div>
</script>

<script type="text/template" id="dados-cadastrais-template-edit" > 
    <div class="tab-pane row-fluid" id="cadastro">
        <form  method="post" action="/api/p-a-dados-cadastrais" name="formDados" id="formDados" onsubmit="return false">
            <div class="row-fluid">
                <div class="">
                    <h3>Dados Cadastrais</h3>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span8">
                    <label>Informações dos Dados Cadastrais</label>
                    <textarea name="st_textomensagem" class="mce"><%= st_textomensagem %></textarea>
                </div>

                <div class="span4">
                    <label>Variáveis</label>
                    <div id="variaveis" class="well"></div>
                </div>
                </div>
                <div class="row-fluid">

                <div class="span8">
                    <label>Mensagem de Instrução</label>
                    <textarea name="st_textoinstrucao" class="mce"><%= st_textoinstrucao %></textarea>
                </div>

                <div class="span4">
                    <label>Assunto da Ocorrência</label>
                    <select name="id_assuntocopai" id="id_assuntocopai"></select>

                    <label>Subassunto da Ocorrência</label>
                    <select name="id_assuntoco" id="id_assuntoco"></select>

                    <label>Categoria da Ocorrência</label>
                    <select name="id_categoriaocorrencia" id="id_categoriaocorrencia"></select>
                </div>
            </div>
            <div class="row-fluid"> 
            <div class="form-actions">
                            <a class="btn btn-success btn-small save-link">Salvar</a>
                <a href="<?php echo $this->baseUrl(); ?>/primeiro-acesso/pre-dados-cadastrais" class="btn btn-small preview-link">
                    Visualizar
                </a>
                </div>
            </div>

    </div>    
</form>
</div>
</script>

<script type="text/template" id="mensagem-informativa-template-edit">

<div class="tab-pane row-fluid" id="mensagem">
    <form  method="post" action="/api/p-a-mensagem-informativa" name="formDados" id="formDados" onsubmit="return false">
    <div class="row-fluid"> 
        <div class="span12">
            <h3>Mensagem Informativa</h3>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span8">
            <div class="row-fluid">
                <label>Texto da Mensagem Informativa</label>
                <textarea name="st_textomensagem" class="mce"><%= st_textomensagem %></textarea>
            </div>
            <div class="row-fluid">
                <label>Corpo do E-mail</label>
                <textarea name="st_textoemail" class="mce"><%= st_textoemail %></textarea>
            </div>                
        </div>
        <div class="span4">
            <label>Variáveis</label>
            <div id="variaveis" class="well"></div>
        </div>
    </div>
    <div class="row-fluid">
    <div class="form-actions"> 
        <a class="btn btn-success btn-small save-link">Salvar</a>
        <a href="<?php echo $this->baseUrl(); ?>/primeiro-acesso/pre-mensagem-informativa" class="btn btn-small preview-link">Visualizar</a>
    </div>
    </div>
    </form>
</div>

</script>

<script src="<?php echo $this->baseUrl();?>/primeiro-acesso/js"></script>
<script src="<?php echo $this->baseUrl(); ?>/js/CollectionView.js"></script>
<link href="<?php echo $this->baseUrl(); ?>/css/primeiro-acesso/main.css?_=<?php echo uniqid(); ?>" rel="stylesheet">
