<div class="modal-header">
    <a class="close" data-dismiss="modal">&times;</a>
    <h3>Dados de Contato</h3>
</div>
<div class="modal-body">
    <div class="container">
        <div class="row">
            <div class="span12">
                <img src="<?php echo $this->baseUrl(); ?>/img/primeiro-acesso/pagination/pag2.png"/>
            </div>
            <div class="span12">
                &nbsp;
            </div>
        </div>

        <div class="row content-dados-contato">
            <div class="span12">
                <?php if ($this->mensageiro && $this->mensageiro->getTipo() != Ead1_IMensageiro::SUCESSO) { ?>

                    <?php $class = $this->mensageiro->getTipo() == Ead1_IMensageiro::ERRO ? 'error' : $this->mensageiro->getTipo() == Ead1_IMensageiro::AVISO ? 'warning' : 'success'; ?>

                    <div class="alert alert-<?= $class ?> alert-block">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <?= $this->mensageiro->getFirstMensagem(); ?>
                    </div>
                <?php } ?>
            </div>

            <div class="span12">

            </div>

            <div class="span6">

                <div class="row">
                    <div class="span6 pa-dados-contato">
                        <?php echo $this->textoMensagem; ?>
                    </div>
                </div>

                <div class="row">
                    <div class="span6">
                        &nbsp;
                    </div>
                </div>

                <div class="row">
                    <div class="offset3 span3">                
                        <a id="pa-btn-corrigir" href="#">
                            <img src="<?php echo $this->baseUrl(); ?>/img/primeiro-acesso/btn-corrigir.png"/>
                        </a>
                    </div>

                    <div class="span3">                
                        <a href="#">
                            <img src="<?php echo $this->baseUrl(); ?>/img/primeiro-acesso/btn-voltar.png"/>
                        </a>
                    </div>

                    <div class="span3">
                        <a href="#">
                            <img src="<?php echo $this->baseUrl(); ?>/img/primeiro-acesso/btn-prosseguir.png"/>
                        </a>
                    </div>

                    <div class="span6 pa-texto-mensagem">
                        <?php echo $this->textoInstrucao; ?>
                    </div>
                </div>
            </div>

            <div class="span6 hidden" id="pa-alteracoes-container" >
                <div class="row">
                    <div class="span3 pa-aba active" id="pa-aba-endereco-residencial">
                        Residencial
                    </div>

                    <div class="span3 pa-aba" id="pa-aba-endereco-correspondencia">
                        Correspondência
                    </div>
                </div>
                <form id="pa-alteracoes-dados-contato" class="frm-alteracoes">

                    <div class="row">

                        <div class="span6" id="pa-conteudo-endereco-residencial">

                            <input class="input-xlarge" type="text" placeholder="Endereço" name="desendereco" value="" size="80" maxlength="80"/>
                            <br/>
                            <input class="input-mini" type="text" placeholder="Numero" name="numendereco" value="" size="6" maxlength="5"/>
                            <input class="input-small" type="text" placeholder="Complemento" name="descompendereco" value="" maxlength="50"/>
                            <input class="input-medium" type="text" placeholder="Bairro" name="nombairro" value="" maxlength="50"/>
                            <br/>

                            <select class="input-mini" name="coduf" id="coduf">
                                <option value="">UF</option>
                            </select>

                            <select class="input-large" name="idemunicipioendereco" id="idemunicipioendereco" class="select_mun" >
                                <option value="">Escolha um Município e/ou uma UF</option>
                            </select>

                            <input class="input-small" type="text" placeholder="CEP" id="numcep" name="numcep" value="" maxlength="13" width="13"/>

                            <br/>
                        </div>

                        <div class="span6 hidden" id="pa-conteudo-endereco-correspondencia">
                            <!-- Dados correspondencia -->
                            <input class="input-xlarge" type="text" placeholder="Endereço Correspondência" name="desendereco" value="" size="80" maxlength="80"/>
                            <br/>
                            <input class="input-mini" type="text" placeholder="Numero Correspondência" name="numendereco" value="" size="6" maxlength="5"/>
                            <input class="input-small" type="text" placeholder="Complemento Correspondência" name="descompendereco" value="" maxlength="50"/>
                            <input class="input-medium" type="text" placeholder="Bairro Correspondência" name="nombairro" value="" maxlength="50"/>
                            <br/>

                            <select class="input-mini" name="coduf" id="coduf">
                                <option value="">UF Correspondência</option>
                            </select>

                            <select class="input-large" name="idemunicipioendereco" id="idemunicipioendereco" class="select_mun" >
                                <option value="">Escolha um Município e/ou uma UF Correspondência</option>
                            </select>

                            <input class="input-small" type="text" placeholder="CEP" id="numcep" name="numcep" value="" maxlength="13" width="13"/>

                            <br/>

                        </div>

                        <div class="span6">

                            <input class="input-mini" type="text" placeholder="DDD" id="numdddtelefone"  name="numdddtelefone" value="" maxlength="2" size="2"/> 
                            <input type="text" placeholder="Telefone Residencial" id="numtelefone" name="numtelefone" value="" maxlength="8" size="10"/>
                            <br/>

                            <input class="input-mini" type="text" placeholder="DDD" id="numdddtelefonecomercial" name="numdddtelefonecomercial" value="" maxlength="2" size="2"/>
                            <input type="text"  placeholder="Telefone Comercial" id="numtelefonecomercial" name="numtelefonecomercial" value="" maxlength="11" size="12"/>
                            <br/>

                            <input class="input-mini" type="text" placeholder="DDD" id="numdddcelular" name="numdddcelular" value="" maxlength="2" size="2"/>
                            <input type="text" placeholder="Telefone Celular" id="numcelular" name="numcelular" value="" maxlength="9" size="11"/>

                            <input class="input-xlarge" type="email" placeholder="Email Principal" name="desemail" value="" maxlength="80" size="50" />
                            <br/>
                            <input class="input-xlarge" type="email" placeholder="Email Alternativo" name="desemailalternativo" value="" maxlength="80" size="50"/>
                            <br/>
                            <textarea id="motivo" placeholder="Motivo da Alteração" name="motivo" required="required"></textarea>
                            <br/><font color="red">* É necessário que informe um motivo para a alteração realizada para fins de registro no sistema</font>
                            <br/><br/>
                            <button type="submit" id="btnAlterar" class="btn-atualizar hidden">
                                <img src="<?php echo $this->baseUrl(); ?>/img/primeiro-acesso/btn-atualizar.png" alt="Atualizar" />
                            </button>
                            <!--<input id="btnAlterar" class="btn-atualizar hide" type="button" value="Alterar"/>-->
                            <button type="button" id="btnCancelar" class="btn-cancelar">
                                <img src="<?php echo $this->baseUrl(); ?>/img/primeiro-acesso/btn-cancelar.png" alt="Cancelar" />
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="span12"></div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <a class="btn" data-dismiss="modal">Close</a>
</div>