<div class="modal-header">
    <a class="close" data-dismiss="modal">&times;</a>
    <h3>Aceitação Contrato</h3>
</div>
<div class="modal-body">
    <div class="container">
        <div class="row">
            <div class="span12">
                <img src="<?= Ead1_Ambiente::geral()->st_url_portal; ?>/img/primeiro-acesso/pagination/pag4.png"/>
            </div>
            <div class="span12">
                &nbsp;
            </div>
        </div>

        <div class="row content-aceitacao-contrato">

            <div class="span12">

            </div>

            <div class="span12">
                &nbsp;
            </div>

            <div class="span12">

                <div class="row">
                    <div class="span12 pa-aceitacao-contrato">
                        <p>
                            CONTRATO PARTICULAR DE PRESTAÇÃO DE SERVIÇOS EDUCACIONAIS
                        </p>
                        <p>
                            Data de Aceite: #dt_aceite#
                        </p>
                        <p>
                            Contratante: #nome#  
                        </p>
                        <p>
                            Identidade: #identidade#    
                        </p>
                        <p>
                            CPF: #cpf#
                        </p>
                        <p>
                            Endereço: #endereco#
                        </p>
                        <p>
                            Curso: #cursoreferencia#
                        </p>
                        <p>
                            As partes, de um lado o CONTRATANTE, devidamente qualificado no campo acima, doravante denominado ALUNO, e de outro lado a UNYLEYA EDITORA E CURSOS S.A., CNPJ nº 14.019.108/0001-30 , pessoa jurídica de direito privado, com sede no ST SBS Quadra 02 Bloco E número 12 sala 206 sobreloja parte U, 70.070-120 , Asa Sul, Brasília (DF), doravante denominado CONTRATADO, acordam as seguintes cláusulas:
                            PRIMEIRA: O presente contrato tem como objeto a prestação de serviços educacionais pelo CONTRATADO ao ALUNO, consubstanciados na realização do curso de Pós-Graduação Lato Sensu a distância especificado acima.
                            SEGUNDA: Ao final do curso, tendo o ALUNO atendido todos os requisitos de avaliação necessários e apresentado toda a documentação exigida, será emitido o competente certificado de conclusão pela AVM FACULDADE INTEGRADA, devidamente credenciada pelo Ministério da Educação, conforme a Portaria do Ministério da Educação - MEC nº. 1.633, de 06/10/2006
                            TERCEIRA: O ALUNO declara ter concluído curso superior, conforme diploma que segue anexo ao presente e deste faz parte integrante, sob pena de nulidade desta avença sem prejuízo dos pagamentos efetuados até a data da rescisão.
                        <p>

                            §1º É de inteira e exclusiva responsabilidade do ALUNO a demonstração de que, no momento da presente contratação, havia concluído curso superior que o habilitava ao ingresso no curso de pós-graduação ora contratado.
                        </p>
                        <p>
                            §2º Caso o ALUNO não comprove a conclusão de curso superior, o presente contrato será rescindido de pleno direito sem prejuízo dos pagamentos efetuados até a data da rescisão.
                        </p>
                        <p> 
                            §3º Além do requisito de conclusão do curso superior o ALUNO deverá atender aos demais requisitos estabelecidos pelo CONTRATADO nos termos do art. 44, da Lei nº 9.394, de 20 de dezembro de 1996, em especial os previstos na cláusula sexta deste contrato.
                        </p>
                        <p>
                            QUARTA: Pelos serviços educacionais descritos na cláusula primeira, o ALUNO pagará ao CONTRATADO:  #valorcontrato# 
                        </p>
                        <p>
                            §1º Para pagamento parcelado, o valor do curso será dividido em #numeroparcelas# parcelas iguais e consecutivas, sendo que a primeira deverá ser paga na efetivação da matrícula e as demais nos meses subsequentes, conforme abaixo:
                            #planopagamento#
                        </p>

                        <p>
                            §2º Não estão autorizados pelo CONTRATADO quaisquer formas de depósito em conta corrente pelo ALUNO referente ao pagamento de parcelas, taxas, entre outros. Exceto para pagamento da primeira parcela quando realizada por depósito identificado.
                            A CONTRATANTE não autoriza pagamentos de parcelas, taxas, entre outros por meio de depósito em conta corrente
                        </p>
                        <p>
                            §3º No caso de pagamento por boletos bancários, estes serão encaminhados mensalmente pelo correio e por meio eletrônico aos endereços fornecido pelo ALUNO.
                        </p>
                        <p>
                            §4º Caso não sejam recebidos em até 5 (cinco) dias antes da data de pagamento, o ALUNO deverá retirar uma nova via do boleto no setor de atendimento competente do CONTRATADO.
                        </p>
                        <p>
                            §5º O não cumprimento das orientações descritas no §2º sujeitará o ALUNO ao pagamento dos encargos previstos na cláusula QUINTA deste contrato.
                        </p>
                        <p>
                            §6º O CONTRATADO não se responsabiliza por eventuais falhas somente imputáveis aos serviços dos correios, tais como extravios, greves, atrasos ou violações da correspondência; ou, ainda, problemas imputáveis ao provedor de email do ALUNO, como o não reconhecimento do domínio eletrônico do CONTRATADO, classificação da mensagem eletrônica como spam, entre outros.
                        </p>
                        <p>
                            §7º O não recebimento do boleto antes do vencimento, não exime o ALUNO do pagamento da parcela no seu vencimento.
                        </p>
                        <p>
                            §8º O não cumprimento pelo ALUNO das atividades de seu curso não o exime dos pagamentos.
                        </p>
                    </div>
                    <div class="span12 pa-aceitacao-contrato-acoes">
                        <input id="pa-aceitacao-contrato-checkbox" type="checkbox" name="opt1" value="teste"> Concordo com os Termos do Contrato e confirmo a veracidade dos meus dados.<br/> 
                        <a href="/portal/primeiro-acesso/lembrar-mais-tarde">Lembrar mais tarde</a><br/>
                        <span>*Informamos que o acesso à sala de aula somente estará disponível após a confirmação deste Contrato</span>
                    </div>
                </div>

                <div class="row">
                    <div class="span6">
                        &nbsp;
                    </div>
                </div>

                <div class="row">
                    <div class="span3">                
                        <a href="#">
                            <img src="<?php echo $this->baseUrl(); ?>/img/primeiro-acesso/btn-voltar.png"/>
                        </a>
                    </div>
                    <div class="span3">
                        <a id="pa-aceitacao-contrato-btn-prosseguir" href="#">
                            <img src="<?php echo $this->baseUrl(); ?>/img/primeiro-acesso/btn-prosseguir.png"/>
                        </a>
                    </div>
                </div>
            </div>

            <div class="span12"></div>

        </div>

    </div>
</div>
<div class="modal-footer">
    <a class="btn" data-dismiss="modal">Close</a>
</div>