<div class="modal-header">
    <a class="close" data-dismiss="modal">&times;</a>
    <h3>Mensagem Informativa</h3>
</div>
<div class="modal-body">
    <div class="container">
        <div class="row-fluid">
            <div class="span12">
                <img src="<?php echo $this->baseUrl(); ?>/img/primeiro-acesso/pagination/pag5.png"/>
            </div>
            <div class="span12">
                &nbsp;
            </div>
        </div>

        <div class="row-fluid content-mensagem-informativa">
            <div class="span12">
                
            </div>

            <div class="span12">

            </div>

            <div class="span6">
                <h1>INFORME</h1>
                <?php echo $this->texto; ?>
            </div>

            <div class="span12"></div>

            <div class="span6">
                <a href="#">
                    <img src="<?php echo $this->baseUrl(); ?>/img/primeiro-acesso/btn-voltar.png"/>
                </a>
                <a href="#">
                    <img src="<?php echo $this->baseUrl(); ?>/img/primeiro-acesso/btn-prosseguir.png"/>
                </a>
            </div>
        </div>
    </div> <!-- /container -->
</div>
<div class="modal-footer">
    <a class="btn" data-dismiss="modal">Close</a>
</div>