<div class="modal-header">
    <a class="close" data-dismiss="modal">&times;</a>
    <h3>Dados Cadastrais</h3>
</div>
<div class="modal-body">
    <div class="container">
        <div class="row">
            <div class="span12">
                <img src="<?= Ead1_Ambiente::geral()->st_url_portal; ?>/img/primeiro-acesso/pagination/pag3.png"/>
            </div>
            <div class="span12">
                &nbsp;
            </div>
        </div>

        <div class="row content-dados-contato">
            <div class="span12">
                <?php if ($this->mensageiro && $this->mensageiro->getTipo() != Ead1_IMensageiro::SUCESSO) { ?>

                    <?php $class = $this->mensageiro->getTipo() == Ead1_IMensageiro::ERRO ? 'error' : $this->mensageiro->getTipo() == Ead1_IMensageiro::AVISO ? 'warning' : 'success'; ?>

                    <div class="alert alert-<?= $class ?> alert-block">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <?= $this->mensageiro->getFirstMensagem(); ?>
                    </div>
                <?php } ?>
            </div>

            <div class="span12">

            </div>

            <div class="span6">

                <div class="row">
                    <div class="span6 pa-dados-cadastrais">
                        <?= $this->textoMensagem; ?>
                    </div>
                </div>

                <div class="row">
                    <div class="span6">
                        &nbsp;
                    </div>
                </div>

                <div class="row">
                    <div class="offset3 span3">                
                        <a id="pa-btn-corrigir" href="#">
                            <img src="<?= Ead1_Ambiente::geral()->st_url_portal; ?>/img/primeiro-acesso/btn-corrigir.png"/>
                        </a>
                    </div>

                    <div class="span3">                
                        <a href="#">
                            <img src="<?= Ead1_Ambiente::geral()->st_url_portal; ?>/img/primeiro-acesso/btn-voltar.png"/>
                        </a>
                    </div>
                    <div class="span3">
                        <a href="#">
                            <img src="<?= Ead1_Ambiente::geral()->st_url_portal; ?>/img/primeiro-acesso/btn-prosseguir.png"/>
                        </a>
                    </div>

                    <div class="span6 pa-texto-mensagem">
                        <?= $this->textoInstrucao; ?>
                    </div>
                </div>
            </div>

            <div class="span6 hidden" id="pa-alteracoes-container" >
                <div class="row">
                    <div class="span6">
                        <form id="pa-alteracoes-dados-cadastrais" class="frm-alteracoes">
                            <input type="text" class="input-xlarge" placeholder="Nome" name="nompessoa" value="" size="50"/>
                            <input type="text" class="input-medium" placeholder="Data de Nascimento" id="datnascimento" name="datnascimento" value=""/>
                            <br/>
                            <input type="text" class="input-small" placeholder="CPF" id="numcpf" name="numcpf" value="" maxlength="11" size="20"/>
                            <input type="text" class="input-small" placeholder="RG" name="numidentidade" value="" maxlength="20" size="20"/>
                            <input type="text" class="input-mini" placeholder="Orgão Emissor" name="dessiglaorgaoemissor" value="" maxlength="11" size="20"/>
                            <input type="text" class="input-small" placeholder="Data de Expedição" id="datemissao" name="datemissao" value="" maxlength="20" size="20"/>
                            <input type="text" placeholder="Naturalidade" name="nomcidadenaturalidade" value="" maxlength="20" size="20"/>
                            <input type="text" placeholder="Nacionalidade" name="desnacionalidade" value="" maxlength="20" size="20"/>

                            <textarea placeholder="Cursos" name="cursos"></textarea>
                            <textarea placeholder="Motivo da Alteração" id="motivo" name="motivo"></textarea>
                            <br/><font color="red">* É necessário que informe um motivo para a alteração realizada para fins de registro no sistema</font>
                            <br/><br/>
                            <button type="submit" id="btnAlterar" class="btn-atualizar hidden">
                                <img src="<?= Ead1_Ambiente::geral()->st_url_portal; ?>/img/primeiro-acesso/btn-atualizar.png" alt="Atualizar" />
                            </button>
                            <!--<input id="btnAlterar" class="btn-atualizar hide" type="button" value="Alterar"/>-->
                            <button type="button" id="btnCancelar" class="btn-cancelar">
                                <img src="<?= Ead1_Ambiente::geral()->st_url_portal; ?>/img/primeiro-acesso/btn-cancelar.png" alt="Cancelar" />
                            </button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="span12"></div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <a class="btn" data-dismiss="modal">Close</a>
</div>