<div class="modal-header">
    <a class="close" data-dismiss="modal">&times;</a>
    <h3>Boas Vindas</h3>
</div>
<div class="modal-body">
    <div class="container">
        <div class="row-fluid">
            <div class="span12">
                <img src="<?php echo $this->baseUrl(); ?>/img/primeiro-acesso/pagination/pag1.png"/>
            </div>
            <div class="span12">
                &nbsp;
            </div>
        </div>

        <div class="row-fluid content-boas-vindas">
            <div class="span12">
                <?php if ($this->mensageiro) { ?>

                    <?php $class = $this->mensageiro->getTipo() == Ead1_IMensageiro::ERRO ? 'error' : $this->mensageiro->getTipo() == Ead1_IMensageiro::AVISO ? 'warning' : 'success'; ?>

                    <div class="alert alert-<?= $class ?> alert-block">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <?= $this->mensageiro->getFirstMensagem(); ?>
                    </div>
                <?php } ?>
            </div>

            <div class="span12">

            </div>

            <div class="span6">
                <h1>SEJA BEM-VINDO</h1>
                <?php echo $this->textoBoasVindas; ?>
            </div>

            <div class="span12"></div>

            <div class="span3">
                <img src="<?php echo $this->baseUrl(); ?>/img/primeiro-acesso/btn-prosseguir.png"/>
            </div>
        </div>
    </div> <!-- /container -->
</div>
<div class="modal-footer">
    <a class="btn" data-dismiss="modal">Close</a>
</div>