<script id="funcionalidade-template" type="text/template">
    <div class="well">
        <fieldset>
            <legend>Funcionalidades</legend>
        </fieldset>
        <table class="table table-bordered table-striped table-hover backgrid">
            <thead>
            <tr>
                <th>Nome</th>
                <th>Link Wiki</th>
                <th>Funcionalidade Pai</th>
                <th style="width: 50px;">Editar</th>
            </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</script>
<script id="funcionalidade-view" type="text/template">
    <td><%= st_funcionalidade %></td>
    <td><%= st_ajuda %></td>
    <td class="id_funcionalidadepai"></td>
    <td>
        <button class="btn btn-custom btn-mini actionEdit" type="button">
            Editar
        </button>
    </td>
</script>
<script id="funcionalidade-edit" type="text/template">
    <td>
        <input name="st_funcionalidade" type="text" value="<%= st_funcionalidade %>"/>
    </td>
    <td>
        <input name="st_ajuda" type="text" value="<%= st_ajuda %>"/>
    </td>
    <td>
        <select name="id_funcionalidadepai">
            <option value="">Carregando...</option>
        </select>
    </td>
    <td style="white-space: nowrap;">
        <button class="btn btn-success btn-mini actionSave" type="button">
            Salvar
        </button>
        <button class="btn btn-mini actionEdit" type="button">
            Cancelar
        </button>
    </td>
</script>

<div class="well">
    Carregando...
</div>

<script type="text/javascript"> $('#htmlContent script[type="text/template"]').appendTo($('#templateHolder'));</script>
<script type="text/javascript" src="/funcionalidade-menu/js"></script>