/*Autor do CSS:Luis Felipe Lino e design
/*(61)9970-0121 luisfelipelino@gmail.com


/* ==========================================================================
   Estilização Básica: Padrões opcionais. 
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * Melhoria visual da linha horizontal
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Estilo customizado - Coloque seu código abaixo
   ========================================================================== */


/*===========================================
fontes
=============================================*/
@charset "utf-8";

@font-face {
    font-family: 'RockwellRegular';
    src: url('../fonts/rock-webfont.eot');
    src: url('../fonts/rock-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/rock-webfont.woff') format('woff'),
         url('../fonts/rock-webfont.ttf') format('truetype'),
         url('../fonts/rock-webfont.svg#RockwellRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Helvetica65-Medium";
    src: url("../fonts/helveticamed.eot");/*usado no ie*/
    src: url('../fonts/helveticamed.eot?#iefix') format('embedded-opentype'),
         url('../fonts/helveticamed.ttf') format('truetype');/*usado nos outros navegadores*/
    font-weight:normal;
    font-style: normal;
}

.rockwell {font-family: 'RockwellRegular','Helvetica65-Medium', sans-serif}

/*===============================================
estilos da aplicação
=================================================*/
#content{display:table; margin:0px auto 30px auto; padding:0px; width:980px;}
#content header{display:table; height:170px; margin:0px; position:relative; width:100%;}
#content header #logo{display:block; float:left; margin:30px 0px 0px 0px;}
#content header #assinatura{float:right;}
#content hr{border:none; border-bottom:1px solid #ddd; display:table; margin:20px 0px 20px 0px; width:100%;}
#content hr.invisible{visibility: hidden;}
#content button.continuar{
    float:right;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #ffffff;
    padding: 12px 60px;
	background: #a90329; /* Old browsers */
	background: -moz-linear-gradient(top,  #a90329 0%, #8f0222 44%, #6d0019 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a90329), color-stop(44%,#8f0222), color-stop(100%,#6d0019)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* W3C */
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #000;
    -moz-box-shadow:
        0px 1px 3px rgba(000,000,000,0.3),
        inset 0px 0px 1px rgba(255,255,255,0.7);
    -webkit-box-shadow:
        0px 1px 3px rgba(000,000,000,0.3),
        inset 0px 0px 1px rgba(255,255,255,0.7);
    box-shadow:
        0px 1px 3px rgba(000,000,000,0.3),
        inset 0px 0px 1px rgba(255,255,255,0.7);
    text-shadow:
        0px 0px 0px rgba(000,000,000,0),
        0px 1px 0px rgba(255,255,255,0);
}
#content button.continuar a{color:#fff; text-decoration:none;}

#content button.editar{
    float:right;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #ffffff;
    margin:10px 10px 10px 0px;
    padding: 12px 60px;
    background: -moz-linear-gradient(
        top,
        #13a59b 0%,
        #0b615d);
    background: -webkit-gradient(
        linear, left top, left bottom, 
        from(#13a59b),
        to(#0b615d));
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #044a47;
    -moz-box-shadow:
        0px 0px 3px rgba(000,000,000,0.3),
        inset 0px 0px 2px rgba(255,255,255,0.5);
    -webkit-box-shadow:
        0px 0px 3px rgba(000,000,000,0.3),
        inset 0px 0px 2px rgba(255,255,255,0.5);
    box-shadow:
        0px 0px 3px rgba(000,000,000,0.3),
        inset 0px 0px 2px rgba(255,255,255,0.5);
    text-shadow:
        0px 0px 0px rgba(000,000,000,0),
        0px 0px 0px rgba(10,10,10,0);
}

/*
estilos que servem vários elementos
*/
.generic-container{display:table; min-height:150px; width:100%;}
.generic-container h2{color:#666; float:left; font-size:25px; margin:0px; width:340px;}
.generic-container div{border:1px solid #ddd; background-color:#eee; float:right; margin:0px 0px 10px 0px; padding:0px; width:635px;}
.generic-container .soma-total{background-image:url("../img/layout/back-amount.png"); display:block; float:right; height:40px; margin:0px 0px 20px 0px; width:635px;}
.generic-container .soma-total p{background-color: none; color:#fff; font-weight:600;}
.generic-container .soma-total p:first-child{float:left;}
.generic-container .soma-total p:last-child{float:right;}

/*
estilos individuais de cada área
tabela de produtos
*/
table {margin:5px auto 5px auto; width:99%;}
table tr {border-bottom:1px solid #ddd; margin:10px;}
table tr:first-child, table tr:last-child{border:none;}
table tr:first-child{color:#555;}
table tr th{background-color:#fff; height:25px; padding:0px 10px 0px 10px; text-align: left; width:100%;}
table tr td{color:#555; padding:2px 10px 2px 10px;}
table tbody tr .center{text-align: center;}

/*
formulário de cadastro
*/
.generic-container div label{color:#666; display:block; float:left; font-size: 18px; margin:10px 0px 0px 10px;}
.generic-container div input{border:1px solid #ddd; float:right; height:20px; margin:10px 10px 10px 0px; width:330px;}
.generic-container div input[type="radio"] {border:0; float:none; height:13px; margin:10; width:13px; vertical-align: middle;}
.generic-container div input.error {border-color:#F00;}
.generic-container div select{float:right;  margin:10px 10px 10px 0px; width:330px;}
.generic-container div hr.divisorias-form{clear: both;margin:0px auto 0px auto!important; width:620px!important;}
.generic-container div hr.divisorias-form:last-child{border-color:transparent!important;}

/*
Cadastro de confirmacao
*/
#meu-cadastro p, #entrega div p{color:#666; float:right; width:330px;}

/*
radios do endereço de entrega
*/
#entrega p.entrega{color:#555; font-size: 18px; margin:0px;}
#entrega input[type="radio"]{float:left; margin-left:0px; width:30px; vertical-align: middle;}
#entrega label{float:left;}

/*
Formas de pagamento
*/

#pagamento div ul{background-color:#eee; display:table; float:left; list-style-type: none; margin:0px 0px 0px 0px; padding:0px; width:268px;}
#pagamento div ul li{background-color:#eee; margin:0px; padding:10px 0px 10px 10px;}
#pagamento div ul li:hover{background-color: #fff;}
#pagamento div ul li.active{background-color: #fff;}
#pagamento div ul li span{color:#e1623c; cursor:pointer; display:block; font-size:18px;}
#pagamento div ul hr{margin-left:0px; width:270px!important;}

/*Seleciona o cartão de pagamento*/
#pagamento div{background-color:#eee;}
#pagamento div .boleto, 
#pagamento div .cartao{background-color:#fff!important; float:left; padding:0px 0px 0px 13px; width:352px;}
#pagamento div .boleto form, #pagamento div .cartao form{background-color:#fff!important; display:table; font-size:12px; margin:10px 0px 0px 0px; padding:0px; width:350px;}
#pagamento div .cartao form input{display:block; float:left; margin:0px 0px 0px 10px; height:15px; width:15px;}
#pagamento div .cartao form div{background-color:#fff!important;}
#pagamento div .cartao form div.selecionacartao{border:none; float:left; width:114px;}
#pagamento div .cartao form div.selecionacartao img{margin-left: 10px;}

#pagamento div .cartao form hr.divisorias-form{border:1px solid #000; width:200px;}
#pagamento div .cartao form div.dados-cartao{border:none; width:350px;}
#pagamento div .cartao form div.dados-cartao span{float:left;}
#pagamento div .cartao form div.dados-cartao input{margin:0px; width:150px;}
#pagamento div .cartao form div.dados-cartao select{float:left; margin:0px; padding:0px; width:150px;}
#pagamento div .cartao form div.dados-cartao .nome-cartao{width:320px;}
#pagamento div .cartao form button.continuar{margin:10px 10px 10px 0px;}

#pagamento div .boleto{height:200px!important;}
/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}


#carregando { display:none; height:100%; width:100%; background-image:url(../img/fundo_trans.png); position:fixed; z-index:1002; text-align:center; }
#carregando_mensagem { width:230px; border:1px solid #FFF; color:#FFF; background-color:#666; margin:300px auto; padding:30px; }

label.error { font-weight:normal; color:#F00; font-size:11px; }
span.error { color:#F00; font-size:11px;}
span.sucess { color:#060; font-size:11px; }