<script type="text/javascript" src="/js/backbone/views/Util/SelectView.js"></script>
<script type="text/template" id="folha_layout">
    <div class="well well-large">
        <div class="row-fluid">
            <div class="control-group">
                <div class="span3">
                    <div class="span12" id="div-combo-entidade">
                        <label for="id_entidade">Entidade</label>

                        <div id="combo-entidade"></div>
                        <select name="" id="id_entidade">
                            <option value="">Selecione</option>
                        </select>
                    </div>
                </div>
                <div class="span3">
                    <div class="span12" id="div-combo-categoria">
                        <label for="id_categoria">Categoria</label>

                        <div id="combo-categoria"></div>
                        <select name="" id="id_categoria">
                            <option value="">Selecione</option>
                        </select>
                    </div>
                </div>
                <div class="span3">
                    <div class="span12" id="div-combo-Evolucao">
                        <label for="id_evolucao">Evolução</label>
                        <div id="combo-evolucao"></div>
                        <select name="" id="id_evolucao">
                            <option value="">Selecione</option>
                        </select>
                    </div>
                </div>
                <div class="span3">
                    <div class="span12">
                        <label for="id-evolucao"> &nbsp;</label>
                        <button class="btn btn-success" type="button" id="btn_gerar_relatorio">Gerar
                            Relatório
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div id="tabela-relatorio"></div>
    <div id="container-table"></div>
</script>

<script type="text/template" id="script_tabela_relatorio">
    <div class="well well-large">
        <legend>Categoria: <%= st_categoria %></legend>
        <div class="row-fluid">
            <div class="control-group span12" style="overflow: auto; height: 100%;">
                <table role="dialog" class="table table-bordered table-striped backgrid">
                    <thead>
                    <tr>
                        <th class="span5">TURMA</th>
                        <th class="span1">TURNO</th>
                        <th class="span1">C/H</th>
                        <th class="span1">DATA INÍCIO</th>
                        <th class="span1">SITUAÇÃO</th>
                        <th class="span1">MATRÍCULAS</th>
                    </tr>
                    </thead>
                    <tbody id="tabelaDadosRelatorio"></tbody>
                    <tfoot>
                    <th colspan="5" style="text-align: right">TOTAL</th>
                    <th id="totalMatriculas"><%= totalMatriculas %></th>
                    </tfoot>
                    <tfoot>
                    <th colspan="5" style="text-align: right">TOTAL FREE PASS - Regra</th>
                    <th id="totalMatriculas"><%= totalFreepass %></th>
                    </tfoot>
                    <tfoot>
                    <th colspan="5" style="text-align: right">TOTAL GARANTIA DUO - Regra</th>
                    <th id="totalMatriculas"><%= totalGarantiaduo %></th>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</script>


<script type="text/template" id="item-relatorio">
    <td><%= st_turma %></td>
    <td><%= st_turno %></td>
    <td><%= st_cargahoraria %></td>
    <td><%= dt_inicio %></td>
    <td><%= st_evolucao %></td>
    <td><%= nu_matriculas %></td>
</script>

<script type="text/template" id="no-dado">
    <div class="alert alert-info nomargin">Nenhum informação encontrada para ser exibida!</div>
</script>

<script type="text/javascript"> $('#htmlContent script[type="text/template"]').appendTo($('#templateHolder'));</script>
<script type="text/javascript" src="<?php echo $this->url() ?>/js"></script>
<script type="text/javascript" src="/folha-de-numeros-apoio/js"></script>
