<div id="lista-entidades-perfil">
    <?php
    if (!$this->erro) {
        foreach (array_chunk($this->listaPerfil, 3) as $row) {
            ?>
            <div class="row" id="lista-entidades-perfil">
                <?php
                foreach ($row as $entidadeTO) {
                    ?>
                    <div class="col-md-4 col-sm-4 animated"
                         data-animtype="fadeInUp"
                         data-animrepeat="0"
                         data-animspeed="1s"
                         data-animdelay="0s"
                         id="grupo-entidade-<?php echo $entidadeTO->getId_entidade(); ?>">
                        <div class="feature ">
                            <div class="feature-image img-overlay">
                                <?php if ($entidadeTO->st_urlimglogo && file_exists($this->dir.'/layout/' . $entidadeTO->id_entidade . '/imagens/logo_padrao.png')) { ?>
                                    <img class="logo-selecao-perfil-entidade"
                                         alt="<?php echo $entidadeTO->getSt_nomeentidade(); ?>"
                                         src="<?php echo $this->baseUrl . '/layout/' . $entidadeTO->id_entidade . '/imagens/logo_padrao.png'; ?>"/>
                                <?php } else { ?>
                                    <img class="logo-selecao-perfil-entidade"
                                         alt="<?php echo $entidadeTO->getSt_nomeentidade(); ?>"
                                         src="<?php echo $this->baseUrl; ?>/layout/padrao/imagens/logo_padrao.png"/>
                                    <?php
                                }
                                ?>
                            </div>


                            <div class="feature-content uny">
                                <h3 class="h3-body-title blog-title">
                                    <?php echo $entidadeTO->getSt_nomeentidade(); ?>
                                </h3>

                                <ul class="icons-list arrow colored-list perfispedagogico">
                                    <?php
                                    if (!empty($entidadeTO->perfis)) {
                                        foreach ($entidadeTO->perfis as $id_perfilpedagogico => $perfis) {
                                            ?>
                                            <li>
                                                <?php
                                                $c = (count($perfis['perfis']) > 1);
                                                if ($c == true) {
                                                    ?>
                                                    <a href="#" data-toggle="modal" data-target="#myModal"
                                                       class="modal-target">
                                                        <?php echo $perfis['st_perfilpedagogico']; ?>
                                                    </a>
                                                    <ul class="side-navigation hide">
                                                        <?php
                                                        foreach ($perfis['perfis'] as $perf) {
//                                                        if ($perf->getSt_tituloexibicao() != '') {
                                                            ?>
                                                            <li class="menu-item">
                                                                <a href="javascript:void(0)" class="perfilAluno"
                                                                   data-target="#myModal"
                                                                   data-identidade="<?php echo $entidadeTO->getId_entidade(); ?>"
                                                                   data-idperfil="<?php echo $perf->getId_perfil(); ?>"
                                                                   data-idmatricula="<?php echo $perf->getId_matricula(); ?>"
                                                                   data-idprojetopedagogico="<?php echo $perf->getId_projetopedagogico(); ?>"
                                                                   data-idperfilpedagogico="<?php echo $perf->getId_perfilpedagogico(); ?>">
                                                                    <?php echo $perf->getSt_tituloexibicao(); ?>
                                                                </a>
                                                            </li>
                                                            <?php
                                                            //}
                                                        } ?>
                                                    </ul>
                                                    <?php
                                                } else {
                                                    foreach ($perfis['perfis'] as $perf) {
                                                        ?>
                                                        <a href="javascript:void(0)" class="perfilAluno"
                                                           data-identidade="<?php echo $entidadeTO->getId_entidade(); ?>"
                                                           data-idperfil="<?php echo $perf->getId_perfil(); ?>"
                                                           data-idmatricula="<?php echo $perf->getId_matricula(); ?>"
                                                           data-idprojetopedagogico="<?php echo $perf->getId_projetopedagogico(); ?>"
                                                           data-idperfilpedagogico="<?php echo $perf->getId_perfilpedagogico(); ?>">
                                                            <?php echo $perfis['st_perfilpedagogico']; ?>
                                                        </a>
                                                        <?php
                                                    }
                                                }
                                                ?>
                                            </li>
                                            <?php
                                        }
                                    } ?>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <?php
                }
                ?>
            </div>
            <div class="space-sep"></div>
            <?php
        }
        ?>
        <form action="/portal/login/selecionaperfilacesso" method="post" id="selecionarPerfil">
            <input type="hidden" name="id_perfil" id="id_perfil"/>
            <input type="hidden" name="id_perfilpedagogico" id="id_perfilpedagogico"/>
            <input type="hidden" name="id_projetopedagogico" id="id_projetopedagogico"/>
            <input type="hidden" name="id_matricula" id="id_matricula"/>
            <input type="hidden" name="id_entidade" id="id_entidade"/>
        </form>
        <?php
    } else {
        ?>
        <div class="span12 well well-large">
            <? echo $this->erro; ?>
        </div>
        <?

    }
    ?>
</div>
