#carregando-tela {
	
	position:absolute;
	top:0;
	left:0;
	/*margin: 0 auto;*/
	border:1px solid #090;
	background-image:url(/layout/padrao/imagens/transparente.png);
	/*background-color:#F00;*/
	z-index:8009;
	overflow:hidden;

}

#carregando-mensagem {
	width:300px;
	height:60px;
	border:1px solid #000;
	position:absolute;
	top:200px;
	left:-180px;
	margin-left:50%;
	background-color:#FFF;
	-moz-border-radius: 5px; -webkit-border-radius: 5px;
	-moz-box-shadow: 4px 4px 2px #888;
	-webkit-box-shadow: 4px 4px 2px #888;
	box-shadow: 4px 4px 2px #888;
	padding:7px;
	padding-top:15px;
	padding-left:20px;
	text-align:center;
}
