<script id="layout-template" type="text/template">
    <form class="well" method="post">
        <fieldset>
            <legend>Relatório de Agendamento</legend>
        </fieldset>

        <fieldset class="row-fluid">
            <label class="label-inline" for="dt_agendamento_min">
                Data de realização do agendamento entre:
            </label>
            <div>
                <input id="dt_agendamento_min" class="datepicker maskDate" type="text" name="dt_agendamento_min"
                       placeholder="__/__/____"/>
                &nbsp; e &nbsp;
                <input id="dt_agendamento_max" class="datepicker maskDate" type="text" name="dt_agendamento_max"
                       placeholder="__/__/____"/>
            </div>
        </fieldset>
        <fieldset class="row-fluid">
            <label class="span6">
                Nome:
                <input id="st_nomecompleto" class="span12" type="text" name="st_nomecompleto"/>
            </label>
            <label class="span6">
                CPF:
                <input id="st_cpf" class="span12" type="text" name="st_cpf" placeholder="___.___.___-__"/>
            </label>
            <input id="id_entidade" name="id_entidade" type="hidden"/>
        </fieldset>
        <fieldset class="row-fluid">
            <div class="span6">
                <label>
                    Local de Prova:
                    <input name="st_aplicadorprova" id="st_aplicadorprova" class="span12 no-margin" type="text"
                           placeholder="Digite para pesquisar"
                           data-search="#id_aplicadorprova"
                    />
                </label>
                <select name="id_aplicadorprova" id="id_aplicadorprova" class="span12 horizontal-scroll" size="4">
                    <option value="">Carregando...</option>
                </select>
            </div>
            <label class="span2">
                Ano:
                <select name="nu_anoaplicacao" id="nu_anoaplicacao" class="span12" disabled>
                    <option value="">[Selecione o Local de Prova]</option>
                </select>
            </label>
            <label class="span2">
                Mês:
                <select name="nu_mesaplicacao" id="nu_mesaplicacao" class="span12" disabled>
                    <option value="">[Selecione o Ano]</option>
                </select>
            </label>
            <label class="span2">
                Data da Aplicação:
                <select name="id_avaliacaoaplicacao" id="id_avaliacaoaplicacao" class="span12" disabled>
                    <option value="">[Selecione o Mês]</option>
                </select>
            </label>
        </fieldset>
        <hr/>
        <fieldset class="row-fluid">
            <div class="span6">
                <label>
                    Curso:
                    <input name="st_projetopedagogico" id="st_projetopedagogico" class="span12 no-margin" type="text"
                           placeholder="Digite para pesquisar"
                           data-search="#id_projetopedagogico"
                    />
                </label>
                <select name="id_projetopedagogico" id="id_projetopedagogico" class="span12 horizontal-scroll" size="4">
                    <option value="">Carregando...</option>
                </select>
            </div>
            <label class="span2">
                Responsável Agendamento:
                <select name="st_responsavel" id="st_responsavel" class="span12">
                    <option value="">Todos</option>
                    <option value="sistema">Sistema G2</option>
                    <option value="aluno">Aluno</option>
                    <option value="atendente">Atendente</option>
                </select>
            </label>
            <label class="span2">
                Possui Prova:
                <select name="bl_possuiprova" id="bl_possuiprova" class="span12">
                    <option value="">[Selecione]</option>
                    <option value="n">Não</option>
                    <option value="s">Sim</option>
                </select>
            </label>
            <label class="span2">
                Possui Prova Integrada:
                <select name="bl_temprovaintegrada" id="bl_temprovaintegrada" class="span12">
                    <option value="">[Selecione]</option>
                    <option value="0">Não</option>
                    <option value="1">Sim</option>
                </select>
            </label>
        </fieldset>
        <fieldset class="text-right">
            <div class="well well-small" style="background-color: #fff;">
                <label class="total-box" style="display: none; float: left; margin: 4px 0 0;">
                    <b>
                        Total de Registros:
                        <span>0</span>
                    </b>
                </label>
                <label style="display: inline-block; margin: 0;">
                    Registros por Página:
                    <input id="nu_registros" type="number" name="nu_registros" value="30"
                           style="margin: 0; width: 50px;"/>
                </label>
                <button class="btn btnPrint" type="button" title="Imprimir">
                    <i class="icon icon-print"></i>
                </button>
                <button class="btn btnXls" type="button" title="Gerar arquivo XLS">
                    <i class="icon icon-file"></i>
                </button>
                <button class="btn btn-custom" type="submit" title="Pesquisar">
                    <i class="icon icon-search icon-white"></i>
                    Pesquisar
                </button>
            </div>
        </fieldset>
        <div id="pesquisa-container" class="text-center table-responsive"></div>
        <div id="pesquisa-paginacao" class="text-center table-responsive"></div>
    </form>
</script>

<script type="text/javascript">
    $('#templateHolder').empty().append($('#htmlContent script[type="text/template"]'));
    <?php echo $this->render('/relatorio-alunos-agendados/index.js') ?>
</script>