<script type="text/javascript" src="/js/backbone/views/Util/SelectView.js"></script>
<script type="text/javascript" src="/js/utils/functions.js?_=<?php uniqid() ?>"></script>
<script type="text/javascript" src="/prorrogacao/js"></script>

<script type="text/template" id="template-layout-prorrogacao">
    <div class="row-fluid" id="regiao-prorrogacao">
        <legend>Prorrogação de prazo</legend>
        <form name="form-grade" id="form-grade" action="#" method="post">
            <div class="well well-small">
                <div class="row-fluid">
                    <div class="span4">
                        <label>
                            Entidade
                            <select required="required" title="Entidade" class="span12" id="id_entidadematriz"
                                    name="id_entidadematriz">
                                <option value="">Selecione</option>
                            </select>
                        </label>
                    </div>
                    <div class="span4">
                        <label>
                            Projeto Pedagógico
                            <select required="required" title="Projeto" class="span12" id="id_projetopedagogico"
                                    name="id_projetopedagogico">
                                <option value="">Selecione</option>
                            </select>
                        </label>
                    </div>
                    <div class="span4">
                        <div class="row-fluid" style="margin-top: -5px;">
                            <div class="span6">
                                <div class="input-append">
                                    <label for="dt_inicial_comprar">Data da Matrícula de: </label>
                                    <input type="text" title="Data inicial" placeholder="Data inicial"
                                           required="required" class="span8 maskDate datepicker_range_min"
                                           data-maximo="dt_termino" value="" id="dt_inicio" name="dt_inicio">
                                    <button class="btn" type="button">
                                        <i class="icon icon-calendar"></i>
                                    </button>
                                </div>
                            </div>

                            <div class="span6">
                                <div class="input-append">
                                    <label for="dt_termino_comprar"> Data da Matrícula Até:</label>
                                    <input type="text" title="Data final" placeholder="Data final" required="required"
                                           class="span8 maskDate datepicker_range_max" data-minimo="dt_inicio" value=""
                                           id="dt_termino" name="dt_termino">
                                    <button class="btn" type="button">
                                        <i class="icon icon-calendar"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row-fluid">
                    <button class="btn-custom pull-right btn" title="Pesquisar" type="button" id="btnPesquisar">
                        <i class="icon-search icon-white"></i> Pesquisar
                    </button>
                </div>
            </div>
        </form>
    </div>
    <div id="container-DataGrid" class="row-fluid">
        <div class="well well-large">
            <div id="template-data-grade"></div>
            <div class="row-fluid">
                <div class="pull-right">
                    <div class="input-prepend input-append">
                        <label>Acrescentar<br> </label>
                        <span class="add-on"><strong>+</strong></span>
                        <input class="span6 numeric" id="nu_dias" name="nu_dias" type="text">
                        <span class="add-on"><strong>dias</strong></span>
                        <button class="btn-success btn" title="Prorrogar" type="button" id="btnProrrogar">
                            <i class="icon-search icon-white"></i> Prorrogar
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>



