<link rel="stylesheet" type="text/css" href="<?php echo $this->baseUrl(); ?>/css/auto-complete-pessoa.css"/>
<script type="text/javascript" src="/js/auto-complete-componente.js"></script>
<script type="text/javascript" src="/js/backbone/views/SelectView.js"></script>

<?php echo $this->render('/util/auto-complete-pessoa.phtml'); ?>

<script type="text/template" id="template-layout">

    <div class="row-fluid" id="autoComplete">

    </div>

    <div class="row-fluid" id="dadosPrevios">

    </div>

    <div class="row-fluid" id="conteudoForm"></div>

</script>

<script type="text/template" id="template-conteudo">

    <div class="well">
        <fieldset>
            <legend>Dados Pessoais</legend>

            <div class="row-fluid">
                <div class="span3">
                    <label>CPF:</label>
                    <input class="span12" type="text" value="<%= st_cpf %>" disabled>
                </div>

                <div class="span3">
                    <label>Data de nascimento:</label>
                    <input class="span12" type="text" value="<%= dt_nascimento %>" disabled>
                </div>

                <div class="span6">
                    <label>Nacionalidade:</label>
                    <select class="span12" type="text" disabled>
                        <option value=""><%= st_nomepais%></option>
                    </select>
                </div>
            </div>

            <div class="row-fluid">
                <div class="span6">
                    <label>Município de Nascimento:</label>
                    <input type="text" class="span12" value="<%= st_municipionascimento %>" disabled>
                </div>

                <div class="span6">
                    <label>Estado de Nascimento:</label>
                    <input type="text" class="span12" value="<%= st_ufnascimento %>" disabled>
                </div>
            </div>

            <div class="row-fluid">
                <div class="span6">
                    <label>Nome completo:</label>
                    <input type="text" class="span12" value="<%= st_nomecompleto %>" disabled>
                </div>

                <div class="span6">
                    <label>Sexo:</label>
                    <div class="radio inline"><input type="radio" <%= st_sexo == 'M' ? 'checked' : ''%> disabled>
                        Masculino
                    </div>
                    <div class="radio inline"><input type="radio" <%= st_sexo == 'F' ? 'checked' : ''%> disabled>
                        Feminino
                    </div>
                </div>
            </div>

            <div class="row-fluid">
                <div class="span6">
                    <label>Nome da mãe:</label>
                    <input class="span12" type="text" value="<%= st_nomemae %>" disabled>
                </div>

                <div class="span6">
                    <label>Nome do pai:</label>
                    <input class="span12" type="text" value="<%= st_nomepai %>" disabled>
                </div>
            </div>

            <div class="row-fluid">

                <div class="span2">
                    <label>Nº do documento:</label>
                    <input class="span12" type="text" value="<%= st_rg %>" disabled>
                </div>

                <div class="span2">
                    <label>Órgão emissor:</label>
                    <input class="span12" type="text" value="<%= st_orgaoexpeditor %>" disabled>
                </div>

                <div class="span2">
                    <label>Data de emissão:</label>
                    <input class="span12" type="text" value="<%= dt_dataexpedicao %>" disabled>
                </div>

                <div class="span3">
                    <label>Título de eleitor:</label>
                    <input class="span12" type="text" value="<%= st_tituloeleitor %>" disabled>
                </div>

                <div class="span3">
                    <label>Certificado de reservista:</label>
                    <input class="span12" type="text" value="<%= st_certificadoreservista %>" disabled>
                </div>
            </div>

            <div class="row-fluid">
                <div class="span3">
                    <label>Grau de instrução:</label>
                    <input type="text" class="span12" value="<%= st_nivelensino %>" disabled>
                </div>
                <div class="span3">
                    <label>Curso de formação:</label>
                    <input type="text" class="span12" value="<%= st_curso %>" disabled>
                </div>
                <div class="span3">
                    <label>Instituição de ensino:</label>
                    <input type="text" class="span12" value="<%= st_nomeinstituicao %>" disabled>
                </div>
                <div class="span3">
                    <label>Titulação:</label>
                    <select type="text" class="span12" value="<%= st_titulacao %>" disabled></select>
                </div>
            </div>

        </fieldset>
    </div>
</script>

<script type="text/template" id="template-form">
    <% var anoAtual = new Date().getFullYear(); %>

    <div class="well">

        <fieldset>
            <legend>Dados Complementares</legend>
            <form id="dadosComplementaresForm">
                <div class="row-fluid">

                    <div class="span3">
                        <label>Ensino médio concluído em:</label>
                        <div class="radio inline"><input type="radio" value="1" name="id_tipoescola" required
                            <%=id_tipoescola.id_tipoescola == 1 ? 'checked' : ''%> > Escola Pública
                        </div>
                        <div class="radio inline"><input type="radio" value="2" name="id_tipoescola"
                            <%=id_tipoescola.id_tipoescola == 2 ? 'checked' : ''%> > Escola Particular</span></div>
                    </div>

                    <div class="span3">
                        <label>Ano de Conclusão:</label>
                        <input class="span12" type="number" min="1900" max="<%= anoAtual %>" maxlength="4"
                               name="dt_anoconclusao" value="<%= dt_anoconclusao %>" required>
                    </div>

                    <div class="span3">
                        <label>Curso de formação:</label>
                        <input class="span12" type="text" name="st_curso" value="<%= st_curso %>" required>
                    </div>

                    <div class="span3">
                        <label>Instituição de ensino:</label>
                        <input class="span12" type="text" name="st_nomeinstituicao" value="<%= st_nomeinstituicao %>"
                               required>
                    </div>

                </div>
                <div class="row-fluid">
                    <div class="span3">
                        <label>UF da instituição de ensino:<br>
                            <?php echo $this->form->sg_uf; ?>
                        </label>
                    </div>
                    <div class="span3">
                        <label>Município da instituição de ensino:</label>
                        <select name="id_municipioinstituicao" id="id_municipioinstituicao" required class="span12">
                            <option value="" disabled>Selecione</option>
                        </select>
                    </div>
                </div>

                <div class="row-fluid">
                    <div class="span3">
                        <label>Etnia:</label>
                        <select class="span12" type="text" name="id_etnia" required>
                            <option value="">Carregando...</option>
                        </select>
                    </div>

                    <div class="span9">
                        <label>
                            Usuário com deficiência, transtorno global do desenvolvimento ou altas
                            habilidades/superdotação?
                        </label>
                        <label class="radio inline">
                            <input type="radio" name="id_pessoacomdeficiencia" value="1"
                            <%= id_pessoacomdeficiencia == 1 ? 'checked' : '' %> required>
                            Sim
                        </label>
                        <label class="radio inline">
                            <input type="radio" name="id_pessoacomdeficiencia" value="2"
                            <%= id_pessoacomdeficiencia == 2 ? 'checked' : '' %> >
                            Não
                        </label>
                    </div>
                </div>
                <div class="well bg-white deficiencia-content hide">
                    <div class="row-fluid">
                        <div class="span6">
                            <div id="container-deficiencia"></div>
                        </div>
                        <div class="span6">
                            <label>Especifique:</label>
                            <textarea id="st_descricaodeficiencia" class="span12" name="st_descricaodeficiencia"
                                      rows="8"
                            <%=id_pessoacomdeficiencia == 2 ? 'disabled' : '' %> ><%= st_descricaodeficiencia ?
                            st_descricaodeficiencia : '' %></textarea>
                        </div>
                    </div>
                </div>

                <div class="row-fluid">
                    <button type="submit" class="btn btn-default pull-right">Enviar</button>
                </div>
            </form>
        </fieldset>
    </div>

</script>


<script type="text/javascript"> $('#htmlContent script[type="text/template"]').appendTo($('#templateHolder'));</script>
<script type="text/javascript" src="<? $this->baseUrl() ?>/cadastro-dados-complementares/js"></script>