<script type="text/template" id="template-layout-relatorio">
    <div class="well well-large" id="container-formulario"></div>
    <div class="well well-large" id="container-tabela"></div>
</script>

<script type="text/template" id="template-formulario-relatorio">
    <form name="formRelatorio" id="formRelatorio" method="post" action="">
        <div class="row-fluid">
            <div class="control-group">
                <div class="span12">
                    <div class="span6" id="div-combo-entidade">
                        <label for="id-entidade">Entidade</label>
                        <select id="id_entidade" class="span12">
                            <option value="">Todos</option>
                        </select>
                    </div>
                    <div class="span6" id="div-combo-turma">
                        <label for="id-turma">Data da Matrícula: </label>

                        <div class="input-append">
                            <input id="dt_filtro_inicio" name="dt_filtro_inicio" value="" type="text" class="datepicker maskDate datepicker_range_min" data-maximo="dt_filtro_fim"/>
                            <button class="btn" type="button">
                                <i class="icon icon-calendar"></i>
                            </button>
                        </div>
                        até
                        <div class="input-append">
                            <input id="dt_filtro_fim" name="dt_filtro_fim" value="" type="text" class="datepicker maskDate datepicker_range_max" data-maximo="dt_filtro_inicio"/>
                            <button class="btn" type="button">
                                <i class="icon icon-calendar"></i>
                            </button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="row-fluid">
            <div class="pull-right">
                <button class="btn btn-success" type="submit" id="btn_gerar_relatorio">
                    Pesquisar Relatório
                </button>
                <button class="btn btn-success" type="button" id="btn_gerar_xls">
                    Gerar XLS
                </button>
            </div>
        </div>
    </form>
</script>

<script type="text/template" id="template-tabela-relatorio">
    <!--    <table role="dialog" class="table table-bordered table-striped backgrid">-->
    <thead>
    <tr>
        <th>Contrato</th>
        <th>Nome do Aluno</th>
        <th>E-mail</th>
        <th>Entidade</th>
        <th>Evolução</th>
        <th>Matrícula</th>
        <th>Projeto Pedagógico</th>
        <th>Quantidade de Disciplinas</th>
        <th>Último acesso</th>
        <th>Nº Disc. Completas <br>
            <small>(Nota satisfatória)</small>
        </th>
        <th>Nº Disc. Completas <br>
            <small>(Nota não satisfatória)</small>
        </th>
        <th>Nº Disc. não encerradas</th>
        <th>Situação do Agendamento</th>
    </tr>
    </thead>
    <tbody id="tabelaDadosRelatorio"></tbody>
    <!--    </table>-->
</script>


<script type="text/template" id="template-item-relatorio">
    <td>Contrato</td>
    <td>Nome</td>
    <td>E-mail</td>
    <td>Entidade</td>
    <td>Evolução</td>
    <td>Matricula</td>
    <td>Ultimo acesso</td>
    <td>N disc. encerrada com nota +</td>
    <td>N disc. completas com nota -</td>
    <td>N disc. não encerradas</td>
    <td>Situação do agendamento</td>
</script>

<script type="text/template" id="template-item-relatorio-empty">
    <td colspan="6">
        <div class="alert alert-warning">
            Sem Resultado
        </div>
    </td>
</script>

<script type="text/javascript">
    $('#htmlContent script[type="text/template"]').appendTo($('#templateHolder'));
</script>
<script type="text/javascript" src="/ultimo-acesso-aluno/js-divisao-de-carteira"></script>