<?php

header("Content-type: application/vnd.ms-excel");
header("Content-type: application/force-download");
header("Pragma: no-cache");

$html = '<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" >';
$html .= '<table border="1" >';
$html .= '<thead >';
$html .= '<tr>';
$html .= '<td colspan="5" style="text-align: center;color: #333333; display: block; font-size: 17px; line-height: 40px;">Último Acesso Aluno</td>';
$html .= '</tr>';
$html .= '<tr>';
$html .= '<th>Contrato</th>';
$html .= '<th>Nome do Aluno</th>';
if ($this->detalhado):
    $html .= '<th class="span5">E-mail</th>';
endif;
$html .= '<th>Entidade</th>';
$html .= '<th>Evolução</th>';
$html .= '<th>Matrícula</th>';
$html .= '<th>Projeto Pedagógico</th>';
$html .= '<th>Quantidade de Disciplinas</th>';
$html .= '<th>Último acesso</th>';
if ($this->detalhado):
    $html .= '<th>N Disc. Completas (Nota satisfatória)</th>';
    $html .= '<th>N Disc. Completas (Nota não satisfatória)</th>';
    $html .= '<th>N Disc. não encerradas</th>';
endif;
$html .= '<th>Situação Agendamento</th>';
$html .= '</tr>';
$html .= '</thead>';
$html .= '<tbody>';

foreach ($this->dados as $value) {
    $html .= '<tr>';
    $html .= '<td>' . $value['id_contrato'] . '</td>';
    $html .= '<td>' . $value['st_nomecompleto'] . '</td>';
    if ($this->detalhado):
        $html .= '<td>' . $value['st_email'] . '</td>';
    endif;
    $html .= '<td>' . $value['st_nomeentidade'] . '</td>';
    $html .= '<td>' . $value['st_evolucao'] . '</td>';
    $html .= '<td>' . $value['id_matricula'] . '</td>';
    $html .= '<td>' . $value['st_projetopedagogico'] . '</td>';
    $html .= '<td>' . $value['nu_disciplina'] . '</td>';
    $html .= '<td>' . $value['dt_cadastro'] . '</td>';
    if ($this->detalhado):
        $html .= '<td>' . $value['nu_disciplinascomnota'] . '</td>';
    endif;
    if ($this->detalhado):
        $html .= '<td>' . $value['nu_disciplinasemnota'] . '</td>';
    endif;
    if ($this->detalhado):
        $html .= '<td>' . $value['nu_disciplinasnaoencerradas'] . '</td>';
    endif;
    $html .= '<td>' . $value['st_situacaoagendamento'] . '</td>';
    $html .= '</tr>';
}
$html .= '</tbody>';
$html .= '</table>';
$arquivo = 'ultimo_acesso_aluno_' . date('d-m-Y') . '.xls';
header("Last-Modified: " . gmdate("D,d M YH:i:s") . " GMT");
header("Cache-Control: no-cache, must-revalidate");
header("Pragma: no-cache");
header("Content-Disposition: attachment; filename=\"{$arquivo}\"");
header("Content-Description: PHP Generated Data");


echo $html;
?>

<style type="text/css" media="all">
    @page {
        margin: 1cm;
        size: 'A4';
    }

    table {
        width: 100%;
    }

    table, td, th {
        border: solid 1px #000;
        border-collapse: collapse;
        text-align: center;
        font-family: "Helvetica Neue", "Arial", sans-serif;
        font-size: 10pt !important;
    }

    td, th {
        padding: 2px;
    }

    .backgrid thead th {
        background-color: #657991;
        color: #ffffff;
    }

    .table-bordered {
        -moz-border-bottom-colors: none;
        -moz-border-left-colors: none;
        -moz-border-right-colors: none;
        -moz-border-top-colors: none;
        border-collapse: separate;
        border-color: #aaaaaa #aaaaaa #aaaaaa -moz-use-text-color;
        border-image: none;
        border-radius: 4px;
        border-style: solid solid solid none;
        border-width: 1px 1px 1px 0;
    }

    .table {
        margin-bottom: 20px;
        width: 100%;
    }

    table {
        background-color: transparent;
        border-collapse: collapse;
        border-spacing: 0;
        max-width: 100%;
    }
</style>