<script type="text/javascript" src="/js/backbone/views/SelectView.js"></script>

<script type="text/template" id="ultimo_acesso_aluno_layout">
    <div class="well well-large">
        <legend>Filtros</legend>
        <div class="row-fluid">
            <div class="control-group">
                <div class="span12">
                    <div class="span6" id="div-combo-entidade">
                        <label for="id-entidade">Entidade</label>

                        <div id="combo-entidade"></div>
                        <select id="id_entidade" class="span12">
                            <option value="">Todos</option>
                        </select>
                    </div>
                    <div class="span6" id="div-combo-turma">
                        <label for="id-turma">Data da Matrícula: </label>

                        <input id="dt_filtro_inicio" value="" type="text" class="datepicker maskDate"/>
                        até
                        <input id="dt_filtro_fim" value="" type="text" class="datepicker maskDate"/>
                    </div>
                </div>
            </div>
            <div class="control-group">
                <div class="span12">
                    <div class="span6">
                    </div>
                    <div class="span6">
                        <label for="id-evolucao"> &nbsp;</label>
                        <div class="pull-right">
                            <button class="btn btn-success" type="button" id="btn_gerar_relatorio">Pesquisar
                                Relatório
                            </button>
                            <button class="btn btn-success" type="button" id="btn_gerar_xls">Gerar XLS
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="tabela-relatorio"></div>
    <div id="container-table"></div>
</script>

<script type="text/template" id="script_tabela_relatorio">
    <div class="well well-large">
        <div class="row-fluid">
            <div class="control-group span12" style="overflow: auto; height: 100%;">
                <table role="dialog" class="table table-bordered table-striped backgrid">
                    <thead>
                    <tr>
                        <th>Contrato</th>
                        <th class="span5">Nome do Aluno</th>
                        <th>Entidade</th>
                        <th>Evolução</th>
                        <th>Matrícula</th>
                        <th>Último acesso</th>
                    </tr>
                    </thead>
                    <tbody id="tabelaDadosRelatorio"></tbody>
                </table>
            </div>
        </div>
    </div>
</script>

<script type="text/template" id="item-relatorio">
    <td><%= id_contrato %></td>
    <td><%= st_nomecompleto %></td>
    <td><%= st_nomeentidade %></td>
    <td><%= st_evolucao %></td>
    <td><%= id_matricula %></td>
    <td><%= dt_cadastro %></td>
</script>

<script type="text/javascript"> $('#htmlContent script[type="text/template"]').appendTo($('#templateHolder'));</script>
<script type="text/javascript" src="<?php echo $this->url() ?>/js"></script>