<html>
    <head>
        <title>G2S - Ops!</title>
        <link href="<?php echo $this->baseUrl(); ?>/css/bootstrap.min.css" rel="stylesheet" />
        <link href="<?php echo $this->baseUrl(); ?>/css/style.css" rel="stylesheet" />
    </head>
    <body>
        <div class="div-g2s">
            <div class="G2S">
                <div id="top">
                    <div class="wrapper container-fluid">
                        <a class="logo" title="G2S" href="/">
                            <img alt="G2S" src="/img/layout/logo.png">
                        </a>
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="container-fluid" id="content">
                    <div id="htmlContent" style="display: block; margin-top: 20px;">
                        <?php if (Zend_Registry::isRegistered('messageNotFound')): ?>
                            <div class="alert alert-warning">
                                <?php echo Zend_Registry::get('messageNotFound') ?>
                            </div>
                        <?php endif; ?>
                        <?php if (Zend_Registry::isRegistered('messageForbdden')): ?>
                            <div class="alert alert-danger">
                                <?php echo Zend_Registry::get('messageForbdden') ?>
                            </div>
                        <?php endif; ?>

                        <div class="row-fluid" style="text-align: center;">
                            
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </body>
</html>