<script src="<?php echo $this->baseUrl(); ?>/bower_components/jquery/dist/jquery.js"></script>
<script src="<?php echo $this->baseUrl(); ?>/bower_components/bootstrap/docs/assets/js/bootstrap.min.js"></script>
<script src="<?php echo $this->baseUrl(); ?>/bower_components/bootbox/bootbox.js"></script>

<script src="<?php echo $this->baseUrl(); ?>/bower_components/underscore/underscore-min.js"></script>
<script src="<?php echo $this->baseUrl(); ?>/bower_components/backbone/backbone.js"></script>
<script src="<?php echo $this->baseUrl(); ?>/bower_components/backbone.marionette/lib/backbone.marionette.min.js"></script>

<script src="<?php echo $this->baseUrl(); ?>/bower_components/routefilter/dist/backbone.routefilter.js"></script>
<script src="<?php echo $this->baseUrl(); ?>/bower_components/backbone-modelbinder/Backbone.ModelBinder.min.js"></script>
<script src="<?php echo $this->baseUrl(); ?>/bower_components/backbone-modelbinder/Backbone.CollectionBinder.min.js"></script>
<script src="<?php echo $this->baseUrl(); ?>/bower_components/backgrid/lib/backgrid.min.js"></script>
<script src="<?php echo $this->baseUrl(); ?>/js/backbone-forms/backbone-forms.js"></script>
<script src="<?php echo $this->baseUrl(); ?>/bower_components/backbone-forms/src/editors/extra/list.js"></script>
<script src="<?php echo $this->baseUrl(); ?>/bower_components/lunr.js/lunr.min.js"></script>

<script src="<?php echo $this->baseUrl(); ?>/js/backbone/backgrid-filter.js"></script>
<script src="<?php echo $this->baseUrl(); ?>/bower_components/backgrid-paginator/backgrid-paginator.min.js"></script>
<script src="<?php echo $this->baseUrl(); ?>/js/backbone/backgrid-select-all.js"></script>

<script src="<?php echo $this->baseUrl(); ?>/bower_components/backgrid-select-filter/backgrid-select-filter.js"></script>
<script src="<?php echo $this->baseUrl(); ?>/bower_components/backbone-pageable/lib/backbone-pageable.min.js"></script>
<script src="<?php echo $this->baseUrl(); ?>/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
<script src="<?php echo $this->baseUrl(); ?>/bower_components/bootstrap-datepicker/dist/locales/bootstrap-datepicker.pt-BR.min.js"></script>
<script src="<?php echo $this->baseUrl(); ?>/bower_components/jquery.maskedinput/dist/jquery.maskedinput.min.js"></script>
<script src="<?php echo $this->baseUrl(); ?>/bower_components/jquery-maskmoney/dist/jquery.maskMoney.min.js"></script>
<script src="<?php echo $this->baseUrl(); ?>/bower_components/jquery-cookie/jquery.cookie.js"></script>
<script src="<?php echo $this->baseUrl(); ?>/bower_components/jquery.hotkeys/jquery.hotkeys.js"></script>
<script src="<?php echo $this->baseUrl(); ?>/bower_components/jquery-numeric/dist/jquery-numeric.js"></script>
<script src="<?php echo $this->baseUrl(); ?>/bower_components/backbone-autocomplete/src/backbone.autocomplete-min.js"></script>
<script src="<?php echo $this->baseUrl(); ?>/bower_components/pnotify/jquery.pnotify.min.js"></script>
<script src="<?php echo $this->baseUrl(); ?>/bower_components/select2/select2.min.js"></script>
<script src="<?php echo $this->baseUrl(); ?>/bower_components/tinymce/tinymce.min.js"></script>
<script src="<?php echo $this->baseUrl(); ?>/bower_components/tinymce/jquery.tinymce.min.js"></script>
<script src="<?php echo $this->baseUrl(); ?>/bower_components/colpick-jQuery-Color-Picker/js/colpick.js"></script>
<script src="<?php echo $this->baseUrl(); ?>/bower_components/highcharts/highcharts.js"></script>
<script src="<?php echo $this->baseUrl(); ?>/bower_components/backbone.syphon/lib/backbone.syphon.min.js"></script>
<script src="<?php echo $this->baseUrl(); ?>/bower_components/backbone.validation/dist/backbone-validation-min.js"></script>
<script src="<?php echo $this->baseUrl(); ?>/bower_components/backbone-model-file-upload-master/backbone-model-file-upload.js"></script>

<script src="<?php echo $this->baseUrl(); ?>/js/jquery.jstree.js"></script>
<script src="<?php echo $this->baseUrl(); ?>/js/jquery.form.js"></script>
<script src="<?php echo $this->baseUrl(); ?>/js/CollectionView.js"></script>

<script src="<?php echo $this->baseUrl(); ?>/js/utils/constants.js"></script>
<script src="<?php echo $this->baseUrl(); ?>/js/utils/functions.js"></script>
<script src="<?php echo $this->baseUrl(); ?>/js/utils/modalOcorrecia.js"></script>
<script src="<?php echo $this->baseUrl(); ?>/js/app.js"></script>

<script src="<?php echo $this->baseUrl(); ?>/js/backbone/autocomplete.js"></script>
<script src="<?php echo $this->baseUrl(); ?>/js/backbone/backbone-autocomplete.js"></script>
<script src="<?php echo $this->baseUrl(); ?>/js/backbone/views/Util/modal_basica.js"></script>
<script src="<?php echo $this->baseUrl(); ?>/js/MensagensG2.js"></script>
<script src="<?php echo $this->baseUrl(); ?>/js/colpick.js"></script>
<script src="<?php echo $this->baseUrl(); ?>/js/comboboxview.js"></script>
<script src="<?php echo $this->baseUrl(); ?>/js/bootstrap-timepicker.0.2.6.js"></script>

<script src="<?php echo $this->baseUrl(); ?>/js/backbone/views/Util/SelectView.js"></script>
<script src="<?php echo $this->baseUrl(); ?>/js/backbone/views/Util/SideBySideView.js"></script>

<!-- Load de todas as models em um unico arquivo -->
<script src="<?php echo $this->baseUrl(); ?>/gestor2/build/js/all_entities.js"></script>
<!-- Fim -->

<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-49948840-1', 'unyleya.com.br');
    ga('send', 'pageview');

</script>