<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="googlebot" content="noindex">
    <meta http-equiv="pragma" content="no-cache"/>
    <script src="<?php echo $this->baseUrl(); ?>/js/utils/new-relic.js"></script>

    <link href="<?php echo $this->baseUrl(); ?>/favicon.ico" rel="shortcut icon"/>

    <link rel="stylesheet" type="text/css" href="<?php echo $this->baseUrl(); ?>/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="<?php echo $this->baseUrl(); ?>/css/backbone/backgrid.css"/>
    <link rel="stylesheet" type="text/css" href="<?php echo $this->baseUrl(); ?>/css/backbone/backgrid-paginator.css"/>
    <link rel="stylesheet" type="text/css" href="<?php echo $this->baseUrl(); ?>/css/backbone/backgrid-filter.css"/>

    <link rel="stylesheet" type="text/css"
          href="<?php echo $this->baseUrl(); ?>/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css"/>
    <link rel="stylesheet" type="text/css"
          href="<?php echo $this->baseUrl(); ?>/bower_components/pnotify/jquery.pnotify.default.css"/>
    <link rel="stylesheet" type="text/css" href="<?php echo $this->baseUrl(); ?>/bower_components/select2/select2.css"/>
    <link rel="stylesheet" type="text/css"
          href="<?php echo $this->baseUrl(); ?>/bower_components/colpick-jQuery-Color-Picker/css/colpick.css"/>

    <link rel="stylesheet" type="text/css"
          href="<?php echo $this->baseUrl(); ?>/bower_components/backbone-autocomplete/src/backbone.autocomplete-min.css"/>

    <link rel="stylesheet" type="text/css"
          href="<?php echo $this->baseUrl(); ?>/css/jquery_tree/themes/default/style.css"/>
    <link rel="stylesheet" type="text/css" href="<?php echo $this->baseUrl(); ?>/css/select2/select2-bootstrap2.css"/>
    <link rel="stylesheet" type="text/css" href="<?php echo $this->baseUrl(); ?>/css/auto-complete-pessoa.css"/>
    <link rel="stylesheet" type="text/css" href="<?php echo $this->baseUrl(); ?>/css/style.css"/>

    <?php

    echo $this->headMeta();
    $title = $this->headTitle();

    echo $this->headStyle();
    echo $this->headScript();

    if ($this->perfil) {
        ?>
        <script>
            menuData = <?php echo $this->menuData; ?>;
        </script>
    <?php } ?>

    <title><?php ($title != "") ? $title : 'Gestor 2S'; ?></title>

    <script type="text/template" id="link-template">
        <a href="#<%= classeFlexBotao %>" class="crumb lvl<%= id_tipo_funcionalidade %>"
           id="link_menu_<%= id_funcionalidade %>"><%= caption %></a>
    </script>

    <script type="text/template" id="breadcrumb-template">
        <div class="row-fluid">
            <div class="span6" id="path">Home</div>
            <div class="span6 text-right" style="white-space: nowrap;">
                <div id="extra"></div>
                <a id="help" class="btn btn-small btn-warning hide" target="_blank"
                   title="Obter ajuda sobre esta funcionalidade">
                    <i class="icon icon-question-sign icon-white"></i>
                </a>
            </div>
        </div>
    </script>

    <script type="text/template" id="stage">
        <div class="container" id="g2s">
        </div>
    </script>

    <script type="text/template" id="user-profile-template">

        <div class="btn-group capitalize">
            <a class="btn capitalize btn-small" href="#"><i class="icon-user"></i> <%= nomeUsuario %></a>
            <a class="btn btn-small dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li>
                    <a id="link-troca-perfil" href="#seleciona-perfil">
                        <i class="icon-th-list"></i>
                        Trocar Perfil
                    </a>
                </li>
                <li>
                    <a id="link-logou" href="/index/logout">
                        <i class="icon-off"></i>
                        Sair
                    </a>
                </li>
            </ul>
            <a title="Entenda melhor como funciona o GESTOR 2S" class="btn btn-info btn-small tooltiper bottom"
               href="http://wiki.unyleya.com.br/index.php/P%C3%A1gina_principal" target="_blank">
                <i class="icon-question-sign icon-white"></i>
            </a>
            <a title="Suas Mensagens" class="btn btn-default btn-small tooltiper bottom" id="btnMinhasMensagens"
               href="#usuario-minhas-mensagens"><i class="icon-envelope">

        <span class="count-login badge-important"
              style="font-size: 9pt; padding: 1px 4px 1px 4px; position: absolute; margin-top: 10px;
              margin-left: 12px; border-radius: 9px; color:#ffffff"
              id="cabecalho-count-mensagens">
        </span>

                </i></a>
        </div>

    </script>

    <script type="text/template" id="mainApp">
        <div id="templateHolder"></div>

        <div id="top">

            <div id="logo">
                <a href="<?php echo $this->baseUrl() ?>" title="">
                    <img src="<?php echo $this->baseUrl(); ?>/img/layout/logo.png" alt=""/>
                    <span class="versao-logo"><?php echo(Ead1_Sessao::getSessaoGeral()->st_versao); ?></span>
                </a>
            </div>

            <div id="info-container">
                <div id="holding-container" class="flex-wrapper">
                </div>

                <div id="login-container">
                </div>
            </div>
        </div>

        <div id="menu" class="navbar"></div>
        <div id="breadcrumb"></div>
        <div id="ocorrencia"></div>
        <div id="content" class="container-fluid">
            <div id="htmlContent">
            </div>
        </div>
        <div id="overlay">
            <img src="img/layout/logo.png" alt="Carregando..."/>

            <div></div>
        </div>
    </script>

    <script type="text/template" id="menu-template">
        <div class="container-fluid">
            <a class="btn btn-navbar collapsed" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>

            <div class="nav-collapse navbar-responsive-collapse collapse clearfix">
                <ul id="nav"></ul>
            </div>
        </div>
    </script>

    <script type="text/template" id="lista-entidades-composite">

        <div class="flex-wrapper">
            <div id="perfil-logado"> <%= st_nomeperfil %></div>

            <div id="lista-entidades" class="btn-group capitalize">
                <a class="btn capitalize btn-small" href="#"><i class="icon-list"></i> <%= st_nomeentidade %></a>
                <a class="btn btn-small dropdown-toggle" id="open-close-lista-entidades" data-toggle="dropdown"
                   href="#"><span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li id="label-busca-entidade-holding" style="margin: 0 5px 0 5px;">
                        <i class="icon icon-search"></i>
                        <input type="text" class="search-query" id="st_busca_entidade_holding" autofocus="off"
                               name="st_busca_entidade_holding" autocomplete="off" placeholder="Filtrar Entidades" />
                    </li>
                    <div id="entidade-holding-template-item"></div>
                </ul>
            </div>
        </div>

    </script>

    <script type="text/template" id="entidades-mesma-holding-item">
        <li>
            <i class="icon-chevron-right"></i>&nbsp;
            <a href="index/perfil/<%= id_entidade %>/<%= id_perfil %>">
                <%= st_nomeentidade %>
            </a>
        </li>
    </script>

    <script type="text/template" id="login-template">
        <div class="container">

            <div class="row">
                <div class="span4 offset4" id="box-login">
                    <div class="well">
                        <legend id="titulo-login">Digite seus dados de acesso:</legend>
                        <form class="form-horizontal" method="post" id="auth-form"
                              action="<?php echo $this->baseUrl ?>/index/auth">
                            <div class="control-group">
                                <div class="input-prepend">
                                    <span class="add-on"><i class="icon-user"></i></span>
                                    <input id="username" name="username" class="span3" placeholder="Usuário ou E-mail"
                                           type="text">
                                </div>
                            </div>
                            <div class="control-group">
                                <div class="input-prepend">
                                    <span class="add-on"><i class="icon-lock"></i></span>
                                    <input id="password" name="password" class="span3" placeholder="Senha"
                                           type="password">
                                </div>
                            </div>
                            <div class="row-fluid">
                                <div class="span8">
                                    <!-- Box com o Lembrar minha senha -->
                                </div>
                                <div class="span4">
                                    <button class="btn-custom btn" type="submit">Entrar</button>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </script>

    <script type="text/template" id="selecao-entidade-template">
        <div class="boxE clearfix span8 offset2">
            <div class="row-fluid">
                <div class="boxTituloE span12">
                    <div class="span6">
                        <div class="btn btn-link"><i class="icon icon-home"></i> Entidades<span
                                    class="entidade-perfil"></span></div>
                    </div>
                    <div class="span6">
                        <div style="position: relative;">
                            <input type="text" class="input-medium  search-query  pull-right" id="st_busca"
                                   autofocus="on" name="st_busca" placeholder="Buscar por Entidade">
                            <i class="icon icon-search"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row-fluid">
                <div class="boxEntidades container-fluid">
                    <ul id="container-entidades" class="lista-entidades"></ul>
                </div>
            </div>
            <div class="row-fluid">
                <div class="pull-right logout-btn">
                    <a href="/index/logout" class="btn-custom btn">Sair</a>
                </div>
            </div>
        </div>
    </script>
    <?php echo $this->render('modalOcorrencia.phtml') ?>
</head>

<body>
<div id="wrapper-g2s">
    <div class="div-g2s"></div>
</div>
<?php echo $this->render('footer.phtml') ?>
</body>
</html>
