<style>

    .div-aviso-ocorrencias {
        height: 310px;
        margin-bottom: 20px;
        overflow: auto;
    }

    #ocorrencias-pendentes-modal {
        width: 720px;
        left: 43%
    }

</style>

<script type="text/template" id="modal-ocorrencia">

    <div id="ocorrencias-pendentes-modal" class="modal aviso-ocorrencia hide fade" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true">

        <div class="modal-header">
            <h3 id="myModalLabel">Ocorrências Aguardando</h3>
        </div>
        <div class="modal-body">

            <div id="ocorrencia-pendente"></div>

            <div id="ocorrencia-encerradas"></div>


        </div>

        <div class="modal-footer">
            <div class="btn-group">

                <button id="btn-confirmar-ciencia" class="btn btn-success">Confirmar Ciência</button>

                <button disabled id="btn-ir-para-ocorrencia" class="btn hide">Ir para Ocorrência
                    <i class="icon-arrow-right"></i></button>

                <button id="btn-fechar" class="btn btn-inverse hide" data-dismiss="modal" aria-hidden="true">
                    <i class="icon-remove icon-white"></i> Fechar
                </button>
            </div>
        </div>
    </div>
</script>

<script type="text/template" id="regiao-ocorrencia-pendente">

    <div class="bootbox-body">
        <p>
            <strong>Caro usuário, as seguintes ocorrências se encontram aguardando o seu atendimento</strong>
        </p>
    </div>

    <div class="row-fluid div-aviso-ocorrencias">
        <table class="table table-bordered table-condensed">
            <thead>

            <th>ID</th>
            <th>Subassunto</th>
            <th>Interessado</th>
            <th>Título</th>
            <th>Última Interação</th>
            </thead>

            <tbody id="table-ocorrencia-pendente"></tbody>
        </table>
    </div>
    <div id="details-ocorrencia" class="well well-small hide"></div>
</script>


<script type="text/template" id="regiao-ocorrencia-encerradas">
    <div class="bootbox-body">
        <h3 id="myModalLabel">Ocorrências Encerradas</h3>
    </div>

    <div class="row-fluid div-aviso-ocorrencias">
        <table class="table table-bordered table-condensed">
            <thead>

            <th>ID</th>
            <th>Subassunto</th>
            <th>Interessado</th>
            <th>Título</th>
            <th>Última Interação</th>
            </thead>

            <tbody id="table-ocorrencia-encerrada"></tbody>
        </table>
    </div>
</script>

<script type="text/template" id="template-row-ocorrencia-encerrada">
    <td> <%=id_ocorrencia%></td>
    <td><%=st_assuntoco%></td>
    <td><%=st_nomeinteressado%></td>
    <td><%=st_titulo%></td>
    <td><%=st_ultimotramite%></td>
</script>

<script type="text/template" id="template-row-ocorrencia-pendente">
    <td> <%=id_ocorrencia%></td>
    <td><%=st_assuntoco%></td>
    <td><%=st_nomeinteressado%></td>
    <td><%=st_titulo%></td>
    <td><%=st_ultimotramite%></td>
</script>

<script type="text/template" id="detalhe-ocorrencia">
    <div class="row-fluid">
        <span class="span6"><strong>Evolução:</strong>
            <label class="label label-important"><%=st_evolucao%></label>
        </span>

        <span class="span6">
            <strong>Situação:</strong>
            <label class="label label-success"><%=st_situacao%></label>
        </span>
    </div>

    <div class="row-fluid">
        <span class="span12">
            <strong>Texto da ocorrência:</strong> <%=st_ocorrencia%>
        </span>
    </div>
</script>