<div class="container cabecalho prepend-top">
	<div class="logo span-3 prepend-3 ">
		<img id="logo" width="90px" heigth="90px" src="<?php  echo Ead1_Ambiente::geral()->applicationUrl . $this->vwGerarCabecalhoTO->getSt_urlimglogo(); ?>" />
	</div>
	
	<div class="nomeInstituicao span-3 append-11 prepend-top">
		<p id="nomeInstituicao"><?php $this->vwGerarCabecalhoTO->getSt_nomeentidade(); ?></p>
	</div>
	
	<div class="infos span-4 last">
		<?php if( $this->vwGerarCabecalhoTO->getSt_endereco() ){ ?>
			<div id="endereco">
				<?php echo $this->vwGerarCabecalhoTO->getSt_endereco(); ?>
			</div>
		<?php }?>
		
		<?php if( $this->vwGerarCabecalhoTO->getNu_telefone() ){ ?>
			<div id="telefone">
				<?php if ( $this->vwGerarCabecalhoTO->getNu_ddd() ) {
					echo '('. $this->vwGerarCabecalhoTO->getNu_ddd() .') - ';
				}?>
				<?php echo $this->vwGerarCabecalhoTO->getNu_telefone(); ?>
			</div>
		<?php }?>
		
		<?php if( $this->vwGerarCabecalhoTO->getSt_urlsite() ){ ?>
			<div id="site" class="prepend-top">
				<?php echo $this->vwGerarCabecalhoTO->getSt_urlsite(); ?>
			</div>
		<?php }?>
	</div>
</div>