<table>
	<thead style="border: 1px solid #FFF;">
		<tr>
			<th style="width: 95px;">
				<?php if(! empty( $this->vwGerarCabecalhoTO->st_urlimglogo ) ){?>
					<img width="90px" style="height: 90px;" src="<?php Ead1_Ambiente::geral()->applicationUrl . $this->vwGerarCabecalhoTO->getSt_urlimglogo() ?>" />
				<?php }?>
				&nbsp;
			</th>
			
			<th style="width: 100%;">
				<p style="font-weight: bold; font-size: 14px; text-align: left; margin-left: 20px;">
					<?php $this->vwGerarCabecalhoTO->getSt_nomeentidade(); ?>
				</p>
			</th>
			
			<th style="width: 40%;">
				<?php if($this->vwGerarCabecalhoTO->getSt_endereco()){?>
					<p>
					<?php $this->vwGerarCabecalhoTO->getSt_endereco()?>
					</p>
				<?php }?>
				
				
				<?php if( $this->vwGerarCabecalhoTO->getNu_telefone() ){ ?>
					<p>
					<?php if ( $this->vwGerarCabecalhoTO->getNu_ddd() ) {
						echo '('. $this->vwGerarCabecalhoTO->getNu_ddd() .') - ';
							} ?>
					<?php echo $this->vwGerarCabecalhoTO->getNu_telefone(); ?>
					</p>
				<?php }?>
			
				<?php if( $this->vwGerarCabecalhoTO->getSt_urlsite() ){ ?>
					<p>
						<?php echo $this->vwGerarCabecalhoTO->getSt_urlsite(); ?>
					</p>
				<?php }?>
			</th>
		</tr>
	</thead>
</table>