<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Gestor2 | Texto</title>

    <!--<link rel="stylesheet" href="<?php //echo Ead1_Ambiente::geral()->applicationUrl; ?>/css/blueprint/screen.css" type="text/css" media="screen, projection,print" />-->

    <!--[if lt IE 8]>
    <link rel="stylesheet" href="<?php echo Ead1_Ambiente::geral()->applicationUrl; ?>/css/blueprint/ie.css" type="text/css" media="screen, projection,print"/>
    <![endif]-->
    <link rel="stylesheet" href="<?php echo Ead1_Ambiente::geral()->applicationUrl; ?>/css/tinymce/fonts/agenda.css" type="text/css" media="screen, projection,print"/>
    <style type="text/css">
        /**
         * Necessario definir o thead como LINHA porque o CHROME repete o thead em todas as paginas se ele estiver definido como CABECALHO
         * (http://jira.unyleya.com.br/browse/GII-6701)
        */
        thead {
            display: table-row-group;
        }

        <?php
        // Adiciona as margens da declaração
        if (isset($this->id_textocategoria) && $this->id_textocategoria == \G2\Constante\TextoCategoria::DECLARACOES) { ?>

        @page {
            size: auto;
            margin: 30mm 20mm 30mm 20mm;
        }

        <?php } ?>
    </style>
</head>
<body>
<div>
    <?php if (isset($this->cabecalho)) echo $this->cabecalho; ?>
    <?php echo $this->corpo; ?>
    <?php if (isset($this->rodape)) echo $this->rodape; ?>
</div>
</body>
</html>
