

<?php if( isset($this->cabecalho) )
	echo '<thead>' .$this->cabecalho . '</thead>';

?>
<table style="width:100%; <?php if(!isset($this->id_textocategoria)) { ?> padding: 30 30 30 30;" <?php } ?> cellpadding="0" cellspacing="0">
	<tbody>
		<tr>
			<td colspan="3"> &nbsp; </td>
		</tr>
		<tr>
			<td colspan="3" >
				<?php echo $this->corpo; ?>
			</td>
		</tr>
	</tbody>
</table>

<?php if( isset($this->rodape) )
	echo '<table>' .$this->rodape . '</table>';
?>