<html>
<?php
$is_declaracao = isset($this->id_textocategoria) && $this->id_textocategoria == \G2\Constante\TextoCategoria::DECLARACOES;
?>

<?php if ($is_declaracao) { ?>
    <head>
        <style type="text/css">
            @page {
                margin: 30mm 20mm;
            }
            #head {
                background-repeat: no-repeat;
                height: 110px;
                width: 100%;
                position: fixed;
                top: -100px;
                left: 0;
                right: 0;
                margin: auto;
            }

            #corpo {
                width: 600px;
                position: relative;
                padding: 70px 20px 50px;
            }

            #footer {
                position: fixed;
                bottom: 0;
                width: 100%;
                A_CSS_ATTRIBUTE: all;
            }
        </style>
    </head>
<?php } ?>

<body>
<?php if (isset($this->cabecalho)) { ?>
    <div id="head">
        <?php echo $this->cabecalho ?>
    </div>
<?php } ?>

<?php if (isset($this->rodape)) { ?>
	<div id="footer">
		<?php echo $this->rodape ?>
	</div>
<?php } ?>

<?php echo $is_declaracao ? '<div id="corpo">' : '' ?>
<?php echo $this->corpo; ?>
<?php echo $is_declaracao ? '</div>' : '' ?>

</body>
</html>