<?php $arrCargaSerie = array();?>
<table style="width:100%;border: 1px solid;border-collapse:collapse;min-width:500px">
	<thead style="width:100%;border:solid #000; border-collapse:collapse; border-width:thin;">
		<tr>
			<th style="border:solid #000; border-collapse:collapse; border-width:thin;width:auto;" colspan="2">COMPONENTES CURRICULARES</th>
			<?php $contSeries = 1;?>
			<?php foreach ($this->arrOrganizador['series'] as $id_serie => $serie):?>
				<?php $arrCargaSerie[$id_serie]['cargatotal'] = 0;?>
				<?php $arrCargaSerie[$id_serie]['st_serie'] = $serie['st_serie'];?>
				<?php $contSeries++;?>
				<?php $contSeries++;?>
				<th style="border:solid #000; border-collapse:collapse; border-width:thin;width:auto"><?php echo $serie['st_serie']?></th>
				<th style="border:solid #000; border-collapse:collapse; border-width:thin;width:auto">CH</th>
			<?php endforeach;?>
		</tr>
	</thead>
	<tbody style="border:solid #000; border-collapse:collapse; border-width:thin;">
		<?php $textosBO = new TextosBO();
			foreach ($this->arrOrganizador['agregadora'] as $agregadora):?>
			<tr>
				<td rowspan="<?php echo count($agregadora['area'])+1;?>" style="width:auto;border:solid #000; border-collapse:collapse; border-width:thin;text-align:left;"><?php echo $agregadora['st_areaagregadora'];?></td>
			</tr>
			<?php foreach ($agregadora['area'] as $id_area => $area): ?>
				<tr>
					<td style="width:auto;border:solid #000; border-collapse:collapse; border-width:thin;text-align:left;font-weight:bold;"><?php echo $area['st_areaconhecimento']?></td>
					<?php  ksort($area['serie']);
						foreach ($area['serie'] as $id_serie => $serie):?>
						<td style="width:auto;border:solid #000; border-collapse:collapse; border-width:thin;text-align:left;font-weight:bold;"><?php echo $textosBO->trataMedia($serie['st_media'])?></td>
						<td style="width:auto;border:solid #000; border-collapse:collapse; border-width:thin;text-align:left;font-weight:bold;"><?php echo ($serie['st_totalcargahoraria'] ? $serie['st_totalcargahoraria'] : '--') ?></td>
						<?php $arrCargaSerie[$id_serie]['cargatotal'] += $serie['st_totalcargahoraria'];?>
					<?php endforeach;?>
				</tr>
			<?php endforeach;?>
		<?php endforeach;?>
		<tr>
			<td style="width:auto;border:solid #000; border-collapse:collapse; border-width:thin;text-align:left;font-weight:bold;" colspan="2"> CARGA HORÁRIA TOTAL</td>
			<?php foreach ($arrCargaSerie as $carga):?>
				<td style="width:auto;border:solid #000; border-collapse:collapse; border-width:thin;text-align:right;font-weight:bold;" colspan="2"><?php echo $carga['cargatotal'];?></td>
			<?php endforeach;?>
		</tr>
	</tbody>
</table>
