<table style="width:100%; border-top: 1px solid #000; border-bottom: 1px solid; min-width:500px; font-family: Arial; font-size: 12px">
	<thead>
		<tr style="width:100%; font-size: 14px;" >
			<th style="width:auto; text-align: left !important; border-bottom: 1px solid #000;" >
				<?php echo mb_strtoupper('Disciplina', 'UTF-8');?>
			</th>
			<th style="width:auto; border-bottom: 1px solid #000;" >
				<?php echo mb_strtoupper('Carga Horária', 'UTF-8');?>
			</th>
			<th style="width:auto; border-bottom: 1px solid #000;" >
				<?php echo mb_strtoupper('Semestre', 'UTF-8');?>
			</th>
			<th style="width:auto; border-bottom: 1px solid #000;" >
				NF
			</th>
			<th style="width:auto; border-bottom: 1px solid #000;" >
				<?php echo mb_strtoupper('Status', 'UTF-8');?>
			</th>
		</tr>
	</thead>
	<tbody>

		<?php foreach ($this->arrGrid as $dado):?>
			<tr>
				<td style="width:auto; text-align:left; border-bottom: 1px solid #000;">
					<?php echo mb_strtoupper($dado['st_tituloexibicaodisciplina'], 'UTF-8');?>
				</td>

				<td style="width:auto; text-align:center; border-bottom: 1px solid #000;">
					<?php echo $dado['nu_cargahoraria'];?>
				</td>

				<td style="width:auto; text-align:center; border-bottom: 1px solid #000;">
					<?php echo $dado['st_semestre'];?>
				</td>

				<td style="width:auto; text-align:center; border-bottom: 1px solid #000;">
					<?php echo $dado['nu_notafinal'] ? number_format( ($dado['nu_notafinal']/10), 2, ',', '.') : '';?>
				</td>

				<td style="width:auto; text-align: center; border-bottom: 1px solid #000;">
					<?php echo mb_strtoupper($dado['st_evolucao'], 'UTF-8');?>
				</td>
			</tr>
		<?php endforeach;?>
		<tr style="line-height: 20px; font-size: 14px; font-weight: bold;">
			<td style=""> CARGA HORÁRIA CUMPRIDA</td>
			<td style="text-align: center;"><?php echo $this->arrGrid[0]['nu_totalcargahoraria']; ?></td>
			<td colspan="3"> </td>
		</tr>
	</tbody>
</table>