<div width=100% align="center">
	<table style=" width: auto;">
		<tbody>
			<?php foreach ($this->arrOrganizador['modulo'] as $id_modulo => $modulo):?>
				<?php foreach ($modulo['serie'] as $id_serie => $serie):?>
					<?php foreach ($serie['disciplina'] as $id_disciplina => $disciplina):?>
						<?php if($id_disciplina == 'nu_totalnotas'):?>
							<?php continue;?>
						<?php endif;?>
						<tr>
							<td  style="text-align: left; width: auto;"> <?php echo $disciplina['st_disciplina'];?> </td>
							<td style="text-align: center;  width: 50px;"> <?php echo (empty($disciplina['nu_cargahoraria']) ? '--' : $disciplina['nu_cargahoraria']);?> </td>
						</tr>
					<?php endforeach;?>
				<?php endforeach;?>
			<?php endforeach;?>
		</tbody>
	</table>
</div>