<table style="width:100%;border: 1px solid;border-collapse:collapse;min-width:500px">
	<thead style="width:100%;border:solid #000; border-collapse:collapse; border-width:thin;">
		<tr>
			<th style="border:solid #000; border-collapse:collapse; border-width:thin;width:25%">Disciplnas</th>
			<th style="border:solid #000; border-collapse:collapse; border-width:thin;width:25%">Carga Horária</th>
			<th style="border:solid #000; border-collapse:collapse; border-width:thin;width:25%">Total de</th>
			<th style="border:solid #000; border-collapse:collapse; border-width:thin;width:25%">Módulos Cursados</th>
		</tr>
	</thead>
	<tbody style="border:solid #000; border-collapse:collapse; border-width:thin;">
	<?php foreach ($this->arrOrganizador['modulo'] as $modulo):?>
		<tr>
			<td style="width:25%;border:solid #000; border-collapse:collapse; border-width:thin;text-align:center"><?php echo $modulo['st_modulo']; ?></td>
			<td style="width:25%;border:solid #000; border-collapse:collapse; border-width:thin;text-align:center"><?php echo (empty($modulo['nu_cargahoraria']) ? '--' : $modulo['nu_cargahoraria']); ?></td>
			<td style="width:25%;border:solid #000; border-collapse:collapse; border-width:thin;text-align:center"><?php echo count($modulo['serie'][1]['disciplina']); ?></td>
			<td style="width:25%;border:solid #000; border-collapse:collapse; border-width:thin;text-align:center"><?php echo $this->arrOrganizador['sg_uf']; ?></td>
			<?php $firstTime = true;?>
		</tr>
	<?php endforeach;?>
	</tbody>
</table>