<table style="width:100%;border: 1px solid;border-collapse:collapse;min-width:500px">
	<thead style="width:100%;border:solid #000; border-collapse:collapse; border-width:thin;">
		<tr>
			<th style="border:solid #000; border-collapse:collapse; border-width:thin;width:25%">Disciplinas/Atividades</th>
			<?php foreach ($this->arrOrganizador['serie'] as $serie):?>
				<th style="border:solid #000; border-collapse:collapse; border-width:thin;text-align:center"><?php echo $serie['st_serie'];?></th>
				<th style="border:solid #000; border-collapse:collapse; border-width:thin;text-align:center">CH</th>
			<?php endforeach;?>
		</tr>
	</thead>
	<tbody style="border:solid #000; border-collapse:collapse; border-width:thin;">
	<?php $textosBO = new TextosBO(); 
	foreach ($this->arrOrganizador['modulo'] as $modulo):?>
		<tr style="width:100%">
			<td style="border:solid #000; border-collapse:collapse; border-width:thin;text-align:center"><?php echo $modulo['st_modulo'];?></td>
			<?php foreach ($modulo['serie'] as $serie):?>
				<td style="border:solid #000; border-collapse:collapse; border-width:thin;text-align:center"><?php echo $textosBO->trataMedia($serie['nu_media']);?></td>
				<td style="border:solid #000; border-collapse:collapse; border-width:thin;text-align:center"><?php echo ($modulo['nu_cargahoraria'] ? $modulo['nu_cargahoraria'] : '--');?></td>
			<?php endforeach;?>
			<?php $firstTime = true;?>
		</tr>
	<?php endforeach;?>
</table>
<table style="width:100%;border: 1px solid;border-collapse:collapse;min-width:500px">
	<thead style="width:100%;border:solid #000; border-collapse:collapse; border-width:thin;">
		<tr>
			<th style="width:25%;border:solid #000; border-collapse:collapse; border-width:thin;text-align:left;font-weight:bold;">Anos</th>
			<th style="width:25%;border:solid #000; border-collapse:collapse; border-width:thin;text-align:left;font-weight:bold;">Ano</th>
			<th style="width:25%;border:solid #000; border-collapse:collapse; border-width:thin;text-align:center;font-weight:bold;">Estabelecimento de Ensino</th>
			<th style="width:25%;border:solid #000; border-collapse:collapse; border-width:thin;text-align:center;font-weight:bold;">Cidade</th>
			<th style="width:25%;border:solid #000; border-collapse:collapse; border-width:thin;text-align:center;font-weight:bold;">UF</th>
		</tr>
	</thead>
	<tbody>
		<?php foreach ($this->arrOrganizador['serie'] as $serie):?>
			<tr style="width:100%">
				<td style="border:solid #000; border-collapse:collapse; border-width:thin;text-align:center"><?php echo $serie['st_serie'];?></td>
				<td style="border:solid #000; border-collapse:collapse; border-width:thin;text-align:center"><?php echo ($this->arrOrganizador['dt_concluinte'] ? $date->getYear()->toString('Y') : '--');?></td>
				<td style="border:solid #000; border-collapse:collapse; border-width:thin;text-align:center"><?php echo $this->arrOrganizador['st_nomeentidade'];?></td>
				<td style="border:solid #000; border-collapse:collapse; border-width:thin;text-align:center"><?php echo $this->arrOrganizador['st_cidade']?></td>
				<td style="border:solid #000; border-collapse:collapse; border-width:thin;text-align:center"><?php echo $this->arrOrganizador['sg_uf'];?></td>
			</tr>
		<?php endforeach;?>
	</tbody>
</table>