<style type="text/css">
    .text-left {
        text-align: left;
    }

    .text-center {
        text-align: center;
    }

    .text-right {
        text-align: right;
    }

    th, td {
        padding: 5px;
    }

    th, td {
        padding-right: 25px;
    }
</style>

<table class="table-grid">
    <thead>
    <tr>
        <?php foreach ($this->campos as $attr => $label) { ?>
            <?php if ($label == 'Nota') { ?>
                <th class="text-right"><?php echo $label ?></th>
            <?php } else { ?>
                <th class="text-left"><?php echo $label ?></th>
            <?php } ?>
        <?php } ?>
    </tr>
    </thead>
    <tbody>
    <?php
    foreach ($this->arrOrganizador as $disciplina) {
        if ($disciplina->getSt_status() != \G2\Constante\StatusGradeNota::NAO_ENCERRADO || !is_null($disciplina->getNu_notatotal())) { ?>
            <tr>
                <?php
                foreach ($this->campos as $attr => $label) {
                    $method = "get{$attr}";
                    ?>
                    <td class="text-left">
                        <?php
                        $value = $disciplina->$method();

                        if ($value instanceof \DateTime) {
                            $value = $value->format('d/m/Y');
                        } else if ($value instanceof \Zend_Date) {
                            $value = $value->toString('dd/MM/YYYY');
                        }

                        echo $value;
                        ?>
                    </td>
                    <?php
                }
                ?>
            </tr>
            <?php
        }
    }
    ?>
    </tbody>
</table>