<table style="<?php echo $this->styles['tableStyle'] ?>">
	<thead> 
		<tr>
			<th style="background-color:#cccc88; <?php echo $this->styles['basicStyle']; ?>"> PRODUTOS </th>
			<th style="background-color:#cccc88; <?php echo $this->styles['basicStyle']; ?>"> VALOR </th>
		</tr>
	</thead>
	<tbody>
	<?php $color = false;?>
		<?php foreach ($this->produtos as $produto):?>
			<tr>
				<td style="<?php echo $this->styles['leftBasicStyle']; echo (!$color ? '' : 'background-color:#cccccc;'); ?>"> <?php echo $produto->getSt_produto(); ?> </td>
				<td style="<?php echo $this->styles['basicStyle']; echo (!$color ? '' : 'background-color:#cccccc;'); ?>"> <?php echo $produto->getNu_valorliquido(); ?> </td>
			</tr>
			<?php $color = ($color ? false:true);?>
		<?php endforeach;?>
	</tbody>
</table>