<table style="width:100%;border: 1px solid;border-collapse:collapse;min-width:500px">
	<thead style="width:100%;border:solid #000; border-collapse:collapse; border-width:thin;">
	<tr>
		<th style="border:solid #000; border-collapse:collapse; border-width:thin;width:auto;">DISCIPLINA</th>
		<th style="border:solid #000; border-collapse:collapse; border-width:thin;width:auto">CARGA HORÁRIA</th>
		<th style="border:solid #000; border-collapse:collapse; border-width:thin;width:auto">NOTA</th>
		<th style="border:solid #000; border-collapse:collapse; border-width:thin;width:auto">SITUAÇÃO FINAL</th>
	</tr>
	</thead>
	<tbody style="border:solid #000; border-collapse:collapse; border-width:thin;">
	<?php $cargaDisciplinas = 0; $textosBO = new TextosBO();?>
	<?php foreach ($this->arrOrganizador as $disciplina):?>
		<tr>
			<td style="width:auto;border:solid #000; border-collapse:collapse; border-width:thin;text-align:left;font-weight:bold;"><?php echo $disciplina['st_disciplina']?></td>
			<td style="width:auto;border:solid #000; border-collapse:collapse; border-width:thin;text-align:center;font-weight:bold;"><?php echo (empty($disciplina['st_cargahoraria']) ? '--' : $disciplina['st_cargahoraria'])?></td>
			<td style="width:auto;border:solid #000; border-collapse:collapse; border-width:thin;text-align:center;font-weight:bold;"><?php echo $textosBO->trataMedia($disciplina['st_nota'])?></td>
			<td style="width:auto;border:solid #000; border-collapse:collapse; border-width:thin;text-align:center;font-weight:bold;"><?php echo $disciplina['st_evolucao']?></td>
			<?php $cargaDisciplinas += $disciplina['st_cargahoraria'];?>
		</tr>
	<?php endforeach;?>
	</tbody>
</table>
