<?php
/**
 * Created by PhpStorm.
 * User: Alex Alexandre <alex.alexandre@unyleya.com.br>
 * Date: 18/04/2018
 * Time: 10:43
 */
?>

<style>
    .table-grid {
        width: 100%;
        border: 1px solid;
        border-collapse: collapse;
        min-width: 500px
    }

    .table-grid thead {
        width: 100%;
        border: solid #000;
        border-collapse: collapse;
        border-width: thin;
    }

    .table-grid tbody tr th {
        border: solid #000;
        border-collapse: collapse;
        border-width: thin;
        width: auto;
    }

    .table-grid tbody {
        border: solid #000;
        border-collapse: collapse;
        border-width: thin;
    }

    .th_left {
        width: auto;
        text-align: left;
    }

    .th_left {
        width: auto;
        text-align: left;
    }

    .td_left {
        width: auto;
        border: solid #000;
        border-collapse: collapse;
        border-width: thin;
        text-align: left;
    }

    .td_center {
        width: auto;
        border: solid #000;
        border-collapse: collapse;
        border-width: thin;
        text-align: center;
        /*font-weight:bold;*/
    }

    .td_disabled {
        background-color: #ccc;
    }

    .td_negrito {
        font-weight: bold;
    }
</style>

<table class="table-grid">
    <thead style="background-color: darkgrey">
    <tr>
        <th class="th_left">DISCIPLINA</th>
        <th>CARGA HORÁRIA</th>
        <th>SEMESTRE</th>
        <th>NOTA</th>
        <th>STATUS</th>
    </tr>
    </thead>
    <tbody>
    <?php $cargaDisciplinas = 0;
    $encoding = mb_internal_encoding(); ?>
    <?php
    if (is_array($this->arrOrganizador) && !empty($this->arrOrganizador)):
        foreach ($this->arrOrganizador as $disciplina):?>
            <tr>
                <td class="td_left"><?php echo mb_strtoupper($disciplina['st_tituloexibicao'], $encoding) ?></td>
                <td class="td_center"><?php echo $disciplina['nu_cargahoraria'] ?></td>
                <td class="td_center"><?php echo $disciplina['st_semestre'] ?></td>
                <td class="td_center"><?php echo $disciplina['nu_aprovafinal'] ?></td>
                <td class="td_center"><?php echo $disciplina['st_evolucao'] ?></td>
            </tr>
        <?php
        endforeach;
    endif;
    ?>
    </tbody>
</table>