<table style="width:100%;border: 1px solid;border-collapse:collapse;min-width:500px">
	<thead style="width:100%;border:solid #000; border-collapse:collapse; border-width:thin;">
		<tr>
			<th style="border:solid #000; border-collapse:collapse; border-width:thin;width:auto;" colspan="2">COMPONENTES CURRICULARES</th>
			<th style="border:solid #000; border-collapse:collapse; border-width:thin;width:auto">Carga Horária</th>
			<th style="border:solid #000; border-collapse:collapse; border-width:thin;width:auto">Média</th>
		</tr>
	</thead>
	<tbody style="border:solid #000; border-collapse:collapse; border-width:thin;">
		<?php foreach ($this->arrOrganizador['agregadora'] as $agregadora):?>
		<?php $cargaDisciplinas = 0; $textosBO = new TextosBO();?>
			<tr>
				<td rowspan="<?php echo $agregadora['nu_totaldisciplinas'];?>" style="width:auto;border:solid #000; border-collapse:collapse; border-width:thin;text-align:left;"><?php echo $agregadora['st_areaagregadora'];?></td>
			</tr>
				<?php foreach ($agregadora['area'] as $id_area => $area):?>
						<?php foreach ($area['serie'] as $id_serie => $serie):?>
							<?php foreach ($serie['disciplinas'] as $id_disciplina => $disciplina):?>
								<tr>
									<td style="width:auto;border:solid #000; border-collapse:collapse; border-width:thin;text-align:left;font-weight:bold;"><?php echo $disciplina['st_disciplina']?></td>
									<td style="width:auto;border:solid #000; border-collapse:collapse; border-width:thin;text-align:center;font-weight:bold;"><?php echo (empty($disciplina['st_cargahoraria']) ? '--' : $disciplina['st_cargahoraria'])?></td>
									<td style="width:auto;border:solid #000; border-collapse:collapse; border-width:thin;text-align:left;font-weight:bold;"><?php echo $textosBO->trataMedia($disciplina['st_nota'])?></td>
									<?php $cargaDisciplinas += $disciplina['st_cargahoraria'];?>
								</tr>
							<?php endforeach;?>
						<?php endforeach;?>
				<?php endforeach;?>
			<tr>
				<td style="width:auto;border:solid #000; border-collapse:collapse; border-width:thin;text-align:left;font-weight:bold;"> &nbsp;</td>
				<td style="width:auto;border:solid #000; border-collapse:collapse; border-width:thin;text-align:left;font-weight:bold;"> SUB-TOTAL</td>
				<td style="width:auto;border:solid #000; border-collapse:collapse; border-width:thin;text-align:center;font-weight:bold;"><?php echo $cargaDisciplinas;?></td>
				<td style="width:auto;border:solid #000; border-collapse:collapse; border-width:thin;text-align:center;font-weight:bold; background-color: #ccc;">&nbsp;</td>
			</tr>
		<?php endforeach;?>
		<tr>
			<td style="width:auto;border:solid #000; border-collapse:collapse; border-width:thin;text-align:left;font-weight:bold;" colspan="3"> TOTAL GERAL DE HORAS-AULA</td>
			<td style="width:auto;border:solid #000; border-collapse:collapse; border-width:thin;text-align:center;font-weight:bold;"><?php echo $this->arrOrganizador['st_totalcargahorariageral'];?></td>
		</tr>
	</tbody>
</table>
