<table style="width:100%;border: 1px solid;border-collapse:collapse;min-width:500px">
	<thead style="width:100%;border:solid #000; border-collapse:collapse; border-width:thin;">
		<tr>
			<th style="border:solid #000; border-collapse:collapse; border-width:thin;width:auto;" colspan="2">DISCIPLINA</th>
			<?php foreach ($this->arrOrganizador['series'] as $id_serie => $serie):?>
				<th style="border:solid #000; border-collapse:collapse; border-width:thin;width:auto"><?php echo $serie['st_serie']?></th>
			<?php endforeach;?>
		</tr>
	</thead>
	<tbody style="border:solid #000; border-collapse:collapse; border-width:thin;">
		<?php foreach ($this->arrOrganizador['area'] as $area):?>
			<tr>
				<td style="width:auto;border:solid #000; border-collapse:collapse; border-width:thin;text-align:left;font-weight:bold;" rowspan="3"><?php echo $area['st_areaconhecimento']?></td>
			</tr>
			<tr>
				<td style="width:auto;border:solid #000; border-collapse:collapse; border-width:thin;text-align:left;font-weight:bold;">CH</td>
				<?php foreach ($area['serie'] as $id_serie => $serie):?>
					<td style="width:auto;border:solid #000; border-collapse:collapse; border-width:thin;text-align:left;font-weight:bold;"><?php echo (empty($serie['nu_cargaarea']) ? '--' : $serie['nu_cargaarea'])?></td>
				<?php endforeach;?>
			</tr>
			<tr>
				<td style="width:auto;border:solid #000; border-collapse:collapse; border-width:thin;text-align:left;font-weight:bold;">MD</td>
				<?php foreach ($area['serie'] as $id_serie => $serie):?>
					<td style="width:auto;border:solid #000; border-collapse:collapse; border-width:thin;text-align:left;font-weight:bold;"><?php echo implode(", ", $serie['modulos'])?></td>
				<?php endforeach;?>
			</tr>
		<?php endforeach;?>
	</tbody>
</table>
