<style>
    .table-grid .td-cel {
        border-bottom: 1px dotted;
        font-weight: bold;
    }
    .table-grid tbody tr {
        border: 1px dotted;
    }
    .table-grid thead th {
        font-size: 12px;
    }
    .table-grid {
        width: 100%;
        border-collapse: collapse;
    }
    .table-grid tbody{
        border: 1px solid;
    }
    .td-cel-one{
        font-family: Agenda_Light;
        font-size: 12px;
        text-transform: uppercase;
    }
    .td-cel-two  {
        font-family: Agenda_Light;
        font-size: 12px;
    }
    .td-cel-tree {
        font-family: Agenda_Light;
        font-size: 12px;
    }
    .td-cel-four {
        font-family: Agenda_Light;
        font-size: 12px;
        text-transform: uppercase;
    }
</style>
<table class="table-grid">
    <thead>
        <th width="400" class=""align="left"><strong>Disciplina</strong></th>
        <th width="100" class=""><strong>Carga Horária</strong></th>
        <th width="100" class=""><strong>Conceito</strong></th>
        <th width="210" class="" align="left"><strong>Nome e Titulação do Corpo Docente</strong></th>
    </thead>
    <tbody>
    <?php foreach ($this->arrOrganizador as $disciplina):?>
        <tr>
            <td class="td-cel td-cel-one"><?php echo $disciplina['st_disciplina']?></td>
            <td align="center" class="td-cel td-cel-two"><?php echo (empty($disciplina['st_cargahoraria']) ? '--' : $disciplina['st_cargahoraria'])?></td>
            <td align="center" class="td-cel td-cel-tree"><?php echo $disciplina['st_conceito']?></td>
            <td width="400" class="td-cel td-cel-four"><?php echo $disciplina['st_titularcertificacao'] ? $disciplina['st_titularcertificacao'] . ' - ' . $disciplina['st_titulacao'] : '--' ?></td>
        </tr>
    <?php endforeach;?>
    </tbody>
</table>