<table style="width:100%;border: 1px solid;border-collapse:collapse;min-width:500px">
	<thead style="width:100%;border:solid #000; border-collapse:collapse; border-width:thin;">
		<tr style="width:100%">
			<th style="border:solid #000; border-collapse:collapse; border-width:thin;">DISCIPLINA</th>
			<th style="border:solid #000; border-collapse:collapse; border-width:thin;">ESTABELECIMENTO</th>
			<th style="border:solid #000; border-collapse:collapse; border-width:thin;">CIDADE</th>
			<th style="border:solid #000; border-collapse:collapse; border-width:thin;">UF</th>
			<th style="border:solid #000; border-collapse:collapse; border-width:thin;">CARGA HORÁRIA</th>
			<th style="border:solid #000; border-collapse:collapse; border-width:thin;">ANO DE CONCLUSÃO</th>
			<th style="border:solid #000; border-collapse:collapse; border-width:thin;">MÉDIA</th>
		</tr>
	</thead>
	<tbody style="border:solid #000; border-collapse:collapse; border-width:thin;">
	<?php $textosBO = new TextosBO();
	foreach ($this->arrOrganizador['modulo'] as $modulo):?>
		<tr style="width:100%">
			<td style="border:solid #000; border-collapse:collapse; border-width:thin;text-align:center"><?php echo $modulo['st_modulo'];?></td>
			<td style="border:solid #000; border-collapse:collapse; border-width:thin;text-align:center"><?php echo $this->arrOrganizador['st_nomeentidade'];?></td>
			<td style="border:solid #000; border-collapse:collapse; border-width:thin;text-align:center"><?php echo $this->arrOrganizador['st_cidade'];?></td>
			<td style="border:solid #000; border-collapse:collapse; border-width:thin;text-align:center"><?php echo $this->arrOrganizador['sg_uf'];?></td>
			<td style="border:solid #000; border-collapse:collapse; border-width:thin;text-align:center"><?php echo (empty($this->$modulo['nu_cargahoraria']) ? '--' : $this->$modulo['nu_cargahoraria']);?></td>
			<td style="border:solid #000; border-collapse:collapse; border-width:thin;text-align:center"><?php echo ($this->arrOrganizador['dt_concluinte'] ? $date->getYear()->toString('Y') : '--');?></td>
			<td style="border:solid #000; border-collapse:collapse; border-width:thin;text-align:center"><?php echo $textosBO->trataMedia($modulo['nu_media']);?></td>
			<?php $firstTime = true;?>
		</tr>
	<?php endforeach;?>
	</tbody>
</table>