<table style="<?php echo $this->styles['tableStyle'] ?>">
	<thead> 
		<tr>
		<?php foreach ($this->colunas as $coluna):?>
			<th style="background-color:#aaa; <?php echo $this->styles['basicStyle']; ?>"><?=$coluna['st_coluna']?></th>
		<?php endforeach; ?>
		</tr>
	</thead>
	<tbody>
	<?php $color = false;?>
		<?php foreach ($this->dados as $dado):?>
			<tr>
				<?php foreach($this->colunas as $coluna) { ?>
					<td style="<?php echo $this->styles['leftBasicStyle']; echo (!$color ? '' : 'background-color:#cccccc;'); ?>"> 
						<?php 
						
						if($coluna['st_campoto']){
							$metodo = 'get'.ucfirst($coluna['st_campoto']);
							if(substr($metodo, 0,5) === 'getDt'){
								$dt_inicio = new Zend_Date($dado->$metodo());
								echo $dt_inicio->toString('dd/MM/YYYY');
							} else {
								echo $dado->$metodo();
							}
						} else {
							echo $dado[$coluna['st_indice']];	
						}
						
						?> 
					</td>
				<?php  } ?>
			</tr>
			<?php $color = ($color ? false:true);?>
		<?php endforeach;?>
	</tbody>
</table>