<table style="width:100%; border-collapse:collapse; border: 1px solid black;border-width:thin;">
	<thead>
		<tr>
			<th colspan="2" rowspan="1" style="<?php echo $this->basicStyle;?>" > Unidades </th>
			<?php foreach ($this->arrOrganizador['series'] as $id_serie => $dados):?>
				<?php $colspanTH = ($dados['maxdisciplinas']+2);?>
				<?php $totalColspan[$id_serie] = $colspanTH;?>
				<?php $arrCargaSerie[$id_serie]['cargatotal'] = 0;?>
				<?php $arrCargaSerie[$id_serie]['st_serie'] = $dados['st_serie'];?>
				<th rowspan="1" colspan="<?php echo $colspanTH?>" style="<?php echo $this->basicStyle;?>" > <?php echo $dados['st_serie'];?> </th>
			<?php endforeach;?>
			<th rowspan="2" style="<?php echo $this->basicStyle;?>"> Resultado Final </th>
		</tr>
		<tr>
			<th rowspan="1" colspan="2" style="<?php echo $this->basicStyle;?>" > Disciplinas </th>
			<?php $conversor = new Ead1_ConversorRomano();?>
			<?php foreach ($this->arrOrganizador['series'] as $id_serie => $dados):?>
				<th colspan="<?php echo $dados['maxdisciplinas'];?>" style="<?php echo $this->basicStyle;?>"><?php echo $conversor->plusNumber()->getRomano();?></th>
				<th style="<?php echo $this->basicStyle;?>"> NF </th>
				<th style="<?php echo $this->basicStyle;?>"> CH </th>
			<?php endforeach;?>
		</tr>
	</thead>
	<tbody>
		<?php $textosBO = new TextosBO();
		 foreach ($this->arrOrganizador['agregadora'] as $agregadora):?>
			<?php foreach ($agregadora['area'] as $id_areaconhecimento => $dadosArea):?>
					<tr>
						<td colspan="2" style="<?php echo $this->areasStyle;?>"> <?php echo $dadosArea['st_areaconhecimento'];?> </td>
						<?php foreach ($dadosArea['serie'] as $id_serie => $dadosSerie):?>
							<?php $contador = count($dadosSerie['disciplinas']);?>
							<?php $resto = ($this->arrOrganizador['series'][$id_serie]['maxdisciplinas'] - $contador);?>
							<?php foreach ($dadosSerie['disciplinas'] as $id_discipina => $dadosDisciplina):?>
								<?php if($dadosSerie['bl_todasnotas']):?>
									<?php if($dadosSerie['bl_aproveitamento']):?>
										<td style="<?php echo $this->basicStyle;?>"> -- </td>
									<?php else:?>
										<td style="<?php echo $this->basicStyle;?>"> <?php echo $textosBO->trataMedia($dadosDisciplina['st_nota']);?> </td>
									<?php endif;?>
								<?php else:?>
									<td style="<?php echo $this->basicStyle;?>"> -- </td>
								<?php endif;?>
							<?php endforeach;?>
							<?php if($contador < $this->arrOrganizador['series'][$id_serie]['maxdisciplinas']):?>
								<?php for ($i = 0; $i < $resto; $i++):?>
									<td style="<?php echo $this->basicStyle.$this->grayColor;?>"> &nbsp; </td>
								<?php endfor;?>
							<?php endif;?>
							<?php if($dadosSerie['bl_todasnotas']):?>
								<?php if($dadosSerie['bl_aproveitamento']):?>
									<td style="<?php echo $this->basicStyle;?>"> <?php echo $textosBO->trataMedia($dadosSerie['st_media']);?>* </td>
								<?php else:?>
									<td style="<?php echo $this->basicStyle;?>"> <?php echo $textosBO->trataMedia($dadosSerie['st_media']);?> </td>
								<?php endif;?>
							<?php else:?>
								<td style="<?php echo $this->basicStyle;?>"> -- </td>
							<?php endif;?>
							<td style="<?php echo $this->basicStyle;?>"> <?php echo (empty($dadosSerie['st_totalcargahoraria']) ? '--' : $dadosSerie['st_totalcargahoraria']);?> </td>
							<?php $arrCargaSerie[$id_serie]['cargatotal'] += $dadosSerie['st_totalcargahoraria'];?>
						<?php endforeach;?>
						<?php if($dadosArea['bl_aprovado']):?>
							<td style="<?php echo $this->basicStyle;?>"> APROVADO </td>
						<?php else:?>
							<td style="<?php echo $this->basicStyle;?>"> -- </td>
						<?php endif;?>
				</tr>
			<?php endforeach;?>
		<?php endforeach;?>
		<tr>
			<td colspan="2" style="<?php echo $this->basicStyle;?>font-weight:bold;"> CARGA HORÁRIA </td>
			<?php foreach ($this->arrOrganizador['series'] as $id_serie => $dadosSeries):?>
				<td colspan="<?php echo ($dadosSeries['maxdisciplinas']+2);?>" style="<?php echo $this->rightStyle;?>"> <?php echo $arrCargaSerie[$id_serie]['cargatotal'];?> </td>
			<?php endforeach;?>
			<td colspan="1" style="<?php echo $this->grayColor.$this->basicStyle;?>"> &nbsp; </td>
		</tr>
	</tbody>
</table>
