<style type="text/css">
    .parcelas {
        background: #fff;
        width: 100%;
        border-collapse: collapse;
    }

    .parcelas * {
        margin: 0;
        padding: 0;
    }

    .parcelas tr {
        border: 1px solid #777;
    }

    .parcelas th {
        background-color: #777;
        color: #fff;
        padding: 3px;
        border: 1px solid #000;
    }

    .parcelas td {
        text-align: center;
        border: 1px solid #777;
    }
</style>
<table class="parcelas">
    <tr>
        <th>Data de Vencimento</th>
        <th>Valor da Parcela</th>
        <th>Forma de Pagamento</th>
    </tr>
    <?php
    if (is_array($this->arrGrid)):
        foreach ($this->arrGrid as $vw) { ?>
            <tr>
                <td> <?php echo $vw['dt_vencimento'] ? $vw['dt_vencimento'] : 'Data não cadastrada.'; ?> </td>
                <td class="dinheiro"> <?php echo 'R$ ' . $vw['nu_valor']; ?> </td>
                <td> <?php echo $vw['st_meiopagamento']; ?> </td>
            </tr>
        <?php }
    endif;
    ?>
