<table style="<?php echo $this->styles['tableStyle'] ?>">
	<thead>
	<tr>
		<?php foreach ($this->colunas as $coluna):?>
			<th style="background-color:#aaa; <?php echo $this->styles['basicStyle']; ?>"><?=$coluna['st_coluna']?></th>
		<?php endforeach; ?>
	</tr>
	</thead>
	<tbody>
	<?php $color = false;?>
	<?php foreach ($this->dados as $dado):?>
		<tr>
			<?php foreach($this->colunas as $coluna) { ?>
				<td style="<?php echo $this->styles['leftBasicStyle']; echo (!$color ? '' : 'background-color:#cccccc;'); ?>">
					<?php

					if($coluna['st_campoto']){
						echo $coluna['st_campoto'];
					} else {
						echo $dado[$coluna['st_indice']];
					}

					?>
				</td>
			<?php  } ?>
		</tr>
		<?php $color = ($color ? false:true);?>
	<?php endforeach;?>
	</tbody>
</table>