<table style="width:100%;border: 1px solid;border-collapse:collapse;min-width:500px">
	<thead style="width:100%;border:solid #000; border-collapse:collapse; border-width:thin;">
		<tr>
			<th style="border:solid #000; border-collapse:collapse; border-width:thin;width:25%">DISCIPLINA</th>
			<th style="border:solid #000; border-collapse:collapse; border-width:thin;width:25%">ESTABELECIMENTO</th>
			<th style="border:solid #000; border-collapse:collapse; border-width:thin;width:25%">CIDADE</th>
			<th style="border:solid #000; border-collapse:collapse; border-width:thin;width:25%">UF</th>
			<th style="border:solid #000; border-collapse:collapse; border-width:thin;width:25%">CARGA HORÁRIA</th>
			<th style="border:solid #000; border-collapse:collapse; border-width:thin;width:25%">ANO DE CONCLUSÃO</th>
		</tr>
	</thead>
	<tbody style="border:solid #000; border-collapse:collapse; border-width:thin;">
	<?php foreach ($this->arrOrganizador['modulo'] as $modulo):?>
		<tr>
			<td style="width:25%;border:solid #000; border-collapse:collapse; border-width:thin;text-align:center"><?php echo $modulo['st_modulo'];?></td>
			<td style="width:25%;border:solid #000; border-collapse:collapse; border-width:thin;text-align:center"><?php echo $this->arrOrganizador['st_nomeentidade'];?></td>
			<td style="width:25%;border:solid #000; border-collapse:collapse; border-width:thin;text-align:center"><?php echo $this->arrOrganizador['st_cidade'];?></td>
			<td style="width:25%;border:solid #000; border-collapse:collapse; border-width:thin;text-align:center"><?php echo $this->arrOrganizador['sg_uf'];?></td>
			<td style="width:25%;border:solid #000; border-collapse:collapse; border-width:thin;text-align:center"><?php echo $modulo['nu_cargahoraria'];?></td>
			<td style="width:25%;border:solid #000; border-collapse:collapse; border-width:thin;text-align:center"><?php echo ($this->arrOrganizador['dt_concluinte'] ? $date->getYear()->toString('Y') : '--');?></td>
			<?php $firstTime = true;?>
		</tr>
	<?php endforeach;?>
	</tbody>
</table>