<style type="text/css">
    .parcelas-contrato {
        background: #fff;
        width: 100%;
        border-collapse: collapse;
    }

    .parcelas-contrato * {
        margin: 0;
        padding: 0;
    }

    .parcelas-contrato tr {
        border: 1px solid #777;
    }

    .parcelas-contrato th {
        background-color: #777;
        color: #fff;
        padding: 3px;
        border: 1px solid #000;
    }

    .parcelas-contrato td {
        text-align: center;
        border: 1px solid #777;
    }
</style>
<table class="parcelas-contrato">
    <tr>
        <th>Data de Vencimento</th>
        <th>Valor da Parcela</th>
        <th>Forma de Pagamento</th>
    </tr>
    <?php foreach ($this->vwLancamentosTO as $vwLancamentoTO) { ?>
        <tr>
            <td> <?php echo $vwLancamentoTO->getDt_vencimento() ? $vwLancamentoTO->getDt_vencimento()->format('d/m/Y') : 'Data não cadastrada.'; ?> </td>
            <td class="dinheiro"> <?php echo 'R$ ' . number_format($vwLancamentoTO->getNu_valor(), 2, ',', '.'); ?> </td>
            <td> <?php echo $vwLancamentoTO->getSt_meiopagamento(); ?> </td>
        </tr>
    <?php } ?>
</table>
