<table style="<?php echo $this->styles['tableStyle'] ?>">
	<thead> 
		<tr>
			<th style="<?php echo $this->styles['basicStyle'] ?>"> DISCIPLINAS </th>
			<?php foreach ($this->dados['ordem'] as $nu_ordem):?>
				<th style="<?php echo $this->styles['basicStyle'] ?>"> <?php echo $nu_ordem?> </th>
			<?php endforeach;?>
		</tr>
	</thead>
	<tbody>
		<?php foreach ($this->dados['areaconhecimento'] as $id_areaconhecimento => $dadosArea):?>
			<tr>
				<td style="<?php echo $this->styles['leftBasicStyle'] ?>"> <?php echo $dadosArea['st_areaconhecimento'];?> </td>
					<?php foreach ($dadosArea['disciplinas'] as $nu_identificador => $dadosDisciplina):?>
						<?php if($dadosDisciplina['bl_destadisciplina']):?>
							<td style="<?php echo $this->styles['basicStyle'] ?>"> <?php echo ($dadosDisciplina['st_nota'] ? $dadosDisciplina['st_nota'] : 'X'); ?> </td>
						<?php else: ?>
							<td style="<?php echo $this->styles['grayBgColorStyle'].$this->styles['basicStyle'] ?>"> &nbsp; </td>
						<?php endif;?>
					<?php endforeach;?>
			</tr>
		<?php endforeach;?>
	</tbody>
</table>