<table style="width:100%; border-collapse:collapse; border: 1px solid black;border-width:thin;">
	<thead>
		<tr style="background-color: silver;">
			<th style="text-align: center; border:solid black; border-collapse:collapse; border-width:thin;"> DISCIPLINAS / ATIVIDADES </th>
			<th style="text-align: center; border:solid black; border-collapse:collapse; border-width:thin;"> ESTABELECIMENTO </th>
			<th style="text-align: center; border:solid black; border-collapse:collapse; border-width:thin;"> CIDADE </th>
			<th style="text-align: center; border:solid black; border-collapse:collapse; border-width:thin;"> UF </th>
			<th style="text-align: center; border:solid black; border-collapse:collapse; border-width:thin; width: 50px;"> CARGA HORÁRIA </th>
			<th style="text-align: center; border:solid black; border-collapse:collapse; border-width:thin;"> ANO </th>
			<th style="text-align: center; border:solid black; border-collapse:collapse; border-width:thin;width:80px;"> MÉDIA FINAL </th>
		</tr>
	</thead>
	<tbody>
		<?php $textosBO = new TextosBO();
		foreach ($this->arrOrganizador['modulo'] as $id_modulo => $modulo):?>
			<?php $date = new Zend_Date($this->arrOrganizador['dt_concluinte']);?>
			<tr>
				<td  style="text-align: center;border:solid black; border-collapse:collapse; border-width:thin;"> <?php echo $modulo['st_modulo'];?> </td>
				<td style="text-align: center;border:solid black; border-collapse:collapse; border-width:thin;"> <?php echo $this->arrOrganizador['st_nomeentidade'];?> </td>
				<td style="text-align: center;border:solid black; border-collapse:collapse; border-width:thin;"> <?php echo $this->arrOrganizador['st_cidade'];?> </td>
				<td style="text-align: center;border:solid black; border-collapse:collapse; border-width:thin;"> <?php echo $this->arrOrganizador['sg_uf'];?> </td>
				<td style="text-align: center;border:solid black; border-collapse:collapse; border-width:thin; width: 50px;"> <?php echo (empty($modulo['nu_cargahoraria']) ? '--' : $modulo['nu_cargahoraria']);?> </td>
				<td style="text-align: center;border:solid black; border-collapse:collapse; border-width:thin;"> <?php echo ($this->arrOrganizador['dt_concluinte'] ? $date->getYear()->toString('Y') : '--');?> </td>
				<td style="text-align: center;border:solid black; border-collapse:collapse; border-width:thin;"> <?php echo $textosBO->trataMedia($modulo['nu_media']);?> </td>
			</tr>
		<?php endforeach;?>
	</tbody>
</table>