<table style="width:100%;border: 1px solid;border-collapse:collapse;min-width:500px">
	<thead style="width:100%;border:solid #000; border-collapse:collapse; border-width:thin;">
		<tr>
			<th style="border:solid #000; border-collapse:collapse; border-width:thin;width:auto;" >
				Grade de Disciplinas
			</th>
		</tr>
	</thead>
	<tbody style="border:solid #000; border-collapse:collapse; border-width:thin;">
		<?php foreach ($this->arrDisciplinas as $dado):?>
			<tr>
				<td style="width:auto;border:solid #000; border-collapse:collapse; border-width:thin;text-align:left;font-weight:bold;">
					<?php echo $dado?>
				</td>
			</tr>
		<?php endforeach;?>
	</tbody>
</table>
