<table style="width:100%;border: 1px solid;border-collapse:collapse;min-width:500px">
	<thead style="width:100%;border:solid #000; border-collapse:collapse; border-width:thin;">
		<tr>
			<th style="border:solid #000; border-collapse:collapse; border-width:thin;width:auto;text-align: center;" width="30px"> Ano</th>
			<th style="border:solid #000; border-collapse:collapse; border-width:thin;width:auto;text-align: center;"> Estabelecimento de Ensino</th>
			<th style="border:solid #000; border-collapse:collapse; border-width:thin;width:auto;text-align: center;"> Cidade</th>
			<th style="border:solid #000; border-collapse:collapse; border-width:thin;width:auto;text-align: center;"> UF</th>
			<th style="border:solid #000; border-collapse:collapse; border-width:thin;width:auto;text-align: center;"> Ano</th>
		</tr>
	</thead>
	<tbody style="border:solid #000; border-collapse:collapse; border-width:thin;">
		<?php foreach ($this->arrOrganizador['series'] as $serie):?>
			<tr>
				<td style="width:auto;border:solid #000; border-collapse:collapse; border-width:thin;text-align:left;font-weight:bold;text-align: center;"><?php echo $serie['st_serie'] ?></td>
				<?php if($serie['bl_concluida']):?>
					<td style="width:auto;border:solid #000; border-collapse:collapse; border-width:thin;text-align:left;font-weight:bold;text-align: center;"><?php echo $serie['to']->getSt_instituicao(); ?></td>
					<td style="width:auto;border:solid #000; border-collapse:collapse; border-width:thin;text-align:left;font-weight:bold;text-align: center;"><?php echo $serie['to']->getSt_nomemunicipio(); ?></td>
					<td style="width:auto;border:solid #000; border-collapse:collapse; border-width:thin;text-align:left;font-weight:bold;text-align: center;"><?php echo $serie['to']->getSg_uf(); ?></td>
					<td style="width:auto;border:solid #000; border-collapse:collapse; border-width:thin;text-align:left;font-weight:bold;text-align: center;"><?php echo $serie['data']->toString(Zend_Date::YEAR); ?></td>
				<?php else:?>
					<td style="width:auto;border:solid #000; border-collapse:collapse; border-width:thin;text-align:left;font-weight:bold;text-align: center;"> ----------------------------------------- </td>
					<td style="width:auto;border:solid #000; border-collapse:collapse; border-width:thin;text-align:left;font-weight:bold;text-align: center;"> ----------- </td>
					<td style="width:auto;border:solid #000; border-collapse:collapse; border-width:thin;text-align:left;font-weight:bold;text-align: center;"> ---- </td>
					<td style="width:auto;border:solid #000; border-collapse:collapse; border-width:thin;text-align:left;font-weight:bold;text-align: center;"> --------</td>
				<?php endif;?>
			</tr>
		<?php endforeach;?>
	</tbody>
</table>