<style>
    .table-grid {
        width: 100%;
        border: 1px solid;
        border-collapse: collapse;
        min-width: 500px
    }

    .table-grid thead {
        width: 100%;
        border: solid #000;
        border-collapse: collapse;
        border-width: thin;
    }

    .table-grid tbody tr th {
        border: solid #000;
        border-collapse: collapse;
        border-width: thin;
        width: auto;
    }

    .table-grid tbody {
        border: solid #000;
        border-collapse: collapse;
        border-width: thin;
    }

    .th_left {
        width: auto;
        text-align: left;
    }

    .th_left {
        width: auto;
        text-align: left;
    }

    .td_left {
        width: auto;
        border: solid #000;
        border-collapse: collapse;
        border-width: thin;
        text-align: left;
    }

    .td_center {
        width: auto;
        border: solid #000;
        border-collapse: collapse;
        border-width: thin;
        text-align: center;
        /*font-weight:bold;*/
    }

    .td_disabled {
        background-color: #ccc;
    }

    .td_negrito {
        font-weight: bold;
    }
</style>

<table class="table-grid">
    <thead>
    <tr>
        <th class="th_left">Disciplina</th>
        <th>Carga Horária</th>
        <th>Semestre</th>
        <th>Nota Final</th>
        <th>Status</th>
    </tr>
    </thead>
    <tbody>
    <?php $cargaDisciplinas = 0;
    $encoding = mb_internal_encoding(); ?>
    <?php
    if (is_array($this->arrOrganizador) && !empty($this->arrOrganizador)):
        foreach ($this->arrOrganizador as $id_disciplina => $disciplina):?>
            <tr>
                <td class="td_left"><?php echo mb_strtoupper($disciplina['st_disciplina'], $encoding) ?></td>
                <td class="td_center"><?php echo(empty($disciplina['st_cargahoraria']) ? '-' : $disciplina['st_cargahoraria']) ?></td>
                <td class="td_center"><?php echo $disciplina['st_semestre'] ?></td>
                <td class="td_center"><?php echo $disciplina['st_nota'] ?></td>
                <td class="td_center"><?php echo mb_strtoupper($disciplina['st_statusdisciplina'], $encoding) ?></td>
                <?php if ($disciplina['id_evolucao'] == \G2\Constante\Evolucao::TB_MATRICULADISCIPLINA_APROVADO) $cargaDisciplinas += $disciplina['st_cargahoraria']; ?>
            </tr>
            <?php
        endforeach;
    endif;
    ?>
    <tr>
        <td class="td_left td_negrito"> CARGA HORÁRIA CUMPRIDA</td>
        <td class="td_center td_negrito"><?php echo $cargaDisciplinas; ?></td>
        <td class="td_center td_disabled">&nbsp;</td>
        <td class="td_center td_disabled">&nbsp;</td>
        <td class="td_center td_disabled">&nbsp;</td>
    </tr>
    </tbody>
</table>
