<div id="containerForm" class="row-fluid" style="position: relative;">
    <form method="post" action="" name="formTextos" id="formTextos" onsubmit="return false">
        <?php echo $this->form->id; ?>
        <div class="span8">
            <div>
                <div class="span6">
                    <label>Título</label>
                    <?php echo $this->form->st_textosistema; ?>
                </div>
                <div class="span3">
                    <label>Início</label>
                    <?php echo $this->form->dt_inicio; ?>
                </div>
                <div class="span3">
                    <label>Fim</label>
                    <?php echo $this->form->dt_fim; ?>
                </div>
                <div class="clearfix"></div>

            </div>
            <div>
                <?php echo $this->form->st_texto; ?>
            </div>
        </div>
        <div class="span3">
            <div class="span12 pull-right">
                <label>Orientação</label>
                <?php echo $this->form->id_orientacaotexto; ?>
                <label>Exibição</label>
                <?php echo $this->form->id_textoexibicao; ?>
                <label>Categoria Texto</label>
                <?php echo $this->form->id_textocategoria; ?>
                <div class="div-cabecalhoerodape hide">
                    <label><strong>Cabeçalho</strong></label>
                    <?php echo $this->form->id_cabecalho; ?>
                    <label><strong>Rodapé</strong></label>
                    <?php echo $this->form->id_rodape; ?>
                </div>
                <div class="div-variaveis">
                    <label>Busca por Variáveis</label>
                    <?php echo $this->form->st_textovariaveis; ?>
                    <label><strong>Variáveis</strong></label>
                    <?php echo $this->form->variaveis; ?>
                </div>
            </div>
            <!--<div class="clearfix"></div>-->
            <div class="pull-right"><?php echo $this->form->btnSbmit; ?></div>
            <div class="clearfix"></div>
        </div>
    </form>
</div>

<script src="<?php echo $this->baseUrl(); ?>/js/CollectionView.js"></script>
<style>
    #variaveis {
        height: 200px;
    }
</style>
<script type="text/javascript" src="/textos/js"></script>