<div class="title-block clearfix">
    <h3 class="h2-body-title uny">Cronograma</h3>

    <div class="title-seperator"></div>
</div>

<?php if ($this->status === Ead1_IMensageiro::SUCESSO) { ?>

    <p>
        <label>Curso:</label> <?php echo $this->curso; ?>
    </p>
    <p>
        <label>Coordenador:</label> <?php echo $this->coordenador; ?>
    </p>
    <table class="table table-bordered grade">
        <tr>
            <th>Disciplina</th>
            <th>Início</th>
            <th>Término</th>
            <th>Carga Horária</th>
            <th>Professor</th>
        </tr>
        <?php
        if (!$this->erro && $this->dados) {
            $i = 0;
            foreach ($this->dados as $modulo => $dados) {
                foreach (json_decode($dados['dados']) as $d) {
                    ?>
                    <tr>
                        <td>
                            <?php
                            echo $d->st_disciplina;
                            ?>
                        </td>
                        <td class="center">
                            <?php
                            echo $d->dt_abertura;
                            ?>
                        </td>
                        <td class="center">
                            <?php
                            echo $d->dt_encerramento;
                            ?>
                        </td>
                        <td class="center">
                            <?php
                            echo $d->nu_cargahoraria;
                            ?>
                        </td>
                        <td>
                            <?php
                            echo $d->st_professortitular;
                            ?>
                        </td>
                    </tr>
                    <?php
                }
            }
        }
        ?>
    </table>

<?php } else if ($this->status === Ead1_IMensageiro::AVISO) { ?>

    <div class="alert alert-warning" role="alert"><b>Atenção:</b> o coordenador do curso ainda não está disponível.</div>

<?php } else if ($this->status === Ead1_IMensageiro::ERRO) { ?>

    <div class="alert alert-danger" role="alert"><b>Erro:</b> não foi possível obter o cronograma.</div>

<?php } ?>