<script type="text/javascript" src="<?php echo $this->baseUrl;?>/js/sistema/alocacao/Alocacao.js"></script>
<script type="text/javascript">
$(document).ready(function(){
	var alocacao = new Alocacao();
	alocacao.changeModulo();

	// panels
	$('.dragbox').each(function(){
		$(this).hover(function(){
			$(this).find('h2').addClass('collapse');
		}, function(){
			$(this).find('h2').removeClass('collapse');
		})
		.find('h2').hover(function(){
			$(this).find('.configure').css('visibility', 'visible');
		}, function(){
			$(this).find('.configure').css('visibility', 'hidden');
		})
		.click(function(){
			$(this).siblings('.dragbox-content').toggle();
		})
		.end()
		.find('.configure').css('visibility', 'hidden');
	});

	$('.column').sortable({
		connectWith: '.column',
		handle: 'h2',
		cursor: 'move',
		placeholder: 'placeholder',
		forcePlaceholderSize: true,
		opacity: 0.4,
		stop: function(event, ui){
			$(ui.item).find('h2').click();
			var sortorder='';
			$('.column').each(function(){
				var itemorder = $(this).sortable('toArray');
				var columnId  = $(this).attr('id');
				
				if(itemorder.length>0) {
					for(x=0;x<itemorder.length;x++) {
						sortorder+=columnId+'[]='+itemorder[x]+'&';
					}
				}
			});
		}
	}).disableSelection();

	/**
	 * Ativando hover nos botões
	 */
	$('#dialog_link, ul.icons li').hover(
	    function() { $(this).addClass('ui-state-hover'); },
	    function() { $(this).removeClass('ui-state-hover'); }
	);
});
</script>
<?php 
	if($this->erro):
		echo '<script type="text/javascript"> Mensageiro.mostrar("'.$this->erro->getFirstMensagem().'",'.$this->erro->getTipo().');</script>';
	endif;
?>
<div class="column" style="width: 900px; margin: 0 auto;">
	<div class="dragbox" id="item0" >
		<h2>Alocação</h2> 
		<div class="dragbox-content" id="item0_id">
			<div>
				<h3 style="display: inline;"><?php echo Ead1_Portal_Funcionalidade::getLabel(62)?>:</h3>
				<span>
					<select name="cb_id_modulo" id="cb_id_modulo" style="width: 200px;">
						<option value="0">Selecione...</option>
						<?php echo $this->cbModulo; ?>
					</select>
				</span>
				<?php 
					//Convertendo Label para plural.
					$labelDisciplina = Ead1_Portal_Funcionalidade::getLabel(24);
					$lastChar = substr($labelDisciplina, strlen($labelDisciplina)-1);
					$labelDisciplina = $labelDisciplina.($lastChar != 's' ? 's':'');
				?>
				
				<h3 style="display: inline;"> | <?php echo $labelDisciplina; ?> Alocad<?php echo $lastChar;?>s: <span id="disciplinasAlocadas"><?php echo $this->dadosAlocacaoTO->nu_disciplinasalocadas; ?></span> | <?php echo $labelDisciplina; ?> Disponíveis: <span id="disciplinasDisponiveis"><?php echo $this->dadosAlocacaoTO->nu_disciplinasdisponiveis; ?></span></h3>
			</div>
			<div id="idConteudoDisciplina" style="display:none;">
				<hr />
				<div>
					<fieldset>
						<legend id="lgdModulo"></legend>
						<div id="containerDisciplinasAlocacao"></div>
					</fieldset>
				</div>
			</div>
			<hr />
		</div>
	</div>
</div>
<br style="clear:both" />