<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Untitled Document</title>
	</head>

	<body>
		<p>Prezado Aluno,</p>
		
		<p>
			Em resposta ao processo de redefini&ccedil;&atilde;o do usu&aacute;rio e senha solicitado, o acompanhamento de seus dados pessoais deve ser feito utilizando:
		</p>
		<p>
			<strong>Usuário:</strong> <span style="color: #F00;"><?php echo $this->usuario; ?></span>
			<br />
			<strong>Senha:</strong> <span style="color: #f00;"><?php echo $this->senha; ?></span>
		</p>
		
		<p>
			Estes dados s&atilde; o essenciais para seu acesso &agrave;s informa&ccedil;&otilde;es e atividades em nossa p&aacute;gina. Caso haja necessidade, a senha e o nome de
			usu&aacute;rio poder&atilde;o ser requeridos novamente. Para tal, &eacute; necess&aacute;rio que conste no pedido o<strong> endereço atual de e-mail</strong> e o <strong>CPF</strong>
			do aluno.</p>
		<p>Atenciosamente,</p>
		<p>&nbsp;</p>
		<p>&nbsp;</p>
		<p>&nbsp;</p>
		<p>&nbsp;</p>
	</body>
</html>
