<!--Area onde o layout view vai renderizar os templates processados-->
<div id="container-layout-view"></div>

<!--Regioes do layout view-->
<script id="layout-view-template" type="text/template">
    <div id="region1"></div>
</script>

<!--TEMPLATES-->
<script id="composite-region-1" type="text/template">
    <form class="form-inline" id="form-dividir-sala">
        <div class="row-fluid">
            <div class="control-group span6">
                <label class="control-label">Sala de Origem:</label>

                <div class="controls">
                    <div class="combo-sala-origem"></div>
                </div>
            </div>
            <div class="control-group span6">
                <label class="control-label">Sala de Destino:</label>

                <div class="controls">
                    <select id="combo-sala-destino">
                        <option value="">--Selecione--</option>
                    </select>
                </div>
            </div>
        </div>
        <hr>
        <div class="row-fluid state2">
            <div class="control-group span4">
                <label class="control-label">Forma da Seleção de Alunos:</label>

                <div class="controls">
                    <select disabled id="combo-forma-selecao-alunos">
                        <option value="1">Por Projeto Pegagógico</option>
                        <option value="2">Aleatória</option>
                    </select>
                </div>
            </div>
            <div class="span8">
                <div id="forma-selecao-alunos-aleatoria" style="display: none;">
                    <div class="control-group span6">
                        <label class="control-label">Quantidade de Alunos:</label>

                        <div class="controls">
                            <input disabled="disabled" type="number" id="input-quantidade-alunos" min="0" class="input-mini">
                        </div>
                    </div>
                </div>
                <div id="forma-selecao-alunos-projeto-pedagogico">
                    <input disabled id="input-filtro-projeto-pedagogico" class="span12" type="text" placeholder="Filtrar Projeto Pedagógico">

                    <div style="max-height: 250px; overflow: auto;">
                        <table class="table table-bordered table-hover backgrid">
                            <thead>
                            <th width="15" align="center">#</th>
                            <th>Nome Projeto Pedagógico</th>
                            <th>Número de Alunos</th>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="row-fluid">
            <div class="form-actions">
                <button disabled="disabled" id="btn-salvar-divisao-salas" class="btn btn-success pull-right">Salvar</button>
            </div>
        </div>
    </form>
</script>

<script type="text/template" id="tpl-projetos-pedagogicos-em-comum">
    <td><input type="checkbox"></td>
    <td><%=st_projetopedagogico%></td>
    <td><%=nu_alocados%></td>
</script>

<!--JAVASCRIPT DA FUNCIONALIDADE-->
<script type="text/javascript" src="/js/backbone/views/Util/SelectView.js"></script>
<script type="text/javascript" src="/js/select2/select2_locale_pt-BR.js"></script>
<script type="text/javascript" src="/js/select2/select2.js"></script>
<script type="text/javascript" src="/js/MensagensG2.js"></script>
<script type="text/javascript">
    <?php echo $this->render('sala-de-aula/dividir-sala.js'); ?>
</script>