<style type="text/css" xmlns="http://www.w3.org/1999/html">
    .profTitular {
        background: #0a0;
    }
</style>

<div id="conteiner-principal" class="">

    <div id="abas-sala-de-aula" class="">  <!-- Div cabeçalho (controle de abas) -->
        <ul id="ul_menu_sala" class="nav nav-tabs">
            <li><a href="#SalaDeAula" id="aba-sala" class="aba" name="dados-sala-de-aula" data-toggle="tab">Sala de
                    Aula</a></li>
            <li><a href="#IntegracaoSala" id="aba-integracao" class="aba" name="dados-integracao" data-toggle="tab">Integração</a>
            </li>
        </ul>
    </div>

    <div class="tab-content">
        <?php echo $this->form->idSalaDeAulaEdit; ?>

        <div class="tab-pane" id="SalaDeAula">
            <div id="salaDadosBasicos">
                <!--modal pesquisa turmas-->
                <div id="box-modal"></div>

                <form class="form" method="post" id="form-cadastrar-sala-de-aula" action="">

                    <div class="well">
                        <legend>Básico
                        </legend>
                        <div class="row-fluid">
                            <div class="span6">
                                <label>Título</label>
                                <?php echo $this->form->st_saladeaula; ?>
                            </div>
                            <div class="span2">
                                <label>Categoria<a href="#" rel="tooltip" class="dadosSala" data-placement="top"
                                                   data-original-title="Define se os alunos irão cursar nessa salas a disciplina na grade normal do curso, ou se será usada no processo de recuperação."
                                                   data-trigger="hover">
                                        <i class="icon-blue icon-info-sign"></i></a></label>
                                <?php echo $this->form->id_categoriasala; ?>
                            </div>
                            <div class="span2">
                                <label>Situação</label>
                                <?php echo $this->form->id_situacao; ?>
                            </div>
                            <div class="span2">
                                <label>Modalidade<a href="#" rel="tooltip" class="dadosSala" data-placement="top"
                                                    data-original-title="Define se a sala de aula terá aulas presenciais ou somente a distância."
                                                    data-trigger="hover">
                                        <i class="icon-blue icon-info-sign"></i></a></label>
                                <?php echo $this->form->id_modalidadesaladeaula; ?>
                            </div>
                        </div>

                        <div class="clearfix"></div>
                        <br>

                        <div class="row-fluid">
                            <div class="<?php echo (!isset($this->personalizado)) ? 'span4' : 'span8' ?>">
                                <div class="row-fluid">
                                    <div class="span3" id="divBotaoDisciplina">
                                        <label>Disciplina<a href="#" rel="tooltip" class="dadosSala"
                                                            data-placement="top"
                                                            data-original-title="A disciplina que será ministrada nessa sala de aula."
                                                            data-trigger="hover">
                                                <i class="icon-blue icon-info-sign"></i>:</a></label>
                                        <a class="btn btn-custom btn-small btDisciplina" href="#pesquisaDisciplina"
                                           data-toggle="modal" id="btDisciplina" name="btDisciplina">
                                            Pesquisar
                                        </a>

                                    </div>
                                    <div class="span4">
                                        <label></label>
                                        <label name="st_disciplina" id="st_disciplina" class="text-danger"></label>
                                        <input type="hidden" id="id_disciplina" name="id_disciplina" value="">
                                    </div>
                                    <div class="span5">
                                        <label class="checkbox">
                                            <input id="bl_ofertaexcepcional" type="checkbox"
                                                   name="bl_ofertaexcepcional"/> Oferta Excepcional
                                        </label>
                                        <label class="checkbox">
                                            <input id="bl_vincularturma" type="checkbox"
                                                   name="bl_vincularturma"/> Vincular Turmas
                                        </label>
                                    </div>
                                </div>

                            </div>
                            <!--    Se a rotar for para a action de form personalizada remove alguns campos que não são necessários para esta entidade -->
                            <?php if (!isset($this->personalizado)): ?>
                                <div class="span2">
                                    <label>Conjunto de Avaliação<a href="#" rel="tooltip" class="dadosSala"
                                                                   data-placement="top"
                                                                   data-original-title="O conjunto de avaliação define como o aluno deve ser avaliado dentro de sala de aula."
                                                                   data-trigger="hover">
                                            <i class="icon-blue icon-info-sign"></i></a></label>
                                    <select id="id_avaliacaoconjuntoh" class="span12"
                                            name="id_avaliacaoconjuntoh"></select>
                                    <select id="id_avaliacaoconjunto" class="span12 hide" name="id_avaliacaoconjunto"
                                            required></select>
                                </div>
                            <?php endif; ?>
                            <div class="span2">
                                <label>Tipo Sala<a href="#" rel="tooltip" class="dadosSala" data-placement="top"
                                                   data-original-title="Salas permanentes: Os alunos são encerrados individualmente e a sala continua disponível para novos alunos. Salas períodicas: Todos os alunos são encerrados em conjunto e a sala termina para todos os alunos."
                                                   data-trigger="hover">
                                        <i class="icon-blue icon-info-sign"></i></a></label>
                                <?php echo $this->form->id_tiposaladeaula; ?>
                            </div>
                            <?php if (!isset($this->personalizado)): ?>
                                <div class="span2">
                                    <label>Oferta de Sala:</label>
                                    <?php echo $this->form->id_periodoletivo; ?>
                                </div>
                            <?php endif; ?>
                            <div class="span2">
                                <label>Máx.de Alunos<a href="#" rel="tooltip" class="dadosSala" data-placement="top"
                                                       data-original-title="Número máximo de alunos que podem ser alocados nessa sala de aula."
                                                       data-trigger="hover">
                                        <i class="icon-blue icon-info-sign"></i></a></label>
                                <input id="nu_maxalunos" name="nu_maxalunos" type="text" value="9999" maxlength="4"
                                       class="span12">
                            </div>

                        </div>
                    </div>

                    <!--    Se a rotar for para a action de form personalizada remove alguns campos que não são necessários para esta entidade -->

                    <div class="well">
                        <legend>Disponiblidade
                        </legend>
                        <div class="row-fluid">
                            <div class="span2" id="divInscricao">
                                <label>Início da Inscrição<a href="#" rel="tooltip" class="dadosSala"
                                                             data-placement="top"
                                                             data-original-title="Data a partir da qual será permitido alocar alunos nessa sala. Sendo considerado para a comparação a data de matrícula do aluno, ou a data de início da turma (quando está existir)."
                                                             data-trigger="hover">
                                        <i class="icon-blue icon-info-sign"></i></a></label>
                                <input type="text" id="dt_inicioinscricao" name="dt_inicioinscricao"
                                       required="required"
                                       class="datepicker maskDate dateg" style="width: 80%">
                            </div>
                            <?php if (!isset($this->personalizado)): ?>
                                <div class="span2">

                                    <label>Fim da Inscrição<a href="#" rel="tooltip" class="dadosSala"
                                                              data-placement="top"
                                                              data-trigger="hover"
                                                              data-original-title="Data a até a qual será permitido alocar alunos nessa sala. Sendo considerado para a comparação a data de matrícula do aluno, ou a data de início da turma (quando está existir).">
                                            <i class="icon-blue icon-info-sign"></i></a></label>
                                    <input type="text" id="dt_fiminscricao" name="dt_fiminscricao"
                                           class="datepicker maskDate dateg"
                                           style="width: 80%">
                                </div>
                            <?php endif; ?>
                            <div class="span2" id="divAbertura">
                                <label>Abertura<a href="#" rel="tooltip" class="dadosSala" data-placement="top"
                                                  data-trigger="hover"
                                                  data-original-title="Data a partir da qual os alunos podem acessar a sala.">
                                        <i class="icon-blue icon-info-sign"></i></a></label>
                                <input type="text" id="dt_abertura" name="dt_abertura" required="required"
                                       class="datepicker maskDate dateg" style="width: 80%">
                            </div>
                            <?php if (!isset($this->personalizado)): ?>
                                <div class="span2">
                                    <label>Encerramento<a id="lbEncerramento" href="#" rel="toolip" class="dadosSala"
                                                          data-placement="top" data-content="" data-trigger="hover"
                                                          data-original-title="Data até a qual os alunos podem acessar a sala. (O acesso após o encerramento pode ser afetado pelo número de dias após o encerramento)"
                                                          data-trigger="hover">
                                            <i class="icon-blue icon-info-sign"></i></a></label>
                                    <input type="text" id="dt_encerramento" name="dt_encerramento"
                                           class="datepicker maskDate dateg"
                                           style="width: 80%">
                                </div>
                                <div class="span2">
                                    <label>Dias para cursar<a href="#" rel="tooltip" class="dadosSala"
                                                              data-placement="top"
                                                              data-trigger="hover"
                                                              data-original-title="Quantos dias o aluno terá para cursar essa disciplina nesta sala de aula. Se marcado como indefinido ele terá até a data de encerramento da sala.">
                                            <i class="icon-blue icon-info-sign"></i></a></label>
                                    <input type="text" id="nu_diasaluno" name="nu_diasaluno" class="numeric"
                                           style="width: 30%">
                                    <input type="checkbox" id="bl_semdiasaluno" name="bl_semdiasaluno">&nbsp;Indefinido
                                </div>
                                <div class="span2">
                                    <label>Dias após encerramento:<a href="#" rel="tooltip" class="dadosSala"
                                                                     data-placement="top" data-trigger="hover"
                                                                     data-original-title="Quantos dias o aluno pode acessar após a sala ter chegado até a data de encerramento. (Pode haver mudança de perfil de acesso ao AVA de acordo com a integração com o mesmo).">
                                            <i class="icon-blue icon-info-sign"></i></a></label>
                                    <input type="text" id="nu_diasencerramento" name="nu_diasencerramento"
                                           class="numeric"
                                           style="width: 30%">
                                    <input type="checkbox" id="bl_semencerramento" name="bl_semencerramentoA">&nbsp;Indefinido
                                </div>
                            <?php endif; ?>
                        </div>
                    </div>

                </form>
            </div>
        </div>
        <div class="tab-pane" id="IntegracaoSala"><!--inicio integracao-->
            <label>Nenhuma sala cadastrada ainda!</label>
        </div>
        <!--fim integracao-->
    </div>
    <div id="renderizaModal" class="renderizaModal"></div>
    <!--fim div das abas-->
</div><!--fim div principal-->

<!--modal pesquisa disciplina-->
<div id="pesquisaDisciplina" class="modal hide fade" aria-hidden="true" aria-labelledby="windowTitleLabel" role="dialog"
     tabindex="-1" style="display: none;">
    <div class="modal-header">
        <h3>
            Pesquisa de Disciplinas
        </h3>
    </div>
    <div class="modal-body">
        <?php echo $this->action('modal-pesquisa-disciplina', 'util', 'default') ?>
    </div>
    <div class="modal-footer">
        <a class="btn" data-dismiss="modal" aria-hidden="true"> Sair </a>
        <a class="btn btn-custom salvaD" id="" onclick="buscaDisciplina();"> Salvar </a>
    </div>
</div>
<!--fim modal pesquisa disciplina-->

<!--modal integrar sala existente-->
<div id="IntegraSalaExistente" class="modal hide fade" style="width: 800px; left: 50%; margin-left: -400px ">
    <div class="modal-header">
        <h3>
            Integrar Sala Existente
        </h3>
    </div>
    <div class="modal-body" id="content-integrar-sala">
        <div id="composite-content"></div>
    </div>
    <div class="modal-footer">
        <a class="btn" data-dismiss="modal"> Sair </a>
    </div>
</div>
<!--fim modal integrar sala existente-->


<script type="text/template" id="template-integracao-sala">
    <div class="row-fluid">
        <div class="row-fluid">
            <h4>Sala:</h4>
        </div>
        <div class="row-fluid">
            <label id="stSalaDeAula" class="label-danger"><%=st_saladeaula%></label>
        </div>
    </div>
    <% if(array_coordenadores) { %>
    <div class="row-fluid">
        <div class="row-fluid">
            <h4>Coordenador(a):</h4>
        </div>
        <% _.each(array_coordenadores, function(coordenador){ %>
        <div class="row-fluid">
            <label class="label-danger"> - <%= (coordenador) %> </label>
        </div>
        <% }); %>
    </div>
    <% } %>
    <div class="clearfix"></div><br>
    <div class="row-fluid">
        <form id="dadosIntegracaoSala" method="post" action="">
            <input type="hidden" value="<%=id_saladeaula%>" id="idSala" name="idSalaIntegrar">
            <input type="hidden" value="" id="id_sistemaintegrado" name="id_sistemaintegrado">
            <input type="hidden" name="id_sistema" id="id_sistema" value="<?= \G2\Constante\Sistema::MOODLE ?>"/>
            <div class="row-fluid">
                <div class="span3">

                    <h4>Integrar ao Moodle</h4>
                    <select id="id_entidadeintegracao" name="id_entidadeintegracao" class="span12" required>
                        <option value="">Selecione</option>
                    </select>
                </div>
                <div class="span3">
                    <h4>Sala de Referência </h4>
                    <select id="id_disciplinaintegracao" name="id_disciplinaintegracao" class="span12"
                            required="required">
                        <option value="">Selecione</option>
                    </select>

                    </div>
                    <div class="span6 text-center">
                        <h4>&nbsp;&nbsp;</h4>
                        <button type="button" id="btn-atualizar-sala-referencia" name="btn-atualizar-sala-referencia"
                                class="btn btn-info"
                                disabled="disabled">
                            <!-- Sugestão p/ o cliente: trocar o texto do botão por "Atualizar Sala De Referência -->
                            Salvar
                        </button>
                        <button type="button" id="integrarSalaDeAula" name="integrarsala" class="btn btn-info">
                            Integrar
                        </button>
                        <button type="button" id="btn-integrar-sala-existente" title="Integrar com sala existente"
                                class="btn btn-info">Integrar com Sala Existente
                        </button>
                    </div>
                    <div class="span2">
                        <h4>Código</h4>
                        <span id="codigoCurso"> </span>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row-fluid div-moodle hide">
        <div class="span12">
            <fieldset>
                <legend>Moodle</legend>
                <button type="button" id="ReintegrarAlunos" class="btn btn-inverse">Reintegrar Alunos</button>
                <button type="button" id="ReintegrarProfessores" class="btn btn-custom">Reintegrar Professores</button>
            </fieldset>
        </div>
    </div>

    <div class="row-fluid div-bb hide">
        <div class="span12">
            <fieldset>
                <legend>BlackBoard</legend>
                <button type="button" id="reIntegrarSalaDeAula" name="reintegrarsala" class="btn btn-info">
                    Re-integrar
                </button>
            </fieldset>
        </div>
    </div>
</script>

<script type="text/template" id="template-projetos-lista">
    <td class="span1"><input type="checkbox" class="addProjeto checkall"
                             id="id_projetopedagogico<%=id_projetopedagogico%>" name="id_projetopedagogico"
                             value="<%=id_projetopedagogico%>"></td>
    <td class="span4"><%=st_projetopedagogico%></td>
</script>

<script type="text/template" id="template-projetos-selecionados">
    <td class="span4"><input type="hidden" id="st_projetopedagogico"><%=st_projetopedagogico%></td>
    <?php if (isset($this->personalizado)): ?>
        <td><input type="number" class="span5" name="nu_diasacesso" id="nu_diasacesso" value="<%=nu_diasacesso%>">
        </td>
    <?php endif; ?>
    <td class="span1">
        <button type="button" class="btn btn-danger remover" value="<%=id_projetopedagogico%>"
                id="botao<%=id_projetopedagogico%>"><i class="icon-minus icon-white"></i></button>
</script>

<script type="text/template" id="template-projetos-selecionados-turma">
    <td class="span7"><input type="hidden" id="st_projetopedagogico"><%=st_projetopedagogico%></td>
    <?php if (isset($this->personalizado)): ?>
        <td><input type="number" class="span5" name="nu_diasacesso" id="nu_diasacesso" value="<%=nu_diasacesso%>">
        </td>
    <?php endif; ?>
    <td class="span4">
        <button type="button" class="btn btn-custom btn-small btTurma" id="btn_vincular_turma"
                name="btn_vincular_turma">
            Vincular Turmas
        </button>
        <button type="button" class="btn btn-custom btn-small btTurma" id="btn_visualizar_turma"
                name="btn_visualizar_turma">
            Visualizar Turmas
        </button>
    </td>
    <td class="span1">
        <button type="button" class="btn btn-danger remover" value="<%=id_projetopedagogico%>"
                id="botao<%=id_projetopedagogico%>"><i class="icon-minus icon-white"></i></button>
</script>

<script type="text/template" id="template-sala-produto-prr">
    <fildset id="salaProdutoPrr" class="field hide">
        <legend>Produto</legend>
        <form id="cadastroSalaProdutoPrr" method="post" action="">
            <div class="row-fluid">
                <div class="span12">
                    <div class="row-fluid">
                        <div class="span3">
                            <label>Valor
                                <a href="#" rel="tooltip" class="dadosSala" data-placement="top"
                                   data-original-title="O valor que será cobrado do aluno para cursar PRR nesta sala."
                                   data-trigger="hover">
                                    <i class="icon-blue icon-info-sign"></i>
                                </a>
                            </label>
                            <input type="text" id="nu_valor" name="nu_valor" class="maskMoney" required="required"
                                   value="">
                        </div>
                        <div class="span3">
                            <label>Início<a href="#" rel="tooltip" class="dadosSala" data-placement="top"
                                            data-original-title="Data a partir da qual esse valor é valido."
                                            data-trigger="hover">
                                    <i class="icon-blue icon-info-sign"></i></a></label>
                            <input type="text" id="dt_inicioproduto" name="dt_inicio" required="required"
                                   class="datepicker maskDate">
                        </div>
                        <div class="span3">
                            <label>Fim<a href="#" rel="tooltip" class="dadosSala" data-placement="top"
                                         data-original-title="Data até a  qual esse valor é valido."
                                         data-trigger="hover">
                                    <i class="icon-blue icon-info-sign"></i></a></label>
                            <input type="text" id="dt_fimproduto" name="dt_termino" required="required"
                                   class="datepicker maskDate">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span12">
                    <button type="button" id="salvarSalaProdutoPrr" class="btn btn-success  pull-right">Salvar</button>
                </div>
            </div>
        </form>
        </div>
    </fildset>
</script>
<script type="text/template" id="template-sala-produto-prr-edit">
    <fildset id="salaProdutoPrr" class="field">
        <legend>Produto</legend>
        <form id="editarSalaProdutoPrr" method="post" action="">
            <div class="row-fluid">
                <div class="span12">
                    <div class="row-fluid">
                        <div class="span3">
                            <input type="hidden" id="id_produtovalor" name="id_produtovalor"
                                   value="<%=id_produtovalor%>">
                            <label>Valor<a href="#" rel="tooltip" class="dadosSala" data-placement="top"
                                           data-original-title="O valor que será cobrado do aluno para cursar PRR nesta sala."
                                           data-trigger="hover">
                                    <i class="icon-blue icon-info-sign"></i></a></label>
                            <input type="text" id="nu_valor" name="nu_valor" class="maskMoney" required="required"
                                   value="<%=nu_valor%>">
                        </div>
                        <div class="span3">
                            <label>Início<a href="#" rel="tooltip" class="dadosSala" data-placement="top"
                                            data-original-title="Data a partir da qual esse valor é valido."
                                            data-trigger="hover">
                                    <i class="icon-blue icon-info-sign"></i></a></label>
                            <input type="text" id="dt_inicioproduto" name="dt_inicio" required="required"
                                   value="<%=dt_inicio%>" class="datepicker maskDate">
                        </div>
                        <div class="span3">
                            <label>Fim<a href="#" rel="tooltip" class="dadosSala" data-placement="top"
                                         data-original-title="Data até a  qual esse valor é valido."
                                         data-trigger="hover">
                                    <i class="icon-blue icon-info-sign"></i></a></label>
                            <input type="text" id="dt_fimproduto" name="dt_termino" required="required"
                                   value="<%=dt_termino%>" class="datepicker maskDate">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span12">
                    <button type="button" id="editarSalaProdutoPrr" class="btn btn-success  pull-right">Salvar</button>
                </div>
            </div>
        </form>
        </div>
    </fildset>
</script>
<script type="text/template" id="template-sala-dados-basicos">
    <div class="row-fluid hide div-acoes">
        <div class="span12 well well-small">
            <div class="span7">
                <button type="button" class="btn hide btn-danger" id="cancelarSala">
                    <i class="icon icon-remove-circle icon-white"></i>
                    Cancelar Sala de Aula
                </button>
            </div>
            <div class="span5">
                <button type="button" class="btn btn-success hide pull-right" style="padding-left:10px;"
                        id="editarSalaDeAula">
                    <i class="icon icon-ok-circle icon-white"></i>
                    Salvar
                </button>
                <button type="button" class="btn btn-primary hide pull-right" style="padding-left:10px;"
                        id="editarProdutoPrr">
                    Editar Valor Produto
                </button>
                <button type="button" class="btn btn-info hide pull-right" id="mostrarPermissoesEdit">
                    <i class="icon icon-edit icon-white"></i>
                    Editar Permissões
                </button>
                <button type="button" class="btn btn-info   hide" id="novaSalaDeAula"><i
                            class="icon-plus icon-white"></i>Nova
                </button>
                <button type="submit" class="btn btn-success pull-right" id="salvarSalaDeAula">Salvar</button>
            </div>
        </div>
    </div>
    <div class="alert alert-danger hide div-alert">
        <i class="icon icon-warning-sign"></i> <span id="mensagem"></span>
    </div>
</script>
<script type="text/template" id="template-sala-permissoes">
    <fieldset style="padding-top: 10px;" id="dadosPermissoes">
        <form id="salvarSalaPermissoes" method="post" action="">
            <input type="hidden" id="idSaladeaula" name="id_saladeaula" value="">
            <legend>Permissões</legend>
            <div>
                <h4>Projetos Pedagógicos</h4>
                <label>Seleção de quais projetos pedagógicos podem utilizar esta sala</label>
            </div>
            <div style="padding-bottom:5px;">
                <input type="text" class="input-search span6 search-query" alt="pesquisa-projetos"
                       placeholder="Filtrar Projetos"/>
            </div>
            <div class="row-fluid">
                <div class="span12">
                    <div class="row-fluid" style="margin-bottom: 15px;">
                        <div class="span6" style="overflow: auto; height: 200px;" id="idProjetosSel">
                            <table role="dialog" class="pesquisa-projetos table table-bordered table-striped backgrid"
                                   id="lista-projetos-pedagogicos">
                                <thead>
                                <tr>
                                    <th><input type="checkbox" id="marcaTodosI"></th>
                                    <th>Projeto Pedagógico</th>
                                </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                        <div class="span6" style="overflow: auto; height: 200px;"
                             id="divProjetosSelecionados">
                        </div>
                    </div>
                </div>
            </div>

            <div class="row-fluid">
                <div class="span12">
                    <div class="row-fluid">
                        <div class="span6">
                            <!--inicio organizações-->
                            <fieldset>
                                <legend><h4>Organizações</h4></legend>
                                <div id="todasEntidades">
                                    <input type="checkbox" value="" id="ck_todasentidades" name="ck_todasentidades">&nbsp;<span>Todas as entidades</span>
                                </div>
                                <br/>

                                <div id="entidades" class=""></div>
                            </fieldset>
                            <!--fim organizações-->
                        </div>
                        <div class="span6">
                            <fieldset id="fieldSetProfessores">
                                <input type="hidden" id="professor_titular" name="professor_titular">
                                <legend><h4>Professores
                                        <a class="btn-success btn pull-right add-item btn-small" data-toggle="tooltip"
                                           title="Adicionar Item"><i class="icon-plus icon-white"></i></a>
                                    </h4>
                                </legend>
                                <div id="containerProfessores" class="well well-large">
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span12">
                    <div class="row-fluid">
                        <button type="button" class="btn btn-success  pull-right" id="salvarPermissoes">Salvar</button>
                        <button type="button" class="btn btn-success  pull-right hide" id="editarPermissoes">Salvar
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </fieldset>
</script>

<script type="text/template" id="template-table-projetos-selected">
    <table class="table table-bordered table-striped backgrid" id="lista-projetos-pedagogicos-selecionados">
        <thead>
        <tr>
            <th>Selecionados</th>
            <?php if (isset($this->personalizado)): ?>
                <th class="span2">Dias de acesso</th>
            <?php endif; ?>
            <th>Remover</th>
        </tr>
        </thead>
        <tbody style="overflow: auto;height: 200px;">

        </tbody>
    </table>
</script>

<script type="text/template" id="template-table-projetos-selected-turma">
    <table class="table table-bordered table-striped backgrid" id="lista-projetos-pedagogicos-selecionados">
        <thead>
        <tr>
            <th>Selecionados</th>
            <?php if (isset($this->personalizado)): ?>
                <th class="span2">Dias de acesso</th>
            <?php endif; ?>
            <th>Turma</th>
            <th>Remover</th>
        </tr>
        </thead>
        <tbody style="overflow: auto;height: 200px;">

        </tbody>
    </table>
</script>

<script type="text/template" id="template-integra-sala-existente">
    <fieldset>
        <b>Buscar Sala:</b>

        <div class="row-fluid">
            <div class="span6">
                <input type="text" placeholder="Nome da Sala" class="input-search span12 search-query"
                       alt="pesquisa-sala"/>
            </div>
            <div class="span8"></div>
        </div>
        <!--<a class="btn btn-mini btn-success"><i class="icon icon-white icon-plus"></i></a>-->
    </fieldset>
    <table class="pesquisa-sala table table-striped table-bordered table-hover backgrid backgrid-selectall">
        <thead>
        <tr>
            <th>Cod. da Sala</th>
            <th>Nome</th>
            <th>Situação</th>
            <th>Tipo</th>
            <th>Abertura</th>
            <th>Encerramento</th>
            <th>sistema</th>
            <th>Cod. de Integracao</th>
            <th>Opções</th>
        </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</script>

<script type="text/template" id="template-item-pesquisa-turma">
    <td><%= id_saladeaula %></td>
    <td><%= st_saladeaula %></td>
    <td><%= st_situacao %></td>
    <td><%= st_modalidadesaladeaula %></td>
    <td><%= dt_abertura %></td>
    <td><%= dt_encerramento%></td>
    <td><%= st_sistema %></td>
    <td><%= id_saladeaulaintegracao %></td>
    <td>
        <a title="Integrar" class="btn btn-success btn-small " data-toggle="tooltip">
            Integrar
        </a>
    </td>
</script>

<script type="text/template" id="no-salaintegrada">
    <td colspan='12'>
        <div class="alert alert-info">Nenhuma sala de aula com esta disciplina nesta entidade!</div>
    </td>
</script>

<script type="text/template" id="base-modal">
    <div id="regiao1"></div>
</script>

<script type="text/template" id="pesquisaTurmas">
    <div class="modal-header">
        <a class="close" data-dismiss="modal"> × </a>
        <legend>
            TURMA
        </legend>
    </div>
    <div class="modal-body">
        <h4>Selecione uma turma</h4>
        <div style="padding-bottom:5px;">
            <input type="text" class="input-search-turmas span4 search-query" alt="pesquisa-turmas"
                   placeholder="Filtrar Turmas"/>
        </div>
        <div id="listaTurmasDisponiveis">
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn" id="btn_fechar" data-dismiss="modal" name="btn_fechar" aria-hidden="true">
            Sair
        </button>
        <button type="button" class="btn btn-custom" id="btn_salvar_turma" name="btn_salvar_turma"> Vincular</button>
    </div>
</script>


<script type="text/template" id="view-cabecalho-turmas">
    <div class="well well-small">
        <div class="row-fuid">
            <table class="pesquisa-turma backgrid backgrid-selectall table table-bordered table-hover table-striped">
                <thead>
                <tr>
                    <th><input type="checkbox" class="checkboxAllTurmas" id="checkboxAllTurmas"
                               name="checkboxAllTurmas"></th>
                    <th>Turma</th>
                </tr>
                </thead>
                <tbody id="tableTurma"></tbody>
            </table>
        </div>
    </div>
</script>

<script type="text/template" id="item-turma">
    <td><input type="checkbox" class="checkboxTurma" id="chkTurma"
               name="checkboxTurma" <% if(checked==true){%>checked<%}%>
        value="<%=id_turma%>" st_turma="<%=st_turma%>">
    </td>
    <td><%= st_turma.toUpperCase()%></td>
</script>

<script type="text/template" id="nenhuma-turma-encontrada">
    <td class="colspan2">Nenhuma turma encontrada para vincular</td>
</script>

<script type="text/template" id="empty-nenhuma-turma">
    <div>
        <p>Nenhuma turma vinculada</p>
    </div>
</script>

<script type="text/template" id="visualizaTurmas">
    <div class="modal-header">
        <a class="close" data-dismiss="modal"> × </a>
        <legend>
            TURMAS SELECIONADAS
        </legend>
    </div>
    <div class="modal-body">
        <div id="listaTurmasDisponiveis">
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn" id="btn_fechar" data-dismiss="modal" name="btn_fechar" aria-hidden="true">
            Sair
        </button>
    </div>
</script>

<script src="<?php echo $this->baseUrl(); ?>/js/CollectionView.js"></script>
<script src="<?php echo $this->baseUrl(); ?>/js/jquery.jstree.js"></script>
<script src="<?php echo $this->baseUrl(); ?>/js/jquery.maskMoney.js"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/jquery/syntax/!script.js"></script>
<script type="text/javascript"
        src='<?php echo $this->baseUrl(); ?>/js/backbone/models/vw-usuario-perfil-entidade-referencia.js'></script>
<script type="text/javascript" src="<?php echo $this->baseUrl(); ?>/js/spinner/spinner.js"></script>

<script type="text/javascript">
    $('#htmlContent script[type="text/template"]').appendTo($('#templateHolder'));
    <?php echo $this->render("/sala-de-aula/ComponenteSelectMoodle.js"); ?>
    <?php if (!isset($this->professores['type'])): ?>
    Professores = <?php echo json_encode($this->professores); ?>;
    <?php endif; ?>

</script>
<script type="text/javascript" src="<?php echo $this->baseUrl(); ?>/sala-de-aula/js"></script>
