<script type="text/template" id="template-layout-grade-entidade">
    <legend>Grade Horária Entidade</legend>
    <div class="row-fluid" id="regiao-form-grade"></div>
    <div class="row-fluid" id="regiao-grade-data"></div>
</script>

<script type="text/template" id="template-form-grade-entidade">
    <div class="row-fluid">
        <form name="formRelatorio" id="formRelatorio" method="post" action="">
            <fieldset>
                <div class="well well-small">
                    <div class="row-fluid">
                        <div class="span4">
                            <label>
                                Entidade
                                <select title="Entidade" class="span12" id="id_entidade" name="id_entidade">
                                    <option value="">Todas</option>
                                </select>
                            </label>
                        </div>
                        <div class="span6">

                            <label>Período da Grade Horária: </label>

                            <div class="span4">

                                <div class="input-append">
                                    <input type="text" title="Data inicial" placeholder="Data inicial"
                                           data-maximo="dt_fimgradehoraria"
                                           class="span8 maskDate datepicker_range_min"
                                           value="" id="dt_iniciogradehoraria" name="dt_iniciogradehoraria">
                                    <button class="btn js-bt-calendar" data-calendar="dt_iniciogradehoraria"
                                            type="button">
                                        <i class="icon icon-calendar"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="span4">
                                <div class="input-append">
                                    <input type="text" title="Data final" placeholder="Data final"
                                           class="span8 maskDate datepicker_range_max"
                                           data-minimo="dt_iniciogradehoraria"
                                           value="" id="dt_fimgradehoraria"
                                           name="dt_fimgradehoraria">
                                    <button class="btn js-bt-calendar" data-calendar="dt_fimgradehoraria" type="button">
                                        <i class="icon icon-calendar"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="pull-right">
                                <button id="btnPesquisar" type="button" title="Pesquisar" class="btn-custom btn">
                                    <i class="icon-search icon-white"></i> Pesquisar
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
    <div id="container-DataGrid" class="row-fluid">
        <div class="well well-large">
            <div id="template-data-grade"></div>
            <div class="row-fluid">
                <div class="pull-right">
                    <button class="btn-success btn" title="Imprimir" type="button" id="btnImprimir">
                        <i class="icon-print icon-white"></i> Imprimir Selecionados
                    </button>
                </div>
            </div>
        </div>
    </div>
</script>

<script type="text/javascript">
    <?php if (!isset($this->professores['type'])): ?>
    Professores = <?php echo json_encode($this->professores); ?>;
    <?php endif; ?>
</script>
<script type="text/javascript"> $('#htmlContent script[type="text/template"]').appendTo($('#templateHolder'));</script>
<script type="text/javascript" src="/grade-horaria-entidade/js"></script>