<script type="text/javascript"> $('#htmlContent script[type="text/template"]').appendTo($('#templateHolder'));</script>

<script id="layout-template-alunos-recuperar" type="text/template">
    <form class="well" method="post">
        <fieldset>
            <legend>Recuperar Alunos</legend>
        </fieldset>

        <fieldset class="row-fluid">

            <label class="span4">
                Tipo de Serviço:
                <select name="id_tipo_servico" id="id_tipo_servico" class="span12">
                    <option value="">Selecione</option>
                    <option value="todos">Todos</option>
                    <option value="resgate">Resgate</option>
                    <option value="recuperação">Recuperação</option>
                </select>
            </label>

            <label class="span4">
                Área Conhecimento:
                <select name="id_areaconhecimento" id="id_areaconhecimento" class="span12">
                    <option value="">Carregando...</option>
                </select>
            </label>
            <label class="span4">
                Projeto Pedagógico:
                <select name="id_projetopedagogico" id="id_projetopedagogico" class="span12">
                    <option value="">Carregando...</option>
                </select>
            </label>
        </fieldset>
        <fieldset class="row-fluid">
            <label class="span4">
                Disciplina:
                <select name="id_disciplina" id="id_disciplina" class="span12">
                    <option value="">Carregando...</option>
                </select>
            </label>
            <label class="span4 label-inline" for="dt_abertura_min">
                Data de abertura da Turma:
                <div>
                    <input id="dt_inicioturma_min" class="datepicker maskDate" type="text" name="dt_inicioturma_min" placeholder="__/__/____"/>
                    &nbsp; e &nbsp;
                    <input id="dt_inicioturma_max" class="datepicker maskDate" type="text" name="dt_inicioturma_max" placeholder="__/__/____"/>
                </div>
            </label>

            <label class="span4">
                Evolução da Matrícula:
                <select name="id_evolucao" id="id_evolucao" class="span12">
                    <option value="6">Cursando</option>
                    <option value="21">Trancado</option>
                    <option value="40">Bloqueado</option>
                    <option value="6,21,40">Todas</option>
                </select>
            </label>

        </fieldset>

        <fieldset class="row-fluid">
            <label class="span4">
                Nota EAD Até:
                <select name="id_notaead" id="id_notaead" class="span12">
                    <option value="10">10</option>
                    <option value="20" selected>20</option>
                    <option value="30">30</option>
                    <option value="40">40</option>
                </select>
            </label>
        </fieldset>
        <fieldset class="text-right">
            <div class="well well-small" style="background-color: #fff;">
                <label class="total-box" style="display: none; float: left; margin: 4px 0 0;">
                    <b>
                        Total de Registros:
                        <span>0</span>
                    </b>
                </label>
                <label style="display: inline-block; margin: 0;">
                    Registros por Página:
                    <input id="nu_registros" type="number" name="nu_registros" value="50" style="margin: 0; width: 50px;"/>
                </label>
                <button id="btnGerarOcorrencia" class="btn btn-custom" type="button" title="Gerar Ocorrência" disabled>
                    Gerar Ocorrência
                </button>
                <button class="btn btnPrint" type="button" title="Imprimir">
                    <i class="icon icon-print"></i>
                </button>
                <button class="btn btnXls" type="button" title="Gerar arquivo XLS">
                    <i class="icon icon-file"></i>
                </button>
                <button class="btn btn-custom" type="submit" title="Pesquisar">
                    <i class="icon icon-search icon-white"></i>
                    Pesquisar
                </button>
            </div>
        </fieldset>
        <div id="pesquisa-container" class="text-center table-responsive"></div>
        <div id="pesquisa-paginacao" class="text-center table-responsive"></div>
    </form>


<!--    Modal Gerar Ocorrencia-->
    <div class="modal hide fade" id="modalOcorrencia" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span>
                    </button>
                    <h5 class="modal-title" id="myModalLabel">Escolher atendente e serviço para enviar ocorrência</h5>
                </div>
                <div id="container-modal">

                    <br>
                    <div class="center">
                        <select name="tipo_servico_ocorrencia" id="tipo_servico_ocorrencia" class="span4">
                            <option value="">Selecione o Tipo de Serviço</option>
                            <option value="resgate">Resgate</option>
                            <option value="recuperação">Recuperação</option>
                        </select>
                    </div>

                    <br>
                    <div class="center">
                        <select name="atendente_ocorrencia" id="atendente_ocorrencia" class="span4">
                            <option value="">Selecione Atendente</option>
                        </select>
                    </div>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="btnCriarOcorrencia">Criar Ocorrência</button>
                    <button type="button" class="btn btn-default" id="close" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>

</script>
<link rel="stylesheet" type="text/css" href="/css/spinner/spinner.css"/>
<link rel="stylesheet" type="text/css" href="/css/relatorios/relatorio.css"/>
