<script type="text/javascript" src="/js/backbone/views/Util/SelectView.js"></script>
<!--TEMPLATES-->
<script id="global-template" type="text/template">
    <form id="form">
        <div class="well well-large">
            <legend>Regra de Contrato</legend>

            <div class="row-fluid">
                <div class="span8">
                    <label>Título:</label>

                    <div>
                        <input class="span12" type="text" name="st_contratoregra" value="<%= st_contratoregra %>"/>
                    </div>
                </div>
                <div class="span4">
                    <label>Modelo Carteirinha:</label>

                    <div>
                        <select class="span12" name="id_modelocarteirinha">
                            <option value="">Carregando...</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span6">
                    <div class="row-fluid">
                        <div class="span6">
                            <label>Duração do Contrato:</label>

                            <div>
                                <input class="span12" type="number" name="nu_contratoduracao"
                                       value="<%= nu_contratoduracao %>" min="0"/>
                            </div>
                        </div>
                        <div class="span6">
                            <label for="">Tipo de Duração</label>
                            <select class="span12" name="id_projetocontratoduracaotipo">
                                <option value="">Carregando...</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="span2">
                    <label style="position: absolute; margin: 0 0 0 148px;">
                        <input id="actionMensalidades" type="checkbox" name="bl_mesesmensalidade" value="1" <%= bl_mesesmensalidade ? 'checked' : '' %> />
                    </label>
                    <label>
                        <label>Mensalidades Iniciais:</label>

                        <div>
                            <input id="nu_mesesmensalidade" class="span12" type="number" name="nu_mesesmensalidade" value="<%= nu_mesesmensalidade %>" min="0" <%= !bl_mesesmensalidade ? 'disabled' : '' %> />
                        </div>
                    </label>
                </div>
                <div class="span3">
                    <label>Tempo de Extensão:</label>
                    <input class="span6" type="number" name="nu_tempoextensao" value="<%= nu_tempoextensao %>"
                           min="0"/>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span2" id="divTipoRegraContrato">
                    <label>Tipo de Regra de Contrato:</label>
                    <select class="span12" id="id_tiporegracontrato" name="id_tiporegracontrato">
                        <option value="" selected>Carregando...</option>
                    </select>
                </div>
                <div class="span10">
                    <label>&nbsp;</label>
                    <label class="checkbox">
                        <input type="checkbox" name="bl_renovarcontrato" value="1" <%= bl_renovarcontrato ? 'checked' : '' %> />
                        Renovar Automaticamente
                    </label>
                </div>
            </div>

        </div>
        <div class="well well-large">
            <legend>Multa</legend>
            <div class="row-fluid">
                <div class="span12">
                    <div class="span2">
                        <label>Antes de:</label>

                        <div class="input-append">
                            <input class="span8" type="number" name="nu_mesesmulta" value="<%= nu_mesesmulta %>"
                                   min="0"/>
                            <span class="add-on">meses</span>
                        </div>
                    </div>
                    <div class="span2">
                        <label>Valor:</label>

                        <div class="input-prepend">
                            <span class="add-on">R$</span>
                            <input class="span8 mask-money" type="text" name="nu_contratomultavalor"
                                   value="<%= nu_contratomultavalor %>"/>
                        </div>
                    </div>
                    <div class="span2">
                        <label for="">&nbsp;</label>
                        <label class="span12 checkbox">
                            <input type="checkbox" name="bl_proporcaomes" value="1" <%= bl_proporcaomes ? 'checked' : ''
                            %> />
                            Proporcional ao Tempo
                        </label>
                    </div>
                </div>
            </div>
        </div>


        <div class="well well-large">
            <legend>Textos</legend>
            <div class="row-fluid">
                <div class="span12">
                    <div class="span4">
                        <label>Contrato:</label>
                        <select class="span12" name="id_contratomodelo">
                            <option value="">Carregando...</option>
                        </select>
                    </div>
                    <div class="span4">
                        <label>Aditivo de Renovação:</label>
                        <select class="span12" name="id_extensaomodelo">
                            <option value="">Carregando...</option>
                        </select>
                    </div>
                    <div class="span4">
                        <label>Aditivo de Transferência:</label>
                        <select class="span12" name="id_aditivotransferencia">
                            <option value="">Carregando...</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <div class="well">
            <div class="pull-right">
                <button type="submit" class="btn btn-success">
                    <i class="icon icon-ok icon-white"></i>
                    Salvar
                </button>
                <!--<button type="button" class="btn btn-cancel">-->
                <!--<i class="icon icon-remove"></i>-->
                <!--Cancelar-->
                <!--</button>-->
            </div>
        </div>
    </form>

    <div class="clearfix"></div>
    <hr/>

</script>


<script type="text/javascript"> $('#htmlContent script[type="text/template"]').appendTo($('#templateHolder'));</script>
<script type="text/javascript" src="/contrato-regra/js"></script>