<script type="text/template" id="template-layout-grade-tirinhas">
    <legend>Grade Horaria Tirinhas</legend>
    <div class="row-fluid" id="regiao-form-grade"></div>
    <div class="row-fluid" id="regiao-grade-data"></div>
</script>

<script type="text/template" id="template-form-grade-tirinhas">
    <div class="row-fluid">
        <form name="formRelatorio" id="formRelatorio" method="post" action="">
            <fieldset>
                <div class="well well-small">
                    <div class="row-fluid">
                        <div class="span6">
                            <label> Professor: </label>
                            <select id="id_professor" name="id_professor" class="span-12" required="required">
                                <option value="">Todos</option>
                            </select>
                        </div>
                        <div class="span6">
                            <label>Período: </label>

                            <div class="span4">

                                <div class="input-append">
                                    <input type="text" title="Data inicial" placeholder="Data inicial"
                                           data-maximo="dt_termino"
                                           class="span8 maskDate datepicker_range_min"
                                           value="" id="dt_inicial" name="dt_inicial">
                                    <button class="btn js-bt-calendar" data-calendar="dt_inicial" type="button">
                                        <i class="icon icon-calendar"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="span4">
                                <div class="input-append">
                                    <input type="text" title="Data final" placeholder="Data final"
                                           class="span8 maskDate datepicker_range_max"
                                           data-minimo="dt_inicial"
                                           value="" id="dt_termino"
                                           name="dt_termino">
                                    <button class="btn js-bt-calendar" data-calendar="dt_termino" type="button">
                                        <i class="icon icon-calendar"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="pull-right">
                                <button id="btnPesquisar" type="button" title="Pesquisar" class="btn-custom btn">
                                    <i class="icon-search icon-white"></i> Pesquisar
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
    <div id="container-DataGrid" class="row-fluid">
        <div class="well well-large">
            <div id="template-data-grade"></div>
            <div class="row-fluid">
                <div class="pull-right">
                    <button class="btn-success btn" title="Imprimir" type="button" id="btnImprimir">
                        <i class="icon-print icon-white"></i> Imprimir Selecionados
                    </button>
                </div>
            </div>
        </div>
    </div>
</script>

<script type="text/javascript">
    <?php if (!isset($this->professores['type'])): ?>
    Professores = <?php echo json_encode($this->professores); ?>;
    <?php endif; ?>
</script>
<script type="text/javascript"> $('#htmlContent script[type="text/template"]').appendTo($('#templateHolder'));</script>
<script type="text/javascript" src="/grade-horaria-tirinhas/js"></script>
