<?php if (empty($this->promocoes)) { ?>
    <div class="row">
        <div class="col-md-12 col-sm-12" style="text-align: center">
            <h3>Nenhuma promoção ativa foi encontrada.</h3>
        </div>
    </div>
<?php } else { ?>
    <div class="row">
        <div class="col-md-3 col-sm-3" style="border-right: 1px solid #d8d8d8">
            <?php foreach ($this->promocoes as $promocao) { ?>
                <div class="title-block clearfix divider promocoes" style="cursor: pointer;"
                     data-idPromocao="<?= $promocao['id_campanhacomercial'] ?>"
                >
                    <?php if ($promocao['bl_visualizado'] == false) : ?>
                        <i class="icon-envelope badge-<?= $promocao['id_campanhacomercial'] ?>"></i>
                    <?php endif; ?>
                    <h7 class="h5-body-title uny"><?= $promocao['st_campanhacomercial'] ?></h7>
                    <div class="title-seperator"></div>
                </div>
            <?php } ?>
        </div>
        <div class="col-md-9 col-sm-9" id="box-promocao">

        </div>
    </div>
    <script>
        var id_primeiraCampanha = null;
        <?php if (!empty($this->promocoes)) { ?>
        id_primeiraCampanha = <?= $this->promocoes[0]['id_campanhacomercial'] ?>;
        <?php } ?>
    </script>
<?php } ?>