<div class="title-block clearfix divider">
    <h2><?= $this->promocao['st_campanhacomercial']; ?></h2>
</div>
<div class="col-md-12 col-sm-12">
    <img src="<?= Ead1_Ambiente::geral()->get('st_url_gestor2') . '/' . $this->promocao['st_imagem']; ?>"
         alt="<?= $this->promocao['st_campanhacomercial']; ?>" width="100%"
    >
</div>
<div class="col-md-12 col-sm-12">
    <p class="clearfix"></p>
    <p>
        <?= $this->promocao['st_descricao']; ?>
    </p>
    <p>
        <a href="<?= $this->promocao['st_link']; ?>" target="_blank">
            Link da Promoção
        </a>
    </p>
</div>

<script>
    if ($('.badge-promocoes')) {
        $('.badge-promocoes').html('<?= $this->quantidadeNovas; ?>');

        if (<?= $this->quantidadeNovas; ?> == 0
    )
        {
            $('.badge-promocoes').remove();
        }

    }

    if ($(".badge-<?= $this->promocao['id_campanhacomercial'] ?>")) {
        $(".badge-<?= $this->promocao['id_campanhacomercial'] ?>").remove();
    }

</script>