<script type="text/template" id="template-componente">
    <fieldset>
        <div id="container-componente" class="row-fluid well well-small span12">
            <div class="span12">
                <legend class="span12" style="min-height: 42px;">
                    <div class="pull-left">
                        <h5>Pesquisar Pessoa</h5>
                    </div>
                    <div class="pull-right btn-group">
                        <button id="btnFixAutocomplete" class="btn" type="button" title="Selecionar">
                            Fixar
                            <i class="icon-check"></i>
                        </button>
                        <button id="btnClearAutocomplete" class="btn" type="button" title="Limpar">
                            Limpar
                            <i class="icon-refresh"></i>
                        </button>
                    </div>
                </legend>
            </div>
            <div id="container-autocomplete" class="span12">
                <div id="search-wrapper" class="row-fluid">
                    <input id="search-backbone" type="text" class="span12 input" name="search-backbone" placeholder="Digite o nome, e-mail ou CPF" autocomplete="off"/>
                    <div id="autocomplete-results" class="span12">
                        <ul></ul>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
</script>
<script type="text/template" id="template-componente-list-autocomplete">
    <a class="link-alter-template">
        <b>Nome:</b> <%=st_nomecompleto%><br/>
        <b>CPF:</b> <%=st_cpf%> <b>E-mail:</b> <%=st_email%><br/>
        <b>ID:</b> <%=id%><br>
        <b>Entidade com matr&iacute;cula:</b> <%=entidades_matriculadas%>
    </a>
</script>