<table class='backgrid backgrid-selectall table table-striped table-bordered table-hover'>
    <thead>
        <tr>
            <th><input type="checkbox" name="marcaTodosPP" id="marcaTodosPP" value="todos"/></th>
            <th>Projetos</th>
            <th>Coordenador</th>
        </tr>
    </thead>
    <tbody id="tabela-projetos-pedagogicos">
        <?php foreach ($this->projetos as $projeto):
            ?>
            <tr>
                <td>
                    <input type="checkbox" value="<?=$projeto->getId_projetopedagogico();?>"
                           class="checkall"
                           id="<?=$projeto->getId_projetopedagogico();?>"
                            data-coordenador="<?=$projeto->getSt_projetopedagogico();?>   <b>Coordenador Titular: </b> <?= $projeto->getSt_coordenadortitular();?>">
                </td>
                <td>
                    <label> <?=$projeto->getSt_projetopedagogico();?></label>
                    <input class="st_coordenador" type="hidden" value="<?=$projeto->getSt_coordenadortitular()  ?>">
                </td>
                <td>
                    <label><?=$projeto->getSt_coordenadortitular()  ?></label>
                </td>
            </tr>
        
        <?php endforeach; ?>


    </tbody>
</table>