<div id="forModalPesquisa">
    <form method="post" action="return false;" class="form-inline" name="formPesquisaDisciplina" id="formPesquisaDisciplina">
        <div class="group-control">
            <div class="row-fluid">
                <label class="span11">
                    <?php echo $this->form2->st_disciplina; ?>
                </label>
                <label class="span1">
                    <button type="submit" id="btnPesq" name="btnPesq" class="btn btn-info marginT20">
                        <i class="icon-search icon-white"></i>
                    </button>
                </label>
            </div>
        </div>
        <div class="group-control">
            <div class="row-fluid">
                <label class="span6">
                    <?php echo $this->form2->id_entidade; ?>
                </label>
                <!--<label class="span4">
                <?php // echo $this->form2->id_areaconhecimento; ?>
            </label>-->
                <label class="span6">
                    <?php echo $this->form2->id_serie; ?>
                </label>
            </div>
        </div>
    </form>

    <table class='backgrid backgrid-selectall table table-striped table-bordered table-hover'>
        <thead>
        <tr>
            <th>#</th>
            <th>Disciplinas</th>
            <th>Área</th>
            <th>Nível de Ensino</th>
            <th>Ano</th>
        </tr>
        </thead>
        <tbody id="tabela-retorno-pesquisa-disciplina"></tbody>
    </table>
</div>