<script type="text/javascript" src="/js/auto-complete-componente.js"></script>
<script type="text/javascript" src="/js/backbone/views/SelectView.js"></script>

<?php echo $this->render('/util/auto-complete-pessoa.phtml'); ?>

<script type="text/template" id="entrega-de-material-presencial-layout">
    <div class="row-fluid">
        <ul class="nav nav-tabs" id="tabDadosEntrega">
            <li class="active">
                <a href="#geral" data-toggle="tab">Geral</a>
            </li>
            <li class="">
                <a href="#tramite" data-toggle="tab">Trâmite</a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="geral">
                <fieldset>
                    <legend>Entrega de Material</legend>
                    <div id="autoComplete" class="row-fluid"></div>
                    <div id="content-dados">
                        <div class="well well-large">
                            <div class="row-fluid">
                                <div class="span12">
                                    <div class="span4">
                                        <label>Item</label>
                                        <input type="text" id="st_item"/>
                                    </div>
                                    <div class="span4">
                                        <label>Matrícula</label>
                                        <select class="span12" id="id_matricula" name="id_matricula">
                                            <option value="" selected>Selecione</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="well well-large">
                            <div class="row-fluid">
                                <div class="span12" id="tabela-materiais-wrapper"></div>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <div id="modal-itens-wrapper" class="modal hide fade"></div>
            </div>
            <div class="tab-pane"  id="tramite">
                <div class="row-fluid">
                    <legend>Trâmites de Entrega de Material Presencial</legend>
                    <div id="content-tramite">
                        <div class="well well-large">
                            <div id="tramite-wrapper"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>

<script type="text/template" id="template-itens-modal">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
        <h5 class="modal-title" id="myModalLabel">Selecione o material a ser entregue!</h5>
    </div>
    <div class="modal-body">
        <div class="row-fluid">
            <div class="well well-large">
                <div style="height:300px; ; overflow-y:auto;">
                    <table class="table table-striped table-bordered table-hover backgrid backgrid-selectall">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Item</th>
                            <th>Disciplina</th>
                            <th>Turma</th>
                            <th>Encontro</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Fechar</button>
    </div>
</script>

<script type="text/template" id="template-item">
    <td><%= id_itemdematerial %></td>
    <td><%= st_itemdematerial %></td>
    <td><%= st_disciplina %></td>
    <td><%= st_turma %></td>
    <td><%= nu_encontro%></td>
    <td class="acao-modal ">
        <% if (st_situacao == 'Entregue'){%>
        <button id="entregar-modal" title="Entregar Item" class="btn btn-info btn-small " disabled
                data-toggle="tooltip">
            <i class="icon-arrow-right icon-white"></i>
        </button>
        <% }else{%>
        <button id="entregar-modal" title="Entregar Item" class="btn btn-success btn-small " data-toggle="tooltip">
            <i class="icon-ok icon-white"></i>
        </button>
        <%}%>
    </td>
</script>


<script type="text/javascript">
    $('#templateHolder').empty().html($('#htmlContent script[type="text/template"]'));
</script>