<script type="text/javascript" src="/js/backbone/backbone-model-file-upload.js"></script>
<script type="text/javascript" src="/js/backbone/views/Util/SelectView.js"></script>


<script type="text/template" id="item-de-material-presencial-layout">

    <div class="well well-large">
        <div class="row-fluid">
            <div class="span12">
                <div class="span3" id="unidade-wrapper">
                    <div class="span12" id="divUnidade">
                        <label>Unidade:</label>
                        <select class="span12" id="id_unidade" name="id_unidade">
                            <option value="" selected>Selecione</option>
                        </select>
                    </div>
                </div>
                <div class="span3" id="turma-wrapper">
                    <div class="span12" id="divTurma"">
                        <label>Turma:</label>
                        <div style="max-height: 75px; overflow: auto;">
                            <select class="span12" disabled id="id_turma" name="id_turma">
                                <option value="" selected>Selecione</option>
                            </select>
                        </div>

                    </div>
                </div>
                <div class="span2" id="disciplina-wrapper">
                    <div class="span12" id="divDisciplina">
                        <label>Disciplina:</label>
                        <select class="span12" disabled id="id_disciplina" name="id_disciplina">
                            <option value="" selected>Selecione</option>
                        </select>
                    </div>
                </div>
                <div class="span2" id="professor-wrapper">
                    <div class="span12" id="divProfessor">
                        <label>Professor:</label>
                        <select class="span12" disabled id="id_professor" name="id_professor">
                            <option value="" selected>Selecione</option>
                        </select>
                    </div>
                </div>
                <div class="span2" id="encontro-wrapper">
                    <div class="span12" id="divEncontro">
                        <label>Encontro:</label>
                        <input type="number" id="id_encontro" min="1" max="25" class="span12"/>
<!--                        <select class="span12" disabled id="id_encontro" name="id_encontro">-->
<!--                            <option value="" selected>Selecione</option>-->
<!--                        </select>-->
                    </div>
                </div>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span12">
                <div class="span6" id="titulo-wrapper">
                    <div class="span12" id="divTitulo">
                        <label>Título:</label>
                        <input type="text" class="span12" id="st_titulo" value="">
                    </div>
                </div>
                <div class="span3" id="tipo-wrapper">
                    <div class="span12" id="divTipo">
                        <label>Tipo:</label>
                        <select class="span12" disabled id="id_tipo" name="id_tipo">
                            <option value="" selected>Selecione</option>
                        </select>
                    </div>
                </div>
                <div class="span3" id="situacao-wrapper">
                    <div class="span12" id="divSituacao">
                        <label>Situação:</label>
                        <select class="span12" id="id_situacao" name="id_situacao">
                            <option value="" selected>Selecione</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span12">
                <div class="span2" id="valor-wrapper">
                    <div class="span10" id="divValor">
                        <label for="">Valor:</label>
                        <label class="input-prepend">
                            <span class="add-on">R$</span>
                            <input id="nu_valor" type="text" class="span12" placeholder="0,00" value=""/>
                        </label>
                    </div>
                </div>
                <div class="span2" id="paginas-wrapper">
                    <div class="span12" id="divPaginas">
                        <label for="">Páginas:</label>
                        <input type="number" id="nu_paginas" min="0" class="span12"/>
                    </div>
                </div>
                <div class="span2" id="portal-wrapper">
                    <div class="span12" id="divPortal">
                        <label for=""> &nbsp</label>
                        <label class="checkbox"><input type="checkbox"  id="bl_portal" name="bl_portal"/> Disponibilizar no portal</label>
                    </div>
                </div>
                <div class="span3" id="arquivo-wrapper">
                    <form action="#" id="form-arquivo" name="form-arquivo" method="post" enctype="multipart/form-data">
                        <div class="span12">
                            <label>Arquivo:</label>
                            <input type="file" id="arquivo-item-material" name="arquivo-item-material"
                                   class="span12"/>
                        </div>
                        <div class="span12" id="divUpload" style="display: none;">
                            <i class="icon-eye-open"></i>
                            <a target="_blank"
                               id="st_upload"> Link Material
                            </a>
                        </div>
                    </form>
                </div>
                <div class="span3">
                    <label for="nu_qtdestoque">Quantidade de material:</label>
                    <input type="number" id="nu_qtdestoque"/>
                </div>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span12 marginT20">
                <button class="btn btn-success" id="btn_pesquisar" name="Pesquisar"><i
                        class="icon icon-search icon-white"></i> Pesquisar
                </button>
                <button class="btn" id="btn_limpar" name="Limpar"><i class="icon icon-remove"></i> Limpar</button>
                <button class="btn" id="btn_adicionar" name="Adicionar"><i class="icon icon-plus"></i> Adicionar</button>
                <button class="btn btn-danger "  style="display: none;" id="btn_cancelar" name="Cancelar"><i class="icon icon-remove icon-white"></i> Cancelar</button>
                <button class="btn btn-success"  style="display: none;" id="btn_salvar" name="Salvar"><i class="icon icon-ok icon-white"></i> Salvar</button>


            </div>
        </div>
    </div>
    <div id="itens-wrapper"></div>
</script>


<script type="text/template" id="itens-item-material-template">
    <fieldset>
        <legend>Resultado da Pesquisa</legend>
        <div id="content-itens">
            <div class="well well-large">
                <div class="row-fluid">
                    <div id="tabela-itens-wrapper"></div>
                </div>
            </div>
        </div>
    </fieldset>
</script>


<script type="text/javascript" src="/library/js/jquery/jquery.form.js"></script>
<script type="text/javascript">
    perfilProfessor = '<?php echo $this->idPerfilProfessor; ?>';
    $('#templateHolder').empty().html($('#htmlContent script[type="text/template"]'));
</script>
<script type="text/javascript" src="/item-de-material-presencial/js"></script>
