<script type="text/javascript" src="/js/utils/functions.js?_=<?php uniqid() ?>"></script>
<script type="text/template" id="template-dados-filiada">
    <div id="container-DataGrid" class="row-fluid">
        <div class="well well-large">
            <legend>Holdings Filiadas</legend>
            <div id="template-data-grade"></div>
            <div class="row-fluid">
            </div>
        </div>
    </div>
</script>
<script type="text/javascript"> $('#htmlContent script[type="text/template"]').appendTo($('#templateHolder'));</script>
<script type="text/javascript" src="/holding-filiada/js"></script>
