<script id="produto-template" type="text/template">
    <style>
        @media (min-width: 900px) {
            .modal-large {
                margin-left: -430px;
                width: 860px;
            }
        }
    </style>
    <form class="row-fluid" enctype="multipart/form-data">
        <div class="tabbable">
            <ul class="nav nav-tabs">
                <li class="active">
                    <a href="#tab-basico" data-toggle="tab">Básico</a>
                </li>
            </ul>
        </div>
        <div class="tab-content">
            <div class="tab-pane active" id="tab-basico">
                <fieldset>
                    <div class="well">
                        <legend>Básico</legend>
                        <div class="row-fluid">
                            <label class="span4">
                                Título
                                <input class="span12" type="text" name="st_produto" value="<%= st_produto %>"
                                       required="required"/>
                            </label>
                            <label class="span4">
                                Subtítulo
                                <input class="span12" type="text" name="st_subtitulo" value="<%= st_subtitulo %>"/>
                            </label>
                            <label class="span2">
                                Situação
                                <select id="id_situacao" class="span12" name="id_situacao" required="required">
                                    <option value="">Carregando...</option>
                                </select>
                            </label>
                            <label class="span2">
                                Tipo de Produto
                                <select id="id_tipoproduto" class="span12" name="id_tipoproduto" required="required">
                                    <option value="">Carregando...</option>
                                </select>
                            </label>
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <div class="well">
                        <legend>Venda</legend>
                        <div class="row-fluid">
                            <label class="span2">
                                Modelo de Venda
                                <select id="id_modelovenda" class="span12" name="id_modelovenda" required="required">
                                    <option value="">Carregando...</option>
                                </select>
                            </label>
                            <label class="span1">
                                Gratuitos
                                <input class="span12 numeric" type="number" name="nu_gratuito"
                                       value="<%= nu_gratuito %>" min="0" required="required"/>
                            </label>
                            <label class="span1">
                                Estoque
                                <input class="span12 numeric" type="number" min="0" name="nu_estoque"
                                       value="<%= nu_estoque %>"/>
                            </label>
                            <label class="span2">
                                Código Avaliação
                                <i class="icon-info-sign tooltipClass" title="Id informado no sistema da maximize."></i>
                                <input id="st_codigoavaliacao" class="span6" type="text" name="st_codigoavaliacao"
                                       value=""/>
                            </label>

                            <div class="span2 text-center">
                                <label>Destacar?</label>

                                <div class="form-inline">
                                    <label class="radio">
                                        <input type="radio" name="bl_destaque" value="1" required="required" <%=
                                        bl_destaque ? 'checked' : '' %> />
                                        Sim
                                    </label>
                                    &nbsp;&nbsp;&nbsp;
                                    <label class="radio">
                                        <input type="radio" name="bl_destaque" value="0" required="required" <%=
                                        bl_destaque ? '' : 'checked' %> />
                                        Não
                                    </label>
                                </div>
                            </div>
                            <div class="span2 text-center">
                                <label>Mostrar Preço?</label>

                                <div class="form-inline">
                                    <label class="radio">
                                        <input type="radio" name="bl_mostrarpreco" value="1" required="required" <%=
                                        bl_mostrarpreco ? 'checked' : '' %> />
                                        Sim
                                    </label>
                                    &nbsp;&nbsp;&nbsp;
                                    <label class="radio">
                                        <input type="radio" name="bl_mostrarpreco" value="0" required="required" <%=
                                        bl_mostrarpreco ? '' : 'checked' %> />
                                        Não
                                    </label>
                                </div>
                            </div>
                            <div class="span2 text-center">
                                <label>Vários por e-mail?</label>

                                <div class="form-inline">
                                    <label class="radio">
                                        <input type="radio" name="bl_unico" value="0" <%= bl_unico ? '' : 'checked' %>/>
                                        Sim
                                    </label>
                                    &nbsp;&nbsp;&nbsp;
                                    <label class="radio">
                                        <input type="radio" name="bl_unico" value="1" <%= bl_unico ? 'checked' : '' %>/>
                                        Não
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>

                <fieldset>
                    <div class="well">
                        <legend>Descrição</legend>
                        <label class="row-fluid">
                            <textarea id="st_descricao" class="span12"
                                      name="st_descricao"><%= st_descricao %></textarea>
                        </label>
                    </div>
                </fieldset>

                <fieldset>
                    <div class="well">
                        <legend>Observações</legend>
                        <label class="row-fluid">
                            <textarea id="st_observacoes" class="span12"
                                      name="st_observacoes"><%= st_observacoes %></textarea>
                        </label>
                    </div>
                </fieldset>

                <fieldset id="form_tipoproduto">
                </fieldset>

                <fieldset id="produto-valor-container">
                </fieldset>

                <div class="row-fluid">
                    <fieldset class="span4">
                        <div class="well">
                            <legend>Categoria</legend>
                            <div id="id_categoria"></div>
                        </div>
                    </fieldset>
                    <fieldset class="span4">
                        <div class="well">
                            <legend>Áreas de Conhecimento</legend>
                            <div id="id_areaconhecimento"></div>
                        </div>
                    </fieldset>
                    <fieldset id="id_entidade" class="span4">
                    </fieldset>
                </div>
                <fieldset>
                    <div class="well text-right">
                        <button class="btn btn-success" id="salvarbasico" type="submit">
                            <i class="icon-white icon-ok"></i>
                            Salvar
                        </button>
                        <button class="btn actionBack" type="button">
                            <i class="icon icon-remove"></i>
                            Cancelar
                        </button>
                    </div>
                </fieldset>

            </div>
            <div class="tab-pane" id="tab-promocional">

                <fieldset>
                    <div class="well">
                        <legend>Valor Promocional</legend>
                        <div id="id_produtovalor_promocional">
                            Carregando...
                        </div>
                    </div>
                </fieldset>

                <fieldset>
                    <div class="well">
                        <legend>Pontos</legend>
                        <div class="row-fluid">
                            <label class="span2">
                                Número de Pontos
                                <input class="span12 numeric" type="number" name="nu_pontos" value="<%= nu_pontos %>"/>
                            </label>
                            <label class="span2 offset1">
                                N.º de Pontos Promocionais
                                <input class="span12 numeric" type="number" name="nu_pontospromocional"
                                       value="<%= nu_pontospromocional %>"/>
                            </label>
                            <label class="span2 offset1">
                                Data de Início
                                <input class="span12 maskDate datepicker" type="text" name="dt_iniciopontosprom"
                                       value="<%= dt_iniciopontosprom %>" placeholder="__/__/____"/>
                            </label>
                            <label class="span2 offset1">
                                Data de Término
                                <input class="span12 maskDate datepicker" type="text" name="dt_fimpontosprom"
                                       value="<%= dt_fimpontosprom %>" placeholder="__/__/____"/>
                            </label>
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <div class="well text-right">
                        <button class="btn btn-success" id="valorpromocional" type="submit">
                            <i class="icon-white icon-ok"></i>
                            Salvar
                        </button>
                        <button class="btn actionBack" type="button">
                            <i class="icon icon-remove"></i>
                            Cancelar
                        </button>
                    </div>
                </fieldset>
            </div>
        </div>
        <!--<div class="well text-right">
            <button class="btn btn-success" type="submit">
                <i class="icon-white icon-ok"></i>
                Salvar
            </button>
            <button class="btn actionBack" type="button">
                <i class="icon icon-remove"></i>
                Cancelar
            </button>
        </div>-->
    </form>
    <hr/>
</script>

<script id="produto-valor-composite" type="text/template">
    <div class="well">
        <div>
            <button class="btn btn-success btn-small pull-right actionAdd" type="button" title="Adicionar Valor">
                <span class="icon icon-white icon-plus"></span>
            </button>
            <legend>Valor</legend>
        </div>
        <div id="id_produtovalor"></div>
    </div>
</script>

<script id="produto-valor-view" type="text/template">
    <hr/>
    <div class="row-fluid">
        <label class="span2">
            Valor
            <div class="input-prepend span12">
                <div class="add-on">R$</div>
                <input class="span12 maskMoney" type="text" name="nu_valor" value="<%= nu_valor %>"/>
            </div>
        </label>
        <label class="span2 offset1">
            <span>Valor Mensal</span>
            <div class="input-prepend span12">
                <div class="add-on">R$</div>
                <input class="span12 maskMoney" type="text" name="nu_valormensal" value="<%= nu_valormensal %>"/>
            </div>
        </label>
        <label class="span2 offset1">
            Data de Início
            <input class="span12 maskDate" type="text" name="dt_inicio" value="<%= dt_inicio %>"
                   placeholder="__/__/____"/>
        </label>
        <label class="span2 offset1">
            Data de Término
            <input class="span12 maskDate" type="text" name="dt_termino" value="<%= dt_termino %>" disabled
                   placeholder="__/__/____"/>
        </label>
        <div class="span1 text-right marginT20">
            <button class="btn btn-custom btn-small btnEdit hide" type="button" title="Editar Valor">
                <span class="icon icon-white icon-pencil"></span>
            </button>
            <button class="btn btn-default btn-small btnRemove hide" type="button" title="Remover Valor">
                <span class="icon icon-trash"></span>
            </button>
        </div>
    </div>
</script>


<!--TEMPLATES TIPO DE PRODUTO = PROJETO PEDAGOGICO-->
<script id="produto-projeto-view" type="text/template">
    <div class="well">
        <legend>Pesquisar Projeto Pedagógico</legend>
        <div class="row-fluid">
            <label class="span4">
                Título
                <input class="span12" type="text" name="st_projetopedagogico"/>
            </label>
            <label class="span4">
                Área
                <select class="span12" name="id_areaconhecimento">
                    <option value="">Carregando...</option>
                </select>
            </label>
            <label class="span3">
                Nivel
                <select class="span12" name="id_nivelensino">
                    <option value="">Carregando...</option>
                </select>
            </label>

            <div class="span1">
                <button class="btn btn-block marginT20 actionSearchProjeto" type="button">
                    <i class="icon-search"></i>
                </button>
            </div>
        </div>
        <div id="search-tipo-produto"></div>
    </div>
</script>

<script id="search-projeto-template" type="text/template">
    <div class="table-responsive">
        <div class="text-right">
            <button class="btn btn-small actionCloseSearch" type="button">
                <i class="icon-remove"></i>
                Fechar Busca
            </button>
        </div>
        <table class="table table-bordered table-striped backgrid table-hover marginT20">
            <thead>
            <tr>
                <th>Título</th>
                <th>Nível</th>
                <th>Situação</th>
                <th>Selecionar</th>
            </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</script>

<script id="search-projeto-view" type="text/template">
    <td><%= st_projetopedagogico %></td>
    <td><%= st_nivelensino %></td>
    <td><%= st_situacao %></td>
    <td>
        <button class="btn btn-small actionSelectProjeto" type="button">
            <i class="icon-plus"></i>
        </button>
    </td>
</script>

<script id="produto-projeto-edit" type="text/template">
    <div class="well">
        <legend>Projeto Pedagógico</legend>
        <div class="row-fluid">
            <div class="span12 form-inline pull-right">
                <button class="pull-right btn btn-default tooltipClass actionRemoveProjeto"
                        id="actionRemoveProjeto"
                        title="Excluir projeto pedagogico selecionado."
                        type="button">
                    <i class="icon-trash"></i>
                    Excluir Projeto
                </button>
            </div>
            <hr>
            <label class="span4">
                Título<br/>
                <b class="st_projetopedagogico"><%= st_projetopedagogico %></b>
            </label>
            <label class="span2">
                Carga Horária
                <input class="span12 numeric" type="number" name="nu_cargahoraria" value="<%= nu_cargahoraria %>"
                       min="0" required="required"/>
            </label>

            <div class="span2 form-inline">
                <label class="span12">
                    Tempo de Acesso
                    <input class="span12 numeric" type="number" name="nu_tempoacesso" value="<%= nu_tempoacesso %>"
                           min="0" required="required" <%= bl_indeterminado ? 'disabled' : '' %>/>
                </label>
                <label class="checkbox">
                    <input type="checkbox" name="bl_indeterminado" value="1" <%= bl_indeterminado ? 'checked' : '' %> />
                    Indeterminado
                </label>
            </div>
            <label class="span3">
                Turma
                <select class="span12" name="id_turma">
                    <option value="">Carregando...</option>
                </select>
            </label>
        </div>
        <div class="row-fluid">
            <div class="span4">
                <label for="">Regra de Contrato</label>
                <select name="" id="id_regracontratoprojeto" class="span12">
                    <option value="">Selecione</option>
                </select>
            </div>
        </div>
        <hr/>
        <label class="row-fluid">
            Disciplinas
            <textarea id="st_disciplina" class="span12" name="st_disciplina"><%= st_disciplina %></textarea>
        </label>
    </div>
</script>
<!--FIM TEMPLATES TIPO DE PRODUTO = PROJETO PEDAGOGICO-->


<!--TEMPLATES TIPO DE PRODUTO = LIVRO-->
<script id="produto-livro-edit" type="text/template">
    <div class="well">
        <legend>Livro</legend>
        <div class="row-fluid">
            <label class="span10">
                Título<br/>
                <b class="st_livro"><%= st_livro %></b>
            </label>
            <label class="span2">
                <button class="btn btn-small btn-block actionChangeLivro marginT20" type="button"
                <%= id_produto ? 'disabled' : '' %> >
                <i class="icon-arrow-left"></i>
                Alterar Livro
                </button>
            </label>
        </div>
    </div>
</script>
<script id="produto-livro-view" type="text/template">
    <div class="well">
        <legend>Pesquisar Livro</legend>
        <div class="row-fluid">
            <label class="span4">
                Título
                <input class="span12" type="text" name="st_livro"/>
            </label>
            <label class="span4">
                Formato
                <select class="span12" name="id_tipolivro">
                    <option value="">Carregando...</option>
                </select>
            </label>
            <label class="span3">
                Coleção
                <select class="span12" name="id_livrocolecao">
                    <option value="">Carregando...</option>
                </select>
            </label>

            <div class="span1">
                <button class="btn btn-block marginT20 actionSearchLivro" type="button">
                    <i class="icon-search"></i>
                </button>
            </div>
        </div>
        <div id="search-tipo-produto"></div>
    </div>
</script>
<!--BUSCA-->
<script id="search-livro-template" type="text/template">
    <div class="table-responsive">
        <div class="text-right">
            <button class="btn btn-small actionCloseSearch" type="button">
                <i class="icon-remove"></i>
                Fechar Busca
            </button>
        </div>
        <table class="table table-bordered table-striped backgrid table-hover marginT20">
            <thead>
            <tr>
                <th>Título</th>
                <th>Formato</th>
                <th>Coleção</th>
                <th>Selecionar</th>
            </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</script>
<script id="search-livro-view" type="text/template">
    <td><%= st_livro %></td>
    <td><%= st_tipolivro %></td>
    <td><%= st_livrocolecao %></td>
    <td>
        <button class="btn btn-small actionSelectLivro" type="button">
            <i class="icon-plus"></i>
        </button>
    </td>
</script>
<!--FIM TEMPLATES TIPO DE PRODUTO = LIVRO-->


<!--TEMPLATES TIPO DE PRODUTO = Declarcao -->
<script id="produto-declaracao-view" type="text/template">
    <form id="produtDeclaracao">
        <div class="well">
            <legend>Pesquisar Declaração</legend>
            <div class="row-fluid">
                <div class="span4">
                    <label>Texto da Declaração </label>
                    <select class="span12" name="id_textosistema"></select>
                </div>
                <div class="span4">
                    <label>Forma de Disponibilização</label>
                    <select class="span12" name="id_formadisponibilizacao"></select>
                </div>
                <div class="span3">
                    <label>Arquivo de Exemplo</label>
                    <input type="file" accept=".doc,.docx,.pdf" id="arquivo-exemplo" name="arquivo-exemplo"/>
                </div>
            </div>
        </div>
    </form>
</script>
<script id="produto-declaracao-edit" type="text/template">
    <form id="produtDeclaracao">
        <div class="well">
            <legend>Pesquisar Declaração</legend>
            <div class="row-fluid">
                <label class="span4">
                    Texto da Declaração
                    <select class="span12" name="id_textosistema">
                    </select>
                </label>
                <label class="span3">
                    Forma de Disponibilização
                    <select class="span12" name="id_formadisponibilizacao">
                    </select>
                </label>
                <label class="span3">
                    Arquivo de Exemplo
                    <input type="file" accept=".doc,.docx,.pdf" id="arquivo-exemplo" name="arquivo-exemplo"/>
                    <% if(st_upload){%>
                    <a href="/upload/produtodeclaracao/<%= st_upload %>" download>Download arquivo de exemplo</a>
                    <%}%>
                </label>

            </div>
        </div>
    </form>
</script>
<!--FIM TEMPLATES TIPO DE PRODUTO = Declarcao -->

<!--TEMPLATES TIPO DE PRODUTO = COMBO-->
<script id="combo-template" type="text/template">
    <div class="well">
        <legend>Produtos no Combo</legend>
        <button class="btn btn-small actionOpenModalCombo" type="button">
            <i class="icon-plus"></i>
            Adicionar Produtos ao Combo
        </button>
        <table class="table table-bordered table-striped backgrid table-hover marginT20">
            <thead>
            <tr>
                <th>Produto</th>
                <th>Tipo</th>
                <th>Valor</th>
                <th>Desconto</th>
                <th>Valor Final</th>
                <th>Remover</th>
            </tr>
            </thead>
            <tbody class="produto-combo-list"></tbody>
        </table>
        <div id="modal-combo" class="modal modal-large fade hide">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4>Pesquisar Produto</h4>
            </div>
            <div class="modal-body">
                <div class="row-fluid">
                    <div class="span6">
                        Produto
                        <input class="span12" type="text" name="search_st_produto"/>
                    </div>
                    <div class="span4">
                        Tipo de Produto
                        <select class="span12" name="search_id_tipoproduto">
                            <option value="">Carregando...</option>
                        </select>
                    </div>
                    <div class="span2">
                        <button class="btn btn-block marginT20 actionSearchProduto" type="button">
                            <i class="icon-search"></i>
                        </button>
                    </div>
                </div>
                <div class="table-responsive marginT20 produto-search-list">
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn" type="button" data-dismiss="modal">
                    <i class="icon-remove"></i>
                    Fechar
                </button>
            </div>
        </div>
    </div>
</script>
<script id="combo-view" type="text/template">
    <td><%= st_produto %></td>
    <td><%= st_tipoproduto %></td>
    <td><%= nu_valor %></td>
    <td>
        <label class="input-append">
            <input class="input-small maskMoney" type="text" name="nu_descontoporcentagem"
                   value="<%= nu_descontoporcentagem %>"/>
            <span class="add-on">%</span>
        </label>
    </td>
    <td class="nu_valorfinal">
    </td>
    <td>
        <button class="btn btn-small actionRemoveComboProduto" type="button" title="REmover">
            <i class="icon-trash"></i>
        </button>
    </td>
</script>
<!--MODAL BUSCA ITEM VIEW-->
<script id="search-produto-template" type="text/template">
    <table class="table table-bordered table-striped backgrid table-hover marginT20">
        <thead>
        <tr>
            <th>Produto</th>
            <th>Tipo</th>
            <th>Valor</th>
            <th>Adicionar</th>
        </tr>
        </thead>
        <tbody class="produto-search-list"></tbody>
    </table>
</script>
<script id="search-produto-view" type="text/template">
    <td><%= st_produto %></td>
    <td><%= st_tipoproduto %></td>
    <td><%= nu_valor %></td>>
    <td>
        <button class="btn btn-small actionAddComboProduto" type="button" title="remover">
            <i class="icon-plus"></i>
        </button>
    </td>
</script>
<!--FIM TEMPLATES TIPO DE PRODUTO = COMBO-->


<script id="produto-organizacao-template" type="text/template">
    <div class="well">
        <legend>Organizações</legend>
        <label class="checkbox">
            <input type="checkbox" name="bl_todasentidades" value="1"/>
            Todas as Entidades
        </label>

        <div id="organizacao-content"></div>
    </div>
</script>

<script type="text/javascript" src="/js/jquery.form.js"></script>
<script type="text/javascript"> $('#htmlContent script[type="text/template"]').appendTo($('#templateHolder'));</script>
<script type="text/javascript"><?php echo $this->render('/produto/index.js') ?></script>
