<!DOCTYPE html>
<html>
<head>
    <title>Portal do Aluno</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link type="text/css" href="/js/jquery/jquery-ui-1.8.17.custom.css" rel="stylesheet" />
    <link type="text/css" href="/js/jquery/jquery-ui-1.8.17.custom.css" rel="stylesheet" />
    <script type="text/javascript" src="/js/jquery/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="/js/jquery/jquery-ui-1.8.17.custom.min.js"></script>

    <script src="/js/jquery/jquery.form.js" type="text/javascript"></script>
    <script src="/js/jquery/jquery.numeric.pack.js" type="text/javascript"></script>
    <script src="/js/jquery/jqueryvalidate/jquery.validate.js" type="text/javascript"></script>
    <script src="/js/jquery/jqueryvalidate/additional-methods.js" type="text/javascript"></script>
    <script src="/js/jquery/jqueryvalidate/localization/messages_ptbr.js" type="text/javascript"></script>
    <script src="/js/jquery/jquery.selectboxes.js" type="text/javascript"></script>

    <script type="text/javascript" src="/js/classes/mensageiro.js"></script>
    <script type="text/javascript" src="/js/funcoes/funcoes.js"></script>

    </head>
<body>

</body>
</html>
