<script type="text/javascript" src="/js/backbone/views/Util/SelectView.js"></script>
<script type="text/javascript" src="/js/auto-complete-componente.js"></script>

<!-- HTML -->
<?php echo $this->render('/util/auto-complete-pessoa.phtml'); ?>

<script type="text/template" id="template-dados-atendente">
    <div class="row-fluid">
        <div id="autoComplete"></div>
        <div id="wrapper-dados"></div>
    </div>
</script>

<script type="text/template" id="template-dados">
    <div class="well well-large">
        <div class="row-fluid">
            <fieldset>
                <legend>Situação</legend>
                <div class="row-fluid">
                    <div class="span4">
                        <label>
                            <select class="span12" name="id_situacao" id="id_situacao">
                                <option value="">[Selecione]</option>
                            </select>
                        </label>
                    </div>
                </div>
            </fieldset>
            <legend>Núcleos</legend>
            <div class="span6" id="divEntidade">
                <div id="entidades"></div>
            </div>
        </div>
    </div>
    <div class="well well-large">
        <div class="row-fluid">
            <div class="span6 pull-right">
                <input type="hidden" class="id_nucleofuncionariotm" name="id_nucleofuncionariotm" value="">
                <button class="btn btn-success pull-right" type="button" id="btn-salvar">Salvar</button>
            </div>
        </div>
    </div>
</script>
<?php //Zend_Debug::dump($this->dados ? 'teste' : 'vazio');exit; ?>
<script type="text/javascript">
    <?php if($this->dados): ?>
    G2S.editModel = <?php echo json_encode($this->dados);  ?>;
    <?php else: ?>
    G2S.editModel = null;
    <?php endif; ?>

</script>
<script type="text/javascript"> $('#htmlContent script[type="text/template"]').appendTo($('#templateHolder'));</script>
<script type="text/javascript" src="/atendente/js"></script>
