<script type="text/template" id="templateMensagem">
    <div class="row-fluid">
        <div id="menuMensagem" class="span3">
            <div class="well well-small">
                <ul class="nav nav-list mensagem-link">
                    <li>
                        <a href="#" data-tipo="0" data-importante="0">
                            <i class="icon-list"></i>
                            Todas as Mensagens
                        </a>
                    </li>
                    <li>
                        <a href="" data-tipo="42" data-importante="0">
                            <i class="icon-envelope"></i> Não Lidas
                        </a>
                    </li>
                    <li>
                        <a href="#" data-tipo="0" data-importante="1">
                            <i class="icon-star"></i> Importantes
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="span9">
            <div id="containerMensagemNaoLidas"></div>
            <div id="containerMensagem"></div>
        </div>
    </div>
</script>

<script type="text/template" id="templateRowMensagem">
    <td class="importante">
        <% if(bl_importante == 1) { %>
            <i class="icon-star"></i>
        <% } else { %>
            <i class="icon-star-empty"></i>
        <% } %>
    </td>
    <td class="abrirMensagem"><%= st_mensagem %></td>
    <td class="abrirMensagem"><%= st_nomeentidade %></td>
    <td class="abrirMensagem"><%= formatarDataToPtBR(dt_cadastromsg) %></td>
</script>

<script type="text/template" id="templateContainerMensagem">
    <div class="well well-small">
        <fieldset>
            <legend>Mensagens lidas</legend>
        </fieldset>
        <table class="table mensagem table-hover">
            <thead>
            <th class="simbol">
                <i class="icon-star"></i>
            </th>
            <th>
                Assunto
            </th>
            <th>
                Entidade
            </th>
            <th class="data">
                Data
            </th>
            </thead>
            <tbody id="lidas"></tbody>
        </table>
    </div>
</script>

<script type="text/template" id="templateContainerMensagemNaoLida">
    <div class="well well-small">
        <fieldset>
            <legend>Mensagens não lidas</legend>
        </fieldset>
        <table class="table mensagem table-hover">
            <thead>
            <th class="simbol">
                <i class="icon-star"></i>
            </th>
            <th>
                Assunto
            </th>
            <th>
                Entidade
            </th>
            <th class="data">
                Data
            </th>
            </thead>
            <tbody id="lidas"></tbody>
        </table>
    </div>
</script>

<script type="text/template" id="templateItemMensagem">
    <fieldset>
        <legend>
            <%= st_mensagem %> - <strong><%= st_nomeentidade %></strong>
            <span class="pull-right">
                <%= formatarDataToPtBR(dt_cadastromsg) %>
            </span>
        </legend>
    </fieldset>
    <div class="well well-small">
        <%= st_texto %>
    </div>
</script>

<script type="text/javascript">
    $('#templateHolder').empty().html($('#htmlContent script[type="text/template"]'));
</script>
<script src="<?php echo $this->baseUrl(); ?>/mensagem-usuario/js"></script>
