<?php if (isset($this->mensagemRetorno)) : ?>
    <div class="info-box <?php echo $this->mensagemRetorno['cssClass']; ?>">
        <i class="<?php echo $this->mensagemRetorno['icon']; ?>"></i>
        <div class="msg">
            <?php echo $this->mensagemRetorno['message']; ?>
        </div>
        <a href="javascript:void(0)" class="info-box-remove"><i class="icon-remove"></i></a>
    </div>
<?php endif; ?>

<div class="cortina cortina-loader"></div>
<div class="row">
    <div class="col-md-12">
        <div class="title-block clearfix">
            <h2 class="h2-body-title uny">Cadastrar Atividade Complementar</h2>
            <div class="title-seperator"></div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-12">
        <form class=" uny" name="frmAtividade" id="frmAtividade" enctype="multipart/form-data"
              action="/atividade-complementar/salvar-atividade" method="post" role="form">
            <div class="form-group clearfix">
                <div class="col-md-6">
                    <label class="control-label" for="st_tituloatividade">Título da Atividade Complementar *:</label>
                    <input type="text" id="st_tituloatividade" maxlength="100" name="st_tituloatividade"
                           class="form-control" required/>
                </div>
                <div class="col-md-6">
                    <label class="control-label" for="id_tipoatividade">Tipo da Atividade
                        Complementar *:</label>
                    <select name="id_tipoatividade" id="id_tipoatividade" class="form-control"
                            required>
                        <option value="">Selecione um tipo...</option>
                        <?php
                        if ($this->tipoAtividade):
                            foreach ($this->tipoAtividade as $tipo) :
                                ?>
                                <option value="<?php echo $tipo->getId_tipoatividadecomplementar() ?>">
                                    <?php echo $tipo->getSt_tipoatividadecomplementar() ?>
                                </option>
                            <?php
                            endforeach;
                        endif;
                        ?>
                    </select>

                </div>
            </div>
            <div class="form-group clearfix">
                <div class="col-md-12">
                    <label class="control-label" for="st_resumoatividade">Informações Adicionais:</label>
                    <!-- type email used by jquery validate -->
                    <textarea rows="4" cols="100%" maxlength="300" name="st_resumoatividade" id="st_resumoatividade"
                              class="form-control"
                    ></textarea>
                    <span class="pull-right" id="contador-resumo">0 / 300</span>
                </div>
            </div>
            <div class="form-group clearfix">
                <div class="col-xs-12">
                    <label for="anexo">Anexar *:</label>
                    <input type="file" required name="anexo" id="anexo"
                           accept="image/png, image/jpeg, application/pdf, .doc, .docx"/>
                    <label class="error" id="erro-anexo"></label>
                </div>
            </div>
            <div class="form-group clearfix">
                <div class="col-md-12">
                    <div class="pull-right">
                        <a href="/atividade-complementar/" class="button small button-white"
                           title="Cancelar">Cancelar</a>
                        <input id="btnSalvar" type="submit" class="button small button-main" value="Enviar"/>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>