<?php if (isset($this->mensagemRetorno)) : ?>
    <div class="info-box <?php echo $this->mensagemRetorno['cssClass']; ?>">
        <i class="<?php echo $this->mensagemRetorno['icon']; ?>"></i>
        <div class="msg">
            <?php echo $this->mensagemRetorno['message']; ?>
        </div>
        <a href="javascript:void(0)" class="info-box-remove"><i class="icon-remove"></i></a>
    </div>
<?php endif; ?>

<div class="row" id="atividade-complementar-index">
    <div class="col-md-12">
        <div class="title-block clearfix">
            <h2 class="h2-body-title uny">Atividades Complementares</h2>
            <div class="title-seperator"></div>
        </div>
        <div class="row titulo-grid-parcelas">
            <div class="col-md-12">
                <?php if ($this->qtdHorasAprovacao > $this->qtdHorasAprovadas): ?>
                    <a class="button small button-main uny pull-right" href="/atividade-complementar/cadastrar">
                        Cadastrar Atividade Complementar
                    </a>
                <?php endif; ?>
                <h5>Quantidade de horas para aprovação:
                    <?php echo $this->qtdHorasAprovacao ? $this->qtdHorasAprovacao : "--"; ?>
                </h5>
                <h5>Somatório de horas deferidas:
                    <?php echo $this->qtdHorasAprovadas; ?>
                </h5>
            </div>
        </div>


        <table class="backgrid backgrid-selectall table table-bordered table-hover table_imcube table_pagamento">
            <thead>
            <tr>
                <th style="vertical-align: middle; text-align: center">
                    Título da Atividade Complementar
                </th>
                <th style="vertical-align: middle; text-align: center">
                    Tipo da Atividade Complementar
                </th>
                <th style="vertical-align: middle; text-align: center">
                    Quantidade de horas deferidas
                </th>
                <th style="vertical-align: middle; text-align: center"> Informações Adicionais</th>
                <th class="col-xs-2" style="vertical-align: middle; text-align: center">Status</th>
                <!--                <th>Ação</th>-->
            </tr>
            </thead>
            <tbody>
            <?php if (!$this->atividades): ?>
                <tr>
                    <td colspan="5">
                        <div class="alert alert-info">Sem Atividades Complementares</div>
                    </td>
                </tr>
            <?php endif; ?>

            <?php
            if ($this->atividades):
                foreach ($this->atividades as $atividade):
                    ?>
                    <tr>
                        <td>
                            <a href="<?php echo $atividade['url_arquivo'] ?>" class="btn btn-link" target="_blank"
                               title="Clique para fazer download do arquivo">
                                <?php echo $atividade['st_tituloatividade']; ?>
                            </a>
                        </td>
                        <td align="center"><?php echo $atividade['st_tipoatividade']; ?></td>
                        <td align="center"><?php echo $atividade['nu_horasconvalidada']
                                ? $atividade['nu_horasconvalidada'] : "--"; ?></td>
                        <td align="center">
                            <?php if ($atividade['st_resumo']): ?>
                                <a href="#modalAtividades" data-toggle="modal"
                                   class="btnShowResumo"
                                   data-content="<?php echo $atividade['st_resumo']; ?>"
                                   title="Clique para visualizar o resumo da atividade.">
                                    <i class="icon-eye-open"></i>
                                </a>
                            <?php else: ?>
                                <a href="#" data-toggle="tooltip" data-placement="top"
                                   title="Campo Informações Adicionais não preenchido">
                                    --
                                </a>
                            <?php endif; ?>
                        </td>
                        <td align="center">
                            <span class="<?php echo $this->atividadeStatusColor($atividade['id_situacao']); ?>">
                                <?php echo $atividade['st_situacao']; ?></span>
                        </td>
                        <!--                        <td align="center">-->
                        <!--                            <button data-url="/atividade-complementar/remover/id/-->
                        <?php //echo $atividade['id_atividadecomplementar']
                        ?><!--"-->
                        <!--                                    title="Remover Atividade" --><?php //echo !$atividade['remove'] ? "disabled" : ""
                        ?>
                        <!--                                    class="btn btn-danger btn-remover icon icon-remove icon-white"></button>-->
                        <!--                        </td>-->
                    </tr>
                    <?php
                endforeach;
            endif;
            ?>
            </tbody>
        </table>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modalAtividades" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Informações Adicionais</h4>
            </div>
            <div class="modal-body" id="modal-content"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

