<script type="text/template" id="layout-gerencia-prova">
    <div id="region-pesquisa-agendamento" class="row-fluid">

        <form method="post" name="formPesquisaAlunosAgendamento" class="well" id="formPesquisaAlunosAgendamento">
            <fieldset>
                <legend>Gerência Prova - Busca</legend>

                <div class="row-fluid">
                    <label class="span5">
                        Nome:
                        <input type="text" id="st_nomecompleto" class="span12" name="st_nomecompleto" placeholder="Digite o nome do aluno"/>
                    </label>
                    <label class="span4">
                        E-mail:
                        <input type="text" id="st_email" class="span12" name="st_email" placeholder="Digite o e-mail do aluno"/>
                    </label>
                    <label class="span3">
                        CPF
                        <input type="text" id="st_cpf" class="span12" name="st_cpf" placeholder="Digite o CPF do aluno"/>
                    </label>
                </div>
                <div class="row-fluid">
                    <label class="span3">
                        UF de Prova:
                        <select id="sg_uf" class="span12" name="sg_uf"></select>
                    </label>
                    <label class="span3">
                        Local de Prova:
                        <select id="id_aplicadorprova" class="span12" name="id_aplicadorprova"></select>
                    </label>
                    <label class="span3">
                        Data da Aplicação:
                        <select id="dt_aplicacao" class="span12" name="dt_aplicacao"></select>
                    </label>
                    <div class="span3">
                        <button class="btn btn-custom marginT20" type="submit" id="btnPesquisarAlunos">
                            <i class="icon-search icon-white"></i>
                            Pesquisar
                        </button>
                    </div>
                </div>
            </fieldset>

            <div class="row-fluid">
        <span class="text text-error">
            <i class="icon-info-sign"></i>
            <!-- Essa pesquisa retorna alunos aptos para agendamento de prova final, alunos já agendados para prova final ou alunos aptos a fazer prova de recuperação. -->
            Essa pesquisa retorna alunos aptos para agendamento de avaliações presenciais ou alunos já agendados.
        </span>
            </div>
        </form>

    </div>
    <div id="region-tela-dados-agendamento-loading" class="hide">Carregando...</div>
    <div id="region-tela-dados-agendamento" class="row-fluid">

        <div id="lista-alunos-agendamento" class="span3 hide"></div>

        <div id="dados-agendamento" class="span9">

            <div id="div-aluno-selecionado" class="row-fluid">

            </div>
            <div id="abas-agendamento" class="row-fluid">

            </div>
            <div id="dados-abas-agendamento" class="row-fluid">

            </div>

            <div id="dados-historico-agendamento" class="row-fluid">
            </div>
        </div>

    </div>

</script>

<script id="form-agendar" type="text/template">
    <form id="form_agendamento" class="form-inline forms" method="post" action="">
        <input type="hidden" id="id_situacao" name="id_situacao" value="68"/>

        <div class="row-fluid">
            <fieldset id="fieldPesquisaPolo">
                <legend class="header">Agendar Avaliação</legend>

                <div>Selecione o local desejado:</div>
                <div class="row-fluid">
                    <label class="span5">
                        <select id="sg_uf" class="span12" name="sg_uf"></select>
                    </label>
                    <label class="span5">
                        <select id="id_municipio" class="span12" name="id_municio"></select>
                    </label>
                    <div class="span2">
                        <button type="button" id="btnPesqLocais" name="btnPesquisaPolo" class="btn btn-info span6 btn-pesquisar">
                            <i class="icon-search icon-white"></i>
                        </button>
                        <button type="button" class="btn btn-danger span6 btn-voltar">
                            <i class="icon-remove-circle icon-white"></i>
                        </button>
                    </div>
                </div>

            </fieldset>
        </div>

        <div id="container-polos"></div>

        <div id="div_justificativa" class="well hide" style="background-color: #cccccc;">
            <fieldset>
                <legend>Justificativa</legend>

                <div class="row-fluid">
                    <div class="pull-right">
                        <button type="submit" id="btnSalvarAgendamento" class="btn btn-success" tabindex="2">
                            <i class="icon-ok icon-white"></i>
                        </button>
                        <button type="button" class="btn btn-danger btn-voltar" tabindex="3">
                            <i class="icon-remove-circle icon-white"></i>
                        </button>
                    </div>
                    <div style="margin-right: 90px;">
                        <input type="text" class="input span12" id="st_justificativa" name="st_justificativa" required="required" maxlength="500" tabindex="1"/>
                    </div>
                </div>
            </fieldset>
        </div>

    </form>

</script>

<script id="form-liberar" type="text/template">
    <form id="form_liberar" class="form" method="post" action="">
        <input id="id_situacao" type="hidden" name="id_situacao" value="129"/>
        <fieldset>
            <legend class="header">Liberar Agendamento</legend>

            <div id="provaglobal" class="row-fluid">
                <label class="label label-warning">
                    Prova Global:
                    <input type="checkbox" id="bl_provaglobal" name="bl_provaglobal" checked="checked" disabled value="1"/>
                </label>
                <br/>
            </div>

            <!-- para disciplinas de recuperação listar disciplinas -->
            <div id="container-disciplinas"></div>

            <div class="row-fluid" id="div_justificativa_liberar">
                <fieldset>
                    <div class="row-fluid">
                        <div class="pull-right">
                            <button type="submit" id="btnSalvarLiberacao" class="btn btn-success marginT20" tabindex="2">
                                <i class="icon-ok icon-white"></i>
                            </button>
                            <button type="button" class="btn btn-danger marginT20 btn-voltar" tabindex="3">
                                <i class="icon-remove-circle icon-white"></i>
                            </button>
                        </div>
                        <div style="margin-right: 90px;">
                            <b>Justificativa:</b>
                            <input type="text" class="input span12" id="st_justificativa" name="st_justificativa" required="required" maxlength="500" tabindex="1"/>
                        </div>
                    </div>
                </fieldset>
            </div>

        </fieldset>
    </form>
</script>

<script id="tr-lista-locais-prova" type="text/template">
    <td class="span1">
        <input type="radio" value="<%= id_avaliacaoaplicacao %>" id="id_avaliacaoaplicacao" name="id_avaliacaoaplicacao"/>
    </td>
    <td class="span3"><%=st_aplicadorprova%></td>
    <td class="span4"><%=st_endereco%></td>
    <td class="span1"><%=nu_vagasrestantes%></td>
    <td class="span1"><%=sg_uf%></td>
    <td class="span2"><%=dt_aplicacao%></td>
    <td class="span1"><%=hr_inicioprova%></td>
    <td class="span1"><%=hr_fimprova%></td>
</script>

<script id="disciplinas-template" type="text/template">
    Selecione as disciplinas:
    <table class="table table-bordered table-striped table-hover backgrid" id="tabela-disciplinas">
        <thead>
        <tr>
            <th></th>
            <th>Disciplina</th>
            <th>Status</th>
        </tr>
        </thead>
        <tbody></tbody>
    </table>
</script>

<script id="disciplinas-view" type="text/template">
    <td>
        <input type="checkbox" id="id_avaliacaoconjuntoreferencia" value="<%= id_avaliacaoconjuntoreferencia %>" />
    </td>
    <td><%= st_disciplina %></td>
    <td><%= st_status %></td>
</script>

<script id="tela-historico-agendamento" type="text/template">
    <form id="form-lista-historico" class="form-inline well" method="post" action=""
          style="position: relative; background: #FFFFFF; margin-top: 15px;">
        <fieldset>
            <legend>Histórico de Atividades</legend>
            <div class="row-fluid">
                <label class="span4">
                    Atividade:
                    <select id="id_situacaohistorico" class="span12">
                        <option value="">--</option>
                        <option value="68">Agendado</option>
                        <option value="69">Reagendado</option>
                        <option value="129">Liberado</option>
                        <option value="130">Abonado</option>
                        <option value="70">Cancelado</option>
                    </select>
                </label>
                <label class="span4">
                    Ano:
                    <select id="id_anos" class="span12" name="id_anos">
                        <option value="">--</option>
                    </select>
                </label>

                <div class="span4 marginT20">
                    <button type="button" id="btnPesquisaHistorico" name="btnPesquisaHistorico" class="btn btn-info">
                        &nbsp;<i class="icon-search icon-white"></i>&nbsp;
                    </button>
                </div>
            </div>
        </fieldset>
        <table class="table table-hover table-striped table-bordered pesquisa-historico"
               id="tabela-retorno-pesquisa-historico"
               style="overflow:auto; border-top: 1px solid #ccc; margin-top: 15px;">
            <thead style="background-color:#657991; color: #FFFFFF;">
            <tr>
                <th>Prova</th>
                <th>Atividades</th>
                <th>Responsável</th>
                <th>Data</th>
                <th>Observações</th>
            </tr>
            </thead>
            <tbody></tbody>
        </table>
    </form>
</script>

<script id="historico-view" type="text/template">
    <td><%= st_tipodeavaliacao %></td>
    <td class="pesquisa-historico"><%= st_situacao %></td>
    <td><%= st_nomecompleto %></td>
    <td><%= dt_cadastro %></td>
    <td><%= st_tramite %></td>
</script>


<!--
     TEMPLATES NOVO AGENDAMENTO GRADUACAO
-->
<script type="text/template" id="agendamento-template">
    <div id="container-aluno"></div>
    <div id="container-situacao"></div>
    <div id="container-botoes"></div>
    <div id="container-historico"></div>
</script>

<script type="text/template" id="aluno-template">
    <div class="well">
        <b>Matrícula:</b> <%= id_matricula %>
        <br/>
        <b>Aluno:</b> <%= st_nomecompleto %>
        <br/>
        <b>Curso:</b> <%= st_projetopedagogico %>
    </div>
</script>

<script type="text/template" id="situacao-template">
    <div class="well">
        <legend>Situação do Agendamento</legend>

        <div class="row-fluid">
            <label class="span4">
                Disciplina:
                <select name="id_disciplina" id="id_disciplina" class="span12">
                    <option value="">Carregando...</option>
                </select>
            </label>
        </div>

        <div id="container-avaliacao"></div>
    </div>
</script>

<script type="text/template" id="avaliacao-template">
    <div class="table-responsive">
        <table class="table table-bordered table-striped table-hover backgrid" style="border-radius: 0; border-top: 0;">
            <thead>
            <tr class="label-chamadas">
                <td colspan="3" style="border: 0;"></td>
            </tr>
            <tr class="label-head">
                <th class="text-center">Avaliação</th>
                <th class="text-center">Situação</th>
                <th class="text-center">Disciplinas</th>
                <!--<th class="text-center">Data</th>-->
                <!--<th class="text-center">Aplicação</th>-->
                <!--<th class="text-center">Presença</th>-->
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</script>

<script type="text/template" id="avaliacao-view">
    <td>
        <label class="radio">
            <input type="radio" name="id_avaliacao" value="<%= id_avaliacao %>" <%= ultimo_agendamento.nu_presenca !== null ? 'disabled' : '' %> />
            <%= st_avaliacao %>
        </label>
    </td>
    <td class="text-center">
        <div class="label" style="background-color: <%= color %>">
            <%= ultimo_agendamento.nu_presenca === null ? (ultimo_agendamento.st_situacao || 'Aluno Apto') : 'Prova realizada' %>
        </div>
    </td>
    <td>
        <!-- DISCIPLINAS -->
        <% if (ultimo_agendamento.bl_provaglobal) { %>
        <b>PROVA GLOBAL</b>
        <% } else { %>
        <ul>
        <% _.each(disciplinas, function(disciplina) { %>
        <li><%= disciplina.st_disciplina %></li>
        <% }); %>
        </ul>
        <% } %>
    </td>

    <!-- AGENDAMENTOS -->
    <% _.each(agendamentos, function(agendamento) { %>
    <td class="text-center">
        <% if (agendamento.id_avaliacaoagendamento && agendamento.id_avaliacaoaplicacao) { %>
        <%= agendamento.dt_aplicacao %> de <br/>
        <%  if(agendamento.hr_inicio.length > 5){ %>
        <%=     (agendamento.hr_inicio + "").substr(11, 5) %>
        <%  } else { %>
        <%=     agendamento.hr_inicio %>
        <%  } %>
        <%= ' as ' %>
        <%  if(agendamento.hr_fim.length > 5){ %>
        <%=     (agendamento.hr_fim + "").substr(11, 5) %>
        <%  } else { %>
        <%=     agendamento.hr_fim %>
        <%  } %>
        <% } else { %>
        Sem data
        <% } %>
    </td>
    <td class="text-center">
        <% if (agendamento.st_cidade && agendamento.st_aplicadorprova) { %>
        CIDADE: <%= agendamento.st_cidade %><br/>
        APLICADOR: <%= agendamento.st_aplicadorprova %>
        <% } else { %>
        Sem agendamento
        <% } %>
    </td>
    <td class="text-center">
        <% if (agendamento.nu_presenca === 1) { %>
        <b class="text-success">Presente</b>
        <% } else if (agendamento.nu_presenca === 0) { %>
        <b class="text-error">Ausente</b>
        <% } else { %>
        Não lançada
        <% } %>
    </td>
    <% }); %>

</script>

<script id="botoes-template" type="text/template">
    <div class="well">

        <div id="box-botoes">
            <legend>Ações</legend>

            <% if (id_situacao == 129 || id_situacao == 130) { %>
            <button class="btn btn-success btn-agendar" type="button">
                <i class="icon-calendar icon-white"></i>
                Agendar
            </button>
            <button class="btn btn-danger btn-cancelar" type="button">
                <i class="icon-ban-circle icon-white"></i>
                Cancelar
            </button>
            <% } else if (id_situacao == 68 || id_situacao == 69) { %>
            <button class="btn btn-custom btn-reagendar" type="button">
                <i class="icon-refresh icon-white"></i>
                Reagendar
            </button>
            <button class="btn btn-danger btn-cancelar" type="button">
                <i class="icon-ban-circle icon-white"></i>
                Cancelar
            </button>
            <% } else { %>
            <button class="btn btn-info btn-liberar" type="button">
                <i class="icon-share icon-white"></i>
                Liberar
            </button>
            <button class="btn btn-warning btn-abonar" type="button">
                <i class="icon-thumbs-up icon-white"></i>
                Abonar
            </button>
            <% } %>
        </div>

        <div id="container-form"></div>
    </div>
</script>

<!-- PESQUISA POLOS AGENDAMENTO -->
<script type="text/template" id="polos-template">
    <hr/>
    <div class="table-responsive">
        <table class="table table-bordered table-striped table-hover backgrid">
            <thead>
            <tr>
                <th></th>
                <th>Aplicador</th>
                <th>Local de Prova</th>
                <th>Vagas Existentes</th>
                <th>Estado</th>
                <th>Data</th>
                <th>Início</th>
                <th>Término</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</script>


<script type="text/javascript">
    $('#templateHolder').empty().append($('#htmlContent script[type="text/template"]'));
    <?php echo $this->render('/gerencia-prova/index.js') ?>
</script>
