<div class="row-fluid">
    <div class="well">
        <fieldset id="pesquisaAlunos">
            <legend>Conclusão</legend>
            <form id="pesquisaAlunosConlusao" method="post" name="pesquisaAlunosConlusao">
                <div class="row-fluid">
                    <div class="span4">
                        <label>Nome:</label>
                        <input type="text" class="span12" id="st_nomecompleto" name="st_nomecompleto" value="">
                    </div>
                    <div class="span2">
                        <label>Instituição:</label>
                        <select required="" class="span12" id="id_entidade" name="id_entidade"></select>
                    </div>
                    <div class="span2">
                        <label>Evolução Certificação</label>
                        <select class="span12" id="id_evolucaocertificacao" name="id_evolucaocertificacao">
                            <option value="61">Apto a Certificar</option>
                            <option value="62">Certificado Gerado</option>
                            <option value="63">Enviado para Assinatura</option>
                            <option value="64">Retornado da Assinatura</option>
                            <option value="65">Enviado ao Aluno</option>
                            <option value="">Todas</option>
                        </select>
                    </div>
                    <div class="span2">
                        <label>Documentação Ok?</label>
                        <select class="span12" id="bl_documentacao" name="bl_documentacao">
                            <option value="">Todos</option>
                            <option value="1">Sim</option>
                            <option value="0">Não</option>
                        </select>
                    </div>
                    <div class="span2">
                        <label>Acadêmico Ok?</label>
                        <select class="span12" id="bl_academico" name="bl_academico">
                            <option value="">Todos</option>
                            <option value="1">Sim</option>
                            <option value="0">Não</option>
                        </select>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span5">
                        <label>Projeto Pedagógico:</label>
                        <select class="span12" id="id_projetopedagogico" name="id_projetopedagogico">
                            <option>Todos</option>
                        </select>
                    </div>

                    <div class="span3">
                        <label>Data Concluinte:</label>
                        <input type="text" class="span6 datepicker datepicker_range_min pull-left"
                               id="dt_concluinte_inicio" name="dt_concluinte_inicio" data-maximo="dt_concluinte_fim">
                        <!--<span>a</span>-->
                        <input type="text" class="span6 datepicker datepicker_range_max" id="dt_concluinte_fim"
                               name="dt_concluinte_fim" data-minimo="dt_concluinte_inicio">

                    </div>
                    <!-- Datas para pesquisa de certificado gerado -->
                    <div class="span3 hide" id="div-dt-certificado">
                        <label>Data Certificado Gerado:</label>
                        <input type="text" class="span6 datepicker datepicker_range_min data-extra"
                               id="dt_certificado_inicio" name="dt_certificado_inicio" data-maximo="dt_certificado_fim">
                        <!--<span>a</span>-->
                        <input type="text" class="span6 datepicker datepicker_range_max data-extra" id="dt_certificado_fim"
                               name="dt_certificado_fim" data-minimo="dt_certificado_inicio">
                    </div>

                    <!-- Datas para pesquisa de Enviado a certificadora -->
                    <div class="span3 hide" id="div-dt-enviado-certificadora">
                        <label>Data Envio Assinatura:</label>
                        <input type="text" class="span6 datepicker datepicker_range_min data-extra"
                               id="dt_envio_certificadora_inicio" name="dt_envio_certificadora_inicio" data-maximo="dt_envio_certificadora_fim">
                        <!--<span>a</span>-->
                        <input type="text" class="span6 datepicker datepicker_range_max data-extra" id="dt_envio_certificadora_fim"
                               name="dt_envio_certificadora_fim" data-minimo="dt_envio_certificadora_inicio">
                    </div>

                    <!-- Datas para pesquisa de Retorno da certificadora -->
                    <div class="span3 hide" id="div-dt-retorno-certificadora">
                        <label>Data Retorno Assinatura:</label>
                        <input type="text" class="span6 datepicker datepicker_range_min data-extra"
                               id="dt_retorno_certificadora_inicio" name="dt_retorno_certificadora_inicio" data-maximo="dt_retorno_certificadora_fim">
                        <!--<span>a</span>-->
                        <input type="text" class="span6 datepicker datepicker_range_max data-extra" id="dt_retorno_certificadora_fim"
                               name="dt_retorno_certificadora_fim" data-minimo="dt_retorno_certificadora_inicio">
                    </div>


                    <!-- Datas para pesquisa de Data de Envio ao aluno -->
                    <div class="span3 hide" id="div-dt-envio-aluno">
                        <label>Data Envio ao Aluno:</label>
                        <input type="text" class="span6 datepicker datepicker_range_min data-extra"
                               id="dt_envio-aluno_inicio" name="dt_envio-aluno_inicio" data-maximo="dt_envio-aluno_fim">
                        <!--<span>a</span>-->
                        <input type="text" class="span6 datepicker datepicker_range_max data-extra" id="dt_envio-aluno_fim"
                               name="dt_envio-aluno_fim" data-minimo="dt_envio-aluno_inicio">
                    </div>

                    <div class="span1">
                        <label>&nbsp;&nbsp;&nbsp;</label>
                        <button type="submit" class="btn btn-info pull-left" id="btnPesquisarConclusao"
                                name="btnPesquisarConclusao"><i class="icon icon-search icon-white"></i>
                        </button>
                    </div>

                </div>
            </form>
        </fieldset>
    </div>
    <div class="row-fluid">
        <span class="text-error"><strong>Aviso! </strong> A pesquisa é limitada a pesquisar Alunos com Evolução Concluinte ou Certificado.</span>
    </div>
</div>

<div class="row-fluid" id="containerCompositeViewAlunosConclusao"></div>
<script type="text/template" id="templateGridAlunosConclusao">
    <div class="well">
        <div class="actions text-right">
            <button id="btn-gerar-xls" class="btn btn-custom hide" type="button">
                <i class="icon-white icon-file"></i>
                Gerar XLS
            </button>
            <button id="btn-gerar-etiquetas" class="btn btn-custom hide" type="button">
                <i class="icon-white icon-file"></i>
                Gerar Etiquetas
            </button>
            <button class="btn btn-success btn-salvar-processo-certificacao">
                <i class="icon-white icon-ok"></i>
                Salvar
            </button>
        </div>

        <hr/>

        <div class="row-fluid table-responsive" style="overflow: auto;  max-height: 600px;">
            <table id="gridAlunosConclusao" name="gridAlunosConclusao" class="table table-bordered backgrid">
                <thead>
                <th>Matrícula</th>
                <th>Aluno</th>
                <th>Evolução</th>
                <th>Projeto Pedagógico</th>
                <th>CPF</th>
                <th>Data Concluinte</th>
                <th>Documentação Ok</th>
                <th>Acadêmico Ok</th>
                <th>Certificado Gerado</th>
                <th>
                    <input class="hide" id="check-all-envio-certificadora" type="checkbox">
                    Envio Assinatura
                </th>
                <th>
                    <input class="hide" id="check-all-retorno-certificadora" type="checkbox">
                    Retorno Assinatura
                </th>
                <th><i class="icon-user icon-white"></i> Envio ao Aluno</th>
                <th>Mais Informações</th>
                </thead>
                <tbody id="tbodyAlunosConcluintes"><!--Conteudo preenchido pelo javascript--></tbody>
            </table>
        </div>
    </div>
</script>

<div id="modalAlunoConclusao" class="modal hide fade" role="dialog"
     aria-labelledby="modalAlunoConclusaoLabel" aria-hidden="true"
     style="width: 60%; left: 43%;">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="modalAlunoConclusaoLabel">Gerar</h3>
    </div>
    <div class="modal-body" id="bodyModal-dadosAluno">
    </div>

    <div class="modal-footer" id="footerModal-botoes">
        <!--<button class="btn btn-warning" id="btGeraCertificado"><i-->
        <button class="btn btn-warning" onclick="fieldCertificado();"><i
                class="icon icon-certificate icon-white"></i> Gerar
        </button>
        <button class="btn btn-danger" data-dismiss="modal" aria-hidden="true"> Fechar</button>
    </div>
</div>