<div class="row-fluid">
    <div class="well">
        <fieldset>
            <legend>Dados do Aluno: <strong> <%=st_nomecompleto%> </strong></legend>

            <div class="row-fluid">
                <div class="span4">
                    <label><strong>Matrícula:</strong>
                        <span><%=id_matricula%></span>
                    </label>
                </div>
                <div class="span4">
                    <label><strong>CPF:</strong>
                        <span><%=st_cpf%></span>
                    </label>
                </div>
                <div class="span4">
                    <label><strong>Data Concluinte:</strong>
                        <span><%=st_dataconcluinte%></span>
                    </label>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span6">
                    <label><strong>Projeto Pedagógico:</strong>
                        <span><%=st_projetopedagogico%></span>
                    </label>
                </div>
                <div class="span6">
                    <label><strong>Código de Certificação:</strong>
                        <span id="stCodCertificacao"><% if(st_codcertificacao!=''){%><%=st_codcertificacao%><% }else{ %>Não registrado!<%}%></span>
                    </label>
                </div>
            </div>
        </fieldset>
        <fieldset id="fieldStatusAluno">
            <legend>Status do Aluno</legend>

            <div class="accordion" id="accordion2">
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <div class="row-fluid">
                            <div class="span6">
                                <span class="text-center lbl-infos">PROJETO PEDAGÓGICO</span>
                            </div>
                            <div class="span6">

                                <a rel="tooltip" class="informacoesDetalhar accordion-toggle"
                                   data-placement="top" data-original-title="Clique para Exibir/Ocultar as pendências."
                                   data-trigger="hover" data-toggle="collapse" data-parent="#accordion2"
                                   href="#collapseOne">

                                            <span class="label label-success hide" id="labelPedagogicoOk">
                                                <i class="icon icon-ok icon-white"></i> Confirmado
                                            </span>

                                             <span class="label label-important hide" id="labelPedagogicoP">
                                                 <i class="icon icon-remove icon-white"></i> Pendente
                                             </span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div id="collapseOne" class="accordion-body collapse">
                        <div class="accordion-inner">
                            <div class="row-fluid">
                                <div id="detalharPedagogico" style="overflow: auto;  max-height: 300px;">
                                    <table class="table table-bordered" id="tablePedagogico">
                                        <thead>
                                        <th>Disciplina</th>
                                        <th>Situação</th>
                                        </thead>
                                        <tbody>

                                        </tbody>

                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="accordion-group">

                    <div class="accordion-heading">
                        <div class="row-fluid">
                            <div class="span6">
                                <span class="text-center lbl-infos">FINANCEIRO</span>
                            </div>
                            <div class="span6">
                                <a rel="tooltip" class="informacoesDetalhar  accordion-toggle"
                                   data-placement="top"
                                   data-original-title="Clique para Exibir/Ocultar as pendências." data-trigger="hover"
                                   data-toggle="collapse" data-parent="#accordion2"
                                   href="#collapseTwo">
                                       <span class="label label-important hide" id="labelFinanceiroP">
                                                  <i class="icon icon-remove icon-white"></i> Pendente
                                       </span>
                                      <span class="label label-success hide" id="labelFinanceiroOk"><i
                                              class="icon icon-ok icon-white"></i> Confirmado</span>
                                </a>

                            </div>
                        </div>
                    </div>
                    <div id="collapseTwo" class="accordion-body collapse">
                        <div class="accordion-inner">
                            <div class="row-fluid">
                                <div id="detalharFinanceiro" style="overflow: auto; max-height: 300px;">
                                    <table class="table table-bordered" id="tableFinanceiro">
                                        <thead>
                                        <th>Valor</th>
                                        <th>Vencimento</th>
                                        <th>Meio Pagamento</th>
                                        </thead>
                                        <tbody>

                                        </tbody>

                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="accordion-group">

                    <div class="accordion-heading">
                        <div class="row-fluid">
                            <div class="span6">
                                <span class="text-center lbl-infos">SECRETARIA</span>
                            </div>
                            <div class="span6">

                                <a rel="tooltip" class="informacoesDetalhar accordion-toggle"
                                   data-placement="top"
                                   data-original-title="Clique para Exibir/Ocultar as pendências." data-trigger="hover"
                                   data-toggle="collapse" data-parent="#accordion2"
                                   href="#collapseTree">

                                       <span class="label label-success hide" id="labelSecretariaOk"><i
                                               class="icon icon-ok icon-white"></i> Confirmado
                                       </span>

                                       <span class="label label-important hide" id="labelSecretariaP"><i
                                               class="icon icon-remove icon-white"></i> Pendente
                                       </span>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div id="collapseTree" class="accordion-body collapse">
                        <div class="accordion-inner">
                            <div class="row-fluid">
                                <div id="detalharSecretraria" style="overflow: auto; max-height: 300px;">
                                    <table class="table table-bordered" id="tableSecretaria">
                                        <thead>
                                        <th>Documento</th>
                                        <th>Situação</th>
                                        </thead>
                                        <tbody>

                                        </tbody>

                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
    </div>
</div>

<div id="container-disciplinas-complementares">
    <!--Conteudo preenchido pelo composite view tpl-disciplinas-complementares-->
</div>
<script type="text/template" id="tpl-disciplinas-complementares">
    <div class="well well-small">
        <legend>Disciplinas Complementares</legend>
        <table class="table table-bordered table-hover table-condensed table-striped backgrid">
            <thead>
            <th>Matrícula</th>
            <th>Projeto</th>
            <th>Evolução</th>
            <th>Vincular</th>
            </thead>
            <tbody><!--Conteudo preechido --></tbody>
        </table>
        <div class="row-fluid">
            <button type="button" class="btn btn-primary pull-right">Vincular</button>
        </div>
    </div>
</script>

<fieldset id="dadosCertificado" class="hide">
    <div class="well well-small">
        <legend>Escolha o Modelo:</legend>
        <div class="row-fluid" id="divDadosCertificado">
            <div class="span6">
                <select id="id_textosistema" class="span12" name="id_textosistema"></select>
            </div>
            <div class="span6 text-right">
                <button id="btVisualizarCertificado" class="btn pull-left" type="reset" name="btVisualizarCertificado" title="Visualizar certificado sem geração de tramite">
                    Visualizar
                </button>
                <button id="btEmitirCertificado" class="btn btn-success" name="btEmitirCertificado" type="reset" title="Gerar certificado registrando o tramite">
                    Ok
                </button>
                <button id="btCancelarCertificado" class="btn btn-danger" name="btCancelarCertificado" type="reset" title="Cancelar">
                    Cancelar
                </button>
            </div>
        </div>
    </div>
</fieldset>