<td><%=id_matricula%></td>
<td><%=st_nomecompleto%></td>
<td><%=st_evolucao%></td>
<td><%=st_projetopedagogico%></td>
<td><%=st_cpf%></td>
<td>
    <div id="dt-concluinte-exibicao">
        <%= st_dataconcluinte %>
    </div>
    <div id="div-edit" class="input-append">
        <input type="text" class="edit-data-conclusao datepicker" placeholder="<%=st_dataconcluinte%>" val="" disabled="true">
        <button class="btn btn-editdataconcluinte">
            <i class="icon-edit"></i>
        </button>
    </div>
</td>
<td>
    <% if (bl_documentacao === null || bl_documentacao === "") { %>
    Não Analisado
    <% } else if (bl_documentacao == 1) { %>
    Sim
    <% } else { %>
    Não
    <% } %>
</td>
<td>
    <% if (bl_academico === null || bl_academico === "") { %>
    Não Analisado
    <% } else if (bl_academico == 1) { %>
    Sim
    <% } else { %>
    Não
    <% } %>
</td>
<td><%=st_dtcadastrocertificacao%></td>
<td class="td-enviocertificado">
    <% if (id_evolucaocertificacao == 62) { %>
    <input type="checkbox" class="chk-enviocertificado">
    <span class="span12"></span>
    <% } else { %>
    <%=st_dtenviocertificado%>
    <% } %>
</td>
<td class="td-retornocertificadora">
    <% if (id_evolucaocertificacao == 63) { %>
    <input type="checkbox" class="chk-retornocertificadora">
    <span class="span12"></span>
    <% } else { %>
    <%=st_dtretornocertificadora%>
    <% } %>
</td>
<td class="td-envioaluno">
    <div class="input-append">
        <input value="<%= st_dtenvioaluno %>" style="width: 110px;" required="required" type="text" class="datepickerConclusao input-dt-envio-aluno" placeholder="__/__/____" <%= id_evolucaocertificacao == 64 ? '' : 'disabled' %> />
        <% if (id_evolucaocertificacao == 64) { %>
        <span title="Campo obrigatório" class="add-on btn-warning el-dtenvioaluno"><i class="icon icon-white icon-info-sign"></i></span>
        <% } %>
    </div>
    <div class="input-append">
        <input value="<%= st_codigoacompanhamento %>" title="Codigo de rastreamento do correio" type="text" class="span10 input-codigo-acompanhamento" maxlength="13" placeholder="Código Rastreamento" <%= id_evolucaocertificacao == 65 ? '' : 'disabled' %> />
        <% if (id_evolucaocertificacao == 65 ) { %>
        <span title="Informação" data-content="O campo Código de Rastreamento deve conter 13 caracteres ou vazio." class="add-on btn-<%=(st_codigoacompanhamento.length == 13 ) ? 'success' : 'warning' %> item-popover el-codigoacompanhamento">
            <i class="icon icon-white  <%=(st_codigoacompanhamento.length == 13 ) ? 'icon-ok' : 'icon-info-sign' %>"></i>
        </span>
        <% } %>
    </div>
    <span class="item-informe"></span>
</td>
<td style="text-align: center;">
    <a href="#" role="button" class="btn btn-success modalCertificacao" data-toggle="modal">
        <i class="icon icon-list-alt icon-white"></i>
    </a>
    <button title="Atualizar Informações" id="btn-remove-<%=id_matricula%>" class="btn btn-reload-item hide">
        <i class="icon icon-refresh"></i>
    </button>
</td>