<form>
    <fieldset>
        <legend>Cadastrar Sala de Aula</legend>
    </fieldset>
    <div class="row-fluid">
        <div class="span6">
            <label>Título</label>
            <input type="text" class="span12" placeholder="Digite o título da sala de aula">
        </div>
        <div class="span3">
            <label>Situação</label>
            <select class="span12">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
        </div>
        <div class="span3">
            <label>Período Letivo</label>
            <select class="span12">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span3">
            <label>Modalidade</label>
            <select class="span12">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
        </div>
        <div class="span3">
            <label>Categoria</label>
            <select class="span12">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
        </div>

        <div class="span3">
            <label>Tipo</label>
            <select class="span12">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
        </div>

        <div class="span3">
            <label>Máximo de Alunos</label>
            <input type="number" class="span12"/>
        </div>
    </div>

    <div class="row-fluid">
        <div class="span6 container-meio">
            <fieldset>
                <legend>
                    Disciplinas
                    <a class="btn btn-custom btn-small btDisciplina pull-right" href="#pesquisaDisciplina"
                       data-toggle="modal" id="0" name="" onclick="marcarModalD($(this).attr('id'));">
                        Disciplinas
                    </a>
                </legend>
            </fieldset>
            <div class="disciplinas-sala-container">
                <table class="table disciplinas-sala">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Disciplina</th>
                        <th>Área Conhecimento</th>
                        <th>Nível de Ensino</th>
                        <th>Ano</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td><input type="checkbox"/></td>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                        <td>@mdo</td>
                    </tr>
                    <tr>
                        <td><input type="checkbox"/></td>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                        <td>@fat</td>
                    </tr>
                    <tr>
                        <td><input type="checkbox"/></td>
                        <td>Larry</td>
                        <td>the Bird</td>
                        <td>@twitter</td>
                        <td>@twitter</td>
                    </tr>
                    <tr>
                        <td><input type="checkbox"/></td>
                        <td>Larry</td>
                        <td>the Bird</td>
                        <td>@twitter</td>
                        <td>@twitter</td>
                    </tr>
                    <tr>
                        <td><input type="checkbox"/></td>
                        <td>Larry</td>
                        <td>the Bird</td>
                        <td>@twitter</td>
                        <td>@twitter</td>
                    </tr>
                    <tr>
                        <td><input type="checkbox"/></td>
                        <td>Larry</td>
                        <td>the Bird</td>
                        <td>@twitter</td>
                        <td>@twitter</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="acao-disciplinas">
                <button class="btn btn-small btn-danger">Remover</button>
            </div>
        </div>

        <div class="span6 container-meio">
            <fieldset>
                <legend>Organização</legend>
            </fieldset>
            <div id="jstree-organizacao"></div>
        </div>
    </div>


    <div class="row-fluid">
        <fieldset>
            <legend>Datas</legend>
        </fieldset>
    </div>

    <div class="row-fluid">
        <div class="span2">
            <label>Início da Inscrição</label>
            <input type="text" class="span12 datepicker"/>
        </div>
        <div class="span2">
            <label>Término da Inscrição</label>
            <input type="text" class="span12 datepicker"/>
        </div>
        <div class="span2">
            <label>Abertura</label>
            <input type="text" class="span12 datepicker"/>
        </div>
        <div class="span2">
            <label>Encerramento</label>
            <input type="text" class="span12 datepicker"/>
        </div>
        <div class="span2">
            <label>Dias Disponíveis após o encerramento</label>
            <input type="number" class="span12"/>
        </div>
        <div class="span2">
            <label>Dias para cursar a disciplina</label>
            <input type="number" class="span12"/>
        </div>
    </div>

    <div class="row-fluid">
        <div class="span12">
            <label class="checkbox inline">
                <input type="checkbox" id="" value="1"> Deseja integrar a sala de aula
            </label>
        </div>
    </div>

    <div class="row-fluid">
        <div class="span12">
            <button class="btn btn-small btn-success pull-right" type="submit">Salvar</button>
        </div>
    </div>
</form>

<!--modal pesquisa disciplina-->
<div id="pesquisaDisciplina" class="modal hide fade" aria-hidden="true" aria-labelledby="windowTitleLabel" role="dialog"
     tabindex="-1" style="display: none;">
    <div class="modal-header">
        <h3>
            Pesquisa de Disciplinas
        </h3>
    </div>
    <div class="modal-body">
        <?php echo $this->action('modal-pesquisa-disciplina', 'util', 'default') ?>
    </div>
    <div class="modal-footer">
        <a class="btn" data-dismiss="modal" aria-hidden="true"> Sair </a>
        <a class="btn btn-custom salvaD" id="" onclick="buscaDisciplina($(this).attr('id'));" href="#"> Salvar </a>
    </div>
</div>
<!--fim modal pesquisa disciplina-->


<script src="<?php echo $this->baseUrl(); ?>/js/jquery.jstree.js"></script>
<script src="<?php echo $this->baseUrl(); ?>/js/gerencia-salas/cadastrar-sala.js"></script>
