<style xmlns="http://www.w3.org/1999/html">
    [class*="span"] {
        margin-left: 10px;
    }

    .dateg {
        width: 80px;
    }

    .btn_calendario {
        margin: 0 0 10px -4px;
    }

    #controle_titulos {
        padding: 15px 0 0 0;
        border-top: 1px solid #ccc;
        height: 50px;
        font-weight: bold;
    }

    #linha_sala_componentes {
        padding: 15px 10px 0 0;
    }

    .linerepeat {
        margin: 5px;
        border-top: 1px solid #ccc;
        padding: 15px 0 0 0;
    }

    .lbloferta {
        padding-left: 25px;
    }

    .divButtons, .mleft-20 {
        margin-left: -20px !important;
    }

    .widthgerencia {
        width: 130px !important;
    }


</style>
<form method="post" action="" class="formField" name="formGerenciaSala" id="formGerenciaSala">

    <div class="well">
        <fieldset>
            <legend>Dados Comuns</legend>

            <div id="containerForm" class="container-fluid" style="position: relative;">
                <!--início da dados comuns-->
                <div id="div_dadoscomuns" class="row-fluid">
                    <input type="hidden" name="nu_linhas" id="nu_linhas" value="0">
                    <?php echo $this->form->id; ?>
                    <div class="row-fluid">
                        <div class="span3">
                            <label>Oferta de Sala</label>
                            <?php echo $this->form->id_periodoletivo; ?>
                        </div>
                        <div class="span3">
                            <label>Modalidade:</label>
                            <?php echo $this->form->id_modalidadesaladeaula; ?>
                        </div>
                        <div class="span3">
                            <label>Tipo:</label>
                            <?php echo $this->form->id_tiposaladeaula; ?>
                        </div>
                        <div class="span3">
                            <label>Situação:</label>
                            <?php echo $this->form->id_situacao; ?>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span1">
                            <label style="width: 110% !important;">Máx. Alunos: </label>
                            <?php echo $this->form->nu_maxalunos; ?>
                        </div>
                        <div class="span2">
                            <label>Oferta Excepcional</label>
                            <span class="span3"></span><input id="bl_ofertaexcepcional" name="bl_ofertaexcepcional"
                                                              type="checkbox">
                        </div>
                        <div class="span2">
                            <label>Vincular Turma</label>
                            <span class="span3"></span><input id="bl_vincularturma" name="bl_vincularturma"
                                                              type="checkbox" onchange="habilitaVincularTurma();">
                        </div>
                        <div class="span3">
                            <label>Dias para cursar a disciplina:</label>
                            <?php echo $this->form->nu_diasaluno; ?>&nbsp;
                            <?php echo $this->form->bl_semdiasaluno; ?>&nbsp;Indefinido
                        </div>
                        <div class="span3">
                            <label>Dias disponíveis após encerramento:</label>
                            <?php echo $this->form->nu_diasencerramento; ?>&nbsp;
                            <?php echo $this->form->bl_semencerramento; ?>&nbsp;Indefinido
                        </div>
                        <div class="span3">
                            <label>Categoria:</label>
                            <?php echo $this->form->id_categoriasala; ?>
                        </div>
                    </div>
                </div>
                <!--fim da div dados comuns-->

                <!--inicio organizações-->

                <legend>Organização</legend>
                <!--                <div id="todasEntidades">-->
                <!--                    <input type="checkbox" value="" id="bl_todasentidades" name="bl_todasentidades"/>&nbsp;Todas as-->
                <!--                    entidades-->
                <!--                </div>-->
                <!--                </br>-->
                <div id="entidades"></div>


                <!--fim organizações-->
            </div>
        </fieldset>
    </div>
    <div class="well">
        <fieldset>
            <legend id="texto_titulo2">Integração</legend>
            <div>
                <div class="row-fluid">
                    <label class="control-label">Moodle</label>
                    <select id="id_moodle" name="id_moodle"></select>
                </div>
            </div>
        </fieldset>
    </div>
    <div class="well">
        <fieldset>
            <legend id="texto_titulo2">Sala de Aula</legend>

            <div id="linhaSalaDeAula" class="">
                <div id="controle_titulos">
                    <div id="titulos" class="row text-center">
                        <div class="span3">
                            <label><span id="qtd_salas">1</span> <span id="texto_qtd_salas">Sala&nbsp;</span>
                                <a class="btn-small btn-custom" id="btnAddResp" rel="tooltip" data-placement="top"
                                   data-original-title="Adicionar sala de aula">
                                    <i class="icon-plus icon-white"></i>
                                </a></label>
                        </div>
                        <div class="span1">
                            <label for="disciplina">Disciplina</label>
                        </div>
                        <div class="span2">
                            <label for="inscricao">Início/Fim<br>Inscrição</label>
                        </div>
                        <div class="span2 text-left">
                            <label for="abertura">Abertura/<br>Encerramento</label>
                        </div>
                        <div class="span2 mleft-20">
                            <label for="projeto">Projeto</label>
                        </div>
                        <div class="span2 mleft-20 hide" id="labelTurma">
                            <label for="turma">Turma</label>
                        </div>
                        <div class="span2 mleft-20">
                            <label for="salareferencia">Sala Referência</label>
                        </div>
                        <div class="span2 mleft-20">
                            <label for="avaliacao">Avaliação</label>
                        </div>
                        <div class="span2 mleft-20">
                            <label for="professor">Professor</label>
                        </div>
                        <div class="span">
                            <label for="remover">&nbsp;&nbsp;&nbsp;&nbsp;</label>
                        </div>
                    </div>
                </div> <!-- fecha div para títulos da linha sala -->
            </div>

            <div class="clearfix"></div>
            <div class="lnSala" id="linha_sala_componentes">
                <div id="resp" class="lnSala linerepeat"> <!--div linha que é replicada-->
                    <input type="hidden" value="" class="numeracao">

                    <div class="row text-center" id="div_controle">
                        <div class="span3" id="divexterna">
                            <label for="sala1" class="control-label" id="numerador" name="saladeaula">
                                <?php echo $this->form->st_saladeaula; ?>
                            </label> <!--campo nome sala-->
                        </div>
                        <div class="span1" id="divexterna">
                            <label for="disciplina1" class="control-label" id="numerador" name="linhadisciplina">
                                <div class="divButtons">
                                    <label id="lbDisciplina" style="display: none;"></label>
                                    <a class="btn btn-custom btn-small btDisciplina" 
                                       data-toggle="modal" id="0" name="" onclick="marcarModalD($(this).attr('id'));">
                                        Disciplinas
                                    </a>
                                    <input type="hidden" id="id_disciplina" name="salaDeAulaDisciplina" value="">
                                </div>
                            </label> <!--campo botão disciplina-->
                        </div>
                        <div class="span2" id="divexterna"> <!--style="margin-left: 30px;" -->
                            <label for="inscricao1" id="numerador">
                            <span class="control-group">
                                <?php echo $this->form->dt_inicioinscricao; ?>
                            </span>
                                <span class="control-group">
                                <?php echo $this->form->dt_fiminscricao; ?>
                            </span>
                            </label> <!-- campo data inscrição  -->
                        </div>
                        <div class="span2 mleft-20" id="divexterna"> <!-- style="margin-left: 30px;" -->
                            <label for="abertura1" id="numerador">
                                <span class="control-group">
                                    <?php echo $this->form->dt_abertura; ?>
                                </span>
                                <span class="control-group">
                                    <?php echo $this->form->dt_encerramento; ?>
                                </span>
                            </label> <!-- campo data encerramento  -->
                        </div>
                        <div class="span2" id="divexterna"><!--style="margin-left: 30px;" -->
                            <label for="projeto1" id="numerador1" name="linhaprojeto">
                                <div class="text-center divButtons">
                                    <button id="" type="button" class="btn btn-small btnListarProjetos"
                                            data-toggle="modal" data-target="#modalListaProjetosPedagogicos"
                                            onclick="listaProjetosModal($(this).attr('id'));" style="display: none;">
                                        Listar Projetos
                                    </button>
                                    <a class="btn btn-custom btn-small btProjeto" href="#pesquisaProjetos"
                                       data-toggle="modal" id="" name="" onclick="marcaModal($(this).attr('id'))">
                                        Projetos
                                    </a>
                                    <input type="hidden" id="projetosSalvos" name="salaDeAulaProjeto" value="">
                                </div>
                            </label><!-- campo botão projeto  -->
                        </div>
                        <div class="span2 divTurma hide" id="divexterna">
                            <label for="turma1" id="numerador2" name="linhaturma">
                                <div class="text-center divButtons">
                                    <button id="" type="button" class="btn btn-small btnListarTurmas hide"
                                            data-toggle="modal" data-target="#modalListaTurmas"
                                            onclick="listarTurmasModal($(this).attr('id'));" style="display: none;">
                                        Listar Turmas
                                    </button>
                                    <a class="btn btn-custom btn-small btTurma" href="#pesquisaTurmas"
                                       data-toggle="modal" id="" name=""
                                       onclick="vinculaTurmasModal($(this).attr('id'))">
                                        Turmas
                                    </a>
                                    <input type="hidden" id="turmasSalvas" name="salaDeAulaTurma" value="">
                                </div>
                            </label>
                        </div>
                        <!--<div class="span1" id="divexterna">
                            <label for="coordenador1" id="numerador1" name="linhacoordenador">
                                <div id="coordenadores" ></div>
                            </label>
                        </div>-->
                        <div class="span2 mleft-20" id="divexterna">
                            <label for="salareferencia1" class="control-label" id="numerador">
                                <select id="id_disciplinaintegracao" name="id_disciplinaintegracao"
                                        class="widthgerencia">
                                    <option value="">Selecione uma disciplina</option>
                                </select>
                            </label> <!-- Combobox para sala de referência  -->
                        </div>
                        <div class="span2 mleft-20" id="divexterna">
                            <label for="avaliacao1" class="control-label" id="numerador">
                                <select id="id_avaliacaoconjunto" name="id_avaliacaoconjunto" class="widthgerencia">
                                    <option value="">--</option>
                                </select>

                            </label><!-- campo avaliação -->
                        </div>
                        <div class="span2 mleft-20" id="divexterna">
                            <label for="professor1" class="control-label" id="numerador">
                                <?php echo $this->form->id_usuario; ?>
                            </label><!-- campo professor -->
                        </div>
                        <div class="pull-right" id="divexterna">
                            <label class="control-label">
                                <a class="remover btn-small btn-danger" id="btn-remover-sala" rel="tooltip"
                                   data-placement="top" data-original-title="Remover sala de aula">
                                    <i class="icon-remove icon-white"> </i>
                                </a> <!-- campo remover sala de aula  -->
                            </label>
                        </div>
                    </div>
                </div> <!-- fecha linha replicada -->
                <div class="respContent"></div>
                <div id="console"></div>
            </div> <!-- fecha div componentes -->
        </fieldset>
    </div>


    <div class="control-group" style="padding-top:10px; padding-bottom: 3px;">
        <button type="submit" class="btn btn-success pull-right" id="btnSalvar" data-loading-text="Aguarde...">Salvar
        </button>
    </div>

</form>
<!-- div da integração de salas -->
<div id="sincronizacao-moodle" style="display:none;">
    <form id="formSincronizarSalas" action="" method="post" class="formField">
        <div id="escolhe-sistema">
            <label>Salas a serem sincronizadas com o Moodle:</label>
            <input type="hidden" name="id_sistema" id="id_sistema" value="<?= \G2\Constante\Sistema::MOODLE; ?>"/>
            <br>
        </div>
        <table id="conteudo-sincronizacao-moodle" class="table table-hover table-striped"
               style="border: 1px solid #ccc; width: 90%;">
            <thead style="background-color:#657991; color: #FFFFFF;">
            <th><input type="checkbox" id="marcaTodosI" class="checkall"></th>
            <th>Sala de Aula</th>
            </thead>
            <tbody>

            </tbody>
        </table>
        <div id="botoes-sincronizacao">
            <label>
                <button type="reset" onclick="naoSincronizar();" class="btn btn-custom pull-right"
                        id="btnSairSincronizacao" data-loading-text="Aguarde...">Não Sincronizar
                </button>
            </label>
            <label>
                <button type="reset" onclick="sincronizarSalas();" class="btn btn-success pull-right"
                        id="btnSalvarSincronizacao" data-loading-text="Aguarde...">Salvar
                </button>
            </label>
        </div>
    </form>
</div>
<!--fim div integração de salas -->

<div id=""></div>
<!--início modais do gerencia salas-->

<!--modal integração-->
<div aria-hidden="false" style="display: none;" id="modal-integra-salas" class="modal hide fade in" tabindex="-1">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3>Integração</h3>
    </div>
    <div class="modal-body">
        <label>Deseja integrar essas salas?</label>
        <?php echo $this->form->id_sistema; ?>
    </div>
    <div class="modal-footer">
        <input type="hidden" name="bl_integracao" id="bl_integracao" value="">
        <button type="submit" class="btn btnClose" id="naoIntegra" onclick="setIntegracao(0);">Salvar sem Integrar
        </button>
        <button type="submit" class="btn btn-custom" id="integra" onclick="setIntegracao(1);">Integrar</button>
    </div>
</div>
<!--fim modal integração-->

<!--modal pesquisa disciplina-->
<div id="pesquisaDisciplina" class="modal hide fade" aria-hidden="true" aria-labelledby="windowTitleLabel" role="dialog"
     tabindex="-1" style="display: none;">
    <div class="modal-header">
        <h5>
            Pesquisa de Disciplinas
        </h5>
    </div>
    <div class="modal-body">
        <?php echo $this->action('modal-pesquisa-disciplina', 'util', 'default') ?>
    </div>
    <div class="modal-footer">
        <a class="btn" onclick="fechaModal();"> Sair </a>
        <a class="btn btn-custom salvaD" id="" onclick="buscaDisciplina($(this).attr('id'));"> Salvar </a>
    </div>
</div>
<!--fim modal pesquisa disciplina-->

<!--modal pesquisa projeto pedagogico-->
<div id="pesquisaProjetos" class="modal hide fade" aria-hidden="true" aria-labelledby="windowTitleLabel" role="dialog"
     tabindex="-1" style="display: none;">
    <div class="modal-header">
        <a class="close" data-dismiss="modal"> × </a>
        <h5>
            Selecione quais projetos pedagógicos ou áreas podem usar essas salas.
        </h5>

        <div class="row-fluid">
            <input id="inputBuscaProjetos" type="text" class="span12" placeholder="Pesquisar...">
        </div>

    </div>
    <div class="modal-body">


        <div id="forModalPesquisa" class="row-fluid" style="position: relative;">
            <div>
                <?php echo $this->action('get-area-projeto-pedagogico', 'util', 'default');
                ?>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a class="btn" onclick="fechar('#pesquisaProjetos');"> Sair </a>
        <a class="btn btn-custom salvaPP" id=""> Salvar </a>
    </div>
</div>
<!--fim modal pesquisa projeto pedagogico-->

<!--Modal para listar os projetos pedagógicos inseridos -->

<div id="modalListaProjetosPedagogicos" class="modal hide fade" aria-hidden="true" aria-labelledby="windowTitleLabel"
     role="dialog" tabindex="-1" style="display: none">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4>Projetos inseridos:</h4>
    </div>

    <div class="modal-body">
        <div id="areaListaProjetosPedagogicos">

        </div>
    </div>

    <div class="modal-footer">
        <a href="#" class="btn btn-custom" data-dismiss="modal">OK</a>
    </div>
</div>

<!--Modal para listar as turmas inseridas  -->

<div id="modalListaTurmas" class="modal hide fade" aria-hidden="true" aria-labelledby="windowTitleLabel"
     role="dialog" tabindex="-1" style="display: none">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4>Turmas inseridas:</h4>
    </div>

    <div class="modal-body">
        <div id="turmasSelecionadas">

        </div>
    </div>

    <div class="modal-footer">
        <a href="#" class="btn btn-custom" data-dismiss="modal">OK</a>
    </div>
</div>

<!--modal pesquisa turmas-->
<div id="pesquisaTurmas" class="modal hide fade" aria-hidden="true" aria-labelledby="windowTitleLabel" role="dialog"
     tabindex="-1" style="display: none;">
    <div class="modal-header">
        <a class="close" data-dismiss="modal"> × </a>
        <legend>
            TURMA
        </legend>
    </div>
    <div class="modal-body">
        <h4>Projetos Selecionados</h4>
        <div id="areaListaProjetosPedagogicosToTurma">
        </div>
        <br>
        <h4>Selecione as turmas</h4>
        <div style="padding-bottom:5px;">
            <input type="search" class="input-search-turmas span4 search-query" alt="pesquisa-turmas"
                   placeholder="Filtrar Turmas"/>
        </div>
        <div id="listaTurmasDisponiveis">
        </div>
    </div>
    <div class="modal-footer">
        <a class="btn" onclick="fechar('#pesquisaTurmas');"> Sair </a>
        <a class="btn btn-custom salvaTurmas hide" id=""> Salvar </a>
    </div>
</div>
<!--fim modal pesquisa projeto pedagogico-->

<!--fim modais do gerencia salas-->

<script type="text/template" id="view-cabecalho-turmas">
    <div class="well well-small">
        <div class="row-fuid">
            <table class=" pesquisa-turma backgrid backgrid-selectall table table-bordered table-hover table-striped">
                <thead>
                <tr>
                    <th><input type="checkbox" class="checkboxAllTurmas" id="checkboxAllTurmas" name="checkboxAllTurmas"></th>
                    <th>Turma</th>
                </tr>
                </thead>
                <tbody id="tableTurma"></tbody>
            </table>
        </div>
    </div>
</script>


<script type="text/template" id="item-turma">
    <td><input type="checkbox" class="checkboxTurma" id="<%=id_turma%>"
               name="checkboxTurma" <% if(checked==true){%>checked<%}%>
               value="<%=id_turma%>" st_turma="<%=st_turma%>"></td>
    <td><%=st_turma.toUpperCase()%></td>
</script>


<script src="<?php echo $this->baseUrl(); ?>/js/CollectionView.js"></script>
<script src="<?php echo $this->baseUrl(); ?>/js/jquery.jstree.js"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/jquery/syntax/!script.js"></script>
<script src="<?php echo $this->baseUrl(); ?>/js/backbone/views/Util/SelectView.js"></script>
<script type="text/javascript" >
    <?php echo $this->render("/sala-de-aula/ComponenteSelectMoodle.js")?>
</script>
<script type="text/javascript" src="<?php echo $this->url() ?>/js"></script>
