<html>
<head>
	<title>EAD1 - WebService de CEP</title>
</head>
<body>
	<fieldset>
		<legend>WebService de CEP</legend>
		<form action="<?php echo $this->baseUrl; ?>/webservice/resultcep/">
			<label>CEP:</label>
			<input type="text" name="cep" />
			<input type="submit" name="Enviar" value="Enviar" />
		</form>
	</fieldset>
</body>
</html>