<html>
<head>
	<title>EAD1 - WebService</title>
</head>
<body>
	<fieldset>
		<legend>Lista de WebServices</legend>
		<ul>
			<li><a href="<?php echo $this->baseUrl; ?>/webservice/cep">CEP</a></li>
		</ul>
	</fieldset>
</body>
</html>