/***** Fontes *****/
@font-face {
    font-family: 'allerregular';
    src: url('fonts/aller_std_rg-webfont.eot');
    src: url('fonts/aller_std_rg-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/aller_std_rg-webfont.woff') format('woff'), url('fonts/aller_std_rg-webfont.ttf') format('truetype'), url('fonts/aller_std_rg-webfont.svg#allerregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*****  Layout  *****/
body {
    padding-top: 0px; /* 60px to make the container go all the way to the bottom of the topbar */
}

header {
    border: 1px solid #000;
    background-color: #333;
    margin: 1% auto;
    width: 98%;
}

p {
    color: #fff;
}

.hidden {
    display: none;
}

.pa-sair {
    color: #eee;
    margin-top: 10px;
}

.pa-sair:hover {
    color: white;
}

button {
    background: transparent;
    border: none
}

.modal {
    width: 90% !important;
    margin: 0 auto !important;
    left: 5% !important;
}

.pa-texto-mensagem {
    height: 90px;
    background: rgba(255, 0, 0, .3);
    border: 1px solid #F00;
    color: #FFF;
    overflow-y: auto;
}

.pa-texto-mensagem p {
    color: #FFF;
    padding: 0 5px;
}

/*****  Boas Vindas  *****/
.content-boas-vindas {
    background: url(../../img/primeiro-acesso/background/tela1.jpg) no-repeat;
    min-height: 640px;
}

.content-boas-vindas h1 {
    color: #fff;
    font-size: 4em;
    font-family: 'allerregular', sans-serif;
    line-height: 1;
}

/*****  Dados de Contato  *****/
.content-dados-contato {
    background: url(../../img/primeiro-acesso/background/tela2.jpg) no-repeat;
    min-height: 640px;
}

#pa-alteracoes-dados-contato,
#pa-alteracoes-dados-cadastrais {
    background: rgba(255, 255, 255, .5);
    padding: 5px;
}

.pa-dados-contato,
.pa-dados-cadastrais {
    background: #fff;
    height: 400px;
    margin-top: 10px;
    overflow-y: auto;
}

.pa-dados-contato p,
.pa-dados-cadastrais p {
    color: #000 !important;
    margin: 5px;
}

.pa-aba {
    margin-top: 5px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background: #bbb;
    padding: 15px 0;
    border: 1px solid #bbb;
    max-width: 210px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
}

.pa-aba.active,
.pa-aba:hover {
    background: #ddd;
    border: 1px solid #ddd;
}

#motivo {
    width: 80%;
}

/*****  Dados Cadastrais  *****/
.content-dados-cadastrais {
    background: url(../../img/primeiro-acesso/background/tela3.jpg) no-repeat;
    min-height: 640px;
}

/*****  Aceitação do Contrato  *****/
.content-aceitacao-contrato {
    background: url(../../img/primeiro-acesso/background/tela3.jpg) no-repeat;
    min-height: 640px;
}

.pa-aceitacao-contrato {
    width: 90%;
    background: rgba(255, 255, 255, 0.75);
    height: 400px;
    overflow-y: auto;
    padding: 15px;
}

.pa-aceitacao-contrato p {
    color: #000 !important;
}

.pa-aceitacao-contrato-acoes {
    width: 90%;
    background: rgba(255, 255, 255, 0.9);
    padding: 15px;
}

.pa-aceitacao-contrato-acoes span {
    color: red;
}

/*****  Mensagem Informativa  *****/
.content-mensagem-informativa {
    background: url(../../img/primeiro-acesso/background/tela5.jpg) no-repeat;
    min-height: 640px;
}

.content-mensagem-informativa h1 {
    color: #fff;
    font-size: 4em;
    font-family: 'allerregular', sans-serif;
    line-height: 1;
}

#variaveis {
    max-height: 300px;
    overflow-x: hidden;
    overflow-y: auto;
}

#variaveis span.label {
    font-weight: normal;
    margin-right: 5px;
    cursor: pointer;
}

#variaveis span.label:hover {
    background-color: #666;
}