<?php

$html = '<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" >';
foreach ($this->dados as $dados) {
    $html .= '<table border="1" >';
    $html .= '<caption>' . $dados['st_projetopedagogico'] . '</caption>';
    $html .= '<thead >';
    $html .= '<tr style="background-color:#395870">';
    $html .= '<th class="span5">Entidade</th>';
    $html .= '<th>Projeto Pedagógico</th>';
    $html .= '<th>Produto</th>';
    $html .= '<th>Turma</th>';
    $html .= '<th>Nome do Aluno</th>';
    $html .= '<th>CPF</th>';
    $html .= '<th>Número da Matrícula</th>';
    $html .= '<th>Número da Venda</th>';
    $html .= '<th>Data da Matrícula</th>';
    $html .= '<th>Situação da Matrícula</th>';
    $html .= '<th>Evolução da Matrícula</th>';
    $html .= '<th>Valor</th>';
    $html .= '</tr>';
    $html .= '</thead>';
    $html .= '<tbody>';
    $totalMatriculas = 0;
    $valorTotal = 0;

    foreach ($dados['vendas'] as $venda) {
        $totalMatriculas++;
        $valorTotal = $valorTotal + $venda['nu_valorliquido'];

        $html .= '<tr>';
        $html .= '<td>' . $venda['st_nomeentidade'] . '</td>';
        $html .= '<td>' . $venda['st_projetopedagogico'] . '</td>';
        $html .= '<td>' . $venda['st_produto'] . '</td>';
        $html .= '<td>' . $venda['st_turma'] . '</td>';
        $html .= '<td>' . $venda['st_nomecompleto'] . '</td>';
        $html .= '<td style="text-align: center">' . $venda['st_cpf'] . '</td>';
        $html .= '<td style="text-align: center">' . $venda['id_matricula'] . '</td>';
        $html .= '<td style="text-align: center">' . $venda['id_venda'] . '</td>';
        $html .= '<td style="text-align: center">' . $venda['dt_cadastro'] . '</td>';
        $html .= '<td style="text-align: center">' . $venda['st_situacaomatricula'] . '</td>';
        $html .= '<td style="text-align: center">' . $venda['st_evolucaomatricula'] . '</td>';
        $html .= '<td style="text-align: center">' . number_format($venda['nu_valorliquido'],2,',','') . '</td>';
        $html .= '</tr>';
    }
    $html .= '</tbody>';
    $html .= '<tfoot >';
    $html .= '<tr style="background-color:#cecfd5">';
    $html .= '<th colspan="11" style="text-align: right">Total de Matrículas</th>';
    $html .= '<th style="color:#ca0000; text-align: center">' . $totalMatriculas . '</th>';
    $html .= '</tr>';
    $html .= '<tr>';
    $html .= '<th colspan="11" style="text-align: right">Valor Total</th>';
    $html .= '<th style="color:#ca0000; text-align: center">' .number_format($valorTotal,2,',',''). '</th>';
    $html .= '</tr>';
    $html .= '</tfoot>';
    $html .= '</table>';
    $html .= '<caption></caption>';

}
$arquivo = 'relatorio_turma_x_determinado_mes_' . date('d-m-Y').'.'.$this->tipo;
header("Last-Modified: " . gmdate("D,d M YH:i:s") . " GMT");
header("Cache-Control: no-cache, must-revalidate");
header("Pragma: no-cache");
header("Content-Disposition: attachment; filename=\"{$arquivo}\"");
header("Content-Description: PHP Generated Data");

echo $html;
?>
<style type="text/css" media="all">
    /*<style type="text/css" media="print" id="test">*/
    @page {
        margin: 1cm;
        size: 'A4';
    }

    table {
        width: 100%;
    }

    table, td, th {
        border: solid 1px #000;
        border-collapse: collapse;
        text-align: center;
        font-family: "Helvetica Neue", "Arial", sans-serif;
        font-size: 10pt !important;
    }

    td, th {
        padding: 2px;
    }

</style>