<script type="text/template" id="folha_layout">
    <form>
        <div class="well well-large">
            <legend>Filtros</legend>
            <div class="row-fluid">
                <div class="control-group">
                    <div class="span12">
                        <div class="span6" id="div-combo-holding">
                            <label for="id_holding">Holdings</label>
                            <div id="combo_holding"></div>
                            <select name="id_holding" required id="id_holding">
                                <option value="">Selecione</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row-fluid">
                <div class="control-group">
                    <div class="span12">
                        <div class="span6" id="div-combo-entidade">
                            <label for="id-entidade">Entidade</label>
                            <div id="combo-entidade"></div>
                            <select id="id_entidade" name="id_entidade" required class="span12" disabled>
                                <option value="">Selecione</option>
                            </select>
                        </div>
                        <div class="span6" id="div-combo-projeto">
                            <label for="id_projeto">Projeto Pedagógico</label>
                            <select id="id_projeto" name="id_projeto" required class="span12" disabled>
                                <option value="">Selecione</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row-fluid">
                <div class="control-group">
                    <div class="span12">
                        <div class="span6" id="div-combo-turma">
                            <label for="id_turma-produto">Turma\Produto</label>
                            <select id="id_turma-produto" name="id_turma-produto" class="span12" disabled>
                                <option value="">Selecione</option>
                            </select>
                        </div>
                        <div class="span6" id="div-data">
                            <div class="span6">
                                <label for="">Mês</label>
                                <select id="dt_mes_filtro" name="dt_mes_filtro" required class="span12">
                                    <option value="1">Janeiro</option>
                                    <option value="2">Fevereiro</option>
                                    <option value="3">Março</option>
                                    <option value="4">Abril</option>
                                    <option value="5">Maio</option>
                                    <option value="6">Junho</option>
                                    <option value="7">Julho</option>
                                    <option value="8">Agosto</option>
                                    <option value="9">Setembro</option>
                                    <option value="10">Outubro</option>
                                    <option value="11">Novembro</option>
                                    <option value="12">Dezembro</option>
                                </select>
                            </div>
                            <div class="span6">
                                <label for="">Ano</label>
                                <select name="dt_ano_filtro" id="dt_ano_filtro" required class="span12">
                                    <?php for ($i = date('Y'); $i > date('Y') - 10; $i--) { ?>
                                        <option value="<?php echo $i ?>"><?php echo $i ?></option>
                                    <?php } ?>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="span12">
                            <div class="span6"></div>
                            <div class="span6">
                                <div class="pull-right">
                                    <button class="btn btn-success" type="submit" id="btn_gerar_relatorio">Gerar
                                        Relatório
                                    </button>
                                    <button class="btn btn-success" type="button" id="btn_imprimir_relatorio" disabled>
                                        Imprimir
                                        Relatório
                                    </button>
                                    <button class="btn btn-success" type="button" id="btn_gerar_xls" disabled>Gerar XLS
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <div id="tabela-relatorio"></div>
        <div id="container-table"></div>
    </form>
</script>

<script type="text/template" id="script_tabela_relatorio">
<div class="well well-large">
    <legend><%=st_projetopedagogico%></legend>
    <div class="row-fluid">
        <div class="control-group span12" style="overflow: auto; height: 100%;">
            <table role="dialog" class="table table-bordered table-striped backgrid">
                <thead>
                <tr>
                    <th class="span5">Entidade</th>
                    <th>Projeto Pedagógico</th>
                    <th>Produto</th>
                    <th>Turma</th>
                    <th>Nome do Aluno</th>
                    <th style="text-align: center">CPF</th>
                    <th style="text-align: center">Número da Matrícula</th>
                    <th style="text-align: center">Número da Venda</th>
                    <th style="text-align: center">Data da Matrícula</th>
                    <th style="text-align: center">Situação da Matrícula</th>
                    <th style="text-align: center">Evolução da Matrícula</th>
                    <th style="text-align: center" class="span2">Valor</th>
                </tr>
                </thead>
                <tbody id="tabelaDadosRelatorio"></tbody>
                <tfoot>
                <tr>
                    <th colspan="11" style="text-align: right">Total de Matrículas</th>
                    <th style="text-align: center" id="n6"><%= totalMatriculas%></th>
                </tr>
                <tr>
                    <th colspan="11" style="text-align: right">Valor Total</th>
                    <th style="text-align: center" id="n6">R$ <%= totalValor%></th>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
</script>

<script type="text/template" id="item-relatorio">
    <td><%= st_nomeentidade %></td>
    <td><%= st_projetopedagogico %></td>
    <td><%= st_produto %></td>
    <td><%= st_turma %></td>
    <td><%= st_nomecompleto%></td>
    <td style="text-align: center"><%= st_cpf%></td>
    <td style="text-align: center"><%= id_matricula%></td>
    <td style="text-align: center"><%= id_venda%></td>
    <td style="text-align: center"><%= dt_cadastro%></td>
    <td style="text-align: center"><%= st_situacaomatricula%></td>
    <td style="text-align: center"><%= st_evolucaomatricula%></td>
    <td style="text-align: center"><%= nu_valorliquido%></td>
</script>


<script type="text/javascript"> $('#htmlContent script[type="text/template"]').appendTo($('#templateHolder'));</script>
<script type="text/javascript" src="<?php echo $this->url() ?>/js"></script>