body { 
	background-color:#069; margin:0; font-family:Verdana, Geneva, sans-serif; font-size:11px; color:#000; 
}

#body { 
	width:1124px; margin:0 auto;  
}

div {
	margin:0;
}

div#cabecalho_login {
	height:80px;	
	
}

div#rodape_login {
	height:80px;	
	
}

div#corpo_login {
	height:350px;	
	background-color:#FFF;
	-moz-border-radius: 15px; -webkit-border-radius: 15px;
	-moz-box-shadow: 0 0 5px 5px #000;
	-webkit-box-shadow: 0 0 5px 5px #000;
	box-shadow: 0 0 5px 5px #000;
}

#recuperar-senha{
	text-decoration: none;
	font: bold;
	color: black;
	font-size: 11px;
	margin-left: 25px;
	font-weight: bolder;
	text-align: center;
}

#recuperar-senha:HOVER{
	color: red;
}

#dessenha, #nomusuario{
	width: 170px;
}

fieldset { 
	border:0;
	width:250px;
	float:right;
	margin-top:100px;
	margin-right:100px;
	border:1px solid #000;
	padding:10px;
	-moz-border-radius: 5px; -webkit-border-radius: 5px;
}

#informacoes {
	float:left;
	margin-top:100px;
	margin-left:10px;
	padding-left:260px;
	height:200px;
	width:400px;
}

legend {
	font-size:16px;

}

label {
	color:#033;
	font-weight:bolder;
}

.error {
	color:#F00;	
}