<?php if ($this->mensagem): ?>
    <div class="alert alert-error">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <?php echo $this->mensagem; ?>
    </div>
<?php endif; ?>
<form id="formLivro" name="formLivro" method="post" action="">
    <input type="hidden" name="id_perfil" id="id_perfil" value="<?php echo $this->idPerfil ?>"/>
    <div id="containerLivro"></div>
    <div class="well well-large">
        <fieldset>
            <legend>Professores/Autores  <a href="javascript:novoAutor()" class="btn-success btn pull-right" data-toggle="tooltip" title="Adicionar Item"><i class="icon-plus icon-white"></i></a></legend>
            <table id="tableAutores" class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Autor</th>
                        <th>Opções</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </fieldset>
    </div>
    <div class="well well-large">
        <fieldset>
            <legend>Organizações</legend>
            <div id="entidades"></div>
        </fieldset>
    </div>

    <div class="form-actions">
        <div class="pull-right">
            <button type="submit" class="btn-success btn" data-toggle="tooltip" title="Salvar" id="btnSalvar">Salvar</button>
        </div>
    </div>
</form>   


<div id="modalColecao" class="modal hide fade">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Coleção</h3>
    </div>
    <div class="modal-body">
        <a href="javascript:novaColecao()" class="btn btn-success btn-small" ><i class="icon-plus-sign icon-white"></i> Adicionar Coleção</a>

        <table id="tabela-colecao" class='backgrid backgrid-selectall table table-striped table-bordered table-hover' style="margin-top: 10px;">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Coleção</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody> 
                <!-- Local onde vamos inserir todo o conteúdo vindo da API -->
                <!-- usando os templates acima -->
            </tbody>
        </table>
    </div>
    <div class="modal-footer">
        <a href="#" data-toggle="tooltip" data-dismiss="modal" aria-hidden="true" title="Fechar" class="btn">Fechar</a>
    </div>
</div>

<script type="text/template" id="livroAutorList">
    <tr>
    <td><%=st_nomecompleto%></td>
    <td>
    <label class="checkbox inline">
    <span class="label label-important">Não será exibido</span>
    </label>
    </td>
    <td>
    <a class="btn edit-link" data-toggle="tooltip" title="Editar Item">Editar</a>
    </td>
    </tr>
</script>
<script type="text/template" id="livroAutorAdd"> 
    <tr>
    <td>
    <input type="hidden" name="id_perfilreferencia" value="<%=id_perfilreferencia%>">
    <select name="id_usuario">
    <option value="">Selecione</option>
    <?php
    if ($this->autores):
        foreach ($this->autores as $autor) :
            ?>
            <option value="<?php echo $autor['id_usuario']; ?>"><?php echo $autor['st_nomecompleto']; ?></option>
            <?php
        endforeach;
    endif;
    ?>
    </select>
    </td>
    <td>
    <label class="checkbox inline">
    <input type="checkbox" name="bl_autor" data-toggle="tooltip" title="Marque para não exibir como autor." value="0">
    <span class="label label-important">Não será exibido</span>
    </label>
    </td>
    <td>
    <a class="btn btn-success salva-autor" data-toggle="tooltip" title="Salvar Item"><i class="icon-ok icon-white"></i></a>
    <a class="btn-danger btn remove-autor" data-toggle="tooltip" title="Remover Item"><i class="icon-remove icon-white"></i></a>
    </td>
    </tr>
</script>
<script type="text/template" id="livroAutorEdit"> 
    <tr>
    <td><input type="hidden" name="id_perfilreferencia" value="<%=id_perfilreferencia%>"><%=st_nomecompleto%></td>
    <td>
    <label class="checkbox inline">
    <input type="checkbox" name="bl_autor" data-toggle="tooltip" title="Marque para não exibir como autor." value="0">
    <span class="label label-important">Não será exibido</span>
    </label>
    </td>
    <td>
    <a class="btn btn-success salva-autor" data-toggle="tooltip" title="Salvar Item"><i class="icon-ok icon-white"></i></a>
    <a class="btn-danger btn remove-autor" data-toggle="tooltip" title="Remover Item"><i class="icon-remove icon-white"></i></a>
    <a href="javascript:" class="cancel-link btn">Cancelar</a>
    </td>
    </tr>
</script>
<script type="text/template" id="livroColecaoTemplateEdit"> 
    <tr>
    <form>
    <td><%=id_livrocolecao %> </td>
    <td><input name="st_livrocolecao" value="<%= st_livrocolecao %>"/></td>
    <td width="200">
    <a href="javascript:" class="delete-link btn btn-mini btn-danger">Deletar</a>
    <a href="javascript:" class="save-link btn btn-mini btn-success">Salvar</a>
    <a href="javascript:" class="cancel-link btn btn-mini">Cancelar</a>
    </td>
    </form>
    </tr>
</script>

<script type="text/template" id="livroColecaoTemplateList">
    <tr>
    <td><%=id_livrocolecao %> </td>
    <td><%= st_livrocolecao %> </td>
    <td width="200">
    <a href="javascript:" class="edit-link btn btn-mini btn-custom">Editar</a>
    </td>
    </tr>
</script>

<script id="templateLivro" type="text/template">
    <?php echo $this->form->id; ?>
    <fieldset>
    <div class="row-fluid" >
    <div class="span4">
    <label>
    Título:
    <?php echo $this->form->st_livro; ?>
    </label>
    </div>
    <div class="span4">
    <label>
    ISBN:
    <?php echo $this->form->st_isbn; ?>
    </label>
    </div>
    <div class="span4">
    <label>
    Situação:
    <?php echo $this->form->id_situacao; ?>
    </label>
    </div>
    </div>
    <div class="row-fluid">
    <div class="span4">
    <label>
    <div>Coleção:</div>
    <div class="span10">
    <?php echo $this->form->id_livrocolecao; ?>
    </div>
    <div class="span1">
    <a class="btn-success btn" id="showColecao" data-toggle="tooltip" title="Adicionar Item"><i class="icon-plus icon-white"></i></a>
    </div>
    </label>
    </div>
    <div class="span4">
    <label>
    Formato:
    <?php echo $this->form->id_tipolivro; ?>
    </label>
    </div>
    <div class="span4">
    <label>
    Código Controle:
    <?php echo $this->form->st_codigocontrole ?>
    </label>
    </div>
    <div class="row-fluid">
    <div class="span4">
    <label>
    Edição:
    <?php echo $this->form->st_edicao ?>
    </label>
    </div>
    <div class="span4">
    <label>
    Ano de Lançamento:
    <?php echo $this->form->nu_anolancamento ?>
    </label>
    </div>
    <div class="span2">
    <label>
    N&ordm; de Páginas:
    <?php echo $this->form->nu_pagina ?>
    </label>
    </div>
    <div class="span2">
    <label>
    <div>Peso:</div>
    <?php echo $this->form->nu_peso ?>
    <span data-toggle="tooltip" title="Gramas">g</span>
    </label>
    </div>
    </div>
    </div>
    </fieldset>
</script>

<script type="text/javascript" src="<?php echo $this->baseUrl(); ?>/js/spinner/spinner.js"></script>
<script type="text/javascript" src="<?php echo $this->baseUrl(); ?>/js/CollectionView.js"></script>

<script type="text/javascript"> $('#htmlContent script[type="text/template"]').appendTo($('#templateHolder'));</script>
<script type="text/javascript" src="/livro/js"></script>