<script type="text/javascript">
    <?php if ($this->conjuntoavaliacao): ?>
    avaliacaoconjunto = <?php echo $this->conjuntoavaliacao; ?>;
    <?php else: ?>
    avaliacaoconjunto = null;
    <?php endif; ?>
</script>

<script type="text/javascript" src="/gestor2/js/backbone/views/AvaliacaoConjunto/AvaliacaoConjuntoView.js?d=<?=date('his')?>"></script>
<script type="text/javascript" src="/avaliacao-conjunto/js"></script>