@CHARSET "UTF-8";
.content {
    overflow: visible;
}
#content-wrapper {
    background: none repeat scroll 0 0 transparent;
}
.content-top {
    background-image: url("../images/app/content_top_bg_trFix.gif");
}
#application-content {
    background: none repeat scroll 0 0 #FFFFFF;
    margin: 0 -1px;
    padding: 5px;
}
.js .theme-group-content, .js #submitBtn, .js select.texture, .js #themeGallery, .js #help {
    display: none;
}
#themeRoller {
    background: none repeat scroll 0 0 #000000;
    border: 1px solid #222222;
    color: #FFFFFF;
    font-family: Verdana,Arial,sans-serif;
    margin: 0;
    padding: 0 4px 4px;
    position: relative;
    width: 214px;
}
.content #themeRoller {
    float: left;
}
#themeRoller a:focus, div.content * {
    outline: 0 none !important;
}
#themeHeader h1 {
    background: url("../images/app/logo_themeRoller_sml.gif") no-repeat scroll -5px 0 transparent;
    color: #FFFFFF;
    font-size: 1.5em;
    font-weight: normal;
    height: 46px;
    margin: 0 0 -1px;
    overflow: hidden;
    padding: 0;
    text-indent: -999999px;
}
#themeRoller, #themeRoller .corner-all, #themeRoller input, #themeRoller select, #themeGallery a.download, #themeGallery a.edit, .texturePicker, .farbtastic, #getBookmarklet {
    border-radius: 4px 4px 4px 4px !important;
}
#themeRoller .corner-bottom {
    border-bottom-left-radius: 4px !important;
    border-bottom-right-radius: 4px !important;
}
#themeRoller .corner-top {
    border-top-left-radius: 4px !important;
    border-top-right-radius: 4px !important;
}
#themeRoller form {
    clear: both;
    margin: 10px 0;
}
#themeRoller fieldset {
    border: 0 none;
    clear: both;
    display: block;
    margin: 0;
    padding: 0;
}
#themeRoller .icon, #getBookmarklet .icon {
    display: block;
    height: 16px;
    overflow: hidden;
    text-indent: -999999px;
    width: 16px;
}
#themeRoller #rollerTabsNav {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: url("../images/app/bg_tr_tabs.png") repeat-x scroll 0 50% #000000;
    border-color: #222222 #222222 -moz-use-text-color;
    border-style: solid solid none;
    border-width: 1px 1px 0;
    color: #222222;
    font-size: 1em;
    font-weight: bold !important;
    list-style: none outside none;
    margin: 0;
}
#themeRoller #rollerTabsNav .widget-header a {
    color: #222222;
}
#themeRoller #rollerTabsNav li {
    background: url("../images/app/bg_tr_tabs_tab.png") repeat-x scroll 0 50% #333333;
    border: 1px solid #000000;
    color: #DDDDDD !important;
    float: left;
    font-weight: normal;
}
#themeRoller #rollerTabsNav li a {
    color: #DDDDDD;
    text-decoration: none;
}
#themeRoller #rollerTabsNav li.state-hover {
    background: url("../images/app/bg_tr_tabs_tab_hover.png") repeat-x scroll 0 50% #333333;
    border: 1px solid #000000;
    color: #FFFFFF !important;
    font-weight: normal;
}
#themeRoller #rollerTabsNav li.state-hover a {
    color: #FFFFFF;
    text-decoration: none;
}
#themeRoller #rollerTabsNav li.ui-tabs-selected {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #000000;
    border-color: #111111 #111111 #000000;
    border-style: solid solid none;
    border-width: 1px 1px medium;
    color: #FFFFFF !important;
    font-weight: normal;
    outline: medium none;
}
#themeRoller #rollerTabsNav li.ui-tabs-selected a {
    color: #FFFFFF;
    outline: medium none;
    text-decoration: none;
}
#themeRoller #rollerTabsNav li, #themeRoller #rollerTabsNav li.ui-tabs-selected {
    padding: 0.2em 0.3em;
}
#rollerTabs {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    font-family: Verdana,Arial,sans-serif;
    font-size: 1em !important;
    font-weight: normal;
    margin: 0;
    padding: 2px;
}
#rollerTabsNav {
    padding: 0.2em 0.2em 0;
    position: relative;
}
#rollerTabsNav li {
    border-bottom: 0 none;
    float: left;
    margin-bottom: 0;
    margin-right: 0.1em;
    padding: 0;
}
#rollerTabsNav li.ui-tabs-selected {
    position: relative;
    z-index: 10;
}
#rollerTabsNav li a {
    display: block;
    margin: 0;
    padding: 0.4em 0.55em;
    position: relative;
    text-decoration: none;
}
#rollerTabsNav li.ui-tabs-selected {
    margin-bottom: -1px;
    padding-bottom: 1px;
}
#rollYourOwn, #themeGallery {
    clear: left;
    display: block;
    padding: 20px 0;
}
#rollerTabs .ui-tabs-panel {
    background: none repeat scroll 0 0 transparent !important;
    border: 0 none !important;
    color: #FFFFFF;
    display: block !important;
}
#rollerTabs .ui-tabs-hide {
    display: none !important;
}
#downloadTheme {
    background: url("../images/app/bg_download_btn.png") repeat-x scroll 0 50% #FA9300;
    border: 1px solid #111111;
    clear: both;
    color: #222222;
    float: left;
    margin: -2px 0 14px;
    padding: 0.3em 1.8em 0.4em 2.8em;
    position: relative;
    text-decoration: none;
}
#downloadTheme span.icon {
    background-image: url("../images/app/tr_icons_white.png");
    background-position: -128px -192px;
    left: 0.5em;
    margin-top: -8px;
    position: absolute;
    top: 50%;
}
#downloadTheme:hover {
    border-color: #000000;
}
#legacyMsg {
    font-size: 1em;
    margin: 20px 0;
}
#downloadLegacyTheme {
    color: #666666;
}
#themeRoller .theme-group {
    margin: 1px 0;
    width: 210px;
}
#themeRoller .theme-group-header {
    cursor: pointer;
    padding: 0.4em 0;
}
#themeRoller .theme-group .theme-group-header.state-default {
    background: url("../images/app/bg_tr_group_headers.png") repeat-x scroll 0 50% #111111;
    border: 1px solid #222222;
    color: #AAAAAA !important;
    font-weight: normal;
}
#themeRoller .theme-group .theme-group-header.state-default a {
    color: #AAAAAA;
    text-decoration: none;
}
#themeRoller .theme-group .theme-group-header.state-active {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: url("../images/app/bg_tr_group_headers_active.png") repeat-x scroll 0 50% #333333;
    border-bottom: 0 none !important;
    border-left: 1px solid #444444;
    border-right: 1px solid #444444;
    border-top: 1px solid #444444;
    color: #FFFFFF !important;
    font-weight: normal;
    outline: medium none;
}
#themeRoller .theme-group .theme-group-header.state-active a {
    color: #FFFFFF;
    outline: medium none;
    text-decoration: none;
}
#themeRoller .theme-group .theme-group-content {
    background: url("../images/app/bg_tr_group_headers_content.png") repeat-x scroll 0 0 #333333;
    border: 1px solid #444444;
    color: #FFFFFF;
}
#themeRoller .theme-group .theme-group-header.state-hover {
    background: url("../images/app/bg_tr_group_headers_hover.png") repeat-x scroll 0 50% #1A1A1A;
    border: 1px solid #444444;
    color: #CCCCCC !important;
    font-weight: normal;
}
#themeRoller .theme-group .theme-group-header.state-hover a {
    color: #CCCCCC;
    text-decoration: none;
}
#themeRoller .theme-group .theme-group-header span.icon {
    background-image: url("../images/app/tr_icons_white.png");
    float: left;
    margin: -2px 3px 0 0;
}
#themeRoller .state-active span.icon {
    margin: -1px 2px 0 1px !important;
}
#themeRoller .theme-group .theme-group-header span.icon-triangle-1-e {
    background-position: -32px -16px;
}
#themeRoller .theme-group .theme-group-header span.icon-triangle-1-s {
    background-position: -64px -16px;
}
#themeRoller .theme-group .theme-group-header div.state-preview {
    float: right;
    font-size: 9px !important;
    font-weight: normal !important;
    margin: -2px 3px 0 0;
    padding: 1px 2px 2px;
}
#themeRoller .theme-group-content {
    border-top: 0 none !important;
    padding: 10px 5px 10px 23px;
}
#themeRoller .theme-group-collapsed .theme-group-content {
    display: none;
}
#themeRoller .theme-group h3 {
    font-size: 0.8em;
    font-weight: bold;
    text-transform: uppercase;
}
#themeRoller .field-group {
    float: left;
    margin: 10px 4px 0 0;
    width: 53px;
}
#global-font .field-group, #global-corners .field-group, #themeRoller .field-group-background, #themeRoller .field-group-opacity, #Shadow .field-group {
    clear: both;
    float: none;
    margin: 4px 0 0;
    width: auto;
}
#themeRoller .field-group-border, #themeRoller .field-group-opacity, #themeRoller .field-group-corners {
    clear: left;
}
#themeRoller .field-group label {
    display: block;
    font-size: 1em;
    margin: 6px 0 5px;
}
#global-font .field-group label, #global-corners .field-group label, #themeRoller .field-group-opacity label, #Shadow .field-group label, #Shadow .field-group-opacity label {
    float: left;
    margin: 0 4px 0 0;
    text-align: right;
    width: 60px;
}
#global-font .field-group label {
    width: 35px;
}
#Shadow .field-group label {
    width: 100px;
}
#themeRoller .field-group-opacity label {
    text-align: left;
    width: auto;
}
#Shadow .field-group-background label {
    float: none;
    padding-bottom: 5px;
    text-align: left;
    width: auto;
}
#themeRoller input, #themeRoller select {
    background: none repeat scroll 0 0 #333333;
    border: 1px solid #666666;
    color: #FFFFFF;
    font-size: 1em;
    padding: 2px;
}
#themeRoller select {
    padding: 1px;
}
input.opacity, input.offset {
    float: left;
    width: 20px;
}
span.opacity-per {
    float: left;
    padding: 0 0.2em;
}
#themeRoller input.hex {
    outline: 0 none;
    width: 42px;
}
input#ffDefault, select#fwDefault {
    width: 120px;
}
input.cornerRadius {
    width: 20px;
}
#themeRoller div.hasPicker {
    border: 1px solid #333333;
    float: left;
    margin: -2px 0 0 -2px;
    padding: 1px;
    position: static;
    width: 48px;
}
#themeRoller div.picker-on {
    background: none repeat scroll 0 0 #666666;
    border-bottom: medium none #666666;
    border-color: #AAAAAA #AAAAAA #666666;
}
#picker {
    left: 0;
    position: absolute;
    top: auto;
    width: 200px;
}
.texturePicker {
    border: 1px solid #666666;
    float: left;
    height: 16px;
    margin: 0 4px;
    width: 16px;
}
.texturePicker a {
    cursor: pointer;
    display: block;
    height: 18px;
    width: 18px;
}
.texturePicker ul {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #222222;
    border-color: -moz-use-text-color #444444 #444444;
    border-right: 1px solid #444444;
    border-style: none solid solid;
    border-width: 0 1px 1px;
    list-style: none outside none;
    margin: 0;
    padding: 0.5em 5px;
    position: absolute;
    right: 0;
    top: 1.6em;
    width: 80px;
    z-index: 999999;
}
.texturePicker ul li {
    float: left;
    width: 20px;
}
.texturePicker ul li a {
    border: 1px solid #222222;
    color: #EEEEEE;
    display: block;
    height: 1.5em;
    text-decoration: none;
    text-indent: -99999px;
}
.texturePicker ul li a:hover {
    border: 1px solid #CCCCCC;
}
.texturePicker ul li a:active {
    border: 1px solid #EEEEEE;
    outline: 0 none !important;
}
a.cornerWarning {
    color: red !important;
    text-decoration: none;
}
#cornerWarning {
    font-size: 0.9em;
    margin: 5px 0;
}
.farbtastic {
    background: none repeat scroll 0 0 #555555;
    border: 1px solid #AAAAAA;
    left: 0;
    position: relative;
    top: 1px;
    z-index: 99999999;
}
.farbtastic * {
    cursor: crosshair;
    position: absolute;
}
.farbtastic, .farbtastic .wheel {
    height: 195px;
    width: 195px;
}
.farbtastic .color, .farbtastic .overlay {
    height: 101px;
    left: 47px;
    top: 47px;
    width: 101px;
}
.farbtastic .wheel {
    background: url("../images/app/wheel.png") no-repeat scroll 0 0 transparent;
    height: 195px;
    width: 195px;
}
.farbtastic .overlay {
    background: url("../images/app/mask.png") no-repeat scroll 0 0 transparent;
}
.farbtastic .marker {
    background: url("../images/app/marker.png") no-repeat scroll 0 0 transparent;
    height: 17px;
    margin: -8px 0 0 -8px;
    overflow: hidden;
    width: 17px;
}
#submitBtn {
    background: none repeat scroll 0 0 #000000;
    border: 1px solid #444444;
    color: #FFFFFF;
    cursor: pointer;
    font-family: Verdana,Arial,sans-serif;
    font-size: 1.1em;
    font-weight: bold;
    padding: 0.4em 10px;
    text-decoration: none;
}
#submitBtn:hover {
    background: none repeat scroll 0 0 #0D0D0D;
}
#themeGallery ul {
    margin: 0;
    padding: 0;
}
#themeGallery li {
    color: #FFFFFF;
    float: left;
    font-size: 1em;
    list-style: none outside none;
    margin: 0.8em 5px 0.8em 0;
    width: 96px;
}
#themeGallery li a {
    color: #888888;
    position: relative;
    text-decoration: none;
}
#themeGallery li a:hover {
    color: #FFFFFF;
}
#themeGallery li img {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #000000 -moz-use-text-color -moz-use-text-color;
    border-right: 0 none;
    border-style: solid none none;
    border-width: 2px 0 0;
    display: block;
    height: auto;
    padding-top: 3px;
    position: relative;
    width: 90px;
}
#themeGallery li a:hover img {
    border-top: 2px solid #CCCCCC;
}
#themeGallery li a:active img {
    border-top: 2px solid #F58809;
}
#themeGallery li span {
    display: block;
    margin: 0.1em 4px;
}
#themeGallery li span.themeName {
    font-weight: normal;
}
#themeGallery li span.themeDesiger {
    font-size: 0.9em;
}
#themeGallery a.download, #themeGallery a.edit {
    background: url("../images/app/bg_sml_download_edit_btn.png") repeat-x scroll 50% 50% #333333;
    border: 1px solid #222222;
    color: #CCCCCC;
    float: left;
    font-size: 0.9em;
    margin: 3px 4px 0 0;
    padding: 2px 4px;
    text-decoration: none !important;
}
#themeGallery a.download:hover, #themeGallery a.edit:hover {
    background: url("../images/app/bg_sml_download_edit_btn_hover.png") repeat-x scroll 50% 50% #444444;
    color: #DDDDDD;
}
#help h2 {
    font-size: 1.2em;
    margin: 1em 0 0.3em;
}
#help a {
    color: #FA9300;
}
#help span.icon {
    background-image: url("../images/app/tr_icons_orange.png");
    float: left;
    height: 13px;
    margin: -1px 4px 0 0;
    width: 14px;
}
#help p {
    font-size: 1.1em;
}
#getBookmarklet {
    background: none repeat scroll 0 0 #FBF9EE;
    border: 1px solid #FCEFA1;
    border-radius: 6px 6px 6px 6px !important;
    color: #363636;
    float: right;
    font-size: 1.3em;
    margin: -30px -25px 0 0;
    padding: 0 10px;
}
#getBookmarklet p {
    margin: 0.7em 0;
    padding: 0;
}
#getBookmarklet a {
    color: #297ED3;
}
#getBookmarklet a:hover {
    color: #1667B7;
}
#getBookmarklet span.icon {
    background: url("../images/app/tr_icons_orange.png") no-repeat scroll -224px -112px transparent;
    float: left;
    margin: -2px 4px 0 0;
}
#components {
    background: none repeat scroll 0 0 #FFFFFF;
    float: right;
    padding: 15px;
    width: 680px;
}
#versionNotice {
    background: none repeat scroll 0 0 #EEEEEE;
    border: 1px solid #333333;
    font-size: 1.2em;
    margin: 20px 0;
    padding: 20px;
}
#compGroupA {
    float: left;
    width: 58%;
}
#compGroupB {
    float: right;
    width: 38%;
}
.demoHeaders {
    clear: both;
    font-size: 1.3em;
    font-weight: normal;
    margin: 2em 0 1em;
}
.demoHeaders span {
    font-size: 0.8em;
}
#components #dialog_link {
    padding: 0.4em 1em 0.4em 20px;
    position: relative;
    text-decoration: none;
}
#components #dialog_link span.ui-icon {
    left: 0.2em;
    margin: -8px 5px 0 0;
    position: absolute;
    top: 50%;
}
ul.icons {
    margin: 0;
    padding: 0;
}
ul.icons li {
    cursor: pointer;
    float: left;
    list-style: none outside none;
    margin: 2px;
    padding: 4px 0;
    position: relative;
}
ul.icons span.ui-icon {
    float: left;
    margin: 0 4px;
}
.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
.clearfix {
    display: inline-block;
}
* html .clearfix {
    height: 1%;
}
.clearfix {
    display: block;
}

.salaSelected, .salaSyncSelected, .salaGestao {
	cursor: pointer;
}
.salaSelected:HOVER, .salaSyncSelected:HOVER, .salaGestao:HOVER {
	color: #fff;
}
