<?php
header("Content-type: application/vnd.ms-excel");
header("Content-type: application/force-download");
header("Pragma: no-cache");

//soma a quantidade de grade mais a quantidade de colunas fixa (Disciplina+turma+ch+professor+2td+aulasPendentes)
$colunasFixa = 3;
if (isset($this->dados) && !empty($this->dados)):
  foreach ($this->dados as $dados):
    foreach ($dados as $value):
      $totalgrade = count($value['periodo']);
      ?>
      <table border="1">
        <tr>
          <td class="center-align titulos" colspan="<?php echo $totalgrade + $colunasFixa ?>">
            <?php echo utf8_decode('Relatório de Aulas Ministradas'); ?><br>
            <?php echo utf8_decode('Mês de referência: ') . $value['mes'] . '/' . $value['ano']; ?><br>
            <?php echo utf8_decode('Área Conhecimento: ' . $value['st_areaconhecimento']); ?><br>
            <?php echo utf8_decode('Unidade: ' . $value['st_entidade']); ?>
          </td>
        </tr>
        <tr style="background: yellow">
          <td>Professores</td>
          <?php foreach ($value['periodo'] as $grade): ?>
            <td>
              <?php echo utf8_decode('Período:' . $grade['dt_periodo']); ?>
            </td>
          <?php endforeach; ?>
          <td>Total de Entradas</td>
        </tr>
        <?php foreach ($value['professores'] as $professor): ?>
          <tr>
            <td><?php echo utf8_decode($professor['st_nomecompleto']); ?></td>
            <?php foreach ($professor['periodo'] as $grade): ?>
              <?php if (isset($grade) && !empty($grade)): ?>
                <td><?php echo array_sum($grade); ?></td>
              <?php else: ?>
                <td></td>
              <?php endif; ?>
            <?php endforeach; ?>
            <td style="color: red; "><?php echo $professor['totalAulas'] ?></td>
          </tr>
        <?php endforeach; ?>
        <tr style="background: lightgreen">
          <td align="left">Total</td>
          <?php foreach ($value['periodo'] as $grade): ?>
            <td>
              <?php echo $grade['totalGrade']; ?>
            </td>
          <?php endforeach; ?>
          <td style="color: red; font-weight: bold"><?php echo $value['TotalGeralAulas']; ?></td>
        </tr>
      </table>
      <table></table>
    <?php endforeach; ?>
  <?php endforeach; ?>
<?php else: ?>
  <table>
    <tr>
      <td class="center-align">
        Não existem dados para a busca efetuada
      </td>
    </tr>
  </table>
<?php endif;
$arquivo = 'Relatorio_Aulas_Ministradas' . date('d-m-Y') . '.xls';
header("Last-Modified: " . gmdate("D,d M YH:i:s") . " GMT");
header("Cache-Control: no-cache, must-revalidate");
header("Pragma: no-cache");
//header('Content-type: ' . $this->tipo . '; charset="utf-8"');
header("Content-Disposition: attachment; filename=\"{$arquivo}\"");
header("Content-Description: PHP Generated Data");
?>
<style type="text/css" media="all">
  /*<style type="text/css" media="print" id="test">*/
  @page {
    margin: 1cm;
    size: 'A4';
  }

  table {
    width: 100%;
  }

  table, td, th {
    border: solid 1px #000;
    border-collapse: collapse;
    text-align: center;
    font-family: "Helvetica Neue", "Arial", sans-serif;
    font-size: 10pt !important;
  }

  td, th {
    padding: 2px;
  }

</style>