<style>
    .ui-datepicker-calendar {
        display: none;
    }


</style>

<script type="text/javascript">
    <?php if (!isset($this->professores['type'])): ?>
    Professores = <?php echo json_encode($this->professores); ?>;
    <?php endif; ?>
</script>
<script type="text/javascript"> $('#htmlContent script[type="text/template"]').appendTo($('#templateHolder'));</script>

<script type="text/template" id="template-folha-pagamento">
    <legend>Relatório de Aulas Ministradas</legend>
    <div class="row-fluid" id="regiao-grade"></div>
    <div class="row-fluid" id="regiao-grade-data" style="overflow-x: auto;"></div>
</script>

<script type="text/template" id="template-form-folha-pagamento">
    <div class="row-fluid">
        <form name="formRelatorio" id="formRelatorio" method="post" action="">
            <fieldset>
                <div class="well well-small">
                    <div class="row-fluid">
                        <div class="span4">
                            <label> Unidade: </label>
                            <select class="span12" id="id_unidade" name="id_unidade" required="required">
                            </select>
                        </div>
                        <div class="span4">
                            <label> Área Conhecimento: </label>
                            <select class="span12" id="id_areaconhecimento" name="id_areaconhecimento"
                                    required="required">
                                <option value="">Selecione</option>
                            </select>
                        </div>
                        <div class="span4">
                            <label> Professor: </label>
                            <select class="span12" id="id_professor" name="id_professor" required="required">
                                <option value="">Selecione</option>
                            </select>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span4">
                            <div class="span6">
                                <label for="dt_mes">Mês de referência: </label>

                                <div class="input-append">
                                    <input type="text" title="Mês e ano" placeholder="Mês e ano"
                                           class="span8 datepicker_meses"
                                           value="" id="dt_mes_ano" name="dt_mes_ano">
                                    <button class="btn js-bt-calendar_meses" data-calendar="dt_mes_ano" type="button">
                                        <i class="icon  icon-calendar"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="pull-right">
                            <button id="btnPesquisar" type="button" title="Pesquisar" class="btn-custom btn">
                                <i class="icon-search icon-white"></i> Pesquisar
                            </button>
                            <button class="btn-custom btn margin" type="button" id="btnGeralExcel">
                                <i class="icon-file icon-white"></i> Gerar Excel
                            </button>
                        </div>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>

</script>
