<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="pt">
<head>
  <title>Relatório de Aulas Ministradas</title>
  <meta http-equiv="Content-type" content="text/html; charset=UTF-8"/>
</head>
<body>
<?php
//soma a quantidade de grade mais a quantidade de colunas fixa (Disciplina+turma+ch+professor+2td+aulasPendentes)
$colunasFixa = 3;
if (isset($this->dados) && !empty($this->dados)):
  foreach ($this->dados as $dados):
    foreach ($dados as $value):
      $totalgrade = count($value['periodo']);
      ?>
      <div class="quebraLinha">
        <div class="table">
          <table>
            <tr>
              <td class="center-align titulos" colspan="<?php echo $totalgrade + $colunasFixa ?>">
                <div>
                  <?php
                  if (file_exists(realpath(APPLICATION_PATH . "/../public/") . $value['st_urlimglogo'])):
                    ?>
                    <img src="<?php echo $value['st_urlimglogo']; ?>"
                         alt="<?php echo $value['st_entidade']; ?>">
                    <?php
                  endif;
                  ?>
                </div>
                Relatório de Aulas Ministradas<br>
                <?php echo $value['mes'] . '/' . $value['ano']; ?><br>
                <?php echo $value['st_areaconhecimento'] . ' - ' . $value['st_entidade']; ?>
              </td>
            </tr>
            <tr style="background: yellow">
              <td>Professores</td>
              <?php foreach ($value['periodo'] as $grade): ?>
                <td>
                  <?php echo $grade['dt_periodo']; ?>
                </td>
              <?php endforeach; ?>
              <td>Total de Entradas</td>
            </tr>
            <?php foreach ($value['professores'] as $professor): ?>
              <tr>
                <td><?php echo $professor['st_nomecompleto']; ?></td>
                <?php foreach ($professor['periodo'] as $grade): ?>
                  <?php if (isset($grade) && !empty($grade)): ?>
                    <td><?php echo array_sum($grade); ?></td>
                  <?php else: ?>
                    <td></td>
                  <?php endif; ?>
                <?php endforeach; ?>
                <td style="color: red; "><?php echo $professor['totalAulas'] ?></td>
              </tr>
            <?php endforeach; ?>
            <tr style="background: lightgreen">
              <td align="left">Total</td>
              <?php foreach ($value['periodo'] as $grade): ?>
                <td>
                  <?php echo $grade['totalGrade']; ?>
                </td>
              <?php endforeach; ?>
              <td style="color: red; font-weight: bold"><?php echo $value['TotalGeralAulas']; ?></td>
            </tr>
          </table>
        </div>
      </div>
    <?php endforeach; ?>
  <?php endforeach; ?>
<?php else: ?>

  <div class="quebraLinha">
    <div class="table">
      <table>
        <tr>
          <td class="center-align">
            Não existem dados para a busca efetuada
          </td>
        </tr>
      </table>
    </div>
  </div>

<?php endif; ?>
<style type="text/css">

  @media print {
    button {
      display: none;
    }

    .quebraLinha {
      page-break-after: always;
      page-break-inside: avoid;
    }

    @page {
      margin: 0.5cm;
      size: 'A4';
    }
  }

  .table {
    margin: 20px 0;
    padding: 0px;
    width: 100%;
    font-family: "Helvetica Neue", "Arial", sans-serif;
  }

  .table table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
  }

  .table tr:nth-child(odd) {
    background-color: #ffffff;
  }

  .table tr:nth-child(even) {
    background-color: #ffffff;
  }

  .table td {
    vertical-align: middle;
    border: 1px solid #000000;
    padding: 6px;
  }

  .texto-vermelho {
    color: red;;
  }

  .titulos {
    margin: 0 0 0 15px;
    font-weight: bold;
    font-size: 14px;
    text-align: left;
  }

  .center-align {
    text-align: center;
  }

</style>
</body>
</html>