<style type="text/css">
    .comboSala {
        width: 100% !important;
    }
</style>
<script type="text/javascript">
    $(document).ready(function () {
        // Handler for .ready() called.
        $.ajaxSetup({async: false});
        loading();
        $.getScript('/js/jquery.iframe-transport.js');
        $.getScript('/js/backbone/models/matricula.js');
        $.getScript('/util/auto-complete-pessoa');
        loaded();
        $('#container-alocar-lista, #container-alocar').hide();
        $.ajaxSetup({async: true});
    });</script>

<?php
/*
 * Este é o template padrão da página. É a estrutura principal que será populada
 * pelo backbone usando os templates acima.
 */
?>

<link rel="stylesheet" type="text/css" href="<?php echo $this->baseUrl(); ?>/css/auto-complete-pessoa.css"/>
<script type="text/javascript" src="<?php echo $this->baseUrl(); ?>/js/auto-complete-componente.js"></script>
<?php echo $this->render('/util/auto-complete-pessoa.phtml'); ?>
<div id="autoComplete" class="row-fluid"></div>

<script type="text/javascript">

</script>

<div id='container-alocar-lista' class="container-fluid well well-small"></div>
<div id='container-alocar' class="container-fluid well well-small">
    <table class="backgrid backgrid-selectall table table-hover table-condensed table-bordered"
           id="tabela-retorno-pesquisa-alocar">
        <thead>
            <th>Disciplina</th>
            <th>Sala Padrão</th>
            <th id="th-alocar-normal" class="hide">Alocar</th>
            <th>Sala PRR</th>
            <th id="th-alocar-prr" class="hide">Alocar PRR</th>
            <th id="th-reintegrar" class="hide">Reintegrar</th>
        </thead>
        <tbody></tbody>
    </table>
</div>
<div id="modalOpcoesAlocacao"></div>
<script type="text/template" id="disciplina-alocar-aluno">
    <td class="span3">
        <strong><%=st_disciplina%></strong>
    </td>
    <td class="span3">
        <input type="hidden" id="idAlocacaoNormal<%=id_disciplina%>" value="<%=id_alocacaonormal%>">
        <span id="salaNormal<%=id_disciplina%>">
            <% if (id_evolucaomatriculadisciplina == 70 ) { %>
                Disciplina Trancada <%
            } else { %>
                <%=st_saladeaulanormal%><%=dt_aberturanormal%> <%
            } %>
        </span>
        <label><select id="comboSt_saladeaulanormal<%=id_disciplina%>" class="comboSala hide"></select></label>
    </td>
    <% if(permissaoBtnAlocar){ %>
        <td class="span2" id='botoes<%=id_disciplina%>'>
            <div id="dataNormal<%=id_disciplina%>" class="hide">
                <label>Início<a href="#" rel="tooltip" class="informacao" data-placement="top"
                                data-original-title="Data a partir da qual será permitido alocar alunos nessa sala."
                                data-trigger="hover">
                        <i class="icon-blue icon-info-sign"></i></a>
                        <input type="text" id="dt_inicioalocacaon<%=id_disciplina%>" name="dt_inicioalocacaon<%=id_disciplina%>"
                           required="required"
                           class="datepicker maskDate" value="<%=dt_inicioalocacaonormal%>" style="width: 80%; height: 20%">
                </label>
            </div>
            <div class="<% if (id_evolucaomatriculadisciplina == 70 ) { %> informacao <% } %>"
                <% if (id_evolucaomatriculadisciplina == 70 ) { %>
                    rel="tooltip" data-placement="top" data-original-title="Disciplina Trancada" data-trigger="hover"
                <% } %>
            >
                <input type="hidden" name="nu_extensaodiassetadan" value="<%=nu_diasalunonormal%>"
                       id="nu_extensaodiassetadan<%=id_disciplina%>">
                <button type="reset" id="n<%=id_disciplina%>" class="normal btn btn-info"> Alocar </button>
                <button type="reset" id="ns<%=id_disciplina%>" name="normal" class="salvarnormal btn btn-success hide">
                    <i class="icon-ok"></i>
                </button>
                <button type="reset" id="nc<%=id_disciplina%>" name="normal" class="cancelarnormal btn btn-danger hide"><i
                        class="icon-remove-circle"></i></button>
                <% if(permissaoBtnListarEncerradas){ %>
                    <button type="reset" id="nse<%=id_disciplina%>" name="normal" class="listaencerradas btn btn-danger hide">Encerradas</button>
                <% } %>
                <button type="reset" id="dn<%=id_disciplina%>" class="desalocarnormal btn btn-warning" <%= id_situacaomatriculadisciplina == 65 ? 'disabled' : '' %> > Desalocar </button>
            </div>

        </td>
    <% } %>
    <td class="span3">
        <input type="hidden" id="idAlocacaoPrr<%=id_disciplina%>" value="<%=id_alocacaoprr%>">
        <span id="salaPrr<%=id_disciplina%>">
            <% if (id_evolucaomatriculadisciplina == 70 ) { %>
                Disciplina Trancada <%
            } else { %>
                <%=st_saladeaulaprr%><%=dt_aberturaprr%> <%
            } %>
        </span>
        <label><select id="st_saladeaulaprr<%=id_disciplina%>" class="hide"></select></label>
    </td>
    <% if(permissaoBtnAlocarPrr){ %>
        <td class="span2" id='botoesp<%=id_disciplina%>'>
            <div id="dataPrr<%=id_disciplina%>" class="hide">
                <label>Início<a rel="tooltip" class="informacao" data-placement="top"
                                data-original-title="Data a partir da qual será permitido alocar alunos nessa sala."
                                data-trigger="hover">
                        <i class="icon-blue icon-info-sign"></i></a>
                    <input type="text" id="dt_inicioalocacaop<%=id_disciplina%>" name="dt_inicioalocacaop<%=id_disciplina%>"
                           required="required"
                           class="datepicker maskDate" value="<%=dt_inicioalocacaoprr%>" style="width: 80%; height: 20%">
                </label>
            </div>
            <div class="<% if (id_evolucaomatriculadisciplina == 70 ) { %> informacao <% } %>"
                <% if (id_evolucaomatriculadisciplina == 70 ) { %>
                    rel="tooltip" data-placement="top" data-original-title="Disciplina Trancada" data-trigger="hover"
                <% } %>
            >
                <input type="hidden" name="nu_extensaodiassetadap" value="<%=nu_diasalunoprr%>"
                       id="nu_extensaodiassetadap<%=id_disciplina%>">
                <button type="reset" id="p<%=id_disciplina%>"
                        class="prr btn btn-info">
                    Alocar
                </button>

                <button type="reset" id="ps<%=id_disciplina%>" name="prr" class="salvarprr btn btn-success hide"><i
                        class="icon-ok"></i></button>
                <button type="reset" id="pc<%=id_disciplina%>" name="normal" class="cancelarprr btn btn-danger hide"><i
                        class="icon-remove-circle"></i></button>
            </div>
        </td>
    <% } %>
    <% if(permissaoBtnReintegrar){ %>
        <td class="span2">
            <div class="<% if (id_evolucaomatriculadisciplina == 70 ) { %> informacao <% } %>"
                <% if (id_evolucaomatriculadisciplina == 70 ) { %>
                rel="tooltip" data-placement="top" data-original-title="Disciplina Trancada" data-trigger="hover"
                <% } %>
            >
                <button  type="reset" id="btnReintegrar<%=id_disciplina%>"
                        class="reintegrar btn btn-inverse">
                    Reintegrar
                </button>
            </div>
        </td>
    <% } %>
</script>

<script src="<?php echo $this->baseUrl(); ?>/js/CollectionView.js"></script>

<script type="text/javascript"> $('#htmlContent script[type="text/template"]').appendTo($('#templateHolder'));</script>
<script type="text/javascript" src="<?php echo $this->url() ?>/js"></script>