<style type="text/css">
    #bl_presenca, #dt_colacao {
        width: 100px;
    }
</style>

<!-- MAIN REGION -->
<div id="main-layout-region">
    <div id="form-region"></div>
    <div id="dados-region"></div>
    <div id="modal-historico-region"></div>
</div>

<!-- FORM -->
<script id="form-template" type="text/template">
    <div class="row-fluid">
        <fieldset class="well">
            <fieldset>
                <legend>Colação de Grau</legend>
                <form id="pesquisaColacao" method="post" name="pesquisaColacao">
                    <div class="row-fluid">
                        <div class="span2">
                            <label>Nome:</label>
                            <label>
                                <input type="text" class="span12" id="st_nomecompleto" name="st_nomecompleto">
                            </label>
                        </div>
                        <div class="span2">
                            <label>Projeto Pedagógico:</label>
                            <label>
                                <select class="span12" id="id_projetopedagogico" name="id_projetopedagogico"></select>
                            </label>
                        </div>
                        <div class="span2">
                            <label>Documentação:</label>
                            <label>
                                <select class="span12" id="bl_documentacao" name="bl_documentacao">
                                    <option value="">Selecione</option>
                                    <option value="null">Não Analisado</option>
                                    <option value="1">OK</option>
                                    <option value="0">Pendente</option>
                                </select>
                            </label>
                        </div>
                        <div class="span3">
                            <label>Data de Conclusão:</label>
                            <label class="input-append">
                                <input type="text" name="dt_conclusao_inicio"
                                       class="input-small datepicker maskDate datepicker_range_min"
                                       data-maximo="dt_conclusao_fim">
                                <div class="btn" name="btn_datepicker"><i class="icon icon-calendar"></i></div>
                            </label>
                            <span>&nbsp;&nbsp;a&nbsp;&nbsp;</span>
                            <label class="input-append">
                                <input type="text" name="dt_conclusao_fim"
                                       class="input-small datepicker maskDate datepicker_range_max"
                                       data-maximo="dt_conclusao_inicio">
                                <div class="btn" name="btn_datepicker"><i class="icon icon-calendar"></i></div>
                            </label>
                        </div>
                        <div class="span3">
                            <label>Data de Colação:</label>
                            <label class="input-append">
                                <input type="text" name="dt_colacao_inicio"
                                       class="input-small datepicker maskDate datepicker_range_min"
                                       data-maximo="dt_colacao_fim">
                                <div class="btn" name="btn_datepicker"><i class="icon icon-calendar"></i></div>
                            </label>
                            <span>&nbsp;&nbsp;a&nbsp;&nbsp;</span>
                            <label class="input-append">
                                <input type="text" name="dt_colacao_fim"
                                       class="input-small datepicker maskDate datepicker_range_max"
                                       data-maximo="dt_colacao_inicio">
                                <div class="btn" name="btn_datepicker"><i class="icon icon-calendar"></i></div>
                            </label>
                        </div>
                    </div>
                </form>
            </fieldset>
    </div>
    </div>
    <div></div>
    <div class="well">
        <div class="row-fluid text-right">
            <div class="span12">
                <button id="btnGerarNominata" class="btn btn-success" type="button">
                    Gerar Nominata
                </button>
                <button id="btnGerarListaPresenca" class="btn btn-success" type="button">
                    Gerar Lista de Presença
                </button>
                <button id="btnPreencherLote" class="btn btn-warning" type="button">
                    Preencher em Lote
                </button>
                <button id="btnPesquisar" class="btn btn-primary" type="submit">
                    Pesquisar
                </button>
            </div>
        </div>
    </div>
    <div class="well" id="divPreencherLote">
        <div class="row-fluid">
            <div class="span12">
                <div class="span2 offset8">
                    <label>Data de Colação:</label>
                    <label class="input-append">
                        <input id="dt_colacaolote" class="datepickerStart maskDate span10" name="dt_colacaolote"
                               type="text">
                        <div class="btn" name="btn_datepicker"><i class="icon icon-calendar"></i></div>
                    </label>
                </div>
                <div class="span2">
                    <!-- Esse Select é estatico por ser um boolean e precisar do opção "selecione"(valor "") seja o "default". -->
                    <label>Presente/Ausente:</label>
                    <select id="bl_presencalote" class="span12" name="bl_presencalote">
                        <option value="null" selected>Selecione</option>
                        <option value="0">Ausente</option>
                        <option value="1">Presente</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</script>

<!-- GRID DADOS -->
<script id="dados-template" type="text/template">
    <div class="well">
        <div class="row-fluid text-right">
            <div class="span12">
                <button id="btnSalvar" class="btn btn-success" type="button">
                    Salvar
                </button>
            </div>
        </div>
    </div>
    <div class="well">
        <div class="row-fluid">
            <div class="table-responsive">
                <table class="table table-bordered table-striped backgrid table-hover marginT20">
                    <thead>
                    <tr>
                        <th>Projeto Pedagógico</th>
                        <th>Matrícula</th>
                        <th>Nome Completo</th>
                        <th>CPF</th>
                        <th>Data da Conclusão</th>
                        <th>Documentação</th>
                        <th>Data da Colação</th>
                        <th>Presença</th>
                        <th>Ação</th>
                    </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</script>

<!-- ROWS GRID DADOS -->
<script id="dados-item-view" type="text/template">
    <td class="center"><%= st_projetopedagogico %></td>
    <td class="center"><%= id_matricula %></td>
    <td class="center"><%= st_nomecompleto %></td>
    <td class="center"><%= st_cpf %></td>
    <td class="center"><%= dt_concluinte %></td>
    <td class="center"><%= st_statusdocumentacao %></td>
    <td class="center">
        <input id="dt_colacao" class="datepickerStart maskDate dt_colacao" type="text" value="<%= dt_colacao %>"/>
    </td>
    <td class="center">

        <!-- Esse Select é estatico por ser um boolean e precisar do opção "selecione"(valor "") seja o "default". -->
        <select id="bl_presenca" class="span9 bl_presenca" disabled="disabled">
            <option value="null"
            <% if(bl_presenca == 'null'){%> selected <%}%>>Selecione</option>
            <option value="0"
            <% if(bl_presenca == 0){%> selected <%}%>>Ausente</option>
            <option value="1"
            <% if(bl_presenca == 1){%> selected <%}%>>Presente</option>
        </select>
        <span id="sem_bl_presenca" disabled="disabled"> - </span>
    </td>
    <td>
        <a id="btnHistoricoItem" name="btnHistoricoItem" class='btn btn-small btn-success historico' rel='tooltip'
           data-trigger='hover'
           data-placement='top' data-toggle='popover' data-content='Exibe o histórico do Aluno.'
           data-original-title='Histórico'>
            <i class='icon icon-list-alt'></i>
        </a>
        <a id="btnEditarItem" name="btnEditarItem" class='btn btn-small btn-default editar' rel='tooltip'
           data-trigger='hover'
           data-placement='top' data-toggle='popover' data-content='Edita a data da colação e a presença na colação.'
           data-original-title='Editar'>
            <i class='icon icon-edit'></i>
        </a>
    </td>
</script>

<!-- MODAL HISTORICO -->
<script id="modal-historico-template" type="text/template">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 class="modal-title">Histórico de Colação</h3>
    </div>
    <div class="modal-body">
        <div class="row-fluid">
            <div class="table-responsive">
                <table class="table table-bordered table-striped backgrid table-hover">
                    <thead>
                    <tr>
                        <th>Data do Cadastro</th>
                        <th>Ação</th>
                        <th>Usuário</th>
                    </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button id="btnFecharModalHistorico" class="btn" type="button" data-dismiss="modal">
            Fechar
        </button>
    </div>
</script>

<!-- ROWS MODAL HISTORICO-->
<script id="modal-historico-item-view" type="text/template">
    <td> <%= dt_cadastro %></td>
    <td> <%= st_tramite %></td>
    <td> <%= st_nomecompleto %></td>
</script>

<script type="text/javascript">
    $('#templateHolder').empty().append($('#htmlContent script[type="text/template"]'));
    <?php echo $this->render('/colacao-grau/index.js') ?>
</script>