<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <title>Lista de Presença</title>
    <meta http-equiv="Content-type" content="text/html; charset=UTF-8"/>
    <style type="text/css">
        @page {
            margin: 1cm;
            size: 'A4';
        }

        body .div_table {
            border: solid 1px #000;
            border-collapse: collapse;
            width: 950px;
        }

        table {
            width: 100%;
        }

        .table_cabecalho tr,
        .table_cabecalho td,
        .table_cabecalho th {
            font-size: 1.2em !important;
            font-weight: bold;
            border: 0 !important;
            padding: 10px;
        }

        .table_corpo, tr, td, th {
            border: solid 1px #000;
            border-collapse: collapse;
            text-align: center;
            font-family: "Helvetica Neue", "Arial", sans-serif;
            font-size: 10pt !important;
        }

        .table_corpo, th {
            border: solid 1px #000;
            border-collapse: collapse;
            text-align: center;
            font-family: "Helvetica Neue", "Arial", sans-serif;
            font-size: 10pt !important;
        }
    </style>
    <script src="<?php echo $this->baseUrl(); ?>/bower_components/jquery/dist/jquery.js"></script>
    <script type="text/javascript">
        $(function () {
            var colacaoStorage = JSON.parse(localStorage.getItem('colacaoStorage'));

            var html = "";
            if (!colacaoStorage.length) {
                html = '<tr><td colspan="5">Nenhum resultado Encontrado</td></tr>';
            } else {
                $.each(colacaoStorage, function (index, value) {
                    html += '<tr>';
                    html += '<td>' + value.nu_numeracao + '</td>';
                    html += '<td>' + value.st_projetopedagogico + '</td>';
                    html += '<td>' + value.id_matricula + '</td>';
                    html += '<td>' + value.st_cpf + '</td>';
                    html += '<td>' + value.st_nomecompleto + '</td>';
                    html += '<td></td>';
                    html += '</tr>';
                });
            }
            $("#corpo-lista-presenca").html(html);
        });

    </script>
</head>
<body>
<div class="div_table">
    <table class="table_cabecalho" cellpadding="0" cellspacing="0">
        <tbody>
        <tr>
            <td width="30%" rowspan="3%"><img src="<?= $this->dadosEntidade['st_urlimglogo'] ?>"></td>
            <td width="70%">Lista de Presença de Colação de Grau</td>
        </tr>
        <tr>
            <td><?= $this->dadosEntidade['st_nomeentidade'] ?></td>
        </tr>
        <tr>
            <td>Data: <?= date('d/m/Y'); ?></td>
        </tr>
        </tbody>
    </table>
    <table class="table_corpo" cellpadding="0" cellspacing="0">
        <thead>
        <tr>
            <th width="5%"></th>
            <th width="20%">Projeto Pedagógico</th>
            <th width="10%">Matrícula</th>
            <th width="15%">CPF</th>
            <th width="25%">Nome</th>
            <th width="25%">Assinatura</th>
        </tr>
        </thead>
        <tbody id="corpo-lista-presenca"></tbody>
    </table>
</div>
</body>
</html>