<script type="text/javascript" src="/js/jquery.form.js"></script>

<script type="text/template" id="concurso_layout">
    <div id="dados_concurso"></div>
    <div id="relaciona_produtos"></div>
    <div class="well well-large">
        <div class="row-fluid">
            <fieldset>
                <div class="control-group span12">
                    <div class="pull-right">
                        <button type="button" class="btn btn-success pull-right" id="btn_salvar"
                                title="Salvar dados do concurso">
                            <i class="icon icon-ok icon-white"></i> Salvar
                        </button>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
</script>

<script type="text/template" id="item-produtos">
    <td><%= st_produto %></td>
    <td><a class="btn btn-success pull-right" id="btn-add"><i class="icon  icon-arrow-right icon-white"></i></a></td>,
</script>

<script type="text/template" id="item-selecionados">
    <td><a class="btn btn-danger pull-left" id="btn-remove"><i class="icon  icon-arrow-left icon-white"></i></a></td>,
    <td><%= st_produto %></td>
</script>

<script type="text/template" id="item-concurso">
    <form id="form-concurso">
        <div class="well well-large">
            <div class="row-fluid">
                <legend>Concurso</legend>
                <div class="control-group">
                    <div class="span12">
                        <div class="control-group">
                            <div class="span10">
                                <div class="span8">
                                    <label>Nome</label>
                                    <input id="st_concurso" autocomplete="off" required class="span12" type="text"
                                           value="<%= st_concurso %>"/>
                                </div>
                                <div class="span4">
                                    <label>Situação</label>

                                    <div id="combo_situacao"></div>
                                </div>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="span2 pull-right">
                                <img style="height:150px; width:150px;"
                                    src="<%= (st_imagem != "" ? '/upload/concurso/' + st_imagem : '/upload/concurso/usuario_foto_generica.jpg') %>"
                                    alt="" class="img-polaroid"/>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="span10">
                                <div class="span5">
                                    <label for="">Orgão do Concurso</label>
                                    <input id="st_orgao" autocomplete="off" required class="span12" type="text"
                                           value="<%= st_orgao %>"/>
                                </div>
                                <div class="span2">
                                    <label for="">Vagas</label>
                                    <input id="nu_vagas" class="span12" type="number" min="0" default="0"
                                           value="<%= nu_vagas %>"/>
                                </div>
                                <div class="span5">
                                    <label for="">Banca Examinadora</label>
                                    <input id="st_banca" autocomplete="off" required class="span12" type="text"
                                           value="<%= st_banca %>"/>
                                </div>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="span10">
                                <div class="pull-right">
                                    <label for="">Imagem</label>

                                    <div class="span12">
                                        <input type="file" id="arquivo" name="arquivo"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="well well-large">
            <div class="row-fluid">
                <legend>Datas</legend>
                <div class="control-group">
                    <div class="span12">
                        <div class="span4">
                            <label for="dataProva">Data da Prova</label>
                            <input type="text" class="datepicker maskDate" id="dataProva" value="<%= dt_prova %>"/>
                        </div>
                        <div class="span4">
                            <label for="dataInicioInscricao">Início da Inscrição</label>
                            <input type="text" class="datepicker maskDate" id="dataInicioInscricao"
                                   value="<%= dt_inicioinscricao %>"/>
                        </div>
                        <div class="span4">
                            <label for="dataFimInscricao">Fim da Inscrição</label>
                            <input type="text" class="datepicker maskDate" id="dataFimInscricao"
                                   value="<%= dt_fiminscricao %>"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</script>

<script type="text/template" id="item-datas">

</script>

<script type="text/template" id="item-relaciona-produtos">
    <div class="well well-large">
        <legend>Relaciona Produtos</legend>
        <div class="row-fluid">
            <div class="control-group">
                <div class="span6" style="padding-bottom:5px;">
                    <label for="nomeProdutos">Nome</label>
                    <input type="text" class="input-search span12 search-query" alt="pesquisa-produtos"
                           placeholder="Filtrar Produtos"/>
                </div>
            </div>
        </div>
        <div class="row-fluid">
            <div class="control-group span6" style="overflow: auto; height: 200px;">
                <table role="dialog" class="pesquisa-produtos table table-bordered table-striped backgrid">
                    <thead>
                    <tr>
                        <th>Produto</th>
                        <th>Adicionar</th>
                    </tr>
                    </thead>
                    <tbody id="tabelaProdutos"></tbody>
                </table>
            </div>
            <div class="control-group span6" style="overflow: auto; height: 200px;">
                <table role="dialog" class="table table-bordered table-striped backgrid">
                    <thead>
                    <tr>
                        <th class="span1">Remover</th>
                        <th>Produtos Selecionados</th>
                    </tr>
                    </thead>
                    <tbody id="tabelaProdutosSelecionados"></tbody>
                </table>
            </div>
        </div>
    </div>
</script>

<script type="text/template" id="item-produtos"></script>

<script type="text/template" id="item-salvar"></script>

<script type="text/javascript">
    $('#htmlContent script[type="text/template"]').appendTo($('#templateHolder'));


    <?php if ($this->dados): ?>
    G2S.editModel = <?php echo $this->dados; ?>;
    <?php else: ?>
    G2S.editModel = null;
    <?php endif; ?>
</script>
<script type="text/javascript" src="/concurso/js"></script>