<fieldset>
    <legend><%=st_nomecompleto%></legend>
    <div class="row-fluid">
        <div class="span4">
            <h5>Dados do Aluno</h5>
            <label><b>Nome:</b> <%=st_nomecompleto%></label>
            <label><b>CPF:</b> <%=st_cpf%></label>
            <label><b>E-mail:</b> <%=st_email%></label>
            <label><b>Nome da Mãe:</b> <%=st_nomemae%></label>
        </div>
        <label class="span8">
            <b>Matrícula:</b>
            <select class="span12" id="lista-alocar-matriculas"></select>
        </label>
        <!--
        <label class="span2">
            <b>Módulo:&nbsp;&nbsp;&nbsp;</b>
            <select id="lista-alocar-modulos"></select>
        </label>
        -->
        <div class="text-right marginT20">
            <button id="autoalocar" type="button" class="btn btn-custom hide">
                <span>Auto Alocar Aluno</span>
            </button>
        </div>
    </div>
</fieldset>