<div class="modal hide fade" id="modal-detalhamento"></div>
<div id='container-form-encerramento'>
    <form id="form-pesquisa-consulta" class="form-inline">
        <fieldset>
            <div class="row-fluid">
                <div class="span12">
                    <legend>Consulta Pagamento</legend>
                </div>
            </div>
            <div class="row-fluid acoes-itens">
                <div class="span2 acao">
                    <label for="liberacao">Liberado para:</label>
                    <select id="liberacao" name="liberacao">
                        <option value="financeiro" selected="selected">Financeiro</option>
                        <option value="pago">Pago</option>
                    </select>
                </div>
                <div class="span2 acao">
                    <label for="id_tipodisciplina">Disciplina:</label>
                    <select id="id_tipodisciplina" name="id_tipodisciplina" required="required">
                        <option value="">Escolha</option>
                    </select>
                </div>
                <div class="span2 acao" id="wrapper_categoriasala">
                    <label for="id_categoriasala">Sala de aula:</label>
                    <select id="id_categoriasala" name="id_categoriasala">
                        <option value="">Escolha</option>
                    </select>
                </div>
                <div class="span2 acao professor">
                    <label for="id_professordisciplina">Professores:</label>
                    <select id="id_professordisciplina" name="id_professordisciplina">
                        <option value="">Escolha um professor</option>
                    </select>
                </div>

                <div class="span2 acao final pull-right">
                    <label>Ações:</label>

                    <div class="btn-group span12">
                        <a type="button" class="btn btn-info pesquisaPagamento" href="javascript:void(0)"
                           title="Pesquisar"><i
                                class="icon-search"></i> Pesquisar</a>
                        <a type="button" class="btn exportarXls" href="javascript:void(0)" title="Exportar para XLS"><i
                                class="icon-file"></i></a>
                    </div>
                </div>
            </div>
        </fieldset>
        <hr/>
        <div id='container-grid' class="row-fluid"></div>
    </form>
</div>

<script type="text/javascript" src="<?php echo $this->baseUrl(); ?>/js/CollectionView.js"></script>
<script type="text/javascript" src="<?php echo $this->baseUrl(); ?>/js/MensagensG2.js"></script>
<script type="text/javascript"> $('#htmlContent script[type="text/template"]').appendTo($('#templateHolder'));</script>
<script type="text/javascript" src="<?php echo $this->url() ?>/js"></script>
