<script id="layout-template" type="text/template">
    <form class="well" method="post">

        <legend>Relatório de Lançamento da Venda Produto por Atendente</legend>

        <div class="row-fluid">

            <fieldset class="span3">
                <label>Atendente</label>
                <input id="st_atendente" name="st_atendente" class="span12" type="text" disabled/>
            </fieldset>

        </div>

        <div class="row-fluid">

            <fieldset class="span3">
                <label>Data de Criação</label>
                <input id="dt_criacao_min" class="datepicker maskDate" type="text" name="dt_criacao_min"
                       placeholder="__/__/____"/>
                &nbsp; e &nbsp;
                <input id="dt_criacao_max" class="datepicker maskDate" type="text" name="dt_criacao_max"
                       placeholder="__/__/____"/>
            </fieldset>

            <fieldset class="span3">
                <label>Data de Confirmação</label>
                <input id="dt_confirmacao_min" class="datepicker maskDate" type="text" name="dt_confirmacao_min"
                       placeholder="__/__/____"/>
                &nbsp; e &nbsp;
                <input id="dt_confirmacao_max" class="datepicker maskDate" type="text" name="dt_confirmacao_max"
                       placeholder="__/__/____"/>
            </fieldset>

            <fieldset class="span3">
                <label>Data de Vencimento</label>
                <input id="dt_vencimento_min" class="datepicker maskDate" type="text" name="dt_vencimento_min"
                       placeholder="__/__/____"/>
                &nbsp; e &nbsp;
                <input id="dt_vencimento_max" class="datepicker maskDate" type="text" name="dt_vencimento_max"
                       placeholder="__/__/____"/>
            </fieldset>

            <fieldset class="span3">
                <label>Data da Baixa</label>
                <input id="dt_baixa_min" class="datepicker maskDate" type="text" name="dt_baixa_min"
                       placeholder="__/__/____"/>
                &nbsp; e &nbsp;
                <input id="dt_baixa_max" class="datepicker maskDate" type="text" name="dt_baixa_max"
                       placeholder="__/__/____"/>
            </fieldset>

        </div>

        <fieldset class="text-right" style="margin-top: 10px;">
            <div class="well well-small" style="background-color: #fff;">
                <label class="total-box" style="display: none; float: left; margin: 4px 0 0;">
                    <b>
                        Total de Registros:
                        <span>0</span>
                    </b>
                </label>
                <label style="display: inline-block; margin: 0;">
                    Registros por Página:
                    <input id="nu_registros" type="number" name="nu_registros" value="30"
                           style="margin: 0; width: 50px;"/>
                </label>
                <button class="btn btnPrint" type="button" title="Imprimir">
                    <i class="icon icon-print"></i>
                </button>
                <button class="btn btnXls" type="button" title="Gerar arquivo XLS">
                    <i class="icon icon-file"></i>
                </button>
                <button class="btn btn-custom" type="submit" title="Pesquisar">
                    <i class="icon icon-search icon-white"></i>
                    Pesquisar
                </button>
            </div>
        </fieldset>
        <div id="pesquisa-container" class="text-center table-responsive"></div>
        <div id="pesquisa-paginacao" class="text-center table-responsive"></div>
    </form>
</script>

<script type="text/javascript">
    $('#templateHolder').empty().append($('#htmlContent script[type="text/template"]'));
    <?php echo $this->render('/relatorio-lancamento-venda-produto/atendente.js') ?>
</script>