<?php echo $this->render('/util/auto-complete-pessoa.phtml'); ?>

<script src="/gestor2/js/MensagensG2.js" type="text/javascript"></script>
<script src="/gestor2/js/auto-complete-componente.js" type="text/javascript"></script>
<script src="/gestor2/js/jquery.form.js" type="text/javascript"></script>

<script type="text/template" id="template-gerencia-notas">
    <div id="autoComplete" class="row-fluid"></div>

    <form id="form-combo-matricula" class="form-inline hide">
        <div class="well">
            <fieldset>
                <legend>Matrícula</legend>
                <label class="row-fluid">
                    <!-- <strong>Matriculas: </strong> -->
                    <select id="id-matricula-select" class="template-matriculas-select span12"></select>
                </label>
            </fieldset>
        </div>
    </form>

    <div class="row-fluid">
        <div class="well">
            <fieldset>
                <legend>Disciplinas</legend>
            </fieldset>

            <div id="container-table">
                <!--Conteudo ilustrativo para orientacao ao usuario no inicio do uso da ferramenta-->
                <div class="alert alert-block alert-info text-center">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <h5>
                        <i class="icon-search"></i>
                        Inicie encontrando uma Pessoa na busca acima e em seguida escolha uma Matrícula!
                    </h5>
                </div>
            </div>

        </div>
    </div>
    <div class="row-fluid hide" id="container-prr">
        <div class="well">
            <fieldset>
                <legend>Disciplinas de PRR</legend>
            </fieldset>
            <div id="container-table-prr">
                <!--Conteudo preenchido pelo js-->
            </div>
        </div>
    </div>
    <br/>

    <div id="container-modal-historico" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>
</script>

<script type="text/template" id="template-grid-tbody">
    <td class="row-<%=id_disciplina%> span12">
        <h5><%=st_tituloexibicaodisciplina%></h5>
    </td>
    <td class="span3"
        ><%=st_avaliacao%>
    </td>
    <td class="td-middle">
        <% if(id_tipoavaliacao == 7) { %>
        <% if(id_notaconceitual == 2) { %>
        CONCLUÍDO
        <% } %>
        <% if(id_notaconceitual == 1) { %>
        NÃO CONCLUÍDO
        <% } %>
        <% } else { %>
        <%= id_tiponota == 1 ? parseInt(st_nota) : '' %>
        <% } %>

    </td>
    <td class="span4">
        <span class="itemSpanTituloAvaliacao">
            <%=st_tituloavaliacao%>
        </span>

        <div class="itemDivInputTituloAvaliacao hide">
            <% if(id_tipoavaliacao == 6){ %>
            <input class="input-titulo-avaliacao hide" type="text" name="st_tituloavaliacao" value="<%=st_tituloavaliacao%>">
            <% } %>
        </div>
    </td>
    <td>
        <a class="itemLinkStUpload" target="_blank" href="/upload/avaliacao/<%=st_upload%>"><%=st_upload%></a>

        <form class="form-upload hide" method="post" enctype="multipart/form-data">
            <%=id_tipoavaliacao == 6 ? '<input name="arquivo" type="file" class="btn btn-mini">' : '' %>
        </form>
    </td>
    <td><%=id_tiponota == 2 ? parseInt(st_nota) : '' %></td>
    <td class="td-middle span1">
        <div class="btn-group item-form-actions">
            <button class="btn btn-primary btn-editar"> <%=id_tipoavaliacao === 7 ? 'Conceito' : 'Nota' %>
            </button>
            <% if(id_tipoavaliacao != 7){ %>
            <button title="Adicionar Aproveitamento" class="btn tooltipClass btn-info btn-lancar-aproveitamento" >Aproveitamento
            </button>
            <% } %>
            <button title="Ver Histórico" class="btn tooltipClass btn-success btn-visualizar-historico">
                <i class="icon-list icon-white"></i>
            </button>
        </div>
        <div class="control-group item-form-lancar-nota pull-rigth hide">
            <% if(id_tipoavaliacao == 7){ %>
            <legend>Conceito</legend>
            <% } else { %>
            <legend>Nota Normal</legend>
            <% } %>
            <input class="input-mini datepicker inputMaskData input-dt-cadastro-avaliacao" value="<%=st_dtavaliacao%>" placeholder="Dia/Mes/Ano" value="" type="text">

            <% if(id_tipoavaliacao == 7){ %>
            <br/>
            <select id="conceito"
                    data-trigger="hover"
                    data-placement="left"
                    class="popoverClass input-conceito<%=id_avaliacaoconjuntoreferencia%>">
                <option>Escolha</option>
                <option value="2"
                <%=id_notaconceitual === 2 ? "selected='selected'" : '' %>
                >CONCLUÍDO</option>
                <option value="1"
                <%=id_notaconceitual === 1 ? "selected='selected'" : '' %>
                >NÃO CONCLUÍDO</option>
            </select>
            <br/>
            <%} else {%>
            <input data-trigger="hover" data-placement="left" data-title="Importante" data-content="Insira uma nota com valor entre 0 e <%=parseInt(nu_notamax)%>"
                   class="input-mini inputMaskNota input-nota-normal popoverClass" placeholder="Nota" value="<%=id_tiponota == 1 ? parseInt(st_nota) : '' %>" type="number" max="<%=nu_notamax%>" min="0">
            <%}%>

            <button type="button" title="Cancelar edição" class="btn tooltipClass btn-voltar btn-inverse">Cancelar</button>
            <div class="btn-group pull-right">
                <button title="Excluír Nota"
                <%=st_nota !== '' ? '' : 'disabled' %> class="btn btn-danger tooltipClass btn-excluir-nota"><i class="icon-remove icon-white"></i></button>
                <button type="button" title="Salvar Nota" class="btn btn-success tooltipClass btn-salvar-nota-normal"><i class="icon-ok icon-white"></i></button>
            </div>
        </div>
        <div class="item-form-lancar-aproveitamento hide">
            <legend>Aproveitamento Parcial</legend>
            <input class="input-mini inputMaskNota input-nota-aproveitamento popoverClass" data-placement="left" data-title="Importante" data-content="Insira uma nota com valor entre 0 e <%=parseInt(nu_notamax)%>"
                   placeholder="Nota" value="<%=id_tiponota == 2 ? parseInt(st_nota) : '' %>" type="number" max="<%=nu_notamax%>" min="0">

            <div class="span12">
                <button title="Voltar" class="btn btn-inverse tooltipClass btn-voltar-form-aproveitamento span6">Cancelar</button>
                <button title="Salvar Aproveitamento" class="btn btn-success tooltipClass btn-salvar-nota-aproveitamento"><i class="icon-ok icon-white"></i></button>
            </div>
        </div>
    </td>
</script>

<script type="text/template" id="template-table">
    <style>
        /*.table th, .table td {*/
        /*border-top: 1px solid #aaaaaa;*/
        /*}*/

        /*.table td {*/
        /*border-right: 1px solid #aaaaaa;*/
        /*}*/

        .td-middle {
            vertical-align: middle;
        }
    </style>
    <table class="backgrid table table-hover table-striped table-bordered table-grid">
        <thead>
        <th>Disciplina</th>
        <th>Avaliação</th>
        <th>Nota</th>
        <th>Título</th>
        <th>Arquivo</th>
        <th>Aproveitamento</th>
        <th>
            Lançar
            <div class="pull-right" style="color: #000;">
                <button class="btn btn-mini popoverClass btn-toogle-tabela" data-title="Novo!" data-content="Diminua ou expanda a tabela para gerenciar melhor o restante do conteúdo da tela." data-placement="left" data-trigger="hover">
                    <i class="icon-resize-full"></i>
                </button>
            </div>
        </th>
        </thead>
        <tbody id="body-table"></tbody>
    </table>
</script>

<script type="text/template" id="template-modal-historico">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 id="myModalLabel">Avaliações Registradas</span></h4>
    </div>
    <div class="modal-body">
        <table class="table backgrid table-bordered">
            <thead>
            <th>Data Cadastro</th>
            <th>Usuario</th>
            <th>Nota</th>
            <th>Ação</th>
            <th>Origem</th>
            </thead>
            <tbody id="table-modal-historico"></tbody>
        </table>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Fechar</button>
    </div>
</script>

<script type="text/template" id="template-item-modal-historico">
    <td><%=st_dtalteracao ? st_dtalteracao : st_dtavaliacao %></td>
    <td><%=st_nomeusuario%></td>
    <td>
        <% if (id_notaconceitual == 1) { %>
        NÃO CONCLUÍDO
        <% } else if (id_notaconceitual == 2) { %>
        CONCLUÍDO
        <% } else { %>
        <%=parseInt(st_nota)%>
        <% } %>

    </td>
    <td><%=st_acao %></td>
    <td><%=id_sistema == 1 ? "Gerenciar Notas" : id_sistema == 4 ? "Sincronização Portal" : ""%></td>
</script>

<script type="text/template" id="template-lista-vazia">
    <td colspan="8">
        <div class="alert alert-warning">Nenhum item para exibição</div>
    </td>
</script>

<script type="text/javascript">
    $('#htmlContent script[type="text/template"]').appendTo($('#templateHolder'));
    $('#templateHolder').append('<link rel="stylesheet" type="text/css" href="/css/auto-complete-pessoa.css" />');
</script>

