<script id="global-view" type="text/template">
    <form method="post" accept-charset="UTF-8" novalidate>
        <div class="well">
            <legend>Básicos</legend>

            <div class="row-fluid">
                <label class="span6">
                    <span>Título</span>
                    <input class="span12" type="text" name="st_avaliacao" value="<%= st_avaliacao %>"/>
                </label>
                <label class="span3">
                    <span>Tipo</span>
                    <select class="span12" name="id_tipoavaliacao" id="id_tipoavaliacao"></select>
                </label>
                <label class="span3">
                    <span>Situação</span>
                    <select class="span12" name="id_situacao" data-validate="required"></select>
                </label>
            </div>
            <div class="row-fluid">
                <label class="span3 <%= id_tipoavaliacao == TIPO_AVALIACAO.CONCEITUAL ? 'hide' : '' %>"
                       id="valorAvaliacao">
                    <span>Valor da Avaliação</span>
                    <input class="span12" type="number" name="nu_valor" value="<%= nu_valor %>" min="1" max="100"/>
                </label>

                <label class="span4 <%= id_tipoavaliacao == TIPO_AVALIACAO.CONCEITUAL ? '' : 'hide' %>"
                       id="msgAvaliacaoConceitual">
                    <span>Está avaliação será ponderada de forma conceitual.</span>
                </label>

                <label id="provaRecuperacao" class="span3 <%= id_tipoavaliacao == TIPO_AVALIACAO.AVALIACAO_PRESENCIAL ? '' : 'hide' %>">
                    <span class="text-error text">Prova Presencial de Recuperação?</span>
                    <select class="span12" name="bl_recuperacao" id="bl_recuperacao">
                        <option value="0" <%= !bl_recuperacao ? 'selected' : '' %>>Não</option>
                        <option value="1" <%= bl_recuperacao ? 'selected' : '' %>>Sim</option>
                    </select>

                </label>
            </div>

        </div>

        <div class="well">
            <legend>Disciplina</legend>

            <div id="disciplina-content" class="row-fluid">
                <div class="span6 disciplina-left">
                    Carregando...
                </div>
                <div class="span6 disciplina-right">

                </div>
            </div>
        </div>

        <div class="well">
            <div class="pull-right">
                <button class="btn btn-success" type="submit">
                    <i class="icon-white icon-ok"></i>
                    Salvar
                </button>
            </div>
        </div>
    </form>
</script>

<!-- Templates Disciplina -->
<script id="disciplina-template" type="text/template">
    <div class="row-fuid disciplina-options">
        <label class="span4">
            <select class="span12" name="disciplina_organizacao">
                <option value="">Selecione a Organizaçao</option>
            </select>
        </label>
        <label class="span8">
            <input class="span12" type="text" name="disciplina_search" placeholder="Filtrar Disciplina"/>
        </label>
    </div>
    <b class="hide disciplinadded-label">Disciplinas adicionadas:</b>
    <div class="clearfix"></div>
    <table class="table table-hover table-striped backgrid">
        <thead>
        <tr>
            <th>Disciplinas</th>
        </tr>
        </thead>
    </table>
    <div class="disciplina-scroll">
        <table class="table table-hover table-striped backgrid">
            <tbody></tbody>
        </table>
    </div>
</script>
<script id="disciplina-view" type="text/template">
    <td><%= st_disciplina %></td>
    <td style="width: 30px;">
        <button class="btn btn-success btn-small actionAdd" type="button" title="Adicionar disciplina">
            <i class="icon-white icon-arrow-right"></i>
        </button>
    </td>
</script>
<script id="disciplinaadded-view" type="text/template">
    <td style="width: 30px;">
        <button class="btn btn-danger btn-small actionRemove" type="button" title="Remover disciplina">
            <i class="icon-white icon-arrow-left"></i>
        </button>
    </td>
    <td><%= st_disciplina %></td>
</script>

<!-- HTML -->
<div id="global-content"></div>

<div class="clearfix"></div>
<hr/>

<style>
    #disciplina-content table {
        margin: 0
    }

    .disciplina-scroll {
        border: 1px solid #657991;
        max-height: 250px;
        overflow: auto;
    }

    .disciplina-right .disciplina-options {
        visibility: hidden;
    }

    .disciplina-right .disciplinadded-label {
        display: block;
        margin-top: -22px;
    }
</style>

<script type="text/javascript">
    $('#templateHolder').empty().append($('#htmlContent script[type="text/template"]'));
    <?php echo $this->render('/avaliacao/index.js') ?>
</script>