
<script type="text/template" id="template-layout">

    <div class="row-fluid" id="regTipoBusca">

    </div>

    <div class="row-fluid" id="regBuscaIndividualForm">

    </div>

    <div class="row-fluid" id="regGridResultados">

    </div>

</script>


<script type="text/template" id="tipoBuscaTemplate">

    <div class="well">
        <div class="row-fluid">
            <form id="formTipoBusca">
                <div class="span6">
                    <label>Tipo:</label>
                    <select id="selectTipoBusca" class="span6">
                        <option value="">Selecione...</option>
                        <option value="1" title="Busca por nome do aluno, e-mail ou CPF.">Individual</option>
                        <option value="2" title="Busca todos os alunos com declarações pendentes.">Por Lote</option>
                    </select>
                </div>
            </form>
            <div class="span6">
                <button id="botaoPesquisa" class="btn btn-primary pull-right" type="submit" form="formTipoBusca">Pesquisar</button>
            </div>
        </div>
    </div>

</script>

<script type="text/template" id="gridResultadosTemplate">
    <div class="well">
        <div class="row-fluid" style="margin-bottom: 1em;">
            <button id="gerarEtiquetas" class="btn btn-success pull-right">Gerar Etiqueta(s)</button>
        </div>


        <div class="row-fluid" id="gridResultados">

        </div>
    </div>
</script>

<script type="text/template" id="pesquisaIndividualTemplate">
    <div class="well">
        <div class="row-fluid">

            <form id="formBuscaIndividual" class="form-inline" method="post">
                    <span class="span5">
                        <label>Nome do aluno: </label>
                        <input class="span12" type="text" id="st_nomealuno" name="st_nomecompleto">
                    </span>
                    <span class="span4">
                        <label>E-mail:</label>
                        <input class="span12" type="text" id="st_email" name="st_email">
                    </span>
                    <span class="span3">
                        <label>CPF:</label>
                        <input class="span12" type="text" id="st_cpf" name="st_cpf">
                    </span>
            </form>


            <!--               CASO FOR EXIGIDO SER INLINE -->
            <!--                                    <span class="span5">-->
            <!--                        <label class="span3">Nome do aluno: </label>-->
            <!--                        <input class="span9" type="text" id="st_nomealuno" name="st_nomealuno">-->
            <!--                    </span>-->
            <!--                    <span class="span4">-->
            <!--                        <label class="span2">Email:</label>-->
            <!--                        <input class="span10" type="text" id="st_email" name="st_email">-->
            <!--                    </span>-->
            <!--                    <span class="span3">-->
            <!--                        <label class="span2">CPF:</label>-->
            <!--                        <input class="span10" type="text" id="st_cpf" name="st_cpf">-->
            <!--                    </span>-->

        </div>
    </div>
</script>


<script type="text/template">

</script>

<script type="text/javascript"> $('#htmlContent script[type="text/template"]').appendTo($('#templateHolder'));</script>
<script type="text/javascript" src="<? $this->baseUrl() ?>/gerar-etiqueta/js"></script>