<script>
    function reload() {
        location.reload();
    }
</script>

<?php
$cont = 0;
if (!empty($this->listaSaladeaula)) :
    foreach ($this->listaSaladeaula as $idModulo => $dadosModulo) :
        foreach ($dadosModulo['disciplinas'] as $index => $to) :
            $idDisciplina = $to->getId_disciplina();
            if ($to->getId_status() == 0 && $this->isPosGraduacao) :
                $to->setId_status(3);
                $to->setsT_status("Não Iniciada");
            endif;

            if ($cont == 0) :
                $titulo = $to->st_tituloexibicaoprojeto;
                $sala = $to->getSt_saladeaula();
                ?>
                <div class="row">
                <div class="col-md-5">
                <ul class="side-navigation uny colored-list aluno">
            <?php
            endif;

            $cont++;

            $hoje = new Zend_Date(null);
            $dt_abertura = new Zend_Date($to->getDt_abertura(), 'MM.dd.yyyy');
            $dt_encerramento = $to->getDt_encerramento();
            $aceitaAbertura = false;
            $aceitaEncerramento = false;

            if ($dt_abertura && $hoje->isLater($dt_abertura) || $dt_abertura->isToday()) :
                $aceitaAbertura = true;
            endif;

            if (is_null($dt_encerramento)) :
                $aceitaEncerramento = true;
            elseif ($hoje->isEarlier($dt_encerramento) || $dt_encerramento->isToday()) :
                $aceitaEncerramento = true;
            endif;

            ?>
            <li class="menu-item">
                <?php
                if ((!$this->isPosGraduacao && $to->getId_status() == 1)
                    || ($this->isPosGraduacao && $to->getId_status() == 1 && $to->getSt_status() !== "Erro")
                ) :
                    $class = 'aberta';
                    $notificacao = 'javascript:void(0)';
                elseif ($to->getId_status() == 2) :
                    $class = 'fechada';
                    $notificacao = '#mensagem-uny';
                elseif ($to->getId_status() == 3) :
                    $class = 'nao-iniciada';
                    $notificacao = '#mensagem-uny';
                elseif ($to->getId_status() == 4) :
                    $class = 'em-processamento';
                    $notificacao = '#mensagem-uny';
                else:
                    $class = 'nao-iniciada';
                    $notificacao = '#mensagem-uny';
                endif;

                if (!empty($dt_encerramento)
                    && (strtotime(date('d-m-Y')) > strtotime($dt_encerramento->toString('dd-MM-YYYY')))) :
                    $class = 'fechada-final';
                endif;

                ?>
                <div class="status">
                    <i class="icon-circle <?php echo $class; ?>"></i>
                    <?php if ($to->getId_status() == 4) : ?>
                        <button title="Recarregar sala" id="reload" onclick="reload()" type="button" class="btn">
                            <i class="icon-refresh"></i>
                        </button>
                    <?php endif; ?>
                </div>
                <a href="<?php echo ($to->getId_status() != 4) ? $notificacao : ''; ?>"
                   style="<?php echo ($to->getId_status() == 4) ? 'width: 83%' : 'width: 95%'; ?>"
                   id="<?php echo $to->getId_disciplina() . '#' . $aceitaAbertura . '#' . $aceitaEncerramento; ?>"
                   class="acessosaladeaula <?php echo $class; ?>" data-rel="<?php echo $idDisciplina; ?>"
                   title="Clique para acessar a sala de aula - <?php echo $to->getSt_disciplina(); ?>">
                    <span class="disciplina">
                        <?php echo ($to->getId_categoriasala() == 2) ?
                            'PRR - ' . $to->getSt_disciplina() : $to->getSt_disciplina(); ?>
                    </span>
                    <?php if ($to->getSt_professor() != '') : ?>
                        <span>
                            <strong>Tutor: </strong> <?php echo $to->getSt_professor(); ?>
                        </span>
                    <?php endif; ?>
                </a>
            </li>
        <?php
        endforeach;
    endforeach;
    ?>
    </ul>
    </div>
    <div class="col-md-7">
        <?php

        /*
         * Inserção do módulo de mensagem caso o usuário tenha mensagens não lidas
         */
        echo $this->action('aluno', 'mensagem', 'portal');

        /*
         * Inserção do módulo de agendamento
         */
        // Essa mensagem não deve aparecer por enquanto em produção no portal
        // DESCOMENTAR QUANDO FOR LIBERADO O AGENDAMENTO EM PRODUCAO

        echo $this->action('box-agendamento', 'avaliacao', 'portal');


        /*
         * Mensagem de renovação de matrícula- alteracao de grade
         */
        echo $this->action('renovacao', 'grade-disciplina', 'portal');

        ?>

        <div class="info-salas-geral">
            <h3 class="titulo-disciplina">
                <?php echo $titulo ?>
            </h3>

            <?php
            if (isset($this->nomeCoordenadorTitular)) {
                ?>
                <div class="well">
                    <strong>Coordenador: </strong>
                    <?php
                    echo $this->nomeCoordenadorTitular;
                    ?>
                </div>
                <?php
            }
            ?>

            <div class="title-seperator"></div>

            <p>
                <?php echo $this->pp->st_descricao; ?>
            </p>

            <div class="title-block clearfix legendas-tit">
                <h3 class="h3-body-title">legenda</h3>

                <div class="title-seperator"></div>
            </div>
            <ul class="legendas clearfix">
                <li>
                    <ul>
                        <li><i class="icon-circle aberta"></i>Aberta</li>
                        <li><i class="icon-circle fechada"></i>Fechada</li>
                        <li><i class="icon-circle em-processamento"></i>Em processamento</li>
                        <li><i class="icon-circle nao-iniciada"></i>Não iniciada</li>
                    </ul>
                </li>
            </ul>
            <?php if (Ead1_Sessao::getSessaoEntidade()->bl_acessoapp) : ?>
                <div class="row">
                    <div class="col-md-12 text-center">
                        <div class="section-content section-apps">
                            <p>Conheça nosso aplicativo</p>
                            <a href="https://itunes.apple.com/us/app/portal-do-aluno/id1037099343?mt=8" target="_blank">
                                <img src="../../images/assets/appStore.png" alt="" class="img-app">
                            </a>
                            <a href="https://play.google.com/store/apps/details?id=com.unyleya.portalapp&referrer=utm_source%3Dportal%26utm_content%3DPortal%2520do%2520Aluno%26utm_campaign%3DPortal%2520do%2520Aluno"
                               target="_blank">
                                <img src="../../images/assets/playStore.png" alt="" class="img-app">
                            </a>
                        </div>
                    </div>
                </div>
            <?php endif; ?>
        </div>
        <?php
        foreach ($this->listaSaladeaula as $idModulo => $dadosModulo) :
            foreach ($dadosModulo['disciplinas'] as $index => $to) :
                $idDisciplina = $to->getId_disciplina();

                if ($to->getId_status() == 0 && $this->isPosGraduacao) :
                    $to->setId_status(3);
                    $to->setsT_status("Não Iniciada");
                endif;

                //Validações da sala de aula
                $hoje = new Zend_Date(null);
                $dt_abertura = $to->getDt_abertura();
                $dt_encerramento = $to->getDt_encerramento();
                $aceitaAbertura = false;
                $aceitaEncerramento = false;

                if ($dt_abertura && $dt_abertura && ($hoje->isLater($dt_abertura) || $dt_abertura->isToday())) :
                    $aceitaAbertura = true;
                endif;

                $isEncerradaPorData = false;
                if (!empty($dt_encerramento)
                    && (strtotime(date('d-m-Y')) > strtotime($dt_encerramento->toString('dd-MM-YYYY')))) :
                    $isEncerradaPorData = true;
                endif;

                if (is_null($dt_encerramento)) :
                    $aceitaEncerramento = true;
                elseif ($hoje->isEarlier($dt_encerramento) || $dt_encerramento->isToday()) :
                    $aceitaEncerramento = true;
                endif;

                if ($to->getId_sistema() == SistemaTO::BLACKBOARD) :
                    $target = '_blank';
                else :
                    $target = '_self';
                endif;

                ?>
                <div class="feature info-salas" data-rel="<?php echo $idDisciplina; ?>">
                    <div class="header-info-salas">
                        <h3 class="section-title">
                            <?php

                            echo ($to->getId_categoriasala() == 2) ?
                                'PRR - ' . $to->getSt_disciplina() : $to->getSt_disciplina();
                            ?>
                        </h3>
                    </div>
                    <div class="feature-content">
                        <p>
                            <?php echo $to->getSt_descricaodisciplina();
                            ?>
                        </p>

                        <ul class="icons-list arrow">
                            <li class="tutor">
                                <strong>Tutor:</strong>
                                <?php echo ($to->getSt_professor() != '') ? $to->getSt_professor() : ' &mdash; ';
                                ?>
                            </li>
                            <?php if (!$isEncerradaPorData): ?>
                                <li>
                                    <strong>Status:</strong>
                                    <?php
                                    if ($this->isPosGraduacao && $to->getSt_status() === "Erro"):
                                        ?>
                                        --
                                    <?php
                                    else:
                                        echo $to->getSt_status();
                                    endif;
                                    ?>
                                </li>
                            <?php endif; ?>
                            <?php
                            //mostra as datas da sala de aula sempre que o tipo da sala for diferente de Permanente ou a categoria igual a PRR
                            if ($to->getId_tiposaladeaula() != 1 || $to->getId_categoriasala() == 2):
                                ?>
                                <li>
                                    <strong>Data início:</strong>
                                    <?php echo $dt_abertura ? $dt_abertura->toString('dd/MM/Y') : ""; ?>
                                </li>
                                <li>
                                    <strong>Data final:</strong>
                                    <?php echo($to->getDt_encerramentosala() instanceof Zend_Date ? $to->getDt_encerramentosala()->toString('dd/MM/Y') : ''); ?>
                                </li>
                            <?php
                            endif;
                            //verifica se tem data de ecerramento da sala e se o numero de dias de acesso é diferente de vazio
                            if (!is_null($to->getDt_encerramentosala()) && !empty($to->getNu_diasacesso())):

                                //atribui os valores as variaveis
                                $nu_dias = (int)$to->getNu_diasacesso();
                                $dt_fim = clone $to->getDt_abertura();
                                $dt_fim->addDay($nu_dias);//adiciona os dias na data de abertura

                                $dt_hoje = clone $hoje;//pega a data de hoje

                                //calcula o numero de dias restantes, chamando a helper
                                $nu_diasRestantes = $this->dateDiff($dt_hoje->toString('dd/MM/Y'), $dt_fim->toString('dd/MM/Y'));

                                //verifica os dias restantes para setar a classe bootstrap
                                if ($nu_diasRestantes <= 0):
                                    $class = "muted";
                                elseif ($nu_diasRestantes >= 10 && $nu_diasRestantes <= 20):
                                    $class = "text-warning";
                                else:
                                    $class = "text-success";
                                endif;
                                ?>
                                <li>
                                    Você possui <strong class="<?php echo $class; ?>">
                                        <?php echo $nu_diasRestantes <= 0 ? 0 : $nu_diasRestantes; ?>
                                        dia(s)</strong> de acesso neste curso.
                                </li>
                            <?php
                            endif;
                            ?>
                        </ul>
                        <div class="centro-botao">
                            <form method="post" action="<?php echo $this->baseUrlModulo; ?>/Index/lms"
                                  target=<?php echo $target; ?>>
                                <input type="hidden" name="id_saladeaula"
                                       value="<?php echo $to->getId_saladeaula(); ?>"/>
                                <input type="hidden" name="id_categoriasala"
                                       value="<?php echo $to->getId_categoriasala(); ?>"/>
                                <input type="hidden" name="id_disciplina"
                                       value="<?php echo $to->getId_disciplina(); ?>">
                            </form>
                        </div>
                        <div class="space-sep"></div>
                        <?php if ($to->getId_status() == 4) : ?>
                            <div class="row">
                                <div class="col-md-12 col-sm-12">
                                    <div class="info-box yellow">
                                        <div class="msg">Estamos preparando seu ambiente de estudos. Aguarde alguns
                                            minutos e recarregue as salas.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <?php endif; ?>
                    </div>
                    <div class="space-sep"></div>
                </div>
            <?php
            endforeach;
        endforeach;
        ?>
    </div>

    <input id="matriculaAluno" type="hidden" value="<? echo $this->matricula; ?>">
    <input id="idUsuarioOriginal" type="hidden" value="<? echo (Ead1_Sessao::getSessaoUsuario()->id_usuariooriginal)?
        Ead1_Sessao::getSessaoUsuario()->id_usuariooriginal: 0; ?>">
    <div class="modal fade bd-example-modal-sm"
         tabindex="-1" role="dialog"
         aria-labelledby="mySmallModalLabel"
         aria-hidden="true"
         id="modalOcorrenciaPrincipal"
         data-backdrop="static"
         data-keyboard="false">
        <div class="modal-dialog modal-sm">
            <div class="modal-content ">
                <div class="modal-header">
                    <h5 class="modal-title">Serviço de Atenção - Ocorrência aguardando a sua resposta</h5>
                </div>
                <div class="modal-body">
                    <div id="regiao-grid-ocorrencia" class="span12"></div>
                </div>
                <div class="modal-footer">
                    <button type="button"
                            class="button small button-main"
                            id="confirmar-ciencia"
                            data-dismiss="modal">Confirmar Ciência
                    </button>
                </div>
            </div>
        </div>
    </div>
    </div>
    <?php
    echo $this->partial('tutorial/aluno-tutorial.phtml');
else :
    ?>
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <h1 class="h1-section-title">
                <?php echo $this->message ?>
            </h1>
        </div>
    </div>
<?php endif; ?>