<div class="space-sep"></div>
<div class="row gerenciar-salas">
    <div class="col-md-12 col-sm-12 pajinate-wrapper">
        <div class="row" style="padding-bottom: 10px;">
            <div class="col-md-1">
                <div class="botao-voltar-projetos">
                    <a class="btn btn-default">
                        <i class="icon-long-arrow-left"></i>
                    </a>
                </div>
            </div>
            <div class="col-md-11">
                <form id="formBuscaDeProjetos">
                    <div class="input-group col-md-5 pull-right">
                        <input type="text" class="form-control" id="buscaDeProjetos" placeholder="Digite o nome do seu curso" name="q" autocomplete="off" value="">
                        <span class="input-group-btn">
                            <button class="btn btn-default" id="buscaDeProjetos" type="submit">Buscar</button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
        <?php $perfilMostraCoordenador = array(3, 7); ?>
        <div class="side-navigation uny gestao" id="search-sala-lista" style="overflow: auto">
            <h5 class="titulo">
                <a href="javascript:void(0)">Cursos</a>
                <?php if (in_array(Ead1_Sessao::getSessaoPerfil()->id_perfilpedagogico, $perfilMostraCoordenador)) { ?>
                    <a href="javascript:void(0)" class="pull-right"> Coordenador </a>
                <?php } ?>
            </h5>
            <table id="projetos-table" class="table hover"></table>
            <span id="position-marker"><strong></strong></span>
        </div>

        <input type="hidden" name="id_perfil" id="id_perfil"
               value="<?php echo Ead1_Sessao::getSessaoPerfil()->id_perfilpedagogico; ?>"/>


        <script type="text/template" id="projetos-pedagogicos">
            <td class="mostrar-projeto" id="<%=id_projetopedagogico%>">
                <%=st_projetopedagogico%>
            </td>
            <?php if (in_array(Ead1_Sessao::getSessaoPerfil()->id_perfilpedagogico, $perfilMostraCoordenador)) { ?>
                <td> <%=st_coordenador%></td>
            <?php } ?>
        </script>
    </div>
    <div class="col-md-12" id="salasdeaula-wrapper">
        <script type="text/template" id="salasdeaula">
            <div class="feature info-salas" data-rel="<%=id_projetopedagogico%>">
                <div class="header-info-salas">
                    <h3 class="section-title"><%=st_projetopedagogico%></h3>
                </div>
                <div class="feature-content">
                    <div class="cortina"></div>
                    <div class="row">
                        <div class="col-md-8">
                            <div class="portfolio-filter-container uny">
                                <div class="portfolio-filter-label">
                                    Filtro:
                                </div>

                                <div class="filtro-grupo">
                                    <ul class="portfolio-filter filtro-geral-salas">
                                        <li>
                                            <a href="javascript:void(0)" data-rel="0">Todas</a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0)" class="portfolio-selected" data-rel="1">Aberta</a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0)" data-rel="2">Fechada</a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0)" data-rel="3">Não iniciada</a>
                                        </li>
                                    </ul>
                                    <div class="clearfix"></div>
                                    <hr/>
                                    <ul class="portfolio-filter subfiltro-geral-salas">
                                        <li>
                                            <a class="portfolio-selected" href="javascript:void(0)" data-filter='{"id_categoriasala":"1","id_tipodisciplina_dif":"3"}'>Normal</a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0)" data-filter='{"id_categoriasala":"2"}'>PRR</a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0)" data-filter='{"id_tipodisciplina":"3"}'>Ambientação</a>
                                        </li>
                                    </ul>
                                </div>

                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="backgrid-filter form-search filter-salas">
                                <span class="search">&nbsp;</span>
                                <input type="search" class="buscaDeProjetosSalas"
                                       placeholder="Digite o nome da sala" name="q">
                                <span class="clearFilter"><i class="icon-remove"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="icons-list circle colored-list lista-salas"></div>
                </div>
            </div>
        </script>

        <form id="frmAcessoSala" method="post" action="<?php echo $this->baseUrlModulo ?>/index/lms">
            <input type="hidden" name="id_disciplina" id="frm_id_disciplina"/>
            <input type="hidden" name="id_saladeaula" id="frm_id_saladeaula"/>
        </form>
    </div>
</div>