<script type="text/javascript">localStorage.clear();</script>
<div class="container">
    <div class="row body-login">
        <div class="col-md-6 col-md-push-3">
            <form class="form-wrapper login-portal" method="post" name="frmPasswd" id="frmPasswd" role="form"
                  style="display:none">
                <input type="hidden" id="urlPost"
                       value="<?php echo $this->url(array('controller' => 'index', 'action' => 'validarecuperacaosenha', 'module' => 'portal'), null, true); ?>"/>
                <input type="hidden" id="urlVoltar" value="<?php echo Ead1_Ambiente::geral()->applicationUrl; ?>"/>

                <div class="col-md-12">
                    <h2 class="titulo-login text-center">Recuperação de senha</h2>
                    <div id="lb-error" style="display:none" class="alert alert-info"></div>
                    <div id="lb-success" style="display:none" class="alert alert-success"></div>
                </div>
                <h4 class="text-center">Informe obrigatoriamente o seu E-mail</h4>
                <div class="form-group clearfix">
                    <div class="col-md-12">
                        <input type="text" name="email" class="form-control" id="email" placeholder="E-mail"/>
                    </div>
                </div>

                <div class="divider"></div>
                <h4 class="text-center">Agora informe seu CPF ou Login</h4>

                <div class="form-group clearfix">
                    <div class="col-md-12">
                        <input type="text" name="cpf" class="form-control" id="cpf" placeholder="CPF"/>
                    </div>
                </div>
                <div class="form-group clearfix">
                    <div class="col-md-12">
                        <input type="text" name="login" class="form-control" id="login" placeholder="Login"/>
                    </div>
                </div>
                <div class="space-sep-10"></div>
                <div class="form-group clearfix acoes-botoes">
                    <div class="col-md-4">
                        <a href="javascript:" id="cancelar-recuperacao">Cancelar</a>
                    </div>
                    <div class="col-md-8">
                        <input type="submit" id="btnRecuperar" value="Recuperar Senha">
                    </div>
                </div>
<!--                <div style="text-align: center">-->
<!--                    <span>*É obrigatório preencher o E-mail e CPF ou Login!</span>-->
<!--                </div>-->
            </form>
            <form class="form-wrapper login-portal" method="post" name="frmLogin" id="frmLogin" role="form"
                  action="/portal/login/validar">
                <div class="col-md-12">
                    <h2 class="titulo-login">Bem-vindo ao seu Portal</h2>
                </div>
                <div id="lb-senha" <? if (!isset($this->messages[0]) || $this->messages[0] == null) { ?> style="display:none" <? }?>class="alert alert-danger"><?=$this->messages[0]?></div>
                <div class="form-group clearfix">
                    <div class="col-md-12">
                        <label class="control-label" for="nomusuario">E-mail ou Usuário *</label>
                        <input type="text" name="nomusuario" id="nomusuario" class="form-control" required="">
                    </div>
                </div>
                <div class="form-group clearfix">
                    <div class="col-md-12">
                        <label class="control-label" for="dessenha">Senha *</label>
                        <!-- type email used by jquery validate -->
                        <input type="password" name="dessenha" id="dessenha" class="form-control" required="">
                    </div>
                </div>
                <div class="space-sep-10"></div>
                <div class="form-group clearfix acoes-botoes">
                    <div class="col-md-6">
                        <a id="recuperar-senha"
                           data-oldhref="<?php echo $this->url(array('controller' => 'index', 'action' => 'recuperarsenha', 'module' => 'portal'), null, true) ?>"
                           href="javascript:">
                            Recuperar Senha
                        </a>
                    </div>
                    <div class="col-md-6 botaoentrar">
                        <input id="btn-entrar" type="submit" value="Entrar">
                    </div>
                </div>
            </form>
            <div class="form-wrapper login-portal" name="frmSessao" id="frmSessao" >
                <div class="col-md-12">
                    <h2 class="titulo-login">Bem-vindo ao seu Portal</h2>
                </div>
                <div id="lb-error-sessao" class="alert alert-danger">Existe uma sessão com este usuário ativa! Deseja desconectar a outra sessão?</div>
                                <div class="space-sep-10"></div>
                <div class="form-group clearfix acoes-botoes">
                    <div class="col-md-6">
                        <input type="button" value="Cancelar" id="btnCancelarKick">
                    </div>
                    <div class="col-md-6">
                        <input type="button" id="btnKick" value="Confirmar">
                    </divs
                </div>
            </div>
        </div>
    </div>
</div>
<div >
    <?php
    if (isset($this->messages[0]) && $this->messages[0] != null) {
        echo $this->messages[0];
    }
    ?>
</div>