<?php if ($this->urlMoodle): ?>
    <!--Requisitando saida do moodle-->
    <iframe style="display: none;" src="<?php echo $this->urlMoodle ?>/login/logoutg2.php"></iframe>
<?php endif; ?>
<!-- removendo o localStorage para o bot -->
<script type="text/javascript"> localStorage.removeItem('id_matricula')</script>
<!--Requisitando atualizacao da pagina apos fechar sessao do portal-->
<meta http-equiv="refresh" content="0, url=<?php echo $this->baseUrlModulo ?>/">
Redirecionando.......