<div class="space-sep"></div>
<div class="row gerenciar-salas">
    <div class="col-md-12 col-sm-12 pajinate-wrapper">
        <div class="row">
            <div class="col-md-1 botao-voltar-projetos">
                <a class="btn btn-default">
                    <i class="icon-long-arrow-left"></i>
                </a>
            </div>
            <div class="col-md-8">
                <div class="portfolio-filter-container uny">
                    <div class="portfolio-filter-label">
                        Filtro:
                    </div>

                    <div class="filtro-grupo">
                        <ul class="portfolio-filter filtro-geral-disciplinas">
                            <li>
                                <a href="javascript:void(0)" data-rel="0">Todas</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" class="portfolio-selected" data-rel="1">Aberta</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" data-rel="2">Fechada</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" data-rel="3">Não iniciada</a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                        <hr/>
                        <ul class="portfolio-filter subfiltro-geral-disciplinas">
                            <li>
                                <a class="portfolio-selected" href="javascript:void(0)"
                                   data-filter='{"id_categoriasala":"1","id_tipodisciplina_dif":"3","id_situacaosala_dif":"74"}'>Normal</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)"
                                   data-filter='{"id_categoriasala":"2","id_situacaosala_dif":"74"}'>PRR</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)"
                                   data-filter='{"id_tipodisciplina":"3","id_situacaosala_dif":"74"}'>Ambientação</a>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
            <div class="col-md-4">
                <div class="backgrid-filter form-search filter-projetos">
                    <span class="search">&nbsp;</span>
                    <input type="search" id="buscaDeProjetos" placeholder="Digite o nome da disciplina" name="q">
                    <span class="clearFilter"><i class="icon-remove"></i></span>
                </div>
            </div>
        </div>

        <input type="hidden" name="id_perfil" id="id_perfil"
               value="<?php echo Ead1_Sessao::getSessaoPerfil()->id_perfilpedagogico; ?>"/>

        <div class="side-navigation uny gestao" id="search-sala-lista">
            <h5 class="titulo"><a href="javascript:void(0)">Disciplinas</a></h5>
            <table id="projetos-table" class="table hover"></table>
            <span id="position-marker"><strong></strong></span>
        </div>

        <script type="text/template" id="projetos-pedagogicos">
            <td class="mostrar-projeto" id="<%=id_disciplina%>"><%=st_disciplina%></td>
        </script>
    </div>

    <div class="col-md-12" id="salasdeaula-wrapper">
        <script type="text/template" id="salasdeaula">
            <div class="feature info-salas" data-rel="<%=id_disciplina%>">
                <div class="header-info-salas">
                    <h3 class="section-title"><%=st_disciplina%></h3>
                </div>
                <div class="feature-content">
                    <div class="cortina"></div>
                    <div class="row">
                        <div class="col-md-8">
                            <div class="portfolio-filter-container uny">
                                <div class="portfolio-filter-label">
                                    Filtro:
                                </div>

                                <div class="filtro-grupo">
                                    <ul class="portfolio-filter filtro-geral-salas">
                                        <li>
                                            <a href="javascript:void(0)" data-rel="0">Todas</a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0)" class="portfolio-selected" data-rel="1">Aberta</a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0)" data-rel="2">Fechada</a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0)" data-rel="3">Não iniciada</a>
                                        </li>
                                    </ul>
                                    <div class="clearfix"></div>
                                    <hr/>
                                    <ul class="portfolio-filter subfiltro-geral-salas">
                                        <li>
                                            <a class="portfolio-selected" href="javascript:void(0)"
                                               data-filter='{"id_categoriasala":"1","id_tipodisciplina_dif":"3","id_situacaosala_dif":"74"}'>Normal</a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0)"
                                               data-filter='{"id_categoriasala":"2","id_situacaosala_dif":"74"}'>PRR</a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0)"
                                               data-filter='{"id_tipodisciplina":"3","id_situacaosala_dif":"74"}'>Ambientação</a>
                                        </li>
                                    </ul>
                                </div>

                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="backgrid-filter form-search filter-salas span4">
                                <span class="search">&nbsp;</span>
                                <input type="search" class="buscaDeProjetosSalas"
                                       placeholder="Digite o nome da sala" name="q">
                                <span class="clearFilter"><i class="icon-remove"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="icons-list circle colored-list lista-salas"></div>
                </div>
            </div>
        </script>

        <form id="frmAcessoSala" method="post" action="<?php echo $this->baseUrlModulo ?>/index/lms">
            <input type="hidden" name="id_disciplina" id="frm_id_disciplina"/>
            <input type="hidden" name="id_saladeaula" id="frm_id_saladeaula"/>
        </form>
    </div>
</div>