<style>
    #wrapper .body-wrapper {
        padding: 0;
    }
    #conteudo-interno {
        margin: 0;
        padding: 0;
        border: none;
    }
</style>

<?php if (isset($this->tutorialUrl)) { ?>
    <iframe id="iframe-tutorial" allowfullscreen src="<?php echo $this->tutorialUrl ?>">
    </iframe>
<?php } else { ?>
    <div class="col-sm-12">
        <p class="text-warning">Alerta: não há URL de tutorial cadastrada para essa entidade.</p>
    </div>
<?php } ?>