<html>
	<table>
		<?php foreach ($this->mensageiro->getMensagem() as $dado) { ?>
		<tr>
			<td><?php echo $dado->getId_minasaula();?></td>
			<td> &nbsp;|| &nbsp; </td>
			<td><?php echo $dado->getSt_texto();?></td>
			<td> &nbsp;|| &nbsp; </td>
			<td> <a href='/minasaula/delete/id_minasaula/<?php echo $dado->getId_minasaula();?>' >Deletar</a> </td>
			<td> &nbsp;|| &nbsp; </td>
			<td> <a href='/minasaula/update/id_minasaula/<?php echo $dado->getId_minasaula();?>' >Alterar</a> </td>
		</tr>
	<?php } ?>
	</table>
</html>