<html>
	
	<form method="post" action="/Minasaula/insert">
	<div>
		<tr>
			<td> Texto para cadastro </td>
			<td><input type="text" name="st_texto"></td>
		</tr>
		<tr>
			<td colspan="2"><button type="submit"> Enviar</button>
		</tr>
	</div>	
	</form>
</html>