<table>
	<?php foreach ($this->mensageiro->getMensagem() as $dado) {?>
		<tr>
			<td><?php echo $dado->getId_minasaula();?></td>
			<td><?php echo $dado->getSt_texto();?></td>
		</tr>
	<?php } ?>
</table>
