<html>


<form method="post" action="/Minasaula/atualizar">
	<?php foreach ($this->dados->getMensagem() as $dado) {?>	
			<table>
				<tr>
					<td><input type="hidden" name="id_minasaula" value="<?php echo $dado->getId_minasaula();?>"> <?php echo $dado->getId_minasaula();?></td>
					<td><input name="st_texto" type="text" value="<?php echo $dado->getSt_texto();?>"></td>
				</tr>
				<tr><td colspan="2"><button type="submit">Atualizar</button></td></tr>
				
			</table>
	<?php }?>	
</form>
	
</html>