<?php

    $arquivo = 'relatorio_quantitade_transacoes_cartao_credito' . date('d-m-Y').'.xls';
    header("Last-Modified: " . gmdate("D,d M YH:i:s") . " GMT");
    header("Cache-Control: no-cache, must-revalidate");
    header("Pragma: no-cache");
    header("Content-Disposition: attachment; filename=\"{$arquivo}\"");
    header("Content-Description: PHP Generated Data");

?>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" >


<table role="dialog" class="table table-bordered table-striped backgrid" width="100%" border="1" cellspacing="2" cellpadding="3">
    <thead>
    <tr>
        <td colspan="7" style="text-align: center;color: #333333; display: block; font-size: 17px; line-height: 40px;">Quantidade de Transações efetuadas no cartão de crédito</td>
    </tr>
    <tr>
        <th class="span5">Entidade</th>
        <!--<th>Cartão VISA</th>
        <th>Cartão MASTERCARD</th>
        <th>Cartão AMEX</th>
        <th>Cartão ELO</th>-->
        <th>Qtd de Transações em Cartão de Crédito</th>
        <th>Somatório em R$</th>
    </tr>
    </thead>
    <tbody id="tabelaDadosRelatorio">
        <?php foreach ($this->dados as $dados) { ?>
            <tr>
                <td> <?= $dados['st_nomeentidade'] ?> </td>
                <!--<td> <?/*= $dados['nu_visa'] */?> </td>
                <td> <?/*= $dados['nu_master'] */?> </td>
                <td> <?/*= $dados['nu_amex'] */?> </td>
                <td> <?/*= $dados['nu_elo'] */?> </td>-->
                <td> <?= $dados['nu_totaltransacoes'] ?> </td>
                <td> <?= $dados['nu_totalsomatorio'] ?> </td>
            </tr>
        <?php } ?>
    </tbody>
</table>

<style type="text/css" media="all">
    @page {
        margin: 1cm;
        size: 'A4';
    }
    table {
        width: 100%;
    }
    table, td, th {
        border: solid 1px #000;
        border-collapse: collapse;
        text-align: center;
        font-family: "Helvetica Neue", "Arial", sans-serif;
        font-size: 10pt !important;
    }
    td, th {
        padding: 2px;
    }
    .backgrid thead th {
        background-color: #657991;
        color: #ffffff;
    }

    .table-bordered {
        -moz-border-bottom-colors: none;
        -moz-border-left-colors: none;
        -moz-border-right-colors: none;
        -moz-border-top-colors: none;
        border-collapse: separate;
        border-color: #aaaaaa #aaaaaa #aaaaaa -moz-use-text-color;
        border-image: none;
        border-radius: 4px;
        border-style: solid solid solid none;
        border-width: 1px 1px 1px 0;
    }
    .table {
        margin-bottom: 20px;
        width: 100%;
    }
    table {
        background-color: transparent;
        border-collapse: collapse;
        border-spacing: 0;
        max-width: 100%;
    }
</style>