<div class="tutorial">
    <div class="faixa-superior"></div>
    <div id="prev" class="cycle-prev"></div>
    <div id="next" class="cycle-next"></div>
    <div class="close-wrapper">
        <div class="cycle-next cycle-close"></div>
        <div class="elemento-fechar texto">
            <span>Fechar</span>
        </div>
    </div>

    <div class="overlay"></div>
    <div class="wrapper-slide">
        <div class="cycle-slideshow"
             data-cycle-slides="> div.elementos"
             data-cycle-timeout=0
             data-cycle-loop="1"
             data-cycle-fx="fadeout"
             data-cycle-prev="#prev"
             data-cycle-next="#next">

            <div class="logo-tutorial">
                <?php
                if (Ead1_Sessao::getSessaoEntidade()->id_entidade != null) {
                    ?>
                    <img
                        src="<?php echo $this->baseUrl ?>/layout/<?php echo Ead1_Sessao::getSessaoEntidade()->id_entidade ?>/imagens/logo_padrao.png"
                        alt="Portal do Aluno"/>
                <?php
                } else {
                    $id_entidade = null;
                    ?>

                    <img
                        src="<?php echo $this->baseUrl ?>/layout/<?php echo Ead1_Sessao::getSessaoEntidade()->st_layout ?>/imagens/logo_padrao.png"
                        alt="Portal do Aluno"/>
                <?php
                }
                ?>
            </div>
            <div class="elementos parte-1">
                <div class="overlay"></div>
                <div class="elemento-1-1">
                    <div class="texto">
                        <p><span>Prezado(a) aluno(a),</span></p>

                        <p>
                            Seja <span>bem-vindo</span> a nova versão do <span>Portal do Aluno.</span> Essa versão, além de apresentar as
                            ferramentas que você já conhece, apresentará também o layout de forma responsiva,
                            adaptando-se a smartphones e tablets, visando a acessibilidade ao <span>Ambiente Virtual de
                            Aprendizagem.</span>
                        </p>

                        <p>
                            Para que possa melhor entender a navegação no novo Portal do Aluno, você será
                            direcionado, a partir de agora, a um <span>tutorial onde serão contempladas</span> as principais
                            novidades do novo portal. Salientamos que o tutorial ficará ao seu dispor para consulta
                            sempre que achar necessário, além do <span>Serviço de Atenção ao Aluno – SAA</span> que estará
                            disponível para qualquer esclarecimento.
                        </p>

                        <p>
                            Cordialmente,<br/> <span>Coordenação Acadêmica.</span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="elementos parte-1">
                <div class="overlay"></div>
                <div class="elemento-2-2"></div>
                <div class="elemento-2-3"></div>
                <div class="elemento-2-4"></div>
                <div class="elemento-2">
                    <div class="texto">
                        Nesta tela, você visualizará todas as <span>Disciplinas</span> do seu <span>Curso</span> e a
                        situação em que cada uma
                        se
                        encontra.
                    </div>
                </div>
            </div>
            <div class="elementos parte-1">
                <div class="overlay"></div>
                <div class="elemento-3-1"></div>
                <div class="elemento-3-2"></div>
                <div class="elemento-3"></div>
                <div class="elemento-4">
                    <div class="texto">
                        Antes de entrar na sala de aula (disciplina), observe as funcionalidades que são
                        apresentadas no
                        Menu Superior. Você encontrará:
                        <ul>
                            <li><span>PRINCIPAL:</span> retorna para a tela inicial do curso.</li>
                            <li><span>SECRETARIA:</span> espaço com informações relevantes para o andamento do
                                curso.
                            </li>
                            <li><span>SERVIÇO DE ATENÇÃO:</span> local para contato com a instituição. Aqui você
                                cadastrará suas
                                dúvidas e solicitações.
                            </li>
                        </ul>

                    </div>
                </div>
                <div class="elemento-5"></div>
            </div>
            <div class="elementos parte-1">
                <div class="overlay"></div>
                <div class="elemento-6-1"></div>
                <div class="elemento-6">
                    <div class="texto">
                        Ao passar o mouse no ícone <span>SECRETARIA</span>, aparecerão as seguintes opções:
                        <ul>
                            <li><span>MEUS DADOS:</span> aqui você encontrará seus dados cadastrados na Instituição;
                            </li>

                            <li><span>GRADE DE NOTAS:</span> neste link você poderá acompanhar seu rendimento
                                acadêmico;
                            </li>

                            <li><span>CRONOGRAMA:</span> aqui você acompanhará o andamento (datas) das disciplinas
                                do seu
                                curso;
                            </li>
                            <li><span>MANUAL DO ALUNO:</span> é o conjunto sistemático de normas e procedimentos que
                                serão
                                importantes para sua vida acadêmica;
                            </li>
                            <li><span>TABELA DE PREÇO:</span> tabela com as taxas administrativas e seus valores;
                            </li>
                            <li><span>MINHA PASTA:</span> nesta ficarão documentos diversos, como, por exemplo, o
                                seu contrato
                                com a
                                Instituição.
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="elemento-7"></div>
            </div>
            <div class="elementos parte-1">
                <div class="overlay"></div>
                <div class="elemento-8"></div>
                <div class="elemento-9-1"></div>
                <div class="elemento-9">
                    <div class="texto">
                        Para acessar a <span>Sala de Aula</span>, clique sobre o nome da disciplina a ser
                        trabalhada.
                        </ul>
                    </div>
                </div>
            </div>
            <div class="elementos parte-2">
                <div class="overlay"></div>
                <div class="elemento-1-1"></div>
                <div class="elemento-1">
                    <div class="texto">
                        Este é um exemplo de Sala de Aula.
                        Para <span>sair</span> do sistema após desenvolver seus estudos,
                        <span>visualizar avisos</span> ou <span>trocar seu acesso</span>
                        (para
                        outro curso), clique sobre o ícone do canto superior direito da tela.
                        </ul>
                    </div>
                </div>
                <div class="elemento-2"></div>

            </div>
            <div class="elementos parte-2">
                <div class="overlay"></div>

                <div class="elemento-3"></div>
                <div class="elemento-3-1"></div>
                <div class="elemento-4">
                    <div class="texto">
                        Para alterar a sala de aula sem precisar voltar no menu principal, passe o mouse sobre o
                        nome da
                        disciplina na qual você está, com isso aparecerá a aba que você está visualizando abaixo.
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>