<div id="containerForm" class="row-fluid">
    <form method="post" action="" name="formAreaConhecimento" id="formAreaConhecimento">
        <?php echo $this->form->id; ?>
        <div class="well well-small">
            <div class="row-fluid">
                <div class="span3">
                    <label>Título</label>
                    <?php echo $this->form->st_areaconhecimento; ?>
                </div>
                <div class="span3">
                    <label>Título de Exibição</label>
                    <?php echo $this->form->st_tituloexibicao; ?>
                </div>
                <div class="span3">
                    <label>Situação</label>
                    <?php echo $this->form->id_situacao; ?>
                </div>
                <div class="span3">
                    <label>Tipo</label>
                    <?php echo $this->form->id_tipoareaconhecimento; ?>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span3">
                    <label>
                        Imagem para área de conhecimento:
                        <?php
                        $img = $this->form->imgArea;
                        if (!empty($img) && file_exists(realpath(APPLICATION_PATH . "/../public" . $img))):
                            $img = $img;
                        else:
                            $img = '/upload/areaconhecimento/sem-imagem.jpg';
                        endif;
                        ?>

                        <img id="imagem-area" src="<?php echo $img; ?>" class="img-polaroid span12">

                        <input type="file" name="st_imagemarea" id="st_imagemarea">
                    </label>
                </div>
                <div class="span9">
                    <label>Descrição</label>
                    <?php echo $this->form->st_descricao; ?>
                </div>
            </div>
        </div>
        <div class="row-fluid">
            <label>Organizações</label>

            <div id="entidades"></div>
            <div class="clearfix"></div>
        </div>

        <div class="clearfix"></div>
        <div class="form-actions">
            <?php echo $this->form->btnSbmit; ?>
        </div>

    </form>
</div>


<script src="<?php echo $this->baseUrl(); ?>/js/backbone/backbone-model-file-upload.js"></script>
<script src="<?php echo $this->baseUrl(); ?>/js/CollectionView.js"></script>
<script src="<?php echo $this->baseUrl(); ?>/js/jquery.jstree.js"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/jquery/syntax/!script.js"></script>
<style type="text/css">
    #entidades {
        padding-bottom: 20px;
    }
</style>

<script type="text/javascript"> $('#htmlContent script[type="text/template"]').appendTo($('#templateHolder'));</script>
<script type="text/javascript" src="/area-conhecimento/js"></script>