<script type="text/template" id="template-aba-data-termino">
    <div class="row-fluid">
        <div class="span3">
            <div class="row-fluid">
                <p>
                    <strong>Data da Matrícula</strong><br>
                    <%=dt_inicio%>
                </p>
            </div>
            <div class="row-fluid">
                <p><strong>Data de Término</strong></p>
                <span class="label label-important"><%=dt_termino%> (<%=diferenca%> dia(s))</span>
            </div>
        </div>
        <div class="span6 mudar_termino">
            <div class="row-fluid">
                <div class="pull-left">
                    <div class="input-prepend input-append">
                        <label>Acrescentar<br> </label>
                        <span class="add-on"><strong>+</strong></span>
                        <input class="span6 numeric" id="nu_dias" name="nu_dias" type="text">
                        <span class="add-on"><strong>dias</strong></span>
                    </div>
                </div>
                <div class="pull-left span1">
                    <strong>ou</strong>
                </div>
                <div class="pull-left">
                    <div class="input-append">
                        <label>Mudar Data de Término<br>
                            <input type="hidden" id="minimoDate" name="minimoDate" value="">
                            <input class="span6 maskDate datepicker_range_max" data-minimo="minimoDate" id="dt_dias"
                                   name="dt_dias" type="text">
                            <button class="btn" id="btn-calendar-dt_dias" type="button" style="margin-left: -5px;">
                                <i class="icon icon-calendar"></i>
                            </button>
                        </label>
                    </div>
                </div>
                <div class="pull-left" style="margin-top: 5px;">
                    <button type="button" disabled id="btn-atualizar" class="btn btn-info">Atualizar</button>
                </div>
            </div>
        </div>
        <div class="span3">
            <div class="row-fluid" style="margin-top: 5px;">
                <button type="button" disabled class="btn btn-success" id="btn-salvar-data">Salvar</button>
            </div>
        </div>
    </div>
</script>