
<script type="text/template" id="template-layout">
    <div id="container-autocomplete" class="row-fluid"></div>
    <div id="container-autorizacao" class="row-fluid"></div>
</script>
<script type="text/template" id="template-autorizacoes">
    <table class="backgrid backgrid-selectall table table-striped table-bordered table-hover">
    <thead>
    <tr>
    <th>Título</th>
    <th>Emissão</th>
    </tr>
    </thead>
    <tbody>
    <tr>
    <td>Autorização de Entrada</td>
    <td class="span3">
    <button id="btn-emitir" class="btn btn-inverse  btn-small ">Emitir Autorização</button>
    <span class="label label-success"><%=nu_totalemissao%>/<%=nu_maxemissoes%></span>
    </td>
    </tr>
    </tbody>
    </table>
</script>


<?php echo $this->render('/util/auto-complete-pessoa.phtml'); ?>


<link rel="stylesheet" type="text/css" href="/css/auto-complete-pessoa.css"/>
<script type="text/javascript" src="/js/auto-complete-componente.js"></script>
<script type="text/javascript"> $('#htmlContent script[type="text/template"]').appendTo($('#templateHolder'));</script>
<script type="text/javascript"><?php echo $this->render('matricula/autorizacao-de-entrada.js'); ?></script>