<script type="text/template" id="tpl-avaliacao-agendamento-composite-view">
    <table class="backgrid table table-bordered table-hover table-condensed">
        <thead>
            <th class="text-center">Avaliação</th>
            <th class="text-center">Situação</th>
            <th class="text-center">Disciplina</th>
            <th class="text-center">Responsável</th>
            <th class="text-center">Data Agendamento</th>
            <th class="text-center">Data / Horário da Aplicação</th>
            <th class="text-center">Aplicação</th>
            <th class="text-center">Presença</th>
        </thead>
        <tbody></tbody>
    </table>
</script>

<script type="text/template" id="tpl-avaliacao-agendamento-item-view">
    <td><%= st_avaliacao %></td>
    <td class="text-center"><label class="label" style="background-color: <%= statusProva.color %>"><%= statusProva.text %></label></td>
    <td class="text-center"><%= st_disciplina %></td>
    <td class="text-center"><%= st_usuariolancamento %></td>
    <td class="text-center"><%= dt_agendamento %></td>
    <td class="text-center"><%= dt_aplicacao %> <br> de <%= hr_inicio %> às <%= hr_fim %></td>
    <td class="text-center"><%= st_aplicadorprova %></td>
    <td class="text-center"><b class="text-<%= statusPresenca.label %>"><%= statusPresenca.text %></b></td>
</script>