<?php
function getCorEvolucaoNota($st_status) {
    if ($st_status === 'Aprovado') {
        return '#45BF55';
    } else if ($st_status === 'Satisfatório') {
        return '#292BE7';
    } else if ($st_status === 'Insatisfatório') {
        return '#D40D12';
    }
    return '';
}
?>
<div id="container-grade-curricular" class="content">
    <div class="well well-large">
        <div id="container-filhos">
            <?php foreach ($this->notasAgrupadas as $semestre): ?>
                <div>
                    <div class="row-fluid">
                        <legend>
                            <?php echo $semestre['st_modulo']; ?>
                        </legend>
                    </div>
                    <div class="row-fluid">
                        <table class="backgrid backgrid-selectall table table-bordered table-hover table-striped">
                            <thead>
                                <tr>
                                    <th>Disciplina</th>
                                    <th id="columnProvaPresencial">Prova Presencial</th>
                                    <th id="columnNotaAtividadePresencial">Atividade Presencial</th>
                                    <th>Atividades EAD</th>
                                    <th id="columnNotaRecuperacao">Recuperação</th>
                                    <th>TCC</th>
                                    <th>Final</th>
                                    <th id="columnEvolucaoDisciplina">Status Disciplina</th>
                                    <th>Sala de Aula</th>
                                    <th>C.H.</th>
                                    <th>Inicio</th>
                                    <th>Término</th>
                                    <th id="columnEvolucaoNota">Evolução Nota</th>
                                </tr>
                            </thead>
                            <tbody>
                                <?php foreach ($semestre['disciplinas'] as $disciplina): ?>
                                    <tr style="cursor: pointer;">
                                        <td><?php echo $disciplina['st_disciplina']; ?></td>
                                        <td><?php echo $disciplina['st_notafinal']; ?></td>
                                        <td><?php echo $disciplina['st_notaatividade']; ?></td>
                                        <td<?php if ('' != $disciplina['id_disciplina_prr'] && ('' == $disciplina['st_notatcc_prr'] || '-' == $disciplina['st_notatcc_prr'])): ?> class="no-padding"<?php endif; ?>>
                                            <?php if ('' == $disciplina['id_disciplina_prr']): ?>
                                                <?php echo $disciplina['st_notaead']; ?>
                                            <?php else: ?>
                                                <table width="100%">
                                                    <tr>
                                                        <td id="st_notaead" class="celltablegrid">
                                                            <?php if ($disciplina['id_tiponotaead'] == 2): ?>
                                                                <span class="text-warning" title="Nota de aproveitamento"><?php echo $disciplina['st_notaead']; ?></span>
                                                            <?php else: ?>
                                                                <?php echo $disciplina['st_notaead']; ?>
                                                            <?php endif; ?>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td id="st_notaead_prr" class="celltablegrid">
                                                            <?php if ($disciplina['id_tiponotaead_prr'] == 2): ?>
                                                                <span class="text-warning" title="Nota de aproveitamento"><?php echo $disciplina['st_notaead_prr']; ?></span>
                                                            <?php else: ?>
                                                                <?php echo $disciplina['st_notaead_prr']; ?>
                                                            <?php endif; ?>
                                                        </td>
                                                    </tr>
                                                </table>
                                            <?php endif; ?>
                                        </td>
                                        <td><?php echo $disciplina['st_notarecuperacao']; ?></td>
                                        <td<?php if ('' != $disciplina['st_notatcc_prr']): ?> class="no-padding"<?php endif; ?>>
                                            <?php if ($disciplina['st_notatcc_prr'] != ''): ?>
                                                <table width="100%">
                                                    <tr>
                                                        <td id="st_notatcc" class="celltablegrid"><?php echo $disciplina['st_notatcc']; ?></td>
                                                    </tr>
                                                    <tr>
                                                        <td id="st_notatcc_prr" class="celltablegrid"><?php echo $disciplina['st_notatcc_prr']; ?></td>
                                                    </tr>
                                                </table>
                                            <?php endif; ?>
                                        </td>
                                        <td>
                                            <?php if ('' != $disciplina['id_disciplina_prr'] && $disciplina['st_notaead_prr'] > $disciplina['st_notaead']): ?>
                                                <?php if ($disciplina['id_tipodisciplina'] == 2 && $disciplina['dt_defesatcc'] === null): ?>
                                                    -
                                                <?php else: ?>
                                                    <?php echo $disciplina['nu_notafinal_prr']; ?>
                                                <?php endif; ?>
                                            <?php else: ?>
                                                <?php if ($disciplina['id_tipodisciplina'] == 2 && $disciplina['dt_defesatcc'] === null): ?>
                                                    -
                                                <?php else: ?>
                                                    <?php echo $disciplina['nu_notafinal']; ?>
                                                <?php endif; ?>
                                            <?php endif; ?>
                                        </td>
                                        <td><?php echo $disciplina['st_statusdisciplina']; ?></td>
                                        <td<?php if ($disciplina['id_disciplina_prr'] != ''): ?> class="no-padding"<?php endif; ?>>
                                            <?php if ('' == $disciplina['id_disciplina_prr']): ?>
                                                <?php echo $disciplina['st_saladeaula']; ?>
                                            <?php else: ?>
                                                <table width="100%">
                                                    <tr>
                                                        <td class="celltablegrid"><?php echo $disciplina['st_saladeaula']; ?></td>
                                                    </tr>
                                                    <tr>
                                                        <td class="celltablegrid"><?php echo $disciplina['st_saladeaula_prr']; ?>
                                                            <br /><span class="label label-important pull-left">Sala PRR</span>
                                                        </td>
                                                    </tr>
                                                </table>
                                            <?php endif; ?>
                                        </td>
                                        <td><?php echo $disciplina['nu_cargahoraria']; ?></td>
                                        <td<?php if ('' != $disciplina['id_disciplina_prr']): ?> class="no-padding"<?php endif; ?>>
                                            <?php if ('' != $disciplina['id_disciplina_prr']): ?>
                                                <?php echo $disciplina['dt_abertura']; ?>
                                            <?php else: ?>
                                                <table width="100%">
                                                    <tr>
                                                        <td class="celltablegrid"><?php echo $disciplina['dt_abertura']; ?></td>
                                                    </tr>
                                                    <tr>
                                                        <td class="celltablegrid"><?php echo $disciplina['dt_inicio_prr']; ?></td>
                                                    </tr>
                                                </table>
                                            <?php endif; ?>
                                        </td>
                                        <td<?php if ('' != $disciplina['id_disciplina_prr']): ?> class="no-padding"<?php endif; ?>>
                                            <?php if ('' == $disciplina['dt_encerramento_prr']): ?>
                                                <?php echo $disciplina['dt_encerramento']; ?>
                                            <?php else: ?>
                                                <table width="100%">
                                                    <tr>
                                                        <td id="dt_encerramento" class="celltablegrid"><?php echo $disciplina['dt_encerramento']; ?></td>
                                                    </tr>
                                                    <tr>
                                                        <td id="dt_encerramento_prr" class="celltablegrid"><?php $disciplina['echo dt_encerramento_prr']; ?></td>
                                                    </tr>
                                                </table>
                                            <?php endif; ?>
                                        </td>
                                        <td style="color: <?php echo getCorEvolucaoNota($disciplina['st_status']); ?>"><?php echo $disciplina['st_status']; ?></td>
                                    </tr>
                                <?php endforeach; ?>
                            </tbody>
                        </table>
                    </div>
                </div>
            <?php endforeach; ?>
        </div>
    </div>
</div>