<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="googlebot" content="noindex">
    <meta http-equiv="pragma" content="no-cache"/>
    <script src="<?php echo $this->baseUrl(); ?>/js/utils/new-relic.js"></script>

    <link href="<?php echo $this->baseUrl(); ?>/favicon.ico" rel="shortcut icon"/>
    <link rel="stylesheet" type="text/css" href="<?php echo $this->baseUrl(); ?>/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="<?php echo $this->baseUrl(); ?>/css/backbone/backgrid.css"/>
    <link rel="stylesheet" type="text/css" href="<?php echo $this->baseUrl(); ?>/css/backbone/backgrid-paginator.css"/>
    <link rel="stylesheet" type="text/css" href="<?php echo $this->baseUrl(); ?>/css/backbone/backgrid-filter.css"/>

    <link rel="stylesheet" type="text/css"
          href="<?php echo $this->baseUrl(); ?>/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css"/>
    <link rel="stylesheet" type="text/css"
          href="<?php echo $this->baseUrl(); ?>/bower_components/pnotify/jquery.pnotify.default.css"/>
    <link rel="stylesheet" type="text/css" href="<?php echo $this->baseUrl(); ?>/bower_components/select2/select2.css"/>
    <link rel="stylesheet" type="text/css"
          href="<?php echo $this->baseUrl(); ?>/bower_components/colpick-jQuery-Color-Picker/css/colpick.css"/>

    <link rel="stylesheet" type="text/css"
          href="<?php echo $this->baseUrl(); ?>/bower_components/backbone-autocomplete/src/backbone.autocomplete-min.css"/>

    <link rel="stylesheet" type="text/css"
          href="<?php echo $this->baseUrl(); ?>/css/jquery_tree/themes/default/style.css"/>
    <link rel="stylesheet" type="text/css" href="<?php echo $this->baseUrl(); ?>/css/select2/select2-bootstrap2.css"/>
    <link rel="stylesheet" type="text/css" href="<?php echo $this->baseUrl(); ?>/css/auto-complete-pessoa.css"/>
    <link rel="stylesheet" type="text/css" href="<?php echo $this->baseUrl(); ?>/css/style.css"/>
    <style type="text/css">
        @media print {
            #printButton {
                display: none;
            }
        }
    </style>
<body onload="window.print();">
<div id="wrapper-g2s">
    <div class="div-g2s">
        <div id="printButton" class="text-right">
            <button type="button" class="btn btn-primary" onclick="window.print();">
                <i class="icon icon-print icon-white"></i> Imprimir
            </button>
        </div>
        <?php echo $this->htmlGrade; ?>
    </div>
</div>
</body>
</html>