<style>
    #modal-historico-alocacao {
        width: 800px;
        left: 40%;
    }

    #acoes {
        width: 80px;
    }

    .dt_encerramentoextensao {
        color: #49afcd;
    }

    .div-dt-extensao {
        min-width: 80px !important;
    }

    .table_imcube thead tr th {
        text-transform: capitalize !important;
    }
</style>
<script type="text/javascript">
    $(document).ready(function () {
        // Handler for .ready() called.
        $('#container-lista-matriculas, #container-matricula').hide();
    });
</script>

<script type="text/template" id="template-modal-carteirinha">
    <div id="modal-carteirinha" class="modal hide fade">
        <form id="form-carteirinha" name="form-carteirinha" action="" method="post">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3>Emitir Carteirinha</h3>
            </div>
            <div class="modal-body">
                <div class="row-fluid">
                    <label>
                        Nome: <input type="text" name="st_nomecompleto" value="<%= st_nomecompleto %>" class="span12"
                                     readonly>
                    </label>
                    <label>
                        Turma: <input type="text" name="st_turma" class="span12" value="<%= st_turma %>" readonly>
                    </label>
                    <label class="box-codidentificacao">
                        Cód. de Identificação:
                        <input type="text" id="st_codidentificacao" maxlength="12" name="st_codidentificacao"
                               class="span12" value="<%= st_codidentificacao %>">
                        <!--                        <small>* campo editável (Número da carteirinha do aluno)</small>-->
                    </label>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn" data-dismiss="modal" aria-hidden="true">Cancelar</button>
                <button type="submit" class="btn btn-primary"><i class="icon icon-print icon-white"></i> Imprimir
                </button>
                <button type="button" id="btn-salvar-cod-identificacao" class="btn btn-success">Salvar</button>
            </div>
        </form>
    </div>
</script>

<script type="text/template" id="template-modulos-pai">
    <div id="container-visualizar-historico" class="well well-large hide">
        <button id="btn-visualizar-historico"
                class="btn btn-primary">Visualizar Histórico
        </button>
    </div>
    <div id="container-modal-historico-grade"></div>
    <div class="well well-large">
        <div id="container-filhos"></div>
    </div>
</script>

<script type="text/template" id="compositeview-modal-historico-grade">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Histórico</h3>
    </div>
    <div class="modal-body">
        <table class="backgrid backgrid-selectall table table-bordered table-hover table-striped">
            <thead>
                <tr>
                    <th>Disciplina</th>
                    <th>Prova Presencial</th>
                    <th>Atividade EAD</th>
                    <th>TCC</th>
                    <th>Final</th>
                    <th>Status</th>
                    <th>Sala de Aula</th>
                    <th>C.H</th>
                    <th>Início</th>
                    <th>Término</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</script>

<script type="text/template" id="itemview-historico-grade">
    <td><%= st_tituloexibicaodisciplina %></td>
    <td><%= st_notafinal || "-" %></td>
    <td><%= st_notaead || "-" %></td>
    <td><%= st_notatcc || "-" %></td>
    <td><%= nu_notafinal || "-" %></td>
    <td><%= st_status %></td>
    <td><%= st_saladeaula %></td>
    <td><%= nu_cargahoraria || "-" %></td>
    <td><%= dt_abertura %></td>
    <td><%= dt_encerramento %></td>
</script>

<script type="text/template" id="view-modulos-disciplinas">
    <div class="row-fluid">
        <legend>
            <%=st_modulo%>
        </legend>
    </div>
    <div class="row-fluid">
        <table class="backgrid backgrid-selectall table table-bordered table-hover table-striped">
            <thead>
            <tr>
                <th>Disciplina</th>
                <th id="columnProvaPresencial">Prova Presencial</th>
                <th id="columnNotaAtividadePresencial">Atividade Presencial</th>
                <th>Atividades EAD</th>
                <th id="columnNotaRecuperacao">Recuperação</th>
                <th>TCC</th>
                <th>Final</th>
                <th id="columnEvolucaoDisciplina">Status Disciplina</th>
                <th>Sala de Aula</th>
                <th>C.H.</th>
                <th>Inicio</th>
                <th>Término</th>
                <th id="columnEvolucaoNota">Evolução Nota</th>
                <th class="span2">Ações</th>
            </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</script>

<script type="text/template" id="item-disciplinas">
    <td id="disciplina"><%=st_disciplina%></td>
    <td id="notafinal"><%=st_notafinal%></td>
    <td id="notaatividade"><%=st_notaatividade%></td>
    <td id="notaead" <% if(id_disciplina_prr != '' && (st_notatcc_prr == '' || st_notatcc_prr == '-')){ %> class="no-padding" <% } %>>
    <% if(id_disciplina_prr == ''){ %>
    <%=st_notaead%>
    <% }else{ %>
    <table width="100%">
        <tr>
            <td id="st_notaead" class="celltablegrid">
                <% if(id_tiponotaead == 2){ %>
                <span class="text-warning" title="Nota de aproveitamento"><%=st_notaead%></span>
                <% }else{ %>
                <%=st_notaead%>
                <% } %>
            </td>
        </tr>
        <tr>
            <td id="st_notaead_prr" class="celltablegrid">
                <% if(id_tiponotaead_prr == 2){ %>
                <span class="text-warning" title="Nota de aproveitamento"><%=st_notaead_prr%></span>
                <% }else{ %>
                <%=st_notaead_prr%>
                <% } %>
            </td>
        </tr>
    </table>
    <% } %>
    </td>
    <td id="notarecuperacao"><%=st_notarecuperacao%></td>
    <td id="tcc" <% if(st_notatcc_prr != ''){ %> class="no-padding" <% } %>>
    <% if(st_notatcc_prr == ''){ %>
    <%=st_notatcc_prr%></td>
    <% }else{ %>
    <table width="100%">
        <tr>
            <td id="st_notatcc" class="celltablegrid"><%=st_notatcc%></td>
        </tr>
        <tr>
            <td id="st_notatcc_prr" class="celltablegrid"><%=st_notatcc_prr%></td>
        </tr>
    </table>
    <% } %>
    <td id="nu_notafinal">
        <%if(st_statusdisciplina == 'Não Concluido' || st_statusdisciplina == 'Concluido'){ %>
        -
        <% } else {%>
        <% if(id_disciplina_prr != '' && st_notaead_prr > st_notaead){%>
        <% if(id_tipodisciplina == 2 && dt_defesatcc === null){ %>
        -
        <% } else {%>
        <%=nu_notafinal_prr%>
        <% } %>
        <% }else{%>
        <% if(id_tipodisciplina == 2 && dt_defesatcc === null){ %>
        -
        <% } else {%>
        <%=nu_notafinal%>
        <% } %>
        <% } %>
        <% } %>
    </td>
    <td id="evolucaoDisciplina"><%=st_statusdisciplina%></td>
    <td id="sala" <% if(id_disciplina_prr != ''){ %> class="no-padding" <% } %>>
    <% if(id_disciplina_prr == ''){ %>
    <%=st_saladeaula%>
    <% }else{ %>
    <table width="100%">
        <tr>
            <td class="celltablegrid"><%=st_saladeaula%></td>
        </tr>
        <tr>
            <td class="celltablegrid"><%=st_saladeaula_prr%><br><span
                        class="label label-important pull-left">Sala PRR</span></td>
        </tr>
    </table>
    <% } %>
    </td>
    <td id="cargahoraria">
        <%=nu_cargahoraria%>
    </td>
    <td id="abertura" <% if(id_disciplina_prr != ''){ %> class="no-padding" <% } %>>
    <% if(id_disciplina_prr == ''){ %>
    <%=dt_abertura%>
    <% }else{ %>
    <table width="100%">
        <tr>
            <td class="celltablegrid"><%=dt_abertura%></td>
        </tr>
        <tr>
            <td class="celltablegrid"><%=dt_inicio_prr%></td>
        </tr>
    </table>
    <% } %>
    </td>
    <td id="encerramento" <% if(id_disciplina_prr != ''){ %> class="no-padding" <% } %>>
    <% if(dt_encerramento_prr == ''){ %>
    <%=dt_encerramento%>
    <% }else{ %>
    <table width="100%">
        <tr>
            <td id="dt_encerramento" class="celltablegrid"><%=dt_encerramento%></td>
        </tr>
        <tr>
            <td id="dt_encerramento_prr" class="celltablegrid"><%=dt_encerramento_prr%></td>
        </tr>
    </table>
    <% } %>
    </td>
    <td id="evolucaoNota" style="color: <%= getCorEvolucaoNota(st_status) %>"><%= st_status %></td>
    <td>
        <div class="row-fluid">
            <div class="span5">
                <%if(st_statusdisciplina == 'Não Concluido' || st_statusdisciplina == 'Concluido'){ %>
                <% } else {%>
                <a id="btnProcessaNota" class='btn btn-small btn-info processa' data-placement='top'
                   data-original-title='Processa Nota' data-trigger='hover'
                   data-content='Clique para que a nota final desse aluno nessa disciplina seja avaliada.'
                   data-toggle='popover'><i class='icon icon-white icon-refresh'></i></a><br>
                <% } %>
            </div>
            <div class="span5">
                <a id="btnHistoricoAlocacao" class='btn btn-small btn-success historico' rel='tooltip'
                   data-trigger='hover'
                   data-placement='top' data-toggle='popover'
                   data-content='Exibe todas as alocações que foram feitas para esse aluno nesta disciplina.'
                   data-original-title='Histórico de Alocações'><i class='icon icon-white icon-list-alt'></i></a><br>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span5">
                <% if( url ) {%>
                <a id="btnLogMoodle" class='btn btn-small btn-default'
                   data-placement='top'
                   data-original-title='Log Moodle' data-trigger='hover'
                   data-content='Relatório de Log de Acesso no Moodle. <br /> Sala: <b><%=st_saladeaula%></b>'
                   data-toggle='popover'><i class='icon icon-black icon-file'></i></a>
                <%}%>
            </div>
            <div class="span5">
                <% if( url_prr ) {%>
                <a id="btnLogMoodlePrr" class='btn btn-small btn-default'
                   data-placement='top'
                   data-original-title='Log Moodle' data-trigger='hover'
                   data-content='Relatório de Log de Acesso no Moodle. <br /> Sala: <b><%=st_saladeaula_prr%></b>'
                   data-toggle='popover'><i class='icon icon-black icon-file'></i></a>
                <%}%>
            </div>
        </div>
    </td>
</script>

<script type="text/template" id="template-historico-trancamento">
    <div class="modal hide fade" id="modal-historico-trancamento" tabindex="-1" role="dialog"
         aria-labelledby="Histórico de Trancamento de Disciplina" aria-hidden="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Histórico de Trancamento de Disciplina</h4>
                </div>
                <div class="modal-body">
                    <div id="container-grid-historico-trancamento" class="control-group"></div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>

<?php
echo $this->render('/matricula/material.phtml');
echo $this->render('/matricula/ocorrencia.phtml');
echo $this->render('/matricula/aba-data-termino.phtml');
echo $this->render('/matricula/avaliacao-agendamento.phtml');
?>

<link rel="stylesheet" type="text/css" href="<?php echo $this->baseUrl(); ?>/css/auto-complete-pessoa.css"/>

<script type="text/javascript" src="<?php echo $this->baseUrl(); ?>/js/jquery.iframe-transport.js"></script>
<script type="text/javascript" src="<?php echo $this->baseUrl(); ?>/js/backbone/models/matricula.js"></script>
<script type="text/javascript" src="<?php echo $this->baseUrl(); ?>/js/auto-complete-componente.js"></script>
<script type="text/javascript" src="<?php echo $this->baseUrl(); ?>/js/moment-with-langs.min.js"></script>
<script type="text/javascript" src="<?php echo $this->baseUrl(); ?>/js/backbone/models/matricula.js"></script>
<script type="text/javascript" src="<?php echo $this->baseUrl(); ?>/js/backbone/models/vw-matricula.js"></script>
<script type="text/javascript" src="<?php echo $this->baseUrl(); ?>/js/backbone/models/vw-avaliacao-aluno.js"></script>
<script type="text/javascript" src="<?php echo $this->baseUrl(); ?>/js/CollectionView.js"></script>

<?php echo $this->render('/util/auto-complete-pessoa.phtml'); ?>
<div id="autoComplete" class="row-fluid"></div>

<div id='container-lista-matriculas' class="well well-small"></div>
<div id='container-matricula' class="row-fluid well well-small"></div>
<div id="container-modal-historico"></div>
<div id="container-modal-aproveitamento"></div>
<div id="container-modal-trancamento"></div>

<script type="text/javascript"> $('#htmlContent script[type="text/template"]').appendTo($('#templateHolder'));</script>
<script type="text/javascript" src="<?php echo $this->url() ?>/js"></script>
