<script type="text/template" id="tpl-composite-view-material">
    <table class="backgrid table table-bordered table-hover table-condensed">
        <thead>
        <th>Pacote</th>
        <th>Data de Postagem</th>
        <th>Código de Rastreamento</th>
        <th>Disciplina</th>
        <th>Material</th>
        </thead>
        <tbody>
            <!--Conteudo preenchido pelo backbone-->
        </tbody>
    </table>
</script>

<script type="text/template" id="tpl-item-view-material">
    <td><%=id_pacote%></td>
    <td><%=dt_entrega%></td>
    <td><a target="_blank" href="http://websro.correios.com.br/sro_bin/txect01$.QueryList?P_ITEMCODE=&P_LINGUA=001&P_TESTE=&P_TIPO=001&P_COD_UNI=<%=st_codrastreamento%>"><%=st_codrastreamento%></a></td>
    <td>
        <ul>
            <% _.each(disciplinas, function(val){ %>
               <li><%=val%></li>
            <% }); %>
        </ul>
    </td>
    <td>
        <ul>
            <% _.each(itens, function(val){ %>
            <li><%=val%></li>
            <% }); %>
        </ul>
    </td>
</script>