<script type="text/template" id="tpl-ocorrencia-composite-view">
    <table class="backgrid table table-bordered table-hover table-condensed">
        <thead>
            <th>ID</th>
            <th>Assunto</th>
            <th>Subassunto</th>
            <th>Título</th>
            <th>Evolução</th>
            <th>Situação</th>
            <th>Data Criação</th>
        </thead>
        <tbody>
            <!--Conteudo preenchido pelo backbone-->
        </tbody>
    </table>
</script>

<script type="text/template" id="tpl-ocorrencia-item-view">
    <td><%= id_ocorrencia %></td>
    <td><%= st_assuntocopai %></td>
    <td><%= st_assuntoco %></td>
    <td><%= st_titulo %></td>
    <td><%= st_evolucao %></td>
    <td><%= st_situacao %></td>
    <td><%= dt_cadastro %></td>
</script>