<script type="text/javascript" src="/js/backbone/views/SelectView.js"></script>

<script type="text/template" id="resumo_venda_atendente_layout">
    <div class="well well-large">
        <legend>Filtros</legend>
        <div class="row-fluid">
            <div class="control-group">
                <div class="span12">
                    <div class="span2" id="div-combo-turma">
                        <label for="id-turma">Data da Venda: </label>

                        <input id="dt_filtro_inicio" value="" type="text" class="datepicker maskDate"/>
                        até
                        <input id="dt_filtro_fim" value="" type="text" class="datepicker maskDate"/>
                    </div>
                    <div class="span6" id="div-combo-atendente">
                        <label for="id-atendente">Atendente</label>

                        <div id="combo-atendente"></div>
                        <select id="id_atendente" class="span12" disabled="" readonly="">
                            <option value="">Todos</option>
                        </select>
                    </div>
                </div>
                <div>
                    <div class="span6" id="div-combo-entidade">
                        <label for="id-entidade">Entidade</label>

                        <div id="combo-entidade"></div>
                        <select id="id_entidade" class="span12">
                            <option value="">Todos</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="control-group">
                <div class="span12">
                    <div class="span6">
                    </div>
                    <div class="span6">
                        <label for="id-evolucao"> &nbsp;</label>
                        <div class="pull-right">
                            <button class="btn btn-success" type="button" id="btn_gerar_relatorio">Pesquisar
                                Relatório
                            </button>
                            <button class="btn btn-success" type="button" id="btn_gerar_xls">Gerar XLS
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="tabela-relatorio"></div>
    <div id="container-table"></div>
    <div id="container-table-somatorio"></div>
</script>

<script type="text/template" id="script_tabela_relatorio">
    <div class="well well-large">
        <div class="row-fluid">
            <div class="control-group span12" style="overflow: auto; height: 100%;">
                <table role="dialog" class="table table-bordered table-striped backgrid">
                    <thead>
                    <tr>
                        <th>Nome do ALuno</th>
                        <th>Atendente</th>
                        <th>Cod. Contrato</th>
                        <th>Curso</th>
                        <th>Valor Negociado</th>
                        <th>Valor Dinheiro</th>
                        <th>Valor Cheque</th>
                        <th>Valor Cartão</th>
                        <th>Valor Transferência</th>
                        <th>Valor Carta de Crédito</th>
                        <th>Valor Bolsa</th>
                        <th>Valor Permuta</th>
                        <th>Valor Depósito</th>
                        <th>Valor Empenho</th>
                        <th>Valor Boleto</th>
                        <th>Valor Estorno</th>
                        <th>Entidade</th>
                        <th>Data Venda</th>
                        <th>Qnt. Parcelas</th>
                    </tr>
                    </thead>
                    <tbody id="tabelaDadosRelatorio"></tbody>
                </table>
            </div>
        </div>
    </div>
</script>
<script type="text/template" id="script_tabela_relatorio_somatorio">
    <div class="well well-large">
        <div class="row-fluid">
            <div class="control-group span12" style="overflow: auto; height: 100%;">
                <label for="id-entidade">Somatório</label>
                <table role="dialog" class="table table-bordered table-striped backgrid">
                    <thead>
                        <tr>
                            <th>Total de Vendas</th>
                            <th>Valor Total Recebido</th>
                            <th>Valor Dinheiro</th>
                            <th>Valor Cheque</th>
                            <th>Valor Cartão</th>
                            <th>Valor Transferência</th>
                            <th>Valor Carta de Crédito</th>
                            <th>Valor Bolsa</th>
                            <th>Valor Permuta</th>
                            <th>Valor Depósito</th>
                            <th>Valor Empenho</th>
                            <th>Valor Boleto</th>
                        </tr>
                    </thead>
                    <tbody id="tabelaDadosRelatorioSomatorio"></tbody>
                </table>
            </div>
        </div>
    </div>
</script>

<script type="text/template" id="item-relatorio">
    <td><%= st_nomealuno%></td>
    <td><%= st_nomeatendente %></td>
    <td><%= id_venda %></td>
    <td><%= st_produto %></td>
    <td>R$ <%= nu_valorliquido %></td>
    <td>R$ <%= nu_valordinheiro %></td>
    <td>R$ <%= nu_valorcheque %></td>
    <td>R$ <%= nu_valorcartao %></td>
    <td>R$ <%= nu_valortransferencia %></td>
    <td>R$ <%= nu_valorcarta %></td>
    <td>R$ <%= nu_valorbolsa %></td>
    <td>R$ <%= nu_valorpermuta %></td>
    <td>R$ <%= nu_valordeposito %></td>
    <td>R$ <%= nu_valorempenho %></td>
    <td>R$ <%= nu_valorboleto %></td>
    <td>R$ <%= nu_valorestorno %></td>
    <td> <%= st_nomeentidade %></td>
    <td> <%= dt_cadastro %></td>
    <td> <%= nu_parcelas %></td>
</script>

<script type="text/template" id="item-relatorio-somatorio">
    <th><%= nu_totalvendas %></th>
    <th>R$ <%= nu_totalrecebido %></th>
    <th>R$ <%= nu_dinheiro %></th>
    <th>R$ <%= nu_cheque %></th>
    <th>R$ <%= nu_cartao %></th>
    <th>R$ <%= nu_transferencia %></th>
    <th>R$ <%= nu_carta %></th>
    <th>R$ <%= nu_bolsa %></th>
    <th>R$ <%= nu_permuta %></th>
    <th>R$ <%= nu_deposito %></th>
    <th>R$ <%= nu_empenho %></th>
    <th>R$ <%= nu_boleto %></th>
</script>

<script type="text/javascript"> $('#htmlContent script[type="text/template"]').appendTo($('#templateHolder'));</script>
<script type="text/javascript" src="<?php echo $this->url() ?>/js"></script>