<script type="text/template" id="projeto-pedagogico-template">
    <style>
        @media (min-width: 900px) {
            .modal-large {
                margin-left: -430px;
                width: 860px;
            }
        }

        .div-area-conhecimento {
            max-height: 250px;
            overflow: auto;
        }

        .btn-margin-top {
            margin-top: -35px;
            margin-right: 18px;
            padding: 5px 0;
        }

        input.accordion-toggle {
            border: 0 !important;
            background: 0 !important;
            box-shadow: none !important;
            color: #ffffff;
        }

        .padding-20 {
            padding: 20px;
        }

        .tb-disciplina th, .tb-disciplina td {
            text-align: center !important;
        }

        .tb-disciplina thead {
            background: #aaaaaa !important;
            color: #ffffff;
        }
    </style>

    <div class="tabbable">
        <ul class="nav nav-tabs">
            <li class="active">
                <a id="tab-projeto-basico" href="#tab1" data-toggle="tab">Básico</a>
            </li>
            <li>
                <a id="tab-projeto-disciplina" href="#tab2" data-toggle="tab">Disciplina</a>
            </li>
            <li>
                <a id="tab-projeto-texto" href="#tab3" data-toggle="tab">Textos</a>
            </li>
            <li>
                <a id="tab-projeto-avaliacao" href="#tab4" data-toggle="tab">Avaliação</a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="tab1">
                <form class="row-fluid" enctype="multipart/form-data" name="frm-pp-basicos" id="frm-pp-basicos">
                    <div class="row-fluid">
                        <fieldset class="span9">
                            <div class="well">
                                <legend>Projeto Pedagógico</legend>

                                <input type="hidden" value="<%=id_projetopedagogico%>" name="id" id="id"/>

                                <div class="row-fluid">
                                    <label class="span9">
                                        Título
                                        <input class="span12" type="text" name="st_projetopedagogico"
                                               value="<%= st_projetopedagogico %>" required="required"/>
                                    </label>
                                    <label class="span3">
                                        Situação
                                        <select id="id_situacao" class="span12" name="id_situacao" required="required">
                                            <option value="">Carregando...</option>
                                        </select>
                                    </label>
                                </div>
                                <div class="row-fluid">
                                    <label class="span9">
                                        Título Exibição
                                        <input class="span12" type="text" name="st_tituloexibicao"
                                               value="<%= st_tituloexibicao %>" required="required"/>
                                    </label>
                                    <label class="span3">
                                        Carga horária
                                        <input class="span12" type="number" name="nu_cargahoraria"
                                               value="<%= nu_cargahoraria %>" required="required"/>
                                    </label>
                                </div>
                                <div class="row-fluid">

                                    <label class="span4">Apelido
                                        <input class="span12" pattern=".{0}|.{0,15}"
                                               title="Máximo de 15 caracateres" type="text" name="st_apelido"
                                               value="<%= st_apelido %>"/>
                                    </label>
                                    <label class="span4">Regra Contrato
                                        <select id="id_contratoregra" class="span12" name="id_contratoregra"
                                                required="required">
                                            <option value="">Carregando...</option>
                                        </select>
                                    </label>
                                    <label class="span4" id="div_nu_semestre">Nº Total de Semestres
                                        <select id="nu_semestre" class="span12" name="nu_semestre"
                                                required="required">
                                            <option value="">Selecione</option>
                                        </select>
                                    </label>
                                </div>
                                <div class="row-fluid">
                                    <div class="span6">
                                        <label for="">Reconhecimento:</label>
                                        <textarea style="resize: none" name="st_reconhecimento" maxlength="1000"
                                                  id="st_reconhecimento"
                                                  rows="15"
                                                  class="span12 pull-right"><%= st_reconhecimento %></textarea><br>
                                        <label id="contadorRegressivo">1000</label>
                                    </div>
                                    <label class="span6" id="div_grau_academico">Grau Acadêmico
                                        <select id="id_grauacademico" class="span12" name="id_grauacademico">
                                            <option value="">Selecione</option>
                                        </select>
                                    </label>
                                </div>
                            </div>
                        </fieldset>

                        <fieldset class="span3">
                            <div class="well">
                                <legend>Opções</legend>
                                <div class="row-fluid marginT20">
                                    <div>
                                        <label class="checkbox">
                                            <input type="checkbox" id="bl_autoalocaraluno" name="bl_autoalocaraluno" <%= bl_autoalocaraluno ? 'checked' : '' %>
                                            >
                                            Auto alocar alunos
                                        </label>
                                        <label class="checkbox">
                                            <input type="checkbox" id="bl_turma" name="bl_turma" <%= bl_turma ? 'checked' : '' %>>
                                            Trabalha com turmas
                                        </label>
                                        <label class="checkbox">
                                            <input type="checkbox" id="bl_enviaremail" name="bl_enviaremail" <%= bl_enviaremail ? 'checked' : '' %>>
                                            Enviar e-mail de acesso?
                                        </label>
                                        <label class="checkbox">
                                            <input type="checkbox" id="bl_gradepronta" name="bl_gradepronta" <%= bl_gradepronta ? 'checked' : '' %> >
                                            Possui grade curricular?
                                        </label>
                                        <label class="checkbox">
                                            <input type="checkbox" id="bl_disciplinacomplementar" name="bl_disciplinacomplementar" <%= bl_disciplinacomplementar
                                            ? 'checked' : '' %> >
                                            Disciplina complementar?
                                        </label>
                                        <label class="checkbox">
                                            <input type="checkbox" id="bl_renovar" name="bl_renovar" <%= bl_renovar ? 'checked' : '' %> >
                                            Projeto Pedagógico será renovado automaticamente?
                                        </label>
                                        <label class="checkbox">
                                            <input type="checkbox" id="bl_possuiprova" name="bl_possuiprova" <%= bl_possuiprova ? 'checked' : '' %> disabled>
                                            Possui prova montada?
                                        </label>
                                        <label class="checkbox">
                                            <input type="checkbox" id="bl_novoportal" name="bl_novoportal" <%= bl_novoportal ? 'checked' : '' %> >
                                            Acessado através do Portal do Aluno?
                                        </label>
                                        <label class="checkbox">
                                            <input type="checkbox" id="bl_atendimentovirtual" name="bl_atendimentovirtual" <%= bl_atendimentovirtual ? 'checked'
                                            : '' %> >
                                            ChatBot Ativo?
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>

                    <div class="row-fluid">
                        <fieldset class="span12">
                            <div class="well">
                                <legend>Escolaridade</legend>
                                <div class="row-fluid">
                                    <div class="span6">
                                        <label class="span12">Nível
                                            <select id="id_nivelensino" class="span6" name="id_nivelensino"
                                                    required="required">
                                                <option value="">Carregando...</option>
                                            </select>
                                        </label>
                                    </div>
                                    <div class="span6" id="id_serie"></div>
                                </div>
                            </div>
                        </fieldset>
                    </div>

                    <div class="row-fluid">
                        <fieldset class="span6">
                            <div class="well">
                                <legend>Áreas de Conhecimento</legend>
                                <div id="id_areaconhecimento" class="div-area-conhecimento"></div>
                            </div>
                        </fieldset>

                        <fieldset class="span6">
                            <div class="well">
                                <legend>Áreas de Conhecimento - MEC</legend>
                                <div id="id_areaconhecimentomec" class="div-area-conhecimento"></div>
                            </div>
                        </fieldset>

                    </div>

                    <div class="row-fluid">
                        <fieldset id="id_entidade" class="span4">
                        </fieldset>

                        <div class="span8">
                            <fieldset>
                                <div class="well">
                                    <legend>Coordenadores</legend>
                                    <div id="container-coordenadores"></div>
                                </div>
                            </fieldset>

                            <fieldset>
                                <div class="well">
                                    <legend>Ementa</legend>
                                    <div class="row-fluid">
                                        <div style="font-size: 14px;" class="alert alert-info">
                                            <b>Arquivo atual:</b>
                                            <% if (id_anexoementa && id_anexoementa.st_upload) { %>
                                            <a class="ementa-label"
                                               href="/upload/<%=id_anexoementa.st_upload%>"><%=id_anexoementa.st_upload%></a>
                                            <% } else { %>
                                            <span class="ementa-label">Nenhum</span>
                                            <% } %>
                                        </div>
                                    </div>
                                    <div class="row-fluid">
                                        <label>
                                            <input type="file" name="id_anexoementa" id="id_anexoementa">
                                            <b>Somente serão aceitas as extensões: PDF, DOC e DOCX</b>
                                        </label>
                                    </div>
                                </div>
                                <div id="container-coordenadores"></div>
                            </fieldset>
                        </div>
                    </div>

                    <div class="well text-right">
                        <button class="btn btn-success" type="submit">
                            <i class="icon-white icon-ok"></i>
                            Salvar
                        </button>
                        <button class="btn actionBack" type="button">
                            <i class="icon icon-remove"></i>
                            Cancelar
                        </button>
                    </div>
                </form>
            </div>

            <div class="tab-pane" id="tab2">
                <div id="form-projeto-disciplina"></div>
            </div>
            <div class="tab-pane" id="tab3">
                <div id="form-projeto-textos"></div>
            </div>
            <div class="tab-pane" id="tab4">
                <div id="form-projeto-avaliacao"></div>
                <div id="form-projeto-param-tcc"></div>
                <div id="form-projeto-atividade"></div>
                <div id="form-integracao-fabrica-de-provas"></div>
            </div>
        </div>
    </div>

    <hr/>
</script>

<!-- Template de adição de coordenadores -->
<script type="text/template" id="template-content-coordenadores">
    <div class="row-fluid tablehead">
        <div class="span2">
            <button id="btn-adicionar-coordenadores" class="btn actionAdd"
                    type="button">Adicionar
            </button>
        </div>
        <div class="span5">Nome</div>
        <div class="span2">Porcentagem</div>
        <div class="span2">Titular</div>
    </div>
    <div class="row-fluid tablebody" id="body-table-coordenadores"></div>
</script>

<!-- template de linhas dos coordenadores -->
<script type="text/template" id="template-line-coordenador">
    <div class="row-fluid">
        <div class="span2">
            <button id="btn-excluir-coordenador" class="btn actionDel" type="button">Excluir</button>
            <input type="hidden" id="id_perfil" name="id_perfil" value=""/>
        </div>
        <div class="span5">
            <select id="id_usuario" name="id_usuario">
                <option value="">Aguarde...</option>
            </select>
        </div>
        <div class="span2">
            <input type="number" id="nu_porcentagem" name="nu_porcentagem" class="span8" min="0" max="99999"
                   value="<%=nu_porcentagem%>" maxlength="5">
        </div>
        <div class="span2">
            <label class="checkbox">
                <input type="radio" <%= bl_titular ? 'checked' : '' %> name="bl_titular" id="bl_titular"> Titular
            </label>
        </div>
    </div>
</script>

<script type="text/template" id="template-area-conhecimento-capes">
    <div id="area-capes-composite-child-container"></div>
</script>

<script type="text/template" id="template-area-conhecimento-mec">
    <select class="hidden" name="id_areaconhecimentomec" id="select-area-conhecimento-mec"></select>
    <div id="msg-carregando">Carregando...</div>
    <div id="msg-area-nao-cadastrada-mec" class="alert alert-info hidden">
        Nenhuma área de conhecimento do MEC cadastrada nessa entidade.
</script>

<!-- Segunda ABA -  -->
<script type="text/template" id="template-projeto-disciplina">
    <fieldset>
        <legend>Disciplina</legend>
        <div class="row-fluid tablehead text-right">
            <button data-placement='top' data-trigger='hover'
                    data-content='Adicionar novos módulos ao projeto pedagógico' data-toggle='popover'
                    id="btn-adicionar-modulo" class="btn actionAddModulo popLabel" type="button">Adicionar Módulo
            </button>
            <button type="button" class="btn btn-custom  actionCorrigirMatricula"> Corrigir Matrículas
        </div>
        <div class="row-fluid clearfix">
            <br>
        </div>
        <div class="row-fluid">
            <div class="accordion" id="content-accordion-modulo"></div>
        </div>
    </fieldset>

    <fieldset>
        <legend> Ponderação</legend>
        <div class="row-fluid">
            <div id="content-disciplina-ponderacao" class="well"></div>
        </div>
    </fieldset>
</script>

<script type="text/template" id="template-accordion-modulo">
    <div class="accordion-group">
        <div class="accordion-heading">
            <input class="accordion-toggle collapsed span12" data-toggle="collapse" data-parent="#accordion2"
                   data-target="#modulo<%=id_modulo%>" value="<%=st_modulo%>" id="st_modulo" name="st_modulo"/>

            <div class="btn-margin-top text-right">
                <a class="btn btn-small btn-success addDisciplina popLabel"
                   data-placement='top' data-trigger='hover'
                   data-content='Adicionar disciplinas ao módulo'
                   data-toggle='popover'>
                    <i class="icon icon-plus"></i>
                </a>
                <a class="btn btn-small btn-danger removeModulo popLabel"
                   data-placement='top' data-trigger='hover'
                   data-content='Todas as disciplinas relacionadas ao projeto serão removidas'
                   data-title='Remover módulo do projeto'
                   data-toggle='popover'>
                    <i class="icon icon-trash"></i>
                </a>
            </div>
        </div>
        <div id="modulo<%=id_modulo%>" class="accordion-body collapse in">
            <div class="accordion-inner">
                <div class="well">
                    <table class="table table-bordered tb-disciplina">
                        <thead>
                        <tr>
                            <th class="span1"></th>
                            <th class="span3 text-left"><b>Título</b></th>
                            <th class="span2 text-center"><b>Carga Horária</b></th>
                            <th class="span1"><b>Obrigatória para conlusão</b></th>
                            <th class="span1"><b>Repetição</b></th>
                            <th class="span1"><b>Importância</b></th>
                            <th class="span1 justGrad"><b>Obrigatório para alocação</b></th>
                            <th class="span1 justGrad"><b>Disponível a partir de</b></th>

                        </tr>
                        </thead>
                        <tbody id="body-table-disciplina-projeto">
                        </tbody>
                    </table>


                    <div class="row-fluid">
                        <div class="span1"><b>Total carga: </b></div>
                        <div class="span11 totalCargaHoraria"></div>
                    </div>
                    <div class="row-fluid">
                        <div class="span1">
                            <button type="button" class="btn delDisciplina" id="delDisciplina">Excluir</button>
                        </div>
                        <div class="span11 text-right">
                            <button type="button" class="btn btn-success actionSaveDisciplina">Salvar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="content-modal"></div>
</script>

<script type="text/template" id="template-line-disciplina-projeto">
    <td>
        <input type="checkbox" name="id_modulodisciplinaDel" id="id_modulodisciplinaDel">
    </td>
    <td class="span3 text-left">
        <%=st_disciplina%>
    </td>
    <td class="span1">
        <%=nu_cargahoraria%> h
        &nbsp; &nbsp;
        <input class="hidden-graducao span8 text-right " type="number" id="nu_cargahoraria" name="nu_cargahoraria"
               value="<%=nu_cargahoraria%>">

    </td>
    <td>
        <input type="checkbox" id="bl_obrigatoria" name="bl_obrigatoria" <% if (bl_obrigatoria) {%> checked <% } %> >
    </td>
    <td class="span1"> <%= nu_repeticao == '' ? 0 : nu_repeticao%></td>
    <td class="span1">
        <select class="span8" name="nu_importancia" id="nu_importancia">
            <option value=""></option>
            <option value="1"
            <% if(nu_importancia == 1) { %> selected <%}%> >1 </option>
            <option value="2"
            <% if(nu_importancia == 2) { %> selected <%}%> > 2 </option>
            <option value="3"
            <% if(nu_importancia == 3) { %> selected <%}%> > 3</option>
        </select>
    </td>
    <td class="span1 justGrad">
        <select class="span8" id="nu_obrigatorioalocacao" name="nu_obrigatorioalocacao"></select>
    </td>
    <td class="span1 justGrad">
        <select class="span8" id="nu_disponivelapartirdo" name="nu_disponivelapartirdo"></select>
    </td>
</script>

<script type="text/template" id="template-disciplina-ponderacao">
    <div class="row-fluid">
        <div class="span5"><b>Título</b></div>
        <div class="span2"><b>Pond. Calculada</b></div>
        <div class="span2"><b>Pond. Aplicada</b></div>
    </div>

    <div class="row-fluid">
        <div id="content-lines-ponderacao"></div>
    </div>
    <div class="row-fluid">
        <div class="span5"> Total:</div>
        <div class="span2 totalPonderacaoCalculada"></div>
        <div class="span2">
            <div class="input-append span12">
                <div class="span5">
                    <input type="text" class="span12 totalPonderacaoAplicada" disabled="disabled"/>
                </div>
                <span class="add-on">%</span>
            </div>
        </div>
        <div class="span3 text-right">
            <button type="button" class="btn btn-success actionSavePonderacao">Salvar</button>
        </div>

    </div>
</script>

<script type="text/template" id="template-line-disciplina-ponderacao">
    <div class="row-fluid">
        <div class="span5">
            <%=st_disciplina%>
        </div>
        <div class="span2">
            <%=nu_ponderacaocalculada%> %
        </div>
        <div class="span2">
            <div class="input-append span12">
                <div class="span5">
                    <input type="text" id="nu_ponderacaoaplicada" name="nu_ponderacaoaplicada"
                           class="span12 desabilitactrlv" min="0" max="100" maxlength="5"
                           value="<%=nu_ponderacaoaplicada ? nu_ponderacaoaplicada : nu_ponderacaocalculada%>"></div>
                <span class="add-on">%</span>
            </div>
        </div>
    </div>
</script>

<!-- Template para modal de busca de projetos pedagogicos-->
<script type="text/template" id="template-modal-projeto">
    <div id="form-projeto-pedagogico-modal-disciplina-busca" class="modal hide fade in"
         style="display: none; width:80%; margin-left:-40%; ">
        <div class="modal-header">
            <a class="close" data-dismiss="modal">×</a>

            <h3>Pesquisar Disciplinas</h3>
        </div>
        <div class="modal-body">
            <div class="disciplinas-sidebyside"></div>
        </div>
        <div class="modal-footer"><a href="#" class="btn" data-dismiss="modal" id="salvar-disciplinas-modal">Fechar</a>
        </div>
    </div>
</script>

<!-- Template para terceira aba - TEXTOS-->
<script type="text/template" id="template-textos">
    <div id="containerForm">
        <form id="form-textos-projeto-pedagogico" name="form-textos-projeto-pedagogico" enctype="multipart/form-data">
            <input type="hidden" value="<%=id_projetopedagogico %>" name="id_projetopedagogico">
            <div class="row-fluid">
                <div class="span12 well">
                    Descrição:
                    <textarea id="st_descricao" name="st_descricao" rows="4" maxlength="160"
                              class="span12 pull-right"> <%=st_descricao%> </textarea>
                </div>
            </div>
            <div class="row-fluid">

                <div class="span12 well">
                    Objetivo:
                    <textarea id="st_objetivo" name="st_objetivo"
                              class="span10 pull-right"> <%=st_objetivo%> </textarea>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span12 well">
                    Estrutura Curricular:
                    <textarea id="st_estruturacurricular" name="st_estruturacurricular" class="span10 pull-right"> <%=st_estruturacurricular%> </textarea>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span12 well">
                    Conteúdo Programático:
                    <textarea id="st_conteudoprogramatico" name="st_conteudoprogramatico" class="span10 pull-right"> <%=st_conteudoprogramatico%> </textarea>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span12 well">
                    Metodologia de avaliação:
                    <textarea id="st_metodologiaavaliacao" name="st_metodologiaavaliacao" class="span10 pull-right"> <%=st_metodologiaavaliacao%> </textarea>
                </div>
            </div>
            <div class="row-fluid">

                <div class="span12 well">
                    Certificação:
                    <textarea id="st_certificacao" name="st_certificacao"
                              class="span10 pull-right"> <%=st_certificacao%> </textarea>
                </div>
            </div>

            <div class="row-fluid">
                <div class="span12 well">
                    Vídeo de Apresentação (Embed):
                    <textarea name="st_valorapresentacao" id="st_valorapresentacao" rows="5" class="span12 pull-right"><%=st_valorapresentacao%></textarea>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span12 well">
                    <label>
                        Upload de imagem do Curso
                        <div class="alert alert-info">
                            <small>Somente serão aceita imagens com esses parametros (1024x1024| Formato: .JPG)
                            </small>
                        </div>
                        <input type="file" id="imagem_curso" name="imagem_curso" class="span12"/>
                    </label>
                    <% if (st_imagem) { %>
                    <p>
                        <i class="icon-eye-open"></i>
                        <a target="_blank" href="<?php echo Ead1_Ambiente::geral()->st_url_gestor2; ?>/<%=st_imagem%> ">
                            Imagem do Curso
                        </a>
                    </p>
                    <% } %>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span12 well">
                    Perfil do projeto:
                    <input type="text" id="st_perfilprojeto" name="st_perfilprojeto" value="<%=st_perfilprojeto%>"
                           class="span10 pull-right">
                </div>
            </div>
            <div class="row-fluid">
                <div class="span12 well">
                    Coordenação:
                    <input type="text" id="st_coordenacao" name="st_coordenacao" value="<%=st_coordenacao%>"
                           class="span10 pull-right">
                </div>
            </div>
            <div class="row-fluid">
                <div class="span12 well">
                    Modulação:
                    <textarea id="st_horario" name="st_horario" class="span10 pull-right"> <%=st_horario%> </textarea>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span12 well">
                    Público Alvo:
                    <textarea id="st_publicoalvo" name="st_publicoalvo"
                              class="span10 pull-right"> <%=st_publicoalvo%> </textarea>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span12 well">
                    Mercado de trabalho:
                    <textarea id="st_mercadotrabalho" name="st_mercadotrabalho"
                              class="span10 pull-right"> <%=st_mercadotrabalho%> </textarea>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span12 well">
                    Boas-Vindas ao Curso:
                    <textarea id="st_boasvindascurso" name="st_boasvindascurso"
                              class="span10 pull-right"> <%=st_boasvindascurso%> </textarea>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span12 well text-right">
                    <button type="button" class="btn btn-success saveTextos">Salvar</button>
                    <button class="btn actionBack" type="button"><i class="icon icon-remove"></i>Cancelar</button>
                </div>
            </div>
        </form>
    </div>

</script>

<!-- Template para quarta aba - Avalição-->
<script type="text/template" id="template-avaliacao">
    <div class="well">
        <fieldset>
            <legend>
                Dados de Avaliação
            </legend>
            <div class="row-fluid">
                <div class="span12">
                    <span class="span3">Nota máxima por disciplina:</span>
                    <input type="text" class="span3 numeric" value="<%=nu_notamaxima%>" name="nu_notamaxima"
                           id="nu_notamaxima"/>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span12">
                    <span class="span3">Percentual de aprovação:</span>
                    <input type="text" class="span3 numeric" value="<%=nu_percentualaprovacao%>"
                           name="nu_percentualaprovacao" id="nu_percentualaprovacao"/>
                </div>
            </div>
            <% if(bl_mediavariavel) { %>
            <div class="row-fluid">
                <div class="span12">
                    <span class="span3">Percentual de aprovação - Média variável:</span>
                    <input type="text" class="span3 numeric" value="<%=nu_percentualaprovacaovariavel%>"
                           name="nu_percentualaprovacaovariavel" id="nu_percentualaprovacaovariavel" required/>
                </div>
            </div>
            <% } %>
            <div class="row-fluid">
                <div class="span12">
                    <span class="span3">Prazo entre agendamentos</span>
                    <input type="text" class="span3 numeric" value="<%=nu_prazoagendamento%>" name="nu_prazoagendamento"
                           id="nu_prazoagendamento"/> dias

                </div>
            </div>
            <div class="row-fluid">
                <div class="span6">
                    <button class="btn pull-right saveAvaliacao btn-success" type="button">Salvar</button>
                </div>
            </div>
        </fieldset>
    </div>
</script>

<!-- Template para quarta aba - Parametros de TCC-->
<script type="text/template" id="template-tcc">
    <div class="well">
        <fieldset>
            <legend>
                Parâmetros de TCC
            </legend>

            <div class="row-fluid">
                <div class="span12">
                    <button class="btn pull-right actionAdd" type="button">Adicionar</button>
                </div>
            </div>
            <div class="row-fluid clearfix"><br></div>
            <table class="backgrid backgrid-selectall table table-striped table-bordered table-hover">
                <thead>
                <tr>
                    <th class="span4">Paramêtro</th>
                    <th class="span4">Peso</th>
                    <th class="span4">Ações</th>
                </tr>
                </thead>
                <tbody id="container-parametro-tcc-line">
                </tbody>
            </table>
        </fieldset>
    </div>
</script>

<script type="text/template" id="template-tcc-line-edit">
    <td class="span4">
        <input value="<%=st_parametrotcc%>" required="required" name="st_parametrotcc"/>
    </td>
    <td class="span4">
        <input value="<%=nu_peso%>" class="numeric" required="required" name="nu_peso"/>
    </td>
    <td class="span4">
        <a class="save btn btn-mini btn-success">Salvar</a>
        <a class="delete btn btn-mini btn-danger">Deletar</a>
        <a class="cancel btn btn-mini">Cancelar</a></td>
</script>

<script type="text/template" id="template-tcc-line-list">
    <td class="span4"><%=st_parametrotcc%></td>
    <td class="span4"><%=nu_peso%> %</td>
    <td class="span4"><a class="edit btn btn-mini btn-custom">Editar</a></td>
</script>

<script type="text/template" id="template-atividade">
    <div class="content-fluid well">
        <fieldset>
            <legend>
                Atividades Complementares
            </legend>
            <div class="row-fluid">
                <label class="span12">
                    <span class="span3">Total em horas:</span>
                    <input type="text" class="span3 numeric" value="<%= nu_horasatividades %>" name="nu_horasatividades"
                           id="nu_horasatividades"/>
                </label>
            </div>
            <div class="row-fluid">
                <div class="span6 text-right">
                    <button id="salvarAtividade" class="btn btn-success" type="button"
                            title="Salvar dados de atividades complementares">
                        Salvar
                    </button>
                </div>
            </div>
        </fieldset>
    </div>
</script>

<script type="text/template" id="projeto-organizacao-template">
    <div class="well">
        <legend>Organizações</legend>
        <!--<label class="checkbox">
            <input type="checkbox" id="bl_todasentidades" name="bl_todasentidades" value="1"/>
            Todas as Entidades
        </label>-->

        <div id="organizacao-content"></div>
    </div>
</script>

<script type="text/template" id="template-integracao-fabrica-de-provas">
    <div class="well">
        <fieldset>
            <legend>Integração com a Fábrica de Provas - Prova Final <%=st_projetopedagogico%></legend>
        </fieldset>

        <table class="backgrid backgrid-selectall table table-striped table-bordered table-hover">
            <thead>
            <tr>
                <th class="span4">Fábrica De Provas</th>
                <th class="span4">Ações</th>
            </tr>
            </thead>

            <tbody>
            <tr>
                <td class="span4" id="prova-vinculada">Prova Não Vinculada</td>

                <td class="span4">
                    <button class="btn" id="btn-vincular">Vincular</button>
                    <button class="btn hide" id="btn-desvincular">Desvincular Prova</button>
                </td>
            </tr>
            </tbody>
        </table>

        <div id="modal-container"></div>
    </div>
</script>

<script type="text/template" id="modal-integracao-fabrica-de-provas">


    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Pesquisar Prova na Maximize</h3>
    </div>

    <div class="modal-body">

        <form class="row-fluid form-inline text-center">
            <div class="span9">
                <input class="span12" name="st_prova" pattern=".{4,}"
                       placeholder="Digite pelo menos 4 caracteres para efetuar a pesquisa."
                       title="São necessários pelo menos 4 caracteres para efetuar a pesquisa." required>
            </div>
            <button class="span3 btn" type="submit"><i class="icon icon-search"></i> Pesquisar</button>
        </form>

        <div class="table-responsive">
            <table class="hide table table-bordered table-striped backgrid table-hover">
                <thead>
                <tr>
                    <th></th>
                    <th>Descrição</th>
                </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>

    <div class="modal-footer">
        <div class="text-right">
            <button id="btn-salvar-prova-modal" class="hide">Vincular</button>
        </div>
    </div>

</script>

<script type="text/template" id="template-linha-provas">
    <td class="span1"><input type="radio" value="<%=codProva%>" name="st_codprovaintegracao"></td>
    <td class="span11">
        <%=titulo%>
        <input type="hidden" value="<%=titulo%>" name="st_provaintegracao">
    </td>
</script>

<script type="text/javascript" src="/library/js/jquery/jquery.form.js"></script>
<script type="text/javascript"> $('#htmlContent script[type="text/template"]').appendTo($('#templateHolder'));</script>
<script type="text/javascript" src="/js/backbone/models/vw-modulo-disciplina.js"></script>
<script type="text/javascript"><?php echo $this->render('/projeto-pedagogico/index.js') ?></script>
