<script id="endereco-view" type="text/template">
    <h4>
        Prezado Aluno,<br/>
        Antes de realizar seu agendamento é necessário confirmar o endereço de correspondência.
    </h4>
    <div class="well">
        <h4>Endereço de Correspondência</h4>
        <form id="form-endereco">
            <div class="row">
                <label class="col-xs-12 col-md-6 form-group">
                    Endereço *:
                    <input class="form-control" type="text" name="st_endereco" value="<%= st_endereco_corresp %>" required/>
                </label>
                <label class="col-xs-4 col-md-2 form-group">
                    Nº *:
                    <input class="form-control" type="text" name="nu_numero" value="<%= nu_numero_corresp %>" required/>
                </label>
                <label class="col-xs-8 col-md-4 form-group">
                    Bairro *:
                    <input class="form-control" type="text" name="st_bairro" value="<%= st_bairro_corresp %>" required/>
                </label>
                <label class="col-xs-12 col-md-3 form-group">
                    Complemento:
                    <input class="form-control" type="text" name="st_complemento" value="<%= st_complemento_corresp %>"/>
                </label>
                <label class="col-xs-12 col-md-3 form-group">
                    UF *:
                    <select id="sg_uf" class="form-control" name="sg_uf" required>
                        <option value="">[Carregando...]</option>
                    </select>
                </label>
                <label class="col-xs-12 col-md-3 form-group">
                    Cidade *:
                    <select id="id_municipio" class="form-control" name="id_municipio" required>
                        <option value="">[Selecione o UF]</option>
                    </select>
                </label>
                <label class="col-xs-12 col-md-3 form-group">
                    CEP *:
                    <input id="st_cep" class="form-control" type="text" name="st_cep" value="<%= st_cep_corresp %>" required/>
                </label>
            </div>
            <div>
                <input type="hidden" name="id_endereco" value="<%= id_endereco_corresp %>"/>
                <input type="hidden" name="id_tipoendereco" value="5"/>
                <input type="hidden" name="st_cpf" value="<%= st_cpf %>"/>
                <input type="hidden" name="id_usuario" value="<%= id %>"/>

                <button class="button small pull-right" type="submit">
                    Salvar Endereço
                </button>
                <p>
                    <b>(*)</b> Campos obrigatórios
                </p>
            </div>
        </form>
    </div>
</script>

<script id="agendamentos-composite" type="text/template">
    <button id="btn-historico" class="button button-white small pull-right" style="margin-top: -55px">
        Histórico
    </button>
    <?php if ( $this->exibirMinhasProvas == "1") { ?>
        <a href="/vista-de-prova" target="_blank" class="button button-white small pull-right "
           style="margin-top: -55px; margin-right: 100px;">
            Minhas Provas
        </a>
    <?php } ?>
    <div id="historico-container" class="modal fade"></div>
    <hr/>
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Avaliação</th>
                <th>Disciplinas</th>
                <th>Data/Horario</th>
                <th>Endereço</th>
                <th>Ações</th>
            </tr>
            </thead>
            <tbody>
            <tr class="loading-view">
                <td colspan="5">Aguarde enquanto carregamos os dados...</td>
            </tr>
            </tbody>
        </table>
    </div>
</script>
<script id="agendamentos-view" type="text/template">
    <td>
        <%= st_avaliacao %>
    </td>
    <td>
        <!-- DISCIPLINAS -->
        <% if (ultimo_agendamento.bl_provaglobal) { %>
        <b>PROVA GLOBAL</b>
        <% } else { %>
        <ul>
            <% _.each(disciplinas, function(disciplina) { %>
            <li><%= disciplina.st_disciplina %></li>
            <% }); %>
        </ul>
        <% } %>
    </td>
    <!-- AGENDAMENTOS -->
    <td class="text-center">
        <% if (bl_agendamentoativo) { %>
        <%= ultimo_agendamento.dt_aplicacao %> de <br/>
        <%  if(ultimo_agendamento.hr_inicio.length > 5){ %>
        <%=     (ultimo_agendamento.hr_inicio + "").substr(11, 5) %>
        <%  } else { %>
        <%=     ultimo_agendamento.hr_inicio %>
        <%  } %>
        <%= ' as ' %>
        <%  if(ultimo_agendamento.hr_fim.length > 5){ %>
        <%=     (ultimo_agendamento.hr_fim + "").substr(11, 5) %>
        <%  } else { %>
        <%=     ultimo_agendamento.hr_fim %>
        <%  } %>
        <% } else { %>
        Sem data
        <% } %>
    </td>
    <td class="text-center">
        <% if (bl_agendamentoativo) { %>
        <b>Aplicador:</b> <%= ultimo_agendamento.st_aplicadorprova %> <br/>
        <b>Endereço:</b> <%= ultimo_agendamento.st_endereco %> <br/>
        <b>Cidade:</b> <%= ultimo_agendamento.st_cidade %><%= ultimo_agendamento.sg_uf ? ' - ' + ultimo_agendamento.sg_uf : '' %> <br/>
        <% } else { %>
        Sem agendamento
        <% } %>
    </td>
    <td class="no-wrap">
        <% if (bl_agendamentoativo) { %>
        <a class="button small button-red" href="/portal/avaliacao/imprimir-agendamento/id_avaliacaoagendamento/<%= ultimo_agendamento.id_avaliacaoagendamento %>" target="_blank">
            Imprimir
        </a>
        <% } %>

        <% if (ultimo_agendamento.id_situacao == 68 || ultimo_agendamento.id_situacao == 69) { %>
        <% if (ultimo_agendamento.bl_dataativa && ultimo_agendamento.nu_presenca === null) { %>
        <button class="button small btn-abrir" type="button">
            Reagendar
        </button>
        <% } %>
        <% } else { %>
        <button class="button small btn-abrir" type="button">
            Agendar
        </button>
        <% } %>
    </td>
</script>

<script id="disciplinas-view" type="text/template">
    <% if (disciplinas.length) { %>
    <label>
        <h4 style="margin-bottom: 5px">Disciplina:</h4>
        <select id="id_disciplina" class="form-control" name="id_discplinas">
            <% _.each(disciplinas, function(item, i) { %>
            <option value="<%= item.id_disciplina %>">
                <%= item.st_disciplina %>
            </option>
            <% }); %>
        </select>
    </label>
    <% } %>
</script>

<script id="form-view" type="text/template">
    <div class="well">
        <h2>Disciplinas</h2>
        <% _.each(disciplinas, function(val, i) { %>
        <div>
            <i class="icon icon-ok"></i>
            <%= val.st_disciplina %>
        </div>
        <% }); %>
    </div>
    <div class="well">
        <form id="form-pesquisar">
            <h2>Caro aluno, para realizar o seu agendamento escolha o local de prova</h2>
            <div class="row">
                <label class="col-xs-12 col-md-4">
                    <select id="sg_uf" class="form-control" name="sg_uf">
                        <option value="">[Selecione o UF]</option>
                    </select>
                </label>
                <label class="col-xs-12 col-md-4">
                    <select id="id_municipio" class="form-control" name="id_municipio">
                        <option value="">[Aguardando o UF]</option>
                    </select>
                </label>
                <div class="col-xs-12 col-md-4">
                    <button class="button small" type="submit">
                        Pesquisar
                    </button>
                    <button id="btn-voltar" class="button button-white small" type="button">
                        Voltar
                    </button>
                </div>
            </div>
        </form>
        <form id="form-salvar-agendamento">
            <div id="aplicacoes-region"></div>
            <div class="text-right">
                <button class="button small button-green" type="submit">
                    <% if (bl_agendamentoativo) { %>
                    Salvar Reagendamento
                    <% } else { %>
                    Salvar Agendamento
                    <% } %>
                </button>
            </div>
        </form>
    </div>
</script>

<script id="aplicacoes-composite" type="text/template">
    <hr/>
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th></th>
                <th>Aplicador</th>
                <th>Local de Prova</th>
                <th>Estado</th>
                <th>Cidade</th>
                <th>Data</th>
                <th>Início</th>
                <th>Término</th>
            </tr>
            </thead>
            <tbody>
            <tr class="loading-view">
                <td colspan="8">Aguarde enquanto buscamos as aplicações disponíveis...</td>
            </tr>
            </tbody>
        </table>
    </div>
</script>
<script id="aplicacoes-view" type="text/template">
    <td>
        <input type="radio" name="id_avaliacaoaplicacao" value="<%= id_avaliacaoaplicacao %>"/>
    </td>
    <td><%= st_aplicadorprova || '-' %></td>
    <td><%= st_endereco || '-' %></td>
    <td><%= sg_uf || '-' %></td>
    <td><%= st_cidade || '-' %></td>
    <td><%= dt_aplicacao || '-' %></td>
    <td><%= hr_inicioprova || '-' %></td>
    <td><%= hr_fimprova || '-' %></td>
</script>

<script id="historico-composite" type="text/template">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Histórico de Agendamento</h4>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>Prova</th>
                            <th>Atividades</th>
                            <th>Responsável</th>
                            <th>Data</th>
                        </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</script>
<script id="historico-view" type="text/template">
    <td><%= st_tipodeavaliacao %></td>
    <td><%= st_situacao %></td>
    <td><%= st_nomecompleto %></td>
    <td><%= dt_cadastro %></td>
</script>

<script id="main-layout-view" type="text/template">
    <h1>Agendamento de Prova</h1>
    <div id="endereco-region"></div>
    <div id="disciplinas-region"></div>
    <div id="agendamentos-region"></div>
    <div id="form-region"></div>
</script>

<div class="cortina cortina-loader"></div>
<div id="main-layout"></div>

<script type="text/javascript">
    var dadosUsuario = <?php echo json_encode($this->dados) ?>;
    var dadosEndereco = <?php echo json_encode($this->endereco) ?>;
</script>