<?php if (!empty($this->podeAgendar)) { ?>
    <div class="info-box green tcc-box box-informacoes-genericas">
        <i class="icon-warning-sign"></i>
        <div class="msg text-uppercase">
            CLIQUE <a href="<?php echo $this->baseUrlModulo ?>/avaliacao/agendamento" class="enviar-tcc">
                AQUI
            </a>
            PARA FAZER O AGENDAMENTO <?php echo $this->st_avaliacao ?>
        </div>
    </div>
<?php } ?>

<?php if (!empty($this->podeReagendar)) { ?>
    <div class="info-box red tcc-box box-informacoes-genericas">
        <i class="icon-warning-sign"></i>
        <div class="msg text-uppercase">
            VOCÊ JÁ POSSUI UM AGENDAMENTO, CLIQUE
            <a href="<?php echo $this->baseUrlModulo ?>/avaliacao/agendamento?reagendamento=1" class="enviar-tcc">
                AQUI
            </a>
            PARA REAGENDAR.
        </div>
    </div>
<?php } ?>
