<style type="text/css">
    .well {
        padding: 40px;
    }

    .div-loading {
        text-align: center;
    }
</style>


<div class='info-box green uny ocorrencia-box msg-retorno hide' id="caixa_mensagem"></div>

<input type="hidden" value="<?php echo $this->IdMatricula ?>" id="id_matricula">
<input type="hidden" value="" id="idAvaliacaoAgendamento" name="idAvaliacaoAgendamento">
<div id='aguardeA' class="div-loading hide"><img src="/images/loader.gif"></div>
<div class="hide" id="botao-historico">
    <button type="button" data-toggle="modal" class="button button-blue" data-target="#modalHistoricoAgendamento">Histórico</button>
</div>
<br><br>
<input type="hidden" value="0" id="id_tipodeavaliacao" name="id_tipodeavaliacao">
<div id="principal-cadastrar-agendamento" class="cadastrarAgendamento"></div>

<script type="text/template" id="dados-liberado-abonado">
    <div class="title-block clearfix">
        <h3 class="h3-body-title uny">Agendamento de Prova</h3>

        <div class="title-seperator"></div>
    </div>
    <div>
        Caro aluno,<br>
        Você possui um agendamento liberado:<br>
    </div>
    <div class="divider divider-shadow"></div>
    <fieldset>
        <legend>Disciplinas incluídas:</legend>
        <div class="form-group clearfix">
            <table class="table table-responsive hide" id="tabela-dados-disciplinas">
                <thead class="tablehead">
                <tr>
                    <th></th>
                    <th>Disciplina</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </fieldset>
    <div class="clearfix"></div>
    <div class="form-group clearfix pull-right" id="botoes-novo-liberar">
        <button type="button" id="btnVoltarB" class="button small button-red voltar">Voltar</button>
        <button type="button" id="btnAgendamentoLiberado" class="button small button-main">Agendar</button>
    </div>
</script>
<script type="text/template" id="dados-agendamento">
    <div>
        <div class="title-block clearfix">
            <h3 class="h3-body-title uny">Agendamento de Prova</h3>

            <div class="title-seperator"></div>
        </div>
        <legend>Caro aluno, você possui um agendamento:</legend>
    </div>
    <div class="form-group clearfix">
        <table class="table table-responsive hide" id="tabela-dados-agendamento">
            <thead class="tablehead">
            <tr>
                <th></th>
                <th>Aplicador</th>
                <th>Telefone</th>
                <th>Local de Prova</th>
                <th>Estado</th>
                <th>Cidade</th>
                <th>Data</th>
                <th>Início</th>
                <th>Término</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
    <div class="form-group clearfix pull-right" id="botoes-reagendar">
        <button type="button" id="btnVoltarB" class="button small button-red voltar">Voltar</button>
        <button type="button" id="btnNovoAgendamento" class="<?php echo $this->reagendamento ? 'reagendamento' : '' ?> button small button-main">Reagendar</button>
    </div>
</script>
<script type="text/template" id="template-cadastrar-agendamento">

    <form id="form_agendamento" class="form-wrapper uny form_agendamento" method="post" action="">
        <fildset>
            <div class="title-block clearfix">
                <h3 class="h3-body-title uny">Agendamento de Prova</h3>

                <div class="title-seperator"></div>
            </div>
            <div class="well row">

                <?
                if($this->agendamentos){
                        ?>
                        <div>
                            <b>Tipo de Prova: </b>
                            <?php echo $this->agendamentos['st_avaliacao'] ?>

                            <br/>

                            <b>Nome do Curso: </b>
                            <?php echo $this->agendamentos['st_projetopedagogico'] ?>
                        </div>
                        <?
                }
                ?>

                <hr/>

                <legend>Caro aluno, para realizar o seu agendamento escolha o local de prova</legend>

                <div class="row">
                    <div class="col-md-5">
                        <select id="uf_agendamento" name="uf_agendamento" class="form-control" required>
                            <option value="">[Selecione o UF]</option>
                            <?php echo $this->sgUF; ?>
                        </select>
                    </div>
                    <div class="col-md-5">
                        <select id="id_municipio" name="id_municipio" class="form-control">
                            <option value="">Aguardando UF</option>
                        </select>
                    </div>
                    <div class="col-md-2">
                        <label class="control-label">
                            <input type="button" id="btnPesquisaPolo" value="Pesquisar" class="button buttonSubmit"/>
                        </label>
                    </div>
                </div>
            </div>
        </fildset>
        <div class="form-group clearfix">
            <input type="hidden" value="" id="id_tipodeavaliacao" name="id_tipodeavaliacao">
            <table class="table table-responsive hide" id="tabela-retorno-pesquisa-agendamento">
                <thead class="tablehead">
                <tr>
                    <th></th>
                    <th>Aplicador</th>
                    <th>Local de Prova</th>
                    <th>Estado</th>
                    <th>Cidade</th>
                    <th>Data</th>
                    <th>Início</th>
                    <th>Término</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
        <div class="form-group clearfix pull-right hide" id="botoes">
            <button type="button" id="btnVoltarB" class="button small button-red voltar">Voltar</button>
            <button type="button" id="btnSalvarAgendamento" class="button small button-main">Salvar</button>
        </div>
    </form>
</script>

<script type="text/template" id="locais-de-prova">
    <td class="span1">
        <input type="radio" value="<%= id_avaliacaoaplicacao %>" id="id_avaliacaoaplicacao" name="id_avaliacaoaplicacao" />
    </td>
    <td class="span3"><%= st_aplicadorprova %></td>
    <td class="span4"><%= st_endereco %></td>
    <td class="span1"><%= sg_uf %></td>
    <td class="span2"><%= st_cidade %></td>
    <td class="span2"><%= dt_aplicacao %></td>
    <td class="span1"><%= hr_inicioprova %></td>
    <td class="span1"><%= hr_fimprova %></td>
</script>

<script type="text/template" id="local-agendado">
    <td class="span1"><input type="hidden" value="<%= id_avaliacaoagendamento %>" id="id_avaliacaoagendamento"
                             name="idAvaliacaoAgendamento"><i class="icon-ok"></i></td>
    <td class="span3"><%= st_aplicadorprova %></td>
    <td class="span2"><%= st_telefoneaplicador %></td>
    <td class="span4"><%= st_endereco %></td>
    <td class="span1"><%= sg_uf %></td>
    <td class="span2"><%= st_cidade %></td>
    <td class="span2"><%= dt_aplicacao %></td>
    <td class="span1"><%= hr_inicioprova %></td>
    <td class="span1"><%= hr_fimprova %></td>
    <td><a target="_blank" href="<?php echo $this->baseUrlModulo ?>/avaliacao/imprimir-agendamento/id_avaliacaoagendamento/<%=id_avaliacaoagendamento%>" class="btn btn-custom">
            <i class="icon-print icon-white">
            </i> Imprimir
        </a></td>
</script>

<script type="text/template" id="nome-disciplinas">
    <td class="span1">
        <input type="hidden" value="<%= id_avaliacaoagendamento %>" id="id_avaliacaoagendamento" name="idAvaliacaoAgendamento"/>
        <i class="icon-ok"></i>
    </td>
    <td class="span3">
        <%= st_disciplina %>
    </td>
</script>

<script type="text/template" id="lista-historico">
    <td class="span2"><%= st_tipodeavaliacao %></td>
    <td class="span2"><%= st_situacao %></td>
    <td class="span3"><%= st_nomecompleto %></td>
    <td class="span2"><%= dt_cadastro %></td>
    <!--    <td class="span3"><%= st_tramite %></td>-->
</script>


<script type="text/template" id="template-local-vazia">
    <div class="info-box yellow local-box">
        <i class="icon-error"></i>
        <div class="msg">
            Nenhum local de prova encontrado
        </div>
    <a class="info-box-remove" href="javascript:void(0)"><i class="icon-remove"></i></a>
    </div>
</script>