<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="<?php echo $this->baseUrl ?>/css/cssnovoportal/bootstrap.min.css">
    <link rel="stylesheet" href='<?php echo $this->baseUrl ?>/css/cssnovoportal/style.css'>
    <link rel="stylesheet" href='<?php echo $this->baseUrl ?>/css/cssnovoportal/responsive.css'>

    <script src="<?php echo $this->baseUrl; ?>/js/jsnovoportal/_jq.js" type="text/javascript"></script>
    <script src="<?php echo $this->baseUrl; ?>/js/jsnovoportal/jquery.base64.js" type="text/javascript"></script>
    <script src="<?php echo $this->baseUrl; ?>/js/jsnovoportal/_jquery.placeholder.js" type="text/javascript"></script>
    <script src="<?php echo $this->baseUrl; ?>/js/jsnovoportal/bootstrap.min.js" type="text/javascript"></script>
    <script src="<?php echo $this->baseUrl; ?>/js/jsnovoportal/tcc/envio-moodle.js" type="text/javascript"></script>
</head>
<body>
<div class="container">
    <fieldset>
        <?php
        $array_pode_publicar = array(
            \G2\Constante\Situacao::TB_ALOCACAO_PENDENTE,
            \G2\Constante\Situacao::TB_ALOCACAO_DEVOLVIDO_AO_ALUNO
        );

        //Erro na integração do aluno, exibe mensagem de aviso
        if ($this->mensageiro->getTipo() == Ead1_IMensageiro::AVISO) :
            ?>
            <div class='info-box yellow tcc-box box-informacoes-genericas'>
                <i class='icon-warning-sign'></i>
                <div class='msg'>
                    <?php
                    if (is_array($this->mensageiro->getMensagem()) && count($this->mensageiro->getMensagem())):
                        echo $this->mensageiro->getFirstMensagem();
                    else:
                        echo $this->mensageiro->getText();
                    endif;
                    ?>
                </div>
                <a href='javascript:void(0)' class='info-box-remove'><i class='icon-remove'></i></a>
            </div>
        <?php else :
            $arrDados = $this->mensageiro->getMensagem();

            //se o aluno estiver liberado para enviar o TCC, mostra o formulário
            if (!$arrDados['encerrada']) : ?>
                <div class="row hide-save">
                    <div class="info-box yellow tcc-box box-informacoes-genericas">
                        <i class="icon-success-sign"></i>
                        <div class='msg'> O status do envio do seu TCC é:
                            <strong> <?php echo $arrDados['dadosAluno']->getSt_situacaotcc(); ?> </strong>
                            <?php
                            if (
                                $arrDados['dadosAluno']
                                    ->getId_situacaotcc() === \G2\Constante\Situacao::TB_ALOCACAO_DEVOLVIDO_AO_ALUNO) :
                                ?>
                                <br>
                                <strong>Justificativa: </strong>
                                <?php
                                echo $arrDados['avaliacao'] instanceof \G2\Entity\VwAvaliacaoAluno ?
                                    $arrDados['avaliacao']->getst_justificativa() : ' - ';
                            endif;
                            ?>
                        </div>
                    </div>
                </div>

                <form name="formEnviarTCC" id="formEnviarTCC" enctype="multipart/form-data" method="post"
                      action="/portal/avaliacao/upload-tcc">

                    <div class="cortina tcc cortina-loader"></div>
                    <div class="row">
                        <?php
                        // Verifica o encerramento da sala atual e
                        // impede a postagem do TCC caso a sala esteja encerrada.
                        ?>
                        <div class='info-box uny enviar-tcc-box'>
                            <i class='icon-success-sign'></i>
                            <div class='msg'></div>
                            <a href='javascript:void(0)' class='info-box-remove'><i class='icon-remove'></i></a>
                        </div>

                        <div>
                            <label>Matrícula: </label>
                            <?php echo $arrDados['dadosAluno']->getid_matricula(); ?>
                        </div>

                        <div>
                            <label>Disciplina: </label>
                            <?php echo $arrDados['dadosAluno']->getSt_disciplina(); ?>
                        </div>

                        <div>
                            <label>Sala: </label>
                            <?php echo $arrDados['dadosAluno']->getSt_saladeaula(); ?>
                        </div>

                        <div>
                            <label>Coordenador: </label>
                            <?php echo $arrDados['dadosAluno']->getst_professor(); ?>
                        </div>
                        <?php if ($arrDados['avaliacao'] instanceof \G2\Entity\VwAvaliacaoAluno) : ?>
                            <div>
                                <label for="st_tituloavaliacao">Título: </label>
                                <span class="titletcc"></span>
                                <?php
                                if ($arrDados['encerrada'] == false && $arrDados['podePublicar']) :
                                    ?>
                                    <span class="help-block alert-danger hide-save">
                                        Atenção: O título cadastrado nesse campo
                                        será exibido no Certificado de Conclusão e deverá ser
                                        o mesmo título do arquivo da versão final do TCC.
                                    </span>
                                    <input type="text" id="st_tituloavaliacao" class="form-control hide-save"
                                           name="st_tituloavaliacao"
                                           value="<?php
                                           echo($arrDados['avaliacao'] instanceof \G2\Entity\VwAvaliacaoAluno
                                               ? $arrDados['avaliacao']->getSt_tituloavaliacao() : '')
                                           ?>"/>
                                <?php
                                else :
                                    echo $arrDados['avaliacao']->getSt_tituloavaliacao();
                                endif;
                                ?>
                                <hr/>
                            </div>

                            <div class="hide-save">
                                <?php if ($arrDados['encerrada'] == false && $arrDados['podePublicar']) : ?>
                                    <label for="arquivo_tcc">Versão Final:</label>
                                    <input type="file" id="arquivo_tcc" name="arquivo_tcc"/>
                                    <p class="help-block">Extensões aceitas DOC, DOCX e PDF</p>
                                <?php endif; ?>
                            </div>

                            <div class="hide-save">
                                <?php if (array_key_exists('upload', $arrDados) && $arrDados['upload']) : ?>
                                    <label>Ultima versão publicada:</label>
                                    <a href="<?php
                                    echo $arrDados['url_upload'] . $arrDados['upload']->getSt_upload();
                                    ?>"
                                       target="_blank">
                                        <?php echo $arrDados['upload']->getst_upload() ?>
                                    </a>
                                    <input type="hidden" title="Enviar" name="id_upload" id="id_upload"
                                           value="<?php echo $arrDados['upload']->getId_upload() ?>">
                                <?php endif; ?>
                            </div>

                            <input type="hidden" id="nu_notaparametro" name="nu_notaparametro" value="NULL">
                            <input type="hidden" id="id_matricula" name="id_matricula"
                                   value="<?php echo $arrDados['dadosAluno']->getId_matricula() ?>"/>
                            <input type="hidden" id="id_alocacao" name="id_alocacao"
                                   value="<?php echo $arrDados['encerramento']->getId_alocacao() ?>"/>
                            <input type="hidden" id="id_usuario" name="id_usuario"
                                   value="<?php echo $arrDados['dadosAluno']->getId_usuario() ?>"/>
                            <input type="hidden" id="id_saladeaula" name="id_saladeaula"
                                   value="<?php echo $arrDados['dadosAluno']->getId_saladeaula() ?>"/>
                            <input type="hidden" id="id_avaliacao" name="id_avaliacao"
                                   value="<?php echo $arrDados['avaliacao']->getId_avaliacao() ?>"/>
                            <input type="hidden" id="id_avaliacaoconjuntoreferencia"
                                   name="id_avaliacaoconjuntoreferencia"
                                   value="<?php echo $arrDados['avaliacao']->getId_avaliacaoconjuntoreferencia() ?>"/>
                        <?php else : ?>
                            <h4>Avaliação de TCC não encontrada, entre em contato com o suporte :(</h4>
                        <?php endif; ?>
                    </div>

                    <div class="row">
                        <?php if ($arrDados['encerrada'] == false && $arrDados['podePublicar'] &&
                            $arrDados['avaliacao'] instanceof \G2\Entity\VwAvaliacaoAluno
                        ) : ?>
                            <button type="submit" id="bt_enviartcc" class="button small button-main hide-save">Enviar
                                TCC
                            </button>
                        <?php endif; ?>
                    </div>
                </form>

            <?php else ://se o aluno está encerrado, mostra a mensagem de não acesso a sala ?>
                <div class="row">
                    <div class="info-box green tcc-box box-informacoes-genericas">
                        <i class="icon-success-sign"></i>
                        <div class='msg'> Seu acesso já foi encerrado nessa sala. O status do seu TCC é:
                            <strong> <?php echo $arrDados['dadosAluno']->getSt_situacaotcc(); ?> </strong>
                        </div>
                    </div>
                </div>
            <?php
            endif;
        endif;
        ?>
        <div class="row">
            <button type="button" id="btn_voltar" class="button small " onclick="window.history.go(-1)">
                Voltar
            </button>
        </div>
    </fieldset>
</div>
</body>
</html>