<?php if($this->encerrada == false):?>
<div class="info-box yellow tcc-box box-informacoes-genericas">
    <i class="icon-warning-sign"></i>

    <div class="msg">
        CLIQUE <a href="javascript:void(0)" class="enviar-tcc" data-toggle="modal" data-target="#modalTcc">AQUI</a> PARA
        ENVIAR SEU TCC
    </div>
</div>
<?php endif; ?>
<div class="modal fade" id="modalTcc" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <form name="formEnviarTCC" id="formEnviarTCC" enctype="multipart/form-data" method="post"
          action="/portal/avaliacao/upload-tcc">
        <div class="modal-dialog">


            <div class="modal-content">
                <div class="cortina tcc cortina-loader"></div>
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Envie o seu TCC</h4>
                </div>

                <div class="modal-body">
                    <?php // Verifica o encerramento da sala atual e impede a postagem do TCC caso a sala esteja encerrada. ?>

                    <? if($this->TCCLiberado) { ?>

                    <div class='info-box uny enviar-tcc-box'>
                        <i class='icon-success-sign'></i>

                        <div class='msg'></div>
                        <a href='javascript:void(0)' class='info-box-remove'><i class='icon-remove'></i></a>
                    </div>

                    <div class=" ">
                        <label>Matrícula: </label>
                        <?php echo $this->dadosAluno->getid_matricula(); ?>
                    </div>

                    <div class=" ">
                        <label>Disciplina: </label>
                        <?php echo $this->dadosAluno->getSt_disciplina(); ?>
                    </div>

                    <div class=" ">
                        <label>Sala: </label>
                        <?php echo $this->dadosAluno->getSt_saladeaula(); ?>
                    </div>

                    <div class=" ">
                        <label>Coordenador: </label>
                        <?php echo $this->dadosAluno->getst_professor(); ?>
                    </div>
                    <?php if ($this->avaliacao instanceof VwAvaliacaoAlunoTO) { ?>
                        <div class=" ">
                            <label for="st_tituloavaliacao">Título: </label>
                            <?php if ($this->encerrada == false && $this->podePublicar) { ?>
                                <span class="help-block alert-danger">
                                    Atenção: O título cadastrado nesse campo será exibido no Certificado de Conclusão e deverá ser o mesmo título do arquivo da versão final do TCC.
                                </span>
                                <input type="text" id="st_tituloavaliacao" class="form-control" name="st_tituloavaliacao" value="<?php echo($this->avaliacao instanceof VwAvaliacaoAlunoTO ? $this->avaliacao->getSt_tituloavaliacao() : '') ?>"/>
                            <?php } else { ?>
                                <?php echo $this->avaliacao->getSt_tituloavaliacao(); ?>
                            <?php } ?>
                            <hr/>
                        </div>

                        <div class=" ">
                            <?php if ($this->encerrada == false && $this->podePublicar) { ?>
                                <label for="arquivo_tcc">Versão Final:</label>
                                <input type="file" id="arquivo_tcc" name="arquivo_tcc"/>
                                <p class="help-block">Extensões aceitas DOC, DOCX e PDF</p>
                            <?php } ?>
                        </div>

                        <div class=" ">
                            <?php if ($this->upload) { ?>
                                <label>Ultima versão publicada:</label>
                                <a href="<?php echo $this->url_upload . $this->upload->getSt_upload(); ?>"
                                   target="_blank">
                                    <?php echo $this->upload->getst_upload() ?>
                                </a>
                                <input type="hidden" title="Enviar" name="id_upload" id="id_upload"
                                       value="<?php echo $this->upload->getId_upload() ?>">
                            <?php } ?>
                        </div>

                        <div class=" ">
                            <?php if ($this->avaliacao->getSt_justificativa()) { ?>
                                <label>Justificativa de Cancelamento:</label>
                                <?php echo $this->avaliacao->getSt_justificativa(); ?>
                            <?php } ?>
                        </div>

                        <input type="hidden" id="nu_notaparametro" name="nu_notaparametro" value="NULL">
                        <input type="hidden" id="id_matricula" name="id_matricula"
                               value="<?php echo $this->dadosAluno->getId_matricula() ?>"/>
                        <input type="hidden" id="id_alocacao" name="id_alocacao"
                               value="<?php echo $this->encerramento->getId_alocacao() ?>"/>
                        <input type="hidden" id="id_usuario" name="id_usuario"
                               value="<?php echo $this->dadosAluno->getId_usuario() ?>"/>
                        <input type="hidden" id="id_saladeaula" name="id_saladeaula"
                               value="<?php echo $this->dadosAluno->getId_saladeaula() ?>"/>
                        <input type="hidden" id="id_avaliacao" name="id_avaliacao"
                               value="<?php echo $this->avaliacao->getId_avaliacao() ?>"/>
                        <input type="hidden" id="id_avaliacaoconjuntoreferencia" name="id_avaliacaoconjuntoreferencia"
                               value="<?php echo $this->avaliacao->getId_avaliacaoconjuntoreferencia() ?>"/>
                    <?php } else { ?>

                        <h4>Avaliação de TCC não encontrada, entre em contato com o suporte :(</h4>
                    <?php } ?>
                <?php } else { ?>
                    <div class=""><p class="alert alert-danger">A data limite desta sala foi alcançada e não será possível postar a versão final do TCC.</p></div>
                <?php } ?>
                </div>

                <div class="modal-footer">
                    <?php if ($this->TCCLiberado) { ?>
                        <button type="button" class="button small button-main" data-dismiss="modal">Fechar</button>
                        <?php if ($this->encerrada == false && $this->podePublicar && $this->avaliacao instanceof VwAvaliacaoAlunoTO) { ?>
                            <button type="submit" id="bt_enviartcc" class="button small button-main">Enviar TCC</button>
                        <?php } ?>
                    <?php } else { ?>
                        <button type="button" class="button small button-main" data-dismiss="modal">Ok</button>
                    <?php } ?>
                </div>
            </div>
        </div>
    </form>
</div>