<!DOCTYPE html>

<meta charset="ISO-8859-1">
<html>
<head>
    <style type="text/css">
        @media print {
            #btn-print {
                display: none;
            }
        }

        body {
            margin: 0;
            padding: 0;
            text-align: center;
        }

        .all {
            margin: 0 auto;
            padding: 1px 1px 1px 1px;
            text-align: left;
            max-width: 950px;
        }

        #btn-print {
            text-align: center;
        }

        .meusDados {
            border: 1px solid #000;
            margin-top: 20px;
            padding: 20px;
            text-align: left;
        }

    </style>
</head>
<body>
<div id="container-principal" class="all">
    <div class="meusDados">
        <h2 style="text-align: center">
            Confirmação de Agendamento de Prova
        </h2>
        <div>
            <?php echo $this->texto ?>
        </div>
    </div>
    <div id="btn-print">
        <br /><br />
        <button name="print" onclick="print()">Imprimir</button>
    </div>
</div>
</body>
</html>
