@charset "utf-8";

@font-face {
    font-family: 'RockwellRegular';
    src: url('../../../../fonts/rock-webfont.eot'), url('../../../../fonts/rock-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../../../fonts/rock-webfont.woff') format('woff'),
         url('../../../../fonts/rock-webfont.ttf') format('truetype'),
         url('../../../../fonts/rock-webfont.svg#RockwellRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Helvetica65-Medium";
    src: url("../../../../fonts/helveticamed.eot"), url('../../../../fonts/helveticamed.eot?#iefix') format('embedded-opentype'),
         url('../../../../fonts/helveticamed.ttf') format('truetype');/*usado nos outros navegadores*/
    font-weight:normal;
    font-style: normal;
}



body { font-family:'RockwellRegular','Helvetica65-Medium', sans-serif; font-size:11px; color:#000; margin:0px; }
.mensagem_indisponivel { width:500px; margin:0 auto; border:1px solid #900; padding:30px; margin-top:30px; text-align:center; }

label.error { font-size:11px; color:#F00; }
#corpo {width:985px;min-height:400px;margin:0 auto;}
#logo { background-image: url(logo.png); height: 133px; width: 100%}

table.borda_simples_titulo tr td
	, table.borda_simples_titulo thead tr th {	
		 padding:3px;
	}
table.borda_simples_titulo { border:1px solid #fff; margin: 5px; color:#606060; border-collapse: collapse; background-color: #fff}
table.borda_simples_titulo tbody tr td { vertical-align:top; font-size:11px;  vertical-align: middle;}
table.borda_simples_titulo tbody tr {  }


table.bordasimples tr td, table.bordasimples thead tr th { padding:3px;}
table.bordasimples { border:1px solid #CCCCCC; color:#606060; border-collapse: collapse; background-color: #EFEFEF}
table.bordasimples thead tr {  }
table.bordasimples thead tr th { border-bottom:1px solid #CCCCCC;  }
table.bordasimples thead tr.titulo th {margin: 5px; background-color:#fff; font-size:14px }
table.bordasimples tbody tr td { vertical-align:top; font-size:11px;  vertical-align: middle; border-bottom:1px solid #CCCCCC; }
table.bordasimples tbody tr {  }

table.bordasimples tfoot {  }
table.bordasimples tfoot tr { }
table.bordasimples tfoot tr td { color: #fff;  background-color:#302E2D; vertical-align: middle; }
table.bordasimples tfoot tr.titulo td { background-color:#666; color:#FFF; font-size:14px;  vertical-align: middle; }

.tabela_resumo_valores { text-align:left }
.tabela_resumo_valores .valor { text-align:right }
.tabela_resumo_valores .total { font-weight:bolder }

p.form , div.p_form { clear:both; margin:5px; display: table;  width: 100%; }
label.form {  font-size:11px; }
div.form { float:left; margin:5px; padding:5px; border:1px solid #fff; }
button.botao { cursor:pointer; }

#carregando { display:none; height:100%; width:100%; background-image:url(fundo_trans.png); position:fixed; z-index:1002; text-align:center; }
#carregando_mensagem { width:230px; border:1px solid #FFF; color:#FFF; background-color:#666; margin:300px auto; padding:30px; }