<style type="text/css">
    #modalAlunoConclusaoLabel, #modalAddBeforeRemoveLabel {
        font-size: 17px;
        color: #7F7F7F;
    }
</style>

<script id="search-view" type="text/template">
    <form method="post">
        <div class="well">
            <fieldset>
                <legend>Professores</legend>

                <div class="row-fluid">
                    <div class="span8">
                        <div class="row-fluid">
                            <label class="span12">
                                Sala de Aula:
                                <input class="span12" type="text" name="st_saladeaula" value=""/>
                            </label>
                        </div>
                    </div>
                    <label class="span4">
                        Professor
                        <select class="span12" name="id_usuario">
                            <option value="">Carregando...</option>
                        </select>
                    </label>
                </div>
                <div class="row-fluid">
                    <label class="span4">
                        Disciplina
                        <select class="span12" name="id_disciplina">
                            <option value="">Aguardando...</option>
                        </select>
                    </label>
                    <div class="span3">
                        <label>Abertura</label>
                        <input class="span6 datepicker" name="dt_aberturainicio" >
                        <input class="span6 datepicker" name="dt_aberturafim" >
                    </div>
                    <div class="span3">
                        <label>Encerramento</label>
                        <input class="span6 datepicker" name="dt_encerramentoinicio" >
                        <input class="span6 datepicker" name="dt_encerramentofim" >
                    </div>
                    <label class="span2 text-right">
                        <button class="btn btn-custom" type="submit" style="margin-top: 20px;">
                            <i class="icon icon-white icon-search"></i>
                            Pesquisar
                        </button>
                    </label>
                </div>
                <div class="row-fluid">
                    <label class="span4">
                        <input type="checkbox" id="bl_professores_indefinidos" name="bl_professores_indefinidos">
                        Mostrar apenas resultados sem professores definidos
                    </label>
                </div>
                <div class="text-left">
                    <button class="btn btn-custom actionAdd" type="button" >
                        <i class="icon icon-white icon-plus"></i>
                        Adicionar Professor
                    </button>
                    <button class="btn actionRemove" type="button">
                        <i class="icon icon-remove"></i>
                        Remover Professores
                    </button>
                </div>

            </fieldset>
        </div>
    </form>
    <div class="well hide" id="content-result">
        <div class="text-right">
            <button id="btn-gerar-xls" class="btn btn-custom btn-gerar-xls" type="button">
                <i class="icon-white icon-file"></i>
                Gerar XLS
            </button>
        </div>
        <br>
        <div id="content-result-sub">
        </div>
    </div>

    <!-- Modal para adicionar professores-->

    <div id="modalAddProfessor" class="modal hide fade" role="dialog" aria-labelledby="modalAddProfessorLabel" aria-hidden="true">
        <div class="modal-header">
            <label id="modalAlunoConclusaoLabel">Selecione o professor que deseja adicionar as salas selecionadas</label>
        </div>
        <div class="modal-body">
            <div class="row-fluid">
                <div class="span12">
                    <label class="span2">
                        Professor
                    </label>
                    <select class="span10" name="id_usuario_add">
                        <option value="">Carregando...</option>
                    </select>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span12">
                    <label class="span2">
                        Titular
                    </label>
                    <select class="span10" name="bl_titular_add">
                        <option value="1">Sim</option>
                        <option value="0">Não</option>
                    </select>
                </div>
            </div>

        </div>

        <div class="modal-footer" id="footerModal-botoes">
            <button class="btn btn-success add-professor"><i class="icon icon-plus icon-white"></i> Confirmar</button>
            <button class="btn btn-warning cancel" data-dismiss="modal" aria-hidden="true"> Cancelar</button>

            <button class="btn btn-warning close-modal-remove hide" aria-hidden="true"> Ok, não quero adicionar</button>
            <button class="btn btn-success add-professor-remove hide"><i class="icon icon-plus icon-white"></i> Sim, quero adicionar o professor selecionado</button>
        </div>
    </div>

</script>

<div class="global-content">
    <div id="search-content"></div>
    <div id="modal-content"></div>
</div>

<hr/>

<script type="text/javascript"> $('#htmlContent script[type="text/template"]').appendTo($('#templateHolder'));</script>
<script type="text/javascript" src="/professores/js"></script>