<!-- MAIN REGION -->
<div id="main-region">
    <div id="autocomplete-person-region" class="row-fluid"></div>
    <div id="enrollment-region"></div>
    <div id="subject-region"></div>
    <div id="modal-region"></div>
    <div id="modal-confirm-region"></div>
</div>


<!-- Form enrollment -->
<script id="enrollment-template" type="text/template">
    <div class="well">
        <div class="row-fluid">
            <div class="span4">
                <fieldset>
                    <legend><%=st_nomecompleto%></legend>
                    <p><b>CPF:</b> <%=st_cpf%></p>
                    <p><b>E-mail:</b> <%=st_email%></p>
                </fieldset>
            </div>
            <div class="span8">
                <p><b>Matrículas</b></p>
                <select id="id_matricula" name="id_matricula" size="5" class="input-xxlarge span12"></select>
            </div>
        </div>
    </div>
</script>

<!-- grid head -->
<script id="subject-grid-template" type="text/template">
    <div class="well">
        <div class="row-fluid">
            <div class="table-responsive">
                <table class="table table-bordered table-striped backgrid table-hover marginT20">
                    <thead>
                    <tr>
                        <th></th>
                        <th>Disciplina</th>
                        <th>Carga Horária</th>
                        <th>Status da Disciplina</th>
                        <th>Nota EAD</th>
                        <th>Início</th>
                        <th>Término</th>
                        <th>Semestre no Projeto Pedagógico</th>
                    </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="well">
        <div class="row-fluid text-right">
            <div class="span12">
                <button id="btn-cancelar" class="btn" type="button">
                    Cancelar
                </button>
                <button id="btn-trancar" class="btn btn-success" type="button">
                    Trancar Disciplina
                </button>
            </div>
        </div>
    </div>

</script>


<!-- Row -->
<script id="subject-row-view" type="text/template">
    <td>
        <input type="checkbox" value="<%= id_disciplina %>" name="id_disciplina[]" class="id_disciplina"/>
    </td>
    <td> <% if(bl_destaque) { %> <i class="icon icon-info-sign" title="Disciplina já iniciou a mais de 5 dias ou a data de término é menor que a data atual"></i>  <% } %>  <%= st_disciplina %></td>
    <td> <%= nu_cargahoraria %></td>
    <td> <%= st_evolucao %></td>
    <td> <%= st_notaead %></td>
    <td> <%= dt_inicio %></td>
    <td> <%= dt_encerramento %></td>
    <td> <%= st_modulo %></td>
</script>

<!-- modal warning -->
<script id="modal-warning-template" type="text/template">
    <div class="modal-header text-warning">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <label class="modal-title">Aviso</label>
    </div>
    <div class="modal-body">
          <label>Não é recomendado trancar mais de 2 disciplinas</label>
    </div>
    <div class="modal-footer">
        <button class="btn btn-warning" type="button" data-dismiss="modal">
            <i class="icon icon-warning-sign icon-white"></i> Ok
        </button>
    </div>
</script>


<script id="modal-confirm-template" type="text/template">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 class="modal-title">Atenção!</h3>
    </div>
    <div class="modal-body">
        <div class="row_fluid">
            <label>Tem certeza que deseja trancar a(s) seguinte(s) disciplina(s)?</label>
        </div>
        <div class="row-fluid">
            <div class="table-responsive">
                <table class="table table-bordered table-striped backgrid table-hover">
                    <thead>
                    <tr>
                        <th>Disciplina</th>
                        <th>Nota EAD</th>
                        <th>Início</th>
                        <th>Término</th>
                    </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn" type="button" data-dismiss="modal">
            Cancelar
        </button>
        <button id="btn-salvar-trancamento" class="btn btn-success" type="button" data-dismiss="modal">
            Confirmar
        </button>
    </div>
</script>

<script id="modal-confirm-view" type="text/template">
    <td><% if(bl_destaque) { %> <i class="icon icon-info-sign" title="Disciplina já iniciou a mais de 5 dias ou a data de término é menor que a data atual"></i>  <% } %> <%= st_disciplina %></td>
    <td><%= st_notaead %></td>
    <td><%= dt_inicio %></td>
    <td><%= dt_encerramento %></td>
</script>

<!-- Componente Auto Complete -->
<link rel="stylesheet" type="text/css" href="<?php echo $this->baseUrl(); ?>/css/auto-complete-pessoa.css"/>
<script type="text/javascript" src="<?php echo $this->baseUrl(); ?>/js/auto-complete-componente.js"></script>
<?php echo $this->render('/util/auto-complete-pessoa.phtml'); ?>

<script type="text/javascript">
    $('#templateHolder').empty().append($('#htmlContent script[type="text/template"]'));
    <?php echo $this->render('/trancamento-disciplina/index.js') ?>
</script>
