<script id="template-usuario" type="text/template">
    <h3><%=st_nomecompleto%></h3>
</script>

<script id="template-formulario" type="text/template">
    <form id="form-filtro" class="form-inline" method="post">
        <label>Mês:
            <select id="mes" name="mes">
                <option value="">Selecione</option>
            </select>
        </label>
        <label>Ano:
            <select id="ano" name="ano">
                <option value="">Selecione</option>
            </select>
        </label>
        <button type="submit" class="btn" data-toggle="tooltip" title="Pesquisar">
            Pesquisar <i class="icon-search"></i>
        </button>
    </form>
</script>

<script id="template-abas" type="text/template">
    <div class="tabbable">
        <ul class="nav nav-tabs">
            <li class="active">
                <a href="#tab1" data-toggle="tab">Extrato</a>
            </li>
            <li>
                <a href="#tab2" data-toggle="tab">Pagamentos</a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="tab1"></div>
            <div class="tab-pane well well-small" id="tab2"></div>
            <div class="clearfix"></div>
        </div>
    </div>
</script>

<script type="text/template" id="aba-extrato-detalhar">
    <div class="clearfix"></div>
    <div class="well well-small">
        <fieldset></fieldset>
        <div class="pull-right" id="total-receber">
            Total a pagar mês de <span class="mes"><b></b></span>: <span class="label">R$ 75,00</span>
        </div>
        <div class="clearfix"></div>
    </div>

</script>

<script type="text/template" id="aba-pagamento-detalhar">
    <fieldset>
        <legend>Pagamentos realizados no mês: <b id="nome-mes">Janeiro</b></legend>
        <table class='backgrid backgrid-selectall table table-striped table-bordered table-hover'>
            <thead>
            <tr>
                <th>Data do Pagamento</th>
<!--                <th>Disciplina</th>-->
                <th>Valor (R$)</th>
            </tr>
            </thead>
            <tbody></tbody>
        </table>
    </fieldset>
</script>

<script id="template-linha-pagamento" type="text/template">
    <td><%=dt_quitado%></td>
<!--    <td><%=st_disciplina%></td>-->
    <td><%=nu_valor%></td>
</script>

<script type="text/template" id="template-disciplinas-detalhe">
    <legend><%=st_disciplina%></legend>
    <table class='backgrid backgrid-selectall table table-striped table-bordered table-hover'>
        <thead>
        <tr>
            <th>ID</th>
            <th>Projeto</th>
            <th>Porcentagem na Disciplina (%)</th>
            <th>Ponderada Aplicada (%)</th>
            <th>Venda (R$)</th>
            <th>Participação (R$)</th>
        </tr>
        </thead>
        <tbody id="container-projetos"></tbody>
        <tfoot>
        <tr>
            <td colspan="5">Subtotal</td>
            <!--            <td><span class="label <%=labelSubtotalVenda%>"><%=nu_subtotalvenda%></span></td>-->
            <td>
                <span class="label <%=labelSubtotalComissao%>"><%=nu_subtotalcomissao%></span>
            </td>
        </tr>
        <tr>
            <td colspan="5">Adiantamento de Disciplina</td>
            <!--            <td><span class="label <%=labelAdiantamentoVenda%>"><%=nu_adiantamentovenda%></span></td>-->
            <td>
                <span class="label <%=labelAdiantamentoComissao%>"><%=nu_adiantamentocomissao%></span>
            </td>
        </tr>
        <tr>
            <td colspan="5">Saldo Anterior</td>
            <!--            <td><span class="label <%=labelSaldoVenda%>"><%=nu_saldovenda%></span></td>-->
            <td>
                <span class="label <%=labelSaldoComissao%>"><%=nu_saldocomissao%></span>
            </td>
        </tr>
        <tr>
            <td colspan="5"><b>Total</b></td>
            <!--            <td><span class="label <%=labelTotalVenda%>"><%=nu_totalvenda%></span></td>-->
            <td><span class="label <%=labelTotalComissao%>"><%=nu_totalcomissao%></span></td>
        </tr>
        </tfoot>
    </table>
</script>

<script type="text/template" id="template-projetos-lista">
    <table class='backgrid backgrid-selectall table table-striped table-bordered table-hover'>
        <thead>
        <tr>
            <th>ID</th>
            <th>Projeto</th>
            <th>Porcentagem (%)</th>
            <th>Recebimento (R$)</th>
            <th>Participação (R$)</th>
        </tr>
        </thead>
        <tbody id="container-projetos"></tbody>
        <tfoot>
        <tr>
            <td colspan="4">Subtotal</td>
            <td>
                <span class="label <%=labelSubtotalComissao%>"><%=nu_subtotalcomissao%></span>
            </td>
        </tr>
        <tr>
            <td colspan="4">Adiantamento</td>
            <td>
                <span class="label <%=labelAdiantamentoComissao%>"><%=nu_adiantamentocomissao%></span>
            </td>
        </tr>
        <tr>
            <td colspan="4">Saldo Anterior</td>
            <td>
                <span class="label <%=labelSaldoComissao%>"><%=nu_saldocomissao%></span>
            </td>
        </tr>
        <tr>
            <td colspan="4"><b>Total</b></td>
            <td>
                <span class="label <%=labelTotalComissao%>"><%=nu_totalcomissao%></span>
            </td>
        </tr>
        </tfoot>
</script>

<script id="template-linha-extrato" type="text/template">
    <td><%=id_projetopedagogico%></td>
    <td><%=st_projetopedagogico%></td>


    <%if(typeof nu_porcentagem !== 'undefined'){%>
    <td><%=nu_porcentagem%></td>
    <%}%>

    <%if(typeof nu_ponderacaoaplicada !== 'undefined'){%>
    <td><%=nu_ponderacaoaplicada%></td>
    <%}%>

    <td><%=nu_valorvenda%></td>
    <td><%=nu_valor%></td>
</script>

<script type="text/template" id="template-regioes">
    <div class="row-fluid" id="usuario-regiao"></div>
    <div class="well well-small" id="formulario-regiao"></div>
    <div class="row-fluid" id="abas-regiao"></div>
</script>

<script type="text/javascript">
    ModelColaborador = null;
    <?php if($this->modelColaborador): ?>
    ModelColaborador = <?php echo json_encode($this->modelColaborador); ?>;
    <?php endif; ?>
</script>
<script type="text/javascript">$('#htmlContent script[type="text/template"]').appendTo($('#templateHolder'));</script>
<script type="text/javascript" src="/js/backbone/views/Util/SelectView.js"></script>
