<script type="text/template" id="template-layout">
    <div id="formulario-regiao" class="row-fluid"></div>
    <div id="abas-regiao" class="well well-small"></div>
    <div id="modal-regiao"></div>
</script>

<script type="text/template" id="formulario-busca">
    <form id="formPesquisa" class="" name="formPesquisa" method="post" action="">
        <div class="well well-small">
            <label class="span4">
                Nome:
                <input type="text" name="st_nomecompleto" class="span12">
            </label>
            <label class="span2">
                CPF:
                <input type="text" name="st_cpf" class="span12">
            </label>

            <div class="span3">
                <button type="submit" class="btn btn-custom" style="margin-top:20px;">Pesquisar</button>
            </div>
            <div class="clearfix"></div>
        </div>
    </form>
</script>

<script type="text/template" id="container-abas">
    <div class="tabbable">
        <ul class="nav nav-tabs">
            <li id="li_listacolaboradores" class="active">
                <a href="#tab1" data-toggle="tab">Lista de Colaboradores</a>
            </li>
            <li id="li_autorizacao" class="hide">
                <a href="#tab2" data-toggle="tab">Autorização de Pagamento</a>
            </li>
            <li id="li_pagamento" class="hide">
                <a href="#tab3" data-toggle="tab">Pagamento</a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="tab1"></div>
            <div class="tab-pane" id="tab2"></div>
            <div class="tab-pane" id="tab3"></div>
        </div>
    </div>
</script>

<script type="text/template" id="item-colaborador">
    <td><%=st_nomecompleto%></td>
    <td><%=st_cpf%></td>
    <td><%=st_perfilpedagogico%></td>
    <td>
        <center>
            <button class="btn btn-adiantamento btn-small" data-toggle="tooltip" title="Adiantar Crédito" type="button">
                Adiantar
            </button>
            <button class="btn btn-detalhar btn-small btn-info" data-toggle="tooltip" title="Detalhar" type="button">
                Detalhar
            </button>
        </center>
    </td>
</script>

<script type="text/template" id="template-aba-lista-colaboradores">
    <table class='backgrid backgrid-selectall table table-striped table-bordered table-hover'>
        <thead>
        <tr>
            <th>Nome</th>
            <th>CPF</th>
            <th>Função</th>
            <th></th>
        </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</script>

<script type="text/template" id="template-aba-lista-autorizacao">
    <legend>
        <?php echo strtoupper(\G2\Constante\Utils::getMonthsExtense((int)(date('m', strtotime("last month"))))); ?>
    </legend>
    <div class="row-fluid">
        <div class="span12">
            <div class="span2 pull-right">
                <label for="">Valor de corte (R$)</label>
                <input type="text" class="span12" id="nu_valorcorte"/>
            </div>
        </div>
    </div>
    <table class='backgrid backgrid-selectall table table-striped table-bordered table-hover'>
        <thead>
        <tr>
            <th>Nome</th>
            <th>Função</th>
            <th>Valor(R$)</th>
            <th class="span2">
                <center>
                    <label for="check-all-autorizacao" class="checkbox">A pagar(R$) </label>
                    <input type="checkbox" name="check-all-autorizacao" id="check-all-autorizacao">
                </center>
            </th>

        </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
    <div class="row-fluid">
        <div class="span12">
            <div class="span2 pull-right">
                <label for=""> Total (R$):</label>
                <input readonly type="text" class="span12" id="nu_valortotal"/>
            </div>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span12">
            <div class="span3 pull-right">
                <button class="btn btn-success pull-right" id="btn-autorizar-pagamento">Autorizar Pagamento</button>
            </div>
        </div>
    </div>
</script>

<script type="text/template" id="item-autorizacao">
    <td><%=st_nomeexibicao%></td>
    <td><%=st_funcao%></td>
    <td><%=nu_valorMostrar%></td>
    <td>
        <center>
            <input class="chkPagar" title="Detalhar" type="checkbox" id="chk_autorizar_<%=id_usuario%>_<%=id_funcao%>">
        </center>
    </td>
</script>

<script type="text/template" id="template-modal-adiantar">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Adiantamento</h3>
    </div>
    <div class="modal-body">
        <div class="row-fluid">
            <label>Valor: <input type="text" name="nu_valor" class="span12"></label>
            <label>Disciplina:
                <select id="id_disciplina" name="id_disciplina" class="span12">
                    <option value="">Selecione</option>
                </select>
            </label>
        </div>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal" aria-hidden="true">Cancelar</a>
        <a href="#" class="btn btn-success" id="btn-salvar-modal">Pagar</a>
    </div>
</script>

<script type="text/template" id="tempalte-input-botoes-autorizar">
    <div class="span12">
        <div class="span6 pull-right">
            <div class="span6">
                <label for="">Valor de corte (R$)</label>
                <input type="text" class="span6" id="nu_valorcorte"/>
            </div>
            <div class="span6">
                <label for=""> Total(R$):</label>
                <input type="text" class="span6"/>
            </div>
        </div>
    </div>
    <div class="span12">
        <div class="span3 pull-right">
            <button class="btn btn-succes" id="btn-autorizar-pagamento">Autorizar Pagamento</button>
        </div>
    </div>
</script>

<script type="text/template" id="item-pagamento">
    <td><%=st_nomecompleto%></td>
    <td><%=st_cpf%></td>
    <td><%=nu_valortotal%></td>
    <td class="span1">
        <label class="input-append">
            <input type="text" title="Data do Pagamento" placeholder="Data do Pagamento"
                   class="maskDate datepicker span2" value="" name="dt_pagamento">
            <button class="btn" type="button">
                <i class="icon icon-calendar"></i>
            </button>
        </label>
    </td>
</script>

<script type="text/template" id="template-aba-pagamentos">
    <table class='backgrid backgrid-selectall table table-striped table-bordered table-hover'>
        <thead>
        <tr>
            <th>Nome</th>
            <th>CPF</th>
            <th>Valor(R$)</th>
            <th>Data do Pagamento</th>
        </tr>
        </thead>
        <tbody></tbody>
    </table>
    <div class="pull-right">
        <button type="button" id="btn-registrar-pagamento" class="btn btn-success">Registrar Pagamento</button>
    </div>
</script>

<script type="text/javascript" src="/js/backbone/views/Util/SelectView.js"></script>
<script type="text/javascript">$('#htmlContent script[type="text/template"]').appendTo($('#templateHolder'));</script>