<style type="text/css">
    .parcelas-contrato {
        background: #fff;
        width: 100%;
        border-collapse: collapse;
    }

    .parcelas-contrato * {
        margin: 0;
        padding: 0;
    }

    .parcelas-contrato tr {
        border: 1px solid #777;
    }

    .parcelas-contrato th {
        background-color: #777;
        color: #fff;
        padding: 3px;
        border: 1px solid #000;
    }

    .parcelas-contrato td {
        text-align: center;
        border: 1px solid #777;
    }
</style>
<table class="parcelas-contrato">
    <tr>
        <th>A</th>
        <th>B</th>
        <th>C</th>
        <th>D</th>
        <th>E</th>
    </tr>
    <tr>
        <th>Parcela</th>
        <th>Data de Vencimento</th>
        <th>* Valor Negociado</th>
        <th>** B&ocirc;nus de Adimpl&ecirc;ncia</th>
        <th>*** Valor a Pagar</th>
    </tr>
    <?php $count = 1; ?>
    <?php foreach ($this->vwVendaLancamento as $vwVendaLancamento) { ?>
        <tr>
            <td> <?php echo $vwVendaLancamento->getNuOrdem(); ?> </td>
            <td> <?php echo $vwVendaLancamento->getDtVencimento() ? $vwVendaLancamento->getDtVencimento()->format('d/m/Y') : 'Data não cadastrada.'; ?> </td>
            <td class="dinheiro"> <?php echo 'R$  ' . number_format($vwVendaLancamento->getNuvalor(), 2, ',', '.'); ?> </td>
            <td class="dinheiro"> <?php echo ($this->valorcampanhapontualidade != null) ? 'R$  ' . number_format($this->valorcampanhapontualidade, 2, ',', '.') : '-' ?> </td>
            <td class="dinheiro"> <?php echo ($this->valorcampanhapontualidade != null) ? 'R$  ' . number_format($vwVendaLancamento->getNuvalor() - $this->valorcampanhapontualidade, 2, ',', '.') : 'R$  ' . number_format($vwVendaLancamento->getNuvalor(), 2, ',', '.') ?> </td>
        </tr>
        <?php $count++;
    } ?>
</table>