<table class="parcelas-contrato">
    <tr>
        <th>Data de Vencimento</th> 
        <th>Valor da Parcela</th>
        <th>Forma de Pagamento</th>
    </tr>
    <?php foreach ($this->vwLancamentosTO as $vwLancamentoTO) { ?>
        <tr> 
            <td> <?php echo $vwLancamentoTO->getDt_vencimento() ? $vwLancamentoTO->getDt_vencimento()->format('d/m/Y') : 'Data não cadastrada.'; ?> </td>
            <td class="dinheiro"> <?php echo 'R$  ' . number_format($vwLancamentoTO->getNu_valor(), 2, ',', '.'); ?> </td>
            <td> <?php echo $vwLancamentoTO->getSt_meiopagamento(); ?> </td>
        </tr>
    <?php } ?>
</table>