html, body {
    font-family: Arial, sans-serif;
    font-size: 16px; /* 13px = ORIGINAL DO DOCUMENTO DOCX */
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 3.23rem;
    font-weight: normal;
}

h2 {
    font-size: 1.62rem;
    font-weight: 800;
}

section {
    page-break-after: always;
}

thead {
    display: table-row-group;
}

.text-xs {
    font-size: 0.8rem;
}

.text-sm {
    font-size: 0.85rem;
}

.text-center {
    text-align: center;
}

.text-justify {
    text-align: justify;
}

.text-lowercase {
    text-transform: lowercase;
}

.text-uppercase {
    text-transform: uppercase;
}

.text-capitalize {
    display: inline-block;
    text-transform: lowercase;
}

.text-capitalize:first-letter {
    text-transform: uppercase;
}

/*CUSTOM*/
.paper-front {
    padding: 110px 0 0 100px;
}

.paper-back {
    padding: 30px 50px;
}

.signature {
    margin: 100px auto 0;
    white-space: nowrap;
    width: 80%;
}

.signature > div {
    display: inline-block;
    width: 33.333333%;
}

.signature em {
    font-size: 0.8rem;
}

.description {
    padding: 0 30px;
    white-space: nowrap;
}

.description > div {
    border: 1px solid #000;
    display: inline-block;
    height: 500px;
    margin: 0 0.5%;
    padding: 20px;
    white-space: normal;
    width: 45%;
}

.directors {
    margin-top: 80px;
    white-space: nowrap;
}

.directors > div {
    display: inline-block;
    width: 50%;
}
