h1 {
    font-size: 22px;
    text-transform: uppercase;
}

section {
    page-break-after: always;
}

table {
    width: 100%
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.dados {
    margin: 20px 0;
}
