html, body {
    font-family: Arial, sans-serif;
    font-size: 12px;
}

body {
    margin: 0 auto;
    max-width: 860px;
    width: 100%;
    padding: 40px 0;
}

header,
footer {
    text-align: center;
    width: 100%;
    position: fixed;
}

header {
    top: 0;
}

footer {
    font-family: Verdana, Arial, sans-serif;
    font-size: 0.89rem;
    bottom: 0;
}

section {
    margin: 30px 0;
    page-break-after: always;
}

.no-bold {
    font-weight: normal !important;
}

.text-center {
    text-align: center;
}

.container-historico-escolar table {
    border: none !important;
    font-size: 0.84rem;
}

.container-historico-escolar table thead th {
    background-color: #e1e1e1;
    font-size: 1.12rem;
    padding: 10px 0;
    text-align: center !important;
}

.table-grid * {
    border: none !important;
}

.signature {
    margin: 60px 0 0;
    white-space: nowrap;
}

.signature small {
    display: block;
    font-size: 0.89rem;
}

.signature > div {
    display: inline-block;
    width: 50%;
}

.local-data {
    text-align: center;
    margin-top: 25px;
}

.tabela-grid {
    border-collapse: collapse;
    font-weight: bold;
    -webkit-print-color-adjust: exact;
    width: 100%;
}

.tabela-grid th,
.tabela-grid td {
    border: 1px solid #000;
    padding: 7px 9px;
    width: 8.333333333333333%;
    font-size: 1rem;
}

.tabela-grid th {
    background-color: #ccc;
    font-size: 1.12rem;
    padding: 4px;
}

.tabela-grid [colspan="12"]:empty {
    border: 0;
    padding: 6px 0;
}

.tabela-grid [colspan="2"] {
    width: 16.66666666666667%;
}

.tabela-grid [colspan="3"] {
    width: 25%;
}

.tabela-grid [colspan="4"] {
    width: 33.33333333333333%;
}

.tabela-grid [colspan="5"] {
    width: 41.66666666666667%;
}

.tabela-grid [colspan="6"] {
    width: 50%;
}

.tabela-grid [colspan="7"] {
    width: 58.33333333333333%;
}

.tabela-grid [colspan="8"] {
    width: 66.66666666666666%;
}

.tabela-grid [colspan="9"] {
    width: 75%;
}

.tabela-grid [colspan="10"] {
    width: 83.33333333333333%;
}

.tabela-grid [colspan="11"] {
    width: 91.66666666666666%;
}

.tabela-grid [colspan="12"] {
    width: 100%;
}