<script id="results-template" type="text/template">
    <div class="well">
        <legend>Perfil</legend>
        <div class="form-inline">
            <button class="btn btn-success btn-small actionAdd" type="button">
                <i class="icon icon-white icon-plus"></i>
                Adicionar Novo
            </button>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <label>
                Buscar Perfil:
                <input name="perfil_search" type="text"/>
            </label>
        </div>
        <hr/>
        <table class="table table-striped table-bordered table-hover backgrid">
            <thead>
            <tr>
                <th>Perfil</th>
                <th>Perfil Pedagógico</th>
                <th>Sistema</th>
                <th>Situação</th>
                <th style="width: 100px;">Ações</th>
            </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</script>

<script id="results-view" type="text/template">
    <td>
        <%= st_nomeperfil %>
        <a class="icon icon-info-sign pull-right" title="Informações" data-toggle="modal" data-target="#modal-perfil-<%= id_perfil %>"></a>

        <div id="modal-perfil-<%= id_perfil %>" class="modal fade hide">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 style="font-weight: normal;">Perfil: <%= st_nomeperfil %></h4>
            </div>
            <div class="modal-body">
                <table class="table table-striped table-hover table-bordered">
                    <tr>
                        <th style="width: 150px;">Nome do Perfil:</th>
                        <td><%= st_nomeperfil %></td>
                    </tr>
                    <tr>
                        <th>Nome de Exibição:</th>
                        <td><%= st_nomeperfilentidade %></td>
                    </tr>
                    <tr>
                        <th>Situação do Perfil:</th>
                        <td><%= st_situacao %></td>
                    </tr>
                    <tr>
                        <th>Sistema do Perfil:</th>
                        <td><%= st_sistema %></td>
                    </tr>
                    <tr>
                        <th>Tipo que Utiliza:</th>
                        <td><%= st_entidadeclasse %></td>
                    </tr>
                    <tr>
                        <th>Unidade Cadastadora:</th>
                        <td> <%= st_nomentidade %></td>
                    </tr>
                </table>
            </div>
        </div>

    </td>
    <td><%= st_perfilpedagogico %></td>
    <td><%= st_sistema %></td>
    <td><%= st_situacao %></td>
    <td style="white-space: nowrap;">
        <button class="btn btn-small openUsers" type="button">
            <i class="icon icon-user"></i>
            Usuários
        </button>
        <button class="btn btn-small openSettings" type="button">
            <i class="icon icon-wrench"></i>
            Configurar
        </button>
        <button class="btn btn-small actionClone" type="button">
            <i class="icon icon-plus-sign"></i>
            Duplicar
        </button>
        <button class="btn btn-small actionDelete" type="button" title="Remover">
            <i class="icon icon-trash"></i>
        </button>
    </td>
</script>


<script id="edit-view" type="text/template">
    <form method="post">

        <div class="row-fluid">
            <div class="tabbable">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#tab-basicos" data-toggle="tab">Básicos</a></li>
                    <li><a href="#tab-permissoes" data-toggle="tab">Permissões</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="tab-basicos">


                        <div class="well">
                            <legend>Editar</legend>

                            <div class="row-fluid">
                                <label class="span8">
                                    Nome:
                                    <input class="span12" type="text" name="st_nomeperfil" value="<%= st_nomeperfil %>"/>
                                </label>
                                <label class="span4">
                                    Situação:
                                    <select id="id_situacao" class="span12" name="id_situacao"></select>
                                </label>
                            </div>
                            <!--                            <div class="row-fluid">-->
                            <!--                                <label class="span12">-->
                            <!--                                    Nome de Exibição:-->
                            <!--                                    <input class="span12" type="text" name="st_nomeperfilentidade" value="<%= st_nomeperfilentidade %>"/>-->
                            <!--                                </label>-->
                            <!--                            </div>-->
                            <div class="row-fluid">
                                <label class="span6">
                                    Sistema:
                                    <select id="id_sistema" class="span12" name="id_sistema"></select>
                                </label>
                                <label class="span6">
                                    Perfil Pedagógico:
                                    <select id="id_perfilpedagogico" class="span12" name="id_perfilpedagogico"></select>
                                </label>
                            </div>
                        </div>

                        <div class="well">
                            <legend>Organização</legend>

                            <div id="organizacao-content"></div>
                        </div>


                    </div>
                    <div class="tab-pane" id="tab-permissoes">

                        <div class="row-fluid">
                            <div class="span6">
                                <div class="well">
                                    <legend>Funcionalidades</legend>
                                    <div style="height: 400px; overflow: auto;">
                                        <div id="funcionalidade-content">Selecione um sistema na aba "Básicos".</div>
                                    </div>
                                </div>
                            </div>
                            <div class="span6">
                                <div class="well">
                                    <legend>Permissões</legend>
                                    <div id="permissao-content" style="height: 400px; overflow: auto;">
                                        Nenhuma permissão cadastrada.
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="well">
            <div class="pull-right">
                <button class="btn btn-success" type="submit">
                    <i class="icon-white icon-ok"></i>
                    Salvar
                </button>
                <button class="btn actionBack" type="button">
                    <i class="icon-remove"></i>
                    Cancelar
                </button>
            </div>
        </div>

    </form>
</script>


<!-- Templates Usuários -->
<script id="usuario-template" type="text/template">
    <div class="well">
        <legend>
            Usuários do Perfil:
            <span></span>
        </legend>

        <div class="form-inline">
            <button class="btn btn-success btn-small actionAdd" type="button">
                <i class="icon icon-white icon-plus"></i>
                Adicionar Novo
            </button>
            <button class="btn btn-small actionBack" type="button">
                Voltar
            </button>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <label>
                Buscar Usuário:
                <input name="usuario_search" type="text"/>
            </label>
        </div>

        <hr/>
        <table class="table table-striped table-bordered table-hover backgrid">
            <thead>
            <tr>
                <th>Pessoa</th>
<!--                <th>Início</th>-->
<!--                <th>Fim</th>-->
                <th>Situação</th>
                <th>Unidade</th>
                <th style="width: 20px;">Ações</th>
            </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</script>

<script id="usuario-view" type="text/template">
    <td><%= st_nomecompleto %></td>
<!--    <td>--><%//= dt_inicio %><!--</td>-->
<!--    <td>--><%//= dt_termino %><!--</td>-->
    <td><%= st_situacaoperfil %></td>
    <td><%= st_nomeentidade %></td>
    <td style="white-space: nowrap;">
        <button class="btn btn-success btn-mini actionEdit" type="button" title="Editar">
            Editar
        </button>
<!--        <button class="btn btn-mini actionClone" type="button" title="Criar uma cópia deste usuário">-->
<!--            Duplicar-->
<!--        </button>-->
        <button class="btn btn-mini actionDelete" type="button" title="Remover">
            Remover
        </button>
    </td>
</script>

<script id="usuario-edit" type="text/template">
    <td>
        <input class="span4" type="text" autocomplete="off" name="st_nomecompleto" value="<%= st_nomecompleto %>"/>
        <input name="id_usuario" type="hidden" value="<%= id_usuario %>"/>
        <div class="clearfix"></div>
        <div class="span4" style="position: relative; margin-left: 0!important;">
            <select class="span4 hide select_id_usuario" size="5" style="position: absolute; top: -15px; left: 0; border-top: 0;"></select>
        </div>
    </td>
<!--    <td>-->
<!--        <input class="span2" type="text" name="dt_inicio" value="--><%//= dt_inicio %><!--"/>-->
<!--    </td>-->
<!--    <td>-->
<!--        <input class="span2" type="text" name="dt_termino" value="--><%//= dt_termino %><!--"/>-->
<!--    </td>-->
    <td>
        <select class="span3" name="id_situacao"></select>
    </td>
    <td>
<!--        <select class="span3" name="id_entidade" size="5" multiple title="Segure CTRL para slecionar mais de uma unidade"></select>-->
        <div class="list-entidade" style="max-height: 200px; overflow: auto;"></div>
    </td>
    <td style="white-space: nowrap;">
        <button class="btn btn-success btn-mini actionSave" type="button" title="Salvar">
            Salvar
        </button>
        <button class="btn btn-mini actionEdit" type="button" title="Cancelar">
            Cancelar
        </button>
    </td>
</script>

<script id="unidade-view" type="text/template">
    <input type="checkbox" name="id_entidade[]" value="<%= id_entidade %>" />
    <%= st_nomeentidade %>
</script>


<!-- TEMPLATES PERMISSAO -->
<script id="permissao-template" type="text/template">
    <div class="permissao-collection"></div>
</script>
<script id="permissao-view" type="text/template">
    <h5><%= breadcrumb %></h5>
    <div class="row-fluid">
        <%
        if (checkbox) {
            for (var i in checkbox) {
                var object = checkbox[i];
                %>
                <label class="checkbox inline" title="<%= object.tip %>">
                    <%= object.nome %>
                    <input type="checkbox" data-id-funcionalidade="<%= object.to.id_funcionalidade %>" data-id-permissao="<%= object.to.id_permissao %>" name="permissao[]" <%= object.selecionado ? 'checked' : '' %> />
                </label>
                <%
            }
        }
        %>
    </div>
    <hr style="margin: 10px 0 0;"/>
</script>


<script type="text/javascript">$('#htmlContent script[type="text/template"]').appendTo($('#templateHolder'));</script>
<script type="text/javascript" src="/perfil/js"></script>
