<div id="container-boletos-abertos">
    <div>
        <table class="backgrid table table-bordered table-hover table-striped" id="table-arquivo-retorno" width="100%" border="1" cellspacing="2" cellpadding="3">
            <thead>
            <tr style="background-color: #9FC5F8; line-height: 30px; border: none;" >
                <td colspan="7" style="border: none;">Boletos Inativos no Sistema</td>
                <td colspan="2" style="border: none;"> Total: <? if(empty($this->boletosInativos)): ?>0,00<? else: ?><?= $this->boletosInativos[0]['nu_valortotal']; ?><? endif; ?></td>
            </tr>
            <tr>
                <th>Banco</th>
                <th>Venda</th>
                <th>Nosso n&uacute;mero</th>
                <th>Valor Retorno</th>
                <th>Data Vencimento</th>
                <th>Data pagamento</th>
                <th>Lan&ccedil;amento</th>
                <th>Valor Atualizado</th>
                <th>Quitado</th>
            </tr>
            </thead>
            <? if (empty($this->boletosInativos)):?>
                <tr>
                    <td colspan="9">Nenhum resultado Encontrado</td>
                </tr>
            <? else: ?>
                <? foreach ($this->boletosInativos as $boleto): ?>
                    <tr>
                        <td><?= $boleto['st_banco'] ?></td>
                        <td><?= $boleto['id_venda'] ?></td>
                        <td><?= $boleto['st_nossonumero'] ?></td>
                        <td><?= $boleto['nu_valorretorno'] ?></td>
                        <td><?= $boleto['dt_vencimento'] ?></td>
                        <td><?= $boleto['dt_quitado'] ?></td>
                        <td><?= $boleto['id_lancamento'] ?></td>
                        <td><?= $boleto['nu_valor'] ?></td>
                        <td><?= $boleto['bl_quitado'] ?></td>
                    </tr>
                <? endforeach;?>
            <? endif; ?>
        </table>
    </div>
</div><br>
<div id="container-boletos-quitados">
    <div>
        <table class="backgrid table table-bordered table-hover table-striped" id="table-arquivo-retorno" width="100%" border="1" cellspacing="2" cellpadding="3">
            <thead>
            <tr style="background-color: #B6D7A8; line-height: 30px; border: none;" >
                <td colspan="7" style="border: none;">Boletos quitados que constam no arquivo de retorno</td>
                <td colspan="2" style="border: none;"> Total: <? if(empty($this->boletosQuitados)): ?>0,00<? else: ?><?= $this->boletosQuitados[0]['nu_valortotal']; ?><? endif; ?></td>
            </tr>
            <tr style="background-color: #657991; color: #ffffff; ">
                <th style="border-left: 1px solid #dddddd;">Banco</th>
                <th style="border-left: 1px solid #dddddd;">Venda</th>
                <th style="border-left: 1px solid #dddddd;">Nosso n&uacute;mero</th>
                <th style="border-left: 1px solid #dddddd;">Valor Retorno</th>
                <th style="border-left: 1px solid #dddddd;">Data Vencimento</th>
                <th style="border-left: 1px solid #dddddd;">Data pagamento</th>
                <th style="border-left: 1px solid #dddddd;">Lan&ccedil;amento</th>
                <th style="border-left: 1px solid #dddddd;">Valor Atualizado</th>
                <th style="border-left: 1px solid #dddddd;">Quitado</th>
            </tr>
            </thead>
            <tbody id="boleto-row-container">
            <? if (empty($this->boletosQuitados)):?>
                <tr>
                    <td colspan="9">Nenhum resultado Encontrado</td>
                </tr>
            <? else: ?>
                <? foreach ($this->boletosQuitados as $boleto): ?>
                    <tr>
                        <td><?= $boleto['st_banco'] ?></td>
                        <td><?= $boleto['id_venda'] ?></td>
                        <td><?= $boleto['st_nossonumero'] ?></td>
                        <td><?= $boleto['nu_valorretorno'] ?></td>
                        <td><?= $boleto['dt_vencimento'] ?></td>
                        <td><?= $boleto['dt_quitado'] ?></td>
                        <td><?= $boleto['id_lancamento'] ?></td>
                        <td><?= $boleto['nu_valor'] ?></td>
                        <td><?= $boleto['bl_quitado'] ?></td>
                    </tr>
                <? endforeach;?>
            <? endif; ?>
            </tbody>
        </table>
    </div>
</div><br>

<div id="container-boletos-pagamento-menor-original">
    <div>
        <table class="backgrid table table-bordered table-hover table-striped" id="table-arquivo-retorno" width="100%" border="1" cellspacing="2" cellpadding="3">
            <thead>
            <tr style="background-color: #e9dae9; line-height: 30px; border: none;" >
                <td colspan="7" style="border: none;">Boletos n&atilde;o quitados no sistema - Pagamento Parcial</td>
                <td colspan="2" style="border: none;"> Total: <? if(empty($this->pagamentoMenorOriginal)): ?>0,00<? else: ?><?= $this->pagamentoMenorOriginal[0]['nu_valortotal']; ?><? endif; ?></td>
            </tr>
            <tr style="background-color: #657991; color: #ffffff; ">
                <th style="border-left: 1px solid #dddddd;">Banco</th>
                <th style="border-left: 1px solid #dddddd;">Venda</th>
                <th style="border-left: 1px solid #dddddd;">Nosso n&uacute;mero</th>
                <th style="border-left: 1px solid #dddddd;">Valor Retorno</th>
                <th style="border-left: 1px solid #dddddd;">Data Vencimento</th>
                <th style="border-left: 1px solid #dddddd;">Data pagamento</th>
                <th style="border-left: 1px solid #dddddd;">Lan&ccedil;amento</th>
                <th style="border-left: 1px solid #dddddd;">Valor Atualizado</th>
                <th style="border-left: 1px solid #dddddd;">Quitado</th>
            </tr>
            </thead>
            <tbody id="boleto-row-container">
            <? if (empty($this->pagamentoMenorOriginal)):?>
                <tr>
                    <td colspan="9">Nenhum resultado Encontrado</td>
                </tr>
            <? else: ?>
                <? foreach ($this->pagamentoMenorOriginal as $boleto): ?>
                    <tr>
                        <td><?= $boleto['st_banco'] ?></td>
                        <td><?= $boleto['id_venda'] ?></td>
                        <td><?= $boleto['st_nossonumero'] ?></td>
                        <td><?= $boleto['nu_valorretorno'] ?></td>
                        <td><?= $boleto['dt_vencimento'] ?></td>
                        <td><?= $boleto['dt_quitado'] ?></td>
                        <td><?= $boleto['id_lancamento'] ?></td>
                        <td><?= $boleto['nu_valor'] ?></td>
                        <td><?= $boleto['bl_quitado'] ?></td>
                    </tr>
                <? endforeach;?>
            <? endif; ?>
            </tbody>
        </table>
    </div>
</div><br>

<div id="container-boletos-nao-localizados">
    <div>
        <table class="backgrid table table-bordered table-hover table-striped" id="table-arquivo-retorno" width="100%" border="1" cellspacing="2" cellpadding="3">
            <thead>
            <tr style="background-color: #FFE599; line-height: 30px; border: none;" >
                <td colspan="7" style="border: none;">Boletos n&atilde;o encontrados no sistema</td>
                <td colspan="2" style="border: none;"> Total: <? if(empty($this->boletosNaoLocalizados)): ?>0,00<? else: ?><?= $this->boletosNaoLocalizados[0]['nu_valortotal']; ?><? endif; ?></td>
            </tr>
            <tr style="background-color: #657991; color: #ffffff; ">
                <th style="border-left: 1px solid #dddddd;">Banco</th>
                <th style="border-left: 1px solid #dddddd;">Venda</th>
                <th style="border-left: 1px solid #dddddd;">Nosso n&uacute;mero</th>
                <th style="border-left: 1px solid #dddddd;">Valor Retorno</th>
                <th style="border-left: 1px solid #dddddd;">Data Vencimento</th>
                <th style="border-left: 1px solid #dddddd;">Data pagamento</th>
                <th style="border-left: 1px solid #dddddd;">Lan&ccedil;amento</th>
                <th style="border-left: 1px solid #dddddd;">Valor Atualizado</th>
                <th style="border-left: 1px solid #dddddd;">Quitado</th>
            </tr>
            </thead>
            <tbody id="boleto-row-container">
            <? if (empty($this->boletosNaoLocalizados)):?>
                <tr>
                    <td colspan="9">Nenhum resultado Encontrado</td>
                </tr>
            <? else: ?>
                <? foreach ($this->boletosNaoLocalizados as $boleto): ?>
                    <tr>
                        <td><?= $boleto['st_banco'] ?></td>
                        <td><?= $boleto['id_venda'] ?></td>
                        <td><?= $boleto['st_nossonumero'] ?></td>
                        <td><?= $boleto['nu_valorretorno'] ?></td>
                        <td><?= $boleto['dt_vencimento'] ?></td>
                        <td><?= $boleto['dt_quitado'] ?></td>
                        <td><?= $boleto['id_lancamento'] ?></td>
                        <td><?= $boleto['nu_valor'] ?></td>
                        <td><?= $boleto['bl_quitado'] ?></td>
                    </tr>
                <? endforeach;?>
            <? endif; ?>
            </tbody>
        </table>
    </div>
</div><br>
<div id="container-boletos-g1">
    <div>
        <table class="backgrid table table-bordered table-hover table-striped" id="table-arquivo-retorno" width="100%" border="1" cellspacing="2" cellpadding="3">
            <thead>
            <tr style="background-color: #EA9999; line-height: 30px; border: none;" >
                <td colspan="7" style="border: none;">Boletos do sistema Gestor 1</td>
                <td colspan="2" style="border: none;"> Total: <? if(empty($this->boletosG1)): ?>0,00<? else: ?><?= $this->boletosNaoLocalizados[0]['nu_valortotal']; ?><? endif; ?></td>
            </tr>
            <tr style="background-color: #657991; color: #ffffff; ">
                <th style="border-left: 1px solid #dddddd;">Banco</th>
                <th style="border-left: 1px solid #dddddd;">Venda</th>
                <th style="border-left: 1px solid #dddddd;">Nosso n&uacute;mero</th>
                <th style="border-left: 1px solid #dddddd;">Valor Retorno</th>
                <th style="border-left: 1px solid #dddddd;">Data Vencimento</th>
                <th style="border-left: 1px solid #dddddd;">Data pagamento</th>
                <th style="border-left: 1px solid #dddddd;">Lan&ccedil;amento</th>
                <th style="border-left: 1px solid #dddddd;">Valor Atualizado</th>
                <th style="border-left: 1px solid #dddddd;">Quitado</th>
            </tr>
            </thead>
            <tbody id="boleto-row-container">
            <? if (empty($this->boletosG1)):?>
                <tr>
                    <td colspan="9">Nenhum resultado Encontrado</td>
                </tr>
            <? else: ?>
                <? foreach ($this->boletosG1 as $boleto): ?>
                    <tr>
                        <td><?= $boleto['st_banco'] ?></td>
                        <td><?= $boleto['id_venda'] ?></td>
                        <td><?= $boleto['st_nossonumero'] ?></td>
                        <td><?= $boleto['nu_valorretorno'] ?></td>
                        <td><?= $boleto['dt_vencimento'] ?></td>
                        <td><?= $boleto['dt_quitado'] ?></td>
                        <td><?= $boleto['id_lancamento'] ?></td>
                        <td><?= $boleto['nu_valor'] ?></td>
                        <td><?= $boleto['bl_quitado'] ?></td>
                    </tr>
                <? endforeach;?>
            <? endif; ?>
            </tbody>
        </table>
    </div>
</div>