<div id="container-extrato"></div>
<div class="cortina cortina-loader"></div>
<script type="text/template" id="template-extrato">
    <h1><?php echo $this->usuario->st_nomeexibicao; ?></h1>
    <form id="form-filtro" class="form-inline" method="post">
        <div class="form-group col-md-4">
            <select name="ano" class="form-control">
                <option value="">Escolha o ano</option>
                <?php
                if($this->anos):
                    foreach($this->anos as $ano):
                ?>
                    <option value="<?php echo $ano; ?>" <?php echo ($ano == date('Y') ? 'selected="selected"' : ''); ?>><?php echo $ano; ?></option>
                <?php
                    endforeach;
                endif;
                ?>
            </select>
        </div>
        <div class="form-group col-md-4">
            <select name="mes" class="form-control">
                <option value="">Selecione o Ano</option>
            </select>
        </div>
        <div class="form-group col-md-4">
            <button type="submit" class=" button small button-main" data-toggle="tooltip" title="Pesquisar">
                Pesquisar <i class="icon-search"></i>
            </button>
        </div>
    </form>

    <div class="pull-right"><b>Extrato de <span id="periodo-filtro">01/12/2013 até 13/02/2014</span></b></div>
    <table class="table table-striped table-bordered table-hover">
        <thead>
        <tr>
            <th>Data</th>
            <th>Projeto Pedagógico</th>
            <th>Disciplina</th>
            <th>Tipo</th>
            <th>Saldo (R$)</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
        <tfoot>
        <tr>
            <td colspan="4">
                <div class="pull-right"><b>Total:</b></div>
            </td>
            <td id="col-total"><b>0</b></td>
        </tr>
        </tfoot>
    </table>
</script>

<script type="text/template" id="template-item-extrato">
    <td><%=dt_vencimento %></td>
    <td><%=st_projetopedagogico %></td>
    <td><%=st_disciplina %></td>
    <td><%=st_tipo %></td>
    <td><%=nu_valor %></td>
</script>