<style>
    .pago {
        color: #45BF55;
    }

    .pendente {
        color: #ffe000;
    }

    .vencido {
        color: #D40D12;
    }

    .info-boletos {
        margin-top: 10px;
    }

    #info-segunda-via {
        margin-top: 30px;
    }

</style>

<?php $to = new MatriculaTO(); ?>

<script type="text/javascript">
    var planoPag = {};
    planoPag.id_matricula = '<?php echo Ead1_Sessao::getSessaoProjetoPedagogico()->id_matricula; ?>';
    planoPag.urlG2 = '<?php echo Ead1_Ambiente::geral()->get('st_url_gestor2') ?>';
    planoPag.urlLoja = '<?php echo Ead1_Ambiente::geral()->st_url_loja ?>';
</script>


<div id="container-financeiro">

    <ul class="nav nav-tabs" id="abas-financeiro">
        <li class="active"><a id="lnk-parcelas" href="#tab-parcelas">Parcelas</a></li>
        <li><a id="lnk-plano-pagamento" href="#tab-plano-pagamento">Plano de Pagamento</a></li>
        <li><a id="lnk-trocar-cartao-recorrente" href="#tab-trocar-cartao-recorrente" style="display: none">Atualize
                suas informações de pagamento</a></li>
    </ul>

    <div id="container-mensagens-info"></div>

    <div class="tab-content">
        <div class="tab-pane active" id="tab-parcelas"></div>
        <div class="tab-pane" id="tab-plano-pagamento"></div>
        <div class="tab-pane" id="tab-trocar-cartao-recorrente"></div>
    </div>

</div>