<?php
$bo = new Ead1_BO();
$sessao = Ead1_Sessao::getSessaoCarrinho();
?>
<style>
    h3 {
        margin-bottom: 10px;
        margin-top: 20px;
    }
    fieldset {
        border: 1px solid #c0c0c0;
        margin: 0 2px;
        padding: 2.75em 0.625em 0.75em;
    }
    .pad-n-10 {
        padding-top: 10px;
    }
    .pad-s-10 {
        padding-bottom: 10px;
    }
    .pad-n-20 {
        padding-top: 20px;
    }
    .pad-s-20 {
        padding-bottom: 20px;
    }
    .nopad-right {
        padding-right: 0;
    }
    .nopad-left {
        padding-left: 0;
    }
    p, pre {
        margin: 10px 0;
    }
    .imgopacity {
        opacity: 0.1;
    }

    .red {
        color: red;
    }
</style>

<?php if($this->mensagem){ ?>

<div class="container pad-n-20">
    <div class="row">
        <div class="col-md-12">
            <fieldset style="padding: 0.75em 0.625em 0.75em;">
                <div class="col-md-12" style="padding: 1%;"> <?php echo $this->mensagem; ?></div>
                </fieldset>
            </div>
        </div>
    </div>
</div>

<?php }else{ ?>

<div style="padding-top: 1%">
<?php if($this->textoproduto){ ?>
    <section class="generic-container">
        <div><?php echo $this->textoproduto; ?></div>
    </section>
<?php } ?>

<!--Minhas compras-->
<section class="generic-container" id="minhas-compras">
    <div class="container pad-n-20">

    <? if($this->vendaLancamentos[0]->getId_Sistemacobranca() === \G2\Constante\Sistema::BRASPAG){ ?>
        <div class="row">
            <div class="col-md-10 col-md-offset-1 text-center">
                <fieldset style="padding: 0.75em 0.625em 0.75em;">
                    <div class="col-md-12" style="padding: 1%;">
                        Serviço indisponível. Por favor entrar em contato com o suporte da Unyleya.
                    </div>
                </fieldset>
            </div>
        </div>
    <? }else{ ?>
        <div class="row">
            <div class="col-md-12">
                <fieldset style="padding: 0.75em 0.625em 0.75em;">
                    <div class="col-md-12" style="padding: 1%;"> A próxima parcela à vencer do seu contrato será
                        creditada no cartão informado abaixo.
                    </div>
                </fieldset>
            </div>
        </div>

        <div class="row pad-n-10">
            <div class="col-md-12">
                <h3 class="text-center">Dados para atualização</h3>
                <div style="border: 1px solid #c0c0c0; margin: 0 2px; padding: 2.75em 0.625em 0.75em;">
                    <h4 style="padding-left: 17px">CARTÃO DE CRÉDITO</h4>
                    <form action="/pagamento/mudar-cartao" method="post" class="form-wrapper uny ocorrencia" name="form-cartaorecorrente" id="form-cartaorecorrente" onsubmit="return false">
                        <input type="hidden" name="id_vendarecorrente" id="id_vendaRecorrente" value="<?= $this->venda->getIdVenda(); ?>"/>
                        <input type="hidden" name="id_meiopagamentorecorrente" id="id_meiopagamentoCartaoRecorrente" value="<?php echo MeioPagamentoTO::RECORRENTE ?>"/>
                        <input type="hidden" name="nu_parcelas" id="nu_parcelas" value="<?= count($this->vendaLancamentos) ?>"/>
                        <input type="hidden" name="id_usuario" id="id_usuario" value="<?=$this->pessoa->getId_usuario()?>"/>
                        <input type="hidden" name="id_entidade" id="id_entidade" value="<?=$this->id_entidade?>"/>
                        <input type="hidden" name="st_nomecompleto" id="st_nomecompleto" value="<?=$this->pessoa->getSt_nomecompleto()?>"/>
                        <input type="hidden" name="st_email" id="st_email" value="<?=$this->pessoa->getSt_email()?>"/>
                        <input type="hidden" name="id_venda" id="id_venda" value="<?= $this->venda->getIdVenda(); ?>"/>
                        <input type="hidden" name="id_meiopagamento" id="id_meiopagamento" value="<?= MeioPagamentoTO::RECORRENTE ?>"/>
                        <input type="hidden" name="nu_valorparcela" id="nu_valorparcela" value="<?= $this->vendaLancamentos[0]->getNu_valor() ?>"/>
                        <input type="hidden" name="id_sistemacobranca" id="id_sistemacobranca"
                               value="<?= $this->vendaLancamentos[0]->getId_Sistemacobranca() ? $this->vendaLancamentos[0]->getId_Sistemacobranca() : \G2\Constante\Sistema::BRASPAG_RECORRENTE ?>"/>
                        <input type="hidden" name="nu_parcelas" id="nu_parcelas" value="<?= count($this->vendaLancamentos) ?>"/>
                        <input type="hidden" name="nu_valortotal" id="nu_valortotal" value="<?= count($this->vendaLancamentos)*$this->vendaLancamentos[0]->getNu_valor() ?>"/>

                        <div id="message-retorno-troca-cartao"></div>
                        <div class="col-md-12 pad-n-10 form-group clearfix">
                            <div class="col-md-12 nopad-left form-group clearfix">
                                <?php
                                /** @var \G2\Entity\VwBandeiraCartao $bandeira */
                                foreach ($this->pagamento->carrinho['formapagamento']->bandeirarecorrente as $bandeira) :
                                    ?>
                                    <div class="col-md-1 nopad-left imgopacity" id="img_<?= $bandeira->getStCartaobandeira()?>">
                                        <img src="<?php echo Ead1_Ambiente::geral()->st_url_loja; ?>/img/img2/<?php echo strtolower($bandeira->getStCartaobandeira()) ?>.png"
                                             alt="<?php echo $bandeira->getStCartaobandeira() ?>"/>
                                    </div>
                                <?php
                                endforeach;
                                ?>
                            </div>
                            <div class="col-md-12 nopad-left hidden" id="div_alertaCartaoRecorrente">
                                <div class="col-md-12 alert alert-danger " role="alert">Verifique os campos não preenchidos!</div>
                            </div>
                        </div>
                        <div class="form-group clearfix">
                            <div class="col-md-6 pad-s-10" id="div_cartaoRecorrente">
                                <p class="text-left">Número do cartão de crédito (apenas números e sem espaço)</p>
                                <input id="nu_cartaoRecorrente" class="form-control" type="text" autocomplete="off"
                                       name="st_cartao" value="" maxlength="150"/>
                                <input type="hidden" name="nu_cartaoUtilizadoRecorrente" id="nu_cartaoUtilizadoRecorrente" value="" />
                            </div>
                            <div class="col-md-6 pad-s-10" id="div_titularRecorrente">
                                <p class="text-left">Titular do cartão de crédito (igual ao impresso no cartão)</p>
                                <input class="form-control" type="text" id="st_titularRecorrente" autocomplete="off" name="st_nomeimpresso"/>
                            </div>
                        </div>

                        <div class="form-group clearfix">
                            <div class="col-md-6 pad-s-10" id="div_cpfRecorrente">
                                <p class="text-left">CPF ou CNPJ do Titular do cartão de crédito (apenas números)</p>
                                <input class="form-control" id="st_cpfRecorrente" type="text" autocomplete="off"
                                       name="st_cpf" maxlength="14"/>
                            </div>
                            <div class="col-md-6 pad-s-10">
                                <div class="col-md-5 nopad-left nopad-right pad-s-10" id="div_codigoSegurancaRecorrente">
                                    <p class="text-left">*Código de Segurança</p>
                                    <input class="form-control" type="text" id="st_codigoSegurancaRecorrente"
                                           autocomplete="off" name="st_codigoseguranca" maxlength="3"/>
                                </div>
                                <div class="col-md-4 pad-s-10" id="div_mesValidadeRecorrente">
                                    <p class="text-left">Validade</p>
                                    <select class="form-control" name="nu_mesvalidade" id="st_mesValidadeRecorrente">
                                        <option value="" disabled selected>Mês</option>
                                        <option value="1" >01 - Jan</option>
                                        <option value="2" >02 - Fev</option>
                                        <option value="3" >03 - Mar</option>
                                        <option value="4" >04 - Abr</option>
                                        <option value="5" >05 - Mai</option>
                                        <option value="6" >06 - Jun</option>
                                        <option value="7" >07 - Jul</option>
                                        <option value="8" >08 - Ago</option>
                                        <option value="9" >09 - Set</option>
                                        <option value="10" >10 - Out</option>
                                        <option value="11" >11 - Nov</option>
                                        <option value="12" >12 - Dez</option>
                                    </select>
                                </div>
                                <div class="col-md-3 nopad-left nopad-right text-left" id="div_anoValidadeRecorrente">
                                    <p class="">&nbsp;</p>
                                    <select class="form-control" name="nu_anovalidade" id="st_anoValidadeRecorrente">
                                        <option value="" disabled selected>Ano</option>
                                        <?php for ($i = 0; $i < 20; $i++) : ?>
                                            <option value="<?php echo date("Y") + $i; ?>"><?php echo date("Y") + $i; ?></option>
                                        <?php endfor; ?>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <!--<div class="col-md-6 pad-s-10" id="div_parcelamentoRecorrente">
                            <p class="text-left">Parcelas</p>
                            <span><?/*= count($this->vendaLancamentos); */?> X <?/*= $bo->formataValor($this->vendaLancamentos[0]->getNu_valor()); */?> </span>
                        </div>
                        <div class="col-md-6 pad-s-10" id="div_parcelamentoRecorrente">
                            <p class="text-left">Total</p>
                            <span><?/*= $bo->formataValor(count($this->vendaLancamentos)*$this->vendaLancamentos[0]->getNu_valor()); */?> </span>
                        </div>-->
                        <div class="col-md-12 clearfix">
                            <div class="col-md-9 red">
                                O valor de R$ 1,23 pode ser debitado para validação dos dados do cartão e estornado
                                automaticamente!
                            </div>

                            <div class="col-md-3 text-right">
                                <? if($this->vendaLancamentos[0]->getId_Sistemacobranca() ===
                                    \G2\Constante\Sistema::PAGARME){
                                ?>
                                <button type="button" class="button small button-main" data-loading-text="ENVIANDO..."
                                    id="btn_pagar_cartao_recorrente">MUDAR CARTÃO
                                </button>
                                <? } ?>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    <?php } ?>
        <link type="text/css" href="<?php echo $this->baseUrl ?>/css/mensageiro/mensageiro.css" rel="stylesheet" />
        <script type="text/javascript">
            //Define a variavel de ambiente
            var AMBIENTE = '<?php echo Ead1_Ambiente::getAmbiente(); ?>';
        </script>
        <script src="http://code.jquery.com/jquery-migrate-1.0.0.js"></script>
        <script src="<?php echo Ead1_Ambiente::geral()->get('st_url_loja') ?>/assets/javascripts/jquery.creditCardValidator.js" type="text/javascript"></script>
        <script type="text/javascript" src="<?php echo Ead1_Ambiente::geral()->get('st_url_loja') ?>/assets/javascripts/front.js"></script>
        <script type="text/javascript" src="<?php echo Ead1_Ambiente::geral()->get('st_url_loja') ?>/js/funcoes/funcoes.js"></script>
        <script type="text/javascript" src="<?php echo Ead1_Ambiente::geral()->get('st_url_loja') ?>/assets/javascripts/classes/loading.js"></script>
        <script type="text/javascript" src="<?php echo Ead1_Ambiente::geral()->st_url_library; ?>/js/classes/mensageiro.js"></script>
        <script src="https://assets.pagar.me/js/pagarme.min.js"></script>
        <script>
            window.encryption_key = "<?php echo $this->entidadeintegracao ? $this->entidadeintegracao->getSt_codsistema() : null ?>";
        </script>

        <script type="text/javascript">
            jQuery.fn.extend({
                propAttr: $.fn.prop || $.fn.attr
            });
            
            var autorizacaoSucess = function (mensageiro) {
                if (mensageiro.mensagem === undefined) {
                    return autorizacaoError();
                }
                if (mensageiro.tipo == 1) {
                    mensageiro.redirecionar = {
                        url: '<?=$this->baseUrl?>/loja/pagamento/confirmacao?id_venda=<?= $this->venda->getIdVenda(); ?>',
                        tipo: 'replace',
                        tempo: 0
                    };

                }
                Mensageiro.mostrar(mensageiro, null);
            };

            var autorizacaoError = function (e) {
                var redirecionar = false;
                Mensageiro.mostrar( {
                    'tipo' : Mensageiro.ERRO,
                    'mensagem' : 'Ops, ocorreu um erro na requisição. <br>Você será novamente redirecionado.'
                }, null);
            }

            $('#btn_pagar_cartao_recorrente').on('click', function (e) { //EFETUA O PAGAMENTO COM CARTÃO RECORRENTE
                var that = this;//atribui o this numa variavel para escopo
                e.preventDefault();

                if (validaCamposCartaoRecorrente()) {
                    if ($('#id_sistemacobranca').val() == <?= \G2\Constante\Sistema::BRASPAG_RECORRENTE ?> ) {
                        solicitaMudancaCartaoRecorrente($(that));
                    } else if ($('#id_sistemacobranca').val() == <?= \G2\Constante\Sistema::PAGARME ?> ) {
                        solicitaMudancaCartaoRecorrentePagarme($(that))
                    }

                }
                return false;
            });

            function solicitaMudancaCartaoRecorrente($elemento) { //SOLICITA O CARTAO
                Loading.$el = $elemento;
                $.ajax({
                    url: "/financeiro/mudar-cartao",
                    type: 'POST',
                    dataType: 'json',
                    data: $("#form-cartaorecorrente").serialize(),
                    beforeSend: function () {
                        Loading.start();
                    },
                    success: function (response) {
                        var cor_box = 'yellow'
                        if (response.type == 'warning') {
                                cor_box = 'yellow';
                        }

                        if (response.type == 'success') {
                            cor_box = 'green';
                            $("#form-cartaorecorrente").trigger('reset')
                        }

                        if (response.type == 'error') {
                            cor_box = 'red';
                        }

                        $('#message-retorno-troca-cartao').html(
                            "<div class='info-box "+cor_box+" uny ocorrencia-box'>"+
                                "<i class='icon-warning-sign'></i>"+
                                "<div class='msg'>"+response['mensagem']+"</div>"+
                                "<a href='javascript:void(0)' class='info-box-remove'><i class='icon-remove'></i></a>"+
                            "</div>"
                        );
                    },
                    complete: function () {
                        Loading.finish();
                    },
                    error: function (response) {
                        $('#message-retorno-troca-cartao').html(
                            "<div class='info-box red uny ocorrencia-box'>"+
                            "<i class='icon-warning-sign'></i>"+
                            "<div class='msg'>Pagamento não autorizado pela operadora do cartão</div>"+
                            "<a href='javascript:void(0)' class='info-box-remove'><i class='icon-remove'></i></a>"+
                            "</div>"
                        );
                    }
                });
            }

            solicitaMudancaCartaoRecorrentePagarme = function ($elemento, url) {
                Loading.$el = $elemento;
                PagarMe.encryption_key = window.encryption_key;

                var creditCard = new PagarMe.creditCard();
                creditCard.cardHolderName = $('#st_titularRecorrente').val();
                creditCard.cardExpirationMonth = $('#st_mesValidadeRecorrente option:selected').val();
                creditCard.cardExpirationYear = $('#st_anoValidadeRecorrente option:selected').val();
                creditCard.cardNumber = $('#nu_cartaoRecorrente').val();
                creditCard.cardCVV = $('#st_codigoSegurancaRecorrente').val();

                var fieldErrors = creditCard.fieldErrors();

                //Verifica se há erros
                var hasErrors = false;
                for (var field in fieldErrors) {
                    hasErrors = true;
                    break;
                }

                if (hasErrors) {
                    // realiza o tratamento de errors
                    var errors = '';
                    for (var field in fieldErrors) {

                        errors = errors + fieldErrors[field] + '<br>';

                        if (field == 'card_number') {
                            $('#nu_cartaoRecorrente').removeClass('has-success').addClass('has-error');
                        }
                        if (field == 'card_cvv') {
                            $('#st_codigoSegurancaRecorrente').removeClass('has-success').addClass('has-error');
                        }
                    }

                    bootbox.dialog({
                        message: errors,
                        title: 'Aviso',
                        buttons: {
                            successful: {
                                label: "Fechar",
                                className: "btn-alert"
                            }
                        }
                    });
                } else {
                    creditCard.generateHash(function (cardHash) {
                        $.ajax({
                            url: '/financeiro/mudar-cartao',
                            type: 'post',
                            dataType: 'json',
                            data: $("#form-cartaorecorrente").serialize() + '&card_hash=' + cardHash,
                            beforeSend: function () {
                                bloquearDesbloquearCampos(true);
                                Loading.start();
                            },
                            success: function (response) {
                                if (response.type == 'warning') {
                                    Loading.finish();
                                    bootbox.dialog({
                                        message: response['mensagem'],
                                        title: response['title'],
                                        buttons: {
                                            successful: {
                                                label: "Fechar",
                                                className: "btn-alert"
                                            }
                                        }
                                    });
                                }

                                if (response.type == 'success') {
                                    Loading.finish();
                                    bootbox.dialog({
                                        message: response['mensagem'],
                                        title: response['title'],
                                        buttons: {
                                            successful: {
                                                label: "Fechar",
                                                className: "btn-success"
                                            }
                                        }
                                    });

                                    //limpa os campos
                                    $("#nu_cartaoRecorrente").val("");
                                    $("#st_titularRecorrente").val("");
                                    $("#st_cpfRecorrente").val("");
                                    $("#st_codigoSegurancaRecorrente").val("");
                                    $("#st_mesValidadeRecorrente").val("");
                                    $("#st_anoValidadeRecorrente").val("");
                                }

                                if (response.type == 'error') {
                                    Loading.finish();
                                    bootbox.dialog({
                                        message: response['mensagem'],
                                        title: response['title'],
                                        buttons: {
                                            successful: {
                                                label: "Fechar",
                                                className: "btn-danger"
                                            }
                                        }
                                    });
                                }
                            },
                            complete: function (response) {
                                Loading.finish();
                            },
                            error: function (response) {
                                Loading.finish();
                                bootbox.dialog({
                                    message: response['mensagem'],
                                    title: response['title'],
                                    buttons: {
                                        successful: {
                                            label: "Fechar",
                                            className: "btn-alert"
                                        }
                                    }
                                });
                                $("#form-cartao").trigger('reset');
                            }
                        });
                    });

                }
            };

            somenteNumeros = function (e) {
                //teclas adicionais permitidas (tab,delete,backspace,setas direita e esquerda)
                keyCodesPermitidos = new Array(8, 9, 37, 39, 46);
                //numeros e 0 a 9 do teclado alfanumerico
                for (x = 48; x <= 57; x++) {
                    keyCodesPermitidos.push(x);
                }

                //numeros e 0 a 9 do teclado numerico
                for (x = 96; x <= 105; x++) {
                    keyCodesPermitidos.push(x);
                }

                //Pega a tecla digitada
                keyCode = e.which;
                //Verifica se a tecla digitada é permitida
                if ($.inArray(keyCode, keyCodesPermitidos) != -1) {
                    return true;
                }
                return false;
            } // LIMITA OS CARACTERES DIGITADOS SOMENTE A NÚMEROS

            $('#nu_cartaoRecorrente').bind('keydown', somenteNumeros);// DEFINE QUE O CAMPO SÓ RECEBERÁ NÚMEROS
            $('#st_cpfRecorrente').bind('keydown', somenteNumeros); // DEFINE QUE O CAMPO SÓ RECEBERÁ NÚMEROS
            $('#st_codigoSegurancaRecorrente').bind('keydown', somenteNumeros); // DEFINE QUE O CAMPO SÓ RECEBERÁ NÚMEROS

            $('#st_cpfRecorrente').keyup(function () { // VALIDA O CPF OU CNPJ
                ValidarCPFRG($('#st_cpfRecorrente').val());
            });
            $('#nu_cartaoRecorrente').keyup(function () {
                verificaCartao();
            });

            $("#nu_cartaoRecorrente").mask("9999 9999 9999 9999", {placeholder: ""});
            $("#st_codigoSegurancaRecorrente").mask("999", {placeholder: ""});

        </script>
    </div>
<?php } ?>