<?php if (!$this->imprimir) { ?>
    <a class="btn btn-default pull-right btn-imprimir" target="_blank" href="/portal/financeiro/plano-pagamento?imprimir=1">
        <i class="icon icon-print"></i> Imprimir
    </a>
<?php } ?>
<div class="row">
        <?php echo $this->planoPagamento; ?>
</div>