<script type="text/javascript">
    $(document).ready(function () {
//panels

        $('.dragbox').each(function () {
            $(this).hover(function () {
                $(this).find('h2').addClass('collapse');
            }, function () {
                $(this).find('h2').removeClass('collapse');
            })
                .find('h2').hover(function () {
                    $(this).find('.configure').css('visibility', 'visible');
                }, function () {
                    $(this).find('.configure').css('visibility', 'hidden');
                })
                .click(function () {
                    $(this).siblings('.dragbox-content').toggle();
                })
                .end()
                .find('.configure').css('visibility', 'hidden');
        });

        $('.column').sortable({
            connectWith: '.column',
            handle: 'h2',
            cursor: 'move',
            placeholder: 'placeholder',
            forcePlaceholderSize: true,
            opacity: 0.4,
            stop: function (event, ui) {
                $(ui.item).find('h2').click();
                var sortorder = '';
                $('.column').each(function () {
                    var itemorder = $(this).sortable('toArray');
                    var columnId = $(this).attr('id');

                    if (itemorder.length > 0) {
                        for (x = 0; x < itemorder.length; x++) {
                            sortorder += columnId + '[]=' + itemorder[x] + '&';
                        }
                    }
                });
            }
        }).disableSelection();

        /**
         * Ativando hover nos botões
         */
        $('#dialog_link, ul.icons li').hover(
            function () {
                $(this).addClass('ui-state-hover');
            },
            function () {
                $(this).removeClass('ui-state-hover');
            }
        );

    });

</script>

<script type="text/javascript">

    /**
     * Lightbox para preencher a data dos parametros do recibo consolidado
     */

    reciboConsolidado = function (id) {

//$('#recibo-consolidado'+id).click(function(){

        $(".inputData").val("");
        $(".inputData").datepicker();

        $("#div-frm-recibo" + id).dialog({
            autoOpen: true,
            height: 200,
            width: 200,
            modal: true,
            buttons: {
                "Imprimir": function () {
                    $('#frm-recibo' + id).submit();
                    $(this).dialog("close");
                },
                Cancelar: function () {
                    $(this).dialog("close");
                }
            },
            close: function () {
                $(this).dialog("destroy");
                //$('#div-frm-recibo' + id).remove();
            }
        });


        /**
         Jquery validate
         **/

        //$( "#div-form-recibo" + id).dialog( "close" );

//});

    }


</script>


<style type="text/css">

    .linhaModulo {
        background: #C6D7E7 url(images/ui-bg_flat_100_c6d7e7_40x100.png) 50% 50% repeat-x;
        color: #7EB2DE;
        text-align: left;
    }

    .header {
        background: #7EB2DE url(images/ui-bg_flat_100_7eb2de_40x100.png) 50% 50% repeat-x;
    }

    .itemHeader {
        border: none #7EB2DE;
        color: #7EB2DE;
    }

    .item {
        background: #fff;
    }

    .itemColumn {
        background: #fff;
        border: 1px solid #7EB2DE;
    }

    .tableGrade {
        border-collapse: collapse;
        border: 1px solid #7EB2DE;
        width: 100%;
    }

    tbody {
        border: none;
    }

    .labelHeader {
        font-weight: bold;
        color: white;
    }

    .labelItem {
        color: #024B92;
        font-weight: normal;
    }

</style>

<?php
if (empty($this->vendasaluno)) {
    echo '<script type="text/javascript"> Mensageiro.mostrar("Nenhuma venda encontrada","2");</script>';
} else if ($this->erro):
    echo '<script type="text/javascript"> Mensageiro.mostrar("' . $this->erro->getFirstMensagem() . '",' . $this->erro->getTipo() . ');</script>';
endif;
?>
<div id="content_financeiro">

    <div class="column ui-sortable" style="width: 900px; margin: 0 auto;">
        <h1>Financeiro</h1>

        <div id="accordion" class="ui-accordion ui-widget ui-helper-reset" style="height: 271px;" role="tablist">
            <?php
            $cont = 0;
            foreach ($this->vendasaluno->getMensagem() as $vendaaluno):?>
                <div id="div-frm-recibo<?= $vendaaluno['id_venda'] ?>" class="hide">
                    <form name="frm-recibo" id="frm-recibo<?= $vendaaluno['id_venda'] ?>" method="post" target="_blank"
                          action="/textos/recibo/">
                        <input type="hidden" name="id_textosistema" value="<?= $vendaaluno['id_reciboconsolidado'] ?>">
                        <input type="hidden" name="arrParams[id_venda]" value="<?= $vendaaluno['id_venda'] ?>">
                        <input type="hidden" name="type" value="html">
                        <input type="hidden" name="filename" value="ReciboVendaConsolidado">
                        <label for="arrParams[dt_inicio]">Data Início:</label>
                        <br/>
                        <input class="inputData" type="text" name="arrParams[dt_inicio]"/>
                        <br/><br/>
                        <label for="arrParams[dt_termino]">Data Término:</label>
                        <br/>
                        <input class="inputData" type="text" name="arrParams[dt_termino]"/>
                        <br/>
                    </form>
                </div>
                <div class="dragbox" aria-selected="false" id="item<?= $cont; ?>">
                    <h2 class="colapse">Nº:<span> <?= $vendaaluno['id_venda']; ?></span>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        Total:<span> R$ <?= $vendaaluno['nu_valorbruto'] ?></span>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        Valor
                        Pago:<span> R$ <?= $vendaaluno['nu_quitado'] ? $vendaaluno['nu_quitado'] : '0.00' ?></span>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        Valor a Pagar:<span> R$ <?= ($vendaaluno['nu_valorbruto'] - $vendaaluno['nu_quitado']) ?></span>
                    </h2>

                    <div class="dragbox-content" id="item<?= $cont; ?>_id" style="display: none;">
                        <div id="containerProdutos">

                            <table class="tableGrade">
                                <tr>
                                    <td colspan="4" class="linhaModulo"><label class="labelHeader">Produtos</label></td>
                                </tr>
                                <?php foreach ($vendaaluno['produtos'] as $produto): ?>
                                    <tr>
                                        <td width="100" colspan="4" class="itemColumn" align="center"><label
                                                class="labelItem"><?= utf8_encode($produto['st_produto']); ?> </label>
                                        </td>
                                    </tr>
                                <?php endforeach; ?>
                            </table>
                        </div>
                        <br/>

                        <div style="float: right;">
                            <a href="#" id="recibo-consolidado"
                               onclick="reciboConsolidado(<?= $vendaaluno['id_venda'] ?>)">
                                <img src="/layout/padrao/imagens/icones/receipt.png" width="36" height="36"
                                     alt="Recibo Consolidado" title="Imprimir Recibo Consolidado"/>Recibo
                            </a>
                        </div>
                        <br/>
                        <br/>

                        <div id="containerParcelas">
                            <table class="tableGrade">
                                <tr>
                                    <td colspan="6" class="linhaModulo"><label class="labelHeader">Parcelas</label></td>
                                </tr>
                                <tr>
                                    <th class="itemHeader"><label>Nº</label></th>
                                    <th class="itemHeader"><label>Valor</label></th>
                                    <th class="itemHeader"><label>Meio de Pagamento</label></th>
                                    <th class="itemHeader"><label>Data de Vencimento</label></th>
                                    <th class="itemHeader"><label>Data do Pagamento</label></th>
                                    <th class="itemHeader"><label></label></th>
                                </tr>
                                <?php
                                $flag_linkcartao = true;
                                foreach ($vendaaluno['lancamentos'] as $parcela):?>

                                    <tr>
                                        <td width="100" class="itemColumn" align="center"><label
                                                class="labelItem"><?= $parcela['nu_ordem']; ?> </label></td>
                                        <td width="100" class="itemColumn" align="center"><label
                                                class="labelItem">R$  <?= $parcela['nu_valor']; ?></label></td>
                                        <td width="100" class="itemColumn" align="center"><label
                                                class="labelItem"><?= utf8_encode($parcela['st_meiopagamento']); ?> </label>
                                        </td>
                                        <td width="100" class="itemColumn" align="center"><label
                                                class="labelItem"><?= ($parcela['dt_vencimento'] ? Ead1_TO::trataDataBancoObjeto($parcela['dt_vencimento'])->toString('dd/MM/YYYY') : ''); ?> </label>
                                        </td>
                                        <td width="100" class="itemColumn" align="center">
                                            <label class="labelItem">
                                                <?= ($parcela['dt_quitado'] ? Ead1_TO::trataDataBancoObjeto($parcela['dt_quitado'])->toString('dd/MM/YYYY') : ''); ?>
                                            </label>
                                        </td>
                                        <td width="100" class="itemColumn" align="center">
                                            <label class="labelItem">
                                                <!-- Por enquanto não disponibilizar pagamento por cartão de crédito (em 17/04/2013 - Sprint 3 Financeiro/Controladoria)
							                		<?php if (empty($parcela['dt_quitado'])): ?>
							                			<?php if ($parcela['id_meiopagamento'] == MeioPagamentoTO::CARTAO && $flag_linkcartao): ?>
							                				<a target="_blank" href="<?php echo Ead1_Ambiente::geral()->st_url_loja; ?>/loja/pagamento/?id_venda=<?= $parcela['id_venda']; ?>">Link Pagamento</a>
							                			<?php
                                                    $flag_linkcartao = false;
                                                endif;?>
							                		<?php endif; ?>
							                		-->
                                                <?php if ($parcela['dt_quitado']) { ?>
                                                    <a href="/textos/recibo/?id_textosistema=<?= $vendaaluno['id_textosistemarecibo'] ?>&arrParams[id_venda]=<?= $vendaaluno['id_venda'] ?>&arrParams[id_lancamento]=<?= $parcela['id_lancamento'] ?>&type=html&filename=ReciboVendaMensal"
                                                       target="_blank">
                                                        <img src="/layout/padrao/imagens/icones/receipt.png" width="16"
                                                             height="16" alt="Recibo" title="Imprimir Recibo Mensal"/>Recibo
                                                    </a>
                                                <?php } ?>
                                                <?php
                                                if (empty($parcela['dt_quitado'])):

                                                    $hoje = new Zend_Date(null);
                                                    $vencimento = new Zend_Date($parcela['dt_vencimento'] instanceof DateTime ? $parcela['dt_vencimento']->format('d/m/Y') : $parcela['dt_vencimento']);
                                                    if ($hoje->isLater($vencimento)):
                                                        ?>
                                                        <a target="_blank"
                                                           href="https://ww2.itau.com.br/bloqueto/SegundaVia.html">2a
                                                            Via Boleto</a>
                                                    <?php
                                                    endif;
                                                endif;
                                                ?>
                                            </label>
                                        </td>
                                    </tr>
                                <?php endforeach; ?>
                            </table>
                        </div>
                        <br/>

                    </div>
                </div>

                <?php
                $cont = $cont + 1;
            endforeach;?>
        </div>
    </div>
</div>
<br style="clear:both"/>