<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Pagamento</title>
<link rel="stylesheet" href="<?php echo $this->baseUrl(); ?>/css/pagamento.css" type="text/css" />
</head>
<body>

<div class="mensagem_indisponivel">
<?php echo $this->mensagem;

if($this->st_conversao){
	echo $this->st_conversao;
}
?>
</div>

</body>
</html>
