<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Pagamento</title>


<link rel="stylesheet" href="<?php echo $this->baseUrl(); ?>/css/jquery/jquery-ui-1.8.17.custom.css" type="text/css" />
<link rel="stylesheet" href="<?php echo $this->baseUrl(); ?>/css/pagamento.css" type="text/css" />
<script language="javascript" src="<?php echo $this->baseUrl(); ?>/js/jquery-1.7.1.min.js"></script>
<script language="javascript" src="<?php echo $this->baseUrl(); ?>/js/jquery-ui-1.8.17.custom.min.js"></script>
<script src="<?php echo $this->baseUrl(); ?>/js/jquery.form.js" type="text/javascript"></script>
<script src="<?php echo $this->baseUrl(); ?>/js/jquery.numeric.pack.js" type="text/javascript"></script>
<script src="<?php echo $this->baseUrl(); ?>/js/jqueryvalidate/jquery.validate.js" type="text/javascript"></script> 
<script src="<?php echo $this->baseUrl(); ?>/js/jqueryvalidate/additional-methods.js" type="text/javascript"></script> 
<script src="<?php echo $this->baseUrl(); ?>/js/jqueryvalidate/localization/messages_ptbr.js" type="text/javascript"></script>
<script src="<?php echo $this->baseUrl(); ?>/js/mensageiro.js" type="text/javascript"></script>

<script language="javascript">
	$(function() {

		$("#carregando").ajaxStart(function(){
		   $(this).show();
		});
		 
		$("#carregando").ajaxStop(function(){
		   $(this).hide();
		});


		$('#div_formapagamento').tabs();
		$('#st_cartao, #st_codigoseguranca').numeric();

		$("#frmPagamentoCartao").validate({
			
			rules: {
				st_cartao: "required",
				st_codigoseguranca:"required",
				st_nomeimpresso: "required"
			},
			submitHandler: function() {

					var options = {
						url: "<?php echo $this->baseUrl()?>/pagamento/autorizar-cartao",
						dataType: 'json',
						type: 'post',
						beforeSubmit: function(arr, $form, options) { 
							// The array of form data takes the following form: 
							// [ { name: 'username', value: 'jresig' }, { name: 'password', value: 'secret' } ] 
							 
							 var erro_cartaobandeira = true;
							 var erro_meiopagamento  = true;
							 $('#erro_cartaobandeira, #erro_meiopagamento').hide();
							 
							 for(x=0;x<arr.length;x++){
								
								if(arr[x].name == 'id_cartaobandeira'){
									erro_cartaobandeira = false;
								}
								
								if(arr[x].name == 'nu_parcelas'){
									erro_meiopagamento = false;
								}
								 
							 }
							 
							 if(erro_cartaobandeira){
								 $('#erro_cartaobandeira').show();
							 }
							 if(erro_meiopagamento){
								 $('#erro_meiopagamento').show();
							 }
							 
							 if(erro_cartaobandeira || erro_meiopagamento){
								 
								 var mensageiro = { tipo : 2, mensagem : 'Por favor informe a bandeira do cartão e o meio de pagamento!' };
								 Mensageiro.mostrar(mensageiro, null);
								 
								 return false; 
							 } 
							 
							// return false to cancel submit                  
						},
						success: function(mensageiro) {
							<?php if($this->pagamento->venda->st_linkloja) { ?>
							if(mensageiro.tipo==1) { 
								mensageiro.redirecionar = { 
															url: '<?php echo $this->pagamento->venda->st_linkloja?>',
															tipo: 'replace',
															tempo: 15
															};   
															
							};
							<?php } ?>
							Mensageiro.mostrar(mensageiro, null);

							
						}
					};
					$('#frmPagamentoCartao').ajaxSubmit(options);
					
			}
		});
		
		
		$("#frmPagamentoBoleto").validate({
			
			submitHandler: function() {

					var options = {
						url: "<?php echo $this->baseUrl()?>/pagamento/solicitar-boleto",
						dataType: 'json',
						type: 'post',
						beforeSubmit: function(arr, $form, options) { 
							// The array of form data takes the following form: 
							// [ { name: 'username', value: 'jresig' }, { name: 'password', value: 'secret' } ] 
							 
							 var erro_meiopagamento  = true;
							 $('#erro_meiopagamento').hide();
							 
							 for(x=0;x<arr.length;x++){

								if(arr[x].name == 'nu_parcelas'){
									erro_meiopagamento = false;
								}
								 
							 }
							 
							 if(erro_meiopagamento){
								 $('#erro_meiopagamento').show();
							 }
							 
							 if(erro_meiopagamento){
								 return false; 
							 } 
							 
							// return false to cancel submit                  
						},
						success: function(mensageiro) {
							<?php if($this->pagamento->venda->st_linkloja) { ?>
							if(mensageiro.tipo==1) { 
								mensageiro.redirecionar = { 
															url: '<?php echo $this->baseUrl()?>/pagamento/boleto-venda/?id_venda=<?php echo $this->pagamento->venda->id_venda?>',
															tipo: 'ajax',
															tempo: 7,
															destino: '#div_formapagamento'
															};   
															
							};
							<?php } ?>
							Mensageiro.mostrar(mensageiro, null);
							
						}
					};
					$('#frmPagamentoBoleto').ajaxSubmit(options);
					
			}
		});
		
		
	});

</script>

</head>
<body>
<div id="carregando">
<div id="carregando_mensagem">Por favor, aguarde.</div>
</div>
<div id="corpo">

<table style="width:800px" class="tabela_resumo_valores bordasimples" cellpadding="2">
	<thead>
		<tr class="titulo">
        	<th colspan="4">Cliente</th>
		</tr>
	</thead>
    
	<tbody>
		<tr>
        	<td><?php echo $this->pagamento->venda->st_nomecompleto?></td>
		</tr>
	</tbody>
</table>

<br /><br />


<table style="width:800px" class="tabela_resumo_valores bordasimples" cellpadding="2">
	<thead>
		<tr class="titulo">
        	<th colspan="4">Compra</th>
		</tr>
		<tr>
        	<th colspan="3">Produto</th>
            <th class="valor" style="width:130px">Total</th>
		</tr>
	</thead>
    
	<tbody>
    <?php foreach($this->pagamento->carrinho['produtos'] as $produto) { ?>
		<tr>
        	<td colspan="3"><?php echo $produto->st_produto?></td>
            <td class="valor"><?php echo $produto->nu_valorliquido?></td>
		</tr>
	<?php } ?>
    </tbody>
	<tfoot>
		<tr class="total">
        	<td colspan="3">Total</td>
            <td class="valor"><?php echo $this->pagamento->carrinho['resumo']->nu_valortotal?></td>
		</tr>
	</tfoot>
</table>

<br /><br />

<table style="width:800px" class="tabela_resumo_valores bordasimples" cellpadding="2">
	<thead>
		<tr class="titulo">
        	<th>Forma de Pagamento</th>
		</tr>
	</thead>    
	<tbody>
		<tr style="height:400px">
        	<td>
            	<div id="div_formapagamento">
                    <ul>
                        <?php if(!empty($this->pagamento->carrinho['formapagamento']->cartao)) { ?>
                        <li><a href="#tabs-cartao">Cartão de Crédito</a></li>
                        <?php } ?>
                        <?php if(!empty($this->pagamento->carrinho['formapagamento']->boleto)) { ?>
                        <li><a href="#div_boleto">Boleto Bancário</a></li>
                        <?php } ?>
                    </ul>
                    <?php if(!empty($this->pagamento->carrinho['formapagamento']->cartao)) { ?>
                    <div id="tabs-cartao">
                    <form name="frmPagamentoCartao" id="frmPagamentoCartao" onsubmit="return false;">
                    <input type="hidden" name="id_venda" id="id_venda" value="<?php echo $this->pagamento->venda->id_venda?>" />  
                    <input type="hidden" name="id_meiopagamento" id="id_meiopagamento" value="<?php echo MeioPagamentoTO::CARTAO?>" />  
    
                       <div id="erro_cartaobandeira" style="display:none">Escolha o Cartão de Crédito para Pagamento</div>
                       <div style="text-align:center;">
                       
                       <?php foreach($this->pagamento->carrinho['formapagamento']->bandeira as $bandeira) { ?>
                       <label class='form' style="text-align:center; float:left; margin:10px; margin-left:100px; cursor:pointer;" for="id_cartaobandeira_<?php echo $bandeira->getId_cartaobandeira()?>">
                       <img src="<?php echo $this->baseUrl(); ?>/img/pagamento/icones/<?php echo $bandeira->getId_cartaobandeira()?>.png" style="max-width:70px;" />
                       <br />                       
                       <input type="radio" id="id_cartaobandeira_<?php echo $bandeira->getId_cartaobandeira()?>" name="id_cartaobandeira" value="<?php echo $bandeira->getId_cartaobandeira()?>" /><?php echo $bandeira->getSt_cartaobandeira()?>
                       </label>
					   <?php } ?>
                       
                       </div>
                       <br style="clear:both" />
                       <p class="form"> 
                           <div class="form" id="div_st_cartao">
                           <label class='form' for="st_cartao">Número do Cartão:</label><br />
                           <input type="text" size="23" maxlength="16" value="0000000000000001" name="st_cartao" id="st_cartao" />
                           </div>
                           <div class="form">
                           <label class='form' for="st_codigoseguranca">CVV:</label><br />
                           <input type="text" size="5" maxlength="3" value="011" name="st_codigoseguranca" id="st_codigoseguranca" />
                           </div>

                           <div class="form">
                           <label class='form' for="st_nomeimpresso">Nome impresso no Cartão:</label><br />
                           <input type="text" size="25" value="ELCIO M GUIMARÃES" name="st_nomeimpresso" id="st_nomeimpresso" />
                           </div>
                           <div class="form">
                           <label class='form' for="nu_mesvalidade">Validade:</label><br />
                           <select id="nu_mesvalidade" name="nu_mesvalidade" style="min-width:40px; padding:1px;">
                           <!--<option selected="selected" value="">Mês</option>-->
                           <?php for($x=1;$x<=12;$x++) { ?>
                           <option value="<?php echo str_pad($x, 2, "0", STR_PAD_LEFT);?>"><?php echo str_pad($x, 2, "0", STR_PAD_LEFT);?></option>
                           <?php } ?>
                           </select> / 
                           <select id="nu_anovalidade" name="nu_anovalidade" style="min-width:80px; padding:1px;">
                           <!--<option selected="selected" value="">Ano</option>-->
                           <?php for($x=date('Y');$x<=(date('Y')+20);$x++) { ?>
                           <option value="<?php echo $x?>"><?php echo $x?></option>
                           <?php } ?>
                           </select>
                           </div>                       
                       </p> 
                       
                       
                       <p class="form" style="border-top:1px solid #000">
                       <div id="erro_meiopagamento" style="display:none">Escolha uma Forma de Pagamento.</div> 
                       <br style="clear:both" />
                           <div class="form">
                           <label class='form' for="nu_parcelas">Parcelamento:</label>
                           </div> 
                           <div class="form">
                                <p>
                                <?php foreach($this->pagamento->carrinho['formapagamento']->cartao as $cartao){ ?>
                           		<input type="radio" size="40" value="<?php echo $cartao->nu_parcelas?>" name="nu_parcelas" id="nu_parcelas_<?php echo $cartao->nu_parcelas?>" />
								<?php echo $cartao->st_meiopagamento.$cartao->nu_valorliquido.$cartao->nu_juros.'.<!-- <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Total Final: '.$cartao->nu_valortotal.' -->';  ?><br />
                                <?php } ?>
                                <br /><br />
                                </p>
                            </div>           
                       </p> 
                        
                       <p class="form" style="text-align:right">
                       <button class="botao" type="submit">Confirmar Pagamento</button>
                       </p> 
                        
                    </form>  
                    <br style="clear:both" />  
                    </div>
                    <?php } ?>
                    <?php if(!empty($this->pagamento->carrinho['formapagamento']->boleto)) { ?>
                    <div id="div_boleto">
                    
                    <form name="frmPagamentoBoleto" id="frmPagamentoBoleto" onsubmit="return false;">
                    <input type="hidden" name="id_venda" id="id_venda" value="<?php echo $this->pagamento->venda->id_venda?>" />  
                    <input type="hidden" name="id_meiopagamento" id="id_meiopagamento" value="<?php echo MeioPagamentoTO::BOLETO?>" />  
                    
                       <p class="form">
                       <div id="erro_meiopagamento" style="display:none">Escolha uma Forma de Pagamento.</div> 
                       <br style="clear:both" />
                           <div class="form">
                           <label class='form' for="nu_parcelas">Parcelamento:</label>
                           </div> 
                           <div class="form">
                                <p>
                                <?php foreach($this->pagamento->carrinho['formapagamento']->boleto as $boleto){ ?>
                           		<input type="radio" size="40" value="<?php echo $boleto->nu_parcelas?>" name="nu_parcelas" id="nu_parcelas_<?php echo $boleto->nu_parcelas?>" /><?php echo $boleto->nu_parcelas?> -  <?php echo $boleto->st_meiopagamento.$boleto->nu_valorliquido?><br />
                                <?php } ?>
                                </p>
                            </div>           
                       </p> 

                       <p class="form" style="text-align:right">
                       <button class="botao" type="submit">Confirmar Pagamento</button>
                       </p> 
                        
                    </form>  
                    </div>
                    <?php } ?>
	            </div>
            </td>
		</tr>
	</tbody>
</table>


</div>
</body>
</html>

