<script id="global-template" type="text/template">
    <form id="form">

        <div class="well">
            <legend>Gerador de Relatório</legend>
            <div class="row-fluid">
                <label>
                    Nome do Relatório:
                    <input class="span12" type="text" name="st_relatorio" value="<%= st_relatorio %>"/>
                </label>
            </div>
            <div class="row-fluid">
                <label class="span4">
                    Tipo da Fonte de Dados
                    <select class="span12" name="id_tipoorigemrelatorio">
                        <option value="">[Selecione]</option>
                    </select>
                </label>
                <label class="span4 offset1">
                    ID de Fucionalidade
                    <input class="span12" type="text" name="id_funcionalidade"
                           value="<%= id_funcionalidade ? id_funcionalidade . id_funcionalidade : '' %>"/>
                </label>
                <label class="span2 offset1 checkbox">
                    <br/>
                    <input type="checkbox" name="bl_geral" value="1" <%= bl_geral ? 'checked' : '' %> />
                    bl_geral
                </label>
            </div>
            <div class="row-fluid">
                <label class="span9">
                    Fonte de Dados:
                    <span title="Escolha a view em que deseja buscar os dados">
                        <i class="icon-question-sign"></i>
                    </span>
                    <select class="span12" data-name="st_origem" name="st_origem">
                        <option value="">[Selecione]</option>
                    </select>
                    <input class="span12 hide" type="text" data-name="st_origem" value="<%= st_origem %>"/>
                </label>
            </div>
        </div>

        <div class="well">
            <div id="campos" class="row-fluid">
                <legend>Campos do Relatório</legend>
                <div id="campos-content"></div>
            </div>
        </div>

        <div class="well clearfix">
            <button class="btn btn-success pull-right" type="submit">
                Salvar
            </button>
        </div>

        <div class="clearfix"></div>
    </form>
</script>


<script id="campos-template" type="text/template">
    <button class="btn btn-success btn-small camposAdd" type="button">
        <i class="icon-white icon-plus"></i>
        Adicionar Novo
    </button>
    <br/><br/>

    <table role="dialog" class="table table-bordered table-striped backgrid">
        <thead>
        <tr>
            <th>
                <b>Campo</b>
                <span title="O nome do campo no banco de dados">
                    <i class="icon-white icon-question-sign"></i>
                </span>
            </th>
            <th>
                <b>Título do Campo</b>
                <span title="O título que será exibido para este campo no relatório">
                    <i class="icon-white icon-question-sign"></i>
                </span>
            </th>
            <th>
                <b>Número da Ordem</b>
                <span title="Ordem em que o campo será exibido no relatório">
                    <i class="icon-white icon-question-sign"></i>
                </span>
            </th>
            <th>
                <b>Tipos</b>
                <span title="Define se o campo será utilizado como filtro e/ou exibido no relatório">
                    <i class="icon-white icon-question-sign"></i>
                </span>
            </th>
            <th>
                <b>Ações</b>
            </th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</script>


<script id="campos-item" type="text/template">
    <td>
        <input class="span12" type="text" name="st_camporelatorio" value="<%= st_camporelatorio %>"/>
    </td>
    <td>
        <input class="span12" type="text" name="st_titulocampo" value="<%= st_titulocampo %>"/>
    </td>
    <td>
        <input class="span12" type="number" name="nu_ordem" value="<%= nu_ordem %>" min="0"/>
    </td>
    <td style="white-space: nowrap;">
        <label class="checkbox inline">
            <input type="checkbox" name="bl_exibido" value="1" <%= bl_exibido ? 'checked' : '' %> />
            Exibido
        </label>
        <label class="checkbox inline">
            <input type="checkbox" name="bl_filtro" value="1" <%= bl_filtro ? 'checked' : '' %> />
            Filtro
        </label>
    </td>
    <td style="white-space: nowrap;">

        <div style="position: relative;">
            <div class="campoOptionsList hide"
                 style="position: absolute; bottom: 0; right: 100%; margin-right: -36px; width: 500px; box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75); z-index: 9999;">
                <div class="well well-small" style="margin: 0;">
                    <div>
                        <table class="table table-striped table-bordered" style="margin: 0;">
                            <thead>
                            <tr>
                                <th>Campo</th>
                                <th>Valor</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>st_campopai</td>
                                <td>
                                    <input data-id="7" class="span12" type="text" name="st_campopai"
                                           value="<%= propriedade_campo_relatorio[7] %>"/>
                                </td>
                            </tr>
                            <tr>
                                <td>st_consulta</td>
                                <td>
                                    <textarea data-id="5"
                                              class="span12"
                                              name="st_consulta"
                                              rows="5"
                                    ><%= propriedade_campo_relatorio[5] %></textarea>
                                </td>
                            </tr>
                            <tr>
                                <td>st_default</td>
                                <td>
                                    <input data-id="4" class="span12" type="text" name="st_default"
                                           value="<%= propriedade_campo_relatorio[4] %>"/>
                                </td>
                            </tr>
                            <tr>
                                <td>bl_obrigatorio</td>
                                <td>
                                    <select class="span12" name="bl_obrigatorio">
                                        <option value="0">Não</option>
                                        <option value="1"
                                        <%= bl_obrigatorio ? 'selected' : '' %> >Sim</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>id_tipocampo</td>
                                <td>
                                    <select data-id="3" class="span12" name="id_tipocampo">
                                        <option value="">[Selecione]</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>id_interface</td>
                                <td>
                                    <select data-id="2" class="span12" name="id_interface">
                                        <option value="">[Selecione]</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>id_opercaaorelatorio</td>
                                <td>
                                    <select data-id="1" class="span12" name="id_operacaorelatorio">
                                        <option value="">[Selecione]</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>nu_rangeentredatas</td>
                                <td>
                                    <input data-id="9" placeholder="Número de dias permitido entre data inicial e final" title="Número de dias permitido entre data inicial e final" class="span12" disabled type="text" name="nu_rangeentredatas"
                                           value="<%= propriedade_campo_relatorio[9] %>"/>
                                </td>
                            </tr>
                            <tr>
                                <td>bl_customselect</td>
                                <td>
                                    <select class="span12" disabled name="bl_customselect">
                                        <option value="0">Não</option>
                                        <option value="1"
                                        <%=  propriedade_campo_relatorio[10] ? 'selected' : '' %> >Sim</option>
                                    </select>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <button class="btn btn-small campoOptions" type="button"
                title="Propriedades do campo"
        <%= bl_filtro ? '' : 'disabled' %>>
        <i class="icon-cog"></i>
        </button>
        <button class="btn btn-small campoRemove" type="button" title="Excluir campo">
            <i class="icon-trash"></i>
        </button>
    </td>
</script>

<div id="global-content"></div>

<script type="text/javascript"> $('#htmlContent script[type="text/template"]').appendTo($('#templateHolder'));</script>
<script type="text/javascript" src="/gerador-relatorio/js"></script>
