<div class="ead1_helper_frm_login">
	<form name="frmloginunico" id="frmloginunico" action="http://unico.localhost.com.br/unico/index/acessar" method="post" target="_parent">
		<p style="clear: both;">
		<label for="st_usuario">Login</label>
		<input type="text" name="st_usuario" id="st_usuario" />
		</p>
		
		<p style="clear: both;">
		<label for="st_senha">Senha</label>
		<input type="password" name="st_senha" id="st_senha" />
		<input type="hidden" name="entidade" id="entidade" value="14" />
		</p>
		
		<p style="clear: both;">
		<button type="submit" name="btEntrar" id="btEntrar" class="botao">entrar</button>
		</p>
		<p class="recupera_senha"><a href="http://unico.localhost.com.br/unico/senha/recuperar?entidade=14" target="_parent">Não consegue acessar sua conta?</a></p>
	</form>
</div>