<div class="ead1_vitrine_pos">
	<div class="ead1_vitrine_pos_titulo">Vitrine</div>
	<div class="ead1_vitrine_pos_cursos">
		<div>Curso de KKK MMM HHHH </div>
		<div>Curso de KKK MMM HHHH </div>
		<div>Curso de KKK MMM HHHH </div>
		<div>Curso de KKK MMM HHHH </div>
		<div>Curso de KKK MMM HHHH </div>
		<div>Curso de KKK MMM HHHH </div>
		<div>Curso de KKK MMM HHHH </div>
		<div>Curso de KKK MMM HHHH </div>
	</div>
</div>