<script type="text/template" id="manual-do-aluno-enviado">
    <div class="span6">
        <p>Caso envie um novo arquivo, o antigo Manual do Aluno será sobrescrito.</p>

        <p>
            Arquivo atual: <a href="/upload/manual/<%= st_upload %>" target="_blank"><b><%= st_upload %></b></a>
        </p>

        <label>
            <input id="manual-do-aluno-arquivo" type="file" name="arquivo" accept=".pdf,.doc,.docx,.jpg,.jpeg,.png"/>
        </label>

        <p>Somente serão aceitas extensões: PDF, DOC, JPG e PNG</p>

        <div class="form-actions hide">
            <div class="pull-right">
                <button id="manual-do-aluno-salvar" class="btn-success btn" type="submit" data-toggle="tooltip"
                        title="Salvar" id="btnSalvar">
                    Salvar
                </button>
            </div>
        </div>
    </div>
</script>


<script type="text/template" id="manual-do-aluno-carregando">
    <p>Fazendo upload do arquivo...</p>
    <p><b>Progresso:</b></p>

    <div id="manual-do-aluno-progress" class="progress progress-striped active">
        <div class="bar"></div>
    </div>
</script>

<div id="manual-do-aluno-content" class="row-fluid">
    <?php
    // Esta TAG sera removida quando a view for carregada
    ?>
    Carregando...
</div>

<script type="text/javascript"> $('#htmlContent script[type="text/template"]').appendTo($('#templateHolder'));</script>
<script type="text/javascript" src="<?php echo $this->url() ?>/js"></script>