<script type="text/javascript" src="/js/backbone/views/Util/SelectView.js"></script>

<script type="text/template" id="layout-arquivo-retorno">
    <h3>Arquivo retorno material</h3>
    <div class="row-fluid" id="formFind"></div>
    <div class="row-fluid" id="containerDetalhes"></div>
    <div class="row-fluid" id="formAdd"></div>

</script>

<script type="text/template" id="template-find-file-return">
   <form id="form-pesquisa-arquivo" method="post" class="span12 well">
       <div class="row-fluid">
           <div class="span5" id="div-arquivo-find">
               <label>Nome do arquivo retorno:</label>
               <input type="text" name="st_arquivoretornomaterial" id="st_arquivoretornomaterial" class="span12"/>
           </div>
           <div class="span3">
               <label>Situação:</label>
               <select id="id_situacao" name="id_situacao" class="span12">
                   <option value="">Todos</option>
               </select>
           </div>
           <div class="span4" id="div-data-find">
               <label>Data cadastro</label>
               <input type="text" class="datepicker span6" name="dt_cadastroinicio" id="dt_cadastroinicio"/>
               <span style="padding-left: 2%;">&nbsp;até&nbsp;</span>
               <input type="text" class="datepicker span5 pull-right" name="dt_cadastrofim" id="dt_cadastrofim"/>
           </div>
       </div>
       <div class="row-fluid pull-right">
           <button class="btn btn-info pull-right" type="submit" id="btn-pesquisa-arquivo"><i
                   class="icon icon-search icon-white"></i> Pesquisar
           </button>
           &nbsp;&nbsp;&nbsp;
           <a class="btn btn-success pull-right" id="btn-add-arquivo-retorno"><i
                   class="icon icon-plus icon-white"></i> Adicionar
           </a>
       </div>
   </form>
   <div id="conteudo-pesquisa" class="row-fluid"></div>
   <div id="conteudo-lista-detalhes" class="row-fluid"></div>
</script>

<script type="text/template" id="template-add-file">
    <div class="span12 well">
        <h4>Adicionar arquivo</h4>
        <div class="row-fluid">
            <label>
                <input id="arquivo-retorno-material" type="file" name="arquivo-retorno-material" accept=".xls,.xlsx"/>
            </label>
            <p><a id="bt-modelo-arquivo" style="cursor: pointer;"><span class="label label-inverse"> Modelo do arquivo</span></a> &nbsp;&nbsp;
                &nbsp;&nbsp;Somente serão aceitas extensões: XLS e XLSX</p>
        </div>
        <div id="arquivo-retorno-material-modelo" class="hide">
            <div class="span12">
                <fieldset>
                    <legend>Modelo arquivo retorno de material</legend>
                    <div class="row-fluid">
                        <label> 1º Coluna(A) -> Deve ser preenchida com o <b>Código do Pacote</b></label>
                    </div>
                    <div class="row-fluid">
                        <label> 2º Coluna(B) -> Deve ser preenchida com o <b>Código do Item</b></label>
                    </div>
                    <div class="row-fluid">
                        <label> 3º Coluna(C) -> Deve ser preenchida com o <b>Código do Rastreamento</b></label>
                    </div>
                    <div class="row-fluid">
                        <label> 4º Coluna(D) -> Deve ser preenchida com a <b>Data da postagem</b>, formato dd/mm/aaaa </label>
                    </div>
                    <div class="row-fluid">
                        <label> 5º Coluna(E) -> Deve ser preenchida com o <b>Status: 0 - Não enviado || 1 - Enviado</b></label>
                    </div>
                    <div class="row-fluid">
                        <label> **A planilha deve possuir cabeçalho.</label>
                    </div>
                    <div class="row-fluid">
                        <img class="img-polaroid" src="<?php echo $this->baseUrl();?>/img/arquivo-retorno-material.png">
                    </div>

                    <div class="clearfix" style="padding-bottom: 20px;"></div>
                </fieldset>

            </div>
        </div>

        <div class="row-fluid pull-right">
            <a class="btn btn-danger" id="btn-cancelar-envio"> Cancelar</a>
            <button id="bnt-salvar-arquivo" class="btn-success btn" type="submit" data-toggle="tooltip"
                    title="Salvar">
                Salvar
            </button>
        </div>
    </div>
</script>

<script type="text/template" id="arquiv-retorno-material-carregando">
    <p>Fazendo upload do arquivo...</p>
    <p><b>Progresso:</b></p>

    <div id="arquivo-retorno-material-progress" class="progress progress-striped active">
        <div class="bar"></div>
    </div>
</script>

<script type="text/javascript"> $('#htmlContent script[type="text/template"]').appendTo($('#templateHolder'));</script>
<script type="text/javascript" src="/arquivo-retorno-material/js"></script>