<script type="text/template" id="template-form">
    <form id="form-cadastro" name="form-cadastro" method="post">
        <legend>Forma de Ingresso</legend>
        <div class="row-fluid">
            <div class="span8">
                <div class="well well-small">
                    <div class="control-group">
                        <label class="control-label" for="st_tiposelecao">Tipo de Ingresso *:</label>
                        <div class="controls">
                            <input tabindex="0" type="text" value="<%=st_tiposelecao%>" maxlength="100"
                                   id="st_tiposelecao"
                                   name="st_tiposelecao" class="span12">
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label" for="st_descricao">Texto da Forma de Ingresso *:</label>
                        <div class="controls">
                            <textarea id="st_descricao" tabindex="1" rows="5" maxlength="200" class="span12"
                                      name="st_descricao"><%=st_descricao%></textarea>
                        </div>
                    </div>

                    <div class="form-actions">
                        <button type="submit" class="btn btn-success pull-right" id="btn-salvar" tabindex="3">Salvar
                        </button>
                    </div>
                </div>

            </div>
            <div class="span4">
                <div class="control-group">
                    <label class="control-label" for="variaveis">Informações a serem substituídas *:</label>
                    <div class="controls">
                        <select name="variaveis" id="variaveis" tabindex="2" multiple="multiple" class="span12"
                                title="Variáveis">
                            <option value="#ano_ingresso#">#ano_ingresso#</option>
                            <option value="#semestre_ingresso#">#semestre_ingresso#</option>
                            <option value="#estabelecimento_conclusao#">#estabelecimento_conclusao#</option>
                        </select>
                    </div>
                </div>

            </div>
        </div>
    </form>
</script>


<script type="text/javascript">
    $('#htmlContent script[type="text/template"]').appendTo($('#templateHolder'));
    var habilitarEdicao = 1;
    G2S.editModel = null;

    <?php if($this->dados) : ?>
    G2S.editModel = <?php echo json_encode($this->dados);?>;
    habilitarEdicao = <?php echo $this->habilitarEdicao ? 1 : 0; ?>;
    <?php endif; ?>

</script>