<?php if (array_key_exists('st_caminho', $this->integracao) && isset($this->integracao['st_caminho'])): ?>
    <div class="alert alert-warning" role="alert">Voc&ecirc; ser&aacute; redirecionado para nossa biblioteca virtual,
        verifique se os popup's est&atilde;o desbloqueados...
    </div>

    <form id="form-pearson" action="<?php echo $this->integracao['st_caminho']; ?>" method="post" target="_blank">
        <?php
        $login = $this->integracao['st_usuario'];
        $chave = $this->integracao['st_token'];
        $str = $login . $chave;
        ?>
        <input id="login" name="login" type="hidden" value="<?php echo $this->integracao['st_usuario']; ?>"/>
        <input id="token" name="token" type="hidden" value="<?php echo md5($str) ?>"/>
    </form>
<?php else: ?>
    <div class="alert alert-warning" role="alert">
        A integração com a biblioteca virtual não está configurada.
    </div>
<?php endif; ?>