<style>
    select {
        background-color: #ffffff;
        border: 1px solid #cccccc;
        width: 220px;
        height: 30px;
        line-height: 30px;
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
        border-radius: 4px;
        color: #555555;
        display: inline-block;
        font-size: 14px;
        margin-bottom: 10px;
        padding: 4px 6px;
        vertical-align: middle;
        cursor: pointer;
        font-weight: normal;
    }
    h2{
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 14px;
        position: relative;
        border-image: none;
    }

    h4{
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 18px;
        position: relative;
        border-image: none;
        color:#FFFFFF;
    }

    a.pesquisaExtrato{
        background-color: #102372;
        color:#FFFFFF;
        float:left;
        margin-right: 10px;
        margin-top: -8px;
        margin-left: 0px;
        border-color: #102372;
    }
    .pesquisar a:hover, a:focus{
        background-color: #FFFFFF;
        color:#102372;
        border-color: #102372;
    }

    .pesquisar a:focus{
        background-color: #102372;
        color:#FFFFFF;
        border-color: #102372;
    }
    .detalhes a{
        background-color: #102372;
        color:#FFFFFF;
        float:left;
        margin-left: 0px;
        border-color: #102372;
    }
    .detalhes a:hover, a:focus{
        background-color: #FFFFFF;
        color:#102372;
        border-color: #102372;
    }

    .detalhes a:focus{
        background-color: #102372;
        color:#FFFFFF;
        border-color: #102372;
    }

    @media (min-width: 850px){
        .modal-detalhamento{
            width: 850px;
        }
    }

    .modal-detalhamento .modal-body{
        max-height: 420px;
        overflow-y: auto;
    }

    .modal-header{
        background-color: #102372;
        color:#FFFFFF;
        border-radius: 4px;
    }
</style>

<div id="template-extrato-professor"></div>
<div class="cortina cortina-loader"></div>

<script type="text/template" id="template-extrato-pagamento">
    <form id="form-pesquisa-extrato">
        <fieldset>
            <div class="row-fluid">
                <div class="span12">
                    <h1><legend><b>Extrato de Pagamento<b></legend></h1>
                    <h2>Professor: <?php echo $this->nome_usuario; ?></h2>
                </div>
            </div>
            <div class="span2 mes-extrato" id="wrapper_mesextrato" style="float:left; margin-right: 10px;">
                <label for="id_mesextrato">Mês:</label>
                <select id="id_mesextrato" required="required" name="id_mesextrato">
                </select>
            </div>
            <div class="span2 ano-extrato" id="wrapper_anoextrato" style="float:left; margin-right: 10px;">
                <label for="id_anoextrato">Ano:</label>
                <select id="id_anoextrato" required="required" name="id_anoextrato">

                </select>
            </div>
            <div class="btn pesquisar">
                <a type="button" class="btn btn-warning pesquisaExtrato" href="javascript:void(0)"
                   title="Pesquisar"><i
                        class="icon-search"></i> Pesquisar</a>
            </div>
        </fieldset>
    </form>

    <div class="row-fluid" id="extrato"></div>
    <div class="modal fade" id="modal-detalhamento">
        <div class="modal-dialog modal-detalhamento">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" id="close" data-dismiss="modal" onclick="fecharModal();">&times;</button>
                    <h4>Mais Detalhes</h4>
                </div>
                <div class="modal-body" id="modal-body"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" id="close" data-dismiss="modal" onclick="fecharModal();">Voltar</button>
                </div>
            </div>
        </div>
    </div>
</script>

<script type="text/template" id="template-item-extrato">

</script>
