<script text="text/javascript">
    var urlLoja = "<?php echo Ead1_Ambiente::geral()->st_url_loja; ?>/pagamento/iniciar";
    var id_usuario = "<?php echo $this->usuario['id_usuario']; ?>";
    var id_entidade = "<?php echo $this->usuario['id_entidade']; ?>";
    var st_codchave = "<?php echo $this->dadosEntidade['st_wschave']; ?>";
    var id_matricula = "<?php echo $this->matricula; ?>";
</script>
<div id="container-secretaria"></div>

<script id="requerimento-layout" type="text/template">
    <div class="row">
        <div class="col-md-12 col-sm-12">

            <div id="requerimento-wrapper"></div>
            <div id="requerimento-wrapper-selecionados"></div>
        </div>
    </div>
</script>

<script id="requerimento-content" type="text/template">
    <div class="requerimento">
        <div class="title-block clearfix">
            <h3 class="h3-body-title uny">Serviços disponíveis</h3>

            <div class="title-seperator"></div>
        </div>
        <div id="lb-error-sessao" class="alert alert-info">
            <strong>Atenção:</strong>
            Após finalizar sua solicitação você será redirecionado para a loja para efetuar o pagamento da solicitação.
        </div>
        <table class="backgrid table uny table-bordered">
            <thead>
            <tr>
                <th class="sortable renderable">
                    <a><b class="sort-caret"></b></a>
                </th>
                <th class="sortable renderable">
                    <a>Nome do Requerimento<b class="sort-caret"></b></a>
                </th>
                <th class="sortable renderable">
                    <a>Valor<b class="sort-caret"></b></a>
                </th>
                <th class="sortable renderable">
                    <a>Exemplo<b class="sort-caret"></b></a>
                </th>
            </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</script>

<script id="requerimento-item" type="text/template">
    <td><input type="checkbox" class="idProdutoCheckBox" name="check_select"/></td>
    <td>
        <%= st_produto %>
        <i class="tooltip icon-question-sign"
           title="<%= st_formadisponibilizacao %>"></i>
        <i class="icon-question-sign"></i>
    </td>
    <td><%= (nu_valor != 0) ? 'R$ ' + nu_valor : 'Gratuito' %></td>
    <td>
        <% if (st_upload){ %>
        <a href="/upload/produtodeclaracao/<%= st_upload %>"
           target="_blank">
            Arquivo de Exemplo
        </a>
        <% }else{ %>
        --
        <% } %>
    </td>
</script>

<script id="requerimento-selecionados" type="text/template">
    <div class="title-block clearfix">
        <h3 class="h3-body-title uny">Serviços Selecionados</h3>

        <div class="title-seperator"></div>
    </div>
    <div class="content_solicitacoes">
        <table class="backgrid table uny table-bordered">
            <thead>
            <tr>
                <th class="sortable renderable">
                    <a>Nome do Requerimento<b class="sort-caret"></b></a>
                </th>
                <th class="sortable renderable">
                    <a>Valor<b class="sort-caret"></b></a>
                </th>
                <th class="sortable renderable">
                    <a>Exemplo<b class="sort-caret"></b></a>
                </th>
            </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
    <input type="button" id="finalizarRequerimento" value="Finalizar Solicitação"
           class="button small button-green uny declaracao pull-right margin-TR-10">
    <a class="button small button-main uny declaracao pull-right margin-TR-10"
       href="/portal/secretaria/requerimento">
        Cancelar Solicitação
    </a>
    <form method="post" id="formRequerimentoDeclaracao" target="_blank"
          action="<?php echo Ead1_Ambiente::geral()->st_url_loja; ?>/pagamento/iniciar">
        <input type="hidden" name="id_usuario" value="<?php echo $this->usuario['id_usuario']; ?>">
        <input type="hidden" name="id_entidade" value="<?php echo $this->usuario['id_entidade']; ?>">
        <input type="hidden" name="st_codchave" value="<?php echo $this->dadosEntidade['st_wschave']; ?>">
        <input type="hidden" name="id_matricula" id="id_matricula" value="<?php echo  $this->matricula; ?>">
    </form>
</script>

<script id="requerimento-item-selecionados" type="text/template">
    <td><%= st_produto %></td>
    <td><%= (nu_valor != 0) ? 'R$ ' + nu_valor : 'Gratuito' %></td>
    <td>
        <% if (st_upload){ %>
        <a href="/upload/produtodeclaracao/<%= st_upload %>"
           target="_blank">
            Arquivo de Exemplo
        </a>
        <% }else{ %>
        --
        <% } %>
    </td>
</script>