<div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="title-block clearfix">
            <h3 class="h3-body-title uny">Requerimento de Serviços</h3>

            <div class="title-seperator"></div>
        </div>
        <a class="button small button-main uny declaracao" href="/portal/secretaria/novo-requerimento">
            Novo requerimento
        </a>

        <div class="requerimento">
            <div class="content_solicitacoes">
                <table class="backgrid table uny table-bordered">
                    <thead>
                    <tr>
                        <th class="sortable renderable">
                            <a>N°<b class="sort-caret"></b></a>
                        </th>
                        <th class="sortable renderable">
                            <a>Data de solicitação<b class="sort-caret"></b></a>
                        </th>
                        <th class="sortable renderable">
                            <a>Status<b class="sort-caret"></b></a>
                        </th>
                        <th class="sortable renderable">
                            <a>Ações</a>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <?php foreach ($this->ocorrencia as $value): ?>
                        <tr>
                            <td><?php echo $value['id_ocorrencia'] ?></td>
                            <td><?php echo date('d/m/Y h:i:s', strtotime($value['dt_cadastro'])); ?></td>
                            <td><?php echo $value['st_evolucao']; ?></td>
                            <td><a href="/secretaria/visualizar/requerimento/<?php echo $value['id_ocorrencia']; ?>">Visualizar</a></td>
                        </tr>
                    <?php endforeach ?>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>