<div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="title-block clearfix">
            <h3 class="h3-body-title uny">Requerimento N°: <?php echo $this->retorno['id_ocorrencia']; ?></h3>

            <div class="title-seperator"></div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <strong>Status:</strong>  <?php echo $this->retorno['st_evolucao']; ?>
            </div>
            <div class="col-md-6">
                <strong>N°
                    Rastreio:</strong> <?php echo $this->retorno['st_codigorastreio'] ? $this->retorno['st_codigorastreio'] : '--'; ?>
            </div>
        </div>

        <div class="requerimento ">
            <div class="row">
                <div class="content_solicitacoes col-md-12">
                    <table class="backgrid table uny table-bordered">
                        <thead>
                        <tr>
                            <th class="sortable renderable">
                                <a>Serviço<b class="sort-caret"></b></a>
                            </th>
                            <th class="sortable renderable">
                                <a>Valor<b class="sort-caret"></b></a>
                            </th>
                            <th class="sortable renderable">
                                <a>Ações</a>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <?php foreach ($this->retorno['produto'] as $value): ?>
                            <tr>
                                <td><?php echo $value['st_produto'] ?></td>
                                <td><?php echo $value['nu_valorproduto']; ?></td>
                                <td>
                                    <?php if ($value['id_formadisponibilizacao'] == G2\Constante\FormaDisponibilizacao::EmissaoOnline): ?>
                                        <a href="/secretaria/geracao/?id_textosistema=<?php echo $value['id_textosistema']; ?>&arrParams[id_matricula]=<?php echo $value['id_matricula']; ?>&type=pdf&filename=Declaracao" target="_blank">
                                            Imprimir
                                        </a>
                                    <?php else: ?>
                                        <?php echo $value['st_situacao']; ?>
                                    <?php endif; ?>
                                </td>
                            </tr>
                        <?php endforeach ?>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
        <div class="col-md-8">
            <a href="/secretaria/requerimento/requerimento">
                <input type="button" id="btnvoltar" value="Voltar" class="button small button-main"/>
            </a>
        </div>

    </div>
</div>