<script type="text/template" id="layout-view-template">
    <div class="accordion" id="accordion2">
        <div class="accordion-group">
            <div class="accordion-heading">
                <a id="aColapseOne" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                    1 - Limite de alunos excedidos
                </a>
            </div>
            <div id="collapseOne" class="accordion-body collapse in">
                <div class="accordion-inner">
                    <div id="limite-alunos-excedidos-region"></div>
                </div>
            </div>
        </div>

        <!--COMENTADO POIS SERA TRABALHADO EM OUTRA HISTORIA, FOI SO PARA ADIANTAR-->

        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                    2 - Vendas sem matrícula geradas
                </a>
            </div>
            <div id="collapseTwo" class="accordion-body collapse">
                <div class="accordion-inner">
                    <div id="venda-sem-matricula-gerada-region"></div>
                </div>
            </div>
        </div>
    </div>
</script>

<!--<script type="text/template" id="formulario-busca">-->

<script type="text/template" id="limite-alunos-excedidos-composite-view">
    <div class="">
        <div class="panel-body">
            <form class="form-inline" name="formPesquisa" method="post" action="">

                <div class="control-group row-fluid">
                    <label class="">Limite de alunos:</label>
                    <div class="controls">
                        <div class="input-append">
                            <input type="number" class="input-limit-percentual-alunos-sala input-mini" value="<%=nu_percentuallimitealunosala%>">
                            <span class="add-on">%</span>
                        </div>
                    </div>
                </div>

                <div class="row-fluid">
                    <div class="control-group span8">
                        <label>Perfis:</label>

                        <div class="controls">
                            <div class="input-append span12">
                                <input type="text" class="span12 input-filtro-perfil" placeholder="Filtrar perfis, insira pelo menos 4 caracteres">
                                <span class="add-on"><i class="icon icon-search"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="control-group span4">
                        <label>Enviar para o E-mail?</label>
                        <div class="controls">
                            <select required="on" name="combo-enviar-email-limit-aluno-sala" class="combo-enviar-email-limit-aluno-sala">
                                <option value="">-- Selecione --</option>
                                <option <%=bl_enviaparaemail == 1 ? 'selected':'' %> value="1">Sim</option>
                                <option <%=bl_enviaparaemail == 0 ? 'selected':'' %> value="0">Não</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row-fluid">
                    <div class="span8" style="overflow: auto; max-height: 200px;">
                        <table class="table table-bordered backgrid table-condensed table-hover">
                            <thead>
                            <th>#</th>
                            <th>Nome do Perfil</th>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                    <div class="span4" style="margin-bottom: 3px;">
                        <button type="reset" id="btn-cancelar-notificacao-limit-aluno-sala" class="btn btn-danger">Cancelar</button>
                        <button type="button" id="btn-salvar-notificacao-limit-aluno-sala" class="btn btn-success">Salvar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</script>

<!--COMENTADO POIS SERA TRABALHADO EM OUTRA HISTORIA, FOI SO PARA ADIANTAR-->

<script type="text/template" id="venda-sem-matricula-geradas-composite-view">
    <div class="">
        <div class="panel-body">
            <div class="row-fluid">
                <div class="control-group span8">
                    <label>Perfis:</label>

                    <div class="controls">
                        <div class="input-append span12">
                            <input type="text" class="span12">
                            <span class="add-on"><i class="icon icon-search"></i></span>
                        </div>
                    </div>
                </div>
                <div class="control-group span4">
                    <label>Enviar para o E-mail?</label>

                    <div class="controls">
                        <select class="combo-enviar-email-contrato-sem-matricula">
                            <option>-- Selecione --</option>
                            <option value="1">Sim</option>
                            <option value="0">Não</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span8" style="overflow: auto; max-height: 200px;">
                    <table class="table table-bordered backgrid table-condensed table-hover">
                        <thead>
                        <th>#</th>
                        <th>Nome do Perfil</th>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
                <div class="span4" style="margin-bottom: 3px;">
                    <button id="btn-cancelar-contrato-sem-matricula" class="btn btn-danger">Cancelar</button>
                    <button id="btn-salvar-contrato-sem-matricula" class="btn btn-success">Salvar</button>
                </div>
            </div>
        </div>
    </div>
</script>
<script type="text/template" id="tpl-item-view-limite-alunos-excedidos">
    <td><input <%=id_notificacaoentidadeperfil && id_entidade == G2S.loggedUser.get('id_entidade') ? 'checked':''%> type="checkbox"></td>
    <td><%=st_nomeperfil%></td>
</script>

<!--<script type="text/javascript" src="/js/backbone/views/Util/SelectView.js"></script>-->
<script type="text/javascript">$('#htmlContent script[type="text/template"]').appendTo($('#templateHolder'));</script>
<script type="text/javascript"><?php echo $this->render('/organizacao/notificacoes.js') ?></script>
