<script type="text/template" id="template-assunto-co">
    <div class="container-form well well-large ">
        <div class="row-fluid">
            <div class="control-group">
                <div id="form-combo-tipo-ocorrencia" class="form-inline span8">
                    <label class="control-label span5">
                        <span>Tipo de interessado: </span>
                        <select id="id-tipo-interessado-select" class="template-tipo-interessado-select span4"></select>
                    </label>
                </div>
                <div class="pull-right span4">
                    <button class="btn-custom btn pull-right" type="button" id="btnAddNew" name="btnAddNew"><i class='icon icon-white icon-plus'></i>Adicionar</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row-fluid" id="container-table"></div>
</script>

<!-- cadastro de assunto e subassunto -->
<script type="text/template" id="assunto">
    <form class="form" role="form" action="" method="post" id="form-assuntoco" name="form-assuntoco"
          xmlns="http://www.w3.org/1999/html" onsubmit="return false">
        <div class="well well-large">
            <legend>Dados Gerais</legend>
            <div class="row-fluid">
                <div class="control-group">
                    <div class="span9">
                        <label>Título</label>
                        <input id="st_assuntoco" name="st_assuntoco" type="text" autocomplete="off" required class="span12" value="<%=st_assuntoco%>">
                    </div>
                    <div class="span3">
                        <label for="selectSituacao">Situação: </label>
                        <select class="span12 combobox" name="category" id="selectSituacao">
                            <option value="91" <%=(id_situacao == 91 ? "selected": "")%>>ATIVA</option>
                            <option value="92" <%=(id_situacao == 92 ? "selected": "")%>>INATIVA</option>
                        </select>
                    </div>
                </div>

                <% if(id_assuntocopai) {%>
                <div class="control-group">
                    <div class="span12">
                        <label>Assunto</label>
                        <input id="st_assuntocopai" name="st_assuntocopai" type="text" disabled class="span12" value="<%=st_assuntocopai%>">
                    </div>
                </div>
                <% } %>

                <div class="control-group">

                    <div class="span3">
                        <label for="selectTipoInteressado">Tipo Interessado: </label>
                        <select class="span12 combobox" name="tipointeressado" id="selectTipoInteressado" required>
                            <option value="" >SELECIONE</option>
                            <option value="1" <%=(id_tipoocorrencia == 1 ? "selected": "")%>>Aluno</option>
                            <option value="2" <%=(id_tipoocorrencia == 2 ? "selected": "")%>>Tutor</option>
                            <option value="3" <%=(id_tipoocorrencia == 3 ? "selected": "")%>>Interno</option>
                        </select>
                    </div>
                    <% if(id_assuntocopai) {%>
                         <div class="span6" id="form-texto-sistema">
                                <label for="selectTextoSistema">Texto: </label>
                                <select class="span12 combobox" name="id_textosistema" id="selectTextoSistema">
                                    <option value="0" >SELECIONE</option>
                                </select>
                        </div>
                     <% } %>
                    
                    <% if(id_assuntocopai) {%>
                        <div class="span3">
                            <label for="selectCategoriaAssunto">Categoria: </label>
                            <select class="span12 combobox" name="categoriaassunto" id="selectCategoriaAssunto" >
                            </select>
                        </div>
                    <% } %>
                </div>

                <div class="span2">
                    <label class="ck_assunto" data-placement="top" data-original-title="" data-trigger="hover" data-content="Assunto e Subassunto não visível ao aluno." data-toggle="popover">
                        <input type="checkbox" value="" <%=(bl_interno == true ? "checked":"")%> id="bl_interno" name="bl_interno" class="bl_interno"/> Interno </label>
                </div>

                <% if(id_assuntocopai) {%>
                <div class="control-group">
                <div class="span2">
                    <label class="ck_assunto" data-placement="top" data-original-title="" data-trigger="hover" data-content="As ocorrências serão automaticamente atribuídas ao responsável titular do assunto." data-toggle="popover">
                        <input  type="checkbox" value="" <%=(bl_autodistribuicao == true ? "checked":"")%> id="bl_autodistribuicao" name="bl_autodistribuicao"/>Distribuição Automática
                    </label>
                </div>
                <div class="span2">
                    <label class="ck_assunto" data-placement="top" data-original-title="" data-trigger="hover" data-content="Permite que os interessados abram ocorrências com esse Sub Assunto." data-toggle="popover">
                        <input  type="checkbox" value="" <%=(bl_abertura == true ? "checked":"")%> id="bl_abertura" name="bl_abertura"/> Permitir Abertura </label>
                </div>
                <div class="span2">
                    <label class="ck_assunto" data-placement="top" data-original-title="" data-trigger="hover" data-content="Ocorrências relacionadas ao cancelamento de uma matrícula." data-toggle="popover">
                        <input  type="checkbox" value="" <%=(bl_cancelamento == true ? "checked":"")%> id="bl_cancelamento" name="bl_cancelamento"/> Cancelamento </label>
                </div>
                <div class="span2">
                    <label class="ck_assunto" data-placement="top" data-original-title="" data-trigger="hover" data-content="Ocorrências relacionadas ao trancamento de uma matrícula." data-toggle="popover">
                        <input type="checkbox" value="" <%=(bl_trancamento == true ? "checked":"")%> id="bl_trancamento" name="bl_trancamento"/> Trancamento </label>
                </div>

                <div class="span2">
                    <label class="ck_assunto" data-placement="top" data-original-title="" data-trigger="hover" data-content="Assunto e Subassunto não visível ao aluno." data-toggle="popover">
                        <input type="checkbox" value="" <%=(bl_recuperacao_resgate == true ? "checked":"")%> id="bl_recuperacao_resgate" name="bl_recuperacao_resgate"/> Recuperação/Resgate </label>
                </div>
            </div>
                <% } %>
            </div>
        </div>
        <div class="well well-large">
            <fieldset>
                <legend>Organizações</legend>
                </br>
                <div id="entidades"></div>
            </fieldset>
        </div>
        <div class="well well-large">
            <div class="row-fluid">
                <div class="control-group span12">
                    <div class="pull-right">
                        <a class="btn btn-custom" id="btn-voltar"><i class="icon icon-arrow-left icon-white"></i> Voltar</a>
                        <button type="submit" class="btn btn-primary" id="btn-salvar"><i class="icon icon-ok icon-white"></i> Salvar</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</script>

<script type="text/javascript"> $('#htmlContent script[type="text/template"]').appendTo($('#templateHolder'));</script>
<script type="text/javascript" src="<?php echo $this->url() ?>/js"></script>

