<script id="pesquisa-view" type="text/template">
    <form method="post" id="frm-find-pauta" name="frm-find-pauta">
        <div class="well">
            <fieldset>
                <legend>Pauta de Alunos</legend>

                <div class="row-fluid">
                    <label class="span4">
                        Período Letivo:
                        <select class="span12" name="id_periodoletivo" required>
                            <option value="">Carregando...</option>
                        </select>
                    </label>
                    <label class="span4">
                        Disciplina:
                        <select class="span12" name="id_disciplina" required>
                            <option value="">Aguarde...</option>
                        </select>
                    </label>
                    <label class="span4">
                        Curso
                        <select class="span12" name="id_projetopedagogico">
                            <option value="">Aguarde...</option>
                        </select>
                    </label>
                </div>
                <div class="text-right">
                    <button class="btn btn-custom text-right" type="submit">
                        <i class="icon icon-white icon-search"></i>
                        Pesquisar
                    </button>
                </div>
            </fieldset>
        </div>
    </form>
    <div id="content-lista"></div>
</script>

<div class="global-content">
    <div id="search-content"></div>
    <div id="results-content"></div>
</div>

<script type="text/javascript"> $('#htmlContent script[type="text/template"]').appendTo($('#templateHolder'));</script>
<script type="text/javascript" src="/pauta-alunos/js"></script>