<html>
<head>
    <meta http-equiv=Content-Type content="text/html; charset=utf-8">
    <style>
        @page {
            size: A4;
        }

        .table {
            width: 100%;
            margin-bottom: 10px;
        }

        .table th,
        .table tbody tr td,
        .table tfoot tr td {
            padding: 3px;
            height: 30px;
            vertical-align: middle;
            border: 1px solid #000;
            width: 50% !important;
        }

        .table thead tr {
            border: 1px solid #000;
        }

        .table thead tr th {
            background-color: #FFFFff;
            color: #000000;
            text-align: center !important;
            border: 1px solid #FFFFff;
            /* border: none;*/
        }

        .quebrapagina {
            page-break-after: always;
        }

        .text-error {
            color: #ee1414;
        }

    </style>
</head>
<body>
<script type='text/php'>
      if ( isset($pdf) ) {
        $font = Font_Metrics::get_font('helvetica', 'normal');
        $size = 9;
        $y = $pdf->get_height() - 24;
        $x = $pdf->get_width() - 15 - Font_Metrics::get_text_width('1/1',
$font, $size);
        $pdf->page_text($x, $y, '{PAGE_NUM}/{PAGE_COUNT}', $font, $size);
      }

</script>
<div>
    <?php
    if (count($this->dados) == 0):?>

        <table class="table">
            <thead>
            <tr>
                <th colspan="3" style="text-align: center;">
                    <h1>Pauta de Alunos</h1>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td colspan="3"><h1>Nenhum aluno para listar</h1></td>
            </tr>
            </tbody>
            <tfoot>
            </tfoot>
        </table>

    <?php elseif (is_array($this->dados)):
        foreach ($this->tipo as $chave => $tipo):
            if ($chave) { ?>
                <div class="quebrapagina"></div>
            <?php }

            foreach ($this->dados as $key => $arr):
                if ($key) { ?>
                    <div class="quebrapagina"></div>
                <?php }
                ?>


                <table class="table table-striped table-bordered ">
                    <thead>
                    <tr>
                        <th colspan="2" style="border: 1px solid #050505; margin-
right: 10px !important;">
                            <div style="float: right;">AVM Faculdade Integrada - <?=
                                $this->st_nomeentidade; ?></div>
                            <br>

                            <div style="margin-right: 5px !important; float: right;
max-width: 100%;"><?= $arr['st_projetopedagogico']; ?></div>

                        </th>
                    </tr>
                    <tr>
                        <th class=""><b>Prof(a): </b> <?= $arr['st_professor']; ?>  </th>
                        <th><b>Dia: </b> <?= ($this->pdf ? $this->dataPdf : ''); ?> </th>
                    </tr>
                    <tr>
                        <th colspan="2" align="center" style="border: 1px solid  #050505;" class="text-error">
                            <b><?= $tipo; ?> - <?= $arr['st_disciplina'];
                                ?> </b></th>
                    </tr>
                    <tr>
                        <th style="border: 1px solid #050505;">Nome</th>
                        <th style="border: 1px solid #050505;">Rubrica</th>
                    </tr>
                    </thead>
                    <tbody>
                    <?php foreach ($arr['alunos'] as $aluno): ?>
                        <tr>
                            <td> <?= $aluno['st_aluno']; ?></td>
                            <td>____________________________________________</td>
                        </tr>
                    <?php endforeach ?>
                    <tr>
                        <td colspan="2" align="left">
                            Total: <?php echo count($arr['alunos']); ?>
                        </td>
                    </tr>
                    </tbody>

                </table>

                <?php
            endforeach;
        endforeach;
    endif; ?>
</div>
</body>
</html>

