<div>
    <?php if ($this->dados) :

    ?>
    <div class="row-fluid">
        <div class="well span12">
            <div class="span4">
                <label>
                    Tipo de lista: <br>
                </label>

                <div class="form-inline">
                    <label class="checkbox">
                        <input type="checkbox" checked value="1" name="bl_avaliacao" id="bl_avaliacao"> Avaliação
                    </label>
                    &nbsp;
                    &nbsp;
                    <label class="checkbox">
                        <input type="checkbox" checked value="1" name="bl_presencial" id="bl_presencial"> Encontro
                        Presencial
                    </label>
                </div>

            </div>
            <div class="span3">
                <label>Data:</label>
                <input class="span6 datepicker" type="text" id="data_pdf" name="data_pdf"/>
            </div>
            <div class="span5 text-right">
                <label>&nbsp;</label>
                <a class="btn btn-custom" id="gerar-pdf">Gerar PDF</a>
            </div>
        </div>
    </div>
    <div class="row-fluid">
        <?php

        foreach ($this->dados as $arr):
            ?>

            <table class="backgrid backgrid-selectall table table-striped table-bordered table-hover">
                <thead>
                <tr>
                    <th>
                        <img src="/upload/entidade/<?= $this->id_entidade; ?>.png">
                    </th>
                    <th>
                        AVM Faculdade Integrada - <?= $this->st_nomeentidade; ?>
                        <br>
                        <?= $arr['st_projetopedagogico']; ?>
                    </th>
                </tr>
                <tr>
                    <th><b>Prof(a): </b> <?= $arr['st_professor']; ?></th>
                    <th><b>Dia: </b> <?= ($this->pdf ? $this->dataPdf : ''); ?></th>
                </tr>
                <tr>
                    <th colspan="2"><h5 class="text-center"> <?= $arr['st_disciplina']; ?> </h5></th>
                </tr>
                <tr>
                    <th>Nome</th>
                    <th>Rubrica</th>
                </tr>
                </thead>
                <tbody>
                <?php foreach ($arr['alunos'] as $aluno): ?>
                    <tr>
                        <td> <?= $aluno['st_aluno']; ?></td>
                        <td>_____________________________________________________________</td>
                    </tr>
                <?php endforeach ?>
                <tr>
                    <td colspan="2" class="text-left">
                        Total: <?php echo count($arr['alunos']); ?>
                    </td>
                </tr>
                </tbody>
            </table>
            <?php
        endforeach;
        echo '</div>';
        else : ?>
            <div class="well text-center">
                <div class="alert">
                    <strong>Aviso!</strong> Nenhum aluno encontrado.
                </div>
            </div>
        <?php endif; ?>
    </div>



