<html>
<head>
    <title>Ficha de Matrícula</title>
    <meta charset="utf-8">
    <style type="text/css" >

        body {
            text-align:center;
            font-family: Arial,Helvetica,sans-serif;
            font-size: 11px;
        }
        #body {
            width:690px;
        }

        table {
            color: #000000;
            font-family: Verdana,Arial,Helvetica,sans-serif;
            font-size: 10px;
            font-weight: normal;
        }

        * {
            text-transform:uppercase
        }
        .mininomecampo{
            font-size: 9px;
            font-weight:bold;
            height: 10px;
            color:#666666;
        }
        .ficha{
            font-size: 12px;
            font-weight:bold;
            width: 100%;
            padding:3px;
            margin-top:15px;
        }
        .bordatop_l {
            border-top:1px solid #333333;
            border-left:1px solid #333333;
        }
        .bordatop_l_r {
            border-top:1px solid #333333;
            border-left:1px solid #333333;
            border-right:1px solid #333333;
        }
        .borda_l {
            border-left:1px solid #333333;
        }
        .borda_l_r {
            border-left:1px solid #333333;
            border-right:1px solid #333333;
        }
        .borderbot_l {
            border-bottom:1px solid #333333;
            border-left:1px solid #333333;
        }
        .bordabot_l_r {
            border-bottom:1px solid #333333;
            border-left:1px solid #333333;
            border-right:1px solid #333333;
            padding:2px;
        }
        #ficha {
            text-align:right;
            font-size:22px;
            font-weight:bolder;
            margin-top:5px;
        }
        #div_contrato{
            font-size: 22px;
            font-weight: bolder;
            margin-top: 5px;
            text-align: left;
            float: left;
        }

    </style>
</head>
<body onLoad="window.print();">
<div id="body">
<div id="ficha">Ficha de Matr&iacute;cula<br><span class="mininomecampo">Todos os campos da ficha de<br>matr&iacute;cula s&atilde;o obrigat&oacute;rios.</span></div>
<div > <font style=' font-size: 36px; font-weight:bolder; text-transform: uppercase' ><?=$this->en['st_nomeentidade'] ?></font></div>
<div align="left">
    <b style="font-weight: bolder; font-size: 13px">Venda G2: <?=$this->cv['id_venda'] ?></b><br><br>
    <b>Dados do Aluno</b><br>
    Origem: <?=$this->cv['st_origemvenda'] ?>
</div>

<table border="0" cellspacing="0" cellpadding="0" class="ficha" align="center">
    <tr class="mininomecampo">
        <td class="bordatop_l" colspan="2">Nome Completo</td>
        <td class="bordatop_l_r">Data da Solicita&ccedil;&atilde;o</td>
    </tr>
    <tr height="22px;" valign="bottom">
        <td class="borderbot_l" colspan="2"><?=$this->cv['st_nomecompleto'] ?></td>
        <td class="bordabot_l_r"><?=$this->cv['dt_cadastro'] ?>&nbsp;</td>
    </tr>
    <tr class="mininomecampo">
        <td class="borda_l">Profiss&atilde;o / Cargo / Fun&ccedil;&atilde;o</td>
        <td class="borda_l">Local de trabalho</td>
        <td class="borda_l_r">Data de Confirmação da Venda</td>
    </tr>
    <tr height="22px;" valign="bottom">
        <td class="borderbot_l"><?=$this->pe['st_cargo'] ?>&nbsp;</td>
        <td class="borderbot_l"><?=$this->pe['st_organizacao'] ?>&nbsp;</td>
        <td class="bordabot_l_r"><?=$this->cv['dt_confirmacao'] ?>&nbsp;</td>
    </tr>
    <tr class="mininomecampo">
        <td class="borda_l" width="33%">CPF</td>
        <td class="borda_l" width="33%">Identidade - &Oacute;rg&atilde;o Emissor</td>
        <td class="borda_l_r">Sexo</td>
    </tr>
    <tr height="22px;" valign="bottom">
        <td class="borderbot_l"><?=$this->pe['st_cpf'] ?>&nbsp;</td>
        <td class="borderbot_l"><?=$this->pe['st_rg'] ?>&nbsp;</td>
        <td class="bordabot_l_r"><?=($this->pe['st_sexo']=='F' ? 'Feminino' : 'Masculino') ?>&nbsp;</td>
    </tr>
    <tr class="mininomecampo">
        <td class="borda_l">Nome da M&atilde;e</td>
        <td class="borda_l">Nome do Pai</td>
        <td class="borda_l_r" width="33%">Naturalidade</td>

    </tr>
    <tr height="22px;" valign="bottom">
        <td class="borderbot_l"><?=$this->pe['st_nomemae'] ?>&nbsp;</td>
        <td class="borderbot_l"><?=$this->pe['st_nomepai'] ?>&nbsp;</td>
        <td class="bordabot_l_r"><?=$this->pe['st_cidadenascimento'].'/'.$this->pe['sg_ufnascimento'] ?>&nbsp;</td>
    </tr>

    <tr class="mininomecampo">
        <td class="borda_l" colspan="2">Endere&ccedil;o completo (Rua, avenida, pra&ccedil;a, etc.)</td>
        <td class="borda_l_r">Data de Nascimento</td>
    </tr>
    <tr height="22px;" valign="bottom">
        <td class="borderbot_l" colspan="2"><?=$this->pe['st_endereco'] ?>, <?=$this->pe['nu_numero'] ?>&nbsp;-&nbsp;<?=$this->pe['st_complemento'] ?>&nbsp;</td>
        <td class="bordabot_l_r"><?=substr($this->pe['dt_nascimento'], 0 , 10) ?>&nbsp;</td>
    </tr>
    <tr class="mininomecampo">
        <td class="borda_l">Bairro</td>
        <td class="borda_l">Cidade/UF</td>
        <td class="borda_l_r">CEP</td>
    </tr>
    <tr height="22px;" valign="bottom">
        <td class="borderbot_l"><?=$this->pe['st_bairro'] ?>&nbsp;</td>
        <td class="borderbot_l"><?=$this->pe['st_cidade'] ?>/<?=$this->pe['sg_uf'] ?>&nbsp;</td>
        <td class="bordabot_l_r"><?=$this->pe['st_cep'] ?>&nbsp;</td>
    </tr>
    <tr class="mininomecampo">
        <td class="borda_l">DDD - Telefone Principal</td>
        <td class="borda_l">Telefone Principal tipo</td>
        <td class="borda_l_r">Correio Eletr&ocirc;nico (E-mail)</td>
    </tr>
    <tr height="22px;" valign="bottom">
        <td class="borderbot_l">
            <?php
                if(isset($this->pe['telefones']['celular']) && $this->pe['telefones']['celular']['bl_padrao']){
                    echo $this->pe['telefones']['celular']['nu_ddd'] ?> - <?= $this->pe['telefones']['celular']['nu_telefone'];
                }elseif(isset($this->pe['telefones']['comercial']) && $this->pe['telefones']['comercial']['bl_padrao']){
                    echo $this->pe['telefones']['comercial']['nu_ddd'] ?> - <?= $this->pe['telefones']['comercial']['nu_telefone'];
                }elseif(isset($this->pe['telefones']['residencial']) && $this->pe['telefones']['residencial']['bl_padrao']){
                    echo $this->pe['telefones']['residencial']['nu_ddd'] ?> - <?= $this->pe['telefones']['residencial']['nu_telefone'];
                }
            ?>
        </td>
        <td class="borderbot_l">
            <?php
                if(isset($this->pe['telefones']['celular']) && $this->pe['telefones']['celular']['bl_padrao']){
                    echo $this->pe['telefones']['celular']['st_tipotelefone'];
                }elseif(isset($this->pe['telefones']['comercial']) && $this->pe['telefones']['comercial']['bl_padrao']){
                    echo $this->pe['telefones']['comercial']['st_tipotelefone'];
                }elseif(isset($this->pe['telefones']['residencial']) && $this->pe['telefones']['residencial']['bl_padrao']){
                    echo $this->pe['telefones']['residencial']['st_tipotelefone'];
                }
            ?>
            &nbsp;
        </td>
        <td class="borda_l_r"><?=$this->pe['st_email'] ?>&nbsp;</td>
    </tr>
    <tr class="mininomecampo">
        <td class="borda_l">DDD - Telefone Secundário</td>
        <td class="borda_l">Telefone Secundário tipo</td>
        <td class="borda_l_r"></td>
    </tr>
    <tr height="22px;" valign="bottom">
        <td class="borderbot_l">
            <?php
                if(isset($this->pe['telefones']['celular']) && !$this->pe['telefones']['celular']['bl_padrao']){
                    echo $this->pe['telefones']['celular']['nu_ddd'] ?> - <?= $this->pe['telefones']['celular']['nu_telefone'];
                }elseif(isset($this->pe['telefones']['comercial']) && !$this->pe['telefones']['comercial']['bl_padrao']){
                    echo $this->pe['telefones']['comercial']['nu_ddd'] ?> - <?= $this->pe['telefones']['comercial']['nu_telefone'];
                }elseif(isset($this->pe['telefones']['residencial']) && !$this->pe['telefones']['residencial']['bl_padrao']){
                    echo $this->pe['telefones']['residencial']['nu_ddd'] ?> - <?= $this->pe['telefones']['residencial']['nu_telefone'];
                }
            ?>
            &nbsp;</td>
        <td class="borderbot_l">
            <?php
                if(isset($this->pe['telefones']['celular']) && !$this->pe['telefones']['celular']['bl_padrao']){
                    echo $this->pe['telefones']['celular']['st_tipotelefone'];
                }elseif(isset($this->pe['telefones']['comercial']) && !$this->pe['telefones']['comercial']['bl_padrao']){
                    echo $this->pe['telefones']['comercial']['st_tipotelefone'];
                }elseif(isset($this->pe['telefones']['residencial']) && !$this->pe['telefones']['residencial']['bl_padrao']){
                    echo $this->pe['telefones']['residencial']['st_tipotelefone'];
                }
            ?>&nbsp;</td>
        <td class="bordabot_l_r">&nbsp;</td>
    </tr>
    <tr class="mininomecampo">
        <td class="borda_l_r" colspan="3">Graduado no curso de</td>
    </tr>
    <tr height="22px;" valign="bottom">
        <td class="bordabot_l_r" colspan="3"><?=$this->pe['st_curso']?>&nbsp;</td>
    </tr>
    <tr class="mininomecampo">
        <td class="borda_l_r" colspan="3">Institui&ccedil;&atilde;o de Ensino onde concluiu a gradua&ccedil;&atilde;o &nbsp;</td>
    </tr>
    <tr height="22px;" valign="bottom">
        <td class="bordabot_l_r" colspan="3"><?=$this->pe['st_nomeinstituicao']?>&nbsp;</td>
    </tr>
    <tr class="mininomecampo">
        <td class="borda_l_r" colspan="3"> Previs&atilde;o de Turma: &nbsp;</td>
    </tr >

    <tr height="22px;" valign="bottom">
        <td class="bordabot_l_r" colspan="3">
            <?=$this->cv['produtos'][0]['dt_inicio'] ?>
            &nbsp;
        </td>
    </tr>

    <tr class="mininomecampo">
        <td class="borda_l">Valor do Curso</td>
        <td class="borda_l">Desconto concedido</td>
        <td class="borda_l_r">Valor final</td>
    </tr>
    <tr height="22px;" valign="bottom">
        <td class="borderbot_l">R$: <?=number_format($this->cv['nu_valorbruto'], 2, ',', '.') ?>&nbsp;</td>
        <td class="borderbot_l">R$: <?=number_format(($this->cv['nu_valorbruto']-$this->cv['nu_valorliquido']), 2, ',', '.') ?>&nbsp;</td>
        <td class="bordabot_l_r">R$: <?=number_format($this->cv['nu_valorliquido'], 2, ',', '.') ?>&nbsp;</td>
    </tr>
    <tr class="mininomecampo">
        <td class="borda_l_r" colspan="3">Produtos
            <table border="0" cellspacing="0" cellpadding="0" class="ficha">
                <tr>
                    <td class="bordatop_l borderbot_l" align='center'>Produto</td>
                    <td class="bordatop_l borderbot_l" align='center'>Campanha</td>
                    <td class="bordatop_l_r borderbot_l" align='center'>Valor</td>
                    <td class="bordatop_l_r borderbot_l" align='center'>Valor Líquido</td>
                </tr>
                <?
                if($this->cv['produtos']){
                  foreach($this->cv['produtos'] as $produto){ ?>
                      <tr>
                          <td class="borderbot_l" align='center'><?=$produto['st_produto'] ?></td>
                          <td class="borderbot_l" align='center'><?=$produto['st_campanhacomercial'] ?>&nbsp;</td>
                          <td class="borderbot_l" align='center'>R$: <?=number_format($produto['nu_valorbruto'], 2, ',', '.') ?></td>
                          <td class="borderbot_l borda_l_r" align='center'>R$: <?=number_format($produto['nu_valorliquido'], 2, ',', '.') ?></td>
                      </tr>
                <?  }
                }
                ?>
            </table>

        </td>
    </tr>
    <tr class="mininomecampo">
        <td class="borda_l_r" colspan="3">Forma de Pagamento
            <table border="0" cellspacing="0" cellpadding="0" class="ficha">
                <tr>
                    <td class="bordatop_l borderbot_l" align='center'>Forma de Pagamento</td>
                    <td class="bordatop_l borderbot_l" align='center'>Valor</td>
                    <td class="bordatop_l_r borderbot_l" align='center'>Valor Pago</td>
                </tr>
                <?
                if($this->cv['lancamentos']){
                  foreach($this->cv['lancamentos'] as $lancamento){ ?>
                      <tr>
                          <td class="borderbot_l" align='center'><?=$lancamento['st_meiopagamento'] ?></td>
                          <td class="borderbot_l" align='center'>R$: <?=number_format($lancamento['nu_valor'], 2, ',', '.') ?></td>
                          <td class="borderbot_l borda_l_r" align='center'>R$: <?=number_format($lancamento['nu_quitado'], 2, ',', '.') ?></td>
                      </tr>
                <?  }
                }
                ?>
            </table>

        </td>
    </tr>

    <tr class="mininomecampo">
        <td class="borda_l_r" colspan="3">Núcleo de Telemarketing</td>
    </tr>
    <tr height="22px;" valign="bottom">
        <td class="bordabot_l_r" colspan="3" style="border-bottom:none;">
&nbsp;
        </td>
    </tr>
    <tr class="mininomecampo">
        <td class="bordatop_l">Atendente&nbsp;</td>
        <td class="bordatop_l">Código Promocional&nbsp;</td>
        <td class="bordatop_l_r">&Uacute;ltima Atualiza&ccedil;&atilde;o</td>
    </tr>
    <tr height="22px;" valign="bottom">
        <td class="borderbot_l"><?=$this->cv['id_atendente'] . ' - ' . $this->cv['st_atendente']?>&nbsp;</td>
        <td class="borderbot_l">&nbsp;</td>
        <td class="bordabot_l_r">&nbsp;</td>
    </tr>
</table>

<table cellpadding="5" cellspacing="0" border="0" width="100%" height="250px;">
    <tr>
        <td width="49%" align="center">

            <table cellpadding="5" cellspacing="0" border="0" width="100%" style="border: 1px solid #000000" height="115">
                <tr>
                    <td align="center" height="15"><b>N&Uacute;CLEO ACAD&Ecirc;MICO</b></td>
                </tr>
                <tr>
                    <td height="50" valign="bottom" align="center">____________________________________________</td>
                </tr>
                <tr>
                    <td height="50" valign="bottom">Data: _________/_________/_________</td>
                </tr>
            </table>

        </td>
        <td width="49%" align="center">

            <table cellpadding="5" cellspacing="0" border="0" width="100%" style="border: 1px solid #000000" height="115">
                <tr>
                    <td align="center" height="15"><b>AUTORIZA&Ccedil;&Atilde;O</b></td>
                </tr>
                <tr>
                    <td height="50" valign="bottom" align="center">____________________________________________</td>
                </tr>
                <tr>
                    <td height="50" valign="bottom">Data: _________/_________/_________</td>
                </tr>
            </table>

        </td>
    </tr>
</table>

<table border="0" cellspacing="0" cellpadding="0" class="ficha" align="center">
    <tr class="mininomecampo">
        <td class="bordatop_l" colspan="2">Nome Completo</td>
        <td class="bordatop_l_r">Data da Solicitação</td>
    </tr>
    <tr height="22px;" valign="bottom">
        <td class="borderbot_l" colspan="2"><?=$this->cv['st_nomecompleto'] ?></td>
        <td class="bordabot_l_r"><?=$this->cv['dt_cadastro'] ?>&nbsp;</td>
    </tr>
    <tr class="mininomecampo">
        <td class="borda_l" colspan="1">Atendente&nbsp;</td>
        <td class="borda_l" colspan="1">Código Promocional&nbsp;</td>
        <td class="borda_l_r">Última Atualização</td>
    </tr>
    <tr height="22px;" valign="bottom">
        <td class="borderbot_l" colspan="1"><?=$this->cv['id_atendente'] . ' - ' . $this->cv['st_atendente']?>&nbsp;</td>
        <td class="borderbot_l" colspan="1">&nbsp;</td>
        <td class="bordabot_l_r">&nbsp;</td>
    </tr>
</table>
<table cellpadding="5" cellspacing="0" border="0" width="100%">
    <tr><td colspan="2"><strong>Solicito matr&iacute;cula no(s) seguinte(s) curso(s):</strong></td></tr>
    <? if($this->cv['produtos']){
           foreach($this->cv['produtos'] as $produto){ ?>
    <tr>
        <td width="10%" align="center">

            <table cellspacing="0" border="0" width="15px" style="border: 1px solid #000000; height:10px; ">
                <tr>
                    <td>&nbsp;</td>
                </tr>
            </table>

        </td>
        <td width="90%" style="border-bottom: 1px solid #000000"><?=$produto['id_projetopedagogico'].' - '.$produto['st_projetopedagogico']?></td>
    </tr>
           <?     }
    }?>
    <tr>
        <td width="10%" align="center">
            <table cellspacing="0" border="0" width="15px" style="border: 1px solid #000000; height: 10px;">
                <tr>
                    <td>&nbsp;</td>
                </tr>
            </table>
        </td>
        <td width="90%" align="center" style="border-bottom: 1px solid #000000">&nbsp;</td>
    </tr>
    <tr>
        <td width="10%" align="center">
            <table cellspacing="0" border="0" width="15px" style="border: 1px solid #000000" height="10px">
                <tr>
                    <td>&nbsp;</td>
                </tr>
            </table>
        </td>
        <td width="90%" align="center" style="border-bottom: 1px solid #000000">&nbsp;</td>
    </tr>
    <tr>
        <td width="10%" align="center">
            <table cellspacing="0" border="0" width="15px" style="border: 1px solid #000000" height="10px">
                <tr>
                    <td>&nbsp;</td>
                </tr>
            </table>
        </td>
        <td width="90%" align="center" style="border-bottom: 1px solid #000000">&nbsp;</td>
    </tr>
</table>

<table><tr><td></td></tr><tr><td></td></tr></table>

<table cellpadding="5" cellspacing="0" border="0" width="100%" style="border: 1px solid #000000" height="123">
    <tr>
        <td align="left" valign="top">
            <span  class="mininomecampo">Interações</span>
            <table cellpadding="5" cellspacing="0" border="0" width="100%">
                <? if($this->in) {
                    foreach($this->in as $tramite){ ?>
                <tr style="">
                    <td valign="top"><?=$tramite['dt_cadastro']?></td>
                    <td valign="top"><?=$tramite['st_tramite']?></td>
                    <td valign="top"><?=utf8_encode($tramite['st_tipotramite'])?></td>
                    <td valign="top"><?=$tramite['st_nomecompleto']?></td>
                </tr>
                <? }
                } ?>
            </table>

        </td>
    </tr>
</table>

</div>
</body>
</html>