<html>
<head>
    <link type="text/css" rel="stylesheet" href="http://<?php echo URL_APP ?>/css/diplomacao/historico.css"/>
</head>
<body>

<header>
    <h1>
        HISTÓRICO ESCOLAR
    </h1>
</header>

<footer class="no-bold">
    Recredenciada pela PORTARIA nº 721, de 20/07/2016 - DOU 21/07/2016
    <br/>
    CNPJ 24.531.339/0001-82
</footer>

<section>
    <table class="tabela-grid">

        <tr>
            <td colspan="8">
                NOME: #nome_aluno#
            </td>
            <td colspan="4">
                CPF.: #cpf_aluno#
            </td>
        </tr>

        <tr>
            <td colspan="12"></td>
        </tr>

        <tr>
            <th colspan="12">
                FILIAÇÃO
            </th>
        </tr>
        <tr>
            <td colspan="6">
                PAI: #nome_pai#
            </td>
            <td colspan="6">
                MÃE: #nome_mae#
            </td>
        </tr>

        <tr>
            <th colspan="4">
                DATA DE NASCIMENTO
            </th>
            <th colspan="4">
                NATURALIDADE
            </th>
            <th colspan="4">
                NACIONALIDADE
            </th>
        </tr>
        <tr>
            <td colspan="4">
                #data_nascimento_aluno_DD_MM_AAAA#
            </td>
            <td colspan="4">
                #municipio_nascimento#
            </td>
            <td colspan="4">
                #nacionalidade_aluno#
            </td>
        </tr>

        <tr>
            <th colspan="12">
                DOCUMENTO DE IDENTIDADE
            </th>
        </tr>
        <tr>
            <td colspan="4">
                CARTEIRA Nº: #doc_identificacao_aluno#
            </td>
            <td colspan="4">
                ÓRGÃO EXPEDIDOR: #orgao_expedidor_aluno#
            </td>
            <td colspan="4">
                DATA DE EXPEDIÇÃO: #data_expedicao_aluno_DD_MM_AAAA#
            </td>
        </tr>

        <tr>
            <th colspan="12">
                SERVIÇO MILITAR
            </th>
        </tr>
        <tr>
            <td colspan="4">
                CERTIFICADO Nº: #certificado_reservista#
            </td>
            <td colspan="4">
                DATA DE EXPEDIÇÃO: #data_expedicao_reservista#
            </td>
            <td colspan="4">
                CATEGORIA: #categoria_servico_militar#
            </td>
        </tr>
        <tr>
            <td colspan="12">
                REPARTIÇÃO EXPEDIDORA: #reparticao_expedidora#
            </td>
        </tr>

        <tr>
            <th colspan="12">
                SITUAÇÃO ELEITORAL
            </th>
        </tr>
        <tr>
            <td colspan="4">
                TÍTULO Nº.: 0797984546
            </td>
            <td colspan="2">
                ZONA: 231
            </td>
            <td colspan="2">
                SEÇÃO: 099
            </td>
            <td colspan="4">
                MUNICÍPIO/UF: BRASÍLIA/DF
            </td>
        </tr>

        <tr>
            <th colspan="12">
                ESTUDOS ANTERIORES / ENSINO MÉDIO
            </th>
        </tr>

        <tr>
            <td colspan="12">
                ESTABELECIMENTO: #estabelecimento_conclusao#
            </td>
        </tr>
        <tr>
            <td colspan="6">
                SEDE: #municipio_estabelecimento#
            </td>
            <td colspan="6">
                ANO DE CONCLUSÃO: #ano_conclusao_medio#
            </td>
        </tr>

        <tr>
            <th colspan="12">
                FORMA DE INGRESSO
            </th>
        </tr>
        <tr>
            <!-- CLASS: No bold -->
            <td colspan="12" class="no-bold">
                #forma_ingresso#
            </td>
        </tr>

        <tr>
            <th colspan="12">
                DADOS DO CURSO
            </th>
        </tr>
        <tr>
            <td colspan="12">
                CURSO DE #grau_academico_projeto_upper# EM #nome_projeto_upper#
            </td>
        </tr>
        <tr>
            <td colspan="12">
                RECONHECIMENTO: <span class="no-bold">#reconhecimento_curso#</span>
            </td>
        </tr>
        <tr>
            <td colspan="4">
                CONCLUSÃO DO CURSO: #data_concluinte_DD_MM_AAAA#
            </td>
            <td colspan="4">
                COLAÇÃO DE GRAU: #data_colacao_grau#
            </td>
            <td colspan="4">
                EXPEDIÇÃO DO DIPLOMA: #data_expedicao_diploma#
            </td>
        </tr>

        <tr>
            <th colspan="12">
                OBSERVAÇÕES
            </th>
        </tr>

        <tr>
            <td colspan="12">
                <?php if ($this->id_grauacademico != \G2\Constante\GrauAcademico::SUPERIOR_DE_TECNOLOGIA) : ?>
                    CARGA HORÁRIA DE ATIVIDADES COMPLEMENTARES - #horas_atividades_complementares# HORAS
                    <br/>
                <?php endif; ?>
                COEFICIENTE DE RENDIMENTO ACUMULADO: #cr_acumulado_sem_decimais#
                <br/>
                CARGA HORÁRIA INTEGRALIZADA: #carga_horaria_integralizada# HORAS
                <br/><br/>
                #observacao_historico_escolar#
            </td>
        </tr>
    </table>
</section>

<section>
    <table class="tabela-grid">
        <tr>
            <td colspan="8">
                NOME: #nome_aluno#
            </td>
            <td colspan="4">
                CPF.: #cpf_aluno#
            </td>
        </tr>
        <tr>
            <td colspan="12">
                CURSO DE #grau_academico_projeto_upper# EM #nome_projeto_upper#
            </td>
        </tr>

        <tr>
            <td colspan="12"></td>
        </tr>

    </table>


    <div class="container-historico-escolar">
        #grid_historico_escolar_disciplina#
    </div>

    <br/>

    <table class="tabela-grid">
        <tr>
            <td colspan="8">
                CARGA HORÁRIA TOTAL DO CURSO
            </td>
            <td colspan="4">
                #carga_horaria_projeto#h
            </td>
        </tr>
    </table>


    <div class="local-data no-bold">
        #municipio_entidade_matricula#, #data_atual#
    </div>

    <div class="signature no-border text-center">

        <?php if ($this->origem == 'declaracao') { ?>
                <p>____________________________________</p>
                <small class="no-bold">Secretaria de Graduação</small>
        <?php } else { ?>

        <div class="no-border">
            <b>Adriana da Silva Spinelli</b>
            <small class="no-bold">Secretaria de Graduação</small>
        </div>
        <div class="no-border">
            <b>Engels Iury B. G. do Rego</b>
            <small class="no-bold">Diretor Geral</small>
        </div>

        <?php }; ?>
    </div>
</section>

</body>
</html>