<html>
<head>
    <link type="text/css" rel="stylesheet" href="http://<?php echo URL_APP ?>/css/diplomacao/equivalencia.css?x=<?= rand() ?>"/>
</head>
<body>

<header>
    <h1 class="text-center">
        Quadro de Equivalência de Disciplinas
    </h1>
</header>

<section>
    <div class="dados">
        <table>
            <tr>
                <td>
                    Nome: #nome_aluno#
                </td>
                <td class="text-right">
                    Matrícula: #matricula#
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    Curso: <b>#nome_projeto#</b>
                </td>
            </tr>
        </table>
    </div>
    <div>
        #grid_isencao_disciplina#
    </div>
</section>

</body>
</html>