<html>
<head>
    <link type="text/css" rel="stylesheet" href="http://<?php echo URL_APP ?>/css/diplomacao/diploma.css"/>
</head>
<body>

<section class="paper-front text-center">
    <header>
        <h1>
            DIPLOMA
        </h1>
    </header>

    <div>
        <p>
            O Diretor Geral da Faculdade Unyleya,<br/>
            no uso de suas atribuições e tendo em vista a conclusão do curso de #titulacao_projeto# em
        </p>
        <h2>
            #nome_projeto#,
        </h2>
        <p>
            em #data_concluinte_texto#, confere o título de
            <span class="text-uppercase">#titulacao_diploma# EM #nome_projeto#</span> a
        </p>
        <h2>
            #nome_aluno#
        </h2>
        <p>
            nascido em #data_nascimento_aluno#, nacionalidade #nacionalidade_aluno_pais#,<br/>
            natural de #municipio_nascimento#, e outorga-lhe o presente Diploma,<br/>
            a fim de que possa gozar de todos os direitos e prerrogativas legais.
        </p>

        <br/>

            <em class="text-sm">
                #municipio_entidade_matricula#, <span class="text-lowercase">#data_atual#</span>
            </em>
        </div>

    <div class="signature">
        <div>
            ___________________________<br/>
            <em>Diretor Acadêmico</em>
        </div>
        <div>
            ___________________________<br/>
            <em>Diplomado</em>
        </div>
        <div>
            ___________________________<br/>
            <em>Diretor Geral</em>
        </div>
    </div>
</section>

<section class="paper-back text-sm">
    <div class="description">
        <div class="text-justify">
            <div class="text-center">
                <b>FACULDADE UNYLEYA</b>
                <p class="text-uppercase">CURSO DE #titulacao_projeto# EM #nome_projeto#</p>
            </div>

            <p>
                MINISTRADO PELA FACULDADE UNYLEYA, CREDENCIADA PELA PORTARIA Nº. 1.663, DE 05/10/2006, DOU DE
                06/10/2006 E RECREDENCIADA PELA PORTARIA Nº. 721, DE 20/07/2016, DOU DE 21/07/2016,É
                ORIGINALMENTE RECONHECIDO PELA PORTARIA Nº. 177, DE 18/04/2013, DOU DE 19/04/2013, SEÇÃO 1,
                P.32, COM RENOVAÇÃO DE RECONHECIMENTO EXPEDIDA PELA PORTARIA Nº 535, DE 22/09/2016, DOU DE
                23/09/2016, SEÇÃO 1, P. 13.
            </p>

            <p>DATA DE COLAÇÃO DE GRAU: #data_colacao_grau#</p>

            <p>PORTADOR DO DOCUMENTO DE IDENTIFICAÇÃO Nº: #rg_aluno#, EXPEDIDO POR #orgao_expedidor_aluno#.</p>
        </div>
        <div>
            <!-- Caixa em branco -->
        </div>
    </div>

    <div class="directors text-center">
        <div>
            <b>MARCOS IZIDRO GONÇALVES</b>
            <div>DIRETOR ACADÊMICO</div>
            <div class="text-xs">FACULDADE UNYLEYA</div>
        </div>
        <div>
            <b>ENGELS IURY B. G. DO REGO</b>
            <div>DIRETOR GERAL</div>
            <div class="text-xs">FACULDADE UNYLEYA</div>
        </div>
    </div>
</section>

</body>
</html>
