<style type="text/css">
    .modal-title {
        text-transform: capitalize;
    }

    .modal-lg {
        width: 860px;
        margin-left: -430px;
    }
</style>
<!-- main region -->
<div id="main-region">
    <div id="form-research-region"></div>
</div>

<script type="text/template" id="template-research">
    <div class="row-fluid">
        <div class="well">
            <fieldset>
                <legend>Diplomação</legend>
                <form id="pesquisaDiplomacao" method="post" name="pesquisaDiplomacao">
                    <div class="row-fluid">
                        <div class="span3">
                            <label>Nome: </label>
                            <label>
                                <input type="text" class="span12" id="st_nomecompleto" name="st_nomecompleto" value=""
                                       placeholder="Digite o nome, e-mail ou CPF">
                            </label>
                        </div>
                        <div class="span3">
                            <label>Evolução da Diplomação</label>
                            <label>
                                <select class="span12" id="id_evolucaodiplomacao" name="id_evolucaodiplomacao">
                                    <option value="">Selecione</option>
                                </select>
                            </label>
                        </div>

                        <div class="span3">
                            <label>Documentação</label>
                            <label>
                                <select class="span12" id="bl_documentacao" name="bl_documentacao">
                                    <option selected value="">Selecione</option>
                                    <option value="">Não Analisado</option>
                                    <option value="0">Pendente</option>
                                    <option value="1">OK</option>
                                </select>
                            </label>
                        </div>
                        <div class="span3">
                            <label>Acadêmico</label>
                            <label>
                                <select class="span12" id="bl_academico" name="bl_academico">
                                    <option selected value="">Selecione</option>
                                    <option value="">Não Analisado</option>
                                    <option value="0">Pendente</option>
                                    <option value="1">OK</option>
                                </select>
                            </label>
                        </div>

                    </div>
                    <div class="row-fluid">

                        <div class="span6">
                            <label>Projeto Pedagógico: </label>
                            <label>
                                <select class="span12" id="id_projetopedagogico" name="id_projetopedagogico">
                                    <option>Todos</option>
                                </select>
                            </label>
                        </div>

                        <div class="span3">
                            <label>Data de colação:</label>
                            <label class="input-append">
                                <input type="text" name="dt_colacao_inicio"
                                       class="input-small datepicker maskDate datepicker_range_min"
                                       data-maximo="dt_colacao_fim">
                                <div class="btn" name="btn_datepicker"><i class="icon icon-calendar"></i></div>
                            </label>
                            <span> a </span>
                            <label class="input-append">
                                <input type="text" name="dt_colacao_fim"
                                       class="input-small datepicker maskDate datepicker_range_max"
                                       data-maximo="dt_colacao_inicio">
                                <div class="btn" name="btn_datepicker"><i class="icon icon-calendar"></i></div>
                            </label>
                        </div>

                        <!-- Data apto a diplomar-->
                        <div class="span3 hide divHide" id="div_aptoadiplomar">
                            <label>Apto a diplomar:</label>
                            <label class="input-append">
                                <input type="text" name="dt_aptoadiplomar_inicio"
                                       class="input-small datepicker maskDate datepicker_range_min"
                                       data-maximo="dt_aptoadiplomar_fim">
                                <div class="btn" name="btn_datepicker"><i class="icon icon-calendar"></i></div>
                            </label>
                            <span> a </span>
                            <label class="input-append">
                                <input type="text" name="dt_aptoadiplomar_fim"
                                       class="input-small datepicker maskDate datepicker_range_max"
                                       data-maximo="dt_aptoadiplomar_inicio">
                                <div class="btn" name="btn_datepicker"><i class="icon icon-calendar"></i></div>
                            </label>
                        </div>

                        <!-- Data diploma gerado-->
                        <div class="span3 hide divHide" id="div_diplomagerado">
                            <label>Diploma gerado:</label>
                            <label class="input-append">
                                <input type="text" name="dt_diplomagerado_inicio"
                                       class="input-small datepicker maskDate datepicker_range_min"
                                       data-maximo="dt_diplomagerado_fim">
                                <div class="btn" name="btn_datepicker"><i class="icon icon-calendar"></i></div>
                            </label>
                            <span> a </span>
                            <label class="input-append">
                                <input type="text" name="dt_diplomagerado_fim"
                                       class="input-small datepicker maskDate datepicker_range_max"
                                       data-maximo="dt_diplomagerado_inicio">
                                <div class="btn" name="btn_datepicker"><i class="icon icon-calendar"></i></div>
                            </label>
                        </div>

                        <!-- Data enviado para assinatura-->
                        <div class="span3 hide divHide" id="div_enviadoassinatura">
                            <label>Enviado para Assinatura:</label>
                            <label class="input-append">
                                <input type="text" name="dt_enviadoassinatura_inicio"
                                       class="input-small datepicker maskDate datepicker_range_min"
                                       data-maximo="dt_enviadoassinatura_fim">
                                <div class="btn" name="btn_datepicker"><i class="icon icon-calendar"></i></div>
                            </label>
                            <span> a </span>
                            <label class="input-append">
                                <input type="text" name="dt_enviadoassinatura_fim"
                                       class="input-small datepicker maskDate datepicker_range_max"
                                       data-maximo="dt_enviadoassinatura_inicio">
                                <div class="btn" name="btn_datepicker"><i class="icon icon-calendar"></i></div>
                            </label>
                        </div>

                        <!-- Data retornado da assinatura-->
                        <div class="span3 hide divHide" id="div_retornadoassinatura">
                            <label>Retornado da Assinatura:</label>
                            <label class="input-append">
                                <input type="text" name="dt_retornadoassinatura_inicio"
                                       class="input-small datepicker maskDate datepicker_range_min"
                                       data-maximo="dt_retornadoassinatura_fim">
                                <div class="btn" name="btn_datepicker"><i class="icon icon-calendar"></i></div>
                            </label>
                            <span> a </span>
                            <label class="input-append">
                                <input type="text" name="dt_retornadoassinatura_fim"
                                       class="input-small datepicker maskDate datepicker_range_max"
                                       data-maximo="dt_retornadoassinatura_inicio">
                                <div class="btn" name="btn_datepicker"><i class="icon icon-calendar"></i></div>
                            </label>
                        </div>

                        <!-- Data enviado para secretaria geral-->
                        <div class="span3 hide divHide" id="div_enviadosecretaria">
                            <label>Enviado para Secretaria Geral:</label>
                            <label class="input-append">
                                <input type="text" name="dt_enviadosecretaria_inicio"
                                       class="input-small datepicker maskDate datepicker_range_min"
                                       data-maximo="dt_enviadosecretaria_fim">
                                <div class="btn" name="btn_datepicker"><i class="icon icon-calendar"></i></div>
                            </label>
                            <span> a </span>
                            <label class="input-append">
                                <input type="text" name="dt_enviadosecretaria_fim"
                                       class="input-small datepicker maskDate datepicker_range_max"
                                       data-maximo="dt_enviadosecretaria_inicio">
                                <div class="btn" name="btn_datepicker"><i class="icon icon-calendar"></i></div>
                            </label>
                        </div>

                        <!-- Data enviado para registro-->
                        <div class="span3 hide divHide" id="div_enviadoregistro">
                            <label>Enviado para Registro:</label>
                            <label class="input-append">
                                <input type="text" name="dt_enviadoregistro_inicio"
                                       class="input-small datepicker maskDate datepicker_range_min"
                                       data-maximo="dt_enviadoregistro_fim">
                                <div class="btn" name="btn_datepicker"><i class="icon icon-calendar"></i></div>
                            </label>
                            <span> a </span>
                            <label class="input-append">
                                <input type="text" name="dt_enviadoregistro_fim"
                                       class="input-small datepicker maskDate datepicker_range_max"
                                       data-maximo="dt_enviadoregistro_inicio">
                                <div class="btn" name="btn_datepicker"><i class="icon icon-calendar"></i></div>
                            </label>
                        </div>

                        <!-- Data retornado do registro-->
                        <div class="span3 hide divHide" id="div_retornoregistro">
                            <label>Retornado do Registro:</label>
                            <label class="input-append">
                                <input type="text" name="dt_retornoregistro_inicio"
                                       class="input-small datepicker maskDate datepicker_range_min"
                                       data-maximo="dt_retornoregistro_fim">
                                <div class="btn" name="btn_datepicker"><i class="icon icon-calendar"></i></div>
                            </label>
                            <span> a </span>
                            <label class="input-append">
                                <input type="text" name="dt_retornoregistro_fim"
                                       class="input-small datepicker maskDate datepicker_range_max"
                                       data-maximo="dt_retornoregistro_inicio">
                                <div class="btn" name="btn_datepicker"><i class="icon icon-calendar"></i></div>
                            </label>
                        </div>

                        <!-- Data enviado ao polo do aluno-->
                        <div class="span3 hide divHide" id="div_enviopolo">
                            <label>Enviado ao Polo do Aluno:</label>
                            <label class="input-append">
                                <input type="text" name="dt_enviopolo_inicio"
                                       class="input-small datepicker maskDate datepicker_range_min"
                                       data-maximo="dt_enviopolo_fim">
                                <div class="btn" name="btn_datepicker"><i class="icon icon-calendar"></i></div>
                            </label>
                            <span> a </span>
                            <label class="input-append">
                                <input type="text" name="dt_enviopolo_fim"
                                       class="input-small datepicker maskDate datepicker_range_max"
                                       data-maximo="dt_enviopolo_inicio">
                                <div class="btn" name="btn_datepicker"><i class="icon icon-calendar"></i></div>
                            </label>
                        </div>

                        <!-- Data Entregue ao aluno-->
                        <div class="span3 hide divHide" id="div_entreguealuno">
                            <label>Entregue ao aluno:</label>
                            <label class="input-append">
                                <input type="text" name="dt_entreguealuno_inicio"
                                       class="input-small datepicker maskDate datepicker_range_min"
                                       data-maximo="dt_entreguealuno_fim">
                                <div class="btn" name="btn_datepicker"><i class="icon icon-calendar"></i></div>
                            </label>
                            <span> a </span>
                            <label class="input-append">
                                <input type="text" name="dt_entreguealuno_fim"
                                       class="input-small datepicker maskDate datepicker_range_max"
                                       data-maximo="dt_entreguealuno_inicio">
                                <div class="btn" name="btn_datepicker"><i class="icon icon-calendar"></i></div>
                            </label>
                        </div>

                        <!-- Data Historico Gerado-->
                        <div class="span3 hide divHide" id="div_historicogerado">
                            <label>Histórico Gerado:</label>
                            <label class="input-append">
                                <input type="text" name="dt_historicogerado_inicio"
                                       class="input-small datepicker maskDate datepicker_range_min"
                                       data-maximo="dt_historicogerado_fim">
                                <div class="btn" name="btn_datepicker"><i class="icon icon-calendar"></i></div>
                            </label>
                            <span> a </span>
                            <label class="input-append">
                                <input type="text" name="dt_historicogerado_fim"
                                       class="input-small datepicker maskDate datepicker_range_max"
                                       data-maximo="dt_historicogerado_inicio">
                                <div class="btn" name="btn_datepicker"><i class="icon icon-calendar"></i></div>
                            </label>
                        </div>

                        <!-- Data Quadro de Equivalência Gerado-->
                        <div class="span3 hide divHide" id="div_equivalenciagerado">
                            <label>Quadro de Equivalência Gerado:</label>
                            <label class="input-append">
                                <input type="text" name="dt_equivalenciagerado_inicio"
                                       class="input-small datepicker maskDate datepicker_range_min"
                                       data-maximo="dt_equivalenciagerado_fim">
                                <div class="btn" name="btn_datepicker"><i class="icon icon-calendar"></i></div>
                            </label>
                            <span> a </span>
                            <label class="input-append">
                                <input type="text" name="dt_equivalenciagerado_fim"
                                       class="input-small datepicker maskDate datepicker_range_max"
                                       data-maximo="dt_equivalenciagerado_inicio">
                                <div class="btn" name="btn_datepicker"><i class="icon icon-calendar"></i></div>
                            </label>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span6 text-error">
                            <strong>Aviso! </strong>
                            A pesquisa é limitada a pesquisar alunos com Evolução Formado e Diplomado.
                        </div>
                        <div class="span6 text-right">
                            <button id="btnLimpar" class="btn btn-default" type="reset">
                                <i class="icon icon-trash"></i>
                                Limpar
                            </button>
                            <button id="btnPesquisar" class="btn btn-info" type="submit">
                                <i class="icon icon-search icon-white"></i>
                                Pesquisar
                            </button>
                        </div>
                    </div>
                </form>
            </fieldset>
        </div>
    </div>
    <div id="results-region"></div>
    <div id="modal-region"></div>
</script>

<script id="results-composite" type="text/template">
    <div class="well">
        <fieldset>
            <legend>
                <div class="text-right">
                    <a id="btnGerarXLS" class="btn btn-primary" type="submit">
                        <i class="icon icon-file icon-white"></i>
                        Gerar XLS
                    </a>
                    <a id="btnSalvarFaseDiplomacao" class="btn btn-success" type="submit">
                        <i class="icon icon-ok icon-white"></i>
                        Salvar
                    </a>
                </div>
            </legend>
        </fieldset>
        <div id="tableAlunoData" class="table-responsive row no-margin">
            <table class="table table-bordered table-striped backgrid table-hover marginT20">
                <thead>
                <tr>
                    <th>Matrícula</th>
                    <th>CPF</th>
                    <th>Aluno</th>
                    <th>Evolução da Matrícula</th>
                    <th>Projeto Pedagógico</th>
                    <th>Data de Conclusão</th>
                    <th>Data de Colação</th>
                    <th>Documentação</th>
                    <th>Acadêmico</th>
                    <th>Diploma Gerado</th>
                    <th>Histórico Gerado</th>
                    <th>Quadro de Equivalência Gerado</th>
                    <th>
                        <input class="hide ckAll visualizacao" data-id="envioassinatura" id="ck-all-envio-assinatura"
                               type="checkbox">
                        Envio para Assinatura
                    </th>
                    <th>
                        <input class="hide ckAll visualizacao" data-id="retornoassinatura"
                               id="ck-all-retorno-assinatura" type="checkbox">
                        Retorno da Assinatura
                    </th>
                    <th>
                        <input class="hide ckAll visualizacao" data-id="enviosecretaria" id="ck-all-envio-secretaria"
                               type="checkbox">
                        Envio para Secretaria Geral
                    </th>
                    <th>
                        <input class="hide ckAll visualizacao" data-id="envioregistro" id="ck-all-envio-registro"
                               type="checkbox">
                        Envio para Registro
                    </th>
                    <th>
                        <input class="hide ckAll visualizacao" data-id="retornoregistro" id="ck-all-retorno-registro"
                               type="checkbox">
                        Retornado do Registro
                    </th>
                    <th id="registroColumn">Número do Registro do Diploma</th>
                    <th>Enviado ao Pólo do Aluno</th>
                    <th>Entregue ao Aluno</th>
                    <th class="text-center visualizacao">Visualização</th>
                </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</script>

<script id="results-view" type="text/template">
    <td><%= id_matricula %></td>
    <td><%= st_cpf %></td>
    <td class="no-wrap"><%= st_nomecompleto %></td>
    <td><%= st_evolucao %></td>
    <td class="no-wrap"><%= st_projetopedagogico %></td>
    <td><%= dt_concluinte %></td>
    <td><%= dt_colacao %></td>
    <td>
        <%= bl_documentacao === null || bl_documentacao === '' ? 'Não Analisado' : (bl_documentacao ? 'Ok' : 'Pendente')
        %>
    </td>
    <td>
        <%= bl_academico === null || bl_academico === '' ? 'Não Analisado' : (bl_academico ? 'Ok' : 'Pendente') %>
    </td>
    <td><%= dt_diplomagerado %></td>
    <td><%= dt_historicogerado %></td>
    <td><%= dt_equivalenciagerado %></td>
    <td class="text-center td-envioassinatura">
        <% if (dt_diplomagerado && dt_historicogerado && !dt_enviadoassinatura ) { %>
        <input type="checkbox" class="ck-envioassinatura" <%= bl_segundavia ? 'disabled' : '' %>><span></span>
        <% }else { %>
        <%= dt_enviadoassinatura %>
        <% } %>
    </td>
    <td class="text-center td-retornoassinatura">
        <% if (id_evolucaodiplomacao == EVOLUCAO.TB_MATRICULA.DIPLOMACAO.ENVIADO_ASSINATURA || !dt_enviadoassinatura) {
        %>
        <input type="checkbox" class="ck-retornoassinatura" <%= bl_segundavia ? 'disabled' : '' %>><span></span>
        <% }else { %>
        <%= dt_retornadoassinatura %>
        <% } %>
    </td>
    <td class="text-center td-enviosecretaria">
        <% if (id_evolucaodiplomacao == EVOLUCAO.TB_MATRICULA.DIPLOMACAO.RETORNADO_ASSINATURA || !dt_retornadoassinatura)
        { %>
        <input type="checkbox" class="ck-enviosecretaria" <%= bl_segundavia ? 'disabled' : '' %>><span></span>
        <% }else { %>
        <%= dt_enviadosecretaria %>
        <% } %>
    </td>
    <td class="text-center td-envioregistro">
        <% if (id_evolucaodiplomacao == EVOLUCAO.TB_MATRICULA.DIPLOMACAO.ENVIADO_SECRETARIA || !dt_enviadosecretaria) {
        %>
        <input type="checkbox" class="ck-envioregistro" <%= bl_segundavia ? 'disabled' : '' %>><span></span>
        <% }else { %>
        <%= dt_enviadoregistro %>
        <% } %>
    </td>
    <td class="text-center td-retornoregistro">
        <% if (id_evolucaodiplomacao == EVOLUCAO.TB_MATRICULA.DIPLOMACAO.ENVIADO_REGISTRO || !dt_enviadoregistro) { %>
        <input type="checkbox" class="ck-retornoregistro" <%= bl_segundavia ? 'disabled' : '' %>><span></span>
        <% }else { %>
        <%= dt_retornoregistro %>
        <% } %>
    </td>
    <td class="registroValues">
        <!-- Número do Registro do Diploma -->
        <div class="form-inline no-wrap" style="white-space: nowrap">
            <label for="st_diplomanumero-<%= id %>">Nº: </label>
            <input id="st_diplomanumero-<%= id %>" class="input-mini numeric registroDiploma" type="text"
                   name="st_diplomanumero" value="<%= st_diplomanumero %>" maxlength="5"
            <%= bl_segundavia || (st_diplomanumero && !permEditDadosDiploma) ? 'disabled' : '' %>/>
            &nbsp;&nbsp;
            <label for="st_cpf-<%= id %>">Processo: </label>
            <input id="st_cpf-<%= id %>" class="numeric registroDiploma cpf"
                   data-mask="999.999.999-99" type="text"
                   name="st_cpf" value="<%= st_cpf %>" maxlength="14" disabled
                   style="width: 100px;">
            &nbsp;&nbsp;
            <label for="dt_registroprocesso-<%= id %>">Data de registro: </label>
            <input id="dt_registroprocesso-<%= id %>" class="input-mini registroDiploma datepicker maskDate" type="text"
                   name="dt_registroprocesso" value="<%= dt_registroprocesso %>" maxlength="10"
            <%= bl_segundavia || (st_diplomanumero && !permEditDadosDiploma) ? 'disabled' : '' %>/>
        </div>
    </td>
    <td class="text-center">
        <!-- Colocar a verificação do perfil-->
        <% if (!bl_segundavia && ((id_evolucaodiplomacao == EVOLUCAO.TB_MATRICULA.DIPLOMACAO.RETORNADO_REGISTRO) ||
        (dt_enviopolo && permEditDataEnvioPolo))) { %>
        <label class="input-append">
            <input type="text" name="dt_enviopolo" data-id="enviopolo"
                   class="input-small datepicker maskDate dt_enviopolo" value="<%=dt_enviopolo%>"
            >
            <div class="btn" name="btn_datepicker"><i class="icon icon-calendar"></i></div>
        </label>
        <% } else { %>
        <%= dt_enviopolo %>
        <% } %>
    </td>
    <td class="text-center">
        <!-- Colocar a verificação do perfil-->
        <% if (!bl_segundavia && ((id_evolucaodiplomacao == EVOLUCAO.TB_MATRICULA.DIPLOMACAO.ENVIADO_POLO) ||
        (dt_entreguealuno && permEditDataEntregueAluno))) { %>
        <label class="input-append">
            <input type="text" name="dt_entreguealuno" data-id="entreguealuno"
                   class="input-small datepicker maskDate dt_entreguealuno" value="<%=dt_entreguealuno%>">
            <div class="btn" name="btn_datepicker"><i class="icon icon-calendar"></i></div>
        </label>
        <% } else { %>
        <%= dt_entreguealuno %>
        <% } %>
    </td>
    <td style="white-space: nowrap;" class="visualizacao">
        <button id="btnVisualizar" class="btn" type="button">
            Visualizar
        </button>
        <button id="btnGerar" class="btn btn-warning" type="button"
        <%= (bl_documentacao !== true || bl_academico !== true || bl_segundavia ) ? disabled="disabled" : '' %>>
        Gerar
        </button>
    </td>
</script>

<script id="modal-template" type="text/template">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 class="modal-title"><%=st_actiontype%> Arquivos</h3>
    </div>
    <div class="modal-body">
        <div>
            <h5 class="no-margin">
                Dados do Aluno:
            </h5>
            <div>
                <div>
                    <b>Nome:</b>
                    <%= st_nomecompleto %>
                </div>
                <div>
                    <b>CPF:</b>
                    <%= st_cpf %>
                </div>
                <div>
                    <b>Curso:</b>
                    <%= st_projetopedagogico %>
                </div>
                <div>
                    <b>Matrícula:</b>
                    <%= id_matricula %>
                </div>
            </div>
        </div>
        <hr/>
        <fieldset>
            <form name="form-gerar">
                <div class="row-fluid">
                    <div class="span6">
                        <h5 class="no-margin">
                            Arquivos:
                        </h5>
                        <label class="checkbox visualizacao">
                            <input type="checkbox" value="diploma" data-doc="diploma" name="ck-gerar[]">
                            Diploma
                        </label>
                        <label class="checkbox visualizacao">
                            <input type="checkbox" value="historico" data-doc="historico" name="ck-gerar[]">
                            Histórico Escolar
                        </label>
                        <label id="gerarEquivalencia" class="checkbox">
                            <input type="checkbox" value="equivalencia" data-doc="equivalencia" name="ck-gerar[]">
                            Quadro de Equivalência
                        </label>
                        <label class="marginT20">
                            Observação
                            <textarea class="span12" type="text" name="st_observacao" rows="3" maxlength="2000"
                                      disabled><%= st_observacao %></textarea>
                        </label>
                    </div>
                    <div class="span5 offset1">
                        <label>
                            Número da Célula
                            <input class="span12" type="text" name="st_cedula" maxlength="20" required="required"
                                   value="<%= st_cedula %>"
                                   disabled/>
                        </label>
                        <label>
                            Motivo
                            <textarea class="span12" type="text" name="st_motivo" rows="5" maxlength="300" disabled
                                      data-counter=".counter-motivo"><%= st_motivo %></textarea>
                            <div class="text-right">
                                <span class="counter-motivo"><%= st_motivo ? st_motivo.length : '0' %></span>/300
                            </div>
                        </label>
                    </div>
                </div>
            </form>
        </fieldset>
        <label>
            <small class="text-error">
                Verifique se o seu navegador permite abertura de pop-ups para visualizar os arquivos
            </small>
        </label>
    </div>
    <div class="modal-footer">
        <% if (st_actiontype === "gerar") { %>
        <button id="btn-2via" class="btn btn-custom hide" type="button">
            2ª Via
        </button>
        <% } %>
        <button id="btn-confirm" class="btn btn-success hide" type="button">
            <% if (st_actiontype === "visualizar") { %>
            Visualizar
            <% } else if (!dt_diplomagerado || !dt_historicogerado || !dt_equivalenciagerado) { %>
            Gerar
            <% } else { %>
            Reimpressão
            <% } %>
            <button class="btn" type="button" data-dismiss="modal">
                Fechar
            </button>
        </button>
    </div>
</script>


<script type="text/javascript">
    $('#templateHolder').empty().append($('#htmlContent script[type="text/template"]'));
    <?php echo $this->render('/diplomacao/index.js') ?>
</script>