<script type="text/template" id="template-configuracao-certificacao-parcial">
    <h3>Certificado Parcial</h3>

    <div class="row-fluid">
        <div class="row-fluid form-actions">

            <div class="span4">
                <label>Nome do Certificado Parcial</label>
                <input type="text" class="span12" name="st_certificadoparcial"
                       value="<%= st_certificadoparcial %>"
                       id="st_certificadoparcial" placeholder="Nome do Certificado Parcial">
            </div>
            <div class="span4">
                <label>Vigência do Certificado Parcial</label>
                <input type="text" class="span6 datepicker maskDate dateg" name="dt_iniciovigencia"
                       value="<%= dt_iniciovigencia %>"
                       id="dt_iniciovigencia" placeholder="dd/mm/aaaa">
                <input type="text" class="span6 datepicker maskDate dateg" name="dt_fimvigencia"
                       value="<%= dt_fimvigencia %>"
                       id="dt_fimvigencia" placeholder="dd/mm/aaaa">
            </div>
            <label class="span4">
                Escolha o Texto de Sistema
                <select class="span12" id="texto-sistema">
                    <option value="">Selecione</option>
                </select>
            </label>
        </div>

        <div class="row-fluid">
            <legend style="line-height: 20px;">Disciplinas</legend>
        </div>
        <div class="diciplina">
            <div class="disciplinas-sidebyside"></div>
        </div>

        <div id="container-DataGrid" class="well well-large">
            <div class="row-fluid">
                <div id="template-data-grade" class="span12"></div>
            </div>
        </div>

    </div>
    <div class="form-actions">
        <div class="pull-right">
            <button type="submit" title="Salvar" id="btn-salvar" class="btn btn-success">Salvar</button>
        </div>
    </div>
</script>

<script type="text/javascript">
    $('#htmlContent script[type="text/template"]').appendTo($('#templateHolder'));
    <? if(isset($this->certificadoParcial)): ?>
    G2S.editModel = <?php echo json_encode($this->certificadoParcial); ?>;
    <? endif; ?>
    <? echo $this->render('configuracao-certificado-parcial/index.js')?>
</script>