<script type="text/template" id="periodo-letivo-layout">
    <div class="row-fluid periodo-letivo">
        <fieldset>
            <legend>Oferta de Sala</legend>
        </fieldset>
        <div id="adicionar-novo-periodo-region"></div>
        <hr/>
        <div id="listar-periodo-region"></div>
</script>

<script type="text/template" id="adicionar-novo-periodo-template">
    <form action="" class="" id="form-adicionar-periodo">
        <fieldset>
            <legend>Adicionar novo</legend>
        </fieldset>
        <div class="row-fluid">
            <div class="span9">
                <label>Título da Oferta de Sala *</label>
                <input type="text" placeholder="" class="span12" required id="st_periodoletivo">
            </div>
            <div class="span3">
                <label>Tipo *</label>
                <select class="span12" name="id_tipooferta" id="id_tipooferta">
                    <option value="">Selecione</option>
                </select>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span3">
                <label>Início da Inscrição *</label>
                <input type="text" placeholder="dd/mm/aaaa" required class="span12 datepicker" id="dt_inicioinscricao">
            </div>
            <div class="span3">
                <label>Fim da Inscrição *</label>
                <input type="text" placeholder="dd/mm/aaaa" required class="span12 datepicker" id="dt_fiminscricao">
            </div>
            <div class="span3">
                <label>Abertura *</label>
                <input type="text" placeholder="dd/mm/aaaa" required class="span12 datepicker" id="dt_abertura">
            </div>
            <div class="span3">
                <label>Encerramento *</label>
                <input type="text" placeholder="dd/mm/aaaa" required class="span12 datepicker" id="dt_encerramento">
            </div>
        </div>
        <fieldset class="wrapper_actions">
            <div class="pull-right">
                <button type="submit" title="Salvar" id="btn-adicionar-periodo" class="btn-success btn">
                    Adicionar
                </button>
            </div>
        </fieldset>
    </form>
</script>

<script type="text/template" id="listar-periodo-template">
    <fieldset>
        <legend>Todas Ofertas de Salas</legend>
    </fieldset>
    <table class="backgrid backgrid-selectall table table-striped table-bordered table-hover">
        <thead>
        <tr>
            <th>Título da Oferta de Sala</th>
            <th>Início da Inscrição</th>
            <th>Fim da Inscrição</th>
            <th>Abertura</th>
            <th>Encerramento</th>
            <th>Tipo de Oferta</th>
            <th>Ações</th>
        </tr>
        </thead>
        <tbody id="periodo-item-container"></tbody>
    </table>
</script>

<script type="text/template" id="periodo-letivo-item">
    <td><%= st_periodoletivo %></td>
    <td><%= dt_inicioinscricao %></td>
    <td><%= dt_fiminscricao %></td>
    <td><%= dt_abertura %></td>
    <td><%= dt_encerramento %></td>
    <td><%= st_tipooferta %></td>
    <td class="center">
        <button class="btn btn-small btn-danger" id="btn-excluir-item-periodo">Excluir</button>
        <button class="btn btn-small btn-primary" id="btn-editar-item-periodo">Editar</button>
    </td>
</script>

<script type="text/template" id="periodo-letivo-item-editando">
    <td>
        <input type="text" id="st_periodoletivo_edit" value="<%= st_periodoletivo %>" required class="span12" />
    </td>
    <td>
        <input type="text" id="dt_inicioinscricao_edit" value="<%= dt_inicioinscricao %>" placeholder="dd/mm/aaaa" required class=" datepicker" />
    </td>
    <td>
        <input type="text" id="dt_fiminscricao_edit" value="<%= dt_fiminscricao %>" placeholder="dd/mm/aaaa" required class="span12 datepicker" />
    </td>
    <td>
        <input type="text" id="dt_abertura_edit" value="<%= dt_abertura %>" placeholder="dd/mm/aaaa" required class="span12 datepicker" />
    </td>
    <td>
        <input type="text" id="dt_encerramento_edit" value="<%= dt_encerramento %>" placeholder="dd/mm/aaaa" required class="span12 datepicker" />
    </td>
    <td>
        <select class="span12" name="id_tipooferta_edit" id="id_tipooferta_edit">
            <option value="">Selecione</option>
        </select>
    </td>
    <td class="center">
        <button class="btn btn-small btn-success" id="btn-confirmar-edicao">Salvar</button>
    </td>
</script>

<script type="text/template" id="sem-itens">
    <td colspan="6">Sem itens cadastrados para essa entidade</td>
</script>

<script type="text/javascript">
    $('#templateHolder').empty().html($('#htmlContent script[type="text/template"]'));
</script>

<script type="text/javascript"><?php echo $this->render('/periodo-letivo/index.js') ?></script>