<script type="text/template" id="template-filtro-contatos-site-atendente">
    <form action="" method="post" name="formFiltro" id="formFiltro" class="form-inline">

        <div class="row-fluid">
            <div class="span2">
                <label class="labelFiltro">Nome do Aluno:</label>
            </div>
            <div class="span9">
                <input type="text" name="st_nomecompleto" id="st_nomecompleto" class="span12">
            </div>
        </div>

        <div class="row-fluid">
            <div class="span2">
                <label class="labelFiltro">Situação:</label>
            </div>
            <div class="span3">
                <select name="id_situacao" id="id_situacao" required>
                    <option value="">Todas</option>
                    <?php
                    if ($this->arrSituacao->getType() == 'success'):
                        foreach ($this->arrSituacao->getMensagem() as $row):
                            if ($row['id_situacao'] == 124) continue;
                            ?>
                            <option value="<?php echo $row['id_situacao']; ?>">
                                <?php echo $row['st_situacao']; ?>
                            </option>
                            <?php
                        endforeach;
                    endif;
                    ?>
                </select>
            </div>
            <div class="span2">
                <label>Período de Abertura:</label>
            </div>
            <div class="span4">
                <label class="btn-group">
                    <input type="text" name="dt_inicio" id="dt_inicio" data-button="dt_inicio_ct_atendente"
                           class="datepicker maskDate" pattern="\d{2}/\d{2}/\d{4}" placeholder="__/__/____"
                           data-mask="99/99/9999">
                    <button id="dt_inicio_ct_atendente" class="btn hide" type="button"><i class="icon-calendar"></i>
                    </button>
                </label>
                <label class="btn-group">
                    <input id="dt_fim" class="datepicker_range_max  maskDate" pattern="\d{2}/\d{2}/\d{4}"
                           placeholder="__/__/____" data-mask="99/99/9999" data-button="dt_fim_ct_atendente" type="text"
                           name="dt_fim" data-minimo="dt_inicio">
                    <button id="dt_fim_ct_atendente" class="btn hide" type="button"><i class="icon-calendar"></i>
                    </button>
                </label>
            </div>
        </div>
        <div class="row-fluid" style="margin-top: 5px">
            <div class="span11">
                <button class="btn btn-custom pull-right" type="button">Pesquisar</button>
                <button class="btn btn-custom pull-right" style="margin-right: 10px" type="reset">Limpar campos</button>
            </div>
        </div>

    </form>
    <div class="clearfix"></div>
    <div id="containerGrid" class="row-fluid"></div>
</script>
<script id="template-grid-contatos-site-atendente" type="text/template">
    <h4>Resultado da pesquisa</h4>
    <hr/>
    <div class="clearfix"></div>
    <div id="tblGrid" class="row-fluid"></div>
</script>
<div class="row-fluid" id="containerAll"></div>

<style>
    .labelFiltro {
        line-height: 30px;
    }

    #tblGrid {
        margin: 10px 0;
    }

    .backgrid thead tr th:last-child,
    .backgrid tbody tr td:last-child {
        text-align: center;
    }

    .btn-custom {
        margin-top: -5px;
    }

    label {
        line-height: 30px;
    }

    .modal {
        width: 720px;
    }
</style>


<script type="text/javascript"> $('#htmlContent script[type="text/template"]').appendTo($('#templateHolder'));</script>
<script type="text/javascript" src="<?php echo $this->url() ?>/js"></script>