.grupo-perfil-entidade {
    position: relative;
    width: 370px;
    /* height: auto; */
    min-height: 130px;
    border: 2px solid #024b92;
    padding: 10px 10px 10px;
    float: left;
    margin: 15px;
    border-radius: 10px;
    -moz-box-shadow: 2px 2px 2px 2px #888;
    -webkit-box-shadow: 2px 2px 2px 2px #888;
    box-shadow: 2px 2px 2px 2px #888;
    /* For IE 5.5 - 7 */
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');
}

#login {
    width: 100%;
    height: auto;
    float: left;
}

.list-perf {

    max-height: 178px;
    overflow: auto;
    display: none;
    margin: 0 auto;
    /*border: groove #7eb2de 1px*/;
    width: auto;
    height: 105px;
    text-align: center;
}

.perfil-aluno {
    min-height: 20px;
    height: 25px;
    margin: 0 auto;
    padding-top: 5px;
    color: white;
    background-color: #7eb2de;
    cursor: pointer;
    text-align: left;
    font-weight: bold;
    font-size: 14px;
    border-bottom: solid 1px white;
}

.perfil-aluno:HOVER {
    background-color: white;
    color: #7eb2de;
    cursor: pointer;
}

.logo-selecao-perfil-entidade {
    float: left;
    vertical-align: middle;
    width: 100px;
    height: 100px;
    font: bold;
    color: #7eb2de;
}

.lb-sub-img-logo {
    float: left;
    width: 100px;
    height: 100px;
    font: bold;
    color: #7eb2de;
}

.grupo-perfil-selecao {
    width: 300;
    margin: 0 auto;
    text-align: center;
    width: 100%;
}

.btn-perfil-pedagogico {
    width: 215px;
    margin: 3px;
    float: right;
}

.lb-nome-entidade {
    text-align: center;
    color: #024b92;
    font-size: 16px;
}

.grupo-nome-entidade {
    padding-bottom: 10px;
}

.btn-voltar {
    margin-top: 10px;
    float: right;
    height: 20px;
    font-size: 10px;
    margin-right: 10px;
    display: none;
}

.mensagem-acesso-externo {
    height: 100px;
    background-color: rgb(255, 51, 51);
    border-radius: 0 10px 0 10px;
    width: 215px;
    float: right;
    margin-right: 3px;
    position: relative;
}

.mensagem-acesso-externo a {
    position: absolute;
    top: 35px;
    width: 100%;
    left: 0;
    color: #FFF;
    font-size: 12px;
}